Sep 01 05:52:04 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 01 05:52:04 ubuntu etcd[59769]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 01 05:52:04 ubuntu etcd[59769]:         A future release of golang/protobuf will delete this package,
Sep 01 05:52:04 ubuntu etcd[59769]:         which has long been excluded from the compatibility promise.
Sep 01 05:52:04 ubuntu etcd[59769]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 01 05:52:04 ubuntu etcd[59769]: Running http and grpc server on single port. This is not recommended for production.
Sep 01 05:52:04 ubuntu etcd[59769]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 01 05:52:04 ubuntu etcd[59769]: etcd Version: 3.4.27
Sep 01 05:52:04 ubuntu etcd[59769]: Git SHA: c92fb80f3
Sep 01 05:52:04 ubuntu etcd[59769]: Go Version: go1.19.10
Sep 01 05:52:04 ubuntu etcd[59769]: Go OS/Arch: linux/amd64
Sep 01 05:52:04 ubuntu etcd[59769]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 01 05:52:04 ubuntu etcd[59769]: Running http and grpc server on single port. This is not recommended for production.
Sep 01 05:52:04 ubuntu etcd[59769]: name = ubuntu
Sep 01 05:52:04 ubuntu etcd[59769]: data dir = /opt/stack/data/etcd
Sep 01 05:52:04 ubuntu etcd[59769]: member dir = /opt/stack/data/etcd/member
Sep 01 05:52:04 ubuntu etcd[59769]: heartbeat = 100ms
Sep 01 05:52:04 ubuntu etcd[59769]: election = 1000ms
Sep 01 05:52:04 ubuntu etcd[59769]: snapshot count = 100000
Sep 01 05:52:04 ubuntu etcd[59769]: advertise client URLs = http://10.201.4.32:2379
Sep 01 05:52:04 ubuntu etcd[59769]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 01 05:52:04 ubuntu etcd[59769]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 01 05:52:04 ubuntu etcd[59769]: raft2024/09/01 05:52:04 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 01 05:52:04 ubuntu etcd[59769]: raft2024/09/01 05:52:04 INFO: 33238c1cdfea94eb became follower at term 0
Sep 01 05:52:04 ubuntu etcd[59769]: raft2024/09/01 05:52:04 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 01 05:52:04 ubuntu etcd[59769]: raft2024/09/01 05:52:04 INFO: 33238c1cdfea94eb became follower at term 1
Sep 01 05:52:04 ubuntu etcd[59769]: raft2024/09/01 05:52:04 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 01 05:52:04 ubuntu etcd[59769]: simple token is not cryptographically signed
Sep 01 05:52:04 ubuntu etcd[59769]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 01 05:52:04 ubuntu etcd[59769]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 01 05:52:04 ubuntu etcd[59769]: raft2024/09/01 05:52:04 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 01 05:52:04 ubuntu etcd[59769]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 01 05:52:04 ubuntu etcd[59769]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 01 05:52:04 ubuntu etcd[59769]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 01 05:52:04 ubuntu etcd[59769]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 01 05:52:04 ubuntu etcd[59769]: listening for peers on [::]:2380
Sep 01 05:52:05 ubuntu etcd[59769]: raft2024/09/01 05:52:05 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 01 05:52:05 ubuntu etcd[59769]: raft2024/09/01 05:52:05 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 01 05:52:05 ubuntu etcd[59769]: raft2024/09/01 05:52:05 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 01 05:52:05 ubuntu etcd[59769]: raft2024/09/01 05:52:05 INFO: 33238c1cdfea94eb became leader at term 2
Sep 01 05:52:05 ubuntu etcd[59769]: raft2024/09/01 05:52:05 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 01 05:52:05 ubuntu etcd[59769]: ready to serve client requests
Sep 01 05:52:05 ubuntu etcd[59769]: setting up the initial cluster version to 3.4
Sep 01 05:52:05 ubuntu etcd[59769]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 01 05:52:05 ubuntu etcd[59769]: set the initial cluster version to 3.4
Sep 01 05:52:05 ubuntu etcd[59769]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 01 05:52:05 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 01 05:52:05 ubuntu etcd[59769]: enabled capabilities for version 3.4
Sep 01 05:56:28 ubuntu etcd[59769]: start time = 2024-09-01 05:56:28.759169389 +0000 UTC m=+264.391343610, time spent = 461.208µs, remote = 10.201.4.32:56694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 01 05:56:28 ubuntu etcd[59769]: start time = 2024-09-01 05:56:28.785414528 +0000 UTC m=+264.417588763, time spent = 324.804µs, remote = 10.201.4.32:56694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 01 05:56:35 ubuntu etcd[59769]: start time = 2024-09-01 05:56:35.303559197 +0000 UTC m=+270.935733434, time spent = 224.245µs, remote = 10.201.4.32:56694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 01 05:56:37 ubuntu etcd[59769]: start time = 2024-09-01 05:56:37.46870336 +0000 UTC m=+273.100877596, time spent = 227.326µs, remote = 10.201.4.32:56694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
