Dec 09 13:24:16 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 13:24:16 ubuntu etcd[58987]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 13:24:16 ubuntu etcd[58987]:         A future release of golang/protobuf will delete this package,
Dec 09 13:24:16 ubuntu etcd[58987]:         which has long been excluded from the compatibility promise.
Dec 09 13:24:16 ubuntu etcd[58987]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 13:24:16 ubuntu etcd[58987]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 13:24:16 ubuntu etcd[58987]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 13:24:16 ubuntu etcd[58987]: etcd Version: 3.4.27
Dec 09 13:24:16 ubuntu etcd[58987]: Git SHA: c92fb80f3
Dec 09 13:24:16 ubuntu etcd[58987]: Go Version: go1.19.10
Dec 09 13:24:16 ubuntu etcd[58987]: Go OS/Arch: linux/amd64
Dec 09 13:24:16 ubuntu etcd[58987]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 13:24:16 ubuntu etcd[58987]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 13:24:16 ubuntu etcd[58987]: name = ubuntu
Dec 09 13:24:16 ubuntu etcd[58987]: data dir = /opt/stack/data/etcd
Dec 09 13:24:16 ubuntu etcd[58987]: member dir = /opt/stack/data/etcd/member
Dec 09 13:24:16 ubuntu etcd[58987]: heartbeat = 100ms
Dec 09 13:24:16 ubuntu etcd[58987]: election = 1000ms
Dec 09 13:24:16 ubuntu etcd[58987]: snapshot count = 100000
Dec 09 13:24:16 ubuntu etcd[58987]: advertise client URLs = http://10.201.9.223:2379
Dec 09 13:24:16 ubuntu etcd[58987]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 09 13:24:16 ubuntu etcd[58987]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 09 13:24:16 ubuntu etcd[58987]: raft2024/12/09 13:24:16 INFO: c25b29daa831042c switched to configuration voters=()
Dec 09 13:24:16 ubuntu etcd[58987]: raft2024/12/09 13:24:16 INFO: c25b29daa831042c became follower at term 0
Dec 09 13:24:16 ubuntu etcd[58987]: raft2024/12/09 13:24:16 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 09 13:24:16 ubuntu etcd[58987]: raft2024/12/09 13:24:16 INFO: c25b29daa831042c became follower at term 1
Dec 09 13:24:16 ubuntu etcd[58987]: raft2024/12/09 13:24:16 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 09 13:24:16 ubuntu etcd[58987]: simple token is not cryptographically signed
Dec 09 13:24:16 ubuntu etcd[58987]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 09 13:24:16 ubuntu etcd[58987]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 09 13:24:16 ubuntu etcd[58987]: raft2024/12/09 13:24:16 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 09 13:24:16 ubuntu etcd[58987]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 09 13:24:16 ubuntu etcd[58987]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 09 13:24:16 ubuntu etcd[58987]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 09 13:24:16 ubuntu etcd[58987]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 09 13:24:16 ubuntu etcd[58987]: listening for peers on [::]:2380
Dec 09 13:24:16 ubuntu etcd[58987]: raft2024/12/09 13:24:16 INFO: c25b29daa831042c is starting a new election at term 1
Dec 09 13:24:16 ubuntu etcd[58987]: raft2024/12/09 13:24:16 INFO: c25b29daa831042c became candidate at term 2
Dec 09 13:24:16 ubuntu etcd[58987]: raft2024/12/09 13:24:16 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 09 13:24:16 ubuntu etcd[58987]: raft2024/12/09 13:24:16 INFO: c25b29daa831042c became leader at term 2
Dec 09 13:24:16 ubuntu etcd[58987]: raft2024/12/09 13:24:16 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 09 13:24:16 ubuntu etcd[58987]: setting up the initial cluster version to 3.4
Dec 09 13:24:16 ubuntu etcd[58987]: set the initial cluster version to 3.4
Dec 09 13:24:16 ubuntu etcd[58987]: enabled capabilities for version 3.4
Dec 09 13:24:16 ubuntu etcd[58987]: ready to serve client requests
Dec 09 13:24:16 ubuntu etcd[58987]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 09 13:24:16 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 09 13:24:16 ubuntu etcd[58987]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 09 13:28:35 ubuntu etcd[58987]: start time = 2024-12-09 13:28:35.211064709 +0000 UTC m=+258.968134017, time spent = 388.242µs, remote = 10.201.9.223:33306, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 09 13:28:35 ubuntu etcd[58987]: start time = 2024-12-09 13:28:35.221225308 +0000 UTC m=+258.978294629, time spent = 193.728µs, remote = 10.201.9.223:33306, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 09 13:28:42 ubuntu etcd[58987]: start time = 2024-12-09 13:28:42.136340397 +0000 UTC m=+265.893409712, time spent = 157.443µs, remote = 10.201.9.223:33306, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 09 13:28:44 ubuntu etcd[58987]: start time = 2024-12-09 13:28:44.096030225 +0000 UTC m=+267.853099548, time spent = 273.915µs, remote = 10.201.9.223:33306, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
