Dec 06 10:33:38 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 10:33:38 ubuntu etcd[59201]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 10:33:38 ubuntu etcd[59201]:         A future release of golang/protobuf will delete this package,
Dec 06 10:33:38 ubuntu etcd[59201]:         which has long been excluded from the compatibility promise.
Dec 06 10:33:38 ubuntu etcd[59201]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 10:33:38 ubuntu etcd[59201]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 10:33:38 ubuntu etcd[59201]: etcd Version: 3.4.27
Dec 06 10:33:38 ubuntu etcd[59201]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 10:33:38 ubuntu etcd[59201]: Git SHA: c92fb80f3
Dec 06 10:33:38 ubuntu etcd[59201]: Go Version: go1.19.10
Dec 06 10:33:38 ubuntu etcd[59201]: Go OS/Arch: linux/amd64
Dec 06 10:33:38 ubuntu etcd[59201]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 10:33:38 ubuntu etcd[59201]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 10:33:38 ubuntu etcd[59201]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 10:33:38 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 10:33:38 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 10:33:38 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 10:33:39 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 06 10:33:39 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 10:33:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 10:33:39 ubuntu etcd[59324]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 10:33:39 ubuntu etcd[59324]:         A future release of golang/protobuf will delete this package,
Dec 06 10:33:39 ubuntu etcd[59324]:         which has long been excluded from the compatibility promise.
Dec 06 10:33:39 ubuntu etcd[59324]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 10:33:39 ubuntu etcd[59324]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 10:33:39 ubuntu etcd[59324]: etcd Version: 3.4.27
Dec 06 10:33:39 ubuntu etcd[59324]: Git SHA: c92fb80f3
Dec 06 10:33:39 ubuntu etcd[59324]: Go Version: go1.19.10
Dec 06 10:33:39 ubuntu etcd[59324]: Go OS/Arch: linux/amd64
Dec 06 10:33:39 ubuntu etcd[59324]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 10:33:39 ubuntu etcd[59324]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 10:33:39 ubuntu etcd[59324]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 10:33:39 ubuntu etcd[59324]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 10:33:39 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 10:33:39 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 10:33:39 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 10:33:39 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 06 10:33:39 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 10:33:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 10:33:39 ubuntu etcd[59392]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 10:33:39 ubuntu etcd[59392]:         A future release of golang/protobuf will delete this package,
Dec 06 10:33:39 ubuntu etcd[59392]:         which has long been excluded from the compatibility promise.
Dec 06 10:33:39 ubuntu etcd[59392]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 10:33:39 ubuntu etcd[59392]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 10:33:39 ubuntu etcd[59392]: etcd Version: 3.4.27
Dec 06 10:33:39 ubuntu etcd[59392]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 10:33:39 ubuntu etcd[59392]: Git SHA: c92fb80f3
Dec 06 10:33:39 ubuntu etcd[59392]: Go Version: go1.19.10
Dec 06 10:33:39 ubuntu etcd[59392]: Go OS/Arch: linux/amd64
Dec 06 10:33:39 ubuntu etcd[59392]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 10:33:39 ubuntu etcd[59392]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 10:33:39 ubuntu etcd[59392]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 10:33:39 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 10:33:39 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 10:33:39 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 10:33:39 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 06 10:33:39 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 10:33:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 10:33:39 ubuntu etcd[59402]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 10:33:39 ubuntu etcd[59402]:         A future release of golang/protobuf will delete this package,
Dec 06 10:33:39 ubuntu etcd[59402]:         which has long been excluded from the compatibility promise.
Dec 06 10:33:39 ubuntu etcd[59402]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 10:33:39 ubuntu etcd[59402]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 10:33:39 ubuntu etcd[59402]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 10:33:39 ubuntu etcd[59402]: etcd Version: 3.4.27
Dec 06 10:33:39 ubuntu etcd[59402]: Git SHA: c92fb80f3
Dec 06 10:33:39 ubuntu etcd[59402]: Go Version: go1.19.10
Dec 06 10:33:39 ubuntu etcd[59402]: Go OS/Arch: linux/amd64
Dec 06 10:33:39 ubuntu etcd[59402]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 10:33:39 ubuntu etcd[59402]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 10:33:39 ubuntu etcd[59402]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 10:33:39 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 10:33:39 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 10:33:39 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 10:33:39 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 06 10:33:39 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 10:33:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 10:33:39 ubuntu etcd[59427]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 10:33:39 ubuntu etcd[59427]:         A future release of golang/protobuf will delete this package,
Dec 06 10:33:39 ubuntu etcd[59427]:         which has long been excluded from the compatibility promise.
Dec 06 10:33:39 ubuntu etcd[59427]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 10:33:39 ubuntu etcd[59427]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 10:33:39 ubuntu etcd[59427]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 10:33:39 ubuntu etcd[59427]: etcd Version: 3.4.27
Dec 06 10:33:39 ubuntu etcd[59427]: Git SHA: c92fb80f3
Dec 06 10:33:39 ubuntu etcd[59427]: Go Version: go1.19.10
Dec 06 10:33:39 ubuntu etcd[59427]: Go OS/Arch: linux/amd64
Dec 06 10:33:39 ubuntu etcd[59427]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 10:33:39 ubuntu etcd[59427]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 10:33:39 ubuntu etcd[59427]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 10:33:39 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 10:33:39 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 10:33:39 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 10:33:40 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 06 10:33:40 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 10:33:40 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 06 10:33:40 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 10:33:40 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
