Dec 09 06:16:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:16:46 ubuntu etcd[59389]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:16:46 ubuntu etcd[59389]:         A future release of golang/protobuf will delete this package,
Dec 09 06:16:46 ubuntu etcd[59389]:         which has long been excluded from the compatibility promise.
Dec 09 06:16:46 ubuntu etcd[59389]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:16:46 ubuntu etcd[59389]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:16:46 ubuntu etcd[59389]: etcd Version: 3.4.27
Dec 09 06:16:46 ubuntu etcd[59389]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:16:46 ubuntu etcd[59389]: Git SHA: c92fb80f3
Dec 09 06:16:46 ubuntu etcd[59389]: Go Version: go1.19.10
Dec 09 06:16:46 ubuntu etcd[59389]: Go OS/Arch: linux/amd64
Dec 09 06:16:46 ubuntu etcd[59389]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:16:46 ubuntu etcd[59389]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:16:46 ubuntu etcd[59389]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 06:16:46 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 06:16:46 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:16:46 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:16:46 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 09 06:16:46 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 06:16:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:16:46 ubuntu etcd[59505]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:16:46 ubuntu etcd[59505]:         A future release of golang/protobuf will delete this package,
Dec 09 06:16:46 ubuntu etcd[59505]:         which has long been excluded from the compatibility promise.
Dec 09 06:16:46 ubuntu etcd[59505]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:16:46 ubuntu etcd[59505]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:16:46 ubuntu etcd[59505]: etcd Version: 3.4.27
Dec 09 06:16:46 ubuntu etcd[59505]: Git SHA: c92fb80f3
Dec 09 06:16:46 ubuntu etcd[59505]: Go Version: go1.19.10
Dec 09 06:16:46 ubuntu etcd[59505]: Go OS/Arch: linux/amd64
Dec 09 06:16:46 ubuntu etcd[59505]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:16:46 ubuntu etcd[59505]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:16:46 ubuntu etcd[59505]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:16:46 ubuntu etcd[59505]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 06:16:46 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 06:16:46 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:16:46 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:16:47 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 09 06:16:47 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 06:16:47 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:16:47 ubuntu etcd[59576]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:16:47 ubuntu etcd[59576]:         A future release of golang/protobuf will delete this package,
Dec 09 06:16:47 ubuntu etcd[59576]:         which has long been excluded from the compatibility promise.
Dec 09 06:16:47 ubuntu etcd[59576]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:16:47 ubuntu etcd[59576]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:16:47 ubuntu etcd[59576]: etcd Version: 3.4.27
Dec 09 06:16:47 ubuntu etcd[59576]: Git SHA: c92fb80f3
Dec 09 06:16:47 ubuntu etcd[59576]: Go Version: go1.19.10
Dec 09 06:16:47 ubuntu etcd[59576]: Go OS/Arch: linux/amd64
Dec 09 06:16:47 ubuntu etcd[59576]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:16:47 ubuntu etcd[59576]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:16:47 ubuntu etcd[59576]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:16:47 ubuntu etcd[59576]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 06:16:47 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 06:16:47 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:16:47 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:16:47 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 09 06:16:47 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 06:16:47 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:16:47 ubuntu etcd[59589]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:16:47 ubuntu etcd[59589]:         A future release of golang/protobuf will delete this package,
Dec 09 06:16:47 ubuntu etcd[59589]:         which has long been excluded from the compatibility promise.
Dec 09 06:16:47 ubuntu etcd[59589]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:16:47 ubuntu etcd[59589]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:16:47 ubuntu etcd[59589]: etcd Version: 3.4.27
Dec 09 06:16:47 ubuntu etcd[59589]: Git SHA: c92fb80f3
Dec 09 06:16:47 ubuntu etcd[59589]: Go Version: go1.19.10
Dec 09 06:16:47 ubuntu etcd[59589]: Go OS/Arch: linux/amd64
Dec 09 06:16:47 ubuntu etcd[59589]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:16:47 ubuntu etcd[59589]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:16:47 ubuntu etcd[59589]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:16:47 ubuntu etcd[59589]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 06:16:47 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 06:16:47 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:16:47 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:16:47 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 09 06:16:47 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 06:16:47 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:16:47 ubuntu etcd[59614]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:16:47 ubuntu etcd[59614]:         A future release of golang/protobuf will delete this package,
Dec 09 06:16:47 ubuntu etcd[59614]:         which has long been excluded from the compatibility promise.
Dec 09 06:16:47 ubuntu etcd[59614]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:16:47 ubuntu etcd[59614]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:16:47 ubuntu etcd[59614]: etcd Version: 3.4.27
Dec 09 06:16:47 ubuntu etcd[59614]: Git SHA: c92fb80f3
Dec 09 06:16:47 ubuntu etcd[59614]: Go Version: go1.19.10
Dec 09 06:16:47 ubuntu etcd[59614]: Go OS/Arch: linux/amd64
Dec 09 06:16:47 ubuntu etcd[59614]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:16:47 ubuntu etcd[59614]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:16:47 ubuntu etcd[59614]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:16:47 ubuntu etcd[59614]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 06:16:47 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 06:16:47 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:16:47 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:16:47 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 09 06:16:47 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 06:16:47 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 09 06:16:47 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:16:47 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
