Aug 19 22:44:00 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 19 22:44:00 ubuntu etcd[59076]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 19 22:44:00 ubuntu etcd[59076]:         A future release of golang/protobuf will delete this package,
Aug 19 22:44:00 ubuntu etcd[59076]:         which has long been excluded from the compatibility promise.
Aug 19 22:44:00 ubuntu etcd[59076]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 19 22:44:00 ubuntu etcd[59076]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 19 22:44:00 ubuntu etcd[59076]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 19 22:44:00 ubuntu etcd[59076]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 19 22:44:00 ubuntu etcd[59076]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 19 22:44:00 ubuntu etcd[59076]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 19 22:44:00 ubuntu etcd[59076]: Running http and grpc server on single port. This is not recommended for production.
Aug 19 22:44:00 ubuntu etcd[59076]: etcd Version: 3.4.27
Aug 19 22:44:00 ubuntu etcd[59076]: Git SHA: c92fb80f3
Aug 19 22:44:00 ubuntu etcd[59076]: Go Version: go1.19.10
Aug 19 22:44:00 ubuntu etcd[59076]: Go OS/Arch: linux/amd64
Aug 19 22:44:00 ubuntu etcd[59076]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 19 22:44:00 ubuntu etcd[59076]: Running http and grpc server on single port. This is not recommended for production.
Aug 19 22:44:00 ubuntu etcd[59076]: name = ubuntu
Aug 19 22:44:00 ubuntu etcd[59076]: data dir = /opt/stack/data/etcd
Aug 19 22:44:00 ubuntu etcd[59076]: member dir = /opt/stack/data/etcd/member
Aug 19 22:44:00 ubuntu etcd[59076]: heartbeat = 100ms
Aug 19 22:44:00 ubuntu etcd[59076]: election = 1000ms
Aug 19 22:44:00 ubuntu etcd[59076]: snapshot count = 100000
Aug 19 22:44:00 ubuntu etcd[59076]: advertise client URLs = http://10.201.4.32:2379
Aug 19 22:44:00 ubuntu etcd[59076]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 19 22:44:01 ubuntu etcd[59076]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Aug 19 22:44:01 ubuntu etcd[59076]: raft2024/08/19 22:44:01 INFO: 33238c1cdfea94eb switched to configuration voters=()
Aug 19 22:44:01 ubuntu etcd[59076]: raft2024/08/19 22:44:01 INFO: 33238c1cdfea94eb became follower at term 0
Aug 19 22:44:01 ubuntu etcd[59076]: raft2024/08/19 22:44:01 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 19 22:44:01 ubuntu etcd[59076]: raft2024/08/19 22:44:01 INFO: 33238c1cdfea94eb became follower at term 1
Aug 19 22:44:01 ubuntu etcd[59076]: raft2024/08/19 22:44:01 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 19 22:44:01 ubuntu etcd[59076]: simple token is not cryptographically signed
Aug 19 22:44:01 ubuntu etcd[59076]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 19 22:44:01 ubuntu etcd[59076]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 19 22:44:01 ubuntu etcd[59076]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 19 22:44:01 ubuntu etcd[59076]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 19 22:44:01 ubuntu etcd[59076]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 19 22:44:01 ubuntu etcd[59076]: raft2024/08/19 22:44:01 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 19 22:44:01 ubuntu etcd[59076]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Aug 19 22:44:01 ubuntu etcd[59076]: listening for peers on [::]:2380
Aug 19 22:44:01 ubuntu etcd[59076]: raft2024/08/19 22:44:01 INFO: 33238c1cdfea94eb is starting a new election at term 1
Aug 19 22:44:01 ubuntu etcd[59076]: raft2024/08/19 22:44:01 INFO: 33238c1cdfea94eb became candidate at term 2
Aug 19 22:44:01 ubuntu etcd[59076]: raft2024/08/19 22:44:01 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Aug 19 22:44:01 ubuntu etcd[59076]: raft2024/08/19 22:44:01 INFO: 33238c1cdfea94eb became leader at term 2
Aug 19 22:44:01 ubuntu etcd[59076]: raft2024/08/19 22:44:01 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Aug 19 22:44:01 ubuntu etcd[59076]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Aug 19 22:44:01 ubuntu etcd[59076]: setting up the initial cluster version to 3.4
Aug 19 22:44:01 ubuntu etcd[59076]: set the initial cluster version to 3.4
Aug 19 22:44:01 ubuntu etcd[59076]: enabled capabilities for version 3.4
Aug 19 22:44:01 ubuntu etcd[59076]: INFO: 2024/08/19 22:44:01 parsed scheme: ""
Aug 19 22:44:01 ubuntu etcd[59076]: INFO: 2024/08/19 22:44:01 scheme "" not registered, fallback to default scheme
Aug 19 22:44:01 ubuntu etcd[59076]: INFO: 2024/08/19 22:44:01 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 19 22:44:01 ubuntu etcd[59076]: INFO: 2024/08/19 22:44:01 ClientConn switching balancer to "pick_first"
Aug 19 22:44:01 ubuntu etcd[59076]: ready to serve client requests
Aug 19 22:44:01 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 19 22:44:01 ubuntu etcd[59076]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Aug 19 22:48:26 ubuntu etcd[59076]: start time = 2024-08-19 22:48:26.051913517 +0000 UTC m=+265.073651444, time spent = 552.973µs, remote = 10.201.4.32:56270, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 22:48:26 ubuntu etcd[59076]: start time = 2024-08-19 22:48:26.09458866 +0000 UTC m=+265.116326597, time spent = 282.244µs, remote = 10.201.4.32:56270, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 22:48:32 ubuntu etcd[59076]: start time = 2024-08-19 22:48:32.831705163 +0000 UTC m=+271.853443100, time spent = 175.843µs, remote = 10.201.4.32:56270, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 22:48:34 ubuntu etcd[59076]: start time = 2024-08-19 22:48:34.592715139 +0000 UTC m=+273.614453069, time spent = 307.386µs, remote = 10.201.4.32:56270, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 22:48:34 ubuntu etcd[59076]: INFO: 2024/08/19 22:48:34 Failed to decode request: http: invalid Read on closed Body
