Jun 04 15:01:50 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 04 15:01:50 ubuntu etcd[59246]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 04 15:01:50 ubuntu etcd[59246]:         A future release of golang/protobuf will delete this package,
Jun 04 15:01:50 ubuntu etcd[59246]:         which has long been excluded from the compatibility promise.
Jun 04 15:01:50 ubuntu etcd[59246]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 04 15:01:50 ubuntu etcd[59246]: Running http and grpc server on single port. This is not recommended for production.
Jun 04 15:01:50 ubuntu etcd[59246]: etcd Version: 3.4.27
Jun 04 15:01:50 ubuntu etcd[59246]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 04 15:01:50 ubuntu etcd[59246]: Git SHA: c92fb80f3
Jun 04 15:01:50 ubuntu etcd[59246]: Go Version: go1.19.10
Jun 04 15:01:50 ubuntu etcd[59246]: Go OS/Arch: linux/amd64
Jun 04 15:01:50 ubuntu etcd[59246]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 04 15:01:50 ubuntu etcd[59246]: Running http and grpc server on single port. This is not recommended for production.
Jun 04 15:01:50 ubuntu etcd[59246]: name = ubuntu
Jun 04 15:01:50 ubuntu etcd[59246]: data dir = /opt/stack/data/etcd
Jun 04 15:01:50 ubuntu etcd[59246]: member dir = /opt/stack/data/etcd/member
Jun 04 15:01:50 ubuntu etcd[59246]: heartbeat = 100ms
Jun 04 15:01:50 ubuntu etcd[59246]: election = 1000ms
Jun 04 15:01:50 ubuntu etcd[59246]: snapshot count = 100000
Jun 04 15:01:50 ubuntu etcd[59246]: advertise client URLs = http://10.201.9.223:2379
Jun 04 15:01:50 ubuntu etcd[59246]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 04 15:01:50 ubuntu etcd[59246]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 04 15:01:50 ubuntu etcd[59246]: raft2025/06/04 15:01:50 INFO: c25b29daa831042c switched to configuration voters=()
Jun 04 15:01:50 ubuntu etcd[59246]: raft2025/06/04 15:01:50 INFO: c25b29daa831042c became follower at term 0
Jun 04 15:01:50 ubuntu etcd[59246]: raft2025/06/04 15:01:50 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 04 15:01:50 ubuntu etcd[59246]: raft2025/06/04 15:01:50 INFO: c25b29daa831042c became follower at term 1
Jun 04 15:01:50 ubuntu etcd[59246]: raft2025/06/04 15:01:50 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 04 15:01:50 ubuntu etcd[59246]: simple token is not cryptographically signed
Jun 04 15:01:50 ubuntu etcd[59246]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 04 15:01:50 ubuntu etcd[59246]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 04 15:01:50 ubuntu etcd[59246]: raft2025/06/04 15:01:50 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 04 15:01:50 ubuntu etcd[59246]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 04 15:01:50 ubuntu etcd[59246]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 04 15:01:50 ubuntu etcd[59246]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 04 15:01:50 ubuntu etcd[59246]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 04 15:01:50 ubuntu etcd[59246]: listening for peers on [::]:2380
Jun 04 15:01:51 ubuntu etcd[59246]: raft2025/06/04 15:01:51 INFO: c25b29daa831042c is starting a new election at term 1
Jun 04 15:01:51 ubuntu etcd[59246]: raft2025/06/04 15:01:51 INFO: c25b29daa831042c became candidate at term 2
Jun 04 15:01:51 ubuntu etcd[59246]: raft2025/06/04 15:01:51 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 04 15:01:51 ubuntu etcd[59246]: raft2025/06/04 15:01:51 INFO: c25b29daa831042c became leader at term 2
Jun 04 15:01:51 ubuntu etcd[59246]: raft2025/06/04 15:01:51 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 04 15:01:51 ubuntu etcd[59246]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 04 15:01:51 ubuntu etcd[59246]: setting up the initial cluster version to 3.4
Jun 04 15:01:51 ubuntu etcd[59246]: ready to serve client requests
Jun 04 15:01:51 ubuntu etcd[59246]: set the initial cluster version to 3.4
Jun 04 15:01:51 ubuntu etcd[59246]: enabled capabilities for version 3.4
Jun 04 15:01:51 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 04 15:01:51 ubuntu etcd[59246]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 04 15:06:03 ubuntu etcd[59246]: start time = 2025-06-04 15:06:03.884543716 +0000 UTC m=+253.017868156, time spent = 398.451µs, remote = 10.201.9.223:33774, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 15:06:04 ubuntu etcd[59246]: start time = 2025-06-04 15:06:04.125947783 +0000 UTC m=+253.259272239, time spent = 160.514µs, remote = 10.201.9.223:33774, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 15:06:10 ubuntu etcd[59246]: start time = 2025-06-04 15:06:10.761404901 +0000 UTC m=+259.894729361, time spent = 222.592µs, remote = 10.201.9.223:33774, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 15:06:12 ubuntu etcd[59246]: start time = 2025-06-04 15:06:12.733314181 +0000 UTC m=+261.866638640, time spent = 391.132µs, remote = 10.201.9.223:33774, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
