Feb 16 15:52:24 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 16 15:52:24 ubuntu etcd[60320]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 16 15:52:24 ubuntu etcd[60320]:         A future release of golang/protobuf will delete this package,
Feb 16 15:52:24 ubuntu etcd[60320]:         which has long been excluded from the compatibility promise.
Feb 16 15:52:24 ubuntu etcd[60320]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 16 15:52:24 ubuntu etcd[60320]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 16 15:52:24 ubuntu etcd[60320]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 16 15:52:24 ubuntu etcd[60320]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 16 15:52:24 ubuntu etcd[60320]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 16 15:52:24 ubuntu etcd[60320]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 16 15:52:24 ubuntu etcd[60320]: Running http and grpc server on single port. This is not recommended for production.
Feb 16 15:52:24 ubuntu etcd[60320]: etcd Version: 3.4.27
Feb 16 15:52:24 ubuntu etcd[60320]: Git SHA: c92fb80f3
Feb 16 15:52:24 ubuntu etcd[60320]: Go Version: go1.19.10
Feb 16 15:52:24 ubuntu etcd[60320]: Go OS/Arch: linux/amd64
Feb 16 15:52:24 ubuntu etcd[60320]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 16 15:52:24 ubuntu etcd[60320]: Running http and grpc server on single port. This is not recommended for production.
Feb 16 15:52:24 ubuntu etcd[60320]: name = ubuntu
Feb 16 15:52:24 ubuntu etcd[60320]: data dir = /opt/stack/data/etcd
Feb 16 15:52:24 ubuntu etcd[60320]: member dir = /opt/stack/data/etcd/member
Feb 16 15:52:24 ubuntu etcd[60320]: heartbeat = 100ms
Feb 16 15:52:24 ubuntu etcd[60320]: election = 1000ms
Feb 16 15:52:24 ubuntu etcd[60320]: snapshot count = 100000
Feb 16 15:52:24 ubuntu etcd[60320]: advertise client URLs = http://10.201.4.32:2379
Feb 16 15:52:24 ubuntu etcd[60320]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 16 15:52:24 ubuntu etcd[60320]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 16 15:52:24 ubuntu etcd[60320]: raft2024/02/16 15:52:24 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 16 15:52:24 ubuntu etcd[60320]: raft2024/02/16 15:52:24 INFO: 33238c1cdfea94eb became follower at term 0
Feb 16 15:52:24 ubuntu etcd[60320]: raft2024/02/16 15:52:24 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 16 15:52:24 ubuntu etcd[60320]: raft2024/02/16 15:52:24 INFO: 33238c1cdfea94eb became follower at term 1
Feb 16 15:52:24 ubuntu etcd[60320]: raft2024/02/16 15:52:24 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 16 15:52:24 ubuntu etcd[60320]: simple token is not cryptographically signed
Feb 16 15:52:24 ubuntu etcd[60320]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 16 15:52:24 ubuntu etcd[60320]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 16 15:52:24 ubuntu etcd[60320]: raft2024/02/16 15:52:24 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 16 15:52:24 ubuntu etcd[60320]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 16 15:52:24 ubuntu etcd[60320]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 16 15:52:24 ubuntu etcd[60320]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 16 15:52:24 ubuntu etcd[60320]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 16 15:52:24 ubuntu etcd[60320]: listening for peers on [::]:2380
Feb 16 15:52:24 ubuntu etcd[60320]: raft2024/02/16 15:52:24 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 16 15:52:24 ubuntu etcd[60320]: raft2024/02/16 15:52:24 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 16 15:52:24 ubuntu etcd[60320]: raft2024/02/16 15:52:24 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 16 15:52:24 ubuntu etcd[60320]: raft2024/02/16 15:52:24 INFO: 33238c1cdfea94eb became leader at term 2
Feb 16 15:52:24 ubuntu etcd[60320]: raft2024/02/16 15:52:24 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 16 15:52:24 ubuntu etcd[60320]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 16 15:52:24 ubuntu etcd[60320]: ready to serve client requests
Feb 16 15:52:24 ubuntu etcd[60320]: INFO: 2024/02/16 15:52:24 parsed scheme: ""
Feb 16 15:52:24 ubuntu etcd[60320]: INFO: 2024/02/16 15:52:24 scheme "" not registered, fallback to default scheme
Feb 16 15:52:24 ubuntu etcd[60320]: INFO: 2024/02/16 15:52:24 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 16 15:52:24 ubuntu etcd[60320]: INFO: 2024/02/16 15:52:24 ClientConn switching balancer to "pick_first"
Feb 16 15:52:24 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 16 15:52:24 ubuntu etcd[60320]: setting up the initial cluster version to 3.4
Feb 16 15:52:24 ubuntu etcd[60320]: set the initial cluster version to 3.4
Feb 16 15:52:24 ubuntu etcd[60320]: enabled capabilities for version 3.4
Feb 16 15:52:24 ubuntu etcd[60320]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 16 15:57:10 ubuntu etcd[60320]: start time = 2024-02-16 15:57:10.546181068 +0000 UTC m=+286.168608500, time spent = 493.566µs, remote = 10.201.4.32:39650, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 16 15:57:10 ubuntu etcd[60320]: start time = 2024-02-16 15:57:10.610955301 +0000 UTC m=+286.233382733, time spent = 183.681µs, remote = 10.201.4.32:39650, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 16 15:57:17 ubuntu etcd[60320]: start time = 2024-02-16 15:57:17.486291109 +0000 UTC m=+293.108718542, time spent = 204.803µs, remote = 10.201.4.32:39650, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 16 15:57:19 ubuntu etcd[60320]: start time = 2024-02-16 15:57:19.878872053 +0000 UTC m=+295.501299477, time spent = 198.674µs, remote = 10.201.4.32:39650, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
