Jan 17 19:52:15 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 17 19:52:15 ubuntu etcd[59429]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 17 19:52:15 ubuntu etcd[59429]:         A future release of golang/protobuf will delete this package,
Jan 17 19:52:15 ubuntu etcd[59429]:         which has long been excluded from the compatibility promise.
Jan 17 19:52:15 ubuntu etcd[59429]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 17 19:52:15 ubuntu etcd[59429]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 17 19:52:15 ubuntu etcd[59429]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 17 19:52:15 ubuntu etcd[59429]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 17 19:52:15 ubuntu etcd[59429]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 17 19:52:15 ubuntu etcd[59429]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 17 19:52:15 ubuntu etcd[59429]: Running http and grpc server on single port. This is not recommended for production.
Jan 17 19:52:15 ubuntu etcd[59429]: etcd Version: 3.4.27
Jan 17 19:52:15 ubuntu etcd[59429]: Git SHA: c92fb80f3
Jan 17 19:52:15 ubuntu etcd[59429]: Go Version: go1.19.10
Jan 17 19:52:15 ubuntu etcd[59429]: Go OS/Arch: linux/amd64
Jan 17 19:52:15 ubuntu etcd[59429]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 17 19:52:15 ubuntu etcd[59429]: Running http and grpc server on single port. This is not recommended for production.
Jan 17 19:52:15 ubuntu etcd[59429]: name = ubuntu
Jan 17 19:52:15 ubuntu etcd[59429]: data dir = /opt/stack/data/etcd
Jan 17 19:52:15 ubuntu etcd[59429]: member dir = /opt/stack/data/etcd/member
Jan 17 19:52:15 ubuntu etcd[59429]: heartbeat = 100ms
Jan 17 19:52:15 ubuntu etcd[59429]: election = 1000ms
Jan 17 19:52:15 ubuntu etcd[59429]: snapshot count = 100000
Jan 17 19:52:15 ubuntu etcd[59429]: advertise client URLs = http://10.201.4.32:2379
Jan 17 19:52:15 ubuntu etcd[59429]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 17 19:52:15 ubuntu etcd[59429]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 17 19:52:15 ubuntu etcd[59429]: raft2024/01/17 19:52:15 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 17 19:52:15 ubuntu etcd[59429]: raft2024/01/17 19:52:15 INFO: 33238c1cdfea94eb became follower at term 0
Jan 17 19:52:15 ubuntu etcd[59429]: raft2024/01/17 19:52:15 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 17 19:52:15 ubuntu etcd[59429]: raft2024/01/17 19:52:15 INFO: 33238c1cdfea94eb became follower at term 1
Jan 17 19:52:15 ubuntu etcd[59429]: raft2024/01/17 19:52:15 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 17 19:52:15 ubuntu etcd[59429]: simple token is not cryptographically signed
Jan 17 19:52:15 ubuntu etcd[59429]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 17 19:52:15 ubuntu etcd[59429]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 17 19:52:15 ubuntu etcd[59429]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 17 19:52:15 ubuntu etcd[59429]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 17 19:52:15 ubuntu etcd[59429]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 17 19:52:15 ubuntu etcd[59429]: raft2024/01/17 19:52:15 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 17 19:52:15 ubuntu etcd[59429]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 17 19:52:15 ubuntu etcd[59429]: listening for peers on [::]:2380
Jan 17 19:52:15 ubuntu etcd[59429]: raft2024/01/17 19:52:15 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 17 19:52:15 ubuntu etcd[59429]: raft2024/01/17 19:52:15 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 17 19:52:15 ubuntu etcd[59429]: raft2024/01/17 19:52:15 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 17 19:52:15 ubuntu etcd[59429]: raft2024/01/17 19:52:15 INFO: 33238c1cdfea94eb became leader at term 2
Jan 17 19:52:15 ubuntu etcd[59429]: raft2024/01/17 19:52:15 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 17 19:52:15 ubuntu etcd[59429]: INFO: 2024/01/17 19:52:15 parsed scheme: ""
Jan 17 19:52:15 ubuntu etcd[59429]: INFO: 2024/01/17 19:52:15 scheme "" not registered, fallback to default scheme
Jan 17 19:52:15 ubuntu etcd[59429]: INFO: 2024/01/17 19:52:15 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 17 19:52:15 ubuntu etcd[59429]: INFO: 2024/01/17 19:52:15 ClientConn switching balancer to "pick_first"
Jan 17 19:52:15 ubuntu etcd[59429]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 17 19:52:15 ubuntu etcd[59429]: ready to serve client requests
Jan 17 19:52:15 ubuntu etcd[59429]: setting up the initial cluster version to 3.4
Jan 17 19:52:15 ubuntu etcd[59429]: set the initial cluster version to 3.4
Jan 17 19:52:15 ubuntu etcd[59429]: enabled capabilities for version 3.4
Jan 17 19:52:15 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 17 19:52:15 ubuntu etcd[59429]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 17 19:56:35 ubuntu etcd[59429]: start time = 2024-01-17 19:56:35.424875284 +0000 UTC m=+260.094871506, time spent = 714.946µs, remote = 10.201.4.32:60732, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 17 19:56:35 ubuntu etcd[59429]: start time = 2024-01-17 19:56:35.525884496 +0000 UTC m=+260.195880706, time spent = 360.959µs, remote = 10.201.4.32:60732, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 17 19:56:41 ubuntu etcd[59429]: start time = 2024-01-17 19:56:41.757181952 +0000 UTC m=+266.427178173, time spent = 346.079µs, remote = 10.201.4.32:60732, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 17 19:56:44 ubuntu etcd[59429]: start time = 2024-01-17 19:56:44.086423274 +0000 UTC m=+268.756419484, time spent = 308.326µs, remote = 10.201.4.32:60732, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
