Jan 18 06:48:27 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 18 06:48:27 ubuntu etcd[58954]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 18 06:48:27 ubuntu etcd[58954]:         A future release of golang/protobuf will delete this package,
Jan 18 06:48:27 ubuntu etcd[58954]:         which has long been excluded from the compatibility promise.
Jan 18 06:48:27 ubuntu etcd[58954]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 18 06:48:27 ubuntu etcd[58954]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 18 06:48:27 ubuntu etcd[58954]: Running http and grpc server on single port. This is not recommended for production.
Jan 18 06:48:27 ubuntu etcd[58954]: etcd Version: 3.4.27
Jan 18 06:48:27 ubuntu etcd[58954]: Git SHA: c92fb80f3
Jan 18 06:48:27 ubuntu etcd[58954]: Go Version: go1.19.10
Jan 18 06:48:27 ubuntu etcd[58954]: Go OS/Arch: linux/amd64
Jan 18 06:48:27 ubuntu etcd[58954]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 18 06:48:27 ubuntu etcd[58954]: Running http and grpc server on single port. This is not recommended for production.
Jan 18 06:48:27 ubuntu etcd[58954]: name = ubuntu
Jan 18 06:48:27 ubuntu etcd[58954]: data dir = /opt/stack/data/etcd
Jan 18 06:48:27 ubuntu etcd[58954]: member dir = /opt/stack/data/etcd/member
Jan 18 06:48:27 ubuntu etcd[58954]: heartbeat = 100ms
Jan 18 06:48:27 ubuntu etcd[58954]: election = 1000ms
Jan 18 06:48:27 ubuntu etcd[58954]: snapshot count = 100000
Jan 18 06:48:27 ubuntu etcd[58954]: advertise client URLs = http://10.201.9.223:2379
Jan 18 06:48:27 ubuntu etcd[58954]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 18 06:48:27 ubuntu etcd[58954]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 18 06:48:27 ubuntu etcd[58954]: raft2025/01/18 06:48:27 INFO: c25b29daa831042c switched to configuration voters=()
Jan 18 06:48:27 ubuntu etcd[58954]: raft2025/01/18 06:48:27 INFO: c25b29daa831042c became follower at term 0
Jan 18 06:48:27 ubuntu etcd[58954]: raft2025/01/18 06:48:27 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 18 06:48:27 ubuntu etcd[58954]: raft2025/01/18 06:48:27 INFO: c25b29daa831042c became follower at term 1
Jan 18 06:48:27 ubuntu etcd[58954]: raft2025/01/18 06:48:27 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 18 06:48:27 ubuntu etcd[58954]: simple token is not cryptographically signed
Jan 18 06:48:27 ubuntu etcd[58954]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 18 06:48:27 ubuntu etcd[58954]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 18 06:48:27 ubuntu etcd[58954]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 18 06:48:27 ubuntu etcd[58954]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 18 06:48:27 ubuntu etcd[58954]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 18 06:48:27 ubuntu etcd[58954]: raft2025/01/18 06:48:27 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 18 06:48:27 ubuntu etcd[58954]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 18 06:48:27 ubuntu etcd[58954]: listening for peers on [::]:2380
Jan 18 06:48:28 ubuntu etcd[58954]: raft2025/01/18 06:48:28 INFO: c25b29daa831042c is starting a new election at term 1
Jan 18 06:48:28 ubuntu etcd[58954]: raft2025/01/18 06:48:28 INFO: c25b29daa831042c became candidate at term 2
Jan 18 06:48:28 ubuntu etcd[58954]: raft2025/01/18 06:48:28 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 18 06:48:28 ubuntu etcd[58954]: raft2025/01/18 06:48:28 INFO: c25b29daa831042c became leader at term 2
Jan 18 06:48:28 ubuntu etcd[58954]: raft2025/01/18 06:48:28 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 18 06:48:28 ubuntu etcd[58954]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 18 06:48:28 ubuntu etcd[58954]: setting up the initial cluster version to 3.4
Jan 18 06:48:28 ubuntu etcd[58954]: ready to serve client requests
Jan 18 06:48:28 ubuntu etcd[58954]: set the initial cluster version to 3.4
Jan 18 06:48:28 ubuntu etcd[58954]: enabled capabilities for version 3.4
Jan 18 06:48:28 ubuntu etcd[58954]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 18 06:48:28 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 18 06:52:49 ubuntu etcd[58954]: start time = 2025-01-18 06:52:49.96436621 +0000 UTC m=+262.298980468, time spent = 441.629µs, remote = 10.201.9.223:35920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 06:52:49 ubuntu etcd[58954]: start time = 2025-01-18 06:52:49.981150782 +0000 UTC m=+262.315765053, time spent = 223.882µs, remote = 10.201.9.223:35920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 06:52:56 ubuntu etcd[58954]: start time = 2025-01-18 06:52:56.724367959 +0000 UTC m=+269.058982245, time spent = 193.376µs, remote = 10.201.9.223:35920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 06:52:58 ubuntu etcd[58954]: start time = 2025-01-18 06:52:58.893641454 +0000 UTC m=+271.228255723, time spent = 206.36µs, remote = 10.201.9.223:35920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
