Jan 18 16:50:04 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 18 16:50:04 ubuntu etcd[58930]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 18 16:50:04 ubuntu etcd[58930]:         A future release of golang/protobuf will delete this package,
Jan 18 16:50:04 ubuntu etcd[58930]:         which has long been excluded from the compatibility promise.
Jan 18 16:50:04 ubuntu etcd[58930]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 18 16:50:04 ubuntu etcd[58930]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 18 16:50:04 ubuntu etcd[58930]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 18 16:50:04 ubuntu etcd[58930]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 18 16:50:04 ubuntu etcd[58930]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 18 16:50:04 ubuntu etcd[58930]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 18 16:50:04 ubuntu etcd[58930]: Running http and grpc server on single port. This is not recommended for production.
Jan 18 16:50:04 ubuntu etcd[58930]: etcd Version: 3.4.27
Jan 18 16:50:04 ubuntu etcd[58930]: Git SHA: c92fb80f3
Jan 18 16:50:04 ubuntu etcd[58930]: Go Version: go1.19.10
Jan 18 16:50:04 ubuntu etcd[58930]: Go OS/Arch: linux/amd64
Jan 18 16:50:04 ubuntu etcd[58930]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 18 16:50:04 ubuntu etcd[58930]: Running http and grpc server on single port. This is not recommended for production.
Jan 18 16:50:04 ubuntu etcd[58930]: name = ubuntu
Jan 18 16:50:04 ubuntu etcd[58930]: data dir = /opt/stack/data/etcd
Jan 18 16:50:04 ubuntu etcd[58930]: member dir = /opt/stack/data/etcd/member
Jan 18 16:50:04 ubuntu etcd[58930]: heartbeat = 100ms
Jan 18 16:50:04 ubuntu etcd[58930]: election = 1000ms
Jan 18 16:50:04 ubuntu etcd[58930]: snapshot count = 100000
Jan 18 16:50:04 ubuntu etcd[58930]: advertise client URLs = http://10.201.4.32:2379
Jan 18 16:50:04 ubuntu etcd[58930]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 18 16:50:04 ubuntu etcd[58930]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 18 16:50:04 ubuntu etcd[58930]: raft2024/01/18 16:50:04 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 18 16:50:04 ubuntu etcd[58930]: raft2024/01/18 16:50:04 INFO: 33238c1cdfea94eb became follower at term 0
Jan 18 16:50:04 ubuntu etcd[58930]: raft2024/01/18 16:50:04 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 18 16:50:04 ubuntu etcd[58930]: raft2024/01/18 16:50:04 INFO: 33238c1cdfea94eb became follower at term 1
Jan 18 16:50:04 ubuntu etcd[58930]: raft2024/01/18 16:50:04 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 18 16:50:04 ubuntu etcd[58930]: simple token is not cryptographically signed
Jan 18 16:50:04 ubuntu etcd[58930]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 18 16:50:04 ubuntu etcd[58930]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 18 16:50:04 ubuntu etcd[58930]: raft2024/01/18 16:50:04 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 18 16:50:04 ubuntu etcd[58930]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 18 16:50:04 ubuntu etcd[58930]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 18 16:50:04 ubuntu etcd[58930]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 18 16:50:04 ubuntu etcd[58930]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 18 16:50:04 ubuntu etcd[58930]: listening for peers on [::]:2380
Jan 18 16:50:05 ubuntu etcd[58930]: raft2024/01/18 16:50:05 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 18 16:50:05 ubuntu etcd[58930]: raft2024/01/18 16:50:05 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 18 16:50:05 ubuntu etcd[58930]: raft2024/01/18 16:50:05 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 18 16:50:05 ubuntu etcd[58930]: raft2024/01/18 16:50:05 INFO: 33238c1cdfea94eb became leader at term 2
Jan 18 16:50:05 ubuntu etcd[58930]: raft2024/01/18 16:50:05 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 18 16:50:05 ubuntu etcd[58930]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 18 16:50:05 ubuntu etcd[58930]: setting up the initial cluster version to 3.4
Jan 18 16:50:05 ubuntu etcd[58930]: ready to serve client requests
Jan 18 16:50:05 ubuntu etcd[58930]: INFO: 2024/01/18 16:50:05 parsed scheme: ""
Jan 18 16:50:05 ubuntu etcd[58930]: INFO: 2024/01/18 16:50:05 scheme "" not registered, fallback to default scheme
Jan 18 16:50:05 ubuntu etcd[58930]: set the initial cluster version to 3.4
Jan 18 16:50:05 ubuntu etcd[58930]: INFO: 2024/01/18 16:50:05 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 18 16:50:05 ubuntu etcd[58930]: INFO: 2024/01/18 16:50:05 ClientConn switching balancer to "pick_first"
Jan 18 16:50:05 ubuntu etcd[58930]: enabled capabilities for version 3.4
Jan 18 16:50:05 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 18 16:50:05 ubuntu etcd[58930]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 18 16:54:30 ubuntu etcd[58930]: start time = 2024-01-18 16:54:30.330040038 +0000 UTC m=+265.652977807, time spent = 508.744µs, remote = 10.201.4.32:37956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 16:54:30 ubuntu etcd[58930]: start time = 2024-01-18 16:54:30.359902739 +0000 UTC m=+265.682840518, time spent = 191.12µs, remote = 10.201.4.32:37956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 16:54:36 ubuntu etcd[58930]: start time = 2024-01-18 16:54:36.669975199 +0000 UTC m=+271.992912979, time spent = 178.513µs, remote = 10.201.4.32:37956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 16:54:39 ubuntu etcd[58930]: start time = 2024-01-18 16:54:39.177416248 +0000 UTC m=+274.500354027, time spent = 190.082µs, remote = 10.201.4.32:37956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 17:41:22 ubuntu etcd[58930]: INFO: 2024/01/18 17:41:22 Failed to decode request: http: invalid Read on closed Body
