May 07 10:19:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 07 10:19:02 ubuntu etcd[57971]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 07 10:19:02 ubuntu etcd[57971]:         A future release of golang/protobuf will delete this package,
May 07 10:19:02 ubuntu etcd[57971]:         which has long been excluded from the compatibility promise.
May 07 10:19:02 ubuntu etcd[57971]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 07 10:19:02 ubuntu etcd[57971]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 07 10:19:02 ubuntu etcd[57971]: Running http and grpc server on single port. This is not recommended for production.
May 07 10:19:02 ubuntu etcd[57971]: etcd Version: 3.4.27
May 07 10:19:02 ubuntu etcd[57971]: Git SHA: c92fb80f3
May 07 10:19:02 ubuntu etcd[57971]: Go Version: go1.19.10
May 07 10:19:02 ubuntu etcd[57971]: Go OS/Arch: linux/amd64
May 07 10:19:02 ubuntu etcd[57971]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 07 10:19:02 ubuntu etcd[57971]: Running http and grpc server on single port. This is not recommended for production.
May 07 10:19:02 ubuntu etcd[57971]: name = ubuntu
May 07 10:19:02 ubuntu etcd[57971]: data dir = /opt/stack/data/etcd
May 07 10:19:02 ubuntu etcd[57971]: member dir = /opt/stack/data/etcd/member
May 07 10:19:02 ubuntu etcd[57971]: heartbeat = 100ms
May 07 10:19:02 ubuntu etcd[57971]: election = 1000ms
May 07 10:19:02 ubuntu etcd[57971]: snapshot count = 100000
May 07 10:19:02 ubuntu etcd[57971]: advertise client URLs = http://10.201.9.223:2379
May 07 10:19:02 ubuntu etcd[57971]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 07 10:19:02 ubuntu etcd[57971]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 07 10:19:02 ubuntu etcd[57971]: raft2025/05/07 10:19:02 INFO: c25b29daa831042c switched to configuration voters=()
May 07 10:19:02 ubuntu etcd[57971]: raft2025/05/07 10:19:02 INFO: c25b29daa831042c became follower at term 0
May 07 10:19:02 ubuntu etcd[57971]: raft2025/05/07 10:19:02 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 07 10:19:02 ubuntu etcd[57971]: raft2025/05/07 10:19:02 INFO: c25b29daa831042c became follower at term 1
May 07 10:19:02 ubuntu etcd[57971]: raft2025/05/07 10:19:02 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 07 10:19:02 ubuntu etcd[57971]: simple token is not cryptographically signed
May 07 10:19:02 ubuntu etcd[57971]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 07 10:19:02 ubuntu etcd[57971]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 07 10:19:02 ubuntu etcd[57971]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 07 10:19:02 ubuntu etcd[57971]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 07 10:19:02 ubuntu etcd[57971]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 07 10:19:02 ubuntu etcd[57971]: raft2025/05/07 10:19:02 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 07 10:19:02 ubuntu etcd[57971]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 07 10:19:02 ubuntu etcd[57971]: listening for peers on [::]:2380
May 07 10:19:03 ubuntu etcd[57971]: raft2025/05/07 10:19:03 INFO: c25b29daa831042c is starting a new election at term 1
May 07 10:19:03 ubuntu etcd[57971]: raft2025/05/07 10:19:03 INFO: c25b29daa831042c became candidate at term 2
May 07 10:19:03 ubuntu etcd[57971]: raft2025/05/07 10:19:03 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 07 10:19:03 ubuntu etcd[57971]: raft2025/05/07 10:19:03 INFO: c25b29daa831042c became leader at term 2
May 07 10:19:03 ubuntu etcd[57971]: raft2025/05/07 10:19:03 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 07 10:19:03 ubuntu etcd[57971]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 07 10:19:03 ubuntu etcd[57971]: ready to serve client requests
May 07 10:19:03 ubuntu etcd[57971]: setting up the initial cluster version to 3.4
May 07 10:19:03 ubuntu etcd[57971]: set the initial cluster version to 3.4
May 07 10:19:03 ubuntu etcd[57971]: enabled capabilities for version 3.4
May 07 10:19:03 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 07 10:19:03 ubuntu etcd[57971]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 07 10:23:14 ubuntu etcd[57971]: start time = 2025-05-07 10:23:14.02748095 +0000 UTC m=+251.359022041, time spent = 459.544µs, remote = 10.201.9.223:57708, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 07 10:23:14 ubuntu etcd[57971]: start time = 2025-05-07 10:23:14.145208346 +0000 UTC m=+251.476749438, time spent = 179.92µs, remote = 10.201.9.223:57708, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 07 10:23:20 ubuntu etcd[57971]: start time = 2025-05-07 10:23:20.584268054 +0000 UTC m=+257.915809148, time spent = 402.209µs, remote = 10.201.9.223:57708, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 07 10:23:22 ubuntu etcd[57971]: start time = 2025-05-07 10:23:22.71986226 +0000 UTC m=+260.051403361, time spent = 441.359µs, remote = 10.201.9.223:57708, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
