Aug 20 19:38:31 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 20 19:38:32 ubuntu etcd[59216]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 20 19:38:32 ubuntu etcd[59216]:         A future release of golang/protobuf will delete this package,
Aug 20 19:38:32 ubuntu etcd[59216]:         which has long been excluded from the compatibility promise.
Aug 20 19:38:32 ubuntu etcd[59216]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 20 19:38:32 ubuntu etcd[59216]: Running http and grpc server on single port. This is not recommended for production.
Aug 20 19:38:32 ubuntu etcd[59216]: etcd Version: 3.4.27
Aug 20 19:38:32 ubuntu etcd[59216]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 20 19:38:32 ubuntu etcd[59216]: Git SHA: c92fb80f3
Aug 20 19:38:32 ubuntu etcd[59216]: Go Version: go1.19.10
Aug 20 19:38:32 ubuntu etcd[59216]: Go OS/Arch: linux/amd64
Aug 20 19:38:32 ubuntu etcd[59216]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 20 19:38:32 ubuntu etcd[59216]: Running http and grpc server on single port. This is not recommended for production.
Aug 20 19:38:32 ubuntu etcd[59216]: name = ubuntu
Aug 20 19:38:32 ubuntu etcd[59216]: data dir = /opt/stack/data/etcd
Aug 20 19:38:32 ubuntu etcd[59216]: member dir = /opt/stack/data/etcd/member
Aug 20 19:38:32 ubuntu etcd[59216]: heartbeat = 100ms
Aug 20 19:38:32 ubuntu etcd[59216]: election = 1000ms
Aug 20 19:38:32 ubuntu etcd[59216]: snapshot count = 100000
Aug 20 19:38:32 ubuntu etcd[59216]: advertise client URLs = http://10.201.4.32:2379
Aug 20 19:38:32 ubuntu etcd[59216]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 20 19:38:32 ubuntu etcd[59216]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Aug 20 19:38:32 ubuntu etcd[59216]: raft2024/08/20 19:38:32 INFO: 33238c1cdfea94eb switched to configuration voters=()
Aug 20 19:38:32 ubuntu etcd[59216]: raft2024/08/20 19:38:32 INFO: 33238c1cdfea94eb became follower at term 0
Aug 20 19:38:32 ubuntu etcd[59216]: raft2024/08/20 19:38:32 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 20 19:38:32 ubuntu etcd[59216]: raft2024/08/20 19:38:32 INFO: 33238c1cdfea94eb became follower at term 1
Aug 20 19:38:32 ubuntu etcd[59216]: raft2024/08/20 19:38:32 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 20 19:38:32 ubuntu etcd[59216]: simple token is not cryptographically signed
Aug 20 19:38:32 ubuntu etcd[59216]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 20 19:38:32 ubuntu etcd[59216]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 20 19:38:32 ubuntu etcd[59216]: raft2024/08/20 19:38:32 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 20 19:38:32 ubuntu etcd[59216]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Aug 20 19:38:32 ubuntu etcd[59216]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 20 19:38:32 ubuntu etcd[59216]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 20 19:38:32 ubuntu etcd[59216]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 20 19:38:32 ubuntu etcd[59216]: listening for peers on [::]:2380
Aug 20 19:38:32 ubuntu etcd[59216]: raft2024/08/20 19:38:32 INFO: 33238c1cdfea94eb is starting a new election at term 1
Aug 20 19:38:32 ubuntu etcd[59216]: raft2024/08/20 19:38:32 INFO: 33238c1cdfea94eb became candidate at term 2
Aug 20 19:38:32 ubuntu etcd[59216]: raft2024/08/20 19:38:32 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Aug 20 19:38:32 ubuntu etcd[59216]: raft2024/08/20 19:38:32 INFO: 33238c1cdfea94eb became leader at term 2
Aug 20 19:38:32 ubuntu etcd[59216]: raft2024/08/20 19:38:32 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Aug 20 19:38:32 ubuntu etcd[59216]: ready to serve client requests
Aug 20 19:38:32 ubuntu etcd[59216]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Aug 20 19:38:32 ubuntu etcd[59216]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Aug 20 19:38:32 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 20 19:38:32 ubuntu etcd[59216]: setting up the initial cluster version to 3.4
Aug 20 19:38:32 ubuntu etcd[59216]: set the initial cluster version to 3.4
Aug 20 19:38:32 ubuntu etcd[59216]: enabled capabilities for version 3.4
Aug 20 19:42:52 ubuntu etcd[59216]: start time = 2024-08-20 19:42:52.601361341 +0000 UTC m=+260.603745510, time spent = 433.53µs, remote = 10.201.4.32:39564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 20 19:42:52 ubuntu etcd[59216]: start time = 2024-08-20 19:42:52.602674559 +0000 UTC m=+260.605058744, time spent = 265.163µs, remote = 10.201.4.32:39564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 20 19:42:59 ubuntu etcd[59216]: start time = 2024-08-20 19:42:59.244790277 +0000 UTC m=+267.247174464, time spent = 167.791µs, remote = 10.201.4.32:39564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 20 19:43:01 ubuntu etcd[59216]: start time = 2024-08-20 19:43:01.264578864 +0000 UTC m=+269.266963044, time spent = 167.119µs, remote = 10.201.4.32:39564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
