Sep 03 04:50:47 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 03 04:50:47 ubuntu etcd[59784]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 03 04:50:47 ubuntu etcd[59784]:         A future release of golang/protobuf will delete this package,
Sep 03 04:50:47 ubuntu etcd[59784]:         which has long been excluded from the compatibility promise.
Sep 03 04:50:47 ubuntu etcd[59784]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 03 04:50:47 ubuntu etcd[59784]: Running http and grpc server on single port. This is not recommended for production.
Sep 03 04:50:47 ubuntu etcd[59784]: etcd Version: 3.4.27
Sep 03 04:50:47 ubuntu etcd[59784]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 03 04:50:47 ubuntu etcd[59784]: Git SHA: c92fb80f3
Sep 03 04:50:47 ubuntu etcd[59784]: Go Version: go1.19.10
Sep 03 04:50:47 ubuntu etcd[59784]: Go OS/Arch: linux/amd64
Sep 03 04:50:47 ubuntu etcd[59784]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 03 04:50:47 ubuntu etcd[59784]: Running http and grpc server on single port. This is not recommended for production.
Sep 03 04:50:47 ubuntu etcd[59784]: name = ubuntu
Sep 03 04:50:47 ubuntu etcd[59784]: data dir = /opt/stack/data/etcd
Sep 03 04:50:47 ubuntu etcd[59784]: member dir = /opt/stack/data/etcd/member
Sep 03 04:50:47 ubuntu etcd[59784]: heartbeat = 100ms
Sep 03 04:50:47 ubuntu etcd[59784]: election = 1000ms
Sep 03 04:50:47 ubuntu etcd[59784]: snapshot count = 100000
Sep 03 04:50:47 ubuntu etcd[59784]: advertise client URLs = http://10.201.4.32:2379
Sep 03 04:50:47 ubuntu etcd[59784]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 03 04:50:47 ubuntu etcd[59784]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 03 04:50:47 ubuntu etcd[59784]: raft2024/09/03 04:50:47 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 03 04:50:47 ubuntu etcd[59784]: raft2024/09/03 04:50:47 INFO: 33238c1cdfea94eb became follower at term 0
Sep 03 04:50:47 ubuntu etcd[59784]: raft2024/09/03 04:50:47 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 03 04:50:47 ubuntu etcd[59784]: raft2024/09/03 04:50:47 INFO: 33238c1cdfea94eb became follower at term 1
Sep 03 04:50:47 ubuntu etcd[59784]: raft2024/09/03 04:50:47 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 03 04:50:47 ubuntu etcd[59784]: simple token is not cryptographically signed
Sep 03 04:50:47 ubuntu etcd[59784]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 03 04:50:47 ubuntu etcd[59784]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 03 04:50:47 ubuntu etcd[59784]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 03 04:50:47 ubuntu etcd[59784]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 03 04:50:47 ubuntu etcd[59784]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 03 04:50:47 ubuntu etcd[59784]: raft2024/09/03 04:50:47 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 03 04:50:47 ubuntu etcd[59784]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 03 04:50:47 ubuntu etcd[59784]: listening for peers on [::]:2380
Sep 03 04:50:48 ubuntu etcd[59784]: raft2024/09/03 04:50:48 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 03 04:50:48 ubuntu etcd[59784]: raft2024/09/03 04:50:48 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 03 04:50:48 ubuntu etcd[59784]: raft2024/09/03 04:50:48 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 03 04:50:48 ubuntu etcd[59784]: raft2024/09/03 04:50:48 INFO: 33238c1cdfea94eb became leader at term 2
Sep 03 04:50:48 ubuntu etcd[59784]: raft2024/09/03 04:50:48 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 03 04:50:48 ubuntu etcd[59784]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 03 04:50:48 ubuntu etcd[59784]: ready to serve client requests
Sep 03 04:50:48 ubuntu etcd[59784]: setting up the initial cluster version to 3.4
Sep 03 04:50:48 ubuntu etcd[59784]: set the initial cluster version to 3.4
Sep 03 04:50:48 ubuntu etcd[59784]: enabled capabilities for version 3.4
Sep 03 04:50:48 ubuntu etcd[59784]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 03 04:50:48 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 03 04:55:03 ubuntu etcd[59784]: start time = 2024-09-03 04:55:03.762869839 +0000 UTC m=+256.390324294, time spent = 427.638µs, remote = 10.201.4.32:34538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 03 04:55:03 ubuntu etcd[59784]: start time = 2024-09-03 04:55:03.943130257 +0000 UTC m=+256.570584718, time spent = 366.427µs, remote = 10.201.4.32:34538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 03 04:55:10 ubuntu etcd[59784]: start time = 2024-09-03 04:55:10.816821977 +0000 UTC m=+263.444276441, time spent = 368.465µs, remote = 10.201.4.32:34538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 03 04:55:13 ubuntu etcd[59784]: start time = 2024-09-03 04:55:13.008550833 +0000 UTC m=+265.636005295, time spent = 212.598µs, remote = 10.201.4.32:34538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
