Aug 19 21:57:05 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 19 21:57:05 ubuntu etcd[59390]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 19 21:57:05 ubuntu etcd[59390]:         A future release of golang/protobuf will delete this package,
Aug 19 21:57:05 ubuntu etcd[59390]:         which has long been excluded from the compatibility promise.
Aug 19 21:57:05 ubuntu etcd[59390]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 19 21:57:05 ubuntu etcd[59390]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 19 21:57:05 ubuntu etcd[59390]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 19 21:57:05 ubuntu etcd[59390]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 19 21:57:05 ubuntu etcd[59390]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 19 21:57:05 ubuntu etcd[59390]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 19 21:57:05 ubuntu etcd[59390]: Running http and grpc server on single port. This is not recommended for production.
Aug 19 21:57:05 ubuntu etcd[59390]: etcd Version: 3.4.27
Aug 19 21:57:05 ubuntu etcd[59390]: Git SHA: c92fb80f3
Aug 19 21:57:05 ubuntu etcd[59390]: Go Version: go1.19.10
Aug 19 21:57:05 ubuntu etcd[59390]: Go OS/Arch: linux/amd64
Aug 19 21:57:05 ubuntu etcd[59390]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 19 21:57:05 ubuntu etcd[59390]: Running http and grpc server on single port. This is not recommended for production.
Aug 19 21:57:05 ubuntu etcd[59390]: name = ubuntu
Aug 19 21:57:05 ubuntu etcd[59390]: data dir = /opt/stack/data/etcd
Aug 19 21:57:05 ubuntu etcd[59390]: member dir = /opt/stack/data/etcd/member
Aug 19 21:57:05 ubuntu etcd[59390]: heartbeat = 100ms
Aug 19 21:57:05 ubuntu etcd[59390]: election = 1000ms
Aug 19 21:57:05 ubuntu etcd[59390]: snapshot count = 100000
Aug 19 21:57:05 ubuntu etcd[59390]: advertise client URLs = http://10.201.4.32:2379
Aug 19 21:57:05 ubuntu etcd[59390]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 19 21:57:05 ubuntu etcd[59390]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Aug 19 21:57:05 ubuntu etcd[59390]: raft2024/08/19 21:57:05 INFO: 33238c1cdfea94eb switched to configuration voters=()
Aug 19 21:57:05 ubuntu etcd[59390]: raft2024/08/19 21:57:05 INFO: 33238c1cdfea94eb became follower at term 0
Aug 19 21:57:05 ubuntu etcd[59390]: raft2024/08/19 21:57:05 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 19 21:57:05 ubuntu etcd[59390]: raft2024/08/19 21:57:05 INFO: 33238c1cdfea94eb became follower at term 1
Aug 19 21:57:05 ubuntu etcd[59390]: raft2024/08/19 21:57:05 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 19 21:57:05 ubuntu etcd[59390]: simple token is not cryptographically signed
Aug 19 21:57:05 ubuntu etcd[59390]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 19 21:57:05 ubuntu etcd[59390]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 19 21:57:05 ubuntu etcd[59390]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 19 21:57:05 ubuntu etcd[59390]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 19 21:57:05 ubuntu etcd[59390]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 19 21:57:05 ubuntu etcd[59390]: raft2024/08/19 21:57:05 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 19 21:57:05 ubuntu etcd[59390]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Aug 19 21:57:05 ubuntu etcd[59390]: listening for peers on [::]:2380
Aug 19 21:57:06 ubuntu etcd[59390]: raft2024/08/19 21:57:06 INFO: 33238c1cdfea94eb is starting a new election at term 1
Aug 19 21:57:06 ubuntu etcd[59390]: raft2024/08/19 21:57:06 INFO: 33238c1cdfea94eb became candidate at term 2
Aug 19 21:57:06 ubuntu etcd[59390]: raft2024/08/19 21:57:06 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Aug 19 21:57:06 ubuntu etcd[59390]: raft2024/08/19 21:57:06 INFO: 33238c1cdfea94eb became leader at term 2
Aug 19 21:57:06 ubuntu etcd[59390]: raft2024/08/19 21:57:06 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Aug 19 21:57:06 ubuntu etcd[59390]: INFO: 2024/08/19 21:57:06 parsed scheme: ""
Aug 19 21:57:06 ubuntu etcd[59390]: INFO: 2024/08/19 21:57:06 scheme "" not registered, fallback to default scheme
Aug 19 21:57:06 ubuntu etcd[59390]: INFO: 2024/08/19 21:57:06 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 19 21:57:06 ubuntu etcd[59390]: INFO: 2024/08/19 21:57:06 ClientConn switching balancer to "pick_first"
Aug 19 21:57:06 ubuntu etcd[59390]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Aug 19 21:57:06 ubuntu etcd[59390]: setting up the initial cluster version to 3.4
Aug 19 21:57:06 ubuntu etcd[59390]: ready to serve client requests
Aug 19 21:57:06 ubuntu etcd[59390]: set the initial cluster version to 3.4
Aug 19 21:57:06 ubuntu etcd[59390]: enabled capabilities for version 3.4
Aug 19 21:57:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 19 21:57:06 ubuntu etcd[59390]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Aug 19 22:01:36 ubuntu etcd[59390]: start time = 2024-08-19 22:01:36.75086508 +0000 UTC m=+270.893086066, time spent = 755.032µs, remote = 10.201.4.32:52286, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 22:01:36 ubuntu etcd[59390]: start time = 2024-08-19 22:01:36.789305386 +0000 UTC m=+270.931526383, time spent = 204.694µs, remote = 10.201.4.32:52286, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 22:01:43 ubuntu etcd[59390]: start time = 2024-08-19 22:01:43.349767514 +0000 UTC m=+277.491988502, time spent = 186.637µs, remote = 10.201.4.32:52286, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 22:01:45 ubuntu etcd[59390]: start time = 2024-08-19 22:01:45.635848813 +0000 UTC m=+279.778069810, time spent = 257.685µs, remote = 10.201.4.32:52286, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
