Dec 09 06:48:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:48:13 ubuntu etcd[58918]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:48:13 ubuntu etcd[58918]:         A future release of golang/protobuf will delete this package,
Dec 09 06:48:13 ubuntu etcd[58918]:         which has long been excluded from the compatibility promise.
Dec 09 06:48:13 ubuntu etcd[58918]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[58918]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[58918]: etcd Version: 3.4.27
Dec 09 06:48:13 ubuntu etcd[58918]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[58918]: Git SHA: c92fb80f3
Dec 09 06:48:13 ubuntu etcd[58918]: Go Version: go1.19.10
Dec 09 06:48:13 ubuntu etcd[58918]: Go OS/Arch: linux/amd64
Dec 09 06:48:13 ubuntu etcd[58918]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:48:13 ubuntu etcd[58918]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[58918]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:48:13 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 09 06:48:13 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 06:48:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:48:13 ubuntu etcd[59033]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:48:13 ubuntu etcd[59033]:         A future release of golang/protobuf will delete this package,
Dec 09 06:48:13 ubuntu etcd[59033]:         which has long been excluded from the compatibility promise.
Dec 09 06:48:13 ubuntu etcd[59033]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[59033]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[59033]: etcd Version: 3.4.27
Dec 09 06:48:13 ubuntu etcd[59033]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[59033]: Git SHA: c92fb80f3
Dec 09 06:48:13 ubuntu etcd[59033]: Go Version: go1.19.10
Dec 09 06:48:13 ubuntu etcd[59033]: Go OS/Arch: linux/amd64
Dec 09 06:48:13 ubuntu etcd[59033]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:48:13 ubuntu etcd[59033]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[59033]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:48:13 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 09 06:48:13 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 06:48:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:48:13 ubuntu etcd[59075]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:48:13 ubuntu etcd[59075]:         A future release of golang/protobuf will delete this package,
Dec 09 06:48:13 ubuntu etcd[59075]:         which has long been excluded from the compatibility promise.
Dec 09 06:48:13 ubuntu etcd[59075]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[59075]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[59075]: etcd Version: 3.4.27
Dec 09 06:48:13 ubuntu etcd[59075]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[59075]: Git SHA: c92fb80f3
Dec 09 06:48:13 ubuntu etcd[59075]: Go Version: go1.19.10
Dec 09 06:48:13 ubuntu etcd[59075]: Go OS/Arch: linux/amd64
Dec 09 06:48:13 ubuntu etcd[59075]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:48:13 ubuntu etcd[59075]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[59075]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:48:13 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 09 06:48:13 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 06:48:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:48:13 ubuntu etcd[59115]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:48:13 ubuntu etcd[59115]:         A future release of golang/protobuf will delete this package,
Dec 09 06:48:13 ubuntu etcd[59115]:         which has long been excluded from the compatibility promise.
Dec 09 06:48:13 ubuntu etcd[59115]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[59115]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[59115]: etcd Version: 3.4.27
Dec 09 06:48:13 ubuntu etcd[59115]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[59115]: Git SHA: c92fb80f3
Dec 09 06:48:13 ubuntu etcd[59115]: Go Version: go1.19.10
Dec 09 06:48:13 ubuntu etcd[59115]: Go OS/Arch: linux/amd64
Dec 09 06:48:13 ubuntu etcd[59115]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:48:13 ubuntu etcd[59115]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[59115]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:48:13 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:48:14 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 09 06:48:14 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 06:48:14 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:48:14 ubuntu etcd[59130]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:48:14 ubuntu etcd[59130]:         A future release of golang/protobuf will delete this package,
Dec 09 06:48:14 ubuntu etcd[59130]:         which has long been excluded from the compatibility promise.
Dec 09 06:48:14 ubuntu etcd[59130]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:14 ubuntu etcd[59130]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:14 ubuntu etcd[59130]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:14 ubuntu etcd[59130]: etcd Version: 3.4.27
Dec 09 06:48:14 ubuntu etcd[59130]: Git SHA: c92fb80f3
Dec 09 06:48:14 ubuntu etcd[59130]: Go Version: go1.19.10
Dec 09 06:48:14 ubuntu etcd[59130]: Go OS/Arch: linux/amd64
Dec 09 06:48:14 ubuntu etcd[59130]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:48:14 ubuntu etcd[59130]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:14 ubuntu etcd[59130]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 06:48:14 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 06:48:14 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:48:14 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:48:14 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 09 06:48:14 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 06:48:14 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 09 06:48:14 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:48:14 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:48:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:48:13 ubuntu etcd[58918]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:48:13 ubuntu etcd[58918]:         A future release of golang/protobuf will delete this package,
Dec 09 06:48:13 ubuntu etcd[58918]:         which has long been excluded from the compatibility promise.
Dec 09 06:48:13 ubuntu etcd[58918]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[58918]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[58918]: etcd Version: 3.4.27
Dec 09 06:48:13 ubuntu etcd[58918]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[58918]: Git SHA: c92fb80f3
Dec 09 06:48:13 ubuntu etcd[58918]: Go Version: go1.19.10
Dec 09 06:48:13 ubuntu etcd[58918]: Go OS/Arch: linux/amd64
Dec 09 06:48:13 ubuntu etcd[58918]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:48:13 ubuntu etcd[58918]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[58918]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:48:13 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 09 06:48:13 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 06:48:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:48:13 ubuntu etcd[59033]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:48:13 ubuntu etcd[59033]:         A future release of golang/protobuf will delete this package,
Dec 09 06:48:13 ubuntu etcd[59033]:         which has long been excluded from the compatibility promise.
Dec 09 06:48:13 ubuntu etcd[59033]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[59033]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[59033]: etcd Version: 3.4.27
Dec 09 06:48:13 ubuntu etcd[59033]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[59033]: Git SHA: c92fb80f3
Dec 09 06:48:13 ubuntu etcd[59033]: Go Version: go1.19.10
Dec 09 06:48:13 ubuntu etcd[59033]: Go OS/Arch: linux/amd64
Dec 09 06:48:13 ubuntu etcd[59033]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:48:13 ubuntu etcd[59033]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[59033]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:48:13 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 09 06:48:13 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 06:48:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:48:13 ubuntu etcd[59075]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:48:13 ubuntu etcd[59075]:         A future release of golang/protobuf will delete this package,
Dec 09 06:48:13 ubuntu etcd[59075]:         which has long been excluded from the compatibility promise.
Dec 09 06:48:13 ubuntu etcd[59075]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[59075]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[59075]: etcd Version: 3.4.27
Dec 09 06:48:13 ubuntu etcd[59075]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[59075]: Git SHA: c92fb80f3
Dec 09 06:48:13 ubuntu etcd[59075]: Go Version: go1.19.10
Dec 09 06:48:13 ubuntu etcd[59075]: Go OS/Arch: linux/amd64
Dec 09 06:48:13 ubuntu etcd[59075]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:48:13 ubuntu etcd[59075]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[59075]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:48:13 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 09 06:48:13 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 06:48:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:48:13 ubuntu etcd[59115]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:48:13 ubuntu etcd[59115]:         A future release of golang/protobuf will delete this package,
Dec 09 06:48:13 ubuntu etcd[59115]:         which has long been excluded from the compatibility promise.
Dec 09 06:48:13 ubuntu etcd[59115]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[59115]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[59115]: etcd Version: 3.4.27
Dec 09 06:48:13 ubuntu etcd[59115]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:13 ubuntu etcd[59115]: Git SHA: c92fb80f3
Dec 09 06:48:13 ubuntu etcd[59115]: Go Version: go1.19.10
Dec 09 06:48:13 ubuntu etcd[59115]: Go OS/Arch: linux/amd64
Dec 09 06:48:13 ubuntu etcd[59115]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:48:13 ubuntu etcd[59115]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:13 ubuntu etcd[59115]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 06:48:13 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:48:13 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:48:14 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 09 06:48:14 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 06:48:14 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:48:14 ubuntu etcd[59130]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:48:14 ubuntu etcd[59130]:         A future release of golang/protobuf will delete this package,
Dec 09 06:48:14 ubuntu etcd[59130]:         which has long been excluded from the compatibility promise.
Dec 09 06:48:14 ubuntu etcd[59130]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:14 ubuntu etcd[59130]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:48:14 ubuntu etcd[59130]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:14 ubuntu etcd[59130]: etcd Version: 3.4.27
Dec 09 06:48:14 ubuntu etcd[59130]: Git SHA: c92fb80f3
Dec 09 06:48:14 ubuntu etcd[59130]: Go Version: go1.19.10
Dec 09 06:48:14 ubuntu etcd[59130]: Go OS/Arch: linux/amd64
Dec 09 06:48:14 ubuntu etcd[59130]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:48:14 ubuntu etcd[59130]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:48:14 ubuntu etcd[59130]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 06:48:14 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 06:48:14 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:48:14 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 06:48:14 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 09 06:48:14 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 06:48:14 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 09 06:48:14 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 06:48:14 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
