Apr 19 12:33:57 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 19 12:33:57 ubuntu etcd[61383]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 19 12:33:57 ubuntu etcd[61383]:         A future release of golang/protobuf will delete this package,
Apr 19 12:33:57 ubuntu etcd[61383]:         which has long been excluded from the compatibility promise.
Apr 19 12:33:57 ubuntu etcd[61383]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 19 12:33:57 ubuntu etcd[61383]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 19 12:33:57 ubuntu etcd[61383]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 19 12:33:57 ubuntu etcd[61383]: Running http and grpc server on single port. This is not recommended for production.
Apr 19 12:33:57 ubuntu etcd[61383]: etcd Version: 3.4.27
Apr 19 12:33:57 ubuntu etcd[61383]: Git SHA: c92fb80f3
Apr 19 12:33:57 ubuntu etcd[61383]: Go Version: go1.19.10
Apr 19 12:33:57 ubuntu etcd[61383]: Go OS/Arch: linux/amd64
Apr 19 12:33:57 ubuntu etcd[61383]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 19 12:33:57 ubuntu etcd[61383]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 19 12:33:57 ubuntu etcd[61383]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 19 12:33:57 ubuntu etcd[61383]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 19 12:33:57 ubuntu etcd[61383]: Running http and grpc server on single port. This is not recommended for production.
Apr 19 12:33:57 ubuntu etcd[61383]: name = ubuntu
Apr 19 12:33:57 ubuntu etcd[61383]: data dir = /opt/stack/data/etcd
Apr 19 12:33:57 ubuntu etcd[61383]: member dir = /opt/stack/data/etcd/member
Apr 19 12:33:57 ubuntu etcd[61383]: heartbeat = 100ms
Apr 19 12:33:57 ubuntu etcd[61383]: election = 1000ms
Apr 19 12:33:57 ubuntu etcd[61383]: snapshot count = 100000
Apr 19 12:33:57 ubuntu etcd[61383]: advertise client URLs = http://10.201.4.32:2379
Apr 19 12:33:57 ubuntu etcd[61383]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 19 12:33:57 ubuntu etcd[61383]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 19 12:33:57 ubuntu etcd[61383]: raft2024/04/19 12:33:57 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 19 12:33:57 ubuntu etcd[61383]: raft2024/04/19 12:33:57 INFO: 33238c1cdfea94eb became follower at term 0
Apr 19 12:33:57 ubuntu etcd[61383]: raft2024/04/19 12:33:57 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 19 12:33:57 ubuntu etcd[61383]: raft2024/04/19 12:33:57 INFO: 33238c1cdfea94eb became follower at term 1
Apr 19 12:33:57 ubuntu etcd[61383]: raft2024/04/19 12:33:57 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 19 12:33:57 ubuntu etcd[61383]: simple token is not cryptographically signed
Apr 19 12:33:57 ubuntu etcd[61383]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 19 12:33:57 ubuntu etcd[61383]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 19 12:33:57 ubuntu etcd[61383]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 19 12:33:57 ubuntu etcd[61383]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 19 12:33:57 ubuntu etcd[61383]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 19 12:33:57 ubuntu etcd[61383]: raft2024/04/19 12:33:57 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 19 12:33:57 ubuntu etcd[61383]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 19 12:33:57 ubuntu etcd[61383]: listening for peers on [::]:2380
Apr 19 12:33:58 ubuntu etcd[61383]: raft2024/04/19 12:33:58 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 19 12:33:58 ubuntu etcd[61383]: raft2024/04/19 12:33:58 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 19 12:33:58 ubuntu etcd[61383]: raft2024/04/19 12:33:58 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 19 12:33:58 ubuntu etcd[61383]: raft2024/04/19 12:33:58 INFO: 33238c1cdfea94eb became leader at term 2
Apr 19 12:33:58 ubuntu etcd[61383]: raft2024/04/19 12:33:58 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 19 12:33:58 ubuntu etcd[61383]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 19 12:33:58 ubuntu etcd[61383]: setting up the initial cluster version to 3.4
Apr 19 12:33:58 ubuntu etcd[61383]: ready to serve client requests
Apr 19 12:33:58 ubuntu etcd[61383]: set the initial cluster version to 3.4
Apr 19 12:33:58 ubuntu etcd[61383]: enabled capabilities for version 3.4
Apr 19 12:33:58 ubuntu etcd[61383]: INFO: 2024/04/19 12:33:58 parsed scheme: ""
Apr 19 12:33:58 ubuntu etcd[61383]: INFO: 2024/04/19 12:33:58 scheme "" not registered, fallback to default scheme
Apr 19 12:33:58 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 19 12:33:58 ubuntu etcd[61383]: INFO: 2024/04/19 12:33:58 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 19 12:33:58 ubuntu etcd[61383]: INFO: 2024/04/19 12:33:58 ClientConn switching balancer to "pick_first"
Apr 19 12:33:58 ubuntu etcd[61383]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 19 12:38:24 ubuntu etcd[61383]: start time = 2024-04-19 12:38:24.572750721 +0000 UTC m=+267.176864166, time spent = 460.923µs, remote = 10.201.4.32:48052, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 19 12:38:24 ubuntu etcd[61383]: start time = 2024-04-19 12:38:24.697157474 +0000 UTC m=+267.301270915, time spent = 176.992µs, remote = 10.201.4.32:48052, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 19 12:38:31 ubuntu etcd[61383]: start time = 2024-04-19 12:38:31.213752904 +0000 UTC m=+273.817866334, time spent = 240.128µs, remote = 10.201.4.32:48052, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 19 12:38:33 ubuntu etcd[61383]: start time = 2024-04-19 12:38:33.424221096 +0000 UTC m=+276.028334537, time spent = 203.901µs, remote = 10.201.4.32:48052, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
