Dec 15 21:58:40 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 15 21:58:40 ubuntu etcd[60667]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 15 21:58:40 ubuntu etcd[60667]:         A future release of golang/protobuf will delete this package,
Dec 15 21:58:40 ubuntu etcd[60667]:         which has long been excluded from the compatibility promise.
Dec 15 21:58:40 ubuntu etcd[60667]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 15 21:58:40 ubuntu etcd[60667]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 15 21:58:40 ubuntu etcd[60667]: Running http and grpc server on single port. This is not recommended for production.
Dec 15 21:58:40 ubuntu etcd[60667]: etcd Version: 3.4.27
Dec 15 21:58:40 ubuntu etcd[60667]: Git SHA: c92fb80f3
Dec 15 21:58:40 ubuntu etcd[60667]: Go Version: go1.19.10
Dec 15 21:58:40 ubuntu etcd[60667]: Go OS/Arch: linux/amd64
Dec 15 21:58:40 ubuntu etcd[60667]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 15 21:58:40 ubuntu etcd[60667]: Running http and grpc server on single port. This is not recommended for production.
Dec 15 21:58:40 ubuntu etcd[60667]: name = ubuntu
Dec 15 21:58:40 ubuntu etcd[60667]: data dir = /opt/stack/data/etcd
Dec 15 21:58:40 ubuntu etcd[60667]: member dir = /opt/stack/data/etcd/member
Dec 15 21:58:40 ubuntu etcd[60667]: heartbeat = 100ms
Dec 15 21:58:40 ubuntu etcd[60667]: election = 1000ms
Dec 15 21:58:40 ubuntu etcd[60667]: snapshot count = 100000
Dec 15 21:58:40 ubuntu etcd[60667]: advertise client URLs = http://10.201.9.223:2379
Dec 15 21:58:40 ubuntu etcd[60667]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 15 21:58:40 ubuntu etcd[60667]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 15 21:58:40 ubuntu etcd[60667]: raft2024/12/15 21:58:40 INFO: c25b29daa831042c switched to configuration voters=()
Dec 15 21:58:40 ubuntu etcd[60667]: raft2024/12/15 21:58:40 INFO: c25b29daa831042c became follower at term 0
Dec 15 21:58:40 ubuntu etcd[60667]: raft2024/12/15 21:58:40 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 15 21:58:40 ubuntu etcd[60667]: raft2024/12/15 21:58:40 INFO: c25b29daa831042c became follower at term 1
Dec 15 21:58:40 ubuntu etcd[60667]: raft2024/12/15 21:58:40 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 15 21:58:40 ubuntu etcd[60667]: simple token is not cryptographically signed
Dec 15 21:58:40 ubuntu etcd[60667]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 15 21:58:40 ubuntu etcd[60667]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 15 21:58:40 ubuntu etcd[60667]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 15 21:58:40 ubuntu etcd[60667]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 15 21:58:40 ubuntu etcd[60667]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 15 21:58:40 ubuntu etcd[60667]: raft2024/12/15 21:58:40 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 15 21:58:40 ubuntu etcd[60667]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 15 21:58:40 ubuntu etcd[60667]: listening for peers on [::]:2380
Dec 15 21:58:40 ubuntu etcd[60667]: raft2024/12/15 21:58:40 INFO: c25b29daa831042c is starting a new election at term 1
Dec 15 21:58:40 ubuntu etcd[60667]: raft2024/12/15 21:58:40 INFO: c25b29daa831042c became candidate at term 2
Dec 15 21:58:40 ubuntu etcd[60667]: raft2024/12/15 21:58:40 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 15 21:58:40 ubuntu etcd[60667]: raft2024/12/15 21:58:40 INFO: c25b29daa831042c became leader at term 2
Dec 15 21:58:40 ubuntu etcd[60667]: raft2024/12/15 21:58:40 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 15 21:58:40 ubuntu etcd[60667]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 15 21:58:40 ubuntu etcd[60667]: ready to serve client requests
Dec 15 21:58:40 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 15 21:58:40 ubuntu etcd[60667]: setting up the initial cluster version to 3.4
Dec 15 21:58:40 ubuntu etcd[60667]: set the initial cluster version to 3.4
Dec 15 21:58:40 ubuntu etcd[60667]: enabled capabilities for version 3.4
Dec 15 21:58:40 ubuntu etcd[60667]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 15 22:02:57 ubuntu etcd[60667]: start time = 2024-12-15 22:02:57.275449347 +0000 UTC m=+257.023152818, time spent = 429.428µs, remote = 10.201.9.223:34632, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 22:02:57 ubuntu etcd[60667]: start time = 2024-12-15 22:02:57.395001865 +0000 UTC m=+257.142705351, time spent = 180.116µs, remote = 10.201.9.223:34632, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 22:03:03 ubuntu etcd[60667]: start time = 2024-12-15 22:03:03.789581109 +0000 UTC m=+263.537284578, time spent = 185.486µs, remote = 10.201.9.223:34632, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 22:03:05 ubuntu etcd[60667]: start time = 2024-12-15 22:03:05.970809128 +0000 UTC m=+265.718512607, time spent = 404.707µs, remote = 10.201.9.223:34632, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
