Apr 22 10:38:31 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 22 10:38:31 ubuntu etcd[62016]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 22 10:38:31 ubuntu etcd[62016]:         A future release of golang/protobuf will delete this package,
Apr 22 10:38:31 ubuntu etcd[62016]:         which has long been excluded from the compatibility promise.
Apr 22 10:38:31 ubuntu etcd[62016]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 22 10:38:31 ubuntu etcd[62016]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 22 10:38:31 ubuntu etcd[62016]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 22 10:38:31 ubuntu etcd[62016]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 22 10:38:31 ubuntu etcd[62016]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 22 10:38:31 ubuntu etcd[62016]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 22 10:38:31 ubuntu etcd[62016]: Running http and grpc server on single port. This is not recommended for production.
Apr 22 10:38:31 ubuntu etcd[62016]: etcd Version: 3.4.27
Apr 22 10:38:31 ubuntu etcd[62016]: Git SHA: c92fb80f3
Apr 22 10:38:31 ubuntu etcd[62016]: Go Version: go1.19.10
Apr 22 10:38:31 ubuntu etcd[62016]: Go OS/Arch: linux/amd64
Apr 22 10:38:31 ubuntu etcd[62016]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 22 10:38:31 ubuntu etcd[62016]: Running http and grpc server on single port. This is not recommended for production.
Apr 22 10:38:31 ubuntu etcd[62016]: name = ubuntu
Apr 22 10:38:31 ubuntu etcd[62016]: data dir = /opt/stack/data/etcd
Apr 22 10:38:31 ubuntu etcd[62016]: member dir = /opt/stack/data/etcd/member
Apr 22 10:38:31 ubuntu etcd[62016]: heartbeat = 100ms
Apr 22 10:38:31 ubuntu etcd[62016]: election = 1000ms
Apr 22 10:38:31 ubuntu etcd[62016]: snapshot count = 100000
Apr 22 10:38:31 ubuntu etcd[62016]: advertise client URLs = http://10.201.4.32:2379
Apr 22 10:38:31 ubuntu etcd[62016]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 22 10:38:31 ubuntu etcd[62016]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 22 10:38:31 ubuntu etcd[62016]: raft2024/04/22 10:38:31 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 22 10:38:31 ubuntu etcd[62016]: raft2024/04/22 10:38:31 INFO: 33238c1cdfea94eb became follower at term 0
Apr 22 10:38:31 ubuntu etcd[62016]: raft2024/04/22 10:38:31 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 22 10:38:31 ubuntu etcd[62016]: raft2024/04/22 10:38:31 INFO: 33238c1cdfea94eb became follower at term 1
Apr 22 10:38:31 ubuntu etcd[62016]: raft2024/04/22 10:38:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 22 10:38:31 ubuntu etcd[62016]: simple token is not cryptographically signed
Apr 22 10:38:31 ubuntu etcd[62016]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 22 10:38:31 ubuntu etcd[62016]: raft2024/04/22 10:38:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 22 10:38:31 ubuntu etcd[62016]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 22 10:38:31 ubuntu etcd[62016]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 22 10:38:31 ubuntu etcd[62016]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 22 10:38:31 ubuntu etcd[62016]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 22 10:38:31 ubuntu etcd[62016]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 22 10:38:31 ubuntu etcd[62016]: listening for peers on [::]:2380
Apr 22 10:38:31 ubuntu etcd[62016]: raft2024/04/22 10:38:31 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 22 10:38:31 ubuntu etcd[62016]: raft2024/04/22 10:38:31 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 22 10:38:31 ubuntu etcd[62016]: raft2024/04/22 10:38:31 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 22 10:38:31 ubuntu etcd[62016]: raft2024/04/22 10:38:31 INFO: 33238c1cdfea94eb became leader at term 2
Apr 22 10:38:31 ubuntu etcd[62016]: raft2024/04/22 10:38:31 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 22 10:38:31 ubuntu etcd[62016]: INFO: 2024/04/22 10:38:31 parsed scheme: ""
Apr 22 10:38:31 ubuntu etcd[62016]: INFO: 2024/04/22 10:38:31 scheme "" not registered, fallback to default scheme
Apr 22 10:38:31 ubuntu etcd[62016]: INFO: 2024/04/22 10:38:31 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 22 10:38:31 ubuntu etcd[62016]: INFO: 2024/04/22 10:38:31 ClientConn switching balancer to "pick_first"
Apr 22 10:38:31 ubuntu etcd[62016]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 22 10:38:31 ubuntu etcd[62016]: ready to serve client requests
Apr 22 10:38:31 ubuntu etcd[62016]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 22 10:38:31 ubuntu etcd[62016]: setting up the initial cluster version to 3.4
Apr 22 10:38:31 ubuntu etcd[62016]: set the initial cluster version to 3.4
Apr 22 10:38:31 ubuntu etcd[62016]: enabled capabilities for version 3.4
Apr 22 10:38:31 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 22 10:42:51 ubuntu etcd[62016]: start time = 2024-04-22 10:42:51.78377102 +0000 UTC m=+260.617920567, time spent = 432.383µs, remote = 10.201.4.32:55436, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 10:42:51 ubuntu etcd[62016]: start time = 2024-04-22 10:42:51.783605837 +0000 UTC m=+260.617755384, time spent = 597.251µs, remote = 10.201.4.32:55436, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 10:42:58 ubuntu etcd[62016]: start time = 2024-04-22 10:42:58.606300826 +0000 UTC m=+267.440450373, time spent = 185.934µs, remote = 10.201.4.32:55436, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 10:43:00 ubuntu etcd[62016]: start time = 2024-04-22 10:43:00.910764615 +0000 UTC m=+269.744914172, time spent = 270.421µs, remote = 10.201.4.32:55436, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
