Apr 19 16:00:08 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 19 16:00:08 ubuntu etcd[60396]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 19 16:00:08 ubuntu etcd[60396]:         A future release of golang/protobuf will delete this package,
Apr 19 16:00:08 ubuntu etcd[60396]:         which has long been excluded from the compatibility promise.
Apr 19 16:00:08 ubuntu etcd[60396]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 19 16:00:08 ubuntu etcd[60396]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 19 16:00:08 ubuntu etcd[60396]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 19 16:00:08 ubuntu etcd[60396]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 19 16:00:08 ubuntu etcd[60396]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 19 16:00:08 ubuntu etcd[60396]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 19 16:00:08 ubuntu etcd[60396]: Running http and grpc server on single port. This is not recommended for production.
Apr 19 16:00:08 ubuntu etcd[60396]: etcd Version: 3.4.27
Apr 19 16:00:08 ubuntu etcd[60396]: Git SHA: c92fb80f3
Apr 19 16:00:08 ubuntu etcd[60396]: Go Version: go1.19.10
Apr 19 16:00:08 ubuntu etcd[60396]: Go OS/Arch: linux/amd64
Apr 19 16:00:08 ubuntu etcd[60396]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 19 16:00:08 ubuntu etcd[60396]: Running http and grpc server on single port. This is not recommended for production.
Apr 19 16:00:08 ubuntu etcd[60396]: name = ubuntu
Apr 19 16:00:08 ubuntu etcd[60396]: data dir = /opt/stack/data/etcd
Apr 19 16:00:08 ubuntu etcd[60396]: member dir = /opt/stack/data/etcd/member
Apr 19 16:00:08 ubuntu etcd[60396]: heartbeat = 100ms
Apr 19 16:00:08 ubuntu etcd[60396]: election = 1000ms
Apr 19 16:00:08 ubuntu etcd[60396]: snapshot count = 100000
Apr 19 16:00:08 ubuntu etcd[60396]: advertise client URLs = http://10.201.4.32:2379
Apr 19 16:00:08 ubuntu etcd[60396]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 19 16:00:08 ubuntu etcd[60396]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 19 16:00:08 ubuntu etcd[60396]: raft2024/04/19 16:00:08 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 19 16:00:08 ubuntu etcd[60396]: raft2024/04/19 16:00:08 INFO: 33238c1cdfea94eb became follower at term 0
Apr 19 16:00:08 ubuntu etcd[60396]: raft2024/04/19 16:00:08 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 19 16:00:08 ubuntu etcd[60396]: raft2024/04/19 16:00:08 INFO: 33238c1cdfea94eb became follower at term 1
Apr 19 16:00:08 ubuntu etcd[60396]: raft2024/04/19 16:00:08 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 19 16:00:08 ubuntu etcd[60396]: simple token is not cryptographically signed
Apr 19 16:00:08 ubuntu etcd[60396]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 19 16:00:08 ubuntu etcd[60396]: raft2024/04/19 16:00:08 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 19 16:00:08 ubuntu etcd[60396]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 19 16:00:08 ubuntu etcd[60396]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 19 16:00:08 ubuntu etcd[60396]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 19 16:00:08 ubuntu etcd[60396]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 19 16:00:08 ubuntu etcd[60396]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 19 16:00:08 ubuntu etcd[60396]: listening for peers on [::]:2380
Apr 19 16:00:08 ubuntu etcd[60396]: raft2024/04/19 16:00:08 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 19 16:00:08 ubuntu etcd[60396]: raft2024/04/19 16:00:08 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 19 16:00:08 ubuntu etcd[60396]: raft2024/04/19 16:00:08 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 19 16:00:08 ubuntu etcd[60396]: raft2024/04/19 16:00:08 INFO: 33238c1cdfea94eb became leader at term 2
Apr 19 16:00:08 ubuntu etcd[60396]: raft2024/04/19 16:00:08 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 19 16:00:08 ubuntu etcd[60396]: setting up the initial cluster version to 3.4
Apr 19 16:00:08 ubuntu etcd[60396]: INFO: 2024/04/19 16:00:08 parsed scheme: ""
Apr 19 16:00:08 ubuntu etcd[60396]: INFO: 2024/04/19 16:00:08 scheme "" not registered, fallback to default scheme
Apr 19 16:00:08 ubuntu etcd[60396]: INFO: 2024/04/19 16:00:08 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 19 16:00:08 ubuntu etcd[60396]: INFO: 2024/04/19 16:00:08 ClientConn switching balancer to "pick_first"
Apr 19 16:00:08 ubuntu etcd[60396]: set the initial cluster version to 3.4
Apr 19 16:00:08 ubuntu etcd[60396]: ready to serve client requests
Apr 19 16:00:08 ubuntu etcd[60396]: enabled capabilities for version 3.4
Apr 19 16:00:08 ubuntu etcd[60396]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 19 16:00:08 ubuntu etcd[60396]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 19 16:00:08 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 19 16:04:28 ubuntu etcd[60396]: start time = 2024-04-19 16:04:28.604819708 +0000 UTC m=+260.232388588, time spent = 484.492µs, remote = 10.201.4.32:37182, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 19 16:04:28 ubuntu etcd[60396]: start time = 2024-04-19 16:04:28.615955751 +0000 UTC m=+260.243524627, time spent = 341.142µs, remote = 10.201.4.32:37182, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 19 16:04:35 ubuntu etcd[60396]: start time = 2024-04-19 16:04:35.270682537 +0000 UTC m=+266.898251417, time spent = 342.922µs, remote = 10.201.4.32:37182, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 19 16:04:37 ubuntu etcd[60396]: start time = 2024-04-19 16:04:37.63384862 +0000 UTC m=+269.261417510, time spent = 317.113µs, remote = 10.201.4.32:37182, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
