Jan 24 10:19:50 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 24 10:19:50 ubuntu etcd[59279]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 24 10:19:50 ubuntu etcd[59279]:         A future release of golang/protobuf will delete this package,
Jan 24 10:19:50 ubuntu etcd[59279]:         which has long been excluded from the compatibility promise.
Jan 24 10:19:50 ubuntu etcd[59279]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 24 10:19:50 ubuntu etcd[59279]: Running http and grpc server on single port. This is not recommended for production.
Jan 24 10:19:50 ubuntu etcd[59279]: etcd Version: 3.4.27
Jan 24 10:19:50 ubuntu etcd[59279]: Git SHA: c92fb80f3
Jan 24 10:19:50 ubuntu etcd[59279]: Go Version: go1.19.10
Jan 24 10:19:50 ubuntu etcd[59279]: Go OS/Arch: linux/amd64
Jan 24 10:19:50 ubuntu etcd[59279]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 24 10:19:50 ubuntu etcd[59279]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 24 10:19:50 ubuntu etcd[59279]: Running http and grpc server on single port. This is not recommended for production.
Jan 24 10:19:50 ubuntu etcd[59279]: name = ubuntu
Jan 24 10:19:50 ubuntu etcd[59279]: data dir = /opt/stack/data/etcd
Jan 24 10:19:50 ubuntu etcd[59279]: member dir = /opt/stack/data/etcd/member
Jan 24 10:19:50 ubuntu etcd[59279]: heartbeat = 100ms
Jan 24 10:19:50 ubuntu etcd[59279]: election = 1000ms
Jan 24 10:19:50 ubuntu etcd[59279]: snapshot count = 100000
Jan 24 10:19:50 ubuntu etcd[59279]: advertise client URLs = http://10.201.9.223:2379
Jan 24 10:19:50 ubuntu etcd[59279]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 24 10:19:50 ubuntu etcd[59279]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 24 10:19:50 ubuntu etcd[59279]: raft2025/01/24 10:19:50 INFO: c25b29daa831042c switched to configuration voters=()
Jan 24 10:19:50 ubuntu etcd[59279]: raft2025/01/24 10:19:50 INFO: c25b29daa831042c became follower at term 0
Jan 24 10:19:50 ubuntu etcd[59279]: raft2025/01/24 10:19:50 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 24 10:19:50 ubuntu etcd[59279]: raft2025/01/24 10:19:50 INFO: c25b29daa831042c became follower at term 1
Jan 24 10:19:50 ubuntu etcd[59279]: raft2025/01/24 10:19:50 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 24 10:19:50 ubuntu etcd[59279]: simple token is not cryptographically signed
Jan 24 10:19:50 ubuntu etcd[59279]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 24 10:19:50 ubuntu etcd[59279]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 24 10:19:50 ubuntu etcd[59279]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 24 10:19:50 ubuntu etcd[59279]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 24 10:19:50 ubuntu etcd[59279]: listening for peers on [::]:2380
Jan 24 10:19:50 ubuntu etcd[59279]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 24 10:19:50 ubuntu etcd[59279]: raft2025/01/24 10:19:50 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 24 10:19:50 ubuntu etcd[59279]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 24 10:19:51 ubuntu etcd[59279]: raft2025/01/24 10:19:51 INFO: c25b29daa831042c is starting a new election at term 1
Jan 24 10:19:51 ubuntu etcd[59279]: raft2025/01/24 10:19:51 INFO: c25b29daa831042c became candidate at term 2
Jan 24 10:19:51 ubuntu etcd[59279]: raft2025/01/24 10:19:51 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 24 10:19:51 ubuntu etcd[59279]: raft2025/01/24 10:19:51 INFO: c25b29daa831042c became leader at term 2
Jan 24 10:19:51 ubuntu etcd[59279]: raft2025/01/24 10:19:51 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 24 10:19:51 ubuntu etcd[59279]: ready to serve client requests
Jan 24 10:19:51 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 24 10:19:51 ubuntu etcd[59279]: setting up the initial cluster version to 3.4
Jan 24 10:19:51 ubuntu etcd[59279]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 24 10:19:51 ubuntu etcd[59279]: set the initial cluster version to 3.4
Jan 24 10:19:51 ubuntu etcd[59279]: enabled capabilities for version 3.4
Jan 24 10:19:51 ubuntu etcd[59279]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 24 10:23:59 ubuntu etcd[59279]: start time = 2025-01-24 10:23:59.474664585 +0000 UTC m=+248.655085458, time spent = 515.51µs, remote = 10.201.9.223:52702, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 24 10:23:59 ubuntu etcd[59279]: start time = 2025-01-24 10:23:59.491614196 +0000 UTC m=+248.672035082, time spent = 226.105µs, remote = 10.201.9.223:52702, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 24 10:24:06 ubuntu etcd[59279]: start time = 2025-01-24 10:24:06.568340185 +0000 UTC m=+255.748761071, time spent = 163.662µs, remote = 10.201.9.223:52702, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 24 10:24:08 ubuntu etcd[59279]: start time = 2025-01-24 10:24:08.529183948 +0000 UTC m=+257.709604839, time spent = 177.341µs, remote = 10.201.9.223:52702, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
