Mar 12 20:55:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 12 20:55:32 ubuntu etcd[60463]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 12 20:55:32 ubuntu etcd[60463]:         A future release of golang/protobuf will delete this package,
Mar 12 20:55:32 ubuntu etcd[60463]:         which has long been excluded from the compatibility promise.
Mar 12 20:55:32 ubuntu etcd[60463]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 12 20:55:32 ubuntu etcd[60463]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 12 20:55:32 ubuntu etcd[60463]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 12 20:55:32 ubuntu etcd[60463]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 12 20:55:32 ubuntu etcd[60463]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 12 20:55:32 ubuntu etcd[60463]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 12 20:55:32 ubuntu etcd[60463]: Running http and grpc server on single port. This is not recommended for production.
Mar 12 20:55:32 ubuntu etcd[60463]: etcd Version: 3.4.27
Mar 12 20:55:32 ubuntu etcd[60463]: Git SHA: c92fb80f3
Mar 12 20:55:32 ubuntu etcd[60463]: Go Version: go1.19.10
Mar 12 20:55:32 ubuntu etcd[60463]: Go OS/Arch: linux/amd64
Mar 12 20:55:32 ubuntu etcd[60463]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 12 20:55:32 ubuntu etcd[60463]: Running http and grpc server on single port. This is not recommended for production.
Mar 12 20:55:32 ubuntu etcd[60463]: name = ubuntu
Mar 12 20:55:32 ubuntu etcd[60463]: data dir = /opt/stack/data/etcd
Mar 12 20:55:32 ubuntu etcd[60463]: member dir = /opt/stack/data/etcd/member
Mar 12 20:55:32 ubuntu etcd[60463]: heartbeat = 100ms
Mar 12 20:55:32 ubuntu etcd[60463]: election = 1000ms
Mar 12 20:55:32 ubuntu etcd[60463]: snapshot count = 100000
Mar 12 20:55:32 ubuntu etcd[60463]: advertise client URLs = http://10.201.4.32:2379
Mar 12 20:55:32 ubuntu etcd[60463]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 12 20:55:32 ubuntu etcd[60463]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 12 20:55:32 ubuntu etcd[60463]: raft2024/03/12 20:55:32 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 12 20:55:32 ubuntu etcd[60463]: raft2024/03/12 20:55:32 INFO: 33238c1cdfea94eb became follower at term 0
Mar 12 20:55:32 ubuntu etcd[60463]: raft2024/03/12 20:55:32 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 12 20:55:32 ubuntu etcd[60463]: raft2024/03/12 20:55:32 INFO: 33238c1cdfea94eb became follower at term 1
Mar 12 20:55:32 ubuntu etcd[60463]: raft2024/03/12 20:55:32 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 12 20:55:32 ubuntu etcd[60463]: simple token is not cryptographically signed
Mar 12 20:55:32 ubuntu etcd[60463]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 12 20:55:32 ubuntu etcd[60463]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 12 20:55:32 ubuntu etcd[60463]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 12 20:55:32 ubuntu etcd[60463]: raft2024/03/12 20:55:32 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 12 20:55:32 ubuntu etcd[60463]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 12 20:55:32 ubuntu etcd[60463]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 12 20:55:32 ubuntu etcd[60463]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 12 20:55:32 ubuntu etcd[60463]: listening for peers on [::]:2380
Mar 12 20:55:32 ubuntu etcd[60463]: raft2024/03/12 20:55:32 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 12 20:55:32 ubuntu etcd[60463]: raft2024/03/12 20:55:32 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 12 20:55:32 ubuntu etcd[60463]: raft2024/03/12 20:55:32 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 12 20:55:32 ubuntu etcd[60463]: raft2024/03/12 20:55:32 INFO: 33238c1cdfea94eb became leader at term 2
Mar 12 20:55:32 ubuntu etcd[60463]: raft2024/03/12 20:55:32 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 12 20:55:32 ubuntu etcd[60463]: INFO: 2024/03/12 20:55:32 parsed scheme: ""
Mar 12 20:55:32 ubuntu etcd[60463]: INFO: 2024/03/12 20:55:32 scheme "" not registered, fallback to default scheme
Mar 12 20:55:32 ubuntu etcd[60463]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 12 20:55:32 ubuntu etcd[60463]: INFO: 2024/03/12 20:55:32 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 12 20:55:32 ubuntu etcd[60463]: INFO: 2024/03/12 20:55:32 ClientConn switching balancer to "pick_first"
Mar 12 20:55:32 ubuntu etcd[60463]: ready to serve client requests
Mar 12 20:55:32 ubuntu etcd[60463]: setting up the initial cluster version to 3.4
Mar 12 20:55:32 ubuntu etcd[60463]: set the initial cluster version to 3.4
Mar 12 20:55:32 ubuntu etcd[60463]: enabled capabilities for version 3.4
Mar 12 20:55:32 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 12 20:55:32 ubuntu etcd[60463]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 12 20:59:48 ubuntu etcd[60463]: start time = 2024-03-12 20:59:48.178263017 +0000 UTC m=+255.980642489, time spent = 431.743µs, remote = 10.201.4.32:53284, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 12 20:59:48 ubuntu etcd[60463]: start time = 2024-03-12 20:59:48.253721877 +0000 UTC m=+256.056101361, time spent = 167.684µs, remote = 10.201.4.32:53284, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 12 20:59:54 ubuntu etcd[60463]: start time = 2024-03-12 20:59:54.446201341 +0000 UTC m=+262.248580823, time spent = 142.986µs, remote = 10.201.4.32:53284, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 12 20:59:56 ubuntu etcd[60463]: start time = 2024-03-12 20:59:56.873103435 +0000 UTC m=+264.675482917, time spent = 202.958µs, remote = 10.201.4.32:53284, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
