Jul 04 16:27:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 04 16:27:46 ubuntu etcd[59188]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 04 16:27:46 ubuntu etcd[59188]:         A future release of golang/protobuf will delete this package,
Jul 04 16:27:46 ubuntu etcd[59188]:         which has long been excluded from the compatibility promise.
Jul 04 16:27:46 ubuntu etcd[59188]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 16:27:46 ubuntu etcd[59188]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 16:27:46 ubuntu etcd[59188]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 16:27:46 ubuntu etcd[59188]: etcd Version: 3.4.27
Jul 04 16:27:46 ubuntu etcd[59188]: Git SHA: c92fb80f3
Jul 04 16:27:46 ubuntu etcd[59188]: Go Version: go1.19.10
Jul 04 16:27:46 ubuntu etcd[59188]: Go OS/Arch: linux/amd64
Jul 04 16:27:46 ubuntu etcd[59188]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 04 16:27:46 ubuntu etcd[59188]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 16:27:46 ubuntu etcd[59188]: name = ubuntu
Jul 04 16:27:46 ubuntu etcd[59188]: data dir = /opt/stack/data/etcd
Jul 04 16:27:46 ubuntu etcd[59188]: member dir = /opt/stack/data/etcd/member
Jul 04 16:27:46 ubuntu etcd[59188]: heartbeat = 100ms
Jul 04 16:27:46 ubuntu etcd[59188]: election = 1000ms
Jul 04 16:27:46 ubuntu etcd[59188]: snapshot count = 100000
Jul 04 16:27:46 ubuntu etcd[59188]: advertise client URLs = http://10.201.9.223:2379
Jul 04 16:27:46 ubuntu etcd[59188]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 04 16:27:46 ubuntu etcd[59188]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 04 16:27:46 ubuntu etcd[59188]: raft2025/07/04 16:27:46 INFO: c25b29daa831042c switched to configuration voters=()
Jul 04 16:27:46 ubuntu etcd[59188]: raft2025/07/04 16:27:46 INFO: c25b29daa831042c became follower at term 0
Jul 04 16:27:46 ubuntu etcd[59188]: raft2025/07/04 16:27:46 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 04 16:27:46 ubuntu etcd[59188]: raft2025/07/04 16:27:46 INFO: c25b29daa831042c became follower at term 1
Jul 04 16:27:46 ubuntu etcd[59188]: raft2025/07/04 16:27:46 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 04 16:27:46 ubuntu etcd[59188]: simple token is not cryptographically signed
Jul 04 16:27:46 ubuntu etcd[59188]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 04 16:27:46 ubuntu etcd[59188]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 04 16:27:46 ubuntu etcd[59188]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 04 16:27:46 ubuntu etcd[59188]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 04 16:27:46 ubuntu etcd[59188]: raft2025/07/04 16:27:46 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 04 16:27:46 ubuntu etcd[59188]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 04 16:27:46 ubuntu etcd[59188]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 04 16:27:46 ubuntu etcd[59188]: listening for peers on [::]:2380
Jul 04 16:27:46 ubuntu etcd[59188]: raft2025/07/04 16:27:46 INFO: c25b29daa831042c is starting a new election at term 1
Jul 04 16:27:46 ubuntu etcd[59188]: raft2025/07/04 16:27:46 INFO: c25b29daa831042c became candidate at term 2
Jul 04 16:27:46 ubuntu etcd[59188]: raft2025/07/04 16:27:46 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 04 16:27:46 ubuntu etcd[59188]: raft2025/07/04 16:27:46 INFO: c25b29daa831042c became leader at term 2
Jul 04 16:27:46 ubuntu etcd[59188]: raft2025/07/04 16:27:46 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 04 16:27:46 ubuntu etcd[59188]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 04 16:27:46 ubuntu etcd[59188]: setting up the initial cluster version to 3.4
Jul 04 16:27:46 ubuntu etcd[59188]: ready to serve client requests
Jul 04 16:27:46 ubuntu etcd[59188]: set the initial cluster version to 3.4
Jul 04 16:27:46 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 04 16:27:46 ubuntu etcd[59188]: enabled capabilities for version 3.4
Jul 04 16:27:46 ubuntu etcd[59188]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 04 16:31:49 ubuntu etcd[59188]: start time = 2025-07-04 16:31:49.442087696 +0000 UTC m=+243.056140081, time spent = 350.128µs, remote = 10.201.9.223:34838, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 16:31:49 ubuntu etcd[59188]: start time = 2025-07-04 16:31:49.441892906 +0000 UTC m=+243.055945287, time spent = 547.089µs, remote = 10.201.9.223:34838, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 16:31:56 ubuntu etcd[59188]: start time = 2025-07-04 16:31:56.044831333 +0000 UTC m=+249.658883716, time spent = 175.637µs, remote = 10.201.9.223:34838, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 16:31:58 ubuntu etcd[59188]: start time = 2025-07-04 16:31:58.189675564 +0000 UTC m=+251.803727950, time spent = 221.002µs, remote = 10.201.9.223:34838, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
