Jul 04 23:22:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 04 23:22:29 ubuntu etcd[58949]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 04 23:22:29 ubuntu etcd[58949]:         A future release of golang/protobuf will delete this package,
Jul 04 23:22:29 ubuntu etcd[58949]:         which has long been excluded from the compatibility promise.
Jul 04 23:22:29 ubuntu etcd[58949]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 23:22:29 ubuntu etcd[58949]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 23:22:29 ubuntu etcd[58949]: etcd Version: 3.4.27
Jul 04 23:22:29 ubuntu etcd[58949]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 23:22:29 ubuntu etcd[58949]: Git SHA: c92fb80f3
Jul 04 23:22:29 ubuntu etcd[58949]: Go Version: go1.19.10
Jul 04 23:22:29 ubuntu etcd[58949]: Go OS/Arch: linux/amd64
Jul 04 23:22:29 ubuntu etcd[58949]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 04 23:22:29 ubuntu etcd[58949]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 23:22:29 ubuntu etcd[58949]: name = ubuntu
Jul 04 23:22:29 ubuntu etcd[58949]: data dir = /opt/stack/data/etcd
Jul 04 23:22:29 ubuntu etcd[58949]: member dir = /opt/stack/data/etcd/member
Jul 04 23:22:29 ubuntu etcd[58949]: heartbeat = 100ms
Jul 04 23:22:29 ubuntu etcd[58949]: election = 1000ms
Jul 04 23:22:29 ubuntu etcd[58949]: snapshot count = 100000
Jul 04 23:22:29 ubuntu etcd[58949]: advertise client URLs = http://10.201.9.223:2379
Jul 04 23:22:29 ubuntu etcd[58949]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 04 23:22:29 ubuntu etcd[58949]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 04 23:22:29 ubuntu etcd[58949]: raft2025/07/04 23:22:29 INFO: c25b29daa831042c switched to configuration voters=()
Jul 04 23:22:29 ubuntu etcd[58949]: raft2025/07/04 23:22:29 INFO: c25b29daa831042c became follower at term 0
Jul 04 23:22:29 ubuntu etcd[58949]: raft2025/07/04 23:22:29 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 04 23:22:29 ubuntu etcd[58949]: raft2025/07/04 23:22:29 INFO: c25b29daa831042c became follower at term 1
Jul 04 23:22:29 ubuntu etcd[58949]: raft2025/07/04 23:22:29 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 04 23:22:29 ubuntu etcd[58949]: simple token is not cryptographically signed
Jul 04 23:22:29 ubuntu etcd[58949]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 04 23:22:29 ubuntu etcd[58949]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 04 23:22:29 ubuntu etcd[58949]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 04 23:22:29 ubuntu etcd[58949]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 04 23:22:29 ubuntu etcd[58949]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 04 23:22:29 ubuntu etcd[58949]: raft2025/07/04 23:22:29 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 04 23:22:29 ubuntu etcd[58949]: listening for peers on [::]:2380
Jul 04 23:22:29 ubuntu etcd[58949]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 04 23:22:30 ubuntu etcd[58949]: raft2025/07/04 23:22:30 INFO: c25b29daa831042c is starting a new election at term 1
Jul 04 23:22:30 ubuntu etcd[58949]: raft2025/07/04 23:22:30 INFO: c25b29daa831042c became candidate at term 2
Jul 04 23:22:30 ubuntu etcd[58949]: raft2025/07/04 23:22:30 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 04 23:22:30 ubuntu etcd[58949]: raft2025/07/04 23:22:30 INFO: c25b29daa831042c became leader at term 2
Jul 04 23:22:30 ubuntu etcd[58949]: raft2025/07/04 23:22:30 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 04 23:22:30 ubuntu etcd[58949]: setting up the initial cluster version to 3.4
Jul 04 23:22:30 ubuntu etcd[58949]: set the initial cluster version to 3.4
Jul 04 23:22:30 ubuntu etcd[58949]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 04 23:22:30 ubuntu etcd[58949]: enabled capabilities for version 3.4
Jul 04 23:22:30 ubuntu etcd[58949]: ready to serve client requests
Jul 04 23:22:30 ubuntu etcd[58949]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 04 23:22:30 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 04 23:26:34 ubuntu etcd[58949]: start time = 2025-07-04 23:26:34.712185163 +0000 UTC m=+245.187236316, time spent = 1.24916ms, remote = 10.201.9.223:33030, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 23:26:34 ubuntu etcd[58949]: start time = 2025-07-04 23:26:34.777550705 +0000 UTC m=+245.252601874, time spent = 173.362µs, remote = 10.201.9.223:33030, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 23:26:41 ubuntu etcd[58949]: start time = 2025-07-04 23:26:41.493890059 +0000 UTC m=+251.968941226, time spent = 162.755µs, remote = 10.201.9.223:33030, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 23:26:43 ubuntu etcd[58949]: start time = 2025-07-04 23:26:43.757565929 +0000 UTC m=+254.232617095, time spent = 248.353µs, remote = 10.201.9.223:33030, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 23:22:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 04 23:22:29 ubuntu etcd[58949]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 04 23:22:29 ubuntu etcd[58949]:         A future release of golang/protobuf will delete this package,
Jul 04 23:22:29 ubuntu etcd[58949]:         which has long been excluded from the compatibility promise.
Jul 04 23:22:29 ubuntu etcd[58949]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 23:22:29 ubuntu etcd[58949]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 23:22:29 ubuntu etcd[58949]: etcd Version: 3.4.27
Jul 04 23:22:29 ubuntu etcd[58949]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 23:22:29 ubuntu etcd[58949]: Git SHA: c92fb80f3
Jul 04 23:22:29 ubuntu etcd[58949]: Go Version: go1.19.10
Jul 04 23:22:29 ubuntu etcd[58949]: Go OS/Arch: linux/amd64
Jul 04 23:22:29 ubuntu etcd[58949]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 04 23:22:29 ubuntu etcd[58949]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 23:22:29 ubuntu etcd[58949]: name = ubuntu
Jul 04 23:22:29 ubuntu etcd[58949]: data dir = /opt/stack/data/etcd
Jul 04 23:22:29 ubuntu etcd[58949]: member dir = /opt/stack/data/etcd/member
Jul 04 23:22:29 ubuntu etcd[58949]: heartbeat = 100ms
Jul 04 23:22:29 ubuntu etcd[58949]: election = 1000ms
Jul 04 23:22:29 ubuntu etcd[58949]: snapshot count = 100000
Jul 04 23:22:29 ubuntu etcd[58949]: advertise client URLs = http://10.201.9.223:2379
Jul 04 23:22:29 ubuntu etcd[58949]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 04 23:22:29 ubuntu etcd[58949]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 04 23:22:29 ubuntu etcd[58949]: raft2025/07/04 23:22:29 INFO: c25b29daa831042c switched to configuration voters=()
Jul 04 23:22:29 ubuntu etcd[58949]: raft2025/07/04 23:22:29 INFO: c25b29daa831042c became follower at term 0
Jul 04 23:22:29 ubuntu etcd[58949]: raft2025/07/04 23:22:29 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 04 23:22:29 ubuntu etcd[58949]: raft2025/07/04 23:22:29 INFO: c25b29daa831042c became follower at term 1
Jul 04 23:22:29 ubuntu etcd[58949]: raft2025/07/04 23:22:29 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 04 23:22:29 ubuntu etcd[58949]: simple token is not cryptographically signed
Jul 04 23:22:29 ubuntu etcd[58949]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 04 23:22:29 ubuntu etcd[58949]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 04 23:22:29 ubuntu etcd[58949]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 04 23:22:29 ubuntu etcd[58949]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 04 23:22:29 ubuntu etcd[58949]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 04 23:22:29 ubuntu etcd[58949]: raft2025/07/04 23:22:29 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 04 23:22:29 ubuntu etcd[58949]: listening for peers on [::]:2380
Jul 04 23:22:29 ubuntu etcd[58949]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 04 23:22:30 ubuntu etcd[58949]: raft2025/07/04 23:22:30 INFO: c25b29daa831042c is starting a new election at term 1
Jul 04 23:22:30 ubuntu etcd[58949]: raft2025/07/04 23:22:30 INFO: c25b29daa831042c became candidate at term 2
Jul 04 23:22:30 ubuntu etcd[58949]: raft2025/07/04 23:22:30 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 04 23:22:30 ubuntu etcd[58949]: raft2025/07/04 23:22:30 INFO: c25b29daa831042c became leader at term 2
Jul 04 23:22:30 ubuntu etcd[58949]: raft2025/07/04 23:22:30 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 04 23:22:30 ubuntu etcd[58949]: setting up the initial cluster version to 3.4
Jul 04 23:22:30 ubuntu etcd[58949]: set the initial cluster version to 3.4
Jul 04 23:22:30 ubuntu etcd[58949]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 04 23:22:30 ubuntu etcd[58949]: enabled capabilities for version 3.4
Jul 04 23:22:30 ubuntu etcd[58949]: ready to serve client requests
Jul 04 23:22:30 ubuntu etcd[58949]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 04 23:22:30 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 04 23:26:34 ubuntu etcd[58949]: start time = 2025-07-04 23:26:34.712185163 +0000 UTC m=+245.187236316, time spent = 1.24916ms, remote = 10.201.9.223:33030, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 23:26:34 ubuntu etcd[58949]: start time = 2025-07-04 23:26:34.777550705 +0000 UTC m=+245.252601874, time spent = 173.362µs, remote = 10.201.9.223:33030, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 23:26:41 ubuntu etcd[58949]: start time = 2025-07-04 23:26:41.493890059 +0000 UTC m=+251.968941226, time spent = 162.755µs, remote = 10.201.9.223:33030, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 23:26:43 ubuntu etcd[58949]: start time = 2025-07-04 23:26:43.757565929 +0000 UTC m=+254.232617095, time spent = 248.353µs, remote = 10.201.9.223:33030, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
