Dec 10 03:59:34 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 10 03:59:34 ubuntu etcd[59432]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 10 03:59:34 ubuntu etcd[59432]:         A future release of golang/protobuf will delete this package,
Dec 10 03:59:34 ubuntu etcd[59432]:         which has long been excluded from the compatibility promise.
Dec 10 03:59:34 ubuntu etcd[59432]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 10 03:59:34 ubuntu etcd[59432]: Running http and grpc server on single port. This is not recommended for production.
Dec 10 03:59:34 ubuntu etcd[59432]: etcd Version: 3.4.27
Dec 10 03:59:34 ubuntu etcd[59432]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 10 03:59:34 ubuntu etcd[59432]: Git SHA: c92fb80f3
Dec 10 03:59:34 ubuntu etcd[59432]: Go Version: go1.19.10
Dec 10 03:59:34 ubuntu etcd[59432]: Go OS/Arch: linux/amd64
Dec 10 03:59:34 ubuntu etcd[59432]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 10 03:59:34 ubuntu etcd[59432]: Running http and grpc server on single port. This is not recommended for production.
Dec 10 03:59:34 ubuntu etcd[59432]: name = ubuntu
Dec 10 03:59:34 ubuntu etcd[59432]: data dir = /opt/stack/data/etcd
Dec 10 03:59:34 ubuntu etcd[59432]: member dir = /opt/stack/data/etcd/member
Dec 10 03:59:34 ubuntu etcd[59432]: heartbeat = 100ms
Dec 10 03:59:34 ubuntu etcd[59432]: election = 1000ms
Dec 10 03:59:34 ubuntu etcd[59432]: snapshot count = 100000
Dec 10 03:59:34 ubuntu etcd[59432]: advertise client URLs = http://10.201.9.223:2379
Dec 10 03:59:34 ubuntu etcd[59432]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 10 03:59:35 ubuntu etcd[59432]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 10 03:59:35 ubuntu etcd[59432]: raft2024/12/10 03:59:35 INFO: c25b29daa831042c switched to configuration voters=()
Dec 10 03:59:35 ubuntu etcd[59432]: raft2024/12/10 03:59:35 INFO: c25b29daa831042c became follower at term 0
Dec 10 03:59:35 ubuntu etcd[59432]: raft2024/12/10 03:59:35 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 10 03:59:35 ubuntu etcd[59432]: raft2024/12/10 03:59:35 INFO: c25b29daa831042c became follower at term 1
Dec 10 03:59:35 ubuntu etcd[59432]: raft2024/12/10 03:59:35 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 10 03:59:35 ubuntu etcd[59432]: simple token is not cryptographically signed
Dec 10 03:59:35 ubuntu etcd[59432]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 10 03:59:35 ubuntu etcd[59432]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 10 03:59:35 ubuntu etcd[59432]: raft2024/12/10 03:59:35 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 10 03:59:35 ubuntu etcd[59432]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 10 03:59:35 ubuntu etcd[59432]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 10 03:59:35 ubuntu etcd[59432]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 10 03:59:35 ubuntu etcd[59432]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 10 03:59:35 ubuntu etcd[59432]: listening for peers on [::]:2380
Dec 10 03:59:35 ubuntu etcd[59432]: raft2024/12/10 03:59:35 INFO: c25b29daa831042c is starting a new election at term 1
Dec 10 03:59:35 ubuntu etcd[59432]: raft2024/12/10 03:59:35 INFO: c25b29daa831042c became candidate at term 2
Dec 10 03:59:35 ubuntu etcd[59432]: raft2024/12/10 03:59:35 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 10 03:59:35 ubuntu etcd[59432]: raft2024/12/10 03:59:35 INFO: c25b29daa831042c became leader at term 2
Dec 10 03:59:35 ubuntu etcd[59432]: raft2024/12/10 03:59:35 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 10 03:59:35 ubuntu etcd[59432]: ready to serve client requests
Dec 10 03:59:35 ubuntu etcd[59432]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 10 03:59:35 ubuntu etcd[59432]: setting up the initial cluster version to 3.4
Dec 10 03:59:35 ubuntu etcd[59432]: set the initial cluster version to 3.4
Dec 10 03:59:35 ubuntu etcd[59432]: enabled capabilities for version 3.4
Dec 10 03:59:35 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 10 03:59:35 ubuntu etcd[59432]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 10 04:03:55 ubuntu etcd[59432]: start time = 2024-12-10 04:03:55.340476918 +0000 UTC m=+260.372308798, time spent = 397.874µs, remote = 10.201.9.223:46534, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 10 04:03:55 ubuntu etcd[59432]: start time = 2024-12-10 04:03:55.347292947 +0000 UTC m=+260.379124840, time spent = 172.677µs, remote = 10.201.9.223:46534, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 10 04:04:01 ubuntu etcd[59432]: start time = 2024-12-10 04:04:01.894305021 +0000 UTC m=+266.926136912, time spent = 157.424µs, remote = 10.201.9.223:46534, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 10 04:04:04 ubuntu etcd[59432]: start time = 2024-12-10 04:04:04.090206875 +0000 UTC m=+269.122038753, time spent = 168.329µs, remote = 10.201.9.223:46534, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
