Jan 10 13:12:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 10 13:12:37 ubuntu etcd[59296]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 10 13:12:37 ubuntu etcd[59296]:         A future release of golang/protobuf will delete this package,
Jan 10 13:12:37 ubuntu etcd[59296]:         which has long been excluded from the compatibility promise.
Jan 10 13:12:37 ubuntu etcd[59296]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 10 13:12:37 ubuntu etcd[59296]: Running http and grpc server on single port. This is not recommended for production.
Jan 10 13:12:37 ubuntu etcd[59296]: etcd Version: 3.4.27
Jan 10 13:12:37 ubuntu etcd[59296]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 10 13:12:37 ubuntu etcd[59296]: Git SHA: c92fb80f3
Jan 10 13:12:37 ubuntu etcd[59296]: Go Version: go1.19.10
Jan 10 13:12:37 ubuntu etcd[59296]: Go OS/Arch: linux/amd64
Jan 10 13:12:37 ubuntu etcd[59296]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 10 13:12:37 ubuntu etcd[59296]: Running http and grpc server on single port. This is not recommended for production.
Jan 10 13:12:37 ubuntu etcd[59296]: name = ubuntu
Jan 10 13:12:37 ubuntu etcd[59296]: data dir = /opt/stack/data/etcd
Jan 10 13:12:37 ubuntu etcd[59296]: member dir = /opt/stack/data/etcd/member
Jan 10 13:12:37 ubuntu etcd[59296]: heartbeat = 100ms
Jan 10 13:12:37 ubuntu etcd[59296]: election = 1000ms
Jan 10 13:12:37 ubuntu etcd[59296]: snapshot count = 100000
Jan 10 13:12:37 ubuntu etcd[59296]: advertise client URLs = http://10.201.9.223:2379
Jan 10 13:12:37 ubuntu etcd[59296]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 10 13:12:37 ubuntu etcd[59296]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 10 13:12:37 ubuntu etcd[59296]: raft2025/01/10 13:12:37 INFO: c25b29daa831042c switched to configuration voters=()
Jan 10 13:12:37 ubuntu etcd[59296]: raft2025/01/10 13:12:37 INFO: c25b29daa831042c became follower at term 0
Jan 10 13:12:37 ubuntu etcd[59296]: raft2025/01/10 13:12:37 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 10 13:12:37 ubuntu etcd[59296]: raft2025/01/10 13:12:37 INFO: c25b29daa831042c became follower at term 1
Jan 10 13:12:37 ubuntu etcd[59296]: raft2025/01/10 13:12:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 10 13:12:37 ubuntu etcd[59296]: simple token is not cryptographically signed
Jan 10 13:12:37 ubuntu etcd[59296]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 10 13:12:37 ubuntu etcd[59296]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 10 13:12:37 ubuntu etcd[59296]: raft2025/01/10 13:12:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 10 13:12:37 ubuntu etcd[59296]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 10 13:12:37 ubuntu etcd[59296]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 10 13:12:37 ubuntu etcd[59296]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 10 13:12:37 ubuntu etcd[59296]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 10 13:12:37 ubuntu etcd[59296]: listening for peers on [::]:2380
Jan 10 13:12:38 ubuntu etcd[59296]: raft2025/01/10 13:12:38 INFO: c25b29daa831042c is starting a new election at term 1
Jan 10 13:12:38 ubuntu etcd[59296]: raft2025/01/10 13:12:38 INFO: c25b29daa831042c became candidate at term 2
Jan 10 13:12:38 ubuntu etcd[59296]: raft2025/01/10 13:12:38 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 10 13:12:38 ubuntu etcd[59296]: raft2025/01/10 13:12:38 INFO: c25b29daa831042c became leader at term 2
Jan 10 13:12:38 ubuntu etcd[59296]: raft2025/01/10 13:12:38 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 10 13:12:38 ubuntu etcd[59296]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 10 13:12:38 ubuntu etcd[59296]: setting up the initial cluster version to 3.4
Jan 10 13:12:38 ubuntu etcd[59296]: ready to serve client requests
Jan 10 13:12:38 ubuntu etcd[59296]: set the initial cluster version to 3.4
Jan 10 13:12:38 ubuntu etcd[59296]: enabled capabilities for version 3.4
Jan 10 13:12:38 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 10 13:12:38 ubuntu etcd[59296]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 10 13:16:57 ubuntu etcd[59296]: start time = 2025-01-10 13:16:57.475927837 +0000 UTC m=+259.978660526, time spent = 462.862µs, remote = 10.201.9.223:36616, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 10 13:16:57 ubuntu etcd[59296]: start time = 2025-01-10 13:16:57.487597517 +0000 UTC m=+259.990330205, time spent = 196.336µs, remote = 10.201.9.223:36616, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 10 13:17:04 ubuntu etcd[59296]: start time = 2025-01-10 13:17:03.999873652 +0000 UTC m=+266.502606338, time spent = 182.647µs, remote = 10.201.9.223:36616, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 10 13:17:05 ubuntu etcd[59296]: start time = 2025-01-10 13:17:05.96235694 +0000 UTC m=+268.465089643, time spent = 176.8µs, remote = 10.201.9.223:36616, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
