May 29 16:07:24 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 29 16:07:24 ubuntu etcd[59177]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 29 16:07:24 ubuntu etcd[59177]:         A future release of golang/protobuf will delete this package,
May 29 16:07:24 ubuntu etcd[59177]:         which has long been excluded from the compatibility promise.
May 29 16:07:24 ubuntu etcd[59177]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 29 16:07:24 ubuntu etcd[59177]: Running http and grpc server on single port. This is not recommended for production.
May 29 16:07:24 ubuntu etcd[59177]: etcd Version: 3.4.27
May 29 16:07:24 ubuntu etcd[59177]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 29 16:07:24 ubuntu etcd[59177]: Git SHA: c92fb80f3
May 29 16:07:24 ubuntu etcd[59177]: Go Version: go1.19.10
May 29 16:07:24 ubuntu etcd[59177]: Go OS/Arch: linux/amd64
May 29 16:07:24 ubuntu etcd[59177]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 29 16:07:24 ubuntu etcd[59177]: Running http and grpc server on single port. This is not recommended for production.
May 29 16:07:24 ubuntu etcd[59177]: name = ubuntu
May 29 16:07:24 ubuntu etcd[59177]: data dir = /opt/stack/data/etcd
May 29 16:07:24 ubuntu etcd[59177]: member dir = /opt/stack/data/etcd/member
May 29 16:07:24 ubuntu etcd[59177]: heartbeat = 100ms
May 29 16:07:24 ubuntu etcd[59177]: election = 1000ms
May 29 16:07:24 ubuntu etcd[59177]: snapshot count = 100000
May 29 16:07:24 ubuntu etcd[59177]: advertise client URLs = http://10.201.9.223:2379
May 29 16:07:24 ubuntu etcd[59177]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 29 16:07:24 ubuntu etcd[59177]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 29 16:07:24 ubuntu etcd[59177]: raft2025/05/29 16:07:24 INFO: c25b29daa831042c switched to configuration voters=()
May 29 16:07:24 ubuntu etcd[59177]: raft2025/05/29 16:07:24 INFO: c25b29daa831042c became follower at term 0
May 29 16:07:24 ubuntu etcd[59177]: raft2025/05/29 16:07:24 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 29 16:07:24 ubuntu etcd[59177]: raft2025/05/29 16:07:24 INFO: c25b29daa831042c became follower at term 1
May 29 16:07:24 ubuntu etcd[59177]: raft2025/05/29 16:07:24 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 29 16:07:24 ubuntu etcd[59177]: simple token is not cryptographically signed
May 29 16:07:24 ubuntu etcd[59177]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 29 16:07:24 ubuntu etcd[59177]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 29 16:07:24 ubuntu etcd[59177]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 29 16:07:24 ubuntu etcd[59177]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 29 16:07:24 ubuntu etcd[59177]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 29 16:07:24 ubuntu etcd[59177]: raft2025/05/29 16:07:24 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 29 16:07:24 ubuntu etcd[59177]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 29 16:07:24 ubuntu etcd[59177]: listening for peers on [::]:2380
May 29 16:07:25 ubuntu etcd[59177]: raft2025/05/29 16:07:25 INFO: c25b29daa831042c is starting a new election at term 1
May 29 16:07:25 ubuntu etcd[59177]: raft2025/05/29 16:07:25 INFO: c25b29daa831042c became candidate at term 2
May 29 16:07:25 ubuntu etcd[59177]: raft2025/05/29 16:07:25 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 29 16:07:25 ubuntu etcd[59177]: raft2025/05/29 16:07:25 INFO: c25b29daa831042c became leader at term 2
May 29 16:07:25 ubuntu etcd[59177]: raft2025/05/29 16:07:25 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 29 16:07:25 ubuntu etcd[59177]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 29 16:07:25 ubuntu etcd[59177]: ready to serve client requests
May 29 16:07:25 ubuntu etcd[59177]: setting up the initial cluster version to 3.4
May 29 16:07:25 ubuntu etcd[59177]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 29 16:07:25 ubuntu etcd[59177]: set the initial cluster version to 3.4
May 29 16:07:25 ubuntu etcd[59177]: enabled capabilities for version 3.4
May 29 16:07:25 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 29 16:11:32 ubuntu etcd[59177]: start time = 2025-05-29 16:11:32.776023644 +0000 UTC m=+248.054144179, time spent = 406.74µs, remote = 10.201.9.223:42770, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 16:11:32 ubuntu etcd[59177]: start time = 2025-05-29 16:11:32.808156724 +0000 UTC m=+248.086277277, time spent = 243.64µs, remote = 10.201.9.223:42770, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 16:11:39 ubuntu etcd[59177]: start time = 2025-05-29 16:11:39.279338398 +0000 UTC m=+254.557458933, time spent = 257.418µs, remote = 10.201.9.223:42770, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 16:11:41 ubuntu etcd[59177]: start time = 2025-05-29 16:11:41.197241108 +0000 UTC m=+256.475361659, time spent = 300.146µs, remote = 10.201.9.223:42770, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
