May 26 08:26:20 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 26 08:26:20 ubuntu etcd[60574]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 26 08:26:20 ubuntu etcd[60574]:         A future release of golang/protobuf will delete this package,
May 26 08:26:20 ubuntu etcd[60574]:         which has long been excluded from the compatibility promise.
May 26 08:26:20 ubuntu etcd[60574]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 26 08:26:20 ubuntu etcd[60574]: Running http and grpc server on single port. This is not recommended for production.
May 26 08:26:20 ubuntu etcd[60574]: etcd Version: 3.4.27
May 26 08:26:20 ubuntu etcd[60574]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 26 08:26:20 ubuntu etcd[60574]: Git SHA: c92fb80f3
May 26 08:26:20 ubuntu etcd[60574]: Go Version: go1.19.10
May 26 08:26:20 ubuntu etcd[60574]: Go OS/Arch: linux/amd64
May 26 08:26:20 ubuntu etcd[60574]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 26 08:26:20 ubuntu etcd[60574]: Running http and grpc server on single port. This is not recommended for production.
May 26 08:26:20 ubuntu etcd[60574]: name = ubuntu
May 26 08:26:20 ubuntu etcd[60574]: data dir = /opt/stack/data/etcd
May 26 08:26:20 ubuntu etcd[60574]: member dir = /opt/stack/data/etcd/member
May 26 08:26:20 ubuntu etcd[60574]: heartbeat = 100ms
May 26 08:26:20 ubuntu etcd[60574]: election = 1000ms
May 26 08:26:20 ubuntu etcd[60574]: snapshot count = 100000
May 26 08:26:20 ubuntu etcd[60574]: advertise client URLs = http://10.201.9.223:2379
May 26 08:26:20 ubuntu etcd[60574]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 26 08:26:20 ubuntu etcd[60574]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 26 08:26:20 ubuntu etcd[60574]: raft2025/05/26 08:26:20 INFO: c25b29daa831042c switched to configuration voters=()
May 26 08:26:20 ubuntu etcd[60574]: raft2025/05/26 08:26:20 INFO: c25b29daa831042c became follower at term 0
May 26 08:26:20 ubuntu etcd[60574]: raft2025/05/26 08:26:20 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 26 08:26:20 ubuntu etcd[60574]: raft2025/05/26 08:26:20 INFO: c25b29daa831042c became follower at term 1
May 26 08:26:20 ubuntu etcd[60574]: raft2025/05/26 08:26:20 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 26 08:26:20 ubuntu etcd[60574]: simple token is not cryptographically signed
May 26 08:26:20 ubuntu etcd[60574]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 26 08:26:20 ubuntu etcd[60574]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 26 08:26:20 ubuntu etcd[60574]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 26 08:26:20 ubuntu etcd[60574]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 26 08:26:20 ubuntu etcd[60574]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 26 08:26:20 ubuntu etcd[60574]: raft2025/05/26 08:26:20 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 26 08:26:20 ubuntu etcd[60574]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 26 08:26:20 ubuntu etcd[60574]: listening for peers on [::]:2380
May 26 08:26:20 ubuntu etcd[60574]: raft2025/05/26 08:26:20 INFO: c25b29daa831042c is starting a new election at term 1
May 26 08:26:20 ubuntu etcd[60574]: raft2025/05/26 08:26:20 INFO: c25b29daa831042c became candidate at term 2
May 26 08:26:20 ubuntu etcd[60574]: raft2025/05/26 08:26:20 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 26 08:26:20 ubuntu etcd[60574]: raft2025/05/26 08:26:20 INFO: c25b29daa831042c became leader at term 2
May 26 08:26:20 ubuntu etcd[60574]: raft2025/05/26 08:26:20 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 26 08:26:20 ubuntu etcd[60574]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 26 08:26:20 ubuntu etcd[60574]: ready to serve client requests
May 26 08:26:20 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 26 08:26:20 ubuntu etcd[60574]: setting up the initial cluster version to 3.4
May 26 08:26:20 ubuntu etcd[60574]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 26 08:26:20 ubuntu etcd[60574]: set the initial cluster version to 3.4
May 26 08:26:20 ubuntu etcd[60574]: enabled capabilities for version 3.4
May 26 08:30:27 ubuntu etcd[60574]: start time = 2025-05-26 08:30:27.036302357 +0000 UTC m=+246.875282194, time spent = 528.098µs, remote = 10.201.9.223:35618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 08:30:27 ubuntu etcd[60574]: start time = 2025-05-26 08:30:27.130781216 +0000 UTC m=+246.969761075, time spent = 141.203µs, remote = 10.201.9.223:35618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 08:30:33 ubuntu etcd[60574]: start time = 2025-05-26 08:30:33.706515309 +0000 UTC m=+253.545495163, time spent = 212.041µs, remote = 10.201.9.223:35618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 08:30:35 ubuntu etcd[60574]: start time = 2025-05-26 08:30:35.736061239 +0000 UTC m=+255.575041092, time spent = 1.002738ms, remote = 10.201.9.223:35618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
