Feb 01 19:04:08 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 01 19:04:08 ubuntu etcd[60037]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 01 19:04:08 ubuntu etcd[60037]:         A future release of golang/protobuf will delete this package,
Feb 01 19:04:08 ubuntu etcd[60037]:         which has long been excluded from the compatibility promise.
Feb 01 19:04:08 ubuntu etcd[60037]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 01 19:04:08 ubuntu etcd[60037]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 01 19:04:08 ubuntu etcd[60037]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 01 19:04:08 ubuntu etcd[60037]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 01 19:04:08 ubuntu etcd[60037]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 01 19:04:08 ubuntu etcd[60037]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 01 19:04:08 ubuntu etcd[60037]: Running http and grpc server on single port. This is not recommended for production.
Feb 01 19:04:08 ubuntu etcd[60037]: etcd Version: 3.4.27
Feb 01 19:04:08 ubuntu etcd[60037]: Git SHA: c92fb80f3
Feb 01 19:04:08 ubuntu etcd[60037]: Go Version: go1.19.10
Feb 01 19:04:08 ubuntu etcd[60037]: Go OS/Arch: linux/amd64
Feb 01 19:04:08 ubuntu etcd[60037]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 01 19:04:08 ubuntu etcd[60037]: Running http and grpc server on single port. This is not recommended for production.
Feb 01 19:04:08 ubuntu etcd[60037]: name = ubuntu
Feb 01 19:04:08 ubuntu etcd[60037]: data dir = /opt/stack/data/etcd
Feb 01 19:04:08 ubuntu etcd[60037]: member dir = /opt/stack/data/etcd/member
Feb 01 19:04:08 ubuntu etcd[60037]: heartbeat = 100ms
Feb 01 19:04:08 ubuntu etcd[60037]: election = 1000ms
Feb 01 19:04:08 ubuntu etcd[60037]: snapshot count = 100000
Feb 01 19:04:08 ubuntu etcd[60037]: advertise client URLs = http://10.201.4.32:2379
Feb 01 19:04:08 ubuntu etcd[60037]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 01 19:04:08 ubuntu etcd[60037]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb became follower at term 0
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb became follower at term 1
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 01 19:04:08 ubuntu etcd[60037]: simple token is not cryptographically signed
Feb 01 19:04:08 ubuntu etcd[60037]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 01 19:04:08 ubuntu etcd[60037]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 01 19:04:08 ubuntu etcd[60037]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 01 19:04:08 ubuntu etcd[60037]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 01 19:04:08 ubuntu etcd[60037]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 01 19:04:08 ubuntu etcd[60037]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 01 19:04:08 ubuntu etcd[60037]: listening for peers on [::]:2380
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb became leader at term 2
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 01 19:04:08 ubuntu etcd[60037]: setting up the initial cluster version to 3.4
Feb 01 19:04:08 ubuntu etcd[60037]: set the initial cluster version to 3.4
Feb 01 19:04:08 ubuntu etcd[60037]: INFO: 2024/02/01 19:04:08 parsed scheme: ""
Feb 01 19:04:08 ubuntu etcd[60037]: INFO: 2024/02/01 19:04:08 scheme "" not registered, fallback to default scheme
Feb 01 19:04:08 ubuntu etcd[60037]: ready to serve client requests
Feb 01 19:04:08 ubuntu etcd[60037]: INFO: 2024/02/01 19:04:08 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 01 19:04:08 ubuntu etcd[60037]: INFO: 2024/02/01 19:04:08 ClientConn switching balancer to "pick_first"
Feb 01 19:04:08 ubuntu etcd[60037]: enabled capabilities for version 3.4
Feb 01 19:04:08 ubuntu etcd[60037]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 01 19:04:08 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 01 19:04:08 ubuntu etcd[60037]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 01 19:08:25 ubuntu etcd[60037]: start time = 2024-02-01 19:08:25.995768552 +0000 UTC m=+257.910028011, time spent = 419.196µs, remote = 10.201.4.32:45318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 01 19:08:26 ubuntu etcd[60037]: start time = 2024-02-01 19:08:26.08311137 +0000 UTC m=+257.997370829, time spent = 188.35µs, remote = 10.201.4.32:45318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 01 19:08:32 ubuntu etcd[60037]: start time = 2024-02-01 19:08:32.720198408 +0000 UTC m=+264.634457869, time spent = 335.881µs, remote = 10.201.4.32:45318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 01 19:08:34 ubuntu etcd[60037]: start time = 2024-02-01 19:08:34.832127218 +0000 UTC m=+266.746386680, time spent = 3.222035ms, remote = 10.201.4.32:45318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 01 19:04:08 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 01 19:04:08 ubuntu etcd[60037]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 01 19:04:08 ubuntu etcd[60037]:         A future release of golang/protobuf will delete this package,
Feb 01 19:04:08 ubuntu etcd[60037]:         which has long been excluded from the compatibility promise.
Feb 01 19:04:08 ubuntu etcd[60037]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 01 19:04:08 ubuntu etcd[60037]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 01 19:04:08 ubuntu etcd[60037]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 01 19:04:08 ubuntu etcd[60037]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 01 19:04:08 ubuntu etcd[60037]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 01 19:04:08 ubuntu etcd[60037]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 01 19:04:08 ubuntu etcd[60037]: Running http and grpc server on single port. This is not recommended for production.
Feb 01 19:04:08 ubuntu etcd[60037]: etcd Version: 3.4.27
Feb 01 19:04:08 ubuntu etcd[60037]: Git SHA: c92fb80f3
Feb 01 19:04:08 ubuntu etcd[60037]: Go Version: go1.19.10
Feb 01 19:04:08 ubuntu etcd[60037]: Go OS/Arch: linux/amd64
Feb 01 19:04:08 ubuntu etcd[60037]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 01 19:04:08 ubuntu etcd[60037]: Running http and grpc server on single port. This is not recommended for production.
Feb 01 19:04:08 ubuntu etcd[60037]: name = ubuntu
Feb 01 19:04:08 ubuntu etcd[60037]: data dir = /opt/stack/data/etcd
Feb 01 19:04:08 ubuntu etcd[60037]: member dir = /opt/stack/data/etcd/member
Feb 01 19:04:08 ubuntu etcd[60037]: heartbeat = 100ms
Feb 01 19:04:08 ubuntu etcd[60037]: election = 1000ms
Feb 01 19:04:08 ubuntu etcd[60037]: snapshot count = 100000
Feb 01 19:04:08 ubuntu etcd[60037]: advertise client URLs = http://10.201.4.32:2379
Feb 01 19:04:08 ubuntu etcd[60037]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 01 19:04:08 ubuntu etcd[60037]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb became follower at term 0
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb became follower at term 1
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 01 19:04:08 ubuntu etcd[60037]: simple token is not cryptographically signed
Feb 01 19:04:08 ubuntu etcd[60037]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 01 19:04:08 ubuntu etcd[60037]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 01 19:04:08 ubuntu etcd[60037]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 01 19:04:08 ubuntu etcd[60037]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 01 19:04:08 ubuntu etcd[60037]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 01 19:04:08 ubuntu etcd[60037]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 01 19:04:08 ubuntu etcd[60037]: listening for peers on [::]:2380
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: 33238c1cdfea94eb became leader at term 2
Feb 01 19:04:08 ubuntu etcd[60037]: raft2024/02/01 19:04:08 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 01 19:04:08 ubuntu etcd[60037]: setting up the initial cluster version to 3.4
Feb 01 19:04:08 ubuntu etcd[60037]: set the initial cluster version to 3.4
Feb 01 19:04:08 ubuntu etcd[60037]: INFO: 2024/02/01 19:04:08 parsed scheme: ""
Feb 01 19:04:08 ubuntu etcd[60037]: INFO: 2024/02/01 19:04:08 scheme "" not registered, fallback to default scheme
Feb 01 19:04:08 ubuntu etcd[60037]: ready to serve client requests
Feb 01 19:04:08 ubuntu etcd[60037]: INFO: 2024/02/01 19:04:08 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 01 19:04:08 ubuntu etcd[60037]: INFO: 2024/02/01 19:04:08 ClientConn switching balancer to "pick_first"
Feb 01 19:04:08 ubuntu etcd[60037]: enabled capabilities for version 3.4
Feb 01 19:04:08 ubuntu etcd[60037]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 01 19:04:08 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 01 19:04:08 ubuntu etcd[60037]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 01 19:08:25 ubuntu etcd[60037]: start time = 2024-02-01 19:08:25.995768552 +0000 UTC m=+257.910028011, time spent = 419.196µs, remote = 10.201.4.32:45318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 01 19:08:26 ubuntu etcd[60037]: start time = 2024-02-01 19:08:26.08311137 +0000 UTC m=+257.997370829, time spent = 188.35µs, remote = 10.201.4.32:45318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 01 19:08:32 ubuntu etcd[60037]: start time = 2024-02-01 19:08:32.720198408 +0000 UTC m=+264.634457869, time spent = 335.881µs, remote = 10.201.4.32:45318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 01 19:08:34 ubuntu etcd[60037]: start time = 2024-02-01 19:08:34.832127218 +0000 UTC m=+266.746386680, time spent = 3.222035ms, remote = 10.201.4.32:45318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
