Oct 18 14:22:15 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 18 14:22:15 ubuntu etcd[59439]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 18 14:22:15 ubuntu etcd[59439]:         A future release of golang/protobuf will delete this package,
Oct 18 14:22:15 ubuntu etcd[59439]:         which has long been excluded from the compatibility promise.
Oct 18 14:22:15 ubuntu etcd[59439]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 18 14:22:15 ubuntu etcd[59439]: Running http and grpc server on single port. This is not recommended for production.
Oct 18 14:22:15 ubuntu etcd[59439]: etcd Version: 3.4.27
Oct 18 14:22:15 ubuntu etcd[59439]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 18 14:22:15 ubuntu etcd[59439]: Git SHA: c92fb80f3
Oct 18 14:22:15 ubuntu etcd[59439]: Go Version: go1.19.10
Oct 18 14:22:15 ubuntu etcd[59439]: Go OS/Arch: linux/amd64
Oct 18 14:22:15 ubuntu etcd[59439]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 18 14:22:15 ubuntu etcd[59439]: Running http and grpc server on single port. This is not recommended for production.
Oct 18 14:22:15 ubuntu etcd[59439]: name = ubuntu
Oct 18 14:22:15 ubuntu etcd[59439]: data dir = /opt/stack/data/etcd
Oct 18 14:22:15 ubuntu etcd[59439]: member dir = /opt/stack/data/etcd/member
Oct 18 14:22:15 ubuntu etcd[59439]: heartbeat = 100ms
Oct 18 14:22:15 ubuntu etcd[59439]: election = 1000ms
Oct 18 14:22:15 ubuntu etcd[59439]: snapshot count = 100000
Oct 18 14:22:15 ubuntu etcd[59439]: advertise client URLs = http://10.201.4.32:2379
Oct 18 14:22:15 ubuntu etcd[59439]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 18 14:22:15 ubuntu etcd[59439]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 18 14:22:15 ubuntu etcd[59439]: raft2024/10/18 14:22:15 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 18 14:22:15 ubuntu etcd[59439]: raft2024/10/18 14:22:15 INFO: 33238c1cdfea94eb became follower at term 0
Oct 18 14:22:15 ubuntu etcd[59439]: raft2024/10/18 14:22:15 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 18 14:22:15 ubuntu etcd[59439]: raft2024/10/18 14:22:15 INFO: 33238c1cdfea94eb became follower at term 1
Oct 18 14:22:15 ubuntu etcd[59439]: raft2024/10/18 14:22:15 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 18 14:22:15 ubuntu etcd[59439]: simple token is not cryptographically signed
Oct 18 14:22:15 ubuntu etcd[59439]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 18 14:22:15 ubuntu etcd[59439]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 18 14:22:15 ubuntu etcd[59439]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 18 14:22:15 ubuntu etcd[59439]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 18 14:22:15 ubuntu etcd[59439]: raft2024/10/18 14:22:15 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 18 14:22:15 ubuntu etcd[59439]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 18 14:22:15 ubuntu etcd[59439]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 18 14:22:15 ubuntu etcd[59439]: listening for peers on [::]:2380
Oct 18 14:22:16 ubuntu etcd[59439]: raft2024/10/18 14:22:16 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 18 14:22:16 ubuntu etcd[59439]: raft2024/10/18 14:22:16 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 18 14:22:16 ubuntu etcd[59439]: raft2024/10/18 14:22:16 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 18 14:22:16 ubuntu etcd[59439]: raft2024/10/18 14:22:16 INFO: 33238c1cdfea94eb became leader at term 2
Oct 18 14:22:16 ubuntu etcd[59439]: raft2024/10/18 14:22:16 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 18 14:22:16 ubuntu etcd[59439]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 18 14:22:16 ubuntu etcd[59439]: ready to serve client requests
Oct 18 14:22:16 ubuntu etcd[59439]: setting up the initial cluster version to 3.4
Oct 18 14:22:16 ubuntu etcd[59439]: set the initial cluster version to 3.4
Oct 18 14:22:16 ubuntu etcd[59439]: enabled capabilities for version 3.4
Oct 18 14:22:16 ubuntu etcd[59439]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 18 14:22:16 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 18 14:26:33 ubuntu etcd[59439]: start time = 2024-10-18 14:26:33.804353038 +0000 UTC m=+257.905228038, time spent = 421.753µs, remote = 10.201.4.32:48802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 18 14:26:33 ubuntu etcd[59439]: start time = 2024-10-18 14:26:33.829633862 +0000 UTC m=+257.930508873, time spent = 183.605µs, remote = 10.201.4.32:48802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 18 14:26:40 ubuntu etcd[59439]: start time = 2024-10-18 14:26:40.542722752 +0000 UTC m=+264.643597771, time spent = 285.136µs, remote = 10.201.4.32:48802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 18 14:26:42 ubuntu etcd[59439]: start time = 2024-10-18 14:26:42.375403264 +0000 UTC m=+266.476278276, time spent = 186.146µs, remote = 10.201.4.32:48802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
