Apr 03 18:37:00 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 03 18:37:00 ubuntu etcd[57445]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 03 18:37:00 ubuntu etcd[57445]:         A future release of golang/protobuf will delete this package,
Apr 03 18:37:00 ubuntu etcd[57445]:         which has long been excluded from the compatibility promise.
Apr 03 18:37:00 ubuntu etcd[57445]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 03 18:37:00 ubuntu etcd[57445]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 03 18:37:00 ubuntu etcd[57445]: Running http and grpc server on single port. This is not recommended for production.
Apr 03 18:37:00 ubuntu etcd[57445]: etcd Version: 3.4.27
Apr 03 18:37:00 ubuntu etcd[57445]: Git SHA: c92fb80f3
Apr 03 18:37:00 ubuntu etcd[57445]: Go Version: go1.19.10
Apr 03 18:37:00 ubuntu etcd[57445]: Go OS/Arch: linux/amd64
Apr 03 18:37:00 ubuntu etcd[57445]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 03 18:37:00 ubuntu etcd[57445]: Running http and grpc server on single port. This is not recommended for production.
Apr 03 18:37:00 ubuntu etcd[57445]: name = ubuntu
Apr 03 18:37:00 ubuntu etcd[57445]: data dir = /opt/stack/data/etcd
Apr 03 18:37:00 ubuntu etcd[57445]: member dir = /opt/stack/data/etcd/member
Apr 03 18:37:00 ubuntu etcd[57445]: heartbeat = 100ms
Apr 03 18:37:00 ubuntu etcd[57445]: election = 1000ms
Apr 03 18:37:00 ubuntu etcd[57445]: snapshot count = 100000
Apr 03 18:37:00 ubuntu etcd[57445]: advertise client URLs = http://10.201.9.223:2379
Apr 03 18:37:00 ubuntu etcd[57445]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 03 18:37:00 ubuntu etcd[57445]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 03 18:37:00 ubuntu etcd[57445]: raft2025/04/03 18:37:00 INFO: c25b29daa831042c switched to configuration voters=()
Apr 03 18:37:00 ubuntu etcd[57445]: raft2025/04/03 18:37:00 INFO: c25b29daa831042c became follower at term 0
Apr 03 18:37:00 ubuntu etcd[57445]: raft2025/04/03 18:37:00 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 03 18:37:00 ubuntu etcd[57445]: raft2025/04/03 18:37:00 INFO: c25b29daa831042c became follower at term 1
Apr 03 18:37:00 ubuntu etcd[57445]: raft2025/04/03 18:37:00 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 03 18:37:00 ubuntu etcd[57445]: simple token is not cryptographically signed
Apr 03 18:37:00 ubuntu etcd[57445]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 03 18:37:00 ubuntu etcd[57445]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 03 18:37:00 ubuntu etcd[57445]: raft2025/04/03 18:37:00 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 03 18:37:00 ubuntu etcd[57445]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 03 18:37:00 ubuntu etcd[57445]: listening for peers on [::]:2380
Apr 03 18:37:00 ubuntu etcd[57445]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 03 18:37:00 ubuntu etcd[57445]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 03 18:37:00 ubuntu etcd[57445]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 03 18:37:00 ubuntu etcd[57445]: raft2025/04/03 18:37:00 INFO: c25b29daa831042c is starting a new election at term 1
Apr 03 18:37:00 ubuntu etcd[57445]: raft2025/04/03 18:37:00 INFO: c25b29daa831042c became candidate at term 2
Apr 03 18:37:00 ubuntu etcd[57445]: raft2025/04/03 18:37:00 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 03 18:37:00 ubuntu etcd[57445]: raft2025/04/03 18:37:00 INFO: c25b29daa831042c became leader at term 2
Apr 03 18:37:00 ubuntu etcd[57445]: raft2025/04/03 18:37:00 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 03 18:37:00 ubuntu etcd[57445]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 03 18:37:00 ubuntu etcd[57445]: setting up the initial cluster version to 3.4
Apr 03 18:37:00 ubuntu etcd[57445]: ready to serve client requests
Apr 03 18:37:00 ubuntu etcd[57445]: set the initial cluster version to 3.4
Apr 03 18:37:00 ubuntu etcd[57445]: enabled capabilities for version 3.4
Apr 03 18:37:00 ubuntu etcd[57445]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 03 18:37:00 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 03 18:41:11 ubuntu etcd[57445]: start time = 2025-04-03 18:41:11.141147267 +0000 UTC m=+250.812772481, time spent = 423.782µs, remote = 10.201.9.223:46626, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 03 18:41:11 ubuntu etcd[57445]: start time = 2025-04-03 18:41:11.196224682 +0000 UTC m=+250.867849912, time spent = 176.681µs, remote = 10.201.9.223:46626, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 03 18:41:17 ubuntu etcd[57445]: start time = 2025-04-03 18:41:17.73578939 +0000 UTC m=+257.407414616, time spent = 168.615µs, remote = 10.201.9.223:46626, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 03 18:41:20 ubuntu etcd[57445]: start time = 2025-04-03 18:41:20.178957295 +0000 UTC m=+259.850582525, time spent = 176.649µs, remote = 10.201.9.223:46626, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
