Feb 03 06:19:12 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 03 06:19:12 ubuntu etcd[59364]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 03 06:19:12 ubuntu etcd[59364]:         A future release of golang/protobuf will delete this package,
Feb 03 06:19:12 ubuntu etcd[59364]:         which has long been excluded from the compatibility promise.
Feb 03 06:19:12 ubuntu etcd[59364]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 03 06:19:12 ubuntu etcd[59364]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 03 06:19:12 ubuntu etcd[59364]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 03 06:19:12 ubuntu etcd[59364]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 03 06:19:12 ubuntu etcd[59364]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 03 06:19:12 ubuntu etcd[59364]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 03 06:19:12 ubuntu etcd[59364]: Running http and grpc server on single port. This is not recommended for production.
Feb 03 06:19:12 ubuntu etcd[59364]: etcd Version: 3.4.27
Feb 03 06:19:12 ubuntu etcd[59364]: Git SHA: c92fb80f3
Feb 03 06:19:12 ubuntu etcd[59364]: Go Version: go1.19.10
Feb 03 06:19:12 ubuntu etcd[59364]: Go OS/Arch: linux/amd64
Feb 03 06:19:12 ubuntu etcd[59364]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 03 06:19:12 ubuntu etcd[59364]: Running http and grpc server on single port. This is not recommended for production.
Feb 03 06:19:12 ubuntu etcd[59364]: name = ubuntu
Feb 03 06:19:12 ubuntu etcd[59364]: data dir = /opt/stack/data/etcd
Feb 03 06:19:12 ubuntu etcd[59364]: member dir = /opt/stack/data/etcd/member
Feb 03 06:19:12 ubuntu etcd[59364]: heartbeat = 100ms
Feb 03 06:19:12 ubuntu etcd[59364]: election = 1000ms
Feb 03 06:19:12 ubuntu etcd[59364]: snapshot count = 100000
Feb 03 06:19:12 ubuntu etcd[59364]: advertise client URLs = http://10.201.4.32:2379
Feb 03 06:19:12 ubuntu etcd[59364]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 03 06:19:12 ubuntu etcd[59364]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb became follower at term 0
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb became follower at term 1
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 03 06:19:12 ubuntu etcd[59364]: simple token is not cryptographically signed
Feb 03 06:19:12 ubuntu etcd[59364]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 03 06:19:12 ubuntu etcd[59364]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 03 06:19:12 ubuntu etcd[59364]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 03 06:19:12 ubuntu etcd[59364]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 03 06:19:12 ubuntu etcd[59364]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 03 06:19:12 ubuntu etcd[59364]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 03 06:19:12 ubuntu etcd[59364]: listening for peers on [::]:2380
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb became leader at term 2
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 03 06:19:12 ubuntu etcd[59364]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 03 06:19:12 ubuntu etcd[59364]: ready to serve client requests
Feb 03 06:19:12 ubuntu etcd[59364]: setting up the initial cluster version to 3.4
Feb 03 06:19:12 ubuntu etcd[59364]: set the initial cluster version to 3.4
Feb 03 06:19:12 ubuntu etcd[59364]: enabled capabilities for version 3.4
Feb 03 06:19:12 ubuntu etcd[59364]: INFO: 2024/02/03 06:19:12 parsed scheme: ""
Feb 03 06:19:12 ubuntu etcd[59364]: INFO: 2024/02/03 06:19:12 scheme "" not registered, fallback to default scheme
Feb 03 06:19:12 ubuntu etcd[59364]: INFO: 2024/02/03 06:19:12 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 03 06:19:12 ubuntu etcd[59364]: INFO: 2024/02/03 06:19:12 ClientConn switching balancer to "pick_first"
Feb 03 06:19:12 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 03 06:19:12 ubuntu etcd[59364]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 03 06:23:25 ubuntu etcd[59364]: start time = 2024-02-03 06:23:25.446566743 +0000 UTC m=+252.812987361, time spent = 495.208µs, remote = 10.201.4.32:36326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 03 06:23:25 ubuntu etcd[59364]: start time = 2024-02-03 06:23:25.517746729 +0000 UTC m=+252.884167359, time spent = 197.551µs, remote = 10.201.4.32:36326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 03 06:23:31 ubuntu etcd[59364]: start time = 2024-02-03 06:23:31.941742488 +0000 UTC m=+259.308163117, time spent = 169.229µs, remote = 10.201.4.32:36326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 03 06:23:34 ubuntu etcd[59364]: start time = 2024-02-03 06:23:34.077422447 +0000 UTC m=+261.443843089, time spent = 237.181µs, remote = 10.201.4.32:36326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 03 06:19:12 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 03 06:19:12 ubuntu etcd[59364]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 03 06:19:12 ubuntu etcd[59364]:         A future release of golang/protobuf will delete this package,
Feb 03 06:19:12 ubuntu etcd[59364]:         which has long been excluded from the compatibility promise.
Feb 03 06:19:12 ubuntu etcd[59364]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 03 06:19:12 ubuntu etcd[59364]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 03 06:19:12 ubuntu etcd[59364]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 03 06:19:12 ubuntu etcd[59364]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 03 06:19:12 ubuntu etcd[59364]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 03 06:19:12 ubuntu etcd[59364]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 03 06:19:12 ubuntu etcd[59364]: Running http and grpc server on single port. This is not recommended for production.
Feb 03 06:19:12 ubuntu etcd[59364]: etcd Version: 3.4.27
Feb 03 06:19:12 ubuntu etcd[59364]: Git SHA: c92fb80f3
Feb 03 06:19:12 ubuntu etcd[59364]: Go Version: go1.19.10
Feb 03 06:19:12 ubuntu etcd[59364]: Go OS/Arch: linux/amd64
Feb 03 06:19:12 ubuntu etcd[59364]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 03 06:19:12 ubuntu etcd[59364]: Running http and grpc server on single port. This is not recommended for production.
Feb 03 06:19:12 ubuntu etcd[59364]: name = ubuntu
Feb 03 06:19:12 ubuntu etcd[59364]: data dir = /opt/stack/data/etcd
Feb 03 06:19:12 ubuntu etcd[59364]: member dir = /opt/stack/data/etcd/member
Feb 03 06:19:12 ubuntu etcd[59364]: heartbeat = 100ms
Feb 03 06:19:12 ubuntu etcd[59364]: election = 1000ms
Feb 03 06:19:12 ubuntu etcd[59364]: snapshot count = 100000
Feb 03 06:19:12 ubuntu etcd[59364]: advertise client URLs = http://10.201.4.32:2379
Feb 03 06:19:12 ubuntu etcd[59364]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 03 06:19:12 ubuntu etcd[59364]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb became follower at term 0
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb became follower at term 1
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 03 06:19:12 ubuntu etcd[59364]: simple token is not cryptographically signed
Feb 03 06:19:12 ubuntu etcd[59364]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 03 06:19:12 ubuntu etcd[59364]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 03 06:19:12 ubuntu etcd[59364]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 03 06:19:12 ubuntu etcd[59364]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 03 06:19:12 ubuntu etcd[59364]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 03 06:19:12 ubuntu etcd[59364]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 03 06:19:12 ubuntu etcd[59364]: listening for peers on [::]:2380
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: 33238c1cdfea94eb became leader at term 2
Feb 03 06:19:12 ubuntu etcd[59364]: raft2024/02/03 06:19:12 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 03 06:19:12 ubuntu etcd[59364]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 03 06:19:12 ubuntu etcd[59364]: ready to serve client requests
Feb 03 06:19:12 ubuntu etcd[59364]: setting up the initial cluster version to 3.4
Feb 03 06:19:12 ubuntu etcd[59364]: set the initial cluster version to 3.4
Feb 03 06:19:12 ubuntu etcd[59364]: enabled capabilities for version 3.4
Feb 03 06:19:12 ubuntu etcd[59364]: INFO: 2024/02/03 06:19:12 parsed scheme: ""
Feb 03 06:19:12 ubuntu etcd[59364]: INFO: 2024/02/03 06:19:12 scheme "" not registered, fallback to default scheme
Feb 03 06:19:12 ubuntu etcd[59364]: INFO: 2024/02/03 06:19:12 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 03 06:19:12 ubuntu etcd[59364]: INFO: 2024/02/03 06:19:12 ClientConn switching balancer to "pick_first"
Feb 03 06:19:12 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 03 06:19:12 ubuntu etcd[59364]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 03 06:23:25 ubuntu etcd[59364]: start time = 2024-02-03 06:23:25.446566743 +0000 UTC m=+252.812987361, time spent = 495.208µs, remote = 10.201.4.32:36326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 03 06:23:25 ubuntu etcd[59364]: start time = 2024-02-03 06:23:25.517746729 +0000 UTC m=+252.884167359, time spent = 197.551µs, remote = 10.201.4.32:36326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 03 06:23:31 ubuntu etcd[59364]: start time = 2024-02-03 06:23:31.941742488 +0000 UTC m=+259.308163117, time spent = 169.229µs, remote = 10.201.4.32:36326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 03 06:23:34 ubuntu etcd[59364]: start time = 2024-02-03 06:23:34.077422447 +0000 UTC m=+261.443843089, time spent = 237.181µs, remote = 10.201.4.32:36326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
