Mar 14 02:23:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 14 02:23:29 ubuntu etcd[71077]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 14 02:23:29 ubuntu etcd[71077]:         A future release of golang/protobuf will delete this package,
Mar 14 02:23:29 ubuntu etcd[71077]:         which has long been excluded from the compatibility promise.
Mar 14 02:23:29 ubuntu etcd[71077]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 14 02:23:29 ubuntu etcd[71077]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 14 02:23:29 ubuntu etcd[71077]: Running http and grpc server on single port. This is not recommended for production.
Mar 14 02:23:29 ubuntu etcd[71077]: etcd Version: 3.4.27
Mar 14 02:23:29 ubuntu etcd[71077]: Git SHA: c92fb80f3
Mar 14 02:23:29 ubuntu etcd[71077]: Go Version: go1.19.10
Mar 14 02:23:29 ubuntu etcd[71077]: Go OS/Arch: linux/amd64
Mar 14 02:23:29 ubuntu etcd[71077]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 14 02:23:29 ubuntu etcd[71077]: Running http and grpc server on single port. This is not recommended for production.
Mar 14 02:23:29 ubuntu etcd[71077]: name = ubuntu
Mar 14 02:23:29 ubuntu etcd[71077]: data dir = /opt/stack/data/etcd
Mar 14 02:23:29 ubuntu etcd[71077]: member dir = /opt/stack/data/etcd/member
Mar 14 02:23:29 ubuntu etcd[71077]: heartbeat = 100ms
Mar 14 02:23:29 ubuntu etcd[71077]: election = 1000ms
Mar 14 02:23:29 ubuntu etcd[71077]: snapshot count = 100000
Mar 14 02:23:29 ubuntu etcd[71077]: advertise client URLs = http://10.201.9.223:2379
Mar 14 02:23:29 ubuntu etcd[71077]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 14 02:23:29 ubuntu etcd[71077]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 14 02:23:29 ubuntu etcd[71077]: simple token is not cryptographically signed
Mar 14 02:23:29 ubuntu etcd[71077]: raft2025/03/14 02:23:29 INFO: c25b29daa831042c switched to configuration voters=()
Mar 14 02:23:29 ubuntu etcd[71077]: raft2025/03/14 02:23:29 INFO: c25b29daa831042c became follower at term 0
Mar 14 02:23:29 ubuntu etcd[71077]: raft2025/03/14 02:23:29 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 14 02:23:29 ubuntu etcd[71077]: raft2025/03/14 02:23:29 INFO: c25b29daa831042c became follower at term 1
Mar 14 02:23:29 ubuntu etcd[71077]: raft2025/03/14 02:23:29 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 14 02:23:29 ubuntu etcd[71077]: raft2025/03/14 02:23:29 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 14 02:23:29 ubuntu etcd[71077]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 14 02:23:29 ubuntu etcd[71077]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 14 02:23:29 ubuntu etcd[71077]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 14 02:23:29 ubuntu etcd[71077]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 14 02:23:29 ubuntu etcd[71077]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 14 02:23:29 ubuntu etcd[71077]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 14 02:23:29 ubuntu etcd[71077]: listening for peers on [::]:2380
Mar 14 02:23:30 ubuntu etcd[71077]: raft2025/03/14 02:23:30 INFO: c25b29daa831042c is starting a new election at term 1
Mar 14 02:23:30 ubuntu etcd[71077]: raft2025/03/14 02:23:30 INFO: c25b29daa831042c became candidate at term 2
Mar 14 02:23:30 ubuntu etcd[71077]: raft2025/03/14 02:23:30 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 14 02:23:30 ubuntu etcd[71077]: raft2025/03/14 02:23:30 INFO: c25b29daa831042c became leader at term 2
Mar 14 02:23:30 ubuntu etcd[71077]: raft2025/03/14 02:23:30 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 14 02:23:30 ubuntu etcd[71077]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 14 02:23:30 ubuntu etcd[71077]: setting up the initial cluster version to 3.4
Mar 14 02:23:30 ubuntu etcd[71077]: ready to serve client requests
Mar 14 02:23:30 ubuntu etcd[71077]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 14 02:23:30 ubuntu etcd[71077]: set the initial cluster version to 3.4
Mar 14 02:23:30 ubuntu etcd[71077]: enabled capabilities for version 3.4
Mar 14 02:23:30 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 14 02:27:39 ubuntu etcd[71077]: start time = 2025-03-14 02:27:39.663222456 +0000 UTC m=+250.373072545, time spent = 427.815µs, remote = 10.201.9.223:59420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 14 02:27:39 ubuntu etcd[71077]: start time = 2025-03-14 02:27:39.767610823 +0000 UTC m=+250.477460932, time spent = 229.55µs, remote = 10.201.9.223:59420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 14 02:27:46 ubuntu etcd[71077]: start time = 2025-03-14 02:27:46.072807828 +0000 UTC m=+256.782657919, time spent = 148.821µs, remote = 10.201.9.223:59420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 14 02:27:48 ubuntu etcd[71077]: start time = 2025-03-14 02:27:48.546003375 +0000 UTC m=+259.255853479, time spent = 284.345µs, remote = 10.201.9.223:59420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
