Jul 23 03:46:47 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 23 03:46:47 ubuntu etcd[58289]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 23 03:46:47 ubuntu etcd[58289]:         A future release of golang/protobuf will delete this package,
Jul 23 03:46:47 ubuntu etcd[58289]:         which has long been excluded from the compatibility promise.
Jul 23 03:46:47 ubuntu etcd[58289]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 23 03:46:47 ubuntu etcd[58289]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 23 03:46:47 ubuntu etcd[58289]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 03:46:47 ubuntu etcd[58289]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 23 03:46:47 ubuntu etcd[58289]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 23 03:46:47 ubuntu etcd[58289]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 03:46:47 ubuntu etcd[58289]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 03:46:47 ubuntu etcd[58289]: etcd Version: 3.4.27
Jul 23 03:46:47 ubuntu etcd[58289]: Git SHA: c92fb80f3
Jul 23 03:46:47 ubuntu etcd[58289]: Go Version: go1.19.10
Jul 23 03:46:47 ubuntu etcd[58289]: Go OS/Arch: linux/amd64
Jul 23 03:46:47 ubuntu etcd[58289]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 23 03:46:47 ubuntu etcd[58289]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 03:46:47 ubuntu etcd[58289]: name = ubuntu
Jul 23 03:46:47 ubuntu etcd[58289]: data dir = /opt/stack/data/etcd
Jul 23 03:46:47 ubuntu etcd[58289]: member dir = /opt/stack/data/etcd/member
Jul 23 03:46:47 ubuntu etcd[58289]: heartbeat = 100ms
Jul 23 03:46:47 ubuntu etcd[58289]: election = 1000ms
Jul 23 03:46:47 ubuntu etcd[58289]: snapshot count = 100000
Jul 23 03:46:47 ubuntu etcd[58289]: advertise client URLs = http://10.201.4.32:2379
Jul 23 03:46:47 ubuntu etcd[58289]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 23 03:46:47 ubuntu etcd[58289]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jul 23 03:46:47 ubuntu etcd[58289]: raft2024/07/23 03:46:47 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jul 23 03:46:47 ubuntu etcd[58289]: raft2024/07/23 03:46:47 INFO: 33238c1cdfea94eb became follower at term 0
Jul 23 03:46:47 ubuntu etcd[58289]: raft2024/07/23 03:46:47 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 23 03:46:47 ubuntu etcd[58289]: raft2024/07/23 03:46:47 INFO: 33238c1cdfea94eb became follower at term 1
Jul 23 03:46:47 ubuntu etcd[58289]: raft2024/07/23 03:46:47 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 23 03:46:47 ubuntu etcd[58289]: simple token is not cryptographically signed
Jul 23 03:46:47 ubuntu etcd[58289]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 23 03:46:47 ubuntu etcd[58289]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 23 03:46:47 ubuntu etcd[58289]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 23 03:46:47 ubuntu etcd[58289]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 23 03:46:47 ubuntu etcd[58289]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 23 03:46:47 ubuntu etcd[58289]: raft2024/07/23 03:46:47 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 23 03:46:47 ubuntu etcd[58289]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jul 23 03:46:47 ubuntu etcd[58289]: listening for peers on [::]:2380
Jul 23 03:46:48 ubuntu etcd[58289]: raft2024/07/23 03:46:48 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jul 23 03:46:48 ubuntu etcd[58289]: raft2024/07/23 03:46:48 INFO: 33238c1cdfea94eb became candidate at term 2
Jul 23 03:46:48 ubuntu etcd[58289]: raft2024/07/23 03:46:48 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jul 23 03:46:48 ubuntu etcd[58289]: raft2024/07/23 03:46:48 INFO: 33238c1cdfea94eb became leader at term 2
Jul 23 03:46:48 ubuntu etcd[58289]: raft2024/07/23 03:46:48 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jul 23 03:46:48 ubuntu etcd[58289]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jul 23 03:46:48 ubuntu etcd[58289]: ready to serve client requests
Jul 23 03:46:48 ubuntu etcd[58289]: INFO: 2024/07/23 03:46:48 parsed scheme: ""
Jul 23 03:46:48 ubuntu etcd[58289]: INFO: 2024/07/23 03:46:48 scheme "" not registered, fallback to default scheme
Jul 23 03:46:48 ubuntu etcd[58289]: INFO: 2024/07/23 03:46:48 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 23 03:46:48 ubuntu etcd[58289]: INFO: 2024/07/23 03:46:48 ClientConn switching balancer to "pick_first"
Jul 23 03:46:48 ubuntu etcd[58289]: setting up the initial cluster version to 3.4
Jul 23 03:46:48 ubuntu etcd[58289]: set the initial cluster version to 3.4
Jul 23 03:46:48 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 23 03:46:48 ubuntu etcd[58289]: enabled capabilities for version 3.4
Jul 23 03:46:48 ubuntu etcd[58289]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jul 23 03:51:08 ubuntu etcd[58289]: start time = 2024-07-23 03:51:08.073774153 +0000 UTC m=+260.556707211, time spent = 512.434µs, remote = 10.201.4.32:59544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 03:51:08 ubuntu etcd[58289]: start time = 2024-07-23 03:51:08.13888919 +0000 UTC m=+260.621822259, time spent = 186.878µs, remote = 10.201.4.32:59544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 03:51:14 ubuntu etcd[58289]: start time = 2024-07-23 03:51:14.522714016 +0000 UTC m=+267.005647077, time spent = 170.699µs, remote = 10.201.4.32:59544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 03:51:16 ubuntu etcd[58289]: start time = 2024-07-23 03:51:16.748557404 +0000 UTC m=+269.231490472, time spent = 177.336µs, remote = 10.201.4.32:59544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
