Mar 26 19:08:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 26 19:08:37 ubuntu etcd[57201]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 26 19:08:37 ubuntu etcd[57201]:         A future release of golang/protobuf will delete this package,
Mar 26 19:08:37 ubuntu etcd[57201]:         which has long been excluded from the compatibility promise.
Mar 26 19:08:37 ubuntu etcd[57201]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 19:08:37 ubuntu etcd[57201]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 19:08:37 ubuntu etcd[57201]: etcd Version: 3.4.27
Mar 26 19:08:37 ubuntu etcd[57201]: Git SHA: c92fb80f3
Mar 26 19:08:37 ubuntu etcd[57201]: Go Version: go1.19.10
Mar 26 19:08:37 ubuntu etcd[57201]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 19:08:37 ubuntu etcd[57201]: Go OS/Arch: linux/amd64
Mar 26 19:08:37 ubuntu etcd[57201]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 26 19:08:37 ubuntu etcd[57201]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 19:08:37 ubuntu etcd[57201]: name = ubuntu
Mar 26 19:08:37 ubuntu etcd[57201]: data dir = /opt/stack/data/etcd
Mar 26 19:08:37 ubuntu etcd[57201]: member dir = /opt/stack/data/etcd/member
Mar 26 19:08:37 ubuntu etcd[57201]: heartbeat = 100ms
Mar 26 19:08:37 ubuntu etcd[57201]: election = 1000ms
Mar 26 19:08:37 ubuntu etcd[57201]: snapshot count = 100000
Mar 26 19:08:37 ubuntu etcd[57201]: advertise client URLs = http://10.201.9.223:2379
Mar 26 19:08:37 ubuntu etcd[57201]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 26 19:08:37 ubuntu etcd[57201]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 26 19:08:37 ubuntu etcd[57201]: raft2025/03/26 19:08:37 INFO: c25b29daa831042c switched to configuration voters=()
Mar 26 19:08:37 ubuntu etcd[57201]: raft2025/03/26 19:08:37 INFO: c25b29daa831042c became follower at term 0
Mar 26 19:08:37 ubuntu etcd[57201]: raft2025/03/26 19:08:37 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 26 19:08:37 ubuntu etcd[57201]: raft2025/03/26 19:08:37 INFO: c25b29daa831042c became follower at term 1
Mar 26 19:08:37 ubuntu etcd[57201]: raft2025/03/26 19:08:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 26 19:08:37 ubuntu etcd[57201]: simple token is not cryptographically signed
Mar 26 19:08:37 ubuntu etcd[57201]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 26 19:08:37 ubuntu etcd[57201]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 26 19:08:37 ubuntu etcd[57201]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 26 19:08:37 ubuntu etcd[57201]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 26 19:08:37 ubuntu etcd[57201]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 26 19:08:37 ubuntu etcd[57201]: raft2025/03/26 19:08:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 26 19:08:37 ubuntu etcd[57201]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 26 19:08:37 ubuntu etcd[57201]: listening for peers on [::]:2380
Mar 26 19:08:38 ubuntu etcd[57201]: raft2025/03/26 19:08:38 INFO: c25b29daa831042c is starting a new election at term 1
Mar 26 19:08:38 ubuntu etcd[57201]: raft2025/03/26 19:08:38 INFO: c25b29daa831042c became candidate at term 2
Mar 26 19:08:38 ubuntu etcd[57201]: raft2025/03/26 19:08:38 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 26 19:08:38 ubuntu etcd[57201]: raft2025/03/26 19:08:38 INFO: c25b29daa831042c became leader at term 2
Mar 26 19:08:38 ubuntu etcd[57201]: raft2025/03/26 19:08:38 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 26 19:08:38 ubuntu etcd[57201]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 26 19:08:38 ubuntu etcd[57201]: ready to serve client requests
Mar 26 19:08:38 ubuntu etcd[57201]: setting up the initial cluster version to 3.4
Mar 26 19:08:38 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 26 19:08:38 ubuntu etcd[57201]: set the initial cluster version to 3.4
Mar 26 19:08:38 ubuntu etcd[57201]: enabled capabilities for version 3.4
Mar 26 19:08:38 ubuntu etcd[57201]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 26 19:12:46 ubuntu etcd[57201]: start time = 2025-03-26 19:12:46.755435267 +0000 UTC m=+248.839514925, time spent = 451.882µs, remote = 10.201.9.223:49980, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 19:12:46 ubuntu etcd[57201]: start time = 2025-03-26 19:12:46.756599814 +0000 UTC m=+248.840679490, time spent = 172.342µs, remote = 10.201.9.223:49980, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 19:12:53 ubuntu etcd[57201]: start time = 2025-03-26 19:12:53.178221478 +0000 UTC m=+255.262301148, time spent = 270.858µs, remote = 10.201.9.223:49980, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 19:12:55 ubuntu etcd[57201]: start time = 2025-03-26 19:12:55.172859825 +0000 UTC m=+257.256939483, time spent = 260.433µs, remote = 10.201.9.223:49980, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
