May 05 09:02:12 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 05 09:02:12 ubuntu etcd[58898]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 05 09:02:12 ubuntu etcd[58898]:         A future release of golang/protobuf will delete this package,
May 05 09:02:12 ubuntu etcd[58898]:         which has long been excluded from the compatibility promise.
May 05 09:02:12 ubuntu etcd[58898]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 05 09:02:12 ubuntu etcd[58898]: Running http and grpc server on single port. This is not recommended for production.
May 05 09:02:12 ubuntu etcd[58898]: etcd Version: 3.4.27
May 05 09:02:12 ubuntu etcd[58898]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 05 09:02:12 ubuntu etcd[58898]: Git SHA: c92fb80f3
May 05 09:02:12 ubuntu etcd[58898]: Go Version: go1.19.10
May 05 09:02:12 ubuntu etcd[58898]: Go OS/Arch: linux/amd64
May 05 09:02:12 ubuntu etcd[58898]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 05 09:02:12 ubuntu etcd[58898]: Running http and grpc server on single port. This is not recommended for production.
May 05 09:02:12 ubuntu etcd[58898]: name = ubuntu
May 05 09:02:12 ubuntu etcd[58898]: data dir = /opt/stack/data/etcd
May 05 09:02:12 ubuntu etcd[58898]: member dir = /opt/stack/data/etcd/member
May 05 09:02:12 ubuntu etcd[58898]: heartbeat = 100ms
May 05 09:02:12 ubuntu etcd[58898]: election = 1000ms
May 05 09:02:12 ubuntu etcd[58898]: snapshot count = 100000
May 05 09:02:12 ubuntu etcd[58898]: advertise client URLs = http://10.201.9.223:2379
May 05 09:02:12 ubuntu etcd[58898]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 05 09:02:12 ubuntu etcd[58898]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 05 09:02:12 ubuntu etcd[58898]: raft2025/05/05 09:02:12 INFO: c25b29daa831042c switched to configuration voters=()
May 05 09:02:12 ubuntu etcd[58898]: raft2025/05/05 09:02:12 INFO: c25b29daa831042c became follower at term 0
May 05 09:02:12 ubuntu etcd[58898]: raft2025/05/05 09:02:12 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 05 09:02:12 ubuntu etcd[58898]: raft2025/05/05 09:02:12 INFO: c25b29daa831042c became follower at term 1
May 05 09:02:12 ubuntu etcd[58898]: raft2025/05/05 09:02:12 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 05 09:02:12 ubuntu etcd[58898]: simple token is not cryptographically signed
May 05 09:02:12 ubuntu etcd[58898]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 05 09:02:12 ubuntu etcd[58898]: raft2025/05/05 09:02:12 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 05 09:02:12 ubuntu etcd[58898]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 05 09:02:12 ubuntu etcd[58898]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 05 09:02:12 ubuntu etcd[58898]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 05 09:02:12 ubuntu etcd[58898]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 05 09:02:12 ubuntu etcd[58898]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 05 09:02:12 ubuntu etcd[58898]: listening for peers on [::]:2380
May 05 09:02:12 ubuntu etcd[58898]: raft2025/05/05 09:02:12 INFO: c25b29daa831042c is starting a new election at term 1
May 05 09:02:12 ubuntu etcd[58898]: raft2025/05/05 09:02:12 INFO: c25b29daa831042c became candidate at term 2
May 05 09:02:12 ubuntu etcd[58898]: raft2025/05/05 09:02:12 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 05 09:02:12 ubuntu etcd[58898]: raft2025/05/05 09:02:12 INFO: c25b29daa831042c became leader at term 2
May 05 09:02:12 ubuntu etcd[58898]: raft2025/05/05 09:02:12 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 05 09:02:12 ubuntu etcd[58898]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 05 09:02:12 ubuntu etcd[58898]: ready to serve client requests
May 05 09:02:12 ubuntu etcd[58898]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 05 09:02:12 ubuntu etcd[58898]: setting up the initial cluster version to 3.4
May 05 09:02:12 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 05 09:02:12 ubuntu etcd[58898]: set the initial cluster version to 3.4
May 05 09:02:12 ubuntu etcd[58898]: enabled capabilities for version 3.4
May 05 09:06:26 ubuntu etcd[58898]: start time = 2025-05-05 09:06:26.334007661 +0000 UTC m=+254.328737605, time spent = 461.514µs, remote = 10.201.9.223:44958, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 05 09:06:26 ubuntu etcd[58898]: start time = 2025-05-05 09:06:26.375362927 +0000 UTC m=+254.370092888, time spent = 236.598µs, remote = 10.201.9.223:44958, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 05 09:06:32 ubuntu etcd[58898]: start time = 2025-05-05 09:06:32.923373939 +0000 UTC m=+260.918103884, time spent = 165.917µs, remote = 10.201.9.223:44958, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 05 09:06:34 ubuntu etcd[58898]: start time = 2025-05-05 09:06:34.939828876 +0000 UTC m=+262.934558835, time spent = 435.874µs, remote = 10.201.9.223:44958, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
