May 05 14:32:57 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 05 14:32:57 ubuntu etcd[58356]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 05 14:32:57 ubuntu etcd[58356]:         A future release of golang/protobuf will delete this package,
May 05 14:32:57 ubuntu etcd[58356]:         which has long been excluded from the compatibility promise.
May 05 14:32:57 ubuntu etcd[58356]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 05 14:32:57 ubuntu etcd[58356]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 05 14:32:57 ubuntu etcd[58356]: Running http and grpc server on single port. This is not recommended for production.
May 05 14:32:57 ubuntu etcd[58356]: etcd Version: 3.4.27
May 05 14:32:57 ubuntu etcd[58356]: Git SHA: c92fb80f3
May 05 14:32:57 ubuntu etcd[58356]: Go Version: go1.19.10
May 05 14:32:57 ubuntu etcd[58356]: Go OS/Arch: linux/amd64
May 05 14:32:57 ubuntu etcd[58356]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 05 14:32:57 ubuntu etcd[58356]: Running http and grpc server on single port. This is not recommended for production.
May 05 14:32:57 ubuntu etcd[58356]: name = ubuntu
May 05 14:32:57 ubuntu etcd[58356]: data dir = /opt/stack/data/etcd
May 05 14:32:57 ubuntu etcd[58356]: member dir = /opt/stack/data/etcd/member
May 05 14:32:57 ubuntu etcd[58356]: heartbeat = 100ms
May 05 14:32:57 ubuntu etcd[58356]: election = 1000ms
May 05 14:32:57 ubuntu etcd[58356]: snapshot count = 100000
May 05 14:32:57 ubuntu etcd[58356]: advertise client URLs = http://10.201.9.223:2379
May 05 14:32:57 ubuntu etcd[58356]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 05 14:32:57 ubuntu etcd[58356]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 05 14:32:57 ubuntu etcd[58356]: raft2025/05/05 14:32:57 INFO: c25b29daa831042c switched to configuration voters=()
May 05 14:32:57 ubuntu etcd[58356]: raft2025/05/05 14:32:57 INFO: c25b29daa831042c became follower at term 0
May 05 14:32:57 ubuntu etcd[58356]: raft2025/05/05 14:32:57 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 05 14:32:57 ubuntu etcd[58356]: raft2025/05/05 14:32:57 INFO: c25b29daa831042c became follower at term 1
May 05 14:32:57 ubuntu etcd[58356]: raft2025/05/05 14:32:57 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 05 14:32:57 ubuntu etcd[58356]: simple token is not cryptographically signed
May 05 14:32:57 ubuntu etcd[58356]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 05 14:32:57 ubuntu etcd[58356]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 05 14:32:57 ubuntu etcd[58356]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 05 14:32:57 ubuntu etcd[58356]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 05 14:32:57 ubuntu etcd[58356]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 05 14:32:57 ubuntu etcd[58356]: raft2025/05/05 14:32:57 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 05 14:32:57 ubuntu etcd[58356]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 05 14:32:57 ubuntu etcd[58356]: listening for peers on [::]:2380
May 05 14:32:58 ubuntu etcd[58356]: raft2025/05/05 14:32:58 INFO: c25b29daa831042c is starting a new election at term 1
May 05 14:32:58 ubuntu etcd[58356]: raft2025/05/05 14:32:58 INFO: c25b29daa831042c became candidate at term 2
May 05 14:32:58 ubuntu etcd[58356]: raft2025/05/05 14:32:58 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 05 14:32:58 ubuntu etcd[58356]: raft2025/05/05 14:32:58 INFO: c25b29daa831042c became leader at term 2
May 05 14:32:58 ubuntu etcd[58356]: raft2025/05/05 14:32:58 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 05 14:32:58 ubuntu etcd[58356]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 05 14:32:58 ubuntu etcd[58356]: setting up the initial cluster version to 3.4
May 05 14:32:58 ubuntu etcd[58356]: ready to serve client requests
May 05 14:32:58 ubuntu etcd[58356]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 05 14:32:58 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 05 14:32:58 ubuntu etcd[58356]: set the initial cluster version to 3.4
May 05 14:32:58 ubuntu etcd[58356]: enabled capabilities for version 3.4
May 05 14:37:07 ubuntu etcd[58356]: start time = 2025-05-05 14:37:07.472626254 +0000 UTC m=+249.586671128, time spent = 348.965µs, remote = 10.201.9.223:54798, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 05 14:37:07 ubuntu etcd[58356]: start time = 2025-05-05 14:37:07.530214472 +0000 UTC m=+249.644259360, time spent = 141.106µs, remote = 10.201.9.223:54798, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 05 14:37:13 ubuntu etcd[58356]: start time = 2025-05-05 14:37:13.988014396 +0000 UTC m=+256.102059287, time spent = 347.51µs, remote = 10.201.9.223:54798, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 05 14:37:16 ubuntu etcd[58356]: start time = 2025-05-05 14:37:16.075699028 +0000 UTC m=+258.189743919, time spent = 457.162µs, remote = 10.201.9.223:54798, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
