Dec 17 03:56:40 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 17 03:56:40 ubuntu etcd[59347]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 17 03:56:40 ubuntu etcd[59347]:         A future release of golang/protobuf will delete this package,
Dec 17 03:56:40 ubuntu etcd[59347]:         which has long been excluded from the compatibility promise.
Dec 17 03:56:40 ubuntu etcd[59347]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 17 03:56:40 ubuntu etcd[59347]: Running http and grpc server on single port. This is not recommended for production.
Dec 17 03:56:40 ubuntu etcd[59347]: etcd Version: 3.4.27
Dec 17 03:56:40 ubuntu etcd[59347]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 17 03:56:40 ubuntu etcd[59347]: Git SHA: c92fb80f3
Dec 17 03:56:40 ubuntu etcd[59347]: Go Version: go1.19.10
Dec 17 03:56:40 ubuntu etcd[59347]: Go OS/Arch: linux/amd64
Dec 17 03:56:40 ubuntu etcd[59347]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 17 03:56:40 ubuntu etcd[59347]: Running http and grpc server on single port. This is not recommended for production.
Dec 17 03:56:40 ubuntu etcd[59347]: name = ubuntu
Dec 17 03:56:40 ubuntu etcd[59347]: data dir = /opt/stack/data/etcd
Dec 17 03:56:40 ubuntu etcd[59347]: member dir = /opt/stack/data/etcd/member
Dec 17 03:56:40 ubuntu etcd[59347]: heartbeat = 100ms
Dec 17 03:56:40 ubuntu etcd[59347]: election = 1000ms
Dec 17 03:56:40 ubuntu etcd[59347]: snapshot count = 100000
Dec 17 03:56:40 ubuntu etcd[59347]: advertise client URLs = http://10.201.9.223:2379
Dec 17 03:56:40 ubuntu etcd[59347]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 17 03:56:40 ubuntu etcd[59347]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 17 03:56:40 ubuntu etcd[59347]: raft2024/12/17 03:56:40 INFO: c25b29daa831042c switched to configuration voters=()
Dec 17 03:56:40 ubuntu etcd[59347]: raft2024/12/17 03:56:40 INFO: c25b29daa831042c became follower at term 0
Dec 17 03:56:40 ubuntu etcd[59347]: raft2024/12/17 03:56:40 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 17 03:56:40 ubuntu etcd[59347]: raft2024/12/17 03:56:40 INFO: c25b29daa831042c became follower at term 1
Dec 17 03:56:40 ubuntu etcd[59347]: raft2024/12/17 03:56:40 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 17 03:56:40 ubuntu etcd[59347]: simple token is not cryptographically signed
Dec 17 03:56:40 ubuntu etcd[59347]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 17 03:56:40 ubuntu etcd[59347]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 17 03:56:40 ubuntu etcd[59347]: raft2024/12/17 03:56:40 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 17 03:56:40 ubuntu etcd[59347]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 17 03:56:40 ubuntu etcd[59347]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 17 03:56:40 ubuntu etcd[59347]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 17 03:56:40 ubuntu etcd[59347]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 17 03:56:40 ubuntu etcd[59347]: listening for peers on [::]:2380
Dec 17 03:56:40 ubuntu etcd[59347]: raft2024/12/17 03:56:40 INFO: c25b29daa831042c is starting a new election at term 1
Dec 17 03:56:40 ubuntu etcd[59347]: raft2024/12/17 03:56:40 INFO: c25b29daa831042c became candidate at term 2
Dec 17 03:56:40 ubuntu etcd[59347]: raft2024/12/17 03:56:40 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 17 03:56:40 ubuntu etcd[59347]: raft2024/12/17 03:56:40 INFO: c25b29daa831042c became leader at term 2
Dec 17 03:56:40 ubuntu etcd[59347]: raft2024/12/17 03:56:40 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 17 03:56:40 ubuntu etcd[59347]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 17 03:56:40 ubuntu etcd[59347]: setting up the initial cluster version to 3.4
Dec 17 03:56:40 ubuntu etcd[59347]: ready to serve client requests
Dec 17 03:56:40 ubuntu etcd[59347]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 17 03:56:40 ubuntu etcd[59347]: set the initial cluster version to 3.4
Dec 17 03:56:40 ubuntu etcd[59347]: enabled capabilities for version 3.4
Dec 17 03:56:40 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 17 04:00:57 ubuntu etcd[59347]: start time = 2024-12-17 04:00:57.93386481 +0000 UTC m=+257.878946460, time spent = 430.986µs, remote = 10.201.9.223:35648, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 04:00:57 ubuntu etcd[59347]: start time = 2024-12-17 04:00:57.992917847 +0000 UTC m=+257.937999514, time spent = 176.853µs, remote = 10.201.9.223:35648, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 04:01:04 ubuntu etcd[59347]: start time = 2024-12-17 04:01:04.512892802 +0000 UTC m=+264.457974452, time spent = 304.821µs, remote = 10.201.9.223:35648, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 04:01:06 ubuntu etcd[59347]: start time = 2024-12-17 04:01:06.624946636 +0000 UTC m=+266.570028297, time spent = 479.444µs, remote = 10.201.9.223:35648, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
