Jul 07 11:31:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 07 11:31:39 ubuntu etcd[59208]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 07 11:31:39 ubuntu etcd[59208]:         A future release of golang/protobuf will delete this package,
Jul 07 11:31:39 ubuntu etcd[59208]:         which has long been excluded from the compatibility promise.
Jul 07 11:31:39 ubuntu etcd[59208]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 07 11:31:39 ubuntu etcd[59208]: Running http and grpc server on single port. This is not recommended for production.
Jul 07 11:31:39 ubuntu etcd[59208]: etcd Version: 3.4.27
Jul 07 11:31:39 ubuntu etcd[59208]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 07 11:31:39 ubuntu etcd[59208]: Git SHA: c92fb80f3
Jul 07 11:31:39 ubuntu etcd[59208]: Go Version: go1.19.10
Jul 07 11:31:39 ubuntu etcd[59208]: Go OS/Arch: linux/amd64
Jul 07 11:31:39 ubuntu etcd[59208]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 07 11:31:39 ubuntu etcd[59208]: Running http and grpc server on single port. This is not recommended for production.
Jul 07 11:31:39 ubuntu etcd[59208]: name = ubuntu
Jul 07 11:31:39 ubuntu etcd[59208]: data dir = /opt/stack/data/etcd
Jul 07 11:31:39 ubuntu etcd[59208]: member dir = /opt/stack/data/etcd/member
Jul 07 11:31:39 ubuntu etcd[59208]: heartbeat = 100ms
Jul 07 11:31:39 ubuntu etcd[59208]: election = 1000ms
Jul 07 11:31:39 ubuntu etcd[59208]: snapshot count = 100000
Jul 07 11:31:39 ubuntu etcd[59208]: advertise client URLs = http://10.201.9.223:2379
Jul 07 11:31:39 ubuntu etcd[59208]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 07 11:31:39 ubuntu etcd[59208]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c switched to configuration voters=()
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c became follower at term 0
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c became follower at term 1
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 07 11:31:39 ubuntu etcd[59208]: simple token is not cryptographically signed
Jul 07 11:31:39 ubuntu etcd[59208]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 07 11:31:39 ubuntu etcd[59208]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 07 11:31:39 ubuntu etcd[59208]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 07 11:31:39 ubuntu etcd[59208]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 07 11:31:39 ubuntu etcd[59208]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 07 11:31:39 ubuntu etcd[59208]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 07 11:31:39 ubuntu etcd[59208]: listening for peers on [::]:2380
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c is starting a new election at term 1
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c became candidate at term 2
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c became leader at term 2
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 07 11:31:39 ubuntu etcd[59208]: setting up the initial cluster version to 3.4
Jul 07 11:31:39 ubuntu etcd[59208]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 07 11:31:39 ubuntu etcd[59208]: ready to serve client requests
Jul 07 11:31:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 07 11:31:39 ubuntu etcd[59208]: set the initial cluster version to 3.4
Jul 07 11:31:39 ubuntu etcd[59208]: enabled capabilities for version 3.4
Jul 07 11:31:39 ubuntu etcd[59208]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 07 11:35:48 ubuntu etcd[59208]: start time = 2025-07-07 11:35:48.517479429 +0000 UTC m=+249.478382240, time spent = 718.021µs, remote = 10.201.9.223:59102, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 07 11:35:48 ubuntu etcd[59208]: start time = 2025-07-07 11:35:48.617964109 +0000 UTC m=+249.578866930, time spent = 294.777µs, remote = 10.201.9.223:59102, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 07 11:35:55 ubuntu etcd[59208]: start time = 2025-07-07 11:35:55.22314149 +0000 UTC m=+256.184044312, time spent = 159.492µs, remote = 10.201.9.223:59102, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 07 11:35:57 ubuntu etcd[59208]: start time = 2025-07-07 11:35:57.402326326 +0000 UTC m=+258.363229138, time spent = 305.362µs, remote = 10.201.9.223:59102, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 07 11:31:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 07 11:31:39 ubuntu etcd[59208]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 07 11:31:39 ubuntu etcd[59208]:         A future release of golang/protobuf will delete this package,
Jul 07 11:31:39 ubuntu etcd[59208]:         which has long been excluded from the compatibility promise.
Jul 07 11:31:39 ubuntu etcd[59208]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 07 11:31:39 ubuntu etcd[59208]: Running http and grpc server on single port. This is not recommended for production.
Jul 07 11:31:39 ubuntu etcd[59208]: etcd Version: 3.4.27
Jul 07 11:31:39 ubuntu etcd[59208]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 07 11:31:39 ubuntu etcd[59208]: Git SHA: c92fb80f3
Jul 07 11:31:39 ubuntu etcd[59208]: Go Version: go1.19.10
Jul 07 11:31:39 ubuntu etcd[59208]: Go OS/Arch: linux/amd64
Jul 07 11:31:39 ubuntu etcd[59208]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 07 11:31:39 ubuntu etcd[59208]: Running http and grpc server on single port. This is not recommended for production.
Jul 07 11:31:39 ubuntu etcd[59208]: name = ubuntu
Jul 07 11:31:39 ubuntu etcd[59208]: data dir = /opt/stack/data/etcd
Jul 07 11:31:39 ubuntu etcd[59208]: member dir = /opt/stack/data/etcd/member
Jul 07 11:31:39 ubuntu etcd[59208]: heartbeat = 100ms
Jul 07 11:31:39 ubuntu etcd[59208]: election = 1000ms
Jul 07 11:31:39 ubuntu etcd[59208]: snapshot count = 100000
Jul 07 11:31:39 ubuntu etcd[59208]: advertise client URLs = http://10.201.9.223:2379
Jul 07 11:31:39 ubuntu etcd[59208]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 07 11:31:39 ubuntu etcd[59208]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c switched to configuration voters=()
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c became follower at term 0
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c became follower at term 1
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 07 11:31:39 ubuntu etcd[59208]: simple token is not cryptographically signed
Jul 07 11:31:39 ubuntu etcd[59208]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 07 11:31:39 ubuntu etcd[59208]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 07 11:31:39 ubuntu etcd[59208]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 07 11:31:39 ubuntu etcd[59208]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 07 11:31:39 ubuntu etcd[59208]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 07 11:31:39 ubuntu etcd[59208]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 07 11:31:39 ubuntu etcd[59208]: listening for peers on [::]:2380
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c is starting a new election at term 1
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c became candidate at term 2
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: c25b29daa831042c became leader at term 2
Jul 07 11:31:39 ubuntu etcd[59208]: raft2025/07/07 11:31:39 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 07 11:31:39 ubuntu etcd[59208]: setting up the initial cluster version to 3.4
Jul 07 11:31:39 ubuntu etcd[59208]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 07 11:31:39 ubuntu etcd[59208]: ready to serve client requests
Jul 07 11:31:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 07 11:31:39 ubuntu etcd[59208]: set the initial cluster version to 3.4
Jul 07 11:31:39 ubuntu etcd[59208]: enabled capabilities for version 3.4
Jul 07 11:31:39 ubuntu etcd[59208]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 07 11:35:48 ubuntu etcd[59208]: start time = 2025-07-07 11:35:48.517479429 +0000 UTC m=+249.478382240, time spent = 718.021µs, remote = 10.201.9.223:59102, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 07 11:35:48 ubuntu etcd[59208]: start time = 2025-07-07 11:35:48.617964109 +0000 UTC m=+249.578866930, time spent = 294.777µs, remote = 10.201.9.223:59102, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 07 11:35:55 ubuntu etcd[59208]: start time = 2025-07-07 11:35:55.22314149 +0000 UTC m=+256.184044312, time spent = 159.492µs, remote = 10.201.9.223:59102, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 07 11:35:57 ubuntu etcd[59208]: start time = 2025-07-07 11:35:57.402326326 +0000 UTC m=+258.363229138, time spent = 305.362µs, remote = 10.201.9.223:59102, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
