Dec 11 06:51:38 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 11 06:51:38 ubuntu etcd[58879]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 11 06:51:38 ubuntu etcd[58879]:         A future release of golang/protobuf will delete this package,
Dec 11 06:51:38 ubuntu etcd[58879]:         which has long been excluded from the compatibility promise.
Dec 11 06:51:38 ubuntu etcd[58879]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 06:51:38 ubuntu etcd[58879]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 06:51:38 ubuntu etcd[58879]: etcd Version: 3.4.27
Dec 11 06:51:38 ubuntu etcd[58879]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 06:51:38 ubuntu etcd[58879]: Git SHA: c92fb80f3
Dec 11 06:51:38 ubuntu etcd[58879]: Go Version: go1.19.10
Dec 11 06:51:38 ubuntu etcd[58879]: Go OS/Arch: linux/amd64
Dec 11 06:51:38 ubuntu etcd[58879]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 11 06:51:38 ubuntu etcd[58879]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 06:51:38 ubuntu etcd[58879]: name = ubuntu
Dec 11 06:51:38 ubuntu etcd[58879]: data dir = /opt/stack/data/etcd
Dec 11 06:51:38 ubuntu etcd[58879]: member dir = /opt/stack/data/etcd/member
Dec 11 06:51:38 ubuntu etcd[58879]: heartbeat = 100ms
Dec 11 06:51:38 ubuntu etcd[58879]: election = 1000ms
Dec 11 06:51:38 ubuntu etcd[58879]: snapshot count = 100000
Dec 11 06:51:38 ubuntu etcd[58879]: advertise client URLs = http://10.201.9.223:2379
Dec 11 06:51:38 ubuntu etcd[58879]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 11 06:51:38 ubuntu etcd[58879]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 11 06:51:38 ubuntu etcd[58879]: raft2024/12/11 06:51:38 INFO: c25b29daa831042c switched to configuration voters=()
Dec 11 06:51:38 ubuntu etcd[58879]: raft2024/12/11 06:51:38 INFO: c25b29daa831042c became follower at term 0
Dec 11 06:51:38 ubuntu etcd[58879]: raft2024/12/11 06:51:38 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 11 06:51:38 ubuntu etcd[58879]: raft2024/12/11 06:51:38 INFO: c25b29daa831042c became follower at term 1
Dec 11 06:51:38 ubuntu etcd[58879]: raft2024/12/11 06:51:38 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 11 06:51:38 ubuntu etcd[58879]: simple token is not cryptographically signed
Dec 11 06:51:38 ubuntu etcd[58879]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 11 06:51:38 ubuntu etcd[58879]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 11 06:51:38 ubuntu etcd[58879]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 11 06:51:38 ubuntu etcd[58879]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 11 06:51:38 ubuntu etcd[58879]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 11 06:51:38 ubuntu etcd[58879]: raft2024/12/11 06:51:38 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 11 06:51:38 ubuntu etcd[58879]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 11 06:51:38 ubuntu etcd[58879]: listening for peers on [::]:2380
Dec 11 06:51:39 ubuntu etcd[58879]: raft2024/12/11 06:51:39 INFO: c25b29daa831042c is starting a new election at term 1
Dec 11 06:51:39 ubuntu etcd[58879]: raft2024/12/11 06:51:39 INFO: c25b29daa831042c became candidate at term 2
Dec 11 06:51:39 ubuntu etcd[58879]: raft2024/12/11 06:51:39 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 11 06:51:39 ubuntu etcd[58879]: raft2024/12/11 06:51:39 INFO: c25b29daa831042c became leader at term 2
Dec 11 06:51:39 ubuntu etcd[58879]: raft2024/12/11 06:51:39 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 11 06:51:39 ubuntu etcd[58879]: setting up the initial cluster version to 3.4
Dec 11 06:51:39 ubuntu etcd[58879]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 11 06:51:39 ubuntu etcd[58879]: ready to serve client requests
Dec 11 06:51:39 ubuntu etcd[58879]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 11 06:51:39 ubuntu etcd[58879]: set the initial cluster version to 3.4
Dec 11 06:51:39 ubuntu etcd[58879]: enabled capabilities for version 3.4
Dec 11 06:51:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 11 06:56:01 ubuntu etcd[58879]: start time = 2024-12-11 06:56:01.084916821 +0000 UTC m=+262.151219055, time spent = 473.643µs, remote = 10.201.9.223:35714, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 06:56:01 ubuntu etcd[58879]: start time = 2024-12-11 06:56:01.108198277 +0000 UTC m=+262.174500512, time spent = 223.363µs, remote = 10.201.9.223:35714, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 06:56:07 ubuntu etcd[58879]: start time = 2024-12-11 06:56:07.73452881 +0000 UTC m=+268.800831044, time spent = 200.202µs, remote = 10.201.9.223:35714, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 06:56:09 ubuntu etcd[58879]: start time = 2024-12-11 06:56:09.885263393 +0000 UTC m=+270.951565638, time spent = 268.294µs, remote = 10.201.9.223:35714, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
