Dec 12 04:46:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 12 04:46:39 ubuntu etcd[59061]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 12 04:46:39 ubuntu etcd[59061]:         A future release of golang/protobuf will delete this package,
Dec 12 04:46:39 ubuntu etcd[59061]:         which has long been excluded from the compatibility promise.
Dec 12 04:46:39 ubuntu etcd[59061]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 04:46:39 ubuntu etcd[59061]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 04:46:39 ubuntu etcd[59061]: etcd Version: 3.4.27
Dec 12 04:46:39 ubuntu etcd[59061]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 04:46:39 ubuntu etcd[59061]: Git SHA: c92fb80f3
Dec 12 04:46:39 ubuntu etcd[59061]: Go Version: go1.19.10
Dec 12 04:46:39 ubuntu etcd[59061]: Go OS/Arch: linux/amd64
Dec 12 04:46:39 ubuntu etcd[59061]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 12 04:46:39 ubuntu etcd[59061]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 04:46:39 ubuntu etcd[59061]: name = ubuntu
Dec 12 04:46:39 ubuntu etcd[59061]: data dir = /opt/stack/data/etcd
Dec 12 04:46:39 ubuntu etcd[59061]: member dir = /opt/stack/data/etcd/member
Dec 12 04:46:39 ubuntu etcd[59061]: heartbeat = 100ms
Dec 12 04:46:39 ubuntu etcd[59061]: election = 1000ms
Dec 12 04:46:39 ubuntu etcd[59061]: snapshot count = 100000
Dec 12 04:46:39 ubuntu etcd[59061]: advertise client URLs = http://10.201.9.223:2379
Dec 12 04:46:39 ubuntu etcd[59061]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 12 04:46:39 ubuntu etcd[59061]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 12 04:46:39 ubuntu etcd[59061]: raft2024/12/12 04:46:39 INFO: c25b29daa831042c switched to configuration voters=()
Dec 12 04:46:39 ubuntu etcd[59061]: raft2024/12/12 04:46:39 INFO: c25b29daa831042c became follower at term 0
Dec 12 04:46:39 ubuntu etcd[59061]: raft2024/12/12 04:46:39 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 12 04:46:39 ubuntu etcd[59061]: raft2024/12/12 04:46:39 INFO: c25b29daa831042c became follower at term 1
Dec 12 04:46:39 ubuntu etcd[59061]: raft2024/12/12 04:46:39 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 12 04:46:39 ubuntu etcd[59061]: simple token is not cryptographically signed
Dec 12 04:46:39 ubuntu etcd[59061]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 12 04:46:39 ubuntu etcd[59061]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 12 04:46:39 ubuntu etcd[59061]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 12 04:46:39 ubuntu etcd[59061]: raft2024/12/12 04:46:39 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 12 04:46:39 ubuntu etcd[59061]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 12 04:46:39 ubuntu etcd[59061]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 12 04:46:39 ubuntu etcd[59061]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 12 04:46:39 ubuntu etcd[59061]: listening for peers on [::]:2380
Dec 12 04:46:40 ubuntu etcd[59061]: raft2024/12/12 04:46:40 INFO: c25b29daa831042c is starting a new election at term 1
Dec 12 04:46:40 ubuntu etcd[59061]: raft2024/12/12 04:46:40 INFO: c25b29daa831042c became candidate at term 2
Dec 12 04:46:40 ubuntu etcd[59061]: raft2024/12/12 04:46:40 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 12 04:46:40 ubuntu etcd[59061]: raft2024/12/12 04:46:40 INFO: c25b29daa831042c became leader at term 2
Dec 12 04:46:40 ubuntu etcd[59061]: raft2024/12/12 04:46:40 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 12 04:46:40 ubuntu etcd[59061]: setting up the initial cluster version to 3.4
Dec 12 04:46:40 ubuntu etcd[59061]: set the initial cluster version to 3.4
Dec 12 04:46:40 ubuntu etcd[59061]: ready to serve client requests
Dec 12 04:46:40 ubuntu etcd[59061]: enabled capabilities for version 3.4
Dec 12 04:46:40 ubuntu etcd[59061]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 12 04:46:40 ubuntu etcd[59061]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 12 04:46:40 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 12 04:50:59 ubuntu etcd[59061]: start time = 2024-12-12 04:50:59.412972018 +0000 UTC m=+260.206835263, time spent = 620.533µs, remote = 10.201.9.223:52512, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 04:50:59 ubuntu etcd[59061]: start time = 2024-12-12 04:50:59.491002276 +0000 UTC m=+260.284865535, time spent = 220.737µs, remote = 10.201.9.223:52512, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 04:51:05 ubuntu etcd[59061]: start time = 2024-12-12 04:51:05.949147146 +0000 UTC m=+266.743010424, time spent = 181.147µs, remote = 10.201.9.223:52512, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 04:51:08 ubuntu etcd[59061]: start time = 2024-12-12 04:51:08.096210067 +0000 UTC m=+268.890073326, time spent = 431.98µs, remote = 10.201.9.223:52512, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
