Oct 07 18:12:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 07 18:12:32 ubuntu etcd[61404]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 07 18:12:32 ubuntu etcd[61404]:         A future release of golang/protobuf will delete this package,
Oct 07 18:12:32 ubuntu etcd[61404]:         which has long been excluded from the compatibility promise.
Oct 07 18:12:32 ubuntu etcd[61404]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 07 18:12:32 ubuntu etcd[61404]: Running http and grpc server on single port. This is not recommended for production.
Oct 07 18:12:32 ubuntu etcd[61404]: etcd Version: 3.4.27
Oct 07 18:12:32 ubuntu etcd[61404]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 07 18:12:32 ubuntu etcd[61404]: Git SHA: c92fb80f3
Oct 07 18:12:32 ubuntu etcd[61404]: Go Version: go1.19.10
Oct 07 18:12:32 ubuntu etcd[61404]: Go OS/Arch: linux/amd64
Oct 07 18:12:32 ubuntu etcd[61404]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 07 18:12:32 ubuntu etcd[61404]: Running http and grpc server on single port. This is not recommended for production.
Oct 07 18:12:32 ubuntu etcd[61404]: name = ubuntu
Oct 07 18:12:32 ubuntu etcd[61404]: data dir = /opt/stack/data/etcd
Oct 07 18:12:32 ubuntu etcd[61404]: member dir = /opt/stack/data/etcd/member
Oct 07 18:12:32 ubuntu etcd[61404]: heartbeat = 100ms
Oct 07 18:12:32 ubuntu etcd[61404]: election = 1000ms
Oct 07 18:12:32 ubuntu etcd[61404]: snapshot count = 100000
Oct 07 18:12:32 ubuntu etcd[61404]: advertise client URLs = http://10.201.4.32:2379
Oct 07 18:12:32 ubuntu etcd[61404]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 07 18:12:32 ubuntu etcd[61404]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 07 18:12:32 ubuntu etcd[61404]: raft2024/10/07 18:12:32 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 07 18:12:32 ubuntu etcd[61404]: raft2024/10/07 18:12:32 INFO: 33238c1cdfea94eb became follower at term 0
Oct 07 18:12:32 ubuntu etcd[61404]: raft2024/10/07 18:12:32 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 07 18:12:32 ubuntu etcd[61404]: raft2024/10/07 18:12:32 INFO: 33238c1cdfea94eb became follower at term 1
Oct 07 18:12:32 ubuntu etcd[61404]: raft2024/10/07 18:12:32 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 07 18:12:32 ubuntu etcd[61404]: simple token is not cryptographically signed
Oct 07 18:12:32 ubuntu etcd[61404]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 07 18:12:32 ubuntu etcd[61404]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 07 18:12:32 ubuntu etcd[61404]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 07 18:12:32 ubuntu etcd[61404]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 07 18:12:32 ubuntu etcd[61404]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 07 18:12:32 ubuntu etcd[61404]: raft2024/10/07 18:12:32 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 07 18:12:32 ubuntu etcd[61404]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 07 18:12:32 ubuntu etcd[61404]: listening for peers on [::]:2380
Oct 07 18:12:33 ubuntu etcd[61404]: raft2024/10/07 18:12:33 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 07 18:12:33 ubuntu etcd[61404]: raft2024/10/07 18:12:33 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 07 18:12:33 ubuntu etcd[61404]: raft2024/10/07 18:12:33 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 07 18:12:33 ubuntu etcd[61404]: raft2024/10/07 18:12:33 INFO: 33238c1cdfea94eb became leader at term 2
Oct 07 18:12:33 ubuntu etcd[61404]: raft2024/10/07 18:12:33 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 07 18:12:33 ubuntu etcd[61404]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 07 18:12:33 ubuntu etcd[61404]: setting up the initial cluster version to 3.4
Oct 07 18:12:33 ubuntu etcd[61404]: ready to serve client requests
Oct 07 18:12:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 07 18:12:33 ubuntu etcd[61404]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 07 18:12:33 ubuntu etcd[61404]: set the initial cluster version to 3.4
Oct 07 18:12:33 ubuntu etcd[61404]: enabled capabilities for version 3.4
Oct 07 18:16:51 ubuntu etcd[61404]: start time = 2024-10-07 18:16:51.954915306 +0000 UTC m=+259.245567667, time spent = 561.949µs, remote = 10.201.4.32:59942, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 18:16:52 ubuntu etcd[61404]: start time = 2024-10-07 18:16:52.007705389 +0000 UTC m=+259.298357760, time spent = 322.903µs, remote = 10.201.4.32:59942, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 18:16:58 ubuntu etcd[61404]: start time = 2024-10-07 18:16:58.640557854 +0000 UTC m=+265.931210219, time spent = 220.527µs, remote = 10.201.4.32:59942, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 18:17:01 ubuntu etcd[61404]: start time = 2024-10-07 18:17:01.052728304 +0000 UTC m=+268.343380667, time spent = 225.824µs, remote = 10.201.4.32:59942, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
