Sep 03 08:23:51 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 03 08:23:51 ubuntu etcd[59392]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 03 08:23:51 ubuntu etcd[59392]:         A future release of golang/protobuf will delete this package,
Sep 03 08:23:51 ubuntu etcd[59392]:         which has long been excluded from the compatibility promise.
Sep 03 08:23:51 ubuntu etcd[59392]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 03 08:23:51 ubuntu etcd[59392]: Running http and grpc server on single port. This is not recommended for production.
Sep 03 08:23:51 ubuntu etcd[59392]: etcd Version: 3.4.27
Sep 03 08:23:51 ubuntu etcd[59392]: Git SHA: c92fb80f3
Sep 03 08:23:51 ubuntu etcd[59392]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 03 08:23:51 ubuntu etcd[59392]: Go Version: go1.19.10
Sep 03 08:23:51 ubuntu etcd[59392]: Go OS/Arch: linux/amd64
Sep 03 08:23:51 ubuntu etcd[59392]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 03 08:23:51 ubuntu etcd[59392]: Running http and grpc server on single port. This is not recommended for production.
Sep 03 08:23:51 ubuntu etcd[59392]: name = ubuntu
Sep 03 08:23:51 ubuntu etcd[59392]: data dir = /opt/stack/data/etcd
Sep 03 08:23:51 ubuntu etcd[59392]: member dir = /opt/stack/data/etcd/member
Sep 03 08:23:51 ubuntu etcd[59392]: heartbeat = 100ms
Sep 03 08:23:51 ubuntu etcd[59392]: election = 1000ms
Sep 03 08:23:51 ubuntu etcd[59392]: snapshot count = 100000
Sep 03 08:23:51 ubuntu etcd[59392]: advertise client URLs = http://10.201.4.32:2379
Sep 03 08:23:51 ubuntu etcd[59392]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 03 08:23:51 ubuntu etcd[59392]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 03 08:23:51 ubuntu etcd[59392]: raft2024/09/03 08:23:51 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 03 08:23:51 ubuntu etcd[59392]: raft2024/09/03 08:23:51 INFO: 33238c1cdfea94eb became follower at term 0
Sep 03 08:23:51 ubuntu etcd[59392]: raft2024/09/03 08:23:51 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 03 08:23:51 ubuntu etcd[59392]: raft2024/09/03 08:23:51 INFO: 33238c1cdfea94eb became follower at term 1
Sep 03 08:23:51 ubuntu etcd[59392]: raft2024/09/03 08:23:51 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 03 08:23:51 ubuntu etcd[59392]: simple token is not cryptographically signed
Sep 03 08:23:51 ubuntu etcd[59392]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 03 08:23:51 ubuntu etcd[59392]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 03 08:23:51 ubuntu etcd[59392]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 03 08:23:51 ubuntu etcd[59392]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 03 08:23:51 ubuntu etcd[59392]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 03 08:23:51 ubuntu etcd[59392]: listening for peers on [::]:2380
Sep 03 08:23:51 ubuntu etcd[59392]: raft2024/09/03 08:23:51 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 03 08:23:51 ubuntu etcd[59392]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 03 08:23:52 ubuntu etcd[59392]: raft2024/09/03 08:23:52 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 03 08:23:52 ubuntu etcd[59392]: raft2024/09/03 08:23:52 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 03 08:23:52 ubuntu etcd[59392]: raft2024/09/03 08:23:52 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 03 08:23:52 ubuntu etcd[59392]: raft2024/09/03 08:23:52 INFO: 33238c1cdfea94eb became leader at term 2
Sep 03 08:23:52 ubuntu etcd[59392]: raft2024/09/03 08:23:52 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 03 08:23:52 ubuntu etcd[59392]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 03 08:23:52 ubuntu etcd[59392]: setting up the initial cluster version to 3.4
Sep 03 08:23:52 ubuntu etcd[59392]: ready to serve client requests
Sep 03 08:23:52 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 03 08:23:52 ubuntu etcd[59392]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 03 08:23:52 ubuntu etcd[59392]: set the initial cluster version to 3.4
Sep 03 08:23:52 ubuntu etcd[59392]: enabled capabilities for version 3.4
Sep 03 08:28:12 ubuntu etcd[59392]: start time = 2024-09-03 08:28:12.03806105 +0000 UTC m=+260.476858692, time spent = 394.415µs, remote = 10.201.4.32:34010, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 03 08:28:12 ubuntu etcd[59392]: start time = 2024-09-03 08:28:12.042440751 +0000 UTC m=+260.481238403, time spent = 169.429µs, remote = 10.201.4.32:34010, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 03 08:28:18 ubuntu etcd[59392]: start time = 2024-09-03 08:28:18.690600699 +0000 UTC m=+267.129398355, time spent = 185.578µs, remote = 10.201.4.32:34010, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 03 08:28:20 ubuntu etcd[59392]: start time = 2024-09-03 08:28:20.881148194 +0000 UTC m=+269.319945846, time spent = 224.318µs, remote = 10.201.4.32:34010, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
