Jan 16 07:51:01 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 16 07:51:01 ubuntu etcd[59554]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 16 07:51:01 ubuntu etcd[59554]:         A future release of golang/protobuf will delete this package,
Jan 16 07:51:01 ubuntu etcd[59554]:         which has long been excluded from the compatibility promise.
Jan 16 07:51:01 ubuntu etcd[59554]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 16 07:51:01 ubuntu etcd[59554]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 16 07:51:01 ubuntu etcd[59554]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 16 07:51:01 ubuntu etcd[59554]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 16 07:51:01 ubuntu etcd[59554]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 16 07:51:01 ubuntu etcd[59554]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 16 07:51:01 ubuntu etcd[59554]: Running http and grpc server on single port. This is not recommended for production.
Jan 16 07:51:01 ubuntu etcd[59554]: etcd Version: 3.4.27
Jan 16 07:51:01 ubuntu etcd[59554]: Git SHA: c92fb80f3
Jan 16 07:51:01 ubuntu etcd[59554]: Go Version: go1.19.10
Jan 16 07:51:01 ubuntu etcd[59554]: Go OS/Arch: linux/amd64
Jan 16 07:51:01 ubuntu etcd[59554]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 16 07:51:01 ubuntu etcd[59554]: Running http and grpc server on single port. This is not recommended for production.
Jan 16 07:51:01 ubuntu etcd[59554]: name = ubuntu
Jan 16 07:51:01 ubuntu etcd[59554]: data dir = /opt/stack/data/etcd
Jan 16 07:51:01 ubuntu etcd[59554]: member dir = /opt/stack/data/etcd/member
Jan 16 07:51:01 ubuntu etcd[59554]: heartbeat = 100ms
Jan 16 07:51:01 ubuntu etcd[59554]: election = 1000ms
Jan 16 07:51:01 ubuntu etcd[59554]: snapshot count = 100000
Jan 16 07:51:01 ubuntu etcd[59554]: advertise client URLs = http://10.201.4.32:2379
Jan 16 07:51:01 ubuntu etcd[59554]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 16 07:51:01 ubuntu etcd[59554]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 16 07:51:01 ubuntu etcd[59554]: raft2024/01/16 07:51:01 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 16 07:51:01 ubuntu etcd[59554]: raft2024/01/16 07:51:01 INFO: 33238c1cdfea94eb became follower at term 0
Jan 16 07:51:01 ubuntu etcd[59554]: raft2024/01/16 07:51:01 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 16 07:51:01 ubuntu etcd[59554]: raft2024/01/16 07:51:01 INFO: 33238c1cdfea94eb became follower at term 1
Jan 16 07:51:01 ubuntu etcd[59554]: raft2024/01/16 07:51:01 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 16 07:51:01 ubuntu etcd[59554]: simple token is not cryptographically signed
Jan 16 07:51:01 ubuntu etcd[59554]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 16 07:51:01 ubuntu etcd[59554]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 16 07:51:01 ubuntu etcd[59554]: raft2024/01/16 07:51:01 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 16 07:51:01 ubuntu etcd[59554]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 16 07:51:01 ubuntu etcd[59554]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 16 07:51:01 ubuntu etcd[59554]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 16 07:51:01 ubuntu etcd[59554]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 16 07:51:01 ubuntu etcd[59554]: listening for peers on [::]:2380
Jan 16 07:51:01 ubuntu etcd[59554]: raft2024/01/16 07:51:01 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 16 07:51:01 ubuntu etcd[59554]: raft2024/01/16 07:51:01 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 16 07:51:01 ubuntu etcd[59554]: raft2024/01/16 07:51:01 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 16 07:51:01 ubuntu etcd[59554]: raft2024/01/16 07:51:01 INFO: 33238c1cdfea94eb became leader at term 2
Jan 16 07:51:01 ubuntu etcd[59554]: raft2024/01/16 07:51:01 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 16 07:51:01 ubuntu etcd[59554]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 16 07:51:01 ubuntu etcd[59554]: ready to serve client requests
Jan 16 07:51:01 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 16 07:51:01 ubuntu etcd[59554]: INFO: 2024/01/16 07:51:01 parsed scheme: ""
Jan 16 07:51:01 ubuntu etcd[59554]: INFO: 2024/01/16 07:51:01 scheme "" not registered, fallback to default scheme
Jan 16 07:51:01 ubuntu etcd[59554]: INFO: 2024/01/16 07:51:01 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 16 07:51:01 ubuntu etcd[59554]: INFO: 2024/01/16 07:51:01 ClientConn switching balancer to "pick_first"
Jan 16 07:51:01 ubuntu etcd[59554]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 16 07:51:01 ubuntu etcd[59554]: setting up the initial cluster version to 3.4
Jan 16 07:51:01 ubuntu etcd[59554]: set the initial cluster version to 3.4
Jan 16 07:51:01 ubuntu etcd[59554]: enabled capabilities for version 3.4
Jan 16 07:55:26 ubuntu etcd[59554]: start time = 2024-01-16 07:55:26.122284992 +0000 UTC m=+264.895327311, time spent = 478.124µs, remote = 10.201.4.32:51022, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 16 07:55:26 ubuntu etcd[59554]: start time = 2024-01-16 07:55:26.168567357 +0000 UTC m=+264.941609675, time spent = 193.108µs, remote = 10.201.4.32:51022, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 16 07:55:32 ubuntu etcd[59554]: start time = 2024-01-16 07:55:32.779514405 +0000 UTC m=+271.552556734, time spent = 300.141µs, remote = 10.201.4.32:51022, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 16 07:55:35 ubuntu etcd[59554]: start time = 2024-01-16 07:55:35.007591836 +0000 UTC m=+273.780634155, time spent = 230.835µs, remote = 10.201.4.32:51022, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
