Dec 06 12:04:12 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 12:04:12 ubuntu etcd[58954]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 12:04:12 ubuntu etcd[58954]:         A future release of golang/protobuf will delete this package,
Dec 06 12:04:12 ubuntu etcd[58954]:         which has long been excluded from the compatibility promise.
Dec 06 12:04:12 ubuntu etcd[58954]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 12:04:12 ubuntu etcd[58954]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 12:04:12 ubuntu etcd[58954]: etcd Version: 3.4.27
Dec 06 12:04:12 ubuntu etcd[58954]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 12:04:12 ubuntu etcd[58954]: Git SHA: c92fb80f3
Dec 06 12:04:12 ubuntu etcd[58954]: Go Version: go1.19.10
Dec 06 12:04:12 ubuntu etcd[58954]: Go OS/Arch: linux/amd64
Dec 06 12:04:12 ubuntu etcd[58954]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 12:04:12 ubuntu etcd[58954]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 12:04:12 ubuntu etcd[58954]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 12:04:12 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 12:04:12 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 12:04:12 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 12:04:13 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 06 12:04:13 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 12:04:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 12:04:13 ubuntu etcd[59068]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 12:04:13 ubuntu etcd[59068]:         A future release of golang/protobuf will delete this package,
Dec 06 12:04:13 ubuntu etcd[59068]:         which has long been excluded from the compatibility promise.
Dec 06 12:04:13 ubuntu etcd[59068]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 12:04:13 ubuntu etcd[59068]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 12:04:13 ubuntu etcd[59068]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 12:04:13 ubuntu etcd[59068]: etcd Version: 3.4.27
Dec 06 12:04:13 ubuntu etcd[59068]: Git SHA: c92fb80f3
Dec 06 12:04:13 ubuntu etcd[59068]: Go Version: go1.19.10
Dec 06 12:04:13 ubuntu etcd[59068]: Go OS/Arch: linux/amd64
Dec 06 12:04:13 ubuntu etcd[59068]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 12:04:13 ubuntu etcd[59068]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 12:04:13 ubuntu etcd[59068]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 12:04:13 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 12:04:13 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 12:04:13 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 12:04:13 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 06 12:04:13 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 12:04:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 12:04:13 ubuntu etcd[59122]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 12:04:13 ubuntu etcd[59122]:         A future release of golang/protobuf will delete this package,
Dec 06 12:04:13 ubuntu etcd[59122]:         which has long been excluded from the compatibility promise.
Dec 06 12:04:13 ubuntu etcd[59122]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 12:04:13 ubuntu etcd[59122]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 12:04:13 ubuntu etcd[59122]: etcd Version: 3.4.27
Dec 06 12:04:13 ubuntu etcd[59122]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 12:04:13 ubuntu etcd[59122]: Git SHA: c92fb80f3
Dec 06 12:04:13 ubuntu etcd[59122]: Go Version: go1.19.10
Dec 06 12:04:13 ubuntu etcd[59122]: Go OS/Arch: linux/amd64
Dec 06 12:04:13 ubuntu etcd[59122]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 12:04:13 ubuntu etcd[59122]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 12:04:13 ubuntu etcd[59122]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 12:04:13 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 12:04:13 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 12:04:13 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 12:04:13 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 06 12:04:13 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 12:04:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 12:04:13 ubuntu etcd[59150]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 12:04:13 ubuntu etcd[59150]:         A future release of golang/protobuf will delete this package,
Dec 06 12:04:13 ubuntu etcd[59150]:         which has long been excluded from the compatibility promise.
Dec 06 12:04:13 ubuntu etcd[59150]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 12:04:13 ubuntu etcd[59150]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 12:04:13 ubuntu etcd[59150]: etcd Version: 3.4.27
Dec 06 12:04:13 ubuntu etcd[59150]: Git SHA: c92fb80f3
Dec 06 12:04:13 ubuntu etcd[59150]: Go Version: go1.19.10
Dec 06 12:04:13 ubuntu etcd[59150]: Go OS/Arch: linux/amd64
Dec 06 12:04:13 ubuntu etcd[59150]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 12:04:13 ubuntu etcd[59150]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 12:04:13 ubuntu etcd[59150]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 12:04:13 ubuntu etcd[59150]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 12:04:13 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 12:04:13 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 12:04:13 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 12:04:13 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 06 12:04:13 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 12:04:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 12:04:13 ubuntu etcd[59166]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 12:04:13 ubuntu etcd[59166]:         A future release of golang/protobuf will delete this package,
Dec 06 12:04:13 ubuntu etcd[59166]:         which has long been excluded from the compatibility promise.
Dec 06 12:04:13 ubuntu etcd[59166]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 12:04:13 ubuntu etcd[59166]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 12:04:13 ubuntu etcd[59166]: etcd Version: 3.4.27
Dec 06 12:04:13 ubuntu etcd[59166]: Git SHA: c92fb80f3
Dec 06 12:04:13 ubuntu etcd[59166]: Go Version: go1.19.10
Dec 06 12:04:13 ubuntu etcd[59166]: Go OS/Arch: linux/amd64
Dec 06 12:04:13 ubuntu etcd[59166]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 12:04:13 ubuntu etcd[59166]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 12:04:13 ubuntu etcd[59166]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 12:04:13 ubuntu etcd[59166]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 12:04:13 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 12:04:13 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 12:04:13 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 12:04:14 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 06 12:04:14 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 12:04:14 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 06 12:04:14 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 12:04:14 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
