Dec 06 03:58:42 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 03:58:42 ubuntu etcd[59127]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 03:58:42 ubuntu etcd[59127]:         A future release of golang/protobuf will delete this package,
Dec 06 03:58:42 ubuntu etcd[59127]:         which has long been excluded from the compatibility promise.
Dec 06 03:58:42 ubuntu etcd[59127]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 03:58:42 ubuntu etcd[59127]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 03:58:42 ubuntu etcd[59127]: etcd Version: 3.4.27
Dec 06 03:58:42 ubuntu etcd[59127]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 03:58:42 ubuntu etcd[59127]: Git SHA: c92fb80f3
Dec 06 03:58:42 ubuntu etcd[59127]: Go Version: go1.19.10
Dec 06 03:58:42 ubuntu etcd[59127]: Go OS/Arch: linux/amd64
Dec 06 03:58:42 ubuntu etcd[59127]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 03:58:42 ubuntu etcd[59127]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 03:58:42 ubuntu etcd[59127]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 03:58:42 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 03:58:42 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 03:58:42 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 03:58:42 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 06 03:58:42 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 03:58:42 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 03:58:42 ubuntu etcd[59218]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 03:58:42 ubuntu etcd[59218]:         A future release of golang/protobuf will delete this package,
Dec 06 03:58:42 ubuntu etcd[59218]:         which has long been excluded from the compatibility promise.
Dec 06 03:58:42 ubuntu etcd[59218]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 03:58:42 ubuntu etcd[59218]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 03:58:42 ubuntu etcd[59218]: etcd Version: 3.4.27
Dec 06 03:58:42 ubuntu etcd[59218]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 03:58:42 ubuntu etcd[59218]: Git SHA: c92fb80f3
Dec 06 03:58:42 ubuntu etcd[59218]: Go Version: go1.19.10
Dec 06 03:58:42 ubuntu etcd[59218]: Go OS/Arch: linux/amd64
Dec 06 03:58:42 ubuntu etcd[59218]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 03:58:42 ubuntu etcd[59218]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 03:58:42 ubuntu etcd[59218]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 03:58:42 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 03:58:42 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 03:58:42 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 03:58:43 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 06 03:58:43 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 03:58:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 03:58:43 ubuntu etcd[59266]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 03:58:43 ubuntu etcd[59266]:         A future release of golang/protobuf will delete this package,
Dec 06 03:58:43 ubuntu etcd[59266]:         which has long been excluded from the compatibility promise.
Dec 06 03:58:43 ubuntu etcd[59266]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 03:58:43 ubuntu etcd[59266]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 03:58:43 ubuntu etcd[59266]: etcd Version: 3.4.27
Dec 06 03:58:43 ubuntu etcd[59266]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 03:58:43 ubuntu etcd[59266]: Git SHA: c92fb80f3
Dec 06 03:58:43 ubuntu etcd[59266]: Go Version: go1.19.10
Dec 06 03:58:43 ubuntu etcd[59266]: Go OS/Arch: linux/amd64
Dec 06 03:58:43 ubuntu etcd[59266]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 03:58:43 ubuntu etcd[59266]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 03:58:43 ubuntu etcd[59266]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 03:58:43 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 03:58:43 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 03:58:43 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 03:58:43 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 06 03:58:43 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 03:58:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 03:58:43 ubuntu etcd[59324]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 03:58:43 ubuntu etcd[59324]:         A future release of golang/protobuf will delete this package,
Dec 06 03:58:43 ubuntu etcd[59324]:         which has long been excluded from the compatibility promise.
Dec 06 03:58:43 ubuntu etcd[59324]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 03:58:43 ubuntu etcd[59324]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 03:58:43 ubuntu etcd[59324]: etcd Version: 3.4.27
Dec 06 03:58:43 ubuntu etcd[59324]: Git SHA: c92fb80f3
Dec 06 03:58:43 ubuntu etcd[59324]: Go Version: go1.19.10
Dec 06 03:58:43 ubuntu etcd[59324]: Go OS/Arch: linux/amd64
Dec 06 03:58:43 ubuntu etcd[59324]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 03:58:43 ubuntu etcd[59324]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 03:58:43 ubuntu etcd[59324]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 03:58:43 ubuntu etcd[59324]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 03:58:43 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 03:58:43 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 03:58:43 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 03:58:43 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 06 03:58:43 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 03:58:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 03:58:43 ubuntu etcd[59336]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 03:58:43 ubuntu etcd[59336]:         A future release of golang/protobuf will delete this package,
Dec 06 03:58:43 ubuntu etcd[59336]:         which has long been excluded from the compatibility promise.
Dec 06 03:58:43 ubuntu etcd[59336]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 03:58:43 ubuntu etcd[59336]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 03:58:43 ubuntu etcd[59336]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 03:58:43 ubuntu etcd[59336]: etcd Version: 3.4.27
Dec 06 03:58:43 ubuntu etcd[59336]: Git SHA: c92fb80f3
Dec 06 03:58:43 ubuntu etcd[59336]: Go Version: go1.19.10
Dec 06 03:58:43 ubuntu etcd[59336]: Go OS/Arch: linux/amd64
Dec 06 03:58:43 ubuntu etcd[59336]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 03:58:43 ubuntu etcd[59336]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 03:58:43 ubuntu etcd[59336]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 03:58:43 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 03:58:43 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 03:58:43 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 03:58:43 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 06 03:58:43 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 03:58:43 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 06 03:58:43 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 03:58:43 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
