Mar 21 05:23:12 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 21 05:23:12 ubuntu etcd[60668]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 21 05:23:12 ubuntu etcd[60668]:         A future release of golang/protobuf will delete this package,
Mar 21 05:23:12 ubuntu etcd[60668]:         which has long been excluded from the compatibility promise.
Mar 21 05:23:12 ubuntu etcd[60668]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 21 05:23:12 ubuntu etcd[60668]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 21 05:23:12 ubuntu etcd[60668]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 21 05:23:12 ubuntu etcd[60668]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 21 05:23:12 ubuntu etcd[60668]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 21 05:23:12 ubuntu etcd[60668]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 21 05:23:12 ubuntu etcd[60668]: Running http and grpc server on single port. This is not recommended for production.
Mar 21 05:23:12 ubuntu etcd[60668]: etcd Version: 3.4.27
Mar 21 05:23:12 ubuntu etcd[60668]: Git SHA: c92fb80f3
Mar 21 05:23:12 ubuntu etcd[60668]: Go Version: go1.19.10
Mar 21 05:23:12 ubuntu etcd[60668]: Go OS/Arch: linux/amd64
Mar 21 05:23:12 ubuntu etcd[60668]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 21 05:23:12 ubuntu etcd[60668]: Running http and grpc server on single port. This is not recommended for production.
Mar 21 05:23:12 ubuntu etcd[60668]: name = ubuntu
Mar 21 05:23:12 ubuntu etcd[60668]: data dir = /opt/stack/data/etcd
Mar 21 05:23:12 ubuntu etcd[60668]: member dir = /opt/stack/data/etcd/member
Mar 21 05:23:12 ubuntu etcd[60668]: heartbeat = 100ms
Mar 21 05:23:12 ubuntu etcd[60668]: election = 1000ms
Mar 21 05:23:12 ubuntu etcd[60668]: snapshot count = 100000
Mar 21 05:23:12 ubuntu etcd[60668]: advertise client URLs = http://10.201.4.32:2379
Mar 21 05:23:12 ubuntu etcd[60668]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 21 05:23:12 ubuntu etcd[60668]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 21 05:23:12 ubuntu etcd[60668]: raft2024/03/21 05:23:12 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 21 05:23:12 ubuntu etcd[60668]: raft2024/03/21 05:23:12 INFO: 33238c1cdfea94eb became follower at term 0
Mar 21 05:23:12 ubuntu etcd[60668]: raft2024/03/21 05:23:12 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 21 05:23:12 ubuntu etcd[60668]: raft2024/03/21 05:23:12 INFO: 33238c1cdfea94eb became follower at term 1
Mar 21 05:23:12 ubuntu etcd[60668]: raft2024/03/21 05:23:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 21 05:23:12 ubuntu etcd[60668]: simple token is not cryptographically signed
Mar 21 05:23:12 ubuntu etcd[60668]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 21 05:23:12 ubuntu etcd[60668]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 21 05:23:12 ubuntu etcd[60668]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 21 05:23:12 ubuntu etcd[60668]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 21 05:23:12 ubuntu etcd[60668]: raft2024/03/21 05:23:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 21 05:23:12 ubuntu etcd[60668]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 21 05:23:12 ubuntu etcd[60668]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 21 05:23:12 ubuntu etcd[60668]: listening for peers on [::]:2380
Mar 21 05:23:12 ubuntu etcd[60668]: raft2024/03/21 05:23:12 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 21 05:23:12 ubuntu etcd[60668]: raft2024/03/21 05:23:12 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 21 05:23:12 ubuntu etcd[60668]: raft2024/03/21 05:23:12 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 21 05:23:12 ubuntu etcd[60668]: raft2024/03/21 05:23:12 INFO: 33238c1cdfea94eb became leader at term 2
Mar 21 05:23:12 ubuntu etcd[60668]: raft2024/03/21 05:23:12 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 21 05:23:12 ubuntu etcd[60668]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 21 05:23:12 ubuntu etcd[60668]: INFO: 2024/03/21 05:23:12 parsed scheme: ""
Mar 21 05:23:12 ubuntu etcd[60668]: INFO: 2024/03/21 05:23:12 scheme "" not registered, fallback to default scheme
Mar 21 05:23:12 ubuntu etcd[60668]: INFO: 2024/03/21 05:23:12 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 21 05:23:12 ubuntu etcd[60668]: INFO: 2024/03/21 05:23:12 ClientConn switching balancer to "pick_first"
Mar 21 05:23:12 ubuntu etcd[60668]: setting up the initial cluster version to 3.4
Mar 21 05:23:12 ubuntu etcd[60668]: ready to serve client requests
Mar 21 05:23:12 ubuntu etcd[60668]: set the initial cluster version to 3.4
Mar 21 05:23:12 ubuntu etcd[60668]: enabled capabilities for version 3.4
Mar 21 05:23:12 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 21 05:23:12 ubuntu etcd[60668]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 21 05:27:32 ubuntu etcd[60668]: start time = 2024-03-21 05:27:32.881902844 +0000 UTC m=+260.834750693, time spent = 473.627µs, remote = 10.201.4.32:50256, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 05:27:32 ubuntu etcd[60668]: start time = 2024-03-21 05:27:32.973767991 +0000 UTC m=+260.926615851, time spent = 180.179µs, remote = 10.201.4.32:50256, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 05:27:39 ubuntu etcd[60668]: start time = 2024-03-21 05:27:39.868685867 +0000 UTC m=+267.821533730, time spent = 193.797µs, remote = 10.201.4.32:50256, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 05:27:41 ubuntu etcd[60668]: start time = 2024-03-21 05:27:41.946559813 +0000 UTC m=+269.899407674, time spent = 154.513µs, remote = 10.201.4.32:50256, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
