Oct 15 20:48:36 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 15 20:48:36 ubuntu etcd[59623]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 15 20:48:36 ubuntu etcd[59623]:         A future release of golang/protobuf will delete this package,
Oct 15 20:48:36 ubuntu etcd[59623]:         which has long been excluded from the compatibility promise.
Oct 15 20:48:36 ubuntu etcd[59623]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 15 20:48:36 ubuntu etcd[59623]: Running http and grpc server on single port. This is not recommended for production.
Oct 15 20:48:36 ubuntu etcd[59623]: etcd Version: 3.4.27
Oct 15 20:48:36 ubuntu etcd[59623]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 15 20:48:36 ubuntu etcd[59623]: Git SHA: c92fb80f3
Oct 15 20:48:36 ubuntu etcd[59623]: Go Version: go1.19.10
Oct 15 20:48:36 ubuntu etcd[59623]: Go OS/Arch: linux/amd64
Oct 15 20:48:36 ubuntu etcd[59623]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 15 20:48:36 ubuntu etcd[59623]: Running http and grpc server on single port. This is not recommended for production.
Oct 15 20:48:36 ubuntu etcd[59623]: name = ubuntu
Oct 15 20:48:36 ubuntu etcd[59623]: data dir = /opt/stack/data/etcd
Oct 15 20:48:36 ubuntu etcd[59623]: member dir = /opt/stack/data/etcd/member
Oct 15 20:48:36 ubuntu etcd[59623]: heartbeat = 100ms
Oct 15 20:48:36 ubuntu etcd[59623]: election = 1000ms
Oct 15 20:48:36 ubuntu etcd[59623]: snapshot count = 100000
Oct 15 20:48:36 ubuntu etcd[59623]: advertise client URLs = http://10.201.4.32:2379
Oct 15 20:48:36 ubuntu etcd[59623]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 15 20:48:36 ubuntu etcd[59623]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 15 20:48:36 ubuntu etcd[59623]: raft2024/10/15 20:48:36 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 15 20:48:36 ubuntu etcd[59623]: raft2024/10/15 20:48:36 INFO: 33238c1cdfea94eb became follower at term 0
Oct 15 20:48:36 ubuntu etcd[59623]: raft2024/10/15 20:48:36 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 15 20:48:36 ubuntu etcd[59623]: raft2024/10/15 20:48:36 INFO: 33238c1cdfea94eb became follower at term 1
Oct 15 20:48:36 ubuntu etcd[59623]: raft2024/10/15 20:48:36 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 15 20:48:36 ubuntu etcd[59623]: simple token is not cryptographically signed
Oct 15 20:48:36 ubuntu etcd[59623]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 15 20:48:36 ubuntu etcd[59623]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 15 20:48:36 ubuntu etcd[59623]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 15 20:48:36 ubuntu etcd[59623]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 15 20:48:36 ubuntu etcd[59623]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 15 20:48:36 ubuntu etcd[59623]: listening for peers on [::]:2380
Oct 15 20:48:36 ubuntu etcd[59623]: raft2024/10/15 20:48:36 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 15 20:48:36 ubuntu etcd[59623]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 15 20:48:37 ubuntu etcd[59623]: raft2024/10/15 20:48:37 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 15 20:48:37 ubuntu etcd[59623]: raft2024/10/15 20:48:37 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 15 20:48:37 ubuntu etcd[59623]: raft2024/10/15 20:48:37 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 15 20:48:37 ubuntu etcd[59623]: raft2024/10/15 20:48:37 INFO: 33238c1cdfea94eb became leader at term 2
Oct 15 20:48:37 ubuntu etcd[59623]: raft2024/10/15 20:48:37 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 15 20:48:37 ubuntu etcd[59623]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 15 20:48:37 ubuntu etcd[59623]: setting up the initial cluster version to 3.4
Oct 15 20:48:37 ubuntu etcd[59623]: ready to serve client requests
Oct 15 20:48:37 ubuntu etcd[59623]: set the initial cluster version to 3.4
Oct 15 20:48:37 ubuntu etcd[59623]: enabled capabilities for version 3.4
Oct 15 20:48:37 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 15 20:48:37 ubuntu etcd[59623]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 15 20:52:55 ubuntu etcd[59623]: start time = 2024-10-15 20:52:55.767025439 +0000 UTC m=+259.395803675, time spent = 417.462µs, remote = 10.201.4.32:47354, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 15 20:52:55 ubuntu etcd[59623]: start time = 2024-10-15 20:52:55.882338842 +0000 UTC m=+259.511117078, time spent = 198.974µs, remote = 10.201.4.32:47354, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 15 20:53:02 ubuntu etcd[59623]: start time = 2024-10-15 20:53:02.633765454 +0000 UTC m=+266.262543705, time spent = 221.767µs, remote = 10.201.4.32:47354, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 15 20:53:04 ubuntu etcd[59623]: start time = 2024-10-15 20:53:04.716799656 +0000 UTC m=+268.345577893, time spent = 193.259µs, remote = 10.201.4.32:47354, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
