Dec 14 11:30:25 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 14 11:30:25 ubuntu etcd[59186]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 14 11:30:25 ubuntu etcd[59186]:         A future release of golang/protobuf will delete this package,
Dec 14 11:30:25 ubuntu etcd[59186]:         which has long been excluded from the compatibility promise.
Dec 14 11:30:25 ubuntu etcd[59186]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 14 11:30:25 ubuntu etcd[59186]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 14 11:30:25 ubuntu etcd[59186]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 14 11:30:25 ubuntu etcd[59186]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 14 11:30:25 ubuntu etcd[59186]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 14 11:30:25 ubuntu etcd[59186]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 14 11:30:25 ubuntu etcd[59186]: Running http and grpc server on single port. This is not recommended for production.
Dec 14 11:30:25 ubuntu etcd[59186]: etcd Version: 3.4.27
Dec 14 11:30:25 ubuntu etcd[59186]: Git SHA: c92fb80f3
Dec 14 11:30:25 ubuntu etcd[59186]: Go Version: go1.19.10
Dec 14 11:30:25 ubuntu etcd[59186]: Go OS/Arch: linux/amd64
Dec 14 11:30:25 ubuntu etcd[59186]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 14 11:30:25 ubuntu etcd[59186]: Running http and grpc server on single port. This is not recommended for production.
Dec 14 11:30:25 ubuntu etcd[59186]: name = ubuntu
Dec 14 11:30:25 ubuntu etcd[59186]: data dir = /opt/stack/data/etcd
Dec 14 11:30:25 ubuntu etcd[59186]: member dir = /opt/stack/data/etcd/member
Dec 14 11:30:25 ubuntu etcd[59186]: heartbeat = 100ms
Dec 14 11:30:25 ubuntu etcd[59186]: election = 1000ms
Dec 14 11:30:25 ubuntu etcd[59186]: snapshot count = 100000
Dec 14 11:30:25 ubuntu etcd[59186]: advertise client URLs = http://10.201.4.32:2379
Dec 14 11:30:25 ubuntu etcd[59186]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 14 11:30:25 ubuntu etcd[59186]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 14 11:30:25 ubuntu etcd[59186]: raft2023/12/14 11:30:25 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 14 11:30:25 ubuntu etcd[59186]: raft2023/12/14 11:30:25 INFO: 33238c1cdfea94eb became follower at term 0
Dec 14 11:30:25 ubuntu etcd[59186]: raft2023/12/14 11:30:25 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 14 11:30:25 ubuntu etcd[59186]: raft2023/12/14 11:30:25 INFO: 33238c1cdfea94eb became follower at term 1
Dec 14 11:30:25 ubuntu etcd[59186]: raft2023/12/14 11:30:25 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 14 11:30:25 ubuntu etcd[59186]: simple token is not cryptographically signed
Dec 14 11:30:25 ubuntu etcd[59186]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 14 11:30:25 ubuntu etcd[59186]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 14 11:30:25 ubuntu etcd[59186]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 14 11:30:25 ubuntu etcd[59186]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 14 11:30:25 ubuntu etcd[59186]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 14 11:30:25 ubuntu etcd[59186]: raft2023/12/14 11:30:25 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 14 11:30:25 ubuntu etcd[59186]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 14 11:30:25 ubuntu etcd[59186]: listening for peers on [::]:2380
Dec 14 11:30:26 ubuntu etcd[59186]: raft2023/12/14 11:30:26 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 14 11:30:26 ubuntu etcd[59186]: raft2023/12/14 11:30:26 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 14 11:30:26 ubuntu etcd[59186]: raft2023/12/14 11:30:26 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 14 11:30:26 ubuntu etcd[59186]: raft2023/12/14 11:30:26 INFO: 33238c1cdfea94eb became leader at term 2
Dec 14 11:30:26 ubuntu etcd[59186]: raft2023/12/14 11:30:26 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 14 11:30:26 ubuntu etcd[59186]: setting up the initial cluster version to 3.4
Dec 14 11:30:26 ubuntu etcd[59186]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 14 11:30:26 ubuntu etcd[59186]: set the initial cluster version to 3.4
Dec 14 11:30:26 ubuntu etcd[59186]: ready to serve client requests
Dec 14 11:30:26 ubuntu etcd[59186]: enabled capabilities for version 3.4
Dec 14 11:30:26 ubuntu etcd[59186]: INFO: 2023/12/14 11:30:26 parsed scheme: ""
Dec 14 11:30:26 ubuntu etcd[59186]: INFO: 2023/12/14 11:30:26 scheme "" not registered, fallback to default scheme
Dec 14 11:30:26 ubuntu etcd[59186]: INFO: 2023/12/14 11:30:26 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Dec 14 11:30:26 ubuntu etcd[59186]: INFO: 2023/12/14 11:30:26 ClientConn switching balancer to "pick_first"
Dec 14 11:30:26 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 14 11:30:26 ubuntu etcd[59186]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 14 11:34:51 ubuntu etcd[59186]: start time = 2023-12-14 11:34:51.497804926 +0000 UTC m=+265.718445581, time spent = 1.282409ms, remote = 10.201.4.32:57754, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 14 11:34:51 ubuntu etcd[59186]: start time = 2023-12-14 11:34:51.544900207 +0000 UTC m=+265.765540800, time spent = 166.069µs, remote = 10.201.4.32:57754, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 14 11:34:58 ubuntu etcd[59186]: start time = 2023-12-14 11:34:58.307153878 +0000 UTC m=+272.527794483, time spent = 172.706µs, remote = 10.201.4.32:57754, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 14 11:35:00 ubuntu etcd[59186]: start time = 2023-12-14 11:35:00.330150906 +0000 UTC m=+274.550791511, time spent = 454.977µs, remote = 10.201.4.32:57754, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
