May 23 05:29:31 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 23 05:29:31 ubuntu etcd[60114]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 23 05:29:31 ubuntu etcd[60114]:         A future release of golang/protobuf will delete this package,
May 23 05:29:31 ubuntu etcd[60114]:         which has long been excluded from the compatibility promise.
May 23 05:29:31 ubuntu etcd[60114]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 23 05:29:31 ubuntu etcd[60114]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 23 05:29:31 ubuntu etcd[60114]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 23 05:29:31 ubuntu etcd[60114]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 23 05:29:31 ubuntu etcd[60114]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 23 05:29:31 ubuntu etcd[60114]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 23 05:29:31 ubuntu etcd[60114]: Running http and grpc server on single port. This is not recommended for production.
May 23 05:29:31 ubuntu etcd[60114]: etcd Version: 3.4.27
May 23 05:29:31 ubuntu etcd[60114]: Git SHA: c92fb80f3
May 23 05:29:31 ubuntu etcd[60114]: Go Version: go1.19.10
May 23 05:29:31 ubuntu etcd[60114]: Go OS/Arch: linux/amd64
May 23 05:29:31 ubuntu etcd[60114]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 23 05:29:31 ubuntu etcd[60114]: Running http and grpc server on single port. This is not recommended for production.
May 23 05:29:31 ubuntu etcd[60114]: name = ubuntu
May 23 05:29:31 ubuntu etcd[60114]: data dir = /opt/stack/data/etcd
May 23 05:29:31 ubuntu etcd[60114]: member dir = /opt/stack/data/etcd/member
May 23 05:29:31 ubuntu etcd[60114]: heartbeat = 100ms
May 23 05:29:31 ubuntu etcd[60114]: election = 1000ms
May 23 05:29:31 ubuntu etcd[60114]: snapshot count = 100000
May 23 05:29:31 ubuntu etcd[60114]: advertise client URLs = http://10.201.4.32:2379
May 23 05:29:31 ubuntu etcd[60114]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 23 05:29:31 ubuntu etcd[60114]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 23 05:29:31 ubuntu etcd[60114]: raft2024/05/23 05:29:31 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 23 05:29:31 ubuntu etcd[60114]: raft2024/05/23 05:29:31 INFO: 33238c1cdfea94eb became follower at term 0
May 23 05:29:31 ubuntu etcd[60114]: raft2024/05/23 05:29:31 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 23 05:29:31 ubuntu etcd[60114]: raft2024/05/23 05:29:31 INFO: 33238c1cdfea94eb became follower at term 1
May 23 05:29:31 ubuntu etcd[60114]: raft2024/05/23 05:29:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 23 05:29:31 ubuntu etcd[60114]: simple token is not cryptographically signed
May 23 05:29:31 ubuntu etcd[60114]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 23 05:29:31 ubuntu etcd[60114]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 23 05:29:31 ubuntu etcd[60114]: raft2024/05/23 05:29:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 23 05:29:31 ubuntu etcd[60114]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 23 05:29:31 ubuntu etcd[60114]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 23 05:29:31 ubuntu etcd[60114]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 23 05:29:31 ubuntu etcd[60114]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 23 05:29:31 ubuntu etcd[60114]: listening for peers on [::]:2380
May 23 05:29:32 ubuntu etcd[60114]: raft2024/05/23 05:29:32 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 23 05:29:32 ubuntu etcd[60114]: raft2024/05/23 05:29:32 INFO: 33238c1cdfea94eb became candidate at term 2
May 23 05:29:32 ubuntu etcd[60114]: raft2024/05/23 05:29:32 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 23 05:29:32 ubuntu etcd[60114]: raft2024/05/23 05:29:32 INFO: 33238c1cdfea94eb became leader at term 2
May 23 05:29:32 ubuntu etcd[60114]: raft2024/05/23 05:29:32 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 23 05:29:32 ubuntu etcd[60114]: setting up the initial cluster version to 3.4
May 23 05:29:32 ubuntu etcd[60114]: set the initial cluster version to 3.4
May 23 05:29:32 ubuntu etcd[60114]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 23 05:29:32 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 23 05:29:32 ubuntu etcd[60114]: enabled capabilities for version 3.4
May 23 05:29:32 ubuntu etcd[60114]: ready to serve client requests
May 23 05:29:32 ubuntu etcd[60114]: INFO: 2024/05/23 05:29:32 parsed scheme: ""
May 23 05:29:32 ubuntu etcd[60114]: INFO: 2024/05/23 05:29:32 scheme "" not registered, fallback to default scheme
May 23 05:29:32 ubuntu etcd[60114]: INFO: 2024/05/23 05:29:32 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 23 05:29:32 ubuntu etcd[60114]: INFO: 2024/05/23 05:29:32 ClientConn switching balancer to "pick_first"
May 23 05:29:32 ubuntu etcd[60114]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 23 05:33:46 ubuntu etcd[60114]: start time = 2024-05-23 05:33:46.993981026 +0000 UTC m=+255.144273608, time spent = 573.826µs, remote = 10.201.4.32:37544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 23 05:33:47 ubuntu etcd[60114]: start time = 2024-05-23 05:33:47.027798079 +0000 UTC m=+255.178090661, time spent = 176.747µs, remote = 10.201.4.32:37544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 23 05:33:53 ubuntu etcd[60114]: start time = 2024-05-23 05:33:53.516026643 +0000 UTC m=+261.666319223, time spent = 182.747µs, remote = 10.201.4.32:37544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 23 05:33:55 ubuntu etcd[60114]: start time = 2024-05-23 05:33:55.745657593 +0000 UTC m=+263.895950185, time spent = 255.618µs, remote = 10.201.4.32:37544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 23 05:29:31 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 23 05:29:31 ubuntu etcd[60114]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 23 05:29:31 ubuntu etcd[60114]:         A future release of golang/protobuf will delete this package,
May 23 05:29:31 ubuntu etcd[60114]:         which has long been excluded from the compatibility promise.
May 23 05:29:31 ubuntu etcd[60114]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 23 05:29:31 ubuntu etcd[60114]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 23 05:29:31 ubuntu etcd[60114]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 23 05:29:31 ubuntu etcd[60114]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 23 05:29:31 ubuntu etcd[60114]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 23 05:29:31 ubuntu etcd[60114]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 23 05:29:31 ubuntu etcd[60114]: Running http and grpc server on single port. This is not recommended for production.
May 23 05:29:31 ubuntu etcd[60114]: etcd Version: 3.4.27
May 23 05:29:31 ubuntu etcd[60114]: Git SHA: c92fb80f3
May 23 05:29:31 ubuntu etcd[60114]: Go Version: go1.19.10
May 23 05:29:31 ubuntu etcd[60114]: Go OS/Arch: linux/amd64
May 23 05:29:31 ubuntu etcd[60114]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 23 05:29:31 ubuntu etcd[60114]: Running http and grpc server on single port. This is not recommended for production.
May 23 05:29:31 ubuntu etcd[60114]: name = ubuntu
May 23 05:29:31 ubuntu etcd[60114]: data dir = /opt/stack/data/etcd
May 23 05:29:31 ubuntu etcd[60114]: member dir = /opt/stack/data/etcd/member
May 23 05:29:31 ubuntu etcd[60114]: heartbeat = 100ms
May 23 05:29:31 ubuntu etcd[60114]: election = 1000ms
May 23 05:29:31 ubuntu etcd[60114]: snapshot count = 100000
May 23 05:29:31 ubuntu etcd[60114]: advertise client URLs = http://10.201.4.32:2379
May 23 05:29:31 ubuntu etcd[60114]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 23 05:29:31 ubuntu etcd[60114]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 23 05:29:31 ubuntu etcd[60114]: raft2024/05/23 05:29:31 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 23 05:29:31 ubuntu etcd[60114]: raft2024/05/23 05:29:31 INFO: 33238c1cdfea94eb became follower at term 0
May 23 05:29:31 ubuntu etcd[60114]: raft2024/05/23 05:29:31 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 23 05:29:31 ubuntu etcd[60114]: raft2024/05/23 05:29:31 INFO: 33238c1cdfea94eb became follower at term 1
May 23 05:29:31 ubuntu etcd[60114]: raft2024/05/23 05:29:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 23 05:29:31 ubuntu etcd[60114]: simple token is not cryptographically signed
May 23 05:29:31 ubuntu etcd[60114]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 23 05:29:31 ubuntu etcd[60114]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 23 05:29:31 ubuntu etcd[60114]: raft2024/05/23 05:29:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 23 05:29:31 ubuntu etcd[60114]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 23 05:29:31 ubuntu etcd[60114]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 23 05:29:31 ubuntu etcd[60114]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 23 05:29:31 ubuntu etcd[60114]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 23 05:29:31 ubuntu etcd[60114]: listening for peers on [::]:2380
May 23 05:29:32 ubuntu etcd[60114]: raft2024/05/23 05:29:32 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 23 05:29:32 ubuntu etcd[60114]: raft2024/05/23 05:29:32 INFO: 33238c1cdfea94eb became candidate at term 2
May 23 05:29:32 ubuntu etcd[60114]: raft2024/05/23 05:29:32 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 23 05:29:32 ubuntu etcd[60114]: raft2024/05/23 05:29:32 INFO: 33238c1cdfea94eb became leader at term 2
May 23 05:29:32 ubuntu etcd[60114]: raft2024/05/23 05:29:32 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 23 05:29:32 ubuntu etcd[60114]: setting up the initial cluster version to 3.4
May 23 05:29:32 ubuntu etcd[60114]: set the initial cluster version to 3.4
May 23 05:29:32 ubuntu etcd[60114]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 23 05:29:32 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 23 05:29:32 ubuntu etcd[60114]: enabled capabilities for version 3.4
May 23 05:29:32 ubuntu etcd[60114]: ready to serve client requests
May 23 05:29:32 ubuntu etcd[60114]: INFO: 2024/05/23 05:29:32 parsed scheme: ""
May 23 05:29:32 ubuntu etcd[60114]: INFO: 2024/05/23 05:29:32 scheme "" not registered, fallback to default scheme
May 23 05:29:32 ubuntu etcd[60114]: INFO: 2024/05/23 05:29:32 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 23 05:29:32 ubuntu etcd[60114]: INFO: 2024/05/23 05:29:32 ClientConn switching balancer to "pick_first"
May 23 05:29:32 ubuntu etcd[60114]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 23 05:33:46 ubuntu etcd[60114]: start time = 2024-05-23 05:33:46.993981026 +0000 UTC m=+255.144273608, time spent = 573.826µs, remote = 10.201.4.32:37544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 23 05:33:47 ubuntu etcd[60114]: start time = 2024-05-23 05:33:47.027798079 +0000 UTC m=+255.178090661, time spent = 176.747µs, remote = 10.201.4.32:37544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 23 05:33:53 ubuntu etcd[60114]: start time = 2024-05-23 05:33:53.516026643 +0000 UTC m=+261.666319223, time spent = 182.747µs, remote = 10.201.4.32:37544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 23 05:33:55 ubuntu etcd[60114]: start time = 2024-05-23 05:33:55.745657593 +0000 UTC m=+263.895950185, time spent = 255.618µs, remote = 10.201.4.32:37544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
