Sep 16 07:45:54 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 16 07:45:54 ubuntu etcd[59428]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 16 07:45:54 ubuntu etcd[59428]:         A future release of golang/protobuf will delete this package,
Sep 16 07:45:54 ubuntu etcd[59428]:         which has long been excluded from the compatibility promise.
Sep 16 07:45:54 ubuntu etcd[59428]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 16 07:45:54 ubuntu etcd[59428]: Running http and grpc server on single port. This is not recommended for production.
Sep 16 07:45:54 ubuntu etcd[59428]: etcd Version: 3.4.27
Sep 16 07:45:54 ubuntu etcd[59428]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 16 07:45:54 ubuntu etcd[59428]: Git SHA: c92fb80f3
Sep 16 07:45:54 ubuntu etcd[59428]: Go Version: go1.19.10
Sep 16 07:45:54 ubuntu etcd[59428]: Go OS/Arch: linux/amd64
Sep 16 07:45:54 ubuntu etcd[59428]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 16 07:45:54 ubuntu etcd[59428]: Running http and grpc server on single port. This is not recommended for production.
Sep 16 07:45:54 ubuntu etcd[59428]: name = ubuntu
Sep 16 07:45:54 ubuntu etcd[59428]: data dir = /opt/stack/data/etcd
Sep 16 07:45:54 ubuntu etcd[59428]: member dir = /opt/stack/data/etcd/member
Sep 16 07:45:54 ubuntu etcd[59428]: heartbeat = 100ms
Sep 16 07:45:54 ubuntu etcd[59428]: election = 1000ms
Sep 16 07:45:54 ubuntu etcd[59428]: snapshot count = 100000
Sep 16 07:45:54 ubuntu etcd[59428]: advertise client URLs = http://10.201.4.32:2379
Sep 16 07:45:54 ubuntu etcd[59428]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 16 07:45:54 ubuntu etcd[59428]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 16 07:45:54 ubuntu etcd[59428]: raft2024/09/16 07:45:54 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 16 07:45:54 ubuntu etcd[59428]: raft2024/09/16 07:45:54 INFO: 33238c1cdfea94eb became follower at term 0
Sep 16 07:45:54 ubuntu etcd[59428]: raft2024/09/16 07:45:54 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 16 07:45:54 ubuntu etcd[59428]: raft2024/09/16 07:45:54 INFO: 33238c1cdfea94eb became follower at term 1
Sep 16 07:45:54 ubuntu etcd[59428]: raft2024/09/16 07:45:54 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 16 07:45:54 ubuntu etcd[59428]: simple token is not cryptographically signed
Sep 16 07:45:54 ubuntu etcd[59428]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 16 07:45:54 ubuntu etcd[59428]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 16 07:45:54 ubuntu etcd[59428]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 16 07:45:54 ubuntu etcd[59428]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 16 07:45:54 ubuntu etcd[59428]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 16 07:45:54 ubuntu etcd[59428]: raft2024/09/16 07:45:54 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 16 07:45:54 ubuntu etcd[59428]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 16 07:45:54 ubuntu etcd[59428]: listening for peers on [::]:2380
Sep 16 07:45:54 ubuntu etcd[59428]: raft2024/09/16 07:45:54 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 16 07:45:54 ubuntu etcd[59428]: raft2024/09/16 07:45:54 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 16 07:45:54 ubuntu etcd[59428]: raft2024/09/16 07:45:54 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 16 07:45:54 ubuntu etcd[59428]: raft2024/09/16 07:45:54 INFO: 33238c1cdfea94eb became leader at term 2
Sep 16 07:45:54 ubuntu etcd[59428]: raft2024/09/16 07:45:54 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 16 07:45:54 ubuntu etcd[59428]: setting up the initial cluster version to 3.4
Sep 16 07:45:54 ubuntu etcd[59428]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 16 07:45:54 ubuntu etcd[59428]: set the initial cluster version to 3.4
Sep 16 07:45:54 ubuntu etcd[59428]: ready to serve client requests
Sep 16 07:45:54 ubuntu etcd[59428]: enabled capabilities for version 3.4
Sep 16 07:45:54 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 16 07:45:54 ubuntu etcd[59428]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 16 07:50:11 ubuntu etcd[59428]: start time = 2024-09-16 07:50:11.564674714 +0000 UTC m=+257.002688428, time spent = 499.657µs, remote = 10.201.4.32:54524, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 16 07:50:11 ubuntu etcd[59428]: start time = 2024-09-16 07:50:11.640055431 +0000 UTC m=+257.078069163, time spent = 282.943µs, remote = 10.201.4.32:54524, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 16 07:50:18 ubuntu etcd[59428]: start time = 2024-09-16 07:50:18.240036238 +0000 UTC m=+263.678049953, time spent = 293.288µs, remote = 10.201.4.32:54524, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 16 07:50:20 ubuntu etcd[59428]: start time = 2024-09-16 07:50:20.405998853 +0000 UTC m=+265.844012582, time spent = 500.185µs, remote = 10.201.4.32:54524, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
