Oct 07 13:46:12 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 07 13:46:12 ubuntu etcd[59479]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 07 13:46:12 ubuntu etcd[59479]:         A future release of golang/protobuf will delete this package,
Oct 07 13:46:12 ubuntu etcd[59479]:         which has long been excluded from the compatibility promise.
Oct 07 13:46:12 ubuntu etcd[59479]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 07 13:46:12 ubuntu etcd[59479]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 07 13:46:12 ubuntu etcd[59479]: Running http and grpc server on single port. This is not recommended for production.
Oct 07 13:46:12 ubuntu etcd[59479]: etcd Version: 3.4.27
Oct 07 13:46:12 ubuntu etcd[59479]: Git SHA: c92fb80f3
Oct 07 13:46:12 ubuntu etcd[59479]: Go Version: go1.19.10
Oct 07 13:46:12 ubuntu etcd[59479]: Go OS/Arch: linux/amd64
Oct 07 13:46:12 ubuntu etcd[59479]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 07 13:46:12 ubuntu etcd[59479]: Running http and grpc server on single port. This is not recommended for production.
Oct 07 13:46:12 ubuntu etcd[59479]: name = ubuntu
Oct 07 13:46:12 ubuntu etcd[59479]: data dir = /opt/stack/data/etcd
Oct 07 13:46:12 ubuntu etcd[59479]: member dir = /opt/stack/data/etcd/member
Oct 07 13:46:12 ubuntu etcd[59479]: heartbeat = 100ms
Oct 07 13:46:12 ubuntu etcd[59479]: election = 1000ms
Oct 07 13:46:12 ubuntu etcd[59479]: snapshot count = 100000
Oct 07 13:46:12 ubuntu etcd[59479]: advertise client URLs = http://10.201.4.32:2379
Oct 07 13:46:12 ubuntu etcd[59479]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 07 13:46:12 ubuntu etcd[59479]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 07 13:46:12 ubuntu etcd[59479]: raft2024/10/07 13:46:12 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 07 13:46:12 ubuntu etcd[59479]: raft2024/10/07 13:46:12 INFO: 33238c1cdfea94eb became follower at term 0
Oct 07 13:46:12 ubuntu etcd[59479]: raft2024/10/07 13:46:12 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 07 13:46:12 ubuntu etcd[59479]: raft2024/10/07 13:46:12 INFO: 33238c1cdfea94eb became follower at term 1
Oct 07 13:46:12 ubuntu etcd[59479]: raft2024/10/07 13:46:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 07 13:46:12 ubuntu etcd[59479]: simple token is not cryptographically signed
Oct 07 13:46:12 ubuntu etcd[59479]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 07 13:46:12 ubuntu etcd[59479]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 07 13:46:12 ubuntu etcd[59479]: raft2024/10/07 13:46:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 07 13:46:12 ubuntu etcd[59479]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 07 13:46:12 ubuntu etcd[59479]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 07 13:46:12 ubuntu etcd[59479]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 07 13:46:12 ubuntu etcd[59479]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 07 13:46:12 ubuntu etcd[59479]: listening for peers on [::]:2380
Oct 07 13:46:13 ubuntu etcd[59479]: raft2024/10/07 13:46:13 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 07 13:46:13 ubuntu etcd[59479]: raft2024/10/07 13:46:13 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 07 13:46:13 ubuntu etcd[59479]: raft2024/10/07 13:46:13 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 07 13:46:13 ubuntu etcd[59479]: raft2024/10/07 13:46:13 INFO: 33238c1cdfea94eb became leader at term 2
Oct 07 13:46:13 ubuntu etcd[59479]: raft2024/10/07 13:46:13 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 07 13:46:13 ubuntu etcd[59479]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 07 13:46:13 ubuntu etcd[59479]: setting up the initial cluster version to 3.4
Oct 07 13:46:13 ubuntu etcd[59479]: ready to serve client requests
Oct 07 13:46:13 ubuntu etcd[59479]: set the initial cluster version to 3.4
Oct 07 13:46:13 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 07 13:46:13 ubuntu etcd[59479]: enabled capabilities for version 3.4
Oct 07 13:46:13 ubuntu etcd[59479]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 07 13:50:28 ubuntu etcd[59479]: start time = 2024-10-07 13:50:28.4298225 +0000 UTC m=+255.596044630, time spent = 651.42µs, remote = 10.201.4.32:48442, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 13:50:28 ubuntu etcd[59479]: start time = 2024-10-07 13:50:28.43972573 +0000 UTC m=+255.605947861, time spent = 259.807µs, remote = 10.201.4.32:48442, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 13:50:34 ubuntu etcd[59479]: start time = 2024-10-07 13:50:34.854513637 +0000 UTC m=+262.020735783, time spent = 212.207µs, remote = 10.201.4.32:48442, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 13:50:37 ubuntu etcd[59479]: start time = 2024-10-07 13:50:37.062200421 +0000 UTC m=+264.228422551, time spent = 844.515µs, remote = 10.201.4.32:48442, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 13:46:12 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 07 13:46:12 ubuntu etcd[59479]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 07 13:46:12 ubuntu etcd[59479]:         A future release of golang/protobuf will delete this package,
Oct 07 13:46:12 ubuntu etcd[59479]:         which has long been excluded from the compatibility promise.
Oct 07 13:46:12 ubuntu etcd[59479]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 07 13:46:12 ubuntu etcd[59479]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 07 13:46:12 ubuntu etcd[59479]: Running http and grpc server on single port. This is not recommended for production.
Oct 07 13:46:12 ubuntu etcd[59479]: etcd Version: 3.4.27
Oct 07 13:46:12 ubuntu etcd[59479]: Git SHA: c92fb80f3
Oct 07 13:46:12 ubuntu etcd[59479]: Go Version: go1.19.10
Oct 07 13:46:12 ubuntu etcd[59479]: Go OS/Arch: linux/amd64
Oct 07 13:46:12 ubuntu etcd[59479]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 07 13:46:12 ubuntu etcd[59479]: Running http and grpc server on single port. This is not recommended for production.
Oct 07 13:46:12 ubuntu etcd[59479]: name = ubuntu
Oct 07 13:46:12 ubuntu etcd[59479]: data dir = /opt/stack/data/etcd
Oct 07 13:46:12 ubuntu etcd[59479]: member dir = /opt/stack/data/etcd/member
Oct 07 13:46:12 ubuntu etcd[59479]: heartbeat = 100ms
Oct 07 13:46:12 ubuntu etcd[59479]: election = 1000ms
Oct 07 13:46:12 ubuntu etcd[59479]: snapshot count = 100000
Oct 07 13:46:12 ubuntu etcd[59479]: advertise client URLs = http://10.201.4.32:2379
Oct 07 13:46:12 ubuntu etcd[59479]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 07 13:46:12 ubuntu etcd[59479]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 07 13:46:12 ubuntu etcd[59479]: raft2024/10/07 13:46:12 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 07 13:46:12 ubuntu etcd[59479]: raft2024/10/07 13:46:12 INFO: 33238c1cdfea94eb became follower at term 0
Oct 07 13:46:12 ubuntu etcd[59479]: raft2024/10/07 13:46:12 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 07 13:46:12 ubuntu etcd[59479]: raft2024/10/07 13:46:12 INFO: 33238c1cdfea94eb became follower at term 1
Oct 07 13:46:12 ubuntu etcd[59479]: raft2024/10/07 13:46:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 07 13:46:12 ubuntu etcd[59479]: simple token is not cryptographically signed
Oct 07 13:46:12 ubuntu etcd[59479]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 07 13:46:12 ubuntu etcd[59479]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 07 13:46:12 ubuntu etcd[59479]: raft2024/10/07 13:46:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 07 13:46:12 ubuntu etcd[59479]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 07 13:46:12 ubuntu etcd[59479]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 07 13:46:12 ubuntu etcd[59479]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 07 13:46:12 ubuntu etcd[59479]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 07 13:46:12 ubuntu etcd[59479]: listening for peers on [::]:2380
Oct 07 13:46:13 ubuntu etcd[59479]: raft2024/10/07 13:46:13 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 07 13:46:13 ubuntu etcd[59479]: raft2024/10/07 13:46:13 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 07 13:46:13 ubuntu etcd[59479]: raft2024/10/07 13:46:13 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 07 13:46:13 ubuntu etcd[59479]: raft2024/10/07 13:46:13 INFO: 33238c1cdfea94eb became leader at term 2
Oct 07 13:46:13 ubuntu etcd[59479]: raft2024/10/07 13:46:13 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 07 13:46:13 ubuntu etcd[59479]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 07 13:46:13 ubuntu etcd[59479]: setting up the initial cluster version to 3.4
Oct 07 13:46:13 ubuntu etcd[59479]: ready to serve client requests
Oct 07 13:46:13 ubuntu etcd[59479]: set the initial cluster version to 3.4
Oct 07 13:46:13 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 07 13:46:13 ubuntu etcd[59479]: enabled capabilities for version 3.4
Oct 07 13:46:13 ubuntu etcd[59479]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 07 13:50:28 ubuntu etcd[59479]: start time = 2024-10-07 13:50:28.4298225 +0000 UTC m=+255.596044630, time spent = 651.42µs, remote = 10.201.4.32:48442, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 13:50:28 ubuntu etcd[59479]: start time = 2024-10-07 13:50:28.43972573 +0000 UTC m=+255.605947861, time spent = 259.807µs, remote = 10.201.4.32:48442, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 13:50:34 ubuntu etcd[59479]: start time = 2024-10-07 13:50:34.854513637 +0000 UTC m=+262.020735783, time spent = 212.207µs, remote = 10.201.4.32:48442, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 13:50:37 ubuntu etcd[59479]: start time = 2024-10-07 13:50:37.062200421 +0000 UTC m=+264.228422551, time spent = 844.515µs, remote = 10.201.4.32:48442, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
