Apr 14 14:41:18 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 14 14:41:18 ubuntu etcd[58216]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 14 14:41:18 ubuntu etcd[58216]:         A future release of golang/protobuf will delete this package,
Apr 14 14:41:18 ubuntu etcd[58216]:         which has long been excluded from the compatibility promise.
Apr 14 14:41:18 ubuntu etcd[58216]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 14 14:41:18 ubuntu etcd[58216]: Running http and grpc server on single port. This is not recommended for production.
Apr 14 14:41:18 ubuntu etcd[58216]: etcd Version: 3.4.27
Apr 14 14:41:18 ubuntu etcd[58216]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 14 14:41:18 ubuntu etcd[58216]: Git SHA: c92fb80f3
Apr 14 14:41:18 ubuntu etcd[58216]: Go Version: go1.19.10
Apr 14 14:41:18 ubuntu etcd[58216]: Go OS/Arch: linux/amd64
Apr 14 14:41:18 ubuntu etcd[58216]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 14 14:41:18 ubuntu etcd[58216]: Running http and grpc server on single port. This is not recommended for production.
Apr 14 14:41:18 ubuntu etcd[58216]: name = ubuntu
Apr 14 14:41:18 ubuntu etcd[58216]: data dir = /opt/stack/data/etcd
Apr 14 14:41:18 ubuntu etcd[58216]: member dir = /opt/stack/data/etcd/member
Apr 14 14:41:18 ubuntu etcd[58216]: heartbeat = 100ms
Apr 14 14:41:18 ubuntu etcd[58216]: election = 1000ms
Apr 14 14:41:18 ubuntu etcd[58216]: snapshot count = 100000
Apr 14 14:41:18 ubuntu etcd[58216]: advertise client URLs = http://10.201.9.223:2379
Apr 14 14:41:18 ubuntu etcd[58216]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 14 14:41:18 ubuntu etcd[58216]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 14 14:41:18 ubuntu etcd[58216]: raft2025/04/14 14:41:18 INFO: c25b29daa831042c switched to configuration voters=()
Apr 14 14:41:18 ubuntu etcd[58216]: raft2025/04/14 14:41:18 INFO: c25b29daa831042c became follower at term 0
Apr 14 14:41:18 ubuntu etcd[58216]: raft2025/04/14 14:41:18 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 14 14:41:18 ubuntu etcd[58216]: raft2025/04/14 14:41:18 INFO: c25b29daa831042c became follower at term 1
Apr 14 14:41:18 ubuntu etcd[58216]: raft2025/04/14 14:41:18 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 14 14:41:18 ubuntu etcd[58216]: simple token is not cryptographically signed
Apr 14 14:41:18 ubuntu etcd[58216]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 14 14:41:18 ubuntu etcd[58216]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 14 14:41:18 ubuntu etcd[58216]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 14 14:41:18 ubuntu etcd[58216]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 14 14:41:18 ubuntu etcd[58216]: raft2025/04/14 14:41:18 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 14 14:41:18 ubuntu etcd[58216]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 14 14:41:18 ubuntu etcd[58216]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 14 14:41:18 ubuntu etcd[58216]: listening for peers on [::]:2380
Apr 14 14:41:19 ubuntu etcd[58216]: raft2025/04/14 14:41:19 INFO: c25b29daa831042c is starting a new election at term 1
Apr 14 14:41:19 ubuntu etcd[58216]: raft2025/04/14 14:41:19 INFO: c25b29daa831042c became candidate at term 2
Apr 14 14:41:19 ubuntu etcd[58216]: raft2025/04/14 14:41:19 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 14 14:41:19 ubuntu etcd[58216]: raft2025/04/14 14:41:19 INFO: c25b29daa831042c became leader at term 2
Apr 14 14:41:19 ubuntu etcd[58216]: raft2025/04/14 14:41:19 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 14 14:41:19 ubuntu etcd[58216]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 14 14:41:19 ubuntu etcd[58216]: setting up the initial cluster version to 3.4
Apr 14 14:41:19 ubuntu etcd[58216]: ready to serve client requests
Apr 14 14:41:19 ubuntu etcd[58216]: set the initial cluster version to 3.4
Apr 14 14:41:19 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 14 14:41:19 ubuntu etcd[58216]: enabled capabilities for version 3.4
Apr 14 14:41:19 ubuntu etcd[58216]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 14 14:45:24 ubuntu etcd[58216]: start time = 2025-04-14 14:45:24.397930679 +0000 UTC m=+245.519651284, time spent = 467.522µs, remote = 10.201.9.223:53472, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 14 14:45:24 ubuntu etcd[58216]: start time = 2025-04-14 14:45:24.409464263 +0000 UTC m=+245.531184870, time spent = 213.572µs, remote = 10.201.9.223:53472, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 14 14:45:30 ubuntu etcd[58216]: start time = 2025-04-14 14:45:30.802067402 +0000 UTC m=+251.923788009, time spent = 166.31µs, remote = 10.201.9.223:53472, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 14 14:45:32 ubuntu etcd[58216]: start time = 2025-04-14 14:45:32.833652582 +0000 UTC m=+253.955373192, time spent = 221.465µs, remote = 10.201.9.223:53472, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
