Jun 11 04:25:15 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 11 04:25:15 ubuntu etcd[59154]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 11 04:25:15 ubuntu etcd[59154]:         A future release of golang/protobuf will delete this package,
Jun 11 04:25:15 ubuntu etcd[59154]:         which has long been excluded from the compatibility promise.
Jun 11 04:25:15 ubuntu etcd[59154]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 04:25:15 ubuntu etcd[59154]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 04:25:15 ubuntu etcd[59154]: etcd Version: 3.4.27
Jun 11 04:25:15 ubuntu etcd[59154]: Git SHA: c92fb80f3
Jun 11 04:25:15 ubuntu etcd[59154]: Go Version: go1.19.10
Jun 11 04:25:15 ubuntu etcd[59154]: Go OS/Arch: linux/amd64
Jun 11 04:25:15 ubuntu etcd[59154]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 11 04:25:15 ubuntu etcd[59154]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 04:25:15 ubuntu etcd[59154]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 04:25:15 ubuntu etcd[59154]: name = ubuntu
Jun 11 04:25:15 ubuntu etcd[59154]: data dir = /opt/stack/data/etcd
Jun 11 04:25:15 ubuntu etcd[59154]: member dir = /opt/stack/data/etcd/member
Jun 11 04:25:15 ubuntu etcd[59154]: heartbeat = 100ms
Jun 11 04:25:15 ubuntu etcd[59154]: election = 1000ms
Jun 11 04:25:15 ubuntu etcd[59154]: snapshot count = 100000
Jun 11 04:25:15 ubuntu etcd[59154]: advertise client URLs = http://10.201.9.223:2379
Jun 11 04:25:15 ubuntu etcd[59154]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 11 04:25:15 ubuntu etcd[59154]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 11 04:25:15 ubuntu etcd[59154]: raft2025/06/11 04:25:15 INFO: c25b29daa831042c switched to configuration voters=()
Jun 11 04:25:15 ubuntu etcd[59154]: raft2025/06/11 04:25:15 INFO: c25b29daa831042c became follower at term 0
Jun 11 04:25:15 ubuntu etcd[59154]: raft2025/06/11 04:25:15 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 11 04:25:15 ubuntu etcd[59154]: raft2025/06/11 04:25:15 INFO: c25b29daa831042c became follower at term 1
Jun 11 04:25:15 ubuntu etcd[59154]: raft2025/06/11 04:25:15 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 11 04:25:15 ubuntu etcd[59154]: simple token is not cryptographically signed
Jun 11 04:25:15 ubuntu etcd[59154]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 11 04:25:15 ubuntu etcd[59154]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 11 04:25:15 ubuntu etcd[59154]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 11 04:25:15 ubuntu etcd[59154]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 11 04:25:15 ubuntu etcd[59154]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 11 04:25:15 ubuntu etcd[59154]: raft2025/06/11 04:25:15 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 11 04:25:15 ubuntu etcd[59154]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 11 04:25:15 ubuntu etcd[59154]: listening for peers on [::]:2380
Jun 11 04:25:15 ubuntu etcd[59154]: raft2025/06/11 04:25:15 INFO: c25b29daa831042c is starting a new election at term 1
Jun 11 04:25:15 ubuntu etcd[59154]: raft2025/06/11 04:25:15 INFO: c25b29daa831042c became candidate at term 2
Jun 11 04:25:15 ubuntu etcd[59154]: raft2025/06/11 04:25:15 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 11 04:25:15 ubuntu etcd[59154]: raft2025/06/11 04:25:15 INFO: c25b29daa831042c became leader at term 2
Jun 11 04:25:15 ubuntu etcd[59154]: raft2025/06/11 04:25:15 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 11 04:25:15 ubuntu etcd[59154]: setting up the initial cluster version to 3.4
Jun 11 04:25:15 ubuntu etcd[59154]: set the initial cluster version to 3.4
Jun 11 04:25:15 ubuntu etcd[59154]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 11 04:25:15 ubuntu etcd[59154]: ready to serve client requests
Jun 11 04:25:15 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 11 04:25:15 ubuntu etcd[59154]: enabled capabilities for version 3.4
Jun 11 04:25:15 ubuntu etcd[59154]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 11 04:29:19 ubuntu etcd[59154]: start time = 2025-06-11 04:29:19.190646396 +0000 UTC m=+243.989362301, time spent = 443.718µs, remote = 10.201.9.223:41190, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 04:29:19 ubuntu etcd[59154]: start time = 2025-06-11 04:29:19.268592898 +0000 UTC m=+244.067308811, time spent = 175.466µs, remote = 10.201.9.223:41190, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 04:29:25 ubuntu etcd[59154]: start time = 2025-06-11 04:29:25.732263105 +0000 UTC m=+250.530979025, time spent = 189.827µs, remote = 10.201.9.223:41190, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 04:29:27 ubuntu etcd[59154]: start time = 2025-06-11 04:29:27.929411443 +0000 UTC m=+252.728127362, time spent = 222.1µs, remote = 10.201.9.223:41190, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
