May 29 00:03:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 29 00:03:28 ubuntu etcd[59322]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 29 00:03:28 ubuntu etcd[59322]:         A future release of golang/protobuf will delete this package,
May 29 00:03:28 ubuntu etcd[59322]:         which has long been excluded from the compatibility promise.
May 29 00:03:28 ubuntu etcd[59322]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 29 00:03:28 ubuntu etcd[59322]: Running http and grpc server on single port. This is not recommended for production.
May 29 00:03:28 ubuntu etcd[59322]: etcd Version: 3.4.27
May 29 00:03:28 ubuntu etcd[59322]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 29 00:03:28 ubuntu etcd[59322]: Git SHA: c92fb80f3
May 29 00:03:28 ubuntu etcd[59322]: Go Version: go1.19.10
May 29 00:03:28 ubuntu etcd[59322]: Go OS/Arch: linux/amd64
May 29 00:03:28 ubuntu etcd[59322]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 29 00:03:28 ubuntu etcd[59322]: Running http and grpc server on single port. This is not recommended for production.
May 29 00:03:28 ubuntu etcd[59322]: name = ubuntu
May 29 00:03:28 ubuntu etcd[59322]: data dir = /opt/stack/data/etcd
May 29 00:03:28 ubuntu etcd[59322]: member dir = /opt/stack/data/etcd/member
May 29 00:03:28 ubuntu etcd[59322]: heartbeat = 100ms
May 29 00:03:28 ubuntu etcd[59322]: election = 1000ms
May 29 00:03:28 ubuntu etcd[59322]: snapshot count = 100000
May 29 00:03:28 ubuntu etcd[59322]: advertise client URLs = http://10.201.9.223:2379
May 29 00:03:28 ubuntu etcd[59322]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 29 00:03:28 ubuntu etcd[59322]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 29 00:03:28 ubuntu etcd[59322]: raft2025/05/29 00:03:28 INFO: c25b29daa831042c switched to configuration voters=()
May 29 00:03:28 ubuntu etcd[59322]: raft2025/05/29 00:03:28 INFO: c25b29daa831042c became follower at term 0
May 29 00:03:28 ubuntu etcd[59322]: raft2025/05/29 00:03:28 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 29 00:03:28 ubuntu etcd[59322]: raft2025/05/29 00:03:28 INFO: c25b29daa831042c became follower at term 1
May 29 00:03:28 ubuntu etcd[59322]: raft2025/05/29 00:03:28 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 29 00:03:28 ubuntu etcd[59322]: simple token is not cryptographically signed
May 29 00:03:28 ubuntu etcd[59322]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 29 00:03:28 ubuntu etcd[59322]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 29 00:03:28 ubuntu etcd[59322]: raft2025/05/29 00:03:28 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 29 00:03:28 ubuntu etcd[59322]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 29 00:03:28 ubuntu etcd[59322]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 29 00:03:28 ubuntu etcd[59322]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 29 00:03:28 ubuntu etcd[59322]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 29 00:03:28 ubuntu etcd[59322]: listening for peers on [::]:2380
May 29 00:03:28 ubuntu etcd[59322]: raft2025/05/29 00:03:28 INFO: c25b29daa831042c is starting a new election at term 1
May 29 00:03:28 ubuntu etcd[59322]: raft2025/05/29 00:03:28 INFO: c25b29daa831042c became candidate at term 2
May 29 00:03:28 ubuntu etcd[59322]: raft2025/05/29 00:03:28 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 29 00:03:28 ubuntu etcd[59322]: raft2025/05/29 00:03:28 INFO: c25b29daa831042c became leader at term 2
May 29 00:03:28 ubuntu etcd[59322]: raft2025/05/29 00:03:28 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 29 00:03:28 ubuntu etcd[59322]: setting up the initial cluster version to 3.4
May 29 00:03:28 ubuntu etcd[59322]: set the initial cluster version to 3.4
May 29 00:03:28 ubuntu etcd[59322]: enabled capabilities for version 3.4
May 29 00:03:28 ubuntu etcd[59322]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 29 00:03:28 ubuntu etcd[59322]: ready to serve client requests
May 29 00:03:28 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 29 00:03:28 ubuntu etcd[59322]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 29 00:07:36 ubuntu etcd[59322]: start time = 2025-05-29 00:07:36.996476177 +0000 UTC m=+248.830116990, time spent = 425.377µs, remote = 10.201.9.223:55290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 00:07:37 ubuntu etcd[59322]: start time = 2025-05-29 00:07:37.08838228 +0000 UTC m=+248.922023098, time spent = 315.532µs, remote = 10.201.9.223:55290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 00:07:43 ubuntu etcd[59322]: start time = 2025-05-29 00:07:43.680719565 +0000 UTC m=+255.514360382, time spent = 244.624µs, remote = 10.201.9.223:55290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 00:07:45 ubuntu etcd[59322]: start time = 2025-05-29 00:07:45.836775545 +0000 UTC m=+257.670416362, time spent = 215.803µs, remote = 10.201.9.223:55290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
