Sep 20 16:27:57 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 20 16:27:57 ubuntu etcd[59672]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 20 16:27:57 ubuntu etcd[59672]:         A future release of golang/protobuf will delete this package,
Sep 20 16:27:57 ubuntu etcd[59672]:         which has long been excluded from the compatibility promise.
Sep 20 16:27:57 ubuntu etcd[59672]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 20 16:27:57 ubuntu etcd[59672]: Running http and grpc server on single port. This is not recommended for production.
Sep 20 16:27:57 ubuntu etcd[59672]: etcd Version: 3.4.27
Sep 20 16:27:57 ubuntu etcd[59672]: Git SHA: c92fb80f3
Sep 20 16:27:57 ubuntu etcd[59672]: Go Version: go1.19.10
Sep 20 16:27:57 ubuntu etcd[59672]: Go OS/Arch: linux/amd64
Sep 20 16:27:57 ubuntu etcd[59672]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 20 16:27:57 ubuntu etcd[59672]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 20 16:27:57 ubuntu etcd[59672]: Running http and grpc server on single port. This is not recommended for production.
Sep 20 16:27:57 ubuntu etcd[59672]: name = ubuntu
Sep 20 16:27:57 ubuntu etcd[59672]: data dir = /opt/stack/data/etcd
Sep 20 16:27:57 ubuntu etcd[59672]: member dir = /opt/stack/data/etcd/member
Sep 20 16:27:57 ubuntu etcd[59672]: heartbeat = 100ms
Sep 20 16:27:57 ubuntu etcd[59672]: election = 1000ms
Sep 20 16:27:57 ubuntu etcd[59672]: snapshot count = 100000
Sep 20 16:27:57 ubuntu etcd[59672]: advertise client URLs = http://10.201.4.32:2379
Sep 20 16:27:57 ubuntu etcd[59672]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 20 16:27:57 ubuntu etcd[59672]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 20 16:27:57 ubuntu etcd[59672]: raft2024/09/20 16:27:57 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 20 16:27:57 ubuntu etcd[59672]: raft2024/09/20 16:27:57 INFO: 33238c1cdfea94eb became follower at term 0
Sep 20 16:27:57 ubuntu etcd[59672]: raft2024/09/20 16:27:57 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 20 16:27:57 ubuntu etcd[59672]: raft2024/09/20 16:27:57 INFO: 33238c1cdfea94eb became follower at term 1
Sep 20 16:27:57 ubuntu etcd[59672]: raft2024/09/20 16:27:57 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 20 16:27:57 ubuntu etcd[59672]: simple token is not cryptographically signed
Sep 20 16:27:57 ubuntu etcd[59672]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 20 16:27:57 ubuntu etcd[59672]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 20 16:27:57 ubuntu etcd[59672]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 20 16:27:57 ubuntu etcd[59672]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 20 16:27:57 ubuntu etcd[59672]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 20 16:27:57 ubuntu etcd[59672]: raft2024/09/20 16:27:57 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 20 16:27:57 ubuntu etcd[59672]: listening for peers on [::]:2380
Sep 20 16:27:57 ubuntu etcd[59672]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 20 16:27:57 ubuntu etcd[59672]: raft2024/09/20 16:27:57 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 20 16:27:57 ubuntu etcd[59672]: raft2024/09/20 16:27:57 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 20 16:27:57 ubuntu etcd[59672]: raft2024/09/20 16:27:57 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 20 16:27:57 ubuntu etcd[59672]: raft2024/09/20 16:27:57 INFO: 33238c1cdfea94eb became leader at term 2
Sep 20 16:27:57 ubuntu etcd[59672]: raft2024/09/20 16:27:57 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 20 16:27:57 ubuntu etcd[59672]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 20 16:27:57 ubuntu etcd[59672]: ready to serve client requests
Sep 20 16:27:57 ubuntu etcd[59672]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 20 16:27:57 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 20 16:27:57 ubuntu etcd[59672]: setting up the initial cluster version to 3.4
Sep 20 16:27:57 ubuntu etcd[59672]: set the initial cluster version to 3.4
Sep 20 16:27:57 ubuntu etcd[59672]: enabled capabilities for version 3.4
Sep 20 16:32:14 ubuntu etcd[59672]: start time = 2024-09-20 16:32:14.645924324 +0000 UTC m=+257.593229501, time spent = 518.421µs, remote = 10.201.4.32:52916, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 20 16:32:14 ubuntu etcd[59672]: start time = 2024-09-20 16:32:14.762511129 +0000 UTC m=+257.709816323, time spent = 270.417µs, remote = 10.201.4.32:52916, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 20 16:32:21 ubuntu etcd[59672]: start time = 2024-09-20 16:32:21.153286447 +0000 UTC m=+264.100591638, time spent = 187.189µs, remote = 10.201.4.32:52916, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 20 16:32:23 ubuntu etcd[59672]: start time = 2024-09-20 16:32:23.362892381 +0000 UTC m=+266.310197572, time spent = 166.8µs, remote = 10.201.4.32:52916, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
