Feb 05 07:14:17 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 05 07:14:17 ubuntu etcd[59931]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 05 07:14:17 ubuntu etcd[59931]:         A future release of golang/protobuf will delete this package,
Feb 05 07:14:17 ubuntu etcd[59931]:         which has long been excluded from the compatibility promise.
Feb 05 07:14:17 ubuntu etcd[59931]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 05 07:14:17 ubuntu etcd[59931]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 05 07:14:17 ubuntu etcd[59931]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 05 07:14:17 ubuntu etcd[59931]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 05 07:14:17 ubuntu etcd[59931]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 05 07:14:17 ubuntu etcd[59931]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 05 07:14:17 ubuntu etcd[59931]: Running http and grpc server on single port. This is not recommended for production.
Feb 05 07:14:17 ubuntu etcd[59931]: etcd Version: 3.4.27
Feb 05 07:14:17 ubuntu etcd[59931]: Git SHA: c92fb80f3
Feb 05 07:14:17 ubuntu etcd[59931]: Go Version: go1.19.10
Feb 05 07:14:17 ubuntu etcd[59931]: Go OS/Arch: linux/amd64
Feb 05 07:14:17 ubuntu etcd[59931]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 05 07:14:17 ubuntu etcd[59931]: Running http and grpc server on single port. This is not recommended for production.
Feb 05 07:14:17 ubuntu etcd[59931]: name = ubuntu
Feb 05 07:14:17 ubuntu etcd[59931]: data dir = /opt/stack/data/etcd
Feb 05 07:14:17 ubuntu etcd[59931]: member dir = /opt/stack/data/etcd/member
Feb 05 07:14:17 ubuntu etcd[59931]: heartbeat = 100ms
Feb 05 07:14:17 ubuntu etcd[59931]: election = 1000ms
Feb 05 07:14:17 ubuntu etcd[59931]: snapshot count = 100000
Feb 05 07:14:17 ubuntu etcd[59931]: advertise client URLs = http://10.201.4.32:2379
Feb 05 07:14:17 ubuntu etcd[59931]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 05 07:14:17 ubuntu etcd[59931]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 05 07:14:17 ubuntu etcd[59931]: raft2024/02/05 07:14:17 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 05 07:14:17 ubuntu etcd[59931]: raft2024/02/05 07:14:17 INFO: 33238c1cdfea94eb became follower at term 0
Feb 05 07:14:17 ubuntu etcd[59931]: raft2024/02/05 07:14:17 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 05 07:14:17 ubuntu etcd[59931]: raft2024/02/05 07:14:17 INFO: 33238c1cdfea94eb became follower at term 1
Feb 05 07:14:17 ubuntu etcd[59931]: raft2024/02/05 07:14:17 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 05 07:14:17 ubuntu etcd[59931]: simple token is not cryptographically signed
Feb 05 07:14:17 ubuntu etcd[59931]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 05 07:14:17 ubuntu etcd[59931]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 05 07:14:17 ubuntu etcd[59931]: raft2024/02/05 07:14:17 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 05 07:14:17 ubuntu etcd[59931]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 05 07:14:17 ubuntu etcd[59931]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 05 07:14:17 ubuntu etcd[59931]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 05 07:14:17 ubuntu etcd[59931]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 05 07:14:17 ubuntu etcd[59931]: listening for peers on [::]:2380
Feb 05 07:14:18 ubuntu etcd[59931]: raft2024/02/05 07:14:18 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 05 07:14:18 ubuntu etcd[59931]: raft2024/02/05 07:14:18 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 05 07:14:18 ubuntu etcd[59931]: raft2024/02/05 07:14:18 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 05 07:14:18 ubuntu etcd[59931]: raft2024/02/05 07:14:18 INFO: 33238c1cdfea94eb became leader at term 2
Feb 05 07:14:18 ubuntu etcd[59931]: raft2024/02/05 07:14:18 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 05 07:14:18 ubuntu etcd[59931]: setting up the initial cluster version to 3.4
Feb 05 07:14:18 ubuntu etcd[59931]: set the initial cluster version to 3.4
Feb 05 07:14:18 ubuntu etcd[59931]: enabled capabilities for version 3.4
Feb 05 07:14:18 ubuntu etcd[59931]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 05 07:14:18 ubuntu etcd[59931]: ready to serve client requests
Feb 05 07:14:18 ubuntu etcd[59931]: INFO: 2024/02/05 07:14:18 parsed scheme: ""
Feb 05 07:14:18 ubuntu etcd[59931]: INFO: 2024/02/05 07:14:18 scheme "" not registered, fallback to default scheme
Feb 05 07:14:18 ubuntu etcd[59931]: INFO: 2024/02/05 07:14:18 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 05 07:14:18 ubuntu etcd[59931]: INFO: 2024/02/05 07:14:18 ClientConn switching balancer to "pick_first"
Feb 05 07:14:18 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 05 07:14:18 ubuntu etcd[59931]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 05 07:18:38 ubuntu etcd[59931]: start time = 2024-02-05 07:18:38.017477695 +0000 UTC m=+260.173810280, time spent = 482.274µs, remote = 10.201.4.32:48242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 05 07:18:38 ubuntu etcd[59931]: start time = 2024-02-05 07:18:38.140896644 +0000 UTC m=+260.297229229, time spent = 267.566µs, remote = 10.201.4.32:48242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 05 07:18:44 ubuntu etcd[59931]: start time = 2024-02-05 07:18:44.990808394 +0000 UTC m=+267.147140980, time spent = 203.08µs, remote = 10.201.4.32:48242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 05 07:18:47 ubuntu etcd[59931]: start time = 2024-02-05 07:18:47.543278881 +0000 UTC m=+269.699611475, time spent = 435.907µs, remote = 10.201.4.32:48242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 05 07:14:17 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 05 07:14:17 ubuntu etcd[59931]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 05 07:14:17 ubuntu etcd[59931]:         A future release of golang/protobuf will delete this package,
Feb 05 07:14:17 ubuntu etcd[59931]:         which has long been excluded from the compatibility promise.
Feb 05 07:14:17 ubuntu etcd[59931]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 05 07:14:17 ubuntu etcd[59931]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 05 07:14:17 ubuntu etcd[59931]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 05 07:14:17 ubuntu etcd[59931]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 05 07:14:17 ubuntu etcd[59931]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 05 07:14:17 ubuntu etcd[59931]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 05 07:14:17 ubuntu etcd[59931]: Running http and grpc server on single port. This is not recommended for production.
Feb 05 07:14:17 ubuntu etcd[59931]: etcd Version: 3.4.27
Feb 05 07:14:17 ubuntu etcd[59931]: Git SHA: c92fb80f3
Feb 05 07:14:17 ubuntu etcd[59931]: Go Version: go1.19.10
Feb 05 07:14:17 ubuntu etcd[59931]: Go OS/Arch: linux/amd64
Feb 05 07:14:17 ubuntu etcd[59931]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 05 07:14:17 ubuntu etcd[59931]: Running http and grpc server on single port. This is not recommended for production.
Feb 05 07:14:17 ubuntu etcd[59931]: name = ubuntu
Feb 05 07:14:17 ubuntu etcd[59931]: data dir = /opt/stack/data/etcd
Feb 05 07:14:17 ubuntu etcd[59931]: member dir = /opt/stack/data/etcd/member
Feb 05 07:14:17 ubuntu etcd[59931]: heartbeat = 100ms
Feb 05 07:14:17 ubuntu etcd[59931]: election = 1000ms
Feb 05 07:14:17 ubuntu etcd[59931]: snapshot count = 100000
Feb 05 07:14:17 ubuntu etcd[59931]: advertise client URLs = http://10.201.4.32:2379
Feb 05 07:14:17 ubuntu etcd[59931]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 05 07:14:17 ubuntu etcd[59931]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 05 07:14:17 ubuntu etcd[59931]: raft2024/02/05 07:14:17 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 05 07:14:17 ubuntu etcd[59931]: raft2024/02/05 07:14:17 INFO: 33238c1cdfea94eb became follower at term 0
Feb 05 07:14:17 ubuntu etcd[59931]: raft2024/02/05 07:14:17 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 05 07:14:17 ubuntu etcd[59931]: raft2024/02/05 07:14:17 INFO: 33238c1cdfea94eb became follower at term 1
Feb 05 07:14:17 ubuntu etcd[59931]: raft2024/02/05 07:14:17 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 05 07:14:17 ubuntu etcd[59931]: simple token is not cryptographically signed
Feb 05 07:14:17 ubuntu etcd[59931]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 05 07:14:17 ubuntu etcd[59931]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 05 07:14:17 ubuntu etcd[59931]: raft2024/02/05 07:14:17 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 05 07:14:17 ubuntu etcd[59931]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 05 07:14:17 ubuntu etcd[59931]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 05 07:14:17 ubuntu etcd[59931]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 05 07:14:17 ubuntu etcd[59931]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 05 07:14:17 ubuntu etcd[59931]: listening for peers on [::]:2380
Feb 05 07:14:18 ubuntu etcd[59931]: raft2024/02/05 07:14:18 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 05 07:14:18 ubuntu etcd[59931]: raft2024/02/05 07:14:18 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 05 07:14:18 ubuntu etcd[59931]: raft2024/02/05 07:14:18 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 05 07:14:18 ubuntu etcd[59931]: raft2024/02/05 07:14:18 INFO: 33238c1cdfea94eb became leader at term 2
Feb 05 07:14:18 ubuntu etcd[59931]: raft2024/02/05 07:14:18 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 05 07:14:18 ubuntu etcd[59931]: setting up the initial cluster version to 3.4
Feb 05 07:14:18 ubuntu etcd[59931]: set the initial cluster version to 3.4
Feb 05 07:14:18 ubuntu etcd[59931]: enabled capabilities for version 3.4
Feb 05 07:14:18 ubuntu etcd[59931]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 05 07:14:18 ubuntu etcd[59931]: ready to serve client requests
Feb 05 07:14:18 ubuntu etcd[59931]: INFO: 2024/02/05 07:14:18 parsed scheme: ""
Feb 05 07:14:18 ubuntu etcd[59931]: INFO: 2024/02/05 07:14:18 scheme "" not registered, fallback to default scheme
Feb 05 07:14:18 ubuntu etcd[59931]: INFO: 2024/02/05 07:14:18 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 05 07:14:18 ubuntu etcd[59931]: INFO: 2024/02/05 07:14:18 ClientConn switching balancer to "pick_first"
Feb 05 07:14:18 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 05 07:14:18 ubuntu etcd[59931]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 05 07:18:38 ubuntu etcd[59931]: start time = 2024-02-05 07:18:38.017477695 +0000 UTC m=+260.173810280, time spent = 482.274µs, remote = 10.201.4.32:48242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 05 07:18:38 ubuntu etcd[59931]: start time = 2024-02-05 07:18:38.140896644 +0000 UTC m=+260.297229229, time spent = 267.566µs, remote = 10.201.4.32:48242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 05 07:18:44 ubuntu etcd[59931]: start time = 2024-02-05 07:18:44.990808394 +0000 UTC m=+267.147140980, time spent = 203.08µs, remote = 10.201.4.32:48242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 05 07:18:47 ubuntu etcd[59931]: start time = 2024-02-05 07:18:47.543278881 +0000 UTC m=+269.699611475, time spent = 435.907µs, remote = 10.201.4.32:48242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
