Apr 11 17:01:56 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 11 17:01:56 ubuntu etcd[57748]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 11 17:01:56 ubuntu etcd[57748]:         A future release of golang/protobuf will delete this package,
Apr 11 17:01:56 ubuntu etcd[57748]:         which has long been excluded from the compatibility promise.
Apr 11 17:01:56 ubuntu etcd[57748]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 11 17:01:56 ubuntu etcd[57748]: Running http and grpc server on single port. This is not recommended for production.
Apr 11 17:01:56 ubuntu etcd[57748]: etcd Version: 3.4.27
Apr 11 17:01:56 ubuntu etcd[57748]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 11 17:01:56 ubuntu etcd[57748]: Git SHA: c92fb80f3
Apr 11 17:01:56 ubuntu etcd[57748]: Go Version: go1.19.10
Apr 11 17:01:56 ubuntu etcd[57748]: Go OS/Arch: linux/amd64
Apr 11 17:01:56 ubuntu etcd[57748]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 11 17:01:56 ubuntu etcd[57748]: Running http and grpc server on single port. This is not recommended for production.
Apr 11 17:01:56 ubuntu etcd[57748]: name = ubuntu
Apr 11 17:01:56 ubuntu etcd[57748]: data dir = /opt/stack/data/etcd
Apr 11 17:01:56 ubuntu etcd[57748]: member dir = /opt/stack/data/etcd/member
Apr 11 17:01:56 ubuntu etcd[57748]: heartbeat = 100ms
Apr 11 17:01:56 ubuntu etcd[57748]: election = 1000ms
Apr 11 17:01:56 ubuntu etcd[57748]: snapshot count = 100000
Apr 11 17:01:56 ubuntu etcd[57748]: advertise client URLs = http://10.201.9.223:2379
Apr 11 17:01:56 ubuntu etcd[57748]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 11 17:01:56 ubuntu etcd[57748]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 11 17:01:56 ubuntu etcd[57748]: raft2025/04/11 17:01:56 INFO: c25b29daa831042c switched to configuration voters=()
Apr 11 17:01:56 ubuntu etcd[57748]: raft2025/04/11 17:01:56 INFO: c25b29daa831042c became follower at term 0
Apr 11 17:01:56 ubuntu etcd[57748]: raft2025/04/11 17:01:56 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 11 17:01:56 ubuntu etcd[57748]: raft2025/04/11 17:01:56 INFO: c25b29daa831042c became follower at term 1
Apr 11 17:01:56 ubuntu etcd[57748]: raft2025/04/11 17:01:56 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 11 17:01:56 ubuntu etcd[57748]: simple token is not cryptographically signed
Apr 11 17:01:56 ubuntu etcd[57748]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 11 17:01:56 ubuntu etcd[57748]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 11 17:01:56 ubuntu etcd[57748]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 11 17:01:56 ubuntu etcd[57748]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 11 17:01:56 ubuntu etcd[57748]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 11 17:01:56 ubuntu etcd[57748]: raft2025/04/11 17:01:56 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 11 17:01:56 ubuntu etcd[57748]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 11 17:01:56 ubuntu etcd[57748]: listening for peers on [::]:2380
Apr 11 17:01:57 ubuntu etcd[57748]: raft2025/04/11 17:01:57 INFO: c25b29daa831042c is starting a new election at term 1
Apr 11 17:01:57 ubuntu etcd[57748]: raft2025/04/11 17:01:57 INFO: c25b29daa831042c became candidate at term 2
Apr 11 17:01:57 ubuntu etcd[57748]: raft2025/04/11 17:01:57 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 11 17:01:57 ubuntu etcd[57748]: raft2025/04/11 17:01:57 INFO: c25b29daa831042c became leader at term 2
Apr 11 17:01:57 ubuntu etcd[57748]: raft2025/04/11 17:01:57 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 11 17:01:57 ubuntu etcd[57748]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 11 17:01:57 ubuntu etcd[57748]: setting up the initial cluster version to 3.4
Apr 11 17:01:57 ubuntu etcd[57748]: ready to serve client requests
Apr 11 17:01:57 ubuntu etcd[57748]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 11 17:01:57 ubuntu etcd[57748]: set the initial cluster version to 3.4
Apr 11 17:01:57 ubuntu etcd[57748]: enabled capabilities for version 3.4
Apr 11 17:01:57 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 11 17:06:01 ubuntu etcd[57748]: start time = 2025-04-11 17:06:01.801519717 +0000 UTC m=+245.136058942, time spent = 414.102µs, remote = 10.201.9.223:50842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 11 17:06:01 ubuntu etcd[57748]: start time = 2025-04-11 17:06:01.84613301 +0000 UTC m=+245.180672252, time spent = 243.483µs, remote = 10.201.9.223:50842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 11 17:06:08 ubuntu etcd[57748]: start time = 2025-04-11 17:06:08.339960497 +0000 UTC m=+251.674499723, time spent = 458.8µs, remote = 10.201.9.223:50842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 11 17:06:10 ubuntu etcd[57748]: start time = 2025-04-11 17:06:10.528899358 +0000 UTC m=+253.863438599, time spent = 305.823µs, remote = 10.201.9.223:50842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
