Jul 22 11:04:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 22 11:04:39 ubuntu etcd[58718]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 22 11:04:39 ubuntu etcd[58718]:         A future release of golang/protobuf will delete this package,
Jul 22 11:04:39 ubuntu etcd[58718]:         which has long been excluded from the compatibility promise.
Jul 22 11:04:39 ubuntu etcd[58718]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 22 11:04:39 ubuntu etcd[58718]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 22 11:04:39 ubuntu etcd[58718]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 22 11:04:39 ubuntu etcd[58718]: Running http and grpc server on single port. This is not recommended for production.
Jul 22 11:04:39 ubuntu etcd[58718]: etcd Version: 3.4.27
Jul 22 11:04:39 ubuntu etcd[58718]: Git SHA: c92fb80f3
Jul 22 11:04:39 ubuntu etcd[58718]: Go Version: go1.19.10
Jul 22 11:04:39 ubuntu etcd[58718]: Go OS/Arch: linux/amd64
Jul 22 11:04:39 ubuntu etcd[58718]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 22 11:04:39 ubuntu etcd[58718]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 22 11:04:39 ubuntu etcd[58718]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 22 11:04:39 ubuntu etcd[58718]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 22 11:04:39 ubuntu etcd[58718]: Running http and grpc server on single port. This is not recommended for production.
Jul 22 11:04:39 ubuntu etcd[58718]: name = ubuntu
Jul 22 11:04:39 ubuntu etcd[58718]: data dir = /opt/stack/data/etcd
Jul 22 11:04:39 ubuntu etcd[58718]: member dir = /opt/stack/data/etcd/member
Jul 22 11:04:39 ubuntu etcd[58718]: heartbeat = 100ms
Jul 22 11:04:39 ubuntu etcd[58718]: election = 1000ms
Jul 22 11:04:39 ubuntu etcd[58718]: snapshot count = 100000
Jul 22 11:04:39 ubuntu etcd[58718]: advertise client URLs = http://10.201.4.32:2379
Jul 22 11:04:39 ubuntu etcd[58718]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 22 11:04:39 ubuntu etcd[58718]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jul 22 11:04:39 ubuntu etcd[58718]: raft2024/07/22 11:04:39 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jul 22 11:04:39 ubuntu etcd[58718]: raft2024/07/22 11:04:39 INFO: 33238c1cdfea94eb became follower at term 0
Jul 22 11:04:39 ubuntu etcd[58718]: raft2024/07/22 11:04:39 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 22 11:04:39 ubuntu etcd[58718]: raft2024/07/22 11:04:39 INFO: 33238c1cdfea94eb became follower at term 1
Jul 22 11:04:39 ubuntu etcd[58718]: raft2024/07/22 11:04:39 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 22 11:04:39 ubuntu etcd[58718]: simple token is not cryptographically signed
Jul 22 11:04:39 ubuntu etcd[58718]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 22 11:04:39 ubuntu etcd[58718]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 22 11:04:39 ubuntu etcd[58718]: raft2024/07/22 11:04:39 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 22 11:04:39 ubuntu etcd[58718]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 22 11:04:39 ubuntu etcd[58718]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 22 11:04:39 ubuntu etcd[58718]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 22 11:04:39 ubuntu etcd[58718]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jul 22 11:04:39 ubuntu etcd[58718]: listening for peers on [::]:2380
Jul 22 11:04:40 ubuntu etcd[58718]: raft2024/07/22 11:04:40 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jul 22 11:04:40 ubuntu etcd[58718]: raft2024/07/22 11:04:40 INFO: 33238c1cdfea94eb became candidate at term 2
Jul 22 11:04:40 ubuntu etcd[58718]: raft2024/07/22 11:04:40 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jul 22 11:04:40 ubuntu etcd[58718]: raft2024/07/22 11:04:40 INFO: 33238c1cdfea94eb became leader at term 2
Jul 22 11:04:40 ubuntu etcd[58718]: raft2024/07/22 11:04:40 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jul 22 11:04:40 ubuntu etcd[58718]: INFO: 2024/07/22 11:04:40 parsed scheme: ""
Jul 22 11:04:40 ubuntu etcd[58718]: INFO: 2024/07/22 11:04:40 scheme "" not registered, fallback to default scheme
Jul 22 11:04:40 ubuntu etcd[58718]: INFO: 2024/07/22 11:04:40 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 22 11:04:40 ubuntu etcd[58718]: INFO: 2024/07/22 11:04:40 ClientConn switching balancer to "pick_first"
Jul 22 11:04:40 ubuntu etcd[58718]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jul 22 11:04:40 ubuntu etcd[58718]: setting up the initial cluster version to 3.4
Jul 22 11:04:40 ubuntu etcd[58718]: ready to serve client requests
Jul 22 11:04:40 ubuntu etcd[58718]: set the initial cluster version to 3.4
Jul 22 11:04:40 ubuntu etcd[58718]: enabled capabilities for version 3.4
Jul 22 11:04:40 ubuntu etcd[58718]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jul 22 11:04:40 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 22 11:09:01 ubuntu etcd[58718]: start time = 2024-07-22 11:09:01.356965435 +0000 UTC m=+262.161491138, time spent = 3.031899ms, remote = 10.201.4.32:59390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 22 11:09:01 ubuntu etcd[58718]: start time = 2024-07-22 11:09:01.428565092 +0000 UTC m=+262.233090778, time spent = 195.258µs, remote = 10.201.4.32:59390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 22 11:09:08 ubuntu etcd[58718]: start time = 2024-07-22 11:09:08.008624822 +0000 UTC m=+268.813150507, time spent = 234.717µs, remote = 10.201.4.32:59390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 22 11:09:10 ubuntu etcd[58718]: start time = 2024-07-22 11:09:10.215623481 +0000 UTC m=+271.020149167, time spent = 788.559µs, remote = 10.201.4.32:59390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
