Aug 21 12:02:27 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 21 12:02:27 ubuntu etcd[59480]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 21 12:02:27 ubuntu etcd[59480]:         A future release of golang/protobuf will delete this package,
Aug 21 12:02:27 ubuntu etcd[59480]:         which has long been excluded from the compatibility promise.
Aug 21 12:02:27 ubuntu etcd[59480]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 21 12:02:27 ubuntu etcd[59480]: Running http and grpc server on single port. This is not recommended for production.
Aug 21 12:02:27 ubuntu etcd[59480]: etcd Version: 3.4.27
Aug 21 12:02:27 ubuntu etcd[59480]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 21 12:02:27 ubuntu etcd[59480]: Git SHA: c92fb80f3
Aug 21 12:02:27 ubuntu etcd[59480]: Go Version: go1.19.10
Aug 21 12:02:27 ubuntu etcd[59480]: Go OS/Arch: linux/amd64
Aug 21 12:02:27 ubuntu etcd[59480]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 21 12:02:27 ubuntu etcd[59480]: Running http and grpc server on single port. This is not recommended for production.
Aug 21 12:02:27 ubuntu etcd[59480]: name = ubuntu
Aug 21 12:02:27 ubuntu etcd[59480]: data dir = /opt/stack/data/etcd
Aug 21 12:02:27 ubuntu etcd[59480]: member dir = /opt/stack/data/etcd/member
Aug 21 12:02:27 ubuntu etcd[59480]: heartbeat = 100ms
Aug 21 12:02:27 ubuntu etcd[59480]: election = 1000ms
Aug 21 12:02:27 ubuntu etcd[59480]: snapshot count = 100000
Aug 21 12:02:27 ubuntu etcd[59480]: advertise client URLs = http://10.201.4.32:2379
Aug 21 12:02:27 ubuntu etcd[59480]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 21 12:02:27 ubuntu etcd[59480]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Aug 21 12:02:27 ubuntu etcd[59480]: raft2024/08/21 12:02:27 INFO: 33238c1cdfea94eb switched to configuration voters=()
Aug 21 12:02:27 ubuntu etcd[59480]: raft2024/08/21 12:02:27 INFO: 33238c1cdfea94eb became follower at term 0
Aug 21 12:02:27 ubuntu etcd[59480]: raft2024/08/21 12:02:27 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 21 12:02:27 ubuntu etcd[59480]: raft2024/08/21 12:02:27 INFO: 33238c1cdfea94eb became follower at term 1
Aug 21 12:02:27 ubuntu etcd[59480]: raft2024/08/21 12:02:27 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 21 12:02:27 ubuntu etcd[59480]: simple token is not cryptographically signed
Aug 21 12:02:27 ubuntu etcd[59480]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 21 12:02:27 ubuntu etcd[59480]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 21 12:02:27 ubuntu etcd[59480]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 21 12:02:27 ubuntu etcd[59480]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 21 12:02:27 ubuntu etcd[59480]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 21 12:02:27 ubuntu etcd[59480]: raft2024/08/21 12:02:27 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 21 12:02:27 ubuntu etcd[59480]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Aug 21 12:02:27 ubuntu etcd[59480]: listening for peers on [::]:2380
Aug 21 12:02:27 ubuntu etcd[59480]: raft2024/08/21 12:02:27 INFO: 33238c1cdfea94eb is starting a new election at term 1
Aug 21 12:02:27 ubuntu etcd[59480]: raft2024/08/21 12:02:27 INFO: 33238c1cdfea94eb became candidate at term 2
Aug 21 12:02:27 ubuntu etcd[59480]: raft2024/08/21 12:02:27 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Aug 21 12:02:27 ubuntu etcd[59480]: raft2024/08/21 12:02:27 INFO: 33238c1cdfea94eb became leader at term 2
Aug 21 12:02:27 ubuntu etcd[59480]: raft2024/08/21 12:02:27 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Aug 21 12:02:27 ubuntu etcd[59480]: ready to serve client requests
Aug 21 12:02:27 ubuntu etcd[59480]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Aug 21 12:02:27 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 21 12:02:27 ubuntu etcd[59480]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Aug 21 12:02:27 ubuntu etcd[59480]: setting up the initial cluster version to 3.4
Aug 21 12:02:27 ubuntu etcd[59480]: set the initial cluster version to 3.4
Aug 21 12:02:27 ubuntu etcd[59480]: enabled capabilities for version 3.4
Aug 21 12:06:47 ubuntu etcd[59480]: start time = 2024-08-21 12:06:47.413718042 +0000 UTC m=+260.261359132, time spent = 417.524µs, remote = 10.201.4.32:59528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 21 12:06:47 ubuntu etcd[59480]: start time = 2024-08-21 12:06:47.44797684 +0000 UTC m=+260.295617970, time spent = 340.573µs, remote = 10.201.4.32:59528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 21 12:06:53 ubuntu etcd[59480]: start time = 2024-08-21 12:06:53.931069276 +0000 UTC m=+266.778710375, time spent = 265.188µs, remote = 10.201.4.32:59528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 21 12:06:56 ubuntu etcd[59480]: start time = 2024-08-21 12:06:56.136552921 +0000 UTC m=+268.984194011, time spent = 184.754µs, remote = 10.201.4.32:59528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
