May 28 13:52:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 28 13:52:23 ubuntu etcd[58869]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 28 13:52:23 ubuntu etcd[58869]:         A future release of golang/protobuf will delete this package,
May 28 13:52:23 ubuntu etcd[58869]:         which has long been excluded from the compatibility promise.
May 28 13:52:23 ubuntu etcd[58869]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 13:52:23 ubuntu etcd[58869]: Running http and grpc server on single port. This is not recommended for production.
May 28 13:52:23 ubuntu etcd[58869]: etcd Version: 3.4.27
May 28 13:52:23 ubuntu etcd[58869]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 13:52:23 ubuntu etcd[58869]: Git SHA: c92fb80f3
May 28 13:52:23 ubuntu etcd[58869]: Go Version: go1.19.10
May 28 13:52:23 ubuntu etcd[58869]: Go OS/Arch: linux/amd64
May 28 13:52:23 ubuntu etcd[58869]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 28 13:52:23 ubuntu etcd[58869]: Running http and grpc server on single port. This is not recommended for production.
May 28 13:52:23 ubuntu etcd[58869]: name = ubuntu
May 28 13:52:23 ubuntu etcd[58869]: data dir = /opt/stack/data/etcd
May 28 13:52:23 ubuntu etcd[58869]: member dir = /opt/stack/data/etcd/member
May 28 13:52:23 ubuntu etcd[58869]: heartbeat = 100ms
May 28 13:52:23 ubuntu etcd[58869]: election = 1000ms
May 28 13:52:23 ubuntu etcd[58869]: snapshot count = 100000
May 28 13:52:23 ubuntu etcd[58869]: advertise client URLs = http://10.201.9.223:2379
May 28 13:52:23 ubuntu etcd[58869]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 28 13:52:23 ubuntu etcd[58869]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 28 13:52:23 ubuntu etcd[58869]: raft2025/05/28 13:52:23 INFO: c25b29daa831042c switched to configuration voters=()
May 28 13:52:23 ubuntu etcd[58869]: raft2025/05/28 13:52:23 INFO: c25b29daa831042c became follower at term 0
May 28 13:52:23 ubuntu etcd[58869]: raft2025/05/28 13:52:23 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 28 13:52:23 ubuntu etcd[58869]: raft2025/05/28 13:52:23 INFO: c25b29daa831042c became follower at term 1
May 28 13:52:23 ubuntu etcd[58869]: raft2025/05/28 13:52:23 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 28 13:52:23 ubuntu etcd[58869]: simple token is not cryptographically signed
May 28 13:52:23 ubuntu etcd[58869]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 28 13:52:23 ubuntu etcd[58869]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 28 13:52:23 ubuntu etcd[58869]: raft2025/05/28 13:52:23 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 28 13:52:23 ubuntu etcd[58869]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 28 13:52:23 ubuntu etcd[58869]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 28 13:52:23 ubuntu etcd[58869]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 28 13:52:23 ubuntu etcd[58869]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 28 13:52:23 ubuntu etcd[58869]: listening for peers on [::]:2380
May 28 13:52:24 ubuntu etcd[58869]: raft2025/05/28 13:52:24 INFO: c25b29daa831042c is starting a new election at term 1
May 28 13:52:24 ubuntu etcd[58869]: raft2025/05/28 13:52:24 INFO: c25b29daa831042c became candidate at term 2
May 28 13:52:24 ubuntu etcd[58869]: raft2025/05/28 13:52:24 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 28 13:52:24 ubuntu etcd[58869]: raft2025/05/28 13:52:24 INFO: c25b29daa831042c became leader at term 2
May 28 13:52:24 ubuntu etcd[58869]: raft2025/05/28 13:52:24 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 28 13:52:24 ubuntu etcd[58869]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 28 13:52:24 ubuntu etcd[58869]: setting up the initial cluster version to 3.4
May 28 13:52:24 ubuntu etcd[58869]: ready to serve client requests
May 28 13:52:24 ubuntu etcd[58869]: set the initial cluster version to 3.4
May 28 13:52:24 ubuntu etcd[58869]: enabled capabilities for version 3.4
May 28 13:52:24 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 28 13:52:24 ubuntu etcd[58869]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 28 13:56:44 ubuntu etcd[58869]: start time = 2025-05-28 13:56:44.940852743 +0000 UTC m=+261.362316949, time spent = 784.177µs, remote = 10.201.9.223:38836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 13:56:44 ubuntu etcd[58869]: start time = 2025-05-28 13:56:44.957784191 +0000 UTC m=+261.379248412, time spent = 259.043µs, remote = 10.201.9.223:38836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 13:56:51 ubuntu etcd[58869]: start time = 2025-05-28 13:56:51.525548776 +0000 UTC m=+267.947012996, time spent = 258.502µs, remote = 10.201.9.223:38836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 13:56:53 ubuntu etcd[58869]: start time = 2025-05-28 13:56:53.831519063 +0000 UTC m=+270.252983270, time spent = 199.07µs, remote = 10.201.9.223:38836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
