May 28 10:13:41 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 28 10:13:41 ubuntu etcd[58284]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 28 10:13:41 ubuntu etcd[58284]:         A future release of golang/protobuf will delete this package,
May 28 10:13:41 ubuntu etcd[58284]:         which has long been excluded from the compatibility promise.
May 28 10:13:41 ubuntu etcd[58284]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 10:13:41 ubuntu etcd[58284]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 10:13:41 ubuntu etcd[58284]: Running http and grpc server on single port. This is not recommended for production.
May 28 10:13:41 ubuntu etcd[58284]: etcd Version: 3.4.27
May 28 10:13:41 ubuntu etcd[58284]: Git SHA: c92fb80f3
May 28 10:13:41 ubuntu etcd[58284]: Go Version: go1.19.10
May 28 10:13:41 ubuntu etcd[58284]: Go OS/Arch: linux/amd64
May 28 10:13:41 ubuntu etcd[58284]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 28 10:13:41 ubuntu etcd[58284]: Running http and grpc server on single port. This is not recommended for production.
May 28 10:13:41 ubuntu etcd[58284]: name = ubuntu
May 28 10:13:41 ubuntu etcd[58284]: data dir = /opt/stack/data/etcd
May 28 10:13:41 ubuntu etcd[58284]: member dir = /opt/stack/data/etcd/member
May 28 10:13:41 ubuntu etcd[58284]: heartbeat = 100ms
May 28 10:13:41 ubuntu etcd[58284]: election = 1000ms
May 28 10:13:41 ubuntu etcd[58284]: snapshot count = 100000
May 28 10:13:41 ubuntu etcd[58284]: advertise client URLs = http://10.201.9.223:2379
May 28 10:13:41 ubuntu etcd[58284]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 28 10:13:41 ubuntu etcd[58284]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 28 10:13:41 ubuntu etcd[58284]: raft2025/05/28 10:13:41 INFO: c25b29daa831042c switched to configuration voters=()
May 28 10:13:41 ubuntu etcd[58284]: raft2025/05/28 10:13:41 INFO: c25b29daa831042c became follower at term 0
May 28 10:13:41 ubuntu etcd[58284]: raft2025/05/28 10:13:41 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 28 10:13:41 ubuntu etcd[58284]: raft2025/05/28 10:13:41 INFO: c25b29daa831042c became follower at term 1
May 28 10:13:41 ubuntu etcd[58284]: raft2025/05/28 10:13:41 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 28 10:13:41 ubuntu etcd[58284]: simple token is not cryptographically signed
May 28 10:13:41 ubuntu etcd[58284]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 28 10:13:41 ubuntu etcd[58284]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 28 10:13:41 ubuntu etcd[58284]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 28 10:13:41 ubuntu etcd[58284]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 28 10:13:41 ubuntu etcd[58284]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 28 10:13:41 ubuntu etcd[58284]: raft2025/05/28 10:13:41 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 28 10:13:41 ubuntu etcd[58284]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 28 10:13:41 ubuntu etcd[58284]: listening for peers on [::]:2380
May 28 10:13:41 ubuntu etcd[58284]: raft2025/05/28 10:13:41 INFO: c25b29daa831042c is starting a new election at term 1
May 28 10:13:41 ubuntu etcd[58284]: raft2025/05/28 10:13:41 INFO: c25b29daa831042c became candidate at term 2
May 28 10:13:41 ubuntu etcd[58284]: raft2025/05/28 10:13:41 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 28 10:13:41 ubuntu etcd[58284]: raft2025/05/28 10:13:41 INFO: c25b29daa831042c became leader at term 2
May 28 10:13:41 ubuntu etcd[58284]: raft2025/05/28 10:13:41 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 28 10:13:41 ubuntu etcd[58284]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 28 10:13:41 ubuntu etcd[58284]: setting up the initial cluster version to 3.4
May 28 10:13:41 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 28 10:13:41 ubuntu etcd[58284]: ready to serve client requests
May 28 10:13:41 ubuntu etcd[58284]: set the initial cluster version to 3.4
May 28 10:13:41 ubuntu etcd[58284]: enabled capabilities for version 3.4
May 28 10:13:41 ubuntu etcd[58284]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 28 10:18:03 ubuntu etcd[58284]: start time = 2025-05-28 10:18:03.316608163 +0000 UTC m=+262.016356078, time spent = 490.323µs, remote = 10.201.9.223:47912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 10:18:03 ubuntu etcd[58284]: start time = 2025-05-28 10:18:03.41442725 +0000 UTC m=+262.114175179, time spent = 225.643µs, remote = 10.201.9.223:47912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 10:18:10 ubuntu etcd[58284]: start time = 2025-05-28 10:18:10.364544938 +0000 UTC m=+269.064292868, time spent = 249.554µs, remote = 10.201.9.223:47912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 10:18:12 ubuntu etcd[58284]: start time = 2025-05-28 10:18:12.344243088 +0000 UTC m=+271.043991003, time spent = 556.97µs, remote = 10.201.9.223:47912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
