Jul 08 09:21:49 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 08 09:21:49 ubuntu etcd[58960]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 08 09:21:49 ubuntu etcd[58960]:         A future release of golang/protobuf will delete this package,
Jul 08 09:21:49 ubuntu etcd[58960]:         which has long been excluded from the compatibility promise.
Jul 08 09:21:49 ubuntu etcd[58960]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 09:21:49 ubuntu etcd[58960]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 09:21:49 ubuntu etcd[58960]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 09:21:49 ubuntu etcd[58960]: etcd Version: 3.4.27
Jul 08 09:21:49 ubuntu etcd[58960]: Git SHA: c92fb80f3
Jul 08 09:21:49 ubuntu etcd[58960]: Go Version: go1.19.10
Jul 08 09:21:49 ubuntu etcd[58960]: Go OS/Arch: linux/amd64
Jul 08 09:21:49 ubuntu etcd[58960]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 08 09:21:49 ubuntu etcd[58960]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 09:21:49 ubuntu etcd[58960]: name = ubuntu
Jul 08 09:21:49 ubuntu etcd[58960]: data dir = /opt/stack/data/etcd
Jul 08 09:21:49 ubuntu etcd[58960]: member dir = /opt/stack/data/etcd/member
Jul 08 09:21:49 ubuntu etcd[58960]: heartbeat = 100ms
Jul 08 09:21:49 ubuntu etcd[58960]: election = 1000ms
Jul 08 09:21:49 ubuntu etcd[58960]: snapshot count = 100000
Jul 08 09:21:49 ubuntu etcd[58960]: advertise client URLs = http://10.201.9.223:2379
Jul 08 09:21:49 ubuntu etcd[58960]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 08 09:21:49 ubuntu etcd[58960]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 08 09:21:49 ubuntu etcd[58960]: raft2025/07/08 09:21:49 INFO: c25b29daa831042c switched to configuration voters=()
Jul 08 09:21:49 ubuntu etcd[58960]: raft2025/07/08 09:21:49 INFO: c25b29daa831042c became follower at term 0
Jul 08 09:21:49 ubuntu etcd[58960]: raft2025/07/08 09:21:49 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 08 09:21:49 ubuntu etcd[58960]: raft2025/07/08 09:21:49 INFO: c25b29daa831042c became follower at term 1
Jul 08 09:21:49 ubuntu etcd[58960]: raft2025/07/08 09:21:49 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 08 09:21:49 ubuntu etcd[58960]: simple token is not cryptographically signed
Jul 08 09:21:49 ubuntu etcd[58960]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 08 09:21:49 ubuntu etcd[58960]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 08 09:21:49 ubuntu etcd[58960]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 08 09:21:49 ubuntu etcd[58960]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 08 09:21:49 ubuntu etcd[58960]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 08 09:21:49 ubuntu etcd[58960]: raft2025/07/08 09:21:49 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 08 09:21:49 ubuntu etcd[58960]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 08 09:21:49 ubuntu etcd[58960]: listening for peers on [::]:2380
Jul 08 09:21:50 ubuntu etcd[58960]: raft2025/07/08 09:21:50 INFO: c25b29daa831042c is starting a new election at term 1
Jul 08 09:21:50 ubuntu etcd[58960]: raft2025/07/08 09:21:50 INFO: c25b29daa831042c became candidate at term 2
Jul 08 09:21:50 ubuntu etcd[58960]: raft2025/07/08 09:21:50 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 08 09:21:50 ubuntu etcd[58960]: raft2025/07/08 09:21:50 INFO: c25b29daa831042c became leader at term 2
Jul 08 09:21:50 ubuntu etcd[58960]: raft2025/07/08 09:21:50 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 08 09:21:50 ubuntu etcd[58960]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 08 09:21:50 ubuntu etcd[58960]: setting up the initial cluster version to 3.4
Jul 08 09:21:50 ubuntu etcd[58960]: set the initial cluster version to 3.4
Jul 08 09:21:50 ubuntu etcd[58960]: enabled capabilities for version 3.4
Jul 08 09:21:50 ubuntu etcd[58960]: ready to serve client requests
Jul 08 09:21:50 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 08 09:21:50 ubuntu etcd[58960]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 08 09:25:56 ubuntu etcd[58960]: start time = 2025-07-08 09:25:56.880227929 +0000 UTC m=+247.526180296, time spent = 1.595289ms, remote = 10.201.9.223:41092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 09:25:56 ubuntu etcd[58960]: start time = 2025-07-08 09:25:56.986360084 +0000 UTC m=+247.632312440, time spent = 240.332µs, remote = 10.201.9.223:41092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 09:26:03 ubuntu etcd[58960]: start time = 2025-07-08 09:26:03.325727375 +0000 UTC m=+253.971679749, time spent = 181.495µs, remote = 10.201.9.223:41092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 09:26:05 ubuntu etcd[58960]: start time = 2025-07-08 09:26:05.418170924 +0000 UTC m=+256.064123293, time spent = 372.337µs, remote = 10.201.9.223:41092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 09:21:49 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 08 09:21:49 ubuntu etcd[58960]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 08 09:21:49 ubuntu etcd[58960]:         A future release of golang/protobuf will delete this package,
Jul 08 09:21:49 ubuntu etcd[58960]:         which has long been excluded from the compatibility promise.
Jul 08 09:21:49 ubuntu etcd[58960]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 09:21:49 ubuntu etcd[58960]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 09:21:49 ubuntu etcd[58960]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 09:21:49 ubuntu etcd[58960]: etcd Version: 3.4.27
Jul 08 09:21:49 ubuntu etcd[58960]: Git SHA: c92fb80f3
Jul 08 09:21:49 ubuntu etcd[58960]: Go Version: go1.19.10
Jul 08 09:21:49 ubuntu etcd[58960]: Go OS/Arch: linux/amd64
Jul 08 09:21:49 ubuntu etcd[58960]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 08 09:21:49 ubuntu etcd[58960]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 09:21:49 ubuntu etcd[58960]: name = ubuntu
Jul 08 09:21:49 ubuntu etcd[58960]: data dir = /opt/stack/data/etcd
Jul 08 09:21:49 ubuntu etcd[58960]: member dir = /opt/stack/data/etcd/member
Jul 08 09:21:49 ubuntu etcd[58960]: heartbeat = 100ms
Jul 08 09:21:49 ubuntu etcd[58960]: election = 1000ms
Jul 08 09:21:49 ubuntu etcd[58960]: snapshot count = 100000
Jul 08 09:21:49 ubuntu etcd[58960]: advertise client URLs = http://10.201.9.223:2379
Jul 08 09:21:49 ubuntu etcd[58960]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 08 09:21:49 ubuntu etcd[58960]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 08 09:21:49 ubuntu etcd[58960]: raft2025/07/08 09:21:49 INFO: c25b29daa831042c switched to configuration voters=()
Jul 08 09:21:49 ubuntu etcd[58960]: raft2025/07/08 09:21:49 INFO: c25b29daa831042c became follower at term 0
Jul 08 09:21:49 ubuntu etcd[58960]: raft2025/07/08 09:21:49 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 08 09:21:49 ubuntu etcd[58960]: raft2025/07/08 09:21:49 INFO: c25b29daa831042c became follower at term 1
Jul 08 09:21:49 ubuntu etcd[58960]: raft2025/07/08 09:21:49 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 08 09:21:49 ubuntu etcd[58960]: simple token is not cryptographically signed
Jul 08 09:21:49 ubuntu etcd[58960]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 08 09:21:49 ubuntu etcd[58960]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 08 09:21:49 ubuntu etcd[58960]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 08 09:21:49 ubuntu etcd[58960]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 08 09:21:49 ubuntu etcd[58960]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 08 09:21:49 ubuntu etcd[58960]: raft2025/07/08 09:21:49 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 08 09:21:49 ubuntu etcd[58960]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 08 09:21:49 ubuntu etcd[58960]: listening for peers on [::]:2380
Jul 08 09:21:50 ubuntu etcd[58960]: raft2025/07/08 09:21:50 INFO: c25b29daa831042c is starting a new election at term 1
Jul 08 09:21:50 ubuntu etcd[58960]: raft2025/07/08 09:21:50 INFO: c25b29daa831042c became candidate at term 2
Jul 08 09:21:50 ubuntu etcd[58960]: raft2025/07/08 09:21:50 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 08 09:21:50 ubuntu etcd[58960]: raft2025/07/08 09:21:50 INFO: c25b29daa831042c became leader at term 2
Jul 08 09:21:50 ubuntu etcd[58960]: raft2025/07/08 09:21:50 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 08 09:21:50 ubuntu etcd[58960]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 08 09:21:50 ubuntu etcd[58960]: setting up the initial cluster version to 3.4
Jul 08 09:21:50 ubuntu etcd[58960]: set the initial cluster version to 3.4
Jul 08 09:21:50 ubuntu etcd[58960]: enabled capabilities for version 3.4
Jul 08 09:21:50 ubuntu etcd[58960]: ready to serve client requests
Jul 08 09:21:50 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 08 09:21:50 ubuntu etcd[58960]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 08 09:25:56 ubuntu etcd[58960]: start time = 2025-07-08 09:25:56.880227929 +0000 UTC m=+247.526180296, time spent = 1.595289ms, remote = 10.201.9.223:41092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 09:25:56 ubuntu etcd[58960]: start time = 2025-07-08 09:25:56.986360084 +0000 UTC m=+247.632312440, time spent = 240.332µs, remote = 10.201.9.223:41092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 09:26:03 ubuntu etcd[58960]: start time = 2025-07-08 09:26:03.325727375 +0000 UTC m=+253.971679749, time spent = 181.495µs, remote = 10.201.9.223:41092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 09:26:05 ubuntu etcd[58960]: start time = 2025-07-08 09:26:05.418170924 +0000 UTC m=+256.064123293, time spent = 372.337µs, remote = 10.201.9.223:41092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
