Dec 29 12:55:56 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 29 12:55:56 ubuntu etcd[60507]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 29 12:55:56 ubuntu etcd[60507]:         A future release of golang/protobuf will delete this package,
Dec 29 12:55:56 ubuntu etcd[60507]:         which has long been excluded from the compatibility promise.
Dec 29 12:55:56 ubuntu etcd[60507]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 29 12:55:56 ubuntu etcd[60507]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 29 12:55:56 ubuntu etcd[60507]: Running http and grpc server on single port. This is not recommended for production.
Dec 29 12:55:56 ubuntu etcd[60507]: etcd Version: 3.4.27
Dec 29 12:55:56 ubuntu etcd[60507]: Git SHA: c92fb80f3
Dec 29 12:55:56 ubuntu etcd[60507]: Go Version: go1.19.10
Dec 29 12:55:56 ubuntu etcd[60507]: Go OS/Arch: linux/amd64
Dec 29 12:55:56 ubuntu etcd[60507]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 29 12:55:56 ubuntu etcd[60507]: Running http and grpc server on single port. This is not recommended for production.
Dec 29 12:55:56 ubuntu etcd[60507]: name = ubuntu
Dec 29 12:55:56 ubuntu etcd[60507]: data dir = /opt/stack/data/etcd
Dec 29 12:55:56 ubuntu etcd[60507]: member dir = /opt/stack/data/etcd/member
Dec 29 12:55:56 ubuntu etcd[60507]: heartbeat = 100ms
Dec 29 12:55:56 ubuntu etcd[60507]: election = 1000ms
Dec 29 12:55:56 ubuntu etcd[60507]: snapshot count = 100000
Dec 29 12:55:56 ubuntu etcd[60507]: advertise client URLs = http://10.201.9.223:2379
Dec 29 12:55:56 ubuntu etcd[60507]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 29 12:55:56 ubuntu etcd[60507]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 29 12:55:56 ubuntu etcd[60507]: raft2024/12/29 12:55:56 INFO: c25b29daa831042c switched to configuration voters=()
Dec 29 12:55:56 ubuntu etcd[60507]: raft2024/12/29 12:55:56 INFO: c25b29daa831042c became follower at term 0
Dec 29 12:55:56 ubuntu etcd[60507]: raft2024/12/29 12:55:56 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 29 12:55:56 ubuntu etcd[60507]: raft2024/12/29 12:55:56 INFO: c25b29daa831042c became follower at term 1
Dec 29 12:55:56 ubuntu etcd[60507]: raft2024/12/29 12:55:56 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 29 12:55:56 ubuntu etcd[60507]: simple token is not cryptographically signed
Dec 29 12:55:56 ubuntu etcd[60507]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 29 12:55:56 ubuntu etcd[60507]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 29 12:55:56 ubuntu etcd[60507]: raft2024/12/29 12:55:56 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 29 12:55:56 ubuntu etcd[60507]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 29 12:55:56 ubuntu etcd[60507]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 29 12:55:56 ubuntu etcd[60507]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 29 12:55:56 ubuntu etcd[60507]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 29 12:55:56 ubuntu etcd[60507]: listening for peers on [::]:2380
Dec 29 12:55:57 ubuntu etcd[60507]: raft2024/12/29 12:55:57 INFO: c25b29daa831042c is starting a new election at term 1
Dec 29 12:55:57 ubuntu etcd[60507]: raft2024/12/29 12:55:57 INFO: c25b29daa831042c became candidate at term 2
Dec 29 12:55:57 ubuntu etcd[60507]: raft2024/12/29 12:55:57 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 29 12:55:57 ubuntu etcd[60507]: raft2024/12/29 12:55:57 INFO: c25b29daa831042c became leader at term 2
Dec 29 12:55:57 ubuntu etcd[60507]: raft2024/12/29 12:55:57 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 29 12:55:57 ubuntu etcd[60507]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 29 12:55:57 ubuntu etcd[60507]: setting up the initial cluster version to 3.4
Dec 29 12:55:57 ubuntu etcd[60507]: ready to serve client requests
Dec 29 12:55:57 ubuntu etcd[60507]: set the initial cluster version to 3.4
Dec 29 12:55:57 ubuntu etcd[60507]: enabled capabilities for version 3.4
Dec 29 12:55:57 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 29 12:55:57 ubuntu etcd[60507]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 29 13:00:16 ubuntu etcd[60507]: start time = 2024-12-29 13:00:16.781785198 +0000 UTC m=+260.709050153, time spent = 620.918µs, remote = 10.201.9.223:53106, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 29 13:00:16 ubuntu etcd[60507]: start time = 2024-12-29 13:00:16.788665267 +0000 UTC m=+260.715930233, time spent = 199.719µs, remote = 10.201.9.223:53106, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 29 13:00:23 ubuntu etcd[60507]: start time = 2024-12-29 13:00:23.32832556 +0000 UTC m=+267.255590531, time spent = 182.652µs, remote = 10.201.9.223:53106, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 29 13:00:25 ubuntu etcd[60507]: start time = 2024-12-29 13:00:25.441703334 +0000 UTC m=+269.368968303, time spent = 192.598µs, remote = 10.201.9.223:53106, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
