Sep 30 07:15:16 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 30 07:15:16 ubuntu etcd[59652]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 30 07:15:16 ubuntu etcd[59652]:         A future release of golang/protobuf will delete this package,
Sep 30 07:15:16 ubuntu etcd[59652]:         which has long been excluded from the compatibility promise.
Sep 30 07:15:16 ubuntu etcd[59652]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 30 07:15:16 ubuntu etcd[59652]: Running http and grpc server on single port. This is not recommended for production.
Sep 30 07:15:16 ubuntu etcd[59652]: etcd Version: 3.4.27
Sep 30 07:15:16 ubuntu etcd[59652]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 30 07:15:16 ubuntu etcd[59652]: Git SHA: c92fb80f3
Sep 30 07:15:16 ubuntu etcd[59652]: Go Version: go1.19.10
Sep 30 07:15:16 ubuntu etcd[59652]: Go OS/Arch: linux/amd64
Sep 30 07:15:16 ubuntu etcd[59652]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 30 07:15:16 ubuntu etcd[59652]: Running http and grpc server on single port. This is not recommended for production.
Sep 30 07:15:16 ubuntu etcd[59652]: name = ubuntu
Sep 30 07:15:16 ubuntu etcd[59652]: data dir = /opt/stack/data/etcd
Sep 30 07:15:16 ubuntu etcd[59652]: member dir = /opt/stack/data/etcd/member
Sep 30 07:15:16 ubuntu etcd[59652]: heartbeat = 100ms
Sep 30 07:15:16 ubuntu etcd[59652]: election = 1000ms
Sep 30 07:15:16 ubuntu etcd[59652]: snapshot count = 100000
Sep 30 07:15:16 ubuntu etcd[59652]: advertise client URLs = http://10.201.4.32:2379
Sep 30 07:15:16 ubuntu etcd[59652]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 30 07:15:16 ubuntu etcd[59652]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 30 07:15:16 ubuntu etcd[59652]: raft2024/09/30 07:15:16 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 30 07:15:16 ubuntu etcd[59652]: raft2024/09/30 07:15:16 INFO: 33238c1cdfea94eb became follower at term 0
Sep 30 07:15:16 ubuntu etcd[59652]: raft2024/09/30 07:15:16 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 30 07:15:16 ubuntu etcd[59652]: raft2024/09/30 07:15:16 INFO: 33238c1cdfea94eb became follower at term 1
Sep 30 07:15:16 ubuntu etcd[59652]: raft2024/09/30 07:15:16 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 30 07:15:16 ubuntu etcd[59652]: simple token is not cryptographically signed
Sep 30 07:15:16 ubuntu etcd[59652]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 30 07:15:16 ubuntu etcd[59652]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 30 07:15:16 ubuntu etcd[59652]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 30 07:15:16 ubuntu etcd[59652]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 30 07:15:16 ubuntu etcd[59652]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 30 07:15:16 ubuntu etcd[59652]: raft2024/09/30 07:15:16 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 30 07:15:16 ubuntu etcd[59652]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 30 07:15:16 ubuntu etcd[59652]: listening for peers on [::]:2380
Sep 30 07:15:17 ubuntu etcd[59652]: raft2024/09/30 07:15:17 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 30 07:15:17 ubuntu etcd[59652]: raft2024/09/30 07:15:17 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 30 07:15:17 ubuntu etcd[59652]: raft2024/09/30 07:15:17 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 30 07:15:17 ubuntu etcd[59652]: raft2024/09/30 07:15:17 INFO: 33238c1cdfea94eb became leader at term 2
Sep 30 07:15:17 ubuntu etcd[59652]: raft2024/09/30 07:15:17 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 30 07:15:17 ubuntu etcd[59652]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 30 07:15:17 ubuntu etcd[59652]: ready to serve client requests
Sep 30 07:15:17 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 30 07:15:17 ubuntu etcd[59652]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 30 07:15:17 ubuntu etcd[59652]: setting up the initial cluster version to 3.4
Sep 30 07:15:17 ubuntu etcd[59652]: set the initial cluster version to 3.4
Sep 30 07:15:17 ubuntu etcd[59652]: enabled capabilities for version 3.4
Sep 30 07:19:34 ubuntu etcd[59652]: start time = 2024-09-30 07:19:34.642966964 +0000 UTC m=+258.038783945, time spent = 345.209µs, remote = 10.201.4.32:34288, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 30 07:19:34 ubuntu etcd[59652]: start time = 2024-09-30 07:19:34.652208403 +0000 UTC m=+258.048025397, time spent = 204.497µs, remote = 10.201.4.32:34288, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 30 07:19:41 ubuntu etcd[59652]: start time = 2024-09-30 07:19:41.040671379 +0000 UTC m=+264.436488360, time spent = 241.551µs, remote = 10.201.4.32:34288, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 30 07:19:43 ubuntu etcd[59652]: start time = 2024-09-30 07:19:43.299294688 +0000 UTC m=+266.695111686, time spent = 227.344µs, remote = 10.201.4.32:34288, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
