Feb 07 05:42:16 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 07 05:42:16 ubuntu etcd[60076]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 07 05:42:16 ubuntu etcd[60076]:         A future release of golang/protobuf will delete this package,
Feb 07 05:42:16 ubuntu etcd[60076]:         which has long been excluded from the compatibility promise.
Feb 07 05:42:16 ubuntu etcd[60076]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 07 05:42:16 ubuntu etcd[60076]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 07 05:42:16 ubuntu etcd[60076]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 07 05:42:16 ubuntu etcd[60076]: Running http and grpc server on single port. This is not recommended for production.
Feb 07 05:42:16 ubuntu etcd[60076]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 07 05:42:16 ubuntu etcd[60076]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 07 05:42:16 ubuntu etcd[60076]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 07 05:42:16 ubuntu etcd[60076]: etcd Version: 3.4.27
Feb 07 05:42:16 ubuntu etcd[60076]: Git SHA: c92fb80f3
Feb 07 05:42:16 ubuntu etcd[60076]: Go Version: go1.19.10
Feb 07 05:42:16 ubuntu etcd[60076]: Go OS/Arch: linux/amd64
Feb 07 05:42:16 ubuntu etcd[60076]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 07 05:42:16 ubuntu etcd[60076]: Running http and grpc server on single port. This is not recommended for production.
Feb 07 05:42:16 ubuntu etcd[60076]: name = ubuntu
Feb 07 05:42:16 ubuntu etcd[60076]: data dir = /opt/stack/data/etcd
Feb 07 05:42:16 ubuntu etcd[60076]: member dir = /opt/stack/data/etcd/member
Feb 07 05:42:16 ubuntu etcd[60076]: heartbeat = 100ms
Feb 07 05:42:16 ubuntu etcd[60076]: election = 1000ms
Feb 07 05:42:16 ubuntu etcd[60076]: snapshot count = 100000
Feb 07 05:42:16 ubuntu etcd[60076]: advertise client URLs = http://10.201.4.32:2379
Feb 07 05:42:16 ubuntu etcd[60076]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 07 05:42:16 ubuntu etcd[60076]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 07 05:42:16 ubuntu etcd[60076]: raft2024/02/07 05:42:16 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 07 05:42:16 ubuntu etcd[60076]: raft2024/02/07 05:42:16 INFO: 33238c1cdfea94eb became follower at term 0
Feb 07 05:42:16 ubuntu etcd[60076]: raft2024/02/07 05:42:16 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 07 05:42:16 ubuntu etcd[60076]: raft2024/02/07 05:42:16 INFO: 33238c1cdfea94eb became follower at term 1
Feb 07 05:42:16 ubuntu etcd[60076]: raft2024/02/07 05:42:16 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 07 05:42:16 ubuntu etcd[60076]: simple token is not cryptographically signed
Feb 07 05:42:16 ubuntu etcd[60076]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 07 05:42:16 ubuntu etcd[60076]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 07 05:42:16 ubuntu etcd[60076]: raft2024/02/07 05:42:16 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 07 05:42:16 ubuntu etcd[60076]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 07 05:42:16 ubuntu etcd[60076]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 07 05:42:16 ubuntu etcd[60076]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 07 05:42:16 ubuntu etcd[60076]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 07 05:42:16 ubuntu etcd[60076]: listening for peers on [::]:2380
Feb 07 05:42:17 ubuntu etcd[60076]: raft2024/02/07 05:42:17 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 07 05:42:17 ubuntu etcd[60076]: raft2024/02/07 05:42:17 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 07 05:42:17 ubuntu etcd[60076]: raft2024/02/07 05:42:17 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 07 05:42:17 ubuntu etcd[60076]: raft2024/02/07 05:42:17 INFO: 33238c1cdfea94eb became leader at term 2
Feb 07 05:42:17 ubuntu etcd[60076]: raft2024/02/07 05:42:17 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 07 05:42:17 ubuntu etcd[60076]: INFO: 2024/02/07 05:42:17 parsed scheme: ""
Feb 07 05:42:17 ubuntu etcd[60076]: INFO: 2024/02/07 05:42:17 scheme "" not registered, fallback to default scheme
Feb 07 05:42:17 ubuntu etcd[60076]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 07 05:42:17 ubuntu etcd[60076]: INFO: 2024/02/07 05:42:17 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 07 05:42:17 ubuntu etcd[60076]: INFO: 2024/02/07 05:42:17 ClientConn switching balancer to "pick_first"
Feb 07 05:42:17 ubuntu etcd[60076]: ready to serve client requests
Feb 07 05:42:17 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 07 05:42:17 ubuntu etcd[60076]: setting up the initial cluster version to 3.4
Feb 07 05:42:17 ubuntu etcd[60076]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 07 05:42:17 ubuntu etcd[60076]: set the initial cluster version to 3.4
Feb 07 05:42:17 ubuntu etcd[60076]: enabled capabilities for version 3.4
Feb 07 05:46:34 ubuntu etcd[60076]: start time = 2024-02-07 05:46:34.381877813 +0000 UTC m=+257.467761999, time spent = 460.45µs, remote = 10.201.4.32:55978, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 07 05:46:34 ubuntu etcd[60076]: start time = 2024-02-07 05:46:34.393552534 +0000 UTC m=+257.479436721, time spent = 232.718µs, remote = 10.201.4.32:55978, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 07 05:46:40 ubuntu etcd[60076]: start time = 2024-02-07 05:46:40.931011395 +0000 UTC m=+264.016895570, time spent = 138.812µs, remote = 10.201.4.32:55978, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 07 05:46:43 ubuntu etcd[60076]: start time = 2024-02-07 05:46:43.276624592 +0000 UTC m=+266.362508779, time spent = 429.466µs, remote = 10.201.4.32:55978, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 07 05:42:16 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 07 05:42:16 ubuntu etcd[60076]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 07 05:42:16 ubuntu etcd[60076]:         A future release of golang/protobuf will delete this package,
Feb 07 05:42:16 ubuntu etcd[60076]:         which has long been excluded from the compatibility promise.
Feb 07 05:42:16 ubuntu etcd[60076]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 07 05:42:16 ubuntu etcd[60076]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 07 05:42:16 ubuntu etcd[60076]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 07 05:42:16 ubuntu etcd[60076]: Running http and grpc server on single port. This is not recommended for production.
Feb 07 05:42:16 ubuntu etcd[60076]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 07 05:42:16 ubuntu etcd[60076]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 07 05:42:16 ubuntu etcd[60076]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 07 05:42:16 ubuntu etcd[60076]: etcd Version: 3.4.27
Feb 07 05:42:16 ubuntu etcd[60076]: Git SHA: c92fb80f3
Feb 07 05:42:16 ubuntu etcd[60076]: Go Version: go1.19.10
Feb 07 05:42:16 ubuntu etcd[60076]: Go OS/Arch: linux/amd64
Feb 07 05:42:16 ubuntu etcd[60076]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 07 05:42:16 ubuntu etcd[60076]: Running http and grpc server on single port. This is not recommended for production.
Feb 07 05:42:16 ubuntu etcd[60076]: name = ubuntu
Feb 07 05:42:16 ubuntu etcd[60076]: data dir = /opt/stack/data/etcd
Feb 07 05:42:16 ubuntu etcd[60076]: member dir = /opt/stack/data/etcd/member
Feb 07 05:42:16 ubuntu etcd[60076]: heartbeat = 100ms
Feb 07 05:42:16 ubuntu etcd[60076]: election = 1000ms
Feb 07 05:42:16 ubuntu etcd[60076]: snapshot count = 100000
Feb 07 05:42:16 ubuntu etcd[60076]: advertise client URLs = http://10.201.4.32:2379
Feb 07 05:42:16 ubuntu etcd[60076]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 07 05:42:16 ubuntu etcd[60076]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 07 05:42:16 ubuntu etcd[60076]: raft2024/02/07 05:42:16 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 07 05:42:16 ubuntu etcd[60076]: raft2024/02/07 05:42:16 INFO: 33238c1cdfea94eb became follower at term 0
Feb 07 05:42:16 ubuntu etcd[60076]: raft2024/02/07 05:42:16 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 07 05:42:16 ubuntu etcd[60076]: raft2024/02/07 05:42:16 INFO: 33238c1cdfea94eb became follower at term 1
Feb 07 05:42:16 ubuntu etcd[60076]: raft2024/02/07 05:42:16 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 07 05:42:16 ubuntu etcd[60076]: simple token is not cryptographically signed
Feb 07 05:42:16 ubuntu etcd[60076]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 07 05:42:16 ubuntu etcd[60076]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 07 05:42:16 ubuntu etcd[60076]: raft2024/02/07 05:42:16 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 07 05:42:16 ubuntu etcd[60076]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 07 05:42:16 ubuntu etcd[60076]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 07 05:42:16 ubuntu etcd[60076]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 07 05:42:16 ubuntu etcd[60076]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 07 05:42:16 ubuntu etcd[60076]: listening for peers on [::]:2380
Feb 07 05:42:17 ubuntu etcd[60076]: raft2024/02/07 05:42:17 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 07 05:42:17 ubuntu etcd[60076]: raft2024/02/07 05:42:17 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 07 05:42:17 ubuntu etcd[60076]: raft2024/02/07 05:42:17 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 07 05:42:17 ubuntu etcd[60076]: raft2024/02/07 05:42:17 INFO: 33238c1cdfea94eb became leader at term 2
Feb 07 05:42:17 ubuntu etcd[60076]: raft2024/02/07 05:42:17 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 07 05:42:17 ubuntu etcd[60076]: INFO: 2024/02/07 05:42:17 parsed scheme: ""
Feb 07 05:42:17 ubuntu etcd[60076]: INFO: 2024/02/07 05:42:17 scheme "" not registered, fallback to default scheme
Feb 07 05:42:17 ubuntu etcd[60076]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 07 05:42:17 ubuntu etcd[60076]: INFO: 2024/02/07 05:42:17 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 07 05:42:17 ubuntu etcd[60076]: INFO: 2024/02/07 05:42:17 ClientConn switching balancer to "pick_first"
Feb 07 05:42:17 ubuntu etcd[60076]: ready to serve client requests
Feb 07 05:42:17 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 07 05:42:17 ubuntu etcd[60076]: setting up the initial cluster version to 3.4
Feb 07 05:42:17 ubuntu etcd[60076]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 07 05:42:17 ubuntu etcd[60076]: set the initial cluster version to 3.4
Feb 07 05:42:17 ubuntu etcd[60076]: enabled capabilities for version 3.4
Feb 07 05:46:34 ubuntu etcd[60076]: start time = 2024-02-07 05:46:34.381877813 +0000 UTC m=+257.467761999, time spent = 460.45µs, remote = 10.201.4.32:55978, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 07 05:46:34 ubuntu etcd[60076]: start time = 2024-02-07 05:46:34.393552534 +0000 UTC m=+257.479436721, time spent = 232.718µs, remote = 10.201.4.32:55978, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 07 05:46:40 ubuntu etcd[60076]: start time = 2024-02-07 05:46:40.931011395 +0000 UTC m=+264.016895570, time spent = 138.812µs, remote = 10.201.4.32:55978, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 07 05:46:43 ubuntu etcd[60076]: start time = 2024-02-07 05:46:43.276624592 +0000 UTC m=+266.362508779, time spent = 429.466µs, remote = 10.201.4.32:55978, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
