Dec 07 23:05:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 23:05:28 ubuntu etcd[58881]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 23:05:28 ubuntu etcd[58881]:         A future release of golang/protobuf will delete this package,
Dec 07 23:05:28 ubuntu etcd[58881]:         which has long been excluded from the compatibility promise.
Dec 07 23:05:28 ubuntu etcd[58881]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:05:28 ubuntu etcd[58881]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:05:28 ubuntu etcd[58881]: etcd Version: 3.4.27
Dec 07 23:05:28 ubuntu etcd[58881]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:05:28 ubuntu etcd[58881]: Git SHA: c92fb80f3
Dec 07 23:05:28 ubuntu etcd[58881]: Go Version: go1.19.10
Dec 07 23:05:28 ubuntu etcd[58881]: Go OS/Arch: linux/amd64
Dec 07 23:05:28 ubuntu etcd[58881]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 23:05:28 ubuntu etcd[58881]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:05:28 ubuntu etcd[58881]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 07 23:05:28 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 07 23:05:28 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 23:05:28 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 07 23:05:28 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 07 23:05:28 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 07 23:05:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 23:05:28 ubuntu etcd[58994]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 23:05:28 ubuntu etcd[58994]:         A future release of golang/protobuf will delete this package,
Dec 07 23:05:28 ubuntu etcd[58994]:         which has long been excluded from the compatibility promise.
Dec 07 23:05:28 ubuntu etcd[58994]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:05:28 ubuntu etcd[58994]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:05:28 ubuntu etcd[58994]: etcd Version: 3.4.27
Dec 07 23:05:28 ubuntu etcd[58994]: Git SHA: c92fb80f3
Dec 07 23:05:28 ubuntu etcd[58994]: Go Version: go1.19.10
Dec 07 23:05:28 ubuntu etcd[58994]: Go OS/Arch: linux/amd64
Dec 07 23:05:28 ubuntu etcd[58994]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 23:05:28 ubuntu etcd[58994]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:05:28 ubuntu etcd[58994]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:05:28 ubuntu etcd[58994]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 07 23:05:28 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 07 23:05:28 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 23:05:28 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 07 23:05:28 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 07 23:05:28 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 07 23:05:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 23:05:28 ubuntu etcd[59041]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 23:05:28 ubuntu etcd[59041]:         A future release of golang/protobuf will delete this package,
Dec 07 23:05:28 ubuntu etcd[59041]:         which has long been excluded from the compatibility promise.
Dec 07 23:05:28 ubuntu etcd[59041]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:05:28 ubuntu etcd[59041]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:05:28 ubuntu etcd[59041]: etcd Version: 3.4.27
Dec 07 23:05:28 ubuntu etcd[59041]: Git SHA: c92fb80f3
Dec 07 23:05:28 ubuntu etcd[59041]: Go Version: go1.19.10
Dec 07 23:05:28 ubuntu etcd[59041]: Go OS/Arch: linux/amd64
Dec 07 23:05:28 ubuntu etcd[59041]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 23:05:28 ubuntu etcd[59041]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:05:28 ubuntu etcd[59041]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:05:28 ubuntu etcd[59041]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 07 23:05:28 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 07 23:05:28 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 23:05:28 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 07 23:05:28 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 07 23:05:28 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 07 23:05:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 23:05:28 ubuntu etcd[59078]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 23:05:28 ubuntu etcd[59078]:         A future release of golang/protobuf will delete this package,
Dec 07 23:05:28 ubuntu etcd[59078]:         which has long been excluded from the compatibility promise.
Dec 07 23:05:28 ubuntu etcd[59078]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:05:28 ubuntu etcd[59078]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:05:28 ubuntu etcd[59078]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:05:28 ubuntu etcd[59078]: etcd Version: 3.4.27
Dec 07 23:05:28 ubuntu etcd[59078]: Git SHA: c92fb80f3
Dec 07 23:05:28 ubuntu etcd[59078]: Go Version: go1.19.10
Dec 07 23:05:28 ubuntu etcd[59078]: Go OS/Arch: linux/amd64
Dec 07 23:05:28 ubuntu etcd[59078]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 23:05:28 ubuntu etcd[59078]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:05:28 ubuntu etcd[59078]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 07 23:05:28 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 07 23:05:28 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 23:05:28 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 07 23:05:29 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 07 23:05:29 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 07 23:05:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 23:05:29 ubuntu etcd[59100]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 23:05:29 ubuntu etcd[59100]:         A future release of golang/protobuf will delete this package,
Dec 07 23:05:29 ubuntu etcd[59100]:         which has long been excluded from the compatibility promise.
Dec 07 23:05:29 ubuntu etcd[59100]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:05:29 ubuntu etcd[59100]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:05:29 ubuntu etcd[59100]: etcd Version: 3.4.27
Dec 07 23:05:29 ubuntu etcd[59100]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:05:29 ubuntu etcd[59100]: Git SHA: c92fb80f3
Dec 07 23:05:29 ubuntu etcd[59100]: Go Version: go1.19.10
Dec 07 23:05:29 ubuntu etcd[59100]: Go OS/Arch: linux/amd64
Dec 07 23:05:29 ubuntu etcd[59100]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 23:05:29 ubuntu etcd[59100]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:05:29 ubuntu etcd[59100]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 07 23:05:29 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 07 23:05:29 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 23:05:29 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 07 23:05:29 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 07 23:05:29 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 07 23:05:29 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 07 23:05:29 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 23:05:29 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
