Aug 19 02:43:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 19 02:43:46 ubuntu etcd[60501]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 19 02:43:46 ubuntu etcd[60501]:         A future release of golang/protobuf will delete this package,
Aug 19 02:43:46 ubuntu etcd[60501]:         which has long been excluded from the compatibility promise.
Aug 19 02:43:46 ubuntu etcd[60501]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 19 02:43:46 ubuntu etcd[60501]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 19 02:43:46 ubuntu etcd[60501]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 19 02:43:46 ubuntu etcd[60501]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 19 02:43:46 ubuntu etcd[60501]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 19 02:43:46 ubuntu etcd[60501]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 19 02:43:46 ubuntu etcd[60501]: Running http and grpc server on single port. This is not recommended for production.
Aug 19 02:43:46 ubuntu etcd[60501]: etcd Version: 3.4.27
Aug 19 02:43:46 ubuntu etcd[60501]: Git SHA: c92fb80f3
Aug 19 02:43:46 ubuntu etcd[60501]: Go Version: go1.19.10
Aug 19 02:43:46 ubuntu etcd[60501]: Go OS/Arch: linux/amd64
Aug 19 02:43:46 ubuntu etcd[60501]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 19 02:43:46 ubuntu etcd[60501]: Running http and grpc server on single port. This is not recommended for production.
Aug 19 02:43:46 ubuntu etcd[60501]: name = ubuntu
Aug 19 02:43:46 ubuntu etcd[60501]: data dir = /opt/stack/data/etcd
Aug 19 02:43:46 ubuntu etcd[60501]: member dir = /opt/stack/data/etcd/member
Aug 19 02:43:46 ubuntu etcd[60501]: heartbeat = 100ms
Aug 19 02:43:46 ubuntu etcd[60501]: election = 1000ms
Aug 19 02:43:46 ubuntu etcd[60501]: snapshot count = 100000
Aug 19 02:43:46 ubuntu etcd[60501]: advertise client URLs = http://10.201.4.32:2379
Aug 19 02:43:46 ubuntu etcd[60501]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 19 02:43:46 ubuntu etcd[60501]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Aug 19 02:43:46 ubuntu etcd[60501]: raft2024/08/19 02:43:46 INFO: 33238c1cdfea94eb switched to configuration voters=()
Aug 19 02:43:46 ubuntu etcd[60501]: raft2024/08/19 02:43:46 INFO: 33238c1cdfea94eb became follower at term 0
Aug 19 02:43:46 ubuntu etcd[60501]: raft2024/08/19 02:43:46 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 19 02:43:46 ubuntu etcd[60501]: raft2024/08/19 02:43:46 INFO: 33238c1cdfea94eb became follower at term 1
Aug 19 02:43:46 ubuntu etcd[60501]: raft2024/08/19 02:43:46 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 19 02:43:46 ubuntu etcd[60501]: simple token is not cryptographically signed
Aug 19 02:43:46 ubuntu etcd[60501]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 19 02:43:46 ubuntu etcd[60501]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 19 02:43:46 ubuntu etcd[60501]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 19 02:43:46 ubuntu etcd[60501]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 19 02:43:46 ubuntu etcd[60501]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 19 02:43:46 ubuntu etcd[60501]: raft2024/08/19 02:43:46 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 19 02:43:46 ubuntu etcd[60501]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Aug 19 02:43:46 ubuntu etcd[60501]: listening for peers on [::]:2380
Aug 19 02:43:46 ubuntu etcd[60501]: raft2024/08/19 02:43:46 INFO: 33238c1cdfea94eb is starting a new election at term 1
Aug 19 02:43:46 ubuntu etcd[60501]: raft2024/08/19 02:43:46 INFO: 33238c1cdfea94eb became candidate at term 2
Aug 19 02:43:46 ubuntu etcd[60501]: raft2024/08/19 02:43:46 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Aug 19 02:43:46 ubuntu etcd[60501]: raft2024/08/19 02:43:46 INFO: 33238c1cdfea94eb became leader at term 2
Aug 19 02:43:46 ubuntu etcd[60501]: raft2024/08/19 02:43:46 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Aug 19 02:43:46 ubuntu etcd[60501]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Aug 19 02:43:46 ubuntu etcd[60501]: ready to serve client requests
Aug 19 02:43:46 ubuntu etcd[60501]: INFO: 2024/08/19 02:43:46 parsed scheme: ""
Aug 19 02:43:46 ubuntu etcd[60501]: INFO: 2024/08/19 02:43:46 scheme "" not registered, fallback to default scheme
Aug 19 02:43:46 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 19 02:43:46 ubuntu etcd[60501]: INFO: 2024/08/19 02:43:46 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 19 02:43:46 ubuntu etcd[60501]: INFO: 2024/08/19 02:43:46 ClientConn switching balancer to "pick_first"
Aug 19 02:43:46 ubuntu etcd[60501]: setting up the initial cluster version to 3.4
Aug 19 02:43:46 ubuntu etcd[60501]: set the initial cluster version to 3.4
Aug 19 02:43:46 ubuntu etcd[60501]: enabled capabilities for version 3.4
Aug 19 02:43:46 ubuntu etcd[60501]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Aug 19 02:48:07 ubuntu etcd[60501]: start time = 2024-08-19 02:48:07.71092351 +0000 UTC m=+261.659181238, time spent = 462.494µs, remote = 10.201.4.32:49160, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 02:48:07 ubuntu etcd[60501]: start time = 2024-08-19 02:48:07.760520512 +0000 UTC m=+261.708778241, time spent = 268.614µs, remote = 10.201.4.32:49160, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 02:48:14 ubuntu etcd[60501]: start time = 2024-08-19 02:48:14.27924859 +0000 UTC m=+268.227506319, time spent = 201.121µs, remote = 10.201.4.32:49160, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 02:48:16 ubuntu etcd[60501]: start time = 2024-08-19 02:48:16.298602907 +0000 UTC m=+270.246860637, time spent = 200.877µs, remote = 10.201.4.32:49160, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
