Feb 02 08:48:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 02 08:48:48 ubuntu etcd[59783]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 02 08:48:48 ubuntu etcd[59783]:         A future release of golang/protobuf will delete this package,
Feb 02 08:48:48 ubuntu etcd[59783]:         which has long been excluded from the compatibility promise.
Feb 02 08:48:49 ubuntu etcd[59783]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 02 08:48:49 ubuntu etcd[59783]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 02 08:48:49 ubuntu etcd[59783]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 02 08:48:49 ubuntu etcd[59783]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 02 08:48:49 ubuntu etcd[59783]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 02 08:48:49 ubuntu etcd[59783]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 02 08:48:49 ubuntu etcd[59783]: Running http and grpc server on single port. This is not recommended for production.
Feb 02 08:48:49 ubuntu etcd[59783]: etcd Version: 3.4.27
Feb 02 08:48:49 ubuntu etcd[59783]: Git SHA: c92fb80f3
Feb 02 08:48:49 ubuntu etcd[59783]: Go Version: go1.19.10
Feb 02 08:48:49 ubuntu etcd[59783]: Go OS/Arch: linux/amd64
Feb 02 08:48:49 ubuntu etcd[59783]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 02 08:48:49 ubuntu etcd[59783]: Running http and grpc server on single port. This is not recommended for production.
Feb 02 08:48:49 ubuntu etcd[59783]: name = ubuntu
Feb 02 08:48:49 ubuntu etcd[59783]: data dir = /opt/stack/data/etcd
Feb 02 08:48:49 ubuntu etcd[59783]: member dir = /opt/stack/data/etcd/member
Feb 02 08:48:49 ubuntu etcd[59783]: heartbeat = 100ms
Feb 02 08:48:49 ubuntu etcd[59783]: election = 1000ms
Feb 02 08:48:49 ubuntu etcd[59783]: snapshot count = 100000
Feb 02 08:48:49 ubuntu etcd[59783]: advertise client URLs = http://10.201.4.32:2379
Feb 02 08:48:49 ubuntu etcd[59783]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 02 08:48:49 ubuntu etcd[59783]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb became follower at term 0
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb became follower at term 1
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 02 08:48:49 ubuntu etcd[59783]: simple token is not cryptographically signed
Feb 02 08:48:49 ubuntu etcd[59783]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 02 08:48:49 ubuntu etcd[59783]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 02 08:48:49 ubuntu etcd[59783]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 02 08:48:49 ubuntu etcd[59783]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 02 08:48:49 ubuntu etcd[59783]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 02 08:48:49 ubuntu etcd[59783]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 02 08:48:49 ubuntu etcd[59783]: listening for peers on [::]:2380
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb became leader at term 2
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 02 08:48:49 ubuntu etcd[59783]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 02 08:48:49 ubuntu etcd[59783]: ready to serve client requests
Feb 02 08:48:49 ubuntu etcd[59783]: INFO: 2024/02/02 08:48:49 parsed scheme: ""
Feb 02 08:48:49 ubuntu etcd[59783]: INFO: 2024/02/02 08:48:49 scheme "" not registered, fallback to default scheme
Feb 02 08:48:49 ubuntu etcd[59783]: INFO: 2024/02/02 08:48:49 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 02 08:48:49 ubuntu etcd[59783]: INFO: 2024/02/02 08:48:49 ClientConn switching balancer to "pick_first"
Feb 02 08:48:49 ubuntu etcd[59783]: setting up the initial cluster version to 3.4
Feb 02 08:48:49 ubuntu etcd[59783]: set the initial cluster version to 3.4
Feb 02 08:48:49 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 02 08:48:49 ubuntu etcd[59783]: enabled capabilities for version 3.4
Feb 02 08:48:49 ubuntu etcd[59783]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 02 08:53:11 ubuntu etcd[59783]: start time = 2024-02-02 08:53:11.290464026 +0000 UTC m=+262.306818093, time spent = 490.5µs, remote = 10.201.4.32:45884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 02 08:53:11 ubuntu etcd[59783]: start time = 2024-02-02 08:53:11.294692971 +0000 UTC m=+262.311047039, time spent = 211.009µs, remote = 10.201.4.32:45884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 02 08:53:17 ubuntu etcd[59783]: start time = 2024-02-02 08:53:17.770909043 +0000 UTC m=+268.787263122, time spent = 224.734µs, remote = 10.201.4.32:45884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 02 08:53:20 ubuntu etcd[59783]: start time = 2024-02-02 08:53:20.027810552 +0000 UTC m=+271.044164630, time spent = 246.445µs, remote = 10.201.4.32:45884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 02 08:48:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 02 08:48:48 ubuntu etcd[59783]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 02 08:48:48 ubuntu etcd[59783]:         A future release of golang/protobuf will delete this package,
Feb 02 08:48:48 ubuntu etcd[59783]:         which has long been excluded from the compatibility promise.
Feb 02 08:48:49 ubuntu etcd[59783]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 02 08:48:49 ubuntu etcd[59783]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 02 08:48:49 ubuntu etcd[59783]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 02 08:48:49 ubuntu etcd[59783]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 02 08:48:49 ubuntu etcd[59783]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 02 08:48:49 ubuntu etcd[59783]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 02 08:48:49 ubuntu etcd[59783]: Running http and grpc server on single port. This is not recommended for production.
Feb 02 08:48:49 ubuntu etcd[59783]: etcd Version: 3.4.27
Feb 02 08:48:49 ubuntu etcd[59783]: Git SHA: c92fb80f3
Feb 02 08:48:49 ubuntu etcd[59783]: Go Version: go1.19.10
Feb 02 08:48:49 ubuntu etcd[59783]: Go OS/Arch: linux/amd64
Feb 02 08:48:49 ubuntu etcd[59783]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 02 08:48:49 ubuntu etcd[59783]: Running http and grpc server on single port. This is not recommended for production.
Feb 02 08:48:49 ubuntu etcd[59783]: name = ubuntu
Feb 02 08:48:49 ubuntu etcd[59783]: data dir = /opt/stack/data/etcd
Feb 02 08:48:49 ubuntu etcd[59783]: member dir = /opt/stack/data/etcd/member
Feb 02 08:48:49 ubuntu etcd[59783]: heartbeat = 100ms
Feb 02 08:48:49 ubuntu etcd[59783]: election = 1000ms
Feb 02 08:48:49 ubuntu etcd[59783]: snapshot count = 100000
Feb 02 08:48:49 ubuntu etcd[59783]: advertise client URLs = http://10.201.4.32:2379
Feb 02 08:48:49 ubuntu etcd[59783]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 02 08:48:49 ubuntu etcd[59783]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb became follower at term 0
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb became follower at term 1
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 02 08:48:49 ubuntu etcd[59783]: simple token is not cryptographically signed
Feb 02 08:48:49 ubuntu etcd[59783]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 02 08:48:49 ubuntu etcd[59783]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 02 08:48:49 ubuntu etcd[59783]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 02 08:48:49 ubuntu etcd[59783]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 02 08:48:49 ubuntu etcd[59783]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 02 08:48:49 ubuntu etcd[59783]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 02 08:48:49 ubuntu etcd[59783]: listening for peers on [::]:2380
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: 33238c1cdfea94eb became leader at term 2
Feb 02 08:48:49 ubuntu etcd[59783]: raft2024/02/02 08:48:49 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 02 08:48:49 ubuntu etcd[59783]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 02 08:48:49 ubuntu etcd[59783]: ready to serve client requests
Feb 02 08:48:49 ubuntu etcd[59783]: INFO: 2024/02/02 08:48:49 parsed scheme: ""
Feb 02 08:48:49 ubuntu etcd[59783]: INFO: 2024/02/02 08:48:49 scheme "" not registered, fallback to default scheme
Feb 02 08:48:49 ubuntu etcd[59783]: INFO: 2024/02/02 08:48:49 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 02 08:48:49 ubuntu etcd[59783]: INFO: 2024/02/02 08:48:49 ClientConn switching balancer to "pick_first"
Feb 02 08:48:49 ubuntu etcd[59783]: setting up the initial cluster version to 3.4
Feb 02 08:48:49 ubuntu etcd[59783]: set the initial cluster version to 3.4
Feb 02 08:48:49 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 02 08:48:49 ubuntu etcd[59783]: enabled capabilities for version 3.4
Feb 02 08:48:49 ubuntu etcd[59783]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 02 08:53:11 ubuntu etcd[59783]: start time = 2024-02-02 08:53:11.290464026 +0000 UTC m=+262.306818093, time spent = 490.5µs, remote = 10.201.4.32:45884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 02 08:53:11 ubuntu etcd[59783]: start time = 2024-02-02 08:53:11.294692971 +0000 UTC m=+262.311047039, time spent = 211.009µs, remote = 10.201.4.32:45884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 02 08:53:17 ubuntu etcd[59783]: start time = 2024-02-02 08:53:17.770909043 +0000 UTC m=+268.787263122, time spent = 224.734µs, remote = 10.201.4.32:45884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 02 08:53:20 ubuntu etcd[59783]: start time = 2024-02-02 08:53:20.027810552 +0000 UTC m=+271.044164630, time spent = 246.445µs, remote = 10.201.4.32:45884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
