May 15 15:10:12 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 15 15:10:12 ubuntu etcd[59058]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 15 15:10:12 ubuntu etcd[59058]:         A future release of golang/protobuf will delete this package,
May 15 15:10:12 ubuntu etcd[59058]:         which has long been excluded from the compatibility promise.
May 15 15:10:12 ubuntu etcd[59058]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 15 15:10:12 ubuntu etcd[59058]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 15 15:10:12 ubuntu etcd[59058]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 15 15:10:12 ubuntu etcd[59058]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 15 15:10:12 ubuntu etcd[59058]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 15 15:10:12 ubuntu etcd[59058]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 15 15:10:12 ubuntu etcd[59058]: Running http and grpc server on single port. This is not recommended for production.
May 15 15:10:12 ubuntu etcd[59058]: etcd Version: 3.4.27
May 15 15:10:12 ubuntu etcd[59058]: Git SHA: c92fb80f3
May 15 15:10:12 ubuntu etcd[59058]: Go Version: go1.19.10
May 15 15:10:12 ubuntu etcd[59058]: Go OS/Arch: linux/amd64
May 15 15:10:12 ubuntu etcd[59058]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 15 15:10:12 ubuntu etcd[59058]: Running http and grpc server on single port. This is not recommended for production.
May 15 15:10:12 ubuntu etcd[59058]: name = ubuntu
May 15 15:10:12 ubuntu etcd[59058]: data dir = /opt/stack/data/etcd
May 15 15:10:12 ubuntu etcd[59058]: member dir = /opt/stack/data/etcd/member
May 15 15:10:12 ubuntu etcd[59058]: heartbeat = 100ms
May 15 15:10:12 ubuntu etcd[59058]: election = 1000ms
May 15 15:10:12 ubuntu etcd[59058]: snapshot count = 100000
May 15 15:10:12 ubuntu etcd[59058]: advertise client URLs = http://10.201.4.32:2379
May 15 15:10:12 ubuntu etcd[59058]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 15 15:10:12 ubuntu etcd[59058]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb became follower at term 0
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb became follower at term 1
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 15 15:10:12 ubuntu etcd[59058]: simple token is not cryptographically signed
May 15 15:10:12 ubuntu etcd[59058]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 15 15:10:12 ubuntu etcd[59058]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 15 15:10:12 ubuntu etcd[59058]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 15 15:10:12 ubuntu etcd[59058]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 15 15:10:12 ubuntu etcd[59058]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 15 15:10:12 ubuntu etcd[59058]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 15 15:10:12 ubuntu etcd[59058]: listening for peers on [::]:2380
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb became candidate at term 2
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb became leader at term 2
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 15 15:10:12 ubuntu etcd[59058]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 15 15:10:12 ubuntu etcd[59058]: ready to serve client requests
May 15 15:10:12 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 15 15:10:12 ubuntu etcd[59058]: setting up the initial cluster version to 3.4
May 15 15:10:12 ubuntu etcd[59058]: set the initial cluster version to 3.4
May 15 15:10:12 ubuntu etcd[59058]: enabled capabilities for version 3.4
May 15 15:10:12 ubuntu etcd[59058]: INFO: 2024/05/15 15:10:12 parsed scheme: ""
May 15 15:10:12 ubuntu etcd[59058]: INFO: 2024/05/15 15:10:12 scheme "" not registered, fallback to default scheme
May 15 15:10:12 ubuntu etcd[59058]: INFO: 2024/05/15 15:10:12 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 15 15:10:12 ubuntu etcd[59058]: INFO: 2024/05/15 15:10:12 ClientConn switching balancer to "pick_first"
May 15 15:10:12 ubuntu etcd[59058]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 15 15:14:30 ubuntu etcd[59058]: start time = 2024-05-15 15:14:30.579265929 +0000 UTC m=+258.481837269, time spent = 416.068µs, remote = 10.201.4.32:38320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 15:14:30 ubuntu etcd[59058]: start time = 2024-05-15 15:14:30.613008557 +0000 UTC m=+258.515579897, time spent = 216.763µs, remote = 10.201.4.32:38320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 15:14:37 ubuntu etcd[59058]: start time = 2024-05-15 15:14:37.09070534 +0000 UTC m=+264.993276779, time spent = 316.481µs, remote = 10.201.4.32:38320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 15:14:39 ubuntu etcd[59058]: start time = 2024-05-15 15:14:39.269400513 +0000 UTC m=+267.171971865, time spent = 604.444µs, remote = 10.201.4.32:38320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 15:10:12 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 15 15:10:12 ubuntu etcd[59058]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 15 15:10:12 ubuntu etcd[59058]:         A future release of golang/protobuf will delete this package,
May 15 15:10:12 ubuntu etcd[59058]:         which has long been excluded from the compatibility promise.
May 15 15:10:12 ubuntu etcd[59058]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 15 15:10:12 ubuntu etcd[59058]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 15 15:10:12 ubuntu etcd[59058]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 15 15:10:12 ubuntu etcd[59058]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 15 15:10:12 ubuntu etcd[59058]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 15 15:10:12 ubuntu etcd[59058]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 15 15:10:12 ubuntu etcd[59058]: Running http and grpc server on single port. This is not recommended for production.
May 15 15:10:12 ubuntu etcd[59058]: etcd Version: 3.4.27
May 15 15:10:12 ubuntu etcd[59058]: Git SHA: c92fb80f3
May 15 15:10:12 ubuntu etcd[59058]: Go Version: go1.19.10
May 15 15:10:12 ubuntu etcd[59058]: Go OS/Arch: linux/amd64
May 15 15:10:12 ubuntu etcd[59058]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 15 15:10:12 ubuntu etcd[59058]: Running http and grpc server on single port. This is not recommended for production.
May 15 15:10:12 ubuntu etcd[59058]: name = ubuntu
May 15 15:10:12 ubuntu etcd[59058]: data dir = /opt/stack/data/etcd
May 15 15:10:12 ubuntu etcd[59058]: member dir = /opt/stack/data/etcd/member
May 15 15:10:12 ubuntu etcd[59058]: heartbeat = 100ms
May 15 15:10:12 ubuntu etcd[59058]: election = 1000ms
May 15 15:10:12 ubuntu etcd[59058]: snapshot count = 100000
May 15 15:10:12 ubuntu etcd[59058]: advertise client URLs = http://10.201.4.32:2379
May 15 15:10:12 ubuntu etcd[59058]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 15 15:10:12 ubuntu etcd[59058]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb became follower at term 0
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb became follower at term 1
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 15 15:10:12 ubuntu etcd[59058]: simple token is not cryptographically signed
May 15 15:10:12 ubuntu etcd[59058]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 15 15:10:12 ubuntu etcd[59058]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 15 15:10:12 ubuntu etcd[59058]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 15 15:10:12 ubuntu etcd[59058]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 15 15:10:12 ubuntu etcd[59058]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 15 15:10:12 ubuntu etcd[59058]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 15 15:10:12 ubuntu etcd[59058]: listening for peers on [::]:2380
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb became candidate at term 2
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: 33238c1cdfea94eb became leader at term 2
May 15 15:10:12 ubuntu etcd[59058]: raft2024/05/15 15:10:12 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 15 15:10:12 ubuntu etcd[59058]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 15 15:10:12 ubuntu etcd[59058]: ready to serve client requests
May 15 15:10:12 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 15 15:10:12 ubuntu etcd[59058]: setting up the initial cluster version to 3.4
May 15 15:10:12 ubuntu etcd[59058]: set the initial cluster version to 3.4
May 15 15:10:12 ubuntu etcd[59058]: enabled capabilities for version 3.4
May 15 15:10:12 ubuntu etcd[59058]: INFO: 2024/05/15 15:10:12 parsed scheme: ""
May 15 15:10:12 ubuntu etcd[59058]: INFO: 2024/05/15 15:10:12 scheme "" not registered, fallback to default scheme
May 15 15:10:12 ubuntu etcd[59058]: INFO: 2024/05/15 15:10:12 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 15 15:10:12 ubuntu etcd[59058]: INFO: 2024/05/15 15:10:12 ClientConn switching balancer to "pick_first"
May 15 15:10:12 ubuntu etcd[59058]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 15 15:14:30 ubuntu etcd[59058]: start time = 2024-05-15 15:14:30.579265929 +0000 UTC m=+258.481837269, time spent = 416.068µs, remote = 10.201.4.32:38320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 15:14:30 ubuntu etcd[59058]: start time = 2024-05-15 15:14:30.613008557 +0000 UTC m=+258.515579897, time spent = 216.763µs, remote = 10.201.4.32:38320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 15:14:37 ubuntu etcd[59058]: start time = 2024-05-15 15:14:37.09070534 +0000 UTC m=+264.993276779, time spent = 316.481µs, remote = 10.201.4.32:38320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 15:14:39 ubuntu etcd[59058]: start time = 2024-05-15 15:14:39.269400513 +0000 UTC m=+267.171971865, time spent = 604.444µs, remote = 10.201.4.32:38320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
