Jul 04 15:01:56 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 04 15:01:56 ubuntu etcd[59201]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 04 15:01:56 ubuntu etcd[59201]:         A future release of golang/protobuf will delete this package,
Jul 04 15:01:56 ubuntu etcd[59201]:         which has long been excluded from the compatibility promise.
Jul 04 15:01:56 ubuntu etcd[59201]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 15:01:56 ubuntu etcd[59201]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 15:01:56 ubuntu etcd[59201]: etcd Version: 3.4.27
Jul 04 15:01:56 ubuntu etcd[59201]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 15:01:56 ubuntu etcd[59201]: Git SHA: c92fb80f3
Jul 04 15:01:56 ubuntu etcd[59201]: Go Version: go1.19.10
Jul 04 15:01:56 ubuntu etcd[59201]: Go OS/Arch: linux/amd64
Jul 04 15:01:56 ubuntu etcd[59201]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 04 15:01:56 ubuntu etcd[59201]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 15:01:56 ubuntu etcd[59201]: name = ubuntu
Jul 04 15:01:56 ubuntu etcd[59201]: data dir = /opt/stack/data/etcd
Jul 04 15:01:56 ubuntu etcd[59201]: member dir = /opt/stack/data/etcd/member
Jul 04 15:01:56 ubuntu etcd[59201]: heartbeat = 100ms
Jul 04 15:01:56 ubuntu etcd[59201]: election = 1000ms
Jul 04 15:01:56 ubuntu etcd[59201]: snapshot count = 100000
Jul 04 15:01:56 ubuntu etcd[59201]: advertise client URLs = http://10.201.9.223:2379
Jul 04 15:01:56 ubuntu etcd[59201]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 04 15:01:56 ubuntu etcd[59201]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 04 15:01:56 ubuntu etcd[59201]: raft2025/07/04 15:01:56 INFO: c25b29daa831042c switched to configuration voters=()
Jul 04 15:01:56 ubuntu etcd[59201]: raft2025/07/04 15:01:56 INFO: c25b29daa831042c became follower at term 0
Jul 04 15:01:56 ubuntu etcd[59201]: raft2025/07/04 15:01:56 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 04 15:01:56 ubuntu etcd[59201]: raft2025/07/04 15:01:56 INFO: c25b29daa831042c became follower at term 1
Jul 04 15:01:56 ubuntu etcd[59201]: raft2025/07/04 15:01:56 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 04 15:01:56 ubuntu etcd[59201]: simple token is not cryptographically signed
Jul 04 15:01:56 ubuntu etcd[59201]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 04 15:01:56 ubuntu etcd[59201]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 04 15:01:56 ubuntu etcd[59201]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 04 15:01:56 ubuntu etcd[59201]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 04 15:01:56 ubuntu etcd[59201]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 04 15:01:56 ubuntu etcd[59201]: raft2025/07/04 15:01:56 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 04 15:01:56 ubuntu etcd[59201]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 04 15:01:56 ubuntu etcd[59201]: listening for peers on [::]:2380
Jul 04 15:01:56 ubuntu etcd[59201]: raft2025/07/04 15:01:56 INFO: c25b29daa831042c is starting a new election at term 1
Jul 04 15:01:56 ubuntu etcd[59201]: raft2025/07/04 15:01:56 INFO: c25b29daa831042c became candidate at term 2
Jul 04 15:01:56 ubuntu etcd[59201]: raft2025/07/04 15:01:56 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 04 15:01:56 ubuntu etcd[59201]: raft2025/07/04 15:01:56 INFO: c25b29daa831042c became leader at term 2
Jul 04 15:01:56 ubuntu etcd[59201]: raft2025/07/04 15:01:56 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 04 15:01:56 ubuntu etcd[59201]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 04 15:01:56 ubuntu etcd[59201]: ready to serve client requests
Jul 04 15:01:56 ubuntu etcd[59201]: setting up the initial cluster version to 3.4
Jul 04 15:01:56 ubuntu etcd[59201]: set the initial cluster version to 3.4
Jul 04 15:01:56 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 04 15:01:56 ubuntu etcd[59201]: enabled capabilities for version 3.4
Jul 04 15:01:56 ubuntu etcd[59201]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 04 15:06:00 ubuntu etcd[59201]: start time = 2025-07-04 15:06:00.971852554 +0000 UTC m=+244.798166899, time spent = 1.551987ms, remote = 10.201.9.223:35180, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 15:06:01 ubuntu etcd[59201]: start time = 2025-07-04 15:06:01.000748069 +0000 UTC m=+244.827062428, time spent = 348.109µs, remote = 10.201.9.223:35180, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 15:06:07 ubuntu etcd[59201]: start time = 2025-07-04 15:06:07.741858986 +0000 UTC m=+251.568173340, time spent = 189.219µs, remote = 10.201.9.223:35180, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 15:06:09 ubuntu etcd[59201]: start time = 2025-07-04 15:06:09.785538755 +0000 UTC m=+253.611853112, time spent = 171.317µs, remote = 10.201.9.223:35180, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
