Aug 12 04:25:10 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 12 04:25:10 ubuntu etcd[59281]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 12 04:25:10 ubuntu etcd[59281]:         A future release of golang/protobuf will delete this package,
Aug 12 04:25:10 ubuntu etcd[59281]:         which has long been excluded from the compatibility promise.
Aug 12 04:25:10 ubuntu etcd[59281]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 04:25:10 ubuntu etcd[59281]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 04:25:10 ubuntu etcd[59281]: etcd Version: 3.4.27
Aug 12 04:25:10 ubuntu etcd[59281]: Git SHA: c92fb80f3
Aug 12 04:25:10 ubuntu etcd[59281]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 04:25:10 ubuntu etcd[59281]: Go Version: go1.19.10
Aug 12 04:25:10 ubuntu etcd[59281]: Go OS/Arch: linux/amd64
Aug 12 04:25:10 ubuntu etcd[59281]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 12 04:25:10 ubuntu etcd[59281]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 04:25:10 ubuntu etcd[59281]: name = ubuntu
Aug 12 04:25:10 ubuntu etcd[59281]: data dir = /opt/stack/data/etcd
Aug 12 04:25:10 ubuntu etcd[59281]: member dir = /opt/stack/data/etcd/member
Aug 12 04:25:10 ubuntu etcd[59281]: heartbeat = 100ms
Aug 12 04:25:10 ubuntu etcd[59281]: election = 1000ms
Aug 12 04:25:10 ubuntu etcd[59281]: snapshot count = 100000
Aug 12 04:25:10 ubuntu etcd[59281]: advertise client URLs = http://10.201.9.223:2379
Aug 12 04:25:10 ubuntu etcd[59281]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 12 04:25:10 ubuntu etcd[59281]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Aug 12 04:25:10 ubuntu etcd[59281]: raft2025/08/12 04:25:10 INFO: c25b29daa831042c switched to configuration voters=()
Aug 12 04:25:10 ubuntu etcd[59281]: raft2025/08/12 04:25:10 INFO: c25b29daa831042c became follower at term 0
Aug 12 04:25:10 ubuntu etcd[59281]: raft2025/08/12 04:25:10 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 12 04:25:10 ubuntu etcd[59281]: raft2025/08/12 04:25:10 INFO: c25b29daa831042c became follower at term 1
Aug 12 04:25:10 ubuntu etcd[59281]: raft2025/08/12 04:25:10 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 12 04:25:10 ubuntu etcd[59281]: simple token is not cryptographically signed
Aug 12 04:25:10 ubuntu etcd[59281]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 12 04:25:10 ubuntu etcd[59281]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 12 04:25:10 ubuntu etcd[59281]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 12 04:25:10 ubuntu etcd[59281]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 12 04:25:10 ubuntu etcd[59281]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 12 04:25:10 ubuntu etcd[59281]: raft2025/08/12 04:25:10 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 12 04:25:10 ubuntu etcd[59281]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Aug 12 04:25:10 ubuntu etcd[59281]: listening for peers on [::]:2380
Aug 12 04:25:10 ubuntu etcd[59281]: raft2025/08/12 04:25:10 INFO: c25b29daa831042c is starting a new election at term 1
Aug 12 04:25:10 ubuntu etcd[59281]: raft2025/08/12 04:25:10 INFO: c25b29daa831042c became candidate at term 2
Aug 12 04:25:10 ubuntu etcd[59281]: raft2025/08/12 04:25:10 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Aug 12 04:25:10 ubuntu etcd[59281]: raft2025/08/12 04:25:10 INFO: c25b29daa831042c became leader at term 2
Aug 12 04:25:10 ubuntu etcd[59281]: raft2025/08/12 04:25:10 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Aug 12 04:25:10 ubuntu etcd[59281]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Aug 12 04:25:10 ubuntu etcd[59281]: ready to serve client requests
Aug 12 04:25:10 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 12 04:25:10 ubuntu etcd[59281]: setting up the initial cluster version to 3.4
Aug 12 04:25:10 ubuntu etcd[59281]: set the initial cluster version to 3.4
Aug 12 04:25:10 ubuntu etcd[59281]: enabled capabilities for version 3.4
Aug 12 04:25:10 ubuntu etcd[59281]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Aug 12 04:29:21 ubuntu etcd[59281]: start time = 2025-08-12 04:29:21.142794963 +0000 UTC m=+250.621651675, time spent = 513.103µs, remote = 10.201.9.223:54610, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 04:29:21 ubuntu etcd[59281]: start time = 2025-08-12 04:29:21.146198871 +0000 UTC m=+250.625055590, time spent = 169.196µs, remote = 10.201.9.223:54610, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 04:29:27 ubuntu etcd[59281]: start time = 2025-08-12 04:29:27.773168754 +0000 UTC m=+257.252025473, time spent = 163.262µs, remote = 10.201.9.223:54610, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 04:29:29 ubuntu etcd[59281]: start time = 2025-08-12 04:29:29.787180187 +0000 UTC m=+259.266036905, time spent = 179.912µs, remote = 10.201.9.223:54610, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
