Jul 04 10:43:19 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 04 10:43:19 ubuntu etcd[58959]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 04 10:43:19 ubuntu etcd[58959]:         A future release of golang/protobuf will delete this package,
Jul 04 10:43:19 ubuntu etcd[58959]:         which has long been excluded from the compatibility promise.
Jul 04 10:43:19 ubuntu etcd[58959]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 10:43:19 ubuntu etcd[58959]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 10:43:19 ubuntu etcd[58959]: etcd Version: 3.4.27
Jul 04 10:43:19 ubuntu etcd[58959]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 10:43:19 ubuntu etcd[58959]: Git SHA: c92fb80f3
Jul 04 10:43:19 ubuntu etcd[58959]: Go Version: go1.19.10
Jul 04 10:43:19 ubuntu etcd[58959]: Go OS/Arch: linux/amd64
Jul 04 10:43:19 ubuntu etcd[58959]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 04 10:43:19 ubuntu etcd[58959]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 10:43:19 ubuntu etcd[58959]: name = ubuntu
Jul 04 10:43:19 ubuntu etcd[58959]: data dir = /opt/stack/data/etcd
Jul 04 10:43:19 ubuntu etcd[58959]: member dir = /opt/stack/data/etcd/member
Jul 04 10:43:19 ubuntu etcd[58959]: heartbeat = 100ms
Jul 04 10:43:19 ubuntu etcd[58959]: election = 1000ms
Jul 04 10:43:19 ubuntu etcd[58959]: snapshot count = 100000
Jul 04 10:43:19 ubuntu etcd[58959]: advertise client URLs = http://10.201.9.223:2379
Jul 04 10:43:19 ubuntu etcd[58959]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 04 10:43:19 ubuntu etcd[58959]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 04 10:43:19 ubuntu etcd[58959]: raft2025/07/04 10:43:19 INFO: c25b29daa831042c switched to configuration voters=()
Jul 04 10:43:19 ubuntu etcd[58959]: raft2025/07/04 10:43:19 INFO: c25b29daa831042c became follower at term 0
Jul 04 10:43:19 ubuntu etcd[58959]: raft2025/07/04 10:43:19 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 04 10:43:19 ubuntu etcd[58959]: raft2025/07/04 10:43:19 INFO: c25b29daa831042c became follower at term 1
Jul 04 10:43:19 ubuntu etcd[58959]: raft2025/07/04 10:43:19 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 04 10:43:19 ubuntu etcd[58959]: simple token is not cryptographically signed
Jul 04 10:43:19 ubuntu etcd[58959]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 04 10:43:19 ubuntu etcd[58959]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 04 10:43:19 ubuntu etcd[58959]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 04 10:43:19 ubuntu etcd[58959]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 04 10:43:19 ubuntu etcd[58959]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 04 10:43:19 ubuntu etcd[58959]: raft2025/07/04 10:43:19 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 04 10:43:19 ubuntu etcd[58959]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 04 10:43:19 ubuntu etcd[58959]: listening for peers on [::]:2380
Jul 04 10:43:20 ubuntu etcd[58959]: raft2025/07/04 10:43:20 INFO: c25b29daa831042c is starting a new election at term 1
Jul 04 10:43:20 ubuntu etcd[58959]: raft2025/07/04 10:43:20 INFO: c25b29daa831042c became candidate at term 2
Jul 04 10:43:20 ubuntu etcd[58959]: raft2025/07/04 10:43:20 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 04 10:43:20 ubuntu etcd[58959]: raft2025/07/04 10:43:20 INFO: c25b29daa831042c became leader at term 2
Jul 04 10:43:20 ubuntu etcd[58959]: raft2025/07/04 10:43:20 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 04 10:43:20 ubuntu etcd[58959]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 04 10:43:20 ubuntu etcd[58959]: ready to serve client requests
Jul 04 10:43:20 ubuntu etcd[58959]: setting up the initial cluster version to 3.4
Jul 04 10:43:20 ubuntu etcd[58959]: set the initial cluster version to 3.4
Jul 04 10:43:20 ubuntu etcd[58959]: enabled capabilities for version 3.4
Jul 04 10:43:20 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 04 10:43:20 ubuntu etcd[58959]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 04 10:47:23 ubuntu etcd[58959]: start time = 2025-07-04 10:47:23.088490941 +0000 UTC m=+243.612088490, time spent = 2.450677ms, remote = 10.201.9.223:43390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 10:47:23 ubuntu etcd[58959]: start time = 2025-07-04 10:47:23.088491008 +0000 UTC m=+243.612088556, time spent = 2.622748ms, remote = 10.201.9.223:43390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 10:47:29 ubuntu etcd[58959]: start time = 2025-07-04 10:47:29.326239008 +0000 UTC m=+249.849836557, time spent = 360.24µs, remote = 10.201.9.223:43390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 10:47:31 ubuntu etcd[58959]: start time = 2025-07-04 10:47:31.597215086 +0000 UTC m=+252.120812651, time spent = 400.81µs, remote = 10.201.9.223:43390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
