Oct 08 13:36:42 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 08 13:36:42 ubuntu etcd[59676]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 08 13:36:42 ubuntu etcd[59676]:         A future release of golang/protobuf will delete this package,
Oct 08 13:36:42 ubuntu etcd[59676]:         which has long been excluded from the compatibility promise.
Oct 08 13:36:42 ubuntu etcd[59676]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 08 13:36:42 ubuntu etcd[59676]: Running http and grpc server on single port. This is not recommended for production.
Oct 08 13:36:42 ubuntu etcd[59676]: etcd Version: 3.4.27
Oct 08 13:36:42 ubuntu etcd[59676]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 08 13:36:42 ubuntu etcd[59676]: Git SHA: c92fb80f3
Oct 08 13:36:42 ubuntu etcd[59676]: Go Version: go1.19.10
Oct 08 13:36:42 ubuntu etcd[59676]: Go OS/Arch: linux/amd64
Oct 08 13:36:42 ubuntu etcd[59676]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 08 13:36:42 ubuntu etcd[59676]: Running http and grpc server on single port. This is not recommended for production.
Oct 08 13:36:42 ubuntu etcd[59676]: name = ubuntu
Oct 08 13:36:42 ubuntu etcd[59676]: data dir = /opt/stack/data/etcd
Oct 08 13:36:42 ubuntu etcd[59676]: member dir = /opt/stack/data/etcd/member
Oct 08 13:36:42 ubuntu etcd[59676]: heartbeat = 100ms
Oct 08 13:36:42 ubuntu etcd[59676]: election = 1000ms
Oct 08 13:36:42 ubuntu etcd[59676]: snapshot count = 100000
Oct 08 13:36:42 ubuntu etcd[59676]: advertise client URLs = http://10.201.4.32:2379
Oct 08 13:36:42 ubuntu etcd[59676]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 08 13:36:42 ubuntu etcd[59676]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 08 13:36:42 ubuntu etcd[59676]: raft2024/10/08 13:36:42 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 08 13:36:42 ubuntu etcd[59676]: raft2024/10/08 13:36:42 INFO: 33238c1cdfea94eb became follower at term 0
Oct 08 13:36:42 ubuntu etcd[59676]: raft2024/10/08 13:36:42 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 08 13:36:42 ubuntu etcd[59676]: raft2024/10/08 13:36:42 INFO: 33238c1cdfea94eb became follower at term 1
Oct 08 13:36:42 ubuntu etcd[59676]: raft2024/10/08 13:36:42 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 08 13:36:42 ubuntu etcd[59676]: simple token is not cryptographically signed
Oct 08 13:36:42 ubuntu etcd[59676]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 08 13:36:42 ubuntu etcd[59676]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 08 13:36:42 ubuntu etcd[59676]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 08 13:36:42 ubuntu etcd[59676]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 08 13:36:42 ubuntu etcd[59676]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 08 13:36:42 ubuntu etcd[59676]: raft2024/10/08 13:36:42 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 08 13:36:42 ubuntu etcd[59676]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 08 13:36:42 ubuntu etcd[59676]: listening for peers on [::]:2380
Oct 08 13:36:43 ubuntu etcd[59676]: raft2024/10/08 13:36:43 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 08 13:36:43 ubuntu etcd[59676]: raft2024/10/08 13:36:43 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 08 13:36:43 ubuntu etcd[59676]: raft2024/10/08 13:36:43 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 08 13:36:43 ubuntu etcd[59676]: raft2024/10/08 13:36:43 INFO: 33238c1cdfea94eb became leader at term 2
Oct 08 13:36:43 ubuntu etcd[59676]: raft2024/10/08 13:36:43 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 08 13:36:43 ubuntu etcd[59676]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 08 13:36:43 ubuntu etcd[59676]: setting up the initial cluster version to 3.4
Oct 08 13:36:43 ubuntu etcd[59676]: set the initial cluster version to 3.4
Oct 08 13:36:43 ubuntu etcd[59676]: enabled capabilities for version 3.4
Oct 08 13:36:43 ubuntu etcd[59676]: ready to serve client requests
Oct 08 13:36:43 ubuntu etcd[59676]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 08 13:36:43 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 08 13:41:02 ubuntu etcd[59676]: start time = 2024-10-08 13:41:02.60029704 +0000 UTC m=+259.789831723, time spent = 539.683µs, remote = 10.201.4.32:50120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 08 13:41:02 ubuntu etcd[59676]: start time = 2024-10-08 13:41:02.69214613 +0000 UTC m=+259.881680830, time spent = 260.444µs, remote = 10.201.4.32:50120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 08 13:41:09 ubuntu etcd[59676]: start time = 2024-10-08 13:41:09.922177277 +0000 UTC m=+267.111711979, time spent = 189.32µs, remote = 10.201.4.32:50120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 08 13:41:12 ubuntu etcd[59676]: start time = 2024-10-08 13:41:12.052318029 +0000 UTC m=+269.241852726, time spent = 242.463µs, remote = 10.201.4.32:50120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
