Jan 14 16:55:09 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 14 16:55:09 ubuntu etcd[59099]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 14 16:55:09 ubuntu etcd[59099]:         A future release of golang/protobuf will delete this package,
Jan 14 16:55:09 ubuntu etcd[59099]:         which has long been excluded from the compatibility promise.
Jan 14 16:55:09 ubuntu etcd[59099]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 14 16:55:09 ubuntu etcd[59099]: Running http and grpc server on single port. This is not recommended for production.
Jan 14 16:55:09 ubuntu etcd[59099]: etcd Version: 3.4.27
Jan 14 16:55:09 ubuntu etcd[59099]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 14 16:55:09 ubuntu etcd[59099]: Git SHA: c92fb80f3
Jan 14 16:55:09 ubuntu etcd[59099]: Go Version: go1.19.10
Jan 14 16:55:09 ubuntu etcd[59099]: Go OS/Arch: linux/amd64
Jan 14 16:55:09 ubuntu etcd[59099]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 14 16:55:09 ubuntu etcd[59099]: Running http and grpc server on single port. This is not recommended for production.
Jan 14 16:55:09 ubuntu etcd[59099]: name = ubuntu
Jan 14 16:55:09 ubuntu etcd[59099]: data dir = /opt/stack/data/etcd
Jan 14 16:55:09 ubuntu etcd[59099]: member dir = /opt/stack/data/etcd/member
Jan 14 16:55:09 ubuntu etcd[59099]: heartbeat = 100ms
Jan 14 16:55:09 ubuntu etcd[59099]: election = 1000ms
Jan 14 16:55:09 ubuntu etcd[59099]: snapshot count = 100000
Jan 14 16:55:09 ubuntu etcd[59099]: advertise client URLs = http://10.201.9.223:2379
Jan 14 16:55:09 ubuntu etcd[59099]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 14 16:55:09 ubuntu etcd[59099]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 14 16:55:09 ubuntu etcd[59099]: raft2025/01/14 16:55:09 INFO: c25b29daa831042c switched to configuration voters=()
Jan 14 16:55:09 ubuntu etcd[59099]: raft2025/01/14 16:55:09 INFO: c25b29daa831042c became follower at term 0
Jan 14 16:55:09 ubuntu etcd[59099]: raft2025/01/14 16:55:09 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 14 16:55:09 ubuntu etcd[59099]: raft2025/01/14 16:55:09 INFO: c25b29daa831042c became follower at term 1
Jan 14 16:55:09 ubuntu etcd[59099]: raft2025/01/14 16:55:09 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 14 16:55:09 ubuntu etcd[59099]: simple token is not cryptographically signed
Jan 14 16:55:09 ubuntu etcd[59099]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 14 16:55:09 ubuntu etcd[59099]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 14 16:55:09 ubuntu etcd[59099]: raft2025/01/14 16:55:09 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 14 16:55:09 ubuntu etcd[59099]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 14 16:55:09 ubuntu etcd[59099]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 14 16:55:09 ubuntu etcd[59099]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 14 16:55:09 ubuntu etcd[59099]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 14 16:55:09 ubuntu etcd[59099]: listening for peers on [::]:2380
Jan 14 16:55:10 ubuntu etcd[59099]: raft2025/01/14 16:55:10 INFO: c25b29daa831042c is starting a new election at term 1
Jan 14 16:55:10 ubuntu etcd[59099]: raft2025/01/14 16:55:10 INFO: c25b29daa831042c became candidate at term 2
Jan 14 16:55:10 ubuntu etcd[59099]: raft2025/01/14 16:55:10 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 14 16:55:10 ubuntu etcd[59099]: raft2025/01/14 16:55:10 INFO: c25b29daa831042c became leader at term 2
Jan 14 16:55:10 ubuntu etcd[59099]: raft2025/01/14 16:55:10 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 14 16:55:10 ubuntu etcd[59099]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 14 16:55:10 ubuntu etcd[59099]: ready to serve client requests
Jan 14 16:55:10 ubuntu etcd[59099]: setting up the initial cluster version to 3.4
Jan 14 16:55:10 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 14 16:55:10 ubuntu etcd[59099]: set the initial cluster version to 3.4
Jan 14 16:55:10 ubuntu etcd[59099]: enabled capabilities for version 3.4
Jan 14 16:55:10 ubuntu etcd[59099]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 14 16:59:25 ubuntu etcd[59099]: start time = 2025-01-14 16:59:25.896302688 +0000 UTC m=+256.519370883, time spent = 420.985µs, remote = 10.201.9.223:42596, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 14 16:59:25 ubuntu etcd[59099]: start time = 2025-01-14 16:59:25.989878505 +0000 UTC m=+256.612946718, time spent = 192.128µs, remote = 10.201.9.223:42596, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 14 16:59:32 ubuntu etcd[59099]: start time = 2025-01-14 16:59:32.71264315 +0000 UTC m=+263.335711360, time spent = 269.909µs, remote = 10.201.9.223:42596, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 14 16:59:34 ubuntu etcd[59099]: start time = 2025-01-14 16:59:34.693519751 +0000 UTC m=+265.316587947, time spent = 351.199µs, remote = 10.201.9.223:42596, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
