Dec 30 07:30:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 30 07:30:29 ubuntu etcd[59690]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 30 07:30:29 ubuntu etcd[59690]:         A future release of golang/protobuf will delete this package,
Dec 30 07:30:29 ubuntu etcd[59690]:         which has long been excluded from the compatibility promise.
Dec 30 07:30:29 ubuntu etcd[59690]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 30 07:30:29 ubuntu etcd[59690]: Running http and grpc server on single port. This is not recommended for production.
Dec 30 07:30:29 ubuntu etcd[59690]: etcd Version: 3.4.27
Dec 30 07:30:29 ubuntu etcd[59690]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 30 07:30:29 ubuntu etcd[59690]: Git SHA: c92fb80f3
Dec 30 07:30:29 ubuntu etcd[59690]: Go Version: go1.19.10
Dec 30 07:30:29 ubuntu etcd[59690]: Go OS/Arch: linux/amd64
Dec 30 07:30:29 ubuntu etcd[59690]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 30 07:30:29 ubuntu etcd[59690]: Running http and grpc server on single port. This is not recommended for production.
Dec 30 07:30:29 ubuntu etcd[59690]: name = ubuntu
Dec 30 07:30:29 ubuntu etcd[59690]: data dir = /opt/stack/data/etcd
Dec 30 07:30:29 ubuntu etcd[59690]: member dir = /opt/stack/data/etcd/member
Dec 30 07:30:29 ubuntu etcd[59690]: heartbeat = 100ms
Dec 30 07:30:29 ubuntu etcd[59690]: election = 1000ms
Dec 30 07:30:29 ubuntu etcd[59690]: snapshot count = 100000
Dec 30 07:30:29 ubuntu etcd[59690]: advertise client URLs = http://10.201.9.223:2379
Dec 30 07:30:29 ubuntu etcd[59690]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 30 07:30:29 ubuntu etcd[59690]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 30 07:30:29 ubuntu etcd[59690]: raft2024/12/30 07:30:29 INFO: c25b29daa831042c switched to configuration voters=()
Dec 30 07:30:29 ubuntu etcd[59690]: raft2024/12/30 07:30:29 INFO: c25b29daa831042c became follower at term 0
Dec 30 07:30:29 ubuntu etcd[59690]: raft2024/12/30 07:30:29 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 30 07:30:29 ubuntu etcd[59690]: raft2024/12/30 07:30:29 INFO: c25b29daa831042c became follower at term 1
Dec 30 07:30:29 ubuntu etcd[59690]: raft2024/12/30 07:30:29 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 30 07:30:29 ubuntu etcd[59690]: simple token is not cryptographically signed
Dec 30 07:30:29 ubuntu etcd[59690]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 30 07:30:29 ubuntu etcd[59690]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 30 07:30:29 ubuntu etcd[59690]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 30 07:30:29 ubuntu etcd[59690]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 30 07:30:29 ubuntu etcd[59690]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 30 07:30:29 ubuntu etcd[59690]: raft2024/12/30 07:30:29 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 30 07:30:29 ubuntu etcd[59690]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 30 07:30:29 ubuntu etcd[59690]: listening for peers on [::]:2380
Dec 30 07:30:29 ubuntu etcd[59690]: raft2024/12/30 07:30:29 INFO: c25b29daa831042c is starting a new election at term 1
Dec 30 07:30:29 ubuntu etcd[59690]: raft2024/12/30 07:30:29 INFO: c25b29daa831042c became candidate at term 2
Dec 30 07:30:29 ubuntu etcd[59690]: raft2024/12/30 07:30:29 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 30 07:30:29 ubuntu etcd[59690]: raft2024/12/30 07:30:29 INFO: c25b29daa831042c became leader at term 2
Dec 30 07:30:29 ubuntu etcd[59690]: raft2024/12/30 07:30:29 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 30 07:30:29 ubuntu etcd[59690]: setting up the initial cluster version to 3.4
Dec 30 07:30:29 ubuntu etcd[59690]: ready to serve client requests
Dec 30 07:30:29 ubuntu etcd[59690]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 30 07:30:29 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 30 07:30:29 ubuntu etcd[59690]: set the initial cluster version to 3.4
Dec 30 07:30:29 ubuntu etcd[59690]: enabled capabilities for version 3.4
Dec 30 07:30:29 ubuntu etcd[59690]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 30 07:34:50 ubuntu etcd[59690]: start time = 2024-12-30 07:34:50.708124698 +0000 UTC m=+261.252971876, time spent = 458.344µs, remote = 10.201.9.223:35406, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 30 07:34:50 ubuntu etcd[59690]: start time = 2024-12-30 07:34:50.735449585 +0000 UTC m=+261.280296767, time spent = 192.023µs, remote = 10.201.9.223:35406, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 30 07:34:57 ubuntu etcd[59690]: start time = 2024-12-30 07:34:57.172028832 +0000 UTC m=+267.716876013, time spent = 204.925µs, remote = 10.201.9.223:35406, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 30 07:34:59 ubuntu etcd[59690]: start time = 2024-12-30 07:34:59.431256887 +0000 UTC m=+269.976104073, time spent = 452.772µs, remote = 10.201.9.223:35406, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
