Dec 16 02:55:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 16 02:55:37 ubuntu etcd[59122]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 16 02:55:37 ubuntu etcd[59122]:         A future release of golang/protobuf will delete this package,
Dec 16 02:55:37 ubuntu etcd[59122]:         which has long been excluded from the compatibility promise.
Dec 16 02:55:37 ubuntu etcd[59122]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 16 02:55:37 ubuntu etcd[59122]: Running http and grpc server on single port. This is not recommended for production.
Dec 16 02:55:37 ubuntu etcd[59122]: etcd Version: 3.4.27
Dec 16 02:55:37 ubuntu etcd[59122]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 16 02:55:37 ubuntu etcd[59122]: Git SHA: c92fb80f3
Dec 16 02:55:37 ubuntu etcd[59122]: Go Version: go1.19.10
Dec 16 02:55:37 ubuntu etcd[59122]: Go OS/Arch: linux/amd64
Dec 16 02:55:37 ubuntu etcd[59122]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 16 02:55:37 ubuntu etcd[59122]: Running http and grpc server on single port. This is not recommended for production.
Dec 16 02:55:37 ubuntu etcd[59122]: name = ubuntu
Dec 16 02:55:37 ubuntu etcd[59122]: data dir = /opt/stack/data/etcd
Dec 16 02:55:37 ubuntu etcd[59122]: member dir = /opt/stack/data/etcd/member
Dec 16 02:55:37 ubuntu etcd[59122]: heartbeat = 100ms
Dec 16 02:55:37 ubuntu etcd[59122]: election = 1000ms
Dec 16 02:55:37 ubuntu etcd[59122]: snapshot count = 100000
Dec 16 02:55:37 ubuntu etcd[59122]: advertise client URLs = http://10.201.9.223:2379
Dec 16 02:55:37 ubuntu etcd[59122]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 16 02:55:37 ubuntu etcd[59122]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 16 02:55:37 ubuntu etcd[59122]: raft2024/12/16 02:55:37 INFO: c25b29daa831042c switched to configuration voters=()
Dec 16 02:55:37 ubuntu etcd[59122]: raft2024/12/16 02:55:37 INFO: c25b29daa831042c became follower at term 0
Dec 16 02:55:37 ubuntu etcd[59122]: raft2024/12/16 02:55:37 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 16 02:55:37 ubuntu etcd[59122]: raft2024/12/16 02:55:37 INFO: c25b29daa831042c became follower at term 1
Dec 16 02:55:37 ubuntu etcd[59122]: raft2024/12/16 02:55:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 16 02:55:37 ubuntu etcd[59122]: simple token is not cryptographically signed
Dec 16 02:55:37 ubuntu etcd[59122]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 16 02:55:37 ubuntu etcd[59122]: raft2024/12/16 02:55:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 16 02:55:37 ubuntu etcd[59122]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 16 02:55:37 ubuntu etcd[59122]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 16 02:55:37 ubuntu etcd[59122]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 16 02:55:37 ubuntu etcd[59122]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 16 02:55:37 ubuntu etcd[59122]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 16 02:55:37 ubuntu etcd[59122]: listening for peers on [::]:2380
Dec 16 02:55:38 ubuntu etcd[59122]: raft2024/12/16 02:55:38 INFO: c25b29daa831042c is starting a new election at term 1
Dec 16 02:55:38 ubuntu etcd[59122]: raft2024/12/16 02:55:38 INFO: c25b29daa831042c became candidate at term 2
Dec 16 02:55:38 ubuntu etcd[59122]: raft2024/12/16 02:55:38 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 16 02:55:38 ubuntu etcd[59122]: raft2024/12/16 02:55:38 INFO: c25b29daa831042c became leader at term 2
Dec 16 02:55:38 ubuntu etcd[59122]: raft2024/12/16 02:55:38 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 16 02:55:38 ubuntu etcd[59122]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 16 02:55:38 ubuntu etcd[59122]: ready to serve client requests
Dec 16 02:55:38 ubuntu etcd[59122]: setting up the initial cluster version to 3.4
Dec 16 02:55:38 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 16 02:55:38 ubuntu etcd[59122]: set the initial cluster version to 3.4
Dec 16 02:55:38 ubuntu etcd[59122]: enabled capabilities for version 3.4
Dec 16 02:55:38 ubuntu etcd[59122]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 16 02:59:51 ubuntu etcd[59122]: start time = 2024-12-16 02:59:51.197504983 +0000 UTC m=+253.865301500, time spent = 397.563µs, remote = 10.201.9.223:58506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 16 02:59:51 ubuntu etcd[59122]: start time = 2024-12-16 02:59:51.319761816 +0000 UTC m=+253.987558343, time spent = 185.944µs, remote = 10.201.9.223:58506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 16 02:59:58 ubuntu etcd[59122]: start time = 2024-12-16 02:59:58.169780733 +0000 UTC m=+260.837577267, time spent = 155.2µs, remote = 10.201.9.223:58506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 16 03:00:00 ubuntu etcd[59122]: start time = 2024-12-16 03:00:00.013017281 +0000 UTC m=+262.680813798, time spent = 481.118µs, remote = 10.201.9.223:58506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
