Jul 31 09:41:34 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 31 09:41:34 ubuntu etcd[58393]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 31 09:41:34 ubuntu etcd[58393]:         A future release of golang/protobuf will delete this package,
Jul 31 09:41:34 ubuntu etcd[58393]:         which has long been excluded from the compatibility promise.
Jul 31 09:41:34 ubuntu etcd[58393]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 31 09:41:34 ubuntu etcd[58393]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 31 09:41:34 ubuntu etcd[58393]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 31 09:41:34 ubuntu etcd[58393]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 31 09:41:34 ubuntu etcd[58393]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 31 09:41:34 ubuntu etcd[58393]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 31 09:41:34 ubuntu etcd[58393]: Running http and grpc server on single port. This is not recommended for production.
Jul 31 09:41:34 ubuntu etcd[58393]: etcd Version: 3.4.27
Jul 31 09:41:34 ubuntu etcd[58393]: Git SHA: c92fb80f3
Jul 31 09:41:34 ubuntu etcd[58393]: Go Version: go1.19.10
Jul 31 09:41:34 ubuntu etcd[58393]: Go OS/Arch: linux/amd64
Jul 31 09:41:34 ubuntu etcd[58393]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 31 09:41:34 ubuntu etcd[58393]: Running http and grpc server on single port. This is not recommended for production.
Jul 31 09:41:34 ubuntu etcd[58393]: name = ubuntu
Jul 31 09:41:34 ubuntu etcd[58393]: data dir = /opt/stack/data/etcd
Jul 31 09:41:34 ubuntu etcd[58393]: member dir = /opt/stack/data/etcd/member
Jul 31 09:41:34 ubuntu etcd[58393]: heartbeat = 100ms
Jul 31 09:41:34 ubuntu etcd[58393]: election = 1000ms
Jul 31 09:41:34 ubuntu etcd[58393]: snapshot count = 100000
Jul 31 09:41:34 ubuntu etcd[58393]: advertise client URLs = http://10.201.4.32:2379
Jul 31 09:41:34 ubuntu etcd[58393]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 31 09:41:34 ubuntu etcd[58393]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jul 31 09:41:34 ubuntu etcd[58393]: raft2024/07/31 09:41:34 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jul 31 09:41:34 ubuntu etcd[58393]: raft2024/07/31 09:41:34 INFO: 33238c1cdfea94eb became follower at term 0
Jul 31 09:41:34 ubuntu etcd[58393]: raft2024/07/31 09:41:34 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 31 09:41:34 ubuntu etcd[58393]: raft2024/07/31 09:41:34 INFO: 33238c1cdfea94eb became follower at term 1
Jul 31 09:41:34 ubuntu etcd[58393]: raft2024/07/31 09:41:34 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 31 09:41:34 ubuntu etcd[58393]: simple token is not cryptographically signed
Jul 31 09:41:34 ubuntu etcd[58393]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 31 09:41:34 ubuntu etcd[58393]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 31 09:41:34 ubuntu etcd[58393]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 31 09:41:34 ubuntu etcd[58393]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 31 09:41:34 ubuntu etcd[58393]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 31 09:41:34 ubuntu etcd[58393]: raft2024/07/31 09:41:34 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 31 09:41:34 ubuntu etcd[58393]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jul 31 09:41:34 ubuntu etcd[58393]: listening for peers on [::]:2380
Jul 31 09:41:35 ubuntu etcd[58393]: raft2024/07/31 09:41:35 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jul 31 09:41:35 ubuntu etcd[58393]: raft2024/07/31 09:41:35 INFO: 33238c1cdfea94eb became candidate at term 2
Jul 31 09:41:35 ubuntu etcd[58393]: raft2024/07/31 09:41:35 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jul 31 09:41:35 ubuntu etcd[58393]: raft2024/07/31 09:41:35 INFO: 33238c1cdfea94eb became leader at term 2
Jul 31 09:41:35 ubuntu etcd[58393]: raft2024/07/31 09:41:35 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jul 31 09:41:35 ubuntu etcd[58393]: INFO: 2024/07/31 09:41:35 parsed scheme: ""
Jul 31 09:41:35 ubuntu etcd[58393]: INFO: 2024/07/31 09:41:35 scheme "" not registered, fallback to default scheme
Jul 31 09:41:35 ubuntu etcd[58393]: INFO: 2024/07/31 09:41:35 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 31 09:41:35 ubuntu etcd[58393]: INFO: 2024/07/31 09:41:35 ClientConn switching balancer to "pick_first"
Jul 31 09:41:35 ubuntu etcd[58393]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jul 31 09:41:35 ubuntu etcd[58393]: setting up the initial cluster version to 3.4
Jul 31 09:41:35 ubuntu etcd[58393]: ready to serve client requests
Jul 31 09:41:35 ubuntu etcd[58393]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jul 31 09:41:35 ubuntu etcd[58393]: set the initial cluster version to 3.4
Jul 31 09:41:35 ubuntu etcd[58393]: enabled capabilities for version 3.4
Jul 31 09:41:35 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 31 09:45:56 ubuntu etcd[58393]: start time = 2024-07-31 09:45:56.337943004 +0000 UTC m=+261.874148230, time spent = 362.247µs, remote = 10.201.4.32:47418, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 09:45:56 ubuntu etcd[58393]: start time = 2024-07-31 09:45:56.341736266 +0000 UTC m=+261.877941480, time spent = 256.8µs, remote = 10.201.4.32:47418, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 09:46:03 ubuntu etcd[58393]: start time = 2024-07-31 09:46:03.22651765 +0000 UTC m=+268.762722863, time spent = 246.283µs, remote = 10.201.4.32:47418, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 09:46:05 ubuntu etcd[58393]: start time = 2024-07-31 09:46:05.263696986 +0000 UTC m=+270.799902200, time spent = 607.718µs, remote = 10.201.4.32:47418, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
