Apr 08 15:40:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 08 15:40:32 ubuntu etcd[57494]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 08 15:40:32 ubuntu etcd[57494]:         A future release of golang/protobuf will delete this package,
Apr 08 15:40:32 ubuntu etcd[57494]:         which has long been excluded from the compatibility promise.
Apr 08 15:40:32 ubuntu etcd[57494]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 08 15:40:32 ubuntu etcd[57494]: Running http and grpc server on single port. This is not recommended for production.
Apr 08 15:40:32 ubuntu etcd[57494]: etcd Version: 3.4.27
Apr 08 15:40:32 ubuntu etcd[57494]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 08 15:40:32 ubuntu etcd[57494]: Git SHA: c92fb80f3
Apr 08 15:40:32 ubuntu etcd[57494]: Go Version: go1.19.10
Apr 08 15:40:32 ubuntu etcd[57494]: Go OS/Arch: linux/amd64
Apr 08 15:40:32 ubuntu etcd[57494]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 08 15:40:32 ubuntu etcd[57494]: Running http and grpc server on single port. This is not recommended for production.
Apr 08 15:40:32 ubuntu etcd[57494]: name = ubuntu
Apr 08 15:40:32 ubuntu etcd[57494]: data dir = /opt/stack/data/etcd
Apr 08 15:40:32 ubuntu etcd[57494]: member dir = /opt/stack/data/etcd/member
Apr 08 15:40:32 ubuntu etcd[57494]: heartbeat = 100ms
Apr 08 15:40:32 ubuntu etcd[57494]: election = 1000ms
Apr 08 15:40:32 ubuntu etcd[57494]: snapshot count = 100000
Apr 08 15:40:32 ubuntu etcd[57494]: advertise client URLs = http://10.201.9.223:2379
Apr 08 15:40:32 ubuntu etcd[57494]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 08 15:40:32 ubuntu etcd[57494]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 08 15:40:32 ubuntu etcd[57494]: raft2025/04/08 15:40:32 INFO: c25b29daa831042c switched to configuration voters=()
Apr 08 15:40:32 ubuntu etcd[57494]: raft2025/04/08 15:40:32 INFO: c25b29daa831042c became follower at term 0
Apr 08 15:40:32 ubuntu etcd[57494]: raft2025/04/08 15:40:32 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 08 15:40:32 ubuntu etcd[57494]: raft2025/04/08 15:40:32 INFO: c25b29daa831042c became follower at term 1
Apr 08 15:40:32 ubuntu etcd[57494]: raft2025/04/08 15:40:32 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 08 15:40:32 ubuntu etcd[57494]: simple token is not cryptographically signed
Apr 08 15:40:32 ubuntu etcd[57494]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 08 15:40:32 ubuntu etcd[57494]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 08 15:40:32 ubuntu etcd[57494]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 08 15:40:32 ubuntu etcd[57494]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 08 15:40:32 ubuntu etcd[57494]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 08 15:40:32 ubuntu etcd[57494]: listening for peers on [::]:2380
Apr 08 15:40:32 ubuntu etcd[57494]: raft2025/04/08 15:40:32 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 08 15:40:32 ubuntu etcd[57494]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 08 15:40:32 ubuntu etcd[57494]: raft2025/04/08 15:40:32 INFO: c25b29daa831042c is starting a new election at term 1
Apr 08 15:40:32 ubuntu etcd[57494]: raft2025/04/08 15:40:32 INFO: c25b29daa831042c became candidate at term 2
Apr 08 15:40:32 ubuntu etcd[57494]: raft2025/04/08 15:40:32 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 08 15:40:32 ubuntu etcd[57494]: raft2025/04/08 15:40:32 INFO: c25b29daa831042c became leader at term 2
Apr 08 15:40:32 ubuntu etcd[57494]: raft2025/04/08 15:40:32 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 08 15:40:32 ubuntu etcd[57494]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 08 15:40:32 ubuntu etcd[57494]: ready to serve client requests
Apr 08 15:40:32 ubuntu etcd[57494]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 08 15:40:32 ubuntu etcd[57494]: setting up the initial cluster version to 3.4
Apr 08 15:40:32 ubuntu etcd[57494]: set the initial cluster version to 3.4
Apr 08 15:40:32 ubuntu etcd[57494]: enabled capabilities for version 3.4
Apr 08 15:40:32 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 08 15:44:43 ubuntu etcd[57494]: start time = 2025-04-08 15:44:43.782207816 +0000 UTC m=+251.350326752, time spent = 449.026µs, remote = 10.201.9.223:51680, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 08 15:44:43 ubuntu etcd[57494]: start time = 2025-04-08 15:44:43.940891417 +0000 UTC m=+251.509010357, time spent = 146.847µs, remote = 10.201.9.223:51680, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 08 15:44:50 ubuntu etcd[57494]: start time = 2025-04-08 15:44:50.335482571 +0000 UTC m=+257.903601513, time spent = 149.418µs, remote = 10.201.9.223:51680, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 08 15:44:52 ubuntu etcd[57494]: start time = 2025-04-08 15:44:52.400318094 +0000 UTC m=+259.968437028, time spent = 207.954µs, remote = 10.201.9.223:51680, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
