Mar 06 18:53:31 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 06 18:53:31 ubuntu etcd[60175]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 06 18:53:31 ubuntu etcd[60175]:         A future release of golang/protobuf will delete this package,
Mar 06 18:53:31 ubuntu etcd[60175]:         which has long been excluded from the compatibility promise.
Mar 06 18:53:31 ubuntu etcd[60175]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 06 18:53:31 ubuntu etcd[60175]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 06 18:53:31 ubuntu etcd[60175]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 06 18:53:31 ubuntu etcd[60175]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 06 18:53:31 ubuntu etcd[60175]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 06 18:53:31 ubuntu etcd[60175]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 06 18:53:31 ubuntu etcd[60175]: Running http and grpc server on single port. This is not recommended for production.
Mar 06 18:53:31 ubuntu etcd[60175]: etcd Version: 3.4.27
Mar 06 18:53:31 ubuntu etcd[60175]: Git SHA: c92fb80f3
Mar 06 18:53:31 ubuntu etcd[60175]: Go Version: go1.19.10
Mar 06 18:53:31 ubuntu etcd[60175]: Go OS/Arch: linux/amd64
Mar 06 18:53:31 ubuntu etcd[60175]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 06 18:53:31 ubuntu etcd[60175]: Running http and grpc server on single port. This is not recommended for production.
Mar 06 18:53:31 ubuntu etcd[60175]: name = ubuntu
Mar 06 18:53:31 ubuntu etcd[60175]: data dir = /opt/stack/data/etcd
Mar 06 18:53:31 ubuntu etcd[60175]: member dir = /opt/stack/data/etcd/member
Mar 06 18:53:31 ubuntu etcd[60175]: heartbeat = 100ms
Mar 06 18:53:31 ubuntu etcd[60175]: election = 1000ms
Mar 06 18:53:31 ubuntu etcd[60175]: snapshot count = 100000
Mar 06 18:53:31 ubuntu etcd[60175]: advertise client URLs = http://10.201.4.32:2379
Mar 06 18:53:31 ubuntu etcd[60175]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 06 18:53:31 ubuntu etcd[60175]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 06 18:53:31 ubuntu etcd[60175]: raft2024/03/06 18:53:31 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 06 18:53:31 ubuntu etcd[60175]: raft2024/03/06 18:53:31 INFO: 33238c1cdfea94eb became follower at term 0
Mar 06 18:53:31 ubuntu etcd[60175]: raft2024/03/06 18:53:31 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 06 18:53:31 ubuntu etcd[60175]: raft2024/03/06 18:53:31 INFO: 33238c1cdfea94eb became follower at term 1
Mar 06 18:53:31 ubuntu etcd[60175]: raft2024/03/06 18:53:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 06 18:53:31 ubuntu etcd[60175]: simple token is not cryptographically signed
Mar 06 18:53:31 ubuntu etcd[60175]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 06 18:53:31 ubuntu etcd[60175]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 06 18:53:31 ubuntu etcd[60175]: raft2024/03/06 18:53:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 06 18:53:31 ubuntu etcd[60175]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 06 18:53:31 ubuntu etcd[60175]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 06 18:53:31 ubuntu etcd[60175]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 06 18:53:31 ubuntu etcd[60175]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 06 18:53:31 ubuntu etcd[60175]: listening for peers on [::]:2380
Mar 06 18:53:32 ubuntu etcd[60175]: raft2024/03/06 18:53:32 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 06 18:53:32 ubuntu etcd[60175]: raft2024/03/06 18:53:32 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 06 18:53:32 ubuntu etcd[60175]: raft2024/03/06 18:53:32 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 06 18:53:32 ubuntu etcd[60175]: raft2024/03/06 18:53:32 INFO: 33238c1cdfea94eb became leader at term 2
Mar 06 18:53:32 ubuntu etcd[60175]: raft2024/03/06 18:53:32 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 06 18:53:32 ubuntu etcd[60175]: INFO: 2024/03/06 18:53:32 parsed scheme: ""
Mar 06 18:53:32 ubuntu etcd[60175]: INFO: 2024/03/06 18:53:32 scheme "" not registered, fallback to default scheme
Mar 06 18:53:32 ubuntu etcd[60175]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 06 18:53:32 ubuntu etcd[60175]: INFO: 2024/03/06 18:53:32 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 06 18:53:32 ubuntu etcd[60175]: INFO: 2024/03/06 18:53:32 ClientConn switching balancer to "pick_first"
Mar 06 18:53:32 ubuntu etcd[60175]: setting up the initial cluster version to 3.4
Mar 06 18:53:32 ubuntu etcd[60175]: set the initial cluster version to 3.4
Mar 06 18:53:32 ubuntu etcd[60175]: enabled capabilities for version 3.4
Mar 06 18:53:32 ubuntu etcd[60175]: ready to serve client requests
Mar 06 18:53:32 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 06 18:53:32 ubuntu etcd[60175]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 06 18:57:47 ubuntu etcd[60175]: start time = 2024-03-06 18:57:47.923779023 +0000 UTC m=+256.184217556, time spent = 461.712µs, remote = 10.201.4.32:44600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 06 18:57:47 ubuntu etcd[60175]: start time = 2024-03-06 18:57:47.932968791 +0000 UTC m=+256.193407324, time spent = 209.087µs, remote = 10.201.4.32:44600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 06 18:57:54 ubuntu etcd[60175]: start time = 2024-03-06 18:57:54.620400359 +0000 UTC m=+262.880838881, time spent = 340.291µs, remote = 10.201.4.32:44600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 06 18:57:56 ubuntu etcd[60175]: start time = 2024-03-06 18:57:56.859609513 +0000 UTC m=+265.120048053, time spent = 637.199µs, remote = 10.201.4.32:44600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
