Apr 20 01:23:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 20 01:23:29 ubuntu etcd[60446]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 20 01:23:29 ubuntu etcd[60446]:         A future release of golang/protobuf will delete this package,
Apr 20 01:23:29 ubuntu etcd[60446]:         which has long been excluded from the compatibility promise.
Apr 20 01:23:29 ubuntu etcd[60446]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 20 01:23:29 ubuntu etcd[60446]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 20 01:23:29 ubuntu etcd[60446]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 20 01:23:29 ubuntu etcd[60446]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 20 01:23:29 ubuntu etcd[60446]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 20 01:23:29 ubuntu etcd[60446]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 20 01:23:29 ubuntu etcd[60446]: Running http and grpc server on single port. This is not recommended for production.
Apr 20 01:23:29 ubuntu etcd[60446]: etcd Version: 3.4.27
Apr 20 01:23:29 ubuntu etcd[60446]: Git SHA: c92fb80f3
Apr 20 01:23:29 ubuntu etcd[60446]: Go Version: go1.19.10
Apr 20 01:23:29 ubuntu etcd[60446]: Go OS/Arch: linux/amd64
Apr 20 01:23:29 ubuntu etcd[60446]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 20 01:23:29 ubuntu etcd[60446]: Running http and grpc server on single port. This is not recommended for production.
Apr 20 01:23:29 ubuntu etcd[60446]: name = ubuntu
Apr 20 01:23:29 ubuntu etcd[60446]: data dir = /opt/stack/data/etcd
Apr 20 01:23:29 ubuntu etcd[60446]: member dir = /opt/stack/data/etcd/member
Apr 20 01:23:29 ubuntu etcd[60446]: heartbeat = 100ms
Apr 20 01:23:29 ubuntu etcd[60446]: election = 1000ms
Apr 20 01:23:29 ubuntu etcd[60446]: snapshot count = 100000
Apr 20 01:23:29 ubuntu etcd[60446]: advertise client URLs = http://10.201.4.32:2379
Apr 20 01:23:29 ubuntu etcd[60446]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 20 01:23:29 ubuntu etcd[60446]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 20 01:23:29 ubuntu etcd[60446]: raft2024/04/20 01:23:29 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 20 01:23:29 ubuntu etcd[60446]: raft2024/04/20 01:23:29 INFO: 33238c1cdfea94eb became follower at term 0
Apr 20 01:23:29 ubuntu etcd[60446]: raft2024/04/20 01:23:29 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 20 01:23:29 ubuntu etcd[60446]: raft2024/04/20 01:23:29 INFO: 33238c1cdfea94eb became follower at term 1
Apr 20 01:23:29 ubuntu etcd[60446]: raft2024/04/20 01:23:29 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 20 01:23:29 ubuntu etcd[60446]: simple token is not cryptographically signed
Apr 20 01:23:29 ubuntu etcd[60446]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 20 01:23:29 ubuntu etcd[60446]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 20 01:23:29 ubuntu etcd[60446]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 20 01:23:29 ubuntu etcd[60446]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 20 01:23:29 ubuntu etcd[60446]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 20 01:23:29 ubuntu etcd[60446]: raft2024/04/20 01:23:29 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 20 01:23:29 ubuntu etcd[60446]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 20 01:23:29 ubuntu etcd[60446]: listening for peers on [::]:2380
Apr 20 01:23:29 ubuntu etcd[60446]: raft2024/04/20 01:23:29 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 20 01:23:29 ubuntu etcd[60446]: raft2024/04/20 01:23:29 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 20 01:23:29 ubuntu etcd[60446]: raft2024/04/20 01:23:29 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 20 01:23:29 ubuntu etcd[60446]: raft2024/04/20 01:23:29 INFO: 33238c1cdfea94eb became leader at term 2
Apr 20 01:23:29 ubuntu etcd[60446]: raft2024/04/20 01:23:29 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 20 01:23:29 ubuntu etcd[60446]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 20 01:23:29 ubuntu etcd[60446]: setting up the initial cluster version to 3.4
Apr 20 01:23:29 ubuntu etcd[60446]: ready to serve client requests
Apr 20 01:23:29 ubuntu etcd[60446]: INFO: 2024/04/20 01:23:29 parsed scheme: ""
Apr 20 01:23:29 ubuntu etcd[60446]: INFO: 2024/04/20 01:23:29 scheme "" not registered, fallback to default scheme
Apr 20 01:23:29 ubuntu etcd[60446]: INFO: 2024/04/20 01:23:29 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 20 01:23:29 ubuntu etcd[60446]: INFO: 2024/04/20 01:23:29 ClientConn switching balancer to "pick_first"
Apr 20 01:23:29 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 20 01:23:29 ubuntu etcd[60446]: set the initial cluster version to 3.4
Apr 20 01:23:29 ubuntu etcd[60446]: enabled capabilities for version 3.4
Apr 20 01:23:29 ubuntu etcd[60446]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 20 01:27:46 ubuntu etcd[60446]: start time = 2024-04-20 01:27:46.778695571 +0000 UTC m=+257.335219687, time spent = 454.467µs, remote = 10.201.4.32:33352, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 20 01:27:46 ubuntu etcd[60446]: start time = 2024-04-20 01:27:46.872434335 +0000 UTC m=+257.428958447, time spent = 209.019µs, remote = 10.201.4.32:33352, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 20 01:27:53 ubuntu etcd[60446]: start time = 2024-04-20 01:27:53.241199166 +0000 UTC m=+263.797723278, time spent = 269.36µs, remote = 10.201.4.32:33352, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 20 01:27:55 ubuntu etcd[60446]: start time = 2024-04-20 01:27:55.743245022 +0000 UTC m=+266.299769134, time spent = 1.226919ms, remote = 10.201.4.32:33352, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
