Jun 03 13:28:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 03 13:28:39 ubuntu etcd[59209]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 03 13:28:39 ubuntu etcd[59209]:         A future release of golang/protobuf will delete this package,
Jun 03 13:28:39 ubuntu etcd[59209]:         which has long been excluded from the compatibility promise.
Jun 03 13:28:39 ubuntu etcd[59209]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 03 13:28:39 ubuntu etcd[59209]: Running http and grpc server on single port. This is not recommended for production.
Jun 03 13:28:39 ubuntu etcd[59209]: etcd Version: 3.4.27
Jun 03 13:28:39 ubuntu etcd[59209]: Git SHA: c92fb80f3
Jun 03 13:28:39 ubuntu etcd[59209]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 03 13:28:39 ubuntu etcd[59209]: Go Version: go1.19.10
Jun 03 13:28:39 ubuntu etcd[59209]: Go OS/Arch: linux/amd64
Jun 03 13:28:39 ubuntu etcd[59209]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 03 13:28:39 ubuntu etcd[59209]: Running http and grpc server on single port. This is not recommended for production.
Jun 03 13:28:39 ubuntu etcd[59209]: name = ubuntu
Jun 03 13:28:39 ubuntu etcd[59209]: data dir = /opt/stack/data/etcd
Jun 03 13:28:39 ubuntu etcd[59209]: member dir = /opt/stack/data/etcd/member
Jun 03 13:28:39 ubuntu etcd[59209]: heartbeat = 100ms
Jun 03 13:28:39 ubuntu etcd[59209]: election = 1000ms
Jun 03 13:28:39 ubuntu etcd[59209]: snapshot count = 100000
Jun 03 13:28:39 ubuntu etcd[59209]: advertise client URLs = http://10.201.9.223:2379
Jun 03 13:28:39 ubuntu etcd[59209]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 03 13:28:39 ubuntu etcd[59209]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 03 13:28:39 ubuntu etcd[59209]: raft2025/06/03 13:28:39 INFO: c25b29daa831042c switched to configuration voters=()
Jun 03 13:28:39 ubuntu etcd[59209]: raft2025/06/03 13:28:39 INFO: c25b29daa831042c became follower at term 0
Jun 03 13:28:39 ubuntu etcd[59209]: raft2025/06/03 13:28:39 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 03 13:28:39 ubuntu etcd[59209]: raft2025/06/03 13:28:39 INFO: c25b29daa831042c became follower at term 1
Jun 03 13:28:39 ubuntu etcd[59209]: raft2025/06/03 13:28:39 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 03 13:28:39 ubuntu etcd[59209]: simple token is not cryptographically signed
Jun 03 13:28:39 ubuntu etcd[59209]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 03 13:28:39 ubuntu etcd[59209]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 03 13:28:39 ubuntu etcd[59209]: raft2025/06/03 13:28:39 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 03 13:28:39 ubuntu etcd[59209]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 03 13:28:39 ubuntu etcd[59209]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 03 13:28:39 ubuntu etcd[59209]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 03 13:28:39 ubuntu etcd[59209]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 03 13:28:39 ubuntu etcd[59209]: listening for peers on [::]:2380
Jun 03 13:28:40 ubuntu etcd[59209]: raft2025/06/03 13:28:40 INFO: c25b29daa831042c is starting a new election at term 1
Jun 03 13:28:40 ubuntu etcd[59209]: raft2025/06/03 13:28:40 INFO: c25b29daa831042c became candidate at term 2
Jun 03 13:28:40 ubuntu etcd[59209]: raft2025/06/03 13:28:40 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 03 13:28:40 ubuntu etcd[59209]: raft2025/06/03 13:28:40 INFO: c25b29daa831042c became leader at term 2
Jun 03 13:28:40 ubuntu etcd[59209]: raft2025/06/03 13:28:40 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 03 13:28:40 ubuntu etcd[59209]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 03 13:28:40 ubuntu etcd[59209]: ready to serve client requests
Jun 03 13:28:40 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 03 13:28:40 ubuntu etcd[59209]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 03 13:28:40 ubuntu etcd[59209]: setting up the initial cluster version to 3.4
Jun 03 13:28:40 ubuntu etcd[59209]: set the initial cluster version to 3.4
Jun 03 13:28:40 ubuntu etcd[59209]: enabled capabilities for version 3.4
Jun 03 13:32:49 ubuntu etcd[59209]: start time = 2025-06-03 13:32:49.64085617 +0000 UTC m=+250.288255714, time spent = 448.893µs, remote = 10.201.9.223:58372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 13:32:49 ubuntu etcd[59209]: start time = 2025-06-03 13:32:49.820383899 +0000 UTC m=+250.467783460, time spent = 293.702µs, remote = 10.201.9.223:58372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 13:32:56 ubuntu etcd[59209]: start time = 2025-06-03 13:32:56.239733673 +0000 UTC m=+256.887133218, time spent = 230.268µs, remote = 10.201.9.223:58372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 13:32:58 ubuntu etcd[59209]: start time = 2025-06-03 13:32:58.404504664 +0000 UTC m=+259.051904221, time spent = 203.818µs, remote = 10.201.9.223:58372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
