Jun 05 07:00:49 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 05 07:00:49 ubuntu etcd[59197]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 05 07:00:49 ubuntu etcd[59197]:         A future release of golang/protobuf will delete this package,
Jun 05 07:00:49 ubuntu etcd[59197]:         which has long been excluded from the compatibility promise.
Jun 05 07:00:49 ubuntu etcd[59197]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 05 07:00:49 ubuntu etcd[59197]: Running http and grpc server on single port. This is not recommended for production.
Jun 05 07:00:49 ubuntu etcd[59197]: etcd Version: 3.4.27
Jun 05 07:00:49 ubuntu etcd[59197]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 05 07:00:49 ubuntu etcd[59197]: Git SHA: c92fb80f3
Jun 05 07:00:49 ubuntu etcd[59197]: Go Version: go1.19.10
Jun 05 07:00:49 ubuntu etcd[59197]: Go OS/Arch: linux/amd64
Jun 05 07:00:49 ubuntu etcd[59197]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 05 07:00:49 ubuntu etcd[59197]: Running http and grpc server on single port. This is not recommended for production.
Jun 05 07:00:49 ubuntu etcd[59197]: name = ubuntu
Jun 05 07:00:49 ubuntu etcd[59197]: data dir = /opt/stack/data/etcd
Jun 05 07:00:49 ubuntu etcd[59197]: member dir = /opt/stack/data/etcd/member
Jun 05 07:00:49 ubuntu etcd[59197]: heartbeat = 100ms
Jun 05 07:00:49 ubuntu etcd[59197]: election = 1000ms
Jun 05 07:00:49 ubuntu etcd[59197]: snapshot count = 100000
Jun 05 07:00:49 ubuntu etcd[59197]: advertise client URLs = http://10.201.9.223:2379
Jun 05 07:00:49 ubuntu etcd[59197]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 05 07:00:49 ubuntu etcd[59197]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 05 07:00:49 ubuntu etcd[59197]: raft2025/06/05 07:00:49 INFO: c25b29daa831042c switched to configuration voters=()
Jun 05 07:00:49 ubuntu etcd[59197]: raft2025/06/05 07:00:49 INFO: c25b29daa831042c became follower at term 0
Jun 05 07:00:49 ubuntu etcd[59197]: raft2025/06/05 07:00:49 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 05 07:00:49 ubuntu etcd[59197]: raft2025/06/05 07:00:49 INFO: c25b29daa831042c became follower at term 1
Jun 05 07:00:49 ubuntu etcd[59197]: raft2025/06/05 07:00:49 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 05 07:00:49 ubuntu etcd[59197]: simple token is not cryptographically signed
Jun 05 07:00:49 ubuntu etcd[59197]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 05 07:00:49 ubuntu etcd[59197]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 05 07:00:49 ubuntu etcd[59197]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 05 07:00:49 ubuntu etcd[59197]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 05 07:00:49 ubuntu etcd[59197]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 05 07:00:49 ubuntu etcd[59197]: raft2025/06/05 07:00:49 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 05 07:00:49 ubuntu etcd[59197]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 05 07:00:49 ubuntu etcd[59197]: listening for peers on [::]:2380
Jun 05 07:00:50 ubuntu etcd[59197]: raft2025/06/05 07:00:50 INFO: c25b29daa831042c is starting a new election at term 1
Jun 05 07:00:50 ubuntu etcd[59197]: raft2025/06/05 07:00:50 INFO: c25b29daa831042c became candidate at term 2
Jun 05 07:00:50 ubuntu etcd[59197]: raft2025/06/05 07:00:50 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 05 07:00:50 ubuntu etcd[59197]: raft2025/06/05 07:00:50 INFO: c25b29daa831042c became leader at term 2
Jun 05 07:00:50 ubuntu etcd[59197]: raft2025/06/05 07:00:50 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 05 07:00:50 ubuntu etcd[59197]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 05 07:00:50 ubuntu etcd[59197]: setting up the initial cluster version to 3.4
Jun 05 07:00:50 ubuntu etcd[59197]: ready to serve client requests
Jun 05 07:00:50 ubuntu etcd[59197]: set the initial cluster version to 3.4
Jun 05 07:00:50 ubuntu etcd[59197]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 05 07:00:50 ubuntu etcd[59197]: enabled capabilities for version 3.4
Jun 05 07:00:50 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 05 07:04:56 ubuntu etcd[59197]: start time = 2025-06-05 07:04:56.552164235 +0000 UTC m=+246.735613571, time spent = 483.44µs, remote = 10.201.9.223:34694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 07:04:56 ubuntu etcd[59197]: start time = 2025-06-05 07:04:56.619908485 +0000 UTC m=+246.803357833, time spent = 177.842µs, remote = 10.201.9.223:34694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 07:05:03 ubuntu etcd[59197]: start time = 2025-06-05 07:05:03.240332586 +0000 UTC m=+253.423781934, time spent = 214.066µs, remote = 10.201.9.223:34694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 07:05:05 ubuntu etcd[59197]: start time = 2025-06-05 07:05:05.274009163 +0000 UTC m=+255.457458513, time spent = 280.741µs, remote = 10.201.9.223:34694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
