Apr 18 21:21:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 18 21:21:23 ubuntu etcd[60982]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 18 21:21:23 ubuntu etcd[60982]:         A future release of golang/protobuf will delete this package,
Apr 18 21:21:23 ubuntu etcd[60982]:         which has long been excluded from the compatibility promise.
Apr 18 21:21:23 ubuntu etcd[60982]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 18 21:21:23 ubuntu etcd[60982]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 18 21:21:23 ubuntu etcd[60982]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 18 21:21:23 ubuntu etcd[60982]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 18 21:21:23 ubuntu etcd[60982]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 18 21:21:23 ubuntu etcd[60982]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 18 21:21:23 ubuntu etcd[60982]: Running http and grpc server on single port. This is not recommended for production.
Apr 18 21:21:23 ubuntu etcd[60982]: etcd Version: 3.4.27
Apr 18 21:21:23 ubuntu etcd[60982]: Git SHA: c92fb80f3
Apr 18 21:21:23 ubuntu etcd[60982]: Go Version: go1.19.10
Apr 18 21:21:23 ubuntu etcd[60982]: Go OS/Arch: linux/amd64
Apr 18 21:21:23 ubuntu etcd[60982]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 18 21:21:23 ubuntu etcd[60982]: Running http and grpc server on single port. This is not recommended for production.
Apr 18 21:21:23 ubuntu etcd[60982]: name = ubuntu
Apr 18 21:21:23 ubuntu etcd[60982]: data dir = /opt/stack/data/etcd
Apr 18 21:21:23 ubuntu etcd[60982]: member dir = /opt/stack/data/etcd/member
Apr 18 21:21:23 ubuntu etcd[60982]: heartbeat = 100ms
Apr 18 21:21:23 ubuntu etcd[60982]: election = 1000ms
Apr 18 21:21:23 ubuntu etcd[60982]: snapshot count = 100000
Apr 18 21:21:23 ubuntu etcd[60982]: advertise client URLs = http://10.201.4.32:2379
Apr 18 21:21:23 ubuntu etcd[60982]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 18 21:21:23 ubuntu etcd[60982]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 18 21:21:23 ubuntu etcd[60982]: raft2024/04/18 21:21:23 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 18 21:21:23 ubuntu etcd[60982]: raft2024/04/18 21:21:23 INFO: 33238c1cdfea94eb became follower at term 0
Apr 18 21:21:23 ubuntu etcd[60982]: raft2024/04/18 21:21:23 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 18 21:21:23 ubuntu etcd[60982]: raft2024/04/18 21:21:23 INFO: 33238c1cdfea94eb became follower at term 1
Apr 18 21:21:23 ubuntu etcd[60982]: raft2024/04/18 21:21:23 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 18 21:21:23 ubuntu etcd[60982]: simple token is not cryptographically signed
Apr 18 21:21:23 ubuntu etcd[60982]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 18 21:21:23 ubuntu etcd[60982]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 18 21:21:23 ubuntu etcd[60982]: raft2024/04/18 21:21:23 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 18 21:21:23 ubuntu etcd[60982]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 18 21:21:23 ubuntu etcd[60982]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 18 21:21:23 ubuntu etcd[60982]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 18 21:21:23 ubuntu etcd[60982]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 18 21:21:23 ubuntu etcd[60982]: listening for peers on [::]:2380
Apr 18 21:21:24 ubuntu etcd[60982]: raft2024/04/18 21:21:24 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 18 21:21:24 ubuntu etcd[60982]: raft2024/04/18 21:21:24 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 18 21:21:24 ubuntu etcd[60982]: raft2024/04/18 21:21:24 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 18 21:21:24 ubuntu etcd[60982]: raft2024/04/18 21:21:24 INFO: 33238c1cdfea94eb became leader at term 2
Apr 18 21:21:24 ubuntu etcd[60982]: raft2024/04/18 21:21:24 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 18 21:21:24 ubuntu etcd[60982]: INFO: 2024/04/18 21:21:24 parsed scheme: ""
Apr 18 21:21:24 ubuntu etcd[60982]: INFO: 2024/04/18 21:21:24 scheme "" not registered, fallback to default scheme
Apr 18 21:21:24 ubuntu etcd[60982]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 18 21:21:24 ubuntu etcd[60982]: INFO: 2024/04/18 21:21:24 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 18 21:21:24 ubuntu etcd[60982]: INFO: 2024/04/18 21:21:24 ClientConn switching balancer to "pick_first"
Apr 18 21:21:24 ubuntu etcd[60982]: ready to serve client requests
Apr 18 21:21:24 ubuntu etcd[60982]: setting up the initial cluster version to 3.4
Apr 18 21:21:24 ubuntu etcd[60982]: set the initial cluster version to 3.4
Apr 18 21:21:24 ubuntu etcd[60982]: enabled capabilities for version 3.4
Apr 18 21:21:24 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 18 21:21:24 ubuntu etcd[60982]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 18 21:25:44 ubuntu etcd[60982]: start time = 2024-04-18 21:25:44.700434396 +0000 UTC m=+260.786463984, time spent = 537.476µs, remote = 10.201.4.32:49286, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 18 21:25:44 ubuntu etcd[60982]: start time = 2024-04-18 21:25:44.748676174 +0000 UTC m=+260.834705762, time spent = 155.702µs, remote = 10.201.4.32:49286, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 18 21:25:51 ubuntu etcd[60982]: start time = 2024-04-18 21:25:51.576672391 +0000 UTC m=+267.662701979, time spent = 256.284µs, remote = 10.201.4.32:49286, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 18 21:25:53 ubuntu etcd[60982]: start time = 2024-04-18 21:25:53.704877876 +0000 UTC m=+269.790907474, time spent = 421.318µs, remote = 10.201.4.32:49286, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
