Feb 09 14:55:49 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 09 14:55:49 ubuntu etcd[60154]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 09 14:55:49 ubuntu etcd[60154]:         A future release of golang/protobuf will delete this package,
Feb 09 14:55:49 ubuntu etcd[60154]:         which has long been excluded from the compatibility promise.
Feb 09 14:55:49 ubuntu etcd[60154]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 09 14:55:49 ubuntu etcd[60154]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 09 14:55:49 ubuntu etcd[60154]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 09 14:55:49 ubuntu etcd[60154]: Running http and grpc server on single port. This is not recommended for production.
Feb 09 14:55:49 ubuntu etcd[60154]: etcd Version: 3.4.27
Feb 09 14:55:49 ubuntu etcd[60154]: Git SHA: c92fb80f3
Feb 09 14:55:49 ubuntu etcd[60154]: Go Version: go1.19.10
Feb 09 14:55:49 ubuntu etcd[60154]: Go OS/Arch: linux/amd64
Feb 09 14:55:49 ubuntu etcd[60154]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 09 14:55:49 ubuntu etcd[60154]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 09 14:55:49 ubuntu etcd[60154]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 09 14:55:49 ubuntu etcd[60154]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 09 14:55:49 ubuntu etcd[60154]: Running http and grpc server on single port. This is not recommended for production.
Feb 09 14:55:49 ubuntu etcd[60154]: name = ubuntu
Feb 09 14:55:49 ubuntu etcd[60154]: data dir = /opt/stack/data/etcd
Feb 09 14:55:49 ubuntu etcd[60154]: member dir = /opt/stack/data/etcd/member
Feb 09 14:55:49 ubuntu etcd[60154]: heartbeat = 100ms
Feb 09 14:55:49 ubuntu etcd[60154]: election = 1000ms
Feb 09 14:55:49 ubuntu etcd[60154]: snapshot count = 100000
Feb 09 14:55:49 ubuntu etcd[60154]: advertise client URLs = http://10.201.4.32:2379
Feb 09 14:55:49 ubuntu etcd[60154]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 09 14:55:49 ubuntu etcd[60154]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 09 14:55:49 ubuntu etcd[60154]: raft2024/02/09 14:55:49 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 09 14:55:49 ubuntu etcd[60154]: raft2024/02/09 14:55:49 INFO: 33238c1cdfea94eb became follower at term 0
Feb 09 14:55:49 ubuntu etcd[60154]: raft2024/02/09 14:55:49 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 09 14:55:49 ubuntu etcd[60154]: raft2024/02/09 14:55:49 INFO: 33238c1cdfea94eb became follower at term 1
Feb 09 14:55:49 ubuntu etcd[60154]: raft2024/02/09 14:55:49 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 09 14:55:49 ubuntu etcd[60154]: simple token is not cryptographically signed
Feb 09 14:55:49 ubuntu etcd[60154]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 09 14:55:49 ubuntu etcd[60154]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 09 14:55:49 ubuntu etcd[60154]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 09 14:55:49 ubuntu etcd[60154]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 09 14:55:49 ubuntu etcd[60154]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 09 14:55:49 ubuntu etcd[60154]: raft2024/02/09 14:55:49 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 09 14:55:49 ubuntu etcd[60154]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 09 14:55:49 ubuntu etcd[60154]: listening for peers on [::]:2380
Feb 09 14:55:49 ubuntu etcd[60154]: raft2024/02/09 14:55:49 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 09 14:55:49 ubuntu etcd[60154]: raft2024/02/09 14:55:49 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 09 14:55:49 ubuntu etcd[60154]: raft2024/02/09 14:55:49 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 09 14:55:49 ubuntu etcd[60154]: raft2024/02/09 14:55:49 INFO: 33238c1cdfea94eb became leader at term 2
Feb 09 14:55:49 ubuntu etcd[60154]: raft2024/02/09 14:55:49 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 09 14:55:49 ubuntu etcd[60154]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 09 14:55:49 ubuntu etcd[60154]: ready to serve client requests
Feb 09 14:55:49 ubuntu etcd[60154]: INFO: 2024/02/09 14:55:49 parsed scheme: ""
Feb 09 14:55:49 ubuntu etcd[60154]: INFO: 2024/02/09 14:55:49 scheme "" not registered, fallback to default scheme
Feb 09 14:55:49 ubuntu etcd[60154]: INFO: 2024/02/09 14:55:49 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 09 14:55:49 ubuntu etcd[60154]: INFO: 2024/02/09 14:55:49 ClientConn switching balancer to "pick_first"
Feb 09 14:55:49 ubuntu etcd[60154]: setting up the initial cluster version to 3.4
Feb 09 14:55:49 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 09 14:55:49 ubuntu etcd[60154]: set the initial cluster version to 3.4
Feb 09 14:55:49 ubuntu etcd[60154]: enabled capabilities for version 3.4
Feb 09 14:55:49 ubuntu etcd[60154]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 09 15:00:06 ubuntu etcd[60154]: start time = 2024-02-09 15:00:06.231276371 +0000 UTC m=+256.784348166, time spent = 483.32µs, remote = 10.201.4.32:58036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 09 15:00:06 ubuntu etcd[60154]: start time = 2024-02-09 15:00:06.245071585 +0000 UTC m=+256.798143389, time spent = 200.334µs, remote = 10.201.4.32:58036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 09 15:00:13 ubuntu etcd[60154]: start time = 2024-02-09 15:00:13.046945915 +0000 UTC m=+263.600017720, time spent = 274.452µs, remote = 10.201.4.32:58036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 09 15:00:15 ubuntu etcd[60154]: start time = 2024-02-09 15:00:15.263148743 +0000 UTC m=+265.816220559, time spent = 249.003µs, remote = 10.201.4.32:58036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
