Jun 11 08:53:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 11 08:53:58 ubuntu etcd[58181]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 11 08:53:58 ubuntu etcd[58181]:         A future release of golang/protobuf will delete this package,
Jun 11 08:53:58 ubuntu etcd[58181]:         which has long been excluded from the compatibility promise.
Jun 11 08:53:58 ubuntu etcd[58181]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 11 08:53:58 ubuntu etcd[58181]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 11 08:53:58 ubuntu etcd[58181]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 08:53:58 ubuntu etcd[58181]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 11 08:53:58 ubuntu etcd[58181]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 11 08:53:58 ubuntu etcd[58181]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 08:53:58 ubuntu etcd[58181]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 08:53:58 ubuntu etcd[58181]: etcd Version: 3.4.27
Jun 11 08:53:58 ubuntu etcd[58181]: Git SHA: c92fb80f3
Jun 11 08:53:58 ubuntu etcd[58181]: Go Version: go1.19.10
Jun 11 08:53:58 ubuntu etcd[58181]: Go OS/Arch: linux/amd64
Jun 11 08:53:58 ubuntu etcd[58181]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 11 08:53:58 ubuntu etcd[58181]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 08:53:58 ubuntu etcd[58181]: name = ubuntu
Jun 11 08:53:58 ubuntu etcd[58181]: data dir = /opt/stack/data/etcd
Jun 11 08:53:58 ubuntu etcd[58181]: member dir = /opt/stack/data/etcd/member
Jun 11 08:53:58 ubuntu etcd[58181]: heartbeat = 100ms
Jun 11 08:53:58 ubuntu etcd[58181]: election = 1000ms
Jun 11 08:53:58 ubuntu etcd[58181]: snapshot count = 100000
Jun 11 08:53:58 ubuntu etcd[58181]: advertise client URLs = http://10.201.4.32:2379
Jun 11 08:53:58 ubuntu etcd[58181]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 11 08:53:58 ubuntu etcd[58181]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jun 11 08:53:58 ubuntu etcd[58181]: raft2024/06/11 08:53:58 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jun 11 08:53:58 ubuntu etcd[58181]: raft2024/06/11 08:53:58 INFO: 33238c1cdfea94eb became follower at term 0
Jun 11 08:53:58 ubuntu etcd[58181]: raft2024/06/11 08:53:58 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 11 08:53:58 ubuntu etcd[58181]: raft2024/06/11 08:53:58 INFO: 33238c1cdfea94eb became follower at term 1
Jun 11 08:53:58 ubuntu etcd[58181]: raft2024/06/11 08:53:58 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 11 08:53:58 ubuntu etcd[58181]: simple token is not cryptographically signed
Jun 11 08:53:58 ubuntu etcd[58181]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 11 08:53:58 ubuntu etcd[58181]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 11 08:53:58 ubuntu etcd[58181]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 11 08:53:58 ubuntu etcd[58181]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 11 08:53:58 ubuntu etcd[58181]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 11 08:53:58 ubuntu etcd[58181]: raft2024/06/11 08:53:58 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 11 08:53:58 ubuntu etcd[58181]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jun 11 08:53:58 ubuntu etcd[58181]: listening for peers on [::]:2380
Jun 11 08:53:59 ubuntu etcd[58181]: raft2024/06/11 08:53:59 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jun 11 08:53:59 ubuntu etcd[58181]: raft2024/06/11 08:53:59 INFO: 33238c1cdfea94eb became candidate at term 2
Jun 11 08:53:59 ubuntu etcd[58181]: raft2024/06/11 08:53:59 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jun 11 08:53:59 ubuntu etcd[58181]: raft2024/06/11 08:53:59 INFO: 33238c1cdfea94eb became leader at term 2
Jun 11 08:53:59 ubuntu etcd[58181]: raft2024/06/11 08:53:59 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jun 11 08:53:59 ubuntu etcd[58181]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jun 11 08:53:59 ubuntu etcd[58181]: INFO: 2024/06/11 08:53:59 parsed scheme: ""
Jun 11 08:53:59 ubuntu etcd[58181]: INFO: 2024/06/11 08:53:59 scheme "" not registered, fallback to default scheme
Jun 11 08:53:59 ubuntu etcd[58181]: INFO: 2024/06/11 08:53:59 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 11 08:53:59 ubuntu etcd[58181]: INFO: 2024/06/11 08:53:59 ClientConn switching balancer to "pick_first"
Jun 11 08:53:59 ubuntu etcd[58181]: ready to serve client requests
Jun 11 08:53:59 ubuntu etcd[58181]: setting up the initial cluster version to 3.4
Jun 11 08:53:59 ubuntu etcd[58181]: set the initial cluster version to 3.4
Jun 11 08:53:59 ubuntu etcd[58181]: enabled capabilities for version 3.4
Jun 11 08:53:59 ubuntu etcd[58181]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jun 11 08:53:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 11 08:58:14 ubuntu etcd[58181]: start time = 2024-06-11 08:58:14.736187759 +0000 UTC m=+255.905241382, time spent = 435.885µs, remote = 10.201.4.32:44498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 08:58:14 ubuntu etcd[58181]: start time = 2024-06-11 08:58:14.735968606 +0000 UTC m=+255.905022219, time spent = 817.064µs, remote = 10.201.4.32:44498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 08:58:21 ubuntu etcd[58181]: start time = 2024-06-11 08:58:21.356848711 +0000 UTC m=+262.525902334, time spent = 177.472µs, remote = 10.201.4.32:44498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 08:58:23 ubuntu etcd[58181]: start time = 2024-06-11 08:58:23.380282358 +0000 UTC m=+264.549335970, time spent = 467.68µs, remote = 10.201.4.32:44498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 08:53:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 11 08:53:58 ubuntu etcd[58181]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 11 08:53:58 ubuntu etcd[58181]:         A future release of golang/protobuf will delete this package,
Jun 11 08:53:58 ubuntu etcd[58181]:         which has long been excluded from the compatibility promise.
Jun 11 08:53:58 ubuntu etcd[58181]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 11 08:53:58 ubuntu etcd[58181]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 11 08:53:58 ubuntu etcd[58181]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 08:53:58 ubuntu etcd[58181]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 11 08:53:58 ubuntu etcd[58181]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 11 08:53:58 ubuntu etcd[58181]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 08:53:58 ubuntu etcd[58181]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 08:53:58 ubuntu etcd[58181]: etcd Version: 3.4.27
Jun 11 08:53:58 ubuntu etcd[58181]: Git SHA: c92fb80f3
Jun 11 08:53:58 ubuntu etcd[58181]: Go Version: go1.19.10
Jun 11 08:53:58 ubuntu etcd[58181]: Go OS/Arch: linux/amd64
Jun 11 08:53:58 ubuntu etcd[58181]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 11 08:53:58 ubuntu etcd[58181]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 08:53:58 ubuntu etcd[58181]: name = ubuntu
Jun 11 08:53:58 ubuntu etcd[58181]: data dir = /opt/stack/data/etcd
Jun 11 08:53:58 ubuntu etcd[58181]: member dir = /opt/stack/data/etcd/member
Jun 11 08:53:58 ubuntu etcd[58181]: heartbeat = 100ms
Jun 11 08:53:58 ubuntu etcd[58181]: election = 1000ms
Jun 11 08:53:58 ubuntu etcd[58181]: snapshot count = 100000
Jun 11 08:53:58 ubuntu etcd[58181]: advertise client URLs = http://10.201.4.32:2379
Jun 11 08:53:58 ubuntu etcd[58181]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 11 08:53:58 ubuntu etcd[58181]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jun 11 08:53:58 ubuntu etcd[58181]: raft2024/06/11 08:53:58 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jun 11 08:53:58 ubuntu etcd[58181]: raft2024/06/11 08:53:58 INFO: 33238c1cdfea94eb became follower at term 0
Jun 11 08:53:58 ubuntu etcd[58181]: raft2024/06/11 08:53:58 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 11 08:53:58 ubuntu etcd[58181]: raft2024/06/11 08:53:58 INFO: 33238c1cdfea94eb became follower at term 1
Jun 11 08:53:58 ubuntu etcd[58181]: raft2024/06/11 08:53:58 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 11 08:53:58 ubuntu etcd[58181]: simple token is not cryptographically signed
Jun 11 08:53:58 ubuntu etcd[58181]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 11 08:53:58 ubuntu etcd[58181]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 11 08:53:58 ubuntu etcd[58181]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 11 08:53:58 ubuntu etcd[58181]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 11 08:53:58 ubuntu etcd[58181]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 11 08:53:58 ubuntu etcd[58181]: raft2024/06/11 08:53:58 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 11 08:53:58 ubuntu etcd[58181]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jun 11 08:53:58 ubuntu etcd[58181]: listening for peers on [::]:2380
Jun 11 08:53:59 ubuntu etcd[58181]: raft2024/06/11 08:53:59 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jun 11 08:53:59 ubuntu etcd[58181]: raft2024/06/11 08:53:59 INFO: 33238c1cdfea94eb became candidate at term 2
Jun 11 08:53:59 ubuntu etcd[58181]: raft2024/06/11 08:53:59 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jun 11 08:53:59 ubuntu etcd[58181]: raft2024/06/11 08:53:59 INFO: 33238c1cdfea94eb became leader at term 2
Jun 11 08:53:59 ubuntu etcd[58181]: raft2024/06/11 08:53:59 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jun 11 08:53:59 ubuntu etcd[58181]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jun 11 08:53:59 ubuntu etcd[58181]: INFO: 2024/06/11 08:53:59 parsed scheme: ""
Jun 11 08:53:59 ubuntu etcd[58181]: INFO: 2024/06/11 08:53:59 scheme "" not registered, fallback to default scheme
Jun 11 08:53:59 ubuntu etcd[58181]: INFO: 2024/06/11 08:53:59 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 11 08:53:59 ubuntu etcd[58181]: INFO: 2024/06/11 08:53:59 ClientConn switching balancer to "pick_first"
Jun 11 08:53:59 ubuntu etcd[58181]: ready to serve client requests
Jun 11 08:53:59 ubuntu etcd[58181]: setting up the initial cluster version to 3.4
Jun 11 08:53:59 ubuntu etcd[58181]: set the initial cluster version to 3.4
Jun 11 08:53:59 ubuntu etcd[58181]: enabled capabilities for version 3.4
Jun 11 08:53:59 ubuntu etcd[58181]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jun 11 08:53:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 11 08:58:14 ubuntu etcd[58181]: start time = 2024-06-11 08:58:14.736187759 +0000 UTC m=+255.905241382, time spent = 435.885µs, remote = 10.201.4.32:44498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 08:58:14 ubuntu etcd[58181]: start time = 2024-06-11 08:58:14.735968606 +0000 UTC m=+255.905022219, time spent = 817.064µs, remote = 10.201.4.32:44498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 08:58:21 ubuntu etcd[58181]: start time = 2024-06-11 08:58:21.356848711 +0000 UTC m=+262.525902334, time spent = 177.472µs, remote = 10.201.4.32:44498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 08:58:23 ubuntu etcd[58181]: start time = 2024-06-11 08:58:23.380282358 +0000 UTC m=+264.549335970, time spent = 467.68µs, remote = 10.201.4.32:44498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
