Jun 12 08:35:38 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 12 08:35:38 ubuntu etcd[58168]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 12 08:35:38 ubuntu etcd[58168]:         A future release of golang/protobuf will delete this package,
Jun 12 08:35:38 ubuntu etcd[58168]:         which has long been excluded from the compatibility promise.
Jun 12 08:35:38 ubuntu etcd[58168]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 12 08:35:38 ubuntu etcd[58168]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 12 08:35:38 ubuntu etcd[58168]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 12 08:35:38 ubuntu etcd[58168]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 12 08:35:38 ubuntu etcd[58168]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 12 08:35:38 ubuntu etcd[58168]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 12 08:35:38 ubuntu etcd[58168]: Running http and grpc server on single port. This is not recommended for production.
Jun 12 08:35:38 ubuntu etcd[58168]: etcd Version: 3.4.27
Jun 12 08:35:38 ubuntu etcd[58168]: Git SHA: c92fb80f3
Jun 12 08:35:38 ubuntu etcd[58168]: Go Version: go1.19.10
Jun 12 08:35:38 ubuntu etcd[58168]: Go OS/Arch: linux/amd64
Jun 12 08:35:38 ubuntu etcd[58168]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 12 08:35:38 ubuntu etcd[58168]: Running http and grpc server on single port. This is not recommended for production.
Jun 12 08:35:38 ubuntu etcd[58168]: name = ubuntu
Jun 12 08:35:38 ubuntu etcd[58168]: data dir = /opt/stack/data/etcd
Jun 12 08:35:38 ubuntu etcd[58168]: member dir = /opt/stack/data/etcd/member
Jun 12 08:35:38 ubuntu etcd[58168]: heartbeat = 100ms
Jun 12 08:35:38 ubuntu etcd[58168]: election = 1000ms
Jun 12 08:35:38 ubuntu etcd[58168]: snapshot count = 100000
Jun 12 08:35:38 ubuntu etcd[58168]: advertise client URLs = http://10.201.4.32:2379
Jun 12 08:35:38 ubuntu etcd[58168]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 12 08:35:38 ubuntu etcd[58168]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jun 12 08:35:38 ubuntu etcd[58168]: raft2024/06/12 08:35:38 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jun 12 08:35:38 ubuntu etcd[58168]: raft2024/06/12 08:35:38 INFO: 33238c1cdfea94eb became follower at term 0
Jun 12 08:35:38 ubuntu etcd[58168]: raft2024/06/12 08:35:38 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 12 08:35:38 ubuntu etcd[58168]: raft2024/06/12 08:35:38 INFO: 33238c1cdfea94eb became follower at term 1
Jun 12 08:35:38 ubuntu etcd[58168]: raft2024/06/12 08:35:38 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 12 08:35:38 ubuntu etcd[58168]: simple token is not cryptographically signed
Jun 12 08:35:38 ubuntu etcd[58168]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 12 08:35:38 ubuntu etcd[58168]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 12 08:35:38 ubuntu etcd[58168]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 12 08:35:38 ubuntu etcd[58168]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 12 08:35:38 ubuntu etcd[58168]: raft2024/06/12 08:35:38 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 12 08:35:38 ubuntu etcd[58168]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jun 12 08:35:38 ubuntu etcd[58168]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 12 08:35:38 ubuntu etcd[58168]: listening for peers on [::]:2380
Jun 12 08:35:39 ubuntu etcd[58168]: raft2024/06/12 08:35:39 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jun 12 08:35:39 ubuntu etcd[58168]: raft2024/06/12 08:35:39 INFO: 33238c1cdfea94eb became candidate at term 2
Jun 12 08:35:39 ubuntu etcd[58168]: raft2024/06/12 08:35:39 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jun 12 08:35:39 ubuntu etcd[58168]: raft2024/06/12 08:35:39 INFO: 33238c1cdfea94eb became leader at term 2
Jun 12 08:35:39 ubuntu etcd[58168]: raft2024/06/12 08:35:39 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jun 12 08:35:39 ubuntu etcd[58168]: INFO: 2024/06/12 08:35:39 parsed scheme: ""
Jun 12 08:35:39 ubuntu etcd[58168]: INFO: 2024/06/12 08:35:39 scheme "" not registered, fallback to default scheme
Jun 12 08:35:39 ubuntu etcd[58168]: INFO: 2024/06/12 08:35:39 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 12 08:35:39 ubuntu etcd[58168]: INFO: 2024/06/12 08:35:39 ClientConn switching balancer to "pick_first"
Jun 12 08:35:39 ubuntu etcd[58168]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jun 12 08:35:39 ubuntu etcd[58168]: setting up the initial cluster version to 3.4
Jun 12 08:35:39 ubuntu etcd[58168]: ready to serve client requests
Jun 12 08:35:39 ubuntu etcd[58168]: set the initial cluster version to 3.4
Jun 12 08:35:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 12 08:35:39 ubuntu etcd[58168]: enabled capabilities for version 3.4
Jun 12 08:35:39 ubuntu etcd[58168]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jun 12 08:39:51 ubuntu etcd[58168]: start time = 2024-06-12 08:39:51.483383482 +0000 UTC m=+252.984754084, time spent = 510.785µs, remote = 10.201.4.32:42832, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 08:39:51 ubuntu etcd[58168]: start time = 2024-06-12 08:39:51.501975443 +0000 UTC m=+253.003346054, time spent = 160.385µs, remote = 10.201.4.32:42832, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 08:39:57 ubuntu etcd[58168]: start time = 2024-06-12 08:39:57.891935334 +0000 UTC m=+259.393305934, time spent = 169µs, remote = 10.201.4.32:42832, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 08:39:59 ubuntu etcd[58168]: start time = 2024-06-12 08:39:59.931612668 +0000 UTC m=+261.432983280, time spent = 272.52µs, remote = 10.201.4.32:42832, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
