Oct 04 11:41:36 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 04 11:41:37 ubuntu etcd[60109]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 04 11:41:37 ubuntu etcd[60109]:         A future release of golang/protobuf will delete this package,
Oct 04 11:41:37 ubuntu etcd[60109]:         which has long been excluded from the compatibility promise.
Oct 04 11:41:37 ubuntu etcd[60109]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 04 11:41:37 ubuntu etcd[60109]: Running http and grpc server on single port. This is not recommended for production.
Oct 04 11:41:37 ubuntu etcd[60109]: etcd Version: 3.4.27
Oct 04 11:41:37 ubuntu etcd[60109]: Git SHA: c92fb80f3
Oct 04 11:41:37 ubuntu etcd[60109]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 04 11:41:37 ubuntu etcd[60109]: Go Version: go1.19.10
Oct 04 11:41:37 ubuntu etcd[60109]: Go OS/Arch: linux/amd64
Oct 04 11:41:37 ubuntu etcd[60109]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 04 11:41:37 ubuntu etcd[60109]: Running http and grpc server on single port. This is not recommended for production.
Oct 04 11:41:37 ubuntu etcd[60109]: name = ubuntu
Oct 04 11:41:37 ubuntu etcd[60109]: data dir = /opt/stack/data/etcd
Oct 04 11:41:37 ubuntu etcd[60109]: member dir = /opt/stack/data/etcd/member
Oct 04 11:41:37 ubuntu etcd[60109]: heartbeat = 100ms
Oct 04 11:41:37 ubuntu etcd[60109]: election = 1000ms
Oct 04 11:41:37 ubuntu etcd[60109]: snapshot count = 100000
Oct 04 11:41:37 ubuntu etcd[60109]: advertise client URLs = http://10.201.4.32:2379
Oct 04 11:41:37 ubuntu etcd[60109]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 04 11:41:37 ubuntu etcd[60109]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 04 11:41:37 ubuntu etcd[60109]: raft2024/10/04 11:41:37 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 04 11:41:37 ubuntu etcd[60109]: raft2024/10/04 11:41:37 INFO: 33238c1cdfea94eb became follower at term 0
Oct 04 11:41:37 ubuntu etcd[60109]: raft2024/10/04 11:41:37 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 04 11:41:37 ubuntu etcd[60109]: raft2024/10/04 11:41:37 INFO: 33238c1cdfea94eb became follower at term 1
Oct 04 11:41:37 ubuntu etcd[60109]: raft2024/10/04 11:41:37 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 04 11:41:37 ubuntu etcd[60109]: simple token is not cryptographically signed
Oct 04 11:41:37 ubuntu etcd[60109]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 04 11:41:37 ubuntu etcd[60109]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 04 11:41:37 ubuntu etcd[60109]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 04 11:41:37 ubuntu etcd[60109]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 04 11:41:37 ubuntu etcd[60109]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 04 11:41:37 ubuntu etcd[60109]: raft2024/10/04 11:41:37 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 04 11:41:37 ubuntu etcd[60109]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 04 11:41:37 ubuntu etcd[60109]: listening for peers on [::]:2380
Oct 04 11:41:37 ubuntu etcd[60109]: raft2024/10/04 11:41:37 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 04 11:41:37 ubuntu etcd[60109]: raft2024/10/04 11:41:37 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 04 11:41:37 ubuntu etcd[60109]: raft2024/10/04 11:41:37 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 04 11:41:37 ubuntu etcd[60109]: raft2024/10/04 11:41:37 INFO: 33238c1cdfea94eb became leader at term 2
Oct 04 11:41:37 ubuntu etcd[60109]: raft2024/10/04 11:41:37 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 04 11:41:37 ubuntu etcd[60109]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 04 11:41:37 ubuntu etcd[60109]: setting up the initial cluster version to 3.4
Oct 04 11:41:37 ubuntu etcd[60109]: ready to serve client requests
Oct 04 11:41:37 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 04 11:41:37 ubuntu etcd[60109]: set the initial cluster version to 3.4
Oct 04 11:41:37 ubuntu etcd[60109]: enabled capabilities for version 3.4
Oct 04 11:41:37 ubuntu etcd[60109]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 04 11:46:07 ubuntu etcd[60109]: start time = 2024-10-04 11:46:07.716887118 +0000 UTC m=+270.721322404, time spent = 604.03µs, remote = 10.201.4.32:34666, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 04 11:46:07 ubuntu etcd[60109]: start time = 2024-10-04 11:46:07.727442862 +0000 UTC m=+270.731878162, time spent = 330.547µs, remote = 10.201.4.32:34666, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 04 11:46:14 ubuntu etcd[60109]: start time = 2024-10-04 11:46:14.226510102 +0000 UTC m=+277.230945402, time spent = 196.906µs, remote = 10.201.4.32:34666, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 04 11:46:16 ubuntu etcd[60109]: start time = 2024-10-04 11:46:16.382688191 +0000 UTC m=+279.387123487, time spent = 434µs, remote = 10.201.4.32:34666, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
