Mar 21 08:15:41 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 21 08:15:41 ubuntu etcd[71000]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 21 08:15:41 ubuntu etcd[71000]:         A future release of golang/protobuf will delete this package,
Mar 21 08:15:41 ubuntu etcd[71000]:         which has long been excluded from the compatibility promise.
Mar 21 08:15:41 ubuntu etcd[71000]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 21 08:15:41 ubuntu etcd[71000]: Running http and grpc server on single port. This is not recommended for production.
Mar 21 08:15:41 ubuntu etcd[71000]: etcd Version: 3.4.27
Mar 21 08:15:41 ubuntu etcd[71000]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 21 08:15:41 ubuntu etcd[71000]: Git SHA: c92fb80f3
Mar 21 08:15:41 ubuntu etcd[71000]: Go Version: go1.19.10
Mar 21 08:15:41 ubuntu etcd[71000]: Go OS/Arch: linux/amd64
Mar 21 08:15:41 ubuntu etcd[71000]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 21 08:15:41 ubuntu etcd[71000]: Running http and grpc server on single port. This is not recommended for production.
Mar 21 08:15:41 ubuntu etcd[71000]: name = ubuntu
Mar 21 08:15:41 ubuntu etcd[71000]: data dir = /opt/stack/data/etcd
Mar 21 08:15:41 ubuntu etcd[71000]: member dir = /opt/stack/data/etcd/member
Mar 21 08:15:41 ubuntu etcd[71000]: heartbeat = 100ms
Mar 21 08:15:41 ubuntu etcd[71000]: election = 1000ms
Mar 21 08:15:41 ubuntu etcd[71000]: snapshot count = 100000
Mar 21 08:15:41 ubuntu etcd[71000]: advertise client URLs = http://10.201.9.223:2379
Mar 21 08:15:41 ubuntu etcd[71000]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 21 08:15:41 ubuntu etcd[71000]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 21 08:15:41 ubuntu etcd[71000]: raft2025/03/21 08:15:41 INFO: c25b29daa831042c switched to configuration voters=()
Mar 21 08:15:41 ubuntu etcd[71000]: raft2025/03/21 08:15:41 INFO: c25b29daa831042c became follower at term 0
Mar 21 08:15:41 ubuntu etcd[71000]: raft2025/03/21 08:15:41 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 21 08:15:41 ubuntu etcd[71000]: raft2025/03/21 08:15:41 INFO: c25b29daa831042c became follower at term 1
Mar 21 08:15:41 ubuntu etcd[71000]: raft2025/03/21 08:15:41 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 21 08:15:41 ubuntu etcd[71000]: simple token is not cryptographically signed
Mar 21 08:15:41 ubuntu etcd[71000]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 21 08:15:41 ubuntu etcd[71000]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 21 08:15:41 ubuntu etcd[71000]: raft2025/03/21 08:15:41 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 21 08:15:41 ubuntu etcd[71000]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 21 08:15:41 ubuntu etcd[71000]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 21 08:15:41 ubuntu etcd[71000]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 21 08:15:41 ubuntu etcd[71000]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 21 08:15:41 ubuntu etcd[71000]: listening for peers on [::]:2380
Mar 21 08:15:41 ubuntu etcd[71000]: raft2025/03/21 08:15:41 INFO: c25b29daa831042c is starting a new election at term 1
Mar 21 08:15:41 ubuntu etcd[71000]: raft2025/03/21 08:15:41 INFO: c25b29daa831042c became candidate at term 2
Mar 21 08:15:41 ubuntu etcd[71000]: raft2025/03/21 08:15:41 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 21 08:15:41 ubuntu etcd[71000]: raft2025/03/21 08:15:41 INFO: c25b29daa831042c became leader at term 2
Mar 21 08:15:41 ubuntu etcd[71000]: raft2025/03/21 08:15:41 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 21 08:15:41 ubuntu etcd[71000]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 21 08:15:41 ubuntu etcd[71000]: ready to serve client requests
Mar 21 08:15:41 ubuntu etcd[71000]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 21 08:15:41 ubuntu etcd[71000]: setting up the initial cluster version to 3.4
Mar 21 08:15:41 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 21 08:15:41 ubuntu etcd[71000]: set the initial cluster version to 3.4
Mar 21 08:15:41 ubuntu etcd[71000]: enabled capabilities for version 3.4
Mar 21 08:19:49 ubuntu etcd[71000]: start time = 2025-03-21 08:19:49.625810643 +0000 UTC m=+248.582517423, time spent = 390.555µs, remote = 10.201.9.223:58288, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 08:19:49 ubuntu etcd[71000]: start time = 2025-03-21 08:19:49.668886551 +0000 UTC m=+248.625593344, time spent = 147.516µs, remote = 10.201.9.223:58288, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 08:19:56 ubuntu etcd[71000]: start time = 2025-03-21 08:19:56.061338439 +0000 UTC m=+255.018045235, time spent = 170.107µs, remote = 10.201.9.223:58288, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 08:19:58 ubuntu etcd[71000]: start time = 2025-03-21 08:19:58.447549787 +0000 UTC m=+257.404256579, time spent = 324.731µs, remote = 10.201.9.223:58288, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
