Aug 12 15:58:07 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 12 15:58:07 ubuntu etcd[59287]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 12 15:58:07 ubuntu etcd[59287]:         A future release of golang/protobuf will delete this package,
Aug 12 15:58:07 ubuntu etcd[59287]:         which has long been excluded from the compatibility promise.
Aug 12 15:58:07 ubuntu etcd[59287]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 15:58:07 ubuntu etcd[59287]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 15:58:07 ubuntu etcd[59287]: etcd Version: 3.4.27
Aug 12 15:58:07 ubuntu etcd[59287]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 15:58:07 ubuntu etcd[59287]: Git SHA: c92fb80f3
Aug 12 15:58:07 ubuntu etcd[59287]: Go Version: go1.19.10
Aug 12 15:58:07 ubuntu etcd[59287]: Go OS/Arch: linux/amd64
Aug 12 15:58:07 ubuntu etcd[59287]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 12 15:58:07 ubuntu etcd[59287]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 15:58:07 ubuntu etcd[59287]: name = ubuntu
Aug 12 15:58:07 ubuntu etcd[59287]: data dir = /opt/stack/data/etcd
Aug 12 15:58:07 ubuntu etcd[59287]: member dir = /opt/stack/data/etcd/member
Aug 12 15:58:07 ubuntu etcd[59287]: heartbeat = 100ms
Aug 12 15:58:07 ubuntu etcd[59287]: election = 1000ms
Aug 12 15:58:07 ubuntu etcd[59287]: snapshot count = 100000
Aug 12 15:58:07 ubuntu etcd[59287]: advertise client URLs = http://10.201.9.223:2379
Aug 12 15:58:07 ubuntu etcd[59287]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 12 15:58:07 ubuntu etcd[59287]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Aug 12 15:58:07 ubuntu etcd[59287]: raft2025/08/12 15:58:07 INFO: c25b29daa831042c switched to configuration voters=()
Aug 12 15:58:07 ubuntu etcd[59287]: raft2025/08/12 15:58:07 INFO: c25b29daa831042c became follower at term 0
Aug 12 15:58:07 ubuntu etcd[59287]: raft2025/08/12 15:58:07 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 12 15:58:07 ubuntu etcd[59287]: raft2025/08/12 15:58:07 INFO: c25b29daa831042c became follower at term 1
Aug 12 15:58:07 ubuntu etcd[59287]: raft2025/08/12 15:58:07 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 12 15:58:07 ubuntu etcd[59287]: simple token is not cryptographically signed
Aug 12 15:58:07 ubuntu etcd[59287]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 12 15:58:07 ubuntu etcd[59287]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 12 15:58:07 ubuntu etcd[59287]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 12 15:58:07 ubuntu etcd[59287]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 12 15:58:07 ubuntu etcd[59287]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 12 15:58:07 ubuntu etcd[59287]: raft2025/08/12 15:58:07 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 12 15:58:07 ubuntu etcd[59287]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Aug 12 15:58:07 ubuntu etcd[59287]: listening for peers on [::]:2380
Aug 12 15:58:07 ubuntu etcd[59287]: raft2025/08/12 15:58:07 INFO: c25b29daa831042c is starting a new election at term 1
Aug 12 15:58:07 ubuntu etcd[59287]: raft2025/08/12 15:58:07 INFO: c25b29daa831042c became candidate at term 2
Aug 12 15:58:07 ubuntu etcd[59287]: raft2025/08/12 15:58:07 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Aug 12 15:58:07 ubuntu etcd[59287]: raft2025/08/12 15:58:07 INFO: c25b29daa831042c became leader at term 2
Aug 12 15:58:07 ubuntu etcd[59287]: raft2025/08/12 15:58:07 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Aug 12 15:58:07 ubuntu etcd[59287]: setting up the initial cluster version to 3.4
Aug 12 15:58:07 ubuntu etcd[59287]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Aug 12 15:58:07 ubuntu etcd[59287]: ready to serve client requests
Aug 12 15:58:07 ubuntu etcd[59287]: set the initial cluster version to 3.4
Aug 12 15:58:07 ubuntu etcd[59287]: enabled capabilities for version 3.4
Aug 12 15:58:07 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 12 15:58:07 ubuntu etcd[59287]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Aug 12 16:02:15 ubuntu etcd[59287]: start time = 2025-08-12 16:02:15.013697813 +0000 UTC m=+247.879608176, time spent = 472.761µs, remote = 10.201.9.223:57870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 16:02:15 ubuntu etcd[59287]: start time = 2025-08-12 16:02:15.018076471 +0000 UTC m=+247.883986840, time spent = 277.447µs, remote = 10.201.9.223:57870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 16:02:21 ubuntu etcd[59287]: start time = 2025-08-12 16:02:21.674132304 +0000 UTC m=+254.540042667, time spent = 159.768µs, remote = 10.201.9.223:57870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 16:02:23 ubuntu etcd[59287]: start time = 2025-08-12 16:02:23.550774158 +0000 UTC m=+256.416684511, time spent = 216.27µs, remote = 10.201.9.223:57870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
