Apr 29 15:40:00 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 29 15:40:00 ubuntu etcd[58054]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 29 15:40:00 ubuntu etcd[58054]:         A future release of golang/protobuf will delete this package,
Apr 29 15:40:00 ubuntu etcd[58054]:         which has long been excluded from the compatibility promise.
Apr 29 15:40:00 ubuntu etcd[58054]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 29 15:40:00 ubuntu etcd[58054]: Running http and grpc server on single port. This is not recommended for production.
Apr 29 15:40:00 ubuntu etcd[58054]: etcd Version: 3.4.27
Apr 29 15:40:00 ubuntu etcd[58054]: Git SHA: c92fb80f3
Apr 29 15:40:00 ubuntu etcd[58054]: Go Version: go1.19.10
Apr 29 15:40:00 ubuntu etcd[58054]: Go OS/Arch: linux/amd64
Apr 29 15:40:00 ubuntu etcd[58054]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 29 15:40:00 ubuntu etcd[58054]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 29 15:40:00 ubuntu etcd[58054]: Running http and grpc server on single port. This is not recommended for production.
Apr 29 15:40:00 ubuntu etcd[58054]: name = ubuntu
Apr 29 15:40:00 ubuntu etcd[58054]: data dir = /opt/stack/data/etcd
Apr 29 15:40:00 ubuntu etcd[58054]: member dir = /opt/stack/data/etcd/member
Apr 29 15:40:00 ubuntu etcd[58054]: heartbeat = 100ms
Apr 29 15:40:00 ubuntu etcd[58054]: election = 1000ms
Apr 29 15:40:00 ubuntu etcd[58054]: snapshot count = 100000
Apr 29 15:40:00 ubuntu etcd[58054]: advertise client URLs = http://10.201.9.223:2379
Apr 29 15:40:00 ubuntu etcd[58054]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 29 15:40:00 ubuntu etcd[58054]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 29 15:40:00 ubuntu etcd[58054]: raft2025/04/29 15:40:00 INFO: c25b29daa831042c switched to configuration voters=()
Apr 29 15:40:00 ubuntu etcd[58054]: raft2025/04/29 15:40:00 INFO: c25b29daa831042c became follower at term 0
Apr 29 15:40:00 ubuntu etcd[58054]: raft2025/04/29 15:40:00 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 29 15:40:00 ubuntu etcd[58054]: raft2025/04/29 15:40:00 INFO: c25b29daa831042c became follower at term 1
Apr 29 15:40:00 ubuntu etcd[58054]: raft2025/04/29 15:40:00 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 29 15:40:00 ubuntu etcd[58054]: simple token is not cryptographically signed
Apr 29 15:40:00 ubuntu etcd[58054]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 29 15:40:00 ubuntu etcd[58054]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 29 15:40:00 ubuntu etcd[58054]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 29 15:40:00 ubuntu etcd[58054]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 29 15:40:00 ubuntu etcd[58054]: raft2025/04/29 15:40:00 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 29 15:40:00 ubuntu etcd[58054]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 29 15:40:00 ubuntu etcd[58054]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 29 15:40:00 ubuntu etcd[58054]: listening for peers on [::]:2380
Apr 29 15:40:01 ubuntu etcd[58054]: raft2025/04/29 15:40:01 INFO: c25b29daa831042c is starting a new election at term 1
Apr 29 15:40:01 ubuntu etcd[58054]: raft2025/04/29 15:40:01 INFO: c25b29daa831042c became candidate at term 2
Apr 29 15:40:01 ubuntu etcd[58054]: raft2025/04/29 15:40:01 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 29 15:40:01 ubuntu etcd[58054]: raft2025/04/29 15:40:01 INFO: c25b29daa831042c became leader at term 2
Apr 29 15:40:01 ubuntu etcd[58054]: raft2025/04/29 15:40:01 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 29 15:40:01 ubuntu etcd[58054]: setting up the initial cluster version to 3.4
Apr 29 15:40:01 ubuntu etcd[58054]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 29 15:40:01 ubuntu etcd[58054]: ready to serve client requests
Apr 29 15:40:01 ubuntu etcd[58054]: set the initial cluster version to 3.4
Apr 29 15:40:01 ubuntu etcd[58054]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 29 15:40:01 ubuntu etcd[58054]: enabled capabilities for version 3.4
Apr 29 15:40:01 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 29 15:44:10 ubuntu etcd[58054]: start time = 2025-04-29 15:44:10.055670753 +0000 UTC m=+249.480361427, time spent = 471.812µs, remote = 10.201.9.223:50762, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 29 15:44:10 ubuntu etcd[58054]: start time = 2025-04-29 15:44:10.063526607 +0000 UTC m=+249.488217296, time spent = 244.52µs, remote = 10.201.9.223:50762, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 29 15:44:16 ubuntu etcd[58054]: start time = 2025-04-29 15:44:16.593914441 +0000 UTC m=+256.018605126, time spent = 247.315µs, remote = 10.201.9.223:50762, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 29 15:44:18 ubuntu etcd[58054]: start time = 2025-04-29 15:44:18.599186327 +0000 UTC m=+258.023877017, time spent = 264.011µs, remote = 10.201.9.223:50762, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
