Aug 07 13:43:51 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 07 13:43:51 ubuntu etcd[59024]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 07 13:43:51 ubuntu etcd[59024]:         A future release of golang/protobuf will delete this package,
Aug 07 13:43:51 ubuntu etcd[59024]:         which has long been excluded from the compatibility promise.
Aug 07 13:43:51 ubuntu etcd[59024]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 07 13:43:51 ubuntu etcd[59024]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 07 13:43:51 ubuntu etcd[59024]: Running http and grpc server on single port. This is not recommended for production.
Aug 07 13:43:51 ubuntu etcd[59024]: etcd Version: 3.4.27
Aug 07 13:43:51 ubuntu etcd[59024]: Git SHA: c92fb80f3
Aug 07 13:43:51 ubuntu etcd[59024]: Go Version: go1.19.10
Aug 07 13:43:51 ubuntu etcd[59024]: Go OS/Arch: linux/amd64
Aug 07 13:43:51 ubuntu etcd[59024]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 07 13:43:51 ubuntu etcd[59024]: Running http and grpc server on single port. This is not recommended for production.
Aug 07 13:43:51 ubuntu etcd[59024]: name = ubuntu
Aug 07 13:43:51 ubuntu etcd[59024]: data dir = /opt/stack/data/etcd
Aug 07 13:43:51 ubuntu etcd[59024]: member dir = /opt/stack/data/etcd/member
Aug 07 13:43:51 ubuntu etcd[59024]: heartbeat = 100ms
Aug 07 13:43:51 ubuntu etcd[59024]: election = 1000ms
Aug 07 13:43:51 ubuntu etcd[59024]: snapshot count = 100000
Aug 07 13:43:51 ubuntu etcd[59024]: advertise client URLs = http://10.201.9.223:2379
Aug 07 13:43:51 ubuntu etcd[59024]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 07 13:43:51 ubuntu etcd[59024]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Aug 07 13:43:51 ubuntu etcd[59024]: raft2025/08/07 13:43:51 INFO: c25b29daa831042c switched to configuration voters=()
Aug 07 13:43:51 ubuntu etcd[59024]: raft2025/08/07 13:43:51 INFO: c25b29daa831042c became follower at term 0
Aug 07 13:43:51 ubuntu etcd[59024]: raft2025/08/07 13:43:51 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 07 13:43:51 ubuntu etcd[59024]: raft2025/08/07 13:43:51 INFO: c25b29daa831042c became follower at term 1
Aug 07 13:43:51 ubuntu etcd[59024]: raft2025/08/07 13:43:51 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 07 13:43:51 ubuntu etcd[59024]: simple token is not cryptographically signed
Aug 07 13:43:51 ubuntu etcd[59024]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 07 13:43:51 ubuntu etcd[59024]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 07 13:43:51 ubuntu etcd[59024]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 07 13:43:51 ubuntu etcd[59024]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 07 13:43:51 ubuntu etcd[59024]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 07 13:43:51 ubuntu etcd[59024]: raft2025/08/07 13:43:51 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 07 13:43:51 ubuntu etcd[59024]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Aug 07 13:43:51 ubuntu etcd[59024]: listening for peers on [::]:2380
Aug 07 13:43:52 ubuntu etcd[59024]: raft2025/08/07 13:43:52 INFO: c25b29daa831042c is starting a new election at term 1
Aug 07 13:43:52 ubuntu etcd[59024]: raft2025/08/07 13:43:52 INFO: c25b29daa831042c became candidate at term 2
Aug 07 13:43:52 ubuntu etcd[59024]: raft2025/08/07 13:43:52 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Aug 07 13:43:52 ubuntu etcd[59024]: raft2025/08/07 13:43:52 INFO: c25b29daa831042c became leader at term 2
Aug 07 13:43:52 ubuntu etcd[59024]: raft2025/08/07 13:43:52 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Aug 07 13:43:52 ubuntu etcd[59024]: setting up the initial cluster version to 3.4
Aug 07 13:43:52 ubuntu etcd[59024]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Aug 07 13:43:52 ubuntu etcd[59024]: set the initial cluster version to 3.4
Aug 07 13:43:52 ubuntu etcd[59024]: ready to serve client requests
Aug 07 13:43:52 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 07 13:43:52 ubuntu etcd[59024]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Aug 07 13:43:52 ubuntu etcd[59024]: enabled capabilities for version 3.4
Aug 07 13:48:02 ubuntu etcd[59024]: start time = 2025-08-07 13:48:02.385918308 +0000 UTC m=+250.436664022, time spent = 1.870259ms, remote = 10.201.9.223:46792, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 13:48:02 ubuntu etcd[59024]: start time = 2025-08-07 13:48:02.473568967 +0000 UTC m=+250.524314597, time spent = 194.141µs, remote = 10.201.9.223:46792, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 13:48:08 ubuntu etcd[59024]: start time = 2025-08-07 13:48:08.988830039 +0000 UTC m=+257.039575654, time spent = 351.356µs, remote = 10.201.9.223:46792, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 13:48:11 ubuntu etcd[59024]: start time = 2025-08-07 13:48:11.273758628 +0000 UTC m=+259.324504256, time spent = 200.203µs, remote = 10.201.9.223:46792, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 13:43:51 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 07 13:43:51 ubuntu etcd[59024]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 07 13:43:51 ubuntu etcd[59024]:         A future release of golang/protobuf will delete this package,
Aug 07 13:43:51 ubuntu etcd[59024]:         which has long been excluded from the compatibility promise.
Aug 07 13:43:51 ubuntu etcd[59024]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 07 13:43:51 ubuntu etcd[59024]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 07 13:43:51 ubuntu etcd[59024]: Running http and grpc server on single port. This is not recommended for production.
Aug 07 13:43:51 ubuntu etcd[59024]: etcd Version: 3.4.27
Aug 07 13:43:51 ubuntu etcd[59024]: Git SHA: c92fb80f3
Aug 07 13:43:51 ubuntu etcd[59024]: Go Version: go1.19.10
Aug 07 13:43:51 ubuntu etcd[59024]: Go OS/Arch: linux/amd64
Aug 07 13:43:51 ubuntu etcd[59024]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 07 13:43:51 ubuntu etcd[59024]: Running http and grpc server on single port. This is not recommended for production.
Aug 07 13:43:51 ubuntu etcd[59024]: name = ubuntu
Aug 07 13:43:51 ubuntu etcd[59024]: data dir = /opt/stack/data/etcd
Aug 07 13:43:51 ubuntu etcd[59024]: member dir = /opt/stack/data/etcd/member
Aug 07 13:43:51 ubuntu etcd[59024]: heartbeat = 100ms
Aug 07 13:43:51 ubuntu etcd[59024]: election = 1000ms
Aug 07 13:43:51 ubuntu etcd[59024]: snapshot count = 100000
Aug 07 13:43:51 ubuntu etcd[59024]: advertise client URLs = http://10.201.9.223:2379
Aug 07 13:43:51 ubuntu etcd[59024]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 07 13:43:51 ubuntu etcd[59024]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Aug 07 13:43:51 ubuntu etcd[59024]: raft2025/08/07 13:43:51 INFO: c25b29daa831042c switched to configuration voters=()
Aug 07 13:43:51 ubuntu etcd[59024]: raft2025/08/07 13:43:51 INFO: c25b29daa831042c became follower at term 0
Aug 07 13:43:51 ubuntu etcd[59024]: raft2025/08/07 13:43:51 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 07 13:43:51 ubuntu etcd[59024]: raft2025/08/07 13:43:51 INFO: c25b29daa831042c became follower at term 1
Aug 07 13:43:51 ubuntu etcd[59024]: raft2025/08/07 13:43:51 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 07 13:43:51 ubuntu etcd[59024]: simple token is not cryptographically signed
Aug 07 13:43:51 ubuntu etcd[59024]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 07 13:43:51 ubuntu etcd[59024]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 07 13:43:51 ubuntu etcd[59024]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 07 13:43:51 ubuntu etcd[59024]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 07 13:43:51 ubuntu etcd[59024]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 07 13:43:51 ubuntu etcd[59024]: raft2025/08/07 13:43:51 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 07 13:43:51 ubuntu etcd[59024]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Aug 07 13:43:51 ubuntu etcd[59024]: listening for peers on [::]:2380
Aug 07 13:43:52 ubuntu etcd[59024]: raft2025/08/07 13:43:52 INFO: c25b29daa831042c is starting a new election at term 1
Aug 07 13:43:52 ubuntu etcd[59024]: raft2025/08/07 13:43:52 INFO: c25b29daa831042c became candidate at term 2
Aug 07 13:43:52 ubuntu etcd[59024]: raft2025/08/07 13:43:52 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Aug 07 13:43:52 ubuntu etcd[59024]: raft2025/08/07 13:43:52 INFO: c25b29daa831042c became leader at term 2
Aug 07 13:43:52 ubuntu etcd[59024]: raft2025/08/07 13:43:52 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Aug 07 13:43:52 ubuntu etcd[59024]: setting up the initial cluster version to 3.4
Aug 07 13:43:52 ubuntu etcd[59024]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Aug 07 13:43:52 ubuntu etcd[59024]: set the initial cluster version to 3.4
Aug 07 13:43:52 ubuntu etcd[59024]: ready to serve client requests
Aug 07 13:43:52 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 07 13:43:52 ubuntu etcd[59024]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Aug 07 13:43:52 ubuntu etcd[59024]: enabled capabilities for version 3.4
Aug 07 13:48:02 ubuntu etcd[59024]: start time = 2025-08-07 13:48:02.385918308 +0000 UTC m=+250.436664022, time spent = 1.870259ms, remote = 10.201.9.223:46792, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 13:48:02 ubuntu etcd[59024]: start time = 2025-08-07 13:48:02.473568967 +0000 UTC m=+250.524314597, time spent = 194.141µs, remote = 10.201.9.223:46792, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 13:48:08 ubuntu etcd[59024]: start time = 2025-08-07 13:48:08.988830039 +0000 UTC m=+257.039575654, time spent = 351.356µs, remote = 10.201.9.223:46792, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 13:48:11 ubuntu etcd[59024]: start time = 2025-08-07 13:48:11.273758628 +0000 UTC m=+259.324504256, time spent = 200.203µs, remote = 10.201.9.223:46792, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
