Dec 09 10:25:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 10:25:58 ubuntu etcd[59168]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 10:25:58 ubuntu etcd[59168]:         A future release of golang/protobuf will delete this package,
Dec 09 10:25:58 ubuntu etcd[59168]:         which has long been excluded from the compatibility promise.
Dec 09 10:25:58 ubuntu etcd[59168]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 10:25:58 ubuntu etcd[59168]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 10:25:58 ubuntu etcd[59168]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 10:25:58 ubuntu etcd[59168]: etcd Version: 3.4.27
Dec 09 10:25:58 ubuntu etcd[59168]: Git SHA: c92fb80f3
Dec 09 10:25:58 ubuntu etcd[59168]: Go Version: go1.19.10
Dec 09 10:25:58 ubuntu etcd[59168]: Go OS/Arch: linux/amd64
Dec 09 10:25:58 ubuntu etcd[59168]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 10:25:58 ubuntu etcd[59168]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 10:25:58 ubuntu etcd[59168]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 10:25:58 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 10:25:58 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 10:25:58 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 10:25:58 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 09 10:25:58 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 10:25:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 10:25:58 ubuntu etcd[59283]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 10:25:58 ubuntu etcd[59283]:         A future release of golang/protobuf will delete this package,
Dec 09 10:25:58 ubuntu etcd[59283]:         which has long been excluded from the compatibility promise.
Dec 09 10:25:58 ubuntu etcd[59283]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 10:25:58 ubuntu etcd[59283]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 10:25:58 ubuntu etcd[59283]: etcd Version: 3.4.27
Dec 09 10:25:58 ubuntu etcd[59283]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 10:25:58 ubuntu etcd[59283]: Git SHA: c92fb80f3
Dec 09 10:25:58 ubuntu etcd[59283]: Go Version: go1.19.10
Dec 09 10:25:58 ubuntu etcd[59283]: Go OS/Arch: linux/amd64
Dec 09 10:25:58 ubuntu etcd[59283]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 10:25:58 ubuntu etcd[59283]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 10:25:58 ubuntu etcd[59283]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 10:25:58 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 10:25:58 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 10:25:58 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 10:25:59 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 09 10:25:59 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 10:25:59 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 10:25:59 ubuntu etcd[59355]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 10:25:59 ubuntu etcd[59355]:         A future release of golang/protobuf will delete this package,
Dec 09 10:25:59 ubuntu etcd[59355]:         which has long been excluded from the compatibility promise.
Dec 09 10:25:59 ubuntu etcd[59355]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 10:25:59 ubuntu etcd[59355]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 10:25:59 ubuntu etcd[59355]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 10:25:59 ubuntu etcd[59355]: etcd Version: 3.4.27
Dec 09 10:25:59 ubuntu etcd[59355]: Git SHA: c92fb80f3
Dec 09 10:25:59 ubuntu etcd[59355]: Go Version: go1.19.10
Dec 09 10:25:59 ubuntu etcd[59355]: Go OS/Arch: linux/amd64
Dec 09 10:25:59 ubuntu etcd[59355]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 10:25:59 ubuntu etcd[59355]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 10:25:59 ubuntu etcd[59355]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 10:25:59 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 10:25:59 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 10:25:59 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 10:25:59 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 09 10:25:59 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 10:25:59 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 10:25:59 ubuntu etcd[59371]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 10:25:59 ubuntu etcd[59371]:         A future release of golang/protobuf will delete this package,
Dec 09 10:25:59 ubuntu etcd[59371]:         which has long been excluded from the compatibility promise.
Dec 09 10:25:59 ubuntu etcd[59371]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 10:25:59 ubuntu etcd[59371]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 10:25:59 ubuntu etcd[59371]: etcd Version: 3.4.27
Dec 09 10:25:59 ubuntu etcd[59371]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 10:25:59 ubuntu etcd[59371]: Git SHA: c92fb80f3
Dec 09 10:25:59 ubuntu etcd[59371]: Go Version: go1.19.10
Dec 09 10:25:59 ubuntu etcd[59371]: Go OS/Arch: linux/amd64
Dec 09 10:25:59 ubuntu etcd[59371]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 10:25:59 ubuntu etcd[59371]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 10:25:59 ubuntu etcd[59371]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 10:25:59 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 10:25:59 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 10:25:59 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 10:25:59 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 09 10:25:59 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 10:25:59 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 10:25:59 ubuntu etcd[59397]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 10:25:59 ubuntu etcd[59397]:         A future release of golang/protobuf will delete this package,
Dec 09 10:25:59 ubuntu etcd[59397]:         which has long been excluded from the compatibility promise.
Dec 09 10:25:59 ubuntu etcd[59397]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 10:25:59 ubuntu etcd[59397]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 10:25:59 ubuntu etcd[59397]: etcd Version: 3.4.27
Dec 09 10:25:59 ubuntu etcd[59397]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 10:25:59 ubuntu etcd[59397]: Git SHA: c92fb80f3
Dec 09 10:25:59 ubuntu etcd[59397]: Go Version: go1.19.10
Dec 09 10:25:59 ubuntu etcd[59397]: Go OS/Arch: linux/amd64
Dec 09 10:25:59 ubuntu etcd[59397]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 10:25:59 ubuntu etcd[59397]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 10:25:59 ubuntu etcd[59397]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 09 10:25:59 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 09 10:25:59 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 10:25:59 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 09 10:25:59 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 09 10:25:59 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 09 10:25:59 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 09 10:25:59 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 09 10:25:59 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
