Dec 17 14:31:14 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 17 14:31:14 ubuntu etcd[59100]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 17 14:31:14 ubuntu etcd[59100]:         A future release of golang/protobuf will delete this package,
Dec 17 14:31:14 ubuntu etcd[59100]:         which has long been excluded from the compatibility promise.
Dec 17 14:31:14 ubuntu etcd[59100]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 17 14:31:14 ubuntu etcd[59100]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 17 14:31:14 ubuntu etcd[59100]: Running http and grpc server on single port. This is not recommended for production.
Dec 17 14:31:14 ubuntu etcd[59100]: etcd Version: 3.4.27
Dec 17 14:31:14 ubuntu etcd[59100]: Git SHA: c92fb80f3
Dec 17 14:31:14 ubuntu etcd[59100]: Go Version: go1.19.10
Dec 17 14:31:14 ubuntu etcd[59100]: Go OS/Arch: linux/amd64
Dec 17 14:31:14 ubuntu etcd[59100]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 17 14:31:14 ubuntu etcd[59100]: Running http and grpc server on single port. This is not recommended for production.
Dec 17 14:31:14 ubuntu etcd[59100]: name = ubuntu
Dec 17 14:31:14 ubuntu etcd[59100]: data dir = /opt/stack/data/etcd
Dec 17 14:31:14 ubuntu etcd[59100]: member dir = /opt/stack/data/etcd/member
Dec 17 14:31:14 ubuntu etcd[59100]: heartbeat = 100ms
Dec 17 14:31:14 ubuntu etcd[59100]: election = 1000ms
Dec 17 14:31:14 ubuntu etcd[59100]: snapshot count = 100000
Dec 17 14:31:14 ubuntu etcd[59100]: advertise client URLs = http://10.201.9.223:2379
Dec 17 14:31:14 ubuntu etcd[59100]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 17 14:31:14 ubuntu etcd[59100]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 17 14:31:14 ubuntu etcd[59100]: raft2024/12/17 14:31:14 INFO: c25b29daa831042c switched to configuration voters=()
Dec 17 14:31:14 ubuntu etcd[59100]: raft2024/12/17 14:31:14 INFO: c25b29daa831042c became follower at term 0
Dec 17 14:31:14 ubuntu etcd[59100]: raft2024/12/17 14:31:14 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 17 14:31:14 ubuntu etcd[59100]: raft2024/12/17 14:31:14 INFO: c25b29daa831042c became follower at term 1
Dec 17 14:31:14 ubuntu etcd[59100]: raft2024/12/17 14:31:14 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 17 14:31:14 ubuntu etcd[59100]: simple token is not cryptographically signed
Dec 17 14:31:14 ubuntu etcd[59100]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 17 14:31:14 ubuntu etcd[59100]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 17 14:31:14 ubuntu etcd[59100]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 17 14:31:14 ubuntu etcd[59100]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 17 14:31:14 ubuntu etcd[59100]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 17 14:31:14 ubuntu etcd[59100]: raft2024/12/17 14:31:14 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 17 14:31:14 ubuntu etcd[59100]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 17 14:31:14 ubuntu etcd[59100]: listening for peers on [::]:2380
Dec 17 14:31:15 ubuntu etcd[59100]: raft2024/12/17 14:31:15 INFO: c25b29daa831042c is starting a new election at term 1
Dec 17 14:31:15 ubuntu etcd[59100]: raft2024/12/17 14:31:15 INFO: c25b29daa831042c became candidate at term 2
Dec 17 14:31:15 ubuntu etcd[59100]: raft2024/12/17 14:31:15 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 17 14:31:15 ubuntu etcd[59100]: raft2024/12/17 14:31:15 INFO: c25b29daa831042c became leader at term 2
Dec 17 14:31:15 ubuntu etcd[59100]: raft2024/12/17 14:31:15 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 17 14:31:15 ubuntu etcd[59100]: setting up the initial cluster version to 3.4
Dec 17 14:31:15 ubuntu etcd[59100]: set the initial cluster version to 3.4
Dec 17 14:31:15 ubuntu etcd[59100]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 17 14:31:15 ubuntu etcd[59100]: ready to serve client requests
Dec 17 14:31:15 ubuntu etcd[59100]: enabled capabilities for version 3.4
Dec 17 14:31:15 ubuntu etcd[59100]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 17 14:31:15 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 17 14:35:34 ubuntu etcd[59100]: start time = 2024-12-17 14:35:34.674872732 +0000 UTC m=+260.003144322, time spent = 445.881µs, remote = 10.201.9.223:42748, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 14:35:34 ubuntu etcd[59100]: start time = 2024-12-17 14:35:34.756532439 +0000 UTC m=+260.084804042, time spent = 217.105µs, remote = 10.201.9.223:42748, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 14:35:41 ubuntu etcd[59100]: start time = 2024-12-17 14:35:41.334220548 +0000 UTC m=+266.662492139, time spent = 205.796µs, remote = 10.201.9.223:42748, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 14:35:43 ubuntu etcd[59100]: start time = 2024-12-17 14:35:43.607870659 +0000 UTC m=+268.936142251, time spent = 217.706µs, remote = 10.201.9.223:42748, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
