Feb 25 02:21:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 25 02:21:39 ubuntu etcd[59643]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 25 02:21:39 ubuntu etcd[59643]:         A future release of golang/protobuf will delete this package,
Feb 25 02:21:39 ubuntu etcd[59643]:         which has long been excluded from the compatibility promise.
Feb 25 02:21:39 ubuntu etcd[59643]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 25 02:21:39 ubuntu etcd[59643]: Running http and grpc server on single port. This is not recommended for production.
Feb 25 02:21:39 ubuntu etcd[59643]: etcd Version: 3.4.27
Feb 25 02:21:39 ubuntu etcd[59643]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 25 02:21:39 ubuntu etcd[59643]: Git SHA: c92fb80f3
Feb 25 02:21:39 ubuntu etcd[59643]: Go Version: go1.19.10
Feb 25 02:21:39 ubuntu etcd[59643]: Go OS/Arch: linux/amd64
Feb 25 02:21:39 ubuntu etcd[59643]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 25 02:21:39 ubuntu etcd[59643]: Running http and grpc server on single port. This is not recommended for production.
Feb 25 02:21:39 ubuntu etcd[59643]: name = ubuntu
Feb 25 02:21:39 ubuntu etcd[59643]: data dir = /opt/stack/data/etcd
Feb 25 02:21:39 ubuntu etcd[59643]: member dir = /opt/stack/data/etcd/member
Feb 25 02:21:39 ubuntu etcd[59643]: heartbeat = 100ms
Feb 25 02:21:39 ubuntu etcd[59643]: election = 1000ms
Feb 25 02:21:39 ubuntu etcd[59643]: snapshot count = 100000
Feb 25 02:21:39 ubuntu etcd[59643]: advertise client URLs = http://10.201.9.223:2379
Feb 25 02:21:39 ubuntu etcd[59643]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 25 02:21:39 ubuntu etcd[59643]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Feb 25 02:21:39 ubuntu etcd[59643]: raft2025/02/25 02:21:39 INFO: c25b29daa831042c switched to configuration voters=()
Feb 25 02:21:39 ubuntu etcd[59643]: raft2025/02/25 02:21:39 INFO: c25b29daa831042c became follower at term 0
Feb 25 02:21:39 ubuntu etcd[59643]: raft2025/02/25 02:21:39 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 25 02:21:39 ubuntu etcd[59643]: raft2025/02/25 02:21:39 INFO: c25b29daa831042c became follower at term 1
Feb 25 02:21:39 ubuntu etcd[59643]: raft2025/02/25 02:21:39 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 25 02:21:39 ubuntu etcd[59643]: simple token is not cryptographically signed
Feb 25 02:21:39 ubuntu etcd[59643]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 25 02:21:39 ubuntu etcd[59643]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 25 02:21:39 ubuntu etcd[59643]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 25 02:21:39 ubuntu etcd[59643]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 25 02:21:39 ubuntu etcd[59643]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 25 02:21:39 ubuntu etcd[59643]: raft2025/02/25 02:21:39 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 25 02:21:39 ubuntu etcd[59643]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Feb 25 02:21:39 ubuntu etcd[59643]: listening for peers on [::]:2380
Feb 25 02:21:40 ubuntu etcd[59643]: raft2025/02/25 02:21:40 INFO: c25b29daa831042c is starting a new election at term 1
Feb 25 02:21:40 ubuntu etcd[59643]: raft2025/02/25 02:21:40 INFO: c25b29daa831042c became candidate at term 2
Feb 25 02:21:40 ubuntu etcd[59643]: raft2025/02/25 02:21:40 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Feb 25 02:21:40 ubuntu etcd[59643]: raft2025/02/25 02:21:40 INFO: c25b29daa831042c became leader at term 2
Feb 25 02:21:40 ubuntu etcd[59643]: raft2025/02/25 02:21:40 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Feb 25 02:21:40 ubuntu etcd[59643]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Feb 25 02:21:40 ubuntu etcd[59643]: ready to serve client requests
Feb 25 02:21:40 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 25 02:21:40 ubuntu etcd[59643]: setting up the initial cluster version to 3.4
Feb 25 02:21:40 ubuntu etcd[59643]: set the initial cluster version to 3.4
Feb 25 02:21:40 ubuntu etcd[59643]: enabled capabilities for version 3.4
Feb 25 02:21:40 ubuntu etcd[59643]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Feb 25 02:25:48 ubuntu etcd[59643]: start time = 2025-02-25 02:25:48.749814957 +0000 UTC m=+249.317496341, time spent = 407.195µs, remote = 10.201.9.223:57692, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 25 02:25:48 ubuntu etcd[59643]: start time = 2025-02-25 02:25:48.803390224 +0000 UTC m=+249.371071619, time spent = 177.211µs, remote = 10.201.9.223:57692, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 25 02:25:55 ubuntu etcd[59643]: start time = 2025-02-25 02:25:55.335017482 +0000 UTC m=+255.902698882, time spent = 167.578µs, remote = 10.201.9.223:57692, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 25 02:25:57 ubuntu etcd[59643]: start time = 2025-02-25 02:25:57.678019183 +0000 UTC m=+258.245700582, time spent = 163.713µs, remote = 10.201.9.223:57692, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
