Feb 12 13:33:00 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 12 13:33:00 ubuntu etcd[60198]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 12 13:33:00 ubuntu etcd[60198]:         A future release of golang/protobuf will delete this package,
Feb 12 13:33:00 ubuntu etcd[60198]:         which has long been excluded from the compatibility promise.
Feb 12 13:33:00 ubuntu etcd[60198]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 12 13:33:00 ubuntu etcd[60198]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 12 13:33:00 ubuntu etcd[60198]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 12 13:33:00 ubuntu etcd[60198]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 12 13:33:00 ubuntu etcd[60198]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 12 13:33:00 ubuntu etcd[60198]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 12 13:33:00 ubuntu etcd[60198]: Running http and grpc server on single port. This is not recommended for production.
Feb 12 13:33:00 ubuntu etcd[60198]: etcd Version: 3.4.27
Feb 12 13:33:00 ubuntu etcd[60198]: Git SHA: c92fb80f3
Feb 12 13:33:00 ubuntu etcd[60198]: Go Version: go1.19.10
Feb 12 13:33:00 ubuntu etcd[60198]: Go OS/Arch: linux/amd64
Feb 12 13:33:00 ubuntu etcd[60198]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 12 13:33:00 ubuntu etcd[60198]: Running http and grpc server on single port. This is not recommended for production.
Feb 12 13:33:00 ubuntu etcd[60198]: name = ubuntu
Feb 12 13:33:00 ubuntu etcd[60198]: data dir = /opt/stack/data/etcd
Feb 12 13:33:00 ubuntu etcd[60198]: member dir = /opt/stack/data/etcd/member
Feb 12 13:33:00 ubuntu etcd[60198]: heartbeat = 100ms
Feb 12 13:33:00 ubuntu etcd[60198]: election = 1000ms
Feb 12 13:33:00 ubuntu etcd[60198]: snapshot count = 100000
Feb 12 13:33:00 ubuntu etcd[60198]: advertise client URLs = http://10.201.4.32:2379
Feb 12 13:33:00 ubuntu etcd[60198]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 12 13:33:00 ubuntu etcd[60198]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 12 13:33:00 ubuntu etcd[60198]: raft2024/02/12 13:33:00 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 12 13:33:00 ubuntu etcd[60198]: raft2024/02/12 13:33:00 INFO: 33238c1cdfea94eb became follower at term 0
Feb 12 13:33:00 ubuntu etcd[60198]: raft2024/02/12 13:33:00 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 12 13:33:00 ubuntu etcd[60198]: raft2024/02/12 13:33:00 INFO: 33238c1cdfea94eb became follower at term 1
Feb 12 13:33:00 ubuntu etcd[60198]: raft2024/02/12 13:33:00 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 12 13:33:00 ubuntu etcd[60198]: simple token is not cryptographically signed
Feb 12 13:33:00 ubuntu etcd[60198]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 12 13:33:00 ubuntu etcd[60198]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 12 13:33:00 ubuntu etcd[60198]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 12 13:33:00 ubuntu etcd[60198]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 12 13:33:00 ubuntu etcd[60198]: raft2024/02/12 13:33:00 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 12 13:33:00 ubuntu etcd[60198]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 12 13:33:00 ubuntu etcd[60198]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 12 13:33:00 ubuntu etcd[60198]: listening for peers on [::]:2380
Feb 12 13:33:00 ubuntu etcd[60198]: raft2024/02/12 13:33:00 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 12 13:33:00 ubuntu etcd[60198]: raft2024/02/12 13:33:00 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 12 13:33:00 ubuntu etcd[60198]: raft2024/02/12 13:33:00 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 12 13:33:00 ubuntu etcd[60198]: raft2024/02/12 13:33:00 INFO: 33238c1cdfea94eb became leader at term 2
Feb 12 13:33:00 ubuntu etcd[60198]: raft2024/02/12 13:33:00 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 12 13:33:00 ubuntu etcd[60198]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 12 13:33:00 ubuntu etcd[60198]: setting up the initial cluster version to 3.4
Feb 12 13:33:00 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 12 13:33:00 ubuntu etcd[60198]: ready to serve client requests
Feb 12 13:33:00 ubuntu etcd[60198]: INFO: 2024/02/12 13:33:00 parsed scheme: ""
Feb 12 13:33:00 ubuntu etcd[60198]: INFO: 2024/02/12 13:33:00 scheme "" not registered, fallback to default scheme
Feb 12 13:33:00 ubuntu etcd[60198]: INFO: 2024/02/12 13:33:00 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 12 13:33:00 ubuntu etcd[60198]: INFO: 2024/02/12 13:33:00 ClientConn switching balancer to "pick_first"
Feb 12 13:33:00 ubuntu etcd[60198]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 12 13:33:00 ubuntu etcd[60198]: set the initial cluster version to 3.4
Feb 12 13:33:00 ubuntu etcd[60198]: enabled capabilities for version 3.4
Feb 12 13:38:17 ubuntu etcd[60198]: start time = 2024-02-12 13:38:17.380700075 +0000 UTC m=+316.615594060, time spent = 352.358µs, remote = 10.201.4.32:52536, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 13:38:17 ubuntu etcd[60198]: start time = 2024-02-12 13:38:17.396848821 +0000 UTC m=+316.631742807, time spent = 172.664µs, remote = 10.201.4.32:52536, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 13:38:24 ubuntu etcd[60198]: start time = 2024-02-12 13:38:24.048185279 +0000 UTC m=+323.283079264, time spent = 377.068µs, remote = 10.201.4.32:52536, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 13:38:26 ubuntu etcd[60198]: start time = 2024-02-12 13:38:26.35494695 +0000 UTC m=+325.589840937, time spent = 166.054µs, remote = 10.201.4.32:52536, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
