Dec 06 20:52:10 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 20:52:10 ubuntu etcd[58871]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 20:52:10 ubuntu etcd[58871]:         A future release of golang/protobuf will delete this package,
Dec 06 20:52:10 ubuntu etcd[58871]:         which has long been excluded from the compatibility promise.
Dec 06 20:52:10 ubuntu etcd[58871]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:52:10 ubuntu etcd[58871]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:52:10 ubuntu etcd[58871]: etcd Version: 3.4.27
Dec 06 20:52:10 ubuntu etcd[58871]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:52:10 ubuntu etcd[58871]: Git SHA: c92fb80f3
Dec 06 20:52:10 ubuntu etcd[58871]: Go Version: go1.19.10
Dec 06 20:52:10 ubuntu etcd[58871]: Go OS/Arch: linux/amd64
Dec 06 20:52:10 ubuntu etcd[58871]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 20:52:10 ubuntu etcd[58871]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:52:10 ubuntu etcd[58871]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 20:52:10 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 20:52:10 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:52:10 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:52:10 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 06 20:52:10 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 20:52:10 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 20:52:10 ubuntu etcd[58985]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 20:52:10 ubuntu etcd[58985]:         A future release of golang/protobuf will delete this package,
Dec 06 20:52:10 ubuntu etcd[58985]:         which has long been excluded from the compatibility promise.
Dec 06 20:52:10 ubuntu etcd[58985]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:52:10 ubuntu etcd[58985]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:52:10 ubuntu etcd[58985]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:52:10 ubuntu etcd[58985]: etcd Version: 3.4.27
Dec 06 20:52:10 ubuntu etcd[58985]: Git SHA: c92fb80f3
Dec 06 20:52:10 ubuntu etcd[58985]: Go Version: go1.19.10
Dec 06 20:52:10 ubuntu etcd[58985]: Go OS/Arch: linux/amd64
Dec 06 20:52:10 ubuntu etcd[58985]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 20:52:10 ubuntu etcd[58985]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:52:10 ubuntu etcd[58985]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 20:52:10 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 20:52:10 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:52:10 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:52:10 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 06 20:52:10 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 20:52:10 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 20:52:10 ubuntu etcd[59056]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 20:52:10 ubuntu etcd[59056]:         A future release of golang/protobuf will delete this package,
Dec 06 20:52:10 ubuntu etcd[59056]:         which has long been excluded from the compatibility promise.
Dec 06 20:52:10 ubuntu etcd[59056]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:52:10 ubuntu etcd[59056]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:52:10 ubuntu etcd[59056]: etcd Version: 3.4.27
Dec 06 20:52:10 ubuntu etcd[59056]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:52:10 ubuntu etcd[59056]: Git SHA: c92fb80f3
Dec 06 20:52:10 ubuntu etcd[59056]: Go Version: go1.19.10
Dec 06 20:52:10 ubuntu etcd[59056]: Go OS/Arch: linux/amd64
Dec 06 20:52:10 ubuntu etcd[59056]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 20:52:10 ubuntu etcd[59056]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:52:10 ubuntu etcd[59056]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 20:52:10 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 20:52:10 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:52:10 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:52:10 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 06 20:52:10 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 20:52:10 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 20:52:10 ubuntu etcd[59069]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 20:52:10 ubuntu etcd[59069]:         A future release of golang/protobuf will delete this package,
Dec 06 20:52:10 ubuntu etcd[59069]:         which has long been excluded from the compatibility promise.
Dec 06 20:52:10 ubuntu etcd[59069]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:52:10 ubuntu etcd[59069]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:52:10 ubuntu etcd[59069]: etcd Version: 3.4.27
Dec 06 20:52:10 ubuntu etcd[59069]: Git SHA: c92fb80f3
Dec 06 20:52:10 ubuntu etcd[59069]: Go Version: go1.19.10
Dec 06 20:52:10 ubuntu etcd[59069]: Go OS/Arch: linux/amd64
Dec 06 20:52:10 ubuntu etcd[59069]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 20:52:10 ubuntu etcd[59069]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:52:10 ubuntu etcd[59069]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:52:10 ubuntu etcd[59069]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 20:52:10 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 20:52:10 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:52:10 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:52:11 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 06 20:52:11 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 20:52:11 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 20:52:11 ubuntu etcd[59091]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 20:52:11 ubuntu etcd[59091]:         A future release of golang/protobuf will delete this package,
Dec 06 20:52:11 ubuntu etcd[59091]:         which has long been excluded from the compatibility promise.
Dec 06 20:52:11 ubuntu etcd[59091]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:52:11 ubuntu etcd[59091]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:52:11 ubuntu etcd[59091]: etcd Version: 3.4.27
Dec 06 20:52:11 ubuntu etcd[59091]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:52:11 ubuntu etcd[59091]: Git SHA: c92fb80f3
Dec 06 20:52:11 ubuntu etcd[59091]: Go Version: go1.19.10
Dec 06 20:52:11 ubuntu etcd[59091]: Go OS/Arch: linux/amd64
Dec 06 20:52:11 ubuntu etcd[59091]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 20:52:11 ubuntu etcd[59091]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:52:11 ubuntu etcd[59091]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 20:52:11 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 20:52:11 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:52:11 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:52:11 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 06 20:52:11 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 20:52:11 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 06 20:52:11 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:52:11 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
