Apr 23 09:42:09 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 23 09:42:09 ubuntu etcd[61276]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 23 09:42:09 ubuntu etcd[61276]:         A future release of golang/protobuf will delete this package,
Apr 23 09:42:09 ubuntu etcd[61276]:         which has long been excluded from the compatibility promise.
Apr 23 09:42:09 ubuntu etcd[61276]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 23 09:42:09 ubuntu etcd[61276]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 23 09:42:09 ubuntu etcd[61276]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 23 09:42:09 ubuntu etcd[61276]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 23 09:42:09 ubuntu etcd[61276]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 23 09:42:09 ubuntu etcd[61276]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 23 09:42:09 ubuntu etcd[61276]: Running http and grpc server on single port. This is not recommended for production.
Apr 23 09:42:09 ubuntu etcd[61276]: etcd Version: 3.4.27
Apr 23 09:42:09 ubuntu etcd[61276]: Git SHA: c92fb80f3
Apr 23 09:42:09 ubuntu etcd[61276]: Go Version: go1.19.10
Apr 23 09:42:09 ubuntu etcd[61276]: Go OS/Arch: linux/amd64
Apr 23 09:42:09 ubuntu etcd[61276]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 23 09:42:09 ubuntu etcd[61276]: Running http and grpc server on single port. This is not recommended for production.
Apr 23 09:42:09 ubuntu etcd[61276]: name = ubuntu
Apr 23 09:42:09 ubuntu etcd[61276]: data dir = /opt/stack/data/etcd
Apr 23 09:42:09 ubuntu etcd[61276]: member dir = /opt/stack/data/etcd/member
Apr 23 09:42:09 ubuntu etcd[61276]: heartbeat = 100ms
Apr 23 09:42:09 ubuntu etcd[61276]: election = 1000ms
Apr 23 09:42:09 ubuntu etcd[61276]: snapshot count = 100000
Apr 23 09:42:09 ubuntu etcd[61276]: advertise client URLs = http://10.201.4.32:2379
Apr 23 09:42:09 ubuntu etcd[61276]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 23 09:42:09 ubuntu etcd[61276]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 23 09:42:09 ubuntu etcd[61276]: raft2024/04/23 09:42:09 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 23 09:42:09 ubuntu etcd[61276]: raft2024/04/23 09:42:09 INFO: 33238c1cdfea94eb became follower at term 0
Apr 23 09:42:09 ubuntu etcd[61276]: raft2024/04/23 09:42:09 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 23 09:42:09 ubuntu etcd[61276]: raft2024/04/23 09:42:09 INFO: 33238c1cdfea94eb became follower at term 1
Apr 23 09:42:09 ubuntu etcd[61276]: raft2024/04/23 09:42:09 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 23 09:42:09 ubuntu etcd[61276]: simple token is not cryptographically signed
Apr 23 09:42:09 ubuntu etcd[61276]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 23 09:42:09 ubuntu etcd[61276]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 23 09:42:09 ubuntu etcd[61276]: raft2024/04/23 09:42:09 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 23 09:42:09 ubuntu etcd[61276]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 23 09:42:09 ubuntu etcd[61276]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 23 09:42:09 ubuntu etcd[61276]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 23 09:42:09 ubuntu etcd[61276]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 23 09:42:09 ubuntu etcd[61276]: listening for peers on [::]:2380
Apr 23 09:42:10 ubuntu etcd[61276]: raft2024/04/23 09:42:10 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 23 09:42:10 ubuntu etcd[61276]: raft2024/04/23 09:42:10 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 23 09:42:10 ubuntu etcd[61276]: raft2024/04/23 09:42:10 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 23 09:42:10 ubuntu etcd[61276]: raft2024/04/23 09:42:10 INFO: 33238c1cdfea94eb became leader at term 2
Apr 23 09:42:10 ubuntu etcd[61276]: raft2024/04/23 09:42:10 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 23 09:42:10 ubuntu etcd[61276]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 23 09:42:10 ubuntu etcd[61276]: setting up the initial cluster version to 3.4
Apr 23 09:42:10 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 23 09:42:10 ubuntu etcd[61276]: INFO: 2024/04/23 09:42:10 parsed scheme: ""
Apr 23 09:42:10 ubuntu etcd[61276]: INFO: 2024/04/23 09:42:10 scheme "" not registered, fallback to default scheme
Apr 23 09:42:10 ubuntu etcd[61276]: INFO: 2024/04/23 09:42:10 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 23 09:42:10 ubuntu etcd[61276]: INFO: 2024/04/23 09:42:10 ClientConn switching balancer to "pick_first"
Apr 23 09:42:10 ubuntu etcd[61276]: ready to serve client requests
Apr 23 09:42:10 ubuntu etcd[61276]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 23 09:42:10 ubuntu etcd[61276]: set the initial cluster version to 3.4
Apr 23 09:42:10 ubuntu etcd[61276]: enabled capabilities for version 3.4
Apr 23 09:46:29 ubuntu etcd[61276]: start time = 2024-04-23 09:46:29.989078019 +0000 UTC m=+260.262929798, time spent = 409.377µs, remote = 10.201.4.32:58338, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 23 09:46:30 ubuntu etcd[61276]: start time = 2024-04-23 09:46:30.086618873 +0000 UTC m=+260.360470652, time spent = 299.122µs, remote = 10.201.4.32:58338, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 23 09:46:36 ubuntu etcd[61276]: start time = 2024-04-23 09:46:36.336706305 +0000 UTC m=+266.610558084, time spent = 375.728µs, remote = 10.201.4.32:58338, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 23 09:46:38 ubuntu etcd[61276]: start time = 2024-04-23 09:46:38.87983818 +0000 UTC m=+269.153689960, time spent = 1.076676ms, remote = 10.201.4.32:58338, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
