Jan 13 12:40:11 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 13 12:40:11 ubuntu etcd[59062]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 13 12:40:11 ubuntu etcd[59062]:         A future release of golang/protobuf will delete this package,
Jan 13 12:40:11 ubuntu etcd[59062]:         which has long been excluded from the compatibility promise.
Jan 13 12:40:11 ubuntu etcd[59062]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 13 12:40:11 ubuntu etcd[59062]: Running http and grpc server on single port. This is not recommended for production.
Jan 13 12:40:11 ubuntu etcd[59062]: etcd Version: 3.4.27
Jan 13 12:40:11 ubuntu etcd[59062]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 13 12:40:11 ubuntu etcd[59062]: Git SHA: c92fb80f3
Jan 13 12:40:11 ubuntu etcd[59062]: Go Version: go1.19.10
Jan 13 12:40:11 ubuntu etcd[59062]: Go OS/Arch: linux/amd64
Jan 13 12:40:11 ubuntu etcd[59062]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 13 12:40:11 ubuntu etcd[59062]: Running http and grpc server on single port. This is not recommended for production.
Jan 13 12:40:11 ubuntu etcd[59062]: name = ubuntu
Jan 13 12:40:11 ubuntu etcd[59062]: data dir = /opt/stack/data/etcd
Jan 13 12:40:11 ubuntu etcd[59062]: member dir = /opt/stack/data/etcd/member
Jan 13 12:40:11 ubuntu etcd[59062]: heartbeat = 100ms
Jan 13 12:40:11 ubuntu etcd[59062]: election = 1000ms
Jan 13 12:40:11 ubuntu etcd[59062]: snapshot count = 100000
Jan 13 12:40:11 ubuntu etcd[59062]: advertise client URLs = http://10.201.9.223:2379
Jan 13 12:40:11 ubuntu etcd[59062]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 13 12:40:11 ubuntu etcd[59062]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 13 12:40:11 ubuntu etcd[59062]: raft2025/01/13 12:40:11 INFO: c25b29daa831042c switched to configuration voters=()
Jan 13 12:40:11 ubuntu etcd[59062]: raft2025/01/13 12:40:11 INFO: c25b29daa831042c became follower at term 0
Jan 13 12:40:11 ubuntu etcd[59062]: raft2025/01/13 12:40:11 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 13 12:40:11 ubuntu etcd[59062]: raft2025/01/13 12:40:11 INFO: c25b29daa831042c became follower at term 1
Jan 13 12:40:11 ubuntu etcd[59062]: raft2025/01/13 12:40:11 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 13 12:40:11 ubuntu etcd[59062]: simple token is not cryptographically signed
Jan 13 12:40:11 ubuntu etcd[59062]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 13 12:40:11 ubuntu etcd[59062]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 13 12:40:11 ubuntu etcd[59062]: raft2025/01/13 12:40:11 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 13 12:40:11 ubuntu etcd[59062]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 13 12:40:11 ubuntu etcd[59062]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 13 12:40:11 ubuntu etcd[59062]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 13 12:40:11 ubuntu etcd[59062]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 13 12:40:11 ubuntu etcd[59062]: listening for peers on [::]:2380
Jan 13 12:40:11 ubuntu etcd[59062]: raft2025/01/13 12:40:11 INFO: c25b29daa831042c is starting a new election at term 1
Jan 13 12:40:11 ubuntu etcd[59062]: raft2025/01/13 12:40:11 INFO: c25b29daa831042c became candidate at term 2
Jan 13 12:40:11 ubuntu etcd[59062]: raft2025/01/13 12:40:11 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 13 12:40:11 ubuntu etcd[59062]: raft2025/01/13 12:40:11 INFO: c25b29daa831042c became leader at term 2
Jan 13 12:40:11 ubuntu etcd[59062]: raft2025/01/13 12:40:11 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 13 12:40:11 ubuntu etcd[59062]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 13 12:40:11 ubuntu etcd[59062]: setting up the initial cluster version to 3.4
Jan 13 12:40:11 ubuntu etcd[59062]: ready to serve client requests
Jan 13 12:40:11 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 13 12:40:11 ubuntu etcd[59062]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 13 12:40:11 ubuntu etcd[59062]: set the initial cluster version to 3.4
Jan 13 12:40:11 ubuntu etcd[59062]: enabled capabilities for version 3.4
Jan 13 12:44:33 ubuntu etcd[59062]: start time = 2025-01-13 12:44:33.965382499 +0000 UTC m=+262.944082591, time spent = 467.693µs, remote = 10.201.9.223:58926, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 13 12:44:34 ubuntu etcd[59062]: start time = 2025-01-13 12:44:34.004655364 +0000 UTC m=+262.983355475, time spent = 163.574µs, remote = 10.201.9.223:58926, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 13 12:44:40 ubuntu etcd[59062]: start time = 2025-01-13 12:44:40.604105009 +0000 UTC m=+269.582805117, time spent = 165.488µs, remote = 10.201.9.223:58926, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 13 12:44:42 ubuntu etcd[59062]: start time = 2025-01-13 12:44:42.694085158 +0000 UTC m=+271.672785263, time spent = 345.133µs, remote = 10.201.9.223:58926, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
