Dec 12 19:02:08 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 12 19:02:08 ubuntu etcd[59165]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 12 19:02:08 ubuntu etcd[59165]:         A future release of golang/protobuf will delete this package,
Dec 12 19:02:08 ubuntu etcd[59165]:         which has long been excluded from the compatibility promise.
Dec 12 19:02:08 ubuntu etcd[59165]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 19:02:08 ubuntu etcd[59165]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 19:02:08 ubuntu etcd[59165]: etcd Version: 3.4.27
Dec 12 19:02:08 ubuntu etcd[59165]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 19:02:08 ubuntu etcd[59165]: Git SHA: c92fb80f3
Dec 12 19:02:08 ubuntu etcd[59165]: Go Version: go1.19.10
Dec 12 19:02:08 ubuntu etcd[59165]: Go OS/Arch: linux/amd64
Dec 12 19:02:08 ubuntu etcd[59165]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 12 19:02:08 ubuntu etcd[59165]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 19:02:08 ubuntu etcd[59165]: name = ubuntu
Dec 12 19:02:08 ubuntu etcd[59165]: data dir = /opt/stack/data/etcd
Dec 12 19:02:08 ubuntu etcd[59165]: member dir = /opt/stack/data/etcd/member
Dec 12 19:02:08 ubuntu etcd[59165]: heartbeat = 100ms
Dec 12 19:02:08 ubuntu etcd[59165]: election = 1000ms
Dec 12 19:02:08 ubuntu etcd[59165]: snapshot count = 100000
Dec 12 19:02:08 ubuntu etcd[59165]: advertise client URLs = http://10.201.9.223:2379
Dec 12 19:02:08 ubuntu etcd[59165]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 12 19:02:08 ubuntu etcd[59165]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 12 19:02:08 ubuntu etcd[59165]: raft2024/12/12 19:02:08 INFO: c25b29daa831042c switched to configuration voters=()
Dec 12 19:02:08 ubuntu etcd[59165]: raft2024/12/12 19:02:08 INFO: c25b29daa831042c became follower at term 0
Dec 12 19:02:08 ubuntu etcd[59165]: raft2024/12/12 19:02:08 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 12 19:02:08 ubuntu etcd[59165]: raft2024/12/12 19:02:08 INFO: c25b29daa831042c became follower at term 1
Dec 12 19:02:08 ubuntu etcd[59165]: raft2024/12/12 19:02:08 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 12 19:02:08 ubuntu etcd[59165]: simple token is not cryptographically signed
Dec 12 19:02:08 ubuntu etcd[59165]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 12 19:02:08 ubuntu etcd[59165]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 12 19:02:08 ubuntu etcd[59165]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 12 19:02:08 ubuntu etcd[59165]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 12 19:02:08 ubuntu etcd[59165]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 12 19:02:08 ubuntu etcd[59165]: raft2024/12/12 19:02:08 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 12 19:02:08 ubuntu etcd[59165]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 12 19:02:08 ubuntu etcd[59165]: listening for peers on [::]:2380
Dec 12 19:02:08 ubuntu etcd[59165]: raft2024/12/12 19:02:08 INFO: c25b29daa831042c is starting a new election at term 1
Dec 12 19:02:08 ubuntu etcd[59165]: raft2024/12/12 19:02:08 INFO: c25b29daa831042c became candidate at term 2
Dec 12 19:02:08 ubuntu etcd[59165]: raft2024/12/12 19:02:08 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 12 19:02:08 ubuntu etcd[59165]: raft2024/12/12 19:02:08 INFO: c25b29daa831042c became leader at term 2
Dec 12 19:02:08 ubuntu etcd[59165]: raft2024/12/12 19:02:08 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 12 19:02:08 ubuntu etcd[59165]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 12 19:02:08 ubuntu etcd[59165]: setting up the initial cluster version to 3.4
Dec 12 19:02:08 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 12 19:02:08 ubuntu etcd[59165]: ready to serve client requests
Dec 12 19:02:08 ubuntu etcd[59165]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 12 19:02:08 ubuntu etcd[59165]: set the initial cluster version to 3.4
Dec 12 19:02:08 ubuntu etcd[59165]: enabled capabilities for version 3.4
Dec 12 19:06:31 ubuntu etcd[59165]: start time = 2024-12-12 19:06:31.0117527 +0000 UTC m=+262.722261811, time spent = 427.439µs, remote = 10.201.9.223:36862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 19:06:31 ubuntu etcd[59165]: start time = 2024-12-12 19:06:31.014308304 +0000 UTC m=+262.724817434, time spent = 139.018µs, remote = 10.201.9.223:36862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 19:06:37 ubuntu etcd[59165]: start time = 2024-12-12 19:06:37.433943962 +0000 UTC m=+269.144453098, time spent = 187.153µs, remote = 10.201.9.223:36862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 19:06:39 ubuntu etcd[59165]: start time = 2024-12-12 19:06:39.818987667 +0000 UTC m=+271.529496795, time spent = 600.191µs, remote = 10.201.9.223:36862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
