Nov 29 17:02:59 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Nov 29 17:02:59 ubuntu etcd[59012]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Nov 29 17:02:59 ubuntu etcd[59012]:         A future release of golang/protobuf will delete this package,
Nov 29 17:02:59 ubuntu etcd[59012]:         which has long been excluded from the compatibility promise.
Nov 29 17:02:59 ubuntu etcd[59012]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 29 17:02:59 ubuntu etcd[59012]: Running http and grpc server on single port. This is not recommended for production.
Nov 29 17:02:59 ubuntu etcd[59012]: etcd Version: 3.4.27
Nov 29 17:02:59 ubuntu etcd[59012]: Git SHA: c92fb80f3
Nov 29 17:02:59 ubuntu etcd[59012]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 29 17:02:59 ubuntu etcd[59012]: Go Version: go1.19.10
Nov 29 17:02:59 ubuntu etcd[59012]: Go OS/Arch: linux/amd64
Nov 29 17:02:59 ubuntu etcd[59012]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Nov 29 17:02:59 ubuntu etcd[59012]: Running http and grpc server on single port. This is not recommended for production.
Nov 29 17:02:59 ubuntu etcd[59012]: name = ubuntu
Nov 29 17:02:59 ubuntu etcd[59012]: data dir = /opt/stack/data/etcd
Nov 29 17:02:59 ubuntu etcd[59012]: member dir = /opt/stack/data/etcd/member
Nov 29 17:02:59 ubuntu etcd[59012]: heartbeat = 100ms
Nov 29 17:02:59 ubuntu etcd[59012]: election = 1000ms
Nov 29 17:02:59 ubuntu etcd[59012]: snapshot count = 100000
Nov 29 17:02:59 ubuntu etcd[59012]: advertise client URLs = http://10.201.4.32:2379
Nov 29 17:02:59 ubuntu etcd[59012]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Nov 29 17:03:00 ubuntu etcd[59012]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Nov 29 17:03:00 ubuntu etcd[59012]: raft2024/11/29 17:03:00 INFO: 33238c1cdfea94eb switched to configuration voters=()
Nov 29 17:03:00 ubuntu etcd[59012]: raft2024/11/29 17:03:00 INFO: 33238c1cdfea94eb became follower at term 0
Nov 29 17:03:00 ubuntu etcd[59012]: raft2024/11/29 17:03:00 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Nov 29 17:03:00 ubuntu etcd[59012]: raft2024/11/29 17:03:00 INFO: 33238c1cdfea94eb became follower at term 1
Nov 29 17:03:00 ubuntu etcd[59012]: raft2024/11/29 17:03:00 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Nov 29 17:03:00 ubuntu etcd[59012]: simple token is not cryptographically signed
Nov 29 17:03:00 ubuntu etcd[59012]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Nov 29 17:03:00 ubuntu etcd[59012]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Nov 29 17:03:00 ubuntu etcd[59012]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Nov 29 17:03:00 ubuntu etcd[59012]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Nov 29 17:03:00 ubuntu etcd[59012]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Nov 29 17:03:00 ubuntu etcd[59012]: raft2024/11/29 17:03:00 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Nov 29 17:03:00 ubuntu etcd[59012]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Nov 29 17:03:00 ubuntu etcd[59012]: listening for peers on [::]:2380
Nov 29 17:03:00 ubuntu etcd[59012]: raft2024/11/29 17:03:00 INFO: 33238c1cdfea94eb is starting a new election at term 1
Nov 29 17:03:00 ubuntu etcd[59012]: raft2024/11/29 17:03:00 INFO: 33238c1cdfea94eb became candidate at term 2
Nov 29 17:03:00 ubuntu etcd[59012]: raft2024/11/29 17:03:00 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Nov 29 17:03:00 ubuntu etcd[59012]: raft2024/11/29 17:03:00 INFO: 33238c1cdfea94eb became leader at term 2
Nov 29 17:03:00 ubuntu etcd[59012]: raft2024/11/29 17:03:00 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Nov 29 17:03:00 ubuntu etcd[59012]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Nov 29 17:03:00 ubuntu etcd[59012]: setting up the initial cluster version to 3.4
Nov 29 17:03:00 ubuntu etcd[59012]: ready to serve client requests
Nov 29 17:03:00 ubuntu etcd[59012]: set the initial cluster version to 3.4
Nov 29 17:03:00 ubuntu etcd[59012]: enabled capabilities for version 3.4
Nov 29 17:03:00 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Nov 29 17:03:00 ubuntu etcd[59012]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Nov 29 17:07:12 ubuntu etcd[59012]: start time = 2024-11-29 17:07:12.846057586 +0000 UTC m=+252.878981144, time spent = 501.826µs, remote = 10.201.4.32:47746, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 17:07:12 ubuntu etcd[59012]: start time = 2024-11-29 17:07:12.993738258 +0000 UTC m=+253.026661808, time spent = 235.003µs, remote = 10.201.4.32:47746, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 17:07:19 ubuntu etcd[59012]: start time = 2024-11-29 17:07:19.505145573 +0000 UTC m=+259.538069141, time spent = 184.708µs, remote = 10.201.4.32:47746, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 17:07:21 ubuntu etcd[59012]: start time = 2024-11-29 17:07:21.70607491 +0000 UTC m=+261.738998473, time spent = 173.897µs, remote = 10.201.4.32:47746, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
