Apr 10 15:18:19 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 10 15:18:19 ubuntu etcd[59735]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 10 15:18:19 ubuntu etcd[59735]:         A future release of golang/protobuf will delete this package,
Apr 10 15:18:19 ubuntu etcd[59735]:         which has long been excluded from the compatibility promise.
Apr 10 15:18:19 ubuntu etcd[59735]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 10 15:18:19 ubuntu etcd[59735]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 10 15:18:19 ubuntu etcd[59735]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 10 15:18:19 ubuntu etcd[59735]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 10 15:18:19 ubuntu etcd[59735]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 10 15:18:19 ubuntu etcd[59735]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 10 15:18:19 ubuntu etcd[59735]: Running http and grpc server on single port. This is not recommended for production.
Apr 10 15:18:19 ubuntu etcd[59735]: etcd Version: 3.4.27
Apr 10 15:18:19 ubuntu etcd[59735]: Git SHA: c92fb80f3
Apr 10 15:18:19 ubuntu etcd[59735]: Go Version: go1.19.10
Apr 10 15:18:19 ubuntu etcd[59735]: Go OS/Arch: linux/amd64
Apr 10 15:18:19 ubuntu etcd[59735]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 10 15:18:19 ubuntu etcd[59735]: Running http and grpc server on single port. This is not recommended for production.
Apr 10 15:18:19 ubuntu etcd[59735]: name = ubuntu
Apr 10 15:18:19 ubuntu etcd[59735]: data dir = /opt/stack/data/etcd
Apr 10 15:18:19 ubuntu etcd[59735]: member dir = /opt/stack/data/etcd/member
Apr 10 15:18:19 ubuntu etcd[59735]: heartbeat = 100ms
Apr 10 15:18:19 ubuntu etcd[59735]: election = 1000ms
Apr 10 15:18:19 ubuntu etcd[59735]: snapshot count = 100000
Apr 10 15:18:19 ubuntu etcd[59735]: advertise client URLs = http://10.201.4.32:2379
Apr 10 15:18:19 ubuntu etcd[59735]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 10 15:18:19 ubuntu etcd[59735]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 10 15:18:19 ubuntu etcd[59735]: raft2024/04/10 15:18:19 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 10 15:18:19 ubuntu etcd[59735]: raft2024/04/10 15:18:19 INFO: 33238c1cdfea94eb became follower at term 0
Apr 10 15:18:19 ubuntu etcd[59735]: raft2024/04/10 15:18:19 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 10 15:18:19 ubuntu etcd[59735]: raft2024/04/10 15:18:19 INFO: 33238c1cdfea94eb became follower at term 1
Apr 10 15:18:19 ubuntu etcd[59735]: raft2024/04/10 15:18:19 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 10 15:18:19 ubuntu etcd[59735]: simple token is not cryptographically signed
Apr 10 15:18:19 ubuntu etcd[59735]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 10 15:18:19 ubuntu etcd[59735]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 10 15:18:19 ubuntu etcd[59735]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 10 15:18:19 ubuntu etcd[59735]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 10 15:18:19 ubuntu etcd[59735]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 10 15:18:19 ubuntu etcd[59735]: listening for peers on [::]:2380
Apr 10 15:18:19 ubuntu etcd[59735]: raft2024/04/10 15:18:19 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 10 15:18:19 ubuntu etcd[59735]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 10 15:18:20 ubuntu etcd[59735]: raft2024/04/10 15:18:20 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 10 15:18:20 ubuntu etcd[59735]: raft2024/04/10 15:18:20 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 10 15:18:20 ubuntu etcd[59735]: raft2024/04/10 15:18:20 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 10 15:18:20 ubuntu etcd[59735]: raft2024/04/10 15:18:20 INFO: 33238c1cdfea94eb became leader at term 2
Apr 10 15:18:20 ubuntu etcd[59735]: raft2024/04/10 15:18:20 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 10 15:18:20 ubuntu etcd[59735]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 10 15:18:20 ubuntu etcd[59735]: ready to serve client requests
Apr 10 15:18:20 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 10 15:18:20 ubuntu etcd[59735]: INFO: 2024/04/10 15:18:20 parsed scheme: ""
Apr 10 15:18:20 ubuntu etcd[59735]: INFO: 2024/04/10 15:18:20 scheme "" not registered, fallback to default scheme
Apr 10 15:18:20 ubuntu etcd[59735]: INFO: 2024/04/10 15:18:20 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 10 15:18:20 ubuntu etcd[59735]: INFO: 2024/04/10 15:18:20 ClientConn switching balancer to "pick_first"
Apr 10 15:18:20 ubuntu etcd[59735]: setting up the initial cluster version to 3.4
Apr 10 15:18:20 ubuntu etcd[59735]: set the initial cluster version to 3.4
Apr 10 15:18:20 ubuntu etcd[59735]: enabled capabilities for version 3.4
Apr 10 15:18:20 ubuntu etcd[59735]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 10 15:22:52 ubuntu etcd[59735]: start time = 2024-04-10 15:22:52.724603085 +0000 UTC m=+273.052399969, time spent = 474.344µs, remote = 10.201.4.32:41062, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 10 15:22:52 ubuntu etcd[59735]: start time = 2024-04-10 15:22:52.772364584 +0000 UTC m=+273.100161477, time spent = 159.05µs, remote = 10.201.4.32:41062, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 10 15:22:59 ubuntu etcd[59735]: start time = 2024-04-10 15:22:59.344584307 +0000 UTC m=+279.672381202, time spent = 167.339µs, remote = 10.201.4.32:41062, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 10 15:23:02 ubuntu etcd[59735]: start time = 2024-04-10 15:23:02.051055198 +0000 UTC m=+282.378852081, time spent = 367.465µs, remote = 10.201.4.32:41062, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
