Jul 25 22:24:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 25 22:24:58 ubuntu etcd[58487]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 25 22:24:58 ubuntu etcd[58487]:         A future release of golang/protobuf will delete this package,
Jul 25 22:24:58 ubuntu etcd[58487]:         which has long been excluded from the compatibility promise.
Jul 25 22:24:58 ubuntu etcd[58487]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 25 22:24:58 ubuntu etcd[58487]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 25 22:24:58 ubuntu etcd[58487]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 25 22:24:58 ubuntu etcd[58487]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 25 22:24:58 ubuntu etcd[58487]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 25 22:24:58 ubuntu etcd[58487]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 25 22:24:58 ubuntu etcd[58487]: Running http and grpc server on single port. This is not recommended for production.
Jul 25 22:24:58 ubuntu etcd[58487]: etcd Version: 3.4.27
Jul 25 22:24:58 ubuntu etcd[58487]: Git SHA: c92fb80f3
Jul 25 22:24:58 ubuntu etcd[58487]: Go Version: go1.19.10
Jul 25 22:24:58 ubuntu etcd[58487]: Go OS/Arch: linux/amd64
Jul 25 22:24:58 ubuntu etcd[58487]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 25 22:24:58 ubuntu etcd[58487]: Running http and grpc server on single port. This is not recommended for production.
Jul 25 22:24:58 ubuntu etcd[58487]: name = ubuntu
Jul 25 22:24:58 ubuntu etcd[58487]: data dir = /opt/stack/data/etcd
Jul 25 22:24:58 ubuntu etcd[58487]: member dir = /opt/stack/data/etcd/member
Jul 25 22:24:58 ubuntu etcd[58487]: heartbeat = 100ms
Jul 25 22:24:58 ubuntu etcd[58487]: election = 1000ms
Jul 25 22:24:58 ubuntu etcd[58487]: snapshot count = 100000
Jul 25 22:24:58 ubuntu etcd[58487]: advertise client URLs = http://10.201.4.32:2379
Jul 25 22:24:58 ubuntu etcd[58487]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 25 22:24:58 ubuntu etcd[58487]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jul 25 22:24:58 ubuntu etcd[58487]: raft2024/07/25 22:24:58 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jul 25 22:24:58 ubuntu etcd[58487]: raft2024/07/25 22:24:58 INFO: 33238c1cdfea94eb became follower at term 0
Jul 25 22:24:58 ubuntu etcd[58487]: raft2024/07/25 22:24:58 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 25 22:24:58 ubuntu etcd[58487]: raft2024/07/25 22:24:58 INFO: 33238c1cdfea94eb became follower at term 1
Jul 25 22:24:58 ubuntu etcd[58487]: raft2024/07/25 22:24:58 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 25 22:24:58 ubuntu etcd[58487]: simple token is not cryptographically signed
Jul 25 22:24:58 ubuntu etcd[58487]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 25 22:24:58 ubuntu etcd[58487]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 25 22:24:58 ubuntu etcd[58487]: raft2024/07/25 22:24:58 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 25 22:24:58 ubuntu etcd[58487]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jul 25 22:24:58 ubuntu etcd[58487]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 25 22:24:58 ubuntu etcd[58487]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 25 22:24:58 ubuntu etcd[58487]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 25 22:24:58 ubuntu etcd[58487]: listening for peers on [::]:2380
Jul 25 22:24:58 ubuntu etcd[58487]: raft2024/07/25 22:24:58 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jul 25 22:24:58 ubuntu etcd[58487]: raft2024/07/25 22:24:58 INFO: 33238c1cdfea94eb became candidate at term 2
Jul 25 22:24:58 ubuntu etcd[58487]: raft2024/07/25 22:24:58 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jul 25 22:24:58 ubuntu etcd[58487]: raft2024/07/25 22:24:58 INFO: 33238c1cdfea94eb became leader at term 2
Jul 25 22:24:58 ubuntu etcd[58487]: raft2024/07/25 22:24:58 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jul 25 22:24:58 ubuntu etcd[58487]: INFO: 2024/07/25 22:24:58 parsed scheme: ""
Jul 25 22:24:58 ubuntu etcd[58487]: INFO: 2024/07/25 22:24:58 scheme "" not registered, fallback to default scheme
Jul 25 22:24:58 ubuntu etcd[58487]: INFO: 2024/07/25 22:24:58 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 25 22:24:58 ubuntu etcd[58487]: INFO: 2024/07/25 22:24:58 ClientConn switching balancer to "pick_first"
Jul 25 22:24:58 ubuntu etcd[58487]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jul 25 22:24:58 ubuntu etcd[58487]: setting up the initial cluster version to 3.4
Jul 25 22:24:58 ubuntu etcd[58487]: ready to serve client requests
Jul 25 22:24:58 ubuntu etcd[58487]: set the initial cluster version to 3.4
Jul 25 22:24:58 ubuntu etcd[58487]: enabled capabilities for version 3.4
Jul 25 22:24:58 ubuntu etcd[58487]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jul 25 22:24:58 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 25 22:29:17 ubuntu etcd[58487]: start time = 2024-07-25 22:29:17.643922261 +0000 UTC m=+259.453279696, time spent = 447.709µs, remote = 10.201.4.32:46594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 22:29:17 ubuntu etcd[58487]: start time = 2024-07-25 22:29:17.669010649 +0000 UTC m=+259.478368083, time spent = 190.048µs, remote = 10.201.4.32:46594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 22:29:24 ubuntu etcd[58487]: start time = 2024-07-25 22:29:24.212144962 +0000 UTC m=+266.021502396, time spent = 161.022µs, remote = 10.201.4.32:46594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 22:29:26 ubuntu etcd[58487]: start time = 2024-07-25 22:29:26.450769243 +0000 UTC m=+268.260126682, time spent = 214.39µs, remote = 10.201.4.32:46594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
