Jul 25 15:30:01 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 25 15:30:01 ubuntu etcd[58551]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 25 15:30:01 ubuntu etcd[58551]:         A future release of golang/protobuf will delete this package,
Jul 25 15:30:01 ubuntu etcd[58551]:         which has long been excluded from the compatibility promise.
Jul 25 15:30:01 ubuntu etcd[58551]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 25 15:30:01 ubuntu etcd[58551]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 25 15:30:01 ubuntu etcd[58551]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 25 15:30:01 ubuntu etcd[58551]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 25 15:30:01 ubuntu etcd[58551]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 25 15:30:01 ubuntu etcd[58551]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 25 15:30:01 ubuntu etcd[58551]: Running http and grpc server on single port. This is not recommended for production.
Jul 25 15:30:01 ubuntu etcd[58551]: etcd Version: 3.4.27
Jul 25 15:30:01 ubuntu etcd[58551]: Git SHA: c92fb80f3
Jul 25 15:30:01 ubuntu etcd[58551]: Go Version: go1.19.10
Jul 25 15:30:01 ubuntu etcd[58551]: Go OS/Arch: linux/amd64
Jul 25 15:30:01 ubuntu etcd[58551]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 25 15:30:01 ubuntu etcd[58551]: Running http and grpc server on single port. This is not recommended for production.
Jul 25 15:30:01 ubuntu etcd[58551]: name = ubuntu
Jul 25 15:30:01 ubuntu etcd[58551]: data dir = /opt/stack/data/etcd
Jul 25 15:30:01 ubuntu etcd[58551]: member dir = /opt/stack/data/etcd/member
Jul 25 15:30:01 ubuntu etcd[58551]: heartbeat = 100ms
Jul 25 15:30:01 ubuntu etcd[58551]: election = 1000ms
Jul 25 15:30:01 ubuntu etcd[58551]: snapshot count = 100000
Jul 25 15:30:01 ubuntu etcd[58551]: advertise client URLs = http://10.201.4.32:2379
Jul 25 15:30:01 ubuntu etcd[58551]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 25 15:30:01 ubuntu etcd[58551]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jul 25 15:30:01 ubuntu etcd[58551]: raft2024/07/25 15:30:01 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jul 25 15:30:01 ubuntu etcd[58551]: raft2024/07/25 15:30:01 INFO: 33238c1cdfea94eb became follower at term 0
Jul 25 15:30:01 ubuntu etcd[58551]: raft2024/07/25 15:30:01 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 25 15:30:01 ubuntu etcd[58551]: raft2024/07/25 15:30:01 INFO: 33238c1cdfea94eb became follower at term 1
Jul 25 15:30:01 ubuntu etcd[58551]: raft2024/07/25 15:30:01 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 25 15:30:01 ubuntu etcd[58551]: simple token is not cryptographically signed
Jul 25 15:30:01 ubuntu etcd[58551]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 25 15:30:01 ubuntu etcd[58551]: raft2024/07/25 15:30:01 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 25 15:30:01 ubuntu etcd[58551]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 25 15:30:01 ubuntu etcd[58551]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 25 15:30:01 ubuntu etcd[58551]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 25 15:30:01 ubuntu etcd[58551]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 25 15:30:01 ubuntu etcd[58551]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jul 25 15:30:01 ubuntu etcd[58551]: listening for peers on [::]:2380
Jul 25 15:30:01 ubuntu etcd[58551]: raft2024/07/25 15:30:01 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jul 25 15:30:01 ubuntu etcd[58551]: raft2024/07/25 15:30:01 INFO: 33238c1cdfea94eb became candidate at term 2
Jul 25 15:30:01 ubuntu etcd[58551]: raft2024/07/25 15:30:01 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jul 25 15:30:01 ubuntu etcd[58551]: raft2024/07/25 15:30:01 INFO: 33238c1cdfea94eb became leader at term 2
Jul 25 15:30:01 ubuntu etcd[58551]: raft2024/07/25 15:30:01 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jul 25 15:30:01 ubuntu etcd[58551]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jul 25 15:30:01 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 25 15:30:01 ubuntu etcd[58551]: setting up the initial cluster version to 3.4
Jul 25 15:30:01 ubuntu etcd[58551]: set the initial cluster version to 3.4
Jul 25 15:30:01 ubuntu etcd[58551]: enabled capabilities for version 3.4
Jul 25 15:30:01 ubuntu etcd[58551]: ready to serve client requests
Jul 25 15:30:01 ubuntu etcd[58551]: INFO: 2024/07/25 15:30:01 parsed scheme: ""
Jul 25 15:30:01 ubuntu etcd[58551]: INFO: 2024/07/25 15:30:01 scheme "" not registered, fallback to default scheme
Jul 25 15:30:01 ubuntu etcd[58551]: INFO: 2024/07/25 15:30:01 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 25 15:30:01 ubuntu etcd[58551]: INFO: 2024/07/25 15:30:01 ClientConn switching balancer to "pick_first"
Jul 25 15:30:01 ubuntu etcd[58551]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jul 25 15:34:23 ubuntu etcd[58551]: start time = 2024-07-25 15:34:23.810848622 +0000 UTC m=+262.294610146, time spent = 399.125µs, remote = 10.201.4.32:51486, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 15:34:23 ubuntu etcd[58551]: start time = 2024-07-25 15:34:23.839668288 +0000 UTC m=+262.323429814, time spent = 231.266µs, remote = 10.201.4.32:51486, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 15:34:30 ubuntu etcd[58551]: start time = 2024-07-25 15:34:30.525868948 +0000 UTC m=+269.009630462, time spent = 212.55µs, remote = 10.201.4.32:51486, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 15:34:32 ubuntu etcd[58551]: start time = 2024-07-25 15:34:32.628737614 +0000 UTC m=+271.112499138, time spent = 278.32µs, remote = 10.201.4.32:51486, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
