Jan 17 10:32:45 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 17 10:32:45 ubuntu etcd[59738]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 17 10:32:45 ubuntu etcd[59738]:         A future release of golang/protobuf will delete this package,
Jan 17 10:32:45 ubuntu etcd[59738]:         which has long been excluded from the compatibility promise.
Jan 17 10:32:45 ubuntu etcd[59738]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 17 10:32:45 ubuntu etcd[59738]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 17 10:32:45 ubuntu etcd[59738]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 17 10:32:45 ubuntu etcd[59738]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 17 10:32:45 ubuntu etcd[59738]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 17 10:32:45 ubuntu etcd[59738]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 17 10:32:45 ubuntu etcd[59738]: Running http and grpc server on single port. This is not recommended for production.
Jan 17 10:32:45 ubuntu etcd[59738]: etcd Version: 3.4.27
Jan 17 10:32:45 ubuntu etcd[59738]: Git SHA: c92fb80f3
Jan 17 10:32:45 ubuntu etcd[59738]: Go Version: go1.19.10
Jan 17 10:32:45 ubuntu etcd[59738]: Go OS/Arch: linux/amd64
Jan 17 10:32:45 ubuntu etcd[59738]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 17 10:32:45 ubuntu etcd[59738]: Running http and grpc server on single port. This is not recommended for production.
Jan 17 10:32:45 ubuntu etcd[59738]: name = ubuntu
Jan 17 10:32:45 ubuntu etcd[59738]: data dir = /opt/stack/data/etcd
Jan 17 10:32:45 ubuntu etcd[59738]: member dir = /opt/stack/data/etcd/member
Jan 17 10:32:45 ubuntu etcd[59738]: heartbeat = 100ms
Jan 17 10:32:45 ubuntu etcd[59738]: election = 1000ms
Jan 17 10:32:45 ubuntu etcd[59738]: snapshot count = 100000
Jan 17 10:32:45 ubuntu etcd[59738]: advertise client URLs = http://10.201.4.32:2379
Jan 17 10:32:45 ubuntu etcd[59738]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 17 10:32:45 ubuntu etcd[59738]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 17 10:32:45 ubuntu etcd[59738]: raft2024/01/17 10:32:45 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 17 10:32:45 ubuntu etcd[59738]: raft2024/01/17 10:32:45 INFO: 33238c1cdfea94eb became follower at term 0
Jan 17 10:32:45 ubuntu etcd[59738]: raft2024/01/17 10:32:45 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 17 10:32:45 ubuntu etcd[59738]: raft2024/01/17 10:32:45 INFO: 33238c1cdfea94eb became follower at term 1
Jan 17 10:32:45 ubuntu etcd[59738]: raft2024/01/17 10:32:45 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 17 10:32:45 ubuntu etcd[59738]: simple token is not cryptographically signed
Jan 17 10:32:45 ubuntu etcd[59738]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 17 10:32:45 ubuntu etcd[59738]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 17 10:32:45 ubuntu etcd[59738]: raft2024/01/17 10:32:45 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 17 10:32:45 ubuntu etcd[59738]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 17 10:32:45 ubuntu etcd[59738]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 17 10:32:45 ubuntu etcd[59738]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 17 10:32:45 ubuntu etcd[59738]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 17 10:32:45 ubuntu etcd[59738]: listening for peers on [::]:2380
Jan 17 10:32:45 ubuntu etcd[59738]: raft2024/01/17 10:32:45 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 17 10:32:45 ubuntu etcd[59738]: raft2024/01/17 10:32:45 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 17 10:32:45 ubuntu etcd[59738]: raft2024/01/17 10:32:45 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 17 10:32:45 ubuntu etcd[59738]: raft2024/01/17 10:32:45 INFO: 33238c1cdfea94eb became leader at term 2
Jan 17 10:32:45 ubuntu etcd[59738]: raft2024/01/17 10:32:45 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 17 10:32:45 ubuntu etcd[59738]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 17 10:32:45 ubuntu etcd[59738]: ready to serve client requests
Jan 17 10:32:45 ubuntu etcd[59738]: INFO: 2024/01/17 10:32:45 parsed scheme: ""
Jan 17 10:32:45 ubuntu etcd[59738]: setting up the initial cluster version to 3.4
Jan 17 10:32:45 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 17 10:32:45 ubuntu etcd[59738]: set the initial cluster version to 3.4
Jan 17 10:32:45 ubuntu etcd[59738]: enabled capabilities for version 3.4
Jan 17 10:32:45 ubuntu etcd[59738]: INFO: 2024/01/17 10:32:45 scheme "" not registered, fallback to default scheme
Jan 17 10:32:45 ubuntu etcd[59738]: INFO: 2024/01/17 10:32:45 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 17 10:32:45 ubuntu etcd[59738]: INFO: 2024/01/17 10:32:45 ClientConn switching balancer to "pick_first"
Jan 17 10:32:45 ubuntu etcd[59738]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 17 10:37:08 ubuntu etcd[59738]: start time = 2024-01-17 10:37:08.316316694 +0000 UTC m=+262.919437938, time spent = 502.725µs, remote = 10.201.4.32:38902, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 17 10:37:08 ubuntu etcd[59738]: start time = 2024-01-17 10:37:08.340935135 +0000 UTC m=+262.944056391, time spent = 162.962µs, remote = 10.201.4.32:38902, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 17 10:37:14 ubuntu etcd[59738]: start time = 2024-01-17 10:37:14.807250809 +0000 UTC m=+269.410372092, time spent = 240.929µs, remote = 10.201.4.32:38902, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 17 10:37:16 ubuntu etcd[59738]: start time = 2024-01-17 10:37:16.80137661 +0000 UTC m=+271.404497866, time spent = 179.432µs, remote = 10.201.4.32:38902, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
