Jan 17 03:22:00 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 17 03:22:00 ubuntu etcd[59357]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 17 03:22:00 ubuntu etcd[59357]:         A future release of golang/protobuf will delete this package,
Jan 17 03:22:00 ubuntu etcd[59357]:         which has long been excluded from the compatibility promise.
Jan 17 03:22:00 ubuntu etcd[59357]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 17 03:22:00 ubuntu etcd[59357]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 17 03:22:00 ubuntu etcd[59357]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 17 03:22:00 ubuntu etcd[59357]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 17 03:22:00 ubuntu etcd[59357]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 17 03:22:00 ubuntu etcd[59357]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 17 03:22:00 ubuntu etcd[59357]: Running http and grpc server on single port. This is not recommended for production.
Jan 17 03:22:00 ubuntu etcd[59357]: etcd Version: 3.4.27
Jan 17 03:22:00 ubuntu etcd[59357]: Git SHA: c92fb80f3
Jan 17 03:22:00 ubuntu etcd[59357]: Go Version: go1.19.10
Jan 17 03:22:00 ubuntu etcd[59357]: Go OS/Arch: linux/amd64
Jan 17 03:22:00 ubuntu etcd[59357]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 17 03:22:00 ubuntu etcd[59357]: Running http and grpc server on single port. This is not recommended for production.
Jan 17 03:22:00 ubuntu etcd[59357]: name = ubuntu
Jan 17 03:22:00 ubuntu etcd[59357]: data dir = /opt/stack/data/etcd
Jan 17 03:22:00 ubuntu etcd[59357]: member dir = /opt/stack/data/etcd/member
Jan 17 03:22:00 ubuntu etcd[59357]: heartbeat = 100ms
Jan 17 03:22:00 ubuntu etcd[59357]: election = 1000ms
Jan 17 03:22:00 ubuntu etcd[59357]: snapshot count = 100000
Jan 17 03:22:00 ubuntu etcd[59357]: advertise client URLs = http://10.201.4.32:2379
Jan 17 03:22:00 ubuntu etcd[59357]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 17 03:22:00 ubuntu etcd[59357]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 17 03:22:00 ubuntu etcd[59357]: raft2024/01/17 03:22:00 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 17 03:22:00 ubuntu etcd[59357]: raft2024/01/17 03:22:00 INFO: 33238c1cdfea94eb became follower at term 0
Jan 17 03:22:00 ubuntu etcd[59357]: raft2024/01/17 03:22:00 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 17 03:22:00 ubuntu etcd[59357]: raft2024/01/17 03:22:00 INFO: 33238c1cdfea94eb became follower at term 1
Jan 17 03:22:00 ubuntu etcd[59357]: raft2024/01/17 03:22:00 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 17 03:22:00 ubuntu etcd[59357]: simple token is not cryptographically signed
Jan 17 03:22:00 ubuntu etcd[59357]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 17 03:22:00 ubuntu etcd[59357]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 17 03:22:00 ubuntu etcd[59357]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 17 03:22:00 ubuntu etcd[59357]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 17 03:22:00 ubuntu etcd[59357]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 17 03:22:00 ubuntu etcd[59357]: raft2024/01/17 03:22:00 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 17 03:22:00 ubuntu etcd[59357]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 17 03:22:00 ubuntu etcd[59357]: listening for peers on [::]:2380
Jan 17 03:22:01 ubuntu etcd[59357]: raft2024/01/17 03:22:01 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 17 03:22:01 ubuntu etcd[59357]: raft2024/01/17 03:22:01 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 17 03:22:01 ubuntu etcd[59357]: raft2024/01/17 03:22:01 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 17 03:22:01 ubuntu etcd[59357]: raft2024/01/17 03:22:01 INFO: 33238c1cdfea94eb became leader at term 2
Jan 17 03:22:01 ubuntu etcd[59357]: raft2024/01/17 03:22:01 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 17 03:22:01 ubuntu etcd[59357]: INFO: 2024/01/17 03:22:01 parsed scheme: ""
Jan 17 03:22:01 ubuntu etcd[59357]: INFO: 2024/01/17 03:22:01 scheme "" not registered, fallback to default scheme
Jan 17 03:22:01 ubuntu etcd[59357]: INFO: 2024/01/17 03:22:01 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 17 03:22:01 ubuntu etcd[59357]: INFO: 2024/01/17 03:22:01 ClientConn switching balancer to "pick_first"
Jan 17 03:22:01 ubuntu etcd[59357]: setting up the initial cluster version to 3.4
Jan 17 03:22:01 ubuntu etcd[59357]: set the initial cluster version to 3.4
Jan 17 03:22:01 ubuntu etcd[59357]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 17 03:22:01 ubuntu etcd[59357]: enabled capabilities for version 3.4
Jan 17 03:22:01 ubuntu etcd[59357]: ready to serve client requests
Jan 17 03:22:01 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 17 03:22:01 ubuntu etcd[59357]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 17 03:26:19 ubuntu etcd[59357]: start time = 2024-01-17 03:26:19.945375186 +0000 UTC m=+259.111289536, time spent = 404.117µs, remote = 10.201.4.32:50986, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 17 03:26:19 ubuntu etcd[59357]: start time = 2024-01-17 03:26:19.992234405 +0000 UTC m=+259.158148756, time spent = 214.396µs, remote = 10.201.4.32:50986, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 17 03:26:26 ubuntu etcd[59357]: start time = 2024-01-17 03:26:26.165432526 +0000 UTC m=+265.331346877, time spent = 310.353µs, remote = 10.201.4.32:50986, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 17 03:26:28 ubuntu etcd[59357]: start time = 2024-01-17 03:26:28.477462649 +0000 UTC m=+267.643377000, time spent = 383.405µs, remote = 10.201.4.32:50986, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
