Mar 28 13:12:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 28 13:12:13 ubuntu etcd[60172]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 28 13:12:13 ubuntu etcd[60172]:         A future release of golang/protobuf will delete this package,
Mar 28 13:12:13 ubuntu etcd[60172]:         which has long been excluded from the compatibility promise.
Mar 28 13:12:13 ubuntu etcd[60172]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 28 13:12:13 ubuntu etcd[60172]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 28 13:12:13 ubuntu etcd[60172]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 28 13:12:13 ubuntu etcd[60172]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 28 13:12:13 ubuntu etcd[60172]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 28 13:12:13 ubuntu etcd[60172]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 28 13:12:13 ubuntu etcd[60172]: Running http and grpc server on single port. This is not recommended for production.
Mar 28 13:12:13 ubuntu etcd[60172]: etcd Version: 3.4.27
Mar 28 13:12:13 ubuntu etcd[60172]: Git SHA: c92fb80f3
Mar 28 13:12:13 ubuntu etcd[60172]: Go Version: go1.19.10
Mar 28 13:12:13 ubuntu etcd[60172]: Go OS/Arch: linux/amd64
Mar 28 13:12:13 ubuntu etcd[60172]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 28 13:12:13 ubuntu etcd[60172]: Running http and grpc server on single port. This is not recommended for production.
Mar 28 13:12:13 ubuntu etcd[60172]: name = ubuntu
Mar 28 13:12:13 ubuntu etcd[60172]: data dir = /opt/stack/data/etcd
Mar 28 13:12:13 ubuntu etcd[60172]: member dir = /opt/stack/data/etcd/member
Mar 28 13:12:13 ubuntu etcd[60172]: heartbeat = 100ms
Mar 28 13:12:13 ubuntu etcd[60172]: election = 1000ms
Mar 28 13:12:13 ubuntu etcd[60172]: snapshot count = 100000
Mar 28 13:12:13 ubuntu etcd[60172]: advertise client URLs = http://10.201.4.32:2379
Mar 28 13:12:13 ubuntu etcd[60172]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 28 13:12:13 ubuntu etcd[60172]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 28 13:12:13 ubuntu etcd[60172]: raft2024/03/28 13:12:13 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 28 13:12:13 ubuntu etcd[60172]: raft2024/03/28 13:12:13 INFO: 33238c1cdfea94eb became follower at term 0
Mar 28 13:12:13 ubuntu etcd[60172]: raft2024/03/28 13:12:13 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 28 13:12:13 ubuntu etcd[60172]: raft2024/03/28 13:12:13 INFO: 33238c1cdfea94eb became follower at term 1
Mar 28 13:12:13 ubuntu etcd[60172]: raft2024/03/28 13:12:13 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 28 13:12:13 ubuntu etcd[60172]: simple token is not cryptographically signed
Mar 28 13:12:13 ubuntu etcd[60172]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 28 13:12:13 ubuntu etcd[60172]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 28 13:12:13 ubuntu etcd[60172]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 28 13:12:13 ubuntu etcd[60172]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 28 13:12:13 ubuntu etcd[60172]: raft2024/03/28 13:12:13 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 28 13:12:13 ubuntu etcd[60172]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 28 13:12:13 ubuntu etcd[60172]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 28 13:12:13 ubuntu etcd[60172]: listening for peers on [::]:2380
Mar 28 13:12:13 ubuntu etcd[60172]: raft2024/03/28 13:12:13 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 28 13:12:13 ubuntu etcd[60172]: raft2024/03/28 13:12:13 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 28 13:12:13 ubuntu etcd[60172]: raft2024/03/28 13:12:13 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 28 13:12:13 ubuntu etcd[60172]: raft2024/03/28 13:12:13 INFO: 33238c1cdfea94eb became leader at term 2
Mar 28 13:12:13 ubuntu etcd[60172]: raft2024/03/28 13:12:13 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 28 13:12:13 ubuntu etcd[60172]: setting up the initial cluster version to 3.4
Mar 28 13:12:13 ubuntu etcd[60172]: INFO: 2024/03/28 13:12:13 parsed scheme: ""
Mar 28 13:12:13 ubuntu etcd[60172]: INFO: 2024/03/28 13:12:13 scheme "" not registered, fallback to default scheme
Mar 28 13:12:13 ubuntu etcd[60172]: INFO: 2024/03/28 13:12:13 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 28 13:12:13 ubuntu etcd[60172]: INFO: 2024/03/28 13:12:13 ClientConn switching balancer to "pick_first"
Mar 28 13:12:13 ubuntu etcd[60172]: set the initial cluster version to 3.4
Mar 28 13:12:13 ubuntu etcd[60172]: enabled capabilities for version 3.4
Mar 28 13:12:13 ubuntu etcd[60172]: ready to serve client requests
Mar 28 13:12:13 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 28 13:12:13 ubuntu etcd[60172]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 28 13:12:13 ubuntu etcd[60172]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 28 13:16:31 ubuntu etcd[60172]: start time = 2024-03-28 13:16:31.06590352 +0000 UTC m=+257.980865478, time spent = 440.054µs, remote = 10.201.4.32:50076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 13:16:31 ubuntu etcd[60172]: start time = 2024-03-28 13:16:31.114254608 +0000 UTC m=+258.029216566, time spent = 200.228µs, remote = 10.201.4.32:50076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 13:16:37 ubuntu etcd[60172]: start time = 2024-03-28 13:16:37.788892548 +0000 UTC m=+264.703854604, time spent = 306.823µs, remote = 10.201.4.32:50076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 13:16:39 ubuntu etcd[60172]: start time = 2024-03-28 13:16:39.895288672 +0000 UTC m=+266.810250641, time spent = 230.722µs, remote = 10.201.4.32:50076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
