Jun 18 10:16:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 18 10:16:43 ubuntu etcd[59042]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 18 10:16:43 ubuntu etcd[59042]:         A future release of golang/protobuf will delete this package,
Jun 18 10:16:43 ubuntu etcd[59042]:         which has long been excluded from the compatibility promise.
Jun 18 10:16:43 ubuntu etcd[59042]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 18 10:16:43 ubuntu etcd[59042]: Running http and grpc server on single port. This is not recommended for production.
Jun 18 10:16:43 ubuntu etcd[59042]: etcd Version: 3.4.27
Jun 18 10:16:43 ubuntu etcd[59042]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 18 10:16:43 ubuntu etcd[59042]: Git SHA: c92fb80f3
Jun 18 10:16:43 ubuntu etcd[59042]: Go Version: go1.19.10
Jun 18 10:16:43 ubuntu etcd[59042]: Go OS/Arch: linux/amd64
Jun 18 10:16:43 ubuntu etcd[59042]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 18 10:16:43 ubuntu etcd[59042]: Running http and grpc server on single port. This is not recommended for production.
Jun 18 10:16:43 ubuntu etcd[59042]: name = ubuntu
Jun 18 10:16:43 ubuntu etcd[59042]: data dir = /opt/stack/data/etcd
Jun 18 10:16:43 ubuntu etcd[59042]: member dir = /opt/stack/data/etcd/member
Jun 18 10:16:43 ubuntu etcd[59042]: heartbeat = 100ms
Jun 18 10:16:43 ubuntu etcd[59042]: election = 1000ms
Jun 18 10:16:43 ubuntu etcd[59042]: snapshot count = 100000
Jun 18 10:16:43 ubuntu etcd[59042]: advertise client URLs = http://10.201.9.223:2379
Jun 18 10:16:43 ubuntu etcd[59042]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 18 10:16:43 ubuntu etcd[59042]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 18 10:16:43 ubuntu etcd[59042]: raft2025/06/18 10:16:43 INFO: c25b29daa831042c switched to configuration voters=()
Jun 18 10:16:43 ubuntu etcd[59042]: raft2025/06/18 10:16:43 INFO: c25b29daa831042c became follower at term 0
Jun 18 10:16:43 ubuntu etcd[59042]: raft2025/06/18 10:16:43 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 18 10:16:43 ubuntu etcd[59042]: raft2025/06/18 10:16:43 INFO: c25b29daa831042c became follower at term 1
Jun 18 10:16:43 ubuntu etcd[59042]: raft2025/06/18 10:16:43 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 18 10:16:43 ubuntu etcd[59042]: simple token is not cryptographically signed
Jun 18 10:16:43 ubuntu etcd[59042]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 18 10:16:43 ubuntu etcd[59042]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 18 10:16:43 ubuntu etcd[59042]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 18 10:16:43 ubuntu etcd[59042]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 18 10:16:43 ubuntu etcd[59042]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 18 10:16:43 ubuntu etcd[59042]: raft2025/06/18 10:16:43 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 18 10:16:43 ubuntu etcd[59042]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 18 10:16:43 ubuntu etcd[59042]: listening for peers on [::]:2380
Jun 18 10:16:43 ubuntu etcd[59042]: raft2025/06/18 10:16:43 INFO: c25b29daa831042c is starting a new election at term 1
Jun 18 10:16:43 ubuntu etcd[59042]: raft2025/06/18 10:16:43 INFO: c25b29daa831042c became candidate at term 2
Jun 18 10:16:43 ubuntu etcd[59042]: raft2025/06/18 10:16:43 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 18 10:16:43 ubuntu etcd[59042]: raft2025/06/18 10:16:43 INFO: c25b29daa831042c became leader at term 2
Jun 18 10:16:43 ubuntu etcd[59042]: raft2025/06/18 10:16:43 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 18 10:16:43 ubuntu etcd[59042]: setting up the initial cluster version to 3.4
Jun 18 10:16:43 ubuntu etcd[59042]: set the initial cluster version to 3.4
Jun 18 10:16:43 ubuntu etcd[59042]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 18 10:16:43 ubuntu etcd[59042]: ready to serve client requests
Jun 18 10:16:43 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 18 10:16:43 ubuntu etcd[59042]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 18 10:16:43 ubuntu etcd[59042]: enabled capabilities for version 3.4
Jun 18 10:20:50 ubuntu etcd[59042]: start time = 2025-06-18 10:20:50.323230984 +0000 UTC m=+247.308074146, time spent = 384.769µs, remote = 10.201.9.223:38206, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 18 10:20:50 ubuntu etcd[59042]: start time = 2025-06-18 10:20:50.352289439 +0000 UTC m=+247.337132605, time spent = 185.057µs, remote = 10.201.9.223:38206, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 18 10:20:56 ubuntu etcd[59042]: start time = 2025-06-18 10:20:56.839793608 +0000 UTC m=+253.824636778, time spent = 181.149µs, remote = 10.201.9.223:38206, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 18 10:20:59 ubuntu etcd[59042]: start time = 2025-06-18 10:20:59.069665037 +0000 UTC m=+256.054508206, time spent = 256.335µs, remote = 10.201.9.223:38206, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
