Jul 23 12:02:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 23 12:02:48 ubuntu etcd[58695]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 23 12:02:48 ubuntu etcd[58695]:         A future release of golang/protobuf will delete this package,
Jul 23 12:02:48 ubuntu etcd[58695]:         which has long been excluded from the compatibility promise.
Jul 23 12:02:48 ubuntu etcd[58695]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 23 12:02:48 ubuntu etcd[58695]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 23 12:02:48 ubuntu etcd[58695]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 12:02:48 ubuntu etcd[58695]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 23 12:02:48 ubuntu etcd[58695]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 23 12:02:48 ubuntu etcd[58695]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 12:02:48 ubuntu etcd[58695]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 12:02:48 ubuntu etcd[58695]: etcd Version: 3.4.27
Jul 23 12:02:48 ubuntu etcd[58695]: Git SHA: c92fb80f3
Jul 23 12:02:48 ubuntu etcd[58695]: Go Version: go1.19.10
Jul 23 12:02:48 ubuntu etcd[58695]: Go OS/Arch: linux/amd64
Jul 23 12:02:48 ubuntu etcd[58695]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 23 12:02:48 ubuntu etcd[58695]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 12:02:48 ubuntu etcd[58695]: name = ubuntu
Jul 23 12:02:48 ubuntu etcd[58695]: data dir = /opt/stack/data/etcd
Jul 23 12:02:48 ubuntu etcd[58695]: member dir = /opt/stack/data/etcd/member
Jul 23 12:02:48 ubuntu etcd[58695]: heartbeat = 100ms
Jul 23 12:02:48 ubuntu etcd[58695]: election = 1000ms
Jul 23 12:02:48 ubuntu etcd[58695]: snapshot count = 100000
Jul 23 12:02:48 ubuntu etcd[58695]: advertise client URLs = http://10.201.4.32:2379
Jul 23 12:02:48 ubuntu etcd[58695]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 23 12:02:48 ubuntu etcd[58695]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jul 23 12:02:48 ubuntu etcd[58695]: raft2024/07/23 12:02:48 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jul 23 12:02:48 ubuntu etcd[58695]: raft2024/07/23 12:02:48 INFO: 33238c1cdfea94eb became follower at term 0
Jul 23 12:02:48 ubuntu etcd[58695]: raft2024/07/23 12:02:48 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 23 12:02:48 ubuntu etcd[58695]: raft2024/07/23 12:02:48 INFO: 33238c1cdfea94eb became follower at term 1
Jul 23 12:02:48 ubuntu etcd[58695]: raft2024/07/23 12:02:48 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 23 12:02:48 ubuntu etcd[58695]: simple token is not cryptographically signed
Jul 23 12:02:48 ubuntu etcd[58695]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 23 12:02:48 ubuntu etcd[58695]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 23 12:02:48 ubuntu etcd[58695]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 23 12:02:48 ubuntu etcd[58695]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 23 12:02:48 ubuntu etcd[58695]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 23 12:02:48 ubuntu etcd[58695]: raft2024/07/23 12:02:48 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 23 12:02:48 ubuntu etcd[58695]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jul 23 12:02:48 ubuntu etcd[58695]: listening for peers on [::]:2380
Jul 23 12:02:48 ubuntu etcd[58695]: raft2024/07/23 12:02:48 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jul 23 12:02:48 ubuntu etcd[58695]: raft2024/07/23 12:02:48 INFO: 33238c1cdfea94eb became candidate at term 2
Jul 23 12:02:48 ubuntu etcd[58695]: raft2024/07/23 12:02:48 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jul 23 12:02:48 ubuntu etcd[58695]: raft2024/07/23 12:02:48 INFO: 33238c1cdfea94eb became leader at term 2
Jul 23 12:02:48 ubuntu etcd[58695]: raft2024/07/23 12:02:48 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jul 23 12:02:48 ubuntu etcd[58695]: setting up the initial cluster version to 3.4
Jul 23 12:02:48 ubuntu etcd[58695]: set the initial cluster version to 3.4
Jul 23 12:02:48 ubuntu etcd[58695]: enabled capabilities for version 3.4
Jul 23 12:02:48 ubuntu etcd[58695]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jul 23 12:02:48 ubuntu etcd[58695]: ready to serve client requests
Jul 23 12:02:48 ubuntu etcd[58695]: INFO: 2024/07/23 12:02:48 parsed scheme: ""
Jul 23 12:02:48 ubuntu etcd[58695]: INFO: 2024/07/23 12:02:48 scheme "" not registered, fallback to default scheme
Jul 23 12:02:48 ubuntu etcd[58695]: INFO: 2024/07/23 12:02:48 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 23 12:02:48 ubuntu etcd[58695]: INFO: 2024/07/23 12:02:48 ClientConn switching balancer to "pick_first"
Jul 23 12:02:48 ubuntu etcd[58695]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jul 23 12:02:48 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 23 12:07:10 ubuntu etcd[58695]: start time = 2024-07-23 12:07:10.709433055 +0000 UTC m=+262.416385384, time spent = 538.034µs, remote = 10.201.4.32:33310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 12:07:10 ubuntu etcd[58695]: start time = 2024-07-23 12:07:10.745224871 +0000 UTC m=+262.452177211, time spent = 177.466µs, remote = 10.201.4.32:33310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 12:07:17 ubuntu etcd[58695]: start time = 2024-07-23 12:07:17.533135412 +0000 UTC m=+269.240087743, time spent = 440.334µs, remote = 10.201.4.32:33310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 12:07:19 ubuntu etcd[58695]: start time = 2024-07-23 12:07:19.607694063 +0000 UTC m=+271.314646404, time spent = 302.486µs, remote = 10.201.4.32:33310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
