Jul 09 05:44:54 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 09 05:44:54 ubuntu etcd[58167]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 09 05:44:54 ubuntu etcd[58167]:         A future release of golang/protobuf will delete this package,
Jul 09 05:44:54 ubuntu etcd[58167]:         which has long been excluded from the compatibility promise.
Jul 09 05:44:54 ubuntu etcd[58167]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 09 05:44:54 ubuntu etcd[58167]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 09 05:44:54 ubuntu etcd[58167]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 05:44:54 ubuntu etcd[58167]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 09 05:44:54 ubuntu etcd[58167]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 09 05:44:54 ubuntu etcd[58167]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 05:44:54 ubuntu etcd[58167]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 05:44:54 ubuntu etcd[58167]: etcd Version: 3.4.27
Jul 09 05:44:54 ubuntu etcd[58167]: Git SHA: c92fb80f3
Jul 09 05:44:54 ubuntu etcd[58167]: Go Version: go1.19.10
Jul 09 05:44:54 ubuntu etcd[58167]: Go OS/Arch: linux/amd64
Jul 09 05:44:54 ubuntu etcd[58167]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 09 05:44:54 ubuntu etcd[58167]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 05:44:54 ubuntu etcd[58167]: name = ubuntu
Jul 09 05:44:54 ubuntu etcd[58167]: data dir = /opt/stack/data/etcd
Jul 09 05:44:54 ubuntu etcd[58167]: member dir = /opt/stack/data/etcd/member
Jul 09 05:44:54 ubuntu etcd[58167]: heartbeat = 100ms
Jul 09 05:44:54 ubuntu etcd[58167]: election = 1000ms
Jul 09 05:44:54 ubuntu etcd[58167]: snapshot count = 100000
Jul 09 05:44:54 ubuntu etcd[58167]: advertise client URLs = http://10.201.4.32:2379
Jul 09 05:44:54 ubuntu etcd[58167]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 09 05:44:54 ubuntu etcd[58167]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jul 09 05:44:54 ubuntu etcd[58167]: raft2024/07/09 05:44:54 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jul 09 05:44:54 ubuntu etcd[58167]: raft2024/07/09 05:44:54 INFO: 33238c1cdfea94eb became follower at term 0
Jul 09 05:44:54 ubuntu etcd[58167]: raft2024/07/09 05:44:54 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 09 05:44:54 ubuntu etcd[58167]: raft2024/07/09 05:44:54 INFO: 33238c1cdfea94eb became follower at term 1
Jul 09 05:44:54 ubuntu etcd[58167]: raft2024/07/09 05:44:54 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 09 05:44:54 ubuntu etcd[58167]: simple token is not cryptographically signed
Jul 09 05:44:54 ubuntu etcd[58167]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 09 05:44:54 ubuntu etcd[58167]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 09 05:44:54 ubuntu etcd[58167]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 09 05:44:54 ubuntu etcd[58167]: raft2024/07/09 05:44:54 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 09 05:44:54 ubuntu etcd[58167]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 09 05:44:54 ubuntu etcd[58167]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 09 05:44:54 ubuntu etcd[58167]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jul 09 05:44:54 ubuntu etcd[58167]: listening for peers on [::]:2380
Jul 09 05:44:54 ubuntu etcd[58167]: raft2024/07/09 05:44:54 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jul 09 05:44:54 ubuntu etcd[58167]: raft2024/07/09 05:44:54 INFO: 33238c1cdfea94eb became candidate at term 2
Jul 09 05:44:54 ubuntu etcd[58167]: raft2024/07/09 05:44:54 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jul 09 05:44:54 ubuntu etcd[58167]: raft2024/07/09 05:44:54 INFO: 33238c1cdfea94eb became leader at term 2
Jul 09 05:44:54 ubuntu etcd[58167]: raft2024/07/09 05:44:54 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jul 09 05:44:54 ubuntu etcd[58167]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jul 09 05:44:54 ubuntu etcd[58167]: setting up the initial cluster version to 3.4
Jul 09 05:44:54 ubuntu etcd[58167]: ready to serve client requests
Jul 09 05:44:54 ubuntu etcd[58167]: INFO: 2024/07/09 05:44:54 parsed scheme: ""
Jul 09 05:44:54 ubuntu etcd[58167]: INFO: 2024/07/09 05:44:54 scheme "" not registered, fallback to default scheme
Jul 09 05:44:54 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 09 05:44:54 ubuntu etcd[58167]: INFO: 2024/07/09 05:44:54 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 09 05:44:54 ubuntu etcd[58167]: INFO: 2024/07/09 05:44:54 ClientConn switching balancer to "pick_first"
Jul 09 05:44:54 ubuntu etcd[58167]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jul 09 05:44:54 ubuntu etcd[58167]: set the initial cluster version to 3.4
Jul 09 05:44:54 ubuntu etcd[58167]: enabled capabilities for version 3.4
Jul 09 05:49:16 ubuntu etcd[58167]: start time = 2024-07-09 05:49:16.957287684 +0000 UTC m=+262.867985454, time spent = 801.898µs, remote = 10.201.4.32:33376, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 05:49:16 ubuntu etcd[58167]: start time = 2024-07-09 05:49:16.980037147 +0000 UTC m=+262.890734929, time spent = 197.089µs, remote = 10.201.4.32:33376, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 05:49:23 ubuntu etcd[58167]: start time = 2024-07-09 05:49:23.876319937 +0000 UTC m=+269.787017706, time spent = 300.123µs, remote = 10.201.4.32:33376, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 05:49:25 ubuntu etcd[58167]: start time = 2024-07-09 05:49:25.929068428 +0000 UTC m=+271.839766199, time spent = 505.6µs, remote = 10.201.4.32:33376, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
