Jul 23 05:20:16 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 23 05:20:16 ubuntu etcd[58409]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 23 05:20:16 ubuntu etcd[58409]:         A future release of golang/protobuf will delete this package,
Jul 23 05:20:16 ubuntu etcd[58409]:         which has long been excluded from the compatibility promise.
Jul 23 05:20:16 ubuntu etcd[58409]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 23 05:20:16 ubuntu etcd[58409]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 23 05:20:16 ubuntu etcd[58409]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 05:20:16 ubuntu etcd[58409]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 23 05:20:16 ubuntu etcd[58409]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 23 05:20:16 ubuntu etcd[58409]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 05:20:16 ubuntu etcd[58409]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 05:20:16 ubuntu etcd[58409]: etcd Version: 3.4.27
Jul 23 05:20:16 ubuntu etcd[58409]: Git SHA: c92fb80f3
Jul 23 05:20:16 ubuntu etcd[58409]: Go Version: go1.19.10
Jul 23 05:20:16 ubuntu etcd[58409]: Go OS/Arch: linux/amd64
Jul 23 05:20:16 ubuntu etcd[58409]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 23 05:20:16 ubuntu etcd[58409]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 05:20:16 ubuntu etcd[58409]: name = ubuntu
Jul 23 05:20:16 ubuntu etcd[58409]: data dir = /opt/stack/data/etcd
Jul 23 05:20:16 ubuntu etcd[58409]: member dir = /opt/stack/data/etcd/member
Jul 23 05:20:16 ubuntu etcd[58409]: heartbeat = 100ms
Jul 23 05:20:16 ubuntu etcd[58409]: election = 1000ms
Jul 23 05:20:16 ubuntu etcd[58409]: snapshot count = 100000
Jul 23 05:20:16 ubuntu etcd[58409]: advertise client URLs = http://10.201.4.32:2379
Jul 23 05:20:16 ubuntu etcd[58409]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 23 05:20:16 ubuntu etcd[58409]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jul 23 05:20:16 ubuntu etcd[58409]: raft2024/07/23 05:20:16 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jul 23 05:20:16 ubuntu etcd[58409]: raft2024/07/23 05:20:16 INFO: 33238c1cdfea94eb became follower at term 0
Jul 23 05:20:16 ubuntu etcd[58409]: raft2024/07/23 05:20:16 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 23 05:20:16 ubuntu etcd[58409]: raft2024/07/23 05:20:16 INFO: 33238c1cdfea94eb became follower at term 1
Jul 23 05:20:16 ubuntu etcd[58409]: raft2024/07/23 05:20:16 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 23 05:20:16 ubuntu etcd[58409]: simple token is not cryptographically signed
Jul 23 05:20:16 ubuntu etcd[58409]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 23 05:20:16 ubuntu etcd[58409]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 23 05:20:16 ubuntu etcd[58409]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 23 05:20:16 ubuntu etcd[58409]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 23 05:20:16 ubuntu etcd[58409]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 23 05:20:16 ubuntu etcd[58409]: raft2024/07/23 05:20:16 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 23 05:20:16 ubuntu etcd[58409]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jul 23 05:20:16 ubuntu etcd[58409]: listening for peers on [::]:2380
Jul 23 05:20:17 ubuntu etcd[58409]: raft2024/07/23 05:20:17 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jul 23 05:20:17 ubuntu etcd[58409]: raft2024/07/23 05:20:17 INFO: 33238c1cdfea94eb became candidate at term 2
Jul 23 05:20:17 ubuntu etcd[58409]: raft2024/07/23 05:20:17 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jul 23 05:20:17 ubuntu etcd[58409]: raft2024/07/23 05:20:17 INFO: 33238c1cdfea94eb became leader at term 2
Jul 23 05:20:17 ubuntu etcd[58409]: raft2024/07/23 05:20:17 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jul 23 05:20:17 ubuntu etcd[58409]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jul 23 05:20:17 ubuntu etcd[58409]: ready to serve client requests
Jul 23 05:20:17 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 23 05:20:17 ubuntu etcd[58409]: setting up the initial cluster version to 3.4
Jul 23 05:20:17 ubuntu etcd[58409]: set the initial cluster version to 3.4
Jul 23 05:20:17 ubuntu etcd[58409]: enabled capabilities for version 3.4
Jul 23 05:20:17 ubuntu etcd[58409]: INFO: 2024/07/23 05:20:17 parsed scheme: ""
Jul 23 05:20:17 ubuntu etcd[58409]: INFO: 2024/07/23 05:20:17 scheme "" not registered, fallback to default scheme
Jul 23 05:20:17 ubuntu etcd[58409]: INFO: 2024/07/23 05:20:17 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 23 05:20:17 ubuntu etcd[58409]: INFO: 2024/07/23 05:20:17 ClientConn switching balancer to "pick_first"
Jul 23 05:20:17 ubuntu etcd[58409]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jul 23 05:24:41 ubuntu etcd[58409]: start time = 2024-07-23 05:24:41.30421708 +0000 UTC m=+264.858065923, time spent = 441.908µs, remote = 10.201.4.32:57202, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 05:24:41 ubuntu etcd[58409]: start time = 2024-07-23 05:24:41.313712162 +0000 UTC m=+264.867561015, time spent = 210.548µs, remote = 10.201.4.32:57202, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 05:24:47 ubuntu etcd[58409]: start time = 2024-07-23 05:24:47.906037477 +0000 UTC m=+271.459886329, time spent = 166.359µs, remote = 10.201.4.32:57202, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 05:24:49 ubuntu etcd[58409]: start time = 2024-07-23 05:24:49.942833361 +0000 UTC m=+273.496682203, time spent = 294.298µs, remote = 10.201.4.32:57202, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
