Oct 04 10:21:05 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 04 10:21:05 ubuntu etcd[59556]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 04 10:21:05 ubuntu etcd[59556]:         A future release of golang/protobuf will delete this package,
Oct 04 10:21:05 ubuntu etcd[59556]:         which has long been excluded from the compatibility promise.
Oct 04 10:21:05 ubuntu etcd[59556]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 04 10:21:05 ubuntu etcd[59556]: Running http and grpc server on single port. This is not recommended for production.
Oct 04 10:21:05 ubuntu etcd[59556]: etcd Version: 3.4.27
Oct 04 10:21:05 ubuntu etcd[59556]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 04 10:21:05 ubuntu etcd[59556]: Git SHA: c92fb80f3
Oct 04 10:21:05 ubuntu etcd[59556]: Go Version: go1.19.10
Oct 04 10:21:05 ubuntu etcd[59556]: Go OS/Arch: linux/amd64
Oct 04 10:21:05 ubuntu etcd[59556]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 04 10:21:05 ubuntu etcd[59556]: Running http and grpc server on single port. This is not recommended for production.
Oct 04 10:21:05 ubuntu etcd[59556]: name = ubuntu
Oct 04 10:21:05 ubuntu etcd[59556]: data dir = /opt/stack/data/etcd
Oct 04 10:21:05 ubuntu etcd[59556]: member dir = /opt/stack/data/etcd/member
Oct 04 10:21:05 ubuntu etcd[59556]: heartbeat = 100ms
Oct 04 10:21:05 ubuntu etcd[59556]: election = 1000ms
Oct 04 10:21:05 ubuntu etcd[59556]: snapshot count = 100000
Oct 04 10:21:05 ubuntu etcd[59556]: advertise client URLs = http://10.201.4.32:2379
Oct 04 10:21:05 ubuntu etcd[59556]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 04 10:21:05 ubuntu etcd[59556]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 04 10:21:05 ubuntu etcd[59556]: raft2024/10/04 10:21:05 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 04 10:21:05 ubuntu etcd[59556]: raft2024/10/04 10:21:05 INFO: 33238c1cdfea94eb became follower at term 0
Oct 04 10:21:05 ubuntu etcd[59556]: raft2024/10/04 10:21:05 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 04 10:21:05 ubuntu etcd[59556]: raft2024/10/04 10:21:05 INFO: 33238c1cdfea94eb became follower at term 1
Oct 04 10:21:05 ubuntu etcd[59556]: raft2024/10/04 10:21:05 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 04 10:21:05 ubuntu etcd[59556]: simple token is not cryptographically signed
Oct 04 10:21:05 ubuntu etcd[59556]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 04 10:21:05 ubuntu etcd[59556]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 04 10:21:05 ubuntu etcd[59556]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 04 10:21:05 ubuntu etcd[59556]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 04 10:21:05 ubuntu etcd[59556]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 04 10:21:05 ubuntu etcd[59556]: raft2024/10/04 10:21:05 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 04 10:21:05 ubuntu etcd[59556]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 04 10:21:05 ubuntu etcd[59556]: listening for peers on [::]:2380
Oct 04 10:21:06 ubuntu etcd[59556]: raft2024/10/04 10:21:06 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 04 10:21:06 ubuntu etcd[59556]: raft2024/10/04 10:21:06 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 04 10:21:06 ubuntu etcd[59556]: raft2024/10/04 10:21:06 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 04 10:21:06 ubuntu etcd[59556]: raft2024/10/04 10:21:06 INFO: 33238c1cdfea94eb became leader at term 2
Oct 04 10:21:06 ubuntu etcd[59556]: raft2024/10/04 10:21:06 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 04 10:21:06 ubuntu etcd[59556]: setting up the initial cluster version to 3.4
Oct 04 10:21:06 ubuntu etcd[59556]: set the initial cluster version to 3.4
Oct 04 10:21:06 ubuntu etcd[59556]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 04 10:21:06 ubuntu etcd[59556]: ready to serve client requests
Oct 04 10:21:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 04 10:21:06 ubuntu etcd[59556]: enabled capabilities for version 3.4
Oct 04 10:21:06 ubuntu etcd[59556]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 04 10:25:36 ubuntu etcd[59556]: start time = 2024-10-04 10:25:36.888435948 +0000 UTC m=+271.481454658, time spent = 539.913µs, remote = 10.201.4.32:34454, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 04 10:25:37 ubuntu etcd[59556]: start time = 2024-10-04 10:25:37.067090709 +0000 UTC m=+271.660109434, time spent = 212.844µs, remote = 10.201.4.32:34454, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 04 10:25:43 ubuntu etcd[59556]: start time = 2024-10-04 10:25:43.809785031 +0000 UTC m=+278.402803744, time spent = 242.957µs, remote = 10.201.4.32:34454, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 04 10:25:46 ubuntu etcd[59556]: start time = 2024-10-04 10:25:46.100237234 +0000 UTC m=+280.693255957, time spent = 600.497µs, remote = 10.201.4.32:34454, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
