Jan 02 13:18:45 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 02 13:18:45 ubuntu etcd[59010]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 02 13:18:45 ubuntu etcd[59010]:         A future release of golang/protobuf will delete this package,
Jan 02 13:18:45 ubuntu etcd[59010]:         which has long been excluded from the compatibility promise.
Jan 02 13:18:45 ubuntu etcd[59010]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 02 13:18:45 ubuntu etcd[59010]: Running http and grpc server on single port. This is not recommended for production.
Jan 02 13:18:45 ubuntu etcd[59010]: etcd Version: 3.4.27
Jan 02 13:18:45 ubuntu etcd[59010]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 02 13:18:45 ubuntu etcd[59010]: Git SHA: c92fb80f3
Jan 02 13:18:45 ubuntu etcd[59010]: Go Version: go1.19.10
Jan 02 13:18:45 ubuntu etcd[59010]: Go OS/Arch: linux/amd64
Jan 02 13:18:45 ubuntu etcd[59010]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 02 13:18:45 ubuntu etcd[59010]: Running http and grpc server on single port. This is not recommended for production.
Jan 02 13:18:45 ubuntu etcd[59010]: name = ubuntu
Jan 02 13:18:45 ubuntu etcd[59010]: data dir = /opt/stack/data/etcd
Jan 02 13:18:45 ubuntu etcd[59010]: member dir = /opt/stack/data/etcd/member
Jan 02 13:18:45 ubuntu etcd[59010]: heartbeat = 100ms
Jan 02 13:18:45 ubuntu etcd[59010]: election = 1000ms
Jan 02 13:18:45 ubuntu etcd[59010]: snapshot count = 100000
Jan 02 13:18:45 ubuntu etcd[59010]: advertise client URLs = http://10.201.9.223:2379
Jan 02 13:18:45 ubuntu etcd[59010]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 02 13:18:45 ubuntu etcd[59010]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 02 13:18:45 ubuntu etcd[59010]: raft2025/01/02 13:18:45 INFO: c25b29daa831042c switched to configuration voters=()
Jan 02 13:18:45 ubuntu etcd[59010]: raft2025/01/02 13:18:45 INFO: c25b29daa831042c became follower at term 0
Jan 02 13:18:45 ubuntu etcd[59010]: raft2025/01/02 13:18:45 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 02 13:18:45 ubuntu etcd[59010]: raft2025/01/02 13:18:45 INFO: c25b29daa831042c became follower at term 1
Jan 02 13:18:45 ubuntu etcd[59010]: raft2025/01/02 13:18:45 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 02 13:18:45 ubuntu etcd[59010]: simple token is not cryptographically signed
Jan 02 13:18:45 ubuntu etcd[59010]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 02 13:18:45 ubuntu etcd[59010]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 02 13:18:45 ubuntu etcd[59010]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 02 13:18:45 ubuntu etcd[59010]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 02 13:18:45 ubuntu etcd[59010]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 02 13:18:45 ubuntu etcd[59010]: raft2025/01/02 13:18:45 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 02 13:18:45 ubuntu etcd[59010]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 02 13:18:45 ubuntu etcd[59010]: listening for peers on [::]:2380
Jan 02 13:18:45 ubuntu etcd[59010]: raft2025/01/02 13:18:45 INFO: c25b29daa831042c is starting a new election at term 1
Jan 02 13:18:45 ubuntu etcd[59010]: raft2025/01/02 13:18:45 INFO: c25b29daa831042c became candidate at term 2
Jan 02 13:18:45 ubuntu etcd[59010]: raft2025/01/02 13:18:45 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 02 13:18:45 ubuntu etcd[59010]: raft2025/01/02 13:18:45 INFO: c25b29daa831042c became leader at term 2
Jan 02 13:18:45 ubuntu etcd[59010]: raft2025/01/02 13:18:45 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 02 13:18:45 ubuntu etcd[59010]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 02 13:18:45 ubuntu etcd[59010]: setting up the initial cluster version to 3.4
Jan 02 13:18:45 ubuntu etcd[59010]: ready to serve client requests
Jan 02 13:18:45 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 02 13:18:45 ubuntu etcd[59010]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 02 13:18:45 ubuntu etcd[59010]: set the initial cluster version to 3.4
Jan 02 13:18:45 ubuntu etcd[59010]: enabled capabilities for version 3.4
Jan 02 13:23:05 ubuntu etcd[59010]: start time = 2025-01-02 13:23:05.560323287 +0000 UTC m=+260.382866965, time spent = 473.501µs, remote = 10.201.9.223:33252, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 02 13:23:05 ubuntu etcd[59010]: start time = 2025-01-02 13:23:05.638655652 +0000 UTC m=+260.461199343, time spent = 177.364µs, remote = 10.201.9.223:33252, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 02 13:23:12 ubuntu etcd[59010]: start time = 2025-01-02 13:23:12.102637754 +0000 UTC m=+266.925181444, time spent = 150.349µs, remote = 10.201.9.223:33252, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 02 13:23:14 ubuntu etcd[59010]: start time = 2025-01-02 13:23:14.421013564 +0000 UTC m=+269.243557240, time spent = 167.008µs, remote = 10.201.9.223:33252, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
