Oct 01 07:51:09 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 01 07:51:09 ubuntu etcd[59802]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 01 07:51:09 ubuntu etcd[59802]:         A future release of golang/protobuf will delete this package,
Oct 01 07:51:09 ubuntu etcd[59802]:         which has long been excluded from the compatibility promise.
Oct 01 07:51:09 ubuntu etcd[59802]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 01 07:51:09 ubuntu etcd[59802]: Running http and grpc server on single port. This is not recommended for production.
Oct 01 07:51:09 ubuntu etcd[59802]: etcd Version: 3.4.27
Oct 01 07:51:09 ubuntu etcd[59802]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 01 07:51:09 ubuntu etcd[59802]: Git SHA: c92fb80f3
Oct 01 07:51:09 ubuntu etcd[59802]: Go Version: go1.19.10
Oct 01 07:51:09 ubuntu etcd[59802]: Go OS/Arch: linux/amd64
Oct 01 07:51:09 ubuntu etcd[59802]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 01 07:51:09 ubuntu etcd[59802]: Running http and grpc server on single port. This is not recommended for production.
Oct 01 07:51:09 ubuntu etcd[59802]: name = ubuntu
Oct 01 07:51:09 ubuntu etcd[59802]: data dir = /opt/stack/data/etcd
Oct 01 07:51:09 ubuntu etcd[59802]: member dir = /opt/stack/data/etcd/member
Oct 01 07:51:09 ubuntu etcd[59802]: heartbeat = 100ms
Oct 01 07:51:09 ubuntu etcd[59802]: election = 1000ms
Oct 01 07:51:09 ubuntu etcd[59802]: snapshot count = 100000
Oct 01 07:51:09 ubuntu etcd[59802]: advertise client URLs = http://10.201.4.32:2379
Oct 01 07:51:09 ubuntu etcd[59802]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 01 07:51:09 ubuntu etcd[59802]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 01 07:51:09 ubuntu etcd[59802]: raft2024/10/01 07:51:09 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 01 07:51:09 ubuntu etcd[59802]: raft2024/10/01 07:51:09 INFO: 33238c1cdfea94eb became follower at term 0
Oct 01 07:51:09 ubuntu etcd[59802]: raft2024/10/01 07:51:09 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 01 07:51:09 ubuntu etcd[59802]: raft2024/10/01 07:51:09 INFO: 33238c1cdfea94eb became follower at term 1
Oct 01 07:51:09 ubuntu etcd[59802]: raft2024/10/01 07:51:09 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 01 07:51:09 ubuntu etcd[59802]: simple token is not cryptographically signed
Oct 01 07:51:09 ubuntu etcd[59802]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 01 07:51:09 ubuntu etcd[59802]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 01 07:51:09 ubuntu etcd[59802]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 01 07:51:09 ubuntu etcd[59802]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 01 07:51:09 ubuntu etcd[59802]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 01 07:51:09 ubuntu etcd[59802]: raft2024/10/01 07:51:09 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 01 07:51:09 ubuntu etcd[59802]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 01 07:51:09 ubuntu etcd[59802]: listening for peers on [::]:2380
Oct 01 07:51:09 ubuntu etcd[59802]: raft2024/10/01 07:51:09 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 01 07:51:09 ubuntu etcd[59802]: raft2024/10/01 07:51:09 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 01 07:51:09 ubuntu etcd[59802]: raft2024/10/01 07:51:09 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 01 07:51:09 ubuntu etcd[59802]: raft2024/10/01 07:51:09 INFO: 33238c1cdfea94eb became leader at term 2
Oct 01 07:51:09 ubuntu etcd[59802]: raft2024/10/01 07:51:09 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 01 07:51:09 ubuntu etcd[59802]: ready to serve client requests
Oct 01 07:51:09 ubuntu etcd[59802]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 01 07:51:09 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 01 07:51:09 ubuntu etcd[59802]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 01 07:51:09 ubuntu etcd[59802]: setting up the initial cluster version to 3.4
Oct 01 07:51:09 ubuntu etcd[59802]: set the initial cluster version to 3.4
Oct 01 07:51:09 ubuntu etcd[59802]: enabled capabilities for version 3.4
Oct 01 07:55:30 ubuntu etcd[59802]: start time = 2024-10-01 07:55:30.064375682 +0000 UTC m=+260.536003518, time spent = 500.644µs, remote = 10.201.4.32:54454, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 01 07:55:30 ubuntu etcd[59802]: start time = 2024-10-01 07:55:30.098083541 +0000 UTC m=+260.569711382, time spent = 268.065µs, remote = 10.201.4.32:54454, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 01 07:55:36 ubuntu etcd[59802]: start time = 2024-10-01 07:55:36.604222701 +0000 UTC m=+267.075850544, time spent = 182.447µs, remote = 10.201.4.32:54454, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 01 07:55:38 ubuntu etcd[59802]: start time = 2024-10-01 07:55:38.971207309 +0000 UTC m=+269.442835151, time spent = 169.459µs, remote = 10.201.4.32:54454, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
