Mar 04 17:26:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 04 17:26:43 ubuntu etcd[60641]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 04 17:26:43 ubuntu etcd[60641]:         A future release of golang/protobuf will delete this package,
Mar 04 17:26:43 ubuntu etcd[60641]:         which has long been excluded from the compatibility promise.
Mar 04 17:26:43 ubuntu etcd[60641]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 04 17:26:43 ubuntu etcd[60641]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 04 17:26:43 ubuntu etcd[60641]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 04 17:26:43 ubuntu etcd[60641]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 04 17:26:43 ubuntu etcd[60641]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 04 17:26:43 ubuntu etcd[60641]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 04 17:26:43 ubuntu etcd[60641]: Running http and grpc server on single port. This is not recommended for production.
Mar 04 17:26:43 ubuntu etcd[60641]: etcd Version: 3.4.27
Mar 04 17:26:43 ubuntu etcd[60641]: Git SHA: c92fb80f3
Mar 04 17:26:43 ubuntu etcd[60641]: Go Version: go1.19.10
Mar 04 17:26:43 ubuntu etcd[60641]: Go OS/Arch: linux/amd64
Mar 04 17:26:43 ubuntu etcd[60641]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 04 17:26:43 ubuntu etcd[60641]: Running http and grpc server on single port. This is not recommended for production.
Mar 04 17:26:43 ubuntu etcd[60641]: name = ubuntu
Mar 04 17:26:43 ubuntu etcd[60641]: data dir = /opt/stack/data/etcd
Mar 04 17:26:43 ubuntu etcd[60641]: member dir = /opt/stack/data/etcd/member
Mar 04 17:26:43 ubuntu etcd[60641]: heartbeat = 100ms
Mar 04 17:26:43 ubuntu etcd[60641]: election = 1000ms
Mar 04 17:26:43 ubuntu etcd[60641]: snapshot count = 100000
Mar 04 17:26:43 ubuntu etcd[60641]: advertise client URLs = http://10.201.4.32:2379
Mar 04 17:26:43 ubuntu etcd[60641]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 04 17:26:43 ubuntu etcd[60641]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 04 17:26:43 ubuntu etcd[60641]: raft2024/03/04 17:26:43 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 04 17:26:43 ubuntu etcd[60641]: raft2024/03/04 17:26:43 INFO: 33238c1cdfea94eb became follower at term 0
Mar 04 17:26:43 ubuntu etcd[60641]: raft2024/03/04 17:26:43 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 04 17:26:43 ubuntu etcd[60641]: raft2024/03/04 17:26:43 INFO: 33238c1cdfea94eb became follower at term 1
Mar 04 17:26:43 ubuntu etcd[60641]: raft2024/03/04 17:26:43 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 04 17:26:43 ubuntu etcd[60641]: simple token is not cryptographically signed
Mar 04 17:26:43 ubuntu etcd[60641]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 04 17:26:43 ubuntu etcd[60641]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 04 17:26:43 ubuntu etcd[60641]: raft2024/03/04 17:26:43 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 04 17:26:43 ubuntu etcd[60641]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 04 17:26:43 ubuntu etcd[60641]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 04 17:26:43 ubuntu etcd[60641]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 04 17:26:43 ubuntu etcd[60641]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 04 17:26:43 ubuntu etcd[60641]: listening for peers on [::]:2380
Mar 04 17:26:43 ubuntu etcd[60641]: raft2024/03/04 17:26:43 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 04 17:26:43 ubuntu etcd[60641]: raft2024/03/04 17:26:43 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 04 17:26:43 ubuntu etcd[60641]: raft2024/03/04 17:26:43 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 04 17:26:43 ubuntu etcd[60641]: raft2024/03/04 17:26:43 INFO: 33238c1cdfea94eb became leader at term 2
Mar 04 17:26:43 ubuntu etcd[60641]: raft2024/03/04 17:26:43 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 04 17:26:43 ubuntu etcd[60641]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 04 17:26:43 ubuntu etcd[60641]: ready to serve client requests
Mar 04 17:26:43 ubuntu etcd[60641]: INFO: 2024/03/04 17:26:43 parsed scheme: ""
Mar 04 17:26:43 ubuntu etcd[60641]: INFO: 2024/03/04 17:26:43 scheme "" not registered, fallback to default scheme
Mar 04 17:26:43 ubuntu etcd[60641]: INFO: 2024/03/04 17:26:43 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 04 17:26:43 ubuntu etcd[60641]: INFO: 2024/03/04 17:26:43 ClientConn switching balancer to "pick_first"
Mar 04 17:26:43 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 04 17:26:43 ubuntu etcd[60641]: setting up the initial cluster version to 3.4
Mar 04 17:26:43 ubuntu etcd[60641]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 04 17:26:43 ubuntu etcd[60641]: set the initial cluster version to 3.4
Mar 04 17:26:43 ubuntu etcd[60641]: enabled capabilities for version 3.4
Mar 04 17:30:58 ubuntu etcd[60641]: start time = 2024-03-04 17:30:58.479953647 +0000 UTC m=+254.709844003, time spent = 522.641µs, remote = 10.201.4.32:42120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 04 17:30:58 ubuntu etcd[60641]: start time = 2024-03-04 17:30:58.548462655 +0000 UTC m=+254.778353026, time spent = 296.875µs, remote = 10.201.4.32:42120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 04 17:31:04 ubuntu etcd[60641]: start time = 2024-03-04 17:31:04.969474825 +0000 UTC m=+261.199365192, time spent = 164.954µs, remote = 10.201.4.32:42120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 04 17:31:07 ubuntu etcd[60641]: start time = 2024-03-04 17:31:07.191734523 +0000 UTC m=+263.421624887, time spent = 500.885µs, remote = 10.201.4.32:42120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
