Mar 06 06:04:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 06 06:04:58 ubuntu etcd[60493]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 06 06:04:58 ubuntu etcd[60493]:         A future release of golang/protobuf will delete this package,
Mar 06 06:04:58 ubuntu etcd[60493]:         which has long been excluded from the compatibility promise.
Mar 06 06:04:58 ubuntu etcd[60493]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 06 06:04:58 ubuntu etcd[60493]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 06 06:04:58 ubuntu etcd[60493]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 06 06:04:58 ubuntu etcd[60493]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 06 06:04:58 ubuntu etcd[60493]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 06 06:04:58 ubuntu etcd[60493]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 06 06:04:58 ubuntu etcd[60493]: Running http and grpc server on single port. This is not recommended for production.
Mar 06 06:04:58 ubuntu etcd[60493]: etcd Version: 3.4.27
Mar 06 06:04:58 ubuntu etcd[60493]: Git SHA: c92fb80f3
Mar 06 06:04:58 ubuntu etcd[60493]: Go Version: go1.19.10
Mar 06 06:04:58 ubuntu etcd[60493]: Go OS/Arch: linux/amd64
Mar 06 06:04:58 ubuntu etcd[60493]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 06 06:04:58 ubuntu etcd[60493]: Running http and grpc server on single port. This is not recommended for production.
Mar 06 06:04:58 ubuntu etcd[60493]: name = ubuntu
Mar 06 06:04:58 ubuntu etcd[60493]: data dir = /opt/stack/data/etcd
Mar 06 06:04:58 ubuntu etcd[60493]: member dir = /opt/stack/data/etcd/member
Mar 06 06:04:58 ubuntu etcd[60493]: heartbeat = 100ms
Mar 06 06:04:58 ubuntu etcd[60493]: election = 1000ms
Mar 06 06:04:58 ubuntu etcd[60493]: snapshot count = 100000
Mar 06 06:04:58 ubuntu etcd[60493]: advertise client URLs = http://10.201.4.32:2379
Mar 06 06:04:58 ubuntu etcd[60493]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 06 06:04:58 ubuntu etcd[60493]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 06 06:04:58 ubuntu etcd[60493]: raft2024/03/06 06:04:58 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 06 06:04:58 ubuntu etcd[60493]: raft2024/03/06 06:04:58 INFO: 33238c1cdfea94eb became follower at term 0
Mar 06 06:04:58 ubuntu etcd[60493]: raft2024/03/06 06:04:58 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 06 06:04:58 ubuntu etcd[60493]: raft2024/03/06 06:04:58 INFO: 33238c1cdfea94eb became follower at term 1
Mar 06 06:04:58 ubuntu etcd[60493]: raft2024/03/06 06:04:58 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 06 06:04:58 ubuntu etcd[60493]: simple token is not cryptographically signed
Mar 06 06:04:58 ubuntu etcd[60493]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 06 06:04:58 ubuntu etcd[60493]: raft2024/03/06 06:04:58 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 06 06:04:58 ubuntu etcd[60493]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 06 06:04:58 ubuntu etcd[60493]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 06 06:04:58 ubuntu etcd[60493]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 06 06:04:58 ubuntu etcd[60493]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 06 06:04:58 ubuntu etcd[60493]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 06 06:04:58 ubuntu etcd[60493]: listening for peers on [::]:2380
Mar 06 06:04:59 ubuntu etcd[60493]: raft2024/03/06 06:04:59 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 06 06:04:59 ubuntu etcd[60493]: raft2024/03/06 06:04:59 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 06 06:04:59 ubuntu etcd[60493]: raft2024/03/06 06:04:59 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 06 06:04:59 ubuntu etcd[60493]: raft2024/03/06 06:04:59 INFO: 33238c1cdfea94eb became leader at term 2
Mar 06 06:04:59 ubuntu etcd[60493]: raft2024/03/06 06:04:59 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 06 06:04:59 ubuntu etcd[60493]: INFO: 2024/03/06 06:04:59 parsed scheme: ""
Mar 06 06:04:59 ubuntu etcd[60493]: INFO: 2024/03/06 06:04:59 scheme "" not registered, fallback to default scheme
Mar 06 06:04:59 ubuntu etcd[60493]: INFO: 2024/03/06 06:04:59 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 06 06:04:59 ubuntu etcd[60493]: INFO: 2024/03/06 06:04:59 ClientConn switching balancer to "pick_first"
Mar 06 06:04:59 ubuntu etcd[60493]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 06 06:04:59 ubuntu etcd[60493]: setting up the initial cluster version to 3.4
Mar 06 06:04:59 ubuntu etcd[60493]: ready to serve client requests
Mar 06 06:04:59 ubuntu etcd[60493]: set the initial cluster version to 3.4
Mar 06 06:04:59 ubuntu etcd[60493]: enabled capabilities for version 3.4
Mar 06 06:04:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 06 06:04:59 ubuntu etcd[60493]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 06 06:09:15 ubuntu etcd[60493]: start time = 2024-03-06 06:09:15.634402277 +0000 UTC m=+257.237311252, time spent = 474.487µs, remote = 10.201.4.32:40640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 06 06:09:15 ubuntu etcd[60493]: start time = 2024-03-06 06:09:15.697500796 +0000 UTC m=+257.300409776, time spent = 345.27µs, remote = 10.201.4.32:40640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 06 06:09:22 ubuntu etcd[60493]: start time = 2024-03-06 06:09:22.01673555 +0000 UTC m=+263.619644514, time spent = 194.51µs, remote = 10.201.4.32:40640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 06 06:09:24 ubuntu etcd[60493]: start time = 2024-03-06 06:09:24.426864888 +0000 UTC m=+266.029773863, time spent = 294.798µs, remote = 10.201.4.32:40640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
