Apr 22 09:48:10 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 22 09:48:10 ubuntu etcd[57934]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 22 09:48:10 ubuntu etcd[57934]:         A future release of golang/protobuf will delete this package,
Apr 22 09:48:10 ubuntu etcd[57934]:         which has long been excluded from the compatibility promise.
Apr 22 09:48:10 ubuntu etcd[57934]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 22 09:48:10 ubuntu etcd[57934]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 22 09:48:10 ubuntu etcd[57934]: Running http and grpc server on single port. This is not recommended for production.
Apr 22 09:48:10 ubuntu etcd[57934]: etcd Version: 3.4.27
Apr 22 09:48:10 ubuntu etcd[57934]: Git SHA: c92fb80f3
Apr 22 09:48:10 ubuntu etcd[57934]: Go Version: go1.19.10
Apr 22 09:48:10 ubuntu etcd[57934]: Go OS/Arch: linux/amd64
Apr 22 09:48:10 ubuntu etcd[57934]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 22 09:48:10 ubuntu etcd[57934]: Running http and grpc server on single port. This is not recommended for production.
Apr 22 09:48:10 ubuntu etcd[57934]: name = ubuntu
Apr 22 09:48:10 ubuntu etcd[57934]: data dir = /opt/stack/data/etcd
Apr 22 09:48:10 ubuntu etcd[57934]: member dir = /opt/stack/data/etcd/member
Apr 22 09:48:10 ubuntu etcd[57934]: heartbeat = 100ms
Apr 22 09:48:10 ubuntu etcd[57934]: election = 1000ms
Apr 22 09:48:10 ubuntu etcd[57934]: snapshot count = 100000
Apr 22 09:48:10 ubuntu etcd[57934]: advertise client URLs = http://10.201.9.223:2379
Apr 22 09:48:10 ubuntu etcd[57934]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 22 09:48:10 ubuntu etcd[57934]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 22 09:48:10 ubuntu etcd[57934]: simple token is not cryptographically signed
Apr 22 09:48:10 ubuntu etcd[57934]: raft2025/04/22 09:48:10 INFO: c25b29daa831042c switched to configuration voters=()
Apr 22 09:48:10 ubuntu etcd[57934]: raft2025/04/22 09:48:10 INFO: c25b29daa831042c became follower at term 0
Apr 22 09:48:10 ubuntu etcd[57934]: raft2025/04/22 09:48:10 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 22 09:48:10 ubuntu etcd[57934]: raft2025/04/22 09:48:10 INFO: c25b29daa831042c became follower at term 1
Apr 22 09:48:10 ubuntu etcd[57934]: raft2025/04/22 09:48:10 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 22 09:48:10 ubuntu etcd[57934]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 22 09:48:10 ubuntu etcd[57934]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 22 09:48:10 ubuntu etcd[57934]: raft2025/04/22 09:48:10 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 22 09:48:10 ubuntu etcd[57934]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 22 09:48:10 ubuntu etcd[57934]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 22 09:48:10 ubuntu etcd[57934]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 22 09:48:10 ubuntu etcd[57934]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 22 09:48:10 ubuntu etcd[57934]: listening for peers on [::]:2380
Apr 22 09:48:10 ubuntu etcd[57934]: raft2025/04/22 09:48:10 INFO: c25b29daa831042c is starting a new election at term 1
Apr 22 09:48:10 ubuntu etcd[57934]: raft2025/04/22 09:48:10 INFO: c25b29daa831042c became candidate at term 2
Apr 22 09:48:10 ubuntu etcd[57934]: raft2025/04/22 09:48:10 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 22 09:48:10 ubuntu etcd[57934]: raft2025/04/22 09:48:10 INFO: c25b29daa831042c became leader at term 2
Apr 22 09:48:10 ubuntu etcd[57934]: raft2025/04/22 09:48:10 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 22 09:48:10 ubuntu etcd[57934]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 22 09:48:10 ubuntu etcd[57934]: ready to serve client requests
Apr 22 09:48:10 ubuntu etcd[57934]: setting up the initial cluster version to 3.4
Apr 22 09:48:10 ubuntu etcd[57934]: set the initial cluster version to 3.4
Apr 22 09:48:10 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 22 09:48:10 ubuntu etcd[57934]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 22 09:48:10 ubuntu etcd[57934]: enabled capabilities for version 3.4
Apr 22 09:52:19 ubuntu etcd[57934]: start time = 2025-04-22 09:52:19.697679468 +0000 UTC m=+249.347515944, time spent = 474.024µs, remote = 10.201.9.223:47000, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 09:52:19 ubuntu etcd[57934]: start time = 2025-04-22 09:52:19.715895221 +0000 UTC m=+249.365731712, time spent = 167.956µs, remote = 10.201.9.223:47000, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 09:52:26 ubuntu etcd[57934]: start time = 2025-04-22 09:52:26.28532264 +0000 UTC m=+255.935159126, time spent = 218.812µs, remote = 10.201.9.223:47000, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 09:52:28 ubuntu etcd[57934]: start time = 2025-04-22 09:52:28.108327573 +0000 UTC m=+257.758164048, time spent = 308.425µs, remote = 10.201.9.223:47000, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
