Apr 17 06:54:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 17 06:54:23 ubuntu etcd[57821]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 17 06:54:23 ubuntu etcd[57821]:         A future release of golang/protobuf will delete this package,
Apr 17 06:54:23 ubuntu etcd[57821]:         which has long been excluded from the compatibility promise.
Apr 17 06:54:23 ubuntu etcd[57821]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 17 06:54:23 ubuntu etcd[57821]: Running http and grpc server on single port. This is not recommended for production.
Apr 17 06:54:23 ubuntu etcd[57821]: etcd Version: 3.4.27
Apr 17 06:54:23 ubuntu etcd[57821]: Git SHA: c92fb80f3
Apr 17 06:54:23 ubuntu etcd[57821]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 17 06:54:23 ubuntu etcd[57821]: Go Version: go1.19.10
Apr 17 06:54:23 ubuntu etcd[57821]: Go OS/Arch: linux/amd64
Apr 17 06:54:23 ubuntu etcd[57821]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 17 06:54:23 ubuntu etcd[57821]: Running http and grpc server on single port. This is not recommended for production.
Apr 17 06:54:23 ubuntu etcd[57821]: name = ubuntu
Apr 17 06:54:23 ubuntu etcd[57821]: data dir = /opt/stack/data/etcd
Apr 17 06:54:23 ubuntu etcd[57821]: member dir = /opt/stack/data/etcd/member
Apr 17 06:54:23 ubuntu etcd[57821]: heartbeat = 100ms
Apr 17 06:54:23 ubuntu etcd[57821]: election = 1000ms
Apr 17 06:54:23 ubuntu etcd[57821]: snapshot count = 100000
Apr 17 06:54:23 ubuntu etcd[57821]: advertise client URLs = http://10.201.9.223:2379
Apr 17 06:54:23 ubuntu etcd[57821]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 17 06:54:23 ubuntu etcd[57821]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 17 06:54:23 ubuntu etcd[57821]: raft2025/04/17 06:54:23 INFO: c25b29daa831042c switched to configuration voters=()
Apr 17 06:54:23 ubuntu etcd[57821]: raft2025/04/17 06:54:23 INFO: c25b29daa831042c became follower at term 0
Apr 17 06:54:23 ubuntu etcd[57821]: raft2025/04/17 06:54:23 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 17 06:54:23 ubuntu etcd[57821]: raft2025/04/17 06:54:23 INFO: c25b29daa831042c became follower at term 1
Apr 17 06:54:23 ubuntu etcd[57821]: raft2025/04/17 06:54:23 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 17 06:54:23 ubuntu etcd[57821]: simple token is not cryptographically signed
Apr 17 06:54:23 ubuntu etcd[57821]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 17 06:54:23 ubuntu etcd[57821]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 17 06:54:23 ubuntu etcd[57821]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 17 06:54:23 ubuntu etcd[57821]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 17 06:54:23 ubuntu etcd[57821]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 17 06:54:23 ubuntu etcd[57821]: raft2025/04/17 06:54:23 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 17 06:54:23 ubuntu etcd[57821]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 17 06:54:23 ubuntu etcd[57821]: listening for peers on [::]:2380
Apr 17 06:54:23 ubuntu etcd[57821]: raft2025/04/17 06:54:23 INFO: c25b29daa831042c is starting a new election at term 1
Apr 17 06:54:23 ubuntu etcd[57821]: raft2025/04/17 06:54:23 INFO: c25b29daa831042c became candidate at term 2
Apr 17 06:54:23 ubuntu etcd[57821]: raft2025/04/17 06:54:23 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 17 06:54:23 ubuntu etcd[57821]: raft2025/04/17 06:54:23 INFO: c25b29daa831042c became leader at term 2
Apr 17 06:54:23 ubuntu etcd[57821]: raft2025/04/17 06:54:23 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 17 06:54:23 ubuntu etcd[57821]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 17 06:54:23 ubuntu etcd[57821]: ready to serve client requests
Apr 17 06:54:23 ubuntu etcd[57821]: setting up the initial cluster version to 3.4
Apr 17 06:54:23 ubuntu etcd[57821]: set the initial cluster version to 3.4
Apr 17 06:54:23 ubuntu etcd[57821]: enabled capabilities for version 3.4
Apr 17 06:54:23 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 17 06:54:23 ubuntu etcd[57821]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 17 06:58:31 ubuntu etcd[57821]: start time = 2025-04-17 06:58:31.607491794 +0000 UTC m=+248.002501629, time spent = 483.482µs, remote = 10.201.9.223:46964, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 17 06:58:31 ubuntu etcd[57821]: start time = 2025-04-17 06:58:31.654956382 +0000 UTC m=+248.049966222, time spent = 208.552µs, remote = 10.201.9.223:46964, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 17 06:58:38 ubuntu etcd[57821]: start time = 2025-04-17 06:58:38.205103252 +0000 UTC m=+254.600113093, time spent = 188.562µs, remote = 10.201.9.223:46964, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 17 06:58:40 ubuntu etcd[57821]: start time = 2025-04-17 06:58:40.337676629 +0000 UTC m=+256.732686468, time spent = 564.689µs, remote = 10.201.9.223:46964, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
