Apr 19 19:46:53 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 19 19:46:53 ubuntu etcd[60233]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 19 19:46:53 ubuntu etcd[60233]:         A future release of golang/protobuf will delete this package,
Apr 19 19:46:53 ubuntu etcd[60233]:         which has long been excluded from the compatibility promise.
Apr 19 19:46:53 ubuntu etcd[60233]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 19 19:46:53 ubuntu etcd[60233]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 19 19:46:53 ubuntu etcd[60233]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 19 19:46:53 ubuntu etcd[60233]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 19 19:46:53 ubuntu etcd[60233]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 19 19:46:53 ubuntu etcd[60233]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 19 19:46:53 ubuntu etcd[60233]: Running http and grpc server on single port. This is not recommended for production.
Apr 19 19:46:53 ubuntu etcd[60233]: etcd Version: 3.4.27
Apr 19 19:46:53 ubuntu etcd[60233]: Git SHA: c92fb80f3
Apr 19 19:46:53 ubuntu etcd[60233]: Go Version: go1.19.10
Apr 19 19:46:53 ubuntu etcd[60233]: Go OS/Arch: linux/amd64
Apr 19 19:46:53 ubuntu etcd[60233]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 19 19:46:53 ubuntu etcd[60233]: Running http and grpc server on single port. This is not recommended for production.
Apr 19 19:46:53 ubuntu etcd[60233]: name = ubuntu
Apr 19 19:46:53 ubuntu etcd[60233]: data dir = /opt/stack/data/etcd
Apr 19 19:46:53 ubuntu etcd[60233]: member dir = /opt/stack/data/etcd/member
Apr 19 19:46:53 ubuntu etcd[60233]: heartbeat = 100ms
Apr 19 19:46:53 ubuntu etcd[60233]: election = 1000ms
Apr 19 19:46:53 ubuntu etcd[60233]: snapshot count = 100000
Apr 19 19:46:53 ubuntu etcd[60233]: advertise client URLs = http://10.201.4.32:2379
Apr 19 19:46:53 ubuntu etcd[60233]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 19 19:46:54 ubuntu etcd[60233]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 19 19:46:54 ubuntu etcd[60233]: raft2024/04/19 19:46:54 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 19 19:46:54 ubuntu etcd[60233]: raft2024/04/19 19:46:54 INFO: 33238c1cdfea94eb became follower at term 0
Apr 19 19:46:54 ubuntu etcd[60233]: raft2024/04/19 19:46:54 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 19 19:46:54 ubuntu etcd[60233]: raft2024/04/19 19:46:54 INFO: 33238c1cdfea94eb became follower at term 1
Apr 19 19:46:54 ubuntu etcd[60233]: raft2024/04/19 19:46:54 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 19 19:46:54 ubuntu etcd[60233]: simple token is not cryptographically signed
Apr 19 19:46:54 ubuntu etcd[60233]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 19 19:46:54 ubuntu etcd[60233]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 19 19:46:54 ubuntu etcd[60233]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 19 19:46:54 ubuntu etcd[60233]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 19 19:46:54 ubuntu etcd[60233]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 19 19:46:54 ubuntu etcd[60233]: raft2024/04/19 19:46:54 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 19 19:46:54 ubuntu etcd[60233]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 19 19:46:54 ubuntu etcd[60233]: listening for peers on [::]:2380
Apr 19 19:46:54 ubuntu etcd[60233]: raft2024/04/19 19:46:54 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 19 19:46:54 ubuntu etcd[60233]: raft2024/04/19 19:46:54 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 19 19:46:54 ubuntu etcd[60233]: raft2024/04/19 19:46:54 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 19 19:46:54 ubuntu etcd[60233]: raft2024/04/19 19:46:54 INFO: 33238c1cdfea94eb became leader at term 2
Apr 19 19:46:54 ubuntu etcd[60233]: raft2024/04/19 19:46:54 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 19 19:46:54 ubuntu etcd[60233]: setting up the initial cluster version to 3.4
Apr 19 19:46:54 ubuntu etcd[60233]: set the initial cluster version to 3.4
Apr 19 19:46:54 ubuntu etcd[60233]: enabled capabilities for version 3.4
Apr 19 19:46:54 ubuntu etcd[60233]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 19 19:46:54 ubuntu etcd[60233]: ready to serve client requests
Apr 19 19:46:54 ubuntu etcd[60233]: INFO: 2024/04/19 19:46:54 parsed scheme: ""
Apr 19 19:46:54 ubuntu etcd[60233]: INFO: 2024/04/19 19:46:54 scheme "" not registered, fallback to default scheme
Apr 19 19:46:54 ubuntu etcd[60233]: INFO: 2024/04/19 19:46:54 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 19 19:46:54 ubuntu etcd[60233]: INFO: 2024/04/19 19:46:54 ClientConn switching balancer to "pick_first"
Apr 19 19:46:54 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 19 19:46:54 ubuntu etcd[60233]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 19 19:51:12 ubuntu etcd[60233]: start time = 2024-04-19 19:51:12.884478677 +0000 UTC m=+258.905844061, time spent = 413.641µs, remote = 10.201.4.32:51266, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 19 19:51:12 ubuntu etcd[60233]: start time = 2024-04-19 19:51:12.942651609 +0000 UTC m=+258.964016982, time spent = 277.42µs, remote = 10.201.4.32:51266, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 19 19:51:19 ubuntu etcd[60233]: start time = 2024-04-19 19:51:19.727341755 +0000 UTC m=+265.748707128, time spent = 349.857µs, remote = 10.201.4.32:51266, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 19 19:51:21 ubuntu etcd[60233]: start time = 2024-04-19 19:51:21.849033832 +0000 UTC m=+267.870399204, time spent = 173.772µs, remote = 10.201.4.32:51266, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
