Apr 07 18:48:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 07 18:48:28 ubuntu etcd[57499]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 07 18:48:28 ubuntu etcd[57499]:         A future release of golang/protobuf will delete this package,
Apr 07 18:48:28 ubuntu etcd[57499]:         which has long been excluded from the compatibility promise.
Apr 07 18:48:28 ubuntu etcd[57499]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 07 18:48:28 ubuntu etcd[57499]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 07 18:48:28 ubuntu etcd[57499]: Running http and grpc server on single port. This is not recommended for production.
Apr 07 18:48:28 ubuntu etcd[57499]: etcd Version: 3.4.27
Apr 07 18:48:28 ubuntu etcd[57499]: Git SHA: c92fb80f3
Apr 07 18:48:28 ubuntu etcd[57499]: Go Version: go1.19.10
Apr 07 18:48:28 ubuntu etcd[57499]: Go OS/Arch: linux/amd64
Apr 07 18:48:28 ubuntu etcd[57499]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 07 18:48:28 ubuntu etcd[57499]: Running http and grpc server on single port. This is not recommended for production.
Apr 07 18:48:28 ubuntu etcd[57499]: name = ubuntu
Apr 07 18:48:28 ubuntu etcd[57499]: data dir = /opt/stack/data/etcd
Apr 07 18:48:28 ubuntu etcd[57499]: member dir = /opt/stack/data/etcd/member
Apr 07 18:48:28 ubuntu etcd[57499]: heartbeat = 100ms
Apr 07 18:48:28 ubuntu etcd[57499]: election = 1000ms
Apr 07 18:48:28 ubuntu etcd[57499]: snapshot count = 100000
Apr 07 18:48:28 ubuntu etcd[57499]: advertise client URLs = http://10.201.9.223:2379
Apr 07 18:48:28 ubuntu etcd[57499]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 07 18:48:28 ubuntu etcd[57499]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 07 18:48:28 ubuntu etcd[57499]: raft2025/04/07 18:48:28 INFO: c25b29daa831042c switched to configuration voters=()
Apr 07 18:48:28 ubuntu etcd[57499]: raft2025/04/07 18:48:28 INFO: c25b29daa831042c became follower at term 0
Apr 07 18:48:28 ubuntu etcd[57499]: raft2025/04/07 18:48:28 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 07 18:48:28 ubuntu etcd[57499]: raft2025/04/07 18:48:28 INFO: c25b29daa831042c became follower at term 1
Apr 07 18:48:28 ubuntu etcd[57499]: raft2025/04/07 18:48:28 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 07 18:48:28 ubuntu etcd[57499]: simple token is not cryptographically signed
Apr 07 18:48:28 ubuntu etcd[57499]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 07 18:48:28 ubuntu etcd[57499]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 07 18:48:28 ubuntu etcd[57499]: raft2025/04/07 18:48:28 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 07 18:48:28 ubuntu etcd[57499]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 07 18:48:28 ubuntu etcd[57499]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 07 18:48:28 ubuntu etcd[57499]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 07 18:48:28 ubuntu etcd[57499]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 07 18:48:28 ubuntu etcd[57499]: listening for peers on [::]:2380
Apr 07 18:48:29 ubuntu etcd[57499]: raft2025/04/07 18:48:29 INFO: c25b29daa831042c is starting a new election at term 1
Apr 07 18:48:29 ubuntu etcd[57499]: raft2025/04/07 18:48:29 INFO: c25b29daa831042c became candidate at term 2
Apr 07 18:48:29 ubuntu etcd[57499]: raft2025/04/07 18:48:29 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 07 18:48:29 ubuntu etcd[57499]: raft2025/04/07 18:48:29 INFO: c25b29daa831042c became leader at term 2
Apr 07 18:48:29 ubuntu etcd[57499]: raft2025/04/07 18:48:29 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 07 18:48:29 ubuntu etcd[57499]: ready to serve client requests
Apr 07 18:48:29 ubuntu etcd[57499]: setting up the initial cluster version to 3.4
Apr 07 18:48:29 ubuntu etcd[57499]: set the initial cluster version to 3.4
Apr 07 18:48:29 ubuntu etcd[57499]: enabled capabilities for version 3.4
Apr 07 18:48:29 ubuntu etcd[57499]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 07 18:48:29 ubuntu etcd[57499]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 07 18:48:29 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 07 18:52:35 ubuntu etcd[57499]: start time = 2025-04-07 18:52:35.797810313 +0000 UTC m=+246.952056672, time spent = 426.978µs, remote = 10.201.9.223:38588, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 07 18:52:35 ubuntu etcd[57499]: start time = 2025-04-07 18:52:35.872729801 +0000 UTC m=+247.026976173, time spent = 229.555µs, remote = 10.201.9.223:38588, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 07 18:52:42 ubuntu etcd[57499]: start time = 2025-04-07 18:52:42.316049866 +0000 UTC m=+253.470296225, time spent = 186.029µs, remote = 10.201.9.223:38588, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 07 18:52:44 ubuntu etcd[57499]: start time = 2025-04-07 18:52:44.360420418 +0000 UTC m=+255.514666791, time spent = 296.77µs, remote = 10.201.9.223:38588, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
