Feb 20 14:39:40 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 20 14:39:40 ubuntu etcd[60357]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 20 14:39:40 ubuntu etcd[60357]:         A future release of golang/protobuf will delete this package,
Feb 20 14:39:40 ubuntu etcd[60357]:         which has long been excluded from the compatibility promise.
Feb 20 14:39:40 ubuntu etcd[60357]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 20 14:39:40 ubuntu etcd[60357]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 20 14:39:40 ubuntu etcd[60357]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 20 14:39:40 ubuntu etcd[60357]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 20 14:39:40 ubuntu etcd[60357]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 20 14:39:40 ubuntu etcd[60357]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 20 14:39:40 ubuntu etcd[60357]: Running http and grpc server on single port. This is not recommended for production.
Feb 20 14:39:40 ubuntu etcd[60357]: etcd Version: 3.4.27
Feb 20 14:39:40 ubuntu etcd[60357]: Git SHA: c92fb80f3
Feb 20 14:39:40 ubuntu etcd[60357]: Go Version: go1.19.10
Feb 20 14:39:40 ubuntu etcd[60357]: Go OS/Arch: linux/amd64
Feb 20 14:39:40 ubuntu etcd[60357]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 20 14:39:40 ubuntu etcd[60357]: Running http and grpc server on single port. This is not recommended for production.
Feb 20 14:39:40 ubuntu etcd[60357]: name = ubuntu
Feb 20 14:39:40 ubuntu etcd[60357]: data dir = /opt/stack/data/etcd
Feb 20 14:39:40 ubuntu etcd[60357]: member dir = /opt/stack/data/etcd/member
Feb 20 14:39:40 ubuntu etcd[60357]: heartbeat = 100ms
Feb 20 14:39:40 ubuntu etcd[60357]: election = 1000ms
Feb 20 14:39:40 ubuntu etcd[60357]: snapshot count = 100000
Feb 20 14:39:40 ubuntu etcd[60357]: advertise client URLs = http://10.201.4.32:2379
Feb 20 14:39:40 ubuntu etcd[60357]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 20 14:39:40 ubuntu etcd[60357]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 20 14:39:40 ubuntu etcd[60357]: raft2024/02/20 14:39:40 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 20 14:39:40 ubuntu etcd[60357]: raft2024/02/20 14:39:40 INFO: 33238c1cdfea94eb became follower at term 0
Feb 20 14:39:40 ubuntu etcd[60357]: raft2024/02/20 14:39:40 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 20 14:39:40 ubuntu etcd[60357]: raft2024/02/20 14:39:40 INFO: 33238c1cdfea94eb became follower at term 1
Feb 20 14:39:40 ubuntu etcd[60357]: raft2024/02/20 14:39:40 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 20 14:39:40 ubuntu etcd[60357]: simple token is not cryptographically signed
Feb 20 14:39:40 ubuntu etcd[60357]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 20 14:39:40 ubuntu etcd[60357]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 20 14:39:40 ubuntu etcd[60357]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 20 14:39:40 ubuntu etcd[60357]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 20 14:39:40 ubuntu etcd[60357]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 20 14:39:40 ubuntu etcd[60357]: raft2024/02/20 14:39:40 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 20 14:39:40 ubuntu etcd[60357]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 20 14:39:40 ubuntu etcd[60357]: listening for peers on [::]:2380
Feb 20 14:39:40 ubuntu etcd[60357]: raft2024/02/20 14:39:40 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 20 14:39:40 ubuntu etcd[60357]: raft2024/02/20 14:39:40 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 20 14:39:40 ubuntu etcd[60357]: raft2024/02/20 14:39:40 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 20 14:39:40 ubuntu etcd[60357]: raft2024/02/20 14:39:40 INFO: 33238c1cdfea94eb became leader at term 2
Feb 20 14:39:40 ubuntu etcd[60357]: raft2024/02/20 14:39:40 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 20 14:39:40 ubuntu etcd[60357]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 20 14:39:40 ubuntu etcd[60357]: setting up the initial cluster version to 3.4
Feb 20 14:39:40 ubuntu etcd[60357]: ready to serve client requests
Feb 20 14:39:40 ubuntu etcd[60357]: INFO: 2024/02/20 14:39:40 parsed scheme: ""
Feb 20 14:39:40 ubuntu etcd[60357]: INFO: 2024/02/20 14:39:40 scheme "" not registered, fallback to default scheme
Feb 20 14:39:40 ubuntu etcd[60357]: INFO: 2024/02/20 14:39:40 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 20 14:39:40 ubuntu etcd[60357]: INFO: 2024/02/20 14:39:40 ClientConn switching balancer to "pick_first"
Feb 20 14:39:40 ubuntu etcd[60357]: set the initial cluster version to 3.4
Feb 20 14:39:40 ubuntu etcd[60357]: enabled capabilities for version 3.4
Feb 20 14:39:40 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 20 14:39:40 ubuntu etcd[60357]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 20 14:43:59 ubuntu etcd[60357]: start time = 2024-02-20 14:43:59.123481109 +0000 UTC m=+258.674908805, time spent = 520.495µs, remote = 10.201.4.32:33564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 20 14:43:59 ubuntu etcd[60357]: start time = 2024-02-20 14:43:59.168012652 +0000 UTC m=+258.719440362, time spent = 275.994µs, remote = 10.201.4.32:33564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 20 14:44:05 ubuntu etcd[60357]: start time = 2024-02-20 14:44:05.892279414 +0000 UTC m=+265.443707166, time spent = 395.98µs, remote = 10.201.4.32:33564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 20 14:44:08 ubuntu etcd[60357]: start time = 2024-02-20 14:44:08.05704177 +0000 UTC m=+267.608469476, time spent = 242.927µs, remote = 10.201.4.32:33564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
