Feb 07 01:59:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 07 01:59:43 ubuntu etcd[60031]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 07 01:59:43 ubuntu etcd[60031]:         A future release of golang/protobuf will delete this package,
Feb 07 01:59:43 ubuntu etcd[60031]:         which has long been excluded from the compatibility promise.
Feb 07 01:59:43 ubuntu etcd[60031]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 07 01:59:43 ubuntu etcd[60031]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 07 01:59:43 ubuntu etcd[60031]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 07 01:59:43 ubuntu etcd[60031]: Running http and grpc server on single port. This is not recommended for production.
Feb 07 01:59:43 ubuntu etcd[60031]: etcd Version: 3.4.27
Feb 07 01:59:43 ubuntu etcd[60031]: Git SHA: c92fb80f3
Feb 07 01:59:43 ubuntu etcd[60031]: Go Version: go1.19.10
Feb 07 01:59:43 ubuntu etcd[60031]: Go OS/Arch: linux/amd64
Feb 07 01:59:43 ubuntu etcd[60031]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 07 01:59:43 ubuntu etcd[60031]: Running http and grpc server on single port. This is not recommended for production.
Feb 07 01:59:43 ubuntu etcd[60031]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 07 01:59:43 ubuntu etcd[60031]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 07 01:59:43 ubuntu etcd[60031]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 07 01:59:43 ubuntu etcd[60031]: name = ubuntu
Feb 07 01:59:43 ubuntu etcd[60031]: data dir = /opt/stack/data/etcd
Feb 07 01:59:43 ubuntu etcd[60031]: member dir = /opt/stack/data/etcd/member
Feb 07 01:59:43 ubuntu etcd[60031]: heartbeat = 100ms
Feb 07 01:59:43 ubuntu etcd[60031]: election = 1000ms
Feb 07 01:59:43 ubuntu etcd[60031]: snapshot count = 100000
Feb 07 01:59:43 ubuntu etcd[60031]: advertise client URLs = http://10.201.4.32:2379
Feb 07 01:59:43 ubuntu etcd[60031]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 07 01:59:43 ubuntu etcd[60031]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 07 01:59:43 ubuntu etcd[60031]: raft2024/02/07 01:59:43 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 07 01:59:43 ubuntu etcd[60031]: raft2024/02/07 01:59:43 INFO: 33238c1cdfea94eb became follower at term 0
Feb 07 01:59:43 ubuntu etcd[60031]: raft2024/02/07 01:59:43 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 07 01:59:43 ubuntu etcd[60031]: raft2024/02/07 01:59:43 INFO: 33238c1cdfea94eb became follower at term 1
Feb 07 01:59:43 ubuntu etcd[60031]: raft2024/02/07 01:59:43 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 07 01:59:43 ubuntu etcd[60031]: simple token is not cryptographically signed
Feb 07 01:59:43 ubuntu etcd[60031]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 07 01:59:43 ubuntu etcd[60031]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 07 01:59:43 ubuntu etcd[60031]: raft2024/02/07 01:59:43 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 07 01:59:43 ubuntu etcd[60031]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 07 01:59:43 ubuntu etcd[60031]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 07 01:59:43 ubuntu etcd[60031]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 07 01:59:43 ubuntu etcd[60031]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 07 01:59:43 ubuntu etcd[60031]: listening for peers on [::]:2380
Feb 07 01:59:44 ubuntu etcd[60031]: raft2024/02/07 01:59:44 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 07 01:59:44 ubuntu etcd[60031]: raft2024/02/07 01:59:44 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 07 01:59:44 ubuntu etcd[60031]: raft2024/02/07 01:59:44 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 07 01:59:44 ubuntu etcd[60031]: raft2024/02/07 01:59:44 INFO: 33238c1cdfea94eb became leader at term 2
Feb 07 01:59:44 ubuntu etcd[60031]: raft2024/02/07 01:59:44 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 07 01:59:44 ubuntu etcd[60031]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 07 01:59:44 ubuntu etcd[60031]: ready to serve client requests
Feb 07 01:59:44 ubuntu etcd[60031]: INFO: 2024/02/07 01:59:44 parsed scheme: ""
Feb 07 01:59:44 ubuntu etcd[60031]: INFO: 2024/02/07 01:59:44 scheme "" not registered, fallback to default scheme
Feb 07 01:59:44 ubuntu etcd[60031]: INFO: 2024/02/07 01:59:44 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 07 01:59:44 ubuntu etcd[60031]: INFO: 2024/02/07 01:59:44 ClientConn switching balancer to "pick_first"
Feb 07 01:59:44 ubuntu etcd[60031]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 07 01:59:44 ubuntu etcd[60031]: setting up the initial cluster version to 3.4
Feb 07 01:59:44 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 07 01:59:44 ubuntu etcd[60031]: set the initial cluster version to 3.4
Feb 07 01:59:44 ubuntu etcd[60031]: enabled capabilities for version 3.4
Feb 07 02:04:03 ubuntu etcd[60031]: start time = 2024-02-07 02:04:03.620316116 +0000 UTC m=+259.712643842, time spent = 476.479µs, remote = 10.201.4.32:38818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 07 02:04:03 ubuntu etcd[60031]: start time = 2024-02-07 02:04:03.641347572 +0000 UTC m=+259.733675308, time spent = 222.031µs, remote = 10.201.4.32:38818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 07 02:04:10 ubuntu etcd[60031]: start time = 2024-02-07 02:04:10.211711391 +0000 UTC m=+266.304039115, time spent = 203.22µs, remote = 10.201.4.32:38818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 07 02:04:12 ubuntu etcd[60031]: start time = 2024-02-07 02:04:12.446200797 +0000 UTC m=+268.538528522, time spent = 564.795µs, remote = 10.201.4.32:38818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 07 01:59:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 07 01:59:43 ubuntu etcd[60031]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 07 01:59:43 ubuntu etcd[60031]:         A future release of golang/protobuf will delete this package,
Feb 07 01:59:43 ubuntu etcd[60031]:         which has long been excluded from the compatibility promise.
Feb 07 01:59:43 ubuntu etcd[60031]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 07 01:59:43 ubuntu etcd[60031]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 07 01:59:43 ubuntu etcd[60031]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 07 01:59:43 ubuntu etcd[60031]: Running http and grpc server on single port. This is not recommended for production.
Feb 07 01:59:43 ubuntu etcd[60031]: etcd Version: 3.4.27
Feb 07 01:59:43 ubuntu etcd[60031]: Git SHA: c92fb80f3
Feb 07 01:59:43 ubuntu etcd[60031]: Go Version: go1.19.10
Feb 07 01:59:43 ubuntu etcd[60031]: Go OS/Arch: linux/amd64
Feb 07 01:59:43 ubuntu etcd[60031]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 07 01:59:43 ubuntu etcd[60031]: Running http and grpc server on single port. This is not recommended for production.
Feb 07 01:59:43 ubuntu etcd[60031]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 07 01:59:43 ubuntu etcd[60031]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 07 01:59:43 ubuntu etcd[60031]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 07 01:59:43 ubuntu etcd[60031]: name = ubuntu
Feb 07 01:59:43 ubuntu etcd[60031]: data dir = /opt/stack/data/etcd
Feb 07 01:59:43 ubuntu etcd[60031]: member dir = /opt/stack/data/etcd/member
Feb 07 01:59:43 ubuntu etcd[60031]: heartbeat = 100ms
Feb 07 01:59:43 ubuntu etcd[60031]: election = 1000ms
Feb 07 01:59:43 ubuntu etcd[60031]: snapshot count = 100000
Feb 07 01:59:43 ubuntu etcd[60031]: advertise client URLs = http://10.201.4.32:2379
Feb 07 01:59:43 ubuntu etcd[60031]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 07 01:59:43 ubuntu etcd[60031]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 07 01:59:43 ubuntu etcd[60031]: raft2024/02/07 01:59:43 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 07 01:59:43 ubuntu etcd[60031]: raft2024/02/07 01:59:43 INFO: 33238c1cdfea94eb became follower at term 0
Feb 07 01:59:43 ubuntu etcd[60031]: raft2024/02/07 01:59:43 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 07 01:59:43 ubuntu etcd[60031]: raft2024/02/07 01:59:43 INFO: 33238c1cdfea94eb became follower at term 1
Feb 07 01:59:43 ubuntu etcd[60031]: raft2024/02/07 01:59:43 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 07 01:59:43 ubuntu etcd[60031]: simple token is not cryptographically signed
Feb 07 01:59:43 ubuntu etcd[60031]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 07 01:59:43 ubuntu etcd[60031]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 07 01:59:43 ubuntu etcd[60031]: raft2024/02/07 01:59:43 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 07 01:59:43 ubuntu etcd[60031]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 07 01:59:43 ubuntu etcd[60031]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 07 01:59:43 ubuntu etcd[60031]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 07 01:59:43 ubuntu etcd[60031]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 07 01:59:43 ubuntu etcd[60031]: listening for peers on [::]:2380
Feb 07 01:59:44 ubuntu etcd[60031]: raft2024/02/07 01:59:44 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 07 01:59:44 ubuntu etcd[60031]: raft2024/02/07 01:59:44 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 07 01:59:44 ubuntu etcd[60031]: raft2024/02/07 01:59:44 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 07 01:59:44 ubuntu etcd[60031]: raft2024/02/07 01:59:44 INFO: 33238c1cdfea94eb became leader at term 2
Feb 07 01:59:44 ubuntu etcd[60031]: raft2024/02/07 01:59:44 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 07 01:59:44 ubuntu etcd[60031]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 07 01:59:44 ubuntu etcd[60031]: ready to serve client requests
Feb 07 01:59:44 ubuntu etcd[60031]: INFO: 2024/02/07 01:59:44 parsed scheme: ""
Feb 07 01:59:44 ubuntu etcd[60031]: INFO: 2024/02/07 01:59:44 scheme "" not registered, fallback to default scheme
Feb 07 01:59:44 ubuntu etcd[60031]: INFO: 2024/02/07 01:59:44 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 07 01:59:44 ubuntu etcd[60031]: INFO: 2024/02/07 01:59:44 ClientConn switching balancer to "pick_first"
Feb 07 01:59:44 ubuntu etcd[60031]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 07 01:59:44 ubuntu etcd[60031]: setting up the initial cluster version to 3.4
Feb 07 01:59:44 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 07 01:59:44 ubuntu etcd[60031]: set the initial cluster version to 3.4
Feb 07 01:59:44 ubuntu etcd[60031]: enabled capabilities for version 3.4
Feb 07 02:04:03 ubuntu etcd[60031]: start time = 2024-02-07 02:04:03.620316116 +0000 UTC m=+259.712643842, time spent = 476.479µs, remote = 10.201.4.32:38818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 07 02:04:03 ubuntu etcd[60031]: start time = 2024-02-07 02:04:03.641347572 +0000 UTC m=+259.733675308, time spent = 222.031µs, remote = 10.201.4.32:38818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 07 02:04:10 ubuntu etcd[60031]: start time = 2024-02-07 02:04:10.211711391 +0000 UTC m=+266.304039115, time spent = 203.22µs, remote = 10.201.4.32:38818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 07 02:04:12 ubuntu etcd[60031]: start time = 2024-02-07 02:04:12.446200797 +0000 UTC m=+268.538528522, time spent = 564.795µs, remote = 10.201.4.32:38818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
