Sep 27 05:55:51 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 27 05:55:51 ubuntu etcd[59764]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 27 05:55:51 ubuntu etcd[59764]:         A future release of golang/protobuf will delete this package,
Sep 27 05:55:51 ubuntu etcd[59764]:         which has long been excluded from the compatibility promise.
Sep 27 05:55:51 ubuntu etcd[59764]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 27 05:55:51 ubuntu etcd[59764]: Running http and grpc server on single port. This is not recommended for production.
Sep 27 05:55:51 ubuntu etcd[59764]: etcd Version: 3.4.27
Sep 27 05:55:51 ubuntu etcd[59764]: Git SHA: c92fb80f3
Sep 27 05:55:51 ubuntu etcd[59764]: Go Version: go1.19.10
Sep 27 05:55:51 ubuntu etcd[59764]: Go OS/Arch: linux/amd64
Sep 27 05:55:51 ubuntu etcd[59764]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 27 05:55:51 ubuntu etcd[59764]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 27 05:55:51 ubuntu etcd[59764]: Running http and grpc server on single port. This is not recommended for production.
Sep 27 05:55:51 ubuntu etcd[59764]: name = ubuntu
Sep 27 05:55:51 ubuntu etcd[59764]: data dir = /opt/stack/data/etcd
Sep 27 05:55:51 ubuntu etcd[59764]: member dir = /opt/stack/data/etcd/member
Sep 27 05:55:51 ubuntu etcd[59764]: heartbeat = 100ms
Sep 27 05:55:51 ubuntu etcd[59764]: election = 1000ms
Sep 27 05:55:51 ubuntu etcd[59764]: snapshot count = 100000
Sep 27 05:55:51 ubuntu etcd[59764]: advertise client URLs = http://10.201.4.32:2379
Sep 27 05:55:51 ubuntu etcd[59764]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 27 05:55:51 ubuntu etcd[59764]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 27 05:55:51 ubuntu etcd[59764]: raft2024/09/27 05:55:51 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 27 05:55:51 ubuntu etcd[59764]: raft2024/09/27 05:55:51 INFO: 33238c1cdfea94eb became follower at term 0
Sep 27 05:55:51 ubuntu etcd[59764]: raft2024/09/27 05:55:51 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 27 05:55:51 ubuntu etcd[59764]: raft2024/09/27 05:55:51 INFO: 33238c1cdfea94eb became follower at term 1
Sep 27 05:55:51 ubuntu etcd[59764]: raft2024/09/27 05:55:51 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 27 05:55:51 ubuntu etcd[59764]: simple token is not cryptographically signed
Sep 27 05:55:51 ubuntu etcd[59764]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 27 05:55:51 ubuntu etcd[59764]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 27 05:55:51 ubuntu etcd[59764]: raft2024/09/27 05:55:51 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 27 05:55:51 ubuntu etcd[59764]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 27 05:55:51 ubuntu etcd[59764]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 27 05:55:51 ubuntu etcd[59764]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 27 05:55:51 ubuntu etcd[59764]: listening for peers on [::]:2380
Sep 27 05:55:51 ubuntu etcd[59764]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 27 05:55:51 ubuntu etcd[59764]: raft2024/09/27 05:55:51 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 27 05:55:51 ubuntu etcd[59764]: raft2024/09/27 05:55:51 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 27 05:55:51 ubuntu etcd[59764]: raft2024/09/27 05:55:51 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 27 05:55:51 ubuntu etcd[59764]: raft2024/09/27 05:55:51 INFO: 33238c1cdfea94eb became leader at term 2
Sep 27 05:55:51 ubuntu etcd[59764]: raft2024/09/27 05:55:51 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 27 05:55:51 ubuntu etcd[59764]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 27 05:55:51 ubuntu etcd[59764]: setting up the initial cluster version to 3.4
Sep 27 05:55:51 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 27 05:55:51 ubuntu etcd[59764]: ready to serve client requests
Sep 27 05:55:51 ubuntu etcd[59764]: set the initial cluster version to 3.4
Sep 27 05:55:51 ubuntu etcd[59764]: enabled capabilities for version 3.4
Sep 27 05:55:51 ubuntu etcd[59764]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 27 06:00:10 ubuntu etcd[59764]: start time = 2024-09-27 06:00:10.306688567 +0000 UTC m=+259.295812181, time spent = 442.919µs, remote = 10.201.4.32:33816, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 27 06:00:10 ubuntu etcd[59764]: start time = 2024-09-27 06:00:10.364338075 +0000 UTC m=+259.353461707, time spent = 247.06µs, remote = 10.201.4.32:33816, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 27 06:00:17 ubuntu etcd[59764]: start time = 2024-09-27 06:00:17.119615584 +0000 UTC m=+266.108739211, time spent = 156.871µs, remote = 10.201.4.32:33816, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 27 06:00:19 ubuntu etcd[59764]: start time = 2024-09-27 06:00:19.406000228 +0000 UTC m=+268.395123856, time spent = 187.566µs, remote = 10.201.4.32:33816, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
