Sep 26 12:18:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 26 12:18:58 ubuntu etcd[59537]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 26 12:18:58 ubuntu etcd[59537]:         A future release of golang/protobuf will delete this package,
Sep 26 12:18:58 ubuntu etcd[59537]:         which has long been excluded from the compatibility promise.
Sep 26 12:18:58 ubuntu etcd[59537]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 26 12:18:58 ubuntu etcd[59537]: Running http and grpc server on single port. This is not recommended for production.
Sep 26 12:18:58 ubuntu etcd[59537]: etcd Version: 3.4.27
Sep 26 12:18:58 ubuntu etcd[59537]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 26 12:18:58 ubuntu etcd[59537]: Git SHA: c92fb80f3
Sep 26 12:18:58 ubuntu etcd[59537]: Go Version: go1.19.10
Sep 26 12:18:58 ubuntu etcd[59537]: Go OS/Arch: linux/amd64
Sep 26 12:18:58 ubuntu etcd[59537]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 26 12:18:58 ubuntu etcd[59537]: Running http and grpc server on single port. This is not recommended for production.
Sep 26 12:18:58 ubuntu etcd[59537]: name = ubuntu
Sep 26 12:18:58 ubuntu etcd[59537]: data dir = /opt/stack/data/etcd
Sep 26 12:18:58 ubuntu etcd[59537]: member dir = /opt/stack/data/etcd/member
Sep 26 12:18:58 ubuntu etcd[59537]: heartbeat = 100ms
Sep 26 12:18:58 ubuntu etcd[59537]: election = 1000ms
Sep 26 12:18:58 ubuntu etcd[59537]: snapshot count = 100000
Sep 26 12:18:58 ubuntu etcd[59537]: advertise client URLs = http://10.201.4.32:2379
Sep 26 12:18:58 ubuntu etcd[59537]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 26 12:18:58 ubuntu etcd[59537]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 26 12:18:58 ubuntu etcd[59537]: raft2024/09/26 12:18:58 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 26 12:18:58 ubuntu etcd[59537]: raft2024/09/26 12:18:58 INFO: 33238c1cdfea94eb became follower at term 0
Sep 26 12:18:58 ubuntu etcd[59537]: raft2024/09/26 12:18:58 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 26 12:18:58 ubuntu etcd[59537]: raft2024/09/26 12:18:58 INFO: 33238c1cdfea94eb became follower at term 1
Sep 26 12:18:58 ubuntu etcd[59537]: raft2024/09/26 12:18:58 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 26 12:18:58 ubuntu etcd[59537]: simple token is not cryptographically signed
Sep 26 12:18:58 ubuntu etcd[59537]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 26 12:18:58 ubuntu etcd[59537]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 26 12:18:58 ubuntu etcd[59537]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 26 12:18:58 ubuntu etcd[59537]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 26 12:18:58 ubuntu etcd[59537]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 26 12:18:58 ubuntu etcd[59537]: raft2024/09/26 12:18:58 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 26 12:18:58 ubuntu etcd[59537]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 26 12:18:58 ubuntu etcd[59537]: listening for peers on [::]:2380
Sep 26 12:18:59 ubuntu etcd[59537]: raft2024/09/26 12:18:59 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 26 12:18:59 ubuntu etcd[59537]: raft2024/09/26 12:18:59 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 26 12:18:59 ubuntu etcd[59537]: raft2024/09/26 12:18:59 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 26 12:18:59 ubuntu etcd[59537]: raft2024/09/26 12:18:59 INFO: 33238c1cdfea94eb became leader at term 2
Sep 26 12:18:59 ubuntu etcd[59537]: raft2024/09/26 12:18:59 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 26 12:18:59 ubuntu etcd[59537]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 26 12:18:59 ubuntu etcd[59537]: setting up the initial cluster version to 3.4
Sep 26 12:18:59 ubuntu etcd[59537]: set the initial cluster version to 3.4
Sep 26 12:18:59 ubuntu etcd[59537]: enabled capabilities for version 3.4
Sep 26 12:18:59 ubuntu etcd[59537]: ready to serve client requests
Sep 26 12:18:59 ubuntu etcd[59537]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 26 12:18:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 26 12:23:15 ubuntu etcd[59537]: start time = 2024-09-26 12:23:15.568395173 +0000 UTC m=+257.259734706, time spent = 423.623µs, remote = 10.201.4.32:38142, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 26 12:23:15 ubuntu etcd[59537]: start time = 2024-09-26 12:23:15.632975423 +0000 UTC m=+257.324314974, time spent = 168.839µs, remote = 10.201.4.32:38142, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 26 12:23:22 ubuntu etcd[59537]: start time = 2024-09-26 12:23:22.405517765 +0000 UTC m=+264.096857312, time spent = 171.809µs, remote = 10.201.4.32:38142, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 26 12:23:24 ubuntu etcd[59537]: start time = 2024-09-26 12:23:24.586166439 +0000 UTC m=+266.277505983, time spent = 167.486µs, remote = 10.201.4.32:38142, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 26 12:18:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 26 12:18:58 ubuntu etcd[59537]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 26 12:18:58 ubuntu etcd[59537]:         A future release of golang/protobuf will delete this package,
Sep 26 12:18:58 ubuntu etcd[59537]:         which has long been excluded from the compatibility promise.
Sep 26 12:18:58 ubuntu etcd[59537]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 26 12:18:58 ubuntu etcd[59537]: Running http and grpc server on single port. This is not recommended for production.
Sep 26 12:18:58 ubuntu etcd[59537]: etcd Version: 3.4.27
Sep 26 12:18:58 ubuntu etcd[59537]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 26 12:18:58 ubuntu etcd[59537]: Git SHA: c92fb80f3
Sep 26 12:18:58 ubuntu etcd[59537]: Go Version: go1.19.10
Sep 26 12:18:58 ubuntu etcd[59537]: Go OS/Arch: linux/amd64
Sep 26 12:18:58 ubuntu etcd[59537]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 26 12:18:58 ubuntu etcd[59537]: Running http and grpc server on single port. This is not recommended for production.
Sep 26 12:18:58 ubuntu etcd[59537]: name = ubuntu
Sep 26 12:18:58 ubuntu etcd[59537]: data dir = /opt/stack/data/etcd
Sep 26 12:18:58 ubuntu etcd[59537]: member dir = /opt/stack/data/etcd/member
Sep 26 12:18:58 ubuntu etcd[59537]: heartbeat = 100ms
Sep 26 12:18:58 ubuntu etcd[59537]: election = 1000ms
Sep 26 12:18:58 ubuntu etcd[59537]: snapshot count = 100000
Sep 26 12:18:58 ubuntu etcd[59537]: advertise client URLs = http://10.201.4.32:2379
Sep 26 12:18:58 ubuntu etcd[59537]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 26 12:18:58 ubuntu etcd[59537]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 26 12:18:58 ubuntu etcd[59537]: raft2024/09/26 12:18:58 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 26 12:18:58 ubuntu etcd[59537]: raft2024/09/26 12:18:58 INFO: 33238c1cdfea94eb became follower at term 0
Sep 26 12:18:58 ubuntu etcd[59537]: raft2024/09/26 12:18:58 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 26 12:18:58 ubuntu etcd[59537]: raft2024/09/26 12:18:58 INFO: 33238c1cdfea94eb became follower at term 1
Sep 26 12:18:58 ubuntu etcd[59537]: raft2024/09/26 12:18:58 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 26 12:18:58 ubuntu etcd[59537]: simple token is not cryptographically signed
Sep 26 12:18:58 ubuntu etcd[59537]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 26 12:18:58 ubuntu etcd[59537]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 26 12:18:58 ubuntu etcd[59537]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 26 12:18:58 ubuntu etcd[59537]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 26 12:18:58 ubuntu etcd[59537]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 26 12:18:58 ubuntu etcd[59537]: raft2024/09/26 12:18:58 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 26 12:18:58 ubuntu etcd[59537]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 26 12:18:58 ubuntu etcd[59537]: listening for peers on [::]:2380
Sep 26 12:18:59 ubuntu etcd[59537]: raft2024/09/26 12:18:59 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 26 12:18:59 ubuntu etcd[59537]: raft2024/09/26 12:18:59 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 26 12:18:59 ubuntu etcd[59537]: raft2024/09/26 12:18:59 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 26 12:18:59 ubuntu etcd[59537]: raft2024/09/26 12:18:59 INFO: 33238c1cdfea94eb became leader at term 2
Sep 26 12:18:59 ubuntu etcd[59537]: raft2024/09/26 12:18:59 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 26 12:18:59 ubuntu etcd[59537]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 26 12:18:59 ubuntu etcd[59537]: setting up the initial cluster version to 3.4
Sep 26 12:18:59 ubuntu etcd[59537]: set the initial cluster version to 3.4
Sep 26 12:18:59 ubuntu etcd[59537]: enabled capabilities for version 3.4
Sep 26 12:18:59 ubuntu etcd[59537]: ready to serve client requests
Sep 26 12:18:59 ubuntu etcd[59537]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 26 12:18:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 26 12:23:15 ubuntu etcd[59537]: start time = 2024-09-26 12:23:15.568395173 +0000 UTC m=+257.259734706, time spent = 423.623µs, remote = 10.201.4.32:38142, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 26 12:23:15 ubuntu etcd[59537]: start time = 2024-09-26 12:23:15.632975423 +0000 UTC m=+257.324314974, time spent = 168.839µs, remote = 10.201.4.32:38142, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 26 12:23:22 ubuntu etcd[59537]: start time = 2024-09-26 12:23:22.405517765 +0000 UTC m=+264.096857312, time spent = 171.809µs, remote = 10.201.4.32:38142, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 26 12:23:24 ubuntu etcd[59537]: start time = 2024-09-26 12:23:24.586166439 +0000 UTC m=+266.277505983, time spent = 167.486µs, remote = 10.201.4.32:38142, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
