Dec 18 10:51:44 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 18 10:51:44 ubuntu etcd[58985]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 18 10:51:44 ubuntu etcd[58985]:         A future release of golang/protobuf will delete this package,
Dec 18 10:51:44 ubuntu etcd[58985]:         which has long been excluded from the compatibility promise.
Dec 18 10:51:44 ubuntu etcd[58985]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 18 10:51:44 ubuntu etcd[58985]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 18 10:51:44 ubuntu etcd[58985]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 18 10:51:44 ubuntu etcd[58985]: Running http and grpc server on single port. This is not recommended for production.
Dec 18 10:51:44 ubuntu etcd[58985]: etcd Version: 3.4.27
Dec 18 10:51:44 ubuntu etcd[58985]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 18 10:51:44 ubuntu etcd[58985]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 18 10:51:44 ubuntu etcd[58985]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 18 10:51:44 ubuntu etcd[58985]: Git SHA: c92fb80f3
Dec 18 10:51:44 ubuntu etcd[58985]: Go Version: go1.19.10
Dec 18 10:51:44 ubuntu etcd[58985]: Go OS/Arch: linux/amd64
Dec 18 10:51:44 ubuntu etcd[58985]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 18 10:51:44 ubuntu etcd[58985]: Running http and grpc server on single port. This is not recommended for production.
Dec 18 10:51:44 ubuntu etcd[58985]: name = ubuntu
Dec 18 10:51:44 ubuntu etcd[58985]: data dir = /opt/stack/data/etcd
Dec 18 10:51:44 ubuntu etcd[58985]: member dir = /opt/stack/data/etcd/member
Dec 18 10:51:44 ubuntu etcd[58985]: heartbeat = 100ms
Dec 18 10:51:44 ubuntu etcd[58985]: election = 1000ms
Dec 18 10:51:44 ubuntu etcd[58985]: snapshot count = 100000
Dec 18 10:51:44 ubuntu etcd[58985]: advertise client URLs = http://10.201.4.32:2379
Dec 18 10:51:44 ubuntu etcd[58985]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 18 10:51:44 ubuntu etcd[58985]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 18 10:51:44 ubuntu etcd[58985]: raft2023/12/18 10:51:44 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 18 10:51:44 ubuntu etcd[58985]: raft2023/12/18 10:51:44 INFO: 33238c1cdfea94eb became follower at term 0
Dec 18 10:51:44 ubuntu etcd[58985]: raft2023/12/18 10:51:44 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 18 10:51:44 ubuntu etcd[58985]: raft2023/12/18 10:51:44 INFO: 33238c1cdfea94eb became follower at term 1
Dec 18 10:51:44 ubuntu etcd[58985]: raft2023/12/18 10:51:44 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 18 10:51:44 ubuntu etcd[58985]: simple token is not cryptographically signed
Dec 18 10:51:44 ubuntu etcd[58985]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 18 10:51:44 ubuntu etcd[58985]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 18 10:51:44 ubuntu etcd[58985]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 18 10:51:44 ubuntu etcd[58985]: raft2023/12/18 10:51:44 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 18 10:51:44 ubuntu etcd[58985]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 18 10:51:44 ubuntu etcd[58985]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 18 10:51:44 ubuntu etcd[58985]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 18 10:51:44 ubuntu etcd[58985]: listening for peers on [::]:2380
Dec 18 10:51:45 ubuntu etcd[58985]: raft2023/12/18 10:51:45 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 18 10:51:45 ubuntu etcd[58985]: raft2023/12/18 10:51:45 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 18 10:51:45 ubuntu etcd[58985]: raft2023/12/18 10:51:45 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 18 10:51:45 ubuntu etcd[58985]: raft2023/12/18 10:51:45 INFO: 33238c1cdfea94eb became leader at term 2
Dec 18 10:51:45 ubuntu etcd[58985]: raft2023/12/18 10:51:45 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 18 10:51:45 ubuntu etcd[58985]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 18 10:51:45 ubuntu etcd[58985]: ready to serve client requests
Dec 18 10:51:45 ubuntu etcd[58985]: INFO: 2023/12/18 10:51:45 parsed scheme: ""
Dec 18 10:51:45 ubuntu etcd[58985]: INFO: 2023/12/18 10:51:45 scheme "" not registered, fallback to default scheme
Dec 18 10:51:45 ubuntu etcd[58985]: INFO: 2023/12/18 10:51:45 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Dec 18 10:51:45 ubuntu etcd[58985]: INFO: 2023/12/18 10:51:45 ClientConn switching balancer to "pick_first"
Dec 18 10:51:45 ubuntu etcd[58985]: setting up the initial cluster version to 3.4
Dec 18 10:51:45 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 18 10:51:45 ubuntu etcd[58985]: set the initial cluster version to 3.4
Dec 18 10:51:45 ubuntu etcd[58985]: enabled capabilities for version 3.4
Dec 18 10:51:45 ubuntu etcd[58985]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 18 10:56:02 ubuntu etcd[58985]: start time = 2023-12-18 10:56:02.345258991 +0000 UTC m=+257.594083128, time spent = 375.488µs, remote = 10.201.4.32:42946, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 10:56:02 ubuntu etcd[58985]: start time = 2023-12-18 10:56:02.416071245 +0000 UTC m=+257.664895393, time spent = 188.929µs, remote = 10.201.4.32:42946, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 10:56:08 ubuntu etcd[58985]: start time = 2023-12-18 10:56:08.426934429 +0000 UTC m=+263.675758578, time spent = 171.132µs, remote = 10.201.4.32:42946, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 10:56:10 ubuntu etcd[58985]: start time = 2023-12-18 10:56:10.543878045 +0000 UTC m=+265.792702194, time spent = 176.558µs, remote = 10.201.4.32:42946, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
