Dec 21 00:21:18 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 21 00:21:18 ubuntu etcd[59658]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 21 00:21:18 ubuntu etcd[59658]:         A future release of golang/protobuf will delete this package,
Dec 21 00:21:18 ubuntu etcd[59658]:         which has long been excluded from the compatibility promise.
Dec 21 00:21:18 ubuntu etcd[59658]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 21 00:21:18 ubuntu etcd[59658]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 21 00:21:18 ubuntu etcd[59658]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 21 00:21:18 ubuntu etcd[59658]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 21 00:21:18 ubuntu etcd[59658]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 21 00:21:18 ubuntu etcd[59658]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 21 00:21:18 ubuntu etcd[59658]: Running http and grpc server on single port. This is not recommended for production.
Dec 21 00:21:18 ubuntu etcd[59658]: etcd Version: 3.4.27
Dec 21 00:21:18 ubuntu etcd[59658]: Git SHA: c92fb80f3
Dec 21 00:21:18 ubuntu etcd[59658]: Go Version: go1.19.10
Dec 21 00:21:18 ubuntu etcd[59658]: Go OS/Arch: linux/amd64
Dec 21 00:21:18 ubuntu etcd[59658]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 21 00:21:18 ubuntu etcd[59658]: Running http and grpc server on single port. This is not recommended for production.
Dec 21 00:21:18 ubuntu etcd[59658]: name = ubuntu
Dec 21 00:21:18 ubuntu etcd[59658]: data dir = /opt/stack/data/etcd
Dec 21 00:21:18 ubuntu etcd[59658]: member dir = /opt/stack/data/etcd/member
Dec 21 00:21:18 ubuntu etcd[59658]: heartbeat = 100ms
Dec 21 00:21:18 ubuntu etcd[59658]: election = 1000ms
Dec 21 00:21:18 ubuntu etcd[59658]: snapshot count = 100000
Dec 21 00:21:18 ubuntu etcd[59658]: advertise client URLs = http://10.201.4.32:2379
Dec 21 00:21:18 ubuntu etcd[59658]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 21 00:21:18 ubuntu etcd[59658]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 21 00:21:18 ubuntu etcd[59658]: raft2023/12/21 00:21:18 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 21 00:21:18 ubuntu etcd[59658]: raft2023/12/21 00:21:18 INFO: 33238c1cdfea94eb became follower at term 0
Dec 21 00:21:18 ubuntu etcd[59658]: raft2023/12/21 00:21:18 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 21 00:21:18 ubuntu etcd[59658]: raft2023/12/21 00:21:18 INFO: 33238c1cdfea94eb became follower at term 1
Dec 21 00:21:18 ubuntu etcd[59658]: raft2023/12/21 00:21:18 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 21 00:21:18 ubuntu etcd[59658]: simple token is not cryptographically signed
Dec 21 00:21:18 ubuntu etcd[59658]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 21 00:21:18 ubuntu etcd[59658]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 21 00:21:18 ubuntu etcd[59658]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 21 00:21:18 ubuntu etcd[59658]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 21 00:21:18 ubuntu etcd[59658]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 21 00:21:18 ubuntu etcd[59658]: raft2023/12/21 00:21:18 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 21 00:21:18 ubuntu etcd[59658]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 21 00:21:18 ubuntu etcd[59658]: listening for peers on [::]:2380
Dec 21 00:21:18 ubuntu etcd[59658]: raft2023/12/21 00:21:18 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 21 00:21:18 ubuntu etcd[59658]: raft2023/12/21 00:21:18 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 21 00:21:18 ubuntu etcd[59658]: raft2023/12/21 00:21:18 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 21 00:21:18 ubuntu etcd[59658]: raft2023/12/21 00:21:18 INFO: 33238c1cdfea94eb became leader at term 2
Dec 21 00:21:18 ubuntu etcd[59658]: raft2023/12/21 00:21:18 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 21 00:21:18 ubuntu etcd[59658]: setting up the initial cluster version to 3.4
Dec 21 00:21:18 ubuntu etcd[59658]: set the initial cluster version to 3.4
Dec 21 00:21:18 ubuntu etcd[59658]: enabled capabilities for version 3.4
Dec 21 00:21:18 ubuntu etcd[59658]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 21 00:21:18 ubuntu etcd[59658]: ready to serve client requests
Dec 21 00:21:18 ubuntu etcd[59658]: INFO: 2023/12/21 00:21:18 parsed scheme: ""
Dec 21 00:21:18 ubuntu etcd[59658]: INFO: 2023/12/21 00:21:18 scheme "" not registered, fallback to default scheme
Dec 21 00:21:18 ubuntu etcd[59658]: INFO: 2023/12/21 00:21:18 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Dec 21 00:21:18 ubuntu etcd[59658]: INFO: 2023/12/21 00:21:18 ClientConn switching balancer to "pick_first"
Dec 21 00:21:18 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 21 00:21:18 ubuntu etcd[59658]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 21 00:25:35 ubuntu etcd[59658]: start time = 2023-12-21 00:25:35.187856377 +0000 UTC m=+256.474523180, time spent = 528.64µs, remote = 10.201.4.32:41156, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 21 00:25:35 ubuntu etcd[59658]: start time = 2023-12-21 00:25:35.195841301 +0000 UTC m=+256.482508103, time spent = 198.365µs, remote = 10.201.4.32:41156, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 21 00:25:41 ubuntu etcd[59658]: start time = 2023-12-21 00:25:41.451561726 +0000 UTC m=+262.738228536, time spent = 195.35µs, remote = 10.201.4.32:41156, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 21 00:25:43 ubuntu etcd[59658]: start time = 2023-12-21 00:25:43.696364232 +0000 UTC m=+264.983031034, time spent = 182.225µs, remote = 10.201.4.32:41156, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
