Jul 26 02:27:24 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 26 02:27:24 ubuntu etcd[58702]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 26 02:27:24 ubuntu etcd[58702]:         A future release of golang/protobuf will delete this package,
Jul 26 02:27:24 ubuntu etcd[58702]:         which has long been excluded from the compatibility promise.
Jul 26 02:27:24 ubuntu etcd[58702]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 26 02:27:24 ubuntu etcd[58702]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 26 02:27:24 ubuntu etcd[58702]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 26 02:27:24 ubuntu etcd[58702]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 26 02:27:24 ubuntu etcd[58702]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 26 02:27:24 ubuntu etcd[58702]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 26 02:27:24 ubuntu etcd[58702]: Running http and grpc server on single port. This is not recommended for production.
Jul 26 02:27:24 ubuntu etcd[58702]: etcd Version: 3.4.27
Jul 26 02:27:24 ubuntu etcd[58702]: Git SHA: c92fb80f3
Jul 26 02:27:24 ubuntu etcd[58702]: Go Version: go1.19.10
Jul 26 02:27:24 ubuntu etcd[58702]: Go OS/Arch: linux/amd64
Jul 26 02:27:24 ubuntu etcd[58702]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 26 02:27:24 ubuntu etcd[58702]: Running http and grpc server on single port. This is not recommended for production.
Jul 26 02:27:24 ubuntu etcd[58702]: name = ubuntu
Jul 26 02:27:24 ubuntu etcd[58702]: data dir = /opt/stack/data/etcd
Jul 26 02:27:24 ubuntu etcd[58702]: member dir = /opt/stack/data/etcd/member
Jul 26 02:27:24 ubuntu etcd[58702]: heartbeat = 100ms
Jul 26 02:27:24 ubuntu etcd[58702]: election = 1000ms
Jul 26 02:27:24 ubuntu etcd[58702]: snapshot count = 100000
Jul 26 02:27:24 ubuntu etcd[58702]: advertise client URLs = http://10.201.4.32:2379
Jul 26 02:27:24 ubuntu etcd[58702]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 26 02:27:24 ubuntu etcd[58702]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jul 26 02:27:24 ubuntu etcd[58702]: raft2024/07/26 02:27:24 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jul 26 02:27:24 ubuntu etcd[58702]: raft2024/07/26 02:27:24 INFO: 33238c1cdfea94eb became follower at term 0
Jul 26 02:27:24 ubuntu etcd[58702]: raft2024/07/26 02:27:24 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 26 02:27:24 ubuntu etcd[58702]: raft2024/07/26 02:27:24 INFO: 33238c1cdfea94eb became follower at term 1
Jul 26 02:27:24 ubuntu etcd[58702]: raft2024/07/26 02:27:24 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 26 02:27:24 ubuntu etcd[58702]: simple token is not cryptographically signed
Jul 26 02:27:24 ubuntu etcd[58702]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 26 02:27:24 ubuntu etcd[58702]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 26 02:27:24 ubuntu etcd[58702]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 26 02:27:24 ubuntu etcd[58702]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 26 02:27:24 ubuntu etcd[58702]: raft2024/07/26 02:27:24 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 26 02:27:24 ubuntu etcd[58702]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 26 02:27:24 ubuntu etcd[58702]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jul 26 02:27:24 ubuntu etcd[58702]: listening for peers on [::]:2380
Jul 26 02:27:25 ubuntu etcd[58702]: raft2024/07/26 02:27:25 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jul 26 02:27:25 ubuntu etcd[58702]: raft2024/07/26 02:27:25 INFO: 33238c1cdfea94eb became candidate at term 2
Jul 26 02:27:25 ubuntu etcd[58702]: raft2024/07/26 02:27:25 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jul 26 02:27:25 ubuntu etcd[58702]: raft2024/07/26 02:27:25 INFO: 33238c1cdfea94eb became leader at term 2
Jul 26 02:27:25 ubuntu etcd[58702]: raft2024/07/26 02:27:25 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jul 26 02:27:25 ubuntu etcd[58702]: setting up the initial cluster version to 3.4
Jul 26 02:27:25 ubuntu etcd[58702]: set the initial cluster version to 3.4
Jul 26 02:27:25 ubuntu etcd[58702]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jul 26 02:27:25 ubuntu etcd[58702]: enabled capabilities for version 3.4
Jul 26 02:27:25 ubuntu etcd[58702]: ready to serve client requests
Jul 26 02:27:25 ubuntu etcd[58702]: INFO: 2024/07/26 02:27:25 parsed scheme: ""
Jul 26 02:27:25 ubuntu etcd[58702]: INFO: 2024/07/26 02:27:25 scheme "" not registered, fallback to default scheme
Jul 26 02:27:25 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 26 02:27:25 ubuntu etcd[58702]: INFO: 2024/07/26 02:27:25 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 26 02:27:25 ubuntu etcd[58702]: INFO: 2024/07/26 02:27:25 ClientConn switching balancer to "pick_first"
Jul 26 02:27:25 ubuntu etcd[58702]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jul 26 02:31:47 ubuntu etcd[58702]: start time = 2024-07-26 02:31:47.877243161 +0000 UTC m=+263.393747868, time spent = 537.433µs, remote = 10.201.4.32:50194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 26 02:31:47 ubuntu etcd[58702]: start time = 2024-07-26 02:31:47.913313184 +0000 UTC m=+263.429817902, time spent = 221.866µs, remote = 10.201.4.32:50194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 26 02:31:54 ubuntu etcd[58702]: start time = 2024-07-26 02:31:54.957922585 +0000 UTC m=+270.474427291, time spent = 168.167µs, remote = 10.201.4.32:50194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 26 02:31:57 ubuntu etcd[58702]: start time = 2024-07-26 02:31:57.183851709 +0000 UTC m=+272.700356415, time spent = 367.55µs, remote = 10.201.4.32:50194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
