Jun 05 02:50:56 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 05 02:50:56 ubuntu etcd[57546]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 05 02:50:56 ubuntu etcd[57546]:         A future release of golang/protobuf will delete this package,
Jun 05 02:50:56 ubuntu etcd[57546]:         which has long been excluded from the compatibility promise.
Jun 05 02:50:56 ubuntu etcd[57546]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 05 02:50:56 ubuntu etcd[57546]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 05 02:50:56 ubuntu etcd[57546]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 05 02:50:56 ubuntu etcd[57546]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 05 02:50:56 ubuntu etcd[57546]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 05 02:50:56 ubuntu etcd[57546]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 05 02:50:56 ubuntu etcd[57546]: Running http and grpc server on single port. This is not recommended for production.
Jun 05 02:50:56 ubuntu etcd[57546]: etcd Version: 3.4.27
Jun 05 02:50:56 ubuntu etcd[57546]: Git SHA: c92fb80f3
Jun 05 02:50:56 ubuntu etcd[57546]: Go Version: go1.19.10
Jun 05 02:50:56 ubuntu etcd[57546]: Go OS/Arch: linux/amd64
Jun 05 02:50:56 ubuntu etcd[57546]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 05 02:50:56 ubuntu etcd[57546]: Running http and grpc server on single port. This is not recommended for production.
Jun 05 02:50:56 ubuntu etcd[57546]: name = ubuntu
Jun 05 02:50:56 ubuntu etcd[57546]: data dir = /opt/stack/data/etcd
Jun 05 02:50:56 ubuntu etcd[57546]: member dir = /opt/stack/data/etcd/member
Jun 05 02:50:56 ubuntu etcd[57546]: heartbeat = 100ms
Jun 05 02:50:56 ubuntu etcd[57546]: election = 1000ms
Jun 05 02:50:56 ubuntu etcd[57546]: snapshot count = 100000
Jun 05 02:50:56 ubuntu etcd[57546]: advertise client URLs = http://10.201.4.32:2379
Jun 05 02:50:56 ubuntu etcd[57546]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 05 02:50:56 ubuntu etcd[57546]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb became follower at term 0
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb became follower at term 1
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 05 02:50:56 ubuntu etcd[57546]: simple token is not cryptographically signed
Jun 05 02:50:56 ubuntu etcd[57546]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 05 02:50:56 ubuntu etcd[57546]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 05 02:50:56 ubuntu etcd[57546]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 05 02:50:56 ubuntu etcd[57546]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 05 02:50:56 ubuntu etcd[57546]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 05 02:50:56 ubuntu etcd[57546]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jun 05 02:50:56 ubuntu etcd[57546]: listening for peers on [::]:2380
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb became candidate at term 2
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb became leader at term 2
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jun 05 02:50:56 ubuntu etcd[57546]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jun 05 02:50:56 ubuntu etcd[57546]: setting up the initial cluster version to 3.4
Jun 05 02:50:56 ubuntu etcd[57546]: ready to serve client requests
Jun 05 02:50:56 ubuntu etcd[57546]: INFO: 2024/06/05 02:50:56 parsed scheme: ""
Jun 05 02:50:56 ubuntu etcd[57546]: INFO: 2024/06/05 02:50:56 scheme "" not registered, fallback to default scheme
Jun 05 02:50:56 ubuntu etcd[57546]: INFO: 2024/06/05 02:50:56 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 05 02:50:56 ubuntu etcd[57546]: INFO: 2024/06/05 02:50:56 ClientConn switching balancer to "pick_first"
Jun 05 02:50:56 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 05 02:50:56 ubuntu etcd[57546]: set the initial cluster version to 3.4
Jun 05 02:50:56 ubuntu etcd[57546]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jun 05 02:50:56 ubuntu etcd[57546]: enabled capabilities for version 3.4
Jun 05 02:55:11 ubuntu etcd[57546]: start time = 2024-06-05 02:55:11.397280567 +0000 UTC m=+255.019254802, time spent = 432.46µs, remote = 10.201.4.32:44870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 02:55:11 ubuntu etcd[57546]: start time = 2024-06-05 02:55:11.408428304 +0000 UTC m=+255.030402549, time spent = 206.683µs, remote = 10.201.4.32:44870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 02:55:18 ubuntu etcd[57546]: start time = 2024-06-05 02:55:18.129592982 +0000 UTC m=+261.751567227, time spent = 164.876µs, remote = 10.201.4.32:44870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 02:55:20 ubuntu etcd[57546]: start time = 2024-06-05 02:55:20.188670111 +0000 UTC m=+263.810644346, time spent = 619.332µs, remote = 10.201.4.32:44870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 02:50:56 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 05 02:50:56 ubuntu etcd[57546]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 05 02:50:56 ubuntu etcd[57546]:         A future release of golang/protobuf will delete this package,
Jun 05 02:50:56 ubuntu etcd[57546]:         which has long been excluded from the compatibility promise.
Jun 05 02:50:56 ubuntu etcd[57546]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 05 02:50:56 ubuntu etcd[57546]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 05 02:50:56 ubuntu etcd[57546]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 05 02:50:56 ubuntu etcd[57546]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 05 02:50:56 ubuntu etcd[57546]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 05 02:50:56 ubuntu etcd[57546]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 05 02:50:56 ubuntu etcd[57546]: Running http and grpc server on single port. This is not recommended for production.
Jun 05 02:50:56 ubuntu etcd[57546]: etcd Version: 3.4.27
Jun 05 02:50:56 ubuntu etcd[57546]: Git SHA: c92fb80f3
Jun 05 02:50:56 ubuntu etcd[57546]: Go Version: go1.19.10
Jun 05 02:50:56 ubuntu etcd[57546]: Go OS/Arch: linux/amd64
Jun 05 02:50:56 ubuntu etcd[57546]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 05 02:50:56 ubuntu etcd[57546]: Running http and grpc server on single port. This is not recommended for production.
Jun 05 02:50:56 ubuntu etcd[57546]: name = ubuntu
Jun 05 02:50:56 ubuntu etcd[57546]: data dir = /opt/stack/data/etcd
Jun 05 02:50:56 ubuntu etcd[57546]: member dir = /opt/stack/data/etcd/member
Jun 05 02:50:56 ubuntu etcd[57546]: heartbeat = 100ms
Jun 05 02:50:56 ubuntu etcd[57546]: election = 1000ms
Jun 05 02:50:56 ubuntu etcd[57546]: snapshot count = 100000
Jun 05 02:50:56 ubuntu etcd[57546]: advertise client URLs = http://10.201.4.32:2379
Jun 05 02:50:56 ubuntu etcd[57546]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 05 02:50:56 ubuntu etcd[57546]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb became follower at term 0
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb became follower at term 1
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 05 02:50:56 ubuntu etcd[57546]: simple token is not cryptographically signed
Jun 05 02:50:56 ubuntu etcd[57546]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 05 02:50:56 ubuntu etcd[57546]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 05 02:50:56 ubuntu etcd[57546]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 05 02:50:56 ubuntu etcd[57546]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 05 02:50:56 ubuntu etcd[57546]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 05 02:50:56 ubuntu etcd[57546]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jun 05 02:50:56 ubuntu etcd[57546]: listening for peers on [::]:2380
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb became candidate at term 2
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: 33238c1cdfea94eb became leader at term 2
Jun 05 02:50:56 ubuntu etcd[57546]: raft2024/06/05 02:50:56 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jun 05 02:50:56 ubuntu etcd[57546]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jun 05 02:50:56 ubuntu etcd[57546]: setting up the initial cluster version to 3.4
Jun 05 02:50:56 ubuntu etcd[57546]: ready to serve client requests
Jun 05 02:50:56 ubuntu etcd[57546]: INFO: 2024/06/05 02:50:56 parsed scheme: ""
Jun 05 02:50:56 ubuntu etcd[57546]: INFO: 2024/06/05 02:50:56 scheme "" not registered, fallback to default scheme
Jun 05 02:50:56 ubuntu etcd[57546]: INFO: 2024/06/05 02:50:56 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 05 02:50:56 ubuntu etcd[57546]: INFO: 2024/06/05 02:50:56 ClientConn switching balancer to "pick_first"
Jun 05 02:50:56 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 05 02:50:56 ubuntu etcd[57546]: set the initial cluster version to 3.4
Jun 05 02:50:56 ubuntu etcd[57546]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jun 05 02:50:56 ubuntu etcd[57546]: enabled capabilities for version 3.4
Jun 05 02:55:11 ubuntu etcd[57546]: start time = 2024-06-05 02:55:11.397280567 +0000 UTC m=+255.019254802, time spent = 432.46µs, remote = 10.201.4.32:44870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 02:55:11 ubuntu etcd[57546]: start time = 2024-06-05 02:55:11.408428304 +0000 UTC m=+255.030402549, time spent = 206.683µs, remote = 10.201.4.32:44870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 02:55:18 ubuntu etcd[57546]: start time = 2024-06-05 02:55:18.129592982 +0000 UTC m=+261.751567227, time spent = 164.876µs, remote = 10.201.4.32:44870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 02:55:20 ubuntu etcd[57546]: start time = 2024-06-05 02:55:20.188670111 +0000 UTC m=+263.810644346, time spent = 619.332µs, remote = 10.201.4.32:44870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
