Aug 01 07:46:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 01 07:46:02 ubuntu etcd[58322]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 01 07:46:02 ubuntu etcd[58322]:         A future release of golang/protobuf will delete this package,
Aug 01 07:46:02 ubuntu etcd[58322]:         which has long been excluded from the compatibility promise.
Aug 01 07:46:02 ubuntu etcd[58322]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 01 07:46:02 ubuntu etcd[58322]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 01 07:46:02 ubuntu etcd[58322]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 01 07:46:02 ubuntu etcd[58322]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 01 07:46:02 ubuntu etcd[58322]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 01 07:46:02 ubuntu etcd[58322]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 01 07:46:02 ubuntu etcd[58322]: Running http and grpc server on single port. This is not recommended for production.
Aug 01 07:46:02 ubuntu etcd[58322]: etcd Version: 3.4.27
Aug 01 07:46:02 ubuntu etcd[58322]: Git SHA: c92fb80f3
Aug 01 07:46:02 ubuntu etcd[58322]: Go Version: go1.19.10
Aug 01 07:46:02 ubuntu etcd[58322]: Go OS/Arch: linux/amd64
Aug 01 07:46:02 ubuntu etcd[58322]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 01 07:46:02 ubuntu etcd[58322]: Running http and grpc server on single port. This is not recommended for production.
Aug 01 07:46:02 ubuntu etcd[58322]: name = ubuntu
Aug 01 07:46:02 ubuntu etcd[58322]: data dir = /opt/stack/data/etcd
Aug 01 07:46:02 ubuntu etcd[58322]: member dir = /opt/stack/data/etcd/member
Aug 01 07:46:02 ubuntu etcd[58322]: heartbeat = 100ms
Aug 01 07:46:02 ubuntu etcd[58322]: election = 1000ms
Aug 01 07:46:02 ubuntu etcd[58322]: snapshot count = 100000
Aug 01 07:46:02 ubuntu etcd[58322]: advertise client URLs = http://10.201.4.32:2379
Aug 01 07:46:02 ubuntu etcd[58322]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 01 07:46:02 ubuntu etcd[58322]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Aug 01 07:46:02 ubuntu etcd[58322]: raft2024/08/01 07:46:02 INFO: 33238c1cdfea94eb switched to configuration voters=()
Aug 01 07:46:02 ubuntu etcd[58322]: raft2024/08/01 07:46:02 INFO: 33238c1cdfea94eb became follower at term 0
Aug 01 07:46:02 ubuntu etcd[58322]: raft2024/08/01 07:46:02 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 01 07:46:02 ubuntu etcd[58322]: raft2024/08/01 07:46:02 INFO: 33238c1cdfea94eb became follower at term 1
Aug 01 07:46:02 ubuntu etcd[58322]: raft2024/08/01 07:46:02 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 01 07:46:02 ubuntu etcd[58322]: simple token is not cryptographically signed
Aug 01 07:46:02 ubuntu etcd[58322]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 01 07:46:02 ubuntu etcd[58322]: raft2024/08/01 07:46:02 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 01 07:46:02 ubuntu etcd[58322]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 01 07:46:02 ubuntu etcd[58322]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Aug 01 07:46:02 ubuntu etcd[58322]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 01 07:46:02 ubuntu etcd[58322]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 01 07:46:02 ubuntu etcd[58322]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 01 07:46:02 ubuntu etcd[58322]: listening for peers on [::]:2380
Aug 01 07:46:02 ubuntu etcd[58322]: raft2024/08/01 07:46:02 INFO: 33238c1cdfea94eb is starting a new election at term 1
Aug 01 07:46:02 ubuntu etcd[58322]: raft2024/08/01 07:46:02 INFO: 33238c1cdfea94eb became candidate at term 2
Aug 01 07:46:02 ubuntu etcd[58322]: raft2024/08/01 07:46:02 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Aug 01 07:46:02 ubuntu etcd[58322]: raft2024/08/01 07:46:02 INFO: 33238c1cdfea94eb became leader at term 2
Aug 01 07:46:02 ubuntu etcd[58322]: raft2024/08/01 07:46:02 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Aug 01 07:46:02 ubuntu etcd[58322]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Aug 01 07:46:02 ubuntu etcd[58322]: ready to serve client requests
Aug 01 07:46:02 ubuntu etcd[58322]: INFO: 2024/08/01 07:46:02 parsed scheme: ""
Aug 01 07:46:02 ubuntu etcd[58322]: INFO: 2024/08/01 07:46:02 scheme "" not registered, fallback to default scheme
Aug 01 07:46:02 ubuntu etcd[58322]: setting up the initial cluster version to 3.4
Aug 01 07:46:02 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 01 07:46:02 ubuntu etcd[58322]: set the initial cluster version to 3.4
Aug 01 07:46:02 ubuntu etcd[58322]: INFO: 2024/08/01 07:46:02 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 01 07:46:02 ubuntu etcd[58322]: enabled capabilities for version 3.4
Aug 01 07:46:02 ubuntu etcd[58322]: INFO: 2024/08/01 07:46:02 ClientConn switching balancer to "pick_first"
Aug 01 07:46:02 ubuntu etcd[58322]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Aug 01 07:50:22 ubuntu etcd[58322]: start time = 2024-08-01 07:50:22.427038028 +0000 UTC m=+260.285323917, time spent = 540.704µs, remote = 10.201.4.32:51002, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 01 07:50:22 ubuntu etcd[58322]: start time = 2024-08-01 07:50:22.432092868 +0000 UTC m=+260.290378768, time spent = 265.472µs, remote = 10.201.4.32:51002, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 01 07:50:28 ubuntu etcd[58322]: start time = 2024-08-01 07:50:28.99154663 +0000 UTC m=+266.849832519, time spent = 293.827µs, remote = 10.201.4.32:51002, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 01 07:50:31 ubuntu etcd[58322]: start time = 2024-08-01 07:50:31.455145185 +0000 UTC m=+269.313431085, time spent = 343.882µs, remote = 10.201.4.32:51002, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
