Jan 29 11:54:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 29 11:54:43 ubuntu etcd[59894]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 29 11:54:43 ubuntu etcd[59894]:         A future release of golang/protobuf will delete this package,
Jan 29 11:54:43 ubuntu etcd[59894]:         which has long been excluded from the compatibility promise.
Jan 29 11:54:43 ubuntu etcd[59894]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 29 11:54:43 ubuntu etcd[59894]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 29 11:54:43 ubuntu etcd[59894]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 29 11:54:43 ubuntu etcd[59894]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 29 11:54:43 ubuntu etcd[59894]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 29 11:54:43 ubuntu etcd[59894]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 29 11:54:43 ubuntu etcd[59894]: Running http and grpc server on single port. This is not recommended for production.
Jan 29 11:54:43 ubuntu etcd[59894]: etcd Version: 3.4.27
Jan 29 11:54:43 ubuntu etcd[59894]: Git SHA: c92fb80f3
Jan 29 11:54:43 ubuntu etcd[59894]: Go Version: go1.19.10
Jan 29 11:54:43 ubuntu etcd[59894]: Go OS/Arch: linux/amd64
Jan 29 11:54:43 ubuntu etcd[59894]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 29 11:54:43 ubuntu etcd[59894]: Running http and grpc server on single port. This is not recommended for production.
Jan 29 11:54:43 ubuntu etcd[59894]: name = ubuntu
Jan 29 11:54:43 ubuntu etcd[59894]: data dir = /opt/stack/data/etcd
Jan 29 11:54:43 ubuntu etcd[59894]: member dir = /opt/stack/data/etcd/member
Jan 29 11:54:43 ubuntu etcd[59894]: heartbeat = 100ms
Jan 29 11:54:43 ubuntu etcd[59894]: election = 1000ms
Jan 29 11:54:43 ubuntu etcd[59894]: snapshot count = 100000
Jan 29 11:54:43 ubuntu etcd[59894]: advertise client URLs = http://10.201.4.32:2379
Jan 29 11:54:43 ubuntu etcd[59894]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 29 11:54:43 ubuntu etcd[59894]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb became follower at term 0
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb became follower at term 1
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 29 11:54:43 ubuntu etcd[59894]: simple token is not cryptographically signed
Jan 29 11:54:43 ubuntu etcd[59894]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 29 11:54:43 ubuntu etcd[59894]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 29 11:54:43 ubuntu etcd[59894]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 29 11:54:43 ubuntu etcd[59894]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 29 11:54:43 ubuntu etcd[59894]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 29 11:54:43 ubuntu etcd[59894]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 29 11:54:43 ubuntu etcd[59894]: listening for peers on [::]:2380
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb became leader at term 2
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 29 11:54:43 ubuntu etcd[59894]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 29 11:54:43 ubuntu etcd[59894]: ready to serve client requests
Jan 29 11:54:43 ubuntu etcd[59894]: setting up the initial cluster version to 3.4
Jan 29 11:54:43 ubuntu etcd[59894]: INFO: 2024/01/29 11:54:43 parsed scheme: ""
Jan 29 11:54:43 ubuntu etcd[59894]: INFO: 2024/01/29 11:54:43 scheme "" not registered, fallback to default scheme
Jan 29 11:54:43 ubuntu etcd[59894]: INFO: 2024/01/29 11:54:43 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 29 11:54:43 ubuntu etcd[59894]: INFO: 2024/01/29 11:54:43 ClientConn switching balancer to "pick_first"
Jan 29 11:54:43 ubuntu etcd[59894]: set the initial cluster version to 3.4
Jan 29 11:54:43 ubuntu etcd[59894]: enabled capabilities for version 3.4
Jan 29 11:54:43 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 29 11:54:43 ubuntu etcd[59894]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 29 11:59:01 ubuntu etcd[59894]: start time = 2024-01-29 11:59:01.604395425 +0000 UTC m=+258.439130154, time spent = 1.37048ms, remote = 10.201.4.32:52644, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 29 11:59:01 ubuntu etcd[59894]: start time = 2024-01-29 11:59:01.773147736 +0000 UTC m=+258.607882418, time spent = 188.788µs, remote = 10.201.4.32:52644, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 29 11:59:08 ubuntu etcd[59894]: start time = 2024-01-29 11:59:08.372010413 +0000 UTC m=+265.206745085, time spent = 173.536µs, remote = 10.201.4.32:52644, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 29 11:59:10 ubuntu etcd[59894]: start time = 2024-01-29 11:59:10.657670685 +0000 UTC m=+267.492405359, time spent = 204.225µs, remote = 10.201.4.32:52644, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 29 11:54:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 29 11:54:43 ubuntu etcd[59894]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 29 11:54:43 ubuntu etcd[59894]:         A future release of golang/protobuf will delete this package,
Jan 29 11:54:43 ubuntu etcd[59894]:         which has long been excluded from the compatibility promise.
Jan 29 11:54:43 ubuntu etcd[59894]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 29 11:54:43 ubuntu etcd[59894]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 29 11:54:43 ubuntu etcd[59894]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 29 11:54:43 ubuntu etcd[59894]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 29 11:54:43 ubuntu etcd[59894]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 29 11:54:43 ubuntu etcd[59894]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 29 11:54:43 ubuntu etcd[59894]: Running http and grpc server on single port. This is not recommended for production.
Jan 29 11:54:43 ubuntu etcd[59894]: etcd Version: 3.4.27
Jan 29 11:54:43 ubuntu etcd[59894]: Git SHA: c92fb80f3
Jan 29 11:54:43 ubuntu etcd[59894]: Go Version: go1.19.10
Jan 29 11:54:43 ubuntu etcd[59894]: Go OS/Arch: linux/amd64
Jan 29 11:54:43 ubuntu etcd[59894]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 29 11:54:43 ubuntu etcd[59894]: Running http and grpc server on single port. This is not recommended for production.
Jan 29 11:54:43 ubuntu etcd[59894]: name = ubuntu
Jan 29 11:54:43 ubuntu etcd[59894]: data dir = /opt/stack/data/etcd
Jan 29 11:54:43 ubuntu etcd[59894]: member dir = /opt/stack/data/etcd/member
Jan 29 11:54:43 ubuntu etcd[59894]: heartbeat = 100ms
Jan 29 11:54:43 ubuntu etcd[59894]: election = 1000ms
Jan 29 11:54:43 ubuntu etcd[59894]: snapshot count = 100000
Jan 29 11:54:43 ubuntu etcd[59894]: advertise client URLs = http://10.201.4.32:2379
Jan 29 11:54:43 ubuntu etcd[59894]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 29 11:54:43 ubuntu etcd[59894]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb became follower at term 0
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb became follower at term 1
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 29 11:54:43 ubuntu etcd[59894]: simple token is not cryptographically signed
Jan 29 11:54:43 ubuntu etcd[59894]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 29 11:54:43 ubuntu etcd[59894]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 29 11:54:43 ubuntu etcd[59894]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 29 11:54:43 ubuntu etcd[59894]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 29 11:54:43 ubuntu etcd[59894]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 29 11:54:43 ubuntu etcd[59894]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 29 11:54:43 ubuntu etcd[59894]: listening for peers on [::]:2380
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: 33238c1cdfea94eb became leader at term 2
Jan 29 11:54:43 ubuntu etcd[59894]: raft2024/01/29 11:54:43 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 29 11:54:43 ubuntu etcd[59894]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 29 11:54:43 ubuntu etcd[59894]: ready to serve client requests
Jan 29 11:54:43 ubuntu etcd[59894]: setting up the initial cluster version to 3.4
Jan 29 11:54:43 ubuntu etcd[59894]: INFO: 2024/01/29 11:54:43 parsed scheme: ""
Jan 29 11:54:43 ubuntu etcd[59894]: INFO: 2024/01/29 11:54:43 scheme "" not registered, fallback to default scheme
Jan 29 11:54:43 ubuntu etcd[59894]: INFO: 2024/01/29 11:54:43 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 29 11:54:43 ubuntu etcd[59894]: INFO: 2024/01/29 11:54:43 ClientConn switching balancer to "pick_first"
Jan 29 11:54:43 ubuntu etcd[59894]: set the initial cluster version to 3.4
Jan 29 11:54:43 ubuntu etcd[59894]: enabled capabilities for version 3.4
Jan 29 11:54:43 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 29 11:54:43 ubuntu etcd[59894]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 29 11:59:01 ubuntu etcd[59894]: start time = 2024-01-29 11:59:01.604395425 +0000 UTC m=+258.439130154, time spent = 1.37048ms, remote = 10.201.4.32:52644, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 29 11:59:01 ubuntu etcd[59894]: start time = 2024-01-29 11:59:01.773147736 +0000 UTC m=+258.607882418, time spent = 188.788µs, remote = 10.201.4.32:52644, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 29 11:59:08 ubuntu etcd[59894]: start time = 2024-01-29 11:59:08.372010413 +0000 UTC m=+265.206745085, time spent = 173.536µs, remote = 10.201.4.32:52644, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 29 11:59:10 ubuntu etcd[59894]: start time = 2024-01-29 11:59:10.657670685 +0000 UTC m=+267.492405359, time spent = 204.225µs, remote = 10.201.4.32:52644, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
