Jul 23 01:40:35 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 23 01:40:35 ubuntu etcd[58503]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 23 01:40:35 ubuntu etcd[58503]:         A future release of golang/protobuf will delete this package,
Jul 23 01:40:35 ubuntu etcd[58503]:         which has long been excluded from the compatibility promise.
Jul 23 01:40:35 ubuntu etcd[58503]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 23 01:40:35 ubuntu etcd[58503]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 23 01:40:35 ubuntu etcd[58503]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 01:40:35 ubuntu etcd[58503]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 23 01:40:35 ubuntu etcd[58503]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 23 01:40:35 ubuntu etcd[58503]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 01:40:35 ubuntu etcd[58503]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 01:40:35 ubuntu etcd[58503]: etcd Version: 3.4.27
Jul 23 01:40:35 ubuntu etcd[58503]: Git SHA: c92fb80f3
Jul 23 01:40:35 ubuntu etcd[58503]: Go Version: go1.19.10
Jul 23 01:40:35 ubuntu etcd[58503]: Go OS/Arch: linux/amd64
Jul 23 01:40:35 ubuntu etcd[58503]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 23 01:40:35 ubuntu etcd[58503]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 01:40:35 ubuntu etcd[58503]: name = ubuntu
Jul 23 01:40:35 ubuntu etcd[58503]: data dir = /opt/stack/data/etcd
Jul 23 01:40:35 ubuntu etcd[58503]: member dir = /opt/stack/data/etcd/member
Jul 23 01:40:35 ubuntu etcd[58503]: heartbeat = 100ms
Jul 23 01:40:35 ubuntu etcd[58503]: election = 1000ms
Jul 23 01:40:35 ubuntu etcd[58503]: snapshot count = 100000
Jul 23 01:40:35 ubuntu etcd[58503]: advertise client URLs = http://10.201.4.32:2379
Jul 23 01:40:35 ubuntu etcd[58503]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 23 01:40:35 ubuntu etcd[58503]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jul 23 01:40:35 ubuntu etcd[58503]: raft2024/07/23 01:40:35 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jul 23 01:40:35 ubuntu etcd[58503]: raft2024/07/23 01:40:35 INFO: 33238c1cdfea94eb became follower at term 0
Jul 23 01:40:35 ubuntu etcd[58503]: raft2024/07/23 01:40:35 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 23 01:40:35 ubuntu etcd[58503]: raft2024/07/23 01:40:35 INFO: 33238c1cdfea94eb became follower at term 1
Jul 23 01:40:35 ubuntu etcd[58503]: raft2024/07/23 01:40:35 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 23 01:40:35 ubuntu etcd[58503]: simple token is not cryptographically signed
Jul 23 01:40:35 ubuntu etcd[58503]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 23 01:40:35 ubuntu etcd[58503]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 23 01:40:35 ubuntu etcd[58503]: raft2024/07/23 01:40:35 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 23 01:40:35 ubuntu etcd[58503]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jul 23 01:40:35 ubuntu etcd[58503]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 23 01:40:35 ubuntu etcd[58503]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 23 01:40:35 ubuntu etcd[58503]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 23 01:40:35 ubuntu etcd[58503]: listening for peers on [::]:2380
Jul 23 01:40:36 ubuntu etcd[58503]: raft2024/07/23 01:40:36 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jul 23 01:40:36 ubuntu etcd[58503]: raft2024/07/23 01:40:36 INFO: 33238c1cdfea94eb became candidate at term 2
Jul 23 01:40:36 ubuntu etcd[58503]: raft2024/07/23 01:40:36 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jul 23 01:40:36 ubuntu etcd[58503]: raft2024/07/23 01:40:36 INFO: 33238c1cdfea94eb became leader at term 2
Jul 23 01:40:36 ubuntu etcd[58503]: raft2024/07/23 01:40:36 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jul 23 01:40:36 ubuntu etcd[58503]: INFO: 2024/07/23 01:40:36 parsed scheme: ""
Jul 23 01:40:36 ubuntu etcd[58503]: INFO: 2024/07/23 01:40:36 scheme "" not registered, fallback to default scheme
Jul 23 01:40:36 ubuntu etcd[58503]: INFO: 2024/07/23 01:40:36 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 23 01:40:36 ubuntu etcd[58503]: INFO: 2024/07/23 01:40:36 ClientConn switching balancer to "pick_first"
Jul 23 01:40:36 ubuntu etcd[58503]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jul 23 01:40:36 ubuntu etcd[58503]: ready to serve client requests
Jul 23 01:40:36 ubuntu etcd[58503]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jul 23 01:40:36 ubuntu etcd[58503]: setting up the initial cluster version to 3.4
Jul 23 01:40:36 ubuntu etcd[58503]: set the initial cluster version to 3.4
Jul 23 01:40:36 ubuntu etcd[58503]: enabled capabilities for version 3.4
Jul 23 01:40:36 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 23 01:44:55 ubuntu etcd[58503]: start time = 2024-07-23 01:44:55.535140922 +0000 UTC m=+260.263441918, time spent = 458.843µs, remote = 10.201.4.32:38912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 01:44:55 ubuntu etcd[58503]: start time = 2024-07-23 01:44:55.625937148 +0000 UTC m=+260.354238157, time spent = 203.049µs, remote = 10.201.4.32:38912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 01:45:02 ubuntu etcd[58503]: start time = 2024-07-23 01:45:02.42473688 +0000 UTC m=+267.153037887, time spent = 172.738µs, remote = 10.201.4.32:38912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 01:45:04 ubuntu etcd[58503]: start time = 2024-07-23 01:45:04.410120945 +0000 UTC m=+269.138421952, time spent = 146.595µs, remote = 10.201.4.32:38912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
