Dec 06 20:20:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 20:20:29 ubuntu etcd[58880]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 20:20:29 ubuntu etcd[58880]:         A future release of golang/protobuf will delete this package,
Dec 06 20:20:29 ubuntu etcd[58880]:         which has long been excluded from the compatibility promise.
Dec 06 20:20:29 ubuntu etcd[58880]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:29 ubuntu etcd[58880]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:29 ubuntu etcd[58880]: etcd Version: 3.4.27
Dec 06 20:20:29 ubuntu etcd[58880]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:29 ubuntu etcd[58880]: Git SHA: c92fb80f3
Dec 06 20:20:29 ubuntu etcd[58880]: Go Version: go1.19.10
Dec 06 20:20:29 ubuntu etcd[58880]: Go OS/Arch: linux/amd64
Dec 06 20:20:29 ubuntu etcd[58880]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 20:20:29 ubuntu etcd[58880]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:29 ubuntu etcd[58880]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 20:20:29 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 20:20:29 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:20:29 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 06 20:20:30 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 20:20:30 ubuntu etcd[59006]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 20:20:30 ubuntu etcd[59006]:         A future release of golang/protobuf will delete this package,
Dec 06 20:20:30 ubuntu etcd[59006]:         which has long been excluded from the compatibility promise.
Dec 06 20:20:30 ubuntu etcd[59006]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59006]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59006]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59006]: etcd Version: 3.4.27
Dec 06 20:20:30 ubuntu etcd[59006]: Git SHA: c92fb80f3
Dec 06 20:20:30 ubuntu etcd[59006]: Go Version: go1.19.10
Dec 06 20:20:30 ubuntu etcd[59006]: Go OS/Arch: linux/amd64
Dec 06 20:20:30 ubuntu etcd[59006]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 20:20:30 ubuntu etcd[59006]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59006]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:20:30 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 06 20:20:30 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 20:20:30 ubuntu etcd[59069]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 20:20:30 ubuntu etcd[59069]:         A future release of golang/protobuf will delete this package,
Dec 06 20:20:30 ubuntu etcd[59069]:         which has long been excluded from the compatibility promise.
Dec 06 20:20:30 ubuntu etcd[59069]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59069]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59069]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59069]: etcd Version: 3.4.27
Dec 06 20:20:30 ubuntu etcd[59069]: Git SHA: c92fb80f3
Dec 06 20:20:30 ubuntu etcd[59069]: Go Version: go1.19.10
Dec 06 20:20:30 ubuntu etcd[59069]: Go OS/Arch: linux/amd64
Dec 06 20:20:30 ubuntu etcd[59069]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 20:20:30 ubuntu etcd[59069]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59069]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:20:30 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 06 20:20:30 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 20:20:30 ubuntu etcd[59080]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 20:20:30 ubuntu etcd[59080]:         A future release of golang/protobuf will delete this package,
Dec 06 20:20:30 ubuntu etcd[59080]:         which has long been excluded from the compatibility promise.
Dec 06 20:20:30 ubuntu etcd[59080]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59080]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59080]: etcd Version: 3.4.27
Dec 06 20:20:30 ubuntu etcd[59080]: Git SHA: c92fb80f3
Dec 06 20:20:30 ubuntu etcd[59080]: Go Version: go1.19.10
Dec 06 20:20:30 ubuntu etcd[59080]: Go OS/Arch: linux/amd64
Dec 06 20:20:30 ubuntu etcd[59080]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 20:20:30 ubuntu etcd[59080]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59080]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59080]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:20:30 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 06 20:20:30 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 20:20:30 ubuntu etcd[59100]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 20:20:30 ubuntu etcd[59100]:         A future release of golang/protobuf will delete this package,
Dec 06 20:20:30 ubuntu etcd[59100]:         which has long been excluded from the compatibility promise.
Dec 06 20:20:30 ubuntu etcd[59100]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59100]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59100]: etcd Version: 3.4.27
Dec 06 20:20:30 ubuntu etcd[59100]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59100]: Git SHA: c92fb80f3
Dec 06 20:20:30 ubuntu etcd[59100]: Go Version: go1.19.10
Dec 06 20:20:30 ubuntu etcd[59100]: Go OS/Arch: linux/amd64
Dec 06 20:20:30 ubuntu etcd[59100]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 20:20:30 ubuntu etcd[59100]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59100]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:20:30 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:20:31 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 06 20:20:31 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 20:20:31 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 06 20:20:31 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:20:31 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:20:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 20:20:29 ubuntu etcd[58880]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 20:20:29 ubuntu etcd[58880]:         A future release of golang/protobuf will delete this package,
Dec 06 20:20:29 ubuntu etcd[58880]:         which has long been excluded from the compatibility promise.
Dec 06 20:20:29 ubuntu etcd[58880]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:29 ubuntu etcd[58880]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:29 ubuntu etcd[58880]: etcd Version: 3.4.27
Dec 06 20:20:29 ubuntu etcd[58880]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:29 ubuntu etcd[58880]: Git SHA: c92fb80f3
Dec 06 20:20:29 ubuntu etcd[58880]: Go Version: go1.19.10
Dec 06 20:20:29 ubuntu etcd[58880]: Go OS/Arch: linux/amd64
Dec 06 20:20:29 ubuntu etcd[58880]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 20:20:29 ubuntu etcd[58880]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:29 ubuntu etcd[58880]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 20:20:29 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 20:20:29 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:20:29 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 06 20:20:30 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 20:20:30 ubuntu etcd[59006]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 20:20:30 ubuntu etcd[59006]:         A future release of golang/protobuf will delete this package,
Dec 06 20:20:30 ubuntu etcd[59006]:         which has long been excluded from the compatibility promise.
Dec 06 20:20:30 ubuntu etcd[59006]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59006]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59006]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59006]: etcd Version: 3.4.27
Dec 06 20:20:30 ubuntu etcd[59006]: Git SHA: c92fb80f3
Dec 06 20:20:30 ubuntu etcd[59006]: Go Version: go1.19.10
Dec 06 20:20:30 ubuntu etcd[59006]: Go OS/Arch: linux/amd64
Dec 06 20:20:30 ubuntu etcd[59006]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 20:20:30 ubuntu etcd[59006]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59006]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:20:30 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 06 20:20:30 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 20:20:30 ubuntu etcd[59069]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 20:20:30 ubuntu etcd[59069]:         A future release of golang/protobuf will delete this package,
Dec 06 20:20:30 ubuntu etcd[59069]:         which has long been excluded from the compatibility promise.
Dec 06 20:20:30 ubuntu etcd[59069]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59069]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59069]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59069]: etcd Version: 3.4.27
Dec 06 20:20:30 ubuntu etcd[59069]: Git SHA: c92fb80f3
Dec 06 20:20:30 ubuntu etcd[59069]: Go Version: go1.19.10
Dec 06 20:20:30 ubuntu etcd[59069]: Go OS/Arch: linux/amd64
Dec 06 20:20:30 ubuntu etcd[59069]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 20:20:30 ubuntu etcd[59069]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59069]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:20:30 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 06 20:20:30 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 20:20:30 ubuntu etcd[59080]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 20:20:30 ubuntu etcd[59080]:         A future release of golang/protobuf will delete this package,
Dec 06 20:20:30 ubuntu etcd[59080]:         which has long been excluded from the compatibility promise.
Dec 06 20:20:30 ubuntu etcd[59080]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59080]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59080]: etcd Version: 3.4.27
Dec 06 20:20:30 ubuntu etcd[59080]: Git SHA: c92fb80f3
Dec 06 20:20:30 ubuntu etcd[59080]: Go Version: go1.19.10
Dec 06 20:20:30 ubuntu etcd[59080]: Go OS/Arch: linux/amd64
Dec 06 20:20:30 ubuntu etcd[59080]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 20:20:30 ubuntu etcd[59080]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59080]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59080]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:20:30 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 06 20:20:30 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 20:20:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 20:20:30 ubuntu etcd[59100]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 20:20:30 ubuntu etcd[59100]:         A future release of golang/protobuf will delete this package,
Dec 06 20:20:30 ubuntu etcd[59100]:         which has long been excluded from the compatibility promise.
Dec 06 20:20:30 ubuntu etcd[59100]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59100]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59100]: etcd Version: 3.4.27
Dec 06 20:20:30 ubuntu etcd[59100]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 20:20:30 ubuntu etcd[59100]: Git SHA: c92fb80f3
Dec 06 20:20:30 ubuntu etcd[59100]: Go Version: go1.19.10
Dec 06 20:20:30 ubuntu etcd[59100]: Go OS/Arch: linux/amd64
Dec 06 20:20:30 ubuntu etcd[59100]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 20:20:30 ubuntu etcd[59100]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 20:20:30 ubuntu etcd[59100]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 20:20:30 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:20:30 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 20:20:31 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 06 20:20:31 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 20:20:31 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 06 20:20:31 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 20:20:31 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
