Jul 10 07:20:27 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 10 07:20:27 ubuntu etcd[58393]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 10 07:20:27 ubuntu etcd[58393]:         A future release of golang/protobuf will delete this package,
Jul 10 07:20:27 ubuntu etcd[58393]:         which has long been excluded from the compatibility promise.
Jul 10 07:20:27 ubuntu etcd[58393]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 10 07:20:27 ubuntu etcd[58393]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 10 07:20:27 ubuntu etcd[58393]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 10 07:20:27 ubuntu etcd[58393]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 10 07:20:27 ubuntu etcd[58393]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 10 07:20:27 ubuntu etcd[58393]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 10 07:20:27 ubuntu etcd[58393]: Running http and grpc server on single port. This is not recommended for production.
Jul 10 07:20:27 ubuntu etcd[58393]: etcd Version: 3.4.27
Jul 10 07:20:27 ubuntu etcd[58393]: Git SHA: c92fb80f3
Jul 10 07:20:27 ubuntu etcd[58393]: Go Version: go1.19.10
Jul 10 07:20:27 ubuntu etcd[58393]: Go OS/Arch: linux/amd64
Jul 10 07:20:27 ubuntu etcd[58393]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 10 07:20:27 ubuntu etcd[58393]: Running http and grpc server on single port. This is not recommended for production.
Jul 10 07:20:27 ubuntu etcd[58393]: name = ubuntu
Jul 10 07:20:27 ubuntu etcd[58393]: data dir = /opt/stack/data/etcd
Jul 10 07:20:27 ubuntu etcd[58393]: member dir = /opt/stack/data/etcd/member
Jul 10 07:20:27 ubuntu etcd[58393]: heartbeat = 100ms
Jul 10 07:20:27 ubuntu etcd[58393]: election = 1000ms
Jul 10 07:20:27 ubuntu etcd[58393]: snapshot count = 100000
Jul 10 07:20:27 ubuntu etcd[58393]: advertise client URLs = http://10.201.4.32:2379
Jul 10 07:20:27 ubuntu etcd[58393]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 10 07:20:28 ubuntu etcd[58393]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jul 10 07:20:28 ubuntu etcd[58393]: raft2024/07/10 07:20:28 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jul 10 07:20:28 ubuntu etcd[58393]: raft2024/07/10 07:20:28 INFO: 33238c1cdfea94eb became follower at term 0
Jul 10 07:20:28 ubuntu etcd[58393]: raft2024/07/10 07:20:28 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 10 07:20:28 ubuntu etcd[58393]: raft2024/07/10 07:20:28 INFO: 33238c1cdfea94eb became follower at term 1
Jul 10 07:20:28 ubuntu etcd[58393]: raft2024/07/10 07:20:28 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 10 07:20:28 ubuntu etcd[58393]: simple token is not cryptographically signed
Jul 10 07:20:28 ubuntu etcd[58393]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 10 07:20:28 ubuntu etcd[58393]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 10 07:20:28 ubuntu etcd[58393]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 10 07:20:28 ubuntu etcd[58393]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 10 07:20:28 ubuntu etcd[58393]: raft2024/07/10 07:20:28 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 10 07:20:28 ubuntu etcd[58393]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 10 07:20:28 ubuntu etcd[58393]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jul 10 07:20:28 ubuntu etcd[58393]: listening for peers on [::]:2380
Jul 10 07:20:28 ubuntu etcd[58393]: raft2024/07/10 07:20:28 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jul 10 07:20:28 ubuntu etcd[58393]: raft2024/07/10 07:20:28 INFO: 33238c1cdfea94eb became candidate at term 2
Jul 10 07:20:28 ubuntu etcd[58393]: raft2024/07/10 07:20:28 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jul 10 07:20:28 ubuntu etcd[58393]: raft2024/07/10 07:20:28 INFO: 33238c1cdfea94eb became leader at term 2
Jul 10 07:20:28 ubuntu etcd[58393]: raft2024/07/10 07:20:28 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jul 10 07:20:28 ubuntu etcd[58393]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jul 10 07:20:28 ubuntu etcd[58393]: ready to serve client requests
Jul 10 07:20:28 ubuntu etcd[58393]: INFO: 2024/07/10 07:20:28 parsed scheme: ""
Jul 10 07:20:28 ubuntu etcd[58393]: INFO: 2024/07/10 07:20:28 scheme "" not registered, fallback to default scheme
Jul 10 07:20:28 ubuntu etcd[58393]: setting up the initial cluster version to 3.4
Jul 10 07:20:28 ubuntu etcd[58393]: INFO: 2024/07/10 07:20:28 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 10 07:20:28 ubuntu etcd[58393]: INFO: 2024/07/10 07:20:28 ClientConn switching balancer to "pick_first"
Jul 10 07:20:28 ubuntu etcd[58393]: set the initial cluster version to 3.4
Jul 10 07:20:28 ubuntu etcd[58393]: enabled capabilities for version 3.4
Jul 10 07:20:28 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 10 07:20:28 ubuntu etcd[58393]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jul 10 07:24:47 ubuntu etcd[58393]: start time = 2024-07-10 07:24:47.887978389 +0000 UTC m=+259.926564949, time spent = 465.723µs, remote = 10.201.4.32:42016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 10 07:24:47 ubuntu etcd[58393]: start time = 2024-07-10 07:24:47.893338793 +0000 UTC m=+259.931925363, time spent = 141.135µs, remote = 10.201.4.32:42016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 10 07:24:54 ubuntu etcd[58393]: start time = 2024-07-10 07:24:54.630440495 +0000 UTC m=+266.669027054, time spent = 160.412µs, remote = 10.201.4.32:42016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 10 07:24:56 ubuntu etcd[58393]: start time = 2024-07-10 07:24:56.907438647 +0000 UTC m=+268.946025206, time spent = 541.944µs, remote = 10.201.4.32:42016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
