Jan 18 12:57:47 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 18 12:57:47 ubuntu etcd[59668]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 18 12:57:47 ubuntu etcd[59668]:         A future release of golang/protobuf will delete this package,
Jan 18 12:57:47 ubuntu etcd[59668]:         which has long been excluded from the compatibility promise.
Jan 18 12:57:47 ubuntu etcd[59668]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 18 12:57:47 ubuntu etcd[59668]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 18 12:57:47 ubuntu etcd[59668]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 18 12:57:47 ubuntu etcd[59668]: Running http and grpc server on single port. This is not recommended for production.
Jan 18 12:57:47 ubuntu etcd[59668]: etcd Version: 3.4.27
Jan 18 12:57:47 ubuntu etcd[59668]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 18 12:57:47 ubuntu etcd[59668]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 18 12:57:47 ubuntu etcd[59668]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 18 12:57:47 ubuntu etcd[59668]: Git SHA: c92fb80f3
Jan 18 12:57:47 ubuntu etcd[59668]: Go Version: go1.19.10
Jan 18 12:57:47 ubuntu etcd[59668]: Go OS/Arch: linux/amd64
Jan 18 12:57:47 ubuntu etcd[59668]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 18 12:57:47 ubuntu etcd[59668]: Running http and grpc server on single port. This is not recommended for production.
Jan 18 12:57:47 ubuntu etcd[59668]: name = ubuntu
Jan 18 12:57:47 ubuntu etcd[59668]: data dir = /opt/stack/data/etcd
Jan 18 12:57:47 ubuntu etcd[59668]: member dir = /opt/stack/data/etcd/member
Jan 18 12:57:47 ubuntu etcd[59668]: heartbeat = 100ms
Jan 18 12:57:47 ubuntu etcd[59668]: election = 1000ms
Jan 18 12:57:47 ubuntu etcd[59668]: snapshot count = 100000
Jan 18 12:57:47 ubuntu etcd[59668]: advertise client URLs = http://10.201.4.32:2379
Jan 18 12:57:47 ubuntu etcd[59668]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 18 12:57:47 ubuntu etcd[59668]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 18 12:57:47 ubuntu etcd[59668]: raft2024/01/18 12:57:47 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 18 12:57:47 ubuntu etcd[59668]: raft2024/01/18 12:57:47 INFO: 33238c1cdfea94eb became follower at term 0
Jan 18 12:57:47 ubuntu etcd[59668]: raft2024/01/18 12:57:47 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 18 12:57:47 ubuntu etcd[59668]: raft2024/01/18 12:57:47 INFO: 33238c1cdfea94eb became follower at term 1
Jan 18 12:57:47 ubuntu etcd[59668]: raft2024/01/18 12:57:47 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 18 12:57:47 ubuntu etcd[59668]: simple token is not cryptographically signed
Jan 18 12:57:47 ubuntu etcd[59668]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 18 12:57:47 ubuntu etcd[59668]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 18 12:57:47 ubuntu etcd[59668]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 18 12:57:47 ubuntu etcd[59668]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 18 12:57:47 ubuntu etcd[59668]: raft2024/01/18 12:57:47 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 18 12:57:47 ubuntu etcd[59668]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 18 12:57:47 ubuntu etcd[59668]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 18 12:57:47 ubuntu etcd[59668]: listening for peers on [::]:2380
Jan 18 12:57:48 ubuntu etcd[59668]: raft2024/01/18 12:57:48 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 18 12:57:48 ubuntu etcd[59668]: raft2024/01/18 12:57:48 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 18 12:57:48 ubuntu etcd[59668]: raft2024/01/18 12:57:48 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 18 12:57:48 ubuntu etcd[59668]: raft2024/01/18 12:57:48 INFO: 33238c1cdfea94eb became leader at term 2
Jan 18 12:57:48 ubuntu etcd[59668]: raft2024/01/18 12:57:48 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 18 12:57:48 ubuntu etcd[59668]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 18 12:57:48 ubuntu etcd[59668]: setting up the initial cluster version to 3.4
Jan 18 12:57:48 ubuntu etcd[59668]: ready to serve client requests
Jan 18 12:57:48 ubuntu etcd[59668]: INFO: 2024/01/18 12:57:48 parsed scheme: ""
Jan 18 12:57:48 ubuntu etcd[59668]: INFO: 2024/01/18 12:57:48 scheme "" not registered, fallback to default scheme
Jan 18 12:57:48 ubuntu etcd[59668]: INFO: 2024/01/18 12:57:48 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 18 12:57:48 ubuntu etcd[59668]: INFO: 2024/01/18 12:57:48 ClientConn switching balancer to "pick_first"
Jan 18 12:57:48 ubuntu etcd[59668]: set the initial cluster version to 3.4
Jan 18 12:57:48 ubuntu etcd[59668]: enabled capabilities for version 3.4
Jan 18 12:57:48 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 18 12:57:48 ubuntu etcd[59668]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 18 13:02:14 ubuntu etcd[59668]: start time = 2024-01-18 13:02:14.009513574 +0000 UTC m=+266.539358579, time spent = 682.85µs, remote = 10.201.4.32:58294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 13:02:14 ubuntu etcd[59668]: start time = 2024-01-18 13:02:14.063919326 +0000 UTC m=+266.593764343, time spent = 416.603µs, remote = 10.201.4.32:58294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 13:02:20 ubuntu etcd[59668]: start time = 2024-01-18 13:02:20.721141274 +0000 UTC m=+273.250986291, time spent = 174.71µs, remote = 10.201.4.32:58294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 13:02:22 ubuntu etcd[59668]: start time = 2024-01-18 13:02:22.82430027 +0000 UTC m=+275.354145290, time spent = 575.225µs, remote = 10.201.4.32:58294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
