May 22 07:27:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 22 07:27:28 ubuntu etcd[60179]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 22 07:27:28 ubuntu etcd[60179]:         A future release of golang/protobuf will delete this package,
May 22 07:27:28 ubuntu etcd[60179]:         which has long been excluded from the compatibility promise.
May 22 07:27:28 ubuntu etcd[60179]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 22 07:27:28 ubuntu etcd[60179]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 22 07:27:28 ubuntu etcd[60179]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 22 07:27:28 ubuntu etcd[60179]: Running http and grpc server on single port. This is not recommended for production.
May 22 07:27:28 ubuntu etcd[60179]: etcd Version: 3.4.27
May 22 07:27:28 ubuntu etcd[60179]: Git SHA: c92fb80f3
May 22 07:27:28 ubuntu etcd[60179]: Go Version: go1.19.10
May 22 07:27:28 ubuntu etcd[60179]: Go OS/Arch: linux/amd64
May 22 07:27:28 ubuntu etcd[60179]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 22 07:27:28 ubuntu etcd[60179]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 22 07:27:28 ubuntu etcd[60179]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 22 07:27:28 ubuntu etcd[60179]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 22 07:27:28 ubuntu etcd[60179]: Running http and grpc server on single port. This is not recommended for production.
May 22 07:27:28 ubuntu etcd[60179]: name = ubuntu
May 22 07:27:28 ubuntu etcd[60179]: data dir = /opt/stack/data/etcd
May 22 07:27:28 ubuntu etcd[60179]: member dir = /opt/stack/data/etcd/member
May 22 07:27:28 ubuntu etcd[60179]: heartbeat = 100ms
May 22 07:27:28 ubuntu etcd[60179]: election = 1000ms
May 22 07:27:28 ubuntu etcd[60179]: snapshot count = 100000
May 22 07:27:28 ubuntu etcd[60179]: advertise client URLs = http://10.201.4.32:2379
May 22 07:27:28 ubuntu etcd[60179]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 22 07:27:28 ubuntu etcd[60179]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb became follower at term 0
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb became follower at term 1
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 22 07:27:28 ubuntu etcd[60179]: simple token is not cryptographically signed
May 22 07:27:28 ubuntu etcd[60179]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 22 07:27:28 ubuntu etcd[60179]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 22 07:27:28 ubuntu etcd[60179]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 22 07:27:28 ubuntu etcd[60179]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 22 07:27:28 ubuntu etcd[60179]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 22 07:27:28 ubuntu etcd[60179]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 22 07:27:28 ubuntu etcd[60179]: listening for peers on [::]:2380
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb became candidate at term 2
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb became leader at term 2
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 22 07:27:28 ubuntu etcd[60179]: setting up the initial cluster version to 3.4
May 22 07:27:28 ubuntu etcd[60179]: set the initial cluster version to 3.4
May 22 07:27:28 ubuntu etcd[60179]: enabled capabilities for version 3.4
May 22 07:27:28 ubuntu etcd[60179]: INFO: 2024/05/22 07:27:28 parsed scheme: ""
May 22 07:27:28 ubuntu etcd[60179]: INFO: 2024/05/22 07:27:28 scheme "" not registered, fallback to default scheme
May 22 07:27:28 ubuntu etcd[60179]: INFO: 2024/05/22 07:27:28 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 22 07:27:28 ubuntu etcd[60179]: INFO: 2024/05/22 07:27:28 ClientConn switching balancer to "pick_first"
May 22 07:27:28 ubuntu etcd[60179]: ready to serve client requests
May 22 07:27:28 ubuntu etcd[60179]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 22 07:27:28 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 22 07:27:28 ubuntu etcd[60179]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 22 07:31:46 ubuntu etcd[60179]: start time = 2024-05-22 07:31:46.905281713 +0000 UTC m=+258.503444217, time spent = 496.645µs, remote = 10.201.4.32:55556, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 07:31:46 ubuntu etcd[60179]: start time = 2024-05-22 07:31:46.994644195 +0000 UTC m=+258.592806699, time spent = 223.961µs, remote = 10.201.4.32:55556, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 07:31:53 ubuntu etcd[60179]: start time = 2024-05-22 07:31:53.530829047 +0000 UTC m=+265.128991551, time spent = 166.976µs, remote = 10.201.4.32:55556, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 07:31:55 ubuntu etcd[60179]: start time = 2024-05-22 07:31:55.67094339 +0000 UTC m=+267.269105905, time spent = 219.85µs, remote = 10.201.4.32:55556, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 07:27:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 22 07:27:28 ubuntu etcd[60179]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 22 07:27:28 ubuntu etcd[60179]:         A future release of golang/protobuf will delete this package,
May 22 07:27:28 ubuntu etcd[60179]:         which has long been excluded from the compatibility promise.
May 22 07:27:28 ubuntu etcd[60179]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 22 07:27:28 ubuntu etcd[60179]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 22 07:27:28 ubuntu etcd[60179]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 22 07:27:28 ubuntu etcd[60179]: Running http and grpc server on single port. This is not recommended for production.
May 22 07:27:28 ubuntu etcd[60179]: etcd Version: 3.4.27
May 22 07:27:28 ubuntu etcd[60179]: Git SHA: c92fb80f3
May 22 07:27:28 ubuntu etcd[60179]: Go Version: go1.19.10
May 22 07:27:28 ubuntu etcd[60179]: Go OS/Arch: linux/amd64
May 22 07:27:28 ubuntu etcd[60179]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 22 07:27:28 ubuntu etcd[60179]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 22 07:27:28 ubuntu etcd[60179]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 22 07:27:28 ubuntu etcd[60179]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 22 07:27:28 ubuntu etcd[60179]: Running http and grpc server on single port. This is not recommended for production.
May 22 07:27:28 ubuntu etcd[60179]: name = ubuntu
May 22 07:27:28 ubuntu etcd[60179]: data dir = /opt/stack/data/etcd
May 22 07:27:28 ubuntu etcd[60179]: member dir = /opt/stack/data/etcd/member
May 22 07:27:28 ubuntu etcd[60179]: heartbeat = 100ms
May 22 07:27:28 ubuntu etcd[60179]: election = 1000ms
May 22 07:27:28 ubuntu etcd[60179]: snapshot count = 100000
May 22 07:27:28 ubuntu etcd[60179]: advertise client URLs = http://10.201.4.32:2379
May 22 07:27:28 ubuntu etcd[60179]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 22 07:27:28 ubuntu etcd[60179]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb became follower at term 0
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb became follower at term 1
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 22 07:27:28 ubuntu etcd[60179]: simple token is not cryptographically signed
May 22 07:27:28 ubuntu etcd[60179]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 22 07:27:28 ubuntu etcd[60179]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 22 07:27:28 ubuntu etcd[60179]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 22 07:27:28 ubuntu etcd[60179]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 22 07:27:28 ubuntu etcd[60179]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 22 07:27:28 ubuntu etcd[60179]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 22 07:27:28 ubuntu etcd[60179]: listening for peers on [::]:2380
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb became candidate at term 2
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: 33238c1cdfea94eb became leader at term 2
May 22 07:27:28 ubuntu etcd[60179]: raft2024/05/22 07:27:28 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 22 07:27:28 ubuntu etcd[60179]: setting up the initial cluster version to 3.4
May 22 07:27:28 ubuntu etcd[60179]: set the initial cluster version to 3.4
May 22 07:27:28 ubuntu etcd[60179]: enabled capabilities for version 3.4
May 22 07:27:28 ubuntu etcd[60179]: INFO: 2024/05/22 07:27:28 parsed scheme: ""
May 22 07:27:28 ubuntu etcd[60179]: INFO: 2024/05/22 07:27:28 scheme "" not registered, fallback to default scheme
May 22 07:27:28 ubuntu etcd[60179]: INFO: 2024/05/22 07:27:28 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 22 07:27:28 ubuntu etcd[60179]: INFO: 2024/05/22 07:27:28 ClientConn switching balancer to "pick_first"
May 22 07:27:28 ubuntu etcd[60179]: ready to serve client requests
May 22 07:27:28 ubuntu etcd[60179]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 22 07:27:28 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 22 07:27:28 ubuntu etcd[60179]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 22 07:31:46 ubuntu etcd[60179]: start time = 2024-05-22 07:31:46.905281713 +0000 UTC m=+258.503444217, time spent = 496.645µs, remote = 10.201.4.32:55556, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 07:31:46 ubuntu etcd[60179]: start time = 2024-05-22 07:31:46.994644195 +0000 UTC m=+258.592806699, time spent = 223.961µs, remote = 10.201.4.32:55556, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 07:31:53 ubuntu etcd[60179]: start time = 2024-05-22 07:31:53.530829047 +0000 UTC m=+265.128991551, time spent = 166.976µs, remote = 10.201.4.32:55556, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 07:31:55 ubuntu etcd[60179]: start time = 2024-05-22 07:31:55.67094339 +0000 UTC m=+267.269105905, time spent = 219.85µs, remote = 10.201.4.32:55556, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
