May 22 17:49:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 22 17:49:28 ubuntu etcd[58144]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 22 17:49:28 ubuntu etcd[58144]:         A future release of golang/protobuf will delete this package,
May 22 17:49:28 ubuntu etcd[58144]:         which has long been excluded from the compatibility promise.
May 22 17:49:28 ubuntu etcd[58144]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 22 17:49:28 ubuntu etcd[58144]: Running http and grpc server on single port. This is not recommended for production.
May 22 17:49:28 ubuntu etcd[58144]: etcd Version: 3.4.27
May 22 17:49:28 ubuntu etcd[58144]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 22 17:49:28 ubuntu etcd[58144]: Git SHA: c92fb80f3
May 22 17:49:28 ubuntu etcd[58144]: Go Version: go1.19.10
May 22 17:49:28 ubuntu etcd[58144]: Go OS/Arch: linux/amd64
May 22 17:49:28 ubuntu etcd[58144]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 22 17:49:28 ubuntu etcd[58144]: Running http and grpc server on single port. This is not recommended for production.
May 22 17:49:28 ubuntu etcd[58144]: name = ubuntu
May 22 17:49:28 ubuntu etcd[58144]: data dir = /opt/stack/data/etcd
May 22 17:49:28 ubuntu etcd[58144]: member dir = /opt/stack/data/etcd/member
May 22 17:49:28 ubuntu etcd[58144]: heartbeat = 100ms
May 22 17:49:28 ubuntu etcd[58144]: election = 1000ms
May 22 17:49:28 ubuntu etcd[58144]: snapshot count = 100000
May 22 17:49:28 ubuntu etcd[58144]: advertise client URLs = http://10.201.9.223:2379
May 22 17:49:28 ubuntu etcd[58144]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 22 17:49:28 ubuntu etcd[58144]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 22 17:49:28 ubuntu etcd[58144]: raft2025/05/22 17:49:28 INFO: c25b29daa831042c switched to configuration voters=()
May 22 17:49:28 ubuntu etcd[58144]: raft2025/05/22 17:49:28 INFO: c25b29daa831042c became follower at term 0
May 22 17:49:28 ubuntu etcd[58144]: raft2025/05/22 17:49:28 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 22 17:49:28 ubuntu etcd[58144]: raft2025/05/22 17:49:28 INFO: c25b29daa831042c became follower at term 1
May 22 17:49:28 ubuntu etcd[58144]: raft2025/05/22 17:49:28 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 22 17:49:28 ubuntu etcd[58144]: simple token is not cryptographically signed
May 22 17:49:28 ubuntu etcd[58144]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 22 17:49:28 ubuntu etcd[58144]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 22 17:49:28 ubuntu etcd[58144]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 22 17:49:28 ubuntu etcd[58144]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 22 17:49:28 ubuntu etcd[58144]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 22 17:49:28 ubuntu etcd[58144]: raft2025/05/22 17:49:28 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 22 17:49:28 ubuntu etcd[58144]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 22 17:49:28 ubuntu etcd[58144]: listening for peers on [::]:2380
May 22 17:49:29 ubuntu etcd[58144]: raft2025/05/22 17:49:29 INFO: c25b29daa831042c is starting a new election at term 1
May 22 17:49:29 ubuntu etcd[58144]: raft2025/05/22 17:49:29 INFO: c25b29daa831042c became candidate at term 2
May 22 17:49:29 ubuntu etcd[58144]: raft2025/05/22 17:49:29 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 22 17:49:29 ubuntu etcd[58144]: raft2025/05/22 17:49:29 INFO: c25b29daa831042c became leader at term 2
May 22 17:49:29 ubuntu etcd[58144]: raft2025/05/22 17:49:29 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 22 17:49:29 ubuntu etcd[58144]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 22 17:49:29 ubuntu etcd[58144]: ready to serve client requests
May 22 17:49:29 ubuntu etcd[58144]: setting up the initial cluster version to 3.4
May 22 17:49:29 ubuntu etcd[58144]: set the initial cluster version to 3.4
May 22 17:49:29 ubuntu etcd[58144]: enabled capabilities for version 3.4
May 22 17:49:29 ubuntu etcd[58144]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 22 17:49:29 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 22 17:53:36 ubuntu etcd[58144]: start time = 2025-05-22 17:53:36.174225471 +0000 UTC m=+247.415321121, time spent = 500.796µs, remote = 10.201.9.223:52120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 17:53:36 ubuntu etcd[58144]: start time = 2025-05-22 17:53:36.185789143 +0000 UTC m=+247.426884806, time spent = 315.364µs, remote = 10.201.9.223:52120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 17:53:42 ubuntu etcd[58144]: start time = 2025-05-22 17:53:42.915309229 +0000 UTC m=+254.156404888, time spent = 273.633µs, remote = 10.201.9.223:52120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 17:53:45 ubuntu etcd[58144]: start time = 2025-05-22 17:53:45.051425129 +0000 UTC m=+256.292520778, time spent = 337.089µs, remote = 10.201.9.223:52120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
