Jul 30 14:09:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 30 14:09:13 ubuntu etcd[59012]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 30 14:09:13 ubuntu etcd[59012]:         A future release of golang/protobuf will delete this package,
Jul 30 14:09:13 ubuntu etcd[59012]:         which has long been excluded from the compatibility promise.
Jul 30 14:09:13 ubuntu etcd[59012]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 30 14:09:13 ubuntu etcd[59012]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 30 14:09:13 ubuntu etcd[59012]: Running http and grpc server on single port. This is not recommended for production.
Jul 30 14:09:13 ubuntu etcd[59012]: etcd Version: 3.4.27
Jul 30 14:09:13 ubuntu etcd[59012]: Git SHA: c92fb80f3
Jul 30 14:09:13 ubuntu etcd[59012]: Go Version: go1.19.10
Jul 30 14:09:13 ubuntu etcd[59012]: Go OS/Arch: linux/amd64
Jul 30 14:09:13 ubuntu etcd[59012]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 30 14:09:13 ubuntu etcd[59012]: Running http and grpc server on single port. This is not recommended for production.
Jul 30 14:09:13 ubuntu etcd[59012]: name = ubuntu
Jul 30 14:09:13 ubuntu etcd[59012]: data dir = /opt/stack/data/etcd
Jul 30 14:09:13 ubuntu etcd[59012]: member dir = /opt/stack/data/etcd/member
Jul 30 14:09:13 ubuntu etcd[59012]: heartbeat = 100ms
Jul 30 14:09:13 ubuntu etcd[59012]: election = 1000ms
Jul 30 14:09:13 ubuntu etcd[59012]: snapshot count = 100000
Jul 30 14:09:13 ubuntu etcd[59012]: advertise client URLs = http://10.201.9.223:2379
Jul 30 14:09:13 ubuntu etcd[59012]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 30 14:09:13 ubuntu etcd[59012]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 30 14:09:13 ubuntu etcd[59012]: raft2025/07/30 14:09:13 INFO: c25b29daa831042c switched to configuration voters=()
Jul 30 14:09:13 ubuntu etcd[59012]: raft2025/07/30 14:09:13 INFO: c25b29daa831042c became follower at term 0
Jul 30 14:09:13 ubuntu etcd[59012]: raft2025/07/30 14:09:13 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 30 14:09:13 ubuntu etcd[59012]: raft2025/07/30 14:09:13 INFO: c25b29daa831042c became follower at term 1
Jul 30 14:09:13 ubuntu etcd[59012]: raft2025/07/30 14:09:13 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 30 14:09:13 ubuntu etcd[59012]: simple token is not cryptographically signed
Jul 30 14:09:13 ubuntu etcd[59012]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 30 14:09:13 ubuntu etcd[59012]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 30 14:09:13 ubuntu etcd[59012]: raft2025/07/30 14:09:13 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 30 14:09:13 ubuntu etcd[59012]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 30 14:09:13 ubuntu etcd[59012]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 30 14:09:13 ubuntu etcd[59012]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 30 14:09:13 ubuntu etcd[59012]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 30 14:09:13 ubuntu etcd[59012]: listening for peers on [::]:2380
Jul 30 14:09:13 ubuntu etcd[59012]: raft2025/07/30 14:09:13 INFO: c25b29daa831042c is starting a new election at term 1
Jul 30 14:09:13 ubuntu etcd[59012]: raft2025/07/30 14:09:13 INFO: c25b29daa831042c became candidate at term 2
Jul 30 14:09:13 ubuntu etcd[59012]: raft2025/07/30 14:09:13 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 30 14:09:13 ubuntu etcd[59012]: raft2025/07/30 14:09:13 INFO: c25b29daa831042c became leader at term 2
Jul 30 14:09:13 ubuntu etcd[59012]: raft2025/07/30 14:09:13 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 30 14:09:13 ubuntu etcd[59012]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 30 14:09:13 ubuntu etcd[59012]: ready to serve client requests
Jul 30 14:09:13 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 30 14:09:13 ubuntu etcd[59012]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 30 14:09:13 ubuntu etcd[59012]: setting up the initial cluster version to 3.4
Jul 30 14:09:13 ubuntu etcd[59012]: set the initial cluster version to 3.4
Jul 30 14:09:13 ubuntu etcd[59012]: enabled capabilities for version 3.4
Jul 30 14:13:23 ubuntu etcd[59012]: start time = 2025-07-30 14:13:23.774777303 +0000 UTC m=+250.398929814, time spent = 1.175154ms, remote = 10.201.9.223:37656, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 14:13:23 ubuntu etcd[59012]: start time = 2025-07-30 14:13:23.799069453 +0000 UTC m=+250.423221973, time spent = 171.092µs, remote = 10.201.9.223:37656, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 14:13:30 ubuntu etcd[59012]: start time = 2025-07-30 14:13:30.278393139 +0000 UTC m=+256.902545660, time spent = 156.812µs, remote = 10.201.9.223:37656, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 14:13:32 ubuntu etcd[59012]: start time = 2025-07-30 14:13:32.541552337 +0000 UTC m=+259.165704882, time spent = 577.577µs, remote = 10.201.9.223:37656, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
