Apr 30 07:12:57 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 30 07:12:57 ubuntu etcd[58102]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 30 07:12:57 ubuntu etcd[58102]:         A future release of golang/protobuf will delete this package,
Apr 30 07:12:57 ubuntu etcd[58102]:         which has long been excluded from the compatibility promise.
Apr 30 07:12:57 ubuntu etcd[58102]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 30 07:12:57 ubuntu etcd[58102]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 30 07:12:57 ubuntu etcd[58102]: Running http and grpc server on single port. This is not recommended for production.
Apr 30 07:12:57 ubuntu etcd[58102]: etcd Version: 3.4.27
Apr 30 07:12:57 ubuntu etcd[58102]: Git SHA: c92fb80f3
Apr 30 07:12:57 ubuntu etcd[58102]: Go Version: go1.19.10
Apr 30 07:12:57 ubuntu etcd[58102]: Go OS/Arch: linux/amd64
Apr 30 07:12:57 ubuntu etcd[58102]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 30 07:12:57 ubuntu etcd[58102]: Running http and grpc server on single port. This is not recommended for production.
Apr 30 07:12:57 ubuntu etcd[58102]: name = ubuntu
Apr 30 07:12:57 ubuntu etcd[58102]: data dir = /opt/stack/data/etcd
Apr 30 07:12:57 ubuntu etcd[58102]: member dir = /opt/stack/data/etcd/member
Apr 30 07:12:57 ubuntu etcd[58102]: heartbeat = 100ms
Apr 30 07:12:57 ubuntu etcd[58102]: election = 1000ms
Apr 30 07:12:57 ubuntu etcd[58102]: snapshot count = 100000
Apr 30 07:12:57 ubuntu etcd[58102]: advertise client URLs = http://10.201.9.223:2379
Apr 30 07:12:57 ubuntu etcd[58102]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 30 07:12:57 ubuntu etcd[58102]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 30 07:12:57 ubuntu etcd[58102]: raft2025/04/30 07:12:57 INFO: c25b29daa831042c switched to configuration voters=()
Apr 30 07:12:57 ubuntu etcd[58102]: raft2025/04/30 07:12:57 INFO: c25b29daa831042c became follower at term 0
Apr 30 07:12:57 ubuntu etcd[58102]: raft2025/04/30 07:12:57 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 30 07:12:57 ubuntu etcd[58102]: raft2025/04/30 07:12:57 INFO: c25b29daa831042c became follower at term 1
Apr 30 07:12:57 ubuntu etcd[58102]: raft2025/04/30 07:12:57 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 30 07:12:57 ubuntu etcd[58102]: simple token is not cryptographically signed
Apr 30 07:12:57 ubuntu etcd[58102]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 30 07:12:57 ubuntu etcd[58102]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 30 07:12:57 ubuntu etcd[58102]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 30 07:12:57 ubuntu etcd[58102]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 30 07:12:57 ubuntu etcd[58102]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 30 07:12:57 ubuntu etcd[58102]: raft2025/04/30 07:12:57 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 30 07:12:57 ubuntu etcd[58102]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 30 07:12:57 ubuntu etcd[58102]: listening for peers on [::]:2380
Apr 30 07:12:57 ubuntu etcd[58102]: raft2025/04/30 07:12:57 INFO: c25b29daa831042c is starting a new election at term 1
Apr 30 07:12:57 ubuntu etcd[58102]: raft2025/04/30 07:12:57 INFO: c25b29daa831042c became candidate at term 2
Apr 30 07:12:57 ubuntu etcd[58102]: raft2025/04/30 07:12:57 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 30 07:12:57 ubuntu etcd[58102]: raft2025/04/30 07:12:57 INFO: c25b29daa831042c became leader at term 2
Apr 30 07:12:57 ubuntu etcd[58102]: raft2025/04/30 07:12:57 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 30 07:12:57 ubuntu etcd[58102]: ready to serve client requests
Apr 30 07:12:57 ubuntu etcd[58102]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 30 07:12:57 ubuntu etcd[58102]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 30 07:12:57 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 30 07:12:57 ubuntu etcd[58102]: setting up the initial cluster version to 3.4
Apr 30 07:12:57 ubuntu etcd[58102]: set the initial cluster version to 3.4
Apr 30 07:12:57 ubuntu etcd[58102]: enabled capabilities for version 3.4
Apr 30 07:17:10 ubuntu etcd[58102]: start time = 2025-04-30 07:17:10.555651682 +0000 UTC m=+252.919803280, time spent = 509.779µs, remote = 10.201.9.223:36348, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 30 07:17:10 ubuntu etcd[58102]: start time = 2025-04-30 07:17:10.559788558 +0000 UTC m=+252.923940173, time spent = 204.991µs, remote = 10.201.9.223:36348, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 30 07:17:17 ubuntu etcd[58102]: start time = 2025-04-30 07:17:17.14795888 +0000 UTC m=+259.512110491, time spent = 817.011µs, remote = 10.201.9.223:36348, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 30 07:17:19 ubuntu etcd[58102]: start time = 2025-04-30 07:17:19.292680211 +0000 UTC m=+261.656831831, time spent = 188.224µs, remote = 10.201.9.223:36348, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
