Jan 23 14:23:35 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 23 14:23:35 ubuntu etcd[59727]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 23 14:23:35 ubuntu etcd[59727]:         A future release of golang/protobuf will delete this package,
Jan 23 14:23:35 ubuntu etcd[59727]:         which has long been excluded from the compatibility promise.
Jan 23 14:23:35 ubuntu etcd[59727]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 23 14:23:35 ubuntu etcd[59727]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 23 14:23:35 ubuntu etcd[59727]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 23 14:23:35 ubuntu etcd[59727]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 23 14:23:35 ubuntu etcd[59727]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 23 14:23:35 ubuntu etcd[59727]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 23 14:23:35 ubuntu etcd[59727]: Running http and grpc server on single port. This is not recommended for production.
Jan 23 14:23:35 ubuntu etcd[59727]: etcd Version: 3.4.27
Jan 23 14:23:35 ubuntu etcd[59727]: Git SHA: c92fb80f3
Jan 23 14:23:35 ubuntu etcd[59727]: Go Version: go1.19.10
Jan 23 14:23:35 ubuntu etcd[59727]: Go OS/Arch: linux/amd64
Jan 23 14:23:35 ubuntu etcd[59727]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 23 14:23:35 ubuntu etcd[59727]: Running http and grpc server on single port. This is not recommended for production.
Jan 23 14:23:35 ubuntu etcd[59727]: name = ubuntu
Jan 23 14:23:35 ubuntu etcd[59727]: data dir = /opt/stack/data/etcd
Jan 23 14:23:35 ubuntu etcd[59727]: member dir = /opt/stack/data/etcd/member
Jan 23 14:23:35 ubuntu etcd[59727]: heartbeat = 100ms
Jan 23 14:23:35 ubuntu etcd[59727]: election = 1000ms
Jan 23 14:23:35 ubuntu etcd[59727]: snapshot count = 100000
Jan 23 14:23:35 ubuntu etcd[59727]: advertise client URLs = http://10.201.4.32:2379
Jan 23 14:23:35 ubuntu etcd[59727]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 23 14:23:35 ubuntu etcd[59727]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 23 14:23:35 ubuntu etcd[59727]: raft2024/01/23 14:23:35 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 23 14:23:35 ubuntu etcd[59727]: raft2024/01/23 14:23:35 INFO: 33238c1cdfea94eb became follower at term 0
Jan 23 14:23:35 ubuntu etcd[59727]: raft2024/01/23 14:23:35 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 23 14:23:35 ubuntu etcd[59727]: raft2024/01/23 14:23:35 INFO: 33238c1cdfea94eb became follower at term 1
Jan 23 14:23:35 ubuntu etcd[59727]: raft2024/01/23 14:23:35 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 23 14:23:35 ubuntu etcd[59727]: simple token is not cryptographically signed
Jan 23 14:23:35 ubuntu etcd[59727]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 23 14:23:35 ubuntu etcd[59727]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 23 14:23:35 ubuntu etcd[59727]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 23 14:23:35 ubuntu etcd[59727]: raft2024/01/23 14:23:35 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 23 14:23:35 ubuntu etcd[59727]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 23 14:23:35 ubuntu etcd[59727]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 23 14:23:35 ubuntu etcd[59727]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 23 14:23:35 ubuntu etcd[59727]: listening for peers on [::]:2380
Jan 23 14:23:36 ubuntu etcd[59727]: raft2024/01/23 14:23:36 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 23 14:23:36 ubuntu etcd[59727]: raft2024/01/23 14:23:36 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 23 14:23:36 ubuntu etcd[59727]: raft2024/01/23 14:23:36 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 23 14:23:36 ubuntu etcd[59727]: raft2024/01/23 14:23:36 INFO: 33238c1cdfea94eb became leader at term 2
Jan 23 14:23:36 ubuntu etcd[59727]: raft2024/01/23 14:23:36 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 23 14:23:36 ubuntu etcd[59727]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 23 14:23:36 ubuntu etcd[59727]: setting up the initial cluster version to 3.4
Jan 23 14:23:36 ubuntu etcd[59727]: ready to serve client requests
Jan 23 14:23:36 ubuntu etcd[59727]: INFO: 2024/01/23 14:23:36 parsed scheme: ""
Jan 23 14:23:36 ubuntu etcd[59727]: INFO: 2024/01/23 14:23:36 scheme "" not registered, fallback to default scheme
Jan 23 14:23:36 ubuntu etcd[59727]: INFO: 2024/01/23 14:23:36 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 23 14:23:36 ubuntu etcd[59727]: INFO: 2024/01/23 14:23:36 ClientConn switching balancer to "pick_first"
Jan 23 14:23:36 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 23 14:23:36 ubuntu etcd[59727]: set the initial cluster version to 3.4
Jan 23 14:23:36 ubuntu etcd[59727]: enabled capabilities for version 3.4
Jan 23 14:23:36 ubuntu etcd[59727]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 23 14:27:56 ubuntu etcd[59727]: start time = 2024-01-23 14:27:56.760255854 +0000 UTC m=+260.847938065, time spent = 500.224µs, remote = 10.201.4.32:59268, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 23 14:27:56 ubuntu etcd[59727]: start time = 2024-01-23 14:27:56.776382429 +0000 UTC m=+260.864064650, time spent = 221.213µs, remote = 10.201.4.32:59268, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 23 14:28:03 ubuntu etcd[59727]: start time = 2024-01-23 14:28:03.564378909 +0000 UTC m=+267.652061131, time spent = 205.234µs, remote = 10.201.4.32:59268, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 23 14:28:06 ubuntu etcd[59727]: start time = 2024-01-23 14:28:06.303951357 +0000 UTC m=+270.391633567, time spent = 523.751µs, remote = 10.201.4.32:59268, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
