Mar 21 06:11:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 21 06:11:55 ubuntu etcd[60521]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 21 06:11:55 ubuntu etcd[60521]:         A future release of golang/protobuf will delete this package,
Mar 21 06:11:55 ubuntu etcd[60521]:         which has long been excluded from the compatibility promise.
Mar 21 06:11:55 ubuntu etcd[60521]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 21 06:11:55 ubuntu etcd[60521]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 21 06:11:55 ubuntu etcd[60521]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 21 06:11:55 ubuntu etcd[60521]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 21 06:11:55 ubuntu etcd[60521]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 21 06:11:55 ubuntu etcd[60521]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 21 06:11:55 ubuntu etcd[60521]: Running http and grpc server on single port. This is not recommended for production.
Mar 21 06:11:55 ubuntu etcd[60521]: etcd Version: 3.4.27
Mar 21 06:11:55 ubuntu etcd[60521]: Git SHA: c92fb80f3
Mar 21 06:11:55 ubuntu etcd[60521]: Go Version: go1.19.10
Mar 21 06:11:55 ubuntu etcd[60521]: Go OS/Arch: linux/amd64
Mar 21 06:11:55 ubuntu etcd[60521]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 21 06:11:55 ubuntu etcd[60521]: Running http and grpc server on single port. This is not recommended for production.
Mar 21 06:11:55 ubuntu etcd[60521]: name = ubuntu
Mar 21 06:11:55 ubuntu etcd[60521]: data dir = /opt/stack/data/etcd
Mar 21 06:11:55 ubuntu etcd[60521]: member dir = /opt/stack/data/etcd/member
Mar 21 06:11:55 ubuntu etcd[60521]: heartbeat = 100ms
Mar 21 06:11:55 ubuntu etcd[60521]: election = 1000ms
Mar 21 06:11:55 ubuntu etcd[60521]: snapshot count = 100000
Mar 21 06:11:55 ubuntu etcd[60521]: advertise client URLs = http://10.201.4.32:2379
Mar 21 06:11:55 ubuntu etcd[60521]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 21 06:11:55 ubuntu etcd[60521]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 21 06:11:55 ubuntu etcd[60521]: raft2024/03/21 06:11:55 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 21 06:11:55 ubuntu etcd[60521]: raft2024/03/21 06:11:55 INFO: 33238c1cdfea94eb became follower at term 0
Mar 21 06:11:55 ubuntu etcd[60521]: raft2024/03/21 06:11:55 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 21 06:11:55 ubuntu etcd[60521]: raft2024/03/21 06:11:55 INFO: 33238c1cdfea94eb became follower at term 1
Mar 21 06:11:55 ubuntu etcd[60521]: raft2024/03/21 06:11:55 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 21 06:11:55 ubuntu etcd[60521]: simple token is not cryptographically signed
Mar 21 06:11:55 ubuntu etcd[60521]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 21 06:11:55 ubuntu etcd[60521]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 21 06:11:55 ubuntu etcd[60521]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 21 06:11:55 ubuntu etcd[60521]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 21 06:11:55 ubuntu etcd[60521]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 21 06:11:55 ubuntu etcd[60521]: raft2024/03/21 06:11:55 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 21 06:11:55 ubuntu etcd[60521]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 21 06:11:55 ubuntu etcd[60521]: listening for peers on [::]:2380
Mar 21 06:11:55 ubuntu etcd[60521]: raft2024/03/21 06:11:55 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 21 06:11:55 ubuntu etcd[60521]: raft2024/03/21 06:11:55 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 21 06:11:55 ubuntu etcd[60521]: raft2024/03/21 06:11:55 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 21 06:11:55 ubuntu etcd[60521]: raft2024/03/21 06:11:55 INFO: 33238c1cdfea94eb became leader at term 2
Mar 21 06:11:55 ubuntu etcd[60521]: raft2024/03/21 06:11:55 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 21 06:11:55 ubuntu etcd[60521]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 21 06:11:55 ubuntu etcd[60521]: setting up the initial cluster version to 3.4
Mar 21 06:11:55 ubuntu etcd[60521]: ready to serve client requests
Mar 21 06:11:55 ubuntu etcd[60521]: INFO: 2024/03/21 06:11:55 parsed scheme: ""
Mar 21 06:11:55 ubuntu etcd[60521]: INFO: 2024/03/21 06:11:55 scheme "" not registered, fallback to default scheme
Mar 21 06:11:55 ubuntu etcd[60521]: INFO: 2024/03/21 06:11:55 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 21 06:11:55 ubuntu etcd[60521]: INFO: 2024/03/21 06:11:55 ClientConn switching balancer to "pick_first"
Mar 21 06:11:55 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 21 06:11:55 ubuntu etcd[60521]: set the initial cluster version to 3.4
Mar 21 06:11:55 ubuntu etcd[60521]: enabled capabilities for version 3.4
Mar 21 06:11:55 ubuntu etcd[60521]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 21 06:16:18 ubuntu etcd[60521]: start time = 2024-03-21 06:16:18.428565886 +0000 UTC m=+263.067337799, time spent = 398.578µs, remote = 10.201.4.32:38490, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 06:16:18 ubuntu etcd[60521]: start time = 2024-03-21 06:16:18.505990768 +0000 UTC m=+263.144762692, time spent = 188.644µs, remote = 10.201.4.32:38490, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 06:16:25 ubuntu etcd[60521]: start time = 2024-03-21 06:16:25.264167117 +0000 UTC m=+269.902939042, time spent = 159.799µs, remote = 10.201.4.32:38490, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 06:16:27 ubuntu etcd[60521]: start time = 2024-03-21 06:16:27.634846244 +0000 UTC m=+272.273618168, time spent = 159.637µs, remote = 10.201.4.32:38490, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
