Feb 27 14:49:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 27 14:49:46 ubuntu etcd[70730]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 27 14:49:46 ubuntu etcd[70730]:         A future release of golang/protobuf will delete this package,
Feb 27 14:49:46 ubuntu etcd[70730]:         which has long been excluded from the compatibility promise.
Feb 27 14:49:46 ubuntu etcd[70730]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 14:49:46 ubuntu etcd[70730]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 14:49:46 ubuntu etcd[70730]: etcd Version: 3.4.27
Feb 27 14:49:46 ubuntu etcd[70730]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 14:49:46 ubuntu etcd[70730]: Git SHA: c92fb80f3
Feb 27 14:49:46 ubuntu etcd[70730]: Go Version: go1.19.10
Feb 27 14:49:46 ubuntu etcd[70730]: Go OS/Arch: linux/amd64
Feb 27 14:49:46 ubuntu etcd[70730]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 27 14:49:46 ubuntu etcd[70730]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 14:49:46 ubuntu etcd[70730]: name = ubuntu
Feb 27 14:49:46 ubuntu etcd[70730]: data dir = /opt/stack/data/etcd
Feb 27 14:49:46 ubuntu etcd[70730]: member dir = /opt/stack/data/etcd/member
Feb 27 14:49:46 ubuntu etcd[70730]: heartbeat = 100ms
Feb 27 14:49:46 ubuntu etcd[70730]: election = 1000ms
Feb 27 14:49:46 ubuntu etcd[70730]: snapshot count = 100000
Feb 27 14:49:46 ubuntu etcd[70730]: advertise client URLs = http://10.201.9.223:2379
Feb 27 14:49:46 ubuntu etcd[70730]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 27 14:49:46 ubuntu etcd[70730]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Feb 27 14:49:46 ubuntu etcd[70730]: raft2025/02/27 14:49:46 INFO: c25b29daa831042c switched to configuration voters=()
Feb 27 14:49:46 ubuntu etcd[70730]: raft2025/02/27 14:49:46 INFO: c25b29daa831042c became follower at term 0
Feb 27 14:49:46 ubuntu etcd[70730]: raft2025/02/27 14:49:46 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 27 14:49:46 ubuntu etcd[70730]: raft2025/02/27 14:49:46 INFO: c25b29daa831042c became follower at term 1
Feb 27 14:49:46 ubuntu etcd[70730]: raft2025/02/27 14:49:46 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 27 14:49:46 ubuntu etcd[70730]: simple token is not cryptographically signed
Feb 27 14:49:46 ubuntu etcd[70730]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 27 14:49:46 ubuntu etcd[70730]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 27 14:49:46 ubuntu etcd[70730]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 27 14:49:46 ubuntu etcd[70730]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 27 14:49:46 ubuntu etcd[70730]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 27 14:49:46 ubuntu etcd[70730]: raft2025/02/27 14:49:46 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 27 14:49:46 ubuntu etcd[70730]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Feb 27 14:49:46 ubuntu etcd[70730]: listening for peers on [::]:2380
Feb 27 14:49:47 ubuntu etcd[70730]: raft2025/02/27 14:49:47 INFO: c25b29daa831042c is starting a new election at term 1
Feb 27 14:49:47 ubuntu etcd[70730]: raft2025/02/27 14:49:47 INFO: c25b29daa831042c became candidate at term 2
Feb 27 14:49:47 ubuntu etcd[70730]: raft2025/02/27 14:49:47 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Feb 27 14:49:47 ubuntu etcd[70730]: raft2025/02/27 14:49:47 INFO: c25b29daa831042c became leader at term 2
Feb 27 14:49:47 ubuntu etcd[70730]: raft2025/02/27 14:49:47 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Feb 27 14:49:47 ubuntu etcd[70730]: ready to serve client requests
Feb 27 14:49:47 ubuntu etcd[70730]: setting up the initial cluster version to 3.4
Feb 27 14:49:47 ubuntu etcd[70730]: set the initial cluster version to 3.4
Feb 27 14:49:47 ubuntu etcd[70730]: enabled capabilities for version 3.4
Feb 27 14:49:47 ubuntu etcd[70730]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Feb 27 14:49:47 ubuntu etcd[70730]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Feb 27 14:49:47 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 27 14:54:00 ubuntu etcd[70730]: start time = 2025-02-27 14:54:00.283274 +0000 UTC m=+253.437242268, time spent = 409.304µs, remote = 10.201.9.223:46532, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 14:54:00 ubuntu etcd[70730]: start time = 2025-02-27 14:54:00.420616006 +0000 UTC m=+253.574584288, time spent = 257.67µs, remote = 10.201.9.223:46532, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 14:54:07 ubuntu etcd[70730]: start time = 2025-02-27 14:54:07.012119843 +0000 UTC m=+260.166088110, time spent = 314.529µs, remote = 10.201.9.223:46532, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 14:54:09 ubuntu etcd[70730]: start time = 2025-02-27 14:54:09.090508987 +0000 UTC m=+262.244477264, time spent = 256.435µs, remote = 10.201.9.223:46532, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
