Dec 11 14:38:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 11 14:38:02 ubuntu etcd[59109]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 11 14:38:02 ubuntu etcd[59109]:         A future release of golang/protobuf will delete this package,
Dec 11 14:38:02 ubuntu etcd[59109]:         which has long been excluded from the compatibility promise.
Dec 11 14:38:02 ubuntu etcd[59109]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 11 14:38:02 ubuntu etcd[59109]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 11 14:38:02 ubuntu etcd[59109]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 14:38:02 ubuntu etcd[59109]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 11 14:38:02 ubuntu etcd[59109]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 11 14:38:02 ubuntu etcd[59109]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 14:38:02 ubuntu etcd[59109]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 14:38:02 ubuntu etcd[59109]: etcd Version: 3.4.27
Dec 11 14:38:02 ubuntu etcd[59109]: Git SHA: c92fb80f3
Dec 11 14:38:02 ubuntu etcd[59109]: Go Version: go1.19.10
Dec 11 14:38:02 ubuntu etcd[59109]: Go OS/Arch: linux/amd64
Dec 11 14:38:02 ubuntu etcd[59109]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 11 14:38:02 ubuntu etcd[59109]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 14:38:02 ubuntu etcd[59109]: name = ubuntu
Dec 11 14:38:02 ubuntu etcd[59109]: data dir = /opt/stack/data/etcd
Dec 11 14:38:02 ubuntu etcd[59109]: member dir = /opt/stack/data/etcd/member
Dec 11 14:38:02 ubuntu etcd[59109]: heartbeat = 100ms
Dec 11 14:38:02 ubuntu etcd[59109]: election = 1000ms
Dec 11 14:38:02 ubuntu etcd[59109]: snapshot count = 100000
Dec 11 14:38:02 ubuntu etcd[59109]: advertise client URLs = http://10.201.4.32:2379
Dec 11 14:38:02 ubuntu etcd[59109]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 11 14:38:02 ubuntu etcd[59109]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 11 14:38:02 ubuntu etcd[59109]: raft2023/12/11 14:38:02 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 11 14:38:02 ubuntu etcd[59109]: raft2023/12/11 14:38:02 INFO: 33238c1cdfea94eb became follower at term 0
Dec 11 14:38:02 ubuntu etcd[59109]: raft2023/12/11 14:38:02 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 11 14:38:02 ubuntu etcd[59109]: raft2023/12/11 14:38:02 INFO: 33238c1cdfea94eb became follower at term 1
Dec 11 14:38:02 ubuntu etcd[59109]: raft2023/12/11 14:38:02 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 11 14:38:02 ubuntu etcd[59109]: simple token is not cryptographically signed
Dec 11 14:38:02 ubuntu etcd[59109]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 11 14:38:02 ubuntu etcd[59109]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 11 14:38:02 ubuntu etcd[59109]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 11 14:38:02 ubuntu etcd[59109]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 11 14:38:02 ubuntu etcd[59109]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 11 14:38:02 ubuntu etcd[59109]: raft2023/12/11 14:38:02 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 11 14:38:02 ubuntu etcd[59109]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 11 14:38:03 ubuntu etcd[59109]: listening for peers on [::]:2380
Dec 11 14:38:03 ubuntu etcd[59109]: raft2023/12/11 14:38:03 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 11 14:38:03 ubuntu etcd[59109]: raft2023/12/11 14:38:03 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 11 14:38:03 ubuntu etcd[59109]: raft2023/12/11 14:38:03 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 11 14:38:03 ubuntu etcd[59109]: raft2023/12/11 14:38:03 INFO: 33238c1cdfea94eb became leader at term 2
Dec 11 14:38:03 ubuntu etcd[59109]: raft2023/12/11 14:38:03 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 11 14:38:03 ubuntu etcd[59109]: INFO: 2023/12/11 14:38:03 parsed scheme: ""
Dec 11 14:38:03 ubuntu etcd[59109]: INFO: 2023/12/11 14:38:03 scheme "" not registered, fallback to default scheme
Dec 11 14:38:03 ubuntu etcd[59109]: INFO: 2023/12/11 14:38:03 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Dec 11 14:38:03 ubuntu etcd[59109]: INFO: 2023/12/11 14:38:03 ClientConn switching balancer to "pick_first"
Dec 11 14:38:03 ubuntu etcd[59109]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 11 14:38:03 ubuntu etcd[59109]: ready to serve client requests
Dec 11 14:38:03 ubuntu etcd[59109]: setting up the initial cluster version to 3.4
Dec 11 14:38:03 ubuntu etcd[59109]: set the initial cluster version to 3.4
Dec 11 14:38:03 ubuntu etcd[59109]: enabled capabilities for version 3.4
Dec 11 14:38:03 ubuntu etcd[59109]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 11 14:38:03 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 11 14:42:32 ubuntu etcd[59109]: start time = 2023-12-11 14:42:32.507752701 +0000 UTC m=+269.553173061, time spent = 424.899µs, remote = 10.201.4.32:50908, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 14:42:32 ubuntu etcd[59109]: start time = 2023-12-11 14:42:32.55699525 +0000 UTC m=+269.602415621, time spent = 178.477µs, remote = 10.201.4.32:50908, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 14:42:38 ubuntu etcd[59109]: start time = 2023-12-11 14:42:38.828923226 +0000 UTC m=+275.874343597, time spent = 181.619µs, remote = 10.201.4.32:50908, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 14:42:40 ubuntu etcd[59109]: start time = 2023-12-11 14:42:40.985353691 +0000 UTC m=+278.030774062, time spent = 421.997µs, remote = 10.201.4.32:50908, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 14:42:41 ubuntu etcd[59109]: INFO: 2023/12/11 14:42:41 Failed to decode request: http: invalid Read on closed Body
