May 15 13:11:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 15 13:11:28 ubuntu etcd[58254]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 15 13:11:28 ubuntu etcd[58254]:         A future release of golang/protobuf will delete this package,
May 15 13:11:28 ubuntu etcd[58254]:         which has long been excluded from the compatibility promise.
May 15 13:11:28 ubuntu etcd[58254]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 15 13:11:28 ubuntu etcd[58254]: Running http and grpc server on single port. This is not recommended for production.
May 15 13:11:28 ubuntu etcd[58254]: etcd Version: 3.4.27
May 15 13:11:28 ubuntu etcd[58254]: Git SHA: c92fb80f3
May 15 13:11:28 ubuntu etcd[58254]: Go Version: go1.19.10
May 15 13:11:28 ubuntu etcd[58254]: Go OS/Arch: linux/amd64
May 15 13:11:28 ubuntu etcd[58254]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 15 13:11:28 ubuntu etcd[58254]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 15 13:11:28 ubuntu etcd[58254]: Running http and grpc server on single port. This is not recommended for production.
May 15 13:11:28 ubuntu etcd[58254]: name = ubuntu
May 15 13:11:28 ubuntu etcd[58254]: data dir = /opt/stack/data/etcd
May 15 13:11:28 ubuntu etcd[58254]: member dir = /opt/stack/data/etcd/member
May 15 13:11:28 ubuntu etcd[58254]: heartbeat = 100ms
May 15 13:11:28 ubuntu etcd[58254]: election = 1000ms
May 15 13:11:28 ubuntu etcd[58254]: snapshot count = 100000
May 15 13:11:28 ubuntu etcd[58254]: advertise client URLs = http://10.201.9.223:2379
May 15 13:11:28 ubuntu etcd[58254]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 15 13:11:28 ubuntu etcd[58254]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 15 13:11:28 ubuntu etcd[58254]: raft2025/05/15 13:11:28 INFO: c25b29daa831042c switched to configuration voters=()
May 15 13:11:28 ubuntu etcd[58254]: raft2025/05/15 13:11:28 INFO: c25b29daa831042c became follower at term 0
May 15 13:11:28 ubuntu etcd[58254]: raft2025/05/15 13:11:28 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 15 13:11:28 ubuntu etcd[58254]: raft2025/05/15 13:11:28 INFO: c25b29daa831042c became follower at term 1
May 15 13:11:28 ubuntu etcd[58254]: raft2025/05/15 13:11:28 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 15 13:11:28 ubuntu etcd[58254]: simple token is not cryptographically signed
May 15 13:11:28 ubuntu etcd[58254]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 15 13:11:28 ubuntu etcd[58254]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 15 13:11:28 ubuntu etcd[58254]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 15 13:11:28 ubuntu etcd[58254]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 15 13:11:28 ubuntu etcd[58254]: raft2025/05/15 13:11:28 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 15 13:11:28 ubuntu etcd[58254]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 15 13:11:28 ubuntu etcd[58254]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 15 13:11:28 ubuntu etcd[58254]: listening for peers on [::]:2380
May 15 13:11:29 ubuntu etcd[58254]: raft2025/05/15 13:11:29 INFO: c25b29daa831042c is starting a new election at term 1
May 15 13:11:29 ubuntu etcd[58254]: raft2025/05/15 13:11:29 INFO: c25b29daa831042c became candidate at term 2
May 15 13:11:29 ubuntu etcd[58254]: raft2025/05/15 13:11:29 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 15 13:11:29 ubuntu etcd[58254]: raft2025/05/15 13:11:29 INFO: c25b29daa831042c became leader at term 2
May 15 13:11:29 ubuntu etcd[58254]: raft2025/05/15 13:11:29 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 15 13:11:29 ubuntu etcd[58254]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 15 13:11:29 ubuntu etcd[58254]: setting up the initial cluster version to 3.4
May 15 13:11:29 ubuntu etcd[58254]: set the initial cluster version to 3.4
May 15 13:11:29 ubuntu etcd[58254]: enabled capabilities for version 3.4
May 15 13:11:29 ubuntu etcd[58254]: ready to serve client requests
May 15 13:11:29 ubuntu etcd[58254]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 15 13:11:29 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 15 13:15:34 ubuntu etcd[58254]: start time = 2025-05-15 13:15:34.531349497 +0000 UTC m=+245.979370327, time spent = 501.822µs, remote = 10.201.9.223:40976, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 13:15:34 ubuntu etcd[58254]: start time = 2025-05-15 13:15:34.56468208 +0000 UTC m=+246.012702923, time spent = 211.011µs, remote = 10.201.9.223:40976, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 13:15:41 ubuntu etcd[58254]: start time = 2025-05-15 13:15:41.061563726 +0000 UTC m=+252.509584574, time spent = 152.378µs, remote = 10.201.9.223:40976, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 13:15:42 ubuntu etcd[58254]: start time = 2025-05-15 13:15:42.959076909 +0000 UTC m=+254.407097758, time spent = 194.057µs, remote = 10.201.9.223:40976, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
