Apr 22 22:57:54 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 22 22:57:54 ubuntu etcd[57767]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 22 22:57:54 ubuntu etcd[57767]:         A future release of golang/protobuf will delete this package,
Apr 22 22:57:54 ubuntu etcd[57767]:         which has long been excluded from the compatibility promise.
Apr 22 22:57:54 ubuntu etcd[57767]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 22 22:57:54 ubuntu etcd[57767]: Running http and grpc server on single port. This is not recommended for production.
Apr 22 22:57:54 ubuntu etcd[57767]: etcd Version: 3.4.27
Apr 22 22:57:54 ubuntu etcd[57767]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 22 22:57:54 ubuntu etcd[57767]: Git SHA: c92fb80f3
Apr 22 22:57:54 ubuntu etcd[57767]: Go Version: go1.19.10
Apr 22 22:57:54 ubuntu etcd[57767]: Go OS/Arch: linux/amd64
Apr 22 22:57:54 ubuntu etcd[57767]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 22 22:57:54 ubuntu etcd[57767]: Running http and grpc server on single port. This is not recommended for production.
Apr 22 22:57:54 ubuntu etcd[57767]: name = ubuntu
Apr 22 22:57:54 ubuntu etcd[57767]: data dir = /opt/stack/data/etcd
Apr 22 22:57:54 ubuntu etcd[57767]: member dir = /opt/stack/data/etcd/member
Apr 22 22:57:54 ubuntu etcd[57767]: heartbeat = 100ms
Apr 22 22:57:54 ubuntu etcd[57767]: election = 1000ms
Apr 22 22:57:54 ubuntu etcd[57767]: snapshot count = 100000
Apr 22 22:57:54 ubuntu etcd[57767]: advertise client URLs = http://10.201.9.223:2379
Apr 22 22:57:54 ubuntu etcd[57767]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 22 22:57:54 ubuntu etcd[57767]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 22 22:57:54 ubuntu etcd[57767]: raft2025/04/22 22:57:54 INFO: c25b29daa831042c switched to configuration voters=()
Apr 22 22:57:54 ubuntu etcd[57767]: raft2025/04/22 22:57:54 INFO: c25b29daa831042c became follower at term 0
Apr 22 22:57:54 ubuntu etcd[57767]: raft2025/04/22 22:57:54 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 22 22:57:54 ubuntu etcd[57767]: raft2025/04/22 22:57:54 INFO: c25b29daa831042c became follower at term 1
Apr 22 22:57:54 ubuntu etcd[57767]: raft2025/04/22 22:57:54 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 22 22:57:54 ubuntu etcd[57767]: simple token is not cryptographically signed
Apr 22 22:57:54 ubuntu etcd[57767]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 22 22:57:54 ubuntu etcd[57767]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 22 22:57:54 ubuntu etcd[57767]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 22 22:57:54 ubuntu etcd[57767]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 22 22:57:54 ubuntu etcd[57767]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 22 22:57:54 ubuntu etcd[57767]: raft2025/04/22 22:57:54 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 22 22:57:54 ubuntu etcd[57767]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 22 22:57:54 ubuntu etcd[57767]: listening for peers on [::]:2380
Apr 22 22:57:55 ubuntu etcd[57767]: raft2025/04/22 22:57:55 INFO: c25b29daa831042c is starting a new election at term 1
Apr 22 22:57:55 ubuntu etcd[57767]: raft2025/04/22 22:57:55 INFO: c25b29daa831042c became candidate at term 2
Apr 22 22:57:55 ubuntu etcd[57767]: raft2025/04/22 22:57:55 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 22 22:57:55 ubuntu etcd[57767]: raft2025/04/22 22:57:55 INFO: c25b29daa831042c became leader at term 2
Apr 22 22:57:55 ubuntu etcd[57767]: raft2025/04/22 22:57:55 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 22 22:57:55 ubuntu etcd[57767]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 22 22:57:55 ubuntu etcd[57767]: setting up the initial cluster version to 3.4
Apr 22 22:57:55 ubuntu etcd[57767]: ready to serve client requests
Apr 22 22:57:55 ubuntu etcd[57767]: set the initial cluster version to 3.4
Apr 22 22:57:55 ubuntu etcd[57767]: enabled capabilities for version 3.4
Apr 22 22:57:55 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 22 22:57:55 ubuntu etcd[57767]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 22 23:02:00 ubuntu etcd[57767]: start time = 2025-04-22 23:02:00.550528586 +0000 UTC m=+246.039322672, time spent = 540.311µs, remote = 10.201.9.223:57914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 23:02:00 ubuntu etcd[57767]: start time = 2025-04-22 23:02:00.555212578 +0000 UTC m=+246.044006679, time spent = 233.191µs, remote = 10.201.9.223:57914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 23:02:07 ubuntu etcd[57767]: start time = 2025-04-22 23:02:07.240413422 +0000 UTC m=+252.729207522, time spent = 206.533µs, remote = 10.201.9.223:57914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 23:02:09 ubuntu etcd[57767]: start time = 2025-04-22 23:02:09.177378649 +0000 UTC m=+254.666172746, time spent = 234.188µs, remote = 10.201.9.223:57914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
