Oct 18 11:48:09 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 18 11:48:09 ubuntu etcd[59515]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 18 11:48:09 ubuntu etcd[59515]:         A future release of golang/protobuf will delete this package,
Oct 18 11:48:09 ubuntu etcd[59515]:         which has long been excluded from the compatibility promise.
Oct 18 11:48:09 ubuntu etcd[59515]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 18 11:48:09 ubuntu etcd[59515]: Running http and grpc server on single port. This is not recommended for production.
Oct 18 11:48:09 ubuntu etcd[59515]: etcd Version: 3.4.27
Oct 18 11:48:09 ubuntu etcd[59515]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 18 11:48:09 ubuntu etcd[59515]: Git SHA: c92fb80f3
Oct 18 11:48:09 ubuntu etcd[59515]: Go Version: go1.19.10
Oct 18 11:48:09 ubuntu etcd[59515]: Go OS/Arch: linux/amd64
Oct 18 11:48:09 ubuntu etcd[59515]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 18 11:48:09 ubuntu etcd[59515]: Running http and grpc server on single port. This is not recommended for production.
Oct 18 11:48:09 ubuntu etcd[59515]: name = ubuntu
Oct 18 11:48:09 ubuntu etcd[59515]: data dir = /opt/stack/data/etcd
Oct 18 11:48:09 ubuntu etcd[59515]: member dir = /opt/stack/data/etcd/member
Oct 18 11:48:09 ubuntu etcd[59515]: heartbeat = 100ms
Oct 18 11:48:09 ubuntu etcd[59515]: election = 1000ms
Oct 18 11:48:09 ubuntu etcd[59515]: snapshot count = 100000
Oct 18 11:48:09 ubuntu etcd[59515]: advertise client URLs = http://10.201.4.32:2379
Oct 18 11:48:09 ubuntu etcd[59515]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 18 11:48:09 ubuntu etcd[59515]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 18 11:48:09 ubuntu etcd[59515]: raft2024/10/18 11:48:09 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 18 11:48:09 ubuntu etcd[59515]: raft2024/10/18 11:48:09 INFO: 33238c1cdfea94eb became follower at term 0
Oct 18 11:48:09 ubuntu etcd[59515]: raft2024/10/18 11:48:09 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 18 11:48:09 ubuntu etcd[59515]: raft2024/10/18 11:48:09 INFO: 33238c1cdfea94eb became follower at term 1
Oct 18 11:48:09 ubuntu etcd[59515]: raft2024/10/18 11:48:09 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 18 11:48:09 ubuntu etcd[59515]: simple token is not cryptographically signed
Oct 18 11:48:09 ubuntu etcd[59515]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 18 11:48:09 ubuntu etcd[59515]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 18 11:48:09 ubuntu etcd[59515]: raft2024/10/18 11:48:09 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 18 11:48:09 ubuntu etcd[59515]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 18 11:48:09 ubuntu etcd[59515]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 18 11:48:09 ubuntu etcd[59515]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 18 11:48:09 ubuntu etcd[59515]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 18 11:48:09 ubuntu etcd[59515]: listening for peers on [::]:2380
Oct 18 11:48:10 ubuntu etcd[59515]: raft2024/10/18 11:48:10 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 18 11:48:10 ubuntu etcd[59515]: raft2024/10/18 11:48:10 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 18 11:48:10 ubuntu etcd[59515]: raft2024/10/18 11:48:10 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 18 11:48:10 ubuntu etcd[59515]: raft2024/10/18 11:48:10 INFO: 33238c1cdfea94eb became leader at term 2
Oct 18 11:48:10 ubuntu etcd[59515]: raft2024/10/18 11:48:10 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 18 11:48:10 ubuntu etcd[59515]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 18 11:48:10 ubuntu etcd[59515]: setting up the initial cluster version to 3.4
Oct 18 11:48:10 ubuntu etcd[59515]: ready to serve client requests
Oct 18 11:48:10 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 18 11:48:10 ubuntu etcd[59515]: set the initial cluster version to 3.4
Oct 18 11:48:10 ubuntu etcd[59515]: enabled capabilities for version 3.4
Oct 18 11:48:10 ubuntu etcd[59515]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 18 11:52:28 ubuntu etcd[59515]: start time = 2024-10-18 11:52:28.240351535 +0000 UTC m=+258.565281100, time spent = 405.204µs, remote = 10.201.4.32:35732, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 18 11:52:28 ubuntu etcd[59515]: start time = 2024-10-18 11:52:28.306727981 +0000 UTC m=+258.631657560, time spent = 198.663µs, remote = 10.201.4.32:35732, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 18 11:52:34 ubuntu etcd[59515]: start time = 2024-10-18 11:52:34.697575595 +0000 UTC m=+265.022505173, time spent = 213.538µs, remote = 10.201.4.32:35732, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 18 11:52:37 ubuntu etcd[59515]: start time = 2024-10-18 11:52:37.035856455 +0000 UTC m=+267.360786038, time spent = 380.318µs, remote = 10.201.4.32:35732, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
