Apr 19 15:19:54 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 19 15:19:54 ubuntu etcd[60318]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 19 15:19:54 ubuntu etcd[60318]:         A future release of golang/protobuf will delete this package,
Apr 19 15:19:54 ubuntu etcd[60318]:         which has long been excluded from the compatibility promise.
Apr 19 15:19:54 ubuntu etcd[60318]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 19 15:19:54 ubuntu etcd[60318]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 19 15:19:54 ubuntu etcd[60318]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 19 15:19:54 ubuntu etcd[60318]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 19 15:19:54 ubuntu etcd[60318]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 19 15:19:54 ubuntu etcd[60318]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 19 15:19:54 ubuntu etcd[60318]: Running http and grpc server on single port. This is not recommended for production.
Apr 19 15:19:54 ubuntu etcd[60318]: etcd Version: 3.4.27
Apr 19 15:19:54 ubuntu etcd[60318]: Git SHA: c92fb80f3
Apr 19 15:19:54 ubuntu etcd[60318]: Go Version: go1.19.10
Apr 19 15:19:54 ubuntu etcd[60318]: Go OS/Arch: linux/amd64
Apr 19 15:19:54 ubuntu etcd[60318]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 19 15:19:54 ubuntu etcd[60318]: Running http and grpc server on single port. This is not recommended for production.
Apr 19 15:19:54 ubuntu etcd[60318]: name = ubuntu
Apr 19 15:19:54 ubuntu etcd[60318]: data dir = /opt/stack/data/etcd
Apr 19 15:19:54 ubuntu etcd[60318]: member dir = /opt/stack/data/etcd/member
Apr 19 15:19:54 ubuntu etcd[60318]: heartbeat = 100ms
Apr 19 15:19:54 ubuntu etcd[60318]: election = 1000ms
Apr 19 15:19:54 ubuntu etcd[60318]: snapshot count = 100000
Apr 19 15:19:54 ubuntu etcd[60318]: advertise client URLs = http://10.201.4.32:2379
Apr 19 15:19:54 ubuntu etcd[60318]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 19 15:19:54 ubuntu etcd[60318]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 19 15:19:54 ubuntu etcd[60318]: raft2024/04/19 15:19:54 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 19 15:19:54 ubuntu etcd[60318]: raft2024/04/19 15:19:54 INFO: 33238c1cdfea94eb became follower at term 0
Apr 19 15:19:54 ubuntu etcd[60318]: raft2024/04/19 15:19:54 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 19 15:19:54 ubuntu etcd[60318]: raft2024/04/19 15:19:54 INFO: 33238c1cdfea94eb became follower at term 1
Apr 19 15:19:54 ubuntu etcd[60318]: raft2024/04/19 15:19:54 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 19 15:19:54 ubuntu etcd[60318]: simple token is not cryptographically signed
Apr 19 15:19:54 ubuntu etcd[60318]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 19 15:19:54 ubuntu etcd[60318]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 19 15:19:54 ubuntu etcd[60318]: raft2024/04/19 15:19:54 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 19 15:19:54 ubuntu etcd[60318]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 19 15:19:54 ubuntu etcd[60318]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 19 15:19:54 ubuntu etcd[60318]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 19 15:19:54 ubuntu etcd[60318]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 19 15:19:54 ubuntu etcd[60318]: listening for peers on [::]:2380
Apr 19 15:19:54 ubuntu etcd[60318]: raft2024/04/19 15:19:54 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 19 15:19:54 ubuntu etcd[60318]: raft2024/04/19 15:19:54 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 19 15:19:54 ubuntu etcd[60318]: raft2024/04/19 15:19:54 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 19 15:19:54 ubuntu etcd[60318]: raft2024/04/19 15:19:54 INFO: 33238c1cdfea94eb became leader at term 2
Apr 19 15:19:54 ubuntu etcd[60318]: raft2024/04/19 15:19:54 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 19 15:19:54 ubuntu etcd[60318]: setting up the initial cluster version to 3.4
Apr 19 15:19:54 ubuntu etcd[60318]: INFO: 2024/04/19 15:19:54 parsed scheme: ""
Apr 19 15:19:54 ubuntu etcd[60318]: INFO: 2024/04/19 15:19:54 scheme "" not registered, fallback to default scheme
Apr 19 15:19:54 ubuntu etcd[60318]: ready to serve client requests
Apr 19 15:19:54 ubuntu etcd[60318]: INFO: 2024/04/19 15:19:54 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 19 15:19:54 ubuntu etcd[60318]: INFO: 2024/04/19 15:19:54 ClientConn switching balancer to "pick_first"
Apr 19 15:19:54 ubuntu etcd[60318]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 19 15:19:54 ubuntu etcd[60318]: set the initial cluster version to 3.4
Apr 19 15:19:54 ubuntu etcd[60318]: enabled capabilities for version 3.4
Apr 19 15:19:54 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 19 15:19:54 ubuntu etcd[60318]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 19 15:24:15 ubuntu etcd[60318]: start time = 2024-04-19 15:24:15.666250539 +0000 UTC m=+261.647243109, time spent = 524.363µs, remote = 10.201.4.32:41232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 19 15:24:15 ubuntu etcd[60318]: start time = 2024-04-19 15:24:15.668240144 +0000 UTC m=+261.649232728, time spent = 202.012µs, remote = 10.201.4.32:41232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 19 15:24:22 ubuntu etcd[60318]: start time = 2024-04-19 15:24:22.068824444 +0000 UTC m=+268.049817015, time spent = 236.183µs, remote = 10.201.4.32:41232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 19 15:24:24 ubuntu etcd[60318]: start time = 2024-04-19 15:24:24.435798679 +0000 UTC m=+270.416791248, time spent = 289.572µs, remote = 10.201.4.32:41232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
