May 24 19:25:15 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 24 19:25:15 ubuntu etcd[60054]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 24 19:25:15 ubuntu etcd[60054]:         A future release of golang/protobuf will delete this package,
May 24 19:25:15 ubuntu etcd[60054]:         which has long been excluded from the compatibility promise.
May 24 19:25:15 ubuntu etcd[60054]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 24 19:25:15 ubuntu etcd[60054]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 24 19:25:15 ubuntu etcd[60054]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 24 19:25:15 ubuntu etcd[60054]: Running http and grpc server on single port. This is not recommended for production.
May 24 19:25:15 ubuntu etcd[60054]: etcd Version: 3.4.27
May 24 19:25:15 ubuntu etcd[60054]: Git SHA: c92fb80f3
May 24 19:25:15 ubuntu etcd[60054]: Go Version: go1.19.10
May 24 19:25:15 ubuntu etcd[60054]: Go OS/Arch: linux/amd64
May 24 19:25:15 ubuntu etcd[60054]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 24 19:25:15 ubuntu etcd[60054]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 24 19:25:15 ubuntu etcd[60054]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 24 19:25:15 ubuntu etcd[60054]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 24 19:25:15 ubuntu etcd[60054]: Running http and grpc server on single port. This is not recommended for production.
May 24 19:25:15 ubuntu etcd[60054]: name = ubuntu
May 24 19:25:15 ubuntu etcd[60054]: data dir = /opt/stack/data/etcd
May 24 19:25:15 ubuntu etcd[60054]: member dir = /opt/stack/data/etcd/member
May 24 19:25:15 ubuntu etcd[60054]: heartbeat = 100ms
May 24 19:25:15 ubuntu etcd[60054]: election = 1000ms
May 24 19:25:15 ubuntu etcd[60054]: snapshot count = 100000
May 24 19:25:15 ubuntu etcd[60054]: advertise client URLs = http://10.201.4.32:2379
May 24 19:25:15 ubuntu etcd[60054]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 24 19:25:15 ubuntu etcd[60054]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 24 19:25:15 ubuntu etcd[60054]: raft2024/05/24 19:25:15 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 24 19:25:15 ubuntu etcd[60054]: raft2024/05/24 19:25:15 INFO: 33238c1cdfea94eb became follower at term 0
May 24 19:25:15 ubuntu etcd[60054]: raft2024/05/24 19:25:15 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 24 19:25:15 ubuntu etcd[60054]: raft2024/05/24 19:25:15 INFO: 33238c1cdfea94eb became follower at term 1
May 24 19:25:15 ubuntu etcd[60054]: raft2024/05/24 19:25:15 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 24 19:25:15 ubuntu etcd[60054]: simple token is not cryptographically signed
May 24 19:25:15 ubuntu etcd[60054]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 24 19:25:15 ubuntu etcd[60054]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 24 19:25:15 ubuntu etcd[60054]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 24 19:25:15 ubuntu etcd[60054]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 24 19:25:15 ubuntu etcd[60054]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 24 19:25:15 ubuntu etcd[60054]: raft2024/05/24 19:25:15 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 24 19:25:15 ubuntu etcd[60054]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 24 19:25:15 ubuntu etcd[60054]: listening for peers on [::]:2380
May 24 19:25:15 ubuntu etcd[60054]: raft2024/05/24 19:25:15 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 24 19:25:15 ubuntu etcd[60054]: raft2024/05/24 19:25:15 INFO: 33238c1cdfea94eb became candidate at term 2
May 24 19:25:15 ubuntu etcd[60054]: raft2024/05/24 19:25:15 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 24 19:25:15 ubuntu etcd[60054]: raft2024/05/24 19:25:15 INFO: 33238c1cdfea94eb became leader at term 2
May 24 19:25:15 ubuntu etcd[60054]: raft2024/05/24 19:25:15 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 24 19:25:15 ubuntu etcd[60054]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 24 19:25:15 ubuntu etcd[60054]: setting up the initial cluster version to 3.4
May 24 19:25:15 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 24 19:25:15 ubuntu etcd[60054]: ready to serve client requests
May 24 19:25:15 ubuntu etcd[60054]: set the initial cluster version to 3.4
May 24 19:25:15 ubuntu etcd[60054]: INFO: 2024/05/24 19:25:15 parsed scheme: ""
May 24 19:25:15 ubuntu etcd[60054]: INFO: 2024/05/24 19:25:15 scheme "" not registered, fallback to default scheme
May 24 19:25:15 ubuntu etcd[60054]: enabled capabilities for version 3.4
May 24 19:25:15 ubuntu etcd[60054]: INFO: 2024/05/24 19:25:15 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 24 19:25:15 ubuntu etcd[60054]: INFO: 2024/05/24 19:25:15 ClientConn switching balancer to "pick_first"
May 24 19:25:15 ubuntu etcd[60054]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 24 19:29:33 ubuntu etcd[60054]: start time = 2024-05-24 19:29:33.236489639 +0000 UTC m=+257.516664564, time spent = 530.869µs, remote = 10.201.4.32:41470, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 24 19:29:33 ubuntu etcd[60054]: start time = 2024-05-24 19:29:33.296247315 +0000 UTC m=+257.576422240, time spent = 214.124µs, remote = 10.201.4.32:41470, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 24 19:29:39 ubuntu etcd[60054]: start time = 2024-05-24 19:29:39.847236345 +0000 UTC m=+264.127411269, time spent = 169.248µs, remote = 10.201.4.32:41470, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 24 19:29:42 ubuntu etcd[60054]: start time = 2024-05-24 19:29:42.078349307 +0000 UTC m=+266.358524231, time spent = 177.264µs, remote = 10.201.4.32:41470, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
