Aug 08 04:38:18 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 08 04:38:18 ubuntu etcd[58460]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 08 04:38:18 ubuntu etcd[58460]:         A future release of golang/protobuf will delete this package,
Aug 08 04:38:18 ubuntu etcd[58460]:         which has long been excluded from the compatibility promise.
Aug 08 04:38:18 ubuntu etcd[58460]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 08 04:38:18 ubuntu etcd[58460]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 08 04:38:18 ubuntu etcd[58460]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 08 04:38:18 ubuntu etcd[58460]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 08 04:38:18 ubuntu etcd[58460]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 08 04:38:18 ubuntu etcd[58460]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 08 04:38:18 ubuntu etcd[58460]: Running http and grpc server on single port. This is not recommended for production.
Aug 08 04:38:18 ubuntu etcd[58460]: etcd Version: 3.4.27
Aug 08 04:38:18 ubuntu etcd[58460]: Git SHA: c92fb80f3
Aug 08 04:38:18 ubuntu etcd[58460]: Go Version: go1.19.10
Aug 08 04:38:18 ubuntu etcd[58460]: Go OS/Arch: linux/amd64
Aug 08 04:38:18 ubuntu etcd[58460]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 08 04:38:18 ubuntu etcd[58460]: Running http and grpc server on single port. This is not recommended for production.
Aug 08 04:38:18 ubuntu etcd[58460]: name = ubuntu
Aug 08 04:38:18 ubuntu etcd[58460]: data dir = /opt/stack/data/etcd
Aug 08 04:38:18 ubuntu etcd[58460]: member dir = /opt/stack/data/etcd/member
Aug 08 04:38:18 ubuntu etcd[58460]: heartbeat = 100ms
Aug 08 04:38:18 ubuntu etcd[58460]: election = 1000ms
Aug 08 04:38:18 ubuntu etcd[58460]: snapshot count = 100000
Aug 08 04:38:18 ubuntu etcd[58460]: advertise client URLs = http://10.201.4.32:2379
Aug 08 04:38:18 ubuntu etcd[58460]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 08 04:38:18 ubuntu etcd[58460]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Aug 08 04:38:18 ubuntu etcd[58460]: raft2024/08/08 04:38:18 INFO: 33238c1cdfea94eb switched to configuration voters=()
Aug 08 04:38:18 ubuntu etcd[58460]: raft2024/08/08 04:38:18 INFO: 33238c1cdfea94eb became follower at term 0
Aug 08 04:38:18 ubuntu etcd[58460]: raft2024/08/08 04:38:18 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 08 04:38:18 ubuntu etcd[58460]: raft2024/08/08 04:38:18 INFO: 33238c1cdfea94eb became follower at term 1
Aug 08 04:38:18 ubuntu etcd[58460]: raft2024/08/08 04:38:18 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 08 04:38:18 ubuntu etcd[58460]: simple token is not cryptographically signed
Aug 08 04:38:18 ubuntu etcd[58460]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 08 04:38:18 ubuntu etcd[58460]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 08 04:38:18 ubuntu etcd[58460]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 08 04:38:18 ubuntu etcd[58460]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 08 04:38:18 ubuntu etcd[58460]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 08 04:38:18 ubuntu etcd[58460]: listening for peers on [::]:2380
Aug 08 04:38:18 ubuntu etcd[58460]: raft2024/08/08 04:38:18 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 08 04:38:18 ubuntu etcd[58460]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Aug 08 04:38:18 ubuntu etcd[58460]: raft2024/08/08 04:38:18 INFO: 33238c1cdfea94eb is starting a new election at term 1
Aug 08 04:38:18 ubuntu etcd[58460]: raft2024/08/08 04:38:18 INFO: 33238c1cdfea94eb became candidate at term 2
Aug 08 04:38:18 ubuntu etcd[58460]: raft2024/08/08 04:38:18 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Aug 08 04:38:18 ubuntu etcd[58460]: raft2024/08/08 04:38:18 INFO: 33238c1cdfea94eb became leader at term 2
Aug 08 04:38:18 ubuntu etcd[58460]: raft2024/08/08 04:38:18 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Aug 08 04:38:18 ubuntu etcd[58460]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Aug 08 04:38:18 ubuntu etcd[58460]: ready to serve client requests
Aug 08 04:38:18 ubuntu etcd[58460]: INFO: 2024/08/08 04:38:18 parsed scheme: ""
Aug 08 04:38:18 ubuntu etcd[58460]: INFO: 2024/08/08 04:38:18 scheme "" not registered, fallback to default scheme
Aug 08 04:38:18 ubuntu etcd[58460]: setting up the initial cluster version to 3.4
Aug 08 04:38:18 ubuntu etcd[58460]: INFO: 2024/08/08 04:38:18 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 08 04:38:18 ubuntu etcd[58460]: INFO: 2024/08/08 04:38:18 ClientConn switching balancer to "pick_first"
Aug 08 04:38:18 ubuntu etcd[58460]: set the initial cluster version to 3.4
Aug 08 04:38:18 ubuntu etcd[58460]: enabled capabilities for version 3.4
Aug 08 04:38:18 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 08 04:38:18 ubuntu etcd[58460]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Aug 08 04:42:37 ubuntu etcd[58460]: start time = 2024-08-08 04:42:37.875055084 +0000 UTC m=+259.556599672, time spent = 474.287µs, remote = 10.201.4.32:56190, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 04:42:37 ubuntu etcd[58460]: start time = 2024-08-08 04:42:37.93144635 +0000 UTC m=+259.612990938, time spent = 200.482µs, remote = 10.201.4.32:56190, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 04:42:44 ubuntu etcd[58460]: start time = 2024-08-08 04:42:44.673417881 +0000 UTC m=+266.354962468, time spent = 173.737µs, remote = 10.201.4.32:56190, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 04:42:46 ubuntu etcd[58460]: start time = 2024-08-08 04:42:46.780808684 +0000 UTC m=+268.462353282, time spent = 233.976µs, remote = 10.201.4.32:56190, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
