Apr 23 17:21:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 23 17:21:02 ubuntu etcd[57548]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 23 17:21:02 ubuntu etcd[57548]:         A future release of golang/protobuf will delete this package,
Apr 23 17:21:02 ubuntu etcd[57548]:         which has long been excluded from the compatibility promise.
Apr 23 17:21:02 ubuntu etcd[57548]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 23 17:21:02 ubuntu etcd[57548]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 23 17:21:02 ubuntu etcd[57548]: Running http and grpc server on single port. This is not recommended for production.
Apr 23 17:21:02 ubuntu etcd[57548]: etcd Version: 3.4.27
Apr 23 17:21:02 ubuntu etcd[57548]: Git SHA: c92fb80f3
Apr 23 17:21:02 ubuntu etcd[57548]: Go Version: go1.19.10
Apr 23 17:21:02 ubuntu etcd[57548]: Go OS/Arch: linux/amd64
Apr 23 17:21:02 ubuntu etcd[57548]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 23 17:21:02 ubuntu etcd[57548]: Running http and grpc server on single port. This is not recommended for production.
Apr 23 17:21:02 ubuntu etcd[57548]: name = ubuntu
Apr 23 17:21:02 ubuntu etcd[57548]: data dir = /opt/stack/data/etcd
Apr 23 17:21:02 ubuntu etcd[57548]: member dir = /opt/stack/data/etcd/member
Apr 23 17:21:02 ubuntu etcd[57548]: heartbeat = 100ms
Apr 23 17:21:02 ubuntu etcd[57548]: election = 1000ms
Apr 23 17:21:02 ubuntu etcd[57548]: snapshot count = 100000
Apr 23 17:21:02 ubuntu etcd[57548]: advertise client URLs = http://10.201.9.223:2379
Apr 23 17:21:02 ubuntu etcd[57548]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 23 17:21:02 ubuntu etcd[57548]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 23 17:21:02 ubuntu etcd[57548]: raft2025/04/23 17:21:02 INFO: c25b29daa831042c switched to configuration voters=()
Apr 23 17:21:02 ubuntu etcd[57548]: raft2025/04/23 17:21:02 INFO: c25b29daa831042c became follower at term 0
Apr 23 17:21:02 ubuntu etcd[57548]: raft2025/04/23 17:21:02 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 23 17:21:02 ubuntu etcd[57548]: raft2025/04/23 17:21:02 INFO: c25b29daa831042c became follower at term 1
Apr 23 17:21:02 ubuntu etcd[57548]: raft2025/04/23 17:21:02 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 23 17:21:02 ubuntu etcd[57548]: simple token is not cryptographically signed
Apr 23 17:21:02 ubuntu etcd[57548]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 23 17:21:02 ubuntu etcd[57548]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 23 17:21:02 ubuntu etcd[57548]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 23 17:21:02 ubuntu etcd[57548]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 23 17:21:02 ubuntu etcd[57548]: raft2025/04/23 17:21:02 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 23 17:21:02 ubuntu etcd[57548]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 23 17:21:02 ubuntu etcd[57548]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 23 17:21:02 ubuntu etcd[57548]: listening for peers on [::]:2380
Apr 23 17:21:03 ubuntu etcd[57548]: raft2025/04/23 17:21:03 INFO: c25b29daa831042c is starting a new election at term 1
Apr 23 17:21:03 ubuntu etcd[57548]: raft2025/04/23 17:21:03 INFO: c25b29daa831042c became candidate at term 2
Apr 23 17:21:03 ubuntu etcd[57548]: raft2025/04/23 17:21:03 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 23 17:21:03 ubuntu etcd[57548]: raft2025/04/23 17:21:03 INFO: c25b29daa831042c became leader at term 2
Apr 23 17:21:03 ubuntu etcd[57548]: raft2025/04/23 17:21:03 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 23 17:21:03 ubuntu etcd[57548]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 23 17:21:03 ubuntu etcd[57548]: setting up the initial cluster version to 3.4
Apr 23 17:21:03 ubuntu etcd[57548]: ready to serve client requests
Apr 23 17:21:03 ubuntu etcd[57548]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 23 17:21:03 ubuntu etcd[57548]: set the initial cluster version to 3.4
Apr 23 17:21:03 ubuntu etcd[57548]: enabled capabilities for version 3.4
Apr 23 17:21:03 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 23 17:25:12 ubuntu etcd[57548]: start time = 2025-04-23 17:25:12.599784709 +0000 UTC m=+250.338849227, time spent = 480.024µs, remote = 10.201.9.223:53840, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 23 17:25:12 ubuntu etcd[57548]: start time = 2025-04-23 17:25:12.614644669 +0000 UTC m=+250.353709204, time spent = 346.073µs, remote = 10.201.9.223:53840, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 23 17:25:18 ubuntu etcd[57548]: start time = 2025-04-23 17:25:18.959832089 +0000 UTC m=+256.698896624, time spent = 225.95µs, remote = 10.201.9.223:53840, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 23 17:25:21 ubuntu etcd[57548]: start time = 2025-04-23 17:25:21.05312337 +0000 UTC m=+258.792187888, time spent = 609.545µs, remote = 10.201.9.223:53840, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
