Jan 03 07:48:04 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 03 07:48:04 ubuntu etcd[59574]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 03 07:48:04 ubuntu etcd[59574]:         A future release of golang/protobuf will delete this package,
Jan 03 07:48:04 ubuntu etcd[59574]:         which has long been excluded from the compatibility promise.
Jan 03 07:48:04 ubuntu etcd[59574]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 03 07:48:04 ubuntu etcd[59574]: Running http and grpc server on single port. This is not recommended for production.
Jan 03 07:48:04 ubuntu etcd[59574]: etcd Version: 3.4.27
Jan 03 07:48:04 ubuntu etcd[59574]: Git SHA: c92fb80f3
Jan 03 07:48:04 ubuntu etcd[59574]: Go Version: go1.19.10
Jan 03 07:48:04 ubuntu etcd[59574]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 03 07:48:04 ubuntu etcd[59574]: Go OS/Arch: linux/amd64
Jan 03 07:48:04 ubuntu etcd[59574]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 03 07:48:04 ubuntu etcd[59574]: Running http and grpc server on single port. This is not recommended for production.
Jan 03 07:48:04 ubuntu etcd[59574]: name = ubuntu
Jan 03 07:48:04 ubuntu etcd[59574]: data dir = /opt/stack/data/etcd
Jan 03 07:48:04 ubuntu etcd[59574]: member dir = /opt/stack/data/etcd/member
Jan 03 07:48:04 ubuntu etcd[59574]: heartbeat = 100ms
Jan 03 07:48:04 ubuntu etcd[59574]: election = 1000ms
Jan 03 07:48:04 ubuntu etcd[59574]: snapshot count = 100000
Jan 03 07:48:04 ubuntu etcd[59574]: advertise client URLs = http://10.201.9.223:2379
Jan 03 07:48:04 ubuntu etcd[59574]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 03 07:48:04 ubuntu etcd[59574]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 03 07:48:04 ubuntu etcd[59574]: raft2025/01/03 07:48:04 INFO: c25b29daa831042c switched to configuration voters=()
Jan 03 07:48:04 ubuntu etcd[59574]: raft2025/01/03 07:48:04 INFO: c25b29daa831042c became follower at term 0
Jan 03 07:48:04 ubuntu etcd[59574]: raft2025/01/03 07:48:04 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 03 07:48:04 ubuntu etcd[59574]: raft2025/01/03 07:48:04 INFO: c25b29daa831042c became follower at term 1
Jan 03 07:48:04 ubuntu etcd[59574]: raft2025/01/03 07:48:04 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 03 07:48:04 ubuntu etcd[59574]: simple token is not cryptographically signed
Jan 03 07:48:04 ubuntu etcd[59574]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 03 07:48:04 ubuntu etcd[59574]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 03 07:48:04 ubuntu etcd[59574]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 03 07:48:04 ubuntu etcd[59574]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 03 07:48:04 ubuntu etcd[59574]: raft2025/01/03 07:48:04 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 03 07:48:04 ubuntu etcd[59574]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 03 07:48:04 ubuntu etcd[59574]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 03 07:48:04 ubuntu etcd[59574]: listening for peers on [::]:2380
Jan 03 07:48:04 ubuntu etcd[59574]: raft2025/01/03 07:48:04 INFO: c25b29daa831042c is starting a new election at term 1
Jan 03 07:48:04 ubuntu etcd[59574]: raft2025/01/03 07:48:04 INFO: c25b29daa831042c became candidate at term 2
Jan 03 07:48:04 ubuntu etcd[59574]: raft2025/01/03 07:48:04 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 03 07:48:04 ubuntu etcd[59574]: raft2025/01/03 07:48:04 INFO: c25b29daa831042c became leader at term 2
Jan 03 07:48:04 ubuntu etcd[59574]: raft2025/01/03 07:48:04 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 03 07:48:04 ubuntu etcd[59574]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 03 07:48:04 ubuntu etcd[59574]: ready to serve client requests
Jan 03 07:48:04 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 03 07:48:04 ubuntu etcd[59574]: setting up the initial cluster version to 3.4
Jan 03 07:48:04 ubuntu etcd[59574]: set the initial cluster version to 3.4
Jan 03 07:48:04 ubuntu etcd[59574]: enabled capabilities for version 3.4
Jan 03 07:48:04 ubuntu etcd[59574]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 03 07:52:28 ubuntu etcd[59574]: start time = 2025-01-03 07:52:28.896306173 +0000 UTC m=+264.508864037, time spent = 551.881µs, remote = 10.201.9.223:35070, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 07:52:28 ubuntu etcd[59574]: start time = 2025-01-03 07:52:28.908013459 +0000 UTC m=+264.520571323, time spent = 300.224µs, remote = 10.201.9.223:35070, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 07:52:35 ubuntu etcd[59574]: start time = 2025-01-03 07:52:35.475471493 +0000 UTC m=+271.088029351, time spent = 287.155µs, remote = 10.201.9.223:35070, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 07:52:37 ubuntu etcd[59574]: start time = 2025-01-03 07:52:37.538221196 +0000 UTC m=+273.150779056, time spent = 305.68µs, remote = 10.201.9.223:35070, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
