Jan 03 05:37:49 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 03 05:37:49 ubuntu etcd[59296]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 03 05:37:49 ubuntu etcd[59296]:         A future release of golang/protobuf will delete this package,
Jan 03 05:37:49 ubuntu etcd[59296]:         which has long been excluded from the compatibility promise.
Jan 03 05:37:49 ubuntu etcd[59296]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 03 05:37:49 ubuntu etcd[59296]: Running http and grpc server on single port. This is not recommended for production.
Jan 03 05:37:49 ubuntu etcd[59296]: etcd Version: 3.4.27
Jan 03 05:37:49 ubuntu etcd[59296]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 03 05:37:49 ubuntu etcd[59296]: Git SHA: c92fb80f3
Jan 03 05:37:49 ubuntu etcd[59296]: Go Version: go1.19.10
Jan 03 05:37:49 ubuntu etcd[59296]: Go OS/Arch: linux/amd64
Jan 03 05:37:49 ubuntu etcd[59296]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 03 05:37:49 ubuntu etcd[59296]: Running http and grpc server on single port. This is not recommended for production.
Jan 03 05:37:49 ubuntu etcd[59296]: name = ubuntu
Jan 03 05:37:49 ubuntu etcd[59296]: data dir = /opt/stack/data/etcd
Jan 03 05:37:49 ubuntu etcd[59296]: member dir = /opt/stack/data/etcd/member
Jan 03 05:37:49 ubuntu etcd[59296]: heartbeat = 100ms
Jan 03 05:37:49 ubuntu etcd[59296]: election = 1000ms
Jan 03 05:37:49 ubuntu etcd[59296]: snapshot count = 100000
Jan 03 05:37:49 ubuntu etcd[59296]: advertise client URLs = http://10.201.9.223:2379
Jan 03 05:37:49 ubuntu etcd[59296]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 03 05:37:49 ubuntu etcd[59296]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 03 05:37:49 ubuntu etcd[59296]: raft2025/01/03 05:37:49 INFO: c25b29daa831042c switched to configuration voters=()
Jan 03 05:37:49 ubuntu etcd[59296]: raft2025/01/03 05:37:49 INFO: c25b29daa831042c became follower at term 0
Jan 03 05:37:49 ubuntu etcd[59296]: raft2025/01/03 05:37:49 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 03 05:37:49 ubuntu etcd[59296]: raft2025/01/03 05:37:49 INFO: c25b29daa831042c became follower at term 1
Jan 03 05:37:49 ubuntu etcd[59296]: raft2025/01/03 05:37:49 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 03 05:37:49 ubuntu etcd[59296]: simple token is not cryptographically signed
Jan 03 05:37:49 ubuntu etcd[59296]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 03 05:37:49 ubuntu etcd[59296]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 03 05:37:49 ubuntu etcd[59296]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 03 05:37:49 ubuntu etcd[59296]: raft2025/01/03 05:37:49 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 03 05:37:49 ubuntu etcd[59296]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 03 05:37:49 ubuntu etcd[59296]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 03 05:37:49 ubuntu etcd[59296]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 03 05:37:50 ubuntu etcd[59296]: listening for peers on [::]:2380
Jan 03 05:37:50 ubuntu etcd[59296]: raft2025/01/03 05:37:50 INFO: c25b29daa831042c is starting a new election at term 1
Jan 03 05:37:50 ubuntu etcd[59296]: raft2025/01/03 05:37:50 INFO: c25b29daa831042c became candidate at term 2
Jan 03 05:37:50 ubuntu etcd[59296]: raft2025/01/03 05:37:50 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 03 05:37:50 ubuntu etcd[59296]: raft2025/01/03 05:37:50 INFO: c25b29daa831042c became leader at term 2
Jan 03 05:37:50 ubuntu etcd[59296]: raft2025/01/03 05:37:50 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 03 05:37:50 ubuntu etcd[59296]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 03 05:37:50 ubuntu etcd[59296]: setting up the initial cluster version to 3.4
Jan 03 05:37:50 ubuntu etcd[59296]: ready to serve client requests
Jan 03 05:37:50 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 03 05:37:50 ubuntu etcd[59296]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 03 05:37:50 ubuntu etcd[59296]: set the initial cluster version to 3.4
Jan 03 05:37:50 ubuntu etcd[59296]: enabled capabilities for version 3.4
Jan 03 05:42:08 ubuntu etcd[59296]: start time = 2025-01-03 05:42:08.995045828 +0000 UTC m=+259.033935505, time spent = 436.395µs, remote = 10.201.9.223:60394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 05:42:09 ubuntu etcd[59296]: start time = 2025-01-03 05:42:09.018011459 +0000 UTC m=+259.056901141, time spent = 299.632µs, remote = 10.201.9.223:60394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 05:42:15 ubuntu etcd[59296]: start time = 2025-01-03 05:42:15.70761111 +0000 UTC m=+265.746500793, time spent = 162.164µs, remote = 10.201.9.223:60394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 05:42:17 ubuntu etcd[59296]: start time = 2025-01-03 05:42:17.926965476 +0000 UTC m=+267.965855158, time spent = 297.639µs, remote = 10.201.9.223:60394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
