Dec 07 22:34:05 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 22:34:05 ubuntu etcd[59336]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 22:34:05 ubuntu etcd[59336]:         A future release of golang/protobuf will delete this package,
Dec 07 22:34:05 ubuntu etcd[59336]:         which has long been excluded from the compatibility promise.
Dec 07 22:34:05 ubuntu etcd[59336]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 22:34:05 ubuntu etcd[59336]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 22:34:05 ubuntu etcd[59336]: etcd Version: 3.4.27
Dec 07 22:34:05 ubuntu etcd[59336]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 22:34:05 ubuntu etcd[59336]: Git SHA: c92fb80f3
Dec 07 22:34:05 ubuntu etcd[59336]: Go Version: go1.19.10
Dec 07 22:34:05 ubuntu etcd[59336]: Go OS/Arch: linux/amd64
Dec 07 22:34:05 ubuntu etcd[59336]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 22:34:05 ubuntu etcd[59336]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 22:34:05 ubuntu etcd[59336]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 07 22:34:05 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 07 22:34:05 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 22:34:05 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 07 22:34:05 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 07 22:34:05 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 07 22:34:05 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 22:34:05 ubuntu etcd[59450]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 22:34:05 ubuntu etcd[59450]:         A future release of golang/protobuf will delete this package,
Dec 07 22:34:05 ubuntu etcd[59450]:         which has long been excluded from the compatibility promise.
Dec 07 22:34:05 ubuntu etcd[59450]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 22:34:05 ubuntu etcd[59450]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 22:34:05 ubuntu etcd[59450]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 22:34:05 ubuntu etcd[59450]: etcd Version: 3.4.27
Dec 07 22:34:05 ubuntu etcd[59450]: Git SHA: c92fb80f3
Dec 07 22:34:05 ubuntu etcd[59450]: Go Version: go1.19.10
Dec 07 22:34:05 ubuntu etcd[59450]: Go OS/Arch: linux/amd64
Dec 07 22:34:05 ubuntu etcd[59450]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 22:34:05 ubuntu etcd[59450]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 22:34:05 ubuntu etcd[59450]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 07 22:34:05 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 07 22:34:05 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 22:34:05 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 07 22:34:06 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 07 22:34:06 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 07 22:34:06 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 22:34:06 ubuntu etcd[59502]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 22:34:06 ubuntu etcd[59502]:         A future release of golang/protobuf will delete this package,
Dec 07 22:34:06 ubuntu etcd[59502]:         which has long been excluded from the compatibility promise.
Dec 07 22:34:06 ubuntu etcd[59502]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 22:34:06 ubuntu etcd[59502]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 22:34:06 ubuntu etcd[59502]: etcd Version: 3.4.27
Dec 07 22:34:06 ubuntu etcd[59502]: Git SHA: c92fb80f3
Dec 07 22:34:06 ubuntu etcd[59502]: Go Version: go1.19.10
Dec 07 22:34:06 ubuntu etcd[59502]: Go OS/Arch: linux/amd64
Dec 07 22:34:06 ubuntu etcd[59502]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 22:34:06 ubuntu etcd[59502]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 22:34:06 ubuntu etcd[59502]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 22:34:06 ubuntu etcd[59502]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 07 22:34:06 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 07 22:34:06 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 22:34:06 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 07 22:34:06 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 07 22:34:06 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 07 22:34:06 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 22:34:06 ubuntu etcd[59532]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 22:34:06 ubuntu etcd[59532]:         A future release of golang/protobuf will delete this package,
Dec 07 22:34:06 ubuntu etcd[59532]:         which has long been excluded from the compatibility promise.
Dec 07 22:34:06 ubuntu etcd[59532]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 22:34:06 ubuntu etcd[59532]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 22:34:06 ubuntu etcd[59532]: etcd Version: 3.4.27
Dec 07 22:34:06 ubuntu etcd[59532]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 22:34:06 ubuntu etcd[59532]: Git SHA: c92fb80f3
Dec 07 22:34:06 ubuntu etcd[59532]: Go Version: go1.19.10
Dec 07 22:34:06 ubuntu etcd[59532]: Go OS/Arch: linux/amd64
Dec 07 22:34:06 ubuntu etcd[59532]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 22:34:06 ubuntu etcd[59532]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 22:34:06 ubuntu etcd[59532]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 07 22:34:06 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 07 22:34:06 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 22:34:06 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 07 22:34:06 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 07 22:34:06 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 07 22:34:06 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 22:34:06 ubuntu etcd[59548]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 22:34:06 ubuntu etcd[59548]:         A future release of golang/protobuf will delete this package,
Dec 07 22:34:06 ubuntu etcd[59548]:         which has long been excluded from the compatibility promise.
Dec 07 22:34:06 ubuntu etcd[59548]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 22:34:06 ubuntu etcd[59548]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 22:34:06 ubuntu etcd[59548]: etcd Version: 3.4.27
Dec 07 22:34:06 ubuntu etcd[59548]: Git SHA: c92fb80f3
Dec 07 22:34:06 ubuntu etcd[59548]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 22:34:06 ubuntu etcd[59548]: Go Version: go1.19.10
Dec 07 22:34:06 ubuntu etcd[59548]: Go OS/Arch: linux/amd64
Dec 07 22:34:06 ubuntu etcd[59548]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 22:34:06 ubuntu etcd[59548]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 22:34:06 ubuntu etcd[59548]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 07 22:34:06 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 07 22:34:06 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 22:34:06 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 07 22:34:06 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 07 22:34:06 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 07 22:34:06 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 07 22:34:06 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 22:34:06 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
