Oct 07 14:38:19 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 07 14:38:19 ubuntu etcd[59534]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 07 14:38:19 ubuntu etcd[59534]:         A future release of golang/protobuf will delete this package,
Oct 07 14:38:19 ubuntu etcd[59534]:         which has long been excluded from the compatibility promise.
Oct 07 14:38:19 ubuntu etcd[59534]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 07 14:38:19 ubuntu etcd[59534]: Running http and grpc server on single port. This is not recommended for production.
Oct 07 14:38:19 ubuntu etcd[59534]: etcd Version: 3.4.27
Oct 07 14:38:19 ubuntu etcd[59534]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 07 14:38:19 ubuntu etcd[59534]: Git SHA: c92fb80f3
Oct 07 14:38:19 ubuntu etcd[59534]: Go Version: go1.19.10
Oct 07 14:38:19 ubuntu etcd[59534]: Go OS/Arch: linux/amd64
Oct 07 14:38:19 ubuntu etcd[59534]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 07 14:38:19 ubuntu etcd[59534]: Running http and grpc server on single port. This is not recommended for production.
Oct 07 14:38:19 ubuntu etcd[59534]: name = ubuntu
Oct 07 14:38:19 ubuntu etcd[59534]: data dir = /opt/stack/data/etcd
Oct 07 14:38:19 ubuntu etcd[59534]: member dir = /opt/stack/data/etcd/member
Oct 07 14:38:19 ubuntu etcd[59534]: heartbeat = 100ms
Oct 07 14:38:19 ubuntu etcd[59534]: election = 1000ms
Oct 07 14:38:19 ubuntu etcd[59534]: snapshot count = 100000
Oct 07 14:38:19 ubuntu etcd[59534]: advertise client URLs = http://10.201.4.32:2379
Oct 07 14:38:19 ubuntu etcd[59534]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 07 14:38:19 ubuntu etcd[59534]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb became follower at term 0
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb became follower at term 1
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 07 14:38:19 ubuntu etcd[59534]: simple token is not cryptographically signed
Oct 07 14:38:19 ubuntu etcd[59534]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 07 14:38:19 ubuntu etcd[59534]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 07 14:38:19 ubuntu etcd[59534]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 07 14:38:19 ubuntu etcd[59534]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 07 14:38:19 ubuntu etcd[59534]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 07 14:38:19 ubuntu etcd[59534]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 07 14:38:19 ubuntu etcd[59534]: listening for peers on [::]:2380
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb became leader at term 2
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 07 14:38:19 ubuntu etcd[59534]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 07 14:38:19 ubuntu etcd[59534]: ready to serve client requests
Oct 07 14:38:19 ubuntu etcd[59534]: setting up the initial cluster version to 3.4
Oct 07 14:38:19 ubuntu etcd[59534]: set the initial cluster version to 3.4
Oct 07 14:38:19 ubuntu etcd[59534]: enabled capabilities for version 3.4
Oct 07 14:38:19 ubuntu etcd[59534]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 07 14:38:19 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 07 14:42:33 ubuntu etcd[59534]: start time = 2024-10-07 14:42:33.223268418 +0000 UTC m=+254.094114805, time spent = 546.628µs, remote = 10.201.4.32:55380, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 14:42:33 ubuntu etcd[59534]: start time = 2024-10-07 14:42:33.332753202 +0000 UTC m=+254.203599598, time spent = 188.188µs, remote = 10.201.4.32:55380, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 14:42:39 ubuntu etcd[59534]: start time = 2024-10-07 14:42:39.931747866 +0000 UTC m=+260.802594255, time spent = 243.927µs, remote = 10.201.4.32:55380, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 14:42:41 ubuntu etcd[59534]: start time = 2024-10-07 14:42:41.912349158 +0000 UTC m=+262.783195545, time spent = 362.645µs, remote = 10.201.4.32:55380, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 14:38:19 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 07 14:38:19 ubuntu etcd[59534]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 07 14:38:19 ubuntu etcd[59534]:         A future release of golang/protobuf will delete this package,
Oct 07 14:38:19 ubuntu etcd[59534]:         which has long been excluded from the compatibility promise.
Oct 07 14:38:19 ubuntu etcd[59534]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 07 14:38:19 ubuntu etcd[59534]: Running http and grpc server on single port. This is not recommended for production.
Oct 07 14:38:19 ubuntu etcd[59534]: etcd Version: 3.4.27
Oct 07 14:38:19 ubuntu etcd[59534]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 07 14:38:19 ubuntu etcd[59534]: Git SHA: c92fb80f3
Oct 07 14:38:19 ubuntu etcd[59534]: Go Version: go1.19.10
Oct 07 14:38:19 ubuntu etcd[59534]: Go OS/Arch: linux/amd64
Oct 07 14:38:19 ubuntu etcd[59534]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 07 14:38:19 ubuntu etcd[59534]: Running http and grpc server on single port. This is not recommended for production.
Oct 07 14:38:19 ubuntu etcd[59534]: name = ubuntu
Oct 07 14:38:19 ubuntu etcd[59534]: data dir = /opt/stack/data/etcd
Oct 07 14:38:19 ubuntu etcd[59534]: member dir = /opt/stack/data/etcd/member
Oct 07 14:38:19 ubuntu etcd[59534]: heartbeat = 100ms
Oct 07 14:38:19 ubuntu etcd[59534]: election = 1000ms
Oct 07 14:38:19 ubuntu etcd[59534]: snapshot count = 100000
Oct 07 14:38:19 ubuntu etcd[59534]: advertise client URLs = http://10.201.4.32:2379
Oct 07 14:38:19 ubuntu etcd[59534]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 07 14:38:19 ubuntu etcd[59534]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb became follower at term 0
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb became follower at term 1
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 07 14:38:19 ubuntu etcd[59534]: simple token is not cryptographically signed
Oct 07 14:38:19 ubuntu etcd[59534]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 07 14:38:19 ubuntu etcd[59534]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 07 14:38:19 ubuntu etcd[59534]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 07 14:38:19 ubuntu etcd[59534]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 07 14:38:19 ubuntu etcd[59534]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 07 14:38:19 ubuntu etcd[59534]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 07 14:38:19 ubuntu etcd[59534]: listening for peers on [::]:2380
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: 33238c1cdfea94eb became leader at term 2
Oct 07 14:38:19 ubuntu etcd[59534]: raft2024/10/07 14:38:19 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 07 14:38:19 ubuntu etcd[59534]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 07 14:38:19 ubuntu etcd[59534]: ready to serve client requests
Oct 07 14:38:19 ubuntu etcd[59534]: setting up the initial cluster version to 3.4
Oct 07 14:38:19 ubuntu etcd[59534]: set the initial cluster version to 3.4
Oct 07 14:38:19 ubuntu etcd[59534]: enabled capabilities for version 3.4
Oct 07 14:38:19 ubuntu etcd[59534]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 07 14:38:19 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 07 14:42:33 ubuntu etcd[59534]: start time = 2024-10-07 14:42:33.223268418 +0000 UTC m=+254.094114805, time spent = 546.628µs, remote = 10.201.4.32:55380, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 14:42:33 ubuntu etcd[59534]: start time = 2024-10-07 14:42:33.332753202 +0000 UTC m=+254.203599598, time spent = 188.188µs, remote = 10.201.4.32:55380, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 14:42:39 ubuntu etcd[59534]: start time = 2024-10-07 14:42:39.931747866 +0000 UTC m=+260.802594255, time spent = 243.927µs, remote = 10.201.4.32:55380, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 07 14:42:41 ubuntu etcd[59534]: start time = 2024-10-07 14:42:41.912349158 +0000 UTC m=+262.783195545, time spent = 362.645µs, remote = 10.201.4.32:55380, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
