Aug 11 17:08:15 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 11 17:08:15 ubuntu etcd[59061]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 11 17:08:15 ubuntu etcd[59061]:         A future release of golang/protobuf will delete this package,
Aug 11 17:08:15 ubuntu etcd[59061]:         which has long been excluded from the compatibility promise.
Aug 11 17:08:15 ubuntu etcd[59061]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 11 17:08:15 ubuntu etcd[59061]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 11 17:08:15 ubuntu etcd[59061]: Running http and grpc server on single port. This is not recommended for production.
Aug 11 17:08:15 ubuntu etcd[59061]: etcd Version: 3.4.27
Aug 11 17:08:15 ubuntu etcd[59061]: Git SHA: c92fb80f3
Aug 11 17:08:15 ubuntu etcd[59061]: Go Version: go1.19.10
Aug 11 17:08:15 ubuntu etcd[59061]: Go OS/Arch: linux/amd64
Aug 11 17:08:15 ubuntu etcd[59061]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 11 17:08:15 ubuntu etcd[59061]: Running http and grpc server on single port. This is not recommended for production.
Aug 11 17:08:15 ubuntu etcd[59061]: name = ubuntu
Aug 11 17:08:15 ubuntu etcd[59061]: data dir = /opt/stack/data/etcd
Aug 11 17:08:15 ubuntu etcd[59061]: member dir = /opt/stack/data/etcd/member
Aug 11 17:08:15 ubuntu etcd[59061]: heartbeat = 100ms
Aug 11 17:08:15 ubuntu etcd[59061]: election = 1000ms
Aug 11 17:08:15 ubuntu etcd[59061]: snapshot count = 100000
Aug 11 17:08:15 ubuntu etcd[59061]: advertise client URLs = http://10.201.9.223:2379
Aug 11 17:08:15 ubuntu etcd[59061]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 11 17:08:15 ubuntu etcd[59061]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Aug 11 17:08:15 ubuntu etcd[59061]: raft2025/08/11 17:08:15 INFO: c25b29daa831042c switched to configuration voters=()
Aug 11 17:08:15 ubuntu etcd[59061]: raft2025/08/11 17:08:15 INFO: c25b29daa831042c became follower at term 0
Aug 11 17:08:15 ubuntu etcd[59061]: raft2025/08/11 17:08:15 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 11 17:08:15 ubuntu etcd[59061]: raft2025/08/11 17:08:15 INFO: c25b29daa831042c became follower at term 1
Aug 11 17:08:15 ubuntu etcd[59061]: raft2025/08/11 17:08:15 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 11 17:08:15 ubuntu etcd[59061]: simple token is not cryptographically signed
Aug 11 17:08:15 ubuntu etcd[59061]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 11 17:08:15 ubuntu etcd[59061]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 11 17:08:15 ubuntu etcd[59061]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 11 17:08:15 ubuntu etcd[59061]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 11 17:08:15 ubuntu etcd[59061]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 11 17:08:15 ubuntu etcd[59061]: raft2025/08/11 17:08:15 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 11 17:08:15 ubuntu etcd[59061]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Aug 11 17:08:15 ubuntu etcd[59061]: listening for peers on [::]:2380
Aug 11 17:08:15 ubuntu etcd[59061]: raft2025/08/11 17:08:15 INFO: c25b29daa831042c is starting a new election at term 1
Aug 11 17:08:15 ubuntu etcd[59061]: raft2025/08/11 17:08:15 INFO: c25b29daa831042c became candidate at term 2
Aug 11 17:08:15 ubuntu etcd[59061]: raft2025/08/11 17:08:15 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Aug 11 17:08:15 ubuntu etcd[59061]: raft2025/08/11 17:08:15 INFO: c25b29daa831042c became leader at term 2
Aug 11 17:08:15 ubuntu etcd[59061]: raft2025/08/11 17:08:15 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Aug 11 17:08:15 ubuntu etcd[59061]: setting up the initial cluster version to 3.4
Aug 11 17:08:15 ubuntu etcd[59061]: set the initial cluster version to 3.4
Aug 11 17:08:15 ubuntu etcd[59061]: enabled capabilities for version 3.4
Aug 11 17:08:15 ubuntu etcd[59061]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Aug 11 17:08:15 ubuntu etcd[59061]: ready to serve client requests
Aug 11 17:08:15 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 11 17:08:15 ubuntu etcd[59061]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Aug 11 17:12:26 ubuntu etcd[59061]: start time = 2025-08-11 17:12:26.492459109 +0000 UTC m=+251.382822663, time spent = 1.226449ms, remote = 10.201.9.223:40928, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 11 17:12:26 ubuntu etcd[59061]: start time = 2025-08-11 17:12:26.492459057 +0000 UTC m=+251.382822623, time spent = 1.35723ms, remote = 10.201.9.223:40928, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 11 17:12:33 ubuntu etcd[59061]: start time = 2025-08-11 17:12:33.13635334 +0000 UTC m=+258.026716908, time spent = 166.035µs, remote = 10.201.9.223:40928, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 11 17:12:35 ubuntu etcd[59061]: start time = 2025-08-11 17:12:35.425549084 +0000 UTC m=+260.315912652, time spent = 259.545µs, remote = 10.201.9.223:40928, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
