Jul 24 10:00:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 24 10:00:32 ubuntu etcd[59629]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 24 10:00:32 ubuntu etcd[59629]:         A future release of golang/protobuf will delete this package,
Jul 24 10:00:32 ubuntu etcd[59629]:         which has long been excluded from the compatibility promise.
Jul 24 10:00:32 ubuntu etcd[59629]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 24 10:00:32 ubuntu etcd[59629]: Running http and grpc server on single port. This is not recommended for production.
Jul 24 10:00:32 ubuntu etcd[59629]: etcd Version: 3.4.27
Jul 24 10:00:32 ubuntu etcd[59629]: Git SHA: c92fb80f3
Jul 24 10:00:32 ubuntu etcd[59629]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 24 10:00:32 ubuntu etcd[59629]: Go Version: go1.19.10
Jul 24 10:00:32 ubuntu etcd[59629]: Go OS/Arch: linux/amd64
Jul 24 10:00:32 ubuntu etcd[59629]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 24 10:00:32 ubuntu etcd[59629]: Running http and grpc server on single port. This is not recommended for production.
Jul 24 10:00:32 ubuntu etcd[59629]: name = ubuntu
Jul 24 10:00:32 ubuntu etcd[59629]: data dir = /opt/stack/data/etcd
Jul 24 10:00:32 ubuntu etcd[59629]: member dir = /opt/stack/data/etcd/member
Jul 24 10:00:32 ubuntu etcd[59629]: heartbeat = 100ms
Jul 24 10:00:32 ubuntu etcd[59629]: election = 1000ms
Jul 24 10:00:32 ubuntu etcd[59629]: snapshot count = 100000
Jul 24 10:00:32 ubuntu etcd[59629]: advertise client URLs = http://10.201.9.223:2379
Jul 24 10:00:32 ubuntu etcd[59629]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 24 10:00:32 ubuntu etcd[59629]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 24 10:00:32 ubuntu etcd[59629]: raft2025/07/24 10:00:32 INFO: c25b29daa831042c switched to configuration voters=()
Jul 24 10:00:32 ubuntu etcd[59629]: raft2025/07/24 10:00:32 INFO: c25b29daa831042c became follower at term 0
Jul 24 10:00:32 ubuntu etcd[59629]: raft2025/07/24 10:00:32 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 24 10:00:32 ubuntu etcd[59629]: raft2025/07/24 10:00:32 INFO: c25b29daa831042c became follower at term 1
Jul 24 10:00:32 ubuntu etcd[59629]: raft2025/07/24 10:00:32 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 24 10:00:32 ubuntu etcd[59629]: simple token is not cryptographically signed
Jul 24 10:00:32 ubuntu etcd[59629]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 24 10:00:32 ubuntu etcd[59629]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 24 10:00:32 ubuntu etcd[59629]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 24 10:00:32 ubuntu etcd[59629]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 24 10:00:32 ubuntu etcd[59629]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 24 10:00:32 ubuntu etcd[59629]: raft2025/07/24 10:00:32 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 24 10:00:32 ubuntu etcd[59629]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 24 10:00:32 ubuntu etcd[59629]: listening for peers on [::]:2380
Jul 24 10:00:33 ubuntu etcd[59629]: raft2025/07/24 10:00:33 INFO: c25b29daa831042c is starting a new election at term 1
Jul 24 10:00:33 ubuntu etcd[59629]: raft2025/07/24 10:00:33 INFO: c25b29daa831042c became candidate at term 2
Jul 24 10:00:33 ubuntu etcd[59629]: raft2025/07/24 10:00:33 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 24 10:00:33 ubuntu etcd[59629]: raft2025/07/24 10:00:33 INFO: c25b29daa831042c became leader at term 2
Jul 24 10:00:33 ubuntu etcd[59629]: raft2025/07/24 10:00:33 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 24 10:00:33 ubuntu etcd[59629]: setting up the initial cluster version to 3.4
Jul 24 10:00:33 ubuntu etcd[59629]: set the initial cluster version to 3.4
Jul 24 10:00:33 ubuntu etcd[59629]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 24 10:00:33 ubuntu etcd[59629]: ready to serve client requests
Jul 24 10:00:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 24 10:00:33 ubuntu etcd[59629]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 24 10:00:33 ubuntu etcd[59629]: enabled capabilities for version 3.4
Jul 24 10:04:40 ubuntu etcd[59629]: start time = 2025-07-24 10:04:40.325936177 +0000 UTC m=+248.118353228, time spent = 1.115602ms, remote = 10.201.9.223:41562, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 10:04:40 ubuntu etcd[59629]: start time = 2025-07-24 10:04:40.329687411 +0000 UTC m=+248.122104479, time spent = 129.351µs, remote = 10.201.9.223:41562, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 10:04:46 ubuntu etcd[59629]: start time = 2025-07-24 10:04:46.862176912 +0000 UTC m=+254.654593961, time spent = 203.595µs, remote = 10.201.9.223:41562, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 10:04:49 ubuntu etcd[59629]: start time = 2025-07-24 10:04:49.045700586 +0000 UTC m=+256.838117656, time spent = 180.2µs, remote = 10.201.9.223:41562, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
