May 26 12:46:22 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 26 12:46:22 ubuntu etcd[58164]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 26 12:46:22 ubuntu etcd[58164]:         A future release of golang/protobuf will delete this package,
May 26 12:46:22 ubuntu etcd[58164]:         which has long been excluded from the compatibility promise.
May 26 12:46:22 ubuntu etcd[58164]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 26 12:46:22 ubuntu etcd[58164]: Running http and grpc server on single port. This is not recommended for production.
May 26 12:46:22 ubuntu etcd[58164]: etcd Version: 3.4.27
May 26 12:46:22 ubuntu etcd[58164]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 26 12:46:22 ubuntu etcd[58164]: Git SHA: c92fb80f3
May 26 12:46:22 ubuntu etcd[58164]: Go Version: go1.19.10
May 26 12:46:22 ubuntu etcd[58164]: Go OS/Arch: linux/amd64
May 26 12:46:22 ubuntu etcd[58164]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 26 12:46:22 ubuntu etcd[58164]: Running http and grpc server on single port. This is not recommended for production.
May 26 12:46:22 ubuntu etcd[58164]: name = ubuntu
May 26 12:46:22 ubuntu etcd[58164]: data dir = /opt/stack/data/etcd
May 26 12:46:22 ubuntu etcd[58164]: member dir = /opt/stack/data/etcd/member
May 26 12:46:22 ubuntu etcd[58164]: heartbeat = 100ms
May 26 12:46:22 ubuntu etcd[58164]: election = 1000ms
May 26 12:46:22 ubuntu etcd[58164]: snapshot count = 100000
May 26 12:46:22 ubuntu etcd[58164]: advertise client URLs = http://10.201.9.223:2379
May 26 12:46:22 ubuntu etcd[58164]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 26 12:46:22 ubuntu etcd[58164]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 26 12:46:22 ubuntu etcd[58164]: raft2025/05/26 12:46:22 INFO: c25b29daa831042c switched to configuration voters=()
May 26 12:46:22 ubuntu etcd[58164]: raft2025/05/26 12:46:22 INFO: c25b29daa831042c became follower at term 0
May 26 12:46:22 ubuntu etcd[58164]: raft2025/05/26 12:46:22 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 26 12:46:22 ubuntu etcd[58164]: raft2025/05/26 12:46:22 INFO: c25b29daa831042c became follower at term 1
May 26 12:46:22 ubuntu etcd[58164]: raft2025/05/26 12:46:22 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 26 12:46:22 ubuntu etcd[58164]: simple token is not cryptographically signed
May 26 12:46:22 ubuntu etcd[58164]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 26 12:46:22 ubuntu etcd[58164]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 26 12:46:22 ubuntu etcd[58164]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 26 12:46:22 ubuntu etcd[58164]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 26 12:46:22 ubuntu etcd[58164]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 26 12:46:22 ubuntu etcd[58164]: raft2025/05/26 12:46:22 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 26 12:46:22 ubuntu etcd[58164]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 26 12:46:22 ubuntu etcd[58164]: listening for peers on [::]:2380
May 26 12:46:23 ubuntu etcd[58164]: raft2025/05/26 12:46:23 INFO: c25b29daa831042c is starting a new election at term 1
May 26 12:46:23 ubuntu etcd[58164]: raft2025/05/26 12:46:23 INFO: c25b29daa831042c became candidate at term 2
May 26 12:46:23 ubuntu etcd[58164]: raft2025/05/26 12:46:23 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 26 12:46:23 ubuntu etcd[58164]: raft2025/05/26 12:46:23 INFO: c25b29daa831042c became leader at term 2
May 26 12:46:23 ubuntu etcd[58164]: raft2025/05/26 12:46:23 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 26 12:46:23 ubuntu etcd[58164]: setting up the initial cluster version to 3.4
May 26 12:46:23 ubuntu etcd[58164]: set the initial cluster version to 3.4
May 26 12:46:23 ubuntu etcd[58164]: enabled capabilities for version 3.4
May 26 12:46:23 ubuntu etcd[58164]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 26 12:46:23 ubuntu etcd[58164]: ready to serve client requests
May 26 12:46:23 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 26 12:46:23 ubuntu etcd[58164]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 26 12:50:45 ubuntu etcd[58164]: start time = 2025-05-26 12:50:45.896664434 +0000 UTC m=+263.048977392, time spent = 499.505µs, remote = 10.201.9.223:41432, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 12:50:46 ubuntu etcd[58164]: start time = 2025-05-26 12:50:46.010833703 +0000 UTC m=+263.163146669, time spent = 234.308µs, remote = 10.201.9.223:41432, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 12:50:52 ubuntu etcd[58164]: start time = 2025-05-26 12:50:52.71091932 +0000 UTC m=+269.863232287, time spent = 261.54µs, remote = 10.201.9.223:41432, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 12:50:54 ubuntu etcd[58164]: start time = 2025-05-26 12:50:54.839878639 +0000 UTC m=+271.992191598, time spent = 604.154µs, remote = 10.201.9.223:41432, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
