Dec 06 19:50:08 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:50:08 ubuntu etcd[58893]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:50:08 ubuntu etcd[58893]:         A future release of golang/protobuf will delete this package,
Dec 06 19:50:08 ubuntu etcd[58893]:         which has long been excluded from the compatibility promise.
Dec 06 19:50:08 ubuntu etcd[58893]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:50:08 ubuntu etcd[58893]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:50:08 ubuntu etcd[58893]: etcd Version: 3.4.27
Dec 06 19:50:08 ubuntu etcd[58893]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:50:08 ubuntu etcd[58893]: Git SHA: c92fb80f3
Dec 06 19:50:08 ubuntu etcd[58893]: Go Version: go1.19.10
Dec 06 19:50:08 ubuntu etcd[58893]: Go OS/Arch: linux/amd64
Dec 06 19:50:08 ubuntu etcd[58893]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:50:08 ubuntu etcd[58893]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:50:08 ubuntu etcd[58893]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 19:50:08 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 19:50:08 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:50:08 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:50:09 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 06 19:50:09 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 19:50:09 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:50:09 ubuntu etcd[59035]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:50:09 ubuntu etcd[59035]:         A future release of golang/protobuf will delete this package,
Dec 06 19:50:09 ubuntu etcd[59035]:         which has long been excluded from the compatibility promise.
Dec 06 19:50:09 ubuntu etcd[59035]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:50:09 ubuntu etcd[59035]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:50:09 ubuntu etcd[59035]: etcd Version: 3.4.27
Dec 06 19:50:09 ubuntu etcd[59035]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:50:09 ubuntu etcd[59035]: Git SHA: c92fb80f3
Dec 06 19:50:09 ubuntu etcd[59035]: Go Version: go1.19.10
Dec 06 19:50:09 ubuntu etcd[59035]: Go OS/Arch: linux/amd64
Dec 06 19:50:09 ubuntu etcd[59035]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:50:09 ubuntu etcd[59035]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:50:09 ubuntu etcd[59035]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 19:50:09 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 19:50:09 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:50:09 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:50:09 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 06 19:50:09 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 19:50:09 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:50:09 ubuntu etcd[59081]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:50:09 ubuntu etcd[59081]:         A future release of golang/protobuf will delete this package,
Dec 06 19:50:09 ubuntu etcd[59081]:         which has long been excluded from the compatibility promise.
Dec 06 19:50:09 ubuntu etcd[59081]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:50:09 ubuntu etcd[59081]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:50:09 ubuntu etcd[59081]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:50:09 ubuntu etcd[59081]: etcd Version: 3.4.27
Dec 06 19:50:09 ubuntu etcd[59081]: Git SHA: c92fb80f3
Dec 06 19:50:09 ubuntu etcd[59081]: Go Version: go1.19.10
Dec 06 19:50:09 ubuntu etcd[59081]: Go OS/Arch: linux/amd64
Dec 06 19:50:09 ubuntu etcd[59081]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:50:09 ubuntu etcd[59081]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:50:09 ubuntu etcd[59081]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 19:50:09 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 19:50:09 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:50:09 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:50:09 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 06 19:50:09 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 19:50:09 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:50:09 ubuntu etcd[59094]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:50:09 ubuntu etcd[59094]:         A future release of golang/protobuf will delete this package,
Dec 06 19:50:09 ubuntu etcd[59094]:         which has long been excluded from the compatibility promise.
Dec 06 19:50:09 ubuntu etcd[59094]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:50:09 ubuntu etcd[59094]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:50:09 ubuntu etcd[59094]: etcd Version: 3.4.27
Dec 06 19:50:09 ubuntu etcd[59094]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:50:09 ubuntu etcd[59094]: Git SHA: c92fb80f3
Dec 06 19:50:09 ubuntu etcd[59094]: Go Version: go1.19.10
Dec 06 19:50:09 ubuntu etcd[59094]: Go OS/Arch: linux/amd64
Dec 06 19:50:09 ubuntu etcd[59094]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:50:09 ubuntu etcd[59094]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:50:09 ubuntu etcd[59094]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 19:50:09 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 19:50:09 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:50:09 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:50:09 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 06 19:50:09 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 19:50:09 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:50:10 ubuntu etcd[59113]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:50:10 ubuntu etcd[59113]:         A future release of golang/protobuf will delete this package,
Dec 06 19:50:10 ubuntu etcd[59113]:         which has long been excluded from the compatibility promise.
Dec 06 19:50:10 ubuntu etcd[59113]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:50:10 ubuntu etcd[59113]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:50:10 ubuntu etcd[59113]: etcd Version: 3.4.27
Dec 06 19:50:10 ubuntu etcd[59113]: Git SHA: c92fb80f3
Dec 06 19:50:10 ubuntu etcd[59113]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:50:10 ubuntu etcd[59113]: Go Version: go1.19.10
Dec 06 19:50:10 ubuntu etcd[59113]: Go OS/Arch: linux/amd64
Dec 06 19:50:10 ubuntu etcd[59113]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:50:10 ubuntu etcd[59113]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:50:10 ubuntu etcd[59113]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 19:50:10 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 19:50:10 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:50:10 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:50:10 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 06 19:50:10 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 19:50:10 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 06 19:50:10 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:50:10 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
