Mar 18 06:20:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 18 06:20:30 ubuntu etcd[78789]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 18 06:20:30 ubuntu etcd[78789]:         A future release of golang/protobuf will delete this package,
Mar 18 06:20:30 ubuntu etcd[78789]:         which has long been excluded from the compatibility promise.
Mar 18 06:20:30 ubuntu etcd[78789]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 18 06:20:30 ubuntu etcd[78789]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 18 06:20:30 ubuntu etcd[78789]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 18 06:20:30 ubuntu etcd[78789]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 18 06:20:30 ubuntu etcd[78789]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 18 06:20:30 ubuntu etcd[78789]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 18 06:20:30 ubuntu etcd[78789]: Running http and grpc server on single port. This is not recommended for production.
Mar 18 06:20:30 ubuntu etcd[78789]: etcd Version: 3.4.27
Mar 18 06:20:30 ubuntu etcd[78789]: Git SHA: c92fb80f3
Mar 18 06:20:30 ubuntu etcd[78789]: Go Version: go1.19.10
Mar 18 06:20:30 ubuntu etcd[78789]: Go OS/Arch: linux/amd64
Mar 18 06:20:30 ubuntu etcd[78789]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 18 06:20:30 ubuntu etcd[78789]: Running http and grpc server on single port. This is not recommended for production.
Mar 18 06:20:30 ubuntu etcd[78789]: name = ubuntu
Mar 18 06:20:30 ubuntu etcd[78789]: data dir = /opt/stack/data/etcd
Mar 18 06:20:30 ubuntu etcd[78789]: member dir = /opt/stack/data/etcd/member
Mar 18 06:20:30 ubuntu etcd[78789]: heartbeat = 100ms
Mar 18 06:20:30 ubuntu etcd[78789]: election = 1000ms
Mar 18 06:20:30 ubuntu etcd[78789]: snapshot count = 100000
Mar 18 06:20:30 ubuntu etcd[78789]: advertise client URLs = http://10.201.4.32:2379
Mar 18 06:20:30 ubuntu etcd[78789]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 18 06:20:30 ubuntu etcd[78789]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 18 06:20:30 ubuntu etcd[78789]: raft2024/03/18 06:20:30 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 18 06:20:30 ubuntu etcd[78789]: raft2024/03/18 06:20:30 INFO: 33238c1cdfea94eb became follower at term 0
Mar 18 06:20:30 ubuntu etcd[78789]: raft2024/03/18 06:20:30 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 18 06:20:30 ubuntu etcd[78789]: raft2024/03/18 06:20:30 INFO: 33238c1cdfea94eb became follower at term 1
Mar 18 06:20:30 ubuntu etcd[78789]: raft2024/03/18 06:20:30 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 18 06:20:30 ubuntu etcd[78789]: simple token is not cryptographically signed
Mar 18 06:20:30 ubuntu etcd[78789]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 18 06:20:30 ubuntu etcd[78789]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 18 06:20:30 ubuntu etcd[78789]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 18 06:20:30 ubuntu etcd[78789]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 18 06:20:30 ubuntu etcd[78789]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 18 06:20:30 ubuntu etcd[78789]: raft2024/03/18 06:20:30 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 18 06:20:30 ubuntu etcd[78789]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 18 06:20:30 ubuntu etcd[78789]: listening for peers on [::]:2380
Mar 18 06:20:30 ubuntu etcd[78789]: raft2024/03/18 06:20:30 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 18 06:20:30 ubuntu etcd[78789]: raft2024/03/18 06:20:30 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 18 06:20:30 ubuntu etcd[78789]: raft2024/03/18 06:20:30 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 18 06:20:30 ubuntu etcd[78789]: raft2024/03/18 06:20:30 INFO: 33238c1cdfea94eb became leader at term 2
Mar 18 06:20:30 ubuntu etcd[78789]: raft2024/03/18 06:20:30 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 18 06:20:30 ubuntu etcd[78789]: setting up the initial cluster version to 3.4
Mar 18 06:20:30 ubuntu etcd[78789]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 18 06:20:30 ubuntu etcd[78789]: ready to serve client requests
Mar 18 06:20:30 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 18 06:20:30 ubuntu etcd[78789]: INFO: 2024/03/18 06:20:30 parsed scheme: ""
Mar 18 06:20:30 ubuntu etcd[78789]: INFO: 2024/03/18 06:20:30 scheme "" not registered, fallback to default scheme
Mar 18 06:20:30 ubuntu etcd[78789]: INFO: 2024/03/18 06:20:30 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 18 06:20:30 ubuntu etcd[78789]: INFO: 2024/03/18 06:20:30 ClientConn switching balancer to "pick_first"
Mar 18 06:20:30 ubuntu etcd[78789]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 18 06:20:30 ubuntu etcd[78789]: set the initial cluster version to 3.4
Mar 18 06:20:30 ubuntu etcd[78789]: enabled capabilities for version 3.4
Mar 18 06:24:52 ubuntu etcd[78789]: start time = 2024-03-18 06:24:52.082075979 +0000 UTC m=+262.004136513, time spent = 474.544µs, remote = 10.201.4.32:59588, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 18 06:24:52 ubuntu etcd[78789]: start time = 2024-03-18 06:24:52.229955708 +0000 UTC m=+262.152016241, time spent = 200.694µs, remote = 10.201.4.32:59588, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 18 06:24:58 ubuntu etcd[78789]: start time = 2024-03-18 06:24:58.933256813 +0000 UTC m=+268.855317348, time spent = 206.083µs, remote = 10.201.4.32:59588, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 18 06:25:01 ubuntu etcd[78789]: start time = 2024-03-18 06:25:01.15991021 +0000 UTC m=+271.081970744, time spent = 247.957µs, remote = 10.201.4.32:59588, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
