Mar 21 09:30:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 21 09:30:29 ubuntu etcd[71229]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 21 09:30:29 ubuntu etcd[71229]:         A future release of golang/protobuf will delete this package,
Mar 21 09:30:29 ubuntu etcd[71229]:         which has long been excluded from the compatibility promise.
Mar 21 09:30:29 ubuntu etcd[71229]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 21 09:30:29 ubuntu etcd[71229]: Running http and grpc server on single port. This is not recommended for production.
Mar 21 09:30:29 ubuntu etcd[71229]: etcd Version: 3.4.27
Mar 21 09:30:29 ubuntu etcd[71229]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 21 09:30:29 ubuntu etcd[71229]: Git SHA: c92fb80f3
Mar 21 09:30:29 ubuntu etcd[71229]: Go Version: go1.19.10
Mar 21 09:30:29 ubuntu etcd[71229]: Go OS/Arch: linux/amd64
Mar 21 09:30:29 ubuntu etcd[71229]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 21 09:30:29 ubuntu etcd[71229]: Running http and grpc server on single port. This is not recommended for production.
Mar 21 09:30:29 ubuntu etcd[71229]: name = ubuntu
Mar 21 09:30:29 ubuntu etcd[71229]: data dir = /opt/stack/data/etcd
Mar 21 09:30:29 ubuntu etcd[71229]: member dir = /opt/stack/data/etcd/member
Mar 21 09:30:29 ubuntu etcd[71229]: heartbeat = 100ms
Mar 21 09:30:29 ubuntu etcd[71229]: election = 1000ms
Mar 21 09:30:29 ubuntu etcd[71229]: snapshot count = 100000
Mar 21 09:30:29 ubuntu etcd[71229]: advertise client URLs = http://10.201.9.223:2379
Mar 21 09:30:29 ubuntu etcd[71229]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 21 09:30:29 ubuntu etcd[71229]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 21 09:30:29 ubuntu etcd[71229]: raft2025/03/21 09:30:29 INFO: c25b29daa831042c switched to configuration voters=()
Mar 21 09:30:29 ubuntu etcd[71229]: raft2025/03/21 09:30:29 INFO: c25b29daa831042c became follower at term 0
Mar 21 09:30:29 ubuntu etcd[71229]: raft2025/03/21 09:30:29 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 21 09:30:29 ubuntu etcd[71229]: raft2025/03/21 09:30:29 INFO: c25b29daa831042c became follower at term 1
Mar 21 09:30:29 ubuntu etcd[71229]: raft2025/03/21 09:30:29 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 21 09:30:29 ubuntu etcd[71229]: simple token is not cryptographically signed
Mar 21 09:30:29 ubuntu etcd[71229]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 21 09:30:29 ubuntu etcd[71229]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 21 09:30:29 ubuntu etcd[71229]: raft2025/03/21 09:30:29 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 21 09:30:29 ubuntu etcd[71229]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 21 09:30:29 ubuntu etcd[71229]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 21 09:30:29 ubuntu etcd[71229]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 21 09:30:29 ubuntu etcd[71229]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 21 09:30:29 ubuntu etcd[71229]: listening for peers on [::]:2380
Mar 21 09:30:30 ubuntu etcd[71229]: raft2025/03/21 09:30:30 INFO: c25b29daa831042c is starting a new election at term 1
Mar 21 09:30:30 ubuntu etcd[71229]: raft2025/03/21 09:30:30 INFO: c25b29daa831042c became candidate at term 2
Mar 21 09:30:30 ubuntu etcd[71229]: raft2025/03/21 09:30:30 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 21 09:30:30 ubuntu etcd[71229]: raft2025/03/21 09:30:30 INFO: c25b29daa831042c became leader at term 2
Mar 21 09:30:30 ubuntu etcd[71229]: raft2025/03/21 09:30:30 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 21 09:30:30 ubuntu etcd[71229]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 21 09:30:30 ubuntu etcd[71229]: setting up the initial cluster version to 3.4
Mar 21 09:30:30 ubuntu etcd[71229]: ready to serve client requests
Mar 21 09:30:30 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 21 09:30:30 ubuntu etcd[71229]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 21 09:30:30 ubuntu etcd[71229]: set the initial cluster version to 3.4
Mar 21 09:30:30 ubuntu etcd[71229]: enabled capabilities for version 3.4
Mar 21 09:34:39 ubuntu etcd[71229]: start time = 2025-03-21 09:34:39.348562902 +0000 UTC m=+249.477628726, time spent = 577.011µs, remote = 10.201.9.223:44640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 09:34:39 ubuntu etcd[71229]: start time = 2025-03-21 09:34:39.439052645 +0000 UTC m=+249.568118480, time spent = 332.229µs, remote = 10.201.9.223:44640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 09:34:46 ubuntu etcd[71229]: start time = 2025-03-21 09:34:46.072837142 +0000 UTC m=+256.201902966, time spent = 512.959µs, remote = 10.201.9.223:44640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 09:34:48 ubuntu etcd[71229]: start time = 2025-03-21 09:34:48.207081715 +0000 UTC m=+258.336147552, time spent = 192.697µs, remote = 10.201.9.223:44640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
