May 15 07:48:34 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 15 07:48:34 ubuntu etcd[59935]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 15 07:48:34 ubuntu etcd[59935]:         A future release of golang/protobuf will delete this package,
May 15 07:48:34 ubuntu etcd[59935]:         which has long been excluded from the compatibility promise.
May 15 07:48:34 ubuntu etcd[59935]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 15 07:48:34 ubuntu etcd[59935]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 15 07:48:34 ubuntu etcd[59935]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 15 07:48:34 ubuntu etcd[59935]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 15 07:48:34 ubuntu etcd[59935]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 15 07:48:34 ubuntu etcd[59935]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 15 07:48:34 ubuntu etcd[59935]: Running http and grpc server on single port. This is not recommended for production.
May 15 07:48:34 ubuntu etcd[59935]: etcd Version: 3.4.27
May 15 07:48:34 ubuntu etcd[59935]: Git SHA: c92fb80f3
May 15 07:48:34 ubuntu etcd[59935]: Go Version: go1.19.10
May 15 07:48:34 ubuntu etcd[59935]: Go OS/Arch: linux/amd64
May 15 07:48:34 ubuntu etcd[59935]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 15 07:48:34 ubuntu etcd[59935]: Running http and grpc server on single port. This is not recommended for production.
May 15 07:48:34 ubuntu etcd[59935]: name = ubuntu
May 15 07:48:34 ubuntu etcd[59935]: data dir = /opt/stack/data/etcd
May 15 07:48:34 ubuntu etcd[59935]: member dir = /opt/stack/data/etcd/member
May 15 07:48:34 ubuntu etcd[59935]: heartbeat = 100ms
May 15 07:48:34 ubuntu etcd[59935]: election = 1000ms
May 15 07:48:34 ubuntu etcd[59935]: snapshot count = 100000
May 15 07:48:34 ubuntu etcd[59935]: advertise client URLs = http://10.201.4.32:2379
May 15 07:48:34 ubuntu etcd[59935]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 15 07:48:35 ubuntu etcd[59935]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb became follower at term 0
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb became follower at term 1
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 15 07:48:35 ubuntu etcd[59935]: simple token is not cryptographically signed
May 15 07:48:35 ubuntu etcd[59935]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 15 07:48:35 ubuntu etcd[59935]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 15 07:48:35 ubuntu etcd[59935]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 15 07:48:35 ubuntu etcd[59935]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 15 07:48:35 ubuntu etcd[59935]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 15 07:48:35 ubuntu etcd[59935]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 15 07:48:35 ubuntu etcd[59935]: listening for peers on [::]:2380
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb became candidate at term 2
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb became leader at term 2
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 15 07:48:35 ubuntu etcd[59935]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 15 07:48:35 ubuntu etcd[59935]: setting up the initial cluster version to 3.4
May 15 07:48:35 ubuntu etcd[59935]: ready to serve client requests
May 15 07:48:35 ubuntu etcd[59935]: set the initial cluster version to 3.4
May 15 07:48:35 ubuntu etcd[59935]: INFO: 2024/05/15 07:48:35 parsed scheme: ""
May 15 07:48:35 ubuntu etcd[59935]: INFO: 2024/05/15 07:48:35 scheme "" not registered, fallback to default scheme
May 15 07:48:35 ubuntu etcd[59935]: INFO: 2024/05/15 07:48:35 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 15 07:48:35 ubuntu etcd[59935]: INFO: 2024/05/15 07:48:35 ClientConn switching balancer to "pick_first"
May 15 07:48:35 ubuntu etcd[59935]: enabled capabilities for version 3.4
May 15 07:48:35 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 15 07:48:35 ubuntu etcd[59935]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 15 07:52:51 ubuntu etcd[59935]: start time = 2024-05-15 07:52:51.288921774 +0000 UTC m=+256.340012686, time spent = 428.908µs, remote = 10.201.4.32:48818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 07:52:51 ubuntu etcd[59935]: start time = 2024-05-15 07:52:51.342672771 +0000 UTC m=+256.393763685, time spent = 179.95µs, remote = 10.201.4.32:48818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 07:52:58 ubuntu etcd[59935]: start time = 2024-05-15 07:52:58.060424665 +0000 UTC m=+263.111515584, time spent = 246.629µs, remote = 10.201.4.32:48818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 07:53:00 ubuntu etcd[59935]: start time = 2024-05-15 07:53:00.029134423 +0000 UTC m=+265.080225325, time spent = 361.781µs, remote = 10.201.4.32:48818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 07:48:34 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 15 07:48:34 ubuntu etcd[59935]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 15 07:48:34 ubuntu etcd[59935]:         A future release of golang/protobuf will delete this package,
May 15 07:48:34 ubuntu etcd[59935]:         which has long been excluded from the compatibility promise.
May 15 07:48:34 ubuntu etcd[59935]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 15 07:48:34 ubuntu etcd[59935]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 15 07:48:34 ubuntu etcd[59935]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 15 07:48:34 ubuntu etcd[59935]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 15 07:48:34 ubuntu etcd[59935]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 15 07:48:34 ubuntu etcd[59935]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 15 07:48:34 ubuntu etcd[59935]: Running http and grpc server on single port. This is not recommended for production.
May 15 07:48:34 ubuntu etcd[59935]: etcd Version: 3.4.27
May 15 07:48:34 ubuntu etcd[59935]: Git SHA: c92fb80f3
May 15 07:48:34 ubuntu etcd[59935]: Go Version: go1.19.10
May 15 07:48:34 ubuntu etcd[59935]: Go OS/Arch: linux/amd64
May 15 07:48:34 ubuntu etcd[59935]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 15 07:48:34 ubuntu etcd[59935]: Running http and grpc server on single port. This is not recommended for production.
May 15 07:48:34 ubuntu etcd[59935]: name = ubuntu
May 15 07:48:34 ubuntu etcd[59935]: data dir = /opt/stack/data/etcd
May 15 07:48:34 ubuntu etcd[59935]: member dir = /opt/stack/data/etcd/member
May 15 07:48:34 ubuntu etcd[59935]: heartbeat = 100ms
May 15 07:48:34 ubuntu etcd[59935]: election = 1000ms
May 15 07:48:34 ubuntu etcd[59935]: snapshot count = 100000
May 15 07:48:34 ubuntu etcd[59935]: advertise client URLs = http://10.201.4.32:2379
May 15 07:48:34 ubuntu etcd[59935]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 15 07:48:35 ubuntu etcd[59935]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb became follower at term 0
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb became follower at term 1
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 15 07:48:35 ubuntu etcd[59935]: simple token is not cryptographically signed
May 15 07:48:35 ubuntu etcd[59935]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 15 07:48:35 ubuntu etcd[59935]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 15 07:48:35 ubuntu etcd[59935]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 15 07:48:35 ubuntu etcd[59935]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 15 07:48:35 ubuntu etcd[59935]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 15 07:48:35 ubuntu etcd[59935]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 15 07:48:35 ubuntu etcd[59935]: listening for peers on [::]:2380
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb became candidate at term 2
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: 33238c1cdfea94eb became leader at term 2
May 15 07:48:35 ubuntu etcd[59935]: raft2024/05/15 07:48:35 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 15 07:48:35 ubuntu etcd[59935]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 15 07:48:35 ubuntu etcd[59935]: setting up the initial cluster version to 3.4
May 15 07:48:35 ubuntu etcd[59935]: ready to serve client requests
May 15 07:48:35 ubuntu etcd[59935]: set the initial cluster version to 3.4
May 15 07:48:35 ubuntu etcd[59935]: INFO: 2024/05/15 07:48:35 parsed scheme: ""
May 15 07:48:35 ubuntu etcd[59935]: INFO: 2024/05/15 07:48:35 scheme "" not registered, fallback to default scheme
May 15 07:48:35 ubuntu etcd[59935]: INFO: 2024/05/15 07:48:35 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 15 07:48:35 ubuntu etcd[59935]: INFO: 2024/05/15 07:48:35 ClientConn switching balancer to "pick_first"
May 15 07:48:35 ubuntu etcd[59935]: enabled capabilities for version 3.4
May 15 07:48:35 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 15 07:48:35 ubuntu etcd[59935]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 15 07:52:51 ubuntu etcd[59935]: start time = 2024-05-15 07:52:51.288921774 +0000 UTC m=+256.340012686, time spent = 428.908µs, remote = 10.201.4.32:48818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 07:52:51 ubuntu etcd[59935]: start time = 2024-05-15 07:52:51.342672771 +0000 UTC m=+256.393763685, time spent = 179.95µs, remote = 10.201.4.32:48818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 07:52:58 ubuntu etcd[59935]: start time = 2024-05-15 07:52:58.060424665 +0000 UTC m=+263.111515584, time spent = 246.629µs, remote = 10.201.4.32:48818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 07:53:00 ubuntu etcd[59935]: start time = 2024-05-15 07:53:00.029134423 +0000 UTC m=+265.080225325, time spent = 361.781µs, remote = 10.201.4.32:48818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
