Mar 25 22:03:35 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 25 22:03:35 ubuntu etcd[57164]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 25 22:03:35 ubuntu etcd[57164]:         A future release of golang/protobuf will delete this package,
Mar 25 22:03:35 ubuntu etcd[57164]:         which has long been excluded from the compatibility promise.
Mar 25 22:03:35 ubuntu etcd[57164]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 25 22:03:35 ubuntu etcd[57164]: Running http and grpc server on single port. This is not recommended for production.
Mar 25 22:03:35 ubuntu etcd[57164]: etcd Version: 3.4.27
Mar 25 22:03:35 ubuntu etcd[57164]: Git SHA: c92fb80f3
Mar 25 22:03:35 ubuntu etcd[57164]: Go Version: go1.19.10
Mar 25 22:03:35 ubuntu etcd[57164]: Go OS/Arch: linux/amd64
Mar 25 22:03:35 ubuntu etcd[57164]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 25 22:03:35 ubuntu etcd[57164]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 25 22:03:35 ubuntu etcd[57164]: Running http and grpc server on single port. This is not recommended for production.
Mar 25 22:03:35 ubuntu etcd[57164]: name = ubuntu
Mar 25 22:03:35 ubuntu etcd[57164]: data dir = /opt/stack/data/etcd
Mar 25 22:03:35 ubuntu etcd[57164]: member dir = /opt/stack/data/etcd/member
Mar 25 22:03:35 ubuntu etcd[57164]: heartbeat = 100ms
Mar 25 22:03:35 ubuntu etcd[57164]: election = 1000ms
Mar 25 22:03:35 ubuntu etcd[57164]: snapshot count = 100000
Mar 25 22:03:35 ubuntu etcd[57164]: advertise client URLs = http://10.201.9.223:2379
Mar 25 22:03:35 ubuntu etcd[57164]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 25 22:03:35 ubuntu etcd[57164]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 25 22:03:35 ubuntu etcd[57164]: raft2025/03/25 22:03:35 INFO: c25b29daa831042c switched to configuration voters=()
Mar 25 22:03:35 ubuntu etcd[57164]: raft2025/03/25 22:03:35 INFO: c25b29daa831042c became follower at term 0
Mar 25 22:03:35 ubuntu etcd[57164]: raft2025/03/25 22:03:35 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 25 22:03:35 ubuntu etcd[57164]: raft2025/03/25 22:03:35 INFO: c25b29daa831042c became follower at term 1
Mar 25 22:03:35 ubuntu etcd[57164]: raft2025/03/25 22:03:35 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 25 22:03:35 ubuntu etcd[57164]: simple token is not cryptographically signed
Mar 25 22:03:35 ubuntu etcd[57164]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 25 22:03:35 ubuntu etcd[57164]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 25 22:03:35 ubuntu etcd[57164]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 25 22:03:35 ubuntu etcd[57164]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 25 22:03:35 ubuntu etcd[57164]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 25 22:03:35 ubuntu etcd[57164]: raft2025/03/25 22:03:35 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 25 22:03:35 ubuntu etcd[57164]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 25 22:03:35 ubuntu etcd[57164]: listening for peers on [::]:2380
Mar 25 22:03:35 ubuntu etcd[57164]: raft2025/03/25 22:03:35 INFO: c25b29daa831042c is starting a new election at term 1
Mar 25 22:03:35 ubuntu etcd[57164]: raft2025/03/25 22:03:35 INFO: c25b29daa831042c became candidate at term 2
Mar 25 22:03:35 ubuntu etcd[57164]: raft2025/03/25 22:03:35 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 25 22:03:35 ubuntu etcd[57164]: raft2025/03/25 22:03:35 INFO: c25b29daa831042c became leader at term 2
Mar 25 22:03:35 ubuntu etcd[57164]: raft2025/03/25 22:03:35 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 25 22:03:35 ubuntu etcd[57164]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 25 22:03:35 ubuntu etcd[57164]: setting up the initial cluster version to 3.4
Mar 25 22:03:35 ubuntu etcd[57164]: ready to serve client requests
Mar 25 22:03:35 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 25 22:03:35 ubuntu etcd[57164]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 25 22:03:35 ubuntu etcd[57164]: set the initial cluster version to 3.4
Mar 25 22:03:35 ubuntu etcd[57164]: enabled capabilities for version 3.4
Mar 25 22:07:40 ubuntu etcd[57164]: start time = 2025-03-25 22:07:40.315765822 +0000 UTC m=+245.175570560, time spent = 372.517µs, remote = 10.201.9.223:52812, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 22:07:40 ubuntu etcd[57164]: start time = 2025-03-25 22:07:40.410469538 +0000 UTC m=+245.270274294, time spent = 158.755µs, remote = 10.201.9.223:52812, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 22:07:46 ubuntu etcd[57164]: start time = 2025-03-25 22:07:46.899494628 +0000 UTC m=+251.759299368, time spent = 485.105µs, remote = 10.201.9.223:52812, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 22:07:48 ubuntu etcd[57164]: start time = 2025-03-25 22:07:48.97703467 +0000 UTC m=+253.836839424, time spent = 182.552µs, remote = 10.201.9.223:52812, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
