Mar 26 15:45:38 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 26 15:45:38 ubuntu etcd[57147]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 26 15:45:38 ubuntu etcd[57147]:         A future release of golang/protobuf will delete this package,
Mar 26 15:45:38 ubuntu etcd[57147]:         which has long been excluded from the compatibility promise.
Mar 26 15:45:38 ubuntu etcd[57147]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 15:45:38 ubuntu etcd[57147]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 15:45:38 ubuntu etcd[57147]: etcd Version: 3.4.27
Mar 26 15:45:38 ubuntu etcd[57147]: Git SHA: c92fb80f3
Mar 26 15:45:38 ubuntu etcd[57147]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 15:45:38 ubuntu etcd[57147]: Go Version: go1.19.10
Mar 26 15:45:38 ubuntu etcd[57147]: Go OS/Arch: linux/amd64
Mar 26 15:45:38 ubuntu etcd[57147]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 26 15:45:38 ubuntu etcd[57147]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 15:45:38 ubuntu etcd[57147]: name = ubuntu
Mar 26 15:45:38 ubuntu etcd[57147]: data dir = /opt/stack/data/etcd
Mar 26 15:45:38 ubuntu etcd[57147]: member dir = /opt/stack/data/etcd/member
Mar 26 15:45:38 ubuntu etcd[57147]: heartbeat = 100ms
Mar 26 15:45:38 ubuntu etcd[57147]: election = 1000ms
Mar 26 15:45:38 ubuntu etcd[57147]: snapshot count = 100000
Mar 26 15:45:38 ubuntu etcd[57147]: advertise client URLs = http://10.201.9.223:2379
Mar 26 15:45:38 ubuntu etcd[57147]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 26 15:45:38 ubuntu etcd[57147]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 26 15:45:38 ubuntu etcd[57147]: raft2025/03/26 15:45:38 INFO: c25b29daa831042c switched to configuration voters=()
Mar 26 15:45:38 ubuntu etcd[57147]: raft2025/03/26 15:45:38 INFO: c25b29daa831042c became follower at term 0
Mar 26 15:45:38 ubuntu etcd[57147]: raft2025/03/26 15:45:38 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 26 15:45:38 ubuntu etcd[57147]: raft2025/03/26 15:45:38 INFO: c25b29daa831042c became follower at term 1
Mar 26 15:45:38 ubuntu etcd[57147]: raft2025/03/26 15:45:38 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 26 15:45:38 ubuntu etcd[57147]: simple token is not cryptographically signed
Mar 26 15:45:38 ubuntu etcd[57147]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 26 15:45:38 ubuntu etcd[57147]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 26 15:45:38 ubuntu etcd[57147]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 26 15:45:38 ubuntu etcd[57147]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 26 15:45:38 ubuntu etcd[57147]: raft2025/03/26 15:45:38 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 26 15:45:38 ubuntu etcd[57147]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 26 15:45:38 ubuntu etcd[57147]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 26 15:45:38 ubuntu etcd[57147]: listening for peers on [::]:2380
Mar 26 15:45:39 ubuntu etcd[57147]: raft2025/03/26 15:45:39 INFO: c25b29daa831042c is starting a new election at term 1
Mar 26 15:45:39 ubuntu etcd[57147]: raft2025/03/26 15:45:39 INFO: c25b29daa831042c became candidate at term 2
Mar 26 15:45:39 ubuntu etcd[57147]: raft2025/03/26 15:45:39 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 26 15:45:39 ubuntu etcd[57147]: raft2025/03/26 15:45:39 INFO: c25b29daa831042c became leader at term 2
Mar 26 15:45:39 ubuntu etcd[57147]: raft2025/03/26 15:45:39 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 26 15:45:39 ubuntu etcd[57147]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 26 15:45:39 ubuntu etcd[57147]: ready to serve client requests
Mar 26 15:45:39 ubuntu etcd[57147]: setting up the initial cluster version to 3.4
Mar 26 15:45:39 ubuntu etcd[57147]: set the initial cluster version to 3.4
Mar 26 15:45:39 ubuntu etcd[57147]: enabled capabilities for version 3.4
Mar 26 15:45:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 26 15:45:39 ubuntu etcd[57147]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 26 15:49:44 ubuntu etcd[57147]: start time = 2025-03-26 15:49:44.729463695 +0000 UTC m=+245.810589283, time spent = 516.622µs, remote = 10.201.9.223:47612, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 15:49:44 ubuntu etcd[57147]: start time = 2025-03-26 15:49:44.901636428 +0000 UTC m=+245.982762020, time spent = 221.568µs, remote = 10.201.9.223:47612, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 15:49:51 ubuntu etcd[57147]: start time = 2025-03-26 15:49:51.298406481 +0000 UTC m=+252.379532081, time spent = 164.407µs, remote = 10.201.9.223:47612, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 15:49:53 ubuntu etcd[57147]: start time = 2025-03-26 15:49:53.50944834 +0000 UTC m=+254.590573934, time spent = 318.056µs, remote = 10.201.9.223:47612, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
