Feb 09 13:36:31 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 09 13:36:31 ubuntu etcd[60191]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 09 13:36:31 ubuntu etcd[60191]:         A future release of golang/protobuf will delete this package,
Feb 09 13:36:31 ubuntu etcd[60191]:         which has long been excluded from the compatibility promise.
Feb 09 13:36:31 ubuntu etcd[60191]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 09 13:36:31 ubuntu etcd[60191]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 09 13:36:31 ubuntu etcd[60191]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 09 13:36:31 ubuntu etcd[60191]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 09 13:36:31 ubuntu etcd[60191]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 09 13:36:31 ubuntu etcd[60191]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 09 13:36:31 ubuntu etcd[60191]: Running http and grpc server on single port. This is not recommended for production.
Feb 09 13:36:31 ubuntu etcd[60191]: etcd Version: 3.4.27
Feb 09 13:36:31 ubuntu etcd[60191]: Git SHA: c92fb80f3
Feb 09 13:36:31 ubuntu etcd[60191]: Go Version: go1.19.10
Feb 09 13:36:31 ubuntu etcd[60191]: Go OS/Arch: linux/amd64
Feb 09 13:36:31 ubuntu etcd[60191]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 09 13:36:31 ubuntu etcd[60191]: Running http and grpc server on single port. This is not recommended for production.
Feb 09 13:36:31 ubuntu etcd[60191]: name = ubuntu
Feb 09 13:36:31 ubuntu etcd[60191]: data dir = /opt/stack/data/etcd
Feb 09 13:36:31 ubuntu etcd[60191]: member dir = /opt/stack/data/etcd/member
Feb 09 13:36:31 ubuntu etcd[60191]: heartbeat = 100ms
Feb 09 13:36:31 ubuntu etcd[60191]: election = 1000ms
Feb 09 13:36:31 ubuntu etcd[60191]: snapshot count = 100000
Feb 09 13:36:31 ubuntu etcd[60191]: advertise client URLs = http://10.201.4.32:2379
Feb 09 13:36:31 ubuntu etcd[60191]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 09 13:36:31 ubuntu etcd[60191]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 09 13:36:31 ubuntu etcd[60191]: raft2024/02/09 13:36:31 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 09 13:36:31 ubuntu etcd[60191]: raft2024/02/09 13:36:31 INFO: 33238c1cdfea94eb became follower at term 0
Feb 09 13:36:31 ubuntu etcd[60191]: raft2024/02/09 13:36:31 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 09 13:36:31 ubuntu etcd[60191]: raft2024/02/09 13:36:31 INFO: 33238c1cdfea94eb became follower at term 1
Feb 09 13:36:31 ubuntu etcd[60191]: raft2024/02/09 13:36:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 09 13:36:31 ubuntu etcd[60191]: simple token is not cryptographically signed
Feb 09 13:36:31 ubuntu etcd[60191]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 09 13:36:31 ubuntu etcd[60191]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 09 13:36:31 ubuntu etcd[60191]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 09 13:36:31 ubuntu etcd[60191]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 09 13:36:31 ubuntu etcd[60191]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 09 13:36:31 ubuntu etcd[60191]: listening for peers on [::]:2380
Feb 09 13:36:31 ubuntu etcd[60191]: raft2024/02/09 13:36:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 09 13:36:31 ubuntu etcd[60191]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 09 13:36:31 ubuntu etcd[60191]: raft2024/02/09 13:36:31 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 09 13:36:31 ubuntu etcd[60191]: raft2024/02/09 13:36:31 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 09 13:36:31 ubuntu etcd[60191]: raft2024/02/09 13:36:31 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 09 13:36:31 ubuntu etcd[60191]: raft2024/02/09 13:36:31 INFO: 33238c1cdfea94eb became leader at term 2
Feb 09 13:36:31 ubuntu etcd[60191]: raft2024/02/09 13:36:31 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 09 13:36:31 ubuntu etcd[60191]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 09 13:36:31 ubuntu etcd[60191]: setting up the initial cluster version to 3.4
Feb 09 13:36:31 ubuntu etcd[60191]: INFO: 2024/02/09 13:36:31 parsed scheme: ""
Feb 09 13:36:31 ubuntu etcd[60191]: INFO: 2024/02/09 13:36:31 scheme "" not registered, fallback to default scheme
Feb 09 13:36:31 ubuntu etcd[60191]: INFO: 2024/02/09 13:36:31 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 09 13:36:31 ubuntu etcd[60191]: INFO: 2024/02/09 13:36:31 ClientConn switching balancer to "pick_first"
Feb 09 13:36:31 ubuntu etcd[60191]: ready to serve client requests
Feb 09 13:36:31 ubuntu etcd[60191]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 09 13:36:31 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 09 13:36:31 ubuntu etcd[60191]: set the initial cluster version to 3.4
Feb 09 13:36:31 ubuntu etcd[60191]: enabled capabilities for version 3.4
Feb 09 13:40:47 ubuntu etcd[60191]: start time = 2024-02-09 13:40:47.001071289 +0000 UTC m=+255.589614389, time spent = 463.126µs, remote = 10.201.4.32:35148, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 09 13:40:47 ubuntu etcd[60191]: start time = 2024-02-09 13:40:47.047423862 +0000 UTC m=+255.635966963, time spent = 257.783µs, remote = 10.201.4.32:35148, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 09 13:40:53 ubuntu etcd[60191]: start time = 2024-02-09 13:40:53.441054935 +0000 UTC m=+262.029598036, time spent = 447.007µs, remote = 10.201.4.32:35148, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 09 13:40:55 ubuntu etcd[60191]: start time = 2024-02-09 13:40:55.653389223 +0000 UTC m=+264.241932324, time spent = 170.72µs, remote = 10.201.4.32:35148, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
