Jan 07 15:57:57 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 07 15:57:57 ubuntu etcd[59214]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 07 15:57:57 ubuntu etcd[59214]:         A future release of golang/protobuf will delete this package,
Jan 07 15:57:57 ubuntu etcd[59214]:         which has long been excluded from the compatibility promise.
Jan 07 15:57:57 ubuntu etcd[59214]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 07 15:57:57 ubuntu etcd[59214]: Running http and grpc server on single port. This is not recommended for production.
Jan 07 15:57:57 ubuntu etcd[59214]: etcd Version: 3.4.27
Jan 07 15:57:57 ubuntu etcd[59214]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 07 15:57:57 ubuntu etcd[59214]: Git SHA: c92fb80f3
Jan 07 15:57:57 ubuntu etcd[59214]: Go Version: go1.19.10
Jan 07 15:57:57 ubuntu etcd[59214]: Go OS/Arch: linux/amd64
Jan 07 15:57:57 ubuntu etcd[59214]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 07 15:57:57 ubuntu etcd[59214]: Running http and grpc server on single port. This is not recommended for production.
Jan 07 15:57:57 ubuntu etcd[59214]: name = ubuntu
Jan 07 15:57:57 ubuntu etcd[59214]: data dir = /opt/stack/data/etcd
Jan 07 15:57:57 ubuntu etcd[59214]: member dir = /opt/stack/data/etcd/member
Jan 07 15:57:57 ubuntu etcd[59214]: heartbeat = 100ms
Jan 07 15:57:57 ubuntu etcd[59214]: election = 1000ms
Jan 07 15:57:57 ubuntu etcd[59214]: snapshot count = 100000
Jan 07 15:57:57 ubuntu etcd[59214]: advertise client URLs = http://10.201.9.223:2379
Jan 07 15:57:57 ubuntu etcd[59214]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 07 15:57:57 ubuntu etcd[59214]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 07 15:57:57 ubuntu etcd[59214]: raft2025/01/07 15:57:57 INFO: c25b29daa831042c switched to configuration voters=()
Jan 07 15:57:57 ubuntu etcd[59214]: raft2025/01/07 15:57:57 INFO: c25b29daa831042c became follower at term 0
Jan 07 15:57:57 ubuntu etcd[59214]: raft2025/01/07 15:57:57 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 07 15:57:57 ubuntu etcd[59214]: raft2025/01/07 15:57:57 INFO: c25b29daa831042c became follower at term 1
Jan 07 15:57:57 ubuntu etcd[59214]: raft2025/01/07 15:57:57 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 07 15:57:57 ubuntu etcd[59214]: simple token is not cryptographically signed
Jan 07 15:57:57 ubuntu etcd[59214]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 07 15:57:57 ubuntu etcd[59214]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 07 15:57:57 ubuntu etcd[59214]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 07 15:57:57 ubuntu etcd[59214]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 07 15:57:57 ubuntu etcd[59214]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 07 15:57:57 ubuntu etcd[59214]: raft2025/01/07 15:57:57 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 07 15:57:57 ubuntu etcd[59214]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 07 15:57:57 ubuntu etcd[59214]: listening for peers on [::]:2380
Jan 07 15:57:58 ubuntu etcd[59214]: raft2025/01/07 15:57:58 INFO: c25b29daa831042c is starting a new election at term 1
Jan 07 15:57:58 ubuntu etcd[59214]: raft2025/01/07 15:57:58 INFO: c25b29daa831042c became candidate at term 2
Jan 07 15:57:58 ubuntu etcd[59214]: raft2025/01/07 15:57:58 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 07 15:57:58 ubuntu etcd[59214]: raft2025/01/07 15:57:58 INFO: c25b29daa831042c became leader at term 2
Jan 07 15:57:58 ubuntu etcd[59214]: raft2025/01/07 15:57:58 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 07 15:57:58 ubuntu etcd[59214]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 07 15:57:58 ubuntu etcd[59214]: ready to serve client requests
Jan 07 15:57:58 ubuntu etcd[59214]: setting up the initial cluster version to 3.4
Jan 07 15:57:58 ubuntu etcd[59214]: set the initial cluster version to 3.4
Jan 07 15:57:58 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 07 15:57:58 ubuntu etcd[59214]: enabled capabilities for version 3.4
Jan 07 15:57:58 ubuntu etcd[59214]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 07 16:02:15 ubuntu etcd[59214]: start time = 2025-01-07 16:02:15.69073388 +0000 UTC m=+258.078814411, time spent = 350.571µs, remote = 10.201.9.223:34720, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 07 16:02:15 ubuntu etcd[59214]: start time = 2025-01-07 16:02:15.724665068 +0000 UTC m=+258.112745614, time spent = 152.937µs, remote = 10.201.9.223:34720, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 07 16:02:22 ubuntu etcd[59214]: start time = 2025-01-07 16:02:22.316808375 +0000 UTC m=+264.704888917, time spent = 154.281µs, remote = 10.201.9.223:34720, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 07 16:02:24 ubuntu etcd[59214]: start time = 2025-01-07 16:02:24.047931918 +0000 UTC m=+266.436012460, time spent = 218.032µs, remote = 10.201.9.223:34720, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
