Jun 05 20:46:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 05 20:46:48 ubuntu etcd[59037]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 05 20:46:48 ubuntu etcd[59037]:         A future release of golang/protobuf will delete this package,
Jun 05 20:46:48 ubuntu etcd[59037]:         which has long been excluded from the compatibility promise.
Jun 05 20:46:48 ubuntu etcd[59037]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 05 20:46:48 ubuntu etcd[59037]: Running http and grpc server on single port. This is not recommended for production.
Jun 05 20:46:48 ubuntu etcd[59037]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 05 20:46:48 ubuntu etcd[59037]: etcd Version: 3.4.27
Jun 05 20:46:48 ubuntu etcd[59037]: Git SHA: c92fb80f3
Jun 05 20:46:48 ubuntu etcd[59037]: Go Version: go1.19.10
Jun 05 20:46:48 ubuntu etcd[59037]: Go OS/Arch: linux/amd64
Jun 05 20:46:48 ubuntu etcd[59037]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 05 20:46:48 ubuntu etcd[59037]: Running http and grpc server on single port. This is not recommended for production.
Jun 05 20:46:48 ubuntu etcd[59037]: name = ubuntu
Jun 05 20:46:48 ubuntu etcd[59037]: data dir = /opt/stack/data/etcd
Jun 05 20:46:48 ubuntu etcd[59037]: member dir = /opt/stack/data/etcd/member
Jun 05 20:46:48 ubuntu etcd[59037]: heartbeat = 100ms
Jun 05 20:46:48 ubuntu etcd[59037]: election = 1000ms
Jun 05 20:46:48 ubuntu etcd[59037]: snapshot count = 100000
Jun 05 20:46:48 ubuntu etcd[59037]: advertise client URLs = http://10.201.9.223:2379
Jun 05 20:46:48 ubuntu etcd[59037]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 05 20:46:48 ubuntu etcd[59037]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 05 20:46:48 ubuntu etcd[59037]: raft2025/06/05 20:46:48 INFO: c25b29daa831042c switched to configuration voters=()
Jun 05 20:46:48 ubuntu etcd[59037]: raft2025/06/05 20:46:48 INFO: c25b29daa831042c became follower at term 0
Jun 05 20:46:48 ubuntu etcd[59037]: raft2025/06/05 20:46:48 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 05 20:46:48 ubuntu etcd[59037]: raft2025/06/05 20:46:48 INFO: c25b29daa831042c became follower at term 1
Jun 05 20:46:48 ubuntu etcd[59037]: raft2025/06/05 20:46:48 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 05 20:46:48 ubuntu etcd[59037]: simple token is not cryptographically signed
Jun 05 20:46:48 ubuntu etcd[59037]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 05 20:46:48 ubuntu etcd[59037]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 05 20:46:48 ubuntu etcd[59037]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 05 20:46:48 ubuntu etcd[59037]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 05 20:46:48 ubuntu etcd[59037]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 05 20:46:48 ubuntu etcd[59037]: raft2025/06/05 20:46:48 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 05 20:46:48 ubuntu etcd[59037]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 05 20:46:48 ubuntu etcd[59037]: listening for peers on [::]:2380
Jun 05 20:46:49 ubuntu etcd[59037]: raft2025/06/05 20:46:49 INFO: c25b29daa831042c is starting a new election at term 1
Jun 05 20:46:49 ubuntu etcd[59037]: raft2025/06/05 20:46:49 INFO: c25b29daa831042c became candidate at term 2
Jun 05 20:46:49 ubuntu etcd[59037]: raft2025/06/05 20:46:49 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 05 20:46:49 ubuntu etcd[59037]: raft2025/06/05 20:46:49 INFO: c25b29daa831042c became leader at term 2
Jun 05 20:46:49 ubuntu etcd[59037]: raft2025/06/05 20:46:49 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 05 20:46:49 ubuntu etcd[59037]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 05 20:46:49 ubuntu etcd[59037]: setting up the initial cluster version to 3.4
Jun 05 20:46:49 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 05 20:46:49 ubuntu etcd[59037]: ready to serve client requests
Jun 05 20:46:49 ubuntu etcd[59037]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 05 20:46:49 ubuntu etcd[59037]: set the initial cluster version to 3.4
Jun 05 20:46:49 ubuntu etcd[59037]: enabled capabilities for version 3.4
Jun 05 20:50:56 ubuntu etcd[59037]: start time = 2025-06-05 20:50:56.93627889 +0000 UTC m=+248.631757506, time spent = 450.34µs, remote = 10.201.9.223:38324, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 20:50:56 ubuntu etcd[59037]: start time = 2025-06-05 20:50:56.945895459 +0000 UTC m=+248.641374086, time spent = 211.155µs, remote = 10.201.9.223:38324, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 20:51:03 ubuntu etcd[59037]: start time = 2025-06-05 20:51:03.757604341 +0000 UTC m=+255.453082964, time spent = 275.869µs, remote = 10.201.9.223:38324, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 20:51:06 ubuntu etcd[59037]: start time = 2025-06-05 20:51:06.047802972 +0000 UTC m=+257.743281586, time spent = 302.08µs, remote = 10.201.9.223:38324, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
