Mar 28 04:04:41 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 28 04:04:41 ubuntu etcd[57456]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 28 04:04:41 ubuntu etcd[57456]:         A future release of golang/protobuf will delete this package,
Mar 28 04:04:41 ubuntu etcd[57456]:         which has long been excluded from the compatibility promise.
Mar 28 04:04:41 ubuntu etcd[57456]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 28 04:04:41 ubuntu etcd[57456]: Running http and grpc server on single port. This is not recommended for production.
Mar 28 04:04:41 ubuntu etcd[57456]: etcd Version: 3.4.27
Mar 28 04:04:41 ubuntu etcd[57456]: Git SHA: c92fb80f3
Mar 28 04:04:41 ubuntu etcd[57456]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 28 04:04:41 ubuntu etcd[57456]: Go Version: go1.19.10
Mar 28 04:04:41 ubuntu etcd[57456]: Go OS/Arch: linux/amd64
Mar 28 04:04:41 ubuntu etcd[57456]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 28 04:04:41 ubuntu etcd[57456]: Running http and grpc server on single port. This is not recommended for production.
Mar 28 04:04:41 ubuntu etcd[57456]: name = ubuntu
Mar 28 04:04:41 ubuntu etcd[57456]: data dir = /opt/stack/data/etcd
Mar 28 04:04:41 ubuntu etcd[57456]: member dir = /opt/stack/data/etcd/member
Mar 28 04:04:41 ubuntu etcd[57456]: heartbeat = 100ms
Mar 28 04:04:41 ubuntu etcd[57456]: election = 1000ms
Mar 28 04:04:41 ubuntu etcd[57456]: snapshot count = 100000
Mar 28 04:04:41 ubuntu etcd[57456]: advertise client URLs = http://10.201.9.223:2379
Mar 28 04:04:41 ubuntu etcd[57456]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 28 04:04:41 ubuntu etcd[57456]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 28 04:04:41 ubuntu etcd[57456]: raft2025/03/28 04:04:41 INFO: c25b29daa831042c switched to configuration voters=()
Mar 28 04:04:41 ubuntu etcd[57456]: raft2025/03/28 04:04:41 INFO: c25b29daa831042c became follower at term 0
Mar 28 04:04:41 ubuntu etcd[57456]: raft2025/03/28 04:04:41 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 28 04:04:41 ubuntu etcd[57456]: raft2025/03/28 04:04:41 INFO: c25b29daa831042c became follower at term 1
Mar 28 04:04:41 ubuntu etcd[57456]: raft2025/03/28 04:04:41 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 28 04:04:41 ubuntu etcd[57456]: simple token is not cryptographically signed
Mar 28 04:04:41 ubuntu etcd[57456]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 28 04:04:41 ubuntu etcd[57456]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 28 04:04:41 ubuntu etcd[57456]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 28 04:04:41 ubuntu etcd[57456]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 28 04:04:41 ubuntu etcd[57456]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 28 04:04:41 ubuntu etcd[57456]: raft2025/03/28 04:04:41 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 28 04:04:41 ubuntu etcd[57456]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 28 04:04:41 ubuntu etcd[57456]: listening for peers on [::]:2380
Mar 28 04:04:42 ubuntu etcd[57456]: raft2025/03/28 04:04:42 INFO: c25b29daa831042c is starting a new election at term 1
Mar 28 04:04:42 ubuntu etcd[57456]: raft2025/03/28 04:04:42 INFO: c25b29daa831042c became candidate at term 2
Mar 28 04:04:42 ubuntu etcd[57456]: raft2025/03/28 04:04:42 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 28 04:04:42 ubuntu etcd[57456]: raft2025/03/28 04:04:42 INFO: c25b29daa831042c became leader at term 2
Mar 28 04:04:42 ubuntu etcd[57456]: raft2025/03/28 04:04:42 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 28 04:04:42 ubuntu etcd[57456]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 28 04:04:42 ubuntu etcd[57456]: ready to serve client requests
Mar 28 04:04:42 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 28 04:04:42 ubuntu etcd[57456]: setting up the initial cluster version to 3.4
Mar 28 04:04:42 ubuntu etcd[57456]: set the initial cluster version to 3.4
Mar 28 04:04:42 ubuntu etcd[57456]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 28 04:04:42 ubuntu etcd[57456]: enabled capabilities for version 3.4
Mar 28 04:08:48 ubuntu etcd[57456]: start time = 2025-03-28 04:08:48.335671658 +0000 UTC m=+247.056778864, time spent = 437.729µs, remote = 10.201.9.223:41084, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 04:08:48 ubuntu etcd[57456]: start time = 2025-03-28 04:08:48.444716737 +0000 UTC m=+247.165823958, time spent = 184.809µs, remote = 10.201.9.223:41084, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 04:08:54 ubuntu etcd[57456]: start time = 2025-03-28 04:08:54.723631312 +0000 UTC m=+253.444738518, time spent = 146.575µs, remote = 10.201.9.223:41084, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 04:08:56 ubuntu etcd[57456]: start time = 2025-03-28 04:08:56.813831439 +0000 UTC m=+255.534938658, time spent = 178.447µs, remote = 10.201.9.223:41084, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
