Jun 13 03:06:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 13 03:06:23 ubuntu etcd[59258]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 13 03:06:23 ubuntu etcd[59258]:         A future release of golang/protobuf will delete this package,
Jun 13 03:06:23 ubuntu etcd[59258]:         which has long been excluded from the compatibility promise.
Jun 13 03:06:23 ubuntu etcd[59258]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 13 03:06:23 ubuntu etcd[59258]: Running http and grpc server on single port. This is not recommended for production.
Jun 13 03:06:23 ubuntu etcd[59258]: etcd Version: 3.4.27
Jun 13 03:06:23 ubuntu etcd[59258]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 13 03:06:23 ubuntu etcd[59258]: Git SHA: c92fb80f3
Jun 13 03:06:23 ubuntu etcd[59258]: Go Version: go1.19.10
Jun 13 03:06:23 ubuntu etcd[59258]: Go OS/Arch: linux/amd64
Jun 13 03:06:23 ubuntu etcd[59258]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 13 03:06:23 ubuntu etcd[59258]: Running http and grpc server on single port. This is not recommended for production.
Jun 13 03:06:23 ubuntu etcd[59258]: name = ubuntu
Jun 13 03:06:23 ubuntu etcd[59258]: data dir = /opt/stack/data/etcd
Jun 13 03:06:23 ubuntu etcd[59258]: member dir = /opt/stack/data/etcd/member
Jun 13 03:06:23 ubuntu etcd[59258]: heartbeat = 100ms
Jun 13 03:06:23 ubuntu etcd[59258]: election = 1000ms
Jun 13 03:06:23 ubuntu etcd[59258]: snapshot count = 100000
Jun 13 03:06:23 ubuntu etcd[59258]: advertise client URLs = http://10.201.9.223:2379
Jun 13 03:06:23 ubuntu etcd[59258]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 13 03:06:23 ubuntu etcd[59258]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 13 03:06:23 ubuntu etcd[59258]: raft2025/06/13 03:06:23 INFO: c25b29daa831042c switched to configuration voters=()
Jun 13 03:06:23 ubuntu etcd[59258]: raft2025/06/13 03:06:23 INFO: c25b29daa831042c became follower at term 0
Jun 13 03:06:23 ubuntu etcd[59258]: raft2025/06/13 03:06:23 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 13 03:06:23 ubuntu etcd[59258]: raft2025/06/13 03:06:23 INFO: c25b29daa831042c became follower at term 1
Jun 13 03:06:23 ubuntu etcd[59258]: raft2025/06/13 03:06:23 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 13 03:06:23 ubuntu etcd[59258]: simple token is not cryptographically signed
Jun 13 03:06:23 ubuntu etcd[59258]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 13 03:06:23 ubuntu etcd[59258]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 13 03:06:23 ubuntu etcd[59258]: raft2025/06/13 03:06:23 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 13 03:06:23 ubuntu etcd[59258]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 13 03:06:23 ubuntu etcd[59258]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 13 03:06:23 ubuntu etcd[59258]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 13 03:06:23 ubuntu etcd[59258]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 13 03:06:23 ubuntu etcd[59258]: listening for peers on [::]:2380
Jun 13 03:06:23 ubuntu etcd[59258]: raft2025/06/13 03:06:23 INFO: c25b29daa831042c is starting a new election at term 1
Jun 13 03:06:23 ubuntu etcd[59258]: raft2025/06/13 03:06:23 INFO: c25b29daa831042c became candidate at term 2
Jun 13 03:06:23 ubuntu etcd[59258]: raft2025/06/13 03:06:23 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 13 03:06:23 ubuntu etcd[59258]: raft2025/06/13 03:06:23 INFO: c25b29daa831042c became leader at term 2
Jun 13 03:06:23 ubuntu etcd[59258]: raft2025/06/13 03:06:23 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 13 03:06:23 ubuntu etcd[59258]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 13 03:06:23 ubuntu etcd[59258]: setting up the initial cluster version to 3.4
Jun 13 03:06:23 ubuntu etcd[59258]: ready to serve client requests
Jun 13 03:06:23 ubuntu etcd[59258]: set the initial cluster version to 3.4
Jun 13 03:06:23 ubuntu etcd[59258]: enabled capabilities for version 3.4
Jun 13 03:06:23 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 13 03:06:23 ubuntu etcd[59258]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 13 03:10:33 ubuntu etcd[59258]: start time = 2025-06-13 03:10:33.199619302 +0000 UTC m=+249.931942265, time spent = 518.197µs, remote = 10.201.9.223:59598, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 13 03:10:33 ubuntu etcd[59258]: start time = 2025-06-13 03:10:33.254448721 +0000 UTC m=+249.986771684, time spent = 191.078µs, remote = 10.201.9.223:59598, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 13 03:10:39 ubuntu etcd[59258]: start time = 2025-06-13 03:10:39.961080964 +0000 UTC m=+256.693403942, time spent = 511.337µs, remote = 10.201.9.223:59598, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 13 03:10:42 ubuntu etcd[59258]: start time = 2025-06-13 03:10:42.058544164 +0000 UTC m=+258.790867142, time spent = 2.101335ms, remote = 10.201.9.223:59598, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
