Mar 03 13:40:22 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 03 13:40:22 ubuntu etcd[70889]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 03 13:40:22 ubuntu etcd[70889]:         A future release of golang/protobuf will delete this package,
Mar 03 13:40:22 ubuntu etcd[70889]:         which has long been excluded from the compatibility promise.
Mar 03 13:40:22 ubuntu etcd[70889]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 03 13:40:22 ubuntu etcd[70889]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 03 13:40:22 ubuntu etcd[70889]: Running http and grpc server on single port. This is not recommended for production.
Mar 03 13:40:22 ubuntu etcd[70889]: etcd Version: 3.4.27
Mar 03 13:40:22 ubuntu etcd[70889]: Git SHA: c92fb80f3
Mar 03 13:40:22 ubuntu etcd[70889]: Go Version: go1.19.10
Mar 03 13:40:22 ubuntu etcd[70889]: Go OS/Arch: linux/amd64
Mar 03 13:40:22 ubuntu etcd[70889]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 03 13:40:22 ubuntu etcd[70889]: Running http and grpc server on single port. This is not recommended for production.
Mar 03 13:40:22 ubuntu etcd[70889]: name = ubuntu
Mar 03 13:40:22 ubuntu etcd[70889]: data dir = /opt/stack/data/etcd
Mar 03 13:40:22 ubuntu etcd[70889]: member dir = /opt/stack/data/etcd/member
Mar 03 13:40:22 ubuntu etcd[70889]: heartbeat = 100ms
Mar 03 13:40:22 ubuntu etcd[70889]: election = 1000ms
Mar 03 13:40:22 ubuntu etcd[70889]: snapshot count = 100000
Mar 03 13:40:22 ubuntu etcd[70889]: advertise client URLs = http://10.201.9.223:2379
Mar 03 13:40:22 ubuntu etcd[70889]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 03 13:40:22 ubuntu etcd[70889]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 03 13:40:22 ubuntu etcd[70889]: raft2025/03/03 13:40:22 INFO: c25b29daa831042c switched to configuration voters=()
Mar 03 13:40:22 ubuntu etcd[70889]: raft2025/03/03 13:40:22 INFO: c25b29daa831042c became follower at term 0
Mar 03 13:40:22 ubuntu etcd[70889]: raft2025/03/03 13:40:22 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 03 13:40:22 ubuntu etcd[70889]: raft2025/03/03 13:40:22 INFO: c25b29daa831042c became follower at term 1
Mar 03 13:40:22 ubuntu etcd[70889]: raft2025/03/03 13:40:22 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 03 13:40:22 ubuntu etcd[70889]: simple token is not cryptographically signed
Mar 03 13:40:22 ubuntu etcd[70889]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 03 13:40:22 ubuntu etcd[70889]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 03 13:40:22 ubuntu etcd[70889]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 03 13:40:22 ubuntu etcd[70889]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 03 13:40:22 ubuntu etcd[70889]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 03 13:40:22 ubuntu etcd[70889]: raft2025/03/03 13:40:22 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 03 13:40:22 ubuntu etcd[70889]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 03 13:40:22 ubuntu etcd[70889]: listening for peers on [::]:2380
Mar 03 13:40:23 ubuntu etcd[70889]: raft2025/03/03 13:40:23 INFO: c25b29daa831042c is starting a new election at term 1
Mar 03 13:40:23 ubuntu etcd[70889]: raft2025/03/03 13:40:23 INFO: c25b29daa831042c became candidate at term 2
Mar 03 13:40:23 ubuntu etcd[70889]: raft2025/03/03 13:40:23 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 03 13:40:23 ubuntu etcd[70889]: raft2025/03/03 13:40:23 INFO: c25b29daa831042c became leader at term 2
Mar 03 13:40:23 ubuntu etcd[70889]: raft2025/03/03 13:40:23 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 03 13:40:23 ubuntu etcd[70889]: setting up the initial cluster version to 3.4
Mar 03 13:40:23 ubuntu etcd[70889]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 03 13:40:23 ubuntu etcd[70889]: set the initial cluster version to 3.4
Mar 03 13:40:23 ubuntu etcd[70889]: enabled capabilities for version 3.4
Mar 03 13:40:23 ubuntu etcd[70889]: ready to serve client requests
Mar 03 13:40:23 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 03 13:40:23 ubuntu etcd[70889]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 03 13:44:35 ubuntu etcd[70889]: start time = 2025-03-03 13:44:35.861113178 +0000 UTC m=+253.368396517, time spent = 391.507µs, remote = 10.201.9.223:34806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 03 13:44:36 ubuntu etcd[70889]: start time = 2025-03-03 13:44:36.034390332 +0000 UTC m=+253.541673689, time spent = 182.611µs, remote = 10.201.9.223:34806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 03 13:44:42 ubuntu etcd[70889]: start time = 2025-03-03 13:44:42.441068421 +0000 UTC m=+259.948351777, time spent = 226.298µs, remote = 10.201.9.223:34806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 03 13:44:44 ubuntu etcd[70889]: start time = 2025-03-03 13:44:44.627109016 +0000 UTC m=+262.134392369, time spent = 331.426µs, remote = 10.201.9.223:34806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
