Oct 03 09:42:26 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 03 09:42:26 ubuntu etcd[62104]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 03 09:42:26 ubuntu etcd[62104]:         A future release of golang/protobuf will delete this package,
Oct 03 09:42:26 ubuntu etcd[62104]:         which has long been excluded from the compatibility promise.
Oct 03 09:42:26 ubuntu etcd[62104]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 03 09:42:26 ubuntu etcd[62104]: Running http and grpc server on single port. This is not recommended for production.
Oct 03 09:42:26 ubuntu etcd[62104]: etcd Version: 3.4.27
Oct 03 09:42:26 ubuntu etcd[62104]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 03 09:42:26 ubuntu etcd[62104]: Git SHA: c92fb80f3
Oct 03 09:42:26 ubuntu etcd[62104]: Go Version: go1.19.10
Oct 03 09:42:26 ubuntu etcd[62104]: Go OS/Arch: linux/amd64
Oct 03 09:42:26 ubuntu etcd[62104]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 03 09:42:26 ubuntu etcd[62104]: Running http and grpc server on single port. This is not recommended for production.
Oct 03 09:42:26 ubuntu etcd[62104]: name = ubuntu
Oct 03 09:42:26 ubuntu etcd[62104]: data dir = /opt/stack/data/etcd
Oct 03 09:42:26 ubuntu etcd[62104]: member dir = /opt/stack/data/etcd/member
Oct 03 09:42:26 ubuntu etcd[62104]: heartbeat = 100ms
Oct 03 09:42:26 ubuntu etcd[62104]: election = 1000ms
Oct 03 09:42:26 ubuntu etcd[62104]: snapshot count = 100000
Oct 03 09:42:26 ubuntu etcd[62104]: advertise client URLs = http://10.201.4.32:2379
Oct 03 09:42:26 ubuntu etcd[62104]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 03 09:42:26 ubuntu etcd[62104]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 03 09:42:26 ubuntu etcd[62104]: raft2024/10/03 09:42:26 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 03 09:42:26 ubuntu etcd[62104]: raft2024/10/03 09:42:26 INFO: 33238c1cdfea94eb became follower at term 0
Oct 03 09:42:26 ubuntu etcd[62104]: raft2024/10/03 09:42:26 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 03 09:42:26 ubuntu etcd[62104]: raft2024/10/03 09:42:26 INFO: 33238c1cdfea94eb became follower at term 1
Oct 03 09:42:26 ubuntu etcd[62104]: raft2024/10/03 09:42:26 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 03 09:42:26 ubuntu etcd[62104]: simple token is not cryptographically signed
Oct 03 09:42:26 ubuntu etcd[62104]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 03 09:42:26 ubuntu etcd[62104]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 03 09:42:26 ubuntu etcd[62104]: raft2024/10/03 09:42:26 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 03 09:42:26 ubuntu etcd[62104]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 03 09:42:26 ubuntu etcd[62104]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 03 09:42:26 ubuntu etcd[62104]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 03 09:42:26 ubuntu etcd[62104]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 03 09:42:26 ubuntu etcd[62104]: listening for peers on [::]:2380
Oct 03 09:42:27 ubuntu etcd[62104]: raft2024/10/03 09:42:27 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 03 09:42:27 ubuntu etcd[62104]: raft2024/10/03 09:42:27 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 03 09:42:27 ubuntu etcd[62104]: raft2024/10/03 09:42:27 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 03 09:42:27 ubuntu etcd[62104]: raft2024/10/03 09:42:27 INFO: 33238c1cdfea94eb became leader at term 2
Oct 03 09:42:27 ubuntu etcd[62104]: raft2024/10/03 09:42:27 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 03 09:42:27 ubuntu etcd[62104]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 03 09:42:27 ubuntu etcd[62104]: ready to serve client requests
Oct 03 09:42:27 ubuntu etcd[62104]: setting up the initial cluster version to 3.4
Oct 03 09:42:27 ubuntu etcd[62104]: set the initial cluster version to 3.4
Oct 03 09:42:27 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 03 09:42:27 ubuntu etcd[62104]: enabled capabilities for version 3.4
Oct 03 09:42:27 ubuntu etcd[62104]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 03 09:46:47 ubuntu etcd[62104]: start time = 2024-10-03 09:46:47.358992884 +0000 UTC m=+260.659185087, time spent = 874.81µs, remote = 10.201.4.32:39424, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 03 09:46:47 ubuntu etcd[62104]: start time = 2024-10-03 09:46:47.523164242 +0000 UTC m=+260.823356488, time spent = 322.086µs, remote = 10.201.4.32:39424, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 03 09:46:54 ubuntu etcd[62104]: start time = 2024-10-03 09:46:54.034191689 +0000 UTC m=+267.334383892, time spent = 246.343µs, remote = 10.201.4.32:39424, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 03 09:46:56 ubuntu etcd[62104]: start time = 2024-10-03 09:46:56.451933288 +0000 UTC m=+269.752125509, time spent = 182.415µs, remote = 10.201.4.32:39424, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
