Mar 18 08:30:41 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 18 08:30:41 ubuntu etcd[60518]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 18 08:30:41 ubuntu etcd[60518]:         A future release of golang/protobuf will delete this package,
Mar 18 08:30:41 ubuntu etcd[60518]:         which has long been excluded from the compatibility promise.
Mar 18 08:30:41 ubuntu etcd[60518]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 18 08:30:41 ubuntu etcd[60518]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 18 08:30:41 ubuntu etcd[60518]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 18 08:30:41 ubuntu etcd[60518]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 18 08:30:41 ubuntu etcd[60518]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 18 08:30:41 ubuntu etcd[60518]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 18 08:30:41 ubuntu etcd[60518]: Running http and grpc server on single port. This is not recommended for production.
Mar 18 08:30:41 ubuntu etcd[60518]: etcd Version: 3.4.27
Mar 18 08:30:41 ubuntu etcd[60518]: Git SHA: c92fb80f3
Mar 18 08:30:41 ubuntu etcd[60518]: Go Version: go1.19.10
Mar 18 08:30:41 ubuntu etcd[60518]: Go OS/Arch: linux/amd64
Mar 18 08:30:41 ubuntu etcd[60518]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 18 08:30:41 ubuntu etcd[60518]: Running http and grpc server on single port. This is not recommended for production.
Mar 18 08:30:41 ubuntu etcd[60518]: name = ubuntu
Mar 18 08:30:41 ubuntu etcd[60518]: data dir = /opt/stack/data/etcd
Mar 18 08:30:41 ubuntu etcd[60518]: member dir = /opt/stack/data/etcd/member
Mar 18 08:30:41 ubuntu etcd[60518]: heartbeat = 100ms
Mar 18 08:30:41 ubuntu etcd[60518]: election = 1000ms
Mar 18 08:30:41 ubuntu etcd[60518]: snapshot count = 100000
Mar 18 08:30:41 ubuntu etcd[60518]: advertise client URLs = http://10.201.4.32:2379
Mar 18 08:30:41 ubuntu etcd[60518]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 18 08:30:41 ubuntu etcd[60518]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 18 08:30:41 ubuntu etcd[60518]: raft2024/03/18 08:30:41 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 18 08:30:41 ubuntu etcd[60518]: raft2024/03/18 08:30:41 INFO: 33238c1cdfea94eb became follower at term 0
Mar 18 08:30:41 ubuntu etcd[60518]: raft2024/03/18 08:30:41 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 18 08:30:41 ubuntu etcd[60518]: raft2024/03/18 08:30:41 INFO: 33238c1cdfea94eb became follower at term 1
Mar 18 08:30:41 ubuntu etcd[60518]: raft2024/03/18 08:30:41 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 18 08:30:41 ubuntu etcd[60518]: simple token is not cryptographically signed
Mar 18 08:30:41 ubuntu etcd[60518]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 18 08:30:41 ubuntu etcd[60518]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 18 08:30:41 ubuntu etcd[60518]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 18 08:30:41 ubuntu etcd[60518]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 18 08:30:41 ubuntu etcd[60518]: raft2024/03/18 08:30:41 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 18 08:30:41 ubuntu etcd[60518]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 18 08:30:41 ubuntu etcd[60518]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 18 08:30:41 ubuntu etcd[60518]: listening for peers on [::]:2380
Mar 18 08:30:41 ubuntu etcd[60518]: raft2024/03/18 08:30:41 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 18 08:30:41 ubuntu etcd[60518]: raft2024/03/18 08:30:41 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 18 08:30:41 ubuntu etcd[60518]: raft2024/03/18 08:30:41 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 18 08:30:41 ubuntu etcd[60518]: raft2024/03/18 08:30:41 INFO: 33238c1cdfea94eb became leader at term 2
Mar 18 08:30:41 ubuntu etcd[60518]: raft2024/03/18 08:30:41 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 18 08:30:41 ubuntu etcd[60518]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 18 08:30:41 ubuntu etcd[60518]: ready to serve client requests
Mar 18 08:30:41 ubuntu etcd[60518]: setting up the initial cluster version to 3.4
Mar 18 08:30:41 ubuntu etcd[60518]: INFO: 2024/03/18 08:30:41 parsed scheme: ""
Mar 18 08:30:41 ubuntu etcd[60518]: INFO: 2024/03/18 08:30:41 scheme "" not registered, fallback to default scheme
Mar 18 08:30:41 ubuntu etcd[60518]: INFO: 2024/03/18 08:30:41 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 18 08:30:41 ubuntu etcd[60518]: INFO: 2024/03/18 08:30:41 ClientConn switching balancer to "pick_first"
Mar 18 08:30:41 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 18 08:30:41 ubuntu etcd[60518]: set the initial cluster version to 3.4
Mar 18 08:30:41 ubuntu etcd[60518]: enabled capabilities for version 3.4
Mar 18 08:30:41 ubuntu etcd[60518]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 18 08:34:58 ubuntu etcd[60518]: start time = 2024-03-18 08:34:58.294377856 +0000 UTC m=+257.136278937, time spent = 499.161µs, remote = 10.201.4.32:46210, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 18 08:34:58 ubuntu etcd[60518]: start time = 2024-03-18 08:34:58.405769982 +0000 UTC m=+257.247671064, time spent = 193.062µs, remote = 10.201.4.32:46210, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 18 08:35:05 ubuntu etcd[60518]: start time = 2024-03-18 08:35:05.063681299 +0000 UTC m=+263.905582391, time spent = 174.687µs, remote = 10.201.4.32:46210, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 18 08:35:07 ubuntu etcd[60518]: start time = 2024-03-18 08:35:07.398023971 +0000 UTC m=+266.239925063, time spent = 178.86µs, remote = 10.201.4.32:46210, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
