Mar 14 12:03:14 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 14 12:03:14 ubuntu etcd[60577]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 14 12:03:14 ubuntu etcd[60577]:         A future release of golang/protobuf will delete this package,
Mar 14 12:03:14 ubuntu etcd[60577]:         which has long been excluded from the compatibility promise.
Mar 14 12:03:14 ubuntu etcd[60577]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 14 12:03:14 ubuntu etcd[60577]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 14 12:03:14 ubuntu etcd[60577]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 14 12:03:14 ubuntu etcd[60577]: Running http and grpc server on single port. This is not recommended for production.
Mar 14 12:03:14 ubuntu etcd[60577]: etcd Version: 3.4.27
Mar 14 12:03:14 ubuntu etcd[60577]: Git SHA: c92fb80f3
Mar 14 12:03:14 ubuntu etcd[60577]: Go Version: go1.19.10
Mar 14 12:03:14 ubuntu etcd[60577]: Go OS/Arch: linux/amd64
Mar 14 12:03:14 ubuntu etcd[60577]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 14 12:03:14 ubuntu etcd[60577]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 14 12:03:14 ubuntu etcd[60577]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 14 12:03:14 ubuntu etcd[60577]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 14 12:03:14 ubuntu etcd[60577]: Running http and grpc server on single port. This is not recommended for production.
Mar 14 12:03:14 ubuntu etcd[60577]: name = ubuntu
Mar 14 12:03:14 ubuntu etcd[60577]: data dir = /opt/stack/data/etcd
Mar 14 12:03:14 ubuntu etcd[60577]: member dir = /opt/stack/data/etcd/member
Mar 14 12:03:14 ubuntu etcd[60577]: heartbeat = 100ms
Mar 14 12:03:14 ubuntu etcd[60577]: election = 1000ms
Mar 14 12:03:14 ubuntu etcd[60577]: snapshot count = 100000
Mar 14 12:03:14 ubuntu etcd[60577]: advertise client URLs = http://10.201.4.32:2379
Mar 14 12:03:14 ubuntu etcd[60577]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 14 12:03:14 ubuntu etcd[60577]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 14 12:03:14 ubuntu etcd[60577]: raft2024/03/14 12:03:14 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 14 12:03:14 ubuntu etcd[60577]: raft2024/03/14 12:03:14 INFO: 33238c1cdfea94eb became follower at term 0
Mar 14 12:03:14 ubuntu etcd[60577]: raft2024/03/14 12:03:14 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 14 12:03:14 ubuntu etcd[60577]: raft2024/03/14 12:03:14 INFO: 33238c1cdfea94eb became follower at term 1
Mar 14 12:03:14 ubuntu etcd[60577]: raft2024/03/14 12:03:14 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 14 12:03:14 ubuntu etcd[60577]: simple token is not cryptographically signed
Mar 14 12:03:14 ubuntu etcd[60577]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 14 12:03:14 ubuntu etcd[60577]: raft2024/03/14 12:03:14 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 14 12:03:14 ubuntu etcd[60577]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 14 12:03:14 ubuntu etcd[60577]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 14 12:03:14 ubuntu etcd[60577]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 14 12:03:14 ubuntu etcd[60577]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 14 12:03:14 ubuntu etcd[60577]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 14 12:03:14 ubuntu etcd[60577]: listening for peers on [::]:2380
Mar 14 12:03:15 ubuntu etcd[60577]: raft2024/03/14 12:03:15 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 14 12:03:15 ubuntu etcd[60577]: raft2024/03/14 12:03:15 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 14 12:03:15 ubuntu etcd[60577]: raft2024/03/14 12:03:15 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 14 12:03:15 ubuntu etcd[60577]: raft2024/03/14 12:03:15 INFO: 33238c1cdfea94eb became leader at term 2
Mar 14 12:03:15 ubuntu etcd[60577]: raft2024/03/14 12:03:15 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 14 12:03:15 ubuntu etcd[60577]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 14 12:03:15 ubuntu etcd[60577]: setting up the initial cluster version to 3.4
Mar 14 12:03:15 ubuntu etcd[60577]: set the initial cluster version to 3.4
Mar 14 12:03:15 ubuntu etcd[60577]: enabled capabilities for version 3.4
Mar 14 12:03:15 ubuntu etcd[60577]: ready to serve client requests
Mar 14 12:03:15 ubuntu etcd[60577]: INFO: 2024/03/14 12:03:15 parsed scheme: ""
Mar 14 12:03:15 ubuntu etcd[60577]: INFO: 2024/03/14 12:03:15 scheme "" not registered, fallback to default scheme
Mar 14 12:03:15 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 14 12:03:15 ubuntu etcd[60577]: INFO: 2024/03/14 12:03:15 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 14 12:03:15 ubuntu etcd[60577]: INFO: 2024/03/14 12:03:15 ClientConn switching balancer to "pick_first"
Mar 14 12:03:15 ubuntu etcd[60577]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 14 12:07:35 ubuntu etcd[60577]: start time = 2024-03-14 12:07:35.269887371 +0000 UTC m=+260.506974515, time spent = 528.052µs, remote = 10.201.4.32:40250, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 14 12:07:35 ubuntu etcd[60577]: start time = 2024-03-14 12:07:35.278269443 +0000 UTC m=+260.515356587, time spent = 158.115µs, remote = 10.201.4.32:40250, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 14 12:07:42 ubuntu etcd[60577]: start time = 2024-03-14 12:07:42.257712723 +0000 UTC m=+267.494799878, time spent = 270.418µs, remote = 10.201.4.32:40250, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 14 12:07:44 ubuntu etcd[60577]: start time = 2024-03-14 12:07:44.61551483 +0000 UTC m=+269.852601985, time spent = 219.184µs, remote = 10.201.4.32:40250, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
