Mar 29 10:04:00 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 29 10:04:00 ubuntu etcd[60728]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 29 10:04:00 ubuntu etcd[60728]:         A future release of golang/protobuf will delete this package,
Mar 29 10:04:00 ubuntu etcd[60728]:         which has long been excluded from the compatibility promise.
Mar 29 10:04:00 ubuntu etcd[60728]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 29 10:04:00 ubuntu etcd[60728]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 29 10:04:00 ubuntu etcd[60728]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 29 10:04:00 ubuntu etcd[60728]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 29 10:04:00 ubuntu etcd[60728]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 29 10:04:00 ubuntu etcd[60728]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 29 10:04:00 ubuntu etcd[60728]: Running http and grpc server on single port. This is not recommended for production.
Mar 29 10:04:00 ubuntu etcd[60728]: etcd Version: 3.4.27
Mar 29 10:04:00 ubuntu etcd[60728]: Git SHA: c92fb80f3
Mar 29 10:04:00 ubuntu etcd[60728]: Go Version: go1.19.10
Mar 29 10:04:00 ubuntu etcd[60728]: Go OS/Arch: linux/amd64
Mar 29 10:04:00 ubuntu etcd[60728]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 29 10:04:00 ubuntu etcd[60728]: Running http and grpc server on single port. This is not recommended for production.
Mar 29 10:04:00 ubuntu etcd[60728]: name = ubuntu
Mar 29 10:04:00 ubuntu etcd[60728]: data dir = /opt/stack/data/etcd
Mar 29 10:04:00 ubuntu etcd[60728]: member dir = /opt/stack/data/etcd/member
Mar 29 10:04:00 ubuntu etcd[60728]: heartbeat = 100ms
Mar 29 10:04:00 ubuntu etcd[60728]: election = 1000ms
Mar 29 10:04:00 ubuntu etcd[60728]: snapshot count = 100000
Mar 29 10:04:00 ubuntu etcd[60728]: advertise client URLs = http://10.201.4.32:2379
Mar 29 10:04:00 ubuntu etcd[60728]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 29 10:04:00 ubuntu etcd[60728]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 29 10:04:00 ubuntu etcd[60728]: raft2024/03/29 10:04:00 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 29 10:04:00 ubuntu etcd[60728]: raft2024/03/29 10:04:00 INFO: 33238c1cdfea94eb became follower at term 0
Mar 29 10:04:00 ubuntu etcd[60728]: raft2024/03/29 10:04:00 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 29 10:04:00 ubuntu etcd[60728]: raft2024/03/29 10:04:00 INFO: 33238c1cdfea94eb became follower at term 1
Mar 29 10:04:00 ubuntu etcd[60728]: raft2024/03/29 10:04:00 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 29 10:04:00 ubuntu etcd[60728]: simple token is not cryptographically signed
Mar 29 10:04:00 ubuntu etcd[60728]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 29 10:04:00 ubuntu etcd[60728]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 29 10:04:00 ubuntu etcd[60728]: raft2024/03/29 10:04:00 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 29 10:04:00 ubuntu etcd[60728]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 29 10:04:00 ubuntu etcd[60728]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 29 10:04:00 ubuntu etcd[60728]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 29 10:04:00 ubuntu etcd[60728]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 29 10:04:00 ubuntu etcd[60728]: listening for peers on [::]:2380
Mar 29 10:04:00 ubuntu etcd[60728]: raft2024/03/29 10:04:00 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 29 10:04:00 ubuntu etcd[60728]: raft2024/03/29 10:04:00 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 29 10:04:00 ubuntu etcd[60728]: raft2024/03/29 10:04:00 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 29 10:04:00 ubuntu etcd[60728]: raft2024/03/29 10:04:00 INFO: 33238c1cdfea94eb became leader at term 2
Mar 29 10:04:00 ubuntu etcd[60728]: raft2024/03/29 10:04:00 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 29 10:04:00 ubuntu etcd[60728]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 29 10:04:00 ubuntu etcd[60728]: setting up the initial cluster version to 3.4
Mar 29 10:04:00 ubuntu etcd[60728]: INFO: 2024/03/29 10:04:00 parsed scheme: ""
Mar 29 10:04:00 ubuntu etcd[60728]: INFO: 2024/03/29 10:04:00 scheme "" not registered, fallback to default scheme
Mar 29 10:04:00 ubuntu etcd[60728]: INFO: 2024/03/29 10:04:00 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 29 10:04:00 ubuntu etcd[60728]: INFO: 2024/03/29 10:04:00 ClientConn switching balancer to "pick_first"
Mar 29 10:04:00 ubuntu etcd[60728]: ready to serve client requests
Mar 29 10:04:00 ubuntu etcd[60728]: set the initial cluster version to 3.4
Mar 29 10:04:00 ubuntu etcd[60728]: enabled capabilities for version 3.4
Mar 29 10:04:00 ubuntu etcd[60728]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 29 10:04:00 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 29 10:08:17 ubuntu etcd[60728]: start time = 2024-03-29 10:08:17.588595893 +0000 UTC m=+257.469808847, time spent = 403.406µs, remote = 10.201.4.32:42076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 29 10:08:17 ubuntu etcd[60728]: start time = 2024-03-29 10:08:17.590258551 +0000 UTC m=+257.471471516, time spent = 176.075µs, remote = 10.201.4.32:42076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 29 10:08:24 ubuntu etcd[60728]: start time = 2024-03-29 10:08:24.215450865 +0000 UTC m=+264.096663819, time spent = 282.99µs, remote = 10.201.4.32:42076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 29 10:08:26 ubuntu etcd[60728]: start time = 2024-03-29 10:08:26.592484642 +0000 UTC m=+266.473697597, time spent = 281.544µs, remote = 10.201.4.32:42076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
