Apr 22 12:59:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 22 12:59:39 ubuntu etcd[57798]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 22 12:59:39 ubuntu etcd[57798]:         A future release of golang/protobuf will delete this package,
Apr 22 12:59:39 ubuntu etcd[57798]:         which has long been excluded from the compatibility promise.
Apr 22 12:59:39 ubuntu etcd[57798]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 22 12:59:39 ubuntu etcd[57798]: Running http and grpc server on single port. This is not recommended for production.
Apr 22 12:59:39 ubuntu etcd[57798]: etcd Version: 3.4.27
Apr 22 12:59:39 ubuntu etcd[57798]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 22 12:59:39 ubuntu etcd[57798]: Git SHA: c92fb80f3
Apr 22 12:59:39 ubuntu etcd[57798]: Go Version: go1.19.10
Apr 22 12:59:39 ubuntu etcd[57798]: Go OS/Arch: linux/amd64
Apr 22 12:59:39 ubuntu etcd[57798]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 22 12:59:39 ubuntu etcd[57798]: Running http and grpc server on single port. This is not recommended for production.
Apr 22 12:59:39 ubuntu etcd[57798]: name = ubuntu
Apr 22 12:59:39 ubuntu etcd[57798]: data dir = /opt/stack/data/etcd
Apr 22 12:59:39 ubuntu etcd[57798]: member dir = /opt/stack/data/etcd/member
Apr 22 12:59:39 ubuntu etcd[57798]: heartbeat = 100ms
Apr 22 12:59:39 ubuntu etcd[57798]: election = 1000ms
Apr 22 12:59:39 ubuntu etcd[57798]: snapshot count = 100000
Apr 22 12:59:39 ubuntu etcd[57798]: advertise client URLs = http://10.201.9.223:2379
Apr 22 12:59:39 ubuntu etcd[57798]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 22 12:59:39 ubuntu etcd[57798]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 22 12:59:39 ubuntu etcd[57798]: raft2025/04/22 12:59:39 INFO: c25b29daa831042c switched to configuration voters=()
Apr 22 12:59:39 ubuntu etcd[57798]: raft2025/04/22 12:59:39 INFO: c25b29daa831042c became follower at term 0
Apr 22 12:59:39 ubuntu etcd[57798]: raft2025/04/22 12:59:39 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 22 12:59:39 ubuntu etcd[57798]: raft2025/04/22 12:59:39 INFO: c25b29daa831042c became follower at term 1
Apr 22 12:59:39 ubuntu etcd[57798]: raft2025/04/22 12:59:39 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 22 12:59:39 ubuntu etcd[57798]: simple token is not cryptographically signed
Apr 22 12:59:39 ubuntu etcd[57798]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 22 12:59:39 ubuntu etcd[57798]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 22 12:59:39 ubuntu etcd[57798]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 22 12:59:39 ubuntu etcd[57798]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 22 12:59:39 ubuntu etcd[57798]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 22 12:59:39 ubuntu etcd[57798]: raft2025/04/22 12:59:39 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 22 12:59:39 ubuntu etcd[57798]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 22 12:59:39 ubuntu etcd[57798]: listening for peers on [::]:2380
Apr 22 12:59:39 ubuntu etcd[57798]: raft2025/04/22 12:59:39 INFO: c25b29daa831042c is starting a new election at term 1
Apr 22 12:59:39 ubuntu etcd[57798]: raft2025/04/22 12:59:39 INFO: c25b29daa831042c became candidate at term 2
Apr 22 12:59:39 ubuntu etcd[57798]: raft2025/04/22 12:59:39 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 22 12:59:39 ubuntu etcd[57798]: raft2025/04/22 12:59:39 INFO: c25b29daa831042c became leader at term 2
Apr 22 12:59:39 ubuntu etcd[57798]: raft2025/04/22 12:59:39 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 22 12:59:39 ubuntu etcd[57798]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 22 12:59:39 ubuntu etcd[57798]: setting up the initial cluster version to 3.4
Apr 22 12:59:39 ubuntu etcd[57798]: ready to serve client requests
Apr 22 12:59:39 ubuntu etcd[57798]: set the initial cluster version to 3.4
Apr 22 12:59:39 ubuntu etcd[57798]: enabled capabilities for version 3.4
Apr 22 12:59:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 22 12:59:39 ubuntu etcd[57798]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 22 13:03:45 ubuntu etcd[57798]: start time = 2025-04-22 13:03:45.121072454 +0000 UTC m=+245.802209123, time spent = 398.376µs, remote = 10.201.9.223:37962, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 13:03:45 ubuntu etcd[57798]: start time = 2025-04-22 13:03:45.182554979 +0000 UTC m=+245.863691664, time spent = 216.852µs, remote = 10.201.9.223:37962, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 13:03:51 ubuntu etcd[57798]: start time = 2025-04-22 13:03:51.789512067 +0000 UTC m=+252.470648735, time spent = 320.801µs, remote = 10.201.9.223:37962, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 13:03:54 ubuntu etcd[57798]: start time = 2025-04-22 13:03:53.999951149 +0000 UTC m=+254.681087833, time spent = 683.823µs, remote = 10.201.9.223:37962, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
