Feb 21 18:33:52 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 21 18:33:52 ubuntu etcd[60294]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 21 18:33:52 ubuntu etcd[60294]:         A future release of golang/protobuf will delete this package,
Feb 21 18:33:52 ubuntu etcd[60294]:         which has long been excluded from the compatibility promise.
Feb 21 18:33:52 ubuntu etcd[60294]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 21 18:33:52 ubuntu etcd[60294]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 21 18:33:52 ubuntu etcd[60294]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 21 18:33:52 ubuntu etcd[60294]: Running http and grpc server on single port. This is not recommended for production.
Feb 21 18:33:52 ubuntu etcd[60294]: etcd Version: 3.4.27
Feb 21 18:33:52 ubuntu etcd[60294]: Git SHA: c92fb80f3
Feb 21 18:33:52 ubuntu etcd[60294]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 21 18:33:52 ubuntu etcd[60294]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 21 18:33:52 ubuntu etcd[60294]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 21 18:33:52 ubuntu etcd[60294]: Go Version: go1.19.10
Feb 21 18:33:52 ubuntu etcd[60294]: Go OS/Arch: linux/amd64
Feb 21 18:33:52 ubuntu etcd[60294]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 21 18:33:52 ubuntu etcd[60294]: Running http and grpc server on single port. This is not recommended for production.
Feb 21 18:33:52 ubuntu etcd[60294]: name = ubuntu
Feb 21 18:33:52 ubuntu etcd[60294]: data dir = /opt/stack/data/etcd
Feb 21 18:33:52 ubuntu etcd[60294]: member dir = /opt/stack/data/etcd/member
Feb 21 18:33:52 ubuntu etcd[60294]: heartbeat = 100ms
Feb 21 18:33:52 ubuntu etcd[60294]: election = 1000ms
Feb 21 18:33:52 ubuntu etcd[60294]: snapshot count = 100000
Feb 21 18:33:52 ubuntu etcd[60294]: advertise client URLs = http://10.201.4.32:2379
Feb 21 18:33:52 ubuntu etcd[60294]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 21 18:33:52 ubuntu etcd[60294]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 21 18:33:52 ubuntu etcd[60294]: raft2024/02/21 18:33:52 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 21 18:33:52 ubuntu etcd[60294]: raft2024/02/21 18:33:52 INFO: 33238c1cdfea94eb became follower at term 0
Feb 21 18:33:52 ubuntu etcd[60294]: raft2024/02/21 18:33:52 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 21 18:33:52 ubuntu etcd[60294]: raft2024/02/21 18:33:52 INFO: 33238c1cdfea94eb became follower at term 1
Feb 21 18:33:52 ubuntu etcd[60294]: raft2024/02/21 18:33:52 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 21 18:33:52 ubuntu etcd[60294]: simple token is not cryptographically signed
Feb 21 18:33:52 ubuntu etcd[60294]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 21 18:33:52 ubuntu etcd[60294]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 21 18:33:52 ubuntu etcd[60294]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 21 18:33:52 ubuntu etcd[60294]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 21 18:33:52 ubuntu etcd[60294]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 21 18:33:52 ubuntu etcd[60294]: raft2024/02/21 18:33:52 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 21 18:33:52 ubuntu etcd[60294]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 21 18:33:52 ubuntu etcd[60294]: listening for peers on [::]:2380
Feb 21 18:33:53 ubuntu etcd[60294]: raft2024/02/21 18:33:53 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 21 18:33:53 ubuntu etcd[60294]: raft2024/02/21 18:33:53 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 21 18:33:53 ubuntu etcd[60294]: raft2024/02/21 18:33:53 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 21 18:33:53 ubuntu etcd[60294]: raft2024/02/21 18:33:53 INFO: 33238c1cdfea94eb became leader at term 2
Feb 21 18:33:53 ubuntu etcd[60294]: raft2024/02/21 18:33:53 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 21 18:33:53 ubuntu etcd[60294]: setting up the initial cluster version to 3.4
Feb 21 18:33:53 ubuntu etcd[60294]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 21 18:33:53 ubuntu etcd[60294]: ready to serve client requests
Feb 21 18:33:53 ubuntu etcd[60294]: INFO: 2024/02/21 18:33:53 parsed scheme: ""
Feb 21 18:33:53 ubuntu etcd[60294]: INFO: 2024/02/21 18:33:53 scheme "" not registered, fallback to default scheme
Feb 21 18:33:53 ubuntu etcd[60294]: INFO: 2024/02/21 18:33:53 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 21 18:33:53 ubuntu etcd[60294]: INFO: 2024/02/21 18:33:53 ClientConn switching balancer to "pick_first"
Feb 21 18:33:53 ubuntu etcd[60294]: set the initial cluster version to 3.4
Feb 21 18:33:53 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 21 18:33:53 ubuntu etcd[60294]: enabled capabilities for version 3.4
Feb 21 18:33:53 ubuntu etcd[60294]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 21 18:38:12 ubuntu etcd[60294]: start time = 2024-02-21 18:38:12.515065647 +0000 UTC m=+259.980301392, time spent = 732.708µs, remote = 10.201.4.32:55836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 21 18:38:12 ubuntu etcd[60294]: start time = 2024-02-21 18:38:12.562519667 +0000 UTC m=+260.027755413, time spent = 177.942µs, remote = 10.201.4.32:55836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 21 18:38:19 ubuntu etcd[60294]: start time = 2024-02-21 18:38:19.247810809 +0000 UTC m=+266.713046555, time spent = 349.539µs, remote = 10.201.4.32:55836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 21 18:38:21 ubuntu etcd[60294]: start time = 2024-02-21 18:38:21.435679711 +0000 UTC m=+268.900915468, time spent = 169.831µs, remote = 10.201.4.32:55836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
