Apr 23 05:57:42 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 23 05:57:42 ubuntu etcd[60407]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 23 05:57:42 ubuntu etcd[60407]:         A future release of golang/protobuf will delete this package,
Apr 23 05:57:42 ubuntu etcd[60407]:         which has long been excluded from the compatibility promise.
Apr 23 05:57:42 ubuntu etcd[60407]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 23 05:57:42 ubuntu etcd[60407]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 23 05:57:42 ubuntu etcd[60407]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 23 05:57:42 ubuntu etcd[60407]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 23 05:57:42 ubuntu etcd[60407]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 23 05:57:42 ubuntu etcd[60407]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 23 05:57:42 ubuntu etcd[60407]: Running http and grpc server on single port. This is not recommended for production.
Apr 23 05:57:42 ubuntu etcd[60407]: etcd Version: 3.4.27
Apr 23 05:57:42 ubuntu etcd[60407]: Git SHA: c92fb80f3
Apr 23 05:57:42 ubuntu etcd[60407]: Go Version: go1.19.10
Apr 23 05:57:42 ubuntu etcd[60407]: Go OS/Arch: linux/amd64
Apr 23 05:57:42 ubuntu etcd[60407]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 23 05:57:42 ubuntu etcd[60407]: Running http and grpc server on single port. This is not recommended for production.
Apr 23 05:57:42 ubuntu etcd[60407]: name = ubuntu
Apr 23 05:57:42 ubuntu etcd[60407]: data dir = /opt/stack/data/etcd
Apr 23 05:57:42 ubuntu etcd[60407]: member dir = /opt/stack/data/etcd/member
Apr 23 05:57:42 ubuntu etcd[60407]: heartbeat = 100ms
Apr 23 05:57:42 ubuntu etcd[60407]: election = 1000ms
Apr 23 05:57:42 ubuntu etcd[60407]: snapshot count = 100000
Apr 23 05:57:42 ubuntu etcd[60407]: advertise client URLs = http://10.201.4.32:2379
Apr 23 05:57:42 ubuntu etcd[60407]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 23 05:57:42 ubuntu etcd[60407]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 23 05:57:42 ubuntu etcd[60407]: raft2024/04/23 05:57:42 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 23 05:57:42 ubuntu etcd[60407]: raft2024/04/23 05:57:42 INFO: 33238c1cdfea94eb became follower at term 0
Apr 23 05:57:42 ubuntu etcd[60407]: raft2024/04/23 05:57:42 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 23 05:57:42 ubuntu etcd[60407]: raft2024/04/23 05:57:42 INFO: 33238c1cdfea94eb became follower at term 1
Apr 23 05:57:42 ubuntu etcd[60407]: raft2024/04/23 05:57:42 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 23 05:57:42 ubuntu etcd[60407]: simple token is not cryptographically signed
Apr 23 05:57:42 ubuntu etcd[60407]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 23 05:57:42 ubuntu etcd[60407]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 23 05:57:42 ubuntu etcd[60407]: raft2024/04/23 05:57:42 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 23 05:57:42 ubuntu etcd[60407]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 23 05:57:42 ubuntu etcd[60407]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 23 05:57:42 ubuntu etcd[60407]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 23 05:57:42 ubuntu etcd[60407]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 23 05:57:42 ubuntu etcd[60407]: listening for peers on [::]:2380
Apr 23 05:57:43 ubuntu etcd[60407]: raft2024/04/23 05:57:43 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 23 05:57:43 ubuntu etcd[60407]: raft2024/04/23 05:57:43 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 23 05:57:43 ubuntu etcd[60407]: raft2024/04/23 05:57:43 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 23 05:57:43 ubuntu etcd[60407]: raft2024/04/23 05:57:43 INFO: 33238c1cdfea94eb became leader at term 2
Apr 23 05:57:43 ubuntu etcd[60407]: raft2024/04/23 05:57:43 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 23 05:57:43 ubuntu etcd[60407]: INFO: 2024/04/23 05:57:43 parsed scheme: ""
Apr 23 05:57:43 ubuntu etcd[60407]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 23 05:57:43 ubuntu etcd[60407]: INFO: 2024/04/23 05:57:43 scheme "" not registered, fallback to default scheme
Apr 23 05:57:43 ubuntu etcd[60407]: INFO: 2024/04/23 05:57:43 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 23 05:57:43 ubuntu etcd[60407]: INFO: 2024/04/23 05:57:43 ClientConn switching balancer to "pick_first"
Apr 23 05:57:43 ubuntu etcd[60407]: ready to serve client requests
Apr 23 05:57:43 ubuntu etcd[60407]: setting up the initial cluster version to 3.4
Apr 23 05:57:43 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 23 05:57:43 ubuntu etcd[60407]: set the initial cluster version to 3.4
Apr 23 05:57:43 ubuntu etcd[60407]: enabled capabilities for version 3.4
Apr 23 05:57:43 ubuntu etcd[60407]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 23 06:02:06 ubuntu etcd[60407]: start time = 2024-04-23 06:02:06.829995316 +0000 UTC m=+264.007874008, time spent = 458.208µs, remote = 10.201.4.32:51368, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 23 06:02:06 ubuntu etcd[60407]: start time = 2024-04-23 06:02:06.846339918 +0000 UTC m=+264.024218608, time spent = 212.943µs, remote = 10.201.4.32:51368, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 23 06:02:13 ubuntu etcd[60407]: start time = 2024-04-23 06:02:13.737440841 +0000 UTC m=+270.915319531, time spent = 248.524µs, remote = 10.201.4.32:51368, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 23 06:02:15 ubuntu etcd[60407]: start time = 2024-04-23 06:02:15.921042433 +0000 UTC m=+273.098921123, time spent = 220.556µs, remote = 10.201.4.32:51368, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
