Feb 01 23:18:56 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 01 23:18:56 ubuntu etcd[59748]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 01 23:18:56 ubuntu etcd[59748]:         A future release of golang/protobuf will delete this package,
Feb 01 23:18:56 ubuntu etcd[59748]:         which has long been excluded from the compatibility promise.
Feb 01 23:18:56 ubuntu etcd[59748]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 01 23:18:56 ubuntu etcd[59748]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 01 23:18:56 ubuntu etcd[59748]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 01 23:18:56 ubuntu etcd[59748]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 01 23:18:56 ubuntu etcd[59748]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 01 23:18:56 ubuntu etcd[59748]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 01 23:18:56 ubuntu etcd[59748]: Running http and grpc server on single port. This is not recommended for production.
Feb 01 23:18:56 ubuntu etcd[59748]: etcd Version: 3.4.27
Feb 01 23:18:56 ubuntu etcd[59748]: Git SHA: c92fb80f3
Feb 01 23:18:56 ubuntu etcd[59748]: Go Version: go1.19.10
Feb 01 23:18:56 ubuntu etcd[59748]: Go OS/Arch: linux/amd64
Feb 01 23:18:56 ubuntu etcd[59748]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 01 23:18:56 ubuntu etcd[59748]: Running http and grpc server on single port. This is not recommended for production.
Feb 01 23:18:56 ubuntu etcd[59748]: name = ubuntu
Feb 01 23:18:56 ubuntu etcd[59748]: data dir = /opt/stack/data/etcd
Feb 01 23:18:56 ubuntu etcd[59748]: member dir = /opt/stack/data/etcd/member
Feb 01 23:18:56 ubuntu etcd[59748]: heartbeat = 100ms
Feb 01 23:18:56 ubuntu etcd[59748]: election = 1000ms
Feb 01 23:18:56 ubuntu etcd[59748]: snapshot count = 100000
Feb 01 23:18:56 ubuntu etcd[59748]: advertise client URLs = http://10.201.4.32:2379
Feb 01 23:18:56 ubuntu etcd[59748]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 01 23:18:56 ubuntu etcd[59748]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 01 23:18:56 ubuntu etcd[59748]: raft2024/02/01 23:18:56 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 01 23:18:56 ubuntu etcd[59748]: raft2024/02/01 23:18:56 INFO: 33238c1cdfea94eb became follower at term 0
Feb 01 23:18:56 ubuntu etcd[59748]: raft2024/02/01 23:18:56 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 01 23:18:56 ubuntu etcd[59748]: raft2024/02/01 23:18:56 INFO: 33238c1cdfea94eb became follower at term 1
Feb 01 23:18:56 ubuntu etcd[59748]: raft2024/02/01 23:18:56 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 01 23:18:56 ubuntu etcd[59748]: simple token is not cryptographically signed
Feb 01 23:18:56 ubuntu etcd[59748]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 01 23:18:56 ubuntu etcd[59748]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 01 23:18:56 ubuntu etcd[59748]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 01 23:18:56 ubuntu etcd[59748]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 01 23:18:56 ubuntu etcd[59748]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 01 23:18:56 ubuntu etcd[59748]: raft2024/02/01 23:18:56 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 01 23:18:56 ubuntu etcd[59748]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 01 23:18:56 ubuntu etcd[59748]: listening for peers on [::]:2380
Feb 01 23:18:57 ubuntu etcd[59748]: raft2024/02/01 23:18:57 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 01 23:18:57 ubuntu etcd[59748]: raft2024/02/01 23:18:57 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 01 23:18:57 ubuntu etcd[59748]: raft2024/02/01 23:18:57 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 01 23:18:57 ubuntu etcd[59748]: raft2024/02/01 23:18:57 INFO: 33238c1cdfea94eb became leader at term 2
Feb 01 23:18:57 ubuntu etcd[59748]: raft2024/02/01 23:18:57 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 01 23:18:57 ubuntu etcd[59748]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 01 23:18:57 ubuntu etcd[59748]: INFO: 2024/02/01 23:18:57 parsed scheme: ""
Feb 01 23:18:57 ubuntu etcd[59748]: INFO: 2024/02/01 23:18:57 scheme "" not registered, fallback to default scheme
Feb 01 23:18:57 ubuntu etcd[59748]: INFO: 2024/02/01 23:18:57 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 01 23:18:57 ubuntu etcd[59748]: INFO: 2024/02/01 23:18:57 ClientConn switching balancer to "pick_first"
Feb 01 23:18:57 ubuntu etcd[59748]: ready to serve client requests
Feb 01 23:18:57 ubuntu etcd[59748]: setting up the initial cluster version to 3.4
Feb 01 23:18:57 ubuntu etcd[59748]: set the initial cluster version to 3.4
Feb 01 23:18:57 ubuntu etcd[59748]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 01 23:18:57 ubuntu etcd[59748]: enabled capabilities for version 3.4
Feb 01 23:18:57 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 01 23:23:14 ubuntu etcd[59748]: start time = 2024-02-01 23:23:14.378181647 +0000 UTC m=+258.037285957, time spent = 425.728µs, remote = 10.201.4.32:32998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 01 23:23:14 ubuntu etcd[59748]: start time = 2024-02-01 23:23:14.379475036 +0000 UTC m=+258.038579356, time spent = 176.814µs, remote = 10.201.4.32:32998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 01 23:23:21 ubuntu etcd[59748]: start time = 2024-02-01 23:23:21.051126185 +0000 UTC m=+264.710230500, time spent = 177.205µs, remote = 10.201.4.32:32998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 01 23:23:23 ubuntu etcd[59748]: start time = 2024-02-01 23:23:23.246196724 +0000 UTC m=+266.905301044, time spent = 232.723µs, remote = 10.201.4.32:32998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 01 23:25:23 ubuntu etcd[59748]: INFO: 2024/02/01 23:25:23 Failed to decode request: http: invalid Read on closed Body
Feb 01 23:18:56 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 01 23:18:56 ubuntu etcd[59748]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 01 23:18:56 ubuntu etcd[59748]:         A future release of golang/protobuf will delete this package,
Feb 01 23:18:56 ubuntu etcd[59748]:         which has long been excluded from the compatibility promise.
Feb 01 23:18:56 ubuntu etcd[59748]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 01 23:18:56 ubuntu etcd[59748]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 01 23:18:56 ubuntu etcd[59748]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 01 23:18:56 ubuntu etcd[59748]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 01 23:18:56 ubuntu etcd[59748]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 01 23:18:56 ubuntu etcd[59748]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 01 23:18:56 ubuntu etcd[59748]: Running http and grpc server on single port. This is not recommended for production.
Feb 01 23:18:56 ubuntu etcd[59748]: etcd Version: 3.4.27
Feb 01 23:18:56 ubuntu etcd[59748]: Git SHA: c92fb80f3
Feb 01 23:18:56 ubuntu etcd[59748]: Go Version: go1.19.10
Feb 01 23:18:56 ubuntu etcd[59748]: Go OS/Arch: linux/amd64
Feb 01 23:18:56 ubuntu etcd[59748]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 01 23:18:56 ubuntu etcd[59748]: Running http and grpc server on single port. This is not recommended for production.
Feb 01 23:18:56 ubuntu etcd[59748]: name = ubuntu
Feb 01 23:18:56 ubuntu etcd[59748]: data dir = /opt/stack/data/etcd
Feb 01 23:18:56 ubuntu etcd[59748]: member dir = /opt/stack/data/etcd/member
Feb 01 23:18:56 ubuntu etcd[59748]: heartbeat = 100ms
Feb 01 23:18:56 ubuntu etcd[59748]: election = 1000ms
Feb 01 23:18:56 ubuntu etcd[59748]: snapshot count = 100000
Feb 01 23:18:56 ubuntu etcd[59748]: advertise client URLs = http://10.201.4.32:2379
Feb 01 23:18:56 ubuntu etcd[59748]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 01 23:18:56 ubuntu etcd[59748]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 01 23:18:56 ubuntu etcd[59748]: raft2024/02/01 23:18:56 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 01 23:18:56 ubuntu etcd[59748]: raft2024/02/01 23:18:56 INFO: 33238c1cdfea94eb became follower at term 0
Feb 01 23:18:56 ubuntu etcd[59748]: raft2024/02/01 23:18:56 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 01 23:18:56 ubuntu etcd[59748]: raft2024/02/01 23:18:56 INFO: 33238c1cdfea94eb became follower at term 1
Feb 01 23:18:56 ubuntu etcd[59748]: raft2024/02/01 23:18:56 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 01 23:18:56 ubuntu etcd[59748]: simple token is not cryptographically signed
Feb 01 23:18:56 ubuntu etcd[59748]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 01 23:18:56 ubuntu etcd[59748]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 01 23:18:56 ubuntu etcd[59748]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 01 23:18:56 ubuntu etcd[59748]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 01 23:18:56 ubuntu etcd[59748]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 01 23:18:56 ubuntu etcd[59748]: raft2024/02/01 23:18:56 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 01 23:18:56 ubuntu etcd[59748]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 01 23:18:56 ubuntu etcd[59748]: listening for peers on [::]:2380
Feb 01 23:18:57 ubuntu etcd[59748]: raft2024/02/01 23:18:57 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 01 23:18:57 ubuntu etcd[59748]: raft2024/02/01 23:18:57 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 01 23:18:57 ubuntu etcd[59748]: raft2024/02/01 23:18:57 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 01 23:18:57 ubuntu etcd[59748]: raft2024/02/01 23:18:57 INFO: 33238c1cdfea94eb became leader at term 2
Feb 01 23:18:57 ubuntu etcd[59748]: raft2024/02/01 23:18:57 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 01 23:18:57 ubuntu etcd[59748]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 01 23:18:57 ubuntu etcd[59748]: INFO: 2024/02/01 23:18:57 parsed scheme: ""
Feb 01 23:18:57 ubuntu etcd[59748]: INFO: 2024/02/01 23:18:57 scheme "" not registered, fallback to default scheme
Feb 01 23:18:57 ubuntu etcd[59748]: INFO: 2024/02/01 23:18:57 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 01 23:18:57 ubuntu etcd[59748]: INFO: 2024/02/01 23:18:57 ClientConn switching balancer to "pick_first"
Feb 01 23:18:57 ubuntu etcd[59748]: ready to serve client requests
Feb 01 23:18:57 ubuntu etcd[59748]: setting up the initial cluster version to 3.4
Feb 01 23:18:57 ubuntu etcd[59748]: set the initial cluster version to 3.4
Feb 01 23:18:57 ubuntu etcd[59748]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 01 23:18:57 ubuntu etcd[59748]: enabled capabilities for version 3.4
Feb 01 23:18:57 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 01 23:23:14 ubuntu etcd[59748]: start time = 2024-02-01 23:23:14.378181647 +0000 UTC m=+258.037285957, time spent = 425.728µs, remote = 10.201.4.32:32998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 01 23:23:14 ubuntu etcd[59748]: start time = 2024-02-01 23:23:14.379475036 +0000 UTC m=+258.038579356, time spent = 176.814µs, remote = 10.201.4.32:32998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 01 23:23:21 ubuntu etcd[59748]: start time = 2024-02-01 23:23:21.051126185 +0000 UTC m=+264.710230500, time spent = 177.205µs, remote = 10.201.4.32:32998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 01 23:23:23 ubuntu etcd[59748]: start time = 2024-02-01 23:23:23.246196724 +0000 UTC m=+266.905301044, time spent = 232.723µs, remote = 10.201.4.32:32998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 01 23:25:23 ubuntu etcd[59748]: INFO: 2024/02/01 23:25:23 Failed to decode request: http: invalid Read on closed Body
