Aug 08 01:36:17 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 08 01:36:17 ubuntu etcd[58273]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 08 01:36:17 ubuntu etcd[58273]:         A future release of golang/protobuf will delete this package,
Aug 08 01:36:17 ubuntu etcd[58273]:         which has long been excluded from the compatibility promise.
Aug 08 01:36:17 ubuntu etcd[58273]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 08 01:36:17 ubuntu etcd[58273]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 08 01:36:17 ubuntu etcd[58273]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 08 01:36:17 ubuntu etcd[58273]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 08 01:36:17 ubuntu etcd[58273]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 08 01:36:17 ubuntu etcd[58273]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 08 01:36:17 ubuntu etcd[58273]: Running http and grpc server on single port. This is not recommended for production.
Aug 08 01:36:17 ubuntu etcd[58273]: etcd Version: 3.4.27
Aug 08 01:36:17 ubuntu etcd[58273]: Git SHA: c92fb80f3
Aug 08 01:36:17 ubuntu etcd[58273]: Go Version: go1.19.10
Aug 08 01:36:17 ubuntu etcd[58273]: Go OS/Arch: linux/amd64
Aug 08 01:36:17 ubuntu etcd[58273]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 08 01:36:17 ubuntu etcd[58273]: Running http and grpc server on single port. This is not recommended for production.
Aug 08 01:36:17 ubuntu etcd[58273]: name = ubuntu
Aug 08 01:36:17 ubuntu etcd[58273]: data dir = /opt/stack/data/etcd
Aug 08 01:36:17 ubuntu etcd[58273]: member dir = /opt/stack/data/etcd/member
Aug 08 01:36:17 ubuntu etcd[58273]: heartbeat = 100ms
Aug 08 01:36:17 ubuntu etcd[58273]: election = 1000ms
Aug 08 01:36:17 ubuntu etcd[58273]: snapshot count = 100000
Aug 08 01:36:17 ubuntu etcd[58273]: advertise client URLs = http://10.201.4.32:2379
Aug 08 01:36:17 ubuntu etcd[58273]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 08 01:36:17 ubuntu etcd[58273]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Aug 08 01:36:17 ubuntu etcd[58273]: raft2024/08/08 01:36:17 INFO: 33238c1cdfea94eb switched to configuration voters=()
Aug 08 01:36:17 ubuntu etcd[58273]: raft2024/08/08 01:36:17 INFO: 33238c1cdfea94eb became follower at term 0
Aug 08 01:36:17 ubuntu etcd[58273]: raft2024/08/08 01:36:17 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 08 01:36:17 ubuntu etcd[58273]: raft2024/08/08 01:36:17 INFO: 33238c1cdfea94eb became follower at term 1
Aug 08 01:36:17 ubuntu etcd[58273]: raft2024/08/08 01:36:17 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 08 01:36:17 ubuntu etcd[58273]: simple token is not cryptographically signed
Aug 08 01:36:17 ubuntu etcd[58273]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 08 01:36:17 ubuntu etcd[58273]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 08 01:36:17 ubuntu etcd[58273]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 08 01:36:17 ubuntu etcd[58273]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 08 01:36:17 ubuntu etcd[58273]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 08 01:36:17 ubuntu etcd[58273]: raft2024/08/08 01:36:17 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 08 01:36:17 ubuntu etcd[58273]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Aug 08 01:36:17 ubuntu etcd[58273]: listening for peers on [::]:2380
Aug 08 01:36:18 ubuntu etcd[58273]: raft2024/08/08 01:36:18 INFO: 33238c1cdfea94eb is starting a new election at term 1
Aug 08 01:36:18 ubuntu etcd[58273]: raft2024/08/08 01:36:18 INFO: 33238c1cdfea94eb became candidate at term 2
Aug 08 01:36:18 ubuntu etcd[58273]: raft2024/08/08 01:36:18 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Aug 08 01:36:18 ubuntu etcd[58273]: raft2024/08/08 01:36:18 INFO: 33238c1cdfea94eb became leader at term 2
Aug 08 01:36:18 ubuntu etcd[58273]: raft2024/08/08 01:36:18 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Aug 08 01:36:18 ubuntu etcd[58273]: INFO: 2024/08/08 01:36:18 parsed scheme: ""
Aug 08 01:36:18 ubuntu etcd[58273]: INFO: 2024/08/08 01:36:18 scheme "" not registered, fallback to default scheme
Aug 08 01:36:18 ubuntu etcd[58273]: INFO: 2024/08/08 01:36:18 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 08 01:36:18 ubuntu etcd[58273]: INFO: 2024/08/08 01:36:18 ClientConn switching balancer to "pick_first"
Aug 08 01:36:18 ubuntu etcd[58273]: setting up the initial cluster version to 3.4
Aug 08 01:36:18 ubuntu etcd[58273]: set the initial cluster version to 3.4
Aug 08 01:36:18 ubuntu etcd[58273]: enabled capabilities for version 3.4
Aug 08 01:36:18 ubuntu etcd[58273]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Aug 08 01:36:18 ubuntu etcd[58273]: ready to serve client requests
Aug 08 01:36:18 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 08 01:36:18 ubuntu etcd[58273]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Aug 08 01:40:40 ubuntu etcd[58273]: start time = 2024-08-08 01:40:40.272083436 +0000 UTC m=+263.039656096, time spent = 488.499µs, remote = 10.201.4.32:56150, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 01:40:40 ubuntu etcd[58273]: start time = 2024-08-08 01:40:40.363960397 +0000 UTC m=+263.131533066, time spent = 211.578µs, remote = 10.201.4.32:56150, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 01:40:46 ubuntu etcd[58273]: start time = 2024-08-08 01:40:46.884322963 +0000 UTC m=+269.651895627, time spent = 228.999µs, remote = 10.201.4.32:56150, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 01:40:49 ubuntu etcd[58273]: start time = 2024-08-08 01:40:49.142061462 +0000 UTC m=+271.909634134, time spent = 251.195µs, remote = 10.201.4.32:56150, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
