Mar 18 10:55:57 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 18 10:55:57 ubuntu etcd[60598]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 18 10:55:57 ubuntu etcd[60598]:         A future release of golang/protobuf will delete this package,
Mar 18 10:55:57 ubuntu etcd[60598]:         which has long been excluded from the compatibility promise.
Mar 18 10:55:58 ubuntu etcd[60598]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 18 10:55:58 ubuntu etcd[60598]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 18 10:55:58 ubuntu etcd[60598]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 18 10:55:58 ubuntu etcd[60598]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 18 10:55:58 ubuntu etcd[60598]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 18 10:55:58 ubuntu etcd[60598]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 18 10:55:58 ubuntu etcd[60598]: Running http and grpc server on single port. This is not recommended for production.
Mar 18 10:55:58 ubuntu etcd[60598]: etcd Version: 3.4.27
Mar 18 10:55:58 ubuntu etcd[60598]: Git SHA: c92fb80f3
Mar 18 10:55:58 ubuntu etcd[60598]: Go Version: go1.19.10
Mar 18 10:55:58 ubuntu etcd[60598]: Go OS/Arch: linux/amd64
Mar 18 10:55:58 ubuntu etcd[60598]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 18 10:55:58 ubuntu etcd[60598]: Running http and grpc server on single port. This is not recommended for production.
Mar 18 10:55:58 ubuntu etcd[60598]: name = ubuntu
Mar 18 10:55:58 ubuntu etcd[60598]: data dir = /opt/stack/data/etcd
Mar 18 10:55:58 ubuntu etcd[60598]: member dir = /opt/stack/data/etcd/member
Mar 18 10:55:58 ubuntu etcd[60598]: heartbeat = 100ms
Mar 18 10:55:58 ubuntu etcd[60598]: election = 1000ms
Mar 18 10:55:58 ubuntu etcd[60598]: snapshot count = 100000
Mar 18 10:55:58 ubuntu etcd[60598]: advertise client URLs = http://10.201.4.32:2379
Mar 18 10:55:58 ubuntu etcd[60598]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 18 10:55:58 ubuntu etcd[60598]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 18 10:55:58 ubuntu etcd[60598]: raft2024/03/18 10:55:58 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 18 10:55:58 ubuntu etcd[60598]: raft2024/03/18 10:55:58 INFO: 33238c1cdfea94eb became follower at term 0
Mar 18 10:55:58 ubuntu etcd[60598]: raft2024/03/18 10:55:58 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 18 10:55:58 ubuntu etcd[60598]: raft2024/03/18 10:55:58 INFO: 33238c1cdfea94eb became follower at term 1
Mar 18 10:55:58 ubuntu etcd[60598]: raft2024/03/18 10:55:58 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 18 10:55:58 ubuntu etcd[60598]: simple token is not cryptographically signed
Mar 18 10:55:58 ubuntu etcd[60598]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 18 10:55:58 ubuntu etcd[60598]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 18 10:55:58 ubuntu etcd[60598]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 18 10:55:58 ubuntu etcd[60598]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 18 10:55:58 ubuntu etcd[60598]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 18 10:55:58 ubuntu etcd[60598]: raft2024/03/18 10:55:58 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 18 10:55:58 ubuntu etcd[60598]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 18 10:55:58 ubuntu etcd[60598]: listening for peers on [::]:2380
Mar 18 10:55:58 ubuntu etcd[60598]: raft2024/03/18 10:55:58 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 18 10:55:58 ubuntu etcd[60598]: raft2024/03/18 10:55:58 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 18 10:55:58 ubuntu etcd[60598]: raft2024/03/18 10:55:58 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 18 10:55:58 ubuntu etcd[60598]: raft2024/03/18 10:55:58 INFO: 33238c1cdfea94eb became leader at term 2
Mar 18 10:55:58 ubuntu etcd[60598]: raft2024/03/18 10:55:58 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 18 10:55:58 ubuntu etcd[60598]: ready to serve client requests
Mar 18 10:55:58 ubuntu etcd[60598]: INFO: 2024/03/18 10:55:58 parsed scheme: ""
Mar 18 10:55:58 ubuntu etcd[60598]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 18 10:55:58 ubuntu etcd[60598]: INFO: 2024/03/18 10:55:58 scheme "" not registered, fallback to default scheme
Mar 18 10:55:58 ubuntu etcd[60598]: setting up the initial cluster version to 3.4
Mar 18 10:55:58 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 18 10:55:58 ubuntu etcd[60598]: set the initial cluster version to 3.4
Mar 18 10:55:58 ubuntu etcd[60598]: enabled capabilities for version 3.4
Mar 18 10:55:58 ubuntu etcd[60598]: INFO: 2024/03/18 10:55:58 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 18 10:55:58 ubuntu etcd[60598]: INFO: 2024/03/18 10:55:58 ClientConn switching balancer to "pick_first"
Mar 18 10:55:58 ubuntu etcd[60598]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 18 11:00:17 ubuntu etcd[60598]: start time = 2024-03-18 11:00:17.138927457 +0000 UTC m=+259.156221110, time spent = 460.383µs, remote = 10.201.4.32:56942, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 18 11:00:17 ubuntu etcd[60598]: start time = 2024-03-18 11:00:17.214921101 +0000 UTC m=+259.232214764, time spent = 160.491µs, remote = 10.201.4.32:56942, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 18 11:00:24 ubuntu etcd[60598]: start time = 2024-03-18 11:00:24.173735319 +0000 UTC m=+266.191028981, time spent = 199.364µs, remote = 10.201.4.32:56942, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 18 11:00:26 ubuntu etcd[60598]: start time = 2024-03-18 11:00:26.328136527 +0000 UTC m=+268.345430179, time spent = 279.96µs, remote = 10.201.4.32:56942, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
