Apr 17 11:15:01 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 17 11:15:01 ubuntu etcd[61014]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 17 11:15:01 ubuntu etcd[61014]:         A future release of golang/protobuf will delete this package,
Apr 17 11:15:01 ubuntu etcd[61014]:         which has long been excluded from the compatibility promise.
Apr 17 11:15:01 ubuntu etcd[61014]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 17 11:15:01 ubuntu etcd[61014]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 17 11:15:01 ubuntu etcd[61014]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 17 11:15:01 ubuntu etcd[61014]: Running http and grpc server on single port. This is not recommended for production.
Apr 17 11:15:01 ubuntu etcd[61014]: etcd Version: 3.4.27
Apr 17 11:15:01 ubuntu etcd[61014]: Git SHA: c92fb80f3
Apr 17 11:15:01 ubuntu etcd[61014]: Go Version: go1.19.10
Apr 17 11:15:01 ubuntu etcd[61014]: Go OS/Arch: linux/amd64
Apr 17 11:15:01 ubuntu etcd[61014]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 17 11:15:01 ubuntu etcd[61014]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 17 11:15:01 ubuntu etcd[61014]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 17 11:15:01 ubuntu etcd[61014]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 17 11:15:01 ubuntu etcd[61014]: Running http and grpc server on single port. This is not recommended for production.
Apr 17 11:15:01 ubuntu etcd[61014]: name = ubuntu
Apr 17 11:15:01 ubuntu etcd[61014]: data dir = /opt/stack/data/etcd
Apr 17 11:15:01 ubuntu etcd[61014]: member dir = /opt/stack/data/etcd/member
Apr 17 11:15:01 ubuntu etcd[61014]: heartbeat = 100ms
Apr 17 11:15:01 ubuntu etcd[61014]: election = 1000ms
Apr 17 11:15:01 ubuntu etcd[61014]: snapshot count = 100000
Apr 17 11:15:01 ubuntu etcd[61014]: advertise client URLs = http://10.201.4.32:2379
Apr 17 11:15:01 ubuntu etcd[61014]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 17 11:15:01 ubuntu etcd[61014]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 17 11:15:01 ubuntu etcd[61014]: raft2024/04/17 11:15:01 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 17 11:15:01 ubuntu etcd[61014]: raft2024/04/17 11:15:01 INFO: 33238c1cdfea94eb became follower at term 0
Apr 17 11:15:01 ubuntu etcd[61014]: raft2024/04/17 11:15:01 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 17 11:15:01 ubuntu etcd[61014]: raft2024/04/17 11:15:01 INFO: 33238c1cdfea94eb became follower at term 1
Apr 17 11:15:01 ubuntu etcd[61014]: raft2024/04/17 11:15:01 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 17 11:15:01 ubuntu etcd[61014]: simple token is not cryptographically signed
Apr 17 11:15:01 ubuntu etcd[61014]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 17 11:15:01 ubuntu etcd[61014]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 17 11:15:01 ubuntu etcd[61014]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 17 11:15:01 ubuntu etcd[61014]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 17 11:15:01 ubuntu etcd[61014]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 17 11:15:01 ubuntu etcd[61014]: raft2024/04/17 11:15:01 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 17 11:15:01 ubuntu etcd[61014]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 17 11:15:01 ubuntu etcd[61014]: listening for peers on [::]:2380
Apr 17 11:15:02 ubuntu etcd[61014]: raft2024/04/17 11:15:02 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 17 11:15:02 ubuntu etcd[61014]: raft2024/04/17 11:15:02 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 17 11:15:02 ubuntu etcd[61014]: raft2024/04/17 11:15:02 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 17 11:15:02 ubuntu etcd[61014]: raft2024/04/17 11:15:02 INFO: 33238c1cdfea94eb became leader at term 2
Apr 17 11:15:02 ubuntu etcd[61014]: raft2024/04/17 11:15:02 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 17 11:15:02 ubuntu etcd[61014]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 17 11:15:02 ubuntu etcd[61014]: setting up the initial cluster version to 3.4
Apr 17 11:15:02 ubuntu etcd[61014]: ready to serve client requests
Apr 17 11:15:02 ubuntu etcd[61014]: INFO: 2024/04/17 11:15:02 parsed scheme: ""
Apr 17 11:15:02 ubuntu etcd[61014]: INFO: 2024/04/17 11:15:02 scheme "" not registered, fallback to default scheme
Apr 17 11:15:02 ubuntu etcd[61014]: set the initial cluster version to 3.4
Apr 17 11:15:02 ubuntu etcd[61014]: enabled capabilities for version 3.4
Apr 17 11:15:02 ubuntu etcd[61014]: INFO: 2024/04/17 11:15:02 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 17 11:15:02 ubuntu etcd[61014]: INFO: 2024/04/17 11:15:02 ClientConn switching balancer to "pick_first"
Apr 17 11:15:02 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 17 11:15:02 ubuntu etcd[61014]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 17 11:19:21 ubuntu etcd[61014]: start time = 2024-04-17 11:19:21.950837962 +0000 UTC m=+260.377456175, time spent = 416.076µs, remote = 10.201.4.32:48266, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 17 11:19:21 ubuntu etcd[61014]: start time = 2024-04-17 11:19:21.973278359 +0000 UTC m=+260.399896583, time spent = 167.361µs, remote = 10.201.4.32:48266, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 17 11:19:28 ubuntu etcd[61014]: start time = 2024-04-17 11:19:28.378880507 +0000 UTC m=+266.805498720, time spent = 232.779µs, remote = 10.201.4.32:48266, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 17 11:19:30 ubuntu etcd[61014]: start time = 2024-04-17 11:19:30.85178718 +0000 UTC m=+269.278405404, time spent = 227.222µs, remote = 10.201.4.32:48266, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
