May 13 21:02:25 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 13 21:02:25 ubuntu etcd[60514]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 13 21:02:25 ubuntu etcd[60514]:         A future release of golang/protobuf will delete this package,
May 13 21:02:25 ubuntu etcd[60514]:         which has long been excluded from the compatibility promise.
May 13 21:02:25 ubuntu etcd[60514]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 13 21:02:25 ubuntu etcd[60514]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 13 21:02:25 ubuntu etcd[60514]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 13 21:02:25 ubuntu etcd[60514]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 13 21:02:25 ubuntu etcd[60514]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 13 21:02:25 ubuntu etcd[60514]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 13 21:02:25 ubuntu etcd[60514]: Running http and grpc server on single port. This is not recommended for production.
May 13 21:02:25 ubuntu etcd[60514]: etcd Version: 3.4.27
May 13 21:02:25 ubuntu etcd[60514]: Git SHA: c92fb80f3
May 13 21:02:25 ubuntu etcd[60514]: Go Version: go1.19.10
May 13 21:02:25 ubuntu etcd[60514]: Go OS/Arch: linux/amd64
May 13 21:02:25 ubuntu etcd[60514]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 13 21:02:25 ubuntu etcd[60514]: Running http and grpc server on single port. This is not recommended for production.
May 13 21:02:25 ubuntu etcd[60514]: name = ubuntu
May 13 21:02:25 ubuntu etcd[60514]: data dir = /opt/stack/data/etcd
May 13 21:02:25 ubuntu etcd[60514]: member dir = /opt/stack/data/etcd/member
May 13 21:02:25 ubuntu etcd[60514]: heartbeat = 100ms
May 13 21:02:25 ubuntu etcd[60514]: election = 1000ms
May 13 21:02:25 ubuntu etcd[60514]: snapshot count = 100000
May 13 21:02:25 ubuntu etcd[60514]: advertise client URLs = http://10.201.4.32:2379
May 13 21:02:25 ubuntu etcd[60514]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 13 21:02:25 ubuntu etcd[60514]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 13 21:02:25 ubuntu etcd[60514]: raft2024/05/13 21:02:25 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 13 21:02:25 ubuntu etcd[60514]: raft2024/05/13 21:02:25 INFO: 33238c1cdfea94eb became follower at term 0
May 13 21:02:25 ubuntu etcd[60514]: raft2024/05/13 21:02:25 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 13 21:02:25 ubuntu etcd[60514]: raft2024/05/13 21:02:25 INFO: 33238c1cdfea94eb became follower at term 1
May 13 21:02:25 ubuntu etcd[60514]: raft2024/05/13 21:02:25 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 13 21:02:25 ubuntu etcd[60514]: simple token is not cryptographically signed
May 13 21:02:25 ubuntu etcd[60514]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 13 21:02:25 ubuntu etcd[60514]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 13 21:02:25 ubuntu etcd[60514]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 13 21:02:25 ubuntu etcd[60514]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 13 21:02:25 ubuntu etcd[60514]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 13 21:02:25 ubuntu etcd[60514]: raft2024/05/13 21:02:25 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 13 21:02:25 ubuntu etcd[60514]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 13 21:02:25 ubuntu etcd[60514]: listening for peers on [::]:2380
May 13 21:02:26 ubuntu etcd[60514]: raft2024/05/13 21:02:26 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 13 21:02:26 ubuntu etcd[60514]: raft2024/05/13 21:02:26 INFO: 33238c1cdfea94eb became candidate at term 2
May 13 21:02:26 ubuntu etcd[60514]: raft2024/05/13 21:02:26 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 13 21:02:26 ubuntu etcd[60514]: raft2024/05/13 21:02:26 INFO: 33238c1cdfea94eb became leader at term 2
May 13 21:02:26 ubuntu etcd[60514]: raft2024/05/13 21:02:26 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 13 21:02:26 ubuntu etcd[60514]: setting up the initial cluster version to 3.4
May 13 21:02:26 ubuntu etcd[60514]: set the initial cluster version to 3.4
May 13 21:02:26 ubuntu etcd[60514]: enabled capabilities for version 3.4
May 13 21:02:26 ubuntu etcd[60514]: ready to serve client requests
May 13 21:02:26 ubuntu etcd[60514]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 13 21:02:26 ubuntu etcd[60514]: INFO: 2024/05/13 21:02:26 parsed scheme: ""
May 13 21:02:26 ubuntu etcd[60514]: INFO: 2024/05/13 21:02:26 scheme "" not registered, fallback to default scheme
May 13 21:02:26 ubuntu etcd[60514]: INFO: 2024/05/13 21:02:26 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 13 21:02:26 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 13 21:02:26 ubuntu etcd[60514]: INFO: 2024/05/13 21:02:26 ClientConn switching balancer to "pick_first"
May 13 21:02:26 ubuntu etcd[60514]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 13 21:06:43 ubuntu etcd[60514]: start time = 2024-05-13 21:06:43.867530488 +0000 UTC m=+257.944472060, time spent = 616.989µs, remote = 10.201.4.32:48694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 21:06:43 ubuntu etcd[60514]: start time = 2024-05-13 21:06:43.879917838 +0000 UTC m=+257.956859422, time spent = 172.792µs, remote = 10.201.4.32:48694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 21:06:50 ubuntu etcd[60514]: start time = 2024-05-13 21:06:50.204591147 +0000 UTC m=+264.281532777, time spent = 402.483µs, remote = 10.201.4.32:48694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 21:06:52 ubuntu etcd[60514]: start time = 2024-05-13 21:06:52.558025399 +0000 UTC m=+266.634966983, time spent = 231.42µs, remote = 10.201.4.32:48694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 21:02:25 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 13 21:02:25 ubuntu etcd[60514]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 13 21:02:25 ubuntu etcd[60514]:         A future release of golang/protobuf will delete this package,
May 13 21:02:25 ubuntu etcd[60514]:         which has long been excluded from the compatibility promise.
May 13 21:02:25 ubuntu etcd[60514]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 13 21:02:25 ubuntu etcd[60514]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 13 21:02:25 ubuntu etcd[60514]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 13 21:02:25 ubuntu etcd[60514]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 13 21:02:25 ubuntu etcd[60514]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 13 21:02:25 ubuntu etcd[60514]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 13 21:02:25 ubuntu etcd[60514]: Running http and grpc server on single port. This is not recommended for production.
May 13 21:02:25 ubuntu etcd[60514]: etcd Version: 3.4.27
May 13 21:02:25 ubuntu etcd[60514]: Git SHA: c92fb80f3
May 13 21:02:25 ubuntu etcd[60514]: Go Version: go1.19.10
May 13 21:02:25 ubuntu etcd[60514]: Go OS/Arch: linux/amd64
May 13 21:02:25 ubuntu etcd[60514]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 13 21:02:25 ubuntu etcd[60514]: Running http and grpc server on single port. This is not recommended for production.
May 13 21:02:25 ubuntu etcd[60514]: name = ubuntu
May 13 21:02:25 ubuntu etcd[60514]: data dir = /opt/stack/data/etcd
May 13 21:02:25 ubuntu etcd[60514]: member dir = /opt/stack/data/etcd/member
May 13 21:02:25 ubuntu etcd[60514]: heartbeat = 100ms
May 13 21:02:25 ubuntu etcd[60514]: election = 1000ms
May 13 21:02:25 ubuntu etcd[60514]: snapshot count = 100000
May 13 21:02:25 ubuntu etcd[60514]: advertise client URLs = http://10.201.4.32:2379
May 13 21:02:25 ubuntu etcd[60514]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 13 21:02:25 ubuntu etcd[60514]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 13 21:02:25 ubuntu etcd[60514]: raft2024/05/13 21:02:25 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 13 21:02:25 ubuntu etcd[60514]: raft2024/05/13 21:02:25 INFO: 33238c1cdfea94eb became follower at term 0
May 13 21:02:25 ubuntu etcd[60514]: raft2024/05/13 21:02:25 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 13 21:02:25 ubuntu etcd[60514]: raft2024/05/13 21:02:25 INFO: 33238c1cdfea94eb became follower at term 1
May 13 21:02:25 ubuntu etcd[60514]: raft2024/05/13 21:02:25 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 13 21:02:25 ubuntu etcd[60514]: simple token is not cryptographically signed
May 13 21:02:25 ubuntu etcd[60514]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 13 21:02:25 ubuntu etcd[60514]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 13 21:02:25 ubuntu etcd[60514]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 13 21:02:25 ubuntu etcd[60514]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 13 21:02:25 ubuntu etcd[60514]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 13 21:02:25 ubuntu etcd[60514]: raft2024/05/13 21:02:25 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 13 21:02:25 ubuntu etcd[60514]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 13 21:02:25 ubuntu etcd[60514]: listening for peers on [::]:2380
May 13 21:02:26 ubuntu etcd[60514]: raft2024/05/13 21:02:26 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 13 21:02:26 ubuntu etcd[60514]: raft2024/05/13 21:02:26 INFO: 33238c1cdfea94eb became candidate at term 2
May 13 21:02:26 ubuntu etcd[60514]: raft2024/05/13 21:02:26 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 13 21:02:26 ubuntu etcd[60514]: raft2024/05/13 21:02:26 INFO: 33238c1cdfea94eb became leader at term 2
May 13 21:02:26 ubuntu etcd[60514]: raft2024/05/13 21:02:26 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 13 21:02:26 ubuntu etcd[60514]: setting up the initial cluster version to 3.4
May 13 21:02:26 ubuntu etcd[60514]: set the initial cluster version to 3.4
May 13 21:02:26 ubuntu etcd[60514]: enabled capabilities for version 3.4
May 13 21:02:26 ubuntu etcd[60514]: ready to serve client requests
May 13 21:02:26 ubuntu etcd[60514]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 13 21:02:26 ubuntu etcd[60514]: INFO: 2024/05/13 21:02:26 parsed scheme: ""
May 13 21:02:26 ubuntu etcd[60514]: INFO: 2024/05/13 21:02:26 scheme "" not registered, fallback to default scheme
May 13 21:02:26 ubuntu etcd[60514]: INFO: 2024/05/13 21:02:26 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 13 21:02:26 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 13 21:02:26 ubuntu etcd[60514]: INFO: 2024/05/13 21:02:26 ClientConn switching balancer to "pick_first"
May 13 21:02:26 ubuntu etcd[60514]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 13 21:06:43 ubuntu etcd[60514]: start time = 2024-05-13 21:06:43.867530488 +0000 UTC m=+257.944472060, time spent = 616.989µs, remote = 10.201.4.32:48694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 21:06:43 ubuntu etcd[60514]: start time = 2024-05-13 21:06:43.879917838 +0000 UTC m=+257.956859422, time spent = 172.792µs, remote = 10.201.4.32:48694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 21:06:50 ubuntu etcd[60514]: start time = 2024-05-13 21:06:50.204591147 +0000 UTC m=+264.281532777, time spent = 402.483µs, remote = 10.201.4.32:48694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 21:06:52 ubuntu etcd[60514]: start time = 2024-05-13 21:06:52.558025399 +0000 UTC m=+266.634966983, time spent = 231.42µs, remote = 10.201.4.32:48694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
