Mar 27 02:13:06 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 27 02:13:06 ubuntu etcd[57186]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 27 02:13:06 ubuntu etcd[57186]:         A future release of golang/protobuf will delete this package,
Mar 27 02:13:06 ubuntu etcd[57186]:         which has long been excluded from the compatibility promise.
Mar 27 02:13:06 ubuntu etcd[57186]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 27 02:13:06 ubuntu etcd[57186]: Running http and grpc server on single port. This is not recommended for production.
Mar 27 02:13:06 ubuntu etcd[57186]: etcd Version: 3.4.27
Mar 27 02:13:06 ubuntu etcd[57186]: Git SHA: c92fb80f3
Mar 27 02:13:06 ubuntu etcd[57186]: Go Version: go1.19.10
Mar 27 02:13:06 ubuntu etcd[57186]: Go OS/Arch: linux/amd64
Mar 27 02:13:06 ubuntu etcd[57186]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 27 02:13:06 ubuntu etcd[57186]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 27 02:13:06 ubuntu etcd[57186]: Running http and grpc server on single port. This is not recommended for production.
Mar 27 02:13:06 ubuntu etcd[57186]: name = ubuntu
Mar 27 02:13:06 ubuntu etcd[57186]: data dir = /opt/stack/data/etcd
Mar 27 02:13:06 ubuntu etcd[57186]: member dir = /opt/stack/data/etcd/member
Mar 27 02:13:06 ubuntu etcd[57186]: heartbeat = 100ms
Mar 27 02:13:06 ubuntu etcd[57186]: election = 1000ms
Mar 27 02:13:06 ubuntu etcd[57186]: snapshot count = 100000
Mar 27 02:13:06 ubuntu etcd[57186]: advertise client URLs = http://10.201.9.223:2379
Mar 27 02:13:06 ubuntu etcd[57186]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 27 02:13:06 ubuntu etcd[57186]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 27 02:13:06 ubuntu etcd[57186]: raft2025/03/27 02:13:06 INFO: c25b29daa831042c switched to configuration voters=()
Mar 27 02:13:06 ubuntu etcd[57186]: raft2025/03/27 02:13:06 INFO: c25b29daa831042c became follower at term 0
Mar 27 02:13:06 ubuntu etcd[57186]: raft2025/03/27 02:13:06 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 27 02:13:06 ubuntu etcd[57186]: raft2025/03/27 02:13:06 INFO: c25b29daa831042c became follower at term 1
Mar 27 02:13:06 ubuntu etcd[57186]: raft2025/03/27 02:13:06 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 27 02:13:06 ubuntu etcd[57186]: simple token is not cryptographically signed
Mar 27 02:13:06 ubuntu etcd[57186]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 27 02:13:06 ubuntu etcd[57186]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 27 02:13:06 ubuntu etcd[57186]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 27 02:13:06 ubuntu etcd[57186]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 27 02:13:06 ubuntu etcd[57186]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 27 02:13:06 ubuntu etcd[57186]: raft2025/03/27 02:13:06 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 27 02:13:06 ubuntu etcd[57186]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 27 02:13:06 ubuntu etcd[57186]: listening for peers on [::]:2380
Mar 27 02:13:07 ubuntu etcd[57186]: raft2025/03/27 02:13:07 INFO: c25b29daa831042c is starting a new election at term 1
Mar 27 02:13:07 ubuntu etcd[57186]: raft2025/03/27 02:13:07 INFO: c25b29daa831042c became candidate at term 2
Mar 27 02:13:07 ubuntu etcd[57186]: raft2025/03/27 02:13:07 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 27 02:13:07 ubuntu etcd[57186]: raft2025/03/27 02:13:07 INFO: c25b29daa831042c became leader at term 2
Mar 27 02:13:07 ubuntu etcd[57186]: raft2025/03/27 02:13:07 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 27 02:13:07 ubuntu etcd[57186]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 27 02:13:07 ubuntu etcd[57186]: setting up the initial cluster version to 3.4
Mar 27 02:13:07 ubuntu etcd[57186]: ready to serve client requests
Mar 27 02:13:07 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 27 02:13:07 ubuntu etcd[57186]: set the initial cluster version to 3.4
Mar 27 02:13:07 ubuntu etcd[57186]: enabled capabilities for version 3.4
Mar 27 02:13:07 ubuntu etcd[57186]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 27 02:17:12 ubuntu etcd[57186]: start time = 2025-03-27 02:17:12.803109042 +0000 UTC m=+245.973101563, time spent = 396.769µs, remote = 10.201.9.223:60248, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 02:17:12 ubuntu etcd[57186]: start time = 2025-03-27 02:17:12.808744208 +0000 UTC m=+245.978736745, time spent = 217.591µs, remote = 10.201.9.223:60248, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 02:17:19 ubuntu etcd[57186]: start time = 2025-03-27 02:17:19.50742751 +0000 UTC m=+252.677420045, time spent = 156.172µs, remote = 10.201.9.223:60248, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 02:17:21 ubuntu etcd[57186]: start time = 2025-03-27 02:17:21.748405011 +0000 UTC m=+254.918397546, time spent = 176.742µs, remote = 10.201.9.223:60248, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
