Jun 18 08:15:01 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 18 08:15:01 ubuntu etcd[59007]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 18 08:15:01 ubuntu etcd[59007]:         A future release of golang/protobuf will delete this package,
Jun 18 08:15:01 ubuntu etcd[59007]:         which has long been excluded from the compatibility promise.
Jun 18 08:15:01 ubuntu etcd[59007]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 18 08:15:01 ubuntu etcd[59007]: Running http and grpc server on single port. This is not recommended for production.
Jun 18 08:15:01 ubuntu etcd[59007]: etcd Version: 3.4.27
Jun 18 08:15:01 ubuntu etcd[59007]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 18 08:15:01 ubuntu etcd[59007]: Git SHA: c92fb80f3
Jun 18 08:15:01 ubuntu etcd[59007]: Go Version: go1.19.10
Jun 18 08:15:01 ubuntu etcd[59007]: Go OS/Arch: linux/amd64
Jun 18 08:15:01 ubuntu etcd[59007]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 18 08:15:01 ubuntu etcd[59007]: Running http and grpc server on single port. This is not recommended for production.
Jun 18 08:15:01 ubuntu etcd[59007]: name = ubuntu
Jun 18 08:15:01 ubuntu etcd[59007]: data dir = /opt/stack/data/etcd
Jun 18 08:15:01 ubuntu etcd[59007]: member dir = /opt/stack/data/etcd/member
Jun 18 08:15:01 ubuntu etcd[59007]: heartbeat = 100ms
Jun 18 08:15:01 ubuntu etcd[59007]: election = 1000ms
Jun 18 08:15:01 ubuntu etcd[59007]: snapshot count = 100000
Jun 18 08:15:01 ubuntu etcd[59007]: advertise client URLs = http://10.201.9.223:2379
Jun 18 08:15:01 ubuntu etcd[59007]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 18 08:15:01 ubuntu etcd[59007]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 18 08:15:01 ubuntu etcd[59007]: raft2025/06/18 08:15:01 INFO: c25b29daa831042c switched to configuration voters=()
Jun 18 08:15:01 ubuntu etcd[59007]: raft2025/06/18 08:15:01 INFO: c25b29daa831042c became follower at term 0
Jun 18 08:15:01 ubuntu etcd[59007]: raft2025/06/18 08:15:01 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 18 08:15:01 ubuntu etcd[59007]: raft2025/06/18 08:15:01 INFO: c25b29daa831042c became follower at term 1
Jun 18 08:15:01 ubuntu etcd[59007]: raft2025/06/18 08:15:01 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 18 08:15:01 ubuntu etcd[59007]: simple token is not cryptographically signed
Jun 18 08:15:01 ubuntu etcd[59007]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 18 08:15:01 ubuntu etcd[59007]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 18 08:15:01 ubuntu etcd[59007]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 18 08:15:01 ubuntu etcd[59007]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 18 08:15:01 ubuntu etcd[59007]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 18 08:15:01 ubuntu etcd[59007]: raft2025/06/18 08:15:01 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 18 08:15:01 ubuntu etcd[59007]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 18 08:15:01 ubuntu etcd[59007]: listening for peers on [::]:2380
Jun 18 08:15:02 ubuntu etcd[59007]: raft2025/06/18 08:15:02 INFO: c25b29daa831042c is starting a new election at term 1
Jun 18 08:15:02 ubuntu etcd[59007]: raft2025/06/18 08:15:02 INFO: c25b29daa831042c became candidate at term 2
Jun 18 08:15:02 ubuntu etcd[59007]: raft2025/06/18 08:15:02 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 18 08:15:02 ubuntu etcd[59007]: raft2025/06/18 08:15:02 INFO: c25b29daa831042c became leader at term 2
Jun 18 08:15:02 ubuntu etcd[59007]: raft2025/06/18 08:15:02 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 18 08:15:02 ubuntu etcd[59007]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 18 08:15:02 ubuntu etcd[59007]: setting up the initial cluster version to 3.4
Jun 18 08:15:02 ubuntu etcd[59007]: set the initial cluster version to 3.4
Jun 18 08:15:02 ubuntu etcd[59007]: enabled capabilities for version 3.4
Jun 18 08:15:02 ubuntu etcd[59007]: ready to serve client requests
Jun 18 08:15:02 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 18 08:15:02 ubuntu etcd[59007]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 18 08:19:11 ubuntu etcd[59007]: start time = 2025-06-18 08:19:11.320349641 +0000 UTC m=+249.523625838, time spent = 370.759µs, remote = 10.201.9.223:36008, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 18 08:19:11 ubuntu etcd[59007]: start time = 2025-06-18 08:19:11.345028631 +0000 UTC m=+249.548304841, time spent = 154.495µs, remote = 10.201.9.223:36008, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 18 08:19:18 ubuntu etcd[59007]: start time = 2025-06-18 08:19:18.122199119 +0000 UTC m=+256.325475330, time spent = 223.527µs, remote = 10.201.9.223:36008, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 18 08:19:20 ubuntu etcd[59007]: start time = 2025-06-18 08:19:20.178335888 +0000 UTC m=+258.381612095, time spent = 174.936µs, remote = 10.201.9.223:36008, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
