Apr 07 09:43:38 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 07 09:43:38 ubuntu etcd[57816]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 07 09:43:38 ubuntu etcd[57816]:         A future release of golang/protobuf will delete this package,
Apr 07 09:43:38 ubuntu etcd[57816]:         which has long been excluded from the compatibility promise.
Apr 07 09:43:38 ubuntu etcd[57816]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 07 09:43:38 ubuntu etcd[57816]: Running http and grpc server on single port. This is not recommended for production.
Apr 07 09:43:38 ubuntu etcd[57816]: etcd Version: 3.4.27
Apr 07 09:43:38 ubuntu etcd[57816]: Git SHA: c92fb80f3
Apr 07 09:43:38 ubuntu etcd[57816]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 07 09:43:38 ubuntu etcd[57816]: Go Version: go1.19.10
Apr 07 09:43:38 ubuntu etcd[57816]: Go OS/Arch: linux/amd64
Apr 07 09:43:38 ubuntu etcd[57816]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 07 09:43:38 ubuntu etcd[57816]: Running http and grpc server on single port. This is not recommended for production.
Apr 07 09:43:38 ubuntu etcd[57816]: name = ubuntu
Apr 07 09:43:38 ubuntu etcd[57816]: data dir = /opt/stack/data/etcd
Apr 07 09:43:38 ubuntu etcd[57816]: member dir = /opt/stack/data/etcd/member
Apr 07 09:43:38 ubuntu etcd[57816]: heartbeat = 100ms
Apr 07 09:43:38 ubuntu etcd[57816]: election = 1000ms
Apr 07 09:43:38 ubuntu etcd[57816]: snapshot count = 100000
Apr 07 09:43:38 ubuntu etcd[57816]: advertise client URLs = http://10.201.9.223:2379
Apr 07 09:43:38 ubuntu etcd[57816]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 07 09:43:38 ubuntu etcd[57816]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 07 09:43:38 ubuntu etcd[57816]: raft2025/04/07 09:43:38 INFO: c25b29daa831042c switched to configuration voters=()
Apr 07 09:43:38 ubuntu etcd[57816]: raft2025/04/07 09:43:38 INFO: c25b29daa831042c became follower at term 0
Apr 07 09:43:38 ubuntu etcd[57816]: raft2025/04/07 09:43:38 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 07 09:43:38 ubuntu etcd[57816]: raft2025/04/07 09:43:38 INFO: c25b29daa831042c became follower at term 1
Apr 07 09:43:38 ubuntu etcd[57816]: raft2025/04/07 09:43:38 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 07 09:43:38 ubuntu etcd[57816]: simple token is not cryptographically signed
Apr 07 09:43:38 ubuntu etcd[57816]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 07 09:43:38 ubuntu etcd[57816]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 07 09:43:38 ubuntu etcd[57816]: raft2025/04/07 09:43:38 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 07 09:43:38 ubuntu etcd[57816]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 07 09:43:38 ubuntu etcd[57816]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 07 09:43:38 ubuntu etcd[57816]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 07 09:43:38 ubuntu etcd[57816]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 07 09:43:38 ubuntu etcd[57816]: listening for peers on [::]:2380
Apr 07 09:43:39 ubuntu etcd[57816]: raft2025/04/07 09:43:39 INFO: c25b29daa831042c is starting a new election at term 1
Apr 07 09:43:39 ubuntu etcd[57816]: raft2025/04/07 09:43:39 INFO: c25b29daa831042c became candidate at term 2
Apr 07 09:43:39 ubuntu etcd[57816]: raft2025/04/07 09:43:39 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 07 09:43:39 ubuntu etcd[57816]: raft2025/04/07 09:43:39 INFO: c25b29daa831042c became leader at term 2
Apr 07 09:43:39 ubuntu etcd[57816]: raft2025/04/07 09:43:39 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 07 09:43:39 ubuntu etcd[57816]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 07 09:43:39 ubuntu etcd[57816]: setting up the initial cluster version to 3.4
Apr 07 09:43:39 ubuntu etcd[57816]: set the initial cluster version to 3.4
Apr 07 09:43:39 ubuntu etcd[57816]: enabled capabilities for version 3.4
Apr 07 09:43:39 ubuntu etcd[57816]: ready to serve client requests
Apr 07 09:43:39 ubuntu etcd[57816]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 07 09:43:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 07 09:47:46 ubuntu etcd[57816]: start time = 2025-04-07 09:47:46.431259218 +0000 UTC m=+247.662955697, time spent = 542.333µs, remote = 10.201.9.223:51054, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 07 09:47:46 ubuntu etcd[57816]: start time = 2025-04-07 09:47:46.444796674 +0000 UTC m=+247.676493174, time spent = 223.233µs, remote = 10.201.9.223:51054, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 07 09:47:53 ubuntu etcd[57816]: start time = 2025-04-07 09:47:53.062026337 +0000 UTC m=+254.293722830, time spent = 183.18µs, remote = 10.201.9.223:51054, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 07 09:47:55 ubuntu etcd[57816]: start time = 2025-04-07 09:47:55.287115288 +0000 UTC m=+256.518811768, time spent = 196.29µs, remote = 10.201.9.223:51054, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
