Apr 19 18:25:10 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 19 18:25:10 ubuntu etcd[60897]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 19 18:25:10 ubuntu etcd[60897]:         A future release of golang/protobuf will delete this package,
Apr 19 18:25:10 ubuntu etcd[60897]:         which has long been excluded from the compatibility promise.
Apr 19 18:25:10 ubuntu etcd[60897]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 19 18:25:10 ubuntu etcd[60897]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 19 18:25:10 ubuntu etcd[60897]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 19 18:25:10 ubuntu etcd[60897]: Running http and grpc server on single port. This is not recommended for production.
Apr 19 18:25:10 ubuntu etcd[60897]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 19 18:25:10 ubuntu etcd[60897]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 19 18:25:10 ubuntu etcd[60897]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 19 18:25:10 ubuntu etcd[60897]: etcd Version: 3.4.27
Apr 19 18:25:10 ubuntu etcd[60897]: Git SHA: c92fb80f3
Apr 19 18:25:10 ubuntu etcd[60897]: Go Version: go1.19.10
Apr 19 18:25:10 ubuntu etcd[60897]: Go OS/Arch: linux/amd64
Apr 19 18:25:10 ubuntu etcd[60897]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 19 18:25:10 ubuntu etcd[60897]: Running http and grpc server on single port. This is not recommended for production.
Apr 19 18:25:10 ubuntu etcd[60897]: name = ubuntu
Apr 19 18:25:10 ubuntu etcd[60897]: data dir = /opt/stack/data/etcd
Apr 19 18:25:10 ubuntu etcd[60897]: member dir = /opt/stack/data/etcd/member
Apr 19 18:25:10 ubuntu etcd[60897]: heartbeat = 100ms
Apr 19 18:25:10 ubuntu etcd[60897]: election = 1000ms
Apr 19 18:25:10 ubuntu etcd[60897]: snapshot count = 100000
Apr 19 18:25:10 ubuntu etcd[60897]: advertise client URLs = http://10.201.4.32:2379
Apr 19 18:25:10 ubuntu etcd[60897]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 19 18:25:10 ubuntu etcd[60897]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 19 18:25:10 ubuntu etcd[60897]: raft2024/04/19 18:25:10 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 19 18:25:10 ubuntu etcd[60897]: raft2024/04/19 18:25:10 INFO: 33238c1cdfea94eb became follower at term 0
Apr 19 18:25:10 ubuntu etcd[60897]: raft2024/04/19 18:25:10 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 19 18:25:10 ubuntu etcd[60897]: raft2024/04/19 18:25:10 INFO: 33238c1cdfea94eb became follower at term 1
Apr 19 18:25:10 ubuntu etcd[60897]: raft2024/04/19 18:25:10 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 19 18:25:10 ubuntu etcd[60897]: simple token is not cryptographically signed
Apr 19 18:25:10 ubuntu etcd[60897]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 19 18:25:10 ubuntu etcd[60897]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 19 18:25:10 ubuntu etcd[60897]: raft2024/04/19 18:25:10 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 19 18:25:10 ubuntu etcd[60897]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 19 18:25:10 ubuntu etcd[60897]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 19 18:25:10 ubuntu etcd[60897]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 19 18:25:10 ubuntu etcd[60897]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 19 18:25:10 ubuntu etcd[60897]: listening for peers on [::]:2380
Apr 19 18:25:11 ubuntu etcd[60897]: raft2024/04/19 18:25:11 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 19 18:25:11 ubuntu etcd[60897]: raft2024/04/19 18:25:11 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 19 18:25:11 ubuntu etcd[60897]: raft2024/04/19 18:25:11 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 19 18:25:11 ubuntu etcd[60897]: raft2024/04/19 18:25:11 INFO: 33238c1cdfea94eb became leader at term 2
Apr 19 18:25:11 ubuntu etcd[60897]: raft2024/04/19 18:25:11 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 19 18:25:11 ubuntu etcd[60897]: setting up the initial cluster version to 3.4
Apr 19 18:25:11 ubuntu etcd[60897]: set the initial cluster version to 3.4
Apr 19 18:25:11 ubuntu etcd[60897]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 19 18:25:11 ubuntu etcd[60897]: enabled capabilities for version 3.4
Apr 19 18:25:11 ubuntu etcd[60897]: ready to serve client requests
Apr 19 18:25:11 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 19 18:25:11 ubuntu etcd[60897]: INFO: 2024/04/19 18:25:11 parsed scheme: ""
Apr 19 18:25:11 ubuntu etcd[60897]: INFO: 2024/04/19 18:25:11 scheme "" not registered, fallback to default scheme
Apr 19 18:25:11 ubuntu etcd[60897]: INFO: 2024/04/19 18:25:11 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 19 18:25:11 ubuntu etcd[60897]: INFO: 2024/04/19 18:25:11 ClientConn switching balancer to "pick_first"
Apr 19 18:25:11 ubuntu etcd[60897]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 19 18:29:30 ubuntu etcd[60897]: start time = 2024-04-19 18:29:30.504441406 +0000 UTC m=+259.683430778, time spent = 491.726µs, remote = 10.201.4.32:60586, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 19 18:29:30 ubuntu etcd[60897]: start time = 2024-04-19 18:29:30.524213052 +0000 UTC m=+259.703202426, time spent = 266.207µs, remote = 10.201.4.32:60586, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 19 18:29:36 ubuntu etcd[60897]: start time = 2024-04-19 18:29:36.898671086 +0000 UTC m=+266.077660467, time spent = 177.417µs, remote = 10.201.4.32:60586, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 19 18:29:39 ubuntu etcd[60897]: start time = 2024-04-19 18:29:39.143879941 +0000 UTC m=+268.322869312, time spent = 475.285µs, remote = 10.201.4.32:60586, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
