Jul 04 03:56:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 04 03:56:58 ubuntu etcd[60075]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 04 03:56:58 ubuntu etcd[60075]:         A future release of golang/protobuf will delete this package,
Jul 04 03:56:58 ubuntu etcd[60075]:         which has long been excluded from the compatibility promise.
Jul 04 03:56:58 ubuntu etcd[60075]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 04 03:56:58 ubuntu etcd[60075]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 04 03:56:58 ubuntu etcd[60075]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 03:56:58 ubuntu etcd[60075]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 03:56:58 ubuntu etcd[60075]: etcd Version: 3.4.27
Jul 04 03:56:58 ubuntu etcd[60075]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 04 03:56:58 ubuntu etcd[60075]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 04 03:56:58 ubuntu etcd[60075]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 03:56:58 ubuntu etcd[60075]: Git SHA: c92fb80f3
Jul 04 03:56:58 ubuntu etcd[60075]: Go Version: go1.19.10
Jul 04 03:56:58 ubuntu etcd[60075]: Go OS/Arch: linux/amd64
Jul 04 03:56:58 ubuntu etcd[60075]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 04 03:56:58 ubuntu etcd[60075]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 03:56:58 ubuntu etcd[60075]: name = ubuntu
Jul 04 03:56:58 ubuntu etcd[60075]: data dir = /opt/stack/data/etcd
Jul 04 03:56:58 ubuntu etcd[60075]: member dir = /opt/stack/data/etcd/member
Jul 04 03:56:58 ubuntu etcd[60075]: heartbeat = 100ms
Jul 04 03:56:58 ubuntu etcd[60075]: election = 1000ms
Jul 04 03:56:58 ubuntu etcd[60075]: snapshot count = 100000
Jul 04 03:56:58 ubuntu etcd[60075]: advertise client URLs = http://10.201.9.223:2379
Jul 04 03:56:58 ubuntu etcd[60075]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 04 03:56:58 ubuntu etcd[60075]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 04 03:56:58 ubuntu etcd[60075]: raft2025/07/04 03:56:58 INFO: c25b29daa831042c switched to configuration voters=()
Jul 04 03:56:58 ubuntu etcd[60075]: raft2025/07/04 03:56:58 INFO: c25b29daa831042c became follower at term 0
Jul 04 03:56:58 ubuntu etcd[60075]: raft2025/07/04 03:56:58 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 04 03:56:58 ubuntu etcd[60075]: raft2025/07/04 03:56:58 INFO: c25b29daa831042c became follower at term 1
Jul 04 03:56:58 ubuntu etcd[60075]: raft2025/07/04 03:56:58 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 04 03:56:58 ubuntu etcd[60075]: simple token is not cryptographically signed
Jul 04 03:56:58 ubuntu etcd[60075]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 04 03:56:58 ubuntu etcd[60075]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 04 03:56:58 ubuntu etcd[60075]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 04 03:56:58 ubuntu etcd[60075]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 04 03:56:58 ubuntu etcd[60075]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 04 03:56:58 ubuntu etcd[60075]: raft2025/07/04 03:56:58 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 04 03:56:58 ubuntu etcd[60075]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 04 03:56:58 ubuntu etcd[60075]: listening for peers on [::]:2380
Jul 04 03:56:59 ubuntu etcd[60075]: raft2025/07/04 03:56:59 INFO: c25b29daa831042c is starting a new election at term 1
Jul 04 03:56:59 ubuntu etcd[60075]: raft2025/07/04 03:56:59 INFO: c25b29daa831042c became candidate at term 2
Jul 04 03:56:59 ubuntu etcd[60075]: raft2025/07/04 03:56:59 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 04 03:56:59 ubuntu etcd[60075]: raft2025/07/04 03:56:59 INFO: c25b29daa831042c became leader at term 2
Jul 04 03:56:59 ubuntu etcd[60075]: raft2025/07/04 03:56:59 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 04 03:56:59 ubuntu etcd[60075]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 04 03:56:59 ubuntu etcd[60075]: ready to serve client requests
Jul 04 03:56:59 ubuntu etcd[60075]: INFO: 2025/07/04 03:56:59 parsed scheme: ""
Jul 04 03:56:59 ubuntu etcd[60075]: INFO: 2025/07/04 03:56:59 scheme "" not registered, fallback to default scheme
Jul 04 03:56:59 ubuntu etcd[60075]: INFO: 2025/07/04 03:56:59 ccResolverWrapper: sending update to cc: {[{10.201.9.223:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 04 03:56:59 ubuntu etcd[60075]: INFO: 2025/07/04 03:56:59 ClientConn switching balancer to "pick_first"
Jul 04 03:56:59 ubuntu etcd[60075]: setting up the initial cluster version to 3.4
Jul 04 03:56:59 ubuntu etcd[60075]: set the initial cluster version to 3.4
Jul 04 03:56:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 04 03:56:59 ubuntu etcd[60075]: enabled capabilities for version 3.4
Jul 04 03:56:59 ubuntu etcd[60075]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 04 04:01:26 ubuntu etcd[60075]: start time = 2025-07-04 04:01:26.89471553 +0000 UTC m=+268.081621736, time spent = 451.112µs, remote = 10.201.9.223:33414, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 04:01:26 ubuntu etcd[60075]: start time = 2025-07-04 04:01:26.9054127 +0000 UTC m=+268.092318915, time spent = 166.007µs, remote = 10.201.9.223:33414, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 04:01:33 ubuntu etcd[60075]: start time = 2025-07-04 04:01:33.37851126 +0000 UTC m=+274.565417464, time spent = 168.128µs, remote = 10.201.9.223:33414, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 04:01:35 ubuntu etcd[60075]: start time = 2025-07-04 04:01:35.597653712 +0000 UTC m=+276.784559916, time spent = 335.142µs, remote = 10.201.9.223:33414, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 03:56:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 04 03:56:58 ubuntu etcd[60075]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 04 03:56:58 ubuntu etcd[60075]:         A future release of golang/protobuf will delete this package,
Jul 04 03:56:58 ubuntu etcd[60075]:         which has long been excluded from the compatibility promise.
Jul 04 03:56:58 ubuntu etcd[60075]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 04 03:56:58 ubuntu etcd[60075]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 04 03:56:58 ubuntu etcd[60075]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 03:56:58 ubuntu etcd[60075]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 03:56:58 ubuntu etcd[60075]: etcd Version: 3.4.27
Jul 04 03:56:58 ubuntu etcd[60075]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 04 03:56:58 ubuntu etcd[60075]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 04 03:56:58 ubuntu etcd[60075]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 03:56:58 ubuntu etcd[60075]: Git SHA: c92fb80f3
Jul 04 03:56:58 ubuntu etcd[60075]: Go Version: go1.19.10
Jul 04 03:56:58 ubuntu etcd[60075]: Go OS/Arch: linux/amd64
Jul 04 03:56:58 ubuntu etcd[60075]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 04 03:56:58 ubuntu etcd[60075]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 03:56:58 ubuntu etcd[60075]: name = ubuntu
Jul 04 03:56:58 ubuntu etcd[60075]: data dir = /opt/stack/data/etcd
Jul 04 03:56:58 ubuntu etcd[60075]: member dir = /opt/stack/data/etcd/member
Jul 04 03:56:58 ubuntu etcd[60075]: heartbeat = 100ms
Jul 04 03:56:58 ubuntu etcd[60075]: election = 1000ms
Jul 04 03:56:58 ubuntu etcd[60075]: snapshot count = 100000
Jul 04 03:56:58 ubuntu etcd[60075]: advertise client URLs = http://10.201.9.223:2379
Jul 04 03:56:58 ubuntu etcd[60075]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 04 03:56:58 ubuntu etcd[60075]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 04 03:56:58 ubuntu etcd[60075]: raft2025/07/04 03:56:58 INFO: c25b29daa831042c switched to configuration voters=()
Jul 04 03:56:58 ubuntu etcd[60075]: raft2025/07/04 03:56:58 INFO: c25b29daa831042c became follower at term 0
Jul 04 03:56:58 ubuntu etcd[60075]: raft2025/07/04 03:56:58 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 04 03:56:58 ubuntu etcd[60075]: raft2025/07/04 03:56:58 INFO: c25b29daa831042c became follower at term 1
Jul 04 03:56:58 ubuntu etcd[60075]: raft2025/07/04 03:56:58 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 04 03:56:58 ubuntu etcd[60075]: simple token is not cryptographically signed
Jul 04 03:56:58 ubuntu etcd[60075]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 04 03:56:58 ubuntu etcd[60075]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 04 03:56:58 ubuntu etcd[60075]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 04 03:56:58 ubuntu etcd[60075]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 04 03:56:58 ubuntu etcd[60075]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 04 03:56:58 ubuntu etcd[60075]: raft2025/07/04 03:56:58 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 04 03:56:58 ubuntu etcd[60075]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 04 03:56:58 ubuntu etcd[60075]: listening for peers on [::]:2380
Jul 04 03:56:59 ubuntu etcd[60075]: raft2025/07/04 03:56:59 INFO: c25b29daa831042c is starting a new election at term 1
Jul 04 03:56:59 ubuntu etcd[60075]: raft2025/07/04 03:56:59 INFO: c25b29daa831042c became candidate at term 2
Jul 04 03:56:59 ubuntu etcd[60075]: raft2025/07/04 03:56:59 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 04 03:56:59 ubuntu etcd[60075]: raft2025/07/04 03:56:59 INFO: c25b29daa831042c became leader at term 2
Jul 04 03:56:59 ubuntu etcd[60075]: raft2025/07/04 03:56:59 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 04 03:56:59 ubuntu etcd[60075]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 04 03:56:59 ubuntu etcd[60075]: ready to serve client requests
Jul 04 03:56:59 ubuntu etcd[60075]: INFO: 2025/07/04 03:56:59 parsed scheme: ""
Jul 04 03:56:59 ubuntu etcd[60075]: INFO: 2025/07/04 03:56:59 scheme "" not registered, fallback to default scheme
Jul 04 03:56:59 ubuntu etcd[60075]: INFO: 2025/07/04 03:56:59 ccResolverWrapper: sending update to cc: {[{10.201.9.223:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 04 03:56:59 ubuntu etcd[60075]: INFO: 2025/07/04 03:56:59 ClientConn switching balancer to "pick_first"
Jul 04 03:56:59 ubuntu etcd[60075]: setting up the initial cluster version to 3.4
Jul 04 03:56:59 ubuntu etcd[60075]: set the initial cluster version to 3.4
Jul 04 03:56:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 04 03:56:59 ubuntu etcd[60075]: enabled capabilities for version 3.4
Jul 04 03:56:59 ubuntu etcd[60075]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 04 04:01:26 ubuntu etcd[60075]: start time = 2025-07-04 04:01:26.89471553 +0000 UTC m=+268.081621736, time spent = 451.112µs, remote = 10.201.9.223:33414, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 04:01:26 ubuntu etcd[60075]: start time = 2025-07-04 04:01:26.9054127 +0000 UTC m=+268.092318915, time spent = 166.007µs, remote = 10.201.9.223:33414, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 04:01:33 ubuntu etcd[60075]: start time = 2025-07-04 04:01:33.37851126 +0000 UTC m=+274.565417464, time spent = 168.128µs, remote = 10.201.9.223:33414, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 04:01:35 ubuntu etcd[60075]: start time = 2025-07-04 04:01:35.597653712 +0000 UTC m=+276.784559916, time spent = 335.142µs, remote = 10.201.9.223:33414, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
