Jun 19 07:05:33 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 19 07:05:33 ubuntu etcd[60108]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 19 07:05:33 ubuntu etcd[60108]:         A future release of golang/protobuf will delete this package,
Jun 19 07:05:33 ubuntu etcd[60108]:         which has long been excluded from the compatibility promise.
Jun 19 07:05:33 ubuntu etcd[60108]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 19 07:05:33 ubuntu etcd[60108]: Running http and grpc server on single port. This is not recommended for production.
Jun 19 07:05:33 ubuntu etcd[60108]: etcd Version: 3.4.27
Jun 19 07:05:33 ubuntu etcd[60108]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 19 07:05:33 ubuntu etcd[60108]: Git SHA: c92fb80f3
Jun 19 07:05:33 ubuntu etcd[60108]: Go Version: go1.19.10
Jun 19 07:05:33 ubuntu etcd[60108]: Go OS/Arch: linux/amd64
Jun 19 07:05:33 ubuntu etcd[60108]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 19 07:05:33 ubuntu etcd[60108]: Running http and grpc server on single port. This is not recommended for production.
Jun 19 07:05:33 ubuntu etcd[60108]: name = ubuntu
Jun 19 07:05:33 ubuntu etcd[60108]: data dir = /opt/stack/data/etcd
Jun 19 07:05:33 ubuntu etcd[60108]: member dir = /opt/stack/data/etcd/member
Jun 19 07:05:33 ubuntu etcd[60108]: heartbeat = 100ms
Jun 19 07:05:33 ubuntu etcd[60108]: election = 1000ms
Jun 19 07:05:33 ubuntu etcd[60108]: snapshot count = 100000
Jun 19 07:05:33 ubuntu etcd[60108]: advertise client URLs = http://10.201.9.223:2379
Jun 19 07:05:33 ubuntu etcd[60108]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 19 07:05:33 ubuntu etcd[60108]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c switched to configuration voters=()
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c became follower at term 0
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c became follower at term 1
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 19 07:05:33 ubuntu etcd[60108]: simple token is not cryptographically signed
Jun 19 07:05:33 ubuntu etcd[60108]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 19 07:05:33 ubuntu etcd[60108]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 19 07:05:33 ubuntu etcd[60108]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 19 07:05:33 ubuntu etcd[60108]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 19 07:05:33 ubuntu etcd[60108]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 19 07:05:33 ubuntu etcd[60108]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 19 07:05:33 ubuntu etcd[60108]: listening for peers on [::]:2380
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c is starting a new election at term 1
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c became candidate at term 2
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c became leader at term 2
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 19 07:05:33 ubuntu etcd[60108]: setting up the initial cluster version to 3.4
Jun 19 07:05:33 ubuntu etcd[60108]: set the initial cluster version to 3.4
Jun 19 07:05:33 ubuntu etcd[60108]: enabled capabilities for version 3.4
Jun 19 07:05:33 ubuntu etcd[60108]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 19 07:05:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 19 07:05:33 ubuntu etcd[60108]: ready to serve client requests
Jun 19 07:05:33 ubuntu etcd[60108]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 19 07:09:42 ubuntu etcd[60108]: start time = 2025-06-19 07:09:42.133948915 +0000 UTC m=+249.013154067, time spent = 453.387µs, remote = 10.201.9.223:58658, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 07:09:42 ubuntu etcd[60108]: start time = 2025-06-19 07:09:42.201408688 +0000 UTC m=+249.080613854, time spent = 186.198µs, remote = 10.201.9.223:58658, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 07:09:48 ubuntu etcd[60108]: start time = 2025-06-19 07:09:48.556767531 +0000 UTC m=+255.435972694, time spent = 165.577µs, remote = 10.201.9.223:58658, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 07:09:50 ubuntu etcd[60108]: start time = 2025-06-19 07:09:50.555931185 +0000 UTC m=+257.435136348, time spent = 399.231µs, remote = 10.201.9.223:58658, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 07:05:33 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 19 07:05:33 ubuntu etcd[60108]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 19 07:05:33 ubuntu etcd[60108]:         A future release of golang/protobuf will delete this package,
Jun 19 07:05:33 ubuntu etcd[60108]:         which has long been excluded from the compatibility promise.
Jun 19 07:05:33 ubuntu etcd[60108]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 19 07:05:33 ubuntu etcd[60108]: Running http and grpc server on single port. This is not recommended for production.
Jun 19 07:05:33 ubuntu etcd[60108]: etcd Version: 3.4.27
Jun 19 07:05:33 ubuntu etcd[60108]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 19 07:05:33 ubuntu etcd[60108]: Git SHA: c92fb80f3
Jun 19 07:05:33 ubuntu etcd[60108]: Go Version: go1.19.10
Jun 19 07:05:33 ubuntu etcd[60108]: Go OS/Arch: linux/amd64
Jun 19 07:05:33 ubuntu etcd[60108]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 19 07:05:33 ubuntu etcd[60108]: Running http and grpc server on single port. This is not recommended for production.
Jun 19 07:05:33 ubuntu etcd[60108]: name = ubuntu
Jun 19 07:05:33 ubuntu etcd[60108]: data dir = /opt/stack/data/etcd
Jun 19 07:05:33 ubuntu etcd[60108]: member dir = /opt/stack/data/etcd/member
Jun 19 07:05:33 ubuntu etcd[60108]: heartbeat = 100ms
Jun 19 07:05:33 ubuntu etcd[60108]: election = 1000ms
Jun 19 07:05:33 ubuntu etcd[60108]: snapshot count = 100000
Jun 19 07:05:33 ubuntu etcd[60108]: advertise client URLs = http://10.201.9.223:2379
Jun 19 07:05:33 ubuntu etcd[60108]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 19 07:05:33 ubuntu etcd[60108]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c switched to configuration voters=()
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c became follower at term 0
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c became follower at term 1
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 19 07:05:33 ubuntu etcd[60108]: simple token is not cryptographically signed
Jun 19 07:05:33 ubuntu etcd[60108]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 19 07:05:33 ubuntu etcd[60108]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 19 07:05:33 ubuntu etcd[60108]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 19 07:05:33 ubuntu etcd[60108]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 19 07:05:33 ubuntu etcd[60108]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 19 07:05:33 ubuntu etcd[60108]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 19 07:05:33 ubuntu etcd[60108]: listening for peers on [::]:2380
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c is starting a new election at term 1
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c became candidate at term 2
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: c25b29daa831042c became leader at term 2
Jun 19 07:05:33 ubuntu etcd[60108]: raft2025/06/19 07:05:33 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 19 07:05:33 ubuntu etcd[60108]: setting up the initial cluster version to 3.4
Jun 19 07:05:33 ubuntu etcd[60108]: set the initial cluster version to 3.4
Jun 19 07:05:33 ubuntu etcd[60108]: enabled capabilities for version 3.4
Jun 19 07:05:33 ubuntu etcd[60108]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 19 07:05:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 19 07:05:33 ubuntu etcd[60108]: ready to serve client requests
Jun 19 07:05:33 ubuntu etcd[60108]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 19 07:09:42 ubuntu etcd[60108]: start time = 2025-06-19 07:09:42.133948915 +0000 UTC m=+249.013154067, time spent = 453.387µs, remote = 10.201.9.223:58658, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 07:09:42 ubuntu etcd[60108]: start time = 2025-06-19 07:09:42.201408688 +0000 UTC m=+249.080613854, time spent = 186.198µs, remote = 10.201.9.223:58658, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 07:09:48 ubuntu etcd[60108]: start time = 2025-06-19 07:09:48.556767531 +0000 UTC m=+255.435972694, time spent = 165.577µs, remote = 10.201.9.223:58658, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 07:09:50 ubuntu etcd[60108]: start time = 2025-06-19 07:09:50.555931185 +0000 UTC m=+257.435136348, time spent = 399.231µs, remote = 10.201.9.223:58658, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
