May 21 09:01:47 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 21 09:01:47 ubuntu etcd[60033]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 21 09:01:47 ubuntu etcd[60033]:         A future release of golang/protobuf will delete this package,
May 21 09:01:47 ubuntu etcd[60033]:         which has long been excluded from the compatibility promise.
May 21 09:01:47 ubuntu etcd[60033]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 21 09:01:47 ubuntu etcd[60033]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 21 09:01:47 ubuntu etcd[60033]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 09:01:47 ubuntu etcd[60033]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 21 09:01:47 ubuntu etcd[60033]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 21 09:01:47 ubuntu etcd[60033]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 09:01:47 ubuntu etcd[60033]: Running http and grpc server on single port. This is not recommended for production.
May 21 09:01:47 ubuntu etcd[60033]: etcd Version: 3.4.27
May 21 09:01:47 ubuntu etcd[60033]: Git SHA: c92fb80f3
May 21 09:01:47 ubuntu etcd[60033]: Go Version: go1.19.10
May 21 09:01:47 ubuntu etcd[60033]: Go OS/Arch: linux/amd64
May 21 09:01:47 ubuntu etcd[60033]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 21 09:01:47 ubuntu etcd[60033]: Running http and grpc server on single port. This is not recommended for production.
May 21 09:01:47 ubuntu etcd[60033]: name = ubuntu
May 21 09:01:47 ubuntu etcd[60033]: data dir = /opt/stack/data/etcd
May 21 09:01:47 ubuntu etcd[60033]: member dir = /opt/stack/data/etcd/member
May 21 09:01:47 ubuntu etcd[60033]: heartbeat = 100ms
May 21 09:01:47 ubuntu etcd[60033]: election = 1000ms
May 21 09:01:47 ubuntu etcd[60033]: snapshot count = 100000
May 21 09:01:47 ubuntu etcd[60033]: advertise client URLs = http://10.201.4.32:2379
May 21 09:01:47 ubuntu etcd[60033]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 21 09:01:47 ubuntu etcd[60033]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 21 09:01:47 ubuntu etcd[60033]: raft2024/05/21 09:01:47 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 21 09:01:47 ubuntu etcd[60033]: raft2024/05/21 09:01:47 INFO: 33238c1cdfea94eb became follower at term 0
May 21 09:01:47 ubuntu etcd[60033]: raft2024/05/21 09:01:47 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 21 09:01:47 ubuntu etcd[60033]: raft2024/05/21 09:01:47 INFO: 33238c1cdfea94eb became follower at term 1
May 21 09:01:47 ubuntu etcd[60033]: raft2024/05/21 09:01:47 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 21 09:01:47 ubuntu etcd[60033]: simple token is not cryptographically signed
May 21 09:01:47 ubuntu etcd[60033]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 21 09:01:47 ubuntu etcd[60033]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 21 09:01:47 ubuntu etcd[60033]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 21 09:01:47 ubuntu etcd[60033]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 21 09:01:47 ubuntu etcd[60033]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 21 09:01:47 ubuntu etcd[60033]: raft2024/05/21 09:01:47 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 21 09:01:47 ubuntu etcd[60033]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 21 09:01:47 ubuntu etcd[60033]: listening for peers on [::]:2380
May 21 09:01:48 ubuntu etcd[60033]: raft2024/05/21 09:01:48 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 21 09:01:48 ubuntu etcd[60033]: raft2024/05/21 09:01:48 INFO: 33238c1cdfea94eb became candidate at term 2
May 21 09:01:48 ubuntu etcd[60033]: raft2024/05/21 09:01:48 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 21 09:01:48 ubuntu etcd[60033]: raft2024/05/21 09:01:48 INFO: 33238c1cdfea94eb became leader at term 2
May 21 09:01:48 ubuntu etcd[60033]: raft2024/05/21 09:01:48 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 21 09:01:48 ubuntu etcd[60033]: INFO: 2024/05/21 09:01:48 parsed scheme: ""
May 21 09:01:48 ubuntu etcd[60033]: INFO: 2024/05/21 09:01:48 scheme "" not registered, fallback to default scheme
May 21 09:01:48 ubuntu etcd[60033]: INFO: 2024/05/21 09:01:48 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 21 09:01:48 ubuntu etcd[60033]: INFO: 2024/05/21 09:01:48 ClientConn switching balancer to "pick_first"
May 21 09:01:48 ubuntu etcd[60033]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 21 09:01:48 ubuntu etcd[60033]: ready to serve client requests
May 21 09:01:48 ubuntu etcd[60033]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 21 09:01:48 ubuntu etcd[60033]: setting up the initial cluster version to 3.4
May 21 09:01:48 ubuntu etcd[60033]: set the initial cluster version to 3.4
May 21 09:01:48 ubuntu etcd[60033]: enabled capabilities for version 3.4
May 21 09:01:48 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 21 09:06:03 ubuntu etcd[60033]: start time = 2024-05-21 09:06:03.261189635 +0000 UTC m=+255.941467999, time spent = 456.737µs, remote = 10.201.4.32:48738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 09:06:03 ubuntu etcd[60033]: start time = 2024-05-21 09:06:03.319210457 +0000 UTC m=+255.999488821, time spent = 164.883µs, remote = 10.201.4.32:48738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 09:06:09 ubuntu etcd[60033]: start time = 2024-05-21 09:06:09.998567464 +0000 UTC m=+262.678845828, time spent = 310.046µs, remote = 10.201.4.32:48738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 09:06:12 ubuntu etcd[60033]: start time = 2024-05-21 09:06:12.229561594 +0000 UTC m=+264.909839957, time spent = 426.757µs, remote = 10.201.4.32:48738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 09:01:47 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 21 09:01:47 ubuntu etcd[60033]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 21 09:01:47 ubuntu etcd[60033]:         A future release of golang/protobuf will delete this package,
May 21 09:01:47 ubuntu etcd[60033]:         which has long been excluded from the compatibility promise.
May 21 09:01:47 ubuntu etcd[60033]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 21 09:01:47 ubuntu etcd[60033]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 21 09:01:47 ubuntu etcd[60033]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 09:01:47 ubuntu etcd[60033]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 21 09:01:47 ubuntu etcd[60033]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 21 09:01:47 ubuntu etcd[60033]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 09:01:47 ubuntu etcd[60033]: Running http and grpc server on single port. This is not recommended for production.
May 21 09:01:47 ubuntu etcd[60033]: etcd Version: 3.4.27
May 21 09:01:47 ubuntu etcd[60033]: Git SHA: c92fb80f3
May 21 09:01:47 ubuntu etcd[60033]: Go Version: go1.19.10
May 21 09:01:47 ubuntu etcd[60033]: Go OS/Arch: linux/amd64
May 21 09:01:47 ubuntu etcd[60033]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 21 09:01:47 ubuntu etcd[60033]: Running http and grpc server on single port. This is not recommended for production.
May 21 09:01:47 ubuntu etcd[60033]: name = ubuntu
May 21 09:01:47 ubuntu etcd[60033]: data dir = /opt/stack/data/etcd
May 21 09:01:47 ubuntu etcd[60033]: member dir = /opt/stack/data/etcd/member
May 21 09:01:47 ubuntu etcd[60033]: heartbeat = 100ms
May 21 09:01:47 ubuntu etcd[60033]: election = 1000ms
May 21 09:01:47 ubuntu etcd[60033]: snapshot count = 100000
May 21 09:01:47 ubuntu etcd[60033]: advertise client URLs = http://10.201.4.32:2379
May 21 09:01:47 ubuntu etcd[60033]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 21 09:01:47 ubuntu etcd[60033]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 21 09:01:47 ubuntu etcd[60033]: raft2024/05/21 09:01:47 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 21 09:01:47 ubuntu etcd[60033]: raft2024/05/21 09:01:47 INFO: 33238c1cdfea94eb became follower at term 0
May 21 09:01:47 ubuntu etcd[60033]: raft2024/05/21 09:01:47 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 21 09:01:47 ubuntu etcd[60033]: raft2024/05/21 09:01:47 INFO: 33238c1cdfea94eb became follower at term 1
May 21 09:01:47 ubuntu etcd[60033]: raft2024/05/21 09:01:47 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 21 09:01:47 ubuntu etcd[60033]: simple token is not cryptographically signed
May 21 09:01:47 ubuntu etcd[60033]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 21 09:01:47 ubuntu etcd[60033]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 21 09:01:47 ubuntu etcd[60033]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 21 09:01:47 ubuntu etcd[60033]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 21 09:01:47 ubuntu etcd[60033]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 21 09:01:47 ubuntu etcd[60033]: raft2024/05/21 09:01:47 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 21 09:01:47 ubuntu etcd[60033]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 21 09:01:47 ubuntu etcd[60033]: listening for peers on [::]:2380
May 21 09:01:48 ubuntu etcd[60033]: raft2024/05/21 09:01:48 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 21 09:01:48 ubuntu etcd[60033]: raft2024/05/21 09:01:48 INFO: 33238c1cdfea94eb became candidate at term 2
May 21 09:01:48 ubuntu etcd[60033]: raft2024/05/21 09:01:48 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 21 09:01:48 ubuntu etcd[60033]: raft2024/05/21 09:01:48 INFO: 33238c1cdfea94eb became leader at term 2
May 21 09:01:48 ubuntu etcd[60033]: raft2024/05/21 09:01:48 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 21 09:01:48 ubuntu etcd[60033]: INFO: 2024/05/21 09:01:48 parsed scheme: ""
May 21 09:01:48 ubuntu etcd[60033]: INFO: 2024/05/21 09:01:48 scheme "" not registered, fallback to default scheme
May 21 09:01:48 ubuntu etcd[60033]: INFO: 2024/05/21 09:01:48 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 21 09:01:48 ubuntu etcd[60033]: INFO: 2024/05/21 09:01:48 ClientConn switching balancer to "pick_first"
May 21 09:01:48 ubuntu etcd[60033]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 21 09:01:48 ubuntu etcd[60033]: ready to serve client requests
May 21 09:01:48 ubuntu etcd[60033]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 21 09:01:48 ubuntu etcd[60033]: setting up the initial cluster version to 3.4
May 21 09:01:48 ubuntu etcd[60033]: set the initial cluster version to 3.4
May 21 09:01:48 ubuntu etcd[60033]: enabled capabilities for version 3.4
May 21 09:01:48 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 21 09:06:03 ubuntu etcd[60033]: start time = 2024-05-21 09:06:03.261189635 +0000 UTC m=+255.941467999, time spent = 456.737µs, remote = 10.201.4.32:48738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 09:06:03 ubuntu etcd[60033]: start time = 2024-05-21 09:06:03.319210457 +0000 UTC m=+255.999488821, time spent = 164.883µs, remote = 10.201.4.32:48738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 09:06:09 ubuntu etcd[60033]: start time = 2024-05-21 09:06:09.998567464 +0000 UTC m=+262.678845828, time spent = 310.046µs, remote = 10.201.4.32:48738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 09:06:12 ubuntu etcd[60033]: start time = 2024-05-21 09:06:12.229561594 +0000 UTC m=+264.909839957, time spent = 426.757µs, remote = 10.201.4.32:48738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
