Apr 02 04:46:36 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 02 04:46:36 ubuntu etcd[57457]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 02 04:46:36 ubuntu etcd[57457]:         A future release of golang/protobuf will delete this package,
Apr 02 04:46:36 ubuntu etcd[57457]:         which has long been excluded from the compatibility promise.
Apr 02 04:46:36 ubuntu etcd[57457]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 02 04:46:36 ubuntu etcd[57457]: Running http and grpc server on single port. This is not recommended for production.
Apr 02 04:46:36 ubuntu etcd[57457]: etcd Version: 3.4.27
Apr 02 04:46:36 ubuntu etcd[57457]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 02 04:46:36 ubuntu etcd[57457]: Git SHA: c92fb80f3
Apr 02 04:46:36 ubuntu etcd[57457]: Go Version: go1.19.10
Apr 02 04:46:36 ubuntu etcd[57457]: Go OS/Arch: linux/amd64
Apr 02 04:46:36 ubuntu etcd[57457]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 02 04:46:36 ubuntu etcd[57457]: Running http and grpc server on single port. This is not recommended for production.
Apr 02 04:46:36 ubuntu etcd[57457]: name = ubuntu
Apr 02 04:46:36 ubuntu etcd[57457]: data dir = /opt/stack/data/etcd
Apr 02 04:46:36 ubuntu etcd[57457]: member dir = /opt/stack/data/etcd/member
Apr 02 04:46:36 ubuntu etcd[57457]: heartbeat = 100ms
Apr 02 04:46:36 ubuntu etcd[57457]: election = 1000ms
Apr 02 04:46:36 ubuntu etcd[57457]: snapshot count = 100000
Apr 02 04:46:36 ubuntu etcd[57457]: advertise client URLs = http://10.201.9.223:2379
Apr 02 04:46:36 ubuntu etcd[57457]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 02 04:46:36 ubuntu etcd[57457]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 02 04:46:36 ubuntu etcd[57457]: raft2025/04/02 04:46:36 INFO: c25b29daa831042c switched to configuration voters=()
Apr 02 04:46:36 ubuntu etcd[57457]: raft2025/04/02 04:46:36 INFO: c25b29daa831042c became follower at term 0
Apr 02 04:46:36 ubuntu etcd[57457]: raft2025/04/02 04:46:36 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 02 04:46:36 ubuntu etcd[57457]: raft2025/04/02 04:46:36 INFO: c25b29daa831042c became follower at term 1
Apr 02 04:46:36 ubuntu etcd[57457]: raft2025/04/02 04:46:36 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 02 04:46:36 ubuntu etcd[57457]: simple token is not cryptographically signed
Apr 02 04:46:36 ubuntu etcd[57457]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 02 04:46:36 ubuntu etcd[57457]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 02 04:46:36 ubuntu etcd[57457]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 02 04:46:36 ubuntu etcd[57457]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 02 04:46:36 ubuntu etcd[57457]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 02 04:46:36 ubuntu etcd[57457]: listening for peers on [::]:2380
Apr 02 04:46:36 ubuntu etcd[57457]: raft2025/04/02 04:46:36 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 02 04:46:36 ubuntu etcd[57457]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 02 04:46:37 ubuntu etcd[57457]: raft2025/04/02 04:46:37 INFO: c25b29daa831042c is starting a new election at term 1
Apr 02 04:46:37 ubuntu etcd[57457]: raft2025/04/02 04:46:37 INFO: c25b29daa831042c became candidate at term 2
Apr 02 04:46:37 ubuntu etcd[57457]: raft2025/04/02 04:46:37 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 02 04:46:37 ubuntu etcd[57457]: raft2025/04/02 04:46:37 INFO: c25b29daa831042c became leader at term 2
Apr 02 04:46:37 ubuntu etcd[57457]: raft2025/04/02 04:46:37 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 02 04:46:37 ubuntu etcd[57457]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 02 04:46:37 ubuntu etcd[57457]: ready to serve client requests
Apr 02 04:46:37 ubuntu etcd[57457]: setting up the initial cluster version to 3.4
Apr 02 04:46:37 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 02 04:46:37 ubuntu etcd[57457]: set the initial cluster version to 3.4
Apr 02 04:46:37 ubuntu etcd[57457]: enabled capabilities for version 3.4
Apr 02 04:46:37 ubuntu etcd[57457]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 02 04:50:43 ubuntu etcd[57457]: start time = 2025-04-02 04:50:43.660401996 +0000 UTC m=+246.925607212, time spent = 400.782µs, remote = 10.201.9.223:41244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 02 04:50:43 ubuntu etcd[57457]: start time = 2025-04-02 04:50:43.674950403 +0000 UTC m=+246.940155637, time spent = 210.263µs, remote = 10.201.9.223:41244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 02 04:50:50 ubuntu etcd[57457]: start time = 2025-04-02 04:50:50.191700623 +0000 UTC m=+253.456905855, time spent = 156.726µs, remote = 10.201.9.223:41244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 02 04:50:52 ubuntu etcd[57457]: start time = 2025-04-02 04:50:52.281864712 +0000 UTC m=+255.547069939, time spent = 179.7µs, remote = 10.201.9.223:41244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
