Apr 02 13:16:11 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 02 13:16:11 ubuntu etcd[57716]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 02 13:16:11 ubuntu etcd[57716]:         A future release of golang/protobuf will delete this package,
Apr 02 13:16:11 ubuntu etcd[57716]:         which has long been excluded from the compatibility promise.
Apr 02 13:16:11 ubuntu etcd[57716]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 02 13:16:11 ubuntu etcd[57716]: Running http and grpc server on single port. This is not recommended for production.
Apr 02 13:16:11 ubuntu etcd[57716]: etcd Version: 3.4.27
Apr 02 13:16:11 ubuntu etcd[57716]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 02 13:16:11 ubuntu etcd[57716]: Git SHA: c92fb80f3
Apr 02 13:16:11 ubuntu etcd[57716]: Go Version: go1.19.10
Apr 02 13:16:11 ubuntu etcd[57716]: Go OS/Arch: linux/amd64
Apr 02 13:16:11 ubuntu etcd[57716]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 02 13:16:11 ubuntu etcd[57716]: Running http and grpc server on single port. This is not recommended for production.
Apr 02 13:16:11 ubuntu etcd[57716]: name = ubuntu
Apr 02 13:16:11 ubuntu etcd[57716]: data dir = /opt/stack/data/etcd
Apr 02 13:16:11 ubuntu etcd[57716]: member dir = /opt/stack/data/etcd/member
Apr 02 13:16:11 ubuntu etcd[57716]: heartbeat = 100ms
Apr 02 13:16:11 ubuntu etcd[57716]: election = 1000ms
Apr 02 13:16:11 ubuntu etcd[57716]: snapshot count = 100000
Apr 02 13:16:11 ubuntu etcd[57716]: advertise client URLs = http://10.201.9.223:2379
Apr 02 13:16:11 ubuntu etcd[57716]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 02 13:16:11 ubuntu etcd[57716]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 02 13:16:11 ubuntu etcd[57716]: raft2025/04/02 13:16:11 INFO: c25b29daa831042c switched to configuration voters=()
Apr 02 13:16:11 ubuntu etcd[57716]: raft2025/04/02 13:16:11 INFO: c25b29daa831042c became follower at term 0
Apr 02 13:16:11 ubuntu etcd[57716]: raft2025/04/02 13:16:11 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 02 13:16:11 ubuntu etcd[57716]: raft2025/04/02 13:16:11 INFO: c25b29daa831042c became follower at term 1
Apr 02 13:16:11 ubuntu etcd[57716]: raft2025/04/02 13:16:11 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 02 13:16:11 ubuntu etcd[57716]: simple token is not cryptographically signed
Apr 02 13:16:11 ubuntu etcd[57716]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 02 13:16:11 ubuntu etcd[57716]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 02 13:16:11 ubuntu etcd[57716]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 02 13:16:11 ubuntu etcd[57716]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 02 13:16:11 ubuntu etcd[57716]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 02 13:16:11 ubuntu etcd[57716]: raft2025/04/02 13:16:11 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 02 13:16:11 ubuntu etcd[57716]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 02 13:16:11 ubuntu etcd[57716]: listening for peers on [::]:2380
Apr 02 13:16:12 ubuntu etcd[57716]: raft2025/04/02 13:16:12 INFO: c25b29daa831042c is starting a new election at term 1
Apr 02 13:16:12 ubuntu etcd[57716]: raft2025/04/02 13:16:12 INFO: c25b29daa831042c became candidate at term 2
Apr 02 13:16:12 ubuntu etcd[57716]: raft2025/04/02 13:16:12 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 02 13:16:12 ubuntu etcd[57716]: raft2025/04/02 13:16:12 INFO: c25b29daa831042c became leader at term 2
Apr 02 13:16:12 ubuntu etcd[57716]: raft2025/04/02 13:16:12 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 02 13:16:12 ubuntu etcd[57716]: setting up the initial cluster version to 3.4
Apr 02 13:16:12 ubuntu etcd[57716]: set the initial cluster version to 3.4
Apr 02 13:16:12 ubuntu etcd[57716]: enabled capabilities for version 3.4
Apr 02 13:16:12 ubuntu etcd[57716]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 02 13:16:12 ubuntu etcd[57716]: ready to serve client requests
Apr 02 13:16:12 ubuntu etcd[57716]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 02 13:16:12 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 02 13:20:16 ubuntu etcd[57716]: start time = 2025-04-02 13:20:16.57048764 +0000 UTC m=+244.968472800, time spent = 407.579µs, remote = 10.201.9.223:46632, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 02 13:20:16 ubuntu etcd[57716]: start time = 2025-04-02 13:20:16.591014769 +0000 UTC m=+244.988999941, time spent = 189.429µs, remote = 10.201.9.223:46632, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 02 13:20:22 ubuntu etcd[57716]: start time = 2025-04-02 13:20:22.931866069 +0000 UTC m=+251.329851241, time spent = 179.758µs, remote = 10.201.9.223:46632, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 02 13:20:24 ubuntu etcd[57716]: start time = 2025-04-02 13:20:24.955502974 +0000 UTC m=+253.353488141, time spent = 198.633µs, remote = 10.201.9.223:46632, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
