Feb 27 09:05:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 27 09:05:55 ubuntu etcd[60404]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 27 09:05:55 ubuntu etcd[60404]:         A future release of golang/protobuf will delete this package,
Feb 27 09:05:55 ubuntu etcd[60404]:         which has long been excluded from the compatibility promise.
Feb 27 09:05:55 ubuntu etcd[60404]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 27 09:05:55 ubuntu etcd[60404]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 27 09:05:55 ubuntu etcd[60404]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 09:05:55 ubuntu etcd[60404]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 27 09:05:55 ubuntu etcd[60404]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 27 09:05:55 ubuntu etcd[60404]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 09:05:55 ubuntu etcd[60404]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 09:05:55 ubuntu etcd[60404]: etcd Version: 3.4.27
Feb 27 09:05:55 ubuntu etcd[60404]: Git SHA: c92fb80f3
Feb 27 09:05:55 ubuntu etcd[60404]: Go Version: go1.19.10
Feb 27 09:05:55 ubuntu etcd[60404]: Go OS/Arch: linux/amd64
Feb 27 09:05:55 ubuntu etcd[60404]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 27 09:05:55 ubuntu etcd[60404]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 09:05:55 ubuntu etcd[60404]: name = ubuntu
Feb 27 09:05:55 ubuntu etcd[60404]: data dir = /opt/stack/data/etcd
Feb 27 09:05:55 ubuntu etcd[60404]: member dir = /opt/stack/data/etcd/member
Feb 27 09:05:55 ubuntu etcd[60404]: heartbeat = 100ms
Feb 27 09:05:55 ubuntu etcd[60404]: election = 1000ms
Feb 27 09:05:55 ubuntu etcd[60404]: snapshot count = 100000
Feb 27 09:05:55 ubuntu etcd[60404]: advertise client URLs = http://10.201.4.32:2379
Feb 27 09:05:55 ubuntu etcd[60404]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 27 09:05:55 ubuntu etcd[60404]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 27 09:05:55 ubuntu etcd[60404]: raft2024/02/27 09:05:55 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 27 09:05:55 ubuntu etcd[60404]: raft2024/02/27 09:05:55 INFO: 33238c1cdfea94eb became follower at term 0
Feb 27 09:05:55 ubuntu etcd[60404]: raft2024/02/27 09:05:55 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 27 09:05:55 ubuntu etcd[60404]: raft2024/02/27 09:05:55 INFO: 33238c1cdfea94eb became follower at term 1
Feb 27 09:05:55 ubuntu etcd[60404]: raft2024/02/27 09:05:55 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 27 09:05:55 ubuntu etcd[60404]: simple token is not cryptographically signed
Feb 27 09:05:55 ubuntu etcd[60404]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 27 09:05:55 ubuntu etcd[60404]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 27 09:05:55 ubuntu etcd[60404]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 27 09:05:55 ubuntu etcd[60404]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 27 09:05:55 ubuntu etcd[60404]: raft2024/02/27 09:05:55 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 27 09:05:55 ubuntu etcd[60404]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 27 09:05:55 ubuntu etcd[60404]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 27 09:05:55 ubuntu etcd[60404]: listening for peers on [::]:2380
Feb 27 09:05:56 ubuntu etcd[60404]: raft2024/02/27 09:05:56 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 27 09:05:56 ubuntu etcd[60404]: raft2024/02/27 09:05:56 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 27 09:05:56 ubuntu etcd[60404]: raft2024/02/27 09:05:56 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 27 09:05:56 ubuntu etcd[60404]: raft2024/02/27 09:05:56 INFO: 33238c1cdfea94eb became leader at term 2
Feb 27 09:05:56 ubuntu etcd[60404]: raft2024/02/27 09:05:56 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 27 09:05:56 ubuntu etcd[60404]: INFO: 2024/02/27 09:05:56 parsed scheme: ""
Feb 27 09:05:56 ubuntu etcd[60404]: INFO: 2024/02/27 09:05:56 scheme "" not registered, fallback to default scheme
Feb 27 09:05:56 ubuntu etcd[60404]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 27 09:05:56 ubuntu etcd[60404]: INFO: 2024/02/27 09:05:56 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 27 09:05:56 ubuntu etcd[60404]: INFO: 2024/02/27 09:05:56 ClientConn switching balancer to "pick_first"
Feb 27 09:05:56 ubuntu etcd[60404]: setting up the initial cluster version to 3.4
Feb 27 09:05:56 ubuntu etcd[60404]: ready to serve client requests
Feb 27 09:05:56 ubuntu etcd[60404]: set the initial cluster version to 3.4
Feb 27 09:05:56 ubuntu etcd[60404]: enabled capabilities for version 3.4
Feb 27 09:05:56 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 27 09:05:56 ubuntu etcd[60404]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 27 09:10:14 ubuntu etcd[60404]: start time = 2024-02-27 09:10:14.079969869 +0000 UTC m=+258.322193494, time spent = 597.106µs, remote = 10.201.4.32:57790, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 09:10:14 ubuntu etcd[60404]: start time = 2024-02-27 09:10:14.328428452 +0000 UTC m=+258.570652055, time spent = 191.179µs, remote = 10.201.4.32:57790, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 09:10:20 ubuntu etcd[60404]: start time = 2024-02-27 09:10:20.894480848 +0000 UTC m=+265.136704463, time spent = 153.18µs, remote = 10.201.4.32:57790, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 09:10:23 ubuntu etcd[60404]: start time = 2024-02-27 09:10:23.179870652 +0000 UTC m=+267.422094255, time spent = 183.573µs, remote = 10.201.4.32:57790, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
