Jan 11 07:49:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 11 07:49:02 ubuntu etcd[59675]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 11 07:49:02 ubuntu etcd[59675]:         A future release of golang/protobuf will delete this package,
Jan 11 07:49:02 ubuntu etcd[59675]:         which has long been excluded from the compatibility promise.
Jan 11 07:49:02 ubuntu etcd[59675]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 11 07:49:02 ubuntu etcd[59675]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 11 07:49:02 ubuntu etcd[59675]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 11 07:49:02 ubuntu etcd[59675]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 11 07:49:02 ubuntu etcd[59675]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 11 07:49:02 ubuntu etcd[59675]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 11 07:49:02 ubuntu etcd[59675]: Running http and grpc server on single port. This is not recommended for production.
Jan 11 07:49:02 ubuntu etcd[59675]: etcd Version: 3.4.27
Jan 11 07:49:02 ubuntu etcd[59675]: Git SHA: c92fb80f3
Jan 11 07:49:02 ubuntu etcd[59675]: Go Version: go1.19.10
Jan 11 07:49:02 ubuntu etcd[59675]: Go OS/Arch: linux/amd64
Jan 11 07:49:02 ubuntu etcd[59675]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 11 07:49:02 ubuntu etcd[59675]: Running http and grpc server on single port. This is not recommended for production.
Jan 11 07:49:02 ubuntu etcd[59675]: name = ubuntu
Jan 11 07:49:02 ubuntu etcd[59675]: data dir = /opt/stack/data/etcd
Jan 11 07:49:02 ubuntu etcd[59675]: member dir = /opt/stack/data/etcd/member
Jan 11 07:49:02 ubuntu etcd[59675]: heartbeat = 100ms
Jan 11 07:49:02 ubuntu etcd[59675]: election = 1000ms
Jan 11 07:49:02 ubuntu etcd[59675]: snapshot count = 100000
Jan 11 07:49:02 ubuntu etcd[59675]: advertise client URLs = http://10.201.4.32:2379
Jan 11 07:49:02 ubuntu etcd[59675]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 11 07:49:02 ubuntu etcd[59675]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 11 07:49:02 ubuntu etcd[59675]: raft2024/01/11 07:49:02 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 11 07:49:02 ubuntu etcd[59675]: raft2024/01/11 07:49:02 INFO: 33238c1cdfea94eb became follower at term 0
Jan 11 07:49:02 ubuntu etcd[59675]: raft2024/01/11 07:49:02 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 11 07:49:02 ubuntu etcd[59675]: raft2024/01/11 07:49:02 INFO: 33238c1cdfea94eb became follower at term 1
Jan 11 07:49:02 ubuntu etcd[59675]: raft2024/01/11 07:49:02 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 11 07:49:02 ubuntu etcd[59675]: simple token is not cryptographically signed
Jan 11 07:49:02 ubuntu etcd[59675]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 11 07:49:02 ubuntu etcd[59675]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 11 07:49:02 ubuntu etcd[59675]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 11 07:49:02 ubuntu etcd[59675]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 11 07:49:02 ubuntu etcd[59675]: raft2024/01/11 07:49:02 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 11 07:49:02 ubuntu etcd[59675]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 11 07:49:02 ubuntu etcd[59675]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 11 07:49:02 ubuntu etcd[59675]: listening for peers on [::]:2380
Jan 11 07:49:02 ubuntu etcd[59675]: raft2024/01/11 07:49:02 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 11 07:49:02 ubuntu etcd[59675]: raft2024/01/11 07:49:02 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 11 07:49:02 ubuntu etcd[59675]: raft2024/01/11 07:49:02 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 11 07:49:02 ubuntu etcd[59675]: raft2024/01/11 07:49:02 INFO: 33238c1cdfea94eb became leader at term 2
Jan 11 07:49:02 ubuntu etcd[59675]: raft2024/01/11 07:49:02 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 11 07:49:02 ubuntu etcd[59675]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 11 07:49:02 ubuntu etcd[59675]: ready to serve client requests
Jan 11 07:49:02 ubuntu etcd[59675]: INFO: 2024/01/11 07:49:02 parsed scheme: ""
Jan 11 07:49:02 ubuntu etcd[59675]: INFO: 2024/01/11 07:49:02 scheme "" not registered, fallback to default scheme
Jan 11 07:49:02 ubuntu etcd[59675]: setting up the initial cluster version to 3.4
Jan 11 07:49:02 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 11 07:49:02 ubuntu etcd[59675]: set the initial cluster version to 3.4
Jan 11 07:49:03 ubuntu etcd[59675]: INFO: 2024/01/11 07:49:02 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 11 07:49:02 ubuntu etcd[59675]: enabled capabilities for version 3.4
Jan 11 07:49:03 ubuntu etcd[59675]: INFO: 2024/01/11 07:49:03 ClientConn switching balancer to "pick_first"
Jan 11 07:49:03 ubuntu etcd[59675]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 11 07:53:29 ubuntu etcd[59675]: start time = 2024-01-11 07:53:29.097549015 +0000 UTC m=+266.246673104, time spent = 473.705µs, remote = 10.201.4.32:49206, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 11 07:53:29 ubuntu etcd[59675]: start time = 2024-01-11 07:53:29.113812871 +0000 UTC m=+266.262936972, time spent = 235.643µs, remote = 10.201.4.32:49206, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 11 07:53:35 ubuntu etcd[59675]: start time = 2024-01-11 07:53:35.786897685 +0000 UTC m=+272.936021773, time spent = 235.341µs, remote = 10.201.4.32:49206, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 11 07:53:38 ubuntu etcd[59675]: start time = 2024-01-11 07:53:38.034323531 +0000 UTC m=+275.183447620, time spent = 306.168µs, remote = 10.201.4.32:49206, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
