Mar 11 12:43:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 11 12:43:32 ubuntu etcd[62315]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 11 12:43:32 ubuntu etcd[62315]:         A future release of golang/protobuf will delete this package,
Mar 11 12:43:32 ubuntu etcd[62315]:         which has long been excluded from the compatibility promise.
Mar 11 12:43:32 ubuntu etcd[62315]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 11 12:43:32 ubuntu etcd[62315]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 11 12:43:32 ubuntu etcd[62315]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 11 12:43:32 ubuntu etcd[62315]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 11 12:43:32 ubuntu etcd[62315]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 11 12:43:32 ubuntu etcd[62315]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 11 12:43:32 ubuntu etcd[62315]: Running http and grpc server on single port. This is not recommended for production.
Mar 11 12:43:32 ubuntu etcd[62315]: etcd Version: 3.4.27
Mar 11 12:43:32 ubuntu etcd[62315]: Git SHA: c92fb80f3
Mar 11 12:43:32 ubuntu etcd[62315]: Go Version: go1.19.10
Mar 11 12:43:32 ubuntu etcd[62315]: Go OS/Arch: linux/amd64
Mar 11 12:43:32 ubuntu etcd[62315]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 11 12:43:32 ubuntu etcd[62315]: Running http and grpc server on single port. This is not recommended for production.
Mar 11 12:43:32 ubuntu etcd[62315]: name = ubuntu
Mar 11 12:43:32 ubuntu etcd[62315]: data dir = /opt/stack/data/etcd
Mar 11 12:43:32 ubuntu etcd[62315]: member dir = /opt/stack/data/etcd/member
Mar 11 12:43:32 ubuntu etcd[62315]: heartbeat = 100ms
Mar 11 12:43:32 ubuntu etcd[62315]: election = 1000ms
Mar 11 12:43:32 ubuntu etcd[62315]: snapshot count = 100000
Mar 11 12:43:32 ubuntu etcd[62315]: advertise client URLs = http://10.201.4.32:2379
Mar 11 12:43:32 ubuntu etcd[62315]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 11 12:43:32 ubuntu etcd[62315]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 11 12:43:32 ubuntu etcd[62315]: raft2024/03/11 12:43:32 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 11 12:43:32 ubuntu etcd[62315]: raft2024/03/11 12:43:32 INFO: 33238c1cdfea94eb became follower at term 0
Mar 11 12:43:32 ubuntu etcd[62315]: raft2024/03/11 12:43:32 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 11 12:43:32 ubuntu etcd[62315]: raft2024/03/11 12:43:32 INFO: 33238c1cdfea94eb became follower at term 1
Mar 11 12:43:32 ubuntu etcd[62315]: raft2024/03/11 12:43:32 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 11 12:43:32 ubuntu etcd[62315]: simple token is not cryptographically signed
Mar 11 12:43:32 ubuntu etcd[62315]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 11 12:43:32 ubuntu etcd[62315]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 11 12:43:32 ubuntu etcd[62315]: raft2024/03/11 12:43:32 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 11 12:43:32 ubuntu etcd[62315]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 11 12:43:32 ubuntu etcd[62315]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 11 12:43:32 ubuntu etcd[62315]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 11 12:43:32 ubuntu etcd[62315]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 11 12:43:32 ubuntu etcd[62315]: listening for peers on [::]:2380
Mar 11 12:43:32 ubuntu etcd[62315]: raft2024/03/11 12:43:32 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 11 12:43:32 ubuntu etcd[62315]: raft2024/03/11 12:43:32 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 11 12:43:32 ubuntu etcd[62315]: raft2024/03/11 12:43:32 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 11 12:43:32 ubuntu etcd[62315]: raft2024/03/11 12:43:32 INFO: 33238c1cdfea94eb became leader at term 2
Mar 11 12:43:32 ubuntu etcd[62315]: raft2024/03/11 12:43:32 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 11 12:43:32 ubuntu etcd[62315]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 11 12:43:32 ubuntu etcd[62315]: setting up the initial cluster version to 3.4
Mar 11 12:43:32 ubuntu etcd[62315]: ready to serve client requests
Mar 11 12:43:32 ubuntu etcd[62315]: set the initial cluster version to 3.4
Mar 11 12:43:32 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 11 12:43:32 ubuntu etcd[62315]: enabled capabilities for version 3.4
Mar 11 12:43:32 ubuntu etcd[62315]: INFO: 2024/03/11 12:43:32 parsed scheme: ""
Mar 11 12:43:32 ubuntu etcd[62315]: INFO: 2024/03/11 12:43:32 scheme "" not registered, fallback to default scheme
Mar 11 12:43:32 ubuntu etcd[62315]: INFO: 2024/03/11 12:43:32 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 11 12:43:32 ubuntu etcd[62315]: INFO: 2024/03/11 12:43:32 ClientConn switching balancer to "pick_first"
Mar 11 12:43:32 ubuntu etcd[62315]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 11 12:47:51 ubuntu etcd[62315]: start time = 2024-03-11 12:47:51.910872376 +0000 UTC m=+259.501019356, time spent = 500.413µs, remote = 10.201.4.32:38714, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 11 12:47:52 ubuntu etcd[62315]: start time = 2024-03-11 12:47:52.10839976 +0000 UTC m=+259.698546741, time spent = 265.992µs, remote = 10.201.4.32:38714, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 11 12:47:58 ubuntu etcd[62315]: start time = 2024-03-11 12:47:58.489565535 +0000 UTC m=+266.079712526, time spent = 210.22µs, remote = 10.201.4.32:38714, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 11 12:48:00 ubuntu etcd[62315]: start time = 2024-03-11 12:48:00.819587688 +0000 UTC m=+268.409734680, time spent = 807.035µs, remote = 10.201.4.32:38714, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
