Apr 11 13:11:24 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 11 13:11:24 ubuntu etcd[60412]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 11 13:11:24 ubuntu etcd[60412]:         A future release of golang/protobuf will delete this package,
Apr 11 13:11:24 ubuntu etcd[60412]:         which has long been excluded from the compatibility promise.
Apr 11 13:11:24 ubuntu etcd[60412]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 11 13:11:24 ubuntu etcd[60412]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 11 13:11:24 ubuntu etcd[60412]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 11 13:11:24 ubuntu etcd[60412]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 11 13:11:24 ubuntu etcd[60412]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 11 13:11:24 ubuntu etcd[60412]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 11 13:11:24 ubuntu etcd[60412]: Running http and grpc server on single port. This is not recommended for production.
Apr 11 13:11:24 ubuntu etcd[60412]: etcd Version: 3.4.27
Apr 11 13:11:24 ubuntu etcd[60412]: Git SHA: c92fb80f3
Apr 11 13:11:24 ubuntu etcd[60412]: Go Version: go1.19.10
Apr 11 13:11:24 ubuntu etcd[60412]: Go OS/Arch: linux/amd64
Apr 11 13:11:24 ubuntu etcd[60412]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 11 13:11:24 ubuntu etcd[60412]: Running http and grpc server on single port. This is not recommended for production.
Apr 11 13:11:24 ubuntu etcd[60412]: name = ubuntu
Apr 11 13:11:24 ubuntu etcd[60412]: data dir = /opt/stack/data/etcd
Apr 11 13:11:24 ubuntu etcd[60412]: member dir = /opt/stack/data/etcd/member
Apr 11 13:11:24 ubuntu etcd[60412]: heartbeat = 100ms
Apr 11 13:11:24 ubuntu etcd[60412]: election = 1000ms
Apr 11 13:11:24 ubuntu etcd[60412]: snapshot count = 100000
Apr 11 13:11:24 ubuntu etcd[60412]: advertise client URLs = http://10.201.4.32:2379
Apr 11 13:11:24 ubuntu etcd[60412]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 11 13:11:24 ubuntu etcd[60412]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 11 13:11:24 ubuntu etcd[60412]: raft2024/04/11 13:11:24 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 11 13:11:24 ubuntu etcd[60412]: raft2024/04/11 13:11:24 INFO: 33238c1cdfea94eb became follower at term 0
Apr 11 13:11:24 ubuntu etcd[60412]: raft2024/04/11 13:11:24 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 11 13:11:24 ubuntu etcd[60412]: raft2024/04/11 13:11:24 INFO: 33238c1cdfea94eb became follower at term 1
Apr 11 13:11:24 ubuntu etcd[60412]: raft2024/04/11 13:11:24 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 11 13:11:24 ubuntu etcd[60412]: simple token is not cryptographically signed
Apr 11 13:11:24 ubuntu etcd[60412]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 11 13:11:24 ubuntu etcd[60412]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 11 13:11:24 ubuntu etcd[60412]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 11 13:11:24 ubuntu etcd[60412]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 11 13:11:24 ubuntu etcd[60412]: raft2024/04/11 13:11:24 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 11 13:11:24 ubuntu etcd[60412]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 11 13:11:24 ubuntu etcd[60412]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 11 13:11:24 ubuntu etcd[60412]: listening for peers on [::]:2380
Apr 11 13:11:24 ubuntu etcd[60412]: raft2024/04/11 13:11:24 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 11 13:11:24 ubuntu etcd[60412]: raft2024/04/11 13:11:24 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 11 13:11:24 ubuntu etcd[60412]: raft2024/04/11 13:11:24 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 11 13:11:24 ubuntu etcd[60412]: raft2024/04/11 13:11:24 INFO: 33238c1cdfea94eb became leader at term 2
Apr 11 13:11:24 ubuntu etcd[60412]: raft2024/04/11 13:11:24 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 11 13:11:24 ubuntu etcd[60412]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 11 13:11:24 ubuntu etcd[60412]: setting up the initial cluster version to 3.4
Apr 11 13:11:24 ubuntu etcd[60412]: set the initial cluster version to 3.4
Apr 11 13:11:24 ubuntu etcd[60412]: INFO: 2024/04/11 13:11:24 parsed scheme: ""
Apr 11 13:11:24 ubuntu etcd[60412]: INFO: 2024/04/11 13:11:24 scheme "" not registered, fallback to default scheme
Apr 11 13:11:24 ubuntu etcd[60412]: INFO: 2024/04/11 13:11:24 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 11 13:11:24 ubuntu etcd[60412]: INFO: 2024/04/11 13:11:24 ClientConn switching balancer to "pick_first"
Apr 11 13:11:24 ubuntu etcd[60412]: enabled capabilities for version 3.4
Apr 11 13:11:24 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 11 13:11:24 ubuntu etcd[60412]: ready to serve client requests
Apr 11 13:11:24 ubuntu etcd[60412]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 11 13:15:42 ubuntu etcd[60412]: start time = 2024-04-11 13:15:42.978577004 +0000 UTC m=+258.913762911, time spent = 420.142µs, remote = 10.201.4.32:43496, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 11 13:15:42 ubuntu etcd[60412]: start time = 2024-04-11 13:15:42.985603678 +0000 UTC m=+258.920789585, time spent = 202.162µs, remote = 10.201.4.32:43496, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 11 13:15:49 ubuntu etcd[60412]: start time = 2024-04-11 13:15:49.322220501 +0000 UTC m=+265.257406421, time spent = 184.742µs, remote = 10.201.4.32:43496, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 11 13:15:51 ubuntu etcd[60412]: start time = 2024-04-11 13:15:51.700499237 +0000 UTC m=+267.635685159, time spent = 182.244µs, remote = 10.201.4.32:43496, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
