Jun 19 16:24:01 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 19 16:24:01 ubuntu etcd[58826]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 19 16:24:01 ubuntu etcd[58826]:         A future release of golang/protobuf will delete this package,
Jun 19 16:24:01 ubuntu etcd[58826]:         which has long been excluded from the compatibility promise.
Jun 19 16:24:01 ubuntu etcd[58826]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 19 16:24:01 ubuntu etcd[58826]: Running http and grpc server on single port. This is not recommended for production.
Jun 19 16:24:01 ubuntu etcd[58826]: etcd Version: 3.4.27
Jun 19 16:24:01 ubuntu etcd[58826]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 19 16:24:01 ubuntu etcd[58826]: Git SHA: c92fb80f3
Jun 19 16:24:01 ubuntu etcd[58826]: Go Version: go1.19.10
Jun 19 16:24:01 ubuntu etcd[58826]: Go OS/Arch: linux/amd64
Jun 19 16:24:01 ubuntu etcd[58826]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 19 16:24:01 ubuntu etcd[58826]: Running http and grpc server on single port. This is not recommended for production.
Jun 19 16:24:01 ubuntu etcd[58826]: name = ubuntu
Jun 19 16:24:01 ubuntu etcd[58826]: data dir = /opt/stack/data/etcd
Jun 19 16:24:01 ubuntu etcd[58826]: member dir = /opt/stack/data/etcd/member
Jun 19 16:24:01 ubuntu etcd[58826]: heartbeat = 100ms
Jun 19 16:24:01 ubuntu etcd[58826]: election = 1000ms
Jun 19 16:24:01 ubuntu etcd[58826]: snapshot count = 100000
Jun 19 16:24:01 ubuntu etcd[58826]: advertise client URLs = http://10.201.9.223:2379
Jun 19 16:24:01 ubuntu etcd[58826]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 19 16:24:01 ubuntu etcd[58826]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 19 16:24:01 ubuntu etcd[58826]: raft2025/06/19 16:24:01 INFO: c25b29daa831042c switched to configuration voters=()
Jun 19 16:24:01 ubuntu etcd[58826]: raft2025/06/19 16:24:01 INFO: c25b29daa831042c became follower at term 0
Jun 19 16:24:01 ubuntu etcd[58826]: raft2025/06/19 16:24:01 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 19 16:24:01 ubuntu etcd[58826]: raft2025/06/19 16:24:01 INFO: c25b29daa831042c became follower at term 1
Jun 19 16:24:01 ubuntu etcd[58826]: raft2025/06/19 16:24:01 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 19 16:24:01 ubuntu etcd[58826]: simple token is not cryptographically signed
Jun 19 16:24:01 ubuntu etcd[58826]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 19 16:24:01 ubuntu etcd[58826]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 19 16:24:01 ubuntu etcd[58826]: raft2025/06/19 16:24:01 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 19 16:24:01 ubuntu etcd[58826]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 19 16:24:01 ubuntu etcd[58826]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 19 16:24:01 ubuntu etcd[58826]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 19 16:24:01 ubuntu etcd[58826]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 19 16:24:01 ubuntu etcd[58826]: listening for peers on [::]:2380
Jun 19 16:24:02 ubuntu etcd[58826]: raft2025/06/19 16:24:02 INFO: c25b29daa831042c is starting a new election at term 1
Jun 19 16:24:02 ubuntu etcd[58826]: raft2025/06/19 16:24:02 INFO: c25b29daa831042c became candidate at term 2
Jun 19 16:24:02 ubuntu etcd[58826]: raft2025/06/19 16:24:02 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 19 16:24:02 ubuntu etcd[58826]: raft2025/06/19 16:24:02 INFO: c25b29daa831042c became leader at term 2
Jun 19 16:24:02 ubuntu etcd[58826]: raft2025/06/19 16:24:02 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 19 16:24:02 ubuntu etcd[58826]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 19 16:24:02 ubuntu etcd[58826]: ready to serve client requests
Jun 19 16:24:02 ubuntu etcd[58826]: setting up the initial cluster version to 3.4
Jun 19 16:24:02 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 19 16:24:02 ubuntu etcd[58826]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 19 16:24:02 ubuntu etcd[58826]: set the initial cluster version to 3.4
Jun 19 16:24:02 ubuntu etcd[58826]: enabled capabilities for version 3.4
Jun 19 16:28:10 ubuntu etcd[58826]: start time = 2025-06-19 16:28:10.026168999 +0000 UTC m=+248.327583081, time spent = 516.853µs, remote = 10.201.9.223:50884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 16:28:10 ubuntu etcd[58826]: start time = 2025-06-19 16:28:10.038121897 +0000 UTC m=+248.339535978, time spent = 177.791µs, remote = 10.201.9.223:50884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 16:28:16 ubuntu etcd[58826]: start time = 2025-06-19 16:28:16.360985139 +0000 UTC m=+254.662399234, time spent = 149.992µs, remote = 10.201.9.223:50884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 16:28:18 ubuntu etcd[58826]: start time = 2025-06-19 16:28:18.724935837 +0000 UTC m=+257.026349930, time spent = 371.071µs, remote = 10.201.9.223:50884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
