Apr 22 22:50:40 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 22 22:50:40 ubuntu etcd[59898]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 22 22:50:40 ubuntu etcd[59898]:         A future release of golang/protobuf will delete this package,
Apr 22 22:50:40 ubuntu etcd[59898]:         which has long been excluded from the compatibility promise.
Apr 22 22:50:40 ubuntu etcd[59898]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 22 22:50:40 ubuntu etcd[59898]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 22 22:50:40 ubuntu etcd[59898]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 22 22:50:40 ubuntu etcd[59898]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 22 22:50:40 ubuntu etcd[59898]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 22 22:50:40 ubuntu etcd[59898]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 22 22:50:40 ubuntu etcd[59898]: Running http and grpc server on single port. This is not recommended for production.
Apr 22 22:50:40 ubuntu etcd[59898]: etcd Version: 3.4.27
Apr 22 22:50:40 ubuntu etcd[59898]: Git SHA: c92fb80f3
Apr 22 22:50:40 ubuntu etcd[59898]: Go Version: go1.19.10
Apr 22 22:50:40 ubuntu etcd[59898]: Go OS/Arch: linux/amd64
Apr 22 22:50:40 ubuntu etcd[59898]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 22 22:50:40 ubuntu etcd[59898]: Running http and grpc server on single port. This is not recommended for production.
Apr 22 22:50:40 ubuntu etcd[59898]: name = ubuntu
Apr 22 22:50:40 ubuntu etcd[59898]: data dir = /opt/stack/data/etcd
Apr 22 22:50:40 ubuntu etcd[59898]: member dir = /opt/stack/data/etcd/member
Apr 22 22:50:40 ubuntu etcd[59898]: heartbeat = 100ms
Apr 22 22:50:40 ubuntu etcd[59898]: election = 1000ms
Apr 22 22:50:40 ubuntu etcd[59898]: snapshot count = 100000
Apr 22 22:50:40 ubuntu etcd[59898]: advertise client URLs = http://10.201.4.32:2379
Apr 22 22:50:40 ubuntu etcd[59898]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 22 22:50:40 ubuntu etcd[59898]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 22 22:50:40 ubuntu etcd[59898]: raft2024/04/22 22:50:40 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 22 22:50:40 ubuntu etcd[59898]: raft2024/04/22 22:50:40 INFO: 33238c1cdfea94eb became follower at term 0
Apr 22 22:50:40 ubuntu etcd[59898]: raft2024/04/22 22:50:40 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 22 22:50:40 ubuntu etcd[59898]: raft2024/04/22 22:50:40 INFO: 33238c1cdfea94eb became follower at term 1
Apr 22 22:50:40 ubuntu etcd[59898]: raft2024/04/22 22:50:40 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 22 22:50:40 ubuntu etcd[59898]: simple token is not cryptographically signed
Apr 22 22:50:40 ubuntu etcd[59898]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 22 22:50:40 ubuntu etcd[59898]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 22 22:50:40 ubuntu etcd[59898]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 22 22:50:40 ubuntu etcd[59898]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 22 22:50:40 ubuntu etcd[59898]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 22 22:50:40 ubuntu etcd[59898]: raft2024/04/22 22:50:40 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 22 22:50:40 ubuntu etcd[59898]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 22 22:50:40 ubuntu etcd[59898]: listening for peers on [::]:2380
Apr 22 22:50:40 ubuntu etcd[59898]: raft2024/04/22 22:50:40 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 22 22:50:40 ubuntu etcd[59898]: raft2024/04/22 22:50:40 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 22 22:50:40 ubuntu etcd[59898]: raft2024/04/22 22:50:40 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 22 22:50:40 ubuntu etcd[59898]: raft2024/04/22 22:50:40 INFO: 33238c1cdfea94eb became leader at term 2
Apr 22 22:50:40 ubuntu etcd[59898]: raft2024/04/22 22:50:40 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 22 22:50:40 ubuntu etcd[59898]: setting up the initial cluster version to 3.4
Apr 22 22:50:40 ubuntu etcd[59898]: ready to serve client requests
Apr 22 22:50:40 ubuntu etcd[59898]: INFO: 2024/04/22 22:50:40 parsed scheme: ""
Apr 22 22:50:40 ubuntu etcd[59898]: INFO: 2024/04/22 22:50:40 scheme "" not registered, fallback to default scheme
Apr 22 22:50:40 ubuntu etcd[59898]: INFO: 2024/04/22 22:50:40 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 22 22:50:40 ubuntu etcd[59898]: INFO: 2024/04/22 22:50:40 ClientConn switching balancer to "pick_first"
Apr 22 22:50:40 ubuntu etcd[59898]: set the initial cluster version to 3.4
Apr 22 22:50:40 ubuntu etcd[59898]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 22 22:50:40 ubuntu etcd[59898]: enabled capabilities for version 3.4
Apr 22 22:50:40 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 22 22:50:40 ubuntu etcd[59898]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 22 22:55:08 ubuntu etcd[59898]: start time = 2024-04-22 22:55:08.594527721 +0000 UTC m=+268.460073287, time spent = 603.519µs, remote = 10.201.4.32:41294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 22:55:08 ubuntu etcd[59898]: start time = 2024-04-22 22:55:08.695934648 +0000 UTC m=+268.561480215, time spent = 259.702µs, remote = 10.201.4.32:41294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 22:55:15 ubuntu etcd[59898]: start time = 2024-04-22 22:55:15.412709849 +0000 UTC m=+275.278255418, time spent = 198.559µs, remote = 10.201.4.32:41294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 22:55:17 ubuntu etcd[59898]: start time = 2024-04-22 22:55:17.563921613 +0000 UTC m=+277.429467178, time spent = 177.569µs, remote = 10.201.4.32:41294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
