Mar 18 20:28:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 18 20:28:02 ubuntu etcd[71271]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 18 20:28:02 ubuntu etcd[71271]:         A future release of golang/protobuf will delete this package,
Mar 18 20:28:02 ubuntu etcd[71271]:         which has long been excluded from the compatibility promise.
Mar 18 20:28:02 ubuntu etcd[71271]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 18 20:28:02 ubuntu etcd[71271]: Running http and grpc server on single port. This is not recommended for production.
Mar 18 20:28:02 ubuntu etcd[71271]: etcd Version: 3.4.27
Mar 18 20:28:02 ubuntu etcd[71271]: Git SHA: c92fb80f3
Mar 18 20:28:02 ubuntu etcd[71271]: Go Version: go1.19.10
Mar 18 20:28:02 ubuntu etcd[71271]: Go OS/Arch: linux/amd64
Mar 18 20:28:02 ubuntu etcd[71271]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 18 20:28:02 ubuntu etcd[71271]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 18 20:28:02 ubuntu etcd[71271]: Running http and grpc server on single port. This is not recommended for production.
Mar 18 20:28:02 ubuntu etcd[71271]: name = ubuntu
Mar 18 20:28:02 ubuntu etcd[71271]: data dir = /opt/stack/data/etcd
Mar 18 20:28:02 ubuntu etcd[71271]: member dir = /opt/stack/data/etcd/member
Mar 18 20:28:02 ubuntu etcd[71271]: heartbeat = 100ms
Mar 18 20:28:02 ubuntu etcd[71271]: election = 1000ms
Mar 18 20:28:02 ubuntu etcd[71271]: snapshot count = 100000
Mar 18 20:28:02 ubuntu etcd[71271]: advertise client URLs = http://10.201.9.223:2379
Mar 18 20:28:02 ubuntu etcd[71271]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 18 20:28:02 ubuntu etcd[71271]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 18 20:28:02 ubuntu etcd[71271]: raft2025/03/18 20:28:02 INFO: c25b29daa831042c switched to configuration voters=()
Mar 18 20:28:02 ubuntu etcd[71271]: raft2025/03/18 20:28:02 INFO: c25b29daa831042c became follower at term 0
Mar 18 20:28:02 ubuntu etcd[71271]: raft2025/03/18 20:28:02 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 18 20:28:02 ubuntu etcd[71271]: raft2025/03/18 20:28:02 INFO: c25b29daa831042c became follower at term 1
Mar 18 20:28:02 ubuntu etcd[71271]: raft2025/03/18 20:28:02 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 18 20:28:02 ubuntu etcd[71271]: simple token is not cryptographically signed
Mar 18 20:28:02 ubuntu etcd[71271]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 18 20:28:02 ubuntu etcd[71271]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 18 20:28:02 ubuntu etcd[71271]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 18 20:28:02 ubuntu etcd[71271]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 18 20:28:02 ubuntu etcd[71271]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 18 20:28:02 ubuntu etcd[71271]: raft2025/03/18 20:28:02 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 18 20:28:02 ubuntu etcd[71271]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 18 20:28:02 ubuntu etcd[71271]: listening for peers on [::]:2380
Mar 18 20:28:02 ubuntu etcd[71271]: raft2025/03/18 20:28:02 INFO: c25b29daa831042c is starting a new election at term 1
Mar 18 20:28:02 ubuntu etcd[71271]: raft2025/03/18 20:28:02 INFO: c25b29daa831042c became candidate at term 2
Mar 18 20:28:02 ubuntu etcd[71271]: raft2025/03/18 20:28:02 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 18 20:28:02 ubuntu etcd[71271]: raft2025/03/18 20:28:02 INFO: c25b29daa831042c became leader at term 2
Mar 18 20:28:02 ubuntu etcd[71271]: raft2025/03/18 20:28:02 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 18 20:28:02 ubuntu etcd[71271]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 18 20:28:02 ubuntu etcd[71271]: setting up the initial cluster version to 3.4
Mar 18 20:28:02 ubuntu etcd[71271]: ready to serve client requests
Mar 18 20:28:02 ubuntu etcd[71271]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 18 20:28:02 ubuntu etcd[71271]: set the initial cluster version to 3.4
Mar 18 20:28:02 ubuntu etcd[71271]: enabled capabilities for version 3.4
Mar 18 20:28:02 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 18 20:32:12 ubuntu etcd[71271]: start time = 2025-03-18 20:32:12.963609012 +0000 UTC m=+250.910296052, time spent = 440.573µs, remote = 10.201.9.223:35480, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 18 20:32:12 ubuntu etcd[71271]: start time = 2025-03-18 20:32:12.989986635 +0000 UTC m=+250.936673690, time spent = 183.628µs, remote = 10.201.9.223:35480, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 18 20:32:19 ubuntu etcd[71271]: start time = 2025-03-18 20:32:19.277149323 +0000 UTC m=+257.223836381, time spent = 186.122µs, remote = 10.201.9.223:35480, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 18 20:32:21 ubuntu etcd[71271]: start time = 2025-03-18 20:32:21.435054638 +0000 UTC m=+259.381741691, time spent = 464.86µs, remote = 10.201.9.223:35480, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
