Jan 07 12:50:42 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 07 12:50:42 ubuntu etcd[58869]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 07 12:50:42 ubuntu etcd[58869]:         A future release of golang/protobuf will delete this package,
Jan 07 12:50:42 ubuntu etcd[58869]:         which has long been excluded from the compatibility promise.
Jan 07 12:50:42 ubuntu etcd[58869]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 07 12:50:42 ubuntu etcd[58869]: Running http and grpc server on single port. This is not recommended for production.
Jan 07 12:50:42 ubuntu etcd[58869]: etcd Version: 3.4.27
Jan 07 12:50:42 ubuntu etcd[58869]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 07 12:50:42 ubuntu etcd[58869]: Git SHA: c92fb80f3
Jan 07 12:50:42 ubuntu etcd[58869]: Go Version: go1.19.10
Jan 07 12:50:42 ubuntu etcd[58869]: Go OS/Arch: linux/amd64
Jan 07 12:50:42 ubuntu etcd[58869]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 07 12:50:42 ubuntu etcd[58869]: Running http and grpc server on single port. This is not recommended for production.
Jan 07 12:50:42 ubuntu etcd[58869]: name = ubuntu
Jan 07 12:50:42 ubuntu etcd[58869]: data dir = /opt/stack/data/etcd
Jan 07 12:50:42 ubuntu etcd[58869]: member dir = /opt/stack/data/etcd/member
Jan 07 12:50:42 ubuntu etcd[58869]: heartbeat = 100ms
Jan 07 12:50:42 ubuntu etcd[58869]: election = 1000ms
Jan 07 12:50:42 ubuntu etcd[58869]: snapshot count = 100000
Jan 07 12:50:42 ubuntu etcd[58869]: advertise client URLs = http://10.201.9.223:2379
Jan 07 12:50:42 ubuntu etcd[58869]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 07 12:50:42 ubuntu etcd[58869]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 07 12:50:42 ubuntu etcd[58869]: raft2025/01/07 12:50:42 INFO: c25b29daa831042c switched to configuration voters=()
Jan 07 12:50:42 ubuntu etcd[58869]: raft2025/01/07 12:50:42 INFO: c25b29daa831042c became follower at term 0
Jan 07 12:50:42 ubuntu etcd[58869]: raft2025/01/07 12:50:42 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 07 12:50:42 ubuntu etcd[58869]: raft2025/01/07 12:50:42 INFO: c25b29daa831042c became follower at term 1
Jan 07 12:50:42 ubuntu etcd[58869]: raft2025/01/07 12:50:42 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 07 12:50:42 ubuntu etcd[58869]: simple token is not cryptographically signed
Jan 07 12:50:42 ubuntu etcd[58869]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 07 12:50:42 ubuntu etcd[58869]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 07 12:50:42 ubuntu etcd[58869]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 07 12:50:42 ubuntu etcd[58869]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 07 12:50:42 ubuntu etcd[58869]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 07 12:50:42 ubuntu etcd[58869]: raft2025/01/07 12:50:42 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 07 12:50:42 ubuntu etcd[58869]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 07 12:50:42 ubuntu etcd[58869]: listening for peers on [::]:2380
Jan 07 12:50:43 ubuntu etcd[58869]: raft2025/01/07 12:50:43 INFO: c25b29daa831042c is starting a new election at term 1
Jan 07 12:50:43 ubuntu etcd[58869]: raft2025/01/07 12:50:43 INFO: c25b29daa831042c became candidate at term 2
Jan 07 12:50:43 ubuntu etcd[58869]: raft2025/01/07 12:50:43 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 07 12:50:43 ubuntu etcd[58869]: raft2025/01/07 12:50:43 INFO: c25b29daa831042c became leader at term 2
Jan 07 12:50:43 ubuntu etcd[58869]: raft2025/01/07 12:50:43 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 07 12:50:43 ubuntu etcd[58869]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 07 12:50:43 ubuntu etcd[58869]: setting up the initial cluster version to 3.4
Jan 07 12:50:43 ubuntu etcd[58869]: ready to serve client requests
Jan 07 12:50:43 ubuntu etcd[58869]: set the initial cluster version to 3.4
Jan 07 12:50:43 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 07 12:50:43 ubuntu etcd[58869]: enabled capabilities for version 3.4
Jan 07 12:50:43 ubuntu etcd[58869]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 07 12:55:01 ubuntu etcd[58869]: start time = 2025-01-07 12:55:01.495759675 +0000 UTC m=+258.684688022, time spent = 451.937µs, remote = 10.201.9.223:42138, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 07 12:55:01 ubuntu etcd[58869]: start time = 2025-01-07 12:55:01.580123559 +0000 UTC m=+258.769051923, time spent = 195.653µs, remote = 10.201.9.223:42138, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 07 12:55:08 ubuntu etcd[58869]: start time = 2025-01-07 12:55:08.040490168 +0000 UTC m=+265.229418528, time spent = 146.153µs, remote = 10.201.9.223:42138, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 07 12:55:10 ubuntu etcd[58869]: start time = 2025-01-07 12:55:10.096074307 +0000 UTC m=+267.285002673, time spent = 332.709µs, remote = 10.201.9.223:42138, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
