Jan 06 16:19:21 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 06 16:19:21 ubuntu etcd[58834]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 06 16:19:21 ubuntu etcd[58834]:         A future release of golang/protobuf will delete this package,
Jan 06 16:19:21 ubuntu etcd[58834]:         which has long been excluded from the compatibility promise.
Jan 06 16:19:21 ubuntu etcd[58834]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 06 16:19:21 ubuntu etcd[58834]: Running http and grpc server on single port. This is not recommended for production.
Jan 06 16:19:21 ubuntu etcd[58834]: etcd Version: 3.4.27
Jan 06 16:19:21 ubuntu etcd[58834]: Git SHA: c92fb80f3
Jan 06 16:19:21 ubuntu etcd[58834]: Go Version: go1.19.10
Jan 06 16:19:21 ubuntu etcd[58834]: Go OS/Arch: linux/amd64
Jan 06 16:19:21 ubuntu etcd[58834]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 06 16:19:21 ubuntu etcd[58834]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 06 16:19:21 ubuntu etcd[58834]: Running http and grpc server on single port. This is not recommended for production.
Jan 06 16:19:21 ubuntu etcd[58834]: name = ubuntu
Jan 06 16:19:21 ubuntu etcd[58834]: data dir = /opt/stack/data/etcd
Jan 06 16:19:21 ubuntu etcd[58834]: member dir = /opt/stack/data/etcd/member
Jan 06 16:19:21 ubuntu etcd[58834]: heartbeat = 100ms
Jan 06 16:19:21 ubuntu etcd[58834]: election = 1000ms
Jan 06 16:19:21 ubuntu etcd[58834]: snapshot count = 100000
Jan 06 16:19:21 ubuntu etcd[58834]: advertise client URLs = http://10.201.9.223:2379
Jan 06 16:19:21 ubuntu etcd[58834]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 06 16:19:21 ubuntu etcd[58834]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 06 16:19:21 ubuntu etcd[58834]: raft2025/01/06 16:19:21 INFO: c25b29daa831042c switched to configuration voters=()
Jan 06 16:19:21 ubuntu etcd[58834]: raft2025/01/06 16:19:21 INFO: c25b29daa831042c became follower at term 0
Jan 06 16:19:21 ubuntu etcd[58834]: raft2025/01/06 16:19:21 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 06 16:19:21 ubuntu etcd[58834]: raft2025/01/06 16:19:21 INFO: c25b29daa831042c became follower at term 1
Jan 06 16:19:21 ubuntu etcd[58834]: raft2025/01/06 16:19:21 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 06 16:19:21 ubuntu etcd[58834]: simple token is not cryptographically signed
Jan 06 16:19:21 ubuntu etcd[58834]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 06 16:19:21 ubuntu etcd[58834]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 06 16:19:21 ubuntu etcd[58834]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 06 16:19:21 ubuntu etcd[58834]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 06 16:19:21 ubuntu etcd[58834]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 06 16:19:21 ubuntu etcd[58834]: raft2025/01/06 16:19:21 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 06 16:19:21 ubuntu etcd[58834]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 06 16:19:21 ubuntu etcd[58834]: listening for peers on [::]:2380
Jan 06 16:19:22 ubuntu etcd[58834]: raft2025/01/06 16:19:22 INFO: c25b29daa831042c is starting a new election at term 1
Jan 06 16:19:22 ubuntu etcd[58834]: raft2025/01/06 16:19:22 INFO: c25b29daa831042c became candidate at term 2
Jan 06 16:19:22 ubuntu etcd[58834]: raft2025/01/06 16:19:22 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 06 16:19:22 ubuntu etcd[58834]: raft2025/01/06 16:19:22 INFO: c25b29daa831042c became leader at term 2
Jan 06 16:19:22 ubuntu etcd[58834]: raft2025/01/06 16:19:22 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 06 16:19:22 ubuntu etcd[58834]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 06 16:19:22 ubuntu etcd[58834]: setting up the initial cluster version to 3.4
Jan 06 16:19:22 ubuntu etcd[58834]: ready to serve client requests
Jan 06 16:19:22 ubuntu etcd[58834]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 06 16:19:22 ubuntu etcd[58834]: set the initial cluster version to 3.4
Jan 06 16:19:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 06 16:19:22 ubuntu etcd[58834]: enabled capabilities for version 3.4
Jan 06 16:23:43 ubuntu etcd[58834]: start time = 2025-01-06 16:23:43.695748452 +0000 UTC m=+262.176713463, time spent = 382.837µs, remote = 10.201.9.223:51222, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 06 16:23:43 ubuntu etcd[58834]: start time = 2025-01-06 16:23:43.820096319 +0000 UTC m=+262.301061345, time spent = 175.174µs, remote = 10.201.9.223:51222, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 06 16:23:50 ubuntu etcd[58834]: start time = 2025-01-06 16:23:50.21599341 +0000 UTC m=+268.696958436, time spent = 184.654µs, remote = 10.201.9.223:51222, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 06 16:23:52 ubuntu etcd[58834]: start time = 2025-01-06 16:23:52.355251462 +0000 UTC m=+270.836216486, time spent = 584.831µs, remote = 10.201.9.223:51222, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
