Jan 18 23:10:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 18 23:10:55 ubuntu etcd[58968]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 18 23:10:55 ubuntu etcd[58968]:         A future release of golang/protobuf will delete this package,
Jan 18 23:10:55 ubuntu etcd[58968]:         which has long been excluded from the compatibility promise.
Jan 18 23:10:55 ubuntu etcd[58968]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 18 23:10:55 ubuntu etcd[58968]: Running http and grpc server on single port. This is not recommended for production.
Jan 18 23:10:55 ubuntu etcd[58968]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 18 23:10:55 ubuntu etcd[58968]: etcd Version: 3.4.27
Jan 18 23:10:55 ubuntu etcd[58968]: Git SHA: c92fb80f3
Jan 18 23:10:55 ubuntu etcd[58968]: Go Version: go1.19.10
Jan 18 23:10:55 ubuntu etcd[58968]: Go OS/Arch: linux/amd64
Jan 18 23:10:55 ubuntu etcd[58968]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 18 23:10:55 ubuntu etcd[58968]: Running http and grpc server on single port. This is not recommended for production.
Jan 18 23:10:55 ubuntu etcd[58968]: name = ubuntu
Jan 18 23:10:55 ubuntu etcd[58968]: data dir = /opt/stack/data/etcd
Jan 18 23:10:55 ubuntu etcd[58968]: member dir = /opt/stack/data/etcd/member
Jan 18 23:10:55 ubuntu etcd[58968]: heartbeat = 100ms
Jan 18 23:10:55 ubuntu etcd[58968]: election = 1000ms
Jan 18 23:10:55 ubuntu etcd[58968]: snapshot count = 100000
Jan 18 23:10:55 ubuntu etcd[58968]: advertise client URLs = http://10.201.9.223:2379
Jan 18 23:10:55 ubuntu etcd[58968]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 18 23:10:55 ubuntu etcd[58968]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 18 23:10:55 ubuntu etcd[58968]: raft2025/01/18 23:10:55 INFO: c25b29daa831042c switched to configuration voters=()
Jan 18 23:10:55 ubuntu etcd[58968]: raft2025/01/18 23:10:55 INFO: c25b29daa831042c became follower at term 0
Jan 18 23:10:55 ubuntu etcd[58968]: raft2025/01/18 23:10:55 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 18 23:10:55 ubuntu etcd[58968]: raft2025/01/18 23:10:55 INFO: c25b29daa831042c became follower at term 1
Jan 18 23:10:55 ubuntu etcd[58968]: raft2025/01/18 23:10:55 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 18 23:10:55 ubuntu etcd[58968]: simple token is not cryptographically signed
Jan 18 23:10:55 ubuntu etcd[58968]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 18 23:10:55 ubuntu etcd[58968]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 18 23:10:55 ubuntu etcd[58968]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 18 23:10:55 ubuntu etcd[58968]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 18 23:10:55 ubuntu etcd[58968]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 18 23:10:55 ubuntu etcd[58968]: raft2025/01/18 23:10:55 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 18 23:10:55 ubuntu etcd[58968]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 18 23:10:55 ubuntu etcd[58968]: listening for peers on [::]:2380
Jan 18 23:10:55 ubuntu etcd[58968]: raft2025/01/18 23:10:55 INFO: c25b29daa831042c is starting a new election at term 1
Jan 18 23:10:55 ubuntu etcd[58968]: raft2025/01/18 23:10:55 INFO: c25b29daa831042c became candidate at term 2
Jan 18 23:10:55 ubuntu etcd[58968]: raft2025/01/18 23:10:55 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 18 23:10:55 ubuntu etcd[58968]: raft2025/01/18 23:10:55 INFO: c25b29daa831042c became leader at term 2
Jan 18 23:10:55 ubuntu etcd[58968]: raft2025/01/18 23:10:55 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 18 23:10:55 ubuntu etcd[58968]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 18 23:10:55 ubuntu etcd[58968]: setting up the initial cluster version to 3.4
Jan 18 23:10:55 ubuntu etcd[58968]: set the initial cluster version to 3.4
Jan 18 23:10:55 ubuntu etcd[58968]: enabled capabilities for version 3.4
Jan 18 23:10:55 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 18 23:10:55 ubuntu etcd[58968]: ready to serve client requests
Jan 18 23:10:55 ubuntu etcd[58968]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 18 23:15:15 ubuntu etcd[58968]: start time = 2025-01-18 23:15:15.004887904 +0000 UTC m=+259.420623617, time spent = 1.035848ms, remote = 10.201.9.223:42502, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 23:15:15 ubuntu etcd[58968]: start time = 2025-01-18 23:15:15.033630539 +0000 UTC m=+259.449366269, time spent = 191.164µs, remote = 10.201.9.223:42502, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 23:15:21 ubuntu etcd[58968]: start time = 2025-01-18 23:15:21.375703478 +0000 UTC m=+265.791439205, time spent = 254.003µs, remote = 10.201.9.223:42502, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 23:15:23 ubuntu etcd[58968]: start time = 2025-01-18 23:15:23.41953868 +0000 UTC m=+267.835274413, time spent = 455.355µs, remote = 10.201.9.223:42502, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
