Aug 20 04:42:17 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 20 04:42:17 ubuntu etcd[59185]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 20 04:42:17 ubuntu etcd[59185]:         A future release of golang/protobuf will delete this package,
Aug 20 04:42:17 ubuntu etcd[59185]:         which has long been excluded from the compatibility promise.
Aug 20 04:42:17 ubuntu etcd[59185]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 20 04:42:17 ubuntu etcd[59185]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 20 04:42:17 ubuntu etcd[59185]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 20 04:42:17 ubuntu etcd[59185]: Running http and grpc server on single port. This is not recommended for production.
Aug 20 04:42:17 ubuntu etcd[59185]: etcd Version: 3.4.27
Aug 20 04:42:17 ubuntu etcd[59185]: Git SHA: c92fb80f3
Aug 20 04:42:17 ubuntu etcd[59185]: Go Version: go1.19.10
Aug 20 04:42:17 ubuntu etcd[59185]: Go OS/Arch: linux/amd64
Aug 20 04:42:17 ubuntu etcd[59185]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 20 04:42:17 ubuntu etcd[59185]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 20 04:42:17 ubuntu etcd[59185]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 20 04:42:17 ubuntu etcd[59185]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 20 04:42:17 ubuntu etcd[59185]: Running http and grpc server on single port. This is not recommended for production.
Aug 20 04:42:17 ubuntu etcd[59185]: name = ubuntu
Aug 20 04:42:17 ubuntu etcd[59185]: data dir = /opt/stack/data/etcd
Aug 20 04:42:17 ubuntu etcd[59185]: member dir = /opt/stack/data/etcd/member
Aug 20 04:42:17 ubuntu etcd[59185]: heartbeat = 100ms
Aug 20 04:42:17 ubuntu etcd[59185]: election = 1000ms
Aug 20 04:42:17 ubuntu etcd[59185]: snapshot count = 100000
Aug 20 04:42:17 ubuntu etcd[59185]: advertise client URLs = http://10.201.4.32:2379
Aug 20 04:42:17 ubuntu etcd[59185]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 20 04:42:17 ubuntu etcd[59185]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Aug 20 04:42:17 ubuntu etcd[59185]: raft2024/08/20 04:42:17 INFO: 33238c1cdfea94eb switched to configuration voters=()
Aug 20 04:42:17 ubuntu etcd[59185]: raft2024/08/20 04:42:17 INFO: 33238c1cdfea94eb became follower at term 0
Aug 20 04:42:17 ubuntu etcd[59185]: raft2024/08/20 04:42:17 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 20 04:42:17 ubuntu etcd[59185]: raft2024/08/20 04:42:17 INFO: 33238c1cdfea94eb became follower at term 1
Aug 20 04:42:17 ubuntu etcd[59185]: raft2024/08/20 04:42:17 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 20 04:42:17 ubuntu etcd[59185]: simple token is not cryptographically signed
Aug 20 04:42:17 ubuntu etcd[59185]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 20 04:42:17 ubuntu etcd[59185]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 20 04:42:17 ubuntu etcd[59185]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 20 04:42:17 ubuntu etcd[59185]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 20 04:42:17 ubuntu etcd[59185]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 20 04:42:17 ubuntu etcd[59185]: raft2024/08/20 04:42:17 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 20 04:42:17 ubuntu etcd[59185]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Aug 20 04:42:17 ubuntu etcd[59185]: listening for peers on [::]:2380
Aug 20 04:42:17 ubuntu etcd[59185]: raft2024/08/20 04:42:17 INFO: 33238c1cdfea94eb is starting a new election at term 1
Aug 20 04:42:17 ubuntu etcd[59185]: raft2024/08/20 04:42:17 INFO: 33238c1cdfea94eb became candidate at term 2
Aug 20 04:42:17 ubuntu etcd[59185]: raft2024/08/20 04:42:17 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Aug 20 04:42:17 ubuntu etcd[59185]: raft2024/08/20 04:42:17 INFO: 33238c1cdfea94eb became leader at term 2
Aug 20 04:42:17 ubuntu etcd[59185]: raft2024/08/20 04:42:17 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Aug 20 04:42:17 ubuntu etcd[59185]: setting up the initial cluster version to 3.4
Aug 20 04:42:17 ubuntu etcd[59185]: set the initial cluster version to 3.4
Aug 20 04:42:17 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 20 04:42:17 ubuntu etcd[59185]: enabled capabilities for version 3.4
Aug 20 04:42:17 ubuntu etcd[59185]: ready to serve client requests
Aug 20 04:42:17 ubuntu etcd[59185]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Aug 20 04:42:17 ubuntu etcd[59185]: INFO: 2024/08/20 04:42:17 parsed scheme: ""
Aug 20 04:42:17 ubuntu etcd[59185]: INFO: 2024/08/20 04:42:17 scheme "" not registered, fallback to default scheme
Aug 20 04:42:17 ubuntu etcd[59185]: INFO: 2024/08/20 04:42:17 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 20 04:42:17 ubuntu etcd[59185]: INFO: 2024/08/20 04:42:17 ClientConn switching balancer to "pick_first"
Aug 20 04:42:17 ubuntu etcd[59185]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Aug 20 04:46:38 ubuntu etcd[59185]: start time = 2024-08-20 04:46:38.05648278 +0000 UTC m=+260.839167039, time spent = 471.913µs, remote = 10.201.4.32:37740, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 20 04:46:38 ubuntu etcd[59185]: start time = 2024-08-20 04:46:38.183677571 +0000 UTC m=+260.966361830, time spent = 249.058µs, remote = 10.201.4.32:37740, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 20 04:46:44 ubuntu etcd[59185]: start time = 2024-08-20 04:46:44.913931785 +0000 UTC m=+267.696616058, time spent = 181.748µs, remote = 10.201.4.32:37740, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 20 04:46:47 ubuntu etcd[59185]: start time = 2024-08-20 04:46:47.197875471 +0000 UTC m=+269.980559740, time spent = 377.282µs, remote = 10.201.4.32:37740, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
