Jun 04 08:32:59 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 04 08:32:59 ubuntu etcd[59191]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 04 08:32:59 ubuntu etcd[59191]:         A future release of golang/protobuf will delete this package,
Jun 04 08:32:59 ubuntu etcd[59191]:         which has long been excluded from the compatibility promise.
Jun 04 08:32:59 ubuntu etcd[59191]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 04 08:32:59 ubuntu etcd[59191]: Running http and grpc server on single port. This is not recommended for production.
Jun 04 08:32:59 ubuntu etcd[59191]: etcd Version: 3.4.27
Jun 04 08:32:59 ubuntu etcd[59191]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 04 08:32:59 ubuntu etcd[59191]: Git SHA: c92fb80f3
Jun 04 08:32:59 ubuntu etcd[59191]: Go Version: go1.19.10
Jun 04 08:32:59 ubuntu etcd[59191]: Go OS/Arch: linux/amd64
Jun 04 08:32:59 ubuntu etcd[59191]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 04 08:32:59 ubuntu etcd[59191]: Running http and grpc server on single port. This is not recommended for production.
Jun 04 08:32:59 ubuntu etcd[59191]: name = ubuntu
Jun 04 08:32:59 ubuntu etcd[59191]: data dir = /opt/stack/data/etcd
Jun 04 08:32:59 ubuntu etcd[59191]: member dir = /opt/stack/data/etcd/member
Jun 04 08:32:59 ubuntu etcd[59191]: heartbeat = 100ms
Jun 04 08:32:59 ubuntu etcd[59191]: election = 1000ms
Jun 04 08:32:59 ubuntu etcd[59191]: snapshot count = 100000
Jun 04 08:32:59 ubuntu etcd[59191]: advertise client URLs = http://10.201.9.223:2379
Jun 04 08:32:59 ubuntu etcd[59191]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 04 08:32:59 ubuntu etcd[59191]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 04 08:32:59 ubuntu etcd[59191]: raft2025/06/04 08:32:59 INFO: c25b29daa831042c switched to configuration voters=()
Jun 04 08:32:59 ubuntu etcd[59191]: raft2025/06/04 08:32:59 INFO: c25b29daa831042c became follower at term 0
Jun 04 08:32:59 ubuntu etcd[59191]: raft2025/06/04 08:32:59 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 04 08:32:59 ubuntu etcd[59191]: raft2025/06/04 08:32:59 INFO: c25b29daa831042c became follower at term 1
Jun 04 08:32:59 ubuntu etcd[59191]: raft2025/06/04 08:32:59 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 04 08:32:59 ubuntu etcd[59191]: simple token is not cryptographically signed
Jun 04 08:32:59 ubuntu etcd[59191]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 04 08:32:59 ubuntu etcd[59191]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 04 08:32:59 ubuntu etcd[59191]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 04 08:32:59 ubuntu etcd[59191]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 04 08:32:59 ubuntu etcd[59191]: raft2025/06/04 08:32:59 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 04 08:32:59 ubuntu etcd[59191]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 04 08:32:59 ubuntu etcd[59191]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 04 08:32:59 ubuntu etcd[59191]: listening for peers on [::]:2380
Jun 04 08:32:59 ubuntu etcd[59191]: raft2025/06/04 08:32:59 INFO: c25b29daa831042c is starting a new election at term 1
Jun 04 08:32:59 ubuntu etcd[59191]: raft2025/06/04 08:32:59 INFO: c25b29daa831042c became candidate at term 2
Jun 04 08:32:59 ubuntu etcd[59191]: raft2025/06/04 08:32:59 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 04 08:32:59 ubuntu etcd[59191]: raft2025/06/04 08:32:59 INFO: c25b29daa831042c became leader at term 2
Jun 04 08:32:59 ubuntu etcd[59191]: raft2025/06/04 08:32:59 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 04 08:32:59 ubuntu etcd[59191]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 04 08:32:59 ubuntu etcd[59191]: setting up the initial cluster version to 3.4
Jun 04 08:32:59 ubuntu etcd[59191]: ready to serve client requests
Jun 04 08:32:59 ubuntu etcd[59191]: set the initial cluster version to 3.4
Jun 04 08:32:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 04 08:32:59 ubuntu etcd[59191]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 04 08:32:59 ubuntu etcd[59191]: enabled capabilities for version 3.4
Jun 04 08:37:07 ubuntu etcd[59191]: start time = 2025-06-04 08:37:07.789549776 +0000 UTC m=+248.517623569, time spent = 420.068µs, remote = 10.201.9.223:56046, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 08:37:07 ubuntu etcd[59191]: start time = 2025-06-04 08:37:07.874645477 +0000 UTC m=+248.602719286, time spent = 239.409µs, remote = 10.201.9.223:56046, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 08:37:14 ubuntu etcd[59191]: start time = 2025-06-04 08:37:14.444605936 +0000 UTC m=+255.172679729, time spent = 225.212µs, remote = 10.201.9.223:56046, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 08:37:16 ubuntu etcd[59191]: start time = 2025-06-04 08:37:16.383555584 +0000 UTC m=+257.111629393, time spent = 164.778µs, remote = 10.201.9.223:56046, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
