Apr 24 00:44:12 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 24 00:44:12 ubuntu etcd[57648]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 24 00:44:12 ubuntu etcd[57648]:         A future release of golang/protobuf will delete this package,
Apr 24 00:44:12 ubuntu etcd[57648]:         which has long been excluded from the compatibility promise.
Apr 24 00:44:12 ubuntu etcd[57648]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 24 00:44:12 ubuntu etcd[57648]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 24 00:44:12 ubuntu etcd[57648]: Running http and grpc server on single port. This is not recommended for production.
Apr 24 00:44:12 ubuntu etcd[57648]: etcd Version: 3.4.27
Apr 24 00:44:12 ubuntu etcd[57648]: Git SHA: c92fb80f3
Apr 24 00:44:12 ubuntu etcd[57648]: Go Version: go1.19.10
Apr 24 00:44:12 ubuntu etcd[57648]: Go OS/Arch: linux/amd64
Apr 24 00:44:12 ubuntu etcd[57648]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 24 00:44:12 ubuntu etcd[57648]: Running http and grpc server on single port. This is not recommended for production.
Apr 24 00:44:12 ubuntu etcd[57648]: name = ubuntu
Apr 24 00:44:12 ubuntu etcd[57648]: data dir = /opt/stack/data/etcd
Apr 24 00:44:12 ubuntu etcd[57648]: member dir = /opt/stack/data/etcd/member
Apr 24 00:44:12 ubuntu etcd[57648]: heartbeat = 100ms
Apr 24 00:44:12 ubuntu etcd[57648]: election = 1000ms
Apr 24 00:44:12 ubuntu etcd[57648]: snapshot count = 100000
Apr 24 00:44:12 ubuntu etcd[57648]: advertise client URLs = http://10.201.9.223:2379
Apr 24 00:44:12 ubuntu etcd[57648]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 24 00:44:12 ubuntu etcd[57648]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 24 00:44:12 ubuntu etcd[57648]: raft2025/04/24 00:44:12 INFO: c25b29daa831042c switched to configuration voters=()
Apr 24 00:44:12 ubuntu etcd[57648]: raft2025/04/24 00:44:12 INFO: c25b29daa831042c became follower at term 0
Apr 24 00:44:12 ubuntu etcd[57648]: raft2025/04/24 00:44:12 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 24 00:44:12 ubuntu etcd[57648]: raft2025/04/24 00:44:12 INFO: c25b29daa831042c became follower at term 1
Apr 24 00:44:12 ubuntu etcd[57648]: raft2025/04/24 00:44:12 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 24 00:44:12 ubuntu etcd[57648]: simple token is not cryptographically signed
Apr 24 00:44:12 ubuntu etcd[57648]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 24 00:44:12 ubuntu etcd[57648]: raft2025/04/24 00:44:12 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 24 00:44:12 ubuntu etcd[57648]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 24 00:44:12 ubuntu etcd[57648]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 24 00:44:12 ubuntu etcd[57648]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 24 00:44:12 ubuntu etcd[57648]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 24 00:44:12 ubuntu etcd[57648]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 24 00:44:12 ubuntu etcd[57648]: listening for peers on [::]:2380
Apr 24 00:44:12 ubuntu etcd[57648]: raft2025/04/24 00:44:12 INFO: c25b29daa831042c is starting a new election at term 1
Apr 24 00:44:12 ubuntu etcd[57648]: raft2025/04/24 00:44:12 INFO: c25b29daa831042c became candidate at term 2
Apr 24 00:44:12 ubuntu etcd[57648]: raft2025/04/24 00:44:12 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 24 00:44:12 ubuntu etcd[57648]: raft2025/04/24 00:44:12 INFO: c25b29daa831042c became leader at term 2
Apr 24 00:44:12 ubuntu etcd[57648]: raft2025/04/24 00:44:12 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 24 00:44:12 ubuntu etcd[57648]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 24 00:44:12 ubuntu etcd[57648]: ready to serve client requests
Apr 24 00:44:12 ubuntu etcd[57648]: setting up the initial cluster version to 3.4
Apr 24 00:44:12 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 24 00:44:12 ubuntu etcd[57648]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 24 00:44:12 ubuntu etcd[57648]: set the initial cluster version to 3.4
Apr 24 00:44:12 ubuntu etcd[57648]: enabled capabilities for version 3.4
Apr 24 00:48:20 ubuntu etcd[57648]: start time = 2025-04-24 00:48:20.06746945 +0000 UTC m=+247.964249077, time spent = 552.139µs, remote = 10.201.9.223:58332, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 24 00:48:20 ubuntu etcd[57648]: start time = 2025-04-24 00:48:20.129242068 +0000 UTC m=+248.026021699, time spent = 5.077061ms, remote = 10.201.9.223:58332, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 24 00:48:26 ubuntu etcd[57648]: start time = 2025-04-24 00:48:26.676848532 +0000 UTC m=+254.573628164, time spent = 195.343µs, remote = 10.201.9.223:58332, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 24 00:48:28 ubuntu etcd[57648]: start time = 2025-04-24 00:48:28.571289973 +0000 UTC m=+256.468069607, time spent = 318.32µs, remote = 10.201.9.223:58332, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
