Jan 08 18:14:52 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 08 18:14:52 ubuntu etcd[59334]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 08 18:14:52 ubuntu etcd[59334]:         A future release of golang/protobuf will delete this package,
Jan 08 18:14:52 ubuntu etcd[59334]:         which has long been excluded from the compatibility promise.
Jan 08 18:14:52 ubuntu etcd[59334]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 08 18:14:52 ubuntu etcd[59334]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 08 18:14:52 ubuntu etcd[59334]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 08 18:14:52 ubuntu etcd[59334]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 08 18:14:52 ubuntu etcd[59334]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 08 18:14:52 ubuntu etcd[59334]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 08 18:14:52 ubuntu etcd[59334]: Running http and grpc server on single port. This is not recommended for production.
Jan 08 18:14:52 ubuntu etcd[59334]: etcd Version: 3.4.27
Jan 08 18:14:52 ubuntu etcd[59334]: Git SHA: c92fb80f3
Jan 08 18:14:52 ubuntu etcd[59334]: Go Version: go1.19.10
Jan 08 18:14:52 ubuntu etcd[59334]: Go OS/Arch: linux/amd64
Jan 08 18:14:52 ubuntu etcd[59334]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 08 18:14:52 ubuntu etcd[59334]: Running http and grpc server on single port. This is not recommended for production.
Jan 08 18:14:52 ubuntu etcd[59334]: name = ubuntu
Jan 08 18:14:52 ubuntu etcd[59334]: data dir = /opt/stack/data/etcd
Jan 08 18:14:52 ubuntu etcd[59334]: member dir = /opt/stack/data/etcd/member
Jan 08 18:14:52 ubuntu etcd[59334]: heartbeat = 100ms
Jan 08 18:14:52 ubuntu etcd[59334]: election = 1000ms
Jan 08 18:14:52 ubuntu etcd[59334]: snapshot count = 100000
Jan 08 18:14:52 ubuntu etcd[59334]: advertise client URLs = http://10.201.4.32:2379
Jan 08 18:14:52 ubuntu etcd[59334]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 08 18:14:52 ubuntu etcd[59334]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb became follower at term 0
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb became follower at term 1
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 08 18:14:52 ubuntu etcd[59334]: simple token is not cryptographically signed
Jan 08 18:14:52 ubuntu etcd[59334]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 08 18:14:52 ubuntu etcd[59334]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 08 18:14:52 ubuntu etcd[59334]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 08 18:14:52 ubuntu etcd[59334]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 08 18:14:52 ubuntu etcd[59334]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 08 18:14:52 ubuntu etcd[59334]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 08 18:14:52 ubuntu etcd[59334]: listening for peers on [::]:2380
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb became leader at term 2
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 08 18:14:52 ubuntu etcd[59334]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 08 18:14:52 ubuntu etcd[59334]: ready to serve client requests
Jan 08 18:14:52 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 08 18:14:52 ubuntu etcd[59334]: INFO: 2024/01/08 18:14:52 parsed scheme: ""
Jan 08 18:14:52 ubuntu etcd[59334]: INFO: 2024/01/08 18:14:52 scheme "" not registered, fallback to default scheme
Jan 08 18:14:52 ubuntu etcd[59334]: INFO: 2024/01/08 18:14:52 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 08 18:14:52 ubuntu etcd[59334]: INFO: 2024/01/08 18:14:52 ClientConn switching balancer to "pick_first"
Jan 08 18:14:52 ubuntu etcd[59334]: setting up the initial cluster version to 3.4
Jan 08 18:14:52 ubuntu etcd[59334]: set the initial cluster version to 3.4
Jan 08 18:14:52 ubuntu etcd[59334]: enabled capabilities for version 3.4
Jan 08 18:14:52 ubuntu etcd[59334]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 08 18:19:12 ubuntu etcd[59334]: start time = 2024-01-08 18:19:12.798839871 +0000 UTC m=+260.270263869, time spent = 636.407µs, remote = 10.201.4.32:49370, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 08 18:19:12 ubuntu etcd[59334]: start time = 2024-01-08 18:19:12.857941003 +0000 UTC m=+260.329365031, time spent = 279.818µs, remote = 10.201.4.32:49370, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 08 18:19:19 ubuntu etcd[59334]: start time = 2024-01-08 18:19:19.101606537 +0000 UTC m=+266.573030535, time spent = 148.194µs, remote = 10.201.4.32:49370, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 08 18:19:21 ubuntu etcd[59334]: start time = 2024-01-08 18:19:21.141580339 +0000 UTC m=+268.613004337, time spent = 165.622µs, remote = 10.201.4.32:49370, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 08 18:14:52 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 08 18:14:52 ubuntu etcd[59334]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 08 18:14:52 ubuntu etcd[59334]:         A future release of golang/protobuf will delete this package,
Jan 08 18:14:52 ubuntu etcd[59334]:         which has long been excluded from the compatibility promise.
Jan 08 18:14:52 ubuntu etcd[59334]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 08 18:14:52 ubuntu etcd[59334]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 08 18:14:52 ubuntu etcd[59334]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 08 18:14:52 ubuntu etcd[59334]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 08 18:14:52 ubuntu etcd[59334]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 08 18:14:52 ubuntu etcd[59334]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 08 18:14:52 ubuntu etcd[59334]: Running http and grpc server on single port. This is not recommended for production.
Jan 08 18:14:52 ubuntu etcd[59334]: etcd Version: 3.4.27
Jan 08 18:14:52 ubuntu etcd[59334]: Git SHA: c92fb80f3
Jan 08 18:14:52 ubuntu etcd[59334]: Go Version: go1.19.10
Jan 08 18:14:52 ubuntu etcd[59334]: Go OS/Arch: linux/amd64
Jan 08 18:14:52 ubuntu etcd[59334]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 08 18:14:52 ubuntu etcd[59334]: Running http and grpc server on single port. This is not recommended for production.
Jan 08 18:14:52 ubuntu etcd[59334]: name = ubuntu
Jan 08 18:14:52 ubuntu etcd[59334]: data dir = /opt/stack/data/etcd
Jan 08 18:14:52 ubuntu etcd[59334]: member dir = /opt/stack/data/etcd/member
Jan 08 18:14:52 ubuntu etcd[59334]: heartbeat = 100ms
Jan 08 18:14:52 ubuntu etcd[59334]: election = 1000ms
Jan 08 18:14:52 ubuntu etcd[59334]: snapshot count = 100000
Jan 08 18:14:52 ubuntu etcd[59334]: advertise client URLs = http://10.201.4.32:2379
Jan 08 18:14:52 ubuntu etcd[59334]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 08 18:14:52 ubuntu etcd[59334]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb became follower at term 0
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb became follower at term 1
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 08 18:14:52 ubuntu etcd[59334]: simple token is not cryptographically signed
Jan 08 18:14:52 ubuntu etcd[59334]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 08 18:14:52 ubuntu etcd[59334]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 08 18:14:52 ubuntu etcd[59334]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 08 18:14:52 ubuntu etcd[59334]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 08 18:14:52 ubuntu etcd[59334]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 08 18:14:52 ubuntu etcd[59334]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 08 18:14:52 ubuntu etcd[59334]: listening for peers on [::]:2380
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: 33238c1cdfea94eb became leader at term 2
Jan 08 18:14:52 ubuntu etcd[59334]: raft2024/01/08 18:14:52 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 08 18:14:52 ubuntu etcd[59334]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 08 18:14:52 ubuntu etcd[59334]: ready to serve client requests
Jan 08 18:14:52 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 08 18:14:52 ubuntu etcd[59334]: INFO: 2024/01/08 18:14:52 parsed scheme: ""
Jan 08 18:14:52 ubuntu etcd[59334]: INFO: 2024/01/08 18:14:52 scheme "" not registered, fallback to default scheme
Jan 08 18:14:52 ubuntu etcd[59334]: INFO: 2024/01/08 18:14:52 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 08 18:14:52 ubuntu etcd[59334]: INFO: 2024/01/08 18:14:52 ClientConn switching balancer to "pick_first"
Jan 08 18:14:52 ubuntu etcd[59334]: setting up the initial cluster version to 3.4
Jan 08 18:14:52 ubuntu etcd[59334]: set the initial cluster version to 3.4
Jan 08 18:14:52 ubuntu etcd[59334]: enabled capabilities for version 3.4
Jan 08 18:14:52 ubuntu etcd[59334]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 08 18:19:12 ubuntu etcd[59334]: start time = 2024-01-08 18:19:12.798839871 +0000 UTC m=+260.270263869, time spent = 636.407µs, remote = 10.201.4.32:49370, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 08 18:19:12 ubuntu etcd[59334]: start time = 2024-01-08 18:19:12.857941003 +0000 UTC m=+260.329365031, time spent = 279.818µs, remote = 10.201.4.32:49370, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 08 18:19:19 ubuntu etcd[59334]: start time = 2024-01-08 18:19:19.101606537 +0000 UTC m=+266.573030535, time spent = 148.194µs, remote = 10.201.4.32:49370, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 08 18:19:21 ubuntu etcd[59334]: start time = 2024-01-08 18:19:21.141580339 +0000 UTC m=+268.613004337, time spent = 165.622µs, remote = 10.201.4.32:49370, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
