Dec 12 04:53:21 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 12 04:53:22 ubuntu etcd[59149]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 12 04:53:22 ubuntu etcd[59149]:         A future release of golang/protobuf will delete this package,
Dec 12 04:53:22 ubuntu etcd[59149]:         which has long been excluded from the compatibility promise.
Dec 12 04:53:22 ubuntu etcd[59149]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 12 04:53:22 ubuntu etcd[59149]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 12 04:53:22 ubuntu etcd[59149]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 04:53:22 ubuntu etcd[59149]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 12 04:53:22 ubuntu etcd[59149]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 12 04:53:22 ubuntu etcd[59149]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 04:53:22 ubuntu etcd[59149]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 04:53:22 ubuntu etcd[59149]: etcd Version: 3.4.27
Dec 12 04:53:22 ubuntu etcd[59149]: Git SHA: c92fb80f3
Dec 12 04:53:22 ubuntu etcd[59149]: Go Version: go1.19.10
Dec 12 04:53:22 ubuntu etcd[59149]: Go OS/Arch: linux/amd64
Dec 12 04:53:22 ubuntu etcd[59149]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 12 04:53:22 ubuntu etcd[59149]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 04:53:22 ubuntu etcd[59149]: name = ubuntu
Dec 12 04:53:22 ubuntu etcd[59149]: data dir = /opt/stack/data/etcd
Dec 12 04:53:22 ubuntu etcd[59149]: member dir = /opt/stack/data/etcd/member
Dec 12 04:53:22 ubuntu etcd[59149]: heartbeat = 100ms
Dec 12 04:53:22 ubuntu etcd[59149]: election = 1000ms
Dec 12 04:53:22 ubuntu etcd[59149]: snapshot count = 100000
Dec 12 04:53:22 ubuntu etcd[59149]: advertise client URLs = http://10.201.4.32:2379
Dec 12 04:53:22 ubuntu etcd[59149]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 12 04:53:22 ubuntu etcd[59149]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 12 04:53:22 ubuntu etcd[59149]: raft2023/12/12 04:53:22 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 12 04:53:22 ubuntu etcd[59149]: raft2023/12/12 04:53:22 INFO: 33238c1cdfea94eb became follower at term 0
Dec 12 04:53:22 ubuntu etcd[59149]: raft2023/12/12 04:53:22 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 12 04:53:22 ubuntu etcd[59149]: raft2023/12/12 04:53:22 INFO: 33238c1cdfea94eb became follower at term 1
Dec 12 04:53:22 ubuntu etcd[59149]: raft2023/12/12 04:53:22 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 12 04:53:22 ubuntu etcd[59149]: simple token is not cryptographically signed
Dec 12 04:53:22 ubuntu etcd[59149]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 12 04:53:22 ubuntu etcd[59149]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 12 04:53:22 ubuntu etcd[59149]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 12 04:53:22 ubuntu etcd[59149]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 12 04:53:22 ubuntu etcd[59149]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 12 04:53:22 ubuntu etcd[59149]: raft2023/12/12 04:53:22 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 12 04:53:22 ubuntu etcd[59149]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 12 04:53:22 ubuntu etcd[59149]: listening for peers on [::]:2380
Dec 12 04:53:22 ubuntu etcd[59149]: raft2023/12/12 04:53:22 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 12 04:53:22 ubuntu etcd[59149]: raft2023/12/12 04:53:22 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 12 04:53:22 ubuntu etcd[59149]: raft2023/12/12 04:53:22 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 12 04:53:22 ubuntu etcd[59149]: raft2023/12/12 04:53:22 INFO: 33238c1cdfea94eb became leader at term 2
Dec 12 04:53:22 ubuntu etcd[59149]: raft2023/12/12 04:53:22 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 12 04:53:22 ubuntu etcd[59149]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 12 04:53:22 ubuntu etcd[59149]: ready to serve client requests
Dec 12 04:53:22 ubuntu etcd[59149]: INFO: 2023/12/12 04:53:22 parsed scheme: ""
Dec 12 04:53:22 ubuntu etcd[59149]: INFO: 2023/12/12 04:53:22 scheme "" not registered, fallback to default scheme
Dec 12 04:53:22 ubuntu etcd[59149]: setting up the initial cluster version to 3.4
Dec 12 04:53:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 12 04:53:22 ubuntu etcd[59149]: set the initial cluster version to 3.4
Dec 12 04:53:22 ubuntu etcd[59149]: enabled capabilities for version 3.4
Dec 12 04:53:22 ubuntu etcd[59149]: INFO: 2023/12/12 04:53:22 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Dec 12 04:53:22 ubuntu etcd[59149]: INFO: 2023/12/12 04:53:22 ClientConn switching balancer to "pick_first"
Dec 12 04:53:22 ubuntu etcd[59149]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 12 04:57:51 ubuntu etcd[59149]: start time = 2023-12-12 04:57:51.179489586 +0000 UTC m=+269.183727711, time spent = 462.803µs, remote = 10.201.4.32:50738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 04:57:51 ubuntu etcd[59149]: start time = 2023-12-12 04:57:51.331152677 +0000 UTC m=+269.335390801, time spent = 447.779µs, remote = 10.201.4.32:50738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 04:57:57 ubuntu etcd[59149]: start time = 2023-12-12 04:57:57.277569089 +0000 UTC m=+275.281807211, time spent = 186.053µs, remote = 10.201.4.32:50738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 04:57:59 ubuntu etcd[59149]: start time = 2023-12-12 04:57:59.52040137 +0000 UTC m=+277.524639512, time spent = 250.905µs, remote = 10.201.4.32:50738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
