Jun 06 15:28:40 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 06 15:28:40 ubuntu etcd[59014]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 06 15:28:40 ubuntu etcd[59014]:         A future release of golang/protobuf will delete this package,
Jun 06 15:28:40 ubuntu etcd[59014]:         which has long been excluded from the compatibility promise.
Jun 06 15:28:40 ubuntu etcd[59014]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 06 15:28:40 ubuntu etcd[59014]: Running http and grpc server on single port. This is not recommended for production.
Jun 06 15:28:40 ubuntu etcd[59014]: etcd Version: 3.4.27
Jun 06 15:28:40 ubuntu etcd[59014]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 06 15:28:40 ubuntu etcd[59014]: Git SHA: c92fb80f3
Jun 06 15:28:40 ubuntu etcd[59014]: Go Version: go1.19.10
Jun 06 15:28:40 ubuntu etcd[59014]: Go OS/Arch: linux/amd64
Jun 06 15:28:40 ubuntu etcd[59014]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 06 15:28:40 ubuntu etcd[59014]: Running http and grpc server on single port. This is not recommended for production.
Jun 06 15:28:40 ubuntu etcd[59014]: name = ubuntu
Jun 06 15:28:40 ubuntu etcd[59014]: data dir = /opt/stack/data/etcd
Jun 06 15:28:40 ubuntu etcd[59014]: member dir = /opt/stack/data/etcd/member
Jun 06 15:28:40 ubuntu etcd[59014]: heartbeat = 100ms
Jun 06 15:28:40 ubuntu etcd[59014]: election = 1000ms
Jun 06 15:28:40 ubuntu etcd[59014]: snapshot count = 100000
Jun 06 15:28:40 ubuntu etcd[59014]: advertise client URLs = http://10.201.9.223:2379
Jun 06 15:28:40 ubuntu etcd[59014]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 06 15:28:40 ubuntu etcd[59014]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 06 15:28:40 ubuntu etcd[59014]: raft2025/06/06 15:28:40 INFO: c25b29daa831042c switched to configuration voters=()
Jun 06 15:28:40 ubuntu etcd[59014]: raft2025/06/06 15:28:40 INFO: c25b29daa831042c became follower at term 0
Jun 06 15:28:40 ubuntu etcd[59014]: raft2025/06/06 15:28:40 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 06 15:28:40 ubuntu etcd[59014]: raft2025/06/06 15:28:40 INFO: c25b29daa831042c became follower at term 1
Jun 06 15:28:40 ubuntu etcd[59014]: raft2025/06/06 15:28:40 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 06 15:28:40 ubuntu etcd[59014]: simple token is not cryptographically signed
Jun 06 15:28:40 ubuntu etcd[59014]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 06 15:28:40 ubuntu etcd[59014]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 06 15:28:40 ubuntu etcd[59014]: raft2025/06/06 15:28:40 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 06 15:28:40 ubuntu etcd[59014]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 06 15:28:40 ubuntu etcd[59014]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 06 15:28:40 ubuntu etcd[59014]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 06 15:28:40 ubuntu etcd[59014]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 06 15:28:40 ubuntu etcd[59014]: listening for peers on [::]:2380
Jun 06 15:28:40 ubuntu etcd[59014]: raft2025/06/06 15:28:40 INFO: c25b29daa831042c is starting a new election at term 1
Jun 06 15:28:40 ubuntu etcd[59014]: raft2025/06/06 15:28:40 INFO: c25b29daa831042c became candidate at term 2
Jun 06 15:28:40 ubuntu etcd[59014]: raft2025/06/06 15:28:40 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 06 15:28:40 ubuntu etcd[59014]: raft2025/06/06 15:28:40 INFO: c25b29daa831042c became leader at term 2
Jun 06 15:28:40 ubuntu etcd[59014]: raft2025/06/06 15:28:40 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 06 15:28:40 ubuntu etcd[59014]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 06 15:28:40 ubuntu etcd[59014]: ready to serve client requests
Jun 06 15:28:40 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 06 15:28:40 ubuntu etcd[59014]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 06 15:28:40 ubuntu etcd[59014]: setting up the initial cluster version to 3.4
Jun 06 15:28:40 ubuntu etcd[59014]: set the initial cluster version to 3.4
Jun 06 15:28:40 ubuntu etcd[59014]: enabled capabilities for version 3.4
Jun 06 15:32:49 ubuntu etcd[59014]: start time = 2025-06-06 15:32:49.600470286 +0000 UTC m=+249.503014567, time spent = 482.437µs, remote = 10.201.9.223:32842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 06 15:32:49 ubuntu etcd[59014]: start time = 2025-06-06 15:32:49.646003465 +0000 UTC m=+249.548547762, time spent = 192.389µs, remote = 10.201.9.223:32842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 06 15:32:56 ubuntu etcd[59014]: start time = 2025-06-06 15:32:56.191558402 +0000 UTC m=+256.094102701, time spent = 218.467µs, remote = 10.201.9.223:32842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 06 15:32:58 ubuntu etcd[59014]: start time = 2025-06-06 15:32:58.175687052 +0000 UTC m=+258.078231350, time spent = 170.889µs, remote = 10.201.9.223:32842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
