Jul 18 21:24:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 18 21:24:32 ubuntu etcd[59032]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 18 21:24:32 ubuntu etcd[59032]:         A future release of golang/protobuf will delete this package,
Jul 18 21:24:32 ubuntu etcd[59032]:         which has long been excluded from the compatibility promise.
Jul 18 21:24:32 ubuntu etcd[59032]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 18 21:24:32 ubuntu etcd[59032]: Running http and grpc server on single port. This is not recommended for production.
Jul 18 21:24:32 ubuntu etcd[59032]: etcd Version: 3.4.27
Jul 18 21:24:32 ubuntu etcd[59032]: Git SHA: c92fb80f3
Jul 18 21:24:32 ubuntu etcd[59032]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 18 21:24:32 ubuntu etcd[59032]: Go Version: go1.19.10
Jul 18 21:24:32 ubuntu etcd[59032]: Go OS/Arch: linux/amd64
Jul 18 21:24:32 ubuntu etcd[59032]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 18 21:24:32 ubuntu etcd[59032]: Running http and grpc server on single port. This is not recommended for production.
Jul 18 21:24:32 ubuntu etcd[59032]: name = ubuntu
Jul 18 21:24:32 ubuntu etcd[59032]: data dir = /opt/stack/data/etcd
Jul 18 21:24:32 ubuntu etcd[59032]: member dir = /opt/stack/data/etcd/member
Jul 18 21:24:32 ubuntu etcd[59032]: heartbeat = 100ms
Jul 18 21:24:32 ubuntu etcd[59032]: election = 1000ms
Jul 18 21:24:32 ubuntu etcd[59032]: snapshot count = 100000
Jul 18 21:24:32 ubuntu etcd[59032]: advertise client URLs = http://10.201.9.223:2379
Jul 18 21:24:32 ubuntu etcd[59032]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 18 21:24:32 ubuntu etcd[59032]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 18 21:24:32 ubuntu etcd[59032]: raft2025/07/18 21:24:32 INFO: c25b29daa831042c switched to configuration voters=()
Jul 18 21:24:32 ubuntu etcd[59032]: raft2025/07/18 21:24:32 INFO: c25b29daa831042c became follower at term 0
Jul 18 21:24:32 ubuntu etcd[59032]: raft2025/07/18 21:24:32 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 18 21:24:32 ubuntu etcd[59032]: raft2025/07/18 21:24:32 INFO: c25b29daa831042c became follower at term 1
Jul 18 21:24:32 ubuntu etcd[59032]: raft2025/07/18 21:24:32 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 18 21:24:32 ubuntu etcd[59032]: simple token is not cryptographically signed
Jul 18 21:24:32 ubuntu etcd[59032]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 18 21:24:32 ubuntu etcd[59032]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 18 21:24:32 ubuntu etcd[59032]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 18 21:24:32 ubuntu etcd[59032]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 18 21:24:32 ubuntu etcd[59032]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 18 21:24:32 ubuntu etcd[59032]: raft2025/07/18 21:24:32 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 18 21:24:32 ubuntu etcd[59032]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 18 21:24:32 ubuntu etcd[59032]: listening for peers on [::]:2380
Jul 18 21:24:33 ubuntu etcd[59032]: raft2025/07/18 21:24:33 INFO: c25b29daa831042c is starting a new election at term 1
Jul 18 21:24:33 ubuntu etcd[59032]: raft2025/07/18 21:24:33 INFO: c25b29daa831042c became candidate at term 2
Jul 18 21:24:33 ubuntu etcd[59032]: raft2025/07/18 21:24:33 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 18 21:24:33 ubuntu etcd[59032]: raft2025/07/18 21:24:33 INFO: c25b29daa831042c became leader at term 2
Jul 18 21:24:33 ubuntu etcd[59032]: raft2025/07/18 21:24:33 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 18 21:24:33 ubuntu etcd[59032]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 18 21:24:33 ubuntu etcd[59032]: ready to serve client requests
Jul 18 21:24:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 18 21:24:33 ubuntu etcd[59032]: setting up the initial cluster version to 3.4
Jul 18 21:24:33 ubuntu etcd[59032]: set the initial cluster version to 3.4
Jul 18 21:24:33 ubuntu etcd[59032]: enabled capabilities for version 3.4
Jul 18 21:24:33 ubuntu etcd[59032]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 18 21:28:43 ubuntu etcd[59032]: start time = 2025-07-18 21:28:43.523141893 +0000 UTC m=+250.818469250, time spent = 1.436487ms, remote = 10.201.9.223:38382, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 18 21:28:43 ubuntu etcd[59032]: start time = 2025-07-18 21:28:43.616754677 +0000 UTC m=+250.912082046, time spent = 229.199µs, remote = 10.201.9.223:38382, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 18 21:28:49 ubuntu etcd[59032]: start time = 2025-07-18 21:28:49.962106705 +0000 UTC m=+257.257434077, time spent = 187.071µs, remote = 10.201.9.223:38382, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 18 21:28:52 ubuntu etcd[59032]: start time = 2025-07-18 21:28:52.239819419 +0000 UTC m=+259.535146788, time spent = 269.046µs, remote = 10.201.9.223:38382, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
