Jun 12 14:53:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 12 14:53:48 ubuntu etcd[58956]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 12 14:53:48 ubuntu etcd[58956]:         A future release of golang/protobuf will delete this package,
Jun 12 14:53:48 ubuntu etcd[58956]:         which has long been excluded from the compatibility promise.
Jun 12 14:53:48 ubuntu etcd[58956]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 12 14:53:48 ubuntu etcd[58956]: Running http and grpc server on single port. This is not recommended for production.
Jun 12 14:53:48 ubuntu etcd[58956]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 12 14:53:48 ubuntu etcd[58956]: etcd Version: 3.4.27
Jun 12 14:53:48 ubuntu etcd[58956]: Git SHA: c92fb80f3
Jun 12 14:53:48 ubuntu etcd[58956]: Go Version: go1.19.10
Jun 12 14:53:48 ubuntu etcd[58956]: Go OS/Arch: linux/amd64
Jun 12 14:53:48 ubuntu etcd[58956]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 12 14:53:48 ubuntu etcd[58956]: Running http and grpc server on single port. This is not recommended for production.
Jun 12 14:53:48 ubuntu etcd[58956]: name = ubuntu
Jun 12 14:53:48 ubuntu etcd[58956]: data dir = /opt/stack/data/etcd
Jun 12 14:53:48 ubuntu etcd[58956]: member dir = /opt/stack/data/etcd/member
Jun 12 14:53:48 ubuntu etcd[58956]: heartbeat = 100ms
Jun 12 14:53:48 ubuntu etcd[58956]: election = 1000ms
Jun 12 14:53:48 ubuntu etcd[58956]: snapshot count = 100000
Jun 12 14:53:48 ubuntu etcd[58956]: advertise client URLs = http://10.201.9.223:2379
Jun 12 14:53:48 ubuntu etcd[58956]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 12 14:53:48 ubuntu etcd[58956]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 12 14:53:48 ubuntu etcd[58956]: raft2025/06/12 14:53:48 INFO: c25b29daa831042c switched to configuration voters=()
Jun 12 14:53:48 ubuntu etcd[58956]: raft2025/06/12 14:53:48 INFO: c25b29daa831042c became follower at term 0
Jun 12 14:53:48 ubuntu etcd[58956]: raft2025/06/12 14:53:48 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 12 14:53:48 ubuntu etcd[58956]: raft2025/06/12 14:53:48 INFO: c25b29daa831042c became follower at term 1
Jun 12 14:53:48 ubuntu etcd[58956]: raft2025/06/12 14:53:48 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 12 14:53:48 ubuntu etcd[58956]: simple token is not cryptographically signed
Jun 12 14:53:48 ubuntu etcd[58956]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 12 14:53:48 ubuntu etcd[58956]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 12 14:53:48 ubuntu etcd[58956]: raft2025/06/12 14:53:48 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 12 14:53:48 ubuntu etcd[58956]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 12 14:53:48 ubuntu etcd[58956]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 12 14:53:48 ubuntu etcd[58956]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 12 14:53:48 ubuntu etcd[58956]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 12 14:53:48 ubuntu etcd[58956]: listening for peers on [::]:2380
Jun 12 14:53:48 ubuntu etcd[58956]: raft2025/06/12 14:53:48 INFO: c25b29daa831042c is starting a new election at term 1
Jun 12 14:53:48 ubuntu etcd[58956]: raft2025/06/12 14:53:48 INFO: c25b29daa831042c became candidate at term 2
Jun 12 14:53:48 ubuntu etcd[58956]: raft2025/06/12 14:53:48 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 12 14:53:48 ubuntu etcd[58956]: raft2025/06/12 14:53:48 INFO: c25b29daa831042c became leader at term 2
Jun 12 14:53:48 ubuntu etcd[58956]: raft2025/06/12 14:53:48 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 12 14:53:48 ubuntu etcd[58956]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 12 14:53:48 ubuntu etcd[58956]: ready to serve client requests
Jun 12 14:53:48 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 12 14:53:48 ubuntu etcd[58956]: setting up the initial cluster version to 3.4
Jun 12 14:53:48 ubuntu etcd[58956]: set the initial cluster version to 3.4
Jun 12 14:53:48 ubuntu etcd[58956]: enabled capabilities for version 3.4
Jun 12 14:53:48 ubuntu etcd[58956]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 12 14:58:04 ubuntu etcd[58956]: start time = 2025-06-12 14:58:04.165463596 +0000 UTC m=+255.737670777, time spent = 414.717µs, remote = 10.201.9.223:46592, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 14:58:04 ubuntu etcd[58956]: start time = 2025-06-12 14:58:04.21619881 +0000 UTC m=+255.788406009, time spent = 211.376µs, remote = 10.201.9.223:46592, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 14:58:10 ubuntu etcd[58956]: start time = 2025-06-12 14:58:10.839619235 +0000 UTC m=+262.411826429, time spent = 205.385µs, remote = 10.201.9.223:46592, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 14:58:12 ubuntu etcd[58956]: start time = 2025-06-12 14:58:12.879097842 +0000 UTC m=+264.451305036, time spent = 240.542µs, remote = 10.201.9.223:46592, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
