Apr 15 17:02:49 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 15 17:02:49 ubuntu etcd[57882]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 15 17:02:49 ubuntu etcd[57882]:         A future release of golang/protobuf will delete this package,
Apr 15 17:02:49 ubuntu etcd[57882]:         which has long been excluded from the compatibility promise.
Apr 15 17:02:49 ubuntu etcd[57882]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 15 17:02:49 ubuntu etcd[57882]: Running http and grpc server on single port. This is not recommended for production.
Apr 15 17:02:49 ubuntu etcd[57882]: etcd Version: 3.4.27
Apr 15 17:02:49 ubuntu etcd[57882]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 15 17:02:49 ubuntu etcd[57882]: Git SHA: c92fb80f3
Apr 15 17:02:49 ubuntu etcd[57882]: Go Version: go1.19.10
Apr 15 17:02:49 ubuntu etcd[57882]: Go OS/Arch: linux/amd64
Apr 15 17:02:49 ubuntu etcd[57882]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 15 17:02:49 ubuntu etcd[57882]: Running http and grpc server on single port. This is not recommended for production.
Apr 15 17:02:49 ubuntu etcd[57882]: name = ubuntu
Apr 15 17:02:49 ubuntu etcd[57882]: data dir = /opt/stack/data/etcd
Apr 15 17:02:49 ubuntu etcd[57882]: member dir = /opt/stack/data/etcd/member
Apr 15 17:02:49 ubuntu etcd[57882]: heartbeat = 100ms
Apr 15 17:02:49 ubuntu etcd[57882]: election = 1000ms
Apr 15 17:02:49 ubuntu etcd[57882]: snapshot count = 100000
Apr 15 17:02:49 ubuntu etcd[57882]: advertise client URLs = http://10.201.9.223:2379
Apr 15 17:02:49 ubuntu etcd[57882]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 15 17:02:49 ubuntu etcd[57882]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 15 17:02:49 ubuntu etcd[57882]: raft2025/04/15 17:02:49 INFO: c25b29daa831042c switched to configuration voters=()
Apr 15 17:02:49 ubuntu etcd[57882]: raft2025/04/15 17:02:49 INFO: c25b29daa831042c became follower at term 0
Apr 15 17:02:49 ubuntu etcd[57882]: raft2025/04/15 17:02:49 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 15 17:02:49 ubuntu etcd[57882]: raft2025/04/15 17:02:49 INFO: c25b29daa831042c became follower at term 1
Apr 15 17:02:49 ubuntu etcd[57882]: raft2025/04/15 17:02:49 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 15 17:02:49 ubuntu etcd[57882]: simple token is not cryptographically signed
Apr 15 17:02:49 ubuntu etcd[57882]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 15 17:02:49 ubuntu etcd[57882]: raft2025/04/15 17:02:49 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 15 17:02:49 ubuntu etcd[57882]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 15 17:02:49 ubuntu etcd[57882]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 15 17:02:49 ubuntu etcd[57882]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 15 17:02:49 ubuntu etcd[57882]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 15 17:02:49 ubuntu etcd[57882]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 15 17:02:49 ubuntu etcd[57882]: listening for peers on [::]:2380
Apr 15 17:02:50 ubuntu etcd[57882]: raft2025/04/15 17:02:50 INFO: c25b29daa831042c is starting a new election at term 1
Apr 15 17:02:50 ubuntu etcd[57882]: raft2025/04/15 17:02:50 INFO: c25b29daa831042c became candidate at term 2
Apr 15 17:02:50 ubuntu etcd[57882]: raft2025/04/15 17:02:50 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 15 17:02:50 ubuntu etcd[57882]: raft2025/04/15 17:02:50 INFO: c25b29daa831042c became leader at term 2
Apr 15 17:02:50 ubuntu etcd[57882]: raft2025/04/15 17:02:50 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 15 17:02:50 ubuntu etcd[57882]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 15 17:02:50 ubuntu etcd[57882]: setting up the initial cluster version to 3.4
Apr 15 17:02:50 ubuntu etcd[57882]: ready to serve client requests
Apr 15 17:02:50 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 15 17:02:50 ubuntu etcd[57882]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 15 17:02:50 ubuntu etcd[57882]: set the initial cluster version to 3.4
Apr 15 17:02:50 ubuntu etcd[57882]: enabled capabilities for version 3.4
Apr 15 17:06:54 ubuntu etcd[57882]: start time = 2025-04-15 17:06:54.480873228 +0000 UTC m=+244.851872932, time spent = 483.204µs, remote = 10.201.9.223:57082, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 15 17:06:54 ubuntu etcd[57882]: start time = 2025-04-15 17:06:54.690676194 +0000 UTC m=+245.061675911, time spent = 268.93µs, remote = 10.201.9.223:57082, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 15 17:07:00 ubuntu etcd[57882]: start time = 2025-04-15 17:07:00.961328846 +0000 UTC m=+251.332328602, time spent = 277.489µs, remote = 10.201.9.223:57082, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 15 17:07:03 ubuntu etcd[57882]: start time = 2025-04-15 17:07:03.148339791 +0000 UTC m=+253.519339509, time spent = 185.406µs, remote = 10.201.9.223:57082, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
