Jun 04 03:48:38 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 04 03:48:38 ubuntu etcd[59033]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 04 03:48:38 ubuntu etcd[59033]:         A future release of golang/protobuf will delete this package,
Jun 04 03:48:38 ubuntu etcd[59033]:         which has long been excluded from the compatibility promise.
Jun 04 03:48:38 ubuntu etcd[59033]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 04 03:48:38 ubuntu etcd[59033]: Running http and grpc server on single port. This is not recommended for production.
Jun 04 03:48:38 ubuntu etcd[59033]: etcd Version: 3.4.27
Jun 04 03:48:38 ubuntu etcd[59033]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 04 03:48:38 ubuntu etcd[59033]: Git SHA: c92fb80f3
Jun 04 03:48:38 ubuntu etcd[59033]: Go Version: go1.19.10
Jun 04 03:48:38 ubuntu etcd[59033]: Go OS/Arch: linux/amd64
Jun 04 03:48:38 ubuntu etcd[59033]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 04 03:48:38 ubuntu etcd[59033]: Running http and grpc server on single port. This is not recommended for production.
Jun 04 03:48:38 ubuntu etcd[59033]: name = ubuntu
Jun 04 03:48:38 ubuntu etcd[59033]: data dir = /opt/stack/data/etcd
Jun 04 03:48:38 ubuntu etcd[59033]: member dir = /opt/stack/data/etcd/member
Jun 04 03:48:38 ubuntu etcd[59033]: heartbeat = 100ms
Jun 04 03:48:38 ubuntu etcd[59033]: election = 1000ms
Jun 04 03:48:38 ubuntu etcd[59033]: snapshot count = 100000
Jun 04 03:48:38 ubuntu etcd[59033]: advertise client URLs = http://10.201.9.223:2379
Jun 04 03:48:38 ubuntu etcd[59033]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 04 03:48:38 ubuntu etcd[59033]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 04 03:48:38 ubuntu etcd[59033]: raft2025/06/04 03:48:38 INFO: c25b29daa831042c switched to configuration voters=()
Jun 04 03:48:38 ubuntu etcd[59033]: raft2025/06/04 03:48:38 INFO: c25b29daa831042c became follower at term 0
Jun 04 03:48:38 ubuntu etcd[59033]: raft2025/06/04 03:48:38 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 04 03:48:38 ubuntu etcd[59033]: raft2025/06/04 03:48:38 INFO: c25b29daa831042c became follower at term 1
Jun 04 03:48:38 ubuntu etcd[59033]: raft2025/06/04 03:48:38 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 04 03:48:38 ubuntu etcd[59033]: simple token is not cryptographically signed
Jun 04 03:48:38 ubuntu etcd[59033]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 04 03:48:38 ubuntu etcd[59033]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 04 03:48:38 ubuntu etcd[59033]: raft2025/06/04 03:48:38 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 04 03:48:38 ubuntu etcd[59033]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 04 03:48:38 ubuntu etcd[59033]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 04 03:48:38 ubuntu etcd[59033]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 04 03:48:38 ubuntu etcd[59033]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 04 03:48:38 ubuntu etcd[59033]: listening for peers on [::]:2380
Jun 04 03:48:39 ubuntu etcd[59033]: raft2025/06/04 03:48:39 INFO: c25b29daa831042c is starting a new election at term 1
Jun 04 03:48:39 ubuntu etcd[59033]: raft2025/06/04 03:48:39 INFO: c25b29daa831042c became candidate at term 2
Jun 04 03:48:39 ubuntu etcd[59033]: raft2025/06/04 03:48:39 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 04 03:48:39 ubuntu etcd[59033]: raft2025/06/04 03:48:39 INFO: c25b29daa831042c became leader at term 2
Jun 04 03:48:39 ubuntu etcd[59033]: raft2025/06/04 03:48:39 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 04 03:48:39 ubuntu etcd[59033]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 04 03:48:39 ubuntu etcd[59033]: ready to serve client requests
Jun 04 03:48:39 ubuntu etcd[59033]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 04 03:48:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 04 03:48:39 ubuntu etcd[59033]: setting up the initial cluster version to 3.4
Jun 04 03:48:39 ubuntu etcd[59033]: set the initial cluster version to 3.4
Jun 04 03:48:39 ubuntu etcd[59033]: enabled capabilities for version 3.4
Jun 04 03:52:45 ubuntu etcd[59033]: start time = 2025-06-04 03:52:45.928140055 +0000 UTC m=+247.535846691, time spent = 618.617µs, remote = 10.201.9.223:59296, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 03:52:46 ubuntu etcd[59033]: start time = 2025-06-04 03:52:46.004383853 +0000 UTC m=+247.612090506, time spent = 182.433µs, remote = 10.201.9.223:59296, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 03:52:52 ubuntu etcd[59033]: start time = 2025-06-04 03:52:52.809959523 +0000 UTC m=+254.417666158, time spent = 231.904µs, remote = 10.201.9.223:59296, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 03:52:55 ubuntu etcd[59033]: start time = 2025-06-04 03:52:55.058868119 +0000 UTC m=+256.666574767, time spent = 303.902µs, remote = 10.201.9.223:59296, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
