Jul 09 20:22:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 09 20:22:37 ubuntu etcd[59049]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 09 20:22:37 ubuntu etcd[59049]:         A future release of golang/protobuf will delete this package,
Jul 09 20:22:37 ubuntu etcd[59049]:         which has long been excluded from the compatibility promise.
Jul 09 20:22:37 ubuntu etcd[59049]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 20:22:37 ubuntu etcd[59049]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 20:22:37 ubuntu etcd[59049]: etcd Version: 3.4.27
Jul 09 20:22:37 ubuntu etcd[59049]: Git SHA: c92fb80f3
Jul 09 20:22:37 ubuntu etcd[59049]: Go Version: go1.19.10
Jul 09 20:22:37 ubuntu etcd[59049]: Go OS/Arch: linux/amd64
Jul 09 20:22:37 ubuntu etcd[59049]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 09 20:22:37 ubuntu etcd[59049]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 20:22:37 ubuntu etcd[59049]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 20:22:37 ubuntu etcd[59049]: name = ubuntu
Jul 09 20:22:37 ubuntu etcd[59049]: data dir = /opt/stack/data/etcd
Jul 09 20:22:37 ubuntu etcd[59049]: member dir = /opt/stack/data/etcd/member
Jul 09 20:22:37 ubuntu etcd[59049]: heartbeat = 100ms
Jul 09 20:22:37 ubuntu etcd[59049]: election = 1000ms
Jul 09 20:22:37 ubuntu etcd[59049]: snapshot count = 100000
Jul 09 20:22:37 ubuntu etcd[59049]: advertise client URLs = http://10.201.9.223:2379
Jul 09 20:22:37 ubuntu etcd[59049]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 09 20:22:37 ubuntu etcd[59049]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 09 20:22:37 ubuntu etcd[59049]: raft2025/07/09 20:22:37 INFO: c25b29daa831042c switched to configuration voters=()
Jul 09 20:22:37 ubuntu etcd[59049]: raft2025/07/09 20:22:37 INFO: c25b29daa831042c became follower at term 0
Jul 09 20:22:37 ubuntu etcd[59049]: raft2025/07/09 20:22:37 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 09 20:22:37 ubuntu etcd[59049]: raft2025/07/09 20:22:37 INFO: c25b29daa831042c became follower at term 1
Jul 09 20:22:37 ubuntu etcd[59049]: raft2025/07/09 20:22:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 09 20:22:37 ubuntu etcd[59049]: simple token is not cryptographically signed
Jul 09 20:22:37 ubuntu etcd[59049]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 09 20:22:37 ubuntu etcd[59049]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 09 20:22:37 ubuntu etcd[59049]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 09 20:22:37 ubuntu etcd[59049]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 09 20:22:37 ubuntu etcd[59049]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 09 20:22:37 ubuntu etcd[59049]: raft2025/07/09 20:22:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 09 20:22:37 ubuntu etcd[59049]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 09 20:22:37 ubuntu etcd[59049]: listening for peers on [::]:2380
Jul 09 20:22:38 ubuntu etcd[59049]: raft2025/07/09 20:22:38 INFO: c25b29daa831042c is starting a new election at term 1
Jul 09 20:22:38 ubuntu etcd[59049]: raft2025/07/09 20:22:38 INFO: c25b29daa831042c became candidate at term 2
Jul 09 20:22:38 ubuntu etcd[59049]: raft2025/07/09 20:22:38 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 09 20:22:38 ubuntu etcd[59049]: raft2025/07/09 20:22:38 INFO: c25b29daa831042c became leader at term 2
Jul 09 20:22:38 ubuntu etcd[59049]: raft2025/07/09 20:22:38 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 09 20:22:38 ubuntu etcd[59049]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 09 20:22:38 ubuntu etcd[59049]: setting up the initial cluster version to 3.4
Jul 09 20:22:38 ubuntu etcd[59049]: ready to serve client requests
Jul 09 20:22:38 ubuntu etcd[59049]: set the initial cluster version to 3.4
Jul 09 20:22:38 ubuntu etcd[59049]: enabled capabilities for version 3.4
Jul 09 20:22:38 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 09 20:22:38 ubuntu etcd[59049]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 09 20:26:48 ubuntu etcd[59049]: start time = 2025-07-09 20:26:48.416949187 +0000 UTC m=+250.689199713, time spent = 511.072µs, remote = 10.201.9.223:42136, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 20:26:48 ubuntu etcd[59049]: start time = 2025-07-09 20:26:48.503372629 +0000 UTC m=+250.775623167, time spent = 174.346µs, remote = 10.201.9.223:42136, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 20:26:55 ubuntu etcd[59049]: start time = 2025-07-09 20:26:55.131345012 +0000 UTC m=+257.403595551, time spent = 163.395µs, remote = 10.201.9.223:42136, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 20:26:57 ubuntu etcd[59049]: start time = 2025-07-09 20:26:57.363744766 +0000 UTC m=+259.635995287, time spent = 698.135µs, remote = 10.201.9.223:42136, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
