Mar 29 03:23:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 29 03:23:29 ubuntu etcd[60762]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 29 03:23:29 ubuntu etcd[60762]:         A future release of golang/protobuf will delete this package,
Mar 29 03:23:29 ubuntu etcd[60762]:         which has long been excluded from the compatibility promise.
Mar 29 03:23:29 ubuntu etcd[60762]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 29 03:23:29 ubuntu etcd[60762]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 29 03:23:29 ubuntu etcd[60762]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 29 03:23:29 ubuntu etcd[60762]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 29 03:23:29 ubuntu etcd[60762]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 29 03:23:29 ubuntu etcd[60762]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 29 03:23:29 ubuntu etcd[60762]: Running http and grpc server on single port. This is not recommended for production.
Mar 29 03:23:29 ubuntu etcd[60762]: etcd Version: 3.4.27
Mar 29 03:23:29 ubuntu etcd[60762]: Git SHA: c92fb80f3
Mar 29 03:23:29 ubuntu etcd[60762]: Go Version: go1.19.10
Mar 29 03:23:29 ubuntu etcd[60762]: Go OS/Arch: linux/amd64
Mar 29 03:23:29 ubuntu etcd[60762]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 29 03:23:29 ubuntu etcd[60762]: Running http and grpc server on single port. This is not recommended for production.
Mar 29 03:23:29 ubuntu etcd[60762]: name = ubuntu
Mar 29 03:23:29 ubuntu etcd[60762]: data dir = /opt/stack/data/etcd
Mar 29 03:23:29 ubuntu etcd[60762]: member dir = /opt/stack/data/etcd/member
Mar 29 03:23:29 ubuntu etcd[60762]: heartbeat = 100ms
Mar 29 03:23:29 ubuntu etcd[60762]: election = 1000ms
Mar 29 03:23:29 ubuntu etcd[60762]: snapshot count = 100000
Mar 29 03:23:29 ubuntu etcd[60762]: advertise client URLs = http://10.201.4.32:2379
Mar 29 03:23:29 ubuntu etcd[60762]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 29 03:23:29 ubuntu etcd[60762]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 29 03:23:29 ubuntu etcd[60762]: raft2024/03/29 03:23:29 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 29 03:23:29 ubuntu etcd[60762]: raft2024/03/29 03:23:29 INFO: 33238c1cdfea94eb became follower at term 0
Mar 29 03:23:29 ubuntu etcd[60762]: raft2024/03/29 03:23:29 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 29 03:23:29 ubuntu etcd[60762]: raft2024/03/29 03:23:29 INFO: 33238c1cdfea94eb became follower at term 1
Mar 29 03:23:29 ubuntu etcd[60762]: raft2024/03/29 03:23:29 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 29 03:23:29 ubuntu etcd[60762]: simple token is not cryptographically signed
Mar 29 03:23:29 ubuntu etcd[60762]: raft2024/03/29 03:23:29 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 29 03:23:29 ubuntu etcd[60762]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 29 03:23:29 ubuntu etcd[60762]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 29 03:23:29 ubuntu etcd[60762]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 29 03:23:29 ubuntu etcd[60762]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 29 03:23:29 ubuntu etcd[60762]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 29 03:23:29 ubuntu etcd[60762]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 29 03:23:29 ubuntu etcd[60762]: listening for peers on [::]:2380
Mar 29 03:23:30 ubuntu etcd[60762]: raft2024/03/29 03:23:30 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 29 03:23:30 ubuntu etcd[60762]: raft2024/03/29 03:23:30 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 29 03:23:30 ubuntu etcd[60762]: raft2024/03/29 03:23:30 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 29 03:23:30 ubuntu etcd[60762]: raft2024/03/29 03:23:30 INFO: 33238c1cdfea94eb became leader at term 2
Mar 29 03:23:30 ubuntu etcd[60762]: raft2024/03/29 03:23:30 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 29 03:23:30 ubuntu etcd[60762]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 29 03:23:30 ubuntu etcd[60762]: INFO: 2024/03/29 03:23:30 parsed scheme: ""
Mar 29 03:23:30 ubuntu etcd[60762]: INFO: 2024/03/29 03:23:30 scheme "" not registered, fallback to default scheme
Mar 29 03:23:30 ubuntu etcd[60762]: INFO: 2024/03/29 03:23:30 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 29 03:23:30 ubuntu etcd[60762]: INFO: 2024/03/29 03:23:30 ClientConn switching balancer to "pick_first"
Mar 29 03:23:30 ubuntu etcd[60762]: ready to serve client requests
Mar 29 03:23:30 ubuntu etcd[60762]: setting up the initial cluster version to 3.4
Mar 29 03:23:30 ubuntu etcd[60762]: set the initial cluster version to 3.4
Mar 29 03:23:30 ubuntu etcd[60762]: enabled capabilities for version 3.4
Mar 29 03:23:30 ubuntu etcd[60762]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 29 03:23:30 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 29 03:27:48 ubuntu etcd[60762]: start time = 2024-03-29 03:27:48.918055766 +0000 UTC m=+259.443711902, time spent = 686.557µs, remote = 10.201.4.32:54092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 29 03:27:48 ubuntu etcd[60762]: start time = 2024-03-29 03:27:48.918281865 +0000 UTC m=+259.443938012, time spent = 1.039837ms, remote = 10.201.4.32:54092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 29 03:27:55 ubuntu etcd[60762]: start time = 2024-03-29 03:27:55.767155418 +0000 UTC m=+266.292811553, time spent = 225.291µs, remote = 10.201.4.32:54092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 29 03:27:58 ubuntu etcd[60762]: start time = 2024-03-29 03:27:58.008574913 +0000 UTC m=+268.534231047, time spent = 227.804µs, remote = 10.201.4.32:54092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
