Sep 06 07:53:51 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 06 07:53:51 ubuntu etcd[59702]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 06 07:53:51 ubuntu etcd[59702]:         A future release of golang/protobuf will delete this package,
Sep 06 07:53:51 ubuntu etcd[59702]:         which has long been excluded from the compatibility promise.
Sep 06 07:53:51 ubuntu etcd[59702]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 06 07:53:51 ubuntu etcd[59702]: Running http and grpc server on single port. This is not recommended for production.
Sep 06 07:53:51 ubuntu etcd[59702]: etcd Version: 3.4.27
Sep 06 07:53:51 ubuntu etcd[59702]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 06 07:53:51 ubuntu etcd[59702]: Git SHA: c92fb80f3
Sep 06 07:53:51 ubuntu etcd[59702]: Go Version: go1.19.10
Sep 06 07:53:51 ubuntu etcd[59702]: Go OS/Arch: linux/amd64
Sep 06 07:53:51 ubuntu etcd[59702]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 06 07:53:51 ubuntu etcd[59702]: Running http and grpc server on single port. This is not recommended for production.
Sep 06 07:53:51 ubuntu etcd[59702]: name = ubuntu
Sep 06 07:53:51 ubuntu etcd[59702]: data dir = /opt/stack/data/etcd
Sep 06 07:53:51 ubuntu etcd[59702]: member dir = /opt/stack/data/etcd/member
Sep 06 07:53:51 ubuntu etcd[59702]: heartbeat = 100ms
Sep 06 07:53:51 ubuntu etcd[59702]: election = 1000ms
Sep 06 07:53:51 ubuntu etcd[59702]: snapshot count = 100000
Sep 06 07:53:51 ubuntu etcd[59702]: advertise client URLs = http://10.201.4.32:2379
Sep 06 07:53:51 ubuntu etcd[59702]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 06 07:53:51 ubuntu etcd[59702]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 06 07:53:51 ubuntu etcd[59702]: raft2024/09/06 07:53:51 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 06 07:53:51 ubuntu etcd[59702]: raft2024/09/06 07:53:51 INFO: 33238c1cdfea94eb became follower at term 0
Sep 06 07:53:51 ubuntu etcd[59702]: raft2024/09/06 07:53:51 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 06 07:53:51 ubuntu etcd[59702]: raft2024/09/06 07:53:51 INFO: 33238c1cdfea94eb became follower at term 1
Sep 06 07:53:51 ubuntu etcd[59702]: raft2024/09/06 07:53:51 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 06 07:53:51 ubuntu etcd[59702]: simple token is not cryptographically signed
Sep 06 07:53:51 ubuntu etcd[59702]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 06 07:53:51 ubuntu etcd[59702]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 06 07:53:51 ubuntu etcd[59702]: raft2024/09/06 07:53:51 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 06 07:53:51 ubuntu etcd[59702]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 06 07:53:51 ubuntu etcd[59702]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 06 07:53:51 ubuntu etcd[59702]: listening for peers on [::]:2380
Sep 06 07:53:51 ubuntu etcd[59702]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 06 07:53:51 ubuntu etcd[59702]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 06 07:53:52 ubuntu etcd[59702]: raft2024/09/06 07:53:52 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 06 07:53:52 ubuntu etcd[59702]: raft2024/09/06 07:53:52 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 06 07:53:52 ubuntu etcd[59702]: raft2024/09/06 07:53:52 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 06 07:53:52 ubuntu etcd[59702]: raft2024/09/06 07:53:52 INFO: 33238c1cdfea94eb became leader at term 2
Sep 06 07:53:52 ubuntu etcd[59702]: raft2024/09/06 07:53:52 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 06 07:53:52 ubuntu etcd[59702]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 06 07:53:52 ubuntu etcd[59702]: setting up the initial cluster version to 3.4
Sep 06 07:53:52 ubuntu etcd[59702]: ready to serve client requests
Sep 06 07:53:52 ubuntu etcd[59702]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 06 07:53:52 ubuntu etcd[59702]: set the initial cluster version to 3.4
Sep 06 07:53:52 ubuntu etcd[59702]: enabled capabilities for version 3.4
Sep 06 07:53:52 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 06 07:58:09 ubuntu etcd[59702]: start time = 2024-09-06 07:58:09.821579584 +0000 UTC m=+258.360638204, time spent = 359.623µs, remote = 10.201.4.32:40884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 06 07:58:09 ubuntu etcd[59702]: start time = 2024-09-06 07:58:09.825914298 +0000 UTC m=+258.364972935, time spent = 138.737µs, remote = 10.201.4.32:40884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 06 07:58:16 ubuntu etcd[59702]: start time = 2024-09-06 07:58:16.457883373 +0000 UTC m=+264.996942010, time spent = 139.619µs, remote = 10.201.4.32:40884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 06 07:58:18 ubuntu etcd[59702]: start time = 2024-09-06 07:58:18.701008114 +0000 UTC m=+267.240066751, time spent = 191.666µs, remote = 10.201.4.32:40884, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
