Jan 07 11:23:57 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 07 11:23:57 ubuntu etcd[58882]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 07 11:23:57 ubuntu etcd[58882]:         A future release of golang/protobuf will delete this package,
Jan 07 11:23:57 ubuntu etcd[58882]:         which has long been excluded from the compatibility promise.
Jan 07 11:23:57 ubuntu etcd[58882]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 07 11:23:57 ubuntu etcd[58882]: Running http and grpc server on single port. This is not recommended for production.
Jan 07 11:23:57 ubuntu etcd[58882]: etcd Version: 3.4.27
Jan 07 11:23:57 ubuntu etcd[58882]: Git SHA: c92fb80f3
Jan 07 11:23:57 ubuntu etcd[58882]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 07 11:23:57 ubuntu etcd[58882]: Go Version: go1.19.10
Jan 07 11:23:57 ubuntu etcd[58882]: Go OS/Arch: linux/amd64
Jan 07 11:23:57 ubuntu etcd[58882]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 07 11:23:57 ubuntu etcd[58882]: Running http and grpc server on single port. This is not recommended for production.
Jan 07 11:23:57 ubuntu etcd[58882]: name = ubuntu
Jan 07 11:23:57 ubuntu etcd[58882]: data dir = /opt/stack/data/etcd
Jan 07 11:23:57 ubuntu etcd[58882]: member dir = /opt/stack/data/etcd/member
Jan 07 11:23:57 ubuntu etcd[58882]: heartbeat = 100ms
Jan 07 11:23:57 ubuntu etcd[58882]: election = 1000ms
Jan 07 11:23:57 ubuntu etcd[58882]: snapshot count = 100000
Jan 07 11:23:57 ubuntu etcd[58882]: advertise client URLs = http://10.201.9.223:2379
Jan 07 11:23:57 ubuntu etcd[58882]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 07 11:23:57 ubuntu etcd[58882]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 07 11:23:57 ubuntu etcd[58882]: raft2025/01/07 11:23:57 INFO: c25b29daa831042c switched to configuration voters=()
Jan 07 11:23:57 ubuntu etcd[58882]: raft2025/01/07 11:23:57 INFO: c25b29daa831042c became follower at term 0
Jan 07 11:23:57 ubuntu etcd[58882]: raft2025/01/07 11:23:57 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 07 11:23:57 ubuntu etcd[58882]: raft2025/01/07 11:23:57 INFO: c25b29daa831042c became follower at term 1
Jan 07 11:23:57 ubuntu etcd[58882]: raft2025/01/07 11:23:57 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 07 11:23:57 ubuntu etcd[58882]: simple token is not cryptographically signed
Jan 07 11:23:57 ubuntu etcd[58882]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 07 11:23:57 ubuntu etcd[58882]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 07 11:23:57 ubuntu etcd[58882]: raft2025/01/07 11:23:57 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 07 11:23:57 ubuntu etcd[58882]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 07 11:23:57 ubuntu etcd[58882]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 07 11:23:57 ubuntu etcd[58882]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 07 11:23:57 ubuntu etcd[58882]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 07 11:23:57 ubuntu etcd[58882]: listening for peers on [::]:2380
Jan 07 11:23:57 ubuntu etcd[58882]: raft2025/01/07 11:23:57 INFO: c25b29daa831042c is starting a new election at term 1
Jan 07 11:23:57 ubuntu etcd[58882]: raft2025/01/07 11:23:57 INFO: c25b29daa831042c became candidate at term 2
Jan 07 11:23:57 ubuntu etcd[58882]: raft2025/01/07 11:23:57 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 07 11:23:57 ubuntu etcd[58882]: raft2025/01/07 11:23:57 INFO: c25b29daa831042c became leader at term 2
Jan 07 11:23:57 ubuntu etcd[58882]: raft2025/01/07 11:23:57 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 07 11:23:57 ubuntu etcd[58882]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 07 11:23:57 ubuntu etcd[58882]: setting up the initial cluster version to 3.4
Jan 07 11:23:57 ubuntu etcd[58882]: ready to serve client requests
Jan 07 11:23:57 ubuntu etcd[58882]: set the initial cluster version to 3.4
Jan 07 11:23:57 ubuntu etcd[58882]: enabled capabilities for version 3.4
Jan 07 11:23:57 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 07 11:23:57 ubuntu etcd[58882]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 07 11:28:13 ubuntu etcd[58882]: start time = 2025-01-07 11:28:13.292672909 +0000 UTC m=+255.910498659, time spent = 519.221µs, remote = 10.201.9.223:33824, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 07 11:28:13 ubuntu etcd[58882]: start time = 2025-01-07 11:28:13.329029241 +0000 UTC m=+255.946855001, time spent = 172.283µs, remote = 10.201.9.223:33824, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 07 11:28:19 ubuntu etcd[58882]: start time = 2025-01-07 11:28:19.753379803 +0000 UTC m=+262.371205568, time spent = 153.72µs, remote = 10.201.9.223:33824, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 07 11:28:22 ubuntu etcd[58882]: start time = 2025-01-07 11:28:22.141496601 +0000 UTC m=+264.759322357, time spent = 187.293µs, remote = 10.201.9.223:33824, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
