Dec 11 08:37:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 11 08:37:02 ubuntu etcd[58870]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 11 08:37:02 ubuntu etcd[58870]:         A future release of golang/protobuf will delete this package,
Dec 11 08:37:02 ubuntu etcd[58870]:         which has long been excluded from the compatibility promise.
Dec 11 08:37:02 ubuntu etcd[58870]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 08:37:02 ubuntu etcd[58870]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 08:37:02 ubuntu etcd[58870]: etcd Version: 3.4.27
Dec 11 08:37:02 ubuntu etcd[58870]: Git SHA: c92fb80f3
Dec 11 08:37:02 ubuntu etcd[58870]: Go Version: go1.19.10
Dec 11 08:37:02 ubuntu etcd[58870]: Go OS/Arch: linux/amd64
Dec 11 08:37:02 ubuntu etcd[58870]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 11 08:37:02 ubuntu etcd[58870]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 08:37:02 ubuntu etcd[58870]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 08:37:02 ubuntu etcd[58870]: name = ubuntu
Dec 11 08:37:02 ubuntu etcd[58870]: data dir = /opt/stack/data/etcd
Dec 11 08:37:02 ubuntu etcd[58870]: member dir = /opt/stack/data/etcd/member
Dec 11 08:37:02 ubuntu etcd[58870]: heartbeat = 100ms
Dec 11 08:37:02 ubuntu etcd[58870]: election = 1000ms
Dec 11 08:37:02 ubuntu etcd[58870]: snapshot count = 100000
Dec 11 08:37:02 ubuntu etcd[58870]: advertise client URLs = http://10.201.9.223:2379
Dec 11 08:37:02 ubuntu etcd[58870]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 11 08:37:02 ubuntu etcd[58870]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 11 08:37:02 ubuntu etcd[58870]: raft2024/12/11 08:37:02 INFO: c25b29daa831042c switched to configuration voters=()
Dec 11 08:37:02 ubuntu etcd[58870]: raft2024/12/11 08:37:02 INFO: c25b29daa831042c became follower at term 0
Dec 11 08:37:02 ubuntu etcd[58870]: raft2024/12/11 08:37:02 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 11 08:37:02 ubuntu etcd[58870]: raft2024/12/11 08:37:02 INFO: c25b29daa831042c became follower at term 1
Dec 11 08:37:02 ubuntu etcd[58870]: raft2024/12/11 08:37:02 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 11 08:37:02 ubuntu etcd[58870]: simple token is not cryptographically signed
Dec 11 08:37:02 ubuntu etcd[58870]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 11 08:37:02 ubuntu etcd[58870]: raft2024/12/11 08:37:02 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 11 08:37:02 ubuntu etcd[58870]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 11 08:37:02 ubuntu etcd[58870]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 11 08:37:02 ubuntu etcd[58870]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 11 08:37:02 ubuntu etcd[58870]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 11 08:37:02 ubuntu etcd[58870]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 11 08:37:02 ubuntu etcd[58870]: listening for peers on [::]:2380
Dec 11 08:37:03 ubuntu etcd[58870]: raft2024/12/11 08:37:03 INFO: c25b29daa831042c is starting a new election at term 1
Dec 11 08:37:03 ubuntu etcd[58870]: raft2024/12/11 08:37:03 INFO: c25b29daa831042c became candidate at term 2
Dec 11 08:37:03 ubuntu etcd[58870]: raft2024/12/11 08:37:03 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 11 08:37:03 ubuntu etcd[58870]: raft2024/12/11 08:37:03 INFO: c25b29daa831042c became leader at term 2
Dec 11 08:37:03 ubuntu etcd[58870]: raft2024/12/11 08:37:03 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 11 08:37:03 ubuntu etcd[58870]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 11 08:37:03 ubuntu etcd[58870]: setting up the initial cluster version to 3.4
Dec 11 08:37:03 ubuntu etcd[58870]: ready to serve client requests
Dec 11 08:37:03 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 11 08:37:03 ubuntu etcd[58870]: set the initial cluster version to 3.4
Dec 11 08:37:03 ubuntu etcd[58870]: enabled capabilities for version 3.4
Dec 11 08:37:03 ubuntu etcd[58870]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 11 08:41:18 ubuntu etcd[58870]: start time = 2024-12-11 08:41:18.801321254 +0000 UTC m=+255.861418918, time spent = 431.563µs, remote = 10.201.9.223:38688, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 08:41:18 ubuntu etcd[58870]: start time = 2024-12-11 08:41:18.821840252 +0000 UTC m=+255.881937931, time spent = 205.345µs, remote = 10.201.9.223:38688, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 08:41:25 ubuntu etcd[58870]: start time = 2024-12-11 08:41:25.488707047 +0000 UTC m=+262.548804726, time spent = 260.632µs, remote = 10.201.9.223:38688, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 08:41:27 ubuntu etcd[58870]: start time = 2024-12-11 08:41:27.52678012 +0000 UTC m=+264.586877801, time spent = 233.893µs, remote = 10.201.9.223:38688, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
