Jan 19 00:36:19 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 19 00:36:19 ubuntu etcd[59653]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 19 00:36:19 ubuntu etcd[59653]:         A future release of golang/protobuf will delete this package,
Jan 19 00:36:19 ubuntu etcd[59653]:         which has long been excluded from the compatibility promise.
Jan 19 00:36:19 ubuntu etcd[59653]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 19 00:36:19 ubuntu etcd[59653]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 19 00:36:19 ubuntu etcd[59653]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 19 00:36:19 ubuntu etcd[59653]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 19 00:36:19 ubuntu etcd[59653]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 19 00:36:19 ubuntu etcd[59653]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 19 00:36:19 ubuntu etcd[59653]: Running http and grpc server on single port. This is not recommended for production.
Jan 19 00:36:19 ubuntu etcd[59653]: etcd Version: 3.4.27
Jan 19 00:36:19 ubuntu etcd[59653]: Git SHA: c92fb80f3
Jan 19 00:36:19 ubuntu etcd[59653]: Go Version: go1.19.10
Jan 19 00:36:19 ubuntu etcd[59653]: Go OS/Arch: linux/amd64
Jan 19 00:36:19 ubuntu etcd[59653]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 19 00:36:19 ubuntu etcd[59653]: Running http and grpc server on single port. This is not recommended for production.
Jan 19 00:36:19 ubuntu etcd[59653]: name = ubuntu
Jan 19 00:36:19 ubuntu etcd[59653]: data dir = /opt/stack/data/etcd
Jan 19 00:36:19 ubuntu etcd[59653]: member dir = /opt/stack/data/etcd/member
Jan 19 00:36:19 ubuntu etcd[59653]: heartbeat = 100ms
Jan 19 00:36:19 ubuntu etcd[59653]: election = 1000ms
Jan 19 00:36:19 ubuntu etcd[59653]: snapshot count = 100000
Jan 19 00:36:19 ubuntu etcd[59653]: advertise client URLs = http://10.201.4.32:2379
Jan 19 00:36:19 ubuntu etcd[59653]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 19 00:36:19 ubuntu etcd[59653]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 19 00:36:19 ubuntu etcd[59653]: raft2024/01/19 00:36:19 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 19 00:36:19 ubuntu etcd[59653]: raft2024/01/19 00:36:19 INFO: 33238c1cdfea94eb became follower at term 0
Jan 19 00:36:19 ubuntu etcd[59653]: raft2024/01/19 00:36:19 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 19 00:36:19 ubuntu etcd[59653]: raft2024/01/19 00:36:19 INFO: 33238c1cdfea94eb became follower at term 1
Jan 19 00:36:19 ubuntu etcd[59653]: raft2024/01/19 00:36:19 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 19 00:36:19 ubuntu etcd[59653]: simple token is not cryptographically signed
Jan 19 00:36:19 ubuntu etcd[59653]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 19 00:36:19 ubuntu etcd[59653]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 19 00:36:19 ubuntu etcd[59653]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 19 00:36:19 ubuntu etcd[59653]: raft2024/01/19 00:36:19 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 19 00:36:19 ubuntu etcd[59653]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 19 00:36:19 ubuntu etcd[59653]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 19 00:36:19 ubuntu etcd[59653]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 19 00:36:19 ubuntu etcd[59653]: listening for peers on [::]:2380
Jan 19 00:36:20 ubuntu etcd[59653]: raft2024/01/19 00:36:20 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 19 00:36:20 ubuntu etcd[59653]: raft2024/01/19 00:36:20 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 19 00:36:20 ubuntu etcd[59653]: raft2024/01/19 00:36:20 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 19 00:36:20 ubuntu etcd[59653]: raft2024/01/19 00:36:20 INFO: 33238c1cdfea94eb became leader at term 2
Jan 19 00:36:20 ubuntu etcd[59653]: raft2024/01/19 00:36:20 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 19 00:36:20 ubuntu etcd[59653]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 19 00:36:20 ubuntu etcd[59653]: setting up the initial cluster version to 3.4
Jan 19 00:36:20 ubuntu etcd[59653]: ready to serve client requests
Jan 19 00:36:20 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 19 00:36:20 ubuntu etcd[59653]: INFO: 2024/01/19 00:36:20 parsed scheme: ""
Jan 19 00:36:20 ubuntu etcd[59653]: set the initial cluster version to 3.4
Jan 19 00:36:20 ubuntu etcd[59653]: enabled capabilities for version 3.4
Jan 19 00:36:20 ubuntu etcd[59653]: INFO: 2024/01/19 00:36:20 scheme "" not registered, fallback to default scheme
Jan 19 00:36:20 ubuntu etcd[59653]: INFO: 2024/01/19 00:36:20 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 19 00:36:20 ubuntu etcd[59653]: INFO: 2024/01/19 00:36:20 ClientConn switching balancer to "pick_first"
Jan 19 00:36:20 ubuntu etcd[59653]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 19 00:40:50 ubuntu etcd[59653]: start time = 2024-01-19 00:40:50.331779837 +0000 UTC m=+270.625034383, time spent = 400.032µs, remote = 10.201.4.32:49552, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 19 00:40:50 ubuntu etcd[59653]: start time = 2024-01-19 00:40:50.361166123 +0000 UTC m=+270.654420670, time spent = 157.91µs, remote = 10.201.4.32:49552, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 19 00:40:56 ubuntu etcd[59653]: start time = 2024-01-19 00:40:56.721479152 +0000 UTC m=+277.014733688, time spent = 357.031µs, remote = 10.201.4.32:49552, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 19 00:40:58 ubuntu etcd[59653]: start time = 2024-01-19 00:40:58.867054203 +0000 UTC m=+279.160308750, time spent = 168.123µs, remote = 10.201.4.32:49552, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
