Mar 07 11:56:12 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 07 11:56:12 ubuntu etcd[60436]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 07 11:56:12 ubuntu etcd[60436]:         A future release of golang/protobuf will delete this package,
Mar 07 11:56:12 ubuntu etcd[60436]:         which has long been excluded from the compatibility promise.
Mar 07 11:56:12 ubuntu etcd[60436]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 07 11:56:12 ubuntu etcd[60436]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 07 11:56:12 ubuntu etcd[60436]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 07 11:56:12 ubuntu etcd[60436]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 07 11:56:12 ubuntu etcd[60436]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 07 11:56:12 ubuntu etcd[60436]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 07 11:56:12 ubuntu etcd[60436]: Running http and grpc server on single port. This is not recommended for production.
Mar 07 11:56:12 ubuntu etcd[60436]: etcd Version: 3.4.27
Mar 07 11:56:12 ubuntu etcd[60436]: Git SHA: c92fb80f3
Mar 07 11:56:12 ubuntu etcd[60436]: Go Version: go1.19.10
Mar 07 11:56:12 ubuntu etcd[60436]: Go OS/Arch: linux/amd64
Mar 07 11:56:12 ubuntu etcd[60436]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 07 11:56:12 ubuntu etcd[60436]: Running http and grpc server on single port. This is not recommended for production.
Mar 07 11:56:12 ubuntu etcd[60436]: name = ubuntu
Mar 07 11:56:12 ubuntu etcd[60436]: data dir = /opt/stack/data/etcd
Mar 07 11:56:12 ubuntu etcd[60436]: member dir = /opt/stack/data/etcd/member
Mar 07 11:56:12 ubuntu etcd[60436]: heartbeat = 100ms
Mar 07 11:56:12 ubuntu etcd[60436]: election = 1000ms
Mar 07 11:56:12 ubuntu etcd[60436]: snapshot count = 100000
Mar 07 11:56:12 ubuntu etcd[60436]: advertise client URLs = http://10.201.4.32:2379
Mar 07 11:56:12 ubuntu etcd[60436]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 07 11:56:12 ubuntu etcd[60436]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 07 11:56:12 ubuntu etcd[60436]: raft2024/03/07 11:56:12 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 07 11:56:12 ubuntu etcd[60436]: raft2024/03/07 11:56:12 INFO: 33238c1cdfea94eb became follower at term 0
Mar 07 11:56:12 ubuntu etcd[60436]: raft2024/03/07 11:56:12 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 07 11:56:12 ubuntu etcd[60436]: raft2024/03/07 11:56:12 INFO: 33238c1cdfea94eb became follower at term 1
Mar 07 11:56:12 ubuntu etcd[60436]: raft2024/03/07 11:56:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 07 11:56:12 ubuntu etcd[60436]: simple token is not cryptographically signed
Mar 07 11:56:12 ubuntu etcd[60436]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 07 11:56:12 ubuntu etcd[60436]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 07 11:56:12 ubuntu etcd[60436]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 07 11:56:12 ubuntu etcd[60436]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 07 11:56:12 ubuntu etcd[60436]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 07 11:56:12 ubuntu etcd[60436]: raft2024/03/07 11:56:12 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 07 11:56:12 ubuntu etcd[60436]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 07 11:56:12 ubuntu etcd[60436]: listening for peers on [::]:2380
Mar 07 11:56:12 ubuntu etcd[60436]: raft2024/03/07 11:56:12 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 07 11:56:12 ubuntu etcd[60436]: raft2024/03/07 11:56:12 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 07 11:56:12 ubuntu etcd[60436]: raft2024/03/07 11:56:12 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 07 11:56:12 ubuntu etcd[60436]: raft2024/03/07 11:56:12 INFO: 33238c1cdfea94eb became leader at term 2
Mar 07 11:56:12 ubuntu etcd[60436]: raft2024/03/07 11:56:12 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 07 11:56:12 ubuntu etcd[60436]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 07 11:56:12 ubuntu etcd[60436]: ready to serve client requests
Mar 07 11:56:12 ubuntu etcd[60436]: INFO: 2024/03/07 11:56:12 parsed scheme: ""
Mar 07 11:56:12 ubuntu etcd[60436]: INFO: 2024/03/07 11:56:12 scheme "" not registered, fallback to default scheme
Mar 07 11:56:12 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 07 11:56:12 ubuntu etcd[60436]: INFO: 2024/03/07 11:56:12 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 07 11:56:12 ubuntu etcd[60436]: INFO: 2024/03/07 11:56:12 ClientConn switching balancer to "pick_first"
Mar 07 11:56:12 ubuntu etcd[60436]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 07 11:56:12 ubuntu etcd[60436]: setting up the initial cluster version to 3.4
Mar 07 11:56:12 ubuntu etcd[60436]: set the initial cluster version to 3.4
Mar 07 11:56:12 ubuntu etcd[60436]: enabled capabilities for version 3.4
Mar 07 12:00:31 ubuntu etcd[60436]: start time = 2024-03-07 12:00:31.94764563 +0000 UTC m=+259.487124743, time spent = 478.11µs, remote = 10.201.4.32:48286, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 07 12:00:32 ubuntu etcd[60436]: start time = 2024-03-07 12:00:32.103628426 +0000 UTC m=+259.643107538, time spent = 179.288µs, remote = 10.201.4.32:48286, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 07 12:00:38 ubuntu etcd[60436]: start time = 2024-03-07 12:00:38.387435387 +0000 UTC m=+265.926914499, time spent = 265.197µs, remote = 10.201.4.32:48286, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 07 12:00:41 ubuntu etcd[60436]: start time = 2024-03-07 12:00:41.074027563 +0000 UTC m=+268.613506687, time spent = 325.002µs, remote = 10.201.4.32:48286, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
