Apr 16 23:15:25 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 16 23:15:25 ubuntu etcd[59766]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 16 23:15:25 ubuntu etcd[59766]:         A future release of golang/protobuf will delete this package,
Apr 16 23:15:25 ubuntu etcd[59766]:         which has long been excluded from the compatibility promise.
Apr 16 23:15:25 ubuntu etcd[59766]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 16 23:15:25 ubuntu etcd[59766]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 16 23:15:25 ubuntu etcd[59766]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 16 23:15:25 ubuntu etcd[59766]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 16 23:15:25 ubuntu etcd[59766]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 16 23:15:25 ubuntu etcd[59766]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 16 23:15:25 ubuntu etcd[59766]: Running http and grpc server on single port. This is not recommended for production.
Apr 16 23:15:25 ubuntu etcd[59766]: etcd Version: 3.4.27
Apr 16 23:15:25 ubuntu etcd[59766]: Git SHA: c92fb80f3
Apr 16 23:15:25 ubuntu etcd[59766]: Go Version: go1.19.10
Apr 16 23:15:25 ubuntu etcd[59766]: Go OS/Arch: linux/amd64
Apr 16 23:15:25 ubuntu etcd[59766]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 16 23:15:25 ubuntu etcd[59766]: Running http and grpc server on single port. This is not recommended for production.
Apr 16 23:15:25 ubuntu etcd[59766]: name = ubuntu
Apr 16 23:15:25 ubuntu etcd[59766]: data dir = /opt/stack/data/etcd
Apr 16 23:15:25 ubuntu etcd[59766]: member dir = /opt/stack/data/etcd/member
Apr 16 23:15:25 ubuntu etcd[59766]: heartbeat = 100ms
Apr 16 23:15:25 ubuntu etcd[59766]: election = 1000ms
Apr 16 23:15:25 ubuntu etcd[59766]: snapshot count = 100000
Apr 16 23:15:25 ubuntu etcd[59766]: advertise client URLs = http://10.201.4.32:2379
Apr 16 23:15:25 ubuntu etcd[59766]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 16 23:15:25 ubuntu etcd[59766]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 16 23:15:25 ubuntu etcd[59766]: raft2024/04/16 23:15:25 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 16 23:15:25 ubuntu etcd[59766]: raft2024/04/16 23:15:25 INFO: 33238c1cdfea94eb became follower at term 0
Apr 16 23:15:25 ubuntu etcd[59766]: raft2024/04/16 23:15:25 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 16 23:15:25 ubuntu etcd[59766]: raft2024/04/16 23:15:25 INFO: 33238c1cdfea94eb became follower at term 1
Apr 16 23:15:25 ubuntu etcd[59766]: raft2024/04/16 23:15:25 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 16 23:15:25 ubuntu etcd[59766]: simple token is not cryptographically signed
Apr 16 23:15:25 ubuntu etcd[59766]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 16 23:15:25 ubuntu etcd[59766]: raft2024/04/16 23:15:25 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 16 23:15:25 ubuntu etcd[59766]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 16 23:15:25 ubuntu etcd[59766]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 16 23:15:25 ubuntu etcd[59766]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 16 23:15:25 ubuntu etcd[59766]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 16 23:15:25 ubuntu etcd[59766]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 16 23:15:25 ubuntu etcd[59766]: listening for peers on [::]:2380
Apr 16 23:15:26 ubuntu etcd[59766]: raft2024/04/16 23:15:26 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 16 23:15:26 ubuntu etcd[59766]: raft2024/04/16 23:15:26 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 16 23:15:26 ubuntu etcd[59766]: raft2024/04/16 23:15:26 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 16 23:15:26 ubuntu etcd[59766]: raft2024/04/16 23:15:26 INFO: 33238c1cdfea94eb became leader at term 2
Apr 16 23:15:26 ubuntu etcd[59766]: raft2024/04/16 23:15:26 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 16 23:15:26 ubuntu etcd[59766]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 16 23:15:26 ubuntu etcd[59766]: setting up the initial cluster version to 3.4
Apr 16 23:15:26 ubuntu etcd[59766]: ready to serve client requests
Apr 16 23:15:26 ubuntu etcd[59766]: INFO: 2024/04/16 23:15:26 parsed scheme: ""
Apr 16 23:15:26 ubuntu etcd[59766]: INFO: 2024/04/16 23:15:26 scheme "" not registered, fallback to default scheme
Apr 16 23:15:26 ubuntu etcd[59766]: INFO: 2024/04/16 23:15:26 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 16 23:15:26 ubuntu etcd[59766]: INFO: 2024/04/16 23:15:26 ClientConn switching balancer to "pick_first"
Apr 16 23:15:26 ubuntu etcd[59766]: set the initial cluster version to 3.4
Apr 16 23:15:26 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 16 23:15:26 ubuntu etcd[59766]: enabled capabilities for version 3.4
Apr 16 23:15:26 ubuntu etcd[59766]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 16 23:19:53 ubuntu etcd[59766]: start time = 2024-04-16 23:19:53.765421136 +0000 UTC m=+268.116533951, time spent = 453.534µs, remote = 10.201.4.32:54374, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 16 23:19:53 ubuntu etcd[59766]: start time = 2024-04-16 23:19:53.977430669 +0000 UTC m=+268.328543495, time spent = 251.129µs, remote = 10.201.4.32:54374, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 16 23:20:00 ubuntu etcd[59766]: start time = 2024-04-16 23:20:00.680155854 +0000 UTC m=+275.031268681, time spent = 194.706µs, remote = 10.201.4.32:54374, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 16 23:20:03 ubuntu etcd[59766]: start time = 2024-04-16 23:20:03.164587889 +0000 UTC m=+277.515700725, time spent = 187.154µs, remote = 10.201.4.32:54374, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
