Mar 20 10:08:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 20 10:08:23 ubuntu etcd[60635]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 20 10:08:23 ubuntu etcd[60635]:         A future release of golang/protobuf will delete this package,
Mar 20 10:08:23 ubuntu etcd[60635]:         which has long been excluded from the compatibility promise.
Mar 20 10:08:23 ubuntu etcd[60635]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 20 10:08:23 ubuntu etcd[60635]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 20 10:08:23 ubuntu etcd[60635]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 20 10:08:23 ubuntu etcd[60635]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 20 10:08:23 ubuntu etcd[60635]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 20 10:08:23 ubuntu etcd[60635]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 20 10:08:23 ubuntu etcd[60635]: Running http and grpc server on single port. This is not recommended for production.
Mar 20 10:08:23 ubuntu etcd[60635]: etcd Version: 3.4.27
Mar 20 10:08:23 ubuntu etcd[60635]: Git SHA: c92fb80f3
Mar 20 10:08:23 ubuntu etcd[60635]: Go Version: go1.19.10
Mar 20 10:08:23 ubuntu etcd[60635]: Go OS/Arch: linux/amd64
Mar 20 10:08:23 ubuntu etcd[60635]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 20 10:08:23 ubuntu etcd[60635]: Running http and grpc server on single port. This is not recommended for production.
Mar 20 10:08:23 ubuntu etcd[60635]: name = ubuntu
Mar 20 10:08:23 ubuntu etcd[60635]: data dir = /opt/stack/data/etcd
Mar 20 10:08:23 ubuntu etcd[60635]: member dir = /opt/stack/data/etcd/member
Mar 20 10:08:23 ubuntu etcd[60635]: heartbeat = 100ms
Mar 20 10:08:23 ubuntu etcd[60635]: election = 1000ms
Mar 20 10:08:23 ubuntu etcd[60635]: snapshot count = 100000
Mar 20 10:08:23 ubuntu etcd[60635]: advertise client URLs = http://10.201.4.32:2379
Mar 20 10:08:23 ubuntu etcd[60635]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 20 10:08:23 ubuntu etcd[60635]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 20 10:08:23 ubuntu etcd[60635]: raft2024/03/20 10:08:23 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 20 10:08:23 ubuntu etcd[60635]: raft2024/03/20 10:08:23 INFO: 33238c1cdfea94eb became follower at term 0
Mar 20 10:08:23 ubuntu etcd[60635]: raft2024/03/20 10:08:23 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 20 10:08:23 ubuntu etcd[60635]: raft2024/03/20 10:08:23 INFO: 33238c1cdfea94eb became follower at term 1
Mar 20 10:08:23 ubuntu etcd[60635]: raft2024/03/20 10:08:23 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 20 10:08:23 ubuntu etcd[60635]: simple token is not cryptographically signed
Mar 20 10:08:23 ubuntu etcd[60635]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 20 10:08:23 ubuntu etcd[60635]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 20 10:08:23 ubuntu etcd[60635]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 20 10:08:23 ubuntu etcd[60635]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 20 10:08:23 ubuntu etcd[60635]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 20 10:08:23 ubuntu etcd[60635]: raft2024/03/20 10:08:23 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 20 10:08:23 ubuntu etcd[60635]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 20 10:08:23 ubuntu etcd[60635]: listening for peers on [::]:2380
Mar 20 10:08:24 ubuntu etcd[60635]: raft2024/03/20 10:08:24 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 20 10:08:24 ubuntu etcd[60635]: raft2024/03/20 10:08:24 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 20 10:08:24 ubuntu etcd[60635]: raft2024/03/20 10:08:24 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 20 10:08:24 ubuntu etcd[60635]: raft2024/03/20 10:08:24 INFO: 33238c1cdfea94eb became leader at term 2
Mar 20 10:08:24 ubuntu etcd[60635]: raft2024/03/20 10:08:24 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 20 10:08:24 ubuntu etcd[60635]: INFO: 2024/03/20 10:08:24 parsed scheme: ""
Mar 20 10:08:24 ubuntu etcd[60635]: INFO: 2024/03/20 10:08:24 scheme "" not registered, fallback to default scheme
Mar 20 10:08:24 ubuntu etcd[60635]: INFO: 2024/03/20 10:08:24 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 20 10:08:24 ubuntu etcd[60635]: INFO: 2024/03/20 10:08:24 ClientConn switching balancer to "pick_first"
Mar 20 10:08:24 ubuntu etcd[60635]: ready to serve client requests
Mar 20 10:08:24 ubuntu etcd[60635]: setting up the initial cluster version to 3.4
Mar 20 10:08:24 ubuntu etcd[60635]: set the initial cluster version to 3.4
Mar 20 10:08:24 ubuntu etcd[60635]: enabled capabilities for version 3.4
Mar 20 10:08:24 ubuntu etcd[60635]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 20 10:08:24 ubuntu etcd[60635]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 20 10:08:24 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 20 10:12:44 ubuntu etcd[60635]: start time = 2024-03-20 10:12:44.594490546 +0000 UTC m=+261.184684323, time spent = 453.847µs, remote = 10.201.4.32:58168, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 20 10:12:44 ubuntu etcd[60635]: start time = 2024-03-20 10:12:44.635796087 +0000 UTC m=+261.225989875, time spent = 215.121µs, remote = 10.201.4.32:58168, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 20 10:12:51 ubuntu etcd[60635]: start time = 2024-03-20 10:12:51.498813511 +0000 UTC m=+268.089007299, time spent = 211.275µs, remote = 10.201.4.32:58168, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 20 10:12:53 ubuntu etcd[60635]: start time = 2024-03-20 10:12:53.92022036 +0000 UTC m=+270.510414147, time spent = 434.625µs, remote = 10.201.4.32:58168, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
