Jan 23 17:22:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 23 17:22:43 ubuntu etcd[58991]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 23 17:22:43 ubuntu etcd[58991]:         A future release of golang/protobuf will delete this package,
Jan 23 17:22:43 ubuntu etcd[58991]:         which has long been excluded from the compatibility promise.
Jan 23 17:22:43 ubuntu etcd[58991]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 23 17:22:43 ubuntu etcd[58991]: Running http and grpc server on single port. This is not recommended for production.
Jan 23 17:22:43 ubuntu etcd[58991]: etcd Version: 3.4.27
Jan 23 17:22:43 ubuntu etcd[58991]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 23 17:22:43 ubuntu etcd[58991]: Git SHA: c92fb80f3
Jan 23 17:22:43 ubuntu etcd[58991]: Go Version: go1.19.10
Jan 23 17:22:43 ubuntu etcd[58991]: Go OS/Arch: linux/amd64
Jan 23 17:22:43 ubuntu etcd[58991]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 23 17:22:43 ubuntu etcd[58991]: Running http and grpc server on single port. This is not recommended for production.
Jan 23 17:22:43 ubuntu etcd[58991]: name = ubuntu
Jan 23 17:22:43 ubuntu etcd[58991]: data dir = /opt/stack/data/etcd
Jan 23 17:22:43 ubuntu etcd[58991]: member dir = /opt/stack/data/etcd/member
Jan 23 17:22:43 ubuntu etcd[58991]: heartbeat = 100ms
Jan 23 17:22:43 ubuntu etcd[58991]: election = 1000ms
Jan 23 17:22:43 ubuntu etcd[58991]: snapshot count = 100000
Jan 23 17:22:43 ubuntu etcd[58991]: advertise client URLs = http://10.201.9.223:2379
Jan 23 17:22:43 ubuntu etcd[58991]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 23 17:22:43 ubuntu etcd[58991]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 23 17:22:43 ubuntu etcd[58991]: raft2025/01/23 17:22:43 INFO: c25b29daa831042c switched to configuration voters=()
Jan 23 17:22:43 ubuntu etcd[58991]: raft2025/01/23 17:22:43 INFO: c25b29daa831042c became follower at term 0
Jan 23 17:22:43 ubuntu etcd[58991]: raft2025/01/23 17:22:43 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 23 17:22:43 ubuntu etcd[58991]: raft2025/01/23 17:22:43 INFO: c25b29daa831042c became follower at term 1
Jan 23 17:22:43 ubuntu etcd[58991]: raft2025/01/23 17:22:43 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 23 17:22:43 ubuntu etcd[58991]: simple token is not cryptographically signed
Jan 23 17:22:43 ubuntu etcd[58991]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 23 17:22:43 ubuntu etcd[58991]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 23 17:22:43 ubuntu etcd[58991]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 23 17:22:43 ubuntu etcd[58991]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 23 17:22:43 ubuntu etcd[58991]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 23 17:22:43 ubuntu etcd[58991]: raft2025/01/23 17:22:43 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 23 17:22:43 ubuntu etcd[58991]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 23 17:22:43 ubuntu etcd[58991]: listening for peers on [::]:2380
Jan 23 17:22:43 ubuntu etcd[58991]: raft2025/01/23 17:22:43 INFO: c25b29daa831042c is starting a new election at term 1
Jan 23 17:22:43 ubuntu etcd[58991]: raft2025/01/23 17:22:43 INFO: c25b29daa831042c became candidate at term 2
Jan 23 17:22:43 ubuntu etcd[58991]: raft2025/01/23 17:22:43 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 23 17:22:43 ubuntu etcd[58991]: raft2025/01/23 17:22:43 INFO: c25b29daa831042c became leader at term 2
Jan 23 17:22:43 ubuntu etcd[58991]: raft2025/01/23 17:22:43 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 23 17:22:43 ubuntu etcd[58991]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 23 17:22:43 ubuntu etcd[58991]: setting up the initial cluster version to 3.4
Jan 23 17:22:43 ubuntu etcd[58991]: ready to serve client requests
Jan 23 17:22:43 ubuntu etcd[58991]: set the initial cluster version to 3.4
Jan 23 17:22:43 ubuntu etcd[58991]: enabled capabilities for version 3.4
Jan 23 17:22:43 ubuntu etcd[58991]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 23 17:22:43 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 23 17:26:51 ubuntu etcd[58991]: start time = 2025-01-23 17:26:51.107976727 +0000 UTC m=+247.303211764, time spent = 2.867774ms, remote = 10.201.9.223:48020, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 23 17:26:51 ubuntu etcd[58991]: start time = 2025-01-23 17:26:51.137887406 +0000 UTC m=+247.333122453, time spent = 354.12µs, remote = 10.201.9.223:48020, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 23 17:26:57 ubuntu etcd[58991]: start time = 2025-01-23 17:26:57.732579034 +0000 UTC m=+253.927814084, time spent = 204.276µs, remote = 10.201.9.223:48020, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 23 17:26:59 ubuntu etcd[58991]: start time = 2025-01-23 17:26:59.690988279 +0000 UTC m=+255.886223312, time spent = 173.729µs, remote = 10.201.9.223:48020, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
