Jan 03 20:26:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 03 20:26:39 ubuntu etcd[59297]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 03 20:26:39 ubuntu etcd[59297]:         A future release of golang/protobuf will delete this package,
Jan 03 20:26:39 ubuntu etcd[59297]:         which has long been excluded from the compatibility promise.
Jan 03 20:26:39 ubuntu etcd[59297]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 03 20:26:39 ubuntu etcd[59297]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 03 20:26:39 ubuntu etcd[59297]: Running http and grpc server on single port. This is not recommended for production.
Jan 03 20:26:39 ubuntu etcd[59297]: etcd Version: 3.4.27
Jan 03 20:26:39 ubuntu etcd[59297]: Git SHA: c92fb80f3
Jan 03 20:26:39 ubuntu etcd[59297]: Go Version: go1.19.10
Jan 03 20:26:39 ubuntu etcd[59297]: Go OS/Arch: linux/amd64
Jan 03 20:26:39 ubuntu etcd[59297]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 03 20:26:39 ubuntu etcd[59297]: Running http and grpc server on single port. This is not recommended for production.
Jan 03 20:26:39 ubuntu etcd[59297]: name = ubuntu
Jan 03 20:26:39 ubuntu etcd[59297]: data dir = /opt/stack/data/etcd
Jan 03 20:26:39 ubuntu etcd[59297]: member dir = /opt/stack/data/etcd/member
Jan 03 20:26:39 ubuntu etcd[59297]: heartbeat = 100ms
Jan 03 20:26:39 ubuntu etcd[59297]: election = 1000ms
Jan 03 20:26:39 ubuntu etcd[59297]: snapshot count = 100000
Jan 03 20:26:39 ubuntu etcd[59297]: advertise client URLs = http://10.201.9.223:2379
Jan 03 20:26:39 ubuntu etcd[59297]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 03 20:26:39 ubuntu etcd[59297]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 03 20:26:39 ubuntu etcd[59297]: raft2025/01/03 20:26:39 INFO: c25b29daa831042c switched to configuration voters=()
Jan 03 20:26:39 ubuntu etcd[59297]: raft2025/01/03 20:26:39 INFO: c25b29daa831042c became follower at term 0
Jan 03 20:26:39 ubuntu etcd[59297]: raft2025/01/03 20:26:39 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 03 20:26:39 ubuntu etcd[59297]: raft2025/01/03 20:26:39 INFO: c25b29daa831042c became follower at term 1
Jan 03 20:26:39 ubuntu etcd[59297]: raft2025/01/03 20:26:39 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 03 20:26:39 ubuntu etcd[59297]: simple token is not cryptographically signed
Jan 03 20:26:39 ubuntu etcd[59297]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 03 20:26:39 ubuntu etcd[59297]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 03 20:26:39 ubuntu etcd[59297]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 03 20:26:39 ubuntu etcd[59297]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 03 20:26:39 ubuntu etcd[59297]: raft2025/01/03 20:26:39 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 03 20:26:39 ubuntu etcd[59297]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 03 20:26:39 ubuntu etcd[59297]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 03 20:26:39 ubuntu etcd[59297]: listening for peers on [::]:2380
Jan 03 20:26:39 ubuntu etcd[59297]: raft2025/01/03 20:26:39 INFO: c25b29daa831042c is starting a new election at term 1
Jan 03 20:26:39 ubuntu etcd[59297]: raft2025/01/03 20:26:39 INFO: c25b29daa831042c became candidate at term 2
Jan 03 20:26:39 ubuntu etcd[59297]: raft2025/01/03 20:26:39 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 03 20:26:39 ubuntu etcd[59297]: raft2025/01/03 20:26:39 INFO: c25b29daa831042c became leader at term 2
Jan 03 20:26:39 ubuntu etcd[59297]: raft2025/01/03 20:26:39 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 03 20:26:39 ubuntu etcd[59297]: setting up the initial cluster version to 3.4
Jan 03 20:26:39 ubuntu etcd[59297]: set the initial cluster version to 3.4
Jan 03 20:26:39 ubuntu etcd[59297]: enabled capabilities for version 3.4
Jan 03 20:26:39 ubuntu etcd[59297]: ready to serve client requests
Jan 03 20:26:39 ubuntu etcd[59297]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 03 20:26:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 03 20:26:39 ubuntu etcd[59297]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 03 20:30:59 ubuntu etcd[59297]: start time = 2025-01-03 20:30:59.709111383 +0000 UTC m=+260.444307259, time spent = 385.255µs, remote = 10.201.9.223:50120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 20:30:59 ubuntu etcd[59297]: start time = 2025-01-03 20:30:59.759826448 +0000 UTC m=+260.495022329, time spent = 213.594µs, remote = 10.201.9.223:50120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 20:31:06 ubuntu etcd[59297]: start time = 2025-01-03 20:31:06.554398269 +0000 UTC m=+267.289594145, time spent = 155.673µs, remote = 10.201.9.223:50120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 20:31:08 ubuntu etcd[59297]: start time = 2025-01-03 20:31:08.945374823 +0000 UTC m=+269.680570704, time spent = 310.259µs, remote = 10.201.9.223:50120, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
