Feb 19 01:27:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 19 01:27:23 ubuntu etcd[60678]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 19 01:27:23 ubuntu etcd[60678]:         A future release of golang/protobuf will delete this package,
Feb 19 01:27:23 ubuntu etcd[60678]:         which has long been excluded from the compatibility promise.
Feb 19 01:27:23 ubuntu etcd[60678]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 19 01:27:23 ubuntu etcd[60678]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 19 01:27:23 ubuntu etcd[60678]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 19 01:27:23 ubuntu etcd[60678]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 19 01:27:23 ubuntu etcd[60678]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 19 01:27:23 ubuntu etcd[60678]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 19 01:27:23 ubuntu etcd[60678]: Running http and grpc server on single port. This is not recommended for production.
Feb 19 01:27:23 ubuntu etcd[60678]: etcd Version: 3.4.27
Feb 19 01:27:23 ubuntu etcd[60678]: Git SHA: c92fb80f3
Feb 19 01:27:23 ubuntu etcd[60678]: Go Version: go1.19.10
Feb 19 01:27:23 ubuntu etcd[60678]: Go OS/Arch: linux/amd64
Feb 19 01:27:23 ubuntu etcd[60678]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 19 01:27:23 ubuntu etcd[60678]: Running http and grpc server on single port. This is not recommended for production.
Feb 19 01:27:23 ubuntu etcd[60678]: name = ubuntu
Feb 19 01:27:23 ubuntu etcd[60678]: data dir = /opt/stack/data/etcd
Feb 19 01:27:23 ubuntu etcd[60678]: member dir = /opt/stack/data/etcd/member
Feb 19 01:27:23 ubuntu etcd[60678]: heartbeat = 100ms
Feb 19 01:27:23 ubuntu etcd[60678]: election = 1000ms
Feb 19 01:27:23 ubuntu etcd[60678]: snapshot count = 100000
Feb 19 01:27:23 ubuntu etcd[60678]: advertise client URLs = http://10.201.4.32:2379
Feb 19 01:27:23 ubuntu etcd[60678]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 19 01:27:23 ubuntu etcd[60678]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 19 01:27:23 ubuntu etcd[60678]: raft2024/02/19 01:27:23 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 19 01:27:23 ubuntu etcd[60678]: raft2024/02/19 01:27:23 INFO: 33238c1cdfea94eb became follower at term 0
Feb 19 01:27:23 ubuntu etcd[60678]: raft2024/02/19 01:27:23 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 19 01:27:23 ubuntu etcd[60678]: raft2024/02/19 01:27:23 INFO: 33238c1cdfea94eb became follower at term 1
Feb 19 01:27:23 ubuntu etcd[60678]: raft2024/02/19 01:27:23 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 19 01:27:23 ubuntu etcd[60678]: simple token is not cryptographically signed
Feb 19 01:27:23 ubuntu etcd[60678]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 19 01:27:23 ubuntu etcd[60678]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 19 01:27:23 ubuntu etcd[60678]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 19 01:27:23 ubuntu etcd[60678]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 19 01:27:23 ubuntu etcd[60678]: raft2024/02/19 01:27:23 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 19 01:27:23 ubuntu etcd[60678]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 19 01:27:23 ubuntu etcd[60678]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 19 01:27:23 ubuntu etcd[60678]: listening for peers on [::]:2380
Feb 19 01:27:24 ubuntu etcd[60678]: raft2024/02/19 01:27:24 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 19 01:27:24 ubuntu etcd[60678]: raft2024/02/19 01:27:24 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 19 01:27:24 ubuntu etcd[60678]: raft2024/02/19 01:27:24 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 19 01:27:24 ubuntu etcd[60678]: raft2024/02/19 01:27:24 INFO: 33238c1cdfea94eb became leader at term 2
Feb 19 01:27:24 ubuntu etcd[60678]: raft2024/02/19 01:27:24 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 19 01:27:24 ubuntu etcd[60678]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 19 01:27:24 ubuntu etcd[60678]: setting up the initial cluster version to 3.4
Feb 19 01:27:24 ubuntu etcd[60678]: INFO: 2024/02/19 01:27:24 parsed scheme: ""
Feb 19 01:27:24 ubuntu etcd[60678]: INFO: 2024/02/19 01:27:24 scheme "" not registered, fallback to default scheme
Feb 19 01:27:24 ubuntu etcd[60678]: INFO: 2024/02/19 01:27:24 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 19 01:27:24 ubuntu etcd[60678]: INFO: 2024/02/19 01:27:24 ClientConn switching balancer to "pick_first"
Feb 19 01:27:24 ubuntu etcd[60678]: ready to serve client requests
Feb 19 01:27:24 ubuntu etcd[60678]: set the initial cluster version to 3.4
Feb 19 01:27:24 ubuntu etcd[60678]: enabled capabilities for version 3.4
Feb 19 01:27:24 ubuntu etcd[60678]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 19 01:27:24 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 19 01:31:38 ubuntu etcd[60678]: start time = 2024-02-19 01:31:38.727032509 +0000 UTC m=+254.943364617, time spent = 605.662µs, remote = 10.201.4.32:51844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 19 01:31:38 ubuntu etcd[60678]: start time = 2024-02-19 01:31:38.734953635 +0000 UTC m=+254.951285754, time spent = 162.492µs, remote = 10.201.4.32:51844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 19 01:31:45 ubuntu etcd[60678]: start time = 2024-02-19 01:31:45.219764447 +0000 UTC m=+261.436096555, time spent = 153.731µs, remote = 10.201.4.32:51844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 19 01:31:47 ubuntu etcd[60678]: start time = 2024-02-19 01:31:47.421607428 +0000 UTC m=+263.637939535, time spent = 300.325µs, remote = 10.201.4.32:51844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
