Sep 10 13:55:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 10 13:55:37 ubuntu etcd[59645]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 10 13:55:37 ubuntu etcd[59645]:         A future release of golang/protobuf will delete this package,
Sep 10 13:55:37 ubuntu etcd[59645]:         which has long been excluded from the compatibility promise.
Sep 10 13:55:37 ubuntu etcd[59645]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 10 13:55:37 ubuntu etcd[59645]: Running http and grpc server on single port. This is not recommended for production.
Sep 10 13:55:37 ubuntu etcd[59645]: etcd Version: 3.4.27
Sep 10 13:55:37 ubuntu etcd[59645]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 10 13:55:37 ubuntu etcd[59645]: Git SHA: c92fb80f3
Sep 10 13:55:37 ubuntu etcd[59645]: Go Version: go1.19.10
Sep 10 13:55:37 ubuntu etcd[59645]: Go OS/Arch: linux/amd64
Sep 10 13:55:37 ubuntu etcd[59645]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 10 13:55:37 ubuntu etcd[59645]: Running http and grpc server on single port. This is not recommended for production.
Sep 10 13:55:37 ubuntu etcd[59645]: name = ubuntu
Sep 10 13:55:37 ubuntu etcd[59645]: data dir = /opt/stack/data/etcd
Sep 10 13:55:37 ubuntu etcd[59645]: member dir = /opt/stack/data/etcd/member
Sep 10 13:55:37 ubuntu etcd[59645]: heartbeat = 100ms
Sep 10 13:55:37 ubuntu etcd[59645]: election = 1000ms
Sep 10 13:55:37 ubuntu etcd[59645]: snapshot count = 100000
Sep 10 13:55:37 ubuntu etcd[59645]: advertise client URLs = http://10.201.4.32:2379
Sep 10 13:55:37 ubuntu etcd[59645]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 10 13:55:37 ubuntu etcd[59645]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 10 13:55:37 ubuntu etcd[59645]: raft2024/09/10 13:55:37 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 10 13:55:37 ubuntu etcd[59645]: raft2024/09/10 13:55:37 INFO: 33238c1cdfea94eb became follower at term 0
Sep 10 13:55:37 ubuntu etcd[59645]: raft2024/09/10 13:55:37 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 10 13:55:37 ubuntu etcd[59645]: raft2024/09/10 13:55:37 INFO: 33238c1cdfea94eb became follower at term 1
Sep 10 13:55:37 ubuntu etcd[59645]: raft2024/09/10 13:55:37 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 10 13:55:37 ubuntu etcd[59645]: simple token is not cryptographically signed
Sep 10 13:55:37 ubuntu etcd[59645]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 10 13:55:37 ubuntu etcd[59645]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 10 13:55:37 ubuntu etcd[59645]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 10 13:55:37 ubuntu etcd[59645]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 10 13:55:37 ubuntu etcd[59645]: raft2024/09/10 13:55:37 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 10 13:55:37 ubuntu etcd[59645]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 10 13:55:37 ubuntu etcd[59645]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 10 13:55:37 ubuntu etcd[59645]: listening for peers on [::]:2380
Sep 10 13:55:38 ubuntu etcd[59645]: raft2024/09/10 13:55:38 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 10 13:55:38 ubuntu etcd[59645]: raft2024/09/10 13:55:38 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 10 13:55:38 ubuntu etcd[59645]: raft2024/09/10 13:55:38 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 10 13:55:38 ubuntu etcd[59645]: raft2024/09/10 13:55:38 INFO: 33238c1cdfea94eb became leader at term 2
Sep 10 13:55:38 ubuntu etcd[59645]: raft2024/09/10 13:55:38 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 10 13:55:38 ubuntu etcd[59645]: ready to serve client requests
Sep 10 13:55:38 ubuntu etcd[59645]: setting up the initial cluster version to 3.4
Sep 10 13:55:38 ubuntu etcd[59645]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 10 13:55:38 ubuntu etcd[59645]: set the initial cluster version to 3.4
Sep 10 13:55:38 ubuntu etcd[59645]: enabled capabilities for version 3.4
Sep 10 13:55:38 ubuntu etcd[59645]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 10 13:55:38 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 10 13:59:59 ubuntu etcd[59645]: start time = 2024-09-10 13:59:59.222013293 +0000 UTC m=+261.730092656, time spent = 504.603µs, remote = 10.201.4.32:43394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 10 13:59:59 ubuntu etcd[59645]: start time = 2024-09-10 13:59:59.25434766 +0000 UTC m=+261.762427041, time spent = 213.282µs, remote = 10.201.4.32:43394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 10 14:00:05 ubuntu etcd[59645]: start time = 2024-09-10 14:00:05.970132394 +0000 UTC m=+268.478211771, time spent = 182.663µs, remote = 10.201.4.32:43394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 10 14:00:08 ubuntu etcd[59645]: start time = 2024-09-10 14:00:08.059302037 +0000 UTC m=+270.567381417, time spent = 193.584µs, remote = 10.201.4.32:43394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
