Dec 11 02:17:53 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 11 02:17:53 ubuntu etcd[59053]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 11 02:17:53 ubuntu etcd[59053]:         A future release of golang/protobuf will delete this package,
Dec 11 02:17:53 ubuntu etcd[59053]:         which has long been excluded from the compatibility promise.
Dec 11 02:17:53 ubuntu etcd[59053]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 11 02:17:53 ubuntu etcd[59053]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 11 02:17:53 ubuntu etcd[59053]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 02:17:53 ubuntu etcd[59053]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 11 02:17:53 ubuntu etcd[59053]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 11 02:17:53 ubuntu etcd[59053]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 02:17:53 ubuntu etcd[59053]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 02:17:53 ubuntu etcd[59053]: etcd Version: 3.4.27
Dec 11 02:17:53 ubuntu etcd[59053]: Git SHA: c92fb80f3
Dec 11 02:17:53 ubuntu etcd[59053]: Go Version: go1.19.10
Dec 11 02:17:53 ubuntu etcd[59053]: Go OS/Arch: linux/amd64
Dec 11 02:17:53 ubuntu etcd[59053]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 11 02:17:53 ubuntu etcd[59053]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 02:17:53 ubuntu etcd[59053]: name = ubuntu
Dec 11 02:17:53 ubuntu etcd[59053]: data dir = /opt/stack/data/etcd
Dec 11 02:17:53 ubuntu etcd[59053]: member dir = /opt/stack/data/etcd/member
Dec 11 02:17:53 ubuntu etcd[59053]: heartbeat = 100ms
Dec 11 02:17:53 ubuntu etcd[59053]: election = 1000ms
Dec 11 02:17:53 ubuntu etcd[59053]: snapshot count = 100000
Dec 11 02:17:53 ubuntu etcd[59053]: advertise client URLs = http://10.201.4.32:2379
Dec 11 02:17:53 ubuntu etcd[59053]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 11 02:17:53 ubuntu etcd[59053]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 11 02:17:53 ubuntu etcd[59053]: raft2023/12/11 02:17:53 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 11 02:17:53 ubuntu etcd[59053]: raft2023/12/11 02:17:53 INFO: 33238c1cdfea94eb became follower at term 0
Dec 11 02:17:53 ubuntu etcd[59053]: raft2023/12/11 02:17:53 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 11 02:17:53 ubuntu etcd[59053]: raft2023/12/11 02:17:53 INFO: 33238c1cdfea94eb became follower at term 1
Dec 11 02:17:53 ubuntu etcd[59053]: raft2023/12/11 02:17:53 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 11 02:17:53 ubuntu etcd[59053]: simple token is not cryptographically signed
Dec 11 02:17:53 ubuntu etcd[59053]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 11 02:17:53 ubuntu etcd[59053]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 11 02:17:53 ubuntu etcd[59053]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 11 02:17:53 ubuntu etcd[59053]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 11 02:17:53 ubuntu etcd[59053]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 11 02:17:53 ubuntu etcd[59053]: raft2023/12/11 02:17:53 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 11 02:17:53 ubuntu etcd[59053]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 11 02:17:53 ubuntu etcd[59053]: listening for peers on [::]:2380
Dec 11 02:17:54 ubuntu etcd[59053]: raft2023/12/11 02:17:54 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 11 02:17:54 ubuntu etcd[59053]: raft2023/12/11 02:17:54 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 11 02:17:54 ubuntu etcd[59053]: raft2023/12/11 02:17:54 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 11 02:17:54 ubuntu etcd[59053]: raft2023/12/11 02:17:54 INFO: 33238c1cdfea94eb became leader at term 2
Dec 11 02:17:54 ubuntu etcd[59053]: raft2023/12/11 02:17:54 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 11 02:17:54 ubuntu etcd[59053]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 11 02:17:54 ubuntu etcd[59053]: ready to serve client requests
Dec 11 02:17:54 ubuntu etcd[59053]: INFO: 2023/12/11 02:17:54 parsed scheme: ""
Dec 11 02:17:54 ubuntu etcd[59053]: INFO: 2023/12/11 02:17:54 scheme "" not registered, fallback to default scheme
Dec 11 02:17:54 ubuntu etcd[59053]: INFO: 2023/12/11 02:17:54 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Dec 11 02:17:54 ubuntu etcd[59053]: INFO: 2023/12/11 02:17:54 ClientConn switching balancer to "pick_first"
Dec 11 02:17:54 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 11 02:17:54 ubuntu etcd[59053]: setting up the initial cluster version to 3.4
Dec 11 02:17:54 ubuntu etcd[59053]: set the initial cluster version to 3.4
Dec 11 02:17:54 ubuntu etcd[59053]: enabled capabilities for version 3.4
Dec 11 02:17:54 ubuntu etcd[59053]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 11 02:22:20 ubuntu etcd[59053]: start time = 2023-12-11 02:22:20.787680316 +0000 UTC m=+267.412945139, time spent = 452.522µs, remote = 10.201.4.32:55904, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 02:22:20 ubuntu etcd[59053]: start time = 2023-12-11 02:22:20.7924786 +0000 UTC m=+267.417743427, time spent = 170.963µs, remote = 10.201.4.32:55904, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 02:22:27 ubuntu etcd[59053]: start time = 2023-12-11 02:22:27.168479977 +0000 UTC m=+273.793744800, time spent = 177.704µs, remote = 10.201.4.32:55904, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 02:22:29 ubuntu etcd[59053]: start time = 2023-12-11 02:22:29.329674706 +0000 UTC m=+275.954939529, time spent = 353.369µs, remote = 10.201.4.32:55904, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
