Jun 09 11:43:51 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 09 11:43:51 ubuntu etcd[58967]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 09 11:43:51 ubuntu etcd[58967]:         A future release of golang/protobuf will delete this package,
Jun 09 11:43:51 ubuntu etcd[58967]:         which has long been excluded from the compatibility promise.
Jun 09 11:43:51 ubuntu etcd[58967]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 11:43:51 ubuntu etcd[58967]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 11:43:51 ubuntu etcd[58967]: etcd Version: 3.4.27
Jun 09 11:43:51 ubuntu etcd[58967]: Git SHA: c92fb80f3
Jun 09 11:43:51 ubuntu etcd[58967]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 11:43:51 ubuntu etcd[58967]: Go Version: go1.19.10
Jun 09 11:43:51 ubuntu etcd[58967]: Go OS/Arch: linux/amd64
Jun 09 11:43:51 ubuntu etcd[58967]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 09 11:43:51 ubuntu etcd[58967]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 11:43:51 ubuntu etcd[58967]: name = ubuntu
Jun 09 11:43:51 ubuntu etcd[58967]: data dir = /opt/stack/data/etcd
Jun 09 11:43:51 ubuntu etcd[58967]: member dir = /opt/stack/data/etcd/member
Jun 09 11:43:51 ubuntu etcd[58967]: heartbeat = 100ms
Jun 09 11:43:51 ubuntu etcd[58967]: election = 1000ms
Jun 09 11:43:51 ubuntu etcd[58967]: snapshot count = 100000
Jun 09 11:43:51 ubuntu etcd[58967]: advertise client URLs = http://10.201.9.223:2379
Jun 09 11:43:51 ubuntu etcd[58967]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 09 11:43:51 ubuntu etcd[58967]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 09 11:43:51 ubuntu etcd[58967]: raft2025/06/09 11:43:51 INFO: c25b29daa831042c switched to configuration voters=()
Jun 09 11:43:51 ubuntu etcd[58967]: raft2025/06/09 11:43:51 INFO: c25b29daa831042c became follower at term 0
Jun 09 11:43:51 ubuntu etcd[58967]: raft2025/06/09 11:43:51 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 09 11:43:51 ubuntu etcd[58967]: raft2025/06/09 11:43:51 INFO: c25b29daa831042c became follower at term 1
Jun 09 11:43:51 ubuntu etcd[58967]: raft2025/06/09 11:43:51 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 09 11:43:51 ubuntu etcd[58967]: simple token is not cryptographically signed
Jun 09 11:43:51 ubuntu etcd[58967]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 09 11:43:51 ubuntu etcd[58967]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 09 11:43:51 ubuntu etcd[58967]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 09 11:43:51 ubuntu etcd[58967]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 09 11:43:51 ubuntu etcd[58967]: raft2025/06/09 11:43:51 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 09 11:43:51 ubuntu etcd[58967]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 09 11:43:51 ubuntu etcd[58967]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 09 11:43:51 ubuntu etcd[58967]: listening for peers on [::]:2380
Jun 09 11:43:51 ubuntu etcd[58967]: raft2025/06/09 11:43:51 INFO: c25b29daa831042c is starting a new election at term 1
Jun 09 11:43:51 ubuntu etcd[58967]: raft2025/06/09 11:43:51 INFO: c25b29daa831042c became candidate at term 2
Jun 09 11:43:51 ubuntu etcd[58967]: raft2025/06/09 11:43:51 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 09 11:43:51 ubuntu etcd[58967]: raft2025/06/09 11:43:51 INFO: c25b29daa831042c became leader at term 2
Jun 09 11:43:51 ubuntu etcd[58967]: raft2025/06/09 11:43:51 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 09 11:43:51 ubuntu etcd[58967]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 09 11:43:51 ubuntu etcd[58967]: setting up the initial cluster version to 3.4
Jun 09 11:43:51 ubuntu etcd[58967]: ready to serve client requests
Jun 09 11:43:51 ubuntu etcd[58967]: set the initial cluster version to 3.4
Jun 09 11:43:51 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 09 11:43:51 ubuntu etcd[58967]: enabled capabilities for version 3.4
Jun 09 11:43:51 ubuntu etcd[58967]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 09 11:47:58 ubuntu etcd[58967]: start time = 2025-06-09 11:47:58.844878887 +0000 UTC m=+247.408895562, time spent = 386.372µs, remote = 10.201.9.223:42342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 11:47:58 ubuntu etcd[58967]: start time = 2025-06-09 11:47:58.853977131 +0000 UTC m=+247.417993822, time spent = 178.578µs, remote = 10.201.9.223:42342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 11:48:05 ubuntu etcd[58967]: start time = 2025-06-09 11:48:05.18618289 +0000 UTC m=+253.750199577, time spent = 228.904µs, remote = 10.201.9.223:42342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 11:48:07 ubuntu etcd[58967]: start time = 2025-06-09 11:48:07.540133172 +0000 UTC m=+256.104149861, time spent = 346.605µs, remote = 10.201.9.223:42342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
