May 28 16:12:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 28 16:12:46 ubuntu etcd[58880]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 28 16:12:46 ubuntu etcd[58880]:         A future release of golang/protobuf will delete this package,
May 28 16:12:46 ubuntu etcd[58880]:         which has long been excluded from the compatibility promise.
May 28 16:12:46 ubuntu etcd[58880]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 16:12:46 ubuntu etcd[58880]: Running http and grpc server on single port. This is not recommended for production.
May 28 16:12:46 ubuntu etcd[58880]: etcd Version: 3.4.27
May 28 16:12:46 ubuntu etcd[58880]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 16:12:46 ubuntu etcd[58880]: Git SHA: c92fb80f3
May 28 16:12:46 ubuntu etcd[58880]: Go Version: go1.19.10
May 28 16:12:46 ubuntu etcd[58880]: Go OS/Arch: linux/amd64
May 28 16:12:46 ubuntu etcd[58880]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 28 16:12:46 ubuntu etcd[58880]: Running http and grpc server on single port. This is not recommended for production.
May 28 16:12:46 ubuntu etcd[58880]: name = ubuntu
May 28 16:12:46 ubuntu etcd[58880]: data dir = /opt/stack/data/etcd
May 28 16:12:46 ubuntu etcd[58880]: member dir = /opt/stack/data/etcd/member
May 28 16:12:46 ubuntu etcd[58880]: heartbeat = 100ms
May 28 16:12:46 ubuntu etcd[58880]: election = 1000ms
May 28 16:12:46 ubuntu etcd[58880]: snapshot count = 100000
May 28 16:12:46 ubuntu etcd[58880]: advertise client URLs = http://10.201.9.223:2379
May 28 16:12:46 ubuntu etcd[58880]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 28 16:12:46 ubuntu etcd[58880]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 28 16:12:46 ubuntu etcd[58880]: raft2025/05/28 16:12:46 INFO: c25b29daa831042c switched to configuration voters=()
May 28 16:12:46 ubuntu etcd[58880]: raft2025/05/28 16:12:46 INFO: c25b29daa831042c became follower at term 0
May 28 16:12:46 ubuntu etcd[58880]: raft2025/05/28 16:12:46 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 28 16:12:46 ubuntu etcd[58880]: raft2025/05/28 16:12:46 INFO: c25b29daa831042c became follower at term 1
May 28 16:12:46 ubuntu etcd[58880]: raft2025/05/28 16:12:46 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 28 16:12:46 ubuntu etcd[58880]: simple token is not cryptographically signed
May 28 16:12:46 ubuntu etcd[58880]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 28 16:12:46 ubuntu etcd[58880]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 28 16:12:46 ubuntu etcd[58880]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 28 16:12:46 ubuntu etcd[58880]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 28 16:12:46 ubuntu etcd[58880]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 28 16:12:46 ubuntu etcd[58880]: raft2025/05/28 16:12:46 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 28 16:12:46 ubuntu etcd[58880]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 28 16:12:46 ubuntu etcd[58880]: listening for peers on [::]:2380
May 28 16:12:46 ubuntu etcd[58880]: raft2025/05/28 16:12:46 INFO: c25b29daa831042c is starting a new election at term 1
May 28 16:12:46 ubuntu etcd[58880]: raft2025/05/28 16:12:46 INFO: c25b29daa831042c became candidate at term 2
May 28 16:12:46 ubuntu etcd[58880]: raft2025/05/28 16:12:46 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 28 16:12:46 ubuntu etcd[58880]: raft2025/05/28 16:12:46 INFO: c25b29daa831042c became leader at term 2
May 28 16:12:46 ubuntu etcd[58880]: raft2025/05/28 16:12:46 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 28 16:12:46 ubuntu etcd[58880]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 28 16:12:46 ubuntu etcd[58880]: ready to serve client requests
May 28 16:12:46 ubuntu etcd[58880]: setting up the initial cluster version to 3.4
May 28 16:12:46 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 28 16:12:46 ubuntu etcd[58880]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 28 16:12:46 ubuntu etcd[58880]: set the initial cluster version to 3.4
May 28 16:12:46 ubuntu etcd[58880]: enabled capabilities for version 3.4
May 28 16:16:56 ubuntu etcd[58880]: start time = 2025-05-28 16:16:56.065930722 +0000 UTC m=+249.923479551, time spent = 527.336µs, remote = 10.201.9.223:39944, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 16:16:56 ubuntu etcd[58880]: start time = 2025-05-28 16:16:56.073884668 +0000 UTC m=+249.931433515, time spent = 161.132µs, remote = 10.201.9.223:39944, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 16:17:02 ubuntu etcd[58880]: start time = 2025-05-28 16:17:02.83774771 +0000 UTC m=+256.695296538, time spent = 268.062µs, remote = 10.201.9.223:39944, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 16:17:04 ubuntu etcd[58880]: start time = 2025-05-28 16:17:04.922575338 +0000 UTC m=+258.780124181, time spent = 629.975µs, remote = 10.201.9.223:39944, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
