Sep 11 20:01:19 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 11 20:01:19 ubuntu etcd[59706]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 11 20:01:19 ubuntu etcd[59706]:         A future release of golang/protobuf will delete this package,
Sep 11 20:01:19 ubuntu etcd[59706]:         which has long been excluded from the compatibility promise.
Sep 11 20:01:19 ubuntu etcd[59706]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 11 20:01:19 ubuntu etcd[59706]: Running http and grpc server on single port. This is not recommended for production.
Sep 11 20:01:19 ubuntu etcd[59706]: etcd Version: 3.4.27
Sep 11 20:01:19 ubuntu etcd[59706]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 11 20:01:19 ubuntu etcd[59706]: Git SHA: c92fb80f3
Sep 11 20:01:19 ubuntu etcd[59706]: Go Version: go1.19.10
Sep 11 20:01:19 ubuntu etcd[59706]: Go OS/Arch: linux/amd64
Sep 11 20:01:19 ubuntu etcd[59706]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 11 20:01:19 ubuntu etcd[59706]: Running http and grpc server on single port. This is not recommended for production.
Sep 11 20:01:19 ubuntu etcd[59706]: name = ubuntu
Sep 11 20:01:19 ubuntu etcd[59706]: data dir = /opt/stack/data/etcd
Sep 11 20:01:19 ubuntu etcd[59706]: member dir = /opt/stack/data/etcd/member
Sep 11 20:01:19 ubuntu etcd[59706]: heartbeat = 100ms
Sep 11 20:01:19 ubuntu etcd[59706]: election = 1000ms
Sep 11 20:01:19 ubuntu etcd[59706]: snapshot count = 100000
Sep 11 20:01:19 ubuntu etcd[59706]: advertise client URLs = http://10.201.4.32:2379
Sep 11 20:01:19 ubuntu etcd[59706]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 11 20:01:20 ubuntu etcd[59706]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 11 20:01:20 ubuntu etcd[59706]: raft2024/09/11 20:01:20 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 11 20:01:20 ubuntu etcd[59706]: raft2024/09/11 20:01:20 INFO: 33238c1cdfea94eb became follower at term 0
Sep 11 20:01:20 ubuntu etcd[59706]: raft2024/09/11 20:01:20 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 11 20:01:20 ubuntu etcd[59706]: raft2024/09/11 20:01:20 INFO: 33238c1cdfea94eb became follower at term 1
Sep 11 20:01:20 ubuntu etcd[59706]: raft2024/09/11 20:01:20 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 11 20:01:20 ubuntu etcd[59706]: simple token is not cryptographically signed
Sep 11 20:01:20 ubuntu etcd[59706]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 11 20:01:20 ubuntu etcd[59706]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 11 20:01:20 ubuntu etcd[59706]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 11 20:01:20 ubuntu etcd[59706]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 11 20:01:20 ubuntu etcd[59706]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 11 20:01:20 ubuntu etcd[59706]: raft2024/09/11 20:01:20 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 11 20:01:20 ubuntu etcd[59706]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 11 20:01:20 ubuntu etcd[59706]: listening for peers on [::]:2380
Sep 11 20:01:20 ubuntu etcd[59706]: raft2024/09/11 20:01:20 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 11 20:01:20 ubuntu etcd[59706]: raft2024/09/11 20:01:20 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 11 20:01:20 ubuntu etcd[59706]: raft2024/09/11 20:01:20 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 11 20:01:20 ubuntu etcd[59706]: raft2024/09/11 20:01:20 INFO: 33238c1cdfea94eb became leader at term 2
Sep 11 20:01:20 ubuntu etcd[59706]: raft2024/09/11 20:01:20 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 11 20:01:20 ubuntu etcd[59706]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 11 20:01:20 ubuntu etcd[59706]: ready to serve client requests
Sep 11 20:01:20 ubuntu etcd[59706]: setting up the initial cluster version to 3.4
Sep 11 20:01:20 ubuntu etcd[59706]: set the initial cluster version to 3.4
Sep 11 20:01:20 ubuntu etcd[59706]: enabled capabilities for version 3.4
Sep 11 20:01:20 ubuntu etcd[59706]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 11 20:01:20 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 11 20:05:40 ubuntu etcd[59706]: start time = 2024-09-11 20:05:40.077297086 +0000 UTC m=+260.095457629, time spent = 417.558µs, remote = 10.201.4.32:55478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 11 20:05:40 ubuntu etcd[59706]: start time = 2024-09-11 20:05:40.115516766 +0000 UTC m=+260.133677321, time spent = 221.209µs, remote = 10.201.4.32:55478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 11 20:05:46 ubuntu etcd[59706]: start time = 2024-09-11 20:05:46.865973513 +0000 UTC m=+266.884134068, time spent = 173.901µs, remote = 10.201.4.32:55478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 11 20:05:49 ubuntu etcd[59706]: start time = 2024-09-11 20:05:49.11015364 +0000 UTC m=+269.128314198, time spent = 526.433µs, remote = 10.201.4.32:55478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
