Aug 12 16:59:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 12 16:59:48 ubuntu etcd[59247]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 12 16:59:48 ubuntu etcd[59247]:         A future release of golang/protobuf will delete this package,
Aug 12 16:59:48 ubuntu etcd[59247]:         which has long been excluded from the compatibility promise.
Aug 12 16:59:48 ubuntu etcd[59247]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 16:59:48 ubuntu etcd[59247]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 16:59:48 ubuntu etcd[59247]: etcd Version: 3.4.27
Aug 12 16:59:48 ubuntu etcd[59247]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 16:59:48 ubuntu etcd[59247]: Git SHA: c92fb80f3
Aug 12 16:59:48 ubuntu etcd[59247]: Go Version: go1.19.10
Aug 12 16:59:48 ubuntu etcd[59247]: Go OS/Arch: linux/amd64
Aug 12 16:59:48 ubuntu etcd[59247]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 12 16:59:48 ubuntu etcd[59247]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 16:59:48 ubuntu etcd[59247]: name = ubuntu
Aug 12 16:59:48 ubuntu etcd[59247]: data dir = /opt/stack/data/etcd
Aug 12 16:59:48 ubuntu etcd[59247]: member dir = /opt/stack/data/etcd/member
Aug 12 16:59:48 ubuntu etcd[59247]: heartbeat = 100ms
Aug 12 16:59:48 ubuntu etcd[59247]: election = 1000ms
Aug 12 16:59:48 ubuntu etcd[59247]: snapshot count = 100000
Aug 12 16:59:48 ubuntu etcd[59247]: advertise client URLs = http://10.201.9.223:2379
Aug 12 16:59:48 ubuntu etcd[59247]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 12 16:59:48 ubuntu etcd[59247]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Aug 12 16:59:48 ubuntu etcd[59247]: raft2025/08/12 16:59:48 INFO: c25b29daa831042c switched to configuration voters=()
Aug 12 16:59:48 ubuntu etcd[59247]: raft2025/08/12 16:59:48 INFO: c25b29daa831042c became follower at term 0
Aug 12 16:59:48 ubuntu etcd[59247]: raft2025/08/12 16:59:48 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 12 16:59:48 ubuntu etcd[59247]: raft2025/08/12 16:59:48 INFO: c25b29daa831042c became follower at term 1
Aug 12 16:59:48 ubuntu etcd[59247]: raft2025/08/12 16:59:48 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 12 16:59:48 ubuntu etcd[59247]: simple token is not cryptographically signed
Aug 12 16:59:48 ubuntu etcd[59247]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 12 16:59:48 ubuntu etcd[59247]: raft2025/08/12 16:59:48 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 12 16:59:48 ubuntu etcd[59247]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 12 16:59:48 ubuntu etcd[59247]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 12 16:59:48 ubuntu etcd[59247]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 12 16:59:48 ubuntu etcd[59247]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 12 16:59:48 ubuntu etcd[59247]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Aug 12 16:59:48 ubuntu etcd[59247]: listening for peers on [::]:2380
Aug 12 16:59:49 ubuntu etcd[59247]: raft2025/08/12 16:59:49 INFO: c25b29daa831042c is starting a new election at term 1
Aug 12 16:59:49 ubuntu etcd[59247]: raft2025/08/12 16:59:49 INFO: c25b29daa831042c became candidate at term 2
Aug 12 16:59:49 ubuntu etcd[59247]: raft2025/08/12 16:59:49 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Aug 12 16:59:49 ubuntu etcd[59247]: raft2025/08/12 16:59:49 INFO: c25b29daa831042c became leader at term 2
Aug 12 16:59:49 ubuntu etcd[59247]: raft2025/08/12 16:59:49 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Aug 12 16:59:49 ubuntu etcd[59247]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Aug 12 16:59:49 ubuntu etcd[59247]: ready to serve client requests
Aug 12 16:59:49 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 12 16:59:49 ubuntu etcd[59247]: setting up the initial cluster version to 3.4
Aug 12 16:59:49 ubuntu etcd[59247]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Aug 12 16:59:49 ubuntu etcd[59247]: set the initial cluster version to 3.4
Aug 12 16:59:49 ubuntu etcd[59247]: enabled capabilities for version 3.4
Aug 12 17:03:59 ubuntu etcd[59247]: start time = 2025-08-12 17:03:59.400916693 +0000 UTC m=+250.581818585, time spent = 1.16649ms, remote = 10.201.9.223:33608, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 17:03:59 ubuntu etcd[59247]: start time = 2025-08-12 17:03:59.434240969 +0000 UTC m=+250.615142866, time spent = 173.646µs, remote = 10.201.9.223:33608, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 17:04:05 ubuntu etcd[59247]: start time = 2025-08-12 17:04:05.955911674 +0000 UTC m=+257.136813567, time spent = 333.021µs, remote = 10.201.9.223:33608, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 17:04:08 ubuntu etcd[59247]: start time = 2025-08-12 17:04:08.088447519 +0000 UTC m=+259.269349412, time spent = 439.194µs, remote = 10.201.9.223:33608, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
