Dec 07 17:21:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 17:21:23 ubuntu etcd[57727]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 17:21:23 ubuntu etcd[57727]:         A future release of golang/protobuf will delete this package,
Dec 07 17:21:23 ubuntu etcd[57727]:         which has long been excluded from the compatibility promise.
Dec 07 17:21:23 ubuntu etcd[57727]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 07 17:21:23 ubuntu etcd[57727]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 07 17:21:23 ubuntu etcd[57727]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 17:21:23 ubuntu etcd[57727]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 07 17:21:23 ubuntu etcd[57727]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 07 17:21:23 ubuntu etcd[57727]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 17:21:23 ubuntu etcd[57727]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 17:21:23 ubuntu etcd[57727]: etcd Version: 3.4.27
Dec 07 17:21:23 ubuntu etcd[57727]: Git SHA: c92fb80f3
Dec 07 17:21:23 ubuntu etcd[57727]: Go Version: go1.19.10
Dec 07 17:21:23 ubuntu etcd[57727]: Go OS/Arch: linux/amd64
Dec 07 17:21:23 ubuntu etcd[57727]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 17:21:23 ubuntu etcd[57727]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 17:21:23 ubuntu etcd[57727]: name = ubuntu
Dec 07 17:21:23 ubuntu etcd[57727]: data dir = /opt/stack/data/etcd
Dec 07 17:21:23 ubuntu etcd[57727]: member dir = /opt/stack/data/etcd/member
Dec 07 17:21:23 ubuntu etcd[57727]: heartbeat = 100ms
Dec 07 17:21:23 ubuntu etcd[57727]: election = 1000ms
Dec 07 17:21:23 ubuntu etcd[57727]: snapshot count = 100000
Dec 07 17:21:23 ubuntu etcd[57727]: advertise client URLs = http://10.201.4.32:2379
Dec 07 17:21:23 ubuntu etcd[57727]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 07 17:21:23 ubuntu etcd[57727]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 07 17:21:23 ubuntu etcd[57727]: raft2023/12/07 17:21:23 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 07 17:21:23 ubuntu etcd[57727]: raft2023/12/07 17:21:23 INFO: 33238c1cdfea94eb became follower at term 0
Dec 07 17:21:23 ubuntu etcd[57727]: raft2023/12/07 17:21:23 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 07 17:21:23 ubuntu etcd[57727]: raft2023/12/07 17:21:23 INFO: 33238c1cdfea94eb became follower at term 1
Dec 07 17:21:23 ubuntu etcd[57727]: raft2023/12/07 17:21:23 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 07 17:21:23 ubuntu etcd[57727]: simple token is not cryptographically signed
Dec 07 17:21:23 ubuntu etcd[57727]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 07 17:21:23 ubuntu etcd[57727]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 07 17:21:23 ubuntu etcd[57727]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 07 17:21:23 ubuntu etcd[57727]: listening for peers on [::]:2380
Dec 07 17:21:23 ubuntu etcd[57727]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 07 17:21:23 ubuntu etcd[57727]: raft2023/12/07 17:21:23 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 07 17:21:23 ubuntu etcd[57727]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 07 17:21:23 ubuntu etcd[57727]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 07 17:21:23 ubuntu etcd[57727]: raft2023/12/07 17:21:23 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 07 17:21:23 ubuntu etcd[57727]: raft2023/12/07 17:21:23 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 07 17:21:23 ubuntu etcd[57727]: raft2023/12/07 17:21:23 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 07 17:21:23 ubuntu etcd[57727]: raft2023/12/07 17:21:23 INFO: 33238c1cdfea94eb became leader at term 2
Dec 07 17:21:23 ubuntu etcd[57727]: raft2023/12/07 17:21:23 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 07 17:21:23 ubuntu etcd[57727]: INFO: 2023/12/07 17:21:23 parsed scheme: ""
Dec 07 17:21:23 ubuntu etcd[57727]: INFO: 2023/12/07 17:21:23 scheme "" not registered, fallback to default scheme
Dec 07 17:21:23 ubuntu etcd[57727]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 07 17:21:23 ubuntu etcd[57727]: INFO: 2023/12/07 17:21:23 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Dec 07 17:21:23 ubuntu etcd[57727]: INFO: 2023/12/07 17:21:23 ClientConn switching balancer to "pick_first"
Dec 07 17:21:23 ubuntu etcd[57727]: ready to serve client requests
Dec 07 17:21:23 ubuntu etcd[57727]: setting up the initial cluster version to 3.4
Dec 07 17:21:23 ubuntu etcd[57727]: set the initial cluster version to 3.4
Dec 07 17:21:23 ubuntu etcd[57727]: enabled capabilities for version 3.4
Dec 07 17:21:23 ubuntu etcd[57727]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 07 17:21:23 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 07 17:25:41 ubuntu etcd[57727]: start time = 2023-12-07 17:25:41.942160364 +0000 UTC m=+258.915878695, time spent = 360.477µs, remote = 10.201.4.32:34386, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 17:25:41 ubuntu etcd[57727]: start time = 2023-12-07 17:25:41.941951701 +0000 UTC m=+258.915670023, time spent = 691.145µs, remote = 10.201.4.32:34386, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 17:25:48 ubuntu etcd[57727]: start time = 2023-12-07 17:25:48.014891623 +0000 UTC m=+264.988609943, time spent = 156.342µs, remote = 10.201.4.32:34386, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 17:25:50 ubuntu etcd[57727]: start time = 2023-12-07 17:25:50.190609388 +0000 UTC m=+267.164327720, time spent = 415.298µs, remote = 10.201.4.32:34386, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
