Feb 26 14:47:40 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 26 14:47:40 ubuntu etcd[59674]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 26 14:47:40 ubuntu etcd[59674]:         A future release of golang/protobuf will delete this package,
Feb 26 14:47:40 ubuntu etcd[59674]:         which has long been excluded from the compatibility promise.
Feb 26 14:47:40 ubuntu etcd[59674]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 26 14:47:40 ubuntu etcd[59674]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 26 14:47:40 ubuntu etcd[59674]: Running http and grpc server on single port. This is not recommended for production.
Feb 26 14:47:40 ubuntu etcd[59674]: etcd Version: 3.4.27
Feb 26 14:47:40 ubuntu etcd[59674]: Git SHA: c92fb80f3
Feb 26 14:47:40 ubuntu etcd[59674]: Go Version: go1.19.10
Feb 26 14:47:40 ubuntu etcd[59674]: Go OS/Arch: linux/amd64
Feb 26 14:47:40 ubuntu etcd[59674]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 26 14:47:40 ubuntu etcd[59674]: Running http and grpc server on single port. This is not recommended for production.
Feb 26 14:47:40 ubuntu etcd[59674]: name = ubuntu
Feb 26 14:47:40 ubuntu etcd[59674]: data dir = /opt/stack/data/etcd
Feb 26 14:47:40 ubuntu etcd[59674]: member dir = /opt/stack/data/etcd/member
Feb 26 14:47:40 ubuntu etcd[59674]: heartbeat = 100ms
Feb 26 14:47:40 ubuntu etcd[59674]: election = 1000ms
Feb 26 14:47:40 ubuntu etcd[59674]: snapshot count = 100000
Feb 26 14:47:40 ubuntu etcd[59674]: advertise client URLs = http://10.201.9.223:2379
Feb 26 14:47:40 ubuntu etcd[59674]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 26 14:47:40 ubuntu etcd[59674]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Feb 26 14:47:40 ubuntu etcd[59674]: raft2025/02/26 14:47:40 INFO: c25b29daa831042c switched to configuration voters=()
Feb 26 14:47:40 ubuntu etcd[59674]: raft2025/02/26 14:47:40 INFO: c25b29daa831042c became follower at term 0
Feb 26 14:47:40 ubuntu etcd[59674]: raft2025/02/26 14:47:40 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 26 14:47:40 ubuntu etcd[59674]: raft2025/02/26 14:47:40 INFO: c25b29daa831042c became follower at term 1
Feb 26 14:47:40 ubuntu etcd[59674]: raft2025/02/26 14:47:40 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 26 14:47:40 ubuntu etcd[59674]: simple token is not cryptographically signed
Feb 26 14:47:40 ubuntu etcd[59674]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 26 14:47:40 ubuntu etcd[59674]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 26 14:47:40 ubuntu etcd[59674]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 26 14:47:40 ubuntu etcd[59674]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 26 14:47:40 ubuntu etcd[59674]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 26 14:47:40 ubuntu etcd[59674]: raft2025/02/26 14:47:40 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 26 14:47:40 ubuntu etcd[59674]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Feb 26 14:47:40 ubuntu etcd[59674]: listening for peers on [::]:2380
Feb 26 14:47:40 ubuntu etcd[59674]: raft2025/02/26 14:47:40 INFO: c25b29daa831042c is starting a new election at term 1
Feb 26 14:47:40 ubuntu etcd[59674]: raft2025/02/26 14:47:40 INFO: c25b29daa831042c became candidate at term 2
Feb 26 14:47:40 ubuntu etcd[59674]: raft2025/02/26 14:47:40 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Feb 26 14:47:40 ubuntu etcd[59674]: raft2025/02/26 14:47:40 INFO: c25b29daa831042c became leader at term 2
Feb 26 14:47:40 ubuntu etcd[59674]: raft2025/02/26 14:47:40 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Feb 26 14:47:40 ubuntu etcd[59674]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Feb 26 14:47:40 ubuntu etcd[59674]: setting up the initial cluster version to 3.4
Feb 26 14:47:40 ubuntu etcd[59674]: ready to serve client requests
Feb 26 14:47:40 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 26 14:47:40 ubuntu etcd[59674]: set the initial cluster version to 3.4
Feb 26 14:47:40 ubuntu etcd[59674]: enabled capabilities for version 3.4
Feb 26 14:47:40 ubuntu etcd[59674]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Feb 26 14:51:54 ubuntu etcd[59674]: start time = 2025-02-26 14:51:54.857976375 +0000 UTC m=+254.218502881, time spent = 557.829µs, remote = 10.201.9.223:49240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 26 14:51:54 ubuntu etcd[59674]: start time = 2025-02-26 14:51:54.862641392 +0000 UTC m=+254.223167913, time spent = 205.285µs, remote = 10.201.9.223:49240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 26 14:52:01 ubuntu etcd[59674]: start time = 2025-02-26 14:52:01.369147773 +0000 UTC m=+260.729674295, time spent = 161.846µs, remote = 10.201.9.223:49240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 26 14:52:03 ubuntu etcd[59674]: start time = 2025-02-26 14:52:03.647906448 +0000 UTC m=+263.008432967, time spent = 448.27µs, remote = 10.201.9.223:49240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
