Apr 23 00:10:21 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 23 00:10:21 ubuntu etcd[57990]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 23 00:10:21 ubuntu etcd[57990]:         A future release of golang/protobuf will delete this package,
Apr 23 00:10:21 ubuntu etcd[57990]:         which has long been excluded from the compatibility promise.
Apr 23 00:10:21 ubuntu etcd[57990]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 23 00:10:21 ubuntu etcd[57990]: Running http and grpc server on single port. This is not recommended for production.
Apr 23 00:10:21 ubuntu etcd[57990]: etcd Version: 3.4.27
Apr 23 00:10:21 ubuntu etcd[57990]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 23 00:10:21 ubuntu etcd[57990]: Git SHA: c92fb80f3
Apr 23 00:10:21 ubuntu etcd[57990]: Go Version: go1.19.10
Apr 23 00:10:21 ubuntu etcd[57990]: Go OS/Arch: linux/amd64
Apr 23 00:10:21 ubuntu etcd[57990]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 23 00:10:21 ubuntu etcd[57990]: Running http and grpc server on single port. This is not recommended for production.
Apr 23 00:10:21 ubuntu etcd[57990]: name = ubuntu
Apr 23 00:10:21 ubuntu etcd[57990]: data dir = /opt/stack/data/etcd
Apr 23 00:10:21 ubuntu etcd[57990]: member dir = /opt/stack/data/etcd/member
Apr 23 00:10:21 ubuntu etcd[57990]: heartbeat = 100ms
Apr 23 00:10:21 ubuntu etcd[57990]: election = 1000ms
Apr 23 00:10:21 ubuntu etcd[57990]: snapshot count = 100000
Apr 23 00:10:21 ubuntu etcd[57990]: advertise client URLs = http://10.201.9.223:2379
Apr 23 00:10:21 ubuntu etcd[57990]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 23 00:10:21 ubuntu etcd[57990]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 23 00:10:21 ubuntu etcd[57990]: raft2025/04/23 00:10:21 INFO: c25b29daa831042c switched to configuration voters=()
Apr 23 00:10:21 ubuntu etcd[57990]: raft2025/04/23 00:10:21 INFO: c25b29daa831042c became follower at term 0
Apr 23 00:10:21 ubuntu etcd[57990]: raft2025/04/23 00:10:21 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 23 00:10:21 ubuntu etcd[57990]: raft2025/04/23 00:10:21 INFO: c25b29daa831042c became follower at term 1
Apr 23 00:10:21 ubuntu etcd[57990]: raft2025/04/23 00:10:21 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 23 00:10:21 ubuntu etcd[57990]: simple token is not cryptographically signed
Apr 23 00:10:21 ubuntu etcd[57990]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 23 00:10:21 ubuntu etcd[57990]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 23 00:10:21 ubuntu etcd[57990]: raft2025/04/23 00:10:21 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 23 00:10:21 ubuntu etcd[57990]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 23 00:10:21 ubuntu etcd[57990]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 23 00:10:21 ubuntu etcd[57990]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 23 00:10:21 ubuntu etcd[57990]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 23 00:10:21 ubuntu etcd[57990]: listening for peers on [::]:2380
Apr 23 00:10:22 ubuntu etcd[57990]: raft2025/04/23 00:10:22 INFO: c25b29daa831042c is starting a new election at term 1
Apr 23 00:10:22 ubuntu etcd[57990]: raft2025/04/23 00:10:22 INFO: c25b29daa831042c became candidate at term 2
Apr 23 00:10:22 ubuntu etcd[57990]: raft2025/04/23 00:10:22 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 23 00:10:22 ubuntu etcd[57990]: raft2025/04/23 00:10:22 INFO: c25b29daa831042c became leader at term 2
Apr 23 00:10:22 ubuntu etcd[57990]: raft2025/04/23 00:10:22 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 23 00:10:22 ubuntu etcd[57990]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 23 00:10:22 ubuntu etcd[57990]: ready to serve client requests
Apr 23 00:10:22 ubuntu etcd[57990]: setting up the initial cluster version to 3.4
Apr 23 00:10:22 ubuntu etcd[57990]: set the initial cluster version to 3.4
Apr 23 00:10:22 ubuntu etcd[57990]: enabled capabilities for version 3.4
Apr 23 00:10:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 23 00:10:22 ubuntu etcd[57990]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 23 00:14:32 ubuntu etcd[57990]: start time = 2025-04-23 00:14:32.305029082 +0000 UTC m=+250.861673629, time spent = 427.277µs, remote = 10.201.9.223:41798, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 23 00:14:32 ubuntu etcd[57990]: start time = 2025-04-23 00:14:32.313048047 +0000 UTC m=+250.869692610, time spent = 348.126µs, remote = 10.201.9.223:41798, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 23 00:14:39 ubuntu etcd[57990]: start time = 2025-04-23 00:14:39.01396399 +0000 UTC m=+257.570608554, time spent = 167.417µs, remote = 10.201.9.223:41798, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 23 00:14:41 ubuntu etcd[57990]: start time = 2025-04-23 00:14:41.056365 +0000 UTC m=+259.613009561, time spent = 196.392µs, remote = 10.201.9.223:41798, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
