Jun 04 10:12:03 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 04 10:12:03 ubuntu etcd[57521]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 04 10:12:03 ubuntu etcd[57521]:         A future release of golang/protobuf will delete this package,
Jun 04 10:12:03 ubuntu etcd[57521]:         which has long been excluded from the compatibility promise.
Jun 04 10:12:03 ubuntu etcd[57521]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 04 10:12:03 ubuntu etcd[57521]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 04 10:12:03 ubuntu etcd[57521]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 04 10:12:03 ubuntu etcd[57521]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 04 10:12:03 ubuntu etcd[57521]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 04 10:12:03 ubuntu etcd[57521]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 04 10:12:03 ubuntu etcd[57521]: Running http and grpc server on single port. This is not recommended for production.
Jun 04 10:12:03 ubuntu etcd[57521]: etcd Version: 3.4.27
Jun 04 10:12:03 ubuntu etcd[57521]: Git SHA: c92fb80f3
Jun 04 10:12:03 ubuntu etcd[57521]: Go Version: go1.19.10
Jun 04 10:12:03 ubuntu etcd[57521]: Go OS/Arch: linux/amd64
Jun 04 10:12:03 ubuntu etcd[57521]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 04 10:12:03 ubuntu etcd[57521]: Running http and grpc server on single port. This is not recommended for production.
Jun 04 10:12:03 ubuntu etcd[57521]: name = ubuntu
Jun 04 10:12:03 ubuntu etcd[57521]: data dir = /opt/stack/data/etcd
Jun 04 10:12:03 ubuntu etcd[57521]: member dir = /opt/stack/data/etcd/member
Jun 04 10:12:03 ubuntu etcd[57521]: heartbeat = 100ms
Jun 04 10:12:03 ubuntu etcd[57521]: election = 1000ms
Jun 04 10:12:03 ubuntu etcd[57521]: snapshot count = 100000
Jun 04 10:12:03 ubuntu etcd[57521]: advertise client URLs = http://10.201.4.32:2379
Jun 04 10:12:03 ubuntu etcd[57521]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 04 10:12:03 ubuntu etcd[57521]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jun 04 10:12:03 ubuntu etcd[57521]: raft2024/06/04 10:12:03 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jun 04 10:12:03 ubuntu etcd[57521]: raft2024/06/04 10:12:03 INFO: 33238c1cdfea94eb became follower at term 0
Jun 04 10:12:03 ubuntu etcd[57521]: raft2024/06/04 10:12:03 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 04 10:12:03 ubuntu etcd[57521]: raft2024/06/04 10:12:03 INFO: 33238c1cdfea94eb became follower at term 1
Jun 04 10:12:03 ubuntu etcd[57521]: raft2024/06/04 10:12:03 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 04 10:12:03 ubuntu etcd[57521]: simple token is not cryptographically signed
Jun 04 10:12:03 ubuntu etcd[57521]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 04 10:12:03 ubuntu etcd[57521]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 04 10:12:03 ubuntu etcd[57521]: raft2024/06/04 10:12:03 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 04 10:12:03 ubuntu etcd[57521]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 04 10:12:03 ubuntu etcd[57521]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 04 10:12:03 ubuntu etcd[57521]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 04 10:12:03 ubuntu etcd[57521]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jun 04 10:12:03 ubuntu etcd[57521]: listening for peers on [::]:2380
Jun 04 10:12:04 ubuntu etcd[57521]: raft2024/06/04 10:12:04 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jun 04 10:12:04 ubuntu etcd[57521]: raft2024/06/04 10:12:04 INFO: 33238c1cdfea94eb became candidate at term 2
Jun 04 10:12:04 ubuntu etcd[57521]: raft2024/06/04 10:12:04 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jun 04 10:12:04 ubuntu etcd[57521]: raft2024/06/04 10:12:04 INFO: 33238c1cdfea94eb became leader at term 2
Jun 04 10:12:04 ubuntu etcd[57521]: raft2024/06/04 10:12:04 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jun 04 10:12:04 ubuntu etcd[57521]: INFO: 2024/06/04 10:12:04 parsed scheme: ""
Jun 04 10:12:04 ubuntu etcd[57521]: INFO: 2024/06/04 10:12:04 scheme "" not registered, fallback to default scheme
Jun 04 10:12:04 ubuntu etcd[57521]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jun 04 10:12:04 ubuntu etcd[57521]: INFO: 2024/06/04 10:12:04 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 04 10:12:04 ubuntu etcd[57521]: INFO: 2024/06/04 10:12:04 ClientConn switching balancer to "pick_first"
Jun 04 10:12:04 ubuntu etcd[57521]: setting up the initial cluster version to 3.4
Jun 04 10:12:04 ubuntu etcd[57521]: ready to serve client requests
Jun 04 10:12:04 ubuntu etcd[57521]: set the initial cluster version to 3.4
Jun 04 10:12:04 ubuntu etcd[57521]: enabled capabilities for version 3.4
Jun 04 10:12:04 ubuntu etcd[57521]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jun 04 10:12:04 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 04 10:16:17 ubuntu etcd[57521]: start time = 2024-06-04 10:16:17.371796406 +0000 UTC m=+254.237632282, time spent = 411.609µs, remote = 10.201.4.32:35016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 10:16:17 ubuntu etcd[57521]: start time = 2024-06-04 10:16:17.447300581 +0000 UTC m=+254.313136467, time spent = 326.632µs, remote = 10.201.4.32:35016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 10:16:23 ubuntu etcd[57521]: start time = 2024-06-04 10:16:23.813787877 +0000 UTC m=+260.679623752, time spent = 162.817µs, remote = 10.201.4.32:35016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 10:16:25 ubuntu etcd[57521]: start time = 2024-06-04 10:16:25.78099192 +0000 UTC m=+262.646827807, time spent = 283.065µs, remote = 10.201.4.32:35016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 10:12:03 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 04 10:12:03 ubuntu etcd[57521]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 04 10:12:03 ubuntu etcd[57521]:         A future release of golang/protobuf will delete this package,
Jun 04 10:12:03 ubuntu etcd[57521]:         which has long been excluded from the compatibility promise.
Jun 04 10:12:03 ubuntu etcd[57521]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 04 10:12:03 ubuntu etcd[57521]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 04 10:12:03 ubuntu etcd[57521]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 04 10:12:03 ubuntu etcd[57521]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 04 10:12:03 ubuntu etcd[57521]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 04 10:12:03 ubuntu etcd[57521]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 04 10:12:03 ubuntu etcd[57521]: Running http and grpc server on single port. This is not recommended for production.
Jun 04 10:12:03 ubuntu etcd[57521]: etcd Version: 3.4.27
Jun 04 10:12:03 ubuntu etcd[57521]: Git SHA: c92fb80f3
Jun 04 10:12:03 ubuntu etcd[57521]: Go Version: go1.19.10
Jun 04 10:12:03 ubuntu etcd[57521]: Go OS/Arch: linux/amd64
Jun 04 10:12:03 ubuntu etcd[57521]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 04 10:12:03 ubuntu etcd[57521]: Running http and grpc server on single port. This is not recommended for production.
Jun 04 10:12:03 ubuntu etcd[57521]: name = ubuntu
Jun 04 10:12:03 ubuntu etcd[57521]: data dir = /opt/stack/data/etcd
Jun 04 10:12:03 ubuntu etcd[57521]: member dir = /opt/stack/data/etcd/member
Jun 04 10:12:03 ubuntu etcd[57521]: heartbeat = 100ms
Jun 04 10:12:03 ubuntu etcd[57521]: election = 1000ms
Jun 04 10:12:03 ubuntu etcd[57521]: snapshot count = 100000
Jun 04 10:12:03 ubuntu etcd[57521]: advertise client URLs = http://10.201.4.32:2379
Jun 04 10:12:03 ubuntu etcd[57521]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 04 10:12:03 ubuntu etcd[57521]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jun 04 10:12:03 ubuntu etcd[57521]: raft2024/06/04 10:12:03 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jun 04 10:12:03 ubuntu etcd[57521]: raft2024/06/04 10:12:03 INFO: 33238c1cdfea94eb became follower at term 0
Jun 04 10:12:03 ubuntu etcd[57521]: raft2024/06/04 10:12:03 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 04 10:12:03 ubuntu etcd[57521]: raft2024/06/04 10:12:03 INFO: 33238c1cdfea94eb became follower at term 1
Jun 04 10:12:03 ubuntu etcd[57521]: raft2024/06/04 10:12:03 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 04 10:12:03 ubuntu etcd[57521]: simple token is not cryptographically signed
Jun 04 10:12:03 ubuntu etcd[57521]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 04 10:12:03 ubuntu etcd[57521]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 04 10:12:03 ubuntu etcd[57521]: raft2024/06/04 10:12:03 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 04 10:12:03 ubuntu etcd[57521]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 04 10:12:03 ubuntu etcd[57521]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 04 10:12:03 ubuntu etcd[57521]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 04 10:12:03 ubuntu etcd[57521]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jun 04 10:12:03 ubuntu etcd[57521]: listening for peers on [::]:2380
Jun 04 10:12:04 ubuntu etcd[57521]: raft2024/06/04 10:12:04 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jun 04 10:12:04 ubuntu etcd[57521]: raft2024/06/04 10:12:04 INFO: 33238c1cdfea94eb became candidate at term 2
Jun 04 10:12:04 ubuntu etcd[57521]: raft2024/06/04 10:12:04 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jun 04 10:12:04 ubuntu etcd[57521]: raft2024/06/04 10:12:04 INFO: 33238c1cdfea94eb became leader at term 2
Jun 04 10:12:04 ubuntu etcd[57521]: raft2024/06/04 10:12:04 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jun 04 10:12:04 ubuntu etcd[57521]: INFO: 2024/06/04 10:12:04 parsed scheme: ""
Jun 04 10:12:04 ubuntu etcd[57521]: INFO: 2024/06/04 10:12:04 scheme "" not registered, fallback to default scheme
Jun 04 10:12:04 ubuntu etcd[57521]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jun 04 10:12:04 ubuntu etcd[57521]: INFO: 2024/06/04 10:12:04 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 04 10:12:04 ubuntu etcd[57521]: INFO: 2024/06/04 10:12:04 ClientConn switching balancer to "pick_first"
Jun 04 10:12:04 ubuntu etcd[57521]: setting up the initial cluster version to 3.4
Jun 04 10:12:04 ubuntu etcd[57521]: ready to serve client requests
Jun 04 10:12:04 ubuntu etcd[57521]: set the initial cluster version to 3.4
Jun 04 10:12:04 ubuntu etcd[57521]: enabled capabilities for version 3.4
Jun 04 10:12:04 ubuntu etcd[57521]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jun 04 10:12:04 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 04 10:16:17 ubuntu etcd[57521]: start time = 2024-06-04 10:16:17.371796406 +0000 UTC m=+254.237632282, time spent = 411.609µs, remote = 10.201.4.32:35016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 10:16:17 ubuntu etcd[57521]: start time = 2024-06-04 10:16:17.447300581 +0000 UTC m=+254.313136467, time spent = 326.632µs, remote = 10.201.4.32:35016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 10:16:23 ubuntu etcd[57521]: start time = 2024-06-04 10:16:23.813787877 +0000 UTC m=+260.679623752, time spent = 162.817µs, remote = 10.201.4.32:35016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 10:16:25 ubuntu etcd[57521]: start time = 2024-06-04 10:16:25.78099192 +0000 UTC m=+262.646827807, time spent = 283.065µs, remote = 10.201.4.32:35016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
