Jun 09 04:15:17 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 09 04:15:17 ubuntu etcd[58964]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 09 04:15:17 ubuntu etcd[58964]:         A future release of golang/protobuf will delete this package,
Jun 09 04:15:17 ubuntu etcd[58964]:         which has long been excluded from the compatibility promise.
Jun 09 04:15:17 ubuntu etcd[58964]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 04:15:17 ubuntu etcd[58964]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 04:15:17 ubuntu etcd[58964]: etcd Version: 3.4.27
Jun 09 04:15:17 ubuntu etcd[58964]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 04:15:17 ubuntu etcd[58964]: Git SHA: c92fb80f3
Jun 09 04:15:17 ubuntu etcd[58964]: Go Version: go1.19.10
Jun 09 04:15:17 ubuntu etcd[58964]: Go OS/Arch: linux/amd64
Jun 09 04:15:17 ubuntu etcd[58964]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 09 04:15:17 ubuntu etcd[58964]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 04:15:17 ubuntu etcd[58964]: name = ubuntu
Jun 09 04:15:17 ubuntu etcd[58964]: data dir = /opt/stack/data/etcd
Jun 09 04:15:17 ubuntu etcd[58964]: member dir = /opt/stack/data/etcd/member
Jun 09 04:15:17 ubuntu etcd[58964]: heartbeat = 100ms
Jun 09 04:15:17 ubuntu etcd[58964]: election = 1000ms
Jun 09 04:15:17 ubuntu etcd[58964]: snapshot count = 100000
Jun 09 04:15:17 ubuntu etcd[58964]: advertise client URLs = http://10.201.9.223:2379
Jun 09 04:15:17 ubuntu etcd[58964]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 09 04:15:17 ubuntu etcd[58964]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 09 04:15:17 ubuntu etcd[58964]: raft2025/06/09 04:15:17 INFO: c25b29daa831042c switched to configuration voters=()
Jun 09 04:15:17 ubuntu etcd[58964]: raft2025/06/09 04:15:17 INFO: c25b29daa831042c became follower at term 0
Jun 09 04:15:17 ubuntu etcd[58964]: raft2025/06/09 04:15:17 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 09 04:15:17 ubuntu etcd[58964]: raft2025/06/09 04:15:17 INFO: c25b29daa831042c became follower at term 1
Jun 09 04:15:17 ubuntu etcd[58964]: raft2025/06/09 04:15:17 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 09 04:15:17 ubuntu etcd[58964]: simple token is not cryptographically signed
Jun 09 04:15:17 ubuntu etcd[58964]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 09 04:15:17 ubuntu etcd[58964]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 09 04:15:17 ubuntu etcd[58964]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 09 04:15:17 ubuntu etcd[58964]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 09 04:15:17 ubuntu etcd[58964]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 09 04:15:17 ubuntu etcd[58964]: raft2025/06/09 04:15:17 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 09 04:15:17 ubuntu etcd[58964]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 09 04:15:17 ubuntu etcd[58964]: listening for peers on [::]:2380
Jun 09 04:15:18 ubuntu etcd[58964]: raft2025/06/09 04:15:18 INFO: c25b29daa831042c is starting a new election at term 1
Jun 09 04:15:18 ubuntu etcd[58964]: raft2025/06/09 04:15:18 INFO: c25b29daa831042c became candidate at term 2
Jun 09 04:15:18 ubuntu etcd[58964]: raft2025/06/09 04:15:18 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 09 04:15:18 ubuntu etcd[58964]: raft2025/06/09 04:15:18 INFO: c25b29daa831042c became leader at term 2
Jun 09 04:15:18 ubuntu etcd[58964]: raft2025/06/09 04:15:18 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 09 04:15:18 ubuntu etcd[58964]: setting up the initial cluster version to 3.4
Jun 09 04:15:18 ubuntu etcd[58964]: set the initial cluster version to 3.4
Jun 09 04:15:18 ubuntu etcd[58964]: ready to serve client requests
Jun 09 04:15:18 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 09 04:15:18 ubuntu etcd[58964]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 09 04:15:18 ubuntu etcd[58964]: enabled capabilities for version 3.4
Jun 09 04:15:18 ubuntu etcd[58964]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 09 04:19:26 ubuntu etcd[58964]: start time = 2025-06-09 04:19:26.183400249 +0000 UTC m=+248.310536386, time spent = 384.074µs, remote = 10.201.9.223:58858, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:19:26 ubuntu etcd[58964]: start time = 2025-06-09 04:19:26.297494856 +0000 UTC m=+248.424631010, time spent = 169.031µs, remote = 10.201.9.223:58858, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:19:32 ubuntu etcd[58964]: start time = 2025-06-09 04:19:32.808545722 +0000 UTC m=+254.935681876, time spent = 352.692µs, remote = 10.201.9.223:58858, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:19:35 ubuntu etcd[58964]: start time = 2025-06-09 04:19:35.012880645 +0000 UTC m=+257.140016795, time spent = 195.629µs, remote = 10.201.9.223:58858, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
