Feb 10 12:42:34 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 10 12:42:34 ubuntu etcd[59927]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 10 12:42:34 ubuntu etcd[59927]:         A future release of golang/protobuf will delete this package,
Feb 10 12:42:34 ubuntu etcd[59927]:         which has long been excluded from the compatibility promise.
Feb 10 12:42:34 ubuntu etcd[59927]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 10 12:42:34 ubuntu etcd[59927]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 10 12:42:34 ubuntu etcd[59927]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 10 12:42:34 ubuntu etcd[59927]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 10 12:42:34 ubuntu etcd[59927]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 10 12:42:34 ubuntu etcd[59927]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 10 12:42:34 ubuntu etcd[59927]: Running http and grpc server on single port. This is not recommended for production.
Feb 10 12:42:34 ubuntu etcd[59927]: etcd Version: 3.4.27
Feb 10 12:42:34 ubuntu etcd[59927]: Git SHA: c92fb80f3
Feb 10 12:42:34 ubuntu etcd[59927]: Go Version: go1.19.10
Feb 10 12:42:34 ubuntu etcd[59927]: Go OS/Arch: linux/amd64
Feb 10 12:42:34 ubuntu etcd[59927]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 10 12:42:34 ubuntu etcd[59927]: Running http and grpc server on single port. This is not recommended for production.
Feb 10 12:42:34 ubuntu etcd[59927]: name = ubuntu
Feb 10 12:42:34 ubuntu etcd[59927]: data dir = /opt/stack/data/etcd
Feb 10 12:42:34 ubuntu etcd[59927]: member dir = /opt/stack/data/etcd/member
Feb 10 12:42:34 ubuntu etcd[59927]: heartbeat = 100ms
Feb 10 12:42:34 ubuntu etcd[59927]: election = 1000ms
Feb 10 12:42:34 ubuntu etcd[59927]: snapshot count = 100000
Feb 10 12:42:34 ubuntu etcd[59927]: advertise client URLs = http://10.201.4.32:2379
Feb 10 12:42:34 ubuntu etcd[59927]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 10 12:42:34 ubuntu etcd[59927]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 10 12:42:34 ubuntu etcd[59927]: raft2024/02/10 12:42:34 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 10 12:42:34 ubuntu etcd[59927]: raft2024/02/10 12:42:34 INFO: 33238c1cdfea94eb became follower at term 0
Feb 10 12:42:34 ubuntu etcd[59927]: raft2024/02/10 12:42:34 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 10 12:42:34 ubuntu etcd[59927]: raft2024/02/10 12:42:34 INFO: 33238c1cdfea94eb became follower at term 1
Feb 10 12:42:34 ubuntu etcd[59927]: raft2024/02/10 12:42:34 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 10 12:42:34 ubuntu etcd[59927]: simple token is not cryptographically signed
Feb 10 12:42:34 ubuntu etcd[59927]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 10 12:42:34 ubuntu etcd[59927]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 10 12:42:34 ubuntu etcd[59927]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 10 12:42:34 ubuntu etcd[59927]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 10 12:42:34 ubuntu etcd[59927]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 10 12:42:34 ubuntu etcd[59927]: raft2024/02/10 12:42:34 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 10 12:42:34 ubuntu etcd[59927]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 10 12:42:34 ubuntu etcd[59927]: listening for peers on [::]:2380
Feb 10 12:42:34 ubuntu etcd[59927]: raft2024/02/10 12:42:34 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 10 12:42:34 ubuntu etcd[59927]: raft2024/02/10 12:42:34 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 10 12:42:34 ubuntu etcd[59927]: raft2024/02/10 12:42:34 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 10 12:42:34 ubuntu etcd[59927]: raft2024/02/10 12:42:34 INFO: 33238c1cdfea94eb became leader at term 2
Feb 10 12:42:34 ubuntu etcd[59927]: raft2024/02/10 12:42:34 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 10 12:42:34 ubuntu etcd[59927]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 10 12:42:34 ubuntu etcd[59927]: ready to serve client requests
Feb 10 12:42:34 ubuntu etcd[59927]: INFO: 2024/02/10 12:42:34 parsed scheme: ""
Feb 10 12:42:34 ubuntu etcd[59927]: setting up the initial cluster version to 3.4
Feb 10 12:42:34 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 10 12:42:34 ubuntu etcd[59927]: set the initial cluster version to 3.4
Feb 10 12:42:34 ubuntu etcd[59927]: enabled capabilities for version 3.4
Feb 10 12:42:34 ubuntu etcd[59927]: INFO: 2024/02/10 12:42:34 scheme "" not registered, fallback to default scheme
Feb 10 12:42:34 ubuntu etcd[59927]: INFO: 2024/02/10 12:42:34 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 10 12:42:34 ubuntu etcd[59927]: INFO: 2024/02/10 12:42:34 ClientConn switching balancer to "pick_first"
Feb 10 12:42:34 ubuntu etcd[59927]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 10 12:46:52 ubuntu etcd[59927]: start time = 2024-02-10 12:46:52.715270999 +0000 UTC m=+258.648743464, time spent = 527.828µs, remote = 10.201.4.32:47320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 10 12:46:52 ubuntu etcd[59927]: start time = 2024-02-10 12:46:52.717794195 +0000 UTC m=+258.651266661, time spent = 250.91µs, remote = 10.201.4.32:47320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 10 12:46:59 ubuntu etcd[59927]: start time = 2024-02-10 12:46:59.499823599 +0000 UTC m=+265.433296064, time spent = 156.046µs, remote = 10.201.4.32:47320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 10 12:47:01 ubuntu etcd[59927]: start time = 2024-02-10 12:47:01.998940614 +0000 UTC m=+267.932413079, time spent = 167.806µs, remote = 10.201.4.32:47320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
