Sep 02 09:39:19 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 02 09:39:19 ubuntu etcd[59125]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 02 09:39:19 ubuntu etcd[59125]:         A future release of golang/protobuf will delete this package,
Sep 02 09:39:19 ubuntu etcd[59125]:         which has long been excluded from the compatibility promise.
Sep 02 09:39:19 ubuntu etcd[59125]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 02 09:39:19 ubuntu etcd[59125]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 02 09:39:19 ubuntu etcd[59125]: Running http and grpc server on single port. This is not recommended for production.
Sep 02 09:39:19 ubuntu etcd[59125]: etcd Version: 3.4.27
Sep 02 09:39:19 ubuntu etcd[59125]: Git SHA: c92fb80f3
Sep 02 09:39:19 ubuntu etcd[59125]: Go Version: go1.19.10
Sep 02 09:39:19 ubuntu etcd[59125]: Go OS/Arch: linux/amd64
Sep 02 09:39:19 ubuntu etcd[59125]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 02 09:39:19 ubuntu etcd[59125]: Running http and grpc server on single port. This is not recommended for production.
Sep 02 09:39:19 ubuntu etcd[59125]: name = ubuntu
Sep 02 09:39:19 ubuntu etcd[59125]: data dir = /opt/stack/data/etcd
Sep 02 09:39:19 ubuntu etcd[59125]: member dir = /opt/stack/data/etcd/member
Sep 02 09:39:19 ubuntu etcd[59125]: heartbeat = 100ms
Sep 02 09:39:19 ubuntu etcd[59125]: election = 1000ms
Sep 02 09:39:19 ubuntu etcd[59125]: snapshot count = 100000
Sep 02 09:39:19 ubuntu etcd[59125]: advertise client URLs = http://10.201.4.32:2379
Sep 02 09:39:19 ubuntu etcd[59125]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 02 09:39:19 ubuntu etcd[59125]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 02 09:39:19 ubuntu etcd[59125]: raft2024/09/02 09:39:19 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 02 09:39:19 ubuntu etcd[59125]: raft2024/09/02 09:39:19 INFO: 33238c1cdfea94eb became follower at term 0
Sep 02 09:39:19 ubuntu etcd[59125]: raft2024/09/02 09:39:19 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 02 09:39:19 ubuntu etcd[59125]: raft2024/09/02 09:39:19 INFO: 33238c1cdfea94eb became follower at term 1
Sep 02 09:39:19 ubuntu etcd[59125]: raft2024/09/02 09:39:19 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 02 09:39:19 ubuntu etcd[59125]: simple token is not cryptographically signed
Sep 02 09:39:19 ubuntu etcd[59125]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 02 09:39:19 ubuntu etcd[59125]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 02 09:39:19 ubuntu etcd[59125]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 02 09:39:19 ubuntu etcd[59125]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 02 09:39:19 ubuntu etcd[59125]: raft2024/09/02 09:39:19 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 02 09:39:19 ubuntu etcd[59125]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 02 09:39:19 ubuntu etcd[59125]: listening for peers on [::]:2380
Sep 02 09:39:19 ubuntu etcd[59125]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 02 09:39:19 ubuntu etcd[59125]: raft2024/09/02 09:39:19 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 02 09:39:19 ubuntu etcd[59125]: raft2024/09/02 09:39:19 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 02 09:39:19 ubuntu etcd[59125]: raft2024/09/02 09:39:19 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 02 09:39:19 ubuntu etcd[59125]: raft2024/09/02 09:39:19 INFO: 33238c1cdfea94eb became leader at term 2
Sep 02 09:39:19 ubuntu etcd[59125]: raft2024/09/02 09:39:19 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 02 09:39:19 ubuntu etcd[59125]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 02 09:39:19 ubuntu etcd[59125]: ready to serve client requests
Sep 02 09:39:19 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 02 09:39:19 ubuntu etcd[59125]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 02 09:39:19 ubuntu etcd[59125]: setting up the initial cluster version to 3.4
Sep 02 09:39:19 ubuntu etcd[59125]: set the initial cluster version to 3.4
Sep 02 09:39:19 ubuntu etcd[59125]: enabled capabilities for version 3.4
Sep 02 09:43:38 ubuntu etcd[59125]: start time = 2024-09-02 09:43:38.527944687 +0000 UTC m=+259.344383870, time spent = 422.496µs, remote = 10.201.4.32:52830, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 02 09:43:38 ubuntu etcd[59125]: start time = 2024-09-02 09:43:38.562249804 +0000 UTC m=+259.378688989, time spent = 203.672µs, remote = 10.201.4.32:52830, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 02 09:43:45 ubuntu etcd[59125]: start time = 2024-09-02 09:43:45.055869127 +0000 UTC m=+265.872308311, time spent = 160.641µs, remote = 10.201.4.32:52830, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 02 09:43:47 ubuntu etcd[59125]: start time = 2024-09-02 09:43:47.435516702 +0000 UTC m=+268.251955885, time spent = 232.949µs, remote = 10.201.4.32:52830, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
