Oct 02 07:04:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 02 07:04:46 ubuntu etcd[59860]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 02 07:04:46 ubuntu etcd[59860]:         A future release of golang/protobuf will delete this package,
Oct 02 07:04:46 ubuntu etcd[59860]:         which has long been excluded from the compatibility promise.
Oct 02 07:04:46 ubuntu etcd[59860]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 02 07:04:46 ubuntu etcd[59860]: Running http and grpc server on single port. This is not recommended for production.
Oct 02 07:04:46 ubuntu etcd[59860]: etcd Version: 3.4.27
Oct 02 07:04:46 ubuntu etcd[59860]: Git SHA: c92fb80f3
Oct 02 07:04:46 ubuntu etcd[59860]: Go Version: go1.19.10
Oct 02 07:04:46 ubuntu etcd[59860]: Go OS/Arch: linux/amd64
Oct 02 07:04:46 ubuntu etcd[59860]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 02 07:04:46 ubuntu etcd[59860]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 02 07:04:46 ubuntu etcd[59860]: Running http and grpc server on single port. This is not recommended for production.
Oct 02 07:04:46 ubuntu etcd[59860]: name = ubuntu
Oct 02 07:04:46 ubuntu etcd[59860]: data dir = /opt/stack/data/etcd
Oct 02 07:04:46 ubuntu etcd[59860]: member dir = /opt/stack/data/etcd/member
Oct 02 07:04:46 ubuntu etcd[59860]: heartbeat = 100ms
Oct 02 07:04:46 ubuntu etcd[59860]: election = 1000ms
Oct 02 07:04:46 ubuntu etcd[59860]: snapshot count = 100000
Oct 02 07:04:46 ubuntu etcd[59860]: advertise client URLs = http://10.201.4.32:2379
Oct 02 07:04:46 ubuntu etcd[59860]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 02 07:04:46 ubuntu etcd[59860]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 02 07:04:46 ubuntu etcd[59860]: raft2024/10/02 07:04:46 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 02 07:04:46 ubuntu etcd[59860]: raft2024/10/02 07:04:46 INFO: 33238c1cdfea94eb became follower at term 0
Oct 02 07:04:46 ubuntu etcd[59860]: raft2024/10/02 07:04:46 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 02 07:04:46 ubuntu etcd[59860]: raft2024/10/02 07:04:46 INFO: 33238c1cdfea94eb became follower at term 1
Oct 02 07:04:46 ubuntu etcd[59860]: raft2024/10/02 07:04:46 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 02 07:04:46 ubuntu etcd[59860]: simple token is not cryptographically signed
Oct 02 07:04:46 ubuntu etcd[59860]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 02 07:04:46 ubuntu etcd[59860]: raft2024/10/02 07:04:46 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 02 07:04:46 ubuntu etcd[59860]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 02 07:04:46 ubuntu etcd[59860]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 02 07:04:46 ubuntu etcd[59860]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 02 07:04:46 ubuntu etcd[59860]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 02 07:04:46 ubuntu etcd[59860]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 02 07:04:46 ubuntu etcd[59860]: listening for peers on [::]:2380
Oct 02 07:04:46 ubuntu etcd[59860]: raft2024/10/02 07:04:46 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 02 07:04:46 ubuntu etcd[59860]: raft2024/10/02 07:04:46 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 02 07:04:46 ubuntu etcd[59860]: raft2024/10/02 07:04:46 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 02 07:04:46 ubuntu etcd[59860]: raft2024/10/02 07:04:46 INFO: 33238c1cdfea94eb became leader at term 2
Oct 02 07:04:46 ubuntu etcd[59860]: raft2024/10/02 07:04:46 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 02 07:04:46 ubuntu etcd[59860]: setting up the initial cluster version to 3.4
Oct 02 07:04:46 ubuntu etcd[59860]: set the initial cluster version to 3.4
Oct 02 07:04:46 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 02 07:04:46 ubuntu etcd[59860]: enabled capabilities for version 3.4
Oct 02 07:04:46 ubuntu etcd[59860]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 02 07:04:46 ubuntu etcd[59860]: ready to serve client requests
Oct 02 07:04:46 ubuntu etcd[59860]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 02 07:09:17 ubuntu etcd[59860]: start time = 2024-10-02 07:09:17.410594535 +0000 UTC m=+271.051756399, time spent = 563.167µs, remote = 10.201.4.32:35940, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 02 07:09:17 ubuntu etcd[59860]: start time = 2024-10-02 07:09:17.562346143 +0000 UTC m=+271.203508023, time spent = 216.046µs, remote = 10.201.4.32:35940, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 02 07:09:23 ubuntu etcd[59860]: start time = 2024-10-02 07:09:23.953375575 +0000 UTC m=+277.594537461, time spent = 334.158µs, remote = 10.201.4.32:35940, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 02 07:09:26 ubuntu etcd[59860]: start time = 2024-10-02 07:09:26.286720098 +0000 UTC m=+279.927881976, time spent = 201.947µs, remote = 10.201.4.32:35940, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
