Jul 26 12:18:18 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 26 12:18:18 ubuntu etcd[59667]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 26 12:18:18 ubuntu etcd[59667]:         A future release of golang/protobuf will delete this package,
Jul 26 12:18:18 ubuntu etcd[59667]:         which has long been excluded from the compatibility promise.
Jul 26 12:18:18 ubuntu etcd[59667]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 26 12:18:18 ubuntu etcd[59667]: Running http and grpc server on single port. This is not recommended for production.
Jul 26 12:18:18 ubuntu etcd[59667]: etcd Version: 3.4.27
Jul 26 12:18:18 ubuntu etcd[59667]: Git SHA: c92fb80f3
Jul 26 12:18:18 ubuntu etcd[59667]: Go Version: go1.19.10
Jul 26 12:18:18 ubuntu etcd[59667]: Go OS/Arch: linux/amd64
Jul 26 12:18:18 ubuntu etcd[59667]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 26 12:18:18 ubuntu etcd[59667]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 26 12:18:18 ubuntu etcd[59667]: Running http and grpc server on single port. This is not recommended for production.
Jul 26 12:18:18 ubuntu etcd[59667]: name = ubuntu
Jul 26 12:18:18 ubuntu etcd[59667]: data dir = /opt/stack/data/etcd
Jul 26 12:18:18 ubuntu etcd[59667]: member dir = /opt/stack/data/etcd/member
Jul 26 12:18:18 ubuntu etcd[59667]: heartbeat = 100ms
Jul 26 12:18:18 ubuntu etcd[59667]: election = 1000ms
Jul 26 12:18:18 ubuntu etcd[59667]: snapshot count = 100000
Jul 26 12:18:18 ubuntu etcd[59667]: advertise client URLs = http://10.201.9.223:2379
Jul 26 12:18:18 ubuntu etcd[59667]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 26 12:18:18 ubuntu etcd[59667]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 26 12:18:18 ubuntu etcd[59667]: raft2025/07/26 12:18:18 INFO: c25b29daa831042c switched to configuration voters=()
Jul 26 12:18:18 ubuntu etcd[59667]: raft2025/07/26 12:18:18 INFO: c25b29daa831042c became follower at term 0
Jul 26 12:18:18 ubuntu etcd[59667]: raft2025/07/26 12:18:18 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 26 12:18:18 ubuntu etcd[59667]: raft2025/07/26 12:18:18 INFO: c25b29daa831042c became follower at term 1
Jul 26 12:18:18 ubuntu etcd[59667]: raft2025/07/26 12:18:18 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 26 12:18:18 ubuntu etcd[59667]: simple token is not cryptographically signed
Jul 26 12:18:18 ubuntu etcd[59667]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 26 12:18:18 ubuntu etcd[59667]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 26 12:18:18 ubuntu etcd[59667]: raft2025/07/26 12:18:18 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 26 12:18:18 ubuntu etcd[59667]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 26 12:18:18 ubuntu etcd[59667]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 26 12:18:18 ubuntu etcd[59667]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 26 12:18:18 ubuntu etcd[59667]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 26 12:18:18 ubuntu etcd[59667]: listening for peers on [::]:2380
Jul 26 12:18:19 ubuntu etcd[59667]: raft2025/07/26 12:18:19 INFO: c25b29daa831042c is starting a new election at term 1
Jul 26 12:18:19 ubuntu etcd[59667]: raft2025/07/26 12:18:19 INFO: c25b29daa831042c became candidate at term 2
Jul 26 12:18:19 ubuntu etcd[59667]: raft2025/07/26 12:18:19 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 26 12:18:19 ubuntu etcd[59667]: raft2025/07/26 12:18:19 INFO: c25b29daa831042c became leader at term 2
Jul 26 12:18:19 ubuntu etcd[59667]: raft2025/07/26 12:18:19 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 26 12:18:19 ubuntu etcd[59667]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 26 12:18:19 ubuntu etcd[59667]: ready to serve client requests
Jul 26 12:18:19 ubuntu etcd[59667]: setting up the initial cluster version to 3.4
Jul 26 12:18:19 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 26 12:18:19 ubuntu etcd[59667]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 26 12:18:19 ubuntu etcd[59667]: set the initial cluster version to 3.4
Jul 26 12:18:19 ubuntu etcd[59667]: enabled capabilities for version 3.4
Jul 26 12:22:28 ubuntu etcd[59667]: start time = 2025-07-26 12:22:28.487222428 +0000 UTC m=+249.777672166, time spent = 1.355244ms, remote = 10.201.9.223:59990, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 26 12:22:28 ubuntu etcd[59667]: start time = 2025-07-26 12:22:28.496067251 +0000 UTC m=+249.786517002, time spent = 224.53µs, remote = 10.201.9.223:59990, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 26 12:22:35 ubuntu etcd[59667]: start time = 2025-07-26 12:22:35.21529087 +0000 UTC m=+256.505740623, time spent = 183.741µs, remote = 10.201.9.223:59990, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 26 12:22:37 ubuntu etcd[59667]: start time = 2025-07-26 12:22:37.345338859 +0000 UTC m=+258.635788610, time spent = 403.6µs, remote = 10.201.9.223:59990, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 26 12:18:18 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 26 12:18:18 ubuntu etcd[59667]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 26 12:18:18 ubuntu etcd[59667]:         A future release of golang/protobuf will delete this package,
Jul 26 12:18:18 ubuntu etcd[59667]:         which has long been excluded from the compatibility promise.
Jul 26 12:18:18 ubuntu etcd[59667]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 26 12:18:18 ubuntu etcd[59667]: Running http and grpc server on single port. This is not recommended for production.
Jul 26 12:18:18 ubuntu etcd[59667]: etcd Version: 3.4.27
Jul 26 12:18:18 ubuntu etcd[59667]: Git SHA: c92fb80f3
Jul 26 12:18:18 ubuntu etcd[59667]: Go Version: go1.19.10
Jul 26 12:18:18 ubuntu etcd[59667]: Go OS/Arch: linux/amd64
Jul 26 12:18:18 ubuntu etcd[59667]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 26 12:18:18 ubuntu etcd[59667]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 26 12:18:18 ubuntu etcd[59667]: Running http and grpc server on single port. This is not recommended for production.
Jul 26 12:18:18 ubuntu etcd[59667]: name = ubuntu
Jul 26 12:18:18 ubuntu etcd[59667]: data dir = /opt/stack/data/etcd
Jul 26 12:18:18 ubuntu etcd[59667]: member dir = /opt/stack/data/etcd/member
Jul 26 12:18:18 ubuntu etcd[59667]: heartbeat = 100ms
Jul 26 12:18:18 ubuntu etcd[59667]: election = 1000ms
Jul 26 12:18:18 ubuntu etcd[59667]: snapshot count = 100000
Jul 26 12:18:18 ubuntu etcd[59667]: advertise client URLs = http://10.201.9.223:2379
Jul 26 12:18:18 ubuntu etcd[59667]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 26 12:18:18 ubuntu etcd[59667]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 26 12:18:18 ubuntu etcd[59667]: raft2025/07/26 12:18:18 INFO: c25b29daa831042c switched to configuration voters=()
Jul 26 12:18:18 ubuntu etcd[59667]: raft2025/07/26 12:18:18 INFO: c25b29daa831042c became follower at term 0
Jul 26 12:18:18 ubuntu etcd[59667]: raft2025/07/26 12:18:18 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 26 12:18:18 ubuntu etcd[59667]: raft2025/07/26 12:18:18 INFO: c25b29daa831042c became follower at term 1
Jul 26 12:18:18 ubuntu etcd[59667]: raft2025/07/26 12:18:18 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 26 12:18:18 ubuntu etcd[59667]: simple token is not cryptographically signed
Jul 26 12:18:18 ubuntu etcd[59667]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 26 12:18:18 ubuntu etcd[59667]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 26 12:18:18 ubuntu etcd[59667]: raft2025/07/26 12:18:18 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 26 12:18:18 ubuntu etcd[59667]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 26 12:18:18 ubuntu etcd[59667]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 26 12:18:18 ubuntu etcd[59667]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 26 12:18:18 ubuntu etcd[59667]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 26 12:18:18 ubuntu etcd[59667]: listening for peers on [::]:2380
Jul 26 12:18:19 ubuntu etcd[59667]: raft2025/07/26 12:18:19 INFO: c25b29daa831042c is starting a new election at term 1
Jul 26 12:18:19 ubuntu etcd[59667]: raft2025/07/26 12:18:19 INFO: c25b29daa831042c became candidate at term 2
Jul 26 12:18:19 ubuntu etcd[59667]: raft2025/07/26 12:18:19 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 26 12:18:19 ubuntu etcd[59667]: raft2025/07/26 12:18:19 INFO: c25b29daa831042c became leader at term 2
Jul 26 12:18:19 ubuntu etcd[59667]: raft2025/07/26 12:18:19 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 26 12:18:19 ubuntu etcd[59667]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 26 12:18:19 ubuntu etcd[59667]: ready to serve client requests
Jul 26 12:18:19 ubuntu etcd[59667]: setting up the initial cluster version to 3.4
Jul 26 12:18:19 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 26 12:18:19 ubuntu etcd[59667]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 26 12:18:19 ubuntu etcd[59667]: set the initial cluster version to 3.4
Jul 26 12:18:19 ubuntu etcd[59667]: enabled capabilities for version 3.4
Jul 26 12:22:28 ubuntu etcd[59667]: start time = 2025-07-26 12:22:28.487222428 +0000 UTC m=+249.777672166, time spent = 1.355244ms, remote = 10.201.9.223:59990, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 26 12:22:28 ubuntu etcd[59667]: start time = 2025-07-26 12:22:28.496067251 +0000 UTC m=+249.786517002, time spent = 224.53µs, remote = 10.201.9.223:59990, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 26 12:22:35 ubuntu etcd[59667]: start time = 2025-07-26 12:22:35.21529087 +0000 UTC m=+256.505740623, time spent = 183.741µs, remote = 10.201.9.223:59990, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 26 12:22:37 ubuntu etcd[59667]: start time = 2025-07-26 12:22:37.345338859 +0000 UTC m=+258.635788610, time spent = 403.6µs, remote = 10.201.9.223:59990, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
