Feb 22 09:55:10 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 22 09:55:10 ubuntu etcd[60371]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 22 09:55:10 ubuntu etcd[60371]:         A future release of golang/protobuf will delete this package,
Feb 22 09:55:10 ubuntu etcd[60371]:         which has long been excluded from the compatibility promise.
Feb 22 09:55:10 ubuntu etcd[60371]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 22 09:55:10 ubuntu etcd[60371]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 22 09:55:10 ubuntu etcd[60371]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 22 09:55:10 ubuntu etcd[60371]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 22 09:55:10 ubuntu etcd[60371]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 22 09:55:10 ubuntu etcd[60371]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 22 09:55:10 ubuntu etcd[60371]: Running http and grpc server on single port. This is not recommended for production.
Feb 22 09:55:10 ubuntu etcd[60371]: etcd Version: 3.4.27
Feb 22 09:55:10 ubuntu etcd[60371]: Git SHA: c92fb80f3
Feb 22 09:55:10 ubuntu etcd[60371]: Go Version: go1.19.10
Feb 22 09:55:10 ubuntu etcd[60371]: Go OS/Arch: linux/amd64
Feb 22 09:55:10 ubuntu etcd[60371]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 22 09:55:10 ubuntu etcd[60371]: Running http and grpc server on single port. This is not recommended for production.
Feb 22 09:55:10 ubuntu etcd[60371]: name = ubuntu
Feb 22 09:55:10 ubuntu etcd[60371]: data dir = /opt/stack/data/etcd
Feb 22 09:55:10 ubuntu etcd[60371]: member dir = /opt/stack/data/etcd/member
Feb 22 09:55:10 ubuntu etcd[60371]: heartbeat = 100ms
Feb 22 09:55:10 ubuntu etcd[60371]: election = 1000ms
Feb 22 09:55:10 ubuntu etcd[60371]: snapshot count = 100000
Feb 22 09:55:10 ubuntu etcd[60371]: advertise client URLs = http://10.201.4.32:2379
Feb 22 09:55:10 ubuntu etcd[60371]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 22 09:55:10 ubuntu etcd[60371]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 22 09:55:10 ubuntu etcd[60371]: raft2024/02/22 09:55:10 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 22 09:55:10 ubuntu etcd[60371]: raft2024/02/22 09:55:10 INFO: 33238c1cdfea94eb became follower at term 0
Feb 22 09:55:10 ubuntu etcd[60371]: raft2024/02/22 09:55:10 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 22 09:55:10 ubuntu etcd[60371]: raft2024/02/22 09:55:10 INFO: 33238c1cdfea94eb became follower at term 1
Feb 22 09:55:10 ubuntu etcd[60371]: raft2024/02/22 09:55:10 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 22 09:55:10 ubuntu etcd[60371]: simple token is not cryptographically signed
Feb 22 09:55:10 ubuntu etcd[60371]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 22 09:55:10 ubuntu etcd[60371]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 22 09:55:10 ubuntu etcd[60371]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 22 09:55:10 ubuntu etcd[60371]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 22 09:55:10 ubuntu etcd[60371]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 22 09:55:10 ubuntu etcd[60371]: raft2024/02/22 09:55:10 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 22 09:55:10 ubuntu etcd[60371]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 22 09:55:10 ubuntu etcd[60371]: listening for peers on [::]:2380
Feb 22 09:55:10 ubuntu etcd[60371]: raft2024/02/22 09:55:10 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 22 09:55:10 ubuntu etcd[60371]: raft2024/02/22 09:55:10 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 22 09:55:10 ubuntu etcd[60371]: raft2024/02/22 09:55:10 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 22 09:55:10 ubuntu etcd[60371]: raft2024/02/22 09:55:10 INFO: 33238c1cdfea94eb became leader at term 2
Feb 22 09:55:10 ubuntu etcd[60371]: raft2024/02/22 09:55:10 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 22 09:55:10 ubuntu etcd[60371]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 22 09:55:10 ubuntu etcd[60371]: setting up the initial cluster version to 3.4
Feb 22 09:55:10 ubuntu etcd[60371]: set the initial cluster version to 3.4
Feb 22 09:55:10 ubuntu etcd[60371]: INFO: 2024/02/22 09:55:10 parsed scheme: ""
Feb 22 09:55:10 ubuntu etcd[60371]: INFO: 2024/02/22 09:55:10 scheme "" not registered, fallback to default scheme
Feb 22 09:55:10 ubuntu etcd[60371]: INFO: 2024/02/22 09:55:10 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 22 09:55:10 ubuntu etcd[60371]: INFO: 2024/02/22 09:55:10 ClientConn switching balancer to "pick_first"
Feb 22 09:55:10 ubuntu etcd[60371]: ready to serve client requests
Feb 22 09:55:10 ubuntu etcd[60371]: enabled capabilities for version 3.4
Feb 22 09:55:10 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 22 09:55:10 ubuntu etcd[60371]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 22 09:59:30 ubuntu etcd[60371]: start time = 2024-02-22 09:59:30.683508013 +0000 UTC m=+260.471604736, time spent = 407.663µs, remote = 10.201.4.32:45552, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 22 09:59:30 ubuntu etcd[60371]: start time = 2024-02-22 09:59:30.745122742 +0000 UTC m=+260.533219475, time spent = 195.038µs, remote = 10.201.4.32:45552, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 22 09:59:37 ubuntu etcd[60371]: start time = 2024-02-22 09:59:37.221416452 +0000 UTC m=+267.009513185, time spent = 159.506µs, remote = 10.201.4.32:45552, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 22 09:59:39 ubuntu etcd[60371]: start time = 2024-02-22 09:59:39.453797217 +0000 UTC m=+269.241893949, time spent = 621.852µs, remote = 10.201.4.32:45552, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
