Jan 27 04:36:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 27 04:36:48 ubuntu etcd[60012]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 27 04:36:48 ubuntu etcd[60012]:         A future release of golang/protobuf will delete this package,
Jan 27 04:36:48 ubuntu etcd[60012]:         which has long been excluded from the compatibility promise.
Jan 27 04:36:48 ubuntu etcd[60012]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 27 04:36:48 ubuntu etcd[60012]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 27 04:36:48 ubuntu etcd[60012]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 27 04:36:48 ubuntu etcd[60012]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 27 04:36:48 ubuntu etcd[60012]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 27 04:36:48 ubuntu etcd[60012]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 27 04:36:48 ubuntu etcd[60012]: Running http and grpc server on single port. This is not recommended for production.
Jan 27 04:36:48 ubuntu etcd[60012]: etcd Version: 3.4.27
Jan 27 04:36:48 ubuntu etcd[60012]: Git SHA: c92fb80f3
Jan 27 04:36:48 ubuntu etcd[60012]: Go Version: go1.19.10
Jan 27 04:36:48 ubuntu etcd[60012]: Go OS/Arch: linux/amd64
Jan 27 04:36:48 ubuntu etcd[60012]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 27 04:36:48 ubuntu etcd[60012]: Running http and grpc server on single port. This is not recommended for production.
Jan 27 04:36:48 ubuntu etcd[60012]: name = ubuntu
Jan 27 04:36:48 ubuntu etcd[60012]: data dir = /opt/stack/data/etcd
Jan 27 04:36:48 ubuntu etcd[60012]: member dir = /opt/stack/data/etcd/member
Jan 27 04:36:48 ubuntu etcd[60012]: heartbeat = 100ms
Jan 27 04:36:48 ubuntu etcd[60012]: election = 1000ms
Jan 27 04:36:48 ubuntu etcd[60012]: snapshot count = 100000
Jan 27 04:36:48 ubuntu etcd[60012]: advertise client URLs = http://10.201.4.32:2379
Jan 27 04:36:48 ubuntu etcd[60012]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 27 04:36:48 ubuntu etcd[60012]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb became follower at term 0
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb became follower at term 1
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 27 04:36:48 ubuntu etcd[60012]: simple token is not cryptographically signed
Jan 27 04:36:48 ubuntu etcd[60012]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 27 04:36:48 ubuntu etcd[60012]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 27 04:36:48 ubuntu etcd[60012]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 27 04:36:48 ubuntu etcd[60012]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 27 04:36:48 ubuntu etcd[60012]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 27 04:36:48 ubuntu etcd[60012]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 27 04:36:48 ubuntu etcd[60012]: listening for peers on [::]:2380
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb became leader at term 2
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 27 04:36:48 ubuntu etcd[60012]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 27 04:36:48 ubuntu etcd[60012]: setting up the initial cluster version to 3.4
Jan 27 04:36:48 ubuntu etcd[60012]: ready to serve client requests
Jan 27 04:36:48 ubuntu etcd[60012]: set the initial cluster version to 3.4
Jan 27 04:36:48 ubuntu etcd[60012]: INFO: 2024/01/27 04:36:48 parsed scheme: ""
Jan 27 04:36:48 ubuntu etcd[60012]: INFO: 2024/01/27 04:36:48 scheme "" not registered, fallback to default scheme
Jan 27 04:36:48 ubuntu etcd[60012]: INFO: 2024/01/27 04:36:48 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 27 04:36:48 ubuntu etcd[60012]: INFO: 2024/01/27 04:36:48 ClientConn switching balancer to "pick_first"
Jan 27 04:36:48 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 27 04:36:48 ubuntu etcd[60012]: enabled capabilities for version 3.4
Jan 27 04:36:48 ubuntu etcd[60012]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 27 04:41:08 ubuntu etcd[60012]: start time = 2024-01-27 04:41:08.02724783 +0000 UTC m=+260.004446165, time spent = 516.465µs, remote = 10.201.4.32:47242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 27 04:41:08 ubuntu etcd[60012]: start time = 2024-01-27 04:41:08.135889534 +0000 UTC m=+260.113087868, time spent = 226.972µs, remote = 10.201.4.32:47242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 27 04:41:14 ubuntu etcd[60012]: start time = 2024-01-27 04:41:14.853488126 +0000 UTC m=+266.830686451, time spent = 189.745µs, remote = 10.201.4.32:47242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 27 04:41:17 ubuntu etcd[60012]: start time = 2024-01-27 04:41:17.396748513 +0000 UTC m=+269.373946838, time spent = 174.392µs, remote = 10.201.4.32:47242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 27 04:36:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 27 04:36:48 ubuntu etcd[60012]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 27 04:36:48 ubuntu etcd[60012]:         A future release of golang/protobuf will delete this package,
Jan 27 04:36:48 ubuntu etcd[60012]:         which has long been excluded from the compatibility promise.
Jan 27 04:36:48 ubuntu etcd[60012]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 27 04:36:48 ubuntu etcd[60012]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 27 04:36:48 ubuntu etcd[60012]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 27 04:36:48 ubuntu etcd[60012]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 27 04:36:48 ubuntu etcd[60012]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 27 04:36:48 ubuntu etcd[60012]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 27 04:36:48 ubuntu etcd[60012]: Running http and grpc server on single port. This is not recommended for production.
Jan 27 04:36:48 ubuntu etcd[60012]: etcd Version: 3.4.27
Jan 27 04:36:48 ubuntu etcd[60012]: Git SHA: c92fb80f3
Jan 27 04:36:48 ubuntu etcd[60012]: Go Version: go1.19.10
Jan 27 04:36:48 ubuntu etcd[60012]: Go OS/Arch: linux/amd64
Jan 27 04:36:48 ubuntu etcd[60012]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 27 04:36:48 ubuntu etcd[60012]: Running http and grpc server on single port. This is not recommended for production.
Jan 27 04:36:48 ubuntu etcd[60012]: name = ubuntu
Jan 27 04:36:48 ubuntu etcd[60012]: data dir = /opt/stack/data/etcd
Jan 27 04:36:48 ubuntu etcd[60012]: member dir = /opt/stack/data/etcd/member
Jan 27 04:36:48 ubuntu etcd[60012]: heartbeat = 100ms
Jan 27 04:36:48 ubuntu etcd[60012]: election = 1000ms
Jan 27 04:36:48 ubuntu etcd[60012]: snapshot count = 100000
Jan 27 04:36:48 ubuntu etcd[60012]: advertise client URLs = http://10.201.4.32:2379
Jan 27 04:36:48 ubuntu etcd[60012]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 27 04:36:48 ubuntu etcd[60012]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb became follower at term 0
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb became follower at term 1
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 27 04:36:48 ubuntu etcd[60012]: simple token is not cryptographically signed
Jan 27 04:36:48 ubuntu etcd[60012]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 27 04:36:48 ubuntu etcd[60012]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 27 04:36:48 ubuntu etcd[60012]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 27 04:36:48 ubuntu etcd[60012]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 27 04:36:48 ubuntu etcd[60012]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 27 04:36:48 ubuntu etcd[60012]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 27 04:36:48 ubuntu etcd[60012]: listening for peers on [::]:2380
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: 33238c1cdfea94eb became leader at term 2
Jan 27 04:36:48 ubuntu etcd[60012]: raft2024/01/27 04:36:48 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 27 04:36:48 ubuntu etcd[60012]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 27 04:36:48 ubuntu etcd[60012]: setting up the initial cluster version to 3.4
Jan 27 04:36:48 ubuntu etcd[60012]: ready to serve client requests
Jan 27 04:36:48 ubuntu etcd[60012]: set the initial cluster version to 3.4
Jan 27 04:36:48 ubuntu etcd[60012]: INFO: 2024/01/27 04:36:48 parsed scheme: ""
Jan 27 04:36:48 ubuntu etcd[60012]: INFO: 2024/01/27 04:36:48 scheme "" not registered, fallback to default scheme
Jan 27 04:36:48 ubuntu etcd[60012]: INFO: 2024/01/27 04:36:48 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 27 04:36:48 ubuntu etcd[60012]: INFO: 2024/01/27 04:36:48 ClientConn switching balancer to "pick_first"
Jan 27 04:36:48 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 27 04:36:48 ubuntu etcd[60012]: enabled capabilities for version 3.4
Jan 27 04:36:48 ubuntu etcd[60012]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 27 04:41:08 ubuntu etcd[60012]: start time = 2024-01-27 04:41:08.02724783 +0000 UTC m=+260.004446165, time spent = 516.465µs, remote = 10.201.4.32:47242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 27 04:41:08 ubuntu etcd[60012]: start time = 2024-01-27 04:41:08.135889534 +0000 UTC m=+260.113087868, time spent = 226.972µs, remote = 10.201.4.32:47242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 27 04:41:14 ubuntu etcd[60012]: start time = 2024-01-27 04:41:14.853488126 +0000 UTC m=+266.830686451, time spent = 189.745µs, remote = 10.201.4.32:47242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 27 04:41:17 ubuntu etcd[60012]: start time = 2024-01-27 04:41:17.396748513 +0000 UTC m=+269.373946838, time spent = 174.392µs, remote = 10.201.4.32:47242, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
