Apr 04 08:21:10 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 04 08:21:10 ubuntu etcd[57785]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 04 08:21:10 ubuntu etcd[57785]:         A future release of golang/protobuf will delete this package,
Apr 04 08:21:10 ubuntu etcd[57785]:         which has long been excluded from the compatibility promise.
Apr 04 08:21:10 ubuntu etcd[57785]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 04 08:21:10 ubuntu etcd[57785]: Running http and grpc server on single port. This is not recommended for production.
Apr 04 08:21:10 ubuntu etcd[57785]: etcd Version: 3.4.27
Apr 04 08:21:10 ubuntu etcd[57785]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 04 08:21:10 ubuntu etcd[57785]: Git SHA: c92fb80f3
Apr 04 08:21:10 ubuntu etcd[57785]: Go Version: go1.19.10
Apr 04 08:21:10 ubuntu etcd[57785]: Go OS/Arch: linux/amd64
Apr 04 08:21:10 ubuntu etcd[57785]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 04 08:21:10 ubuntu etcd[57785]: Running http and grpc server on single port. This is not recommended for production.
Apr 04 08:21:10 ubuntu etcd[57785]: name = ubuntu
Apr 04 08:21:10 ubuntu etcd[57785]: data dir = /opt/stack/data/etcd
Apr 04 08:21:10 ubuntu etcd[57785]: member dir = /opt/stack/data/etcd/member
Apr 04 08:21:10 ubuntu etcd[57785]: heartbeat = 100ms
Apr 04 08:21:10 ubuntu etcd[57785]: election = 1000ms
Apr 04 08:21:10 ubuntu etcd[57785]: snapshot count = 100000
Apr 04 08:21:10 ubuntu etcd[57785]: advertise client URLs = http://10.201.9.223:2379
Apr 04 08:21:10 ubuntu etcd[57785]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 04 08:21:10 ubuntu etcd[57785]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 04 08:21:10 ubuntu etcd[57785]: raft2025/04/04 08:21:10 INFO: c25b29daa831042c switched to configuration voters=()
Apr 04 08:21:10 ubuntu etcd[57785]: raft2025/04/04 08:21:10 INFO: c25b29daa831042c became follower at term 0
Apr 04 08:21:10 ubuntu etcd[57785]: raft2025/04/04 08:21:10 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 04 08:21:10 ubuntu etcd[57785]: raft2025/04/04 08:21:10 INFO: c25b29daa831042c became follower at term 1
Apr 04 08:21:10 ubuntu etcd[57785]: raft2025/04/04 08:21:10 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 04 08:21:10 ubuntu etcd[57785]: simple token is not cryptographically signed
Apr 04 08:21:10 ubuntu etcd[57785]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 04 08:21:10 ubuntu etcd[57785]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 04 08:21:10 ubuntu etcd[57785]: raft2025/04/04 08:21:10 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 04 08:21:10 ubuntu etcd[57785]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 04 08:21:10 ubuntu etcd[57785]: listening for peers on [::]:2380
Apr 04 08:21:10 ubuntu etcd[57785]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 04 08:21:10 ubuntu etcd[57785]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 04 08:21:10 ubuntu etcd[57785]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 04 08:21:10 ubuntu etcd[57785]: raft2025/04/04 08:21:10 INFO: c25b29daa831042c is starting a new election at term 1
Apr 04 08:21:10 ubuntu etcd[57785]: raft2025/04/04 08:21:10 INFO: c25b29daa831042c became candidate at term 2
Apr 04 08:21:10 ubuntu etcd[57785]: raft2025/04/04 08:21:10 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 04 08:21:10 ubuntu etcd[57785]: raft2025/04/04 08:21:10 INFO: c25b29daa831042c became leader at term 2
Apr 04 08:21:10 ubuntu etcd[57785]: raft2025/04/04 08:21:10 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 04 08:21:10 ubuntu etcd[57785]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 04 08:21:10 ubuntu etcd[57785]: setting up the initial cluster version to 3.4
Apr 04 08:21:10 ubuntu etcd[57785]: ready to serve client requests
Apr 04 08:21:10 ubuntu etcd[57785]: set the initial cluster version to 3.4
Apr 04 08:21:10 ubuntu etcd[57785]: enabled capabilities for version 3.4
Apr 04 08:21:10 ubuntu etcd[57785]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 04 08:21:10 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 04 08:25:18 ubuntu etcd[57785]: start time = 2025-04-04 08:25:18.129871732 +0000 UTC m=+247.574996785, time spent = 534.134µs, remote = 10.201.9.223:44288, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 08:25:18 ubuntu etcd[57785]: start time = 2025-04-04 08:25:18.18691745 +0000 UTC m=+247.632042532, time spent = 260.242µs, remote = 10.201.9.223:44288, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 08:25:24 ubuntu etcd[57785]: start time = 2025-04-04 08:25:24.517932467 +0000 UTC m=+253.963057534, time spent = 237.618µs, remote = 10.201.9.223:44288, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 08:25:26 ubuntu etcd[57785]: start time = 2025-04-04 08:25:26.690671647 +0000 UTC m=+256.135796712, time spent = 181.764µs, remote = 10.201.9.223:44288, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
