Jul 30 12:13:52 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 30 12:13:52 ubuntu etcd[59088]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 30 12:13:52 ubuntu etcd[59088]:         A future release of golang/protobuf will delete this package,
Jul 30 12:13:52 ubuntu etcd[59088]:         which has long been excluded from the compatibility promise.
Jul 30 12:13:52 ubuntu etcd[59088]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 30 12:13:52 ubuntu etcd[59088]: Running http and grpc server on single port. This is not recommended for production.
Jul 30 12:13:52 ubuntu etcd[59088]: etcd Version: 3.4.27
Jul 30 12:13:52 ubuntu etcd[59088]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 30 12:13:52 ubuntu etcd[59088]: Git SHA: c92fb80f3
Jul 30 12:13:52 ubuntu etcd[59088]: Go Version: go1.19.10
Jul 30 12:13:52 ubuntu etcd[59088]: Go OS/Arch: linux/amd64
Jul 30 12:13:52 ubuntu etcd[59088]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 30 12:13:52 ubuntu etcd[59088]: Running http and grpc server on single port. This is not recommended for production.
Jul 30 12:13:52 ubuntu etcd[59088]: name = ubuntu
Jul 30 12:13:52 ubuntu etcd[59088]: data dir = /opt/stack/data/etcd
Jul 30 12:13:52 ubuntu etcd[59088]: member dir = /opt/stack/data/etcd/member
Jul 30 12:13:52 ubuntu etcd[59088]: heartbeat = 100ms
Jul 30 12:13:52 ubuntu etcd[59088]: election = 1000ms
Jul 30 12:13:52 ubuntu etcd[59088]: snapshot count = 100000
Jul 30 12:13:52 ubuntu etcd[59088]: advertise client URLs = http://10.201.9.223:2379
Jul 30 12:13:52 ubuntu etcd[59088]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 30 12:13:52 ubuntu etcd[59088]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 30 12:13:52 ubuntu etcd[59088]: raft2025/07/30 12:13:52 INFO: c25b29daa831042c switched to configuration voters=()
Jul 30 12:13:52 ubuntu etcd[59088]: raft2025/07/30 12:13:52 INFO: c25b29daa831042c became follower at term 0
Jul 30 12:13:52 ubuntu etcd[59088]: raft2025/07/30 12:13:52 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 30 12:13:52 ubuntu etcd[59088]: raft2025/07/30 12:13:52 INFO: c25b29daa831042c became follower at term 1
Jul 30 12:13:52 ubuntu etcd[59088]: raft2025/07/30 12:13:52 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 30 12:13:52 ubuntu etcd[59088]: simple token is not cryptographically signed
Jul 30 12:13:52 ubuntu etcd[59088]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 30 12:13:52 ubuntu etcd[59088]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 30 12:13:52 ubuntu etcd[59088]: raft2025/07/30 12:13:52 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 30 12:13:52 ubuntu etcd[59088]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 30 12:13:52 ubuntu etcd[59088]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 30 12:13:52 ubuntu etcd[59088]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 30 12:13:52 ubuntu etcd[59088]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 30 12:13:52 ubuntu etcd[59088]: listening for peers on [::]:2380
Jul 30 12:13:52 ubuntu etcd[59088]: raft2025/07/30 12:13:52 INFO: c25b29daa831042c is starting a new election at term 1
Jul 30 12:13:52 ubuntu etcd[59088]: raft2025/07/30 12:13:52 INFO: c25b29daa831042c became candidate at term 2
Jul 30 12:13:52 ubuntu etcd[59088]: raft2025/07/30 12:13:52 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 30 12:13:52 ubuntu etcd[59088]: raft2025/07/30 12:13:52 INFO: c25b29daa831042c became leader at term 2
Jul 30 12:13:52 ubuntu etcd[59088]: raft2025/07/30 12:13:52 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 30 12:13:52 ubuntu etcd[59088]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 30 12:13:52 ubuntu etcd[59088]: ready to serve client requests
Jul 30 12:13:52 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 30 12:13:52 ubuntu etcd[59088]: setting up the initial cluster version to 3.4
Jul 30 12:13:52 ubuntu etcd[59088]: set the initial cluster version to 3.4
Jul 30 12:13:52 ubuntu etcd[59088]: enabled capabilities for version 3.4
Jul 30 12:13:52 ubuntu etcd[59088]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 30 12:18:04 ubuntu etcd[59088]: start time = 2025-07-30 12:18:04.307349326 +0000 UTC m=+251.951005016, time spent = 462.494µs, remote = 10.201.9.223:38616, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 12:18:04 ubuntu etcd[59088]: start time = 2025-07-30 12:18:04.319394363 +0000 UTC m=+251.963050072, time spent = 188.743µs, remote = 10.201.9.223:38616, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 12:18:10 ubuntu etcd[59088]: start time = 2025-07-30 12:18:10.741595681 +0000 UTC m=+258.385251385, time spent = 183.711µs, remote = 10.201.9.223:38616, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 12:18:13 ubuntu etcd[59088]: start time = 2025-07-30 12:18:13.116256843 +0000 UTC m=+260.759912543, time spent = 540.947µs, remote = 10.201.9.223:38616, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
