Jul 05 01:57:59 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 05 01:57:59 ubuntu etcd[59129]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 05 01:57:59 ubuntu etcd[59129]:         A future release of golang/protobuf will delete this package,
Jul 05 01:57:59 ubuntu etcd[59129]:         which has long been excluded from the compatibility promise.
Jul 05 01:57:59 ubuntu etcd[59129]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 05 01:57:59 ubuntu etcd[59129]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 05 01:57:59 ubuntu etcd[59129]: Running http and grpc server on single port. This is not recommended for production.
Jul 05 01:57:59 ubuntu etcd[59129]: etcd Version: 3.4.27
Jul 05 01:57:59 ubuntu etcd[59129]: Git SHA: c92fb80f3
Jul 05 01:57:59 ubuntu etcd[59129]: Go Version: go1.19.10
Jul 05 01:57:59 ubuntu etcd[59129]: Go OS/Arch: linux/amd64
Jul 05 01:57:59 ubuntu etcd[59129]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 05 01:57:59 ubuntu etcd[59129]: Running http and grpc server on single port. This is not recommended for production.
Jul 05 01:57:59 ubuntu etcd[59129]: name = ubuntu
Jul 05 01:57:59 ubuntu etcd[59129]: data dir = /opt/stack/data/etcd
Jul 05 01:57:59 ubuntu etcd[59129]: member dir = /opt/stack/data/etcd/member
Jul 05 01:57:59 ubuntu etcd[59129]: heartbeat = 100ms
Jul 05 01:57:59 ubuntu etcd[59129]: election = 1000ms
Jul 05 01:57:59 ubuntu etcd[59129]: snapshot count = 100000
Jul 05 01:57:59 ubuntu etcd[59129]: advertise client URLs = http://10.201.9.223:2379
Jul 05 01:57:59 ubuntu etcd[59129]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 05 01:57:59 ubuntu etcd[59129]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c switched to configuration voters=()
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c became follower at term 0
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c became follower at term 1
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 05 01:57:59 ubuntu etcd[59129]: simple token is not cryptographically signed
Jul 05 01:57:59 ubuntu etcd[59129]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 05 01:57:59 ubuntu etcd[59129]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 05 01:57:59 ubuntu etcd[59129]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 05 01:57:59 ubuntu etcd[59129]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 05 01:57:59 ubuntu etcd[59129]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 05 01:57:59 ubuntu etcd[59129]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 05 01:57:59 ubuntu etcd[59129]: listening for peers on [::]:2380
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c is starting a new election at term 1
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c became candidate at term 2
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c became leader at term 2
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 05 01:57:59 ubuntu etcd[59129]: setting up the initial cluster version to 3.4
Jul 05 01:57:59 ubuntu etcd[59129]: set the initial cluster version to 3.4
Jul 05 01:57:59 ubuntu etcd[59129]: enabled capabilities for version 3.4
Jul 05 01:57:59 ubuntu etcd[59129]: ready to serve client requests
Jul 05 01:57:59 ubuntu etcd[59129]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 05 01:57:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 05 01:57:59 ubuntu etcd[59129]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 05 02:02:03 ubuntu etcd[59129]: start time = 2025-07-05 02:02:03.711639433 +0000 UTC m=+244.005893670, time spent = 1.167495ms, remote = 10.201.9.223:33214, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 05 02:02:03 ubuntu etcd[59129]: start time = 2025-07-05 02:02:03.711521023 +0000 UTC m=+244.005775247, time spent = 2.471601ms, remote = 10.201.9.223:33214, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 05 02:02:10 ubuntu etcd[59129]: start time = 2025-07-05 02:02:10.701344654 +0000 UTC m=+250.995598897, time spent = 159.642µs, remote = 10.201.9.223:33214, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 05 02:02:12 ubuntu etcd[59129]: start time = 2025-07-05 02:02:12.858225643 +0000 UTC m=+253.152479879, time spent = 250.967µs, remote = 10.201.9.223:33214, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 05 01:57:59 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 05 01:57:59 ubuntu etcd[59129]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 05 01:57:59 ubuntu etcd[59129]:         A future release of golang/protobuf will delete this package,
Jul 05 01:57:59 ubuntu etcd[59129]:         which has long been excluded from the compatibility promise.
Jul 05 01:57:59 ubuntu etcd[59129]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 05 01:57:59 ubuntu etcd[59129]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 05 01:57:59 ubuntu etcd[59129]: Running http and grpc server on single port. This is not recommended for production.
Jul 05 01:57:59 ubuntu etcd[59129]: etcd Version: 3.4.27
Jul 05 01:57:59 ubuntu etcd[59129]: Git SHA: c92fb80f3
Jul 05 01:57:59 ubuntu etcd[59129]: Go Version: go1.19.10
Jul 05 01:57:59 ubuntu etcd[59129]: Go OS/Arch: linux/amd64
Jul 05 01:57:59 ubuntu etcd[59129]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 05 01:57:59 ubuntu etcd[59129]: Running http and grpc server on single port. This is not recommended for production.
Jul 05 01:57:59 ubuntu etcd[59129]: name = ubuntu
Jul 05 01:57:59 ubuntu etcd[59129]: data dir = /opt/stack/data/etcd
Jul 05 01:57:59 ubuntu etcd[59129]: member dir = /opt/stack/data/etcd/member
Jul 05 01:57:59 ubuntu etcd[59129]: heartbeat = 100ms
Jul 05 01:57:59 ubuntu etcd[59129]: election = 1000ms
Jul 05 01:57:59 ubuntu etcd[59129]: snapshot count = 100000
Jul 05 01:57:59 ubuntu etcd[59129]: advertise client URLs = http://10.201.9.223:2379
Jul 05 01:57:59 ubuntu etcd[59129]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 05 01:57:59 ubuntu etcd[59129]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c switched to configuration voters=()
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c became follower at term 0
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c became follower at term 1
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 05 01:57:59 ubuntu etcd[59129]: simple token is not cryptographically signed
Jul 05 01:57:59 ubuntu etcd[59129]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 05 01:57:59 ubuntu etcd[59129]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 05 01:57:59 ubuntu etcd[59129]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 05 01:57:59 ubuntu etcd[59129]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 05 01:57:59 ubuntu etcd[59129]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 05 01:57:59 ubuntu etcd[59129]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 05 01:57:59 ubuntu etcd[59129]: listening for peers on [::]:2380
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c is starting a new election at term 1
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c became candidate at term 2
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: c25b29daa831042c became leader at term 2
Jul 05 01:57:59 ubuntu etcd[59129]: raft2025/07/05 01:57:59 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 05 01:57:59 ubuntu etcd[59129]: setting up the initial cluster version to 3.4
Jul 05 01:57:59 ubuntu etcd[59129]: set the initial cluster version to 3.4
Jul 05 01:57:59 ubuntu etcd[59129]: enabled capabilities for version 3.4
Jul 05 01:57:59 ubuntu etcd[59129]: ready to serve client requests
Jul 05 01:57:59 ubuntu etcd[59129]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 05 01:57:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 05 01:57:59 ubuntu etcd[59129]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 05 02:02:03 ubuntu etcd[59129]: start time = 2025-07-05 02:02:03.711639433 +0000 UTC m=+244.005893670, time spent = 1.167495ms, remote = 10.201.9.223:33214, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 05 02:02:03 ubuntu etcd[59129]: start time = 2025-07-05 02:02:03.711521023 +0000 UTC m=+244.005775247, time spent = 2.471601ms, remote = 10.201.9.223:33214, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 05 02:02:10 ubuntu etcd[59129]: start time = 2025-07-05 02:02:10.701344654 +0000 UTC m=+250.995598897, time spent = 159.642µs, remote = 10.201.9.223:33214, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 05 02:02:12 ubuntu etcd[59129]: start time = 2025-07-05 02:02:12.858225643 +0000 UTC m=+253.152479879, time spent = 250.967µs, remote = 10.201.9.223:33214, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
