Mar 27 05:11:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 27 05:11:32 ubuntu etcd[57110]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 27 05:11:32 ubuntu etcd[57110]:         A future release of golang/protobuf will delete this package,
Mar 27 05:11:32 ubuntu etcd[57110]:         which has long been excluded from the compatibility promise.
Mar 27 05:11:32 ubuntu etcd[57110]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 27 05:11:32 ubuntu etcd[57110]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 27 05:11:32 ubuntu etcd[57110]: Running http and grpc server on single port. This is not recommended for production.
Mar 27 05:11:32 ubuntu etcd[57110]: etcd Version: 3.4.27
Mar 27 05:11:32 ubuntu etcd[57110]: Git SHA: c92fb80f3
Mar 27 05:11:32 ubuntu etcd[57110]: Go Version: go1.19.10
Mar 27 05:11:32 ubuntu etcd[57110]: Go OS/Arch: linux/amd64
Mar 27 05:11:32 ubuntu etcd[57110]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 27 05:11:32 ubuntu etcd[57110]: Running http and grpc server on single port. This is not recommended for production.
Mar 27 05:11:32 ubuntu etcd[57110]: name = ubuntu
Mar 27 05:11:32 ubuntu etcd[57110]: data dir = /opt/stack/data/etcd
Mar 27 05:11:32 ubuntu etcd[57110]: member dir = /opt/stack/data/etcd/member
Mar 27 05:11:32 ubuntu etcd[57110]: heartbeat = 100ms
Mar 27 05:11:32 ubuntu etcd[57110]: election = 1000ms
Mar 27 05:11:32 ubuntu etcd[57110]: snapshot count = 100000
Mar 27 05:11:32 ubuntu etcd[57110]: advertise client URLs = http://10.201.9.223:2379
Mar 27 05:11:32 ubuntu etcd[57110]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 27 05:11:32 ubuntu etcd[57110]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 27 05:11:32 ubuntu etcd[57110]: raft2025/03/27 05:11:32 INFO: c25b29daa831042c switched to configuration voters=()
Mar 27 05:11:32 ubuntu etcd[57110]: raft2025/03/27 05:11:32 INFO: c25b29daa831042c became follower at term 0
Mar 27 05:11:32 ubuntu etcd[57110]: raft2025/03/27 05:11:32 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 27 05:11:32 ubuntu etcd[57110]: raft2025/03/27 05:11:32 INFO: c25b29daa831042c became follower at term 1
Mar 27 05:11:32 ubuntu etcd[57110]: raft2025/03/27 05:11:32 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 27 05:11:32 ubuntu etcd[57110]: simple token is not cryptographically signed
Mar 27 05:11:32 ubuntu etcd[57110]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 27 05:11:32 ubuntu etcd[57110]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 27 05:11:32 ubuntu etcd[57110]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 27 05:11:32 ubuntu etcd[57110]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 27 05:11:32 ubuntu etcd[57110]: raft2025/03/27 05:11:32 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 27 05:11:32 ubuntu etcd[57110]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 27 05:11:32 ubuntu etcd[57110]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 27 05:11:32 ubuntu etcd[57110]: listening for peers on [::]:2380
Mar 27 05:11:33 ubuntu etcd[57110]: raft2025/03/27 05:11:33 INFO: c25b29daa831042c is starting a new election at term 1
Mar 27 05:11:33 ubuntu etcd[57110]: raft2025/03/27 05:11:33 INFO: c25b29daa831042c became candidate at term 2
Mar 27 05:11:33 ubuntu etcd[57110]: raft2025/03/27 05:11:33 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 27 05:11:33 ubuntu etcd[57110]: raft2025/03/27 05:11:33 INFO: c25b29daa831042c became leader at term 2
Mar 27 05:11:33 ubuntu etcd[57110]: raft2025/03/27 05:11:33 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 27 05:11:33 ubuntu etcd[57110]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 27 05:11:33 ubuntu etcd[57110]: setting up the initial cluster version to 3.4
Mar 27 05:11:33 ubuntu etcd[57110]: set the initial cluster version to 3.4
Mar 27 05:11:33 ubuntu etcd[57110]: enabled capabilities for version 3.4
Mar 27 05:11:33 ubuntu etcd[57110]: ready to serve client requests
Mar 27 05:11:33 ubuntu etcd[57110]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 27 05:11:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 27 05:15:45 ubuntu etcd[57110]: start time = 2025-03-27 05:15:45.482527113 +0000 UTC m=+253.124604688, time spent = 499.348µs, remote = 10.201.9.223:34026, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 05:15:45 ubuntu etcd[57110]: start time = 2025-03-27 05:15:45.510485798 +0000 UTC m=+253.152563393, time spent = 257.926µs, remote = 10.201.9.223:34026, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 05:15:51 ubuntu etcd[57110]: start time = 2025-03-27 05:15:51.933706237 +0000 UTC m=+259.575783824, time spent = 238.757µs, remote = 10.201.9.223:34026, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 05:15:53 ubuntu etcd[57110]: start time = 2025-03-27 05:15:53.94817478 +0000 UTC m=+261.590252372, time spent = 264.718µs, remote = 10.201.9.223:34026, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
