Mar 28 06:37:06 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 28 06:37:06 ubuntu etcd[57104]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 28 06:37:06 ubuntu etcd[57104]:         A future release of golang/protobuf will delete this package,
Mar 28 06:37:06 ubuntu etcd[57104]:         which has long been excluded from the compatibility promise.
Mar 28 06:37:06 ubuntu etcd[57104]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 28 06:37:06 ubuntu etcd[57104]: Running http and grpc server on single port. This is not recommended for production.
Mar 28 06:37:06 ubuntu etcd[57104]: etcd Version: 3.4.27
Mar 28 06:37:06 ubuntu etcd[57104]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 28 06:37:06 ubuntu etcd[57104]: Git SHA: c92fb80f3
Mar 28 06:37:06 ubuntu etcd[57104]: Go Version: go1.19.10
Mar 28 06:37:06 ubuntu etcd[57104]: Go OS/Arch: linux/amd64
Mar 28 06:37:06 ubuntu etcd[57104]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 28 06:37:06 ubuntu etcd[57104]: Running http and grpc server on single port. This is not recommended for production.
Mar 28 06:37:06 ubuntu etcd[57104]: name = ubuntu
Mar 28 06:37:06 ubuntu etcd[57104]: data dir = /opt/stack/data/etcd
Mar 28 06:37:06 ubuntu etcd[57104]: member dir = /opt/stack/data/etcd/member
Mar 28 06:37:06 ubuntu etcd[57104]: heartbeat = 100ms
Mar 28 06:37:06 ubuntu etcd[57104]: election = 1000ms
Mar 28 06:37:06 ubuntu etcd[57104]: snapshot count = 100000
Mar 28 06:37:06 ubuntu etcd[57104]: advertise client URLs = http://10.201.9.223:2379
Mar 28 06:37:06 ubuntu etcd[57104]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 28 06:37:06 ubuntu etcd[57104]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 28 06:37:06 ubuntu etcd[57104]: raft2025/03/28 06:37:06 INFO: c25b29daa831042c switched to configuration voters=()
Mar 28 06:37:06 ubuntu etcd[57104]: raft2025/03/28 06:37:06 INFO: c25b29daa831042c became follower at term 0
Mar 28 06:37:06 ubuntu etcd[57104]: raft2025/03/28 06:37:06 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 28 06:37:06 ubuntu etcd[57104]: raft2025/03/28 06:37:06 INFO: c25b29daa831042c became follower at term 1
Mar 28 06:37:06 ubuntu etcd[57104]: raft2025/03/28 06:37:06 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 28 06:37:06 ubuntu etcd[57104]: simple token is not cryptographically signed
Mar 28 06:37:06 ubuntu etcd[57104]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 28 06:37:06 ubuntu etcd[57104]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 28 06:37:06 ubuntu etcd[57104]: raft2025/03/28 06:37:06 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 28 06:37:06 ubuntu etcd[57104]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 28 06:37:06 ubuntu etcd[57104]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 28 06:37:06 ubuntu etcd[57104]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 28 06:37:06 ubuntu etcd[57104]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 28 06:37:06 ubuntu etcd[57104]: listening for peers on [::]:2380
Mar 28 06:37:06 ubuntu etcd[57104]: raft2025/03/28 06:37:06 INFO: c25b29daa831042c is starting a new election at term 1
Mar 28 06:37:06 ubuntu etcd[57104]: raft2025/03/28 06:37:06 INFO: c25b29daa831042c became candidate at term 2
Mar 28 06:37:06 ubuntu etcd[57104]: raft2025/03/28 06:37:06 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 28 06:37:06 ubuntu etcd[57104]: raft2025/03/28 06:37:06 INFO: c25b29daa831042c became leader at term 2
Mar 28 06:37:06 ubuntu etcd[57104]: raft2025/03/28 06:37:06 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 28 06:37:06 ubuntu etcd[57104]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 28 06:37:06 ubuntu etcd[57104]: setting up the initial cluster version to 3.4
Mar 28 06:37:06 ubuntu etcd[57104]: ready to serve client requests
Mar 28 06:37:06 ubuntu etcd[57104]: set the initial cluster version to 3.4
Mar 28 06:37:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 28 06:37:06 ubuntu etcd[57104]: enabled capabilities for version 3.4
Mar 28 06:37:06 ubuntu etcd[57104]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 28 06:41:12 ubuntu etcd[57104]: start time = 2025-03-28 06:41:12.306407991 +0000 UTC m=+245.802726886, time spent = 463.841µs, remote = 10.201.9.223:52298, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 06:41:12 ubuntu etcd[57104]: start time = 2025-03-28 06:41:12.355656912 +0000 UTC m=+245.851975822, time spent = 151.301µs, remote = 10.201.9.223:52298, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 06:41:18 ubuntu etcd[57104]: start time = 2025-03-28 06:41:18.833834715 +0000 UTC m=+252.330153626, time spent = 167.681µs, remote = 10.201.9.223:52298, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 06:41:20 ubuntu etcd[57104]: start time = 2025-03-28 06:41:20.698624503 +0000 UTC m=+254.194943413, time spent = 182.108µs, remote = 10.201.9.223:52298, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
