Jul 28 11:54:01 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 28 11:54:01 ubuntu etcd[59060]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 28 11:54:01 ubuntu etcd[59060]:         A future release of golang/protobuf will delete this package,
Jul 28 11:54:01 ubuntu etcd[59060]:         which has long been excluded from the compatibility promise.
Jul 28 11:54:01 ubuntu etcd[59060]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 28 11:54:01 ubuntu etcd[59060]: Running http and grpc server on single port. This is not recommended for production.
Jul 28 11:54:01 ubuntu etcd[59060]: etcd Version: 3.4.27
Jul 28 11:54:01 ubuntu etcd[59060]: Git SHA: c92fb80f3
Jul 28 11:54:01 ubuntu etcd[59060]: Go Version: go1.19.10
Jul 28 11:54:01 ubuntu etcd[59060]: Go OS/Arch: linux/amd64
Jul 28 11:54:01 ubuntu etcd[59060]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 28 11:54:01 ubuntu etcd[59060]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 28 11:54:01 ubuntu etcd[59060]: Running http and grpc server on single port. This is not recommended for production.
Jul 28 11:54:01 ubuntu etcd[59060]: name = ubuntu
Jul 28 11:54:01 ubuntu etcd[59060]: data dir = /opt/stack/data/etcd
Jul 28 11:54:01 ubuntu etcd[59060]: member dir = /opt/stack/data/etcd/member
Jul 28 11:54:01 ubuntu etcd[59060]: heartbeat = 100ms
Jul 28 11:54:01 ubuntu etcd[59060]: election = 1000ms
Jul 28 11:54:01 ubuntu etcd[59060]: snapshot count = 100000
Jul 28 11:54:01 ubuntu etcd[59060]: advertise client URLs = http://10.201.9.223:2379
Jul 28 11:54:01 ubuntu etcd[59060]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 28 11:54:01 ubuntu etcd[59060]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 28 11:54:01 ubuntu etcd[59060]: raft2025/07/28 11:54:01 INFO: c25b29daa831042c switched to configuration voters=()
Jul 28 11:54:01 ubuntu etcd[59060]: raft2025/07/28 11:54:01 INFO: c25b29daa831042c became follower at term 0
Jul 28 11:54:01 ubuntu etcd[59060]: raft2025/07/28 11:54:01 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 28 11:54:01 ubuntu etcd[59060]: raft2025/07/28 11:54:01 INFO: c25b29daa831042c became follower at term 1
Jul 28 11:54:01 ubuntu etcd[59060]: raft2025/07/28 11:54:01 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 28 11:54:01 ubuntu etcd[59060]: simple token is not cryptographically signed
Jul 28 11:54:01 ubuntu etcd[59060]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 28 11:54:01 ubuntu etcd[59060]: raft2025/07/28 11:54:01 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 28 11:54:01 ubuntu etcd[59060]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 28 11:54:01 ubuntu etcd[59060]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 28 11:54:01 ubuntu etcd[59060]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 28 11:54:01 ubuntu etcd[59060]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 28 11:54:01 ubuntu etcd[59060]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 28 11:54:01 ubuntu etcd[59060]: listening for peers on [::]:2380
Jul 28 11:54:01 ubuntu etcd[59060]: raft2025/07/28 11:54:01 INFO: c25b29daa831042c is starting a new election at term 1
Jul 28 11:54:01 ubuntu etcd[59060]: raft2025/07/28 11:54:01 INFO: c25b29daa831042c became candidate at term 2
Jul 28 11:54:01 ubuntu etcd[59060]: raft2025/07/28 11:54:01 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 28 11:54:01 ubuntu etcd[59060]: raft2025/07/28 11:54:01 INFO: c25b29daa831042c became leader at term 2
Jul 28 11:54:01 ubuntu etcd[59060]: raft2025/07/28 11:54:01 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 28 11:54:01 ubuntu etcd[59060]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 28 11:54:01 ubuntu etcd[59060]: ready to serve client requests
Jul 28 11:54:01 ubuntu etcd[59060]: setting up the initial cluster version to 3.4
Jul 28 11:54:01 ubuntu etcd[59060]: set the initial cluster version to 3.4
Jul 28 11:54:01 ubuntu etcd[59060]: enabled capabilities for version 3.4
Jul 28 11:54:01 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 28 11:54:01 ubuntu etcd[59060]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 28 11:58:13 ubuntu etcd[59060]: start time = 2025-07-28 11:58:13.499911505 +0000 UTC m=+252.002447877, time spent = 444.392µs, remote = 10.201.9.223:50274, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 11:58:13 ubuntu etcd[59060]: start time = 2025-07-28 11:58:13.514432928 +0000 UTC m=+252.016969305, time spent = 260.573µs, remote = 10.201.9.223:50274, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 11:58:20 ubuntu etcd[59060]: start time = 2025-07-28 11:58:20.198759677 +0000 UTC m=+258.701296057, time spent = 181.818µs, remote = 10.201.9.223:50274, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 11:58:22 ubuntu etcd[59060]: start time = 2025-07-28 11:58:22.759178036 +0000 UTC m=+261.261714398, time spent = 231.036µs, remote = 10.201.9.223:50274, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
