May 06 10:31:00 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 06 10:31:00 ubuntu etcd[58512]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 06 10:31:00 ubuntu etcd[58512]:         A future release of golang/protobuf will delete this package,
May 06 10:31:00 ubuntu etcd[58512]:         which has long been excluded from the compatibility promise.
May 06 10:31:00 ubuntu etcd[58512]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 06 10:31:00 ubuntu etcd[58512]: Running http and grpc server on single port. This is not recommended for production.
May 06 10:31:00 ubuntu etcd[58512]: etcd Version: 3.4.27
May 06 10:31:00 ubuntu etcd[58512]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 06 10:31:00 ubuntu etcd[58512]: Git SHA: c92fb80f3
May 06 10:31:00 ubuntu etcd[58512]: Go Version: go1.19.10
May 06 10:31:00 ubuntu etcd[58512]: Go OS/Arch: linux/amd64
May 06 10:31:00 ubuntu etcd[58512]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 06 10:31:00 ubuntu etcd[58512]: Running http and grpc server on single port. This is not recommended for production.
May 06 10:31:00 ubuntu etcd[58512]: name = ubuntu
May 06 10:31:00 ubuntu etcd[58512]: data dir = /opt/stack/data/etcd
May 06 10:31:00 ubuntu etcd[58512]: member dir = /opt/stack/data/etcd/member
May 06 10:31:00 ubuntu etcd[58512]: heartbeat = 100ms
May 06 10:31:00 ubuntu etcd[58512]: election = 1000ms
May 06 10:31:00 ubuntu etcd[58512]: snapshot count = 100000
May 06 10:31:00 ubuntu etcd[58512]: advertise client URLs = http://10.201.9.223:2379
May 06 10:31:00 ubuntu etcd[58512]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 06 10:31:00 ubuntu etcd[58512]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 06 10:31:00 ubuntu etcd[58512]: raft2025/05/06 10:31:00 INFO: c25b29daa831042c switched to configuration voters=()
May 06 10:31:00 ubuntu etcd[58512]: raft2025/05/06 10:31:00 INFO: c25b29daa831042c became follower at term 0
May 06 10:31:00 ubuntu etcd[58512]: raft2025/05/06 10:31:00 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 06 10:31:00 ubuntu etcd[58512]: raft2025/05/06 10:31:00 INFO: c25b29daa831042c became follower at term 1
May 06 10:31:00 ubuntu etcd[58512]: raft2025/05/06 10:31:00 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 06 10:31:00 ubuntu etcd[58512]: simple token is not cryptographically signed
May 06 10:31:00 ubuntu etcd[58512]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 06 10:31:00 ubuntu etcd[58512]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 06 10:31:00 ubuntu etcd[58512]: raft2025/05/06 10:31:00 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 06 10:31:00 ubuntu etcd[58512]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 06 10:31:00 ubuntu etcd[58512]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 06 10:31:00 ubuntu etcd[58512]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 06 10:31:00 ubuntu etcd[58512]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 06 10:31:00 ubuntu etcd[58512]: listening for peers on [::]:2380
May 06 10:31:00 ubuntu etcd[58512]: raft2025/05/06 10:31:00 INFO: c25b29daa831042c is starting a new election at term 1
May 06 10:31:00 ubuntu etcd[58512]: raft2025/05/06 10:31:00 INFO: c25b29daa831042c became candidate at term 2
May 06 10:31:00 ubuntu etcd[58512]: raft2025/05/06 10:31:00 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 06 10:31:00 ubuntu etcd[58512]: raft2025/05/06 10:31:00 INFO: c25b29daa831042c became leader at term 2
May 06 10:31:00 ubuntu etcd[58512]: raft2025/05/06 10:31:00 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 06 10:31:00 ubuntu etcd[58512]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 06 10:31:00 ubuntu etcd[58512]: ready to serve client requests
May 06 10:31:00 ubuntu etcd[58512]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 06 10:31:00 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 06 10:31:00 ubuntu etcd[58512]: setting up the initial cluster version to 3.4
May 06 10:31:00 ubuntu etcd[58512]: set the initial cluster version to 3.4
May 06 10:31:00 ubuntu etcd[58512]: enabled capabilities for version 3.4
May 06 10:35:07 ubuntu etcd[58512]: start time = 2025-05-06 10:35:07.337025534 +0000 UTC m=+247.167359574, time spent = 705.357µs, remote = 10.201.9.223:48312, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 06 10:35:07 ubuntu etcd[58512]: start time = 2025-05-06 10:35:07.380795056 +0000 UTC m=+247.211129106, time spent = 191.906µs, remote = 10.201.9.223:48312, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 06 10:35:14 ubuntu etcd[58512]: start time = 2025-05-06 10:35:14.059982793 +0000 UTC m=+253.890316848, time spent = 182.581µs, remote = 10.201.9.223:48312, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 06 10:35:16 ubuntu etcd[58512]: start time = 2025-05-06 10:35:16.150336101 +0000 UTC m=+255.980670155, time spent = 531.412µs, remote = 10.201.9.223:48312, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
