May 21 13:02:14 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 21 13:02:14 ubuntu etcd[58354]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 21 13:02:14 ubuntu etcd[58354]:         A future release of golang/protobuf will delete this package,
May 21 13:02:14 ubuntu etcd[58354]:         which has long been excluded from the compatibility promise.
May 21 13:02:14 ubuntu etcd[58354]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 13:02:14 ubuntu etcd[58354]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 13:02:14 ubuntu etcd[58354]: Running http and grpc server on single port. This is not recommended for production.
May 21 13:02:14 ubuntu etcd[58354]: etcd Version: 3.4.27
May 21 13:02:14 ubuntu etcd[58354]: Git SHA: c92fb80f3
May 21 13:02:14 ubuntu etcd[58354]: Go Version: go1.19.10
May 21 13:02:14 ubuntu etcd[58354]: Go OS/Arch: linux/amd64
May 21 13:02:14 ubuntu etcd[58354]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 21 13:02:14 ubuntu etcd[58354]: Running http and grpc server on single port. This is not recommended for production.
May 21 13:02:14 ubuntu etcd[58354]: name = ubuntu
May 21 13:02:14 ubuntu etcd[58354]: data dir = /opt/stack/data/etcd
May 21 13:02:14 ubuntu etcd[58354]: member dir = /opt/stack/data/etcd/member
May 21 13:02:14 ubuntu etcd[58354]: heartbeat = 100ms
May 21 13:02:14 ubuntu etcd[58354]: election = 1000ms
May 21 13:02:14 ubuntu etcd[58354]: snapshot count = 100000
May 21 13:02:14 ubuntu etcd[58354]: advertise client URLs = http://10.201.9.223:2379
May 21 13:02:14 ubuntu etcd[58354]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 21 13:02:14 ubuntu etcd[58354]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 21 13:02:14 ubuntu etcd[58354]: raft2025/05/21 13:02:14 INFO: c25b29daa831042c switched to configuration voters=()
May 21 13:02:14 ubuntu etcd[58354]: raft2025/05/21 13:02:14 INFO: c25b29daa831042c became follower at term 0
May 21 13:02:14 ubuntu etcd[58354]: raft2025/05/21 13:02:14 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 21 13:02:14 ubuntu etcd[58354]: raft2025/05/21 13:02:14 INFO: c25b29daa831042c became follower at term 1
May 21 13:02:14 ubuntu etcd[58354]: raft2025/05/21 13:02:14 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 21 13:02:14 ubuntu etcd[58354]: simple token is not cryptographically signed
May 21 13:02:14 ubuntu etcd[58354]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 21 13:02:14 ubuntu etcd[58354]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 21 13:02:14 ubuntu etcd[58354]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 21 13:02:14 ubuntu etcd[58354]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 21 13:02:14 ubuntu etcd[58354]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 21 13:02:14 ubuntu etcd[58354]: raft2025/05/21 13:02:14 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 21 13:02:14 ubuntu etcd[58354]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 21 13:02:14 ubuntu etcd[58354]: listening for peers on [::]:2380
May 21 13:02:14 ubuntu etcd[58354]: raft2025/05/21 13:02:14 INFO: c25b29daa831042c is starting a new election at term 1
May 21 13:02:14 ubuntu etcd[58354]: raft2025/05/21 13:02:14 INFO: c25b29daa831042c became candidate at term 2
May 21 13:02:14 ubuntu etcd[58354]: raft2025/05/21 13:02:14 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 21 13:02:14 ubuntu etcd[58354]: raft2025/05/21 13:02:14 INFO: c25b29daa831042c became leader at term 2
May 21 13:02:14 ubuntu etcd[58354]: raft2025/05/21 13:02:14 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 21 13:02:14 ubuntu etcd[58354]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 21 13:02:14 ubuntu etcd[58354]: ready to serve client requests
May 21 13:02:14 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 21 13:02:14 ubuntu etcd[58354]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 21 13:02:14 ubuntu etcd[58354]: setting up the initial cluster version to 3.4
May 21 13:02:14 ubuntu etcd[58354]: set the initial cluster version to 3.4
May 21 13:02:14 ubuntu etcd[58354]: enabled capabilities for version 3.4
May 21 13:06:22 ubuntu etcd[58354]: start time = 2025-05-21 13:06:22.207931313 +0000 UTC m=+247.957255104, time spent = 447.632µs, remote = 10.201.9.223:58956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 13:06:22 ubuntu etcd[58354]: start time = 2025-05-21 13:06:22.226005608 +0000 UTC m=+247.975329420, time spent = 271.36µs, remote = 10.201.9.223:58956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 13:06:28 ubuntu etcd[58354]: start time = 2025-05-21 13:06:28.731562618 +0000 UTC m=+254.480886410, time spent = 347.491µs, remote = 10.201.9.223:58956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 13:06:30 ubuntu etcd[58354]: start time = 2025-05-21 13:06:30.894878727 +0000 UTC m=+256.644202538, time spent = 266.046µs, remote = 10.201.9.223:58956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
