Jun 16 11:03:59 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 16 11:03:59 ubuntu etcd[59170]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 16 11:03:59 ubuntu etcd[59170]:         A future release of golang/protobuf will delete this package,
Jun 16 11:03:59 ubuntu etcd[59170]:         which has long been excluded from the compatibility promise.
Jun 16 11:03:59 ubuntu etcd[59170]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 16 11:03:59 ubuntu etcd[59170]: Running http and grpc server on single port. This is not recommended for production.
Jun 16 11:03:59 ubuntu etcd[59170]: etcd Version: 3.4.27
Jun 16 11:03:59 ubuntu etcd[59170]: Git SHA: c92fb80f3
Jun 16 11:03:59 ubuntu etcd[59170]: Go Version: go1.19.10
Jun 16 11:03:59 ubuntu etcd[59170]: Go OS/Arch: linux/amd64
Jun 16 11:03:59 ubuntu etcd[59170]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 16 11:03:59 ubuntu etcd[59170]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 16 11:03:59 ubuntu etcd[59170]: Running http and grpc server on single port. This is not recommended for production.
Jun 16 11:03:59 ubuntu etcd[59170]: name = ubuntu
Jun 16 11:03:59 ubuntu etcd[59170]: data dir = /opt/stack/data/etcd
Jun 16 11:03:59 ubuntu etcd[59170]: member dir = /opt/stack/data/etcd/member
Jun 16 11:03:59 ubuntu etcd[59170]: heartbeat = 100ms
Jun 16 11:03:59 ubuntu etcd[59170]: election = 1000ms
Jun 16 11:03:59 ubuntu etcd[59170]: snapshot count = 100000
Jun 16 11:03:59 ubuntu etcd[59170]: advertise client URLs = http://10.201.9.223:2379
Jun 16 11:03:59 ubuntu etcd[59170]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 16 11:03:59 ubuntu etcd[59170]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 16 11:03:59 ubuntu etcd[59170]: raft2025/06/16 11:03:59 INFO: c25b29daa831042c switched to configuration voters=()
Jun 16 11:03:59 ubuntu etcd[59170]: raft2025/06/16 11:03:59 INFO: c25b29daa831042c became follower at term 0
Jun 16 11:03:59 ubuntu etcd[59170]: raft2025/06/16 11:03:59 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 16 11:03:59 ubuntu etcd[59170]: raft2025/06/16 11:03:59 INFO: c25b29daa831042c became follower at term 1
Jun 16 11:03:59 ubuntu etcd[59170]: raft2025/06/16 11:03:59 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 16 11:03:59 ubuntu etcd[59170]: simple token is not cryptographically signed
Jun 16 11:03:59 ubuntu etcd[59170]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 16 11:03:59 ubuntu etcd[59170]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 16 11:03:59 ubuntu etcd[59170]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 16 11:03:59 ubuntu etcd[59170]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 16 11:03:59 ubuntu etcd[59170]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 16 11:03:59 ubuntu etcd[59170]: raft2025/06/16 11:03:59 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 16 11:03:59 ubuntu etcd[59170]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 16 11:03:59 ubuntu etcd[59170]: listening for peers on [::]:2380
Jun 16 11:04:00 ubuntu etcd[59170]: raft2025/06/16 11:04:00 INFO: c25b29daa831042c is starting a new election at term 1
Jun 16 11:04:00 ubuntu etcd[59170]: raft2025/06/16 11:04:00 INFO: c25b29daa831042c became candidate at term 2
Jun 16 11:04:00 ubuntu etcd[59170]: raft2025/06/16 11:04:00 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 16 11:04:00 ubuntu etcd[59170]: raft2025/06/16 11:04:00 INFO: c25b29daa831042c became leader at term 2
Jun 16 11:04:00 ubuntu etcd[59170]: raft2025/06/16 11:04:00 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 16 11:04:00 ubuntu etcd[59170]: setting up the initial cluster version to 3.4
Jun 16 11:04:00 ubuntu etcd[59170]: set the initial cluster version to 3.4
Jun 16 11:04:00 ubuntu etcd[59170]: enabled capabilities for version 3.4
Jun 16 11:04:00 ubuntu etcd[59170]: ready to serve client requests
Jun 16 11:04:00 ubuntu etcd[59170]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 16 11:04:00 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 16 11:04:00 ubuntu etcd[59170]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 16 11:08:05 ubuntu etcd[59170]: start time = 2025-06-16 11:08:05.454946645 +0000 UTC m=+245.777838506, time spent = 1.917541ms, remote = 10.201.9.223:57736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 16 11:08:05 ubuntu etcd[59170]: start time = 2025-06-16 11:08:05.454946779 +0000 UTC m=+245.777838628, time spent = 2.269755ms, remote = 10.201.9.223:57736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 16 11:08:12 ubuntu etcd[59170]: start time = 2025-06-16 11:08:12.111117757 +0000 UTC m=+252.434009619, time spent = 150.641µs, remote = 10.201.9.223:57736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 16 11:08:14 ubuntu etcd[59170]: start time = 2025-06-16 11:08:14.088420372 +0000 UTC m=+254.411312234, time spent = 236.401µs, remote = 10.201.9.223:57736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
