Mar 22 12:54:44 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 22 12:54:44 ubuntu etcd[60326]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 22 12:54:44 ubuntu etcd[60326]:         A future release of golang/protobuf will delete this package,
Mar 22 12:54:44 ubuntu etcd[60326]:         which has long been excluded from the compatibility promise.
Mar 22 12:54:44 ubuntu etcd[60326]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 22 12:54:44 ubuntu etcd[60326]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 22 12:54:44 ubuntu etcd[60326]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 22 12:54:44 ubuntu etcd[60326]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 22 12:54:44 ubuntu etcd[60326]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 22 12:54:44 ubuntu etcd[60326]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 22 12:54:44 ubuntu etcd[60326]: Running http and grpc server on single port. This is not recommended for production.
Mar 22 12:54:44 ubuntu etcd[60326]: etcd Version: 3.4.27
Mar 22 12:54:44 ubuntu etcd[60326]: Git SHA: c92fb80f3
Mar 22 12:54:44 ubuntu etcd[60326]: Go Version: go1.19.10
Mar 22 12:54:44 ubuntu etcd[60326]: Go OS/Arch: linux/amd64
Mar 22 12:54:44 ubuntu etcd[60326]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 22 12:54:44 ubuntu etcd[60326]: Running http and grpc server on single port. This is not recommended for production.
Mar 22 12:54:44 ubuntu etcd[60326]: name = ubuntu
Mar 22 12:54:44 ubuntu etcd[60326]: data dir = /opt/stack/data/etcd
Mar 22 12:54:44 ubuntu etcd[60326]: member dir = /opt/stack/data/etcd/member
Mar 22 12:54:44 ubuntu etcd[60326]: heartbeat = 100ms
Mar 22 12:54:44 ubuntu etcd[60326]: election = 1000ms
Mar 22 12:54:44 ubuntu etcd[60326]: snapshot count = 100000
Mar 22 12:54:44 ubuntu etcd[60326]: advertise client URLs = http://10.201.4.32:2379
Mar 22 12:54:44 ubuntu etcd[60326]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 22 12:54:44 ubuntu etcd[60326]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 22 12:54:44 ubuntu etcd[60326]: raft2024/03/22 12:54:44 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 22 12:54:44 ubuntu etcd[60326]: raft2024/03/22 12:54:44 INFO: 33238c1cdfea94eb became follower at term 0
Mar 22 12:54:44 ubuntu etcd[60326]: raft2024/03/22 12:54:44 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 22 12:54:44 ubuntu etcd[60326]: raft2024/03/22 12:54:44 INFO: 33238c1cdfea94eb became follower at term 1
Mar 22 12:54:44 ubuntu etcd[60326]: raft2024/03/22 12:54:44 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 22 12:54:44 ubuntu etcd[60326]: simple token is not cryptographically signed
Mar 22 12:54:44 ubuntu etcd[60326]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 22 12:54:44 ubuntu etcd[60326]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 22 12:54:44 ubuntu etcd[60326]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 22 12:54:44 ubuntu etcd[60326]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 22 12:54:44 ubuntu etcd[60326]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 22 12:54:44 ubuntu etcd[60326]: listening for peers on [::]:2380
Mar 22 12:54:44 ubuntu etcd[60326]: raft2024/03/22 12:54:44 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 22 12:54:44 ubuntu etcd[60326]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 22 12:54:44 ubuntu etcd[60326]: raft2024/03/22 12:54:44 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 22 12:54:44 ubuntu etcd[60326]: raft2024/03/22 12:54:44 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 22 12:54:44 ubuntu etcd[60326]: raft2024/03/22 12:54:44 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 22 12:54:44 ubuntu etcd[60326]: raft2024/03/22 12:54:44 INFO: 33238c1cdfea94eb became leader at term 2
Mar 22 12:54:44 ubuntu etcd[60326]: raft2024/03/22 12:54:44 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 22 12:54:44 ubuntu etcd[60326]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 22 12:54:44 ubuntu etcd[60326]: ready to serve client requests
Mar 22 12:54:44 ubuntu etcd[60326]: INFO: 2024/03/22 12:54:44 parsed scheme: ""
Mar 22 12:54:44 ubuntu etcd[60326]: setting up the initial cluster version to 3.4
Mar 22 12:54:44 ubuntu etcd[60326]: INFO: 2024/03/22 12:54:44 scheme "" not registered, fallback to default scheme
Mar 22 12:54:44 ubuntu etcd[60326]: set the initial cluster version to 3.4
Mar 22 12:54:44 ubuntu etcd[60326]: enabled capabilities for version 3.4
Mar 22 12:54:44 ubuntu etcd[60326]: INFO: 2024/03/22 12:54:44 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 22 12:54:44 ubuntu etcd[60326]: INFO: 2024/03/22 12:54:44 ClientConn switching balancer to "pick_first"
Mar 22 12:54:44 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 22 12:54:44 ubuntu etcd[60326]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 22 12:59:09 ubuntu etcd[60326]: start time = 2024-03-22 12:59:09.399238659 +0000 UTC m=+265.386055289, time spent = 522.527µs, remote = 10.201.4.32:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 22 12:59:09 ubuntu etcd[60326]: start time = 2024-03-22 12:59:09.44922721 +0000 UTC m=+265.436043829, time spent = 272.627µs, remote = 10.201.4.32:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 22 12:59:16 ubuntu etcd[60326]: start time = 2024-03-22 12:59:16.048757154 +0000 UTC m=+272.035573774, time spent = 223.096µs, remote = 10.201.4.32:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 22 12:59:18 ubuntu etcd[60326]: start time = 2024-03-22 12:59:18.369392836 +0000 UTC m=+274.356209456, time spent = 157.211µs, remote = 10.201.4.32:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
