Feb 06 20:20:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 06 20:20:37 ubuntu etcd[60052]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 06 20:20:37 ubuntu etcd[60052]:         A future release of golang/protobuf will delete this package,
Feb 06 20:20:37 ubuntu etcd[60052]:         which has long been excluded from the compatibility promise.
Feb 06 20:20:37 ubuntu etcd[60052]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 06 20:20:37 ubuntu etcd[60052]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 06 20:20:37 ubuntu etcd[60052]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 06 20:20:37 ubuntu etcd[60052]: Running http and grpc server on single port. This is not recommended for production.
Feb 06 20:20:37 ubuntu etcd[60052]: etcd Version: 3.4.27
Feb 06 20:20:37 ubuntu etcd[60052]: Git SHA: c92fb80f3
Feb 06 20:20:37 ubuntu etcd[60052]: Go Version: go1.19.10
Feb 06 20:20:37 ubuntu etcd[60052]: Go OS/Arch: linux/amd64
Feb 06 20:20:37 ubuntu etcd[60052]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 06 20:20:37 ubuntu etcd[60052]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 06 20:20:37 ubuntu etcd[60052]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 06 20:20:37 ubuntu etcd[60052]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 06 20:20:37 ubuntu etcd[60052]: Running http and grpc server on single port. This is not recommended for production.
Feb 06 20:20:37 ubuntu etcd[60052]: name = ubuntu
Feb 06 20:20:37 ubuntu etcd[60052]: data dir = /opt/stack/data/etcd
Feb 06 20:20:37 ubuntu etcd[60052]: member dir = /opt/stack/data/etcd/member
Feb 06 20:20:37 ubuntu etcd[60052]: heartbeat = 100ms
Feb 06 20:20:37 ubuntu etcd[60052]: election = 1000ms
Feb 06 20:20:37 ubuntu etcd[60052]: snapshot count = 100000
Feb 06 20:20:37 ubuntu etcd[60052]: advertise client URLs = http://10.201.4.32:2379
Feb 06 20:20:37 ubuntu etcd[60052]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 06 20:20:37 ubuntu etcd[60052]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb became follower at term 0
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb became follower at term 1
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 06 20:20:37 ubuntu etcd[60052]: simple token is not cryptographically signed
Feb 06 20:20:37 ubuntu etcd[60052]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 06 20:20:37 ubuntu etcd[60052]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 06 20:20:37 ubuntu etcd[60052]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 06 20:20:37 ubuntu etcd[60052]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 06 20:20:37 ubuntu etcd[60052]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 06 20:20:37 ubuntu etcd[60052]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 06 20:20:37 ubuntu etcd[60052]: listening for peers on [::]:2380
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb became leader at term 2
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 06 20:20:37 ubuntu etcd[60052]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 06 20:20:37 ubuntu etcd[60052]: setting up the initial cluster version to 3.4
Feb 06 20:20:37 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 06 20:20:37 ubuntu etcd[60052]: ready to serve client requests
Feb 06 20:20:37 ubuntu etcd[60052]: INFO: 2024/02/06 20:20:37 parsed scheme: ""
Feb 06 20:20:37 ubuntu etcd[60052]: INFO: 2024/02/06 20:20:37 scheme "" not registered, fallback to default scheme
Feb 06 20:20:37 ubuntu etcd[60052]: INFO: 2024/02/06 20:20:37 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 06 20:20:37 ubuntu etcd[60052]: INFO: 2024/02/06 20:20:37 ClientConn switching balancer to "pick_first"
Feb 06 20:20:37 ubuntu etcd[60052]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 06 20:20:37 ubuntu etcd[60052]: set the initial cluster version to 3.4
Feb 06 20:20:37 ubuntu etcd[60052]: enabled capabilities for version 3.4
Feb 06 20:24:55 ubuntu etcd[60052]: start time = 2024-02-06 20:24:55.908781911 +0000 UTC m=+258.481593450, time spent = 480.332µs, remote = 10.201.4.32:48228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 06 20:24:55 ubuntu etcd[60052]: start time = 2024-02-06 20:24:55.945190167 +0000 UTC m=+258.518001711, time spent = 209.908µs, remote = 10.201.4.32:48228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 06 20:25:02 ubuntu etcd[60052]: start time = 2024-02-06 20:25:02.447451031 +0000 UTC m=+265.020262581, time spent = 360.444µs, remote = 10.201.4.32:48228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 06 20:25:04 ubuntu etcd[60052]: start time = 2024-02-06 20:25:04.725704724 +0000 UTC m=+267.298516274, time spent = 302.818µs, remote = 10.201.4.32:48228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 06 20:20:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 06 20:20:37 ubuntu etcd[60052]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 06 20:20:37 ubuntu etcd[60052]:         A future release of golang/protobuf will delete this package,
Feb 06 20:20:37 ubuntu etcd[60052]:         which has long been excluded from the compatibility promise.
Feb 06 20:20:37 ubuntu etcd[60052]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 06 20:20:37 ubuntu etcd[60052]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 06 20:20:37 ubuntu etcd[60052]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 06 20:20:37 ubuntu etcd[60052]: Running http and grpc server on single port. This is not recommended for production.
Feb 06 20:20:37 ubuntu etcd[60052]: etcd Version: 3.4.27
Feb 06 20:20:37 ubuntu etcd[60052]: Git SHA: c92fb80f3
Feb 06 20:20:37 ubuntu etcd[60052]: Go Version: go1.19.10
Feb 06 20:20:37 ubuntu etcd[60052]: Go OS/Arch: linux/amd64
Feb 06 20:20:37 ubuntu etcd[60052]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 06 20:20:37 ubuntu etcd[60052]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 06 20:20:37 ubuntu etcd[60052]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 06 20:20:37 ubuntu etcd[60052]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 06 20:20:37 ubuntu etcd[60052]: Running http and grpc server on single port. This is not recommended for production.
Feb 06 20:20:37 ubuntu etcd[60052]: name = ubuntu
Feb 06 20:20:37 ubuntu etcd[60052]: data dir = /opt/stack/data/etcd
Feb 06 20:20:37 ubuntu etcd[60052]: member dir = /opt/stack/data/etcd/member
Feb 06 20:20:37 ubuntu etcd[60052]: heartbeat = 100ms
Feb 06 20:20:37 ubuntu etcd[60052]: election = 1000ms
Feb 06 20:20:37 ubuntu etcd[60052]: snapshot count = 100000
Feb 06 20:20:37 ubuntu etcd[60052]: advertise client URLs = http://10.201.4.32:2379
Feb 06 20:20:37 ubuntu etcd[60052]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 06 20:20:37 ubuntu etcd[60052]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb became follower at term 0
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb became follower at term 1
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 06 20:20:37 ubuntu etcd[60052]: simple token is not cryptographically signed
Feb 06 20:20:37 ubuntu etcd[60052]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 06 20:20:37 ubuntu etcd[60052]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 06 20:20:37 ubuntu etcd[60052]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 06 20:20:37 ubuntu etcd[60052]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 06 20:20:37 ubuntu etcd[60052]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 06 20:20:37 ubuntu etcd[60052]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 06 20:20:37 ubuntu etcd[60052]: listening for peers on [::]:2380
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: 33238c1cdfea94eb became leader at term 2
Feb 06 20:20:37 ubuntu etcd[60052]: raft2024/02/06 20:20:37 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 06 20:20:37 ubuntu etcd[60052]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 06 20:20:37 ubuntu etcd[60052]: setting up the initial cluster version to 3.4
Feb 06 20:20:37 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 06 20:20:37 ubuntu etcd[60052]: ready to serve client requests
Feb 06 20:20:37 ubuntu etcd[60052]: INFO: 2024/02/06 20:20:37 parsed scheme: ""
Feb 06 20:20:37 ubuntu etcd[60052]: INFO: 2024/02/06 20:20:37 scheme "" not registered, fallback to default scheme
Feb 06 20:20:37 ubuntu etcd[60052]: INFO: 2024/02/06 20:20:37 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 06 20:20:37 ubuntu etcd[60052]: INFO: 2024/02/06 20:20:37 ClientConn switching balancer to "pick_first"
Feb 06 20:20:37 ubuntu etcd[60052]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 06 20:20:37 ubuntu etcd[60052]: set the initial cluster version to 3.4
Feb 06 20:20:37 ubuntu etcd[60052]: enabled capabilities for version 3.4
Feb 06 20:24:55 ubuntu etcd[60052]: start time = 2024-02-06 20:24:55.908781911 +0000 UTC m=+258.481593450, time spent = 480.332µs, remote = 10.201.4.32:48228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 06 20:24:55 ubuntu etcd[60052]: start time = 2024-02-06 20:24:55.945190167 +0000 UTC m=+258.518001711, time spent = 209.908µs, remote = 10.201.4.32:48228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 06 20:25:02 ubuntu etcd[60052]: start time = 2024-02-06 20:25:02.447451031 +0000 UTC m=+265.020262581, time spent = 360.444µs, remote = 10.201.4.32:48228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 06 20:25:04 ubuntu etcd[60052]: start time = 2024-02-06 20:25:04.725704724 +0000 UTC m=+267.298516274, time spent = 302.818µs, remote = 10.201.4.32:48228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
