May 07 11:22:56 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 07 11:22:56 ubuntu etcd[58234]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 07 11:22:56 ubuntu etcd[58234]:         A future release of golang/protobuf will delete this package,
May 07 11:22:56 ubuntu etcd[58234]:         which has long been excluded from the compatibility promise.
May 07 11:22:56 ubuntu etcd[58234]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 07 11:22:56 ubuntu etcd[58234]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 07 11:22:56 ubuntu etcd[58234]: Running http and grpc server on single port. This is not recommended for production.
May 07 11:22:56 ubuntu etcd[58234]: etcd Version: 3.4.27
May 07 11:22:56 ubuntu etcd[58234]: Git SHA: c92fb80f3
May 07 11:22:56 ubuntu etcd[58234]: Go Version: go1.19.10
May 07 11:22:56 ubuntu etcd[58234]: Go OS/Arch: linux/amd64
May 07 11:22:56 ubuntu etcd[58234]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 07 11:22:56 ubuntu etcd[58234]: Running http and grpc server on single port. This is not recommended for production.
May 07 11:22:56 ubuntu etcd[58234]: name = ubuntu
May 07 11:22:56 ubuntu etcd[58234]: data dir = /opt/stack/data/etcd
May 07 11:22:56 ubuntu etcd[58234]: member dir = /opt/stack/data/etcd/member
May 07 11:22:56 ubuntu etcd[58234]: heartbeat = 100ms
May 07 11:22:56 ubuntu etcd[58234]: election = 1000ms
May 07 11:22:56 ubuntu etcd[58234]: snapshot count = 100000
May 07 11:22:56 ubuntu etcd[58234]: advertise client URLs = http://10.201.9.223:2379
May 07 11:22:56 ubuntu etcd[58234]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 07 11:22:56 ubuntu etcd[58234]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 07 11:22:56 ubuntu etcd[58234]: raft2025/05/07 11:22:56 INFO: c25b29daa831042c switched to configuration voters=()
May 07 11:22:56 ubuntu etcd[58234]: raft2025/05/07 11:22:56 INFO: c25b29daa831042c became follower at term 0
May 07 11:22:56 ubuntu etcd[58234]: raft2025/05/07 11:22:56 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 07 11:22:56 ubuntu etcd[58234]: raft2025/05/07 11:22:56 INFO: c25b29daa831042c became follower at term 1
May 07 11:22:56 ubuntu etcd[58234]: raft2025/05/07 11:22:56 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 07 11:22:56 ubuntu etcd[58234]: simple token is not cryptographically signed
May 07 11:22:56 ubuntu etcd[58234]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 07 11:22:56 ubuntu etcd[58234]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 07 11:22:56 ubuntu etcd[58234]: raft2025/05/07 11:22:56 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 07 11:22:56 ubuntu etcd[58234]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 07 11:22:56 ubuntu etcd[58234]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 07 11:22:56 ubuntu etcd[58234]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 07 11:22:56 ubuntu etcd[58234]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 07 11:22:56 ubuntu etcd[58234]: listening for peers on [::]:2380
May 07 11:22:56 ubuntu etcd[58234]: raft2025/05/07 11:22:56 INFO: c25b29daa831042c is starting a new election at term 1
May 07 11:22:56 ubuntu etcd[58234]: raft2025/05/07 11:22:56 INFO: c25b29daa831042c became candidate at term 2
May 07 11:22:56 ubuntu etcd[58234]: raft2025/05/07 11:22:56 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 07 11:22:56 ubuntu etcd[58234]: raft2025/05/07 11:22:56 INFO: c25b29daa831042c became leader at term 2
May 07 11:22:56 ubuntu etcd[58234]: raft2025/05/07 11:22:56 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 07 11:22:56 ubuntu etcd[58234]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 07 11:22:56 ubuntu etcd[58234]: setting up the initial cluster version to 3.4
May 07 11:22:56 ubuntu etcd[58234]: ready to serve client requests
May 07 11:22:56 ubuntu etcd[58234]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 07 11:22:56 ubuntu etcd[58234]: set the initial cluster version to 3.4
May 07 11:22:56 ubuntu etcd[58234]: enabled capabilities for version 3.4
May 07 11:22:56 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 07 11:27:06 ubuntu etcd[58234]: start time = 2025-05-07 11:27:06.888738769 +0000 UTC m=+250.541756990, time spent = 272.57µs, remote = 10.201.9.223:41496, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 07 11:27:06 ubuntu etcd[58234]: start time = 2025-05-07 11:27:06.888547543 +0000 UTC m=+250.541565751, time spent = 576.121µs, remote = 10.201.9.223:41496, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 07 11:27:13 ubuntu etcd[58234]: start time = 2025-05-07 11:27:13.357069709 +0000 UTC m=+257.010087918, time spent = 234.349µs, remote = 10.201.9.223:41496, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 07 11:27:15 ubuntu etcd[58234]: start time = 2025-05-07 11:27:15.488597628 +0000 UTC m=+259.141615854, time spent = 1.664314ms, remote = 10.201.9.223:41496, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
