Jun 10 09:23:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 10 09:23:30 ubuntu etcd[58914]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 10 09:23:30 ubuntu etcd[58914]:         A future release of golang/protobuf will delete this package,
Jun 10 09:23:30 ubuntu etcd[58914]:         which has long been excluded from the compatibility promise.
Jun 10 09:23:30 ubuntu etcd[58914]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 10 09:23:30 ubuntu etcd[58914]: Running http and grpc server on single port. This is not recommended for production.
Jun 10 09:23:30 ubuntu etcd[58914]: etcd Version: 3.4.27
Jun 10 09:23:30 ubuntu etcd[58914]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 10 09:23:30 ubuntu etcd[58914]: Git SHA: c92fb80f3
Jun 10 09:23:30 ubuntu etcd[58914]: Go Version: go1.19.10
Jun 10 09:23:30 ubuntu etcd[58914]: Go OS/Arch: linux/amd64
Jun 10 09:23:30 ubuntu etcd[58914]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 10 09:23:30 ubuntu etcd[58914]: Running http and grpc server on single port. This is not recommended for production.
Jun 10 09:23:30 ubuntu etcd[58914]: name = ubuntu
Jun 10 09:23:30 ubuntu etcd[58914]: data dir = /opt/stack/data/etcd
Jun 10 09:23:30 ubuntu etcd[58914]: member dir = /opt/stack/data/etcd/member
Jun 10 09:23:30 ubuntu etcd[58914]: heartbeat = 100ms
Jun 10 09:23:30 ubuntu etcd[58914]: election = 1000ms
Jun 10 09:23:30 ubuntu etcd[58914]: snapshot count = 100000
Jun 10 09:23:30 ubuntu etcd[58914]: advertise client URLs = http://10.201.9.223:2379
Jun 10 09:23:30 ubuntu etcd[58914]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 10 09:23:30 ubuntu etcd[58914]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 10 09:23:30 ubuntu etcd[58914]: raft2025/06/10 09:23:30 INFO: c25b29daa831042c switched to configuration voters=()
Jun 10 09:23:30 ubuntu etcd[58914]: raft2025/06/10 09:23:30 INFO: c25b29daa831042c became follower at term 0
Jun 10 09:23:30 ubuntu etcd[58914]: raft2025/06/10 09:23:30 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 10 09:23:30 ubuntu etcd[58914]: raft2025/06/10 09:23:30 INFO: c25b29daa831042c became follower at term 1
Jun 10 09:23:30 ubuntu etcd[58914]: raft2025/06/10 09:23:30 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 10 09:23:30 ubuntu etcd[58914]: simple token is not cryptographically signed
Jun 10 09:23:30 ubuntu etcd[58914]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 10 09:23:30 ubuntu etcd[58914]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 10 09:23:30 ubuntu etcd[58914]: raft2025/06/10 09:23:30 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 10 09:23:30 ubuntu etcd[58914]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 10 09:23:30 ubuntu etcd[58914]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 10 09:23:30 ubuntu etcd[58914]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 10 09:23:30 ubuntu etcd[58914]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 10 09:23:30 ubuntu etcd[58914]: listening for peers on [::]:2380
Jun 10 09:23:30 ubuntu etcd[58914]: raft2025/06/10 09:23:30 INFO: c25b29daa831042c is starting a new election at term 1
Jun 10 09:23:30 ubuntu etcd[58914]: raft2025/06/10 09:23:30 INFO: c25b29daa831042c became candidate at term 2
Jun 10 09:23:30 ubuntu etcd[58914]: raft2025/06/10 09:23:30 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 10 09:23:30 ubuntu etcd[58914]: raft2025/06/10 09:23:30 INFO: c25b29daa831042c became leader at term 2
Jun 10 09:23:30 ubuntu etcd[58914]: raft2025/06/10 09:23:30 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 10 09:23:30 ubuntu etcd[58914]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 10 09:23:30 ubuntu etcd[58914]: ready to serve client requests
Jun 10 09:23:30 ubuntu etcd[58914]: setting up the initial cluster version to 3.4
Jun 10 09:23:30 ubuntu etcd[58914]: set the initial cluster version to 3.4
Jun 10 09:23:30 ubuntu etcd[58914]: enabled capabilities for version 3.4
Jun 10 09:23:30 ubuntu etcd[58914]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 10 09:23:30 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 10 09:27:35 ubuntu etcd[58914]: start time = 2025-06-10 09:27:35.304771831 +0000 UTC m=+244.682725378, time spent = 379.129µs, remote = 10.201.9.223:54862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 10 09:27:35 ubuntu etcd[58914]: start time = 2025-06-10 09:27:35.333284988 +0000 UTC m=+244.711238556, time spent = 290.745µs, remote = 10.201.9.223:54862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 10 09:27:41 ubuntu etcd[58914]: start time = 2025-06-10 09:27:41.639977083 +0000 UTC m=+251.017930631, time spent = 204.052µs, remote = 10.201.9.223:54862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 10 09:27:43 ubuntu etcd[58914]: start time = 2025-06-10 09:27:43.973236144 +0000 UTC m=+253.351189692, time spent = 182.51µs, remote = 10.201.9.223:54862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
