Jan 26 02:15:34 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 26 02:15:34 ubuntu etcd[60070]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 26 02:15:34 ubuntu etcd[60070]:         A future release of golang/protobuf will delete this package,
Jan 26 02:15:34 ubuntu etcd[60070]:         which has long been excluded from the compatibility promise.
Jan 26 02:15:34 ubuntu etcd[60070]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 26 02:15:34 ubuntu etcd[60070]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 26 02:15:34 ubuntu etcd[60070]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 26 02:15:34 ubuntu etcd[60070]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 26 02:15:34 ubuntu etcd[60070]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 26 02:15:34 ubuntu etcd[60070]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 26 02:15:34 ubuntu etcd[60070]: Running http and grpc server on single port. This is not recommended for production.
Jan 26 02:15:34 ubuntu etcd[60070]: etcd Version: 3.4.27
Jan 26 02:15:34 ubuntu etcd[60070]: Git SHA: c92fb80f3
Jan 26 02:15:34 ubuntu etcd[60070]: Go Version: go1.19.10
Jan 26 02:15:34 ubuntu etcd[60070]: Go OS/Arch: linux/amd64
Jan 26 02:15:34 ubuntu etcd[60070]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 26 02:15:34 ubuntu etcd[60070]: Running http and grpc server on single port. This is not recommended for production.
Jan 26 02:15:34 ubuntu etcd[60070]: name = ubuntu
Jan 26 02:15:34 ubuntu etcd[60070]: data dir = /opt/stack/data/etcd
Jan 26 02:15:34 ubuntu etcd[60070]: member dir = /opt/stack/data/etcd/member
Jan 26 02:15:34 ubuntu etcd[60070]: heartbeat = 100ms
Jan 26 02:15:34 ubuntu etcd[60070]: election = 1000ms
Jan 26 02:15:34 ubuntu etcd[60070]: snapshot count = 100000
Jan 26 02:15:34 ubuntu etcd[60070]: advertise client URLs = http://10.201.4.32:2379
Jan 26 02:15:34 ubuntu etcd[60070]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 26 02:15:34 ubuntu etcd[60070]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 26 02:15:34 ubuntu etcd[60070]: raft2024/01/26 02:15:34 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 26 02:15:34 ubuntu etcd[60070]: raft2024/01/26 02:15:34 INFO: 33238c1cdfea94eb became follower at term 0
Jan 26 02:15:34 ubuntu etcd[60070]: raft2024/01/26 02:15:34 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 26 02:15:34 ubuntu etcd[60070]: raft2024/01/26 02:15:34 INFO: 33238c1cdfea94eb became follower at term 1
Jan 26 02:15:34 ubuntu etcd[60070]: raft2024/01/26 02:15:34 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 26 02:15:34 ubuntu etcd[60070]: simple token is not cryptographically signed
Jan 26 02:15:34 ubuntu etcd[60070]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 26 02:15:34 ubuntu etcd[60070]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 26 02:15:34 ubuntu etcd[60070]: raft2024/01/26 02:15:34 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 26 02:15:34 ubuntu etcd[60070]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 26 02:15:34 ubuntu etcd[60070]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 26 02:15:34 ubuntu etcd[60070]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 26 02:15:34 ubuntu etcd[60070]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 26 02:15:34 ubuntu etcd[60070]: listening for peers on [::]:2380
Jan 26 02:15:35 ubuntu etcd[60070]: raft2024/01/26 02:15:35 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 26 02:15:35 ubuntu etcd[60070]: raft2024/01/26 02:15:35 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 26 02:15:35 ubuntu etcd[60070]: raft2024/01/26 02:15:35 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 26 02:15:35 ubuntu etcd[60070]: raft2024/01/26 02:15:35 INFO: 33238c1cdfea94eb became leader at term 2
Jan 26 02:15:35 ubuntu etcd[60070]: raft2024/01/26 02:15:35 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 26 02:15:35 ubuntu etcd[60070]: setting up the initial cluster version to 3.4
Jan 26 02:15:35 ubuntu etcd[60070]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 26 02:15:35 ubuntu etcd[60070]: set the initial cluster version to 3.4
Jan 26 02:15:35 ubuntu etcd[60070]: enabled capabilities for version 3.4
Jan 26 02:15:35 ubuntu etcd[60070]: INFO: 2024/01/26 02:15:35 parsed scheme: ""
Jan 26 02:15:35 ubuntu etcd[60070]: INFO: 2024/01/26 02:15:35 scheme "" not registered, fallback to default scheme
Jan 26 02:15:35 ubuntu etcd[60070]: ready to serve client requests
Jan 26 02:15:35 ubuntu etcd[60070]: INFO: 2024/01/26 02:15:35 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 26 02:15:35 ubuntu etcd[60070]: INFO: 2024/01/26 02:15:35 ClientConn switching balancer to "pick_first"
Jan 26 02:15:35 ubuntu etcd[60070]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 26 02:15:35 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 26 02:19:57 ubuntu etcd[60070]: start time = 2024-01-26 02:19:57.651062036 +0000 UTC m=+263.183692772, time spent = 648.34µs, remote = 10.201.4.32:43970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 26 02:19:57 ubuntu etcd[60070]: start time = 2024-01-26 02:19:57.731119849 +0000 UTC m=+263.263750583, time spent = 302.443µs, remote = 10.201.4.32:43970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 26 02:20:04 ubuntu etcd[60070]: start time = 2024-01-26 02:20:04.187758857 +0000 UTC m=+269.720389604, time spent = 238.439µs, remote = 10.201.4.32:43970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 26 02:20:06 ubuntu etcd[60070]: start time = 2024-01-26 02:20:06.470459986 +0000 UTC m=+272.003090732, time spent = 205.552µs, remote = 10.201.4.32:43970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 26 02:15:34 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 26 02:15:34 ubuntu etcd[60070]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 26 02:15:34 ubuntu etcd[60070]:         A future release of golang/protobuf will delete this package,
Jan 26 02:15:34 ubuntu etcd[60070]:         which has long been excluded from the compatibility promise.
Jan 26 02:15:34 ubuntu etcd[60070]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 26 02:15:34 ubuntu etcd[60070]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 26 02:15:34 ubuntu etcd[60070]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 26 02:15:34 ubuntu etcd[60070]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 26 02:15:34 ubuntu etcd[60070]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 26 02:15:34 ubuntu etcd[60070]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 26 02:15:34 ubuntu etcd[60070]: Running http and grpc server on single port. This is not recommended for production.
Jan 26 02:15:34 ubuntu etcd[60070]: etcd Version: 3.4.27
Jan 26 02:15:34 ubuntu etcd[60070]: Git SHA: c92fb80f3
Jan 26 02:15:34 ubuntu etcd[60070]: Go Version: go1.19.10
Jan 26 02:15:34 ubuntu etcd[60070]: Go OS/Arch: linux/amd64
Jan 26 02:15:34 ubuntu etcd[60070]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 26 02:15:34 ubuntu etcd[60070]: Running http and grpc server on single port. This is not recommended for production.
Jan 26 02:15:34 ubuntu etcd[60070]: name = ubuntu
Jan 26 02:15:34 ubuntu etcd[60070]: data dir = /opt/stack/data/etcd
Jan 26 02:15:34 ubuntu etcd[60070]: member dir = /opt/stack/data/etcd/member
Jan 26 02:15:34 ubuntu etcd[60070]: heartbeat = 100ms
Jan 26 02:15:34 ubuntu etcd[60070]: election = 1000ms
Jan 26 02:15:34 ubuntu etcd[60070]: snapshot count = 100000
Jan 26 02:15:34 ubuntu etcd[60070]: advertise client URLs = http://10.201.4.32:2379
Jan 26 02:15:34 ubuntu etcd[60070]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 26 02:15:34 ubuntu etcd[60070]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 26 02:15:34 ubuntu etcd[60070]: raft2024/01/26 02:15:34 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 26 02:15:34 ubuntu etcd[60070]: raft2024/01/26 02:15:34 INFO: 33238c1cdfea94eb became follower at term 0
Jan 26 02:15:34 ubuntu etcd[60070]: raft2024/01/26 02:15:34 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 26 02:15:34 ubuntu etcd[60070]: raft2024/01/26 02:15:34 INFO: 33238c1cdfea94eb became follower at term 1
Jan 26 02:15:34 ubuntu etcd[60070]: raft2024/01/26 02:15:34 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 26 02:15:34 ubuntu etcd[60070]: simple token is not cryptographically signed
Jan 26 02:15:34 ubuntu etcd[60070]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 26 02:15:34 ubuntu etcd[60070]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 26 02:15:34 ubuntu etcd[60070]: raft2024/01/26 02:15:34 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 26 02:15:34 ubuntu etcd[60070]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 26 02:15:34 ubuntu etcd[60070]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 26 02:15:34 ubuntu etcd[60070]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 26 02:15:34 ubuntu etcd[60070]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 26 02:15:34 ubuntu etcd[60070]: listening for peers on [::]:2380
Jan 26 02:15:35 ubuntu etcd[60070]: raft2024/01/26 02:15:35 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 26 02:15:35 ubuntu etcd[60070]: raft2024/01/26 02:15:35 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 26 02:15:35 ubuntu etcd[60070]: raft2024/01/26 02:15:35 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 26 02:15:35 ubuntu etcd[60070]: raft2024/01/26 02:15:35 INFO: 33238c1cdfea94eb became leader at term 2
Jan 26 02:15:35 ubuntu etcd[60070]: raft2024/01/26 02:15:35 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 26 02:15:35 ubuntu etcd[60070]: setting up the initial cluster version to 3.4
Jan 26 02:15:35 ubuntu etcd[60070]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 26 02:15:35 ubuntu etcd[60070]: set the initial cluster version to 3.4
Jan 26 02:15:35 ubuntu etcd[60070]: enabled capabilities for version 3.4
Jan 26 02:15:35 ubuntu etcd[60070]: INFO: 2024/01/26 02:15:35 parsed scheme: ""
Jan 26 02:15:35 ubuntu etcd[60070]: INFO: 2024/01/26 02:15:35 scheme "" not registered, fallback to default scheme
Jan 26 02:15:35 ubuntu etcd[60070]: ready to serve client requests
Jan 26 02:15:35 ubuntu etcd[60070]: INFO: 2024/01/26 02:15:35 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 26 02:15:35 ubuntu etcd[60070]: INFO: 2024/01/26 02:15:35 ClientConn switching balancer to "pick_first"
Jan 26 02:15:35 ubuntu etcd[60070]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 26 02:15:35 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 26 02:19:57 ubuntu etcd[60070]: start time = 2024-01-26 02:19:57.651062036 +0000 UTC m=+263.183692772, time spent = 648.34µs, remote = 10.201.4.32:43970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 26 02:19:57 ubuntu etcd[60070]: start time = 2024-01-26 02:19:57.731119849 +0000 UTC m=+263.263750583, time spent = 302.443µs, remote = 10.201.4.32:43970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 26 02:20:04 ubuntu etcd[60070]: start time = 2024-01-26 02:20:04.187758857 +0000 UTC m=+269.720389604, time spent = 238.439µs, remote = 10.201.4.32:43970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 26 02:20:06 ubuntu etcd[60070]: start time = 2024-01-26 02:20:06.470459986 +0000 UTC m=+272.003090732, time spent = 205.552µs, remote = 10.201.4.32:43970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
