May 22 14:37:06 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 22 14:37:06 ubuntu etcd[58068]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 22 14:37:06 ubuntu etcd[58068]:         A future release of golang/protobuf will delete this package,
May 22 14:37:06 ubuntu etcd[58068]:         which has long been excluded from the compatibility promise.
May 22 14:37:06 ubuntu etcd[58068]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 22 14:37:06 ubuntu etcd[58068]: Running http and grpc server on single port. This is not recommended for production.
May 22 14:37:06 ubuntu etcd[58068]: etcd Version: 3.4.27
May 22 14:37:06 ubuntu etcd[58068]: Git SHA: c92fb80f3
May 22 14:37:06 ubuntu etcd[58068]: Go Version: go1.19.10
May 22 14:37:06 ubuntu etcd[58068]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 22 14:37:06 ubuntu etcd[58068]: Go OS/Arch: linux/amd64
May 22 14:37:06 ubuntu etcd[58068]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 22 14:37:06 ubuntu etcd[58068]: Running http and grpc server on single port. This is not recommended for production.
May 22 14:37:06 ubuntu etcd[58068]: name = ubuntu
May 22 14:37:06 ubuntu etcd[58068]: data dir = /opt/stack/data/etcd
May 22 14:37:06 ubuntu etcd[58068]: member dir = /opt/stack/data/etcd/member
May 22 14:37:06 ubuntu etcd[58068]: heartbeat = 100ms
May 22 14:37:06 ubuntu etcd[58068]: election = 1000ms
May 22 14:37:06 ubuntu etcd[58068]: snapshot count = 100000
May 22 14:37:06 ubuntu etcd[58068]: advertise client URLs = http://10.201.9.223:2379
May 22 14:37:06 ubuntu etcd[58068]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 22 14:37:06 ubuntu etcd[58068]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 22 14:37:06 ubuntu etcd[58068]: raft2025/05/22 14:37:06 INFO: c25b29daa831042c switched to configuration voters=()
May 22 14:37:06 ubuntu etcd[58068]: raft2025/05/22 14:37:06 INFO: c25b29daa831042c became follower at term 0
May 22 14:37:06 ubuntu etcd[58068]: raft2025/05/22 14:37:06 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 22 14:37:06 ubuntu etcd[58068]: raft2025/05/22 14:37:06 INFO: c25b29daa831042c became follower at term 1
May 22 14:37:06 ubuntu etcd[58068]: raft2025/05/22 14:37:06 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 22 14:37:06 ubuntu etcd[58068]: simple token is not cryptographically signed
May 22 14:37:06 ubuntu etcd[58068]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 22 14:37:06 ubuntu etcd[58068]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 22 14:37:06 ubuntu etcd[58068]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 22 14:37:06 ubuntu etcd[58068]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 22 14:37:06 ubuntu etcd[58068]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 22 14:37:06 ubuntu etcd[58068]: raft2025/05/22 14:37:06 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 22 14:37:06 ubuntu etcd[58068]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 22 14:37:06 ubuntu etcd[58068]: listening for peers on [::]:2380
May 22 14:37:07 ubuntu etcd[58068]: raft2025/05/22 14:37:07 INFO: c25b29daa831042c is starting a new election at term 1
May 22 14:37:07 ubuntu etcd[58068]: raft2025/05/22 14:37:07 INFO: c25b29daa831042c became candidate at term 2
May 22 14:37:07 ubuntu etcd[58068]: raft2025/05/22 14:37:07 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 22 14:37:07 ubuntu etcd[58068]: raft2025/05/22 14:37:07 INFO: c25b29daa831042c became leader at term 2
May 22 14:37:07 ubuntu etcd[58068]: raft2025/05/22 14:37:07 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 22 14:37:07 ubuntu etcd[58068]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 22 14:37:07 ubuntu etcd[58068]: ready to serve client requests
May 22 14:37:07 ubuntu etcd[58068]: setting up the initial cluster version to 3.4
May 22 14:37:07 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 22 14:37:07 ubuntu etcd[58068]: set the initial cluster version to 3.4
May 22 14:37:07 ubuntu etcd[58068]: enabled capabilities for version 3.4
May 22 14:37:07 ubuntu etcd[58068]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 22 14:41:13 ubuntu etcd[58068]: start time = 2025-05-22 14:41:13.028463981 +0000 UTC m=+246.788444418, time spent = 413.69µs, remote = 10.201.9.223:52828, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 14:41:13 ubuntu etcd[58068]: start time = 2025-05-22 14:41:13.035437983 +0000 UTC m=+246.795418420, time spent = 154.6µs, remote = 10.201.9.223:52828, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 14:41:19 ubuntu etcd[58068]: start time = 2025-05-22 14:41:19.72552641 +0000 UTC m=+253.485506851, time spent = 307.351µs, remote = 10.201.9.223:52828, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 14:41:22 ubuntu etcd[58068]: start time = 2025-05-22 14:41:22.170650875 +0000 UTC m=+255.930631321, time spent = 389.499µs, remote = 10.201.9.223:52828, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
