Dec 26 10:01:10 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 26 10:01:10 ubuntu etcd[59131]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 26 10:01:10 ubuntu etcd[59131]:         A future release of golang/protobuf will delete this package,
Dec 26 10:01:10 ubuntu etcd[59131]:         which has long been excluded from the compatibility promise.
Dec 26 10:01:10 ubuntu etcd[59131]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 26 10:01:10 ubuntu etcd[59131]: Running http and grpc server on single port. This is not recommended for production.
Dec 26 10:01:10 ubuntu etcd[59131]: etcd Version: 3.4.27
Dec 26 10:01:10 ubuntu etcd[59131]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 26 10:01:10 ubuntu etcd[59131]: Git SHA: c92fb80f3
Dec 26 10:01:10 ubuntu etcd[59131]: Go Version: go1.19.10
Dec 26 10:01:10 ubuntu etcd[59131]: Go OS/Arch: linux/amd64
Dec 26 10:01:10 ubuntu etcd[59131]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 26 10:01:10 ubuntu etcd[59131]: Running http and grpc server on single port. This is not recommended for production.
Dec 26 10:01:10 ubuntu etcd[59131]: name = ubuntu
Dec 26 10:01:10 ubuntu etcd[59131]: data dir = /opt/stack/data/etcd
Dec 26 10:01:10 ubuntu etcd[59131]: member dir = /opt/stack/data/etcd/member
Dec 26 10:01:10 ubuntu etcd[59131]: heartbeat = 100ms
Dec 26 10:01:10 ubuntu etcd[59131]: election = 1000ms
Dec 26 10:01:10 ubuntu etcd[59131]: snapshot count = 100000
Dec 26 10:01:10 ubuntu etcd[59131]: advertise client URLs = http://10.201.9.223:2379
Dec 26 10:01:10 ubuntu etcd[59131]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 26 10:01:10 ubuntu etcd[59131]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 26 10:01:10 ubuntu etcd[59131]: raft2024/12/26 10:01:10 INFO: c25b29daa831042c switched to configuration voters=()
Dec 26 10:01:10 ubuntu etcd[59131]: raft2024/12/26 10:01:10 INFO: c25b29daa831042c became follower at term 0
Dec 26 10:01:10 ubuntu etcd[59131]: raft2024/12/26 10:01:10 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 26 10:01:10 ubuntu etcd[59131]: raft2024/12/26 10:01:10 INFO: c25b29daa831042c became follower at term 1
Dec 26 10:01:10 ubuntu etcd[59131]: raft2024/12/26 10:01:10 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 26 10:01:10 ubuntu etcd[59131]: simple token is not cryptographically signed
Dec 26 10:01:10 ubuntu etcd[59131]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 26 10:01:10 ubuntu etcd[59131]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 26 10:01:10 ubuntu etcd[59131]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 26 10:01:10 ubuntu etcd[59131]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 26 10:01:10 ubuntu etcd[59131]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 26 10:01:10 ubuntu etcd[59131]: raft2024/12/26 10:01:10 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 26 10:01:10 ubuntu etcd[59131]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 26 10:01:10 ubuntu etcd[59131]: listening for peers on [::]:2380
Dec 26 10:01:11 ubuntu etcd[59131]: raft2024/12/26 10:01:11 INFO: c25b29daa831042c is starting a new election at term 1
Dec 26 10:01:11 ubuntu etcd[59131]: raft2024/12/26 10:01:11 INFO: c25b29daa831042c became candidate at term 2
Dec 26 10:01:11 ubuntu etcd[59131]: raft2024/12/26 10:01:11 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 26 10:01:11 ubuntu etcd[59131]: raft2024/12/26 10:01:11 INFO: c25b29daa831042c became leader at term 2
Dec 26 10:01:11 ubuntu etcd[59131]: raft2024/12/26 10:01:11 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 26 10:01:11 ubuntu etcd[59131]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 26 10:01:11 ubuntu etcd[59131]: ready to serve client requests
Dec 26 10:01:11 ubuntu etcd[59131]: setting up the initial cluster version to 3.4
Dec 26 10:01:11 ubuntu etcd[59131]: set the initial cluster version to 3.4
Dec 26 10:01:11 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 26 10:01:11 ubuntu etcd[59131]: enabled capabilities for version 3.4
Dec 26 10:01:11 ubuntu etcd[59131]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 26 10:05:27 ubuntu etcd[59131]: start time = 2024-12-26 10:05:27.354205978 +0000 UTC m=+256.937507033, time spent = 375.805µs, remote = 10.201.9.223:43232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 10:05:27 ubuntu etcd[59131]: start time = 2024-12-26 10:05:27.360881341 +0000 UTC m=+256.944182410, time spent = 220.236µs, remote = 10.201.9.223:43232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 10:05:33 ubuntu etcd[59131]: start time = 2024-12-26 10:05:33.876476468 +0000 UTC m=+263.459777524, time spent = 182.554µs, remote = 10.201.9.223:43232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 10:05:36 ubuntu etcd[59131]: start time = 2024-12-26 10:05:36.009458447 +0000 UTC m=+265.592759518, time spent = 329.408µs, remote = 10.201.9.223:43232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
