Dec 20 18:18:17 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 20 18:18:17 ubuntu etcd[59384]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 20 18:18:17 ubuntu etcd[59384]:         A future release of golang/protobuf will delete this package,
Dec 20 18:18:17 ubuntu etcd[59384]:         which has long been excluded from the compatibility promise.
Dec 20 18:18:17 ubuntu etcd[59384]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 20 18:18:17 ubuntu etcd[59384]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 20 18:18:17 ubuntu etcd[59384]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 20 18:18:17 ubuntu etcd[59384]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 20 18:18:17 ubuntu etcd[59384]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 20 18:18:17 ubuntu etcd[59384]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 20 18:18:17 ubuntu etcd[59384]: Running http and grpc server on single port. This is not recommended for production.
Dec 20 18:18:17 ubuntu etcd[59384]: etcd Version: 3.4.27
Dec 20 18:18:17 ubuntu etcd[59384]: Git SHA: c92fb80f3
Dec 20 18:18:17 ubuntu etcd[59384]: Go Version: go1.19.10
Dec 20 18:18:17 ubuntu etcd[59384]: Go OS/Arch: linux/amd64
Dec 20 18:18:17 ubuntu etcd[59384]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 20 18:18:17 ubuntu etcd[59384]: Running http and grpc server on single port. This is not recommended for production.
Dec 20 18:18:17 ubuntu etcd[59384]: name = ubuntu
Dec 20 18:18:17 ubuntu etcd[59384]: data dir = /opt/stack/data/etcd
Dec 20 18:18:17 ubuntu etcd[59384]: member dir = /opt/stack/data/etcd/member
Dec 20 18:18:17 ubuntu etcd[59384]: heartbeat = 100ms
Dec 20 18:18:17 ubuntu etcd[59384]: election = 1000ms
Dec 20 18:18:17 ubuntu etcd[59384]: snapshot count = 100000
Dec 20 18:18:17 ubuntu etcd[59384]: advertise client URLs = http://10.201.4.32:2379
Dec 20 18:18:17 ubuntu etcd[59384]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 20 18:18:17 ubuntu etcd[59384]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 20 18:18:17 ubuntu etcd[59384]: raft2023/12/20 18:18:17 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 20 18:18:17 ubuntu etcd[59384]: raft2023/12/20 18:18:17 INFO: 33238c1cdfea94eb became follower at term 0
Dec 20 18:18:17 ubuntu etcd[59384]: raft2023/12/20 18:18:17 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 20 18:18:17 ubuntu etcd[59384]: raft2023/12/20 18:18:17 INFO: 33238c1cdfea94eb became follower at term 1
Dec 20 18:18:17 ubuntu etcd[59384]: raft2023/12/20 18:18:17 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 20 18:18:17 ubuntu etcd[59384]: simple token is not cryptographically signed
Dec 20 18:18:17 ubuntu etcd[59384]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 20 18:18:17 ubuntu etcd[59384]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 20 18:18:17 ubuntu etcd[59384]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 20 18:18:17 ubuntu etcd[59384]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 20 18:18:17 ubuntu etcd[59384]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 20 18:18:17 ubuntu etcd[59384]: raft2023/12/20 18:18:17 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 20 18:18:17 ubuntu etcd[59384]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 20 18:18:17 ubuntu etcd[59384]: listening for peers on [::]:2380
Dec 20 18:18:17 ubuntu etcd[59384]: raft2023/12/20 18:18:17 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 20 18:18:17 ubuntu etcd[59384]: raft2023/12/20 18:18:17 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 20 18:18:17 ubuntu etcd[59384]: raft2023/12/20 18:18:17 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 20 18:18:17 ubuntu etcd[59384]: raft2023/12/20 18:18:17 INFO: 33238c1cdfea94eb became leader at term 2
Dec 20 18:18:17 ubuntu etcd[59384]: raft2023/12/20 18:18:17 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 20 18:18:17 ubuntu etcd[59384]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 20 18:18:17 ubuntu etcd[59384]: setting up the initial cluster version to 3.4
Dec 20 18:18:17 ubuntu etcd[59384]: INFO: 2023/12/20 18:18:17 parsed scheme: ""
Dec 20 18:18:17 ubuntu etcd[59384]: INFO: 2023/12/20 18:18:17 scheme "" not registered, fallback to default scheme
Dec 20 18:18:17 ubuntu etcd[59384]: INFO: 2023/12/20 18:18:17 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Dec 20 18:18:17 ubuntu etcd[59384]: INFO: 2023/12/20 18:18:17 ClientConn switching balancer to "pick_first"
Dec 20 18:18:17 ubuntu etcd[59384]: ready to serve client requests
Dec 20 18:18:17 ubuntu etcd[59384]: set the initial cluster version to 3.4
Dec 20 18:18:17 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 20 18:18:17 ubuntu etcd[59384]: enabled capabilities for version 3.4
Dec 20 18:18:17 ubuntu etcd[59384]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 20 18:22:44 ubuntu etcd[59384]: start time = 2023-12-20 18:22:44.2715061 +0000 UTC m=+267.124461295, time spent = 433.89µs, remote = 10.201.4.32:41878, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 20 18:22:44 ubuntu etcd[59384]: start time = 2023-12-20 18:22:44.288657301 +0000 UTC m=+267.141612494, time spent = 189.426µs, remote = 10.201.4.32:41878, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 20 18:22:50 ubuntu etcd[59384]: start time = 2023-12-20 18:22:50.714263843 +0000 UTC m=+273.567219122, time spent = 390.165µs, remote = 10.201.4.32:41878, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 20 18:22:52 ubuntu etcd[59384]: start time = 2023-12-20 18:22:52.757705866 +0000 UTC m=+275.610661047, time spent = 261.137µs, remote = 10.201.4.32:41878, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
