Jun 03 18:23:26 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 03 18:23:26 ubuntu etcd[58972]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 03 18:23:26 ubuntu etcd[58972]:         A future release of golang/protobuf will delete this package,
Jun 03 18:23:26 ubuntu etcd[58972]:         which has long been excluded from the compatibility promise.
Jun 03 18:23:26 ubuntu etcd[58972]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 03 18:23:26 ubuntu etcd[58972]: Running http and grpc server on single port. This is not recommended for production.
Jun 03 18:23:26 ubuntu etcd[58972]: etcd Version: 3.4.27
Jun 03 18:23:26 ubuntu etcd[58972]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 03 18:23:26 ubuntu etcd[58972]: Git SHA: c92fb80f3
Jun 03 18:23:26 ubuntu etcd[58972]: Go Version: go1.19.10
Jun 03 18:23:26 ubuntu etcd[58972]: Go OS/Arch: linux/amd64
Jun 03 18:23:26 ubuntu etcd[58972]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 03 18:23:26 ubuntu etcd[58972]: Running http and grpc server on single port. This is not recommended for production.
Jun 03 18:23:26 ubuntu etcd[58972]: name = ubuntu
Jun 03 18:23:26 ubuntu etcd[58972]: data dir = /opt/stack/data/etcd
Jun 03 18:23:26 ubuntu etcd[58972]: member dir = /opt/stack/data/etcd/member
Jun 03 18:23:26 ubuntu etcd[58972]: heartbeat = 100ms
Jun 03 18:23:26 ubuntu etcd[58972]: election = 1000ms
Jun 03 18:23:26 ubuntu etcd[58972]: snapshot count = 100000
Jun 03 18:23:26 ubuntu etcd[58972]: advertise client URLs = http://10.201.9.223:2379
Jun 03 18:23:26 ubuntu etcd[58972]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 03 18:23:26 ubuntu etcd[58972]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 03 18:23:26 ubuntu etcd[58972]: raft2025/06/03 18:23:26 INFO: c25b29daa831042c switched to configuration voters=()
Jun 03 18:23:26 ubuntu etcd[58972]: raft2025/06/03 18:23:26 INFO: c25b29daa831042c became follower at term 0
Jun 03 18:23:26 ubuntu etcd[58972]: raft2025/06/03 18:23:26 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 03 18:23:26 ubuntu etcd[58972]: raft2025/06/03 18:23:26 INFO: c25b29daa831042c became follower at term 1
Jun 03 18:23:26 ubuntu etcd[58972]: raft2025/06/03 18:23:26 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 03 18:23:26 ubuntu etcd[58972]: simple token is not cryptographically signed
Jun 03 18:23:26 ubuntu etcd[58972]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 03 18:23:26 ubuntu etcd[58972]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 03 18:23:26 ubuntu etcd[58972]: raft2025/06/03 18:23:26 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 03 18:23:26 ubuntu etcd[58972]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 03 18:23:26 ubuntu etcd[58972]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 03 18:23:26 ubuntu etcd[58972]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 03 18:23:26 ubuntu etcd[58972]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 03 18:23:26 ubuntu etcd[58972]: listening for peers on [::]:2380
Jun 03 18:23:26 ubuntu etcd[58972]: raft2025/06/03 18:23:26 INFO: c25b29daa831042c is starting a new election at term 1
Jun 03 18:23:26 ubuntu etcd[58972]: raft2025/06/03 18:23:26 INFO: c25b29daa831042c became candidate at term 2
Jun 03 18:23:26 ubuntu etcd[58972]: raft2025/06/03 18:23:26 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 03 18:23:26 ubuntu etcd[58972]: raft2025/06/03 18:23:26 INFO: c25b29daa831042c became leader at term 2
Jun 03 18:23:26 ubuntu etcd[58972]: raft2025/06/03 18:23:26 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 03 18:23:26 ubuntu etcd[58972]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 03 18:23:26 ubuntu etcd[58972]: setting up the initial cluster version to 3.4
Jun 03 18:23:26 ubuntu etcd[58972]: set the initial cluster version to 3.4
Jun 03 18:23:26 ubuntu etcd[58972]: enabled capabilities for version 3.4
Jun 03 18:23:26 ubuntu etcd[58972]: ready to serve client requests
Jun 03 18:23:26 ubuntu etcd[58972]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 03 18:23:26 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 03 18:27:34 ubuntu etcd[58972]: start time = 2025-06-03 18:27:34.443492805 +0000 UTC m=+248.253222010, time spent = 411.954µs, remote = 10.201.9.223:33922, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 18:27:34 ubuntu etcd[58972]: start time = 2025-06-03 18:27:34.466844763 +0000 UTC m=+248.276573986, time spent = 217.716µs, remote = 10.201.9.223:33922, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 18:27:40 ubuntu etcd[58972]: start time = 2025-06-03 18:27:40.940823019 +0000 UTC m=+254.750552241, time spent = 202.323µs, remote = 10.201.9.223:33922, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 18:27:42 ubuntu etcd[58972]: start time = 2025-06-03 18:27:42.940978504 +0000 UTC m=+256.750707726, time spent = 230.492µs, remote = 10.201.9.223:33922, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
