Sep 23 05:12:06 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 23 05:12:06 ubuntu etcd[60103]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 23 05:12:06 ubuntu etcd[60103]:         A future release of golang/protobuf will delete this package,
Sep 23 05:12:06 ubuntu etcd[60103]:         which has long been excluded from the compatibility promise.
Sep 23 05:12:06 ubuntu etcd[60103]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 23 05:12:06 ubuntu etcd[60103]: Running http and grpc server on single port. This is not recommended for production.
Sep 23 05:12:06 ubuntu etcd[60103]: etcd Version: 3.4.27
Sep 23 05:12:06 ubuntu etcd[60103]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 23 05:12:06 ubuntu etcd[60103]: Git SHA: c92fb80f3
Sep 23 05:12:06 ubuntu etcd[60103]: Go Version: go1.19.10
Sep 23 05:12:06 ubuntu etcd[60103]: Go OS/Arch: linux/amd64
Sep 23 05:12:06 ubuntu etcd[60103]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 23 05:12:06 ubuntu etcd[60103]: Running http and grpc server on single port. This is not recommended for production.
Sep 23 05:12:06 ubuntu etcd[60103]: name = ubuntu
Sep 23 05:12:06 ubuntu etcd[60103]: data dir = /opt/stack/data/etcd
Sep 23 05:12:06 ubuntu etcd[60103]: member dir = /opt/stack/data/etcd/member
Sep 23 05:12:06 ubuntu etcd[60103]: heartbeat = 100ms
Sep 23 05:12:06 ubuntu etcd[60103]: election = 1000ms
Sep 23 05:12:06 ubuntu etcd[60103]: snapshot count = 100000
Sep 23 05:12:06 ubuntu etcd[60103]: advertise client URLs = http://10.201.4.32:2379
Sep 23 05:12:06 ubuntu etcd[60103]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 23 05:12:06 ubuntu etcd[60103]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 23 05:12:06 ubuntu etcd[60103]: raft2024/09/23 05:12:06 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 23 05:12:06 ubuntu etcd[60103]: raft2024/09/23 05:12:06 INFO: 33238c1cdfea94eb became follower at term 0
Sep 23 05:12:06 ubuntu etcd[60103]: raft2024/09/23 05:12:06 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 23 05:12:06 ubuntu etcd[60103]: raft2024/09/23 05:12:06 INFO: 33238c1cdfea94eb became follower at term 1
Sep 23 05:12:06 ubuntu etcd[60103]: raft2024/09/23 05:12:06 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 23 05:12:06 ubuntu etcd[60103]: simple token is not cryptographically signed
Sep 23 05:12:06 ubuntu etcd[60103]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 23 05:12:06 ubuntu etcd[60103]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 23 05:12:06 ubuntu etcd[60103]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 23 05:12:06 ubuntu etcd[60103]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 23 05:12:06 ubuntu etcd[60103]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 23 05:12:06 ubuntu etcd[60103]: raft2024/09/23 05:12:06 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 23 05:12:06 ubuntu etcd[60103]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 23 05:12:06 ubuntu etcd[60103]: listening for peers on [::]:2380
Sep 23 05:12:06 ubuntu etcd[60103]: raft2024/09/23 05:12:06 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 23 05:12:06 ubuntu etcd[60103]: raft2024/09/23 05:12:06 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 23 05:12:06 ubuntu etcd[60103]: raft2024/09/23 05:12:06 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 23 05:12:06 ubuntu etcd[60103]: raft2024/09/23 05:12:06 INFO: 33238c1cdfea94eb became leader at term 2
Sep 23 05:12:06 ubuntu etcd[60103]: raft2024/09/23 05:12:06 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 23 05:12:06 ubuntu etcd[60103]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 23 05:12:06 ubuntu etcd[60103]: setting up the initial cluster version to 3.4
Sep 23 05:12:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 23 05:12:06 ubuntu etcd[60103]: ready to serve client requests
Sep 23 05:12:06 ubuntu etcd[60103]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 23 05:12:06 ubuntu etcd[60103]: set the initial cluster version to 3.4
Sep 23 05:12:06 ubuntu etcd[60103]: enabled capabilities for version 3.4
Sep 23 05:16:41 ubuntu etcd[60103]: start time = 2024-09-23 05:16:41.451111372 +0000 UTC m=+275.235511041, time spent = 517.085µs, remote = 10.201.4.32:37714, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 23 05:16:41 ubuntu etcd[60103]: start time = 2024-09-23 05:16:41.493060807 +0000 UTC m=+275.277460493, time spent = 585.535µs, remote = 10.201.4.32:37714, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 23 05:16:48 ubuntu etcd[60103]: start time = 2024-09-23 05:16:48.448618079 +0000 UTC m=+282.233017762, time spent = 257.991µs, remote = 10.201.4.32:37714, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 23 05:16:50 ubuntu etcd[60103]: start time = 2024-09-23 05:16:50.604204116 +0000 UTC m=+284.388603787, time spent = 451.916µs, remote = 10.201.4.32:37714, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
