Dec 15 20:48:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 15 20:48:37 ubuntu etcd[58952]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 15 20:48:37 ubuntu etcd[58952]:         A future release of golang/protobuf will delete this package,
Dec 15 20:48:37 ubuntu etcd[58952]:         which has long been excluded from the compatibility promise.
Dec 15 20:48:37 ubuntu etcd[58952]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 15 20:48:37 ubuntu etcd[58952]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 15 20:48:37 ubuntu etcd[58952]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 15 20:48:37 ubuntu etcd[58952]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 15 20:48:37 ubuntu etcd[58952]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 15 20:48:37 ubuntu etcd[58952]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 15 20:48:37 ubuntu etcd[58952]: Running http and grpc server on single port. This is not recommended for production.
Dec 15 20:48:37 ubuntu etcd[58952]: etcd Version: 3.4.27
Dec 15 20:48:37 ubuntu etcd[58952]: Git SHA: c92fb80f3
Dec 15 20:48:37 ubuntu etcd[58952]: Go Version: go1.19.10
Dec 15 20:48:37 ubuntu etcd[58952]: Go OS/Arch: linux/amd64
Dec 15 20:48:37 ubuntu etcd[58952]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 15 20:48:37 ubuntu etcd[58952]: Running http and grpc server on single port. This is not recommended for production.
Dec 15 20:48:37 ubuntu etcd[58952]: name = ubuntu
Dec 15 20:48:37 ubuntu etcd[58952]: data dir = /opt/stack/data/etcd
Dec 15 20:48:37 ubuntu etcd[58952]: member dir = /opt/stack/data/etcd/member
Dec 15 20:48:37 ubuntu etcd[58952]: heartbeat = 100ms
Dec 15 20:48:37 ubuntu etcd[58952]: election = 1000ms
Dec 15 20:48:37 ubuntu etcd[58952]: snapshot count = 100000
Dec 15 20:48:37 ubuntu etcd[58952]: advertise client URLs = http://10.201.4.32:2379
Dec 15 20:48:37 ubuntu etcd[58952]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 15 20:48:38 ubuntu etcd[58952]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb became follower at term 0
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb became follower at term 1
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 15 20:48:38 ubuntu etcd[58952]: simple token is not cryptographically signed
Dec 15 20:48:38 ubuntu etcd[58952]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 15 20:48:38 ubuntu etcd[58952]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 15 20:48:38 ubuntu etcd[58952]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 15 20:48:38 ubuntu etcd[58952]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 15 20:48:38 ubuntu etcd[58952]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 15 20:48:38 ubuntu etcd[58952]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 15 20:48:38 ubuntu etcd[58952]: listening for peers on [::]:2380
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb became leader at term 2
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 15 20:48:38 ubuntu etcd[58952]: INFO: 2023/12/15 20:48:38 parsed scheme: ""
Dec 15 20:48:38 ubuntu etcd[58952]: INFO: 2023/12/15 20:48:38 scheme "" not registered, fallback to default scheme
Dec 15 20:48:38 ubuntu etcd[58952]: INFO: 2023/12/15 20:48:38 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Dec 15 20:48:38 ubuntu etcd[58952]: INFO: 2023/12/15 20:48:38 ClientConn switching balancer to "pick_first"
Dec 15 20:48:38 ubuntu etcd[58952]: ready to serve client requests
Dec 15 20:48:38 ubuntu etcd[58952]: setting up the initial cluster version to 3.4
Dec 15 20:48:38 ubuntu etcd[58952]: set the initial cluster version to 3.4
Dec 15 20:48:38 ubuntu etcd[58952]: enabled capabilities for version 3.4
Dec 15 20:48:38 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 15 20:48:38 ubuntu etcd[58952]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 15 20:48:38 ubuntu etcd[58952]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 15 20:53:06 ubuntu etcd[58952]: start time = 2023-12-15 20:53:06.384641416 +0000 UTC m=+268.411814703, time spent = 474.764µs, remote = 10.201.4.32:41934, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 20:53:06 ubuntu etcd[58952]: start time = 2023-12-15 20:53:06.445688266 +0000 UTC m=+268.472861568, time spent = 223.646µs, remote = 10.201.4.32:41934, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 20:53:12 ubuntu etcd[58952]: start time = 2023-12-15 20:53:12.749338644 +0000 UTC m=+274.776511930, time spent = 200.542µs, remote = 10.201.4.32:41934, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 20:53:15 ubuntu etcd[58952]: start time = 2023-12-15 20:53:15.062405321 +0000 UTC m=+277.089578618, time spent = 293.857µs, remote = 10.201.4.32:41934, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 20:48:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 15 20:48:37 ubuntu etcd[58952]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 15 20:48:37 ubuntu etcd[58952]:         A future release of golang/protobuf will delete this package,
Dec 15 20:48:37 ubuntu etcd[58952]:         which has long been excluded from the compatibility promise.
Dec 15 20:48:37 ubuntu etcd[58952]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 15 20:48:37 ubuntu etcd[58952]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 15 20:48:37 ubuntu etcd[58952]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 15 20:48:37 ubuntu etcd[58952]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 15 20:48:37 ubuntu etcd[58952]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 15 20:48:37 ubuntu etcd[58952]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 15 20:48:37 ubuntu etcd[58952]: Running http and grpc server on single port. This is not recommended for production.
Dec 15 20:48:37 ubuntu etcd[58952]: etcd Version: 3.4.27
Dec 15 20:48:37 ubuntu etcd[58952]: Git SHA: c92fb80f3
Dec 15 20:48:37 ubuntu etcd[58952]: Go Version: go1.19.10
Dec 15 20:48:37 ubuntu etcd[58952]: Go OS/Arch: linux/amd64
Dec 15 20:48:37 ubuntu etcd[58952]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 15 20:48:37 ubuntu etcd[58952]: Running http and grpc server on single port. This is not recommended for production.
Dec 15 20:48:37 ubuntu etcd[58952]: name = ubuntu
Dec 15 20:48:37 ubuntu etcd[58952]: data dir = /opt/stack/data/etcd
Dec 15 20:48:37 ubuntu etcd[58952]: member dir = /opt/stack/data/etcd/member
Dec 15 20:48:37 ubuntu etcd[58952]: heartbeat = 100ms
Dec 15 20:48:37 ubuntu etcd[58952]: election = 1000ms
Dec 15 20:48:37 ubuntu etcd[58952]: snapshot count = 100000
Dec 15 20:48:37 ubuntu etcd[58952]: advertise client URLs = http://10.201.4.32:2379
Dec 15 20:48:37 ubuntu etcd[58952]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 15 20:48:38 ubuntu etcd[58952]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb became follower at term 0
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb became follower at term 1
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 15 20:48:38 ubuntu etcd[58952]: simple token is not cryptographically signed
Dec 15 20:48:38 ubuntu etcd[58952]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 15 20:48:38 ubuntu etcd[58952]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 15 20:48:38 ubuntu etcd[58952]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 15 20:48:38 ubuntu etcd[58952]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 15 20:48:38 ubuntu etcd[58952]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 15 20:48:38 ubuntu etcd[58952]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 15 20:48:38 ubuntu etcd[58952]: listening for peers on [::]:2380
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: 33238c1cdfea94eb became leader at term 2
Dec 15 20:48:38 ubuntu etcd[58952]: raft2023/12/15 20:48:38 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 15 20:48:38 ubuntu etcd[58952]: INFO: 2023/12/15 20:48:38 parsed scheme: ""
Dec 15 20:48:38 ubuntu etcd[58952]: INFO: 2023/12/15 20:48:38 scheme "" not registered, fallback to default scheme
Dec 15 20:48:38 ubuntu etcd[58952]: INFO: 2023/12/15 20:48:38 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Dec 15 20:48:38 ubuntu etcd[58952]: INFO: 2023/12/15 20:48:38 ClientConn switching balancer to "pick_first"
Dec 15 20:48:38 ubuntu etcd[58952]: ready to serve client requests
Dec 15 20:48:38 ubuntu etcd[58952]: setting up the initial cluster version to 3.4
Dec 15 20:48:38 ubuntu etcd[58952]: set the initial cluster version to 3.4
Dec 15 20:48:38 ubuntu etcd[58952]: enabled capabilities for version 3.4
Dec 15 20:48:38 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 15 20:48:38 ubuntu etcd[58952]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 15 20:48:38 ubuntu etcd[58952]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 15 20:53:06 ubuntu etcd[58952]: start time = 2023-12-15 20:53:06.384641416 +0000 UTC m=+268.411814703, time spent = 474.764µs, remote = 10.201.4.32:41934, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 20:53:06 ubuntu etcd[58952]: start time = 2023-12-15 20:53:06.445688266 +0000 UTC m=+268.472861568, time spent = 223.646µs, remote = 10.201.4.32:41934, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 20:53:12 ubuntu etcd[58952]: start time = 2023-12-15 20:53:12.749338644 +0000 UTC m=+274.776511930, time spent = 200.542µs, remote = 10.201.4.32:41934, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 20:53:15 ubuntu etcd[58952]: start time = 2023-12-15 20:53:15.062405321 +0000 UTC m=+277.089578618, time spent = 293.857µs, remote = 10.201.4.32:41934, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
