Mar 26 09:00:21 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 26 09:00:21 ubuntu etcd[57307]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 26 09:00:21 ubuntu etcd[57307]:         A future release of golang/protobuf will delete this package,
Mar 26 09:00:21 ubuntu etcd[57307]:         which has long been excluded from the compatibility promise.
Mar 26 09:00:21 ubuntu etcd[57307]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 09:00:21 ubuntu etcd[57307]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 09:00:21 ubuntu etcd[57307]: etcd Version: 3.4.27
Mar 26 09:00:21 ubuntu etcd[57307]: Git SHA: c92fb80f3
Mar 26 09:00:21 ubuntu etcd[57307]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 09:00:21 ubuntu etcd[57307]: Go Version: go1.19.10
Mar 26 09:00:21 ubuntu etcd[57307]: Go OS/Arch: linux/amd64
Mar 26 09:00:21 ubuntu etcd[57307]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 26 09:00:21 ubuntu etcd[57307]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 09:00:21 ubuntu etcd[57307]: name = ubuntu
Mar 26 09:00:21 ubuntu etcd[57307]: data dir = /opt/stack/data/etcd
Mar 26 09:00:21 ubuntu etcd[57307]: member dir = /opt/stack/data/etcd/member
Mar 26 09:00:21 ubuntu etcd[57307]: heartbeat = 100ms
Mar 26 09:00:21 ubuntu etcd[57307]: election = 1000ms
Mar 26 09:00:21 ubuntu etcd[57307]: snapshot count = 100000
Mar 26 09:00:21 ubuntu etcd[57307]: advertise client URLs = http://10.201.9.223:2379
Mar 26 09:00:21 ubuntu etcd[57307]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 26 09:00:21 ubuntu etcd[57307]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 26 09:00:21 ubuntu etcd[57307]: raft2025/03/26 09:00:21 INFO: c25b29daa831042c switched to configuration voters=()
Mar 26 09:00:21 ubuntu etcd[57307]: raft2025/03/26 09:00:21 INFO: c25b29daa831042c became follower at term 0
Mar 26 09:00:21 ubuntu etcd[57307]: raft2025/03/26 09:00:21 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 26 09:00:21 ubuntu etcd[57307]: raft2025/03/26 09:00:21 INFO: c25b29daa831042c became follower at term 1
Mar 26 09:00:21 ubuntu etcd[57307]: raft2025/03/26 09:00:21 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 26 09:00:21 ubuntu etcd[57307]: simple token is not cryptographically signed
Mar 26 09:00:21 ubuntu etcd[57307]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 26 09:00:21 ubuntu etcd[57307]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 26 09:00:21 ubuntu etcd[57307]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 26 09:00:21 ubuntu etcd[57307]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 26 09:00:21 ubuntu etcd[57307]: raft2025/03/26 09:00:21 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 26 09:00:21 ubuntu etcd[57307]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 26 09:00:21 ubuntu etcd[57307]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 26 09:00:21 ubuntu etcd[57307]: listening for peers on [::]:2380
Mar 26 09:00:22 ubuntu etcd[57307]: raft2025/03/26 09:00:22 INFO: c25b29daa831042c is starting a new election at term 1
Mar 26 09:00:22 ubuntu etcd[57307]: raft2025/03/26 09:00:22 INFO: c25b29daa831042c became candidate at term 2
Mar 26 09:00:22 ubuntu etcd[57307]: raft2025/03/26 09:00:22 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 26 09:00:22 ubuntu etcd[57307]: raft2025/03/26 09:00:22 INFO: c25b29daa831042c became leader at term 2
Mar 26 09:00:22 ubuntu etcd[57307]: raft2025/03/26 09:00:22 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 26 09:00:22 ubuntu etcd[57307]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 26 09:00:22 ubuntu etcd[57307]: ready to serve client requests
Mar 26 09:00:22 ubuntu etcd[57307]: setting up the initial cluster version to 3.4
Mar 26 09:00:22 ubuntu etcd[57307]: set the initial cluster version to 3.4
Mar 26 09:00:22 ubuntu etcd[57307]: enabled capabilities for version 3.4
Mar 26 09:00:22 ubuntu etcd[57307]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 26 09:00:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 26 09:04:27 ubuntu etcd[57307]: start time = 2025-03-26 09:04:27.115707781 +0000 UTC m=+245.481166981, time spent = 361.407µs, remote = 10.201.9.223:58784, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 09:04:27 ubuntu etcd[57307]: start time = 2025-03-26 09:04:27.198120041 +0000 UTC m=+245.563579245, time spent = 195.783µs, remote = 10.201.9.223:58784, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 09:04:33 ubuntu etcd[57307]: start time = 2025-03-26 09:04:33.593824286 +0000 UTC m=+251.959283489, time spent = 240.295µs, remote = 10.201.9.223:58784, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 09:04:35 ubuntu etcd[57307]: start time = 2025-03-26 09:04:35.671204112 +0000 UTC m=+254.036663315, time spent = 575.689µs, remote = 10.201.9.223:58784, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
