Dec 13 09:00:05 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 13 09:00:05 ubuntu etcd[59115]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 13 09:00:05 ubuntu etcd[59115]:         A future release of golang/protobuf will delete this package,
Dec 13 09:00:05 ubuntu etcd[59115]:         which has long been excluded from the compatibility promise.
Dec 13 09:00:05 ubuntu etcd[59115]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 13 09:00:05 ubuntu etcd[59115]: Running http and grpc server on single port. This is not recommended for production.
Dec 13 09:00:05 ubuntu etcd[59115]: etcd Version: 3.4.27
Dec 13 09:00:05 ubuntu etcd[59115]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 13 09:00:05 ubuntu etcd[59115]: Git SHA: c92fb80f3
Dec 13 09:00:05 ubuntu etcd[59115]: Go Version: go1.19.10
Dec 13 09:00:05 ubuntu etcd[59115]: Go OS/Arch: linux/amd64
Dec 13 09:00:05 ubuntu etcd[59115]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 13 09:00:05 ubuntu etcd[59115]: Running http and grpc server on single port. This is not recommended for production.
Dec 13 09:00:05 ubuntu etcd[59115]: name = ubuntu
Dec 13 09:00:05 ubuntu etcd[59115]: data dir = /opt/stack/data/etcd
Dec 13 09:00:05 ubuntu etcd[59115]: member dir = /opt/stack/data/etcd/member
Dec 13 09:00:05 ubuntu etcd[59115]: heartbeat = 100ms
Dec 13 09:00:05 ubuntu etcd[59115]: election = 1000ms
Dec 13 09:00:05 ubuntu etcd[59115]: snapshot count = 100000
Dec 13 09:00:05 ubuntu etcd[59115]: advertise client URLs = http://10.201.9.223:2379
Dec 13 09:00:05 ubuntu etcd[59115]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 13 09:00:05 ubuntu etcd[59115]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 13 09:00:05 ubuntu etcd[59115]: simple token is not cryptographically signed
Dec 13 09:00:05 ubuntu etcd[59115]: raft2024/12/13 09:00:05 INFO: c25b29daa831042c switched to configuration voters=()
Dec 13 09:00:05 ubuntu etcd[59115]: raft2024/12/13 09:00:05 INFO: c25b29daa831042c became follower at term 0
Dec 13 09:00:05 ubuntu etcd[59115]: raft2024/12/13 09:00:05 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 13 09:00:05 ubuntu etcd[59115]: raft2024/12/13 09:00:05 INFO: c25b29daa831042c became follower at term 1
Dec 13 09:00:05 ubuntu etcd[59115]: raft2024/12/13 09:00:05 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 13 09:00:05 ubuntu etcd[59115]: raft2024/12/13 09:00:05 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 13 09:00:05 ubuntu etcd[59115]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 13 09:00:05 ubuntu etcd[59115]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 13 09:00:05 ubuntu etcd[59115]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 13 09:00:05 ubuntu etcd[59115]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 13 09:00:05 ubuntu etcd[59115]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 13 09:00:05 ubuntu etcd[59115]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 13 09:00:05 ubuntu etcd[59115]: listening for peers on [::]:2380
Dec 13 09:00:06 ubuntu etcd[59115]: raft2024/12/13 09:00:06 INFO: c25b29daa831042c is starting a new election at term 1
Dec 13 09:00:06 ubuntu etcd[59115]: raft2024/12/13 09:00:06 INFO: c25b29daa831042c became candidate at term 2
Dec 13 09:00:06 ubuntu etcd[59115]: raft2024/12/13 09:00:06 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 13 09:00:06 ubuntu etcd[59115]: raft2024/12/13 09:00:06 INFO: c25b29daa831042c became leader at term 2
Dec 13 09:00:06 ubuntu etcd[59115]: raft2024/12/13 09:00:06 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 13 09:00:06 ubuntu etcd[59115]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 13 09:00:06 ubuntu etcd[59115]: setting up the initial cluster version to 3.4
Dec 13 09:00:06 ubuntu etcd[59115]: ready to serve client requests
Dec 13 09:00:06 ubuntu etcd[59115]: set the initial cluster version to 3.4
Dec 13 09:00:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 13 09:00:06 ubuntu etcd[59115]: enabled capabilities for version 3.4
Dec 13 09:00:06 ubuntu etcd[59115]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 13 09:04:27 ubuntu etcd[59115]: start time = 2024-12-13 09:04:27.464223226 +0000 UTC m=+261.615086697, time spent = 443.651µs, remote = 10.201.9.223:49200, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 13 09:04:27 ubuntu etcd[59115]: start time = 2024-12-13 09:04:27.489680532 +0000 UTC m=+261.640544020, time spent = 194.735µs, remote = 10.201.9.223:49200, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 13 09:04:33 ubuntu etcd[59115]: start time = 2024-12-13 09:04:33.852697331 +0000 UTC m=+268.003560818, time spent = 165.774µs, remote = 10.201.9.223:49200, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 13 09:04:35 ubuntu etcd[59115]: start time = 2024-12-13 09:04:35.929289199 +0000 UTC m=+270.080152685, time spent = 193.768µs, remote = 10.201.9.223:49200, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
