Mar 05 04:13:03 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 05 04:13:03 ubuntu etcd[60373]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 05 04:13:03 ubuntu etcd[60373]:         A future release of golang/protobuf will delete this package,
Mar 05 04:13:03 ubuntu etcd[60373]:         which has long been excluded from the compatibility promise.
Mar 05 04:13:03 ubuntu etcd[60373]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 05 04:13:03 ubuntu etcd[60373]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 05 04:13:03 ubuntu etcd[60373]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 05 04:13:03 ubuntu etcd[60373]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 05 04:13:03 ubuntu etcd[60373]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 05 04:13:03 ubuntu etcd[60373]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 05 04:13:03 ubuntu etcd[60373]: Running http and grpc server on single port. This is not recommended for production.
Mar 05 04:13:03 ubuntu etcd[60373]: etcd Version: 3.4.27
Mar 05 04:13:03 ubuntu etcd[60373]: Git SHA: c92fb80f3
Mar 05 04:13:03 ubuntu etcd[60373]: Go Version: go1.19.10
Mar 05 04:13:03 ubuntu etcd[60373]: Go OS/Arch: linux/amd64
Mar 05 04:13:03 ubuntu etcd[60373]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 05 04:13:03 ubuntu etcd[60373]: Running http and grpc server on single port. This is not recommended for production.
Mar 05 04:13:03 ubuntu etcd[60373]: name = ubuntu
Mar 05 04:13:03 ubuntu etcd[60373]: data dir = /opt/stack/data/etcd
Mar 05 04:13:03 ubuntu etcd[60373]: member dir = /opt/stack/data/etcd/member
Mar 05 04:13:03 ubuntu etcd[60373]: heartbeat = 100ms
Mar 05 04:13:03 ubuntu etcd[60373]: election = 1000ms
Mar 05 04:13:03 ubuntu etcd[60373]: snapshot count = 100000
Mar 05 04:13:03 ubuntu etcd[60373]: advertise client URLs = http://10.201.4.32:2379
Mar 05 04:13:03 ubuntu etcd[60373]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 05 04:13:03 ubuntu etcd[60373]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 05 04:13:03 ubuntu etcd[60373]: raft2024/03/05 04:13:03 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 05 04:13:03 ubuntu etcd[60373]: raft2024/03/05 04:13:03 INFO: 33238c1cdfea94eb became follower at term 0
Mar 05 04:13:03 ubuntu etcd[60373]: raft2024/03/05 04:13:03 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 05 04:13:03 ubuntu etcd[60373]: raft2024/03/05 04:13:03 INFO: 33238c1cdfea94eb became follower at term 1
Mar 05 04:13:03 ubuntu etcd[60373]: raft2024/03/05 04:13:03 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 05 04:13:03 ubuntu etcd[60373]: simple token is not cryptographically signed
Mar 05 04:13:03 ubuntu etcd[60373]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 05 04:13:03 ubuntu etcd[60373]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 05 04:13:03 ubuntu etcd[60373]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 05 04:13:03 ubuntu etcd[60373]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 05 04:13:03 ubuntu etcd[60373]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 05 04:13:03 ubuntu etcd[60373]: raft2024/03/05 04:13:03 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 05 04:13:03 ubuntu etcd[60373]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 05 04:13:03 ubuntu etcd[60373]: listening for peers on [::]:2380
Mar 05 04:13:03 ubuntu etcd[60373]: raft2024/03/05 04:13:03 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 05 04:13:03 ubuntu etcd[60373]: raft2024/03/05 04:13:03 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 05 04:13:03 ubuntu etcd[60373]: raft2024/03/05 04:13:03 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 05 04:13:03 ubuntu etcd[60373]: raft2024/03/05 04:13:03 INFO: 33238c1cdfea94eb became leader at term 2
Mar 05 04:13:03 ubuntu etcd[60373]: raft2024/03/05 04:13:03 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 05 04:13:03 ubuntu etcd[60373]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 05 04:13:03 ubuntu etcd[60373]: setting up the initial cluster version to 3.4
Mar 05 04:13:03 ubuntu etcd[60373]: ready to serve client requests
Mar 05 04:13:03 ubuntu etcd[60373]: set the initial cluster version to 3.4
Mar 05 04:13:03 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 05 04:13:03 ubuntu etcd[60373]: INFO: 2024/03/05 04:13:03 parsed scheme: ""
Mar 05 04:13:03 ubuntu etcd[60373]: INFO: 2024/03/05 04:13:03 scheme "" not registered, fallback to default scheme
Mar 05 04:13:03 ubuntu etcd[60373]: INFO: 2024/03/05 04:13:03 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 05 04:13:03 ubuntu etcd[60373]: enabled capabilities for version 3.4
Mar 05 04:13:03 ubuntu etcd[60373]: INFO: 2024/03/05 04:13:03 ClientConn switching balancer to "pick_first"
Mar 05 04:13:03 ubuntu etcd[60373]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 05 04:17:17 ubuntu etcd[60373]: start time = 2024-03-05 04:17:17.560569196 +0000 UTC m=+253.823666391, time spent = 545.978µs, remote = 10.201.4.32:49896, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 05 04:17:17 ubuntu etcd[60373]: start time = 2024-03-05 04:17:17.667492875 +0000 UTC m=+253.930590071, time spent = 248.905µs, remote = 10.201.4.32:49896, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 05 04:17:24 ubuntu etcd[60373]: start time = 2024-03-05 04:17:24.114981051 +0000 UTC m=+260.378078252, time spent = 372.499µs, remote = 10.201.4.32:49896, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 05 04:17:26 ubuntu etcd[60373]: start time = 2024-03-05 04:17:26.255223347 +0000 UTC m=+262.518320534, time spent = 410.154µs, remote = 10.201.4.32:49896, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 05 04:18:54 ubuntu etcd[60373]: INFO: 2024/03/05 04:18:54 Failed to decode request: http: invalid Read on closed Body
