Feb 12 03:53:52 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 12 03:53:52 ubuntu etcd[59975]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 12 03:53:52 ubuntu etcd[59975]:         A future release of golang/protobuf will delete this package,
Feb 12 03:53:52 ubuntu etcd[59975]:         which has long been excluded from the compatibility promise.
Feb 12 03:53:52 ubuntu etcd[59975]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 12 03:53:52 ubuntu etcd[59975]: Running http and grpc server on single port. This is not recommended for production.
Feb 12 03:53:52 ubuntu etcd[59975]: etcd Version: 3.4.27
Feb 12 03:53:52 ubuntu etcd[59975]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 12 03:53:52 ubuntu etcd[59975]: Git SHA: c92fb80f3
Feb 12 03:53:52 ubuntu etcd[59975]: Go Version: go1.19.10
Feb 12 03:53:52 ubuntu etcd[59975]: Go OS/Arch: linux/amd64
Feb 12 03:53:52 ubuntu etcd[59975]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 12 03:53:52 ubuntu etcd[59975]: Running http and grpc server on single port. This is not recommended for production.
Feb 12 03:53:52 ubuntu etcd[59975]: name = ubuntu
Feb 12 03:53:52 ubuntu etcd[59975]: data dir = /opt/stack/data/etcd
Feb 12 03:53:52 ubuntu etcd[59975]: member dir = /opt/stack/data/etcd/member
Feb 12 03:53:52 ubuntu etcd[59975]: heartbeat = 100ms
Feb 12 03:53:52 ubuntu etcd[59975]: election = 1000ms
Feb 12 03:53:52 ubuntu etcd[59975]: snapshot count = 100000
Feb 12 03:53:52 ubuntu etcd[59975]: advertise client URLs = http://10.201.9.223:2379
Feb 12 03:53:52 ubuntu etcd[59975]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 12 03:53:52 ubuntu etcd[59975]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Feb 12 03:53:52 ubuntu etcd[59975]: raft2025/02/12 03:53:52 INFO: c25b29daa831042c switched to configuration voters=()
Feb 12 03:53:52 ubuntu etcd[59975]: raft2025/02/12 03:53:52 INFO: c25b29daa831042c became follower at term 0
Feb 12 03:53:52 ubuntu etcd[59975]: raft2025/02/12 03:53:52 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 12 03:53:52 ubuntu etcd[59975]: raft2025/02/12 03:53:52 INFO: c25b29daa831042c became follower at term 1
Feb 12 03:53:52 ubuntu etcd[59975]: raft2025/02/12 03:53:52 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 12 03:53:52 ubuntu etcd[59975]: simple token is not cryptographically signed
Feb 12 03:53:52 ubuntu etcd[59975]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 12 03:53:52 ubuntu etcd[59975]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 12 03:53:52 ubuntu etcd[59975]: raft2025/02/12 03:53:52 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 12 03:53:52 ubuntu etcd[59975]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Feb 12 03:53:52 ubuntu etcd[59975]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 12 03:53:52 ubuntu etcd[59975]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 12 03:53:52 ubuntu etcd[59975]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 12 03:53:52 ubuntu etcd[59975]: listening for peers on [::]:2380
Feb 12 03:53:53 ubuntu etcd[59975]: raft2025/02/12 03:53:53 INFO: c25b29daa831042c is starting a new election at term 1
Feb 12 03:53:53 ubuntu etcd[59975]: raft2025/02/12 03:53:53 INFO: c25b29daa831042c became candidate at term 2
Feb 12 03:53:53 ubuntu etcd[59975]: raft2025/02/12 03:53:53 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Feb 12 03:53:53 ubuntu etcd[59975]: raft2025/02/12 03:53:53 INFO: c25b29daa831042c became leader at term 2
Feb 12 03:53:53 ubuntu etcd[59975]: raft2025/02/12 03:53:53 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Feb 12 03:53:53 ubuntu etcd[59975]: setting up the initial cluster version to 3.4
Feb 12 03:53:53 ubuntu etcd[59975]: set the initial cluster version to 3.4
Feb 12 03:53:53 ubuntu etcd[59975]: enabled capabilities for version 3.4
Feb 12 03:53:53 ubuntu etcd[59975]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Feb 12 03:53:53 ubuntu etcd[59975]: ready to serve client requests
Feb 12 03:53:53 ubuntu etcd[59975]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Feb 12 03:53:53 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 12 03:58:02 ubuntu etcd[59975]: start time = 2025-02-12 03:58:02.31125555 +0000 UTC m=+249.492306891, time spent = 564.711µs, remote = 10.201.9.223:50642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 03:58:02 ubuntu etcd[59975]: start time = 2025-02-12 03:58:02.357557194 +0000 UTC m=+249.538608548, time spent = 341.157µs, remote = 10.201.9.223:50642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 03:58:09 ubuntu etcd[59975]: start time = 2025-02-12 03:58:09.502800791 +0000 UTC m=+256.683852135, time spent = 210.961µs, remote = 10.201.9.223:50642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 03:58:11 ubuntu etcd[59975]: start time = 2025-02-12 03:58:11.620866293 +0000 UTC m=+258.801917653, time spent = 210.472µs, remote = 10.201.9.223:50642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
