Jun 04 06:46:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 04 06:46:32 ubuntu etcd[58999]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 04 06:46:32 ubuntu etcd[58999]:         A future release of golang/protobuf will delete this package,
Jun 04 06:46:32 ubuntu etcd[58999]:         which has long been excluded from the compatibility promise.
Jun 04 06:46:32 ubuntu etcd[58999]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 04 06:46:32 ubuntu etcd[58999]: Running http and grpc server on single port. This is not recommended for production.
Jun 04 06:46:32 ubuntu etcd[58999]: etcd Version: 3.4.27
Jun 04 06:46:32 ubuntu etcd[58999]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 04 06:46:32 ubuntu etcd[58999]: Git SHA: c92fb80f3
Jun 04 06:46:32 ubuntu etcd[58999]: Go Version: go1.19.10
Jun 04 06:46:32 ubuntu etcd[58999]: Go OS/Arch: linux/amd64
Jun 04 06:46:32 ubuntu etcd[58999]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 04 06:46:32 ubuntu etcd[58999]: Running http and grpc server on single port. This is not recommended for production.
Jun 04 06:46:32 ubuntu etcd[58999]: name = ubuntu
Jun 04 06:46:32 ubuntu etcd[58999]: data dir = /opt/stack/data/etcd
Jun 04 06:46:32 ubuntu etcd[58999]: member dir = /opt/stack/data/etcd/member
Jun 04 06:46:32 ubuntu etcd[58999]: heartbeat = 100ms
Jun 04 06:46:32 ubuntu etcd[58999]: election = 1000ms
Jun 04 06:46:32 ubuntu etcd[58999]: snapshot count = 100000
Jun 04 06:46:32 ubuntu etcd[58999]: advertise client URLs = http://10.201.9.223:2379
Jun 04 06:46:32 ubuntu etcd[58999]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 04 06:46:32 ubuntu etcd[58999]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 04 06:46:32 ubuntu etcd[58999]: raft2025/06/04 06:46:32 INFO: c25b29daa831042c switched to configuration voters=()
Jun 04 06:46:32 ubuntu etcd[58999]: raft2025/06/04 06:46:32 INFO: c25b29daa831042c became follower at term 0
Jun 04 06:46:32 ubuntu etcd[58999]: raft2025/06/04 06:46:32 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 04 06:46:32 ubuntu etcd[58999]: raft2025/06/04 06:46:32 INFO: c25b29daa831042c became follower at term 1
Jun 04 06:46:32 ubuntu etcd[58999]: raft2025/06/04 06:46:32 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 04 06:46:32 ubuntu etcd[58999]: simple token is not cryptographically signed
Jun 04 06:46:32 ubuntu etcd[58999]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 04 06:46:32 ubuntu etcd[58999]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 04 06:46:32 ubuntu etcd[58999]: raft2025/06/04 06:46:32 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 04 06:46:32 ubuntu etcd[58999]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 04 06:46:32 ubuntu etcd[58999]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 04 06:46:32 ubuntu etcd[58999]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 04 06:46:32 ubuntu etcd[58999]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 04 06:46:32 ubuntu etcd[58999]: listening for peers on [::]:2380
Jun 04 06:46:32 ubuntu etcd[58999]: raft2025/06/04 06:46:32 INFO: c25b29daa831042c is starting a new election at term 1
Jun 04 06:46:32 ubuntu etcd[58999]: raft2025/06/04 06:46:32 INFO: c25b29daa831042c became candidate at term 2
Jun 04 06:46:32 ubuntu etcd[58999]: raft2025/06/04 06:46:32 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 04 06:46:32 ubuntu etcd[58999]: raft2025/06/04 06:46:32 INFO: c25b29daa831042c became leader at term 2
Jun 04 06:46:32 ubuntu etcd[58999]: raft2025/06/04 06:46:32 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 04 06:46:32 ubuntu etcd[58999]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 04 06:46:32 ubuntu etcd[58999]: ready to serve client requests
Jun 04 06:46:32 ubuntu etcd[58999]: setting up the initial cluster version to 3.4
Jun 04 06:46:32 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 04 06:46:32 ubuntu etcd[58999]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 04 06:46:32 ubuntu etcd[58999]: set the initial cluster version to 3.4
Jun 04 06:46:32 ubuntu etcd[58999]: enabled capabilities for version 3.4
Jun 04 06:50:41 ubuntu etcd[58999]: start time = 2025-06-04 06:50:41.917117609 +0000 UTC m=+249.824268827, time spent = 403.677µs, remote = 10.201.9.223:58604, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 06:50:41 ubuntu etcd[58999]: start time = 2025-06-04 06:50:41.923675336 +0000 UTC m=+249.830826569, time spent = 192.981µs, remote = 10.201.9.223:58604, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 06:50:48 ubuntu etcd[58999]: start time = 2025-06-04 06:50:48.439116366 +0000 UTC m=+256.346267602, time spent = 245.252µs, remote = 10.201.9.223:58604, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 06:50:50 ubuntu etcd[58999]: start time = 2025-06-04 06:50:50.650088218 +0000 UTC m=+258.557239437, time spent = 297.346µs, remote = 10.201.9.223:58604, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
