Oct 03 13:09:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 03 13:09:30 ubuntu etcd[59663]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 03 13:09:30 ubuntu etcd[59663]:         A future release of golang/protobuf will delete this package,
Oct 03 13:09:30 ubuntu etcd[59663]:         which has long been excluded from the compatibility promise.
Oct 03 13:09:30 ubuntu etcd[59663]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 03 13:09:30 ubuntu etcd[59663]: Running http and grpc server on single port. This is not recommended for production.
Oct 03 13:09:30 ubuntu etcd[59663]: etcd Version: 3.4.27
Oct 03 13:09:30 ubuntu etcd[59663]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 03 13:09:30 ubuntu etcd[59663]: Git SHA: c92fb80f3
Oct 03 13:09:30 ubuntu etcd[59663]: Go Version: go1.19.10
Oct 03 13:09:30 ubuntu etcd[59663]: Go OS/Arch: linux/amd64
Oct 03 13:09:30 ubuntu etcd[59663]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 03 13:09:30 ubuntu etcd[59663]: Running http and grpc server on single port. This is not recommended for production.
Oct 03 13:09:30 ubuntu etcd[59663]: name = ubuntu
Oct 03 13:09:30 ubuntu etcd[59663]: data dir = /opt/stack/data/etcd
Oct 03 13:09:30 ubuntu etcd[59663]: member dir = /opt/stack/data/etcd/member
Oct 03 13:09:30 ubuntu etcd[59663]: heartbeat = 100ms
Oct 03 13:09:30 ubuntu etcd[59663]: election = 1000ms
Oct 03 13:09:30 ubuntu etcd[59663]: snapshot count = 100000
Oct 03 13:09:30 ubuntu etcd[59663]: advertise client URLs = http://10.201.4.32:2379
Oct 03 13:09:30 ubuntu etcd[59663]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 03 13:09:30 ubuntu etcd[59663]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 03 13:09:30 ubuntu etcd[59663]: raft2024/10/03 13:09:30 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 03 13:09:30 ubuntu etcd[59663]: raft2024/10/03 13:09:30 INFO: 33238c1cdfea94eb became follower at term 0
Oct 03 13:09:30 ubuntu etcd[59663]: raft2024/10/03 13:09:30 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 03 13:09:30 ubuntu etcd[59663]: raft2024/10/03 13:09:30 INFO: 33238c1cdfea94eb became follower at term 1
Oct 03 13:09:30 ubuntu etcd[59663]: raft2024/10/03 13:09:30 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 03 13:09:30 ubuntu etcd[59663]: simple token is not cryptographically signed
Oct 03 13:09:30 ubuntu etcd[59663]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 03 13:09:30 ubuntu etcd[59663]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 03 13:09:30 ubuntu etcd[59663]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 03 13:09:30 ubuntu etcd[59663]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 03 13:09:30 ubuntu etcd[59663]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 03 13:09:30 ubuntu etcd[59663]: raft2024/10/03 13:09:30 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 03 13:09:30 ubuntu etcd[59663]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 03 13:09:30 ubuntu etcd[59663]: listening for peers on [::]:2380
Oct 03 13:09:31 ubuntu etcd[59663]: raft2024/10/03 13:09:31 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 03 13:09:31 ubuntu etcd[59663]: raft2024/10/03 13:09:31 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 03 13:09:31 ubuntu etcd[59663]: raft2024/10/03 13:09:31 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 03 13:09:31 ubuntu etcd[59663]: raft2024/10/03 13:09:31 INFO: 33238c1cdfea94eb became leader at term 2
Oct 03 13:09:31 ubuntu etcd[59663]: raft2024/10/03 13:09:31 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 03 13:09:31 ubuntu etcd[59663]: setting up the initial cluster version to 3.4
Oct 03 13:09:31 ubuntu etcd[59663]: set the initial cluster version to 3.4
Oct 03 13:09:31 ubuntu etcd[59663]: enabled capabilities for version 3.4
Oct 03 13:09:31 ubuntu etcd[59663]: ready to serve client requests
Oct 03 13:09:31 ubuntu etcd[59663]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 03 13:09:31 ubuntu etcd[59663]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 03 13:09:31 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 03 13:13:58 ubuntu etcd[59663]: start time = 2024-10-03 13:13:58.763932817 +0000 UTC m=+268.656902103, time spent = 456.564µs, remote = 10.201.4.32:59026, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 03 13:13:58 ubuntu etcd[59663]: start time = 2024-10-03 13:13:58.848781509 +0000 UTC m=+268.741750797, time spent = 192.189µs, remote = 10.201.4.32:59026, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 03 13:14:05 ubuntu etcd[59663]: start time = 2024-10-03 13:14:05.353731269 +0000 UTC m=+275.246700560, time spent = 205.595µs, remote = 10.201.4.32:59026, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 03 13:14:07 ubuntu etcd[59663]: start time = 2024-10-03 13:14:07.45543549 +0000 UTC m=+277.348404781, time spent = 231.986µs, remote = 10.201.4.32:59026, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
