Jan 14 11:46:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 14 11:46:02 ubuntu etcd[58921]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 14 11:46:02 ubuntu etcd[58921]:         A future release of golang/protobuf will delete this package,
Jan 14 11:46:02 ubuntu etcd[58921]:         which has long been excluded from the compatibility promise.
Jan 14 11:46:02 ubuntu etcd[58921]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 14 11:46:02 ubuntu etcd[58921]: Running http and grpc server on single port. This is not recommended for production.
Jan 14 11:46:02 ubuntu etcd[58921]: etcd Version: 3.4.27
Jan 14 11:46:02 ubuntu etcd[58921]: Git SHA: c92fb80f3
Jan 14 11:46:02 ubuntu etcd[58921]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 14 11:46:02 ubuntu etcd[58921]: Go Version: go1.19.10
Jan 14 11:46:02 ubuntu etcd[58921]: Go OS/Arch: linux/amd64
Jan 14 11:46:02 ubuntu etcd[58921]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 14 11:46:02 ubuntu etcd[58921]: Running http and grpc server on single port. This is not recommended for production.
Jan 14 11:46:02 ubuntu etcd[58921]: name = ubuntu
Jan 14 11:46:02 ubuntu etcd[58921]: data dir = /opt/stack/data/etcd
Jan 14 11:46:02 ubuntu etcd[58921]: member dir = /opt/stack/data/etcd/member
Jan 14 11:46:02 ubuntu etcd[58921]: heartbeat = 100ms
Jan 14 11:46:02 ubuntu etcd[58921]: election = 1000ms
Jan 14 11:46:02 ubuntu etcd[58921]: snapshot count = 100000
Jan 14 11:46:02 ubuntu etcd[58921]: advertise client URLs = http://10.201.9.223:2379
Jan 14 11:46:02 ubuntu etcd[58921]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 14 11:46:02 ubuntu etcd[58921]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 14 11:46:02 ubuntu etcd[58921]: raft2025/01/14 11:46:02 INFO: c25b29daa831042c switched to configuration voters=()
Jan 14 11:46:02 ubuntu etcd[58921]: raft2025/01/14 11:46:02 INFO: c25b29daa831042c became follower at term 0
Jan 14 11:46:02 ubuntu etcd[58921]: raft2025/01/14 11:46:02 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 14 11:46:02 ubuntu etcd[58921]: raft2025/01/14 11:46:02 INFO: c25b29daa831042c became follower at term 1
Jan 14 11:46:02 ubuntu etcd[58921]: raft2025/01/14 11:46:02 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 14 11:46:02 ubuntu etcd[58921]: simple token is not cryptographically signed
Jan 14 11:46:02 ubuntu etcd[58921]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 14 11:46:02 ubuntu etcd[58921]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 14 11:46:02 ubuntu etcd[58921]: raft2025/01/14 11:46:02 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 14 11:46:02 ubuntu etcd[58921]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 14 11:46:02 ubuntu etcd[58921]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 14 11:46:02 ubuntu etcd[58921]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 14 11:46:02 ubuntu etcd[58921]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 14 11:46:02 ubuntu etcd[58921]: listening for peers on [::]:2380
Jan 14 11:46:03 ubuntu etcd[58921]: raft2025/01/14 11:46:03 INFO: c25b29daa831042c is starting a new election at term 1
Jan 14 11:46:03 ubuntu etcd[58921]: raft2025/01/14 11:46:03 INFO: c25b29daa831042c became candidate at term 2
Jan 14 11:46:03 ubuntu etcd[58921]: raft2025/01/14 11:46:03 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 14 11:46:03 ubuntu etcd[58921]: raft2025/01/14 11:46:03 INFO: c25b29daa831042c became leader at term 2
Jan 14 11:46:03 ubuntu etcd[58921]: raft2025/01/14 11:46:03 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 14 11:46:03 ubuntu etcd[58921]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 14 11:46:03 ubuntu etcd[58921]: ready to serve client requests
Jan 14 11:46:03 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 14 11:46:03 ubuntu etcd[58921]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 14 11:46:03 ubuntu etcd[58921]: setting up the initial cluster version to 3.4
Jan 14 11:46:03 ubuntu etcd[58921]: set the initial cluster version to 3.4
Jan 14 11:46:03 ubuntu etcd[58921]: enabled capabilities for version 3.4
Jan 14 11:50:27 ubuntu etcd[58921]: start time = 2025-01-14 11:50:27.18083447 +0000 UTC m=+264.309501583, time spent = 463.969µs, remote = 10.201.9.223:36070, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 14 11:50:27 ubuntu etcd[58921]: start time = 2025-01-14 11:50:27.180575375 +0000 UTC m=+264.309242469, time spent = 870.141µs, remote = 10.201.9.223:36070, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 14 11:50:34 ubuntu etcd[58921]: start time = 2025-01-14 11:50:34.02822057 +0000 UTC m=+271.156887663, time spent = 272.573µs, remote = 10.201.9.223:36070, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 14 11:50:36 ubuntu etcd[58921]: start time = 2025-01-14 11:50:36.12477745 +0000 UTC m=+273.253444559, time spent = 422.617µs, remote = 10.201.9.223:36070, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
