Aug 13 01:57:34 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 13 01:57:34 ubuntu etcd[59219]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 13 01:57:34 ubuntu etcd[59219]:         A future release of golang/protobuf will delete this package,
Aug 13 01:57:34 ubuntu etcd[59219]:         which has long been excluded from the compatibility promise.
Aug 13 01:57:34 ubuntu etcd[59219]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 13 01:57:34 ubuntu etcd[59219]: Running http and grpc server on single port. This is not recommended for production.
Aug 13 01:57:34 ubuntu etcd[59219]: etcd Version: 3.4.27
Aug 13 01:57:34 ubuntu etcd[59219]: Git SHA: c92fb80f3
Aug 13 01:57:34 ubuntu etcd[59219]: Go Version: go1.19.10
Aug 13 01:57:34 ubuntu etcd[59219]: Go OS/Arch: linux/amd64
Aug 13 01:57:34 ubuntu etcd[59219]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 13 01:57:34 ubuntu etcd[59219]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 13 01:57:34 ubuntu etcd[59219]: Running http and grpc server on single port. This is not recommended for production.
Aug 13 01:57:34 ubuntu etcd[59219]: name = ubuntu
Aug 13 01:57:34 ubuntu etcd[59219]: data dir = /opt/stack/data/etcd
Aug 13 01:57:34 ubuntu etcd[59219]: member dir = /opt/stack/data/etcd/member
Aug 13 01:57:34 ubuntu etcd[59219]: heartbeat = 100ms
Aug 13 01:57:34 ubuntu etcd[59219]: election = 1000ms
Aug 13 01:57:34 ubuntu etcd[59219]: snapshot count = 100000
Aug 13 01:57:34 ubuntu etcd[59219]: advertise client URLs = http://10.201.9.223:2379
Aug 13 01:57:34 ubuntu etcd[59219]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 13 01:57:34 ubuntu etcd[59219]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Aug 13 01:57:34 ubuntu etcd[59219]: raft2025/08/13 01:57:34 INFO: c25b29daa831042c switched to configuration voters=()
Aug 13 01:57:34 ubuntu etcd[59219]: raft2025/08/13 01:57:34 INFO: c25b29daa831042c became follower at term 0
Aug 13 01:57:34 ubuntu etcd[59219]: raft2025/08/13 01:57:34 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 13 01:57:34 ubuntu etcd[59219]: raft2025/08/13 01:57:34 INFO: c25b29daa831042c became follower at term 1
Aug 13 01:57:34 ubuntu etcd[59219]: raft2025/08/13 01:57:34 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 13 01:57:34 ubuntu etcd[59219]: simple token is not cryptographically signed
Aug 13 01:57:34 ubuntu etcd[59219]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 13 01:57:34 ubuntu etcd[59219]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 13 01:57:34 ubuntu etcd[59219]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 13 01:57:34 ubuntu etcd[59219]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 13 01:57:34 ubuntu etcd[59219]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 13 01:57:34 ubuntu etcd[59219]: raft2025/08/13 01:57:34 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 13 01:57:34 ubuntu etcd[59219]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Aug 13 01:57:34 ubuntu etcd[59219]: listening for peers on [::]:2380
Aug 13 01:57:34 ubuntu etcd[59219]: raft2025/08/13 01:57:34 INFO: c25b29daa831042c is starting a new election at term 1
Aug 13 01:57:34 ubuntu etcd[59219]: raft2025/08/13 01:57:34 INFO: c25b29daa831042c became candidate at term 2
Aug 13 01:57:34 ubuntu etcd[59219]: raft2025/08/13 01:57:34 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Aug 13 01:57:34 ubuntu etcd[59219]: raft2025/08/13 01:57:34 INFO: c25b29daa831042c became leader at term 2
Aug 13 01:57:34 ubuntu etcd[59219]: raft2025/08/13 01:57:34 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Aug 13 01:57:34 ubuntu etcd[59219]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Aug 13 01:57:34 ubuntu etcd[59219]: setting up the initial cluster version to 3.4
Aug 13 01:57:34 ubuntu etcd[59219]: ready to serve client requests
Aug 13 01:57:34 ubuntu etcd[59219]: set the initial cluster version to 3.4
Aug 13 01:57:34 ubuntu etcd[59219]: enabled capabilities for version 3.4
Aug 13 01:57:34 ubuntu etcd[59219]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Aug 13 01:57:34 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 13 02:01:46 ubuntu etcd[59219]: start time = 2025-08-13 02:01:46.548577869 +0000 UTC m=+251.970429297, time spent = 941.76µs, remote = 10.201.9.223:57276, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 02:01:46 ubuntu etcd[59219]: start time = 2025-08-13 02:01:46.548136691 +0000 UTC m=+251.969988103, time spent = 2.078891ms, remote = 10.201.9.223:57276, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 02:01:53 ubuntu etcd[59219]: start time = 2025-08-13 02:01:53.222041255 +0000 UTC m=+258.643892685, time spent = 207.567µs, remote = 10.201.9.223:57276, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 02:01:55 ubuntu etcd[59219]: start time = 2025-08-13 02:01:55.393580929 +0000 UTC m=+260.815432354, time spent = 171.284µs, remote = 10.201.9.223:57276, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
