Dec 11 16:19:47 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 11 16:19:47 ubuntu etcd[58837]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 11 16:19:47 ubuntu etcd[58837]:         A future release of golang/protobuf will delete this package,
Dec 11 16:19:47 ubuntu etcd[58837]:         which has long been excluded from the compatibility promise.
Dec 11 16:19:47 ubuntu etcd[58837]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 16:19:47 ubuntu etcd[58837]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 16:19:47 ubuntu etcd[58837]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 16:19:47 ubuntu etcd[58837]: etcd Version: 3.4.27
Dec 11 16:19:47 ubuntu etcd[58837]: Git SHA: c92fb80f3
Dec 11 16:19:47 ubuntu etcd[58837]: Go Version: go1.19.10
Dec 11 16:19:47 ubuntu etcd[58837]: Go OS/Arch: linux/amd64
Dec 11 16:19:47 ubuntu etcd[58837]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 11 16:19:47 ubuntu etcd[58837]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 16:19:47 ubuntu etcd[58837]: name = ubuntu
Dec 11 16:19:47 ubuntu etcd[58837]: data dir = /opt/stack/data/etcd
Dec 11 16:19:47 ubuntu etcd[58837]: member dir = /opt/stack/data/etcd/member
Dec 11 16:19:47 ubuntu etcd[58837]: heartbeat = 100ms
Dec 11 16:19:47 ubuntu etcd[58837]: election = 1000ms
Dec 11 16:19:47 ubuntu etcd[58837]: snapshot count = 100000
Dec 11 16:19:47 ubuntu etcd[58837]: advertise client URLs = http://10.201.9.223:2379
Dec 11 16:19:47 ubuntu etcd[58837]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 11 16:19:47 ubuntu etcd[58837]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 11 16:19:47 ubuntu etcd[58837]: raft2024/12/11 16:19:47 INFO: c25b29daa831042c switched to configuration voters=()
Dec 11 16:19:47 ubuntu etcd[58837]: raft2024/12/11 16:19:47 INFO: c25b29daa831042c became follower at term 0
Dec 11 16:19:47 ubuntu etcd[58837]: raft2024/12/11 16:19:47 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 11 16:19:47 ubuntu etcd[58837]: raft2024/12/11 16:19:47 INFO: c25b29daa831042c became follower at term 1
Dec 11 16:19:47 ubuntu etcd[58837]: raft2024/12/11 16:19:47 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 11 16:19:47 ubuntu etcd[58837]: simple token is not cryptographically signed
Dec 11 16:19:47 ubuntu etcd[58837]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 11 16:19:47 ubuntu etcd[58837]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 11 16:19:47 ubuntu etcd[58837]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 11 16:19:47 ubuntu etcd[58837]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 11 16:19:47 ubuntu etcd[58837]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 11 16:19:47 ubuntu etcd[58837]: raft2024/12/11 16:19:47 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 11 16:19:47 ubuntu etcd[58837]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 11 16:19:47 ubuntu etcd[58837]: listening for peers on [::]:2380
Dec 11 16:19:48 ubuntu etcd[58837]: raft2024/12/11 16:19:48 INFO: c25b29daa831042c is starting a new election at term 1
Dec 11 16:19:48 ubuntu etcd[58837]: raft2024/12/11 16:19:48 INFO: c25b29daa831042c became candidate at term 2
Dec 11 16:19:48 ubuntu etcd[58837]: raft2024/12/11 16:19:48 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 11 16:19:48 ubuntu etcd[58837]: raft2024/12/11 16:19:48 INFO: c25b29daa831042c became leader at term 2
Dec 11 16:19:48 ubuntu etcd[58837]: raft2024/12/11 16:19:48 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 11 16:19:48 ubuntu etcd[58837]: setting up the initial cluster version to 3.4
Dec 11 16:19:48 ubuntu etcd[58837]: set the initial cluster version to 3.4
Dec 11 16:19:48 ubuntu etcd[58837]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 11 16:19:48 ubuntu etcd[58837]: ready to serve client requests
Dec 11 16:19:48 ubuntu etcd[58837]: enabled capabilities for version 3.4
Dec 11 16:19:48 ubuntu etcd[58837]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 11 16:19:48 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 11 16:24:10 ubuntu etcd[58837]: start time = 2024-12-11 16:24:10.227632331 +0000 UTC m=+262.973261807, time spent = 546.374µs, remote = 10.201.9.223:47308, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 16:24:10 ubuntu etcd[58837]: start time = 2024-12-11 16:24:10.233544217 +0000 UTC m=+262.979173709, time spent = 227.998µs, remote = 10.201.9.223:47308, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 16:24:16 ubuntu etcd[58837]: start time = 2024-12-11 16:24:16.760242039 +0000 UTC m=+269.505871529, time spent = 176.881µs, remote = 10.201.9.223:47308, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 16:24:18 ubuntu etcd[58837]: start time = 2024-12-11 16:24:18.95886765 +0000 UTC m=+271.704497138, time spent = 562.467µs, remote = 10.201.9.223:47308, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
