Dec 13 03:41:03 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 13 03:41:03 ubuntu etcd[59015]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 13 03:41:03 ubuntu etcd[59015]:         A future release of golang/protobuf will delete this package,
Dec 13 03:41:03 ubuntu etcd[59015]:         which has long been excluded from the compatibility promise.
Dec 13 03:41:03 ubuntu etcd[59015]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 13 03:41:03 ubuntu etcd[59015]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 13 03:41:03 ubuntu etcd[59015]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 13 03:41:03 ubuntu etcd[59015]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 13 03:41:03 ubuntu etcd[59015]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 13 03:41:03 ubuntu etcd[59015]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 13 03:41:03 ubuntu etcd[59015]: Running http and grpc server on single port. This is not recommended for production.
Dec 13 03:41:03 ubuntu etcd[59015]: etcd Version: 3.4.27
Dec 13 03:41:03 ubuntu etcd[59015]: Git SHA: c92fb80f3
Dec 13 03:41:03 ubuntu etcd[59015]: Go Version: go1.19.10
Dec 13 03:41:03 ubuntu etcd[59015]: Go OS/Arch: linux/amd64
Dec 13 03:41:03 ubuntu etcd[59015]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 13 03:41:03 ubuntu etcd[59015]: Running http and grpc server on single port. This is not recommended for production.
Dec 13 03:41:03 ubuntu etcd[59015]: name = ubuntu
Dec 13 03:41:03 ubuntu etcd[59015]: data dir = /opt/stack/data/etcd
Dec 13 03:41:03 ubuntu etcd[59015]: member dir = /opt/stack/data/etcd/member
Dec 13 03:41:03 ubuntu etcd[59015]: heartbeat = 100ms
Dec 13 03:41:03 ubuntu etcd[59015]: election = 1000ms
Dec 13 03:41:03 ubuntu etcd[59015]: snapshot count = 100000
Dec 13 03:41:03 ubuntu etcd[59015]: advertise client URLs = http://10.201.4.32:2379
Dec 13 03:41:03 ubuntu etcd[59015]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 13 03:41:03 ubuntu etcd[59015]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 13 03:41:03 ubuntu etcd[59015]: raft2023/12/13 03:41:03 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 13 03:41:03 ubuntu etcd[59015]: raft2023/12/13 03:41:03 INFO: 33238c1cdfea94eb became follower at term 0
Dec 13 03:41:03 ubuntu etcd[59015]: raft2023/12/13 03:41:03 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 13 03:41:03 ubuntu etcd[59015]: raft2023/12/13 03:41:03 INFO: 33238c1cdfea94eb became follower at term 1
Dec 13 03:41:03 ubuntu etcd[59015]: raft2023/12/13 03:41:03 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 13 03:41:03 ubuntu etcd[59015]: simple token is not cryptographically signed
Dec 13 03:41:03 ubuntu etcd[59015]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 13 03:41:03 ubuntu etcd[59015]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 13 03:41:03 ubuntu etcd[59015]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 13 03:41:03 ubuntu etcd[59015]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 13 03:41:03 ubuntu etcd[59015]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 13 03:41:03 ubuntu etcd[59015]: listening for peers on [::]:2380
Dec 13 03:41:03 ubuntu etcd[59015]: raft2023/12/13 03:41:03 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 13 03:41:03 ubuntu etcd[59015]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 13 03:41:03 ubuntu etcd[59015]: raft2023/12/13 03:41:03 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 13 03:41:03 ubuntu etcd[59015]: raft2023/12/13 03:41:03 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 13 03:41:03 ubuntu etcd[59015]: raft2023/12/13 03:41:03 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 13 03:41:03 ubuntu etcd[59015]: raft2023/12/13 03:41:03 INFO: 33238c1cdfea94eb became leader at term 2
Dec 13 03:41:03 ubuntu etcd[59015]: raft2023/12/13 03:41:03 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 13 03:41:03 ubuntu etcd[59015]: setting up the initial cluster version to 3.4
Dec 13 03:41:03 ubuntu etcd[59015]: set the initial cluster version to 3.4
Dec 13 03:41:03 ubuntu etcd[59015]: enabled capabilities for version 3.4
Dec 13 03:41:03 ubuntu etcd[59015]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 13 03:41:03 ubuntu etcd[59015]: INFO: 2023/12/13 03:41:03 parsed scheme: ""
Dec 13 03:41:03 ubuntu etcd[59015]: INFO: 2023/12/13 03:41:03 scheme "" not registered, fallback to default scheme
Dec 13 03:41:03 ubuntu etcd[59015]: ready to serve client requests
Dec 13 03:41:03 ubuntu etcd[59015]: INFO: 2023/12/13 03:41:03 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Dec 13 03:41:03 ubuntu etcd[59015]: INFO: 2023/12/13 03:41:03 ClientConn switching balancer to "pick_first"
Dec 13 03:41:03 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 13 03:41:03 ubuntu etcd[59015]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 13 03:45:33 ubuntu etcd[59015]: start time = 2023-12-13 03:45:33.921512432 +0000 UTC m=+270.786328854, time spent = 429.867µs, remote = 10.201.4.32:46492, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 13 03:45:33 ubuntu etcd[59015]: start time = 2023-12-13 03:45:33.991733477 +0000 UTC m=+270.856549898, time spent = 187.499µs, remote = 10.201.4.32:46492, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 13 03:45:40 ubuntu etcd[59015]: start time = 2023-12-13 03:45:40.223796046 +0000 UTC m=+277.088612479, time spent = 184.337µs, remote = 10.201.4.32:46492, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 13 03:45:42 ubuntu etcd[59015]: start time = 2023-12-13 03:45:42.365261345 +0000 UTC m=+279.230077778, time spent = 184.36µs, remote = 10.201.4.32:46492, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
