Sep 03 20:34:41 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 03 20:34:41 ubuntu etcd[59451]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 03 20:34:41 ubuntu etcd[59451]:         A future release of golang/protobuf will delete this package,
Sep 03 20:34:41 ubuntu etcd[59451]:         which has long been excluded from the compatibility promise.
Sep 03 20:34:41 ubuntu etcd[59451]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 03 20:34:41 ubuntu etcd[59451]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 03 20:34:41 ubuntu etcd[59451]: Running http and grpc server on single port. This is not recommended for production.
Sep 03 20:34:41 ubuntu etcd[59451]: etcd Version: 3.4.27
Sep 03 20:34:41 ubuntu etcd[59451]: Git SHA: c92fb80f3
Sep 03 20:34:41 ubuntu etcd[59451]: Go Version: go1.19.10
Sep 03 20:34:41 ubuntu etcd[59451]: Go OS/Arch: linux/amd64
Sep 03 20:34:41 ubuntu etcd[59451]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 03 20:34:41 ubuntu etcd[59451]: Running http and grpc server on single port. This is not recommended for production.
Sep 03 20:34:41 ubuntu etcd[59451]: name = ubuntu
Sep 03 20:34:41 ubuntu etcd[59451]: data dir = /opt/stack/data/etcd
Sep 03 20:34:41 ubuntu etcd[59451]: member dir = /opt/stack/data/etcd/member
Sep 03 20:34:41 ubuntu etcd[59451]: heartbeat = 100ms
Sep 03 20:34:41 ubuntu etcd[59451]: election = 1000ms
Sep 03 20:34:41 ubuntu etcd[59451]: snapshot count = 100000
Sep 03 20:34:41 ubuntu etcd[59451]: advertise client URLs = http://10.201.4.32:2379
Sep 03 20:34:41 ubuntu etcd[59451]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 03 20:34:42 ubuntu etcd[59451]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 03 20:34:42 ubuntu etcd[59451]: raft2024/09/03 20:34:42 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 03 20:34:42 ubuntu etcd[59451]: raft2024/09/03 20:34:42 INFO: 33238c1cdfea94eb became follower at term 0
Sep 03 20:34:42 ubuntu etcd[59451]: raft2024/09/03 20:34:42 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 03 20:34:42 ubuntu etcd[59451]: raft2024/09/03 20:34:42 INFO: 33238c1cdfea94eb became follower at term 1
Sep 03 20:34:42 ubuntu etcd[59451]: raft2024/09/03 20:34:42 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 03 20:34:42 ubuntu etcd[59451]: simple token is not cryptographically signed
Sep 03 20:34:42 ubuntu etcd[59451]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 03 20:34:42 ubuntu etcd[59451]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 03 20:34:42 ubuntu etcd[59451]: raft2024/09/03 20:34:42 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 03 20:34:42 ubuntu etcd[59451]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 03 20:34:42 ubuntu etcd[59451]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 03 20:34:42 ubuntu etcd[59451]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 03 20:34:42 ubuntu etcd[59451]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 03 20:34:42 ubuntu etcd[59451]: listening for peers on [::]:2380
Sep 03 20:34:42 ubuntu etcd[59451]: raft2024/09/03 20:34:42 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 03 20:34:42 ubuntu etcd[59451]: raft2024/09/03 20:34:42 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 03 20:34:42 ubuntu etcd[59451]: raft2024/09/03 20:34:42 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 03 20:34:42 ubuntu etcd[59451]: raft2024/09/03 20:34:42 INFO: 33238c1cdfea94eb became leader at term 2
Sep 03 20:34:42 ubuntu etcd[59451]: raft2024/09/03 20:34:42 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 03 20:34:42 ubuntu etcd[59451]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 03 20:34:42 ubuntu etcd[59451]: setting up the initial cluster version to 3.4
Sep 03 20:34:42 ubuntu etcd[59451]: ready to serve client requests
Sep 03 20:34:42 ubuntu etcd[59451]: set the initial cluster version to 3.4
Sep 03 20:34:42 ubuntu etcd[59451]: enabled capabilities for version 3.4
Sep 03 20:34:42 ubuntu etcd[59451]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 03 20:34:42 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 03 20:39:00 ubuntu etcd[59451]: start time = 2024-09-03 20:39:00.469954249 +0000 UTC m=+258.510784972, time spent = 606.059µs, remote = 10.201.4.32:46240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 03 20:39:00 ubuntu etcd[59451]: start time = 2024-09-03 20:39:00.521961083 +0000 UTC m=+258.562791813, time spent = 292.838µs, remote = 10.201.4.32:46240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 03 20:39:07 ubuntu etcd[59451]: start time = 2024-09-03 20:39:07.310261439 +0000 UTC m=+265.351092169, time spent = 210.826µs, remote = 10.201.4.32:46240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 03 20:39:09 ubuntu etcd[59451]: start time = 2024-09-03 20:39:09.47812723 +0000 UTC m=+267.518957968, time spent = 194.598µs, remote = 10.201.4.32:46240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
