Jul 23 22:30:01 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 23 22:30:01 ubuntu etcd[59256]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 23 22:30:01 ubuntu etcd[59256]:         A future release of golang/protobuf will delete this package,
Jul 23 22:30:01 ubuntu etcd[59256]:         which has long been excluded from the compatibility promise.
Jul 23 22:30:01 ubuntu etcd[59256]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 22:30:01 ubuntu etcd[59256]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 22:30:01 ubuntu etcd[59256]: etcd Version: 3.4.27
Jul 23 22:30:01 ubuntu etcd[59256]: Git SHA: c92fb80f3
Jul 23 22:30:01 ubuntu etcd[59256]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 22:30:01 ubuntu etcd[59256]: Go Version: go1.19.10
Jul 23 22:30:01 ubuntu etcd[59256]: Go OS/Arch: linux/amd64
Jul 23 22:30:01 ubuntu etcd[59256]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 23 22:30:01 ubuntu etcd[59256]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 22:30:01 ubuntu etcd[59256]: name = ubuntu
Jul 23 22:30:01 ubuntu etcd[59256]: data dir = /opt/stack/data/etcd
Jul 23 22:30:01 ubuntu etcd[59256]: member dir = /opt/stack/data/etcd/member
Jul 23 22:30:01 ubuntu etcd[59256]: heartbeat = 100ms
Jul 23 22:30:01 ubuntu etcd[59256]: election = 1000ms
Jul 23 22:30:01 ubuntu etcd[59256]: snapshot count = 100000
Jul 23 22:30:01 ubuntu etcd[59256]: advertise client URLs = http://10.201.9.223:2379
Jul 23 22:30:01 ubuntu etcd[59256]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 23 22:30:01 ubuntu etcd[59256]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c switched to configuration voters=()
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c became follower at term 0
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c became follower at term 1
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 23 22:30:01 ubuntu etcd[59256]: simple token is not cryptographically signed
Jul 23 22:30:01 ubuntu etcd[59256]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 23 22:30:01 ubuntu etcd[59256]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 23 22:30:01 ubuntu etcd[59256]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 23 22:30:01 ubuntu etcd[59256]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 23 22:30:01 ubuntu etcd[59256]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 23 22:30:01 ubuntu etcd[59256]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 23 22:30:01 ubuntu etcd[59256]: listening for peers on [::]:2380
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c is starting a new election at term 1
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c became candidate at term 2
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c became leader at term 2
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 23 22:30:01 ubuntu etcd[59256]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 23 22:30:01 ubuntu etcd[59256]: setting up the initial cluster version to 3.4
Jul 23 22:30:01 ubuntu etcd[59256]: set the initial cluster version to 3.4
Jul 23 22:30:01 ubuntu etcd[59256]: ready to serve client requests
Jul 23 22:30:01 ubuntu etcd[59256]: enabled capabilities for version 3.4
Jul 23 22:30:01 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 23 22:30:01 ubuntu etcd[59256]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 23 22:34:07 ubuntu etcd[59256]: start time = 2025-07-23 22:34:07.274245581 +0000 UTC m=+245.994006110, time spent = 492.941µs, remote = 10.201.9.223:50376, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:34:07 ubuntu etcd[59256]: start time = 2025-07-23 22:34:07.344637088 +0000 UTC m=+246.064397623, time spent = 188.854µs, remote = 10.201.9.223:50376, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:34:13 ubuntu etcd[59256]: start time = 2025-07-23 22:34:13.668096115 +0000 UTC m=+252.387856653, time spent = 182.142µs, remote = 10.201.9.223:50376, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:34:15 ubuntu etcd[59256]: start time = 2025-07-23 22:34:15.956217648 +0000 UTC m=+254.675978185, time spent = 160.953µs, remote = 10.201.9.223:50376, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:30:01 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 23 22:30:01 ubuntu etcd[59256]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 23 22:30:01 ubuntu etcd[59256]:         A future release of golang/protobuf will delete this package,
Jul 23 22:30:01 ubuntu etcd[59256]:         which has long been excluded from the compatibility promise.
Jul 23 22:30:01 ubuntu etcd[59256]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 22:30:01 ubuntu etcd[59256]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 22:30:01 ubuntu etcd[59256]: etcd Version: 3.4.27
Jul 23 22:30:01 ubuntu etcd[59256]: Git SHA: c92fb80f3
Jul 23 22:30:01 ubuntu etcd[59256]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 22:30:01 ubuntu etcd[59256]: Go Version: go1.19.10
Jul 23 22:30:01 ubuntu etcd[59256]: Go OS/Arch: linux/amd64
Jul 23 22:30:01 ubuntu etcd[59256]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 23 22:30:01 ubuntu etcd[59256]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 22:30:01 ubuntu etcd[59256]: name = ubuntu
Jul 23 22:30:01 ubuntu etcd[59256]: data dir = /opt/stack/data/etcd
Jul 23 22:30:01 ubuntu etcd[59256]: member dir = /opt/stack/data/etcd/member
Jul 23 22:30:01 ubuntu etcd[59256]: heartbeat = 100ms
Jul 23 22:30:01 ubuntu etcd[59256]: election = 1000ms
Jul 23 22:30:01 ubuntu etcd[59256]: snapshot count = 100000
Jul 23 22:30:01 ubuntu etcd[59256]: advertise client URLs = http://10.201.9.223:2379
Jul 23 22:30:01 ubuntu etcd[59256]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 23 22:30:01 ubuntu etcd[59256]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c switched to configuration voters=()
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c became follower at term 0
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c became follower at term 1
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 23 22:30:01 ubuntu etcd[59256]: simple token is not cryptographically signed
Jul 23 22:30:01 ubuntu etcd[59256]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 23 22:30:01 ubuntu etcd[59256]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 23 22:30:01 ubuntu etcd[59256]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 23 22:30:01 ubuntu etcd[59256]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 23 22:30:01 ubuntu etcd[59256]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 23 22:30:01 ubuntu etcd[59256]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 23 22:30:01 ubuntu etcd[59256]: listening for peers on [::]:2380
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c is starting a new election at term 1
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c became candidate at term 2
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: c25b29daa831042c became leader at term 2
Jul 23 22:30:01 ubuntu etcd[59256]: raft2025/07/23 22:30:01 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 23 22:30:01 ubuntu etcd[59256]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 23 22:30:01 ubuntu etcd[59256]: setting up the initial cluster version to 3.4
Jul 23 22:30:01 ubuntu etcd[59256]: set the initial cluster version to 3.4
Jul 23 22:30:01 ubuntu etcd[59256]: ready to serve client requests
Jul 23 22:30:01 ubuntu etcd[59256]: enabled capabilities for version 3.4
Jul 23 22:30:01 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 23 22:30:01 ubuntu etcd[59256]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 23 22:34:07 ubuntu etcd[59256]: start time = 2025-07-23 22:34:07.274245581 +0000 UTC m=+245.994006110, time spent = 492.941µs, remote = 10.201.9.223:50376, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:34:07 ubuntu etcd[59256]: start time = 2025-07-23 22:34:07.344637088 +0000 UTC m=+246.064397623, time spent = 188.854µs, remote = 10.201.9.223:50376, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:34:13 ubuntu etcd[59256]: start time = 2025-07-23 22:34:13.668096115 +0000 UTC m=+252.387856653, time spent = 182.142µs, remote = 10.201.9.223:50376, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:34:15 ubuntu etcd[59256]: start time = 2025-07-23 22:34:15.956217648 +0000 UTC m=+254.675978185, time spent = 160.953µs, remote = 10.201.9.223:50376, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
