May 21 07:30:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 21 07:30:32 ubuntu etcd[60024]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 21 07:30:32 ubuntu etcd[60024]:         A future release of golang/protobuf will delete this package,
May 21 07:30:32 ubuntu etcd[60024]:         which has long been excluded from the compatibility promise.
May 21 07:30:32 ubuntu etcd[60024]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 21 07:30:32 ubuntu etcd[60024]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 21 07:30:32 ubuntu etcd[60024]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 07:30:32 ubuntu etcd[60024]: Running http and grpc server on single port. This is not recommended for production.
May 21 07:30:32 ubuntu etcd[60024]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 21 07:30:32 ubuntu etcd[60024]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 21 07:30:32 ubuntu etcd[60024]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 07:30:32 ubuntu etcd[60024]: etcd Version: 3.4.27
May 21 07:30:32 ubuntu etcd[60024]: Git SHA: c92fb80f3
May 21 07:30:32 ubuntu etcd[60024]: Go Version: go1.19.10
May 21 07:30:32 ubuntu etcd[60024]: Go OS/Arch: linux/amd64
May 21 07:30:32 ubuntu etcd[60024]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 21 07:30:32 ubuntu etcd[60024]: Running http and grpc server on single port. This is not recommended for production.
May 21 07:30:32 ubuntu etcd[60024]: name = ubuntu
May 21 07:30:32 ubuntu etcd[60024]: data dir = /opt/stack/data/etcd
May 21 07:30:32 ubuntu etcd[60024]: member dir = /opt/stack/data/etcd/member
May 21 07:30:32 ubuntu etcd[60024]: heartbeat = 100ms
May 21 07:30:32 ubuntu etcd[60024]: election = 1000ms
May 21 07:30:32 ubuntu etcd[60024]: snapshot count = 100000
May 21 07:30:32 ubuntu etcd[60024]: advertise client URLs = http://10.201.4.32:2379
May 21 07:30:32 ubuntu etcd[60024]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 21 07:30:32 ubuntu etcd[60024]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 21 07:30:32 ubuntu etcd[60024]: raft2024/05/21 07:30:32 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 21 07:30:32 ubuntu etcd[60024]: raft2024/05/21 07:30:32 INFO: 33238c1cdfea94eb became follower at term 0
May 21 07:30:32 ubuntu etcd[60024]: raft2024/05/21 07:30:32 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 21 07:30:32 ubuntu etcd[60024]: raft2024/05/21 07:30:32 INFO: 33238c1cdfea94eb became follower at term 1
May 21 07:30:32 ubuntu etcd[60024]: raft2024/05/21 07:30:32 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 21 07:30:32 ubuntu etcd[60024]: simple token is not cryptographically signed
May 21 07:30:32 ubuntu etcd[60024]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 21 07:30:32 ubuntu etcd[60024]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 21 07:30:32 ubuntu etcd[60024]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 21 07:30:32 ubuntu etcd[60024]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 21 07:30:32 ubuntu etcd[60024]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 21 07:30:32 ubuntu etcd[60024]: raft2024/05/21 07:30:32 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 21 07:30:32 ubuntu etcd[60024]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 21 07:30:32 ubuntu etcd[60024]: listening for peers on [::]:2380
May 21 07:30:33 ubuntu etcd[60024]: raft2024/05/21 07:30:33 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 21 07:30:33 ubuntu etcd[60024]: raft2024/05/21 07:30:33 INFO: 33238c1cdfea94eb became candidate at term 2
May 21 07:30:33 ubuntu etcd[60024]: raft2024/05/21 07:30:33 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 21 07:30:33 ubuntu etcd[60024]: raft2024/05/21 07:30:33 INFO: 33238c1cdfea94eb became leader at term 2
May 21 07:30:33 ubuntu etcd[60024]: raft2024/05/21 07:30:33 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 21 07:30:33 ubuntu etcd[60024]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 21 07:30:33 ubuntu etcd[60024]: setting up the initial cluster version to 3.4
May 21 07:30:33 ubuntu etcd[60024]: ready to serve client requests
May 21 07:30:33 ubuntu etcd[60024]: INFO: 2024/05/21 07:30:33 parsed scheme: ""
May 21 07:30:33 ubuntu etcd[60024]: INFO: 2024/05/21 07:30:33 scheme "" not registered, fallback to default scheme
May 21 07:30:33 ubuntu etcd[60024]: INFO: 2024/05/21 07:30:33 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 21 07:30:33 ubuntu etcd[60024]: INFO: 2024/05/21 07:30:33 ClientConn switching balancer to "pick_first"
May 21 07:30:33 ubuntu etcd[60024]: set the initial cluster version to 3.4
May 21 07:30:33 ubuntu etcd[60024]: enabled capabilities for version 3.4
May 21 07:30:33 ubuntu etcd[60024]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 21 07:30:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 21 07:34:49 ubuntu etcd[60024]: start time = 2024-05-21 07:34:49.639942601 +0000 UTC m=+257.002909719, time spent = 467.581µs, remote = 10.201.4.32:33122, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 07:34:49 ubuntu etcd[60024]: start time = 2024-05-21 07:34:49.642074653 +0000 UTC m=+257.005041773, time spent = 148.117µs, remote = 10.201.4.32:33122, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 07:34:56 ubuntu etcd[60024]: start time = 2024-05-21 07:34:56.034020599 +0000 UTC m=+263.396987717, time spent = 172.862µs, remote = 10.201.4.32:33122, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 07:34:58 ubuntu etcd[60024]: start time = 2024-05-21 07:34:58.319163827 +0000 UTC m=+265.682130957, time spent = 165.673µs, remote = 10.201.4.32:33122, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 07:30:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 21 07:30:32 ubuntu etcd[60024]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 21 07:30:32 ubuntu etcd[60024]:         A future release of golang/protobuf will delete this package,
May 21 07:30:32 ubuntu etcd[60024]:         which has long been excluded from the compatibility promise.
May 21 07:30:32 ubuntu etcd[60024]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 21 07:30:32 ubuntu etcd[60024]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 21 07:30:32 ubuntu etcd[60024]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 07:30:32 ubuntu etcd[60024]: Running http and grpc server on single port. This is not recommended for production.
May 21 07:30:32 ubuntu etcd[60024]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 21 07:30:32 ubuntu etcd[60024]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 21 07:30:32 ubuntu etcd[60024]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 07:30:32 ubuntu etcd[60024]: etcd Version: 3.4.27
May 21 07:30:32 ubuntu etcd[60024]: Git SHA: c92fb80f3
May 21 07:30:32 ubuntu etcd[60024]: Go Version: go1.19.10
May 21 07:30:32 ubuntu etcd[60024]: Go OS/Arch: linux/amd64
May 21 07:30:32 ubuntu etcd[60024]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 21 07:30:32 ubuntu etcd[60024]: Running http and grpc server on single port. This is not recommended for production.
May 21 07:30:32 ubuntu etcd[60024]: name = ubuntu
May 21 07:30:32 ubuntu etcd[60024]: data dir = /opt/stack/data/etcd
May 21 07:30:32 ubuntu etcd[60024]: member dir = /opt/stack/data/etcd/member
May 21 07:30:32 ubuntu etcd[60024]: heartbeat = 100ms
May 21 07:30:32 ubuntu etcd[60024]: election = 1000ms
May 21 07:30:32 ubuntu etcd[60024]: snapshot count = 100000
May 21 07:30:32 ubuntu etcd[60024]: advertise client URLs = http://10.201.4.32:2379
May 21 07:30:32 ubuntu etcd[60024]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 21 07:30:32 ubuntu etcd[60024]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 21 07:30:32 ubuntu etcd[60024]: raft2024/05/21 07:30:32 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 21 07:30:32 ubuntu etcd[60024]: raft2024/05/21 07:30:32 INFO: 33238c1cdfea94eb became follower at term 0
May 21 07:30:32 ubuntu etcd[60024]: raft2024/05/21 07:30:32 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 21 07:30:32 ubuntu etcd[60024]: raft2024/05/21 07:30:32 INFO: 33238c1cdfea94eb became follower at term 1
May 21 07:30:32 ubuntu etcd[60024]: raft2024/05/21 07:30:32 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 21 07:30:32 ubuntu etcd[60024]: simple token is not cryptographically signed
May 21 07:30:32 ubuntu etcd[60024]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 21 07:30:32 ubuntu etcd[60024]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 21 07:30:32 ubuntu etcd[60024]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 21 07:30:32 ubuntu etcd[60024]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 21 07:30:32 ubuntu etcd[60024]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 21 07:30:32 ubuntu etcd[60024]: raft2024/05/21 07:30:32 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 21 07:30:32 ubuntu etcd[60024]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 21 07:30:32 ubuntu etcd[60024]: listening for peers on [::]:2380
May 21 07:30:33 ubuntu etcd[60024]: raft2024/05/21 07:30:33 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 21 07:30:33 ubuntu etcd[60024]: raft2024/05/21 07:30:33 INFO: 33238c1cdfea94eb became candidate at term 2
May 21 07:30:33 ubuntu etcd[60024]: raft2024/05/21 07:30:33 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 21 07:30:33 ubuntu etcd[60024]: raft2024/05/21 07:30:33 INFO: 33238c1cdfea94eb became leader at term 2
May 21 07:30:33 ubuntu etcd[60024]: raft2024/05/21 07:30:33 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 21 07:30:33 ubuntu etcd[60024]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 21 07:30:33 ubuntu etcd[60024]: setting up the initial cluster version to 3.4
May 21 07:30:33 ubuntu etcd[60024]: ready to serve client requests
May 21 07:30:33 ubuntu etcd[60024]: INFO: 2024/05/21 07:30:33 parsed scheme: ""
May 21 07:30:33 ubuntu etcd[60024]: INFO: 2024/05/21 07:30:33 scheme "" not registered, fallback to default scheme
May 21 07:30:33 ubuntu etcd[60024]: INFO: 2024/05/21 07:30:33 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 21 07:30:33 ubuntu etcd[60024]: INFO: 2024/05/21 07:30:33 ClientConn switching balancer to "pick_first"
May 21 07:30:33 ubuntu etcd[60024]: set the initial cluster version to 3.4
May 21 07:30:33 ubuntu etcd[60024]: enabled capabilities for version 3.4
May 21 07:30:33 ubuntu etcd[60024]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 21 07:30:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 21 07:34:49 ubuntu etcd[60024]: start time = 2024-05-21 07:34:49.639942601 +0000 UTC m=+257.002909719, time spent = 467.581µs, remote = 10.201.4.32:33122, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 07:34:49 ubuntu etcd[60024]: start time = 2024-05-21 07:34:49.642074653 +0000 UTC m=+257.005041773, time spent = 148.117µs, remote = 10.201.4.32:33122, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 07:34:56 ubuntu etcd[60024]: start time = 2024-05-21 07:34:56.034020599 +0000 UTC m=+263.396987717, time spent = 172.862µs, remote = 10.201.4.32:33122, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 07:34:58 ubuntu etcd[60024]: start time = 2024-05-21 07:34:58.319163827 +0000 UTC m=+265.682130957, time spent = 165.673µs, remote = 10.201.4.32:33122, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
