Apr 09 09:54:19 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 09 09:54:19 ubuntu etcd[61455]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 09 09:54:19 ubuntu etcd[61455]:         A future release of golang/protobuf will delete this package,
Apr 09 09:54:19 ubuntu etcd[61455]:         which has long been excluded from the compatibility promise.
Apr 09 09:54:19 ubuntu etcd[61455]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 09 09:54:19 ubuntu etcd[61455]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 09 09:54:19 ubuntu etcd[61455]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 09 09:54:19 ubuntu etcd[61455]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 09 09:54:19 ubuntu etcd[61455]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 09 09:54:19 ubuntu etcd[61455]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 09 09:54:19 ubuntu etcd[61455]: Running http and grpc server on single port. This is not recommended for production.
Apr 09 09:54:19 ubuntu etcd[61455]: etcd Version: 3.4.27
Apr 09 09:54:19 ubuntu etcd[61455]: Git SHA: c92fb80f3
Apr 09 09:54:19 ubuntu etcd[61455]: Go Version: go1.19.10
Apr 09 09:54:19 ubuntu etcd[61455]: Go OS/Arch: linux/amd64
Apr 09 09:54:19 ubuntu etcd[61455]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 09 09:54:19 ubuntu etcd[61455]: Running http and grpc server on single port. This is not recommended for production.
Apr 09 09:54:19 ubuntu etcd[61455]: name = ubuntu
Apr 09 09:54:19 ubuntu etcd[61455]: data dir = /opt/stack/data/etcd
Apr 09 09:54:19 ubuntu etcd[61455]: member dir = /opt/stack/data/etcd/member
Apr 09 09:54:19 ubuntu etcd[61455]: heartbeat = 100ms
Apr 09 09:54:19 ubuntu etcd[61455]: election = 1000ms
Apr 09 09:54:19 ubuntu etcd[61455]: snapshot count = 100000
Apr 09 09:54:19 ubuntu etcd[61455]: advertise client URLs = http://10.201.4.32:2379
Apr 09 09:54:19 ubuntu etcd[61455]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 09 09:54:19 ubuntu etcd[61455]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 09 09:54:19 ubuntu etcd[61455]: raft2024/04/09 09:54:19 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 09 09:54:19 ubuntu etcd[61455]: raft2024/04/09 09:54:19 INFO: 33238c1cdfea94eb became follower at term 0
Apr 09 09:54:19 ubuntu etcd[61455]: raft2024/04/09 09:54:19 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 09 09:54:19 ubuntu etcd[61455]: raft2024/04/09 09:54:19 INFO: 33238c1cdfea94eb became follower at term 1
Apr 09 09:54:19 ubuntu etcd[61455]: raft2024/04/09 09:54:19 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 09 09:54:19 ubuntu etcd[61455]: simple token is not cryptographically signed
Apr 09 09:54:19 ubuntu etcd[61455]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 09 09:54:19 ubuntu etcd[61455]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 09 09:54:19 ubuntu etcd[61455]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 09 09:54:19 ubuntu etcd[61455]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 09 09:54:19 ubuntu etcd[61455]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 09 09:54:19 ubuntu etcd[61455]: raft2024/04/09 09:54:19 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 09 09:54:19 ubuntu etcd[61455]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 09 09:54:19 ubuntu etcd[61455]: listening for peers on [::]:2380
Apr 09 09:54:20 ubuntu etcd[61455]: raft2024/04/09 09:54:20 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 09 09:54:20 ubuntu etcd[61455]: raft2024/04/09 09:54:20 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 09 09:54:20 ubuntu etcd[61455]: raft2024/04/09 09:54:20 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 09 09:54:20 ubuntu etcd[61455]: raft2024/04/09 09:54:20 INFO: 33238c1cdfea94eb became leader at term 2
Apr 09 09:54:20 ubuntu etcd[61455]: raft2024/04/09 09:54:20 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 09 09:54:20 ubuntu etcd[61455]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 09 09:54:20 ubuntu etcd[61455]: setting up the initial cluster version to 3.4
Apr 09 09:54:20 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 09 09:54:20 ubuntu etcd[61455]: set the initial cluster version to 3.4
Apr 09 09:54:20 ubuntu etcd[61455]: ready to serve client requests
Apr 09 09:54:20 ubuntu etcd[61455]: enabled capabilities for version 3.4
Apr 09 09:54:20 ubuntu etcd[61455]: INFO: 2024/04/09 09:54:20 parsed scheme: ""
Apr 09 09:54:20 ubuntu etcd[61455]: INFO: 2024/04/09 09:54:20 scheme "" not registered, fallback to default scheme
Apr 09 09:54:20 ubuntu etcd[61455]: INFO: 2024/04/09 09:54:20 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 09 09:54:20 ubuntu etcd[61455]: INFO: 2024/04/09 09:54:20 ClientConn switching balancer to "pick_first"
Apr 09 09:54:20 ubuntu etcd[61455]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 09 09:58:57 ubuntu etcd[61455]: start time = 2024-04-09 09:58:57.961738027 +0000 UTC m=+278.224917485, time spent = 578.199µs, remote = 10.201.4.32:53564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 09 09:58:58 ubuntu etcd[61455]: start time = 2024-04-09 09:58:58.048143856 +0000 UTC m=+278.311323325, time spent = 156.341µs, remote = 10.201.4.32:53564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 09 09:59:04 ubuntu etcd[61455]: start time = 2024-04-09 09:59:04.91735304 +0000 UTC m=+285.180532556, time spent = 295.394µs, remote = 10.201.4.32:53564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 09 09:59:07 ubuntu etcd[61455]: start time = 2024-04-09 09:59:07.167172614 +0000 UTC m=+287.430352084, time spent = 436.55µs, remote = 10.201.4.32:53564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
