Sep 09 18:29:36 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 09 18:29:36 ubuntu etcd[59801]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 09 18:29:36 ubuntu etcd[59801]:         A future release of golang/protobuf will delete this package,
Sep 09 18:29:36 ubuntu etcd[59801]:         which has long been excluded from the compatibility promise.
Sep 09 18:29:36 ubuntu etcd[59801]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 09 18:29:36 ubuntu etcd[59801]: Running http and grpc server on single port. This is not recommended for production.
Sep 09 18:29:36 ubuntu etcd[59801]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 09 18:29:36 ubuntu etcd[59801]: etcd Version: 3.4.27
Sep 09 18:29:36 ubuntu etcd[59801]: Git SHA: c92fb80f3
Sep 09 18:29:36 ubuntu etcd[59801]: Go Version: go1.19.10
Sep 09 18:29:36 ubuntu etcd[59801]: Go OS/Arch: linux/amd64
Sep 09 18:29:36 ubuntu etcd[59801]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 09 18:29:36 ubuntu etcd[59801]: Running http and grpc server on single port. This is not recommended for production.
Sep 09 18:29:36 ubuntu etcd[59801]: name = ubuntu
Sep 09 18:29:36 ubuntu etcd[59801]: data dir = /opt/stack/data/etcd
Sep 09 18:29:36 ubuntu etcd[59801]: member dir = /opt/stack/data/etcd/member
Sep 09 18:29:36 ubuntu etcd[59801]: heartbeat = 100ms
Sep 09 18:29:36 ubuntu etcd[59801]: election = 1000ms
Sep 09 18:29:36 ubuntu etcd[59801]: snapshot count = 100000
Sep 09 18:29:36 ubuntu etcd[59801]: advertise client URLs = http://10.201.4.32:2379
Sep 09 18:29:36 ubuntu etcd[59801]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 09 18:29:36 ubuntu etcd[59801]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 09 18:29:36 ubuntu etcd[59801]: raft2024/09/09 18:29:36 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 09 18:29:36 ubuntu etcd[59801]: raft2024/09/09 18:29:36 INFO: 33238c1cdfea94eb became follower at term 0
Sep 09 18:29:36 ubuntu etcd[59801]: raft2024/09/09 18:29:36 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 09 18:29:36 ubuntu etcd[59801]: raft2024/09/09 18:29:36 INFO: 33238c1cdfea94eb became follower at term 1
Sep 09 18:29:36 ubuntu etcd[59801]: raft2024/09/09 18:29:36 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 09 18:29:36 ubuntu etcd[59801]: simple token is not cryptographically signed
Sep 09 18:29:36 ubuntu etcd[59801]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 09 18:29:36 ubuntu etcd[59801]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 09 18:29:36 ubuntu etcd[59801]: raft2024/09/09 18:29:36 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 09 18:29:36 ubuntu etcd[59801]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 09 18:29:36 ubuntu etcd[59801]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 09 18:29:36 ubuntu etcd[59801]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 09 18:29:36 ubuntu etcd[59801]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 09 18:29:36 ubuntu etcd[59801]: listening for peers on [::]:2380
Sep 09 18:29:37 ubuntu etcd[59801]: raft2024/09/09 18:29:37 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 09 18:29:37 ubuntu etcd[59801]: raft2024/09/09 18:29:37 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 09 18:29:37 ubuntu etcd[59801]: raft2024/09/09 18:29:37 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 09 18:29:37 ubuntu etcd[59801]: raft2024/09/09 18:29:37 INFO: 33238c1cdfea94eb became leader at term 2
Sep 09 18:29:37 ubuntu etcd[59801]: raft2024/09/09 18:29:37 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 09 18:29:37 ubuntu etcd[59801]: setting up the initial cluster version to 3.4
Sep 09 18:29:37 ubuntu etcd[59801]: set the initial cluster version to 3.4
Sep 09 18:29:37 ubuntu etcd[59801]: ready to serve client requests
Sep 09 18:29:37 ubuntu etcd[59801]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 09 18:29:37 ubuntu etcd[59801]: enabled capabilities for version 3.4
Sep 09 18:29:37 ubuntu etcd[59801]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 09 18:29:37 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 09 18:33:55 ubuntu etcd[59801]: start time = 2024-09-09 18:33:55.421628679 +0000 UTC m=+258.953660667, time spent = 515.707µs, remote = 10.201.4.32:45118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 09 18:33:55 ubuntu etcd[59801]: start time = 2024-09-09 18:33:55.585997315 +0000 UTC m=+259.118029319, time spent = 270.436µs, remote = 10.201.4.32:45118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 09 18:34:02 ubuntu etcd[59801]: start time = 2024-09-09 18:34:02.092396642 +0000 UTC m=+265.624428644, time spent = 173.425µs, remote = 10.201.4.32:45118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 09 18:34:04 ubuntu etcd[59801]: start time = 2024-09-09 18:34:04.052990492 +0000 UTC m=+267.585022496, time spent = 381.318µs, remote = 10.201.4.32:45118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
