Jan 18 10:12:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 18 10:12:46 ubuntu etcd[59701]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 18 10:12:46 ubuntu etcd[59701]:         A future release of golang/protobuf will delete this package,
Jan 18 10:12:46 ubuntu etcd[59701]:         which has long been excluded from the compatibility promise.
Jan 18 10:12:46 ubuntu etcd[59701]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 18 10:12:46 ubuntu etcd[59701]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 18 10:12:46 ubuntu etcd[59701]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 18 10:12:46 ubuntu etcd[59701]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 18 10:12:46 ubuntu etcd[59701]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 18 10:12:46 ubuntu etcd[59701]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 18 10:12:46 ubuntu etcd[59701]: Running http and grpc server on single port. This is not recommended for production.
Jan 18 10:12:46 ubuntu etcd[59701]: etcd Version: 3.4.27
Jan 18 10:12:46 ubuntu etcd[59701]: Git SHA: c92fb80f3
Jan 18 10:12:46 ubuntu etcd[59701]: Go Version: go1.19.10
Jan 18 10:12:46 ubuntu etcd[59701]: Go OS/Arch: linux/amd64
Jan 18 10:12:46 ubuntu etcd[59701]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 18 10:12:46 ubuntu etcd[59701]: Running http and grpc server on single port. This is not recommended for production.
Jan 18 10:12:46 ubuntu etcd[59701]: name = ubuntu
Jan 18 10:12:46 ubuntu etcd[59701]: data dir = /opt/stack/data/etcd
Jan 18 10:12:46 ubuntu etcd[59701]: member dir = /opt/stack/data/etcd/member
Jan 18 10:12:46 ubuntu etcd[59701]: heartbeat = 100ms
Jan 18 10:12:46 ubuntu etcd[59701]: election = 1000ms
Jan 18 10:12:46 ubuntu etcd[59701]: snapshot count = 100000
Jan 18 10:12:46 ubuntu etcd[59701]: advertise client URLs = http://10.201.4.32:2379
Jan 18 10:12:46 ubuntu etcd[59701]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 18 10:12:46 ubuntu etcd[59701]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 18 10:12:46 ubuntu etcd[59701]: raft2024/01/18 10:12:46 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 18 10:12:46 ubuntu etcd[59701]: raft2024/01/18 10:12:46 INFO: 33238c1cdfea94eb became follower at term 0
Jan 18 10:12:46 ubuntu etcd[59701]: raft2024/01/18 10:12:46 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 18 10:12:46 ubuntu etcd[59701]: raft2024/01/18 10:12:46 INFO: 33238c1cdfea94eb became follower at term 1
Jan 18 10:12:46 ubuntu etcd[59701]: raft2024/01/18 10:12:46 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 18 10:12:46 ubuntu etcd[59701]: simple token is not cryptographically signed
Jan 18 10:12:46 ubuntu etcd[59701]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 18 10:12:46 ubuntu etcd[59701]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 18 10:12:46 ubuntu etcd[59701]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 18 10:12:46 ubuntu etcd[59701]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 18 10:12:46 ubuntu etcd[59701]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 18 10:12:46 ubuntu etcd[59701]: raft2024/01/18 10:12:46 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 18 10:12:46 ubuntu etcd[59701]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 18 10:12:46 ubuntu etcd[59701]: listening for peers on [::]:2380
Jan 18 10:12:47 ubuntu etcd[59701]: raft2024/01/18 10:12:47 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 18 10:12:47 ubuntu etcd[59701]: raft2024/01/18 10:12:47 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 18 10:12:47 ubuntu etcd[59701]: raft2024/01/18 10:12:47 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 18 10:12:47 ubuntu etcd[59701]: raft2024/01/18 10:12:47 INFO: 33238c1cdfea94eb became leader at term 2
Jan 18 10:12:47 ubuntu etcd[59701]: raft2024/01/18 10:12:47 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 18 10:12:47 ubuntu etcd[59701]: INFO: 2024/01/18 10:12:47 parsed scheme: ""
Jan 18 10:12:47 ubuntu etcd[59701]: INFO: 2024/01/18 10:12:47 scheme "" not registered, fallback to default scheme
Jan 18 10:12:47 ubuntu etcd[59701]: INFO: 2024/01/18 10:12:47 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 18 10:12:47 ubuntu etcd[59701]: INFO: 2024/01/18 10:12:47 ClientConn switching balancer to "pick_first"
Jan 18 10:12:47 ubuntu etcd[59701]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 18 10:12:47 ubuntu etcd[59701]: ready to serve client requests
Jan 18 10:12:47 ubuntu etcd[59701]: setting up the initial cluster version to 3.4
Jan 18 10:12:47 ubuntu etcd[59701]: set the initial cluster version to 3.4
Jan 18 10:12:47 ubuntu etcd[59701]: enabled capabilities for version 3.4
Jan 18 10:12:47 ubuntu etcd[59701]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 18 10:12:47 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 18 10:17:12 ubuntu etcd[59701]: start time = 2024-01-18 10:17:12.18768126 +0000 UTC m=+265.645601364, time spent = 494.428µs, remote = 10.201.4.32:51442, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 10:17:12 ubuntu etcd[59701]: start time = 2024-01-18 10:17:12.204869734 +0000 UTC m=+265.662789848, time spent = 188.079µs, remote = 10.201.4.32:51442, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 10:17:19 ubuntu etcd[59701]: start time = 2024-01-18 10:17:19.088221463 +0000 UTC m=+272.546141566, time spent = 265.795µs, remote = 10.201.4.32:51442, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 10:17:21 ubuntu etcd[59701]: start time = 2024-01-18 10:17:21.241456863 +0000 UTC m=+274.699376978, time spent = 544.436µs, remote = 10.201.4.32:51442, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
