Mar 27 07:12:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 27 07:12:55 ubuntu etcd[57371]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 27 07:12:55 ubuntu etcd[57371]:         A future release of golang/protobuf will delete this package,
Mar 27 07:12:55 ubuntu etcd[57371]:         which has long been excluded from the compatibility promise.
Mar 27 07:12:55 ubuntu etcd[57371]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 27 07:12:55 ubuntu etcd[57371]: Running http and grpc server on single port. This is not recommended for production.
Mar 27 07:12:55 ubuntu etcd[57371]: etcd Version: 3.4.27
Mar 27 07:12:55 ubuntu etcd[57371]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 27 07:12:55 ubuntu etcd[57371]: Git SHA: c92fb80f3
Mar 27 07:12:55 ubuntu etcd[57371]: Go Version: go1.19.10
Mar 27 07:12:55 ubuntu etcd[57371]: Go OS/Arch: linux/amd64
Mar 27 07:12:55 ubuntu etcd[57371]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 27 07:12:55 ubuntu etcd[57371]: Running http and grpc server on single port. This is not recommended for production.
Mar 27 07:12:55 ubuntu etcd[57371]: name = ubuntu
Mar 27 07:12:55 ubuntu etcd[57371]: data dir = /opt/stack/data/etcd
Mar 27 07:12:55 ubuntu etcd[57371]: member dir = /opt/stack/data/etcd/member
Mar 27 07:12:55 ubuntu etcd[57371]: heartbeat = 100ms
Mar 27 07:12:55 ubuntu etcd[57371]: election = 1000ms
Mar 27 07:12:55 ubuntu etcd[57371]: snapshot count = 100000
Mar 27 07:12:55 ubuntu etcd[57371]: advertise client URLs = http://10.201.9.223:2379
Mar 27 07:12:55 ubuntu etcd[57371]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 27 07:12:55 ubuntu etcd[57371]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 27 07:12:55 ubuntu etcd[57371]: raft2025/03/27 07:12:55 INFO: c25b29daa831042c switched to configuration voters=()
Mar 27 07:12:55 ubuntu etcd[57371]: raft2025/03/27 07:12:55 INFO: c25b29daa831042c became follower at term 0
Mar 27 07:12:55 ubuntu etcd[57371]: raft2025/03/27 07:12:55 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 27 07:12:55 ubuntu etcd[57371]: raft2025/03/27 07:12:55 INFO: c25b29daa831042c became follower at term 1
Mar 27 07:12:55 ubuntu etcd[57371]: raft2025/03/27 07:12:55 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 27 07:12:55 ubuntu etcd[57371]: simple token is not cryptographically signed
Mar 27 07:12:55 ubuntu etcd[57371]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 27 07:12:55 ubuntu etcd[57371]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 27 07:12:55 ubuntu etcd[57371]: raft2025/03/27 07:12:55 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 27 07:12:55 ubuntu etcd[57371]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 27 07:12:55 ubuntu etcd[57371]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 27 07:12:55 ubuntu etcd[57371]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 27 07:12:55 ubuntu etcd[57371]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 27 07:12:55 ubuntu etcd[57371]: listening for peers on [::]:2380
Mar 27 07:12:56 ubuntu etcd[57371]: raft2025/03/27 07:12:56 INFO: c25b29daa831042c is starting a new election at term 1
Mar 27 07:12:56 ubuntu etcd[57371]: raft2025/03/27 07:12:56 INFO: c25b29daa831042c became candidate at term 2
Mar 27 07:12:56 ubuntu etcd[57371]: raft2025/03/27 07:12:56 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 27 07:12:56 ubuntu etcd[57371]: raft2025/03/27 07:12:56 INFO: c25b29daa831042c became leader at term 2
Mar 27 07:12:56 ubuntu etcd[57371]: raft2025/03/27 07:12:56 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 27 07:12:56 ubuntu etcd[57371]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 27 07:12:56 ubuntu etcd[57371]: ready to serve client requests
Mar 27 07:12:56 ubuntu etcd[57371]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 27 07:12:56 ubuntu etcd[57371]: setting up the initial cluster version to 3.4
Mar 27 07:12:56 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 27 07:12:56 ubuntu etcd[57371]: set the initial cluster version to 3.4
Mar 27 07:12:56 ubuntu etcd[57371]: enabled capabilities for version 3.4
Mar 27 07:16:59 ubuntu etcd[57371]: start time = 2025-03-27 07:16:59.70416022 +0000 UTC m=+244.517418964, time spent = 402.107µs, remote = 10.201.9.223:57848, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 07:16:59 ubuntu etcd[57371]: start time = 2025-03-27 07:16:59.714378349 +0000 UTC m=+244.527637109, time spent = 269.867µs, remote = 10.201.9.223:57848, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 07:17:06 ubuntu etcd[57371]: start time = 2025-03-27 07:17:06.108743784 +0000 UTC m=+250.922002541, time spent = 174.024µs, remote = 10.201.9.223:57848, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 07:17:08 ubuntu etcd[57371]: start time = 2025-03-27 07:17:08.16905609 +0000 UTC m=+252.982314850, time spent = 180.702µs, remote = 10.201.9.223:57848, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
