Jul 31 10:06:14 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 31 10:06:14 ubuntu etcd[60038]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 31 10:06:14 ubuntu etcd[60038]:         A future release of golang/protobuf will delete this package,
Jul 31 10:06:14 ubuntu etcd[60038]:         which has long been excluded from the compatibility promise.
Jul 31 10:06:14 ubuntu etcd[60038]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 31 10:06:14 ubuntu etcd[60038]: Running http and grpc server on single port. This is not recommended for production.
Jul 31 10:06:14 ubuntu etcd[60038]: etcd Version: 3.4.27
Jul 31 10:06:14 ubuntu etcd[60038]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 31 10:06:14 ubuntu etcd[60038]: Git SHA: c92fb80f3
Jul 31 10:06:14 ubuntu etcd[60038]: Go Version: go1.19.10
Jul 31 10:06:14 ubuntu etcd[60038]: Go OS/Arch: linux/amd64
Jul 31 10:06:14 ubuntu etcd[60038]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 31 10:06:14 ubuntu etcd[60038]: Running http and grpc server on single port. This is not recommended for production.
Jul 31 10:06:14 ubuntu etcd[60038]: name = ubuntu
Jul 31 10:06:14 ubuntu etcd[60038]: data dir = /opt/stack/data/etcd
Jul 31 10:06:14 ubuntu etcd[60038]: member dir = /opt/stack/data/etcd/member
Jul 31 10:06:14 ubuntu etcd[60038]: heartbeat = 100ms
Jul 31 10:06:14 ubuntu etcd[60038]: election = 1000ms
Jul 31 10:06:14 ubuntu etcd[60038]: snapshot count = 100000
Jul 31 10:06:14 ubuntu etcd[60038]: advertise client URLs = http://10.201.9.223:2379
Jul 31 10:06:14 ubuntu etcd[60038]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 31 10:06:14 ubuntu etcd[60038]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 31 10:06:14 ubuntu etcd[60038]: raft2025/07/31 10:06:14 INFO: c25b29daa831042c switched to configuration voters=()
Jul 31 10:06:14 ubuntu etcd[60038]: raft2025/07/31 10:06:14 INFO: c25b29daa831042c became follower at term 0
Jul 31 10:06:14 ubuntu etcd[60038]: raft2025/07/31 10:06:14 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 31 10:06:14 ubuntu etcd[60038]: raft2025/07/31 10:06:14 INFO: c25b29daa831042c became follower at term 1
Jul 31 10:06:14 ubuntu etcd[60038]: raft2025/07/31 10:06:14 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 31 10:06:14 ubuntu etcd[60038]: simple token is not cryptographically signed
Jul 31 10:06:14 ubuntu etcd[60038]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 31 10:06:14 ubuntu etcd[60038]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 31 10:06:14 ubuntu etcd[60038]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 31 10:06:14 ubuntu etcd[60038]: raft2025/07/31 10:06:14 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 31 10:06:14 ubuntu etcd[60038]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 31 10:06:14 ubuntu etcd[60038]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 31 10:06:14 ubuntu etcd[60038]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 31 10:06:14 ubuntu etcd[60038]: listening for peers on [::]:2380
Jul 31 10:06:15 ubuntu etcd[60038]: raft2025/07/31 10:06:15 INFO: c25b29daa831042c is starting a new election at term 1
Jul 31 10:06:15 ubuntu etcd[60038]: raft2025/07/31 10:06:15 INFO: c25b29daa831042c became candidate at term 2
Jul 31 10:06:15 ubuntu etcd[60038]: raft2025/07/31 10:06:15 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 31 10:06:15 ubuntu etcd[60038]: raft2025/07/31 10:06:15 INFO: c25b29daa831042c became leader at term 2
Jul 31 10:06:15 ubuntu etcd[60038]: raft2025/07/31 10:06:15 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 31 10:06:15 ubuntu etcd[60038]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 31 10:06:15 ubuntu etcd[60038]: ready to serve client requests
Jul 31 10:06:15 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 31 10:06:15 ubuntu etcd[60038]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 31 10:06:15 ubuntu etcd[60038]: setting up the initial cluster version to 3.4
Jul 31 10:06:15 ubuntu etcd[60038]: set the initial cluster version to 3.4
Jul 31 10:06:15 ubuntu etcd[60038]: enabled capabilities for version 3.4
Jul 31 10:10:25 ubuntu etcd[60038]: start time = 2025-07-31 10:10:25.198507668 +0000 UTC m=+250.497568169, time spent = 1.749414ms, remote = 10.201.9.223:35108, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 10:10:25 ubuntu etcd[60038]: start time = 2025-07-31 10:10:25.22599093 +0000 UTC m=+250.525051436, time spent = 191.371µs, remote = 10.201.9.223:35108, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 10:10:32 ubuntu etcd[60038]: start time = 2025-07-31 10:10:32.098854656 +0000 UTC m=+257.397915146, time spent = 190.19µs, remote = 10.201.9.223:35108, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 10:10:34 ubuntu etcd[60038]: start time = 2025-07-31 10:10:34.009962423 +0000 UTC m=+259.309022930, time spent = 319.381µs, remote = 10.201.9.223:35108, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
