Nov 29 15:34:31 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Nov 29 15:34:31 ubuntu etcd[59124]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Nov 29 15:34:31 ubuntu etcd[59124]:         A future release of golang/protobuf will delete this package,
Nov 29 15:34:31 ubuntu etcd[59124]:         which has long been excluded from the compatibility promise.
Nov 29 15:34:31 ubuntu etcd[59124]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 29 15:34:31 ubuntu etcd[59124]: Running http and grpc server on single port. This is not recommended for production.
Nov 29 15:34:31 ubuntu etcd[59124]: etcd Version: 3.4.27
Nov 29 15:34:31 ubuntu etcd[59124]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 29 15:34:31 ubuntu etcd[59124]: Git SHA: c92fb80f3
Nov 29 15:34:31 ubuntu etcd[59124]: Go Version: go1.19.10
Nov 29 15:34:31 ubuntu etcd[59124]: Go OS/Arch: linux/amd64
Nov 29 15:34:31 ubuntu etcd[59124]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Nov 29 15:34:31 ubuntu etcd[59124]: Running http and grpc server on single port. This is not recommended for production.
Nov 29 15:34:31 ubuntu etcd[59124]: name = ubuntu
Nov 29 15:34:31 ubuntu etcd[59124]: data dir = /opt/stack/data/etcd
Nov 29 15:34:31 ubuntu etcd[59124]: member dir = /opt/stack/data/etcd/member
Nov 29 15:34:31 ubuntu etcd[59124]: heartbeat = 100ms
Nov 29 15:34:31 ubuntu etcd[59124]: election = 1000ms
Nov 29 15:34:31 ubuntu etcd[59124]: snapshot count = 100000
Nov 29 15:34:31 ubuntu etcd[59124]: advertise client URLs = http://10.201.4.32:2379
Nov 29 15:34:31 ubuntu etcd[59124]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Nov 29 15:34:31 ubuntu etcd[59124]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Nov 29 15:34:31 ubuntu etcd[59124]: raft2024/11/29 15:34:31 INFO: 33238c1cdfea94eb switched to configuration voters=()
Nov 29 15:34:31 ubuntu etcd[59124]: raft2024/11/29 15:34:31 INFO: 33238c1cdfea94eb became follower at term 0
Nov 29 15:34:31 ubuntu etcd[59124]: raft2024/11/29 15:34:31 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Nov 29 15:34:31 ubuntu etcd[59124]: raft2024/11/29 15:34:31 INFO: 33238c1cdfea94eb became follower at term 1
Nov 29 15:34:31 ubuntu etcd[59124]: raft2024/11/29 15:34:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Nov 29 15:34:31 ubuntu etcd[59124]: simple token is not cryptographically signed
Nov 29 15:34:31 ubuntu etcd[59124]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Nov 29 15:34:31 ubuntu etcd[59124]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Nov 29 15:34:31 ubuntu etcd[59124]: raft2024/11/29 15:34:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Nov 29 15:34:31 ubuntu etcd[59124]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Nov 29 15:34:31 ubuntu etcd[59124]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Nov 29 15:34:31 ubuntu etcd[59124]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Nov 29 15:34:31 ubuntu etcd[59124]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Nov 29 15:34:31 ubuntu etcd[59124]: listening for peers on [::]:2380
Nov 29 15:34:31 ubuntu etcd[59124]: raft2024/11/29 15:34:31 INFO: 33238c1cdfea94eb is starting a new election at term 1
Nov 29 15:34:31 ubuntu etcd[59124]: raft2024/11/29 15:34:31 INFO: 33238c1cdfea94eb became candidate at term 2
Nov 29 15:34:31 ubuntu etcd[59124]: raft2024/11/29 15:34:31 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Nov 29 15:34:31 ubuntu etcd[59124]: raft2024/11/29 15:34:31 INFO: 33238c1cdfea94eb became leader at term 2
Nov 29 15:34:31 ubuntu etcd[59124]: raft2024/11/29 15:34:31 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Nov 29 15:34:31 ubuntu etcd[59124]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Nov 29 15:34:31 ubuntu etcd[59124]: setting up the initial cluster version to 3.4
Nov 29 15:34:31 ubuntu etcd[59124]: ready to serve client requests
Nov 29 15:34:31 ubuntu etcd[59124]: set the initial cluster version to 3.4
Nov 29 15:34:31 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Nov 29 15:34:31 ubuntu etcd[59124]: enabled capabilities for version 3.4
Nov 29 15:34:31 ubuntu etcd[59124]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Nov 29 15:38:51 ubuntu etcd[59124]: start time = 2024-11-29 15:38:51.265183343 +0000 UTC m=+259.490189584, time spent = 444.442µs, remote = 10.201.4.32:57718, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 15:38:51 ubuntu etcd[59124]: start time = 2024-11-29 15:38:51.333585581 +0000 UTC m=+259.558591828, time spent = 208.981µs, remote = 10.201.4.32:57718, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 15:38:57 ubuntu etcd[59124]: start time = 2024-11-29 15:38:57.741213398 +0000 UTC m=+265.966219628, time spent = 258.728µs, remote = 10.201.4.32:57718, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 15:38:59 ubuntu etcd[59124]: start time = 2024-11-29 15:38:59.848799472 +0000 UTC m=+268.073805719, time spent = 324.462µs, remote = 10.201.4.32:57718, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
