Jan 13 19:49:05 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 13 19:49:05 ubuntu etcd[58899]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 13 19:49:05 ubuntu etcd[58899]:         A future release of golang/protobuf will delete this package,
Jan 13 19:49:05 ubuntu etcd[58899]:         which has long been excluded from the compatibility promise.
Jan 13 19:49:05 ubuntu etcd[58899]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 13 19:49:05 ubuntu etcd[58899]: Running http and grpc server on single port. This is not recommended for production.
Jan 13 19:49:05 ubuntu etcd[58899]: etcd Version: 3.4.27
Jan 13 19:49:05 ubuntu etcd[58899]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 13 19:49:05 ubuntu etcd[58899]: Git SHA: c92fb80f3
Jan 13 19:49:05 ubuntu etcd[58899]: Go Version: go1.19.10
Jan 13 19:49:05 ubuntu etcd[58899]: Go OS/Arch: linux/amd64
Jan 13 19:49:05 ubuntu etcd[58899]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 13 19:49:05 ubuntu etcd[58899]: Running http and grpc server on single port. This is not recommended for production.
Jan 13 19:49:05 ubuntu etcd[58899]: name = ubuntu
Jan 13 19:49:05 ubuntu etcd[58899]: data dir = /opt/stack/data/etcd
Jan 13 19:49:05 ubuntu etcd[58899]: member dir = /opt/stack/data/etcd/member
Jan 13 19:49:05 ubuntu etcd[58899]: heartbeat = 100ms
Jan 13 19:49:05 ubuntu etcd[58899]: election = 1000ms
Jan 13 19:49:05 ubuntu etcd[58899]: snapshot count = 100000
Jan 13 19:49:05 ubuntu etcd[58899]: advertise client URLs = http://10.201.9.223:2379
Jan 13 19:49:05 ubuntu etcd[58899]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 13 19:49:05 ubuntu etcd[58899]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 13 19:49:05 ubuntu etcd[58899]: raft2025/01/13 19:49:05 INFO: c25b29daa831042c switched to configuration voters=()
Jan 13 19:49:05 ubuntu etcd[58899]: raft2025/01/13 19:49:05 INFO: c25b29daa831042c became follower at term 0
Jan 13 19:49:05 ubuntu etcd[58899]: raft2025/01/13 19:49:05 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 13 19:49:05 ubuntu etcd[58899]: raft2025/01/13 19:49:05 INFO: c25b29daa831042c became follower at term 1
Jan 13 19:49:05 ubuntu etcd[58899]: raft2025/01/13 19:49:05 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 13 19:49:05 ubuntu etcd[58899]: simple token is not cryptographically signed
Jan 13 19:49:05 ubuntu etcd[58899]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 13 19:49:05 ubuntu etcd[58899]: raft2025/01/13 19:49:05 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 13 19:49:05 ubuntu etcd[58899]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 13 19:49:05 ubuntu etcd[58899]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 13 19:49:05 ubuntu etcd[58899]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 13 19:49:05 ubuntu etcd[58899]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 13 19:49:05 ubuntu etcd[58899]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 13 19:49:05 ubuntu etcd[58899]: listening for peers on [::]:2380
Jan 13 19:49:06 ubuntu etcd[58899]: raft2025/01/13 19:49:06 INFO: c25b29daa831042c is starting a new election at term 1
Jan 13 19:49:06 ubuntu etcd[58899]: raft2025/01/13 19:49:06 INFO: c25b29daa831042c became candidate at term 2
Jan 13 19:49:06 ubuntu etcd[58899]: raft2025/01/13 19:49:06 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 13 19:49:06 ubuntu etcd[58899]: raft2025/01/13 19:49:06 INFO: c25b29daa831042c became leader at term 2
Jan 13 19:49:06 ubuntu etcd[58899]: raft2025/01/13 19:49:06 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 13 19:49:06 ubuntu etcd[58899]: setting up the initial cluster version to 3.4
Jan 13 19:49:06 ubuntu etcd[58899]: set the initial cluster version to 3.4
Jan 13 19:49:06 ubuntu etcd[58899]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 13 19:49:06 ubuntu etcd[58899]: ready to serve client requests
Jan 13 19:49:06 ubuntu etcd[58899]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 13 19:49:06 ubuntu etcd[58899]: enabled capabilities for version 3.4
Jan 13 19:49:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 13 19:53:22 ubuntu etcd[58899]: start time = 2025-01-13 19:53:22.919841081 +0000 UTC m=+257.095427839, time spent = 526.733µs, remote = 10.201.9.223:41698, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 13 19:53:22 ubuntu etcd[58899]: start time = 2025-01-13 19:53:22.980036658 +0000 UTC m=+257.155623433, time spent = 242.382µs, remote = 10.201.9.223:41698, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 13 19:53:29 ubuntu etcd[58899]: start time = 2025-01-13 19:53:29.326877969 +0000 UTC m=+263.502464765, time spent = 260.686µs, remote = 10.201.9.223:41698, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 13 19:53:31 ubuntu etcd[58899]: start time = 2025-01-13 19:53:31.483689604 +0000 UTC m=+265.659276379, time spent = 388.928µs, remote = 10.201.9.223:41698, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
