Apr 01 17:49:15 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 01 17:49:16 ubuntu etcd[57539]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 01 17:49:16 ubuntu etcd[57539]:         A future release of golang/protobuf will delete this package,
Apr 01 17:49:16 ubuntu etcd[57539]:         which has long been excluded from the compatibility promise.
Apr 01 17:49:16 ubuntu etcd[57539]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 01 17:49:16 ubuntu etcd[57539]: Running http and grpc server on single port. This is not recommended for production.
Apr 01 17:49:16 ubuntu etcd[57539]: etcd Version: 3.4.27
Apr 01 17:49:16 ubuntu etcd[57539]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 01 17:49:16 ubuntu etcd[57539]: Git SHA: c92fb80f3
Apr 01 17:49:16 ubuntu etcd[57539]: Go Version: go1.19.10
Apr 01 17:49:16 ubuntu etcd[57539]: Go OS/Arch: linux/amd64
Apr 01 17:49:16 ubuntu etcd[57539]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 01 17:49:16 ubuntu etcd[57539]: Running http and grpc server on single port. This is not recommended for production.
Apr 01 17:49:16 ubuntu etcd[57539]: name = ubuntu
Apr 01 17:49:16 ubuntu etcd[57539]: data dir = /opt/stack/data/etcd
Apr 01 17:49:16 ubuntu etcd[57539]: member dir = /opt/stack/data/etcd/member
Apr 01 17:49:16 ubuntu etcd[57539]: heartbeat = 100ms
Apr 01 17:49:16 ubuntu etcd[57539]: election = 1000ms
Apr 01 17:49:16 ubuntu etcd[57539]: snapshot count = 100000
Apr 01 17:49:16 ubuntu etcd[57539]: advertise client URLs = http://10.201.9.223:2379
Apr 01 17:49:16 ubuntu etcd[57539]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 01 17:49:16 ubuntu etcd[57539]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 01 17:49:16 ubuntu etcd[57539]: raft2025/04/01 17:49:16 INFO: c25b29daa831042c switched to configuration voters=()
Apr 01 17:49:16 ubuntu etcd[57539]: raft2025/04/01 17:49:16 INFO: c25b29daa831042c became follower at term 0
Apr 01 17:49:16 ubuntu etcd[57539]: raft2025/04/01 17:49:16 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 01 17:49:16 ubuntu etcd[57539]: raft2025/04/01 17:49:16 INFO: c25b29daa831042c became follower at term 1
Apr 01 17:49:16 ubuntu etcd[57539]: raft2025/04/01 17:49:16 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 01 17:49:16 ubuntu etcd[57539]: simple token is not cryptographically signed
Apr 01 17:49:16 ubuntu etcd[57539]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 01 17:49:16 ubuntu etcd[57539]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 01 17:49:16 ubuntu etcd[57539]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 01 17:49:16 ubuntu etcd[57539]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 01 17:49:16 ubuntu etcd[57539]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 01 17:49:16 ubuntu etcd[57539]: raft2025/04/01 17:49:16 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 01 17:49:16 ubuntu etcd[57539]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 01 17:49:16 ubuntu etcd[57539]: listening for peers on [::]:2380
Apr 01 17:49:16 ubuntu etcd[57539]: raft2025/04/01 17:49:16 INFO: c25b29daa831042c is starting a new election at term 1
Apr 01 17:49:16 ubuntu etcd[57539]: raft2025/04/01 17:49:16 INFO: c25b29daa831042c became candidate at term 2
Apr 01 17:49:16 ubuntu etcd[57539]: raft2025/04/01 17:49:16 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 01 17:49:16 ubuntu etcd[57539]: raft2025/04/01 17:49:16 INFO: c25b29daa831042c became leader at term 2
Apr 01 17:49:16 ubuntu etcd[57539]: raft2025/04/01 17:49:16 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 01 17:49:16 ubuntu etcd[57539]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 01 17:49:16 ubuntu etcd[57539]: ready to serve client requests
Apr 01 17:49:16 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 01 17:49:16 ubuntu etcd[57539]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 01 17:49:16 ubuntu etcd[57539]: setting up the initial cluster version to 3.4
Apr 01 17:49:16 ubuntu etcd[57539]: set the initial cluster version to 3.4
Apr 01 17:49:16 ubuntu etcd[57539]: enabled capabilities for version 3.4
Apr 01 17:53:23 ubuntu etcd[57539]: start time = 2025-04-01 17:53:23.608625172 +0000 UTC m=+247.607197363, time spent = 420.822µs, remote = 10.201.9.223:39148, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 01 17:53:23 ubuntu etcd[57539]: start time = 2025-04-01 17:53:23.680811151 +0000 UTC m=+247.679383350, time spent = 218.455µs, remote = 10.201.9.223:39148, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 01 17:53:30 ubuntu etcd[57539]: start time = 2025-04-01 17:53:30.212226583 +0000 UTC m=+254.210798785, time spent = 266.175µs, remote = 10.201.9.223:39148, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 01 17:53:32 ubuntu etcd[57539]: start time = 2025-04-01 17:53:32.36453826 +0000 UTC m=+256.363110458, time spent = 259.609µs, remote = 10.201.9.223:39148, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
