Oct 01 09:07:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 01 09:07:46 ubuntu etcd[59489]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 01 09:07:46 ubuntu etcd[59489]:         A future release of golang/protobuf will delete this package,
Oct 01 09:07:46 ubuntu etcd[59489]:         which has long been excluded from the compatibility promise.
Oct 01 09:07:46 ubuntu etcd[59489]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 01 09:07:46 ubuntu etcd[59489]: Running http and grpc server on single port. This is not recommended for production.
Oct 01 09:07:46 ubuntu etcd[59489]: etcd Version: 3.4.27
Oct 01 09:07:46 ubuntu etcd[59489]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 01 09:07:46 ubuntu etcd[59489]: Git SHA: c92fb80f3
Oct 01 09:07:46 ubuntu etcd[59489]: Go Version: go1.19.10
Oct 01 09:07:46 ubuntu etcd[59489]: Go OS/Arch: linux/amd64
Oct 01 09:07:46 ubuntu etcd[59489]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 01 09:07:46 ubuntu etcd[59489]: Running http and grpc server on single port. This is not recommended for production.
Oct 01 09:07:46 ubuntu etcd[59489]: name = ubuntu
Oct 01 09:07:46 ubuntu etcd[59489]: data dir = /opt/stack/data/etcd
Oct 01 09:07:46 ubuntu etcd[59489]: member dir = /opt/stack/data/etcd/member
Oct 01 09:07:46 ubuntu etcd[59489]: heartbeat = 100ms
Oct 01 09:07:46 ubuntu etcd[59489]: election = 1000ms
Oct 01 09:07:46 ubuntu etcd[59489]: snapshot count = 100000
Oct 01 09:07:46 ubuntu etcd[59489]: advertise client URLs = http://10.201.4.32:2379
Oct 01 09:07:46 ubuntu etcd[59489]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 01 09:07:46 ubuntu etcd[59489]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 01 09:07:46 ubuntu etcd[59489]: raft2024/10/01 09:07:46 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 01 09:07:46 ubuntu etcd[59489]: raft2024/10/01 09:07:46 INFO: 33238c1cdfea94eb became follower at term 0
Oct 01 09:07:46 ubuntu etcd[59489]: raft2024/10/01 09:07:46 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 01 09:07:46 ubuntu etcd[59489]: raft2024/10/01 09:07:46 INFO: 33238c1cdfea94eb became follower at term 1
Oct 01 09:07:46 ubuntu etcd[59489]: raft2024/10/01 09:07:46 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 01 09:07:46 ubuntu etcd[59489]: simple token is not cryptographically signed
Oct 01 09:07:46 ubuntu etcd[59489]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 01 09:07:46 ubuntu etcd[59489]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 01 09:07:46 ubuntu etcd[59489]: raft2024/10/01 09:07:46 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 01 09:07:46 ubuntu etcd[59489]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 01 09:07:46 ubuntu etcd[59489]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 01 09:07:46 ubuntu etcd[59489]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 01 09:07:46 ubuntu etcd[59489]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 01 09:07:46 ubuntu etcd[59489]: listening for peers on [::]:2380
Oct 01 09:07:46 ubuntu etcd[59489]: raft2024/10/01 09:07:46 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 01 09:07:46 ubuntu etcd[59489]: raft2024/10/01 09:07:46 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 01 09:07:46 ubuntu etcd[59489]: raft2024/10/01 09:07:46 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 01 09:07:46 ubuntu etcd[59489]: raft2024/10/01 09:07:46 INFO: 33238c1cdfea94eb became leader at term 2
Oct 01 09:07:46 ubuntu etcd[59489]: raft2024/10/01 09:07:46 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 01 09:07:46 ubuntu etcd[59489]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 01 09:07:46 ubuntu etcd[59489]: ready to serve client requests
Oct 01 09:07:46 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 01 09:07:46 ubuntu etcd[59489]: setting up the initial cluster version to 3.4
Oct 01 09:07:46 ubuntu etcd[59489]: set the initial cluster version to 3.4
Oct 01 09:07:46 ubuntu etcd[59489]: enabled capabilities for version 3.4
Oct 01 09:07:46 ubuntu etcd[59489]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 01 09:12:14 ubuntu etcd[59489]: start time = 2024-10-01 09:12:14.534967386 +0000 UTC m=+268.113303093, time spent = 574.466µs, remote = 10.201.4.32:55902, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 01 09:12:14 ubuntu etcd[59489]: start time = 2024-10-01 09:12:14.597145699 +0000 UTC m=+268.175481414, time spent = 202.082µs, remote = 10.201.4.32:55902, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 01 09:12:21 ubuntu etcd[59489]: start time = 2024-10-01 09:12:21.12804972 +0000 UTC m=+274.706385419, time spent = 241.117µs, remote = 10.201.4.32:55902, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 01 09:12:23 ubuntu etcd[59489]: start time = 2024-10-01 09:12:23.216919842 +0000 UTC m=+276.795255552, time spent = 378.138µs, remote = 10.201.4.32:55902, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
