Jul 25 12:35:07 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 25 12:35:07 ubuntu etcd[59003]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 25 12:35:07 ubuntu etcd[59003]:         A future release of golang/protobuf will delete this package,
Jul 25 12:35:07 ubuntu etcd[59003]:         which has long been excluded from the compatibility promise.
Jul 25 12:35:07 ubuntu etcd[59003]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 25 12:35:07 ubuntu etcd[59003]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 25 12:35:07 ubuntu etcd[59003]: Running http and grpc server on single port. This is not recommended for production.
Jul 25 12:35:07 ubuntu etcd[59003]: etcd Version: 3.4.27
Jul 25 12:35:07 ubuntu etcd[59003]: Git SHA: c92fb80f3
Jul 25 12:35:07 ubuntu etcd[59003]: Go Version: go1.19.10
Jul 25 12:35:07 ubuntu etcd[59003]: Go OS/Arch: linux/amd64
Jul 25 12:35:07 ubuntu etcd[59003]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 25 12:35:07 ubuntu etcd[59003]: Running http and grpc server on single port. This is not recommended for production.
Jul 25 12:35:07 ubuntu etcd[59003]: name = ubuntu
Jul 25 12:35:07 ubuntu etcd[59003]: data dir = /opt/stack/data/etcd
Jul 25 12:35:07 ubuntu etcd[59003]: member dir = /opt/stack/data/etcd/member
Jul 25 12:35:07 ubuntu etcd[59003]: heartbeat = 100ms
Jul 25 12:35:07 ubuntu etcd[59003]: election = 1000ms
Jul 25 12:35:07 ubuntu etcd[59003]: snapshot count = 100000
Jul 25 12:35:07 ubuntu etcd[59003]: advertise client URLs = http://10.201.9.223:2379
Jul 25 12:35:07 ubuntu etcd[59003]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 25 12:35:07 ubuntu etcd[59003]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 25 12:35:07 ubuntu etcd[59003]: raft2025/07/25 12:35:07 INFO: c25b29daa831042c switched to configuration voters=()
Jul 25 12:35:07 ubuntu etcd[59003]: raft2025/07/25 12:35:07 INFO: c25b29daa831042c became follower at term 0
Jul 25 12:35:07 ubuntu etcd[59003]: raft2025/07/25 12:35:07 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 25 12:35:07 ubuntu etcd[59003]: raft2025/07/25 12:35:07 INFO: c25b29daa831042c became follower at term 1
Jul 25 12:35:07 ubuntu etcd[59003]: raft2025/07/25 12:35:07 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 25 12:35:07 ubuntu etcd[59003]: simple token is not cryptographically signed
Jul 25 12:35:07 ubuntu etcd[59003]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 25 12:35:07 ubuntu etcd[59003]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 25 12:35:07 ubuntu etcd[59003]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 25 12:35:07 ubuntu etcd[59003]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 25 12:35:07 ubuntu etcd[59003]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 25 12:35:07 ubuntu etcd[59003]: raft2025/07/25 12:35:07 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 25 12:35:07 ubuntu etcd[59003]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 25 12:35:07 ubuntu etcd[59003]: listening for peers on [::]:2380
Jul 25 12:35:07 ubuntu etcd[59003]: raft2025/07/25 12:35:07 INFO: c25b29daa831042c is starting a new election at term 1
Jul 25 12:35:07 ubuntu etcd[59003]: raft2025/07/25 12:35:07 INFO: c25b29daa831042c became candidate at term 2
Jul 25 12:35:07 ubuntu etcd[59003]: raft2025/07/25 12:35:07 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 25 12:35:07 ubuntu etcd[59003]: raft2025/07/25 12:35:07 INFO: c25b29daa831042c became leader at term 2
Jul 25 12:35:07 ubuntu etcd[59003]: raft2025/07/25 12:35:07 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 25 12:35:07 ubuntu etcd[59003]: setting up the initial cluster version to 3.4
Jul 25 12:35:07 ubuntu etcd[59003]: set the initial cluster version to 3.4
Jul 25 12:35:07 ubuntu etcd[59003]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 25 12:35:07 ubuntu etcd[59003]: ready to serve client requests
Jul 25 12:35:07 ubuntu etcd[59003]: enabled capabilities for version 3.4
Jul 25 12:35:07 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 25 12:35:07 ubuntu etcd[59003]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 25 12:39:19 ubuntu etcd[59003]: start time = 2025-07-25 12:39:19.173918239 +0000 UTC m=+251.947398829, time spent = 717.187µs, remote = 10.201.9.223:52810, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 12:39:19 ubuntu etcd[59003]: start time = 2025-07-25 12:39:19.279774244 +0000 UTC m=+252.053254845, time spent = 233.384µs, remote = 10.201.9.223:52810, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 12:39:25 ubuntu etcd[59003]: start time = 2025-07-25 12:39:25.81626706 +0000 UTC m=+258.589747664, time spent = 155.092µs, remote = 10.201.9.223:52810, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 12:39:27 ubuntu etcd[59003]: start time = 2025-07-25 12:39:27.904124564 +0000 UTC m=+260.677605162, time spent = 178.133µs, remote = 10.201.9.223:52810, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
