Jul 29 12:53:07 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 29 12:53:07 ubuntu etcd[59258]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 29 12:53:07 ubuntu etcd[59258]:         A future release of golang/protobuf will delete this package,
Jul 29 12:53:07 ubuntu etcd[59258]:         which has long been excluded from the compatibility promise.
Jul 29 12:53:07 ubuntu etcd[59258]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 29 12:53:07 ubuntu etcd[59258]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 29 12:53:07 ubuntu etcd[59258]: Running http and grpc server on single port. This is not recommended for production.
Jul 29 12:53:07 ubuntu etcd[59258]: etcd Version: 3.4.27
Jul 29 12:53:07 ubuntu etcd[59258]: Git SHA: c92fb80f3
Jul 29 12:53:07 ubuntu etcd[59258]: Go Version: go1.19.10
Jul 29 12:53:07 ubuntu etcd[59258]: Go OS/Arch: linux/amd64
Jul 29 12:53:07 ubuntu etcd[59258]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 29 12:53:07 ubuntu etcd[59258]: Running http and grpc server on single port. This is not recommended for production.
Jul 29 12:53:07 ubuntu etcd[59258]: name = ubuntu
Jul 29 12:53:07 ubuntu etcd[59258]: data dir = /opt/stack/data/etcd
Jul 29 12:53:07 ubuntu etcd[59258]: member dir = /opt/stack/data/etcd/member
Jul 29 12:53:07 ubuntu etcd[59258]: heartbeat = 100ms
Jul 29 12:53:07 ubuntu etcd[59258]: election = 1000ms
Jul 29 12:53:07 ubuntu etcd[59258]: snapshot count = 100000
Jul 29 12:53:07 ubuntu etcd[59258]: advertise client URLs = http://10.201.9.223:2379
Jul 29 12:53:07 ubuntu etcd[59258]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 29 12:53:07 ubuntu etcd[59258]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 29 12:53:07 ubuntu etcd[59258]: raft2025/07/29 12:53:07 INFO: c25b29daa831042c switched to configuration voters=()
Jul 29 12:53:07 ubuntu etcd[59258]: raft2025/07/29 12:53:07 INFO: c25b29daa831042c became follower at term 0
Jul 29 12:53:07 ubuntu etcd[59258]: raft2025/07/29 12:53:07 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 29 12:53:07 ubuntu etcd[59258]: raft2025/07/29 12:53:07 INFO: c25b29daa831042c became follower at term 1
Jul 29 12:53:07 ubuntu etcd[59258]: raft2025/07/29 12:53:07 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 29 12:53:07 ubuntu etcd[59258]: simple token is not cryptographically signed
Jul 29 12:53:07 ubuntu etcd[59258]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 29 12:53:07 ubuntu etcd[59258]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 29 12:53:07 ubuntu etcd[59258]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 29 12:53:07 ubuntu etcd[59258]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 29 12:53:07 ubuntu etcd[59258]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 29 12:53:07 ubuntu etcd[59258]: raft2025/07/29 12:53:07 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 29 12:53:07 ubuntu etcd[59258]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 29 12:53:07 ubuntu etcd[59258]: listening for peers on [::]:2380
Jul 29 12:53:07 ubuntu etcd[59258]: raft2025/07/29 12:53:07 INFO: c25b29daa831042c is starting a new election at term 1
Jul 29 12:53:07 ubuntu etcd[59258]: raft2025/07/29 12:53:07 INFO: c25b29daa831042c became candidate at term 2
Jul 29 12:53:07 ubuntu etcd[59258]: raft2025/07/29 12:53:07 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 29 12:53:07 ubuntu etcd[59258]: raft2025/07/29 12:53:07 INFO: c25b29daa831042c became leader at term 2
Jul 29 12:53:07 ubuntu etcd[59258]: raft2025/07/29 12:53:07 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 29 12:53:07 ubuntu etcd[59258]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 29 12:53:07 ubuntu etcd[59258]: ready to serve client requests
Jul 29 12:53:07 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 29 12:53:07 ubuntu etcd[59258]: setting up the initial cluster version to 3.4
Jul 29 12:53:07 ubuntu etcd[59258]: set the initial cluster version to 3.4
Jul 29 12:53:07 ubuntu etcd[59258]: enabled capabilities for version 3.4
Jul 29 12:53:07 ubuntu etcd[59258]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 29 12:57:18 ubuntu etcd[59258]: start time = 2025-07-29 12:57:18.847358303 +0000 UTC m=+251.177396758, time spent = 858.686µs, remote = 10.201.9.223:50072, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 29 12:57:18 ubuntu etcd[59258]: start time = 2025-07-29 12:57:18.878632558 +0000 UTC m=+251.208671027, time spent = 183.289µs, remote = 10.201.9.223:50072, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 29 12:57:25 ubuntu etcd[59258]: start time = 2025-07-29 12:57:25.201967852 +0000 UTC m=+257.532006320, time spent = 193.592µs, remote = 10.201.9.223:50072, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 29 12:57:27 ubuntu etcd[59258]: start time = 2025-07-29 12:57:27.371283694 +0000 UTC m=+259.701322159, time spent = 422.475µs, remote = 10.201.9.223:50072, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
