Jul 09 15:48:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 09 15:48:44 ubuntu etcd[59308]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 09 15:48:44 ubuntu etcd[59308]:         A future release of golang/protobuf will delete this package,
Jul 09 15:48:44 ubuntu etcd[59308]:         which has long been excluded from the compatibility promise.
Jul 09 15:48:44 ubuntu etcd[59308]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 15:48:44 ubuntu etcd[59308]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 15:48:44 ubuntu etcd[59308]: etcd Version: 3.4.27
Jul 09 15:48:44 ubuntu etcd[59308]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 15:48:44 ubuntu etcd[59308]: Git SHA: c92fb80f3
Jul 09 15:48:44 ubuntu etcd[59308]: Go Version: go1.19.10
Jul 09 15:48:44 ubuntu etcd[59308]: Go OS/Arch: linux/amd64
Jul 09 15:48:44 ubuntu etcd[59308]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 09 15:48:44 ubuntu etcd[59308]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 15:48:44 ubuntu etcd[59308]: name = ubuntu
Jul 09 15:48:44 ubuntu etcd[59308]: data dir = /opt/stack/data/etcd
Jul 09 15:48:44 ubuntu etcd[59308]: member dir = /opt/stack/data/etcd/member
Jul 09 15:48:44 ubuntu etcd[59308]: heartbeat = 100ms
Jul 09 15:48:44 ubuntu etcd[59308]: election = 1000ms
Jul 09 15:48:44 ubuntu etcd[59308]: snapshot count = 100000
Jul 09 15:48:44 ubuntu etcd[59308]: advertise client URLs = http://10.201.9.223:2379
Jul 09 15:48:44 ubuntu etcd[59308]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 09 15:48:44 ubuntu etcd[59308]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 09 15:48:44 ubuntu etcd[59308]: raft2025/07/09 15:48:44 INFO: c25b29daa831042c switched to configuration voters=()
Jul 09 15:48:44 ubuntu etcd[59308]: raft2025/07/09 15:48:44 INFO: c25b29daa831042c became follower at term 0
Jul 09 15:48:44 ubuntu etcd[59308]: raft2025/07/09 15:48:44 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 09 15:48:44 ubuntu etcd[59308]: raft2025/07/09 15:48:44 INFO: c25b29daa831042c became follower at term 1
Jul 09 15:48:44 ubuntu etcd[59308]: raft2025/07/09 15:48:44 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 09 15:48:44 ubuntu etcd[59308]: simple token is not cryptographically signed
Jul 09 15:48:44 ubuntu etcd[59308]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 09 15:48:44 ubuntu etcd[59308]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 09 15:48:44 ubuntu etcd[59308]: raft2025/07/09 15:48:44 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 09 15:48:44 ubuntu etcd[59308]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 09 15:48:44 ubuntu etcd[59308]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 09 15:48:44 ubuntu etcd[59308]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 09 15:48:44 ubuntu etcd[59308]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 09 15:48:44 ubuntu etcd[59308]: listening for peers on [::]:2380
Jul 09 15:48:44 ubuntu etcd[59308]: raft2025/07/09 15:48:44 INFO: c25b29daa831042c is starting a new election at term 1
Jul 09 15:48:44 ubuntu etcd[59308]: raft2025/07/09 15:48:44 INFO: c25b29daa831042c became candidate at term 2
Jul 09 15:48:44 ubuntu etcd[59308]: raft2025/07/09 15:48:44 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 09 15:48:44 ubuntu etcd[59308]: raft2025/07/09 15:48:44 INFO: c25b29daa831042c became leader at term 2
Jul 09 15:48:44 ubuntu etcd[59308]: raft2025/07/09 15:48:44 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 09 15:48:44 ubuntu etcd[59308]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 09 15:48:44 ubuntu etcd[59308]: setting up the initial cluster version to 3.4
Jul 09 15:48:44 ubuntu etcd[59308]: ready to serve client requests
Jul 09 15:48:44 ubuntu etcd[59308]: set the initial cluster version to 3.4
Jul 09 15:48:44 ubuntu etcd[59308]: enabled capabilities for version 3.4
Jul 09 15:48:44 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 09 15:48:44 ubuntu etcd[59308]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 09 15:52:52 ubuntu etcd[59308]: start time = 2025-07-09 15:52:52.068733119 +0000 UTC m=+248.065195572, time spent = 441.579µs, remote = 10.201.9.223:51416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 15:52:52 ubuntu etcd[59308]: start time = 2025-07-09 15:52:52.123940658 +0000 UTC m=+248.120403125, time spent = 204.577µs, remote = 10.201.9.223:51416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 15:52:58 ubuntu etcd[59308]: start time = 2025-07-09 15:52:58.315385947 +0000 UTC m=+254.311848415, time spent = 238.259µs, remote = 10.201.9.223:51416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 15:53:00 ubuntu etcd[59308]: start time = 2025-07-09 15:53:00.756758817 +0000 UTC m=+256.753221283, time spent = 218.802µs, remote = 10.201.9.223:51416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
