Jul 09 04:26:42 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 09 04:26:42 ubuntu etcd[59265]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 09 04:26:42 ubuntu etcd[59265]:         A future release of golang/protobuf will delete this package,
Jul 09 04:26:42 ubuntu etcd[59265]:         which has long been excluded from the compatibility promise.
Jul 09 04:26:42 ubuntu etcd[59265]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 04:26:42 ubuntu etcd[59265]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 04:26:42 ubuntu etcd[59265]: etcd Version: 3.4.27
Jul 09 04:26:42 ubuntu etcd[59265]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 04:26:42 ubuntu etcd[59265]: Git SHA: c92fb80f3
Jul 09 04:26:42 ubuntu etcd[59265]: Go Version: go1.19.10
Jul 09 04:26:42 ubuntu etcd[59265]: Go OS/Arch: linux/amd64
Jul 09 04:26:42 ubuntu etcd[59265]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 09 04:26:42 ubuntu etcd[59265]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 04:26:42 ubuntu etcd[59265]: name = ubuntu
Jul 09 04:26:42 ubuntu etcd[59265]: data dir = /opt/stack/data/etcd
Jul 09 04:26:42 ubuntu etcd[59265]: member dir = /opt/stack/data/etcd/member
Jul 09 04:26:42 ubuntu etcd[59265]: heartbeat = 100ms
Jul 09 04:26:42 ubuntu etcd[59265]: election = 1000ms
Jul 09 04:26:42 ubuntu etcd[59265]: snapshot count = 100000
Jul 09 04:26:42 ubuntu etcd[59265]: advertise client URLs = http://10.201.9.223:2379
Jul 09 04:26:42 ubuntu etcd[59265]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 09 04:26:42 ubuntu etcd[59265]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 09 04:26:42 ubuntu etcd[59265]: raft2025/07/09 04:26:42 INFO: c25b29daa831042c switched to configuration voters=()
Jul 09 04:26:42 ubuntu etcd[59265]: raft2025/07/09 04:26:42 INFO: c25b29daa831042c became follower at term 0
Jul 09 04:26:42 ubuntu etcd[59265]: raft2025/07/09 04:26:42 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 09 04:26:42 ubuntu etcd[59265]: raft2025/07/09 04:26:42 INFO: c25b29daa831042c became follower at term 1
Jul 09 04:26:42 ubuntu etcd[59265]: raft2025/07/09 04:26:42 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 09 04:26:42 ubuntu etcd[59265]: simple token is not cryptographically signed
Jul 09 04:26:42 ubuntu etcd[59265]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 09 04:26:42 ubuntu etcd[59265]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 09 04:26:42 ubuntu etcd[59265]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 09 04:26:42 ubuntu etcd[59265]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 09 04:26:42 ubuntu etcd[59265]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 09 04:26:42 ubuntu etcd[59265]: raft2025/07/09 04:26:42 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 09 04:26:42 ubuntu etcd[59265]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 09 04:26:42 ubuntu etcd[59265]: listening for peers on [::]:2380
Jul 09 04:26:42 ubuntu etcd[59265]: raft2025/07/09 04:26:42 INFO: c25b29daa831042c is starting a new election at term 1
Jul 09 04:26:42 ubuntu etcd[59265]: raft2025/07/09 04:26:42 INFO: c25b29daa831042c became candidate at term 2
Jul 09 04:26:42 ubuntu etcd[59265]: raft2025/07/09 04:26:42 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 09 04:26:42 ubuntu etcd[59265]: raft2025/07/09 04:26:42 INFO: c25b29daa831042c became leader at term 2
Jul 09 04:26:42 ubuntu etcd[59265]: raft2025/07/09 04:26:42 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 09 04:26:42 ubuntu etcd[59265]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 09 04:26:42 ubuntu etcd[59265]: ready to serve client requests
Jul 09 04:26:42 ubuntu etcd[59265]: setting up the initial cluster version to 3.4
Jul 09 04:26:42 ubuntu etcd[59265]: set the initial cluster version to 3.4
Jul 09 04:26:42 ubuntu etcd[59265]: enabled capabilities for version 3.4
Jul 09 04:26:42 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 09 04:26:42 ubuntu etcd[59265]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 09 04:30:50 ubuntu etcd[59265]: start time = 2025-07-09 04:30:50.247552358 +0000 UTC m=+247.980461326, time spent = 1.392931ms, remote = 10.201.9.223:37796, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 04:30:50 ubuntu etcd[59265]: start time = 2025-07-09 04:30:50.255692158 +0000 UTC m=+247.988601132, time spent = 198.352µs, remote = 10.201.9.223:37796, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 04:30:56 ubuntu etcd[59265]: start time = 2025-07-09 04:30:56.926562842 +0000 UTC m=+254.659471810, time spent = 238.122µs, remote = 10.201.9.223:37796, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 04:30:59 ubuntu etcd[59265]: start time = 2025-07-09 04:30:59.015698571 +0000 UTC m=+256.748607538, time spent = 159.599µs, remote = 10.201.9.223:37796, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
