Jun 06 18:22:41 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 06 18:22:41 ubuntu etcd[57656]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 06 18:22:41 ubuntu etcd[57656]:         A future release of golang/protobuf will delete this package,
Jun 06 18:22:41 ubuntu etcd[57656]:         which has long been excluded from the compatibility promise.
Jun 06 18:22:41 ubuntu etcd[57656]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 06 18:22:41 ubuntu etcd[57656]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 06 18:22:41 ubuntu etcd[57656]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 06 18:22:41 ubuntu etcd[57656]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 06 18:22:41 ubuntu etcd[57656]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 06 18:22:41 ubuntu etcd[57656]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 06 18:22:41 ubuntu etcd[57656]: Running http and grpc server on single port. This is not recommended for production.
Jun 06 18:22:41 ubuntu etcd[57656]: etcd Version: 3.4.27
Jun 06 18:22:41 ubuntu etcd[57656]: Git SHA: c92fb80f3
Jun 06 18:22:41 ubuntu etcd[57656]: Go Version: go1.19.10
Jun 06 18:22:41 ubuntu etcd[57656]: Go OS/Arch: linux/amd64
Jun 06 18:22:41 ubuntu etcd[57656]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 06 18:22:41 ubuntu etcd[57656]: Running http and grpc server on single port. This is not recommended for production.
Jun 06 18:22:41 ubuntu etcd[57656]: name = ubuntu
Jun 06 18:22:41 ubuntu etcd[57656]: data dir = /opt/stack/data/etcd
Jun 06 18:22:41 ubuntu etcd[57656]: member dir = /opt/stack/data/etcd/member
Jun 06 18:22:41 ubuntu etcd[57656]: heartbeat = 100ms
Jun 06 18:22:41 ubuntu etcd[57656]: election = 1000ms
Jun 06 18:22:41 ubuntu etcd[57656]: snapshot count = 100000
Jun 06 18:22:41 ubuntu etcd[57656]: advertise client URLs = http://10.201.4.32:2379
Jun 06 18:22:41 ubuntu etcd[57656]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 06 18:22:41 ubuntu etcd[57656]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jun 06 18:22:41 ubuntu etcd[57656]: raft2024/06/06 18:22:41 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jun 06 18:22:41 ubuntu etcd[57656]: raft2024/06/06 18:22:41 INFO: 33238c1cdfea94eb became follower at term 0
Jun 06 18:22:41 ubuntu etcd[57656]: raft2024/06/06 18:22:41 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 06 18:22:41 ubuntu etcd[57656]: raft2024/06/06 18:22:41 INFO: 33238c1cdfea94eb became follower at term 1
Jun 06 18:22:41 ubuntu etcd[57656]: raft2024/06/06 18:22:41 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 06 18:22:41 ubuntu etcd[57656]: simple token is not cryptographically signed
Jun 06 18:22:41 ubuntu etcd[57656]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 06 18:22:41 ubuntu etcd[57656]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 06 18:22:41 ubuntu etcd[57656]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 06 18:22:41 ubuntu etcd[57656]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 06 18:22:41 ubuntu etcd[57656]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 06 18:22:41 ubuntu etcd[57656]: raft2024/06/06 18:22:41 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 06 18:22:41 ubuntu etcd[57656]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jun 06 18:22:41 ubuntu etcd[57656]: listening for peers on [::]:2380
Jun 06 18:22:42 ubuntu etcd[57656]: raft2024/06/06 18:22:42 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jun 06 18:22:42 ubuntu etcd[57656]: raft2024/06/06 18:22:42 INFO: 33238c1cdfea94eb became candidate at term 2
Jun 06 18:22:42 ubuntu etcd[57656]: raft2024/06/06 18:22:42 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jun 06 18:22:42 ubuntu etcd[57656]: raft2024/06/06 18:22:42 INFO: 33238c1cdfea94eb became leader at term 2
Jun 06 18:22:42 ubuntu etcd[57656]: raft2024/06/06 18:22:42 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jun 06 18:22:42 ubuntu etcd[57656]: INFO: 2024/06/06 18:22:42 parsed scheme: ""
Jun 06 18:22:42 ubuntu etcd[57656]: INFO: 2024/06/06 18:22:42 scheme "" not registered, fallback to default scheme
Jun 06 18:22:42 ubuntu etcd[57656]: INFO: 2024/06/06 18:22:42 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 06 18:22:42 ubuntu etcd[57656]: INFO: 2024/06/06 18:22:42 ClientConn switching balancer to "pick_first"
Jun 06 18:22:42 ubuntu etcd[57656]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jun 06 18:22:42 ubuntu etcd[57656]: setting up the initial cluster version to 3.4
Jun 06 18:22:42 ubuntu etcd[57656]: ready to serve client requests
Jun 06 18:22:42 ubuntu etcd[57656]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jun 06 18:22:42 ubuntu etcd[57656]: set the initial cluster version to 3.4
Jun 06 18:22:42 ubuntu etcd[57656]: enabled capabilities for version 3.4
Jun 06 18:22:42 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 06 18:26:55 ubuntu etcd[57656]: start time = 2024-06-06 18:26:55.922269271 +0000 UTC m=+254.334839582, time spent = 448.734µs, remote = 10.201.4.32:48844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 06 18:26:55 ubuntu etcd[57656]: start time = 2024-06-06 18:26:55.935193195 +0000 UTC m=+254.347763516, time spent = 171.144µs, remote = 10.201.4.32:48844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 06 18:27:02 ubuntu etcd[57656]: start time = 2024-06-06 18:27:02.334819819 +0000 UTC m=+260.747390130, time spent = 173.847µs, remote = 10.201.4.32:48844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 06 18:27:04 ubuntu etcd[57656]: start time = 2024-06-06 18:27:04.46993384 +0000 UTC m=+262.882504149, time spent = 173.724µs, remote = 10.201.4.32:48844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
