Feb 15 08:29:45 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 15 08:29:45 ubuntu etcd[60112]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 15 08:29:45 ubuntu etcd[60112]:         A future release of golang/protobuf will delete this package,
Feb 15 08:29:45 ubuntu etcd[60112]:         which has long been excluded from the compatibility promise.
Feb 15 08:29:45 ubuntu etcd[60112]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 15 08:29:45 ubuntu etcd[60112]: Running http and grpc server on single port. This is not recommended for production.
Feb 15 08:29:45 ubuntu etcd[60112]: etcd Version: 3.4.27
Feb 15 08:29:45 ubuntu etcd[60112]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 15 08:29:45 ubuntu etcd[60112]: Git SHA: c92fb80f3
Feb 15 08:29:45 ubuntu etcd[60112]: Go Version: go1.19.10
Feb 15 08:29:45 ubuntu etcd[60112]: Go OS/Arch: linux/amd64
Feb 15 08:29:45 ubuntu etcd[60112]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 15 08:29:45 ubuntu etcd[60112]: Running http and grpc server on single port. This is not recommended for production.
Feb 15 08:29:45 ubuntu etcd[60112]: name = ubuntu
Feb 15 08:29:45 ubuntu etcd[60112]: data dir = /opt/stack/data/etcd
Feb 15 08:29:45 ubuntu etcd[60112]: member dir = /opt/stack/data/etcd/member
Feb 15 08:29:45 ubuntu etcd[60112]: heartbeat = 100ms
Feb 15 08:29:45 ubuntu etcd[60112]: election = 1000ms
Feb 15 08:29:45 ubuntu etcd[60112]: snapshot count = 100000
Feb 15 08:29:45 ubuntu etcd[60112]: advertise client URLs = http://10.201.9.223:2379
Feb 15 08:29:45 ubuntu etcd[60112]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 15 08:29:45 ubuntu etcd[60112]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Feb 15 08:29:45 ubuntu etcd[60112]: raft2025/02/15 08:29:45 INFO: c25b29daa831042c switched to configuration voters=()
Feb 15 08:29:45 ubuntu etcd[60112]: raft2025/02/15 08:29:45 INFO: c25b29daa831042c became follower at term 0
Feb 15 08:29:45 ubuntu etcd[60112]: raft2025/02/15 08:29:45 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 15 08:29:45 ubuntu etcd[60112]: raft2025/02/15 08:29:45 INFO: c25b29daa831042c became follower at term 1
Feb 15 08:29:45 ubuntu etcd[60112]: raft2025/02/15 08:29:45 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 15 08:29:45 ubuntu etcd[60112]: simple token is not cryptographically signed
Feb 15 08:29:45 ubuntu etcd[60112]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 15 08:29:45 ubuntu etcd[60112]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 15 08:29:45 ubuntu etcd[60112]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 15 08:29:45 ubuntu etcd[60112]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 15 08:29:45 ubuntu etcd[60112]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 15 08:29:45 ubuntu etcd[60112]: raft2025/02/15 08:29:45 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 15 08:29:45 ubuntu etcd[60112]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Feb 15 08:29:45 ubuntu etcd[60112]: listening for peers on [::]:2380
Feb 15 08:29:46 ubuntu etcd[60112]: raft2025/02/15 08:29:46 INFO: c25b29daa831042c is starting a new election at term 1
Feb 15 08:29:46 ubuntu etcd[60112]: raft2025/02/15 08:29:46 INFO: c25b29daa831042c became candidate at term 2
Feb 15 08:29:46 ubuntu etcd[60112]: raft2025/02/15 08:29:46 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Feb 15 08:29:46 ubuntu etcd[60112]: raft2025/02/15 08:29:46 INFO: c25b29daa831042c became leader at term 2
Feb 15 08:29:46 ubuntu etcd[60112]: raft2025/02/15 08:29:46 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Feb 15 08:29:46 ubuntu etcd[60112]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Feb 15 08:29:46 ubuntu etcd[60112]: setting up the initial cluster version to 3.4
Feb 15 08:29:46 ubuntu etcd[60112]: set the initial cluster version to 3.4
Feb 15 08:29:46 ubuntu etcd[60112]: enabled capabilities for version 3.4
Feb 15 08:29:46 ubuntu etcd[60112]: ready to serve client requests
Feb 15 08:29:46 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 15 08:29:46 ubuntu etcd[60112]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Feb 15 08:34:00 ubuntu etcd[60112]: start time = 2025-02-15 08:34:00.727576707 +0000 UTC m=+254.820334739, time spent = 388.568µs, remote = 10.201.9.223:45310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 08:34:00 ubuntu etcd[60112]: start time = 2025-02-15 08:34:00.740233821 +0000 UTC m=+254.832991870, time spent = 178.892µs, remote = 10.201.9.223:45310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 08:34:07 ubuntu etcd[60112]: start time = 2025-02-15 08:34:07.281590326 +0000 UTC m=+261.374348367, time spent = 182.897µs, remote = 10.201.9.223:45310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 08:34:09 ubuntu etcd[60112]: start time = 2025-02-15 08:34:09.701644008 +0000 UTC m=+263.794402049, time spent = 202.418µs, remote = 10.201.9.223:45310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
