Dec 11 10:13:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 11 10:13:02 ubuntu etcd[58925]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 11 10:13:02 ubuntu etcd[58925]:         A future release of golang/protobuf will delete this package,
Dec 11 10:13:02 ubuntu etcd[58925]:         which has long been excluded from the compatibility promise.
Dec 11 10:13:02 ubuntu etcd[58925]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 11 10:13:02 ubuntu etcd[58925]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 11 10:13:02 ubuntu etcd[58925]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 10:13:02 ubuntu etcd[58925]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 11 10:13:02 ubuntu etcd[58925]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 11 10:13:02 ubuntu etcd[58925]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 10:13:02 ubuntu etcd[58925]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 10:13:02 ubuntu etcd[58925]: etcd Version: 3.4.27
Dec 11 10:13:02 ubuntu etcd[58925]: Git SHA: c92fb80f3
Dec 11 10:13:02 ubuntu etcd[58925]: Go Version: go1.19.10
Dec 11 10:13:02 ubuntu etcd[58925]: Go OS/Arch: linux/amd64
Dec 11 10:13:02 ubuntu etcd[58925]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 11 10:13:02 ubuntu etcd[58925]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 10:13:02 ubuntu etcd[58925]: name = ubuntu
Dec 11 10:13:02 ubuntu etcd[58925]: data dir = /opt/stack/data/etcd
Dec 11 10:13:02 ubuntu etcd[58925]: member dir = /opt/stack/data/etcd/member
Dec 11 10:13:02 ubuntu etcd[58925]: heartbeat = 100ms
Dec 11 10:13:02 ubuntu etcd[58925]: election = 1000ms
Dec 11 10:13:02 ubuntu etcd[58925]: snapshot count = 100000
Dec 11 10:13:02 ubuntu etcd[58925]: advertise client URLs = http://10.201.4.32:2379
Dec 11 10:13:02 ubuntu etcd[58925]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 11 10:13:02 ubuntu etcd[58925]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 11 10:13:02 ubuntu etcd[58925]: raft2023/12/11 10:13:02 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 11 10:13:02 ubuntu etcd[58925]: raft2023/12/11 10:13:02 INFO: 33238c1cdfea94eb became follower at term 0
Dec 11 10:13:02 ubuntu etcd[58925]: raft2023/12/11 10:13:02 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 11 10:13:02 ubuntu etcd[58925]: raft2023/12/11 10:13:02 INFO: 33238c1cdfea94eb became follower at term 1
Dec 11 10:13:02 ubuntu etcd[58925]: raft2023/12/11 10:13:02 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 11 10:13:02 ubuntu etcd[58925]: simple token is not cryptographically signed
Dec 11 10:13:02 ubuntu etcd[58925]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 11 10:13:02 ubuntu etcd[58925]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 11 10:13:02 ubuntu etcd[58925]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 11 10:13:02 ubuntu etcd[58925]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 11 10:13:02 ubuntu etcd[58925]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 11 10:13:02 ubuntu etcd[58925]: raft2023/12/11 10:13:02 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 11 10:13:02 ubuntu etcd[58925]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 11 10:13:02 ubuntu etcd[58925]: listening for peers on [::]:2380
Dec 11 10:13:03 ubuntu etcd[58925]: raft2023/12/11 10:13:03 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 11 10:13:03 ubuntu etcd[58925]: raft2023/12/11 10:13:03 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 11 10:13:03 ubuntu etcd[58925]: raft2023/12/11 10:13:03 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 11 10:13:03 ubuntu etcd[58925]: raft2023/12/11 10:13:03 INFO: 33238c1cdfea94eb became leader at term 2
Dec 11 10:13:03 ubuntu etcd[58925]: raft2023/12/11 10:13:03 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 11 10:13:03 ubuntu etcd[58925]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 11 10:13:03 ubuntu etcd[58925]: setting up the initial cluster version to 3.4
Dec 11 10:13:03 ubuntu etcd[58925]: ready to serve client requests
Dec 11 10:13:03 ubuntu etcd[58925]: INFO: 2023/12/11 10:13:03 parsed scheme: ""
Dec 11 10:13:03 ubuntu etcd[58925]: INFO: 2023/12/11 10:13:03 scheme "" not registered, fallback to default scheme
Dec 11 10:13:03 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 11 10:13:03 ubuntu etcd[58925]: INFO: 2023/12/11 10:13:03 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Dec 11 10:13:03 ubuntu etcd[58925]: INFO: 2023/12/11 10:13:03 ClientConn switching balancer to "pick_first"
Dec 11 10:13:03 ubuntu etcd[58925]: set the initial cluster version to 3.4
Dec 11 10:13:03 ubuntu etcd[58925]: enabled capabilities for version 3.4
Dec 11 10:13:03 ubuntu etcd[58925]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 11 10:17:25 ubuntu etcd[58925]: start time = 2023-12-11 10:17:25.714489514 +0000 UTC m=+263.283046209, time spent = 537.644µs, remote = 10.201.4.32:35692, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 10:17:25 ubuntu etcd[58925]: start time = 2023-12-11 10:17:25.770036422 +0000 UTC m=+263.338593130, time spent = 226.807µs, remote = 10.201.4.32:35692, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 10:17:31 ubuntu etcd[58925]: start time = 2023-12-11 10:17:31.957937508 +0000 UTC m=+269.526494204, time spent = 196.062µs, remote = 10.201.4.32:35692, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 10:17:34 ubuntu etcd[58925]: start time = 2023-12-11 10:17:34.078734199 +0000 UTC m=+271.647290896, time spent = 283.779µs, remote = 10.201.4.32:35692, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
