Feb 25 17:24:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 25 17:24:13 ubuntu etcd[59691]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 25 17:24:13 ubuntu etcd[59691]:         A future release of golang/protobuf will delete this package,
Feb 25 17:24:13 ubuntu etcd[59691]:         which has long been excluded from the compatibility promise.
Feb 25 17:24:13 ubuntu etcd[59691]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 25 17:24:13 ubuntu etcd[59691]: Running http and grpc server on single port. This is not recommended for production.
Feb 25 17:24:13 ubuntu etcd[59691]: etcd Version: 3.4.27
Feb 25 17:24:13 ubuntu etcd[59691]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 25 17:24:13 ubuntu etcd[59691]: Git SHA: c92fb80f3
Feb 25 17:24:13 ubuntu etcd[59691]: Go Version: go1.19.10
Feb 25 17:24:13 ubuntu etcd[59691]: Go OS/Arch: linux/amd64
Feb 25 17:24:13 ubuntu etcd[59691]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 25 17:24:13 ubuntu etcd[59691]: Running http and grpc server on single port. This is not recommended for production.
Feb 25 17:24:13 ubuntu etcd[59691]: name = ubuntu
Feb 25 17:24:13 ubuntu etcd[59691]: data dir = /opt/stack/data/etcd
Feb 25 17:24:13 ubuntu etcd[59691]: member dir = /opt/stack/data/etcd/member
Feb 25 17:24:13 ubuntu etcd[59691]: heartbeat = 100ms
Feb 25 17:24:13 ubuntu etcd[59691]: election = 1000ms
Feb 25 17:24:13 ubuntu etcd[59691]: snapshot count = 100000
Feb 25 17:24:13 ubuntu etcd[59691]: advertise client URLs = http://10.201.9.223:2379
Feb 25 17:24:13 ubuntu etcd[59691]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 25 17:24:13 ubuntu etcd[59691]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Feb 25 17:24:13 ubuntu etcd[59691]: raft2025/02/25 17:24:13 INFO: c25b29daa831042c switched to configuration voters=()
Feb 25 17:24:13 ubuntu etcd[59691]: raft2025/02/25 17:24:13 INFO: c25b29daa831042c became follower at term 0
Feb 25 17:24:13 ubuntu etcd[59691]: raft2025/02/25 17:24:13 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 25 17:24:13 ubuntu etcd[59691]: raft2025/02/25 17:24:13 INFO: c25b29daa831042c became follower at term 1
Feb 25 17:24:13 ubuntu etcd[59691]: raft2025/02/25 17:24:13 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 25 17:24:13 ubuntu etcd[59691]: simple token is not cryptographically signed
Feb 25 17:24:13 ubuntu etcd[59691]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 25 17:24:13 ubuntu etcd[59691]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 25 17:24:13 ubuntu etcd[59691]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 25 17:24:13 ubuntu etcd[59691]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 25 17:24:13 ubuntu etcd[59691]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 25 17:24:13 ubuntu etcd[59691]: raft2025/02/25 17:24:13 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 25 17:24:13 ubuntu etcd[59691]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Feb 25 17:24:13 ubuntu etcd[59691]: listening for peers on [::]:2380
Feb 25 17:24:14 ubuntu etcd[59691]: raft2025/02/25 17:24:14 INFO: c25b29daa831042c is starting a new election at term 1
Feb 25 17:24:14 ubuntu etcd[59691]: raft2025/02/25 17:24:14 INFO: c25b29daa831042c became candidate at term 2
Feb 25 17:24:14 ubuntu etcd[59691]: raft2025/02/25 17:24:14 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Feb 25 17:24:14 ubuntu etcd[59691]: raft2025/02/25 17:24:14 INFO: c25b29daa831042c became leader at term 2
Feb 25 17:24:14 ubuntu etcd[59691]: raft2025/02/25 17:24:14 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Feb 25 17:24:14 ubuntu etcd[59691]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Feb 25 17:24:14 ubuntu etcd[59691]: ready to serve client requests
Feb 25 17:24:14 ubuntu etcd[59691]: setting up the initial cluster version to 3.4
Feb 25 17:24:14 ubuntu etcd[59691]: set the initial cluster version to 3.4
Feb 25 17:24:14 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 25 17:24:14 ubuntu etcd[59691]: enabled capabilities for version 3.4
Feb 25 17:24:14 ubuntu etcd[59691]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Feb 25 17:28:26 ubuntu etcd[59691]: start time = 2025-02-25 17:28:26.182921983 +0000 UTC m=+252.443257329, time spent = 418.517µs, remote = 10.201.9.223:38976, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 25 17:28:26 ubuntu etcd[59691]: start time = 2025-02-25 17:28:26.258103215 +0000 UTC m=+252.518438575, time spent = 248.333µs, remote = 10.201.9.223:38976, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 25 17:28:32 ubuntu etcd[59691]: start time = 2025-02-25 17:28:32.578877413 +0000 UTC m=+258.839212773, time spent = 200.176µs, remote = 10.201.9.223:38976, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 25 17:28:34 ubuntu etcd[59691]: start time = 2025-02-25 17:28:34.639518615 +0000 UTC m=+260.899853972, time spent = 221.017µs, remote = 10.201.9.223:38976, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
