Aug 01 13:36:44 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 01 13:36:44 ubuntu etcd[58776]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 01 13:36:44 ubuntu etcd[58776]:         A future release of golang/protobuf will delete this package,
Aug 01 13:36:44 ubuntu etcd[58776]:         which has long been excluded from the compatibility promise.
Aug 01 13:36:44 ubuntu etcd[58776]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 01 13:36:44 ubuntu etcd[58776]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 01 13:36:44 ubuntu etcd[58776]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 01 13:36:44 ubuntu etcd[58776]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 01 13:36:44 ubuntu etcd[58776]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 01 13:36:44 ubuntu etcd[58776]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 01 13:36:44 ubuntu etcd[58776]: Running http and grpc server on single port. This is not recommended for production.
Aug 01 13:36:44 ubuntu etcd[58776]: etcd Version: 3.4.27
Aug 01 13:36:44 ubuntu etcd[58776]: Git SHA: c92fb80f3
Aug 01 13:36:44 ubuntu etcd[58776]: Go Version: go1.19.10
Aug 01 13:36:44 ubuntu etcd[58776]: Go OS/Arch: linux/amd64
Aug 01 13:36:44 ubuntu etcd[58776]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 01 13:36:44 ubuntu etcd[58776]: Running http and grpc server on single port. This is not recommended for production.
Aug 01 13:36:44 ubuntu etcd[58776]: name = ubuntu
Aug 01 13:36:44 ubuntu etcd[58776]: data dir = /opt/stack/data/etcd
Aug 01 13:36:44 ubuntu etcd[58776]: member dir = /opt/stack/data/etcd/member
Aug 01 13:36:44 ubuntu etcd[58776]: heartbeat = 100ms
Aug 01 13:36:44 ubuntu etcd[58776]: election = 1000ms
Aug 01 13:36:44 ubuntu etcd[58776]: snapshot count = 100000
Aug 01 13:36:44 ubuntu etcd[58776]: advertise client URLs = http://10.201.4.32:2379
Aug 01 13:36:44 ubuntu etcd[58776]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 01 13:36:44 ubuntu etcd[58776]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Aug 01 13:36:44 ubuntu etcd[58776]: raft2024/08/01 13:36:44 INFO: 33238c1cdfea94eb switched to configuration voters=()
Aug 01 13:36:44 ubuntu etcd[58776]: raft2024/08/01 13:36:44 INFO: 33238c1cdfea94eb became follower at term 0
Aug 01 13:36:44 ubuntu etcd[58776]: raft2024/08/01 13:36:44 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 01 13:36:44 ubuntu etcd[58776]: raft2024/08/01 13:36:44 INFO: 33238c1cdfea94eb became follower at term 1
Aug 01 13:36:44 ubuntu etcd[58776]: raft2024/08/01 13:36:44 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 01 13:36:44 ubuntu etcd[58776]: simple token is not cryptographically signed
Aug 01 13:36:44 ubuntu etcd[58776]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 01 13:36:44 ubuntu etcd[58776]: raft2024/08/01 13:36:44 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 01 13:36:44 ubuntu etcd[58776]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 01 13:36:44 ubuntu etcd[58776]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 01 13:36:44 ubuntu etcd[58776]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 01 13:36:44 ubuntu etcd[58776]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 01 13:36:44 ubuntu etcd[58776]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Aug 01 13:36:44 ubuntu etcd[58776]: listening for peers on [::]:2380
Aug 01 13:36:44 ubuntu etcd[58776]: raft2024/08/01 13:36:44 INFO: 33238c1cdfea94eb is starting a new election at term 1
Aug 01 13:36:44 ubuntu etcd[58776]: raft2024/08/01 13:36:44 INFO: 33238c1cdfea94eb became candidate at term 2
Aug 01 13:36:44 ubuntu etcd[58776]: raft2024/08/01 13:36:44 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Aug 01 13:36:44 ubuntu etcd[58776]: raft2024/08/01 13:36:44 INFO: 33238c1cdfea94eb became leader at term 2
Aug 01 13:36:44 ubuntu etcd[58776]: raft2024/08/01 13:36:44 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Aug 01 13:36:44 ubuntu etcd[58776]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Aug 01 13:36:44 ubuntu etcd[58776]: setting up the initial cluster version to 3.4
Aug 01 13:36:44 ubuntu etcd[58776]: ready to serve client requests
Aug 01 13:36:44 ubuntu etcd[58776]: INFO: 2024/08/01 13:36:44 parsed scheme: ""
Aug 01 13:36:44 ubuntu etcd[58776]: INFO: 2024/08/01 13:36:44 scheme "" not registered, fallback to default scheme
Aug 01 13:36:44 ubuntu etcd[58776]: set the initial cluster version to 3.4
Aug 01 13:36:44 ubuntu etcd[58776]: enabled capabilities for version 3.4
Aug 01 13:36:44 ubuntu etcd[58776]: INFO: 2024/08/01 13:36:44 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 01 13:36:44 ubuntu etcd[58776]: INFO: 2024/08/01 13:36:44 ClientConn switching balancer to "pick_first"
Aug 01 13:36:44 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 01 13:36:44 ubuntu etcd[58776]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Aug 01 13:41:07 ubuntu etcd[58776]: start time = 2024-08-01 13:41:07.465628681 +0000 UTC m=+263.430452455, time spent = 537.99µs, remote = 10.201.4.32:57418, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 01 13:41:07 ubuntu etcd[58776]: start time = 2024-08-01 13:41:07.565872464 +0000 UTC m=+263.530696240, time spent = 221.096µs, remote = 10.201.4.32:57418, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 01 13:41:14 ubuntu etcd[58776]: start time = 2024-08-01 13:41:14.136201577 +0000 UTC m=+270.101025358, time spent = 195.208µs, remote = 10.201.4.32:57418, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 01 13:41:16 ubuntu etcd[58776]: start time = 2024-08-01 13:41:16.313190897 +0000 UTC m=+272.278014671, time spent = 315.027µs, remote = 10.201.4.32:57418, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
