Feb 13 06:05:31 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 13 06:05:31 ubuntu etcd[60333]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 13 06:05:31 ubuntu etcd[60333]:         A future release of golang/protobuf will delete this package,
Feb 13 06:05:31 ubuntu etcd[60333]:         which has long been excluded from the compatibility promise.
Feb 13 06:05:31 ubuntu etcd[60333]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 13 06:05:31 ubuntu etcd[60333]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 13 06:05:31 ubuntu etcd[60333]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 13 06:05:31 ubuntu etcd[60333]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 13 06:05:31 ubuntu etcd[60333]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 13 06:05:31 ubuntu etcd[60333]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 13 06:05:31 ubuntu etcd[60333]: Running http and grpc server on single port. This is not recommended for production.
Feb 13 06:05:31 ubuntu etcd[60333]: etcd Version: 3.4.27
Feb 13 06:05:31 ubuntu etcd[60333]: Git SHA: c92fb80f3
Feb 13 06:05:31 ubuntu etcd[60333]: Go Version: go1.19.10
Feb 13 06:05:31 ubuntu etcd[60333]: Go OS/Arch: linux/amd64
Feb 13 06:05:31 ubuntu etcd[60333]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 13 06:05:31 ubuntu etcd[60333]: Running http and grpc server on single port. This is not recommended for production.
Feb 13 06:05:31 ubuntu etcd[60333]: name = ubuntu
Feb 13 06:05:31 ubuntu etcd[60333]: data dir = /opt/stack/data/etcd
Feb 13 06:05:31 ubuntu etcd[60333]: member dir = /opt/stack/data/etcd/member
Feb 13 06:05:31 ubuntu etcd[60333]: heartbeat = 100ms
Feb 13 06:05:31 ubuntu etcd[60333]: election = 1000ms
Feb 13 06:05:31 ubuntu etcd[60333]: snapshot count = 100000
Feb 13 06:05:31 ubuntu etcd[60333]: advertise client URLs = http://10.201.4.32:2379
Feb 13 06:05:31 ubuntu etcd[60333]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 13 06:05:31 ubuntu etcd[60333]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 13 06:05:31 ubuntu etcd[60333]: raft2024/02/13 06:05:31 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 13 06:05:31 ubuntu etcd[60333]: raft2024/02/13 06:05:31 INFO: 33238c1cdfea94eb became follower at term 0
Feb 13 06:05:31 ubuntu etcd[60333]: raft2024/02/13 06:05:31 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 13 06:05:31 ubuntu etcd[60333]: raft2024/02/13 06:05:31 INFO: 33238c1cdfea94eb became follower at term 1
Feb 13 06:05:31 ubuntu etcd[60333]: raft2024/02/13 06:05:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 13 06:05:31 ubuntu etcd[60333]: simple token is not cryptographically signed
Feb 13 06:05:31 ubuntu etcd[60333]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 13 06:05:31 ubuntu etcd[60333]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 13 06:05:31 ubuntu etcd[60333]: raft2024/02/13 06:05:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 13 06:05:31 ubuntu etcd[60333]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 13 06:05:31 ubuntu etcd[60333]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 13 06:05:31 ubuntu etcd[60333]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 13 06:05:31 ubuntu etcd[60333]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 13 06:05:31 ubuntu etcd[60333]: listening for peers on [::]:2380
Feb 13 06:05:32 ubuntu etcd[60333]: raft2024/02/13 06:05:32 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 13 06:05:32 ubuntu etcd[60333]: raft2024/02/13 06:05:32 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 13 06:05:32 ubuntu etcd[60333]: raft2024/02/13 06:05:32 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 13 06:05:32 ubuntu etcd[60333]: raft2024/02/13 06:05:32 INFO: 33238c1cdfea94eb became leader at term 2
Feb 13 06:05:32 ubuntu etcd[60333]: raft2024/02/13 06:05:32 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 13 06:05:32 ubuntu etcd[60333]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 13 06:05:32 ubuntu etcd[60333]: ready to serve client requests
Feb 13 06:05:32 ubuntu etcd[60333]: setting up the initial cluster version to 3.4
Feb 13 06:05:32 ubuntu etcd[60333]: set the initial cluster version to 3.4
Feb 13 06:05:32 ubuntu etcd[60333]: enabled capabilities for version 3.4
Feb 13 06:05:32 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 13 06:05:32 ubuntu etcd[60333]: INFO: 2024/02/13 06:05:32 parsed scheme: ""
Feb 13 06:05:32 ubuntu etcd[60333]: INFO: 2024/02/13 06:05:32 scheme "" not registered, fallback to default scheme
Feb 13 06:05:32 ubuntu etcd[60333]: INFO: 2024/02/13 06:05:32 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 13 06:05:32 ubuntu etcd[60333]: INFO: 2024/02/13 06:05:32 ClientConn switching balancer to "pick_first"
Feb 13 06:05:32 ubuntu etcd[60333]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 13 06:09:47 ubuntu etcd[60333]: start time = 2024-02-13 06:09:47.236173147 +0000 UTC m=+255.975343118, time spent = 552.768µs, remote = 10.201.4.32:57394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 06:09:47 ubuntu etcd[60333]: start time = 2024-02-13 06:09:47.304771538 +0000 UTC m=+256.043941519, time spent = 183.245µs, remote = 10.201.4.32:57394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 06:09:54 ubuntu etcd[60333]: start time = 2024-02-13 06:09:54.166640601 +0000 UTC m=+262.905810583, time spent = 389.44µs, remote = 10.201.4.32:57394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 06:09:56 ubuntu etcd[60333]: start time = 2024-02-13 06:09:56.494363582 +0000 UTC m=+265.233533553, time spent = 216.3µs, remote = 10.201.4.32:57394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
