Jul 28 15:58:21 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 28 15:58:21 ubuntu etcd[59241]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 28 15:58:21 ubuntu etcd[59241]:         A future release of golang/protobuf will delete this package,
Jul 28 15:58:21 ubuntu etcd[59241]:         which has long been excluded from the compatibility promise.
Jul 28 15:58:21 ubuntu etcd[59241]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 28 15:58:21 ubuntu etcd[59241]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 28 15:58:21 ubuntu etcd[59241]: Running http and grpc server on single port. This is not recommended for production.
Jul 28 15:58:21 ubuntu etcd[59241]: etcd Version: 3.4.27
Jul 28 15:58:21 ubuntu etcd[59241]: Git SHA: c92fb80f3
Jul 28 15:58:21 ubuntu etcd[59241]: Go Version: go1.19.10
Jul 28 15:58:21 ubuntu etcd[59241]: Go OS/Arch: linux/amd64
Jul 28 15:58:21 ubuntu etcd[59241]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 28 15:58:21 ubuntu etcd[59241]: Running http and grpc server on single port. This is not recommended for production.
Jul 28 15:58:21 ubuntu etcd[59241]: name = ubuntu
Jul 28 15:58:21 ubuntu etcd[59241]: data dir = /opt/stack/data/etcd
Jul 28 15:58:21 ubuntu etcd[59241]: member dir = /opt/stack/data/etcd/member
Jul 28 15:58:21 ubuntu etcd[59241]: heartbeat = 100ms
Jul 28 15:58:21 ubuntu etcd[59241]: election = 1000ms
Jul 28 15:58:21 ubuntu etcd[59241]: snapshot count = 100000
Jul 28 15:58:21 ubuntu etcd[59241]: advertise client URLs = http://10.201.9.223:2379
Jul 28 15:58:21 ubuntu etcd[59241]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 28 15:58:21 ubuntu etcd[59241]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 28 15:58:21 ubuntu etcd[59241]: raft2025/07/28 15:58:21 INFO: c25b29daa831042c switched to configuration voters=()
Jul 28 15:58:21 ubuntu etcd[59241]: raft2025/07/28 15:58:21 INFO: c25b29daa831042c became follower at term 0
Jul 28 15:58:21 ubuntu etcd[59241]: raft2025/07/28 15:58:21 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 28 15:58:21 ubuntu etcd[59241]: raft2025/07/28 15:58:21 INFO: c25b29daa831042c became follower at term 1
Jul 28 15:58:21 ubuntu etcd[59241]: raft2025/07/28 15:58:21 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 28 15:58:21 ubuntu etcd[59241]: simple token is not cryptographically signed
Jul 28 15:58:21 ubuntu etcd[59241]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 28 15:58:21 ubuntu etcd[59241]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 28 15:58:21 ubuntu etcd[59241]: raft2025/07/28 15:58:21 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 28 15:58:21 ubuntu etcd[59241]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 28 15:58:21 ubuntu etcd[59241]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 28 15:58:21 ubuntu etcd[59241]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 28 15:58:21 ubuntu etcd[59241]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 28 15:58:21 ubuntu etcd[59241]: listening for peers on [::]:2380
Jul 28 15:58:21 ubuntu etcd[59241]: raft2025/07/28 15:58:21 INFO: c25b29daa831042c is starting a new election at term 1
Jul 28 15:58:21 ubuntu etcd[59241]: raft2025/07/28 15:58:21 INFO: c25b29daa831042c became candidate at term 2
Jul 28 15:58:21 ubuntu etcd[59241]: raft2025/07/28 15:58:21 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 28 15:58:21 ubuntu etcd[59241]: raft2025/07/28 15:58:21 INFO: c25b29daa831042c became leader at term 2
Jul 28 15:58:21 ubuntu etcd[59241]: raft2025/07/28 15:58:21 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 28 15:58:21 ubuntu etcd[59241]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 28 15:58:21 ubuntu etcd[59241]: setting up the initial cluster version to 3.4
Jul 28 15:58:21 ubuntu etcd[59241]: ready to serve client requests
Jul 28 15:58:21 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 28 15:58:21 ubuntu etcd[59241]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 28 15:58:21 ubuntu etcd[59241]: set the initial cluster version to 3.4
Jul 28 15:58:21 ubuntu etcd[59241]: enabled capabilities for version 3.4
Jul 28 16:02:41 ubuntu etcd[59241]: start time = 2025-07-28 16:02:41.570673334 +0000 UTC m=+260.070007819, time spent = 565.141µs, remote = 10.201.9.223:41264, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 16:02:41 ubuntu etcd[59241]: start time = 2025-07-28 16:02:41.616798901 +0000 UTC m=+260.116133390, time spent = 232.848µs, remote = 10.201.9.223:41264, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 16:02:48 ubuntu etcd[59241]: start time = 2025-07-28 16:02:48.158865317 +0000 UTC m=+266.658199806, time spent = 193.872µs, remote = 10.201.9.223:41264, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 16:02:50 ubuntu etcd[59241]: start time = 2025-07-28 16:02:50.256332074 +0000 UTC m=+268.755666557, time spent = 320.234µs, remote = 10.201.9.223:41264, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
