Mar 05 13:47:35 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 05 13:47:35 ubuntu etcd[70907]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 05 13:47:35 ubuntu etcd[70907]:         A future release of golang/protobuf will delete this package,
Mar 05 13:47:35 ubuntu etcd[70907]:         which has long been excluded from the compatibility promise.
Mar 05 13:47:35 ubuntu etcd[70907]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 05 13:47:35 ubuntu etcd[70907]: Running http and grpc server on single port. This is not recommended for production.
Mar 05 13:47:35 ubuntu etcd[70907]: etcd Version: 3.4.27
Mar 05 13:47:35 ubuntu etcd[70907]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 05 13:47:35 ubuntu etcd[70907]: Git SHA: c92fb80f3
Mar 05 13:47:35 ubuntu etcd[70907]: Go Version: go1.19.10
Mar 05 13:47:35 ubuntu etcd[70907]: Go OS/Arch: linux/amd64
Mar 05 13:47:35 ubuntu etcd[70907]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 05 13:47:35 ubuntu etcd[70907]: Running http and grpc server on single port. This is not recommended for production.
Mar 05 13:47:35 ubuntu etcd[70907]: name = ubuntu
Mar 05 13:47:35 ubuntu etcd[70907]: data dir = /opt/stack/data/etcd
Mar 05 13:47:35 ubuntu etcd[70907]: member dir = /opt/stack/data/etcd/member
Mar 05 13:47:35 ubuntu etcd[70907]: heartbeat = 100ms
Mar 05 13:47:35 ubuntu etcd[70907]: election = 1000ms
Mar 05 13:47:35 ubuntu etcd[70907]: snapshot count = 100000
Mar 05 13:47:35 ubuntu etcd[70907]: advertise client URLs = http://10.201.9.223:2379
Mar 05 13:47:35 ubuntu etcd[70907]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 05 13:47:35 ubuntu etcd[70907]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 05 13:47:35 ubuntu etcd[70907]: raft2025/03/05 13:47:35 INFO: c25b29daa831042c switched to configuration voters=()
Mar 05 13:47:35 ubuntu etcd[70907]: raft2025/03/05 13:47:35 INFO: c25b29daa831042c became follower at term 0
Mar 05 13:47:35 ubuntu etcd[70907]: raft2025/03/05 13:47:35 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 05 13:47:35 ubuntu etcd[70907]: raft2025/03/05 13:47:35 INFO: c25b29daa831042c became follower at term 1
Mar 05 13:47:35 ubuntu etcd[70907]: raft2025/03/05 13:47:35 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 05 13:47:35 ubuntu etcd[70907]: simple token is not cryptographically signed
Mar 05 13:47:35 ubuntu etcd[70907]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 05 13:47:35 ubuntu etcd[70907]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 05 13:47:35 ubuntu etcd[70907]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 05 13:47:35 ubuntu etcd[70907]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 05 13:47:35 ubuntu etcd[70907]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 05 13:47:35 ubuntu etcd[70907]: raft2025/03/05 13:47:35 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 05 13:47:35 ubuntu etcd[70907]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 05 13:47:35 ubuntu etcd[70907]: listening for peers on [::]:2380
Mar 05 13:47:36 ubuntu etcd[70907]: raft2025/03/05 13:47:36 INFO: c25b29daa831042c is starting a new election at term 1
Mar 05 13:47:36 ubuntu etcd[70907]: raft2025/03/05 13:47:36 INFO: c25b29daa831042c became candidate at term 2
Mar 05 13:47:36 ubuntu etcd[70907]: raft2025/03/05 13:47:36 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 05 13:47:36 ubuntu etcd[70907]: raft2025/03/05 13:47:36 INFO: c25b29daa831042c became leader at term 2
Mar 05 13:47:36 ubuntu etcd[70907]: raft2025/03/05 13:47:36 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 05 13:47:36 ubuntu etcd[70907]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 05 13:47:36 ubuntu etcd[70907]: ready to serve client requests
Mar 05 13:47:36 ubuntu etcd[70907]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 05 13:47:36 ubuntu etcd[70907]: setting up the initial cluster version to 3.4
Mar 05 13:47:36 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 05 13:47:36 ubuntu etcd[70907]: set the initial cluster version to 3.4
Mar 05 13:47:36 ubuntu etcd[70907]: enabled capabilities for version 3.4
Mar 05 13:51:44 ubuntu etcd[70907]: start time = 2025-03-05 13:51:44.604166222 +0000 UTC m=+249.288602190, time spent = 419.326µs, remote = 10.201.9.223:44906, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 05 13:51:44 ubuntu etcd[70907]: start time = 2025-03-05 13:51:44.622292334 +0000 UTC m=+249.306728317, time spent = 197.302µs, remote = 10.201.9.223:44906, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 05 13:51:51 ubuntu etcd[70907]: start time = 2025-03-05 13:51:51.415532817 +0000 UTC m=+256.099968799, time spent = 203.98µs, remote = 10.201.9.223:44906, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 05 13:51:53 ubuntu etcd[70907]: start time = 2025-03-05 13:51:53.712476179 +0000 UTC m=+258.396912160, time spent = 565.723µs, remote = 10.201.9.223:44906, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
