Jul 25 08:17:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 25 08:17:13 ubuntu etcd[58320]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 25 08:17:13 ubuntu etcd[58320]:         A future release of golang/protobuf will delete this package,
Jul 25 08:17:13 ubuntu etcd[58320]:         which has long been excluded from the compatibility promise.
Jul 25 08:17:13 ubuntu etcd[58320]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 25 08:17:13 ubuntu etcd[58320]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 25 08:17:13 ubuntu etcd[58320]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 25 08:17:13 ubuntu etcd[58320]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 25 08:17:13 ubuntu etcd[58320]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 25 08:17:13 ubuntu etcd[58320]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 25 08:17:13 ubuntu etcd[58320]: Running http and grpc server on single port. This is not recommended for production.
Jul 25 08:17:13 ubuntu etcd[58320]: etcd Version: 3.4.27
Jul 25 08:17:13 ubuntu etcd[58320]: Git SHA: c92fb80f3
Jul 25 08:17:13 ubuntu etcd[58320]: Go Version: go1.19.10
Jul 25 08:17:13 ubuntu etcd[58320]: Go OS/Arch: linux/amd64
Jul 25 08:17:13 ubuntu etcd[58320]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 25 08:17:13 ubuntu etcd[58320]: Running http and grpc server on single port. This is not recommended for production.
Jul 25 08:17:13 ubuntu etcd[58320]: name = ubuntu
Jul 25 08:17:13 ubuntu etcd[58320]: data dir = /opt/stack/data/etcd
Jul 25 08:17:13 ubuntu etcd[58320]: member dir = /opt/stack/data/etcd/member
Jul 25 08:17:13 ubuntu etcd[58320]: heartbeat = 100ms
Jul 25 08:17:13 ubuntu etcd[58320]: election = 1000ms
Jul 25 08:17:13 ubuntu etcd[58320]: snapshot count = 100000
Jul 25 08:17:13 ubuntu etcd[58320]: advertise client URLs = http://10.201.4.32:2379
Jul 25 08:17:13 ubuntu etcd[58320]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 25 08:17:13 ubuntu etcd[58320]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jul 25 08:17:13 ubuntu etcd[58320]: raft2024/07/25 08:17:13 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jul 25 08:17:13 ubuntu etcd[58320]: raft2024/07/25 08:17:13 INFO: 33238c1cdfea94eb became follower at term 0
Jul 25 08:17:13 ubuntu etcd[58320]: raft2024/07/25 08:17:13 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 25 08:17:13 ubuntu etcd[58320]: raft2024/07/25 08:17:13 INFO: 33238c1cdfea94eb became follower at term 1
Jul 25 08:17:13 ubuntu etcd[58320]: raft2024/07/25 08:17:13 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 25 08:17:13 ubuntu etcd[58320]: simple token is not cryptographically signed
Jul 25 08:17:13 ubuntu etcd[58320]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 25 08:17:13 ubuntu etcd[58320]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 25 08:17:13 ubuntu etcd[58320]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 25 08:17:13 ubuntu etcd[58320]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 25 08:17:13 ubuntu etcd[58320]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 25 08:17:13 ubuntu etcd[58320]: raft2024/07/25 08:17:13 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 25 08:17:13 ubuntu etcd[58320]: listening for peers on [::]:2380
Jul 25 08:17:13 ubuntu etcd[58320]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jul 25 08:17:13 ubuntu etcd[58320]: raft2024/07/25 08:17:13 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jul 25 08:17:13 ubuntu etcd[58320]: raft2024/07/25 08:17:13 INFO: 33238c1cdfea94eb became candidate at term 2
Jul 25 08:17:13 ubuntu etcd[58320]: raft2024/07/25 08:17:13 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jul 25 08:17:13 ubuntu etcd[58320]: raft2024/07/25 08:17:13 INFO: 33238c1cdfea94eb became leader at term 2
Jul 25 08:17:13 ubuntu etcd[58320]: raft2024/07/25 08:17:13 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jul 25 08:17:13 ubuntu etcd[58320]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jul 25 08:17:13 ubuntu etcd[58320]: ready to serve client requests
Jul 25 08:17:13 ubuntu etcd[58320]: INFO: 2024/07/25 08:17:13 parsed scheme: ""
Jul 25 08:17:13 ubuntu etcd[58320]: INFO: 2024/07/25 08:17:13 scheme "" not registered, fallback to default scheme
Jul 25 08:17:13 ubuntu etcd[58320]: INFO: 2024/07/25 08:17:13 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 25 08:17:13 ubuntu etcd[58320]: INFO: 2024/07/25 08:17:13 ClientConn switching balancer to "pick_first"
Jul 25 08:17:13 ubuntu etcd[58320]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jul 25 08:17:13 ubuntu etcd[58320]: setting up the initial cluster version to 3.4
Jul 25 08:17:13 ubuntu etcd[58320]: set the initial cluster version to 3.4
Jul 25 08:17:13 ubuntu etcd[58320]: enabled capabilities for version 3.4
Jul 25 08:17:13 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 25 08:21:32 ubuntu etcd[58320]: start time = 2024-07-25 08:21:32.614149442 +0000 UTC m=+259.328337695, time spent = 617.9µs, remote = 10.201.4.32:49370, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 08:21:32 ubuntu etcd[58320]: start time = 2024-07-25 08:21:32.660068968 +0000 UTC m=+259.374257232, time spent = 226.344µs, remote = 10.201.4.32:49370, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 08:21:39 ubuntu etcd[58320]: start time = 2024-07-25 08:21:39.560340008 +0000 UTC m=+266.274528272, time spent = 210.264µs, remote = 10.201.4.32:49370, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 08:21:41 ubuntu etcd[58320]: start time = 2024-07-25 08:21:41.736927048 +0000 UTC m=+268.451115312, time spent = 177.846µs, remote = 10.201.4.32:49370, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
