Apr 21 20:15:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 21 20:15:46 ubuntu etcd[57603]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 21 20:15:46 ubuntu etcd[57603]:         A future release of golang/protobuf will delete this package,
Apr 21 20:15:46 ubuntu etcd[57603]:         which has long been excluded from the compatibility promise.
Apr 21 20:15:46 ubuntu etcd[57603]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 21 20:15:46 ubuntu etcd[57603]: Running http and grpc server on single port. This is not recommended for production.
Apr 21 20:15:46 ubuntu etcd[57603]: etcd Version: 3.4.27
Apr 21 20:15:46 ubuntu etcd[57603]: Git SHA: c92fb80f3
Apr 21 20:15:46 ubuntu etcd[57603]: Go Version: go1.19.10
Apr 21 20:15:46 ubuntu etcd[57603]: Go OS/Arch: linux/amd64
Apr 21 20:15:46 ubuntu etcd[57603]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 21 20:15:46 ubuntu etcd[57603]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 21 20:15:46 ubuntu etcd[57603]: Running http and grpc server on single port. This is not recommended for production.
Apr 21 20:15:46 ubuntu etcd[57603]: name = ubuntu
Apr 21 20:15:46 ubuntu etcd[57603]: data dir = /opt/stack/data/etcd
Apr 21 20:15:46 ubuntu etcd[57603]: member dir = /opt/stack/data/etcd/member
Apr 21 20:15:46 ubuntu etcd[57603]: heartbeat = 100ms
Apr 21 20:15:46 ubuntu etcd[57603]: election = 1000ms
Apr 21 20:15:46 ubuntu etcd[57603]: snapshot count = 100000
Apr 21 20:15:46 ubuntu etcd[57603]: advertise client URLs = http://10.201.9.223:2379
Apr 21 20:15:46 ubuntu etcd[57603]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 21 20:15:46 ubuntu etcd[57603]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 21 20:15:46 ubuntu etcd[57603]: raft2025/04/21 20:15:46 INFO: c25b29daa831042c switched to configuration voters=()
Apr 21 20:15:46 ubuntu etcd[57603]: raft2025/04/21 20:15:46 INFO: c25b29daa831042c became follower at term 0
Apr 21 20:15:46 ubuntu etcd[57603]: raft2025/04/21 20:15:46 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 21 20:15:46 ubuntu etcd[57603]: raft2025/04/21 20:15:46 INFO: c25b29daa831042c became follower at term 1
Apr 21 20:15:46 ubuntu etcd[57603]: raft2025/04/21 20:15:46 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 21 20:15:46 ubuntu etcd[57603]: simple token is not cryptographically signed
Apr 21 20:15:46 ubuntu etcd[57603]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 21 20:15:46 ubuntu etcd[57603]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 21 20:15:46 ubuntu etcd[57603]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 21 20:15:46 ubuntu etcd[57603]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 21 20:15:46 ubuntu etcd[57603]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 21 20:15:46 ubuntu etcd[57603]: raft2025/04/21 20:15:46 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 21 20:15:46 ubuntu etcd[57603]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 21 20:15:46 ubuntu etcd[57603]: listening for peers on [::]:2380
Apr 21 20:15:46 ubuntu etcd[57603]: raft2025/04/21 20:15:46 INFO: c25b29daa831042c is starting a new election at term 1
Apr 21 20:15:46 ubuntu etcd[57603]: raft2025/04/21 20:15:46 INFO: c25b29daa831042c became candidate at term 2
Apr 21 20:15:46 ubuntu etcd[57603]: raft2025/04/21 20:15:46 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 21 20:15:46 ubuntu etcd[57603]: raft2025/04/21 20:15:46 INFO: c25b29daa831042c became leader at term 2
Apr 21 20:15:46 ubuntu etcd[57603]: raft2025/04/21 20:15:46 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 21 20:15:46 ubuntu etcd[57603]: setting up the initial cluster version to 3.4
Apr 21 20:15:46 ubuntu etcd[57603]: set the initial cluster version to 3.4
Apr 21 20:15:46 ubuntu etcd[57603]: enabled capabilities for version 3.4
Apr 21 20:15:46 ubuntu etcd[57603]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 21 20:15:46 ubuntu etcd[57603]: ready to serve client requests
Apr 21 20:15:46 ubuntu etcd[57603]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 21 20:15:46 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 21 20:19:53 ubuntu etcd[57603]: start time = 2025-04-21 20:19:53.313584505 +0000 UTC m=+247.047733546, time spent = 497.909µs, remote = 10.201.9.223:54892, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 21 20:19:53 ubuntu etcd[57603]: start time = 2025-04-21 20:19:53.392034613 +0000 UTC m=+247.126183644, time spent = 162.98µs, remote = 10.201.9.223:54892, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 21 20:19:59 ubuntu etcd[57603]: start time = 2025-04-21 20:19:59.849543336 +0000 UTC m=+253.583692383, time spent = 179.344µs, remote = 10.201.9.223:54892, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 21 20:20:01 ubuntu etcd[57603]: start time = 2025-04-21 20:20:01.880118823 +0000 UTC m=+255.614267854, time spent = 180.675µs, remote = 10.201.9.223:54892, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
