May 22 12:51:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 22 12:51:43 ubuntu etcd[59864]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 22 12:51:43 ubuntu etcd[59864]:         A future release of golang/protobuf will delete this package,
May 22 12:51:43 ubuntu etcd[59864]:         which has long been excluded from the compatibility promise.
May 22 12:51:43 ubuntu etcd[59864]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 22 12:51:43 ubuntu etcd[59864]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 22 12:51:43 ubuntu etcd[59864]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 22 12:51:43 ubuntu etcd[59864]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 22 12:51:43 ubuntu etcd[59864]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 22 12:51:43 ubuntu etcd[59864]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 22 12:51:43 ubuntu etcd[59864]: Running http and grpc server on single port. This is not recommended for production.
May 22 12:51:43 ubuntu etcd[59864]: etcd Version: 3.4.27
May 22 12:51:43 ubuntu etcd[59864]: Git SHA: c92fb80f3
May 22 12:51:43 ubuntu etcd[59864]: Go Version: go1.19.10
May 22 12:51:43 ubuntu etcd[59864]: Go OS/Arch: linux/amd64
May 22 12:51:43 ubuntu etcd[59864]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 22 12:51:43 ubuntu etcd[59864]: Running http and grpc server on single port. This is not recommended for production.
May 22 12:51:43 ubuntu etcd[59864]: name = ubuntu
May 22 12:51:43 ubuntu etcd[59864]: data dir = /opt/stack/data/etcd
May 22 12:51:43 ubuntu etcd[59864]: member dir = /opt/stack/data/etcd/member
May 22 12:51:43 ubuntu etcd[59864]: heartbeat = 100ms
May 22 12:51:43 ubuntu etcd[59864]: election = 1000ms
May 22 12:51:43 ubuntu etcd[59864]: snapshot count = 100000
May 22 12:51:43 ubuntu etcd[59864]: advertise client URLs = http://10.201.4.32:2379
May 22 12:51:43 ubuntu etcd[59864]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 22 12:51:43 ubuntu etcd[59864]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 22 12:51:43 ubuntu etcd[59864]: raft2024/05/22 12:51:43 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 22 12:51:43 ubuntu etcd[59864]: raft2024/05/22 12:51:43 INFO: 33238c1cdfea94eb became follower at term 0
May 22 12:51:43 ubuntu etcd[59864]: raft2024/05/22 12:51:43 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 22 12:51:43 ubuntu etcd[59864]: raft2024/05/22 12:51:43 INFO: 33238c1cdfea94eb became follower at term 1
May 22 12:51:43 ubuntu etcd[59864]: raft2024/05/22 12:51:43 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 22 12:51:43 ubuntu etcd[59864]: simple token is not cryptographically signed
May 22 12:51:43 ubuntu etcd[59864]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 22 12:51:43 ubuntu etcd[59864]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 22 12:51:43 ubuntu etcd[59864]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 22 12:51:43 ubuntu etcd[59864]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 22 12:51:43 ubuntu etcd[59864]: raft2024/05/22 12:51:43 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 22 12:51:43 ubuntu etcd[59864]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 22 12:51:43 ubuntu etcd[59864]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 22 12:51:43 ubuntu etcd[59864]: listening for peers on [::]:2380
May 22 12:51:44 ubuntu etcd[59864]: raft2024/05/22 12:51:44 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 22 12:51:44 ubuntu etcd[59864]: raft2024/05/22 12:51:44 INFO: 33238c1cdfea94eb became candidate at term 2
May 22 12:51:44 ubuntu etcd[59864]: raft2024/05/22 12:51:44 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 22 12:51:44 ubuntu etcd[59864]: raft2024/05/22 12:51:44 INFO: 33238c1cdfea94eb became leader at term 2
May 22 12:51:44 ubuntu etcd[59864]: raft2024/05/22 12:51:44 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 22 12:51:44 ubuntu etcd[59864]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 22 12:51:44 ubuntu etcd[59864]: setting up the initial cluster version to 3.4
May 22 12:51:44 ubuntu etcd[59864]: set the initial cluster version to 3.4
May 22 12:51:44 ubuntu etcd[59864]: enabled capabilities for version 3.4
May 22 12:51:44 ubuntu etcd[59864]: INFO: 2024/05/22 12:51:44 parsed scheme: ""
May 22 12:51:44 ubuntu etcd[59864]: INFO: 2024/05/22 12:51:44 scheme "" not registered, fallback to default scheme
May 22 12:51:44 ubuntu etcd[59864]: INFO: 2024/05/22 12:51:44 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 22 12:51:44 ubuntu etcd[59864]: ready to serve client requests
May 22 12:51:44 ubuntu etcd[59864]: INFO: 2024/05/22 12:51:44 ClientConn switching balancer to "pick_first"
May 22 12:51:44 ubuntu etcd[59864]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 22 12:51:44 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 22 12:56:01 ubuntu etcd[59864]: start time = 2024-05-22 12:56:01.47983186 +0000 UTC m=+257.834299156, time spent = 510.355µs, remote = 10.201.4.32:43090, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 12:56:01 ubuntu etcd[59864]: start time = 2024-05-22 12:56:01.496523084 +0000 UTC m=+257.850990387, time spent = 146.535µs, remote = 10.201.4.32:43090, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 12:56:08 ubuntu etcd[59864]: start time = 2024-05-22 12:56:08.031567189 +0000 UTC m=+264.386034493, time spent = 177.57µs, remote = 10.201.4.32:43090, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 12:56:10 ubuntu etcd[59864]: start time = 2024-05-22 12:56:10.047098184 +0000 UTC m=+266.401565477, time spent = 271.244µs, remote = 10.201.4.32:43090, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 12:51:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 22 12:51:43 ubuntu etcd[59864]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 22 12:51:43 ubuntu etcd[59864]:         A future release of golang/protobuf will delete this package,
May 22 12:51:43 ubuntu etcd[59864]:         which has long been excluded from the compatibility promise.
May 22 12:51:43 ubuntu etcd[59864]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 22 12:51:43 ubuntu etcd[59864]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 22 12:51:43 ubuntu etcd[59864]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 22 12:51:43 ubuntu etcd[59864]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 22 12:51:43 ubuntu etcd[59864]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 22 12:51:43 ubuntu etcd[59864]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 22 12:51:43 ubuntu etcd[59864]: Running http and grpc server on single port. This is not recommended for production.
May 22 12:51:43 ubuntu etcd[59864]: etcd Version: 3.4.27
May 22 12:51:43 ubuntu etcd[59864]: Git SHA: c92fb80f3
May 22 12:51:43 ubuntu etcd[59864]: Go Version: go1.19.10
May 22 12:51:43 ubuntu etcd[59864]: Go OS/Arch: linux/amd64
May 22 12:51:43 ubuntu etcd[59864]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 22 12:51:43 ubuntu etcd[59864]: Running http and grpc server on single port. This is not recommended for production.
May 22 12:51:43 ubuntu etcd[59864]: name = ubuntu
May 22 12:51:43 ubuntu etcd[59864]: data dir = /opt/stack/data/etcd
May 22 12:51:43 ubuntu etcd[59864]: member dir = /opt/stack/data/etcd/member
May 22 12:51:43 ubuntu etcd[59864]: heartbeat = 100ms
May 22 12:51:43 ubuntu etcd[59864]: election = 1000ms
May 22 12:51:43 ubuntu etcd[59864]: snapshot count = 100000
May 22 12:51:43 ubuntu etcd[59864]: advertise client URLs = http://10.201.4.32:2379
May 22 12:51:43 ubuntu etcd[59864]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 22 12:51:43 ubuntu etcd[59864]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 22 12:51:43 ubuntu etcd[59864]: raft2024/05/22 12:51:43 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 22 12:51:43 ubuntu etcd[59864]: raft2024/05/22 12:51:43 INFO: 33238c1cdfea94eb became follower at term 0
May 22 12:51:43 ubuntu etcd[59864]: raft2024/05/22 12:51:43 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 22 12:51:43 ubuntu etcd[59864]: raft2024/05/22 12:51:43 INFO: 33238c1cdfea94eb became follower at term 1
May 22 12:51:43 ubuntu etcd[59864]: raft2024/05/22 12:51:43 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 22 12:51:43 ubuntu etcd[59864]: simple token is not cryptographically signed
May 22 12:51:43 ubuntu etcd[59864]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 22 12:51:43 ubuntu etcd[59864]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 22 12:51:43 ubuntu etcd[59864]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 22 12:51:43 ubuntu etcd[59864]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 22 12:51:43 ubuntu etcd[59864]: raft2024/05/22 12:51:43 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 22 12:51:43 ubuntu etcd[59864]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 22 12:51:43 ubuntu etcd[59864]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 22 12:51:43 ubuntu etcd[59864]: listening for peers on [::]:2380
May 22 12:51:44 ubuntu etcd[59864]: raft2024/05/22 12:51:44 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 22 12:51:44 ubuntu etcd[59864]: raft2024/05/22 12:51:44 INFO: 33238c1cdfea94eb became candidate at term 2
May 22 12:51:44 ubuntu etcd[59864]: raft2024/05/22 12:51:44 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 22 12:51:44 ubuntu etcd[59864]: raft2024/05/22 12:51:44 INFO: 33238c1cdfea94eb became leader at term 2
May 22 12:51:44 ubuntu etcd[59864]: raft2024/05/22 12:51:44 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 22 12:51:44 ubuntu etcd[59864]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 22 12:51:44 ubuntu etcd[59864]: setting up the initial cluster version to 3.4
May 22 12:51:44 ubuntu etcd[59864]: set the initial cluster version to 3.4
May 22 12:51:44 ubuntu etcd[59864]: enabled capabilities for version 3.4
May 22 12:51:44 ubuntu etcd[59864]: INFO: 2024/05/22 12:51:44 parsed scheme: ""
May 22 12:51:44 ubuntu etcd[59864]: INFO: 2024/05/22 12:51:44 scheme "" not registered, fallback to default scheme
May 22 12:51:44 ubuntu etcd[59864]: INFO: 2024/05/22 12:51:44 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 22 12:51:44 ubuntu etcd[59864]: ready to serve client requests
May 22 12:51:44 ubuntu etcd[59864]: INFO: 2024/05/22 12:51:44 ClientConn switching balancer to "pick_first"
May 22 12:51:44 ubuntu etcd[59864]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 22 12:51:44 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 22 12:56:01 ubuntu etcd[59864]: start time = 2024-05-22 12:56:01.47983186 +0000 UTC m=+257.834299156, time spent = 510.355µs, remote = 10.201.4.32:43090, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 12:56:01 ubuntu etcd[59864]: start time = 2024-05-22 12:56:01.496523084 +0000 UTC m=+257.850990387, time spent = 146.535µs, remote = 10.201.4.32:43090, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 12:56:08 ubuntu etcd[59864]: start time = 2024-05-22 12:56:08.031567189 +0000 UTC m=+264.386034493, time spent = 177.57µs, remote = 10.201.4.32:43090, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 12:56:10 ubuntu etcd[59864]: start time = 2024-05-22 12:56:10.047098184 +0000 UTC m=+266.401565477, time spent = 271.244µs, remote = 10.201.4.32:43090, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
