Jun 20 11:52:54 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 20 11:52:54 ubuntu etcd[59046]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 20 11:52:54 ubuntu etcd[59046]:         A future release of golang/protobuf will delete this package,
Jun 20 11:52:54 ubuntu etcd[59046]:         which has long been excluded from the compatibility promise.
Jun 20 11:52:54 ubuntu etcd[59046]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 20 11:52:54 ubuntu etcd[59046]: Running http and grpc server on single port. This is not recommended for production.
Jun 20 11:52:54 ubuntu etcd[59046]: etcd Version: 3.4.27
Jun 20 11:52:54 ubuntu etcd[59046]: Git SHA: c92fb80f3
Jun 20 11:52:54 ubuntu etcd[59046]: Go Version: go1.19.10
Jun 20 11:52:54 ubuntu etcd[59046]: Go OS/Arch: linux/amd64
Jun 20 11:52:54 ubuntu etcd[59046]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 20 11:52:54 ubuntu etcd[59046]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 20 11:52:54 ubuntu etcd[59046]: Running http and grpc server on single port. This is not recommended for production.
Jun 20 11:52:54 ubuntu etcd[59046]: name = ubuntu
Jun 20 11:52:54 ubuntu etcd[59046]: data dir = /opt/stack/data/etcd
Jun 20 11:52:54 ubuntu etcd[59046]: member dir = /opt/stack/data/etcd/member
Jun 20 11:52:54 ubuntu etcd[59046]: heartbeat = 100ms
Jun 20 11:52:54 ubuntu etcd[59046]: election = 1000ms
Jun 20 11:52:54 ubuntu etcd[59046]: snapshot count = 100000
Jun 20 11:52:54 ubuntu etcd[59046]: advertise client URLs = http://10.201.9.223:2379
Jun 20 11:52:54 ubuntu etcd[59046]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 20 11:52:54 ubuntu etcd[59046]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 20 11:52:54 ubuntu etcd[59046]: raft2025/06/20 11:52:54 INFO: c25b29daa831042c switched to configuration voters=()
Jun 20 11:52:54 ubuntu etcd[59046]: raft2025/06/20 11:52:54 INFO: c25b29daa831042c became follower at term 0
Jun 20 11:52:54 ubuntu etcd[59046]: raft2025/06/20 11:52:54 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 20 11:52:54 ubuntu etcd[59046]: raft2025/06/20 11:52:54 INFO: c25b29daa831042c became follower at term 1
Jun 20 11:52:54 ubuntu etcd[59046]: raft2025/06/20 11:52:54 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 20 11:52:54 ubuntu etcd[59046]: simple token is not cryptographically signed
Jun 20 11:52:54 ubuntu etcd[59046]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 20 11:52:54 ubuntu etcd[59046]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 20 11:52:54 ubuntu etcd[59046]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 20 11:52:54 ubuntu etcd[59046]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 20 11:52:54 ubuntu etcd[59046]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 20 11:52:54 ubuntu etcd[59046]: raft2025/06/20 11:52:54 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 20 11:52:54 ubuntu etcd[59046]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 20 11:52:54 ubuntu etcd[59046]: listening for peers on [::]:2380
Jun 20 11:52:55 ubuntu etcd[59046]: raft2025/06/20 11:52:55 INFO: c25b29daa831042c is starting a new election at term 1
Jun 20 11:52:55 ubuntu etcd[59046]: raft2025/06/20 11:52:55 INFO: c25b29daa831042c became candidate at term 2
Jun 20 11:52:55 ubuntu etcd[59046]: raft2025/06/20 11:52:55 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 20 11:52:55 ubuntu etcd[59046]: raft2025/06/20 11:52:55 INFO: c25b29daa831042c became leader at term 2
Jun 20 11:52:55 ubuntu etcd[59046]: raft2025/06/20 11:52:55 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 20 11:52:55 ubuntu etcd[59046]: setting up the initial cluster version to 3.4
Jun 20 11:52:55 ubuntu etcd[59046]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 20 11:52:55 ubuntu etcd[59046]: set the initial cluster version to 3.4
Jun 20 11:52:55 ubuntu etcd[59046]: enabled capabilities for version 3.4
Jun 20 11:52:55 ubuntu etcd[59046]: ready to serve client requests
Jun 20 11:52:55 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 20 11:52:55 ubuntu etcd[59046]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 20 11:56:59 ubuntu etcd[59046]: start time = 2025-06-20 11:56:59.906702249 +0000 UTC m=+245.091522868, time spent = 449.65µs, remote = 10.201.9.223:49314, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 20 11:56:59 ubuntu etcd[59046]: start time = 2025-06-20 11:56:59.916078078 +0000 UTC m=+245.100898711, time spent = 187.903µs, remote = 10.201.9.223:49314, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 20 11:57:06 ubuntu etcd[59046]: start time = 2025-06-20 11:57:06.308796425 +0000 UTC m=+251.493617081, time spent = 251.697µs, remote = 10.201.9.223:49314, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 20 11:57:08 ubuntu etcd[59046]: start time = 2025-06-20 11:57:08.370212176 +0000 UTC m=+253.555032807, time spent = 648.379µs, remote = 10.201.9.223:49314, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
