Jun 06 13:50:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 06 13:50:55 ubuntu etcd[59011]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 06 13:50:55 ubuntu etcd[59011]:         A future release of golang/protobuf will delete this package,
Jun 06 13:50:55 ubuntu etcd[59011]:         which has long been excluded from the compatibility promise.
Jun 06 13:50:55 ubuntu etcd[59011]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 06 13:50:55 ubuntu etcd[59011]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 06 13:50:55 ubuntu etcd[59011]: Running http and grpc server on single port. This is not recommended for production.
Jun 06 13:50:55 ubuntu etcd[59011]: etcd Version: 3.4.27
Jun 06 13:50:55 ubuntu etcd[59011]: Git SHA: c92fb80f3
Jun 06 13:50:55 ubuntu etcd[59011]: Go Version: go1.19.10
Jun 06 13:50:55 ubuntu etcd[59011]: Go OS/Arch: linux/amd64
Jun 06 13:50:55 ubuntu etcd[59011]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 06 13:50:55 ubuntu etcd[59011]: Running http and grpc server on single port. This is not recommended for production.
Jun 06 13:50:55 ubuntu etcd[59011]: name = ubuntu
Jun 06 13:50:55 ubuntu etcd[59011]: data dir = /opt/stack/data/etcd
Jun 06 13:50:55 ubuntu etcd[59011]: member dir = /opt/stack/data/etcd/member
Jun 06 13:50:55 ubuntu etcd[59011]: heartbeat = 100ms
Jun 06 13:50:55 ubuntu etcd[59011]: election = 1000ms
Jun 06 13:50:55 ubuntu etcd[59011]: snapshot count = 100000
Jun 06 13:50:55 ubuntu etcd[59011]: advertise client URLs = http://10.201.9.223:2379
Jun 06 13:50:55 ubuntu etcd[59011]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 06 13:50:55 ubuntu etcd[59011]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 06 13:50:55 ubuntu etcd[59011]: raft2025/06/06 13:50:55 INFO: c25b29daa831042c switched to configuration voters=()
Jun 06 13:50:55 ubuntu etcd[59011]: raft2025/06/06 13:50:55 INFO: c25b29daa831042c became follower at term 0
Jun 06 13:50:55 ubuntu etcd[59011]: raft2025/06/06 13:50:55 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 06 13:50:55 ubuntu etcd[59011]: raft2025/06/06 13:50:55 INFO: c25b29daa831042c became follower at term 1
Jun 06 13:50:55 ubuntu etcd[59011]: raft2025/06/06 13:50:55 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 06 13:50:55 ubuntu etcd[59011]: simple token is not cryptographically signed
Jun 06 13:50:55 ubuntu etcd[59011]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 06 13:50:55 ubuntu etcd[59011]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 06 13:50:55 ubuntu etcd[59011]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 06 13:50:55 ubuntu etcd[59011]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 06 13:50:55 ubuntu etcd[59011]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 06 13:50:55 ubuntu etcd[59011]: raft2025/06/06 13:50:55 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 06 13:50:55 ubuntu etcd[59011]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 06 13:50:55 ubuntu etcd[59011]: listening for peers on [::]:2380
Jun 06 13:50:56 ubuntu etcd[59011]: raft2025/06/06 13:50:56 INFO: c25b29daa831042c is starting a new election at term 1
Jun 06 13:50:56 ubuntu etcd[59011]: raft2025/06/06 13:50:56 INFO: c25b29daa831042c became candidate at term 2
Jun 06 13:50:56 ubuntu etcd[59011]: raft2025/06/06 13:50:56 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 06 13:50:56 ubuntu etcd[59011]: raft2025/06/06 13:50:56 INFO: c25b29daa831042c became leader at term 2
Jun 06 13:50:56 ubuntu etcd[59011]: raft2025/06/06 13:50:56 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 06 13:50:56 ubuntu etcd[59011]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 06 13:50:56 ubuntu etcd[59011]: setting up the initial cluster version to 3.4
Jun 06 13:50:56 ubuntu etcd[59011]: ready to serve client requests
Jun 06 13:50:56 ubuntu etcd[59011]: set the initial cluster version to 3.4
Jun 06 13:50:56 ubuntu etcd[59011]: enabled capabilities for version 3.4
Jun 06 13:50:56 ubuntu etcd[59011]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 06 13:50:56 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 06 13:55:04 ubuntu etcd[59011]: start time = 2025-06-06 13:55:04.236797005 +0000 UTC m=+248.734997367, time spent = 537.827µs, remote = 10.201.9.223:37582, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 06 13:55:04 ubuntu etcd[59011]: start time = 2025-06-06 13:55:04.320021638 +0000 UTC m=+248.818222019, time spent = 224.733µs, remote = 10.201.9.223:37582, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 06 13:55:11 ubuntu etcd[59011]: start time = 2025-06-06 13:55:11.029206957 +0000 UTC m=+255.527407335, time spent = 223.566µs, remote = 10.201.9.223:37582, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 06 13:55:13 ubuntu etcd[59011]: start time = 2025-06-06 13:55:13.390911468 +0000 UTC m=+257.889111845, time spent = 453.339µs, remote = 10.201.9.223:37582, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
