Apr 09 16:44:00 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 09 16:44:00 ubuntu etcd[58115]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 09 16:44:00 ubuntu etcd[58115]:         A future release of golang/protobuf will delete this package,
Apr 09 16:44:00 ubuntu etcd[58115]:         which has long been excluded from the compatibility promise.
Apr 09 16:44:00 ubuntu etcd[58115]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 09 16:44:00 ubuntu etcd[58115]: Running http and grpc server on single port. This is not recommended for production.
Apr 09 16:44:00 ubuntu etcd[58115]: etcd Version: 3.4.27
Apr 09 16:44:00 ubuntu etcd[58115]: Git SHA: c92fb80f3
Apr 09 16:44:00 ubuntu etcd[58115]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 09 16:44:00 ubuntu etcd[58115]: Go Version: go1.19.10
Apr 09 16:44:00 ubuntu etcd[58115]: Go OS/Arch: linux/amd64
Apr 09 16:44:00 ubuntu etcd[58115]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 09 16:44:00 ubuntu etcd[58115]: Running http and grpc server on single port. This is not recommended for production.
Apr 09 16:44:00 ubuntu etcd[58115]: name = ubuntu
Apr 09 16:44:00 ubuntu etcd[58115]: data dir = /opt/stack/data/etcd
Apr 09 16:44:00 ubuntu etcd[58115]: member dir = /opt/stack/data/etcd/member
Apr 09 16:44:00 ubuntu etcd[58115]: heartbeat = 100ms
Apr 09 16:44:00 ubuntu etcd[58115]: election = 1000ms
Apr 09 16:44:00 ubuntu etcd[58115]: snapshot count = 100000
Apr 09 16:44:00 ubuntu etcd[58115]: advertise client URLs = http://10.201.9.223:2379
Apr 09 16:44:00 ubuntu etcd[58115]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 09 16:44:00 ubuntu etcd[58115]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 09 16:44:00 ubuntu etcd[58115]: raft2025/04/09 16:44:00 INFO: c25b29daa831042c switched to configuration voters=()
Apr 09 16:44:00 ubuntu etcd[58115]: raft2025/04/09 16:44:00 INFO: c25b29daa831042c became follower at term 0
Apr 09 16:44:00 ubuntu etcd[58115]: raft2025/04/09 16:44:00 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 09 16:44:00 ubuntu etcd[58115]: raft2025/04/09 16:44:00 INFO: c25b29daa831042c became follower at term 1
Apr 09 16:44:00 ubuntu etcd[58115]: raft2025/04/09 16:44:00 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 09 16:44:00 ubuntu etcd[58115]: simple token is not cryptographically signed
Apr 09 16:44:00 ubuntu etcd[58115]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 09 16:44:00 ubuntu etcd[58115]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 09 16:44:00 ubuntu etcd[58115]: raft2025/04/09 16:44:00 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 09 16:44:00 ubuntu etcd[58115]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 09 16:44:00 ubuntu etcd[58115]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 09 16:44:00 ubuntu etcd[58115]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 09 16:44:00 ubuntu etcd[58115]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 09 16:44:00 ubuntu etcd[58115]: listening for peers on [::]:2380
Apr 09 16:44:01 ubuntu etcd[58115]: raft2025/04/09 16:44:01 INFO: c25b29daa831042c is starting a new election at term 1
Apr 09 16:44:01 ubuntu etcd[58115]: raft2025/04/09 16:44:01 INFO: c25b29daa831042c became candidate at term 2
Apr 09 16:44:01 ubuntu etcd[58115]: raft2025/04/09 16:44:01 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 09 16:44:01 ubuntu etcd[58115]: raft2025/04/09 16:44:01 INFO: c25b29daa831042c became leader at term 2
Apr 09 16:44:01 ubuntu etcd[58115]: raft2025/04/09 16:44:01 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 09 16:44:01 ubuntu etcd[58115]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 09 16:44:01 ubuntu etcd[58115]: setting up the initial cluster version to 3.4
Apr 09 16:44:01 ubuntu etcd[58115]: set the initial cluster version to 3.4
Apr 09 16:44:01 ubuntu etcd[58115]: enabled capabilities for version 3.4
Apr 09 16:44:01 ubuntu etcd[58115]: ready to serve client requests
Apr 09 16:44:01 ubuntu etcd[58115]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 09 16:44:01 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 09 16:48:05 ubuntu etcd[58115]: start time = 2025-04-09 16:48:05.755738037 +0000 UTC m=+245.333696110, time spent = 534.211µs, remote = 10.201.9.223:46792, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 09 16:48:05 ubuntu etcd[58115]: start time = 2025-04-09 16:48:05.806531935 +0000 UTC m=+245.384490023, time spent = 306.278µs, remote = 10.201.9.223:46792, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 09 16:48:12 ubuntu etcd[58115]: start time = 2025-04-09 16:48:12.296859327 +0000 UTC m=+251.874817411, time spent = 182.59µs, remote = 10.201.9.223:46792, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 09 16:48:14 ubuntu etcd[58115]: start time = 2025-04-09 16:48:14.511360353 +0000 UTC m=+254.089318436, time spent = 249.09µs, remote = 10.201.9.223:46792, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
