Jan 18 13:54:17 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 18 13:54:17 ubuntu etcd[58911]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 18 13:54:17 ubuntu etcd[58911]:         A future release of golang/protobuf will delete this package,
Jan 18 13:54:17 ubuntu etcd[58911]:         which has long been excluded from the compatibility promise.
Jan 18 13:54:17 ubuntu etcd[58911]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 18 13:54:17 ubuntu etcd[58911]: Running http and grpc server on single port. This is not recommended for production.
Jan 18 13:54:17 ubuntu etcd[58911]: etcd Version: 3.4.27
Jan 18 13:54:17 ubuntu etcd[58911]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 18 13:54:17 ubuntu etcd[58911]: Git SHA: c92fb80f3
Jan 18 13:54:17 ubuntu etcd[58911]: Go Version: go1.19.10
Jan 18 13:54:17 ubuntu etcd[58911]: Go OS/Arch: linux/amd64
Jan 18 13:54:17 ubuntu etcd[58911]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 18 13:54:17 ubuntu etcd[58911]: Running http and grpc server on single port. This is not recommended for production.
Jan 18 13:54:17 ubuntu etcd[58911]: name = ubuntu
Jan 18 13:54:17 ubuntu etcd[58911]: data dir = /opt/stack/data/etcd
Jan 18 13:54:17 ubuntu etcd[58911]: member dir = /opt/stack/data/etcd/member
Jan 18 13:54:17 ubuntu etcd[58911]: heartbeat = 100ms
Jan 18 13:54:17 ubuntu etcd[58911]: election = 1000ms
Jan 18 13:54:17 ubuntu etcd[58911]: snapshot count = 100000
Jan 18 13:54:17 ubuntu etcd[58911]: advertise client URLs = http://10.201.9.223:2379
Jan 18 13:54:17 ubuntu etcd[58911]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 18 13:54:17 ubuntu etcd[58911]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 18 13:54:17 ubuntu etcd[58911]: raft2025/01/18 13:54:17 INFO: c25b29daa831042c switched to configuration voters=()
Jan 18 13:54:17 ubuntu etcd[58911]: raft2025/01/18 13:54:17 INFO: c25b29daa831042c became follower at term 0
Jan 18 13:54:17 ubuntu etcd[58911]: raft2025/01/18 13:54:17 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 18 13:54:17 ubuntu etcd[58911]: raft2025/01/18 13:54:17 INFO: c25b29daa831042c became follower at term 1
Jan 18 13:54:17 ubuntu etcd[58911]: raft2025/01/18 13:54:17 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 18 13:54:17 ubuntu etcd[58911]: simple token is not cryptographically signed
Jan 18 13:54:17 ubuntu etcd[58911]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 18 13:54:17 ubuntu etcd[58911]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 18 13:54:17 ubuntu etcd[58911]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 18 13:54:17 ubuntu etcd[58911]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 18 13:54:17 ubuntu etcd[58911]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 18 13:54:17 ubuntu etcd[58911]: raft2025/01/18 13:54:17 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 18 13:54:17 ubuntu etcd[58911]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 18 13:54:17 ubuntu etcd[58911]: listening for peers on [::]:2380
Jan 18 13:54:18 ubuntu etcd[58911]: raft2025/01/18 13:54:18 INFO: c25b29daa831042c is starting a new election at term 1
Jan 18 13:54:18 ubuntu etcd[58911]: raft2025/01/18 13:54:18 INFO: c25b29daa831042c became candidate at term 2
Jan 18 13:54:18 ubuntu etcd[58911]: raft2025/01/18 13:54:18 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 18 13:54:18 ubuntu etcd[58911]: raft2025/01/18 13:54:18 INFO: c25b29daa831042c became leader at term 2
Jan 18 13:54:18 ubuntu etcd[58911]: raft2025/01/18 13:54:18 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 18 13:54:18 ubuntu etcd[58911]: setting up the initial cluster version to 3.4
Jan 18 13:54:18 ubuntu etcd[58911]: set the initial cluster version to 3.4
Jan 18 13:54:18 ubuntu etcd[58911]: enabled capabilities for version 3.4
Jan 18 13:54:18 ubuntu etcd[58911]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 18 13:54:18 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 18 13:54:18 ubuntu etcd[58911]: ready to serve client requests
Jan 18 13:54:18 ubuntu etcd[58911]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 18 13:58:34 ubuntu etcd[58911]: start time = 2025-01-18 13:58:34.917828796 +0000 UTC m=+257.236245464, time spent = 630.214µs, remote = 10.201.9.223:35788, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 13:58:35 ubuntu etcd[58911]: start time = 2025-01-18 13:58:35.048690249 +0000 UTC m=+257.367106935, time spent = 281.671µs, remote = 10.201.9.223:35788, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 13:58:41 ubuntu etcd[58911]: start time = 2025-01-18 13:58:41.570784254 +0000 UTC m=+263.889200925, time spent = 174.438µs, remote = 10.201.9.223:35788, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 18 13:58:43 ubuntu etcd[58911]: start time = 2025-01-18 13:58:43.560965345 +0000 UTC m=+265.879382030, time spent = 173.139µs, remote = 10.201.9.223:35788, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
