Aug 07 13:34:05 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 07 13:34:05 ubuntu etcd[58679]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 07 13:34:05 ubuntu etcd[58679]:         A future release of golang/protobuf will delete this package,
Aug 07 13:34:05 ubuntu etcd[58679]:         which has long been excluded from the compatibility promise.
Aug 07 13:34:05 ubuntu etcd[58679]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 07 13:34:05 ubuntu etcd[58679]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 07 13:34:05 ubuntu etcd[58679]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 07 13:34:05 ubuntu etcd[58679]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 07 13:34:05 ubuntu etcd[58679]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 07 13:34:05 ubuntu etcd[58679]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 07 13:34:05 ubuntu etcd[58679]: Running http and grpc server on single port. This is not recommended for production.
Aug 07 13:34:05 ubuntu etcd[58679]: etcd Version: 3.4.27
Aug 07 13:34:05 ubuntu etcd[58679]: Git SHA: c92fb80f3
Aug 07 13:34:05 ubuntu etcd[58679]: Go Version: go1.19.10
Aug 07 13:34:05 ubuntu etcd[58679]: Go OS/Arch: linux/amd64
Aug 07 13:34:05 ubuntu etcd[58679]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 07 13:34:05 ubuntu etcd[58679]: Running http and grpc server on single port. This is not recommended for production.
Aug 07 13:34:05 ubuntu etcd[58679]: name = ubuntu
Aug 07 13:34:05 ubuntu etcd[58679]: data dir = /opt/stack/data/etcd
Aug 07 13:34:05 ubuntu etcd[58679]: member dir = /opt/stack/data/etcd/member
Aug 07 13:34:05 ubuntu etcd[58679]: heartbeat = 100ms
Aug 07 13:34:05 ubuntu etcd[58679]: election = 1000ms
Aug 07 13:34:05 ubuntu etcd[58679]: snapshot count = 100000
Aug 07 13:34:05 ubuntu etcd[58679]: advertise client URLs = http://10.201.4.32:2379
Aug 07 13:34:05 ubuntu etcd[58679]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 07 13:34:05 ubuntu etcd[58679]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Aug 07 13:34:05 ubuntu etcd[58679]: raft2024/08/07 13:34:05 INFO: 33238c1cdfea94eb switched to configuration voters=()
Aug 07 13:34:05 ubuntu etcd[58679]: raft2024/08/07 13:34:05 INFO: 33238c1cdfea94eb became follower at term 0
Aug 07 13:34:05 ubuntu etcd[58679]: raft2024/08/07 13:34:05 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 07 13:34:05 ubuntu etcd[58679]: raft2024/08/07 13:34:05 INFO: 33238c1cdfea94eb became follower at term 1
Aug 07 13:34:05 ubuntu etcd[58679]: raft2024/08/07 13:34:05 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 07 13:34:05 ubuntu etcd[58679]: simple token is not cryptographically signed
Aug 07 13:34:05 ubuntu etcd[58679]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 07 13:34:05 ubuntu etcd[58679]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 07 13:34:05 ubuntu etcd[58679]: raft2024/08/07 13:34:05 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 07 13:34:05 ubuntu etcd[58679]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Aug 07 13:34:05 ubuntu etcd[58679]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 07 13:34:05 ubuntu etcd[58679]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 07 13:34:05 ubuntu etcd[58679]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 07 13:34:05 ubuntu etcd[58679]: listening for peers on [::]:2380
Aug 07 13:34:05 ubuntu etcd[58679]: raft2024/08/07 13:34:05 INFO: 33238c1cdfea94eb is starting a new election at term 1
Aug 07 13:34:05 ubuntu etcd[58679]: raft2024/08/07 13:34:05 INFO: 33238c1cdfea94eb became candidate at term 2
Aug 07 13:34:05 ubuntu etcd[58679]: raft2024/08/07 13:34:05 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Aug 07 13:34:05 ubuntu etcd[58679]: raft2024/08/07 13:34:05 INFO: 33238c1cdfea94eb became leader at term 2
Aug 07 13:34:05 ubuntu etcd[58679]: raft2024/08/07 13:34:05 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Aug 07 13:34:05 ubuntu etcd[58679]: ready to serve client requests
Aug 07 13:34:05 ubuntu etcd[58679]: INFO: 2024/08/07 13:34:05 parsed scheme: ""
Aug 07 13:34:05 ubuntu etcd[58679]: INFO: 2024/08/07 13:34:05 scheme "" not registered, fallback to default scheme
Aug 07 13:34:05 ubuntu etcd[58679]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Aug 07 13:34:05 ubuntu etcd[58679]: INFO: 2024/08/07 13:34:05 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 07 13:34:05 ubuntu etcd[58679]: INFO: 2024/08/07 13:34:05 ClientConn switching balancer to "pick_first"
Aug 07 13:34:05 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 07 13:34:05 ubuntu etcd[58679]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Aug 07 13:34:05 ubuntu etcd[58679]: setting up the initial cluster version to 3.4
Aug 07 13:34:05 ubuntu etcd[58679]: set the initial cluster version to 3.4
Aug 07 13:34:05 ubuntu etcd[58679]: enabled capabilities for version 3.4
Aug 07 13:38:27 ubuntu etcd[58679]: start time = 2024-08-07 13:38:27.449363476 +0000 UTC m=+262.106407185, time spent = 589.077µs, remote = 10.201.4.32:35174, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 13:38:27 ubuntu etcd[58679]: start time = 2024-08-07 13:38:27.451795172 +0000 UTC m=+262.108838892, time spent = 180.135µs, remote = 10.201.4.32:35174, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 13:38:34 ubuntu etcd[58679]: start time = 2024-08-07 13:38:34.027119927 +0000 UTC m=+268.684163647, time spent = 195.443µs, remote = 10.201.4.32:35174, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 13:38:36 ubuntu etcd[58679]: start time = 2024-08-07 13:38:36.146752068 +0000 UTC m=+270.803795786, time spent = 819.045µs, remote = 10.201.4.32:35174, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
