Aug 08 09:33:05 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 08 09:33:05 ubuntu etcd[58888]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 08 09:33:05 ubuntu etcd[58888]:         A future release of golang/protobuf will delete this package,
Aug 08 09:33:05 ubuntu etcd[58888]:         which has long been excluded from the compatibility promise.
Aug 08 09:33:05 ubuntu etcd[58888]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 08 09:33:05 ubuntu etcd[58888]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 08 09:33:05 ubuntu etcd[58888]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 08 09:33:05 ubuntu etcd[58888]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 08 09:33:05 ubuntu etcd[58888]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 08 09:33:05 ubuntu etcd[58888]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 08 09:33:05 ubuntu etcd[58888]: Running http and grpc server on single port. This is not recommended for production.
Aug 08 09:33:05 ubuntu etcd[58888]: etcd Version: 3.4.27
Aug 08 09:33:05 ubuntu etcd[58888]: Git SHA: c92fb80f3
Aug 08 09:33:05 ubuntu etcd[58888]: Go Version: go1.19.10
Aug 08 09:33:05 ubuntu etcd[58888]: Go OS/Arch: linux/amd64
Aug 08 09:33:05 ubuntu etcd[58888]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 08 09:33:05 ubuntu etcd[58888]: Running http and grpc server on single port. This is not recommended for production.
Aug 08 09:33:05 ubuntu etcd[58888]: name = ubuntu
Aug 08 09:33:05 ubuntu etcd[58888]: data dir = /opt/stack/data/etcd
Aug 08 09:33:05 ubuntu etcd[58888]: member dir = /opt/stack/data/etcd/member
Aug 08 09:33:05 ubuntu etcd[58888]: heartbeat = 100ms
Aug 08 09:33:05 ubuntu etcd[58888]: election = 1000ms
Aug 08 09:33:05 ubuntu etcd[58888]: snapshot count = 100000
Aug 08 09:33:05 ubuntu etcd[58888]: advertise client URLs = http://10.201.4.32:2379
Aug 08 09:33:05 ubuntu etcd[58888]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 08 09:33:05 ubuntu etcd[58888]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Aug 08 09:33:05 ubuntu etcd[58888]: raft2024/08/08 09:33:05 INFO: 33238c1cdfea94eb switched to configuration voters=()
Aug 08 09:33:05 ubuntu etcd[58888]: raft2024/08/08 09:33:05 INFO: 33238c1cdfea94eb became follower at term 0
Aug 08 09:33:05 ubuntu etcd[58888]: raft2024/08/08 09:33:05 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 08 09:33:05 ubuntu etcd[58888]: raft2024/08/08 09:33:05 INFO: 33238c1cdfea94eb became follower at term 1
Aug 08 09:33:05 ubuntu etcd[58888]: raft2024/08/08 09:33:05 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 08 09:33:05 ubuntu etcd[58888]: simple token is not cryptographically signed
Aug 08 09:33:05 ubuntu etcd[58888]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 08 09:33:05 ubuntu etcd[58888]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 08 09:33:05 ubuntu etcd[58888]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 08 09:33:05 ubuntu etcd[58888]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 08 09:33:05 ubuntu etcd[58888]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 08 09:33:05 ubuntu etcd[58888]: raft2024/08/08 09:33:05 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 08 09:33:05 ubuntu etcd[58888]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Aug 08 09:33:05 ubuntu etcd[58888]: listening for peers on [::]:2380
Aug 08 09:33:06 ubuntu etcd[58888]: raft2024/08/08 09:33:06 INFO: 33238c1cdfea94eb is starting a new election at term 1
Aug 08 09:33:06 ubuntu etcd[58888]: raft2024/08/08 09:33:06 INFO: 33238c1cdfea94eb became candidate at term 2
Aug 08 09:33:06 ubuntu etcd[58888]: raft2024/08/08 09:33:06 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Aug 08 09:33:06 ubuntu etcd[58888]: raft2024/08/08 09:33:06 INFO: 33238c1cdfea94eb became leader at term 2
Aug 08 09:33:06 ubuntu etcd[58888]: raft2024/08/08 09:33:06 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Aug 08 09:33:06 ubuntu etcd[58888]: setting up the initial cluster version to 3.4
Aug 08 09:33:06 ubuntu etcd[58888]: set the initial cluster version to 3.4
Aug 08 09:33:06 ubuntu etcd[58888]: enabled capabilities for version 3.4
Aug 08 09:33:06 ubuntu etcd[58888]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Aug 08 09:33:06 ubuntu etcd[58888]: ready to serve client requests
Aug 08 09:33:06 ubuntu etcd[58888]: INFO: 2024/08/08 09:33:06 parsed scheme: ""
Aug 08 09:33:06 ubuntu etcd[58888]: INFO: 2024/08/08 09:33:06 scheme "" not registered, fallback to default scheme
Aug 08 09:33:06 ubuntu etcd[58888]: INFO: 2024/08/08 09:33:06 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 08 09:33:06 ubuntu etcd[58888]: INFO: 2024/08/08 09:33:06 ClientConn switching balancer to "pick_first"
Aug 08 09:33:06 ubuntu etcd[58888]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Aug 08 09:33:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 08 09:37:29 ubuntu etcd[58888]: start time = 2024-08-08 09:37:29.976376529 +0000 UTC m=+264.255164057, time spent = 447.741µs, remote = 10.201.4.32:54220, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 09:37:30 ubuntu etcd[58888]: start time = 2024-08-08 09:37:30.067511525 +0000 UTC m=+264.346299053, time spent = 1.052767ms, remote = 10.201.4.32:54220, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 09:37:36 ubuntu etcd[58888]: start time = 2024-08-08 09:37:36.564009273 +0000 UTC m=+270.842796801, time spent = 164.793µs, remote = 10.201.4.32:54220, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 09:37:38 ubuntu etcd[58888]: start time = 2024-08-08 09:37:38.798763908 +0000 UTC m=+273.077551448, time spent = 291.642µs, remote = 10.201.4.32:54220, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
