Mar 26 05:08:17 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 26 05:08:17 ubuntu etcd[57038]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 26 05:08:17 ubuntu etcd[57038]:         A future release of golang/protobuf will delete this package,
Mar 26 05:08:17 ubuntu etcd[57038]:         which has long been excluded from the compatibility promise.
Mar 26 05:08:17 ubuntu etcd[57038]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 05:08:17 ubuntu etcd[57038]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 05:08:17 ubuntu etcd[57038]: etcd Version: 3.4.27
Mar 26 05:08:17 ubuntu etcd[57038]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 05:08:17 ubuntu etcd[57038]: Git SHA: c92fb80f3
Mar 26 05:08:17 ubuntu etcd[57038]: Go Version: go1.19.10
Mar 26 05:08:17 ubuntu etcd[57038]: Go OS/Arch: linux/amd64
Mar 26 05:08:17 ubuntu etcd[57038]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 26 05:08:17 ubuntu etcd[57038]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 05:08:17 ubuntu etcd[57038]: name = ubuntu
Mar 26 05:08:17 ubuntu etcd[57038]: data dir = /opt/stack/data/etcd
Mar 26 05:08:17 ubuntu etcd[57038]: member dir = /opt/stack/data/etcd/member
Mar 26 05:08:17 ubuntu etcd[57038]: heartbeat = 100ms
Mar 26 05:08:17 ubuntu etcd[57038]: election = 1000ms
Mar 26 05:08:17 ubuntu etcd[57038]: snapshot count = 100000
Mar 26 05:08:17 ubuntu etcd[57038]: advertise client URLs = http://10.201.9.223:2379
Mar 26 05:08:17 ubuntu etcd[57038]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 26 05:08:17 ubuntu etcd[57038]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 26 05:08:17 ubuntu etcd[57038]: raft2025/03/26 05:08:17 INFO: c25b29daa831042c switched to configuration voters=()
Mar 26 05:08:17 ubuntu etcd[57038]: raft2025/03/26 05:08:17 INFO: c25b29daa831042c became follower at term 0
Mar 26 05:08:17 ubuntu etcd[57038]: raft2025/03/26 05:08:17 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 26 05:08:17 ubuntu etcd[57038]: raft2025/03/26 05:08:17 INFO: c25b29daa831042c became follower at term 1
Mar 26 05:08:17 ubuntu etcd[57038]: raft2025/03/26 05:08:17 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 26 05:08:17 ubuntu etcd[57038]: simple token is not cryptographically signed
Mar 26 05:08:17 ubuntu etcd[57038]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 26 05:08:17 ubuntu etcd[57038]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 26 05:08:17 ubuntu etcd[57038]: raft2025/03/26 05:08:17 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 26 05:08:17 ubuntu etcd[57038]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 26 05:08:17 ubuntu etcd[57038]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 26 05:08:17 ubuntu etcd[57038]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 26 05:08:17 ubuntu etcd[57038]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 26 05:08:17 ubuntu etcd[57038]: listening for peers on [::]:2380
Mar 26 05:08:18 ubuntu etcd[57038]: raft2025/03/26 05:08:18 INFO: c25b29daa831042c is starting a new election at term 1
Mar 26 05:08:18 ubuntu etcd[57038]: raft2025/03/26 05:08:18 INFO: c25b29daa831042c became candidate at term 2
Mar 26 05:08:18 ubuntu etcd[57038]: raft2025/03/26 05:08:18 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 26 05:08:18 ubuntu etcd[57038]: raft2025/03/26 05:08:18 INFO: c25b29daa831042c became leader at term 2
Mar 26 05:08:18 ubuntu etcd[57038]: raft2025/03/26 05:08:18 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 26 05:08:18 ubuntu etcd[57038]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 26 05:08:18 ubuntu etcd[57038]: setting up the initial cluster version to 3.4
Mar 26 05:08:18 ubuntu etcd[57038]: ready to serve client requests
Mar 26 05:08:18 ubuntu etcd[57038]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 26 05:08:18 ubuntu etcd[57038]: set the initial cluster version to 3.4
Mar 26 05:08:18 ubuntu etcd[57038]: enabled capabilities for version 3.4
Mar 26 05:08:18 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 26 05:12:25 ubuntu etcd[57038]: start time = 2025-03-26 05:12:25.976336737 +0000 UTC m=+248.625596632, time spent = 394.496µs, remote = 10.201.9.223:35846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 05:12:26 ubuntu etcd[57038]: start time = 2025-03-26 05:12:26.01475051 +0000 UTC m=+248.664010420, time spent = 208.627µs, remote = 10.201.9.223:35846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 05:12:32 ubuntu etcd[57038]: start time = 2025-03-26 05:12:32.372115868 +0000 UTC m=+255.021375773, time spent = 150.963µs, remote = 10.201.9.223:35846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 05:12:34 ubuntu etcd[57038]: start time = 2025-03-26 05:12:34.484238197 +0000 UTC m=+257.133498107, time spent = 170.568µs, remote = 10.201.9.223:35846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 05:08:17 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 26 05:08:17 ubuntu etcd[57038]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 26 05:08:17 ubuntu etcd[57038]:         A future release of golang/protobuf will delete this package,
Mar 26 05:08:17 ubuntu etcd[57038]:         which has long been excluded from the compatibility promise.
Mar 26 05:08:17 ubuntu etcd[57038]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 05:08:17 ubuntu etcd[57038]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 05:08:17 ubuntu etcd[57038]: etcd Version: 3.4.27
Mar 26 05:08:17 ubuntu etcd[57038]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 05:08:17 ubuntu etcd[57038]: Git SHA: c92fb80f3
Mar 26 05:08:17 ubuntu etcd[57038]: Go Version: go1.19.10
Mar 26 05:08:17 ubuntu etcd[57038]: Go OS/Arch: linux/amd64
Mar 26 05:08:17 ubuntu etcd[57038]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 26 05:08:17 ubuntu etcd[57038]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 05:08:17 ubuntu etcd[57038]: name = ubuntu
Mar 26 05:08:17 ubuntu etcd[57038]: data dir = /opt/stack/data/etcd
Mar 26 05:08:17 ubuntu etcd[57038]: member dir = /opt/stack/data/etcd/member
Mar 26 05:08:17 ubuntu etcd[57038]: heartbeat = 100ms
Mar 26 05:08:17 ubuntu etcd[57038]: election = 1000ms
Mar 26 05:08:17 ubuntu etcd[57038]: snapshot count = 100000
Mar 26 05:08:17 ubuntu etcd[57038]: advertise client URLs = http://10.201.9.223:2379
Mar 26 05:08:17 ubuntu etcd[57038]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 26 05:08:17 ubuntu etcd[57038]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 26 05:08:17 ubuntu etcd[57038]: raft2025/03/26 05:08:17 INFO: c25b29daa831042c switched to configuration voters=()
Mar 26 05:08:17 ubuntu etcd[57038]: raft2025/03/26 05:08:17 INFO: c25b29daa831042c became follower at term 0
Mar 26 05:08:17 ubuntu etcd[57038]: raft2025/03/26 05:08:17 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 26 05:08:17 ubuntu etcd[57038]: raft2025/03/26 05:08:17 INFO: c25b29daa831042c became follower at term 1
Mar 26 05:08:17 ubuntu etcd[57038]: raft2025/03/26 05:08:17 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 26 05:08:17 ubuntu etcd[57038]: simple token is not cryptographically signed
Mar 26 05:08:17 ubuntu etcd[57038]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 26 05:08:17 ubuntu etcd[57038]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 26 05:08:17 ubuntu etcd[57038]: raft2025/03/26 05:08:17 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 26 05:08:17 ubuntu etcd[57038]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 26 05:08:17 ubuntu etcd[57038]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 26 05:08:17 ubuntu etcd[57038]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 26 05:08:17 ubuntu etcd[57038]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 26 05:08:17 ubuntu etcd[57038]: listening for peers on [::]:2380
Mar 26 05:08:18 ubuntu etcd[57038]: raft2025/03/26 05:08:18 INFO: c25b29daa831042c is starting a new election at term 1
Mar 26 05:08:18 ubuntu etcd[57038]: raft2025/03/26 05:08:18 INFO: c25b29daa831042c became candidate at term 2
Mar 26 05:08:18 ubuntu etcd[57038]: raft2025/03/26 05:08:18 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 26 05:08:18 ubuntu etcd[57038]: raft2025/03/26 05:08:18 INFO: c25b29daa831042c became leader at term 2
Mar 26 05:08:18 ubuntu etcd[57038]: raft2025/03/26 05:08:18 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 26 05:08:18 ubuntu etcd[57038]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 26 05:08:18 ubuntu etcd[57038]: setting up the initial cluster version to 3.4
Mar 26 05:08:18 ubuntu etcd[57038]: ready to serve client requests
Mar 26 05:08:18 ubuntu etcd[57038]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 26 05:08:18 ubuntu etcd[57038]: set the initial cluster version to 3.4
Mar 26 05:08:18 ubuntu etcd[57038]: enabled capabilities for version 3.4
Mar 26 05:08:18 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 26 05:12:25 ubuntu etcd[57038]: start time = 2025-03-26 05:12:25.976336737 +0000 UTC m=+248.625596632, time spent = 394.496µs, remote = 10.201.9.223:35846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 05:12:26 ubuntu etcd[57038]: start time = 2025-03-26 05:12:26.01475051 +0000 UTC m=+248.664010420, time spent = 208.627µs, remote = 10.201.9.223:35846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 05:12:32 ubuntu etcd[57038]: start time = 2025-03-26 05:12:32.372115868 +0000 UTC m=+255.021375773, time spent = 150.963µs, remote = 10.201.9.223:35846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 05:12:34 ubuntu etcd[57038]: start time = 2025-03-26 05:12:34.484238197 +0000 UTC m=+257.133498107, time spent = 170.568µs, remote = 10.201.9.223:35846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
