Dec 06 19:20:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:20:28 ubuntu etcd[58926]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:20:28 ubuntu etcd[58926]:         A future release of golang/protobuf will delete this package,
Dec 06 19:20:28 ubuntu etcd[58926]:         which has long been excluded from the compatibility promise.
Dec 06 19:20:28 ubuntu etcd[58926]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:28 ubuntu etcd[58926]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:28 ubuntu etcd[58926]: etcd Version: 3.4.27
Dec 06 19:20:28 ubuntu etcd[58926]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:28 ubuntu etcd[58926]: Git SHA: c92fb80f3
Dec 06 19:20:28 ubuntu etcd[58926]: Go Version: go1.19.10
Dec 06 19:20:28 ubuntu etcd[58926]: Go OS/Arch: linux/amd64
Dec 06 19:20:28 ubuntu etcd[58926]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:20:28 ubuntu etcd[58926]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:28 ubuntu etcd[58926]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:20:28 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 06 19:20:28 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 19:20:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:20:28 ubuntu etcd[59040]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:20:28 ubuntu etcd[59040]:         A future release of golang/protobuf will delete this package,
Dec 06 19:20:28 ubuntu etcd[59040]:         which has long been excluded from the compatibility promise.
Dec 06 19:20:28 ubuntu etcd[59040]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:28 ubuntu etcd[59040]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:28 ubuntu etcd[59040]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:28 ubuntu etcd[59040]: etcd Version: 3.4.27
Dec 06 19:20:28 ubuntu etcd[59040]: Git SHA: c92fb80f3
Dec 06 19:20:28 ubuntu etcd[59040]: Go Version: go1.19.10
Dec 06 19:20:28 ubuntu etcd[59040]: Go OS/Arch: linux/amd64
Dec 06 19:20:28 ubuntu etcd[59040]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:20:28 ubuntu etcd[59040]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:28 ubuntu etcd[59040]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:20:28 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 06 19:20:28 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 19:20:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:20:28 ubuntu etcd[59083]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:20:28 ubuntu etcd[59083]:         A future release of golang/protobuf will delete this package,
Dec 06 19:20:28 ubuntu etcd[59083]:         which has long been excluded from the compatibility promise.
Dec 06 19:20:28 ubuntu etcd[59083]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:28 ubuntu etcd[59083]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:28 ubuntu etcd[59083]: etcd Version: 3.4.27
Dec 06 19:20:28 ubuntu etcd[59083]: Git SHA: c92fb80f3
Dec 06 19:20:28 ubuntu etcd[59083]: Go Version: go1.19.10
Dec 06 19:20:28 ubuntu etcd[59083]: Go OS/Arch: linux/amd64
Dec 06 19:20:28 ubuntu etcd[59083]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:20:28 ubuntu etcd[59083]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:28 ubuntu etcd[59083]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:28 ubuntu etcd[59083]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:20:28 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 06 19:20:29 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 19:20:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:20:29 ubuntu etcd[59122]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:20:29 ubuntu etcd[59122]:         A future release of golang/protobuf will delete this package,
Dec 06 19:20:29 ubuntu etcd[59122]:         which has long been excluded from the compatibility promise.
Dec 06 19:20:29 ubuntu etcd[59122]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:29 ubuntu etcd[59122]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:29 ubuntu etcd[59122]: etcd Version: 3.4.27
Dec 06 19:20:29 ubuntu etcd[59122]: Git SHA: c92fb80f3
Dec 06 19:20:29 ubuntu etcd[59122]: Go Version: go1.19.10
Dec 06 19:20:29 ubuntu etcd[59122]: Go OS/Arch: linux/amd64
Dec 06 19:20:29 ubuntu etcd[59122]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:20:29 ubuntu etcd[59122]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:29 ubuntu etcd[59122]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:29 ubuntu etcd[59122]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:20:29 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 06 19:20:29 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 19:20:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:20:29 ubuntu etcd[59138]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:20:29 ubuntu etcd[59138]:         A future release of golang/protobuf will delete this package,
Dec 06 19:20:29 ubuntu etcd[59138]:         which has long been excluded from the compatibility promise.
Dec 06 19:20:29 ubuntu etcd[59138]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:29 ubuntu etcd[59138]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:29 ubuntu etcd[59138]: etcd Version: 3.4.27
Dec 06 19:20:29 ubuntu etcd[59138]: Git SHA: c92fb80f3
Dec 06 19:20:29 ubuntu etcd[59138]: Go Version: go1.19.10
Dec 06 19:20:29 ubuntu etcd[59138]: Go OS/Arch: linux/amd64
Dec 06 19:20:29 ubuntu etcd[59138]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:20:29 ubuntu etcd[59138]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:29 ubuntu etcd[59138]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:29 ubuntu etcd[59138]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:20:29 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 06 19:20:29 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:20:29 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:20:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:20:28 ubuntu etcd[58926]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:20:28 ubuntu etcd[58926]:         A future release of golang/protobuf will delete this package,
Dec 06 19:20:28 ubuntu etcd[58926]:         which has long been excluded from the compatibility promise.
Dec 06 19:20:28 ubuntu etcd[58926]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:28 ubuntu etcd[58926]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:28 ubuntu etcd[58926]: etcd Version: 3.4.27
Dec 06 19:20:28 ubuntu etcd[58926]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:28 ubuntu etcd[58926]: Git SHA: c92fb80f3
Dec 06 19:20:28 ubuntu etcd[58926]: Go Version: go1.19.10
Dec 06 19:20:28 ubuntu etcd[58926]: Go OS/Arch: linux/amd64
Dec 06 19:20:28 ubuntu etcd[58926]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:20:28 ubuntu etcd[58926]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:28 ubuntu etcd[58926]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:20:28 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 06 19:20:28 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 19:20:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:20:28 ubuntu etcd[59040]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:20:28 ubuntu etcd[59040]:         A future release of golang/protobuf will delete this package,
Dec 06 19:20:28 ubuntu etcd[59040]:         which has long been excluded from the compatibility promise.
Dec 06 19:20:28 ubuntu etcd[59040]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:28 ubuntu etcd[59040]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:28 ubuntu etcd[59040]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:28 ubuntu etcd[59040]: etcd Version: 3.4.27
Dec 06 19:20:28 ubuntu etcd[59040]: Git SHA: c92fb80f3
Dec 06 19:20:28 ubuntu etcd[59040]: Go Version: go1.19.10
Dec 06 19:20:28 ubuntu etcd[59040]: Go OS/Arch: linux/amd64
Dec 06 19:20:28 ubuntu etcd[59040]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:20:28 ubuntu etcd[59040]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:28 ubuntu etcd[59040]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:20:28 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 06 19:20:28 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 19:20:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:20:28 ubuntu etcd[59083]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:20:28 ubuntu etcd[59083]:         A future release of golang/protobuf will delete this package,
Dec 06 19:20:28 ubuntu etcd[59083]:         which has long been excluded from the compatibility promise.
Dec 06 19:20:28 ubuntu etcd[59083]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:28 ubuntu etcd[59083]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:28 ubuntu etcd[59083]: etcd Version: 3.4.27
Dec 06 19:20:28 ubuntu etcd[59083]: Git SHA: c92fb80f3
Dec 06 19:20:28 ubuntu etcd[59083]: Go Version: go1.19.10
Dec 06 19:20:28 ubuntu etcd[59083]: Go OS/Arch: linux/amd64
Dec 06 19:20:28 ubuntu etcd[59083]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:20:28 ubuntu etcd[59083]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:28 ubuntu etcd[59083]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:28 ubuntu etcd[59083]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 19:20:28 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:20:28 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 06 19:20:29 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 19:20:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:20:29 ubuntu etcd[59122]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:20:29 ubuntu etcd[59122]:         A future release of golang/protobuf will delete this package,
Dec 06 19:20:29 ubuntu etcd[59122]:         which has long been excluded from the compatibility promise.
Dec 06 19:20:29 ubuntu etcd[59122]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:29 ubuntu etcd[59122]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:29 ubuntu etcd[59122]: etcd Version: 3.4.27
Dec 06 19:20:29 ubuntu etcd[59122]: Git SHA: c92fb80f3
Dec 06 19:20:29 ubuntu etcd[59122]: Go Version: go1.19.10
Dec 06 19:20:29 ubuntu etcd[59122]: Go OS/Arch: linux/amd64
Dec 06 19:20:29 ubuntu etcd[59122]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:20:29 ubuntu etcd[59122]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:29 ubuntu etcd[59122]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:29 ubuntu etcd[59122]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:20:29 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 06 19:20:29 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 19:20:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:20:29 ubuntu etcd[59138]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:20:29 ubuntu etcd[59138]:         A future release of golang/protobuf will delete this package,
Dec 06 19:20:29 ubuntu etcd[59138]:         which has long been excluded from the compatibility promise.
Dec 06 19:20:29 ubuntu etcd[59138]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:29 ubuntu etcd[59138]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:29 ubuntu etcd[59138]: etcd Version: 3.4.27
Dec 06 19:20:29 ubuntu etcd[59138]: Git SHA: c92fb80f3
Dec 06 19:20:29 ubuntu etcd[59138]: Go Version: go1.19.10
Dec 06 19:20:29 ubuntu etcd[59138]: Go OS/Arch: linux/amd64
Dec 06 19:20:29 ubuntu etcd[59138]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:20:29 ubuntu etcd[59138]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:20:29 ubuntu etcd[59138]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:20:29 ubuntu etcd[59138]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:20:29 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 06 19:20:29 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 06 19:20:29 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 06 19:20:29 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
