Apr 09 18:13:11 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 09 18:13:11 ubuntu etcd[60346]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 09 18:13:11 ubuntu etcd[60346]:         A future release of golang/protobuf will delete this package,
Apr 09 18:13:11 ubuntu etcd[60346]:         which has long been excluded from the compatibility promise.
Apr 09 18:13:11 ubuntu etcd[60346]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 09 18:13:11 ubuntu etcd[60346]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 09 18:13:11 ubuntu etcd[60346]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 09 18:13:11 ubuntu etcd[60346]: Running http and grpc server on single port. This is not recommended for production.
Apr 09 18:13:11 ubuntu etcd[60346]: etcd Version: 3.4.27
Apr 09 18:13:11 ubuntu etcd[60346]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 09 18:13:11 ubuntu etcd[60346]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 09 18:13:11 ubuntu etcd[60346]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 09 18:13:11 ubuntu etcd[60346]: Git SHA: c92fb80f3
Apr 09 18:13:11 ubuntu etcd[60346]: Go Version: go1.19.10
Apr 09 18:13:11 ubuntu etcd[60346]: Go OS/Arch: linux/amd64
Apr 09 18:13:11 ubuntu etcd[60346]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 09 18:13:11 ubuntu etcd[60346]: Running http and grpc server on single port. This is not recommended for production.
Apr 09 18:13:11 ubuntu etcd[60346]: name = ubuntu
Apr 09 18:13:11 ubuntu etcd[60346]: data dir = /opt/stack/data/etcd
Apr 09 18:13:11 ubuntu etcd[60346]: member dir = /opt/stack/data/etcd/member
Apr 09 18:13:11 ubuntu etcd[60346]: heartbeat = 100ms
Apr 09 18:13:11 ubuntu etcd[60346]: election = 1000ms
Apr 09 18:13:11 ubuntu etcd[60346]: snapshot count = 100000
Apr 09 18:13:11 ubuntu etcd[60346]: advertise client URLs = http://10.201.4.32:2379
Apr 09 18:13:11 ubuntu etcd[60346]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 09 18:13:11 ubuntu etcd[60346]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 09 18:13:11 ubuntu etcd[60346]: raft2024/04/09 18:13:11 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 09 18:13:11 ubuntu etcd[60346]: raft2024/04/09 18:13:11 INFO: 33238c1cdfea94eb became follower at term 0
Apr 09 18:13:11 ubuntu etcd[60346]: raft2024/04/09 18:13:11 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 09 18:13:11 ubuntu etcd[60346]: raft2024/04/09 18:13:11 INFO: 33238c1cdfea94eb became follower at term 1
Apr 09 18:13:11 ubuntu etcd[60346]: raft2024/04/09 18:13:11 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 09 18:13:11 ubuntu etcd[60346]: simple token is not cryptographically signed
Apr 09 18:13:11 ubuntu etcd[60346]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 09 18:13:11 ubuntu etcd[60346]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 09 18:13:11 ubuntu etcd[60346]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 09 18:13:11 ubuntu etcd[60346]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 09 18:13:11 ubuntu etcd[60346]: raft2024/04/09 18:13:11 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 09 18:13:11 ubuntu etcd[60346]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 09 18:13:11 ubuntu etcd[60346]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 09 18:13:11 ubuntu etcd[60346]: listening for peers on [::]:2380
Apr 09 18:13:12 ubuntu etcd[60346]: raft2024/04/09 18:13:12 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 09 18:13:12 ubuntu etcd[60346]: raft2024/04/09 18:13:12 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 09 18:13:12 ubuntu etcd[60346]: raft2024/04/09 18:13:12 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 09 18:13:12 ubuntu etcd[60346]: raft2024/04/09 18:13:12 INFO: 33238c1cdfea94eb became leader at term 2
Apr 09 18:13:12 ubuntu etcd[60346]: raft2024/04/09 18:13:12 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 09 18:13:12 ubuntu etcd[60346]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 09 18:13:12 ubuntu etcd[60346]: setting up the initial cluster version to 3.4
Apr 09 18:13:12 ubuntu etcd[60346]: ready to serve client requests
Apr 09 18:13:12 ubuntu etcd[60346]: set the initial cluster version to 3.4
Apr 09 18:13:12 ubuntu etcd[60346]: enabled capabilities for version 3.4
Apr 09 18:13:12 ubuntu etcd[60346]: INFO: 2024/04/09 18:13:12 parsed scheme: ""
Apr 09 18:13:12 ubuntu etcd[60346]: INFO: 2024/04/09 18:13:12 scheme "" not registered, fallback to default scheme
Apr 09 18:13:12 ubuntu etcd[60346]: INFO: 2024/04/09 18:13:12 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 09 18:13:12 ubuntu etcd[60346]: INFO: 2024/04/09 18:13:12 ClientConn switching balancer to "pick_first"
Apr 09 18:13:12 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 09 18:13:12 ubuntu etcd[60346]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 09 18:17:29 ubuntu etcd[60346]: start time = 2024-04-09 18:17:29.883296071 +0000 UTC m=+258.838100269, time spent = 486.451µs, remote = 10.201.4.32:46836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 09 18:17:29 ubuntu etcd[60346]: start time = 2024-04-09 18:17:29.883068788 +0000 UTC m=+258.837872986, time spent = 1.538908ms, remote = 10.201.4.32:46836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 09 18:17:36 ubuntu etcd[60346]: start time = 2024-04-09 18:17:36.104378932 +0000 UTC m=+265.059183210, time spent = 304.264µs, remote = 10.201.4.32:46836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 09 18:17:38 ubuntu etcd[60346]: start time = 2024-04-09 18:17:38.773513376 +0000 UTC m=+267.728317557, time spent = 239.897µs, remote = 10.201.4.32:46836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
