Sep 18 19:03:26 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 18 19:03:26 ubuntu etcd[59598]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 18 19:03:26 ubuntu etcd[59598]:         A future release of golang/protobuf will delete this package,
Sep 18 19:03:26 ubuntu etcd[59598]:         which has long been excluded from the compatibility promise.
Sep 18 19:03:26 ubuntu etcd[59598]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 18 19:03:26 ubuntu etcd[59598]: Running http and grpc server on single port. This is not recommended for production.
Sep 18 19:03:26 ubuntu etcd[59598]: etcd Version: 3.4.27
Sep 18 19:03:26 ubuntu etcd[59598]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 18 19:03:26 ubuntu etcd[59598]: Git SHA: c92fb80f3
Sep 18 19:03:26 ubuntu etcd[59598]: Go Version: go1.19.10
Sep 18 19:03:26 ubuntu etcd[59598]: Go OS/Arch: linux/amd64
Sep 18 19:03:26 ubuntu etcd[59598]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 18 19:03:26 ubuntu etcd[59598]: Running http and grpc server on single port. This is not recommended for production.
Sep 18 19:03:26 ubuntu etcd[59598]: name = ubuntu
Sep 18 19:03:26 ubuntu etcd[59598]: data dir = /opt/stack/data/etcd
Sep 18 19:03:26 ubuntu etcd[59598]: member dir = /opt/stack/data/etcd/member
Sep 18 19:03:26 ubuntu etcd[59598]: heartbeat = 100ms
Sep 18 19:03:26 ubuntu etcd[59598]: election = 1000ms
Sep 18 19:03:26 ubuntu etcd[59598]: snapshot count = 100000
Sep 18 19:03:26 ubuntu etcd[59598]: advertise client URLs = http://10.201.4.32:2379
Sep 18 19:03:26 ubuntu etcd[59598]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 18 19:03:26 ubuntu etcd[59598]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 18 19:03:26 ubuntu etcd[59598]: raft2024/09/18 19:03:26 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 18 19:03:26 ubuntu etcd[59598]: raft2024/09/18 19:03:26 INFO: 33238c1cdfea94eb became follower at term 0
Sep 18 19:03:26 ubuntu etcd[59598]: raft2024/09/18 19:03:26 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 18 19:03:26 ubuntu etcd[59598]: raft2024/09/18 19:03:26 INFO: 33238c1cdfea94eb became follower at term 1
Sep 18 19:03:26 ubuntu etcd[59598]: raft2024/09/18 19:03:26 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 18 19:03:26 ubuntu etcd[59598]: simple token is not cryptographically signed
Sep 18 19:03:26 ubuntu etcd[59598]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 18 19:03:26 ubuntu etcd[59598]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 18 19:03:26 ubuntu etcd[59598]: raft2024/09/18 19:03:26 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 18 19:03:26 ubuntu etcd[59598]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 18 19:03:26 ubuntu etcd[59598]: listening for peers on [::]:2380
Sep 18 19:03:26 ubuntu etcd[59598]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 18 19:03:26 ubuntu etcd[59598]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 18 19:03:26 ubuntu etcd[59598]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 18 19:03:27 ubuntu etcd[59598]: raft2024/09/18 19:03:27 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 18 19:03:27 ubuntu etcd[59598]: raft2024/09/18 19:03:27 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 18 19:03:27 ubuntu etcd[59598]: raft2024/09/18 19:03:27 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 18 19:03:27 ubuntu etcd[59598]: raft2024/09/18 19:03:27 INFO: 33238c1cdfea94eb became leader at term 2
Sep 18 19:03:27 ubuntu etcd[59598]: raft2024/09/18 19:03:27 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 18 19:03:27 ubuntu etcd[59598]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 18 19:03:27 ubuntu etcd[59598]: ready to serve client requests
Sep 18 19:03:27 ubuntu etcd[59598]: setting up the initial cluster version to 3.4
Sep 18 19:03:27 ubuntu etcd[59598]: set the initial cluster version to 3.4
Sep 18 19:03:27 ubuntu etcd[59598]: enabled capabilities for version 3.4
Sep 18 19:03:27 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 18 19:03:27 ubuntu etcd[59598]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 18 19:07:44 ubuntu etcd[59598]: start time = 2024-09-18 19:07:44.145343494 +0000 UTC m=+257.231632686, time spent = 575.367µs, remote = 10.201.4.32:45538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 18 19:07:44 ubuntu etcd[59598]: start time = 2024-09-18 19:07:44.180102001 +0000 UTC m=+257.266391219, time spent = 476.249µs, remote = 10.201.4.32:45538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 18 19:07:50 ubuntu etcd[59598]: start time = 2024-09-18 19:07:50.796657273 +0000 UTC m=+263.882946489, time spent = 230.222µs, remote = 10.201.4.32:45538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 18 19:07:52 ubuntu etcd[59598]: start time = 2024-09-18 19:07:52.915927826 +0000 UTC m=+266.002217044, time spent = 260.855µs, remote = 10.201.4.32:45538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
