Mar 27 15:19:33 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 27 15:19:33 ubuntu etcd[57291]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 27 15:19:33 ubuntu etcd[57291]:         A future release of golang/protobuf will delete this package,
Mar 27 15:19:33 ubuntu etcd[57291]:         which has long been excluded from the compatibility promise.
Mar 27 15:19:33 ubuntu etcd[57291]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 27 15:19:33 ubuntu etcd[57291]: Running http and grpc server on single port. This is not recommended for production.
Mar 27 15:19:33 ubuntu etcd[57291]: etcd Version: 3.4.27
Mar 27 15:19:33 ubuntu etcd[57291]: Git SHA: c92fb80f3
Mar 27 15:19:33 ubuntu etcd[57291]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 27 15:19:33 ubuntu etcd[57291]: Go Version: go1.19.10
Mar 27 15:19:33 ubuntu etcd[57291]: Go OS/Arch: linux/amd64
Mar 27 15:19:33 ubuntu etcd[57291]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 27 15:19:33 ubuntu etcd[57291]: Running http and grpc server on single port. This is not recommended for production.
Mar 27 15:19:33 ubuntu etcd[57291]: name = ubuntu
Mar 27 15:19:33 ubuntu etcd[57291]: data dir = /opt/stack/data/etcd
Mar 27 15:19:33 ubuntu etcd[57291]: member dir = /opt/stack/data/etcd/member
Mar 27 15:19:33 ubuntu etcd[57291]: heartbeat = 100ms
Mar 27 15:19:33 ubuntu etcd[57291]: election = 1000ms
Mar 27 15:19:33 ubuntu etcd[57291]: snapshot count = 100000
Mar 27 15:19:33 ubuntu etcd[57291]: advertise client URLs = http://10.201.9.223:2379
Mar 27 15:19:33 ubuntu etcd[57291]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 27 15:19:33 ubuntu etcd[57291]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 27 15:19:33 ubuntu etcd[57291]: raft2025/03/27 15:19:33 INFO: c25b29daa831042c switched to configuration voters=()
Mar 27 15:19:33 ubuntu etcd[57291]: raft2025/03/27 15:19:33 INFO: c25b29daa831042c became follower at term 0
Mar 27 15:19:33 ubuntu etcd[57291]: raft2025/03/27 15:19:33 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 27 15:19:33 ubuntu etcd[57291]: raft2025/03/27 15:19:33 INFO: c25b29daa831042c became follower at term 1
Mar 27 15:19:33 ubuntu etcd[57291]: raft2025/03/27 15:19:33 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 27 15:19:33 ubuntu etcd[57291]: simple token is not cryptographically signed
Mar 27 15:19:33 ubuntu etcd[57291]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 27 15:19:33 ubuntu etcd[57291]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 27 15:19:33 ubuntu etcd[57291]: listening for peers on [::]:2380
Mar 27 15:19:33 ubuntu etcd[57291]: raft2025/03/27 15:19:33 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 27 15:19:33 ubuntu etcd[57291]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 27 15:19:33 ubuntu etcd[57291]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 27 15:19:33 ubuntu etcd[57291]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 27 15:19:33 ubuntu etcd[57291]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 27 15:19:33 ubuntu etcd[57291]: raft2025/03/27 15:19:33 INFO: c25b29daa831042c is starting a new election at term 1
Mar 27 15:19:33 ubuntu etcd[57291]: raft2025/03/27 15:19:33 INFO: c25b29daa831042c became candidate at term 2
Mar 27 15:19:33 ubuntu etcd[57291]: raft2025/03/27 15:19:33 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 27 15:19:33 ubuntu etcd[57291]: raft2025/03/27 15:19:33 INFO: c25b29daa831042c became leader at term 2
Mar 27 15:19:33 ubuntu etcd[57291]: raft2025/03/27 15:19:33 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 27 15:19:33 ubuntu etcd[57291]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 27 15:19:33 ubuntu etcd[57291]: setting up the initial cluster version to 3.4
Mar 27 15:19:33 ubuntu etcd[57291]: set the initial cluster version to 3.4
Mar 27 15:19:33 ubuntu etcd[57291]: enabled capabilities for version 3.4
Mar 27 15:19:33 ubuntu etcd[57291]: ready to serve client requests
Mar 27 15:19:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 27 15:19:33 ubuntu etcd[57291]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 27 15:23:40 ubuntu etcd[57291]: start time = 2025-03-27 15:23:40.971033691 +0000 UTC m=+247.790109800, time spent = 408.716µs, remote = 10.201.9.223:57798, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 15:23:41 ubuntu etcd[57291]: start time = 2025-03-27 15:23:41.036143727 +0000 UTC m=+247.855219853, time spent = 204.417µs, remote = 10.201.9.223:57798, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 15:23:47 ubuntu etcd[57291]: start time = 2025-03-27 15:23:47.659927699 +0000 UTC m=+254.479003823, time spent = 280.811µs, remote = 10.201.9.223:57798, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 15:23:50 ubuntu etcd[57291]: start time = 2025-03-27 15:23:50.155446498 +0000 UTC m=+256.974522625, time spent = 249.004µs, remote = 10.201.9.223:57798, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
