Sep 10 15:20:26 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 10 15:20:26 ubuntu etcd[59502]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 10 15:20:26 ubuntu etcd[59502]:         A future release of golang/protobuf will delete this package,
Sep 10 15:20:26 ubuntu etcd[59502]:         which has long been excluded from the compatibility promise.
Sep 10 15:20:26 ubuntu etcd[59502]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 10 15:20:26 ubuntu etcd[59502]: Running http and grpc server on single port. This is not recommended for production.
Sep 10 15:20:26 ubuntu etcd[59502]: etcd Version: 3.4.27
Sep 10 15:20:26 ubuntu etcd[59502]: Git SHA: c92fb80f3
Sep 10 15:20:26 ubuntu etcd[59502]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 10 15:20:26 ubuntu etcd[59502]: Go Version: go1.19.10
Sep 10 15:20:26 ubuntu etcd[59502]: Go OS/Arch: linux/amd64
Sep 10 15:20:26 ubuntu etcd[59502]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 10 15:20:26 ubuntu etcd[59502]: Running http and grpc server on single port. This is not recommended for production.
Sep 10 15:20:26 ubuntu etcd[59502]: name = ubuntu
Sep 10 15:20:26 ubuntu etcd[59502]: data dir = /opt/stack/data/etcd
Sep 10 15:20:26 ubuntu etcd[59502]: member dir = /opt/stack/data/etcd/member
Sep 10 15:20:26 ubuntu etcd[59502]: heartbeat = 100ms
Sep 10 15:20:26 ubuntu etcd[59502]: election = 1000ms
Sep 10 15:20:26 ubuntu etcd[59502]: snapshot count = 100000
Sep 10 15:20:26 ubuntu etcd[59502]: advertise client URLs = http://10.201.4.32:2379
Sep 10 15:20:26 ubuntu etcd[59502]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 10 15:20:26 ubuntu etcd[59502]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 10 15:20:26 ubuntu etcd[59502]: raft2024/09/10 15:20:26 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 10 15:20:26 ubuntu etcd[59502]: raft2024/09/10 15:20:26 INFO: 33238c1cdfea94eb became follower at term 0
Sep 10 15:20:26 ubuntu etcd[59502]: raft2024/09/10 15:20:26 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 10 15:20:26 ubuntu etcd[59502]: raft2024/09/10 15:20:26 INFO: 33238c1cdfea94eb became follower at term 1
Sep 10 15:20:26 ubuntu etcd[59502]: raft2024/09/10 15:20:26 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 10 15:20:26 ubuntu etcd[59502]: simple token is not cryptographically signed
Sep 10 15:20:26 ubuntu etcd[59502]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 10 15:20:26 ubuntu etcd[59502]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 10 15:20:26 ubuntu etcd[59502]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 10 15:20:26 ubuntu etcd[59502]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 10 15:20:26 ubuntu etcd[59502]: raft2024/09/10 15:20:26 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 10 15:20:26 ubuntu etcd[59502]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 10 15:20:26 ubuntu etcd[59502]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 10 15:20:26 ubuntu etcd[59502]: listening for peers on [::]:2380
Sep 10 15:20:27 ubuntu etcd[59502]: raft2024/09/10 15:20:27 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 10 15:20:27 ubuntu etcd[59502]: raft2024/09/10 15:20:27 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 10 15:20:27 ubuntu etcd[59502]: raft2024/09/10 15:20:27 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 10 15:20:27 ubuntu etcd[59502]: raft2024/09/10 15:20:27 INFO: 33238c1cdfea94eb became leader at term 2
Sep 10 15:20:27 ubuntu etcd[59502]: raft2024/09/10 15:20:27 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 10 15:20:27 ubuntu etcd[59502]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 10 15:20:27 ubuntu etcd[59502]: ready to serve client requests
Sep 10 15:20:27 ubuntu etcd[59502]: setting up the initial cluster version to 3.4
Sep 10 15:20:27 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 10 15:20:27 ubuntu etcd[59502]: set the initial cluster version to 3.4
Sep 10 15:20:27 ubuntu etcd[59502]: enabled capabilities for version 3.4
Sep 10 15:20:27 ubuntu etcd[59502]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 10 15:24:46 ubuntu etcd[59502]: start time = 2024-09-10 15:24:46.257284155 +0000 UTC m=+259.472622427, time spent = 363.128µs, remote = 10.201.4.32:51080, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 10 15:24:46 ubuntu etcd[59502]: start time = 2024-09-10 15:24:46.414762051 +0000 UTC m=+259.630100336, time spent = 177.721µs, remote = 10.201.4.32:51080, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 10 15:24:53 ubuntu etcd[59502]: start time = 2024-09-10 15:24:53.164964495 +0000 UTC m=+266.380302782, time spent = 182.908µs, remote = 10.201.4.32:51080, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 10 15:24:55 ubuntu etcd[59502]: start time = 2024-09-10 15:24:55.246591164 +0000 UTC m=+268.461929449, time spent = 477.378µs, remote = 10.201.4.32:51080, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
