Aug 01 21:52:41 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 01 21:52:41 ubuntu etcd[58303]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 01 21:52:41 ubuntu etcd[58303]:         A future release of golang/protobuf will delete this package,
Aug 01 21:52:41 ubuntu etcd[58303]:         which has long been excluded from the compatibility promise.
Aug 01 21:52:41 ubuntu etcd[58303]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 01 21:52:41 ubuntu etcd[58303]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 01 21:52:41 ubuntu etcd[58303]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 01 21:52:41 ubuntu etcd[58303]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 01 21:52:41 ubuntu etcd[58303]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 01 21:52:41 ubuntu etcd[58303]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 01 21:52:41 ubuntu etcd[58303]: Running http and grpc server on single port. This is not recommended for production.
Aug 01 21:52:41 ubuntu etcd[58303]: etcd Version: 3.4.27
Aug 01 21:52:41 ubuntu etcd[58303]: Git SHA: c92fb80f3
Aug 01 21:52:41 ubuntu etcd[58303]: Go Version: go1.19.10
Aug 01 21:52:41 ubuntu etcd[58303]: Go OS/Arch: linux/amd64
Aug 01 21:52:41 ubuntu etcd[58303]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 01 21:52:41 ubuntu etcd[58303]: Running http and grpc server on single port. This is not recommended for production.
Aug 01 21:52:41 ubuntu etcd[58303]: name = ubuntu
Aug 01 21:52:41 ubuntu etcd[58303]: data dir = /opt/stack/data/etcd
Aug 01 21:52:41 ubuntu etcd[58303]: member dir = /opt/stack/data/etcd/member
Aug 01 21:52:41 ubuntu etcd[58303]: heartbeat = 100ms
Aug 01 21:52:41 ubuntu etcd[58303]: election = 1000ms
Aug 01 21:52:41 ubuntu etcd[58303]: snapshot count = 100000
Aug 01 21:52:41 ubuntu etcd[58303]: advertise client URLs = http://10.201.4.32:2379
Aug 01 21:52:41 ubuntu etcd[58303]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 01 21:52:41 ubuntu etcd[58303]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Aug 01 21:52:41 ubuntu etcd[58303]: raft2024/08/01 21:52:41 INFO: 33238c1cdfea94eb switched to configuration voters=()
Aug 01 21:52:41 ubuntu etcd[58303]: raft2024/08/01 21:52:41 INFO: 33238c1cdfea94eb became follower at term 0
Aug 01 21:52:41 ubuntu etcd[58303]: raft2024/08/01 21:52:41 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 01 21:52:41 ubuntu etcd[58303]: raft2024/08/01 21:52:41 INFO: 33238c1cdfea94eb became follower at term 1
Aug 01 21:52:41 ubuntu etcd[58303]: raft2024/08/01 21:52:41 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 01 21:52:41 ubuntu etcd[58303]: simple token is not cryptographically signed
Aug 01 21:52:41 ubuntu etcd[58303]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 01 21:52:41 ubuntu etcd[58303]: raft2024/08/01 21:52:41 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 01 21:52:41 ubuntu etcd[58303]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Aug 01 21:52:41 ubuntu etcd[58303]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 01 21:52:41 ubuntu etcd[58303]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 01 21:52:41 ubuntu etcd[58303]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 01 21:52:41 ubuntu etcd[58303]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 01 21:52:41 ubuntu etcd[58303]: listening for peers on [::]:2380
Aug 01 21:52:41 ubuntu etcd[58303]: raft2024/08/01 21:52:41 INFO: 33238c1cdfea94eb is starting a new election at term 1
Aug 01 21:52:41 ubuntu etcd[58303]: raft2024/08/01 21:52:41 INFO: 33238c1cdfea94eb became candidate at term 2
Aug 01 21:52:41 ubuntu etcd[58303]: raft2024/08/01 21:52:41 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Aug 01 21:52:41 ubuntu etcd[58303]: raft2024/08/01 21:52:41 INFO: 33238c1cdfea94eb became leader at term 2
Aug 01 21:52:41 ubuntu etcd[58303]: raft2024/08/01 21:52:41 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Aug 01 21:52:41 ubuntu etcd[58303]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Aug 01 21:52:41 ubuntu etcd[58303]: ready to serve client requests
Aug 01 21:52:41 ubuntu etcd[58303]: INFO: 2024/08/01 21:52:41 parsed scheme: ""
Aug 01 21:52:41 ubuntu etcd[58303]: INFO: 2024/08/01 21:52:41 scheme "" not registered, fallback to default scheme
Aug 01 21:52:41 ubuntu etcd[58303]: INFO: 2024/08/01 21:52:41 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 01 21:52:41 ubuntu etcd[58303]: INFO: 2024/08/01 21:52:41 ClientConn switching balancer to "pick_first"
Aug 01 21:52:41 ubuntu etcd[58303]: setting up the initial cluster version to 3.4
Aug 01 21:52:41 ubuntu etcd[58303]: set the initial cluster version to 3.4
Aug 01 21:52:41 ubuntu etcd[58303]: enabled capabilities for version 3.4
Aug 01 21:52:41 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 01 21:52:41 ubuntu etcd[58303]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Aug 01 21:57:00 ubuntu etcd[58303]: start time = 2024-08-01 21:57:00.386211809 +0000 UTC m=+258.857341481, time spent = 458.777µs, remote = 10.201.4.32:56648, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 01 21:57:00 ubuntu etcd[58303]: start time = 2024-08-01 21:57:00.496931823 +0000 UTC m=+258.968061493, time spent = 180.784µs, remote = 10.201.4.32:56648, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 01 21:57:06 ubuntu etcd[58303]: start time = 2024-08-01 21:57:06.972652962 +0000 UTC m=+265.443782644, time spent = 153.375µs, remote = 10.201.4.32:56648, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 01 21:57:09 ubuntu etcd[58303]: start time = 2024-08-01 21:57:09.31476687 +0000 UTC m=+267.785896542, time spent = 332.784µs, remote = 10.201.4.32:56648, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
