Sep 17 03:47:07 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 17 03:47:07 ubuntu etcd[59938]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 17 03:47:07 ubuntu etcd[59938]:         A future release of golang/protobuf will delete this package,
Sep 17 03:47:07 ubuntu etcd[59938]:         which has long been excluded from the compatibility promise.
Sep 17 03:47:07 ubuntu etcd[59938]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 17 03:47:07 ubuntu etcd[59938]: Running http and grpc server on single port. This is not recommended for production.
Sep 17 03:47:07 ubuntu etcd[59938]: etcd Version: 3.4.27
Sep 17 03:47:07 ubuntu etcd[59938]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 17 03:47:07 ubuntu etcd[59938]: Git SHA: c92fb80f3
Sep 17 03:47:07 ubuntu etcd[59938]: Go Version: go1.19.10
Sep 17 03:47:07 ubuntu etcd[59938]: Go OS/Arch: linux/amd64
Sep 17 03:47:07 ubuntu etcd[59938]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 17 03:47:07 ubuntu etcd[59938]: Running http and grpc server on single port. This is not recommended for production.
Sep 17 03:47:07 ubuntu etcd[59938]: name = ubuntu
Sep 17 03:47:07 ubuntu etcd[59938]: data dir = /opt/stack/data/etcd
Sep 17 03:47:07 ubuntu etcd[59938]: member dir = /opt/stack/data/etcd/member
Sep 17 03:47:07 ubuntu etcd[59938]: heartbeat = 100ms
Sep 17 03:47:07 ubuntu etcd[59938]: election = 1000ms
Sep 17 03:47:07 ubuntu etcd[59938]: snapshot count = 100000
Sep 17 03:47:07 ubuntu etcd[59938]: advertise client URLs = http://10.201.4.32:2379
Sep 17 03:47:07 ubuntu etcd[59938]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 17 03:47:07 ubuntu etcd[59938]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 17 03:47:07 ubuntu etcd[59938]: raft2024/09/17 03:47:07 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 17 03:47:07 ubuntu etcd[59938]: raft2024/09/17 03:47:07 INFO: 33238c1cdfea94eb became follower at term 0
Sep 17 03:47:07 ubuntu etcd[59938]: raft2024/09/17 03:47:07 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 17 03:47:07 ubuntu etcd[59938]: raft2024/09/17 03:47:07 INFO: 33238c1cdfea94eb became follower at term 1
Sep 17 03:47:07 ubuntu etcd[59938]: raft2024/09/17 03:47:07 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 17 03:47:07 ubuntu etcd[59938]: simple token is not cryptographically signed
Sep 17 03:47:07 ubuntu etcd[59938]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 17 03:47:07 ubuntu etcd[59938]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 17 03:47:07 ubuntu etcd[59938]: raft2024/09/17 03:47:07 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 17 03:47:07 ubuntu etcd[59938]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 17 03:47:07 ubuntu etcd[59938]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 17 03:47:07 ubuntu etcd[59938]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 17 03:47:07 ubuntu etcd[59938]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 17 03:47:07 ubuntu etcd[59938]: listening for peers on [::]:2380
Sep 17 03:47:07 ubuntu etcd[59938]: raft2024/09/17 03:47:07 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 17 03:47:07 ubuntu etcd[59938]: raft2024/09/17 03:47:07 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 17 03:47:07 ubuntu etcd[59938]: raft2024/09/17 03:47:07 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 17 03:47:07 ubuntu etcd[59938]: raft2024/09/17 03:47:07 INFO: 33238c1cdfea94eb became leader at term 2
Sep 17 03:47:07 ubuntu etcd[59938]: raft2024/09/17 03:47:07 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 17 03:47:07 ubuntu etcd[59938]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 17 03:47:07 ubuntu etcd[59938]: ready to serve client requests
Sep 17 03:47:07 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 17 03:47:07 ubuntu etcd[59938]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 17 03:47:07 ubuntu etcd[59938]: setting up the initial cluster version to 3.4
Sep 17 03:47:07 ubuntu etcd[59938]: set the initial cluster version to 3.4
Sep 17 03:47:07 ubuntu etcd[59938]: enabled capabilities for version 3.4
Sep 17 03:51:26 ubuntu etcd[59938]: start time = 2024-09-17 03:51:26.585907504 +0000 UTC m=+259.478495264, time spent = 534.515µs, remote = 10.201.4.32:58764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 17 03:51:26 ubuntu etcd[59938]: start time = 2024-09-17 03:51:26.64743748 +0000 UTC m=+259.540025243, time spent = 232.347µs, remote = 10.201.4.32:58764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 17 03:51:33 ubuntu etcd[59938]: start time = 2024-09-17 03:51:33.126586532 +0000 UTC m=+266.019174295, time spent = 263.503µs, remote = 10.201.4.32:58764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 17 03:51:35 ubuntu etcd[59938]: start time = 2024-09-17 03:51:35.418340985 +0000 UTC m=+268.310928750, time spent = 202.751µs, remote = 10.201.4.32:58764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
