Mar 20 16:06:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 20 16:06:23 ubuntu etcd[70971]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 20 16:06:23 ubuntu etcd[70971]:         A future release of golang/protobuf will delete this package,
Mar 20 16:06:23 ubuntu etcd[70971]:         which has long been excluded from the compatibility promise.
Mar 20 16:06:23 ubuntu etcd[70971]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 20 16:06:23 ubuntu etcd[70971]: Running http and grpc server on single port. This is not recommended for production.
Mar 20 16:06:23 ubuntu etcd[70971]: etcd Version: 3.4.27
Mar 20 16:06:23 ubuntu etcd[70971]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 20 16:06:23 ubuntu etcd[70971]: Git SHA: c92fb80f3
Mar 20 16:06:23 ubuntu etcd[70971]: Go Version: go1.19.10
Mar 20 16:06:23 ubuntu etcd[70971]: Go OS/Arch: linux/amd64
Mar 20 16:06:23 ubuntu etcd[70971]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 20 16:06:23 ubuntu etcd[70971]: Running http and grpc server on single port. This is not recommended for production.
Mar 20 16:06:23 ubuntu etcd[70971]: name = ubuntu
Mar 20 16:06:23 ubuntu etcd[70971]: data dir = /opt/stack/data/etcd
Mar 20 16:06:23 ubuntu etcd[70971]: member dir = /opt/stack/data/etcd/member
Mar 20 16:06:23 ubuntu etcd[70971]: heartbeat = 100ms
Mar 20 16:06:23 ubuntu etcd[70971]: election = 1000ms
Mar 20 16:06:23 ubuntu etcd[70971]: snapshot count = 100000
Mar 20 16:06:23 ubuntu etcd[70971]: advertise client URLs = http://10.201.9.223:2379
Mar 20 16:06:23 ubuntu etcd[70971]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 20 16:06:23 ubuntu etcd[70971]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 20 16:06:23 ubuntu etcd[70971]: raft2025/03/20 16:06:23 INFO: c25b29daa831042c switched to configuration voters=()
Mar 20 16:06:23 ubuntu etcd[70971]: raft2025/03/20 16:06:23 INFO: c25b29daa831042c became follower at term 0
Mar 20 16:06:23 ubuntu etcd[70971]: raft2025/03/20 16:06:23 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 20 16:06:23 ubuntu etcd[70971]: raft2025/03/20 16:06:23 INFO: c25b29daa831042c became follower at term 1
Mar 20 16:06:23 ubuntu etcd[70971]: raft2025/03/20 16:06:23 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 20 16:06:23 ubuntu etcd[70971]: simple token is not cryptographically signed
Mar 20 16:06:23 ubuntu etcd[70971]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 20 16:06:23 ubuntu etcd[70971]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 20 16:06:23 ubuntu etcd[70971]: raft2025/03/20 16:06:23 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 20 16:06:23 ubuntu etcd[70971]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 20 16:06:23 ubuntu etcd[70971]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 20 16:06:23 ubuntu etcd[70971]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 20 16:06:23 ubuntu etcd[70971]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 20 16:06:23 ubuntu etcd[70971]: listening for peers on [::]:2380
Mar 20 16:06:23 ubuntu etcd[70971]: raft2025/03/20 16:06:23 INFO: c25b29daa831042c is starting a new election at term 1
Mar 20 16:06:23 ubuntu etcd[70971]: raft2025/03/20 16:06:23 INFO: c25b29daa831042c became candidate at term 2
Mar 20 16:06:23 ubuntu etcd[70971]: raft2025/03/20 16:06:23 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 20 16:06:23 ubuntu etcd[70971]: raft2025/03/20 16:06:23 INFO: c25b29daa831042c became leader at term 2
Mar 20 16:06:23 ubuntu etcd[70971]: raft2025/03/20 16:06:23 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 20 16:06:23 ubuntu etcd[70971]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 20 16:06:23 ubuntu etcd[70971]: setting up the initial cluster version to 3.4
Mar 20 16:06:23 ubuntu etcd[70971]: ready to serve client requests
Mar 20 16:06:23 ubuntu etcd[70971]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 20 16:06:23 ubuntu etcd[70971]: set the initial cluster version to 3.4
Mar 20 16:06:23 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 20 16:06:23 ubuntu etcd[70971]: enabled capabilities for version 3.4
Mar 20 16:10:29 ubuntu etcd[70971]: start time = 2025-03-20 16:10:29.926356605 +0000 UTC m=+246.462863488, time spent = 483.442µs, remote = 10.201.9.223:44394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 20 16:10:29 ubuntu etcd[70971]: start time = 2025-03-20 16:10:29.994759424 +0000 UTC m=+246.531266326, time spent = 203.991µs, remote = 10.201.9.223:44394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 20 16:10:36 ubuntu etcd[70971]: start time = 2025-03-20 16:10:36.457628028 +0000 UTC m=+252.994134931, time spent = 214.286µs, remote = 10.201.9.223:44394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 20 16:10:38 ubuntu etcd[70971]: start time = 2025-03-20 16:10:38.598230926 +0000 UTC m=+255.134737826, time spent = 1.428346ms, remote = 10.201.9.223:44394, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
