Jul 15 18:06:14 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 15 18:06:14 ubuntu etcd[59050]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 15 18:06:14 ubuntu etcd[59050]:         A future release of golang/protobuf will delete this package,
Jul 15 18:06:14 ubuntu etcd[59050]:         which has long been excluded from the compatibility promise.
Jul 15 18:06:14 ubuntu etcd[59050]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 15 18:06:14 ubuntu etcd[59050]: Running http and grpc server on single port. This is not recommended for production.
Jul 15 18:06:14 ubuntu etcd[59050]: etcd Version: 3.4.27
Jul 15 18:06:14 ubuntu etcd[59050]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 15 18:06:14 ubuntu etcd[59050]: Git SHA: c92fb80f3
Jul 15 18:06:14 ubuntu etcd[59050]: Go Version: go1.19.10
Jul 15 18:06:14 ubuntu etcd[59050]: Go OS/Arch: linux/amd64
Jul 15 18:06:14 ubuntu etcd[59050]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 15 18:06:14 ubuntu etcd[59050]: Running http and grpc server on single port. This is not recommended for production.
Jul 15 18:06:14 ubuntu etcd[59050]: name = ubuntu
Jul 15 18:06:14 ubuntu etcd[59050]: data dir = /opt/stack/data/etcd
Jul 15 18:06:14 ubuntu etcd[59050]: member dir = /opt/stack/data/etcd/member
Jul 15 18:06:14 ubuntu etcd[59050]: heartbeat = 100ms
Jul 15 18:06:14 ubuntu etcd[59050]: election = 1000ms
Jul 15 18:06:14 ubuntu etcd[59050]: snapshot count = 100000
Jul 15 18:06:14 ubuntu etcd[59050]: advertise client URLs = http://10.201.9.223:2379
Jul 15 18:06:14 ubuntu etcd[59050]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 15 18:06:14 ubuntu etcd[59050]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 15 18:06:14 ubuntu etcd[59050]: raft2025/07/15 18:06:14 INFO: c25b29daa831042c switched to configuration voters=()
Jul 15 18:06:14 ubuntu etcd[59050]: raft2025/07/15 18:06:14 INFO: c25b29daa831042c became follower at term 0
Jul 15 18:06:14 ubuntu etcd[59050]: raft2025/07/15 18:06:14 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 15 18:06:14 ubuntu etcd[59050]: raft2025/07/15 18:06:14 INFO: c25b29daa831042c became follower at term 1
Jul 15 18:06:14 ubuntu etcd[59050]: raft2025/07/15 18:06:14 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 15 18:06:14 ubuntu etcd[59050]: simple token is not cryptographically signed
Jul 15 18:06:14 ubuntu etcd[59050]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 15 18:06:14 ubuntu etcd[59050]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 15 18:06:14 ubuntu etcd[59050]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 15 18:06:14 ubuntu etcd[59050]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 15 18:06:14 ubuntu etcd[59050]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 15 18:06:14 ubuntu etcd[59050]: raft2025/07/15 18:06:14 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 15 18:06:14 ubuntu etcd[59050]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 15 18:06:14 ubuntu etcd[59050]: listening for peers on [::]:2380
Jul 15 18:06:14 ubuntu etcd[59050]: raft2025/07/15 18:06:14 INFO: c25b29daa831042c is starting a new election at term 1
Jul 15 18:06:14 ubuntu etcd[59050]: raft2025/07/15 18:06:14 INFO: c25b29daa831042c became candidate at term 2
Jul 15 18:06:14 ubuntu etcd[59050]: raft2025/07/15 18:06:14 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 15 18:06:14 ubuntu etcd[59050]: raft2025/07/15 18:06:14 INFO: c25b29daa831042c became leader at term 2
Jul 15 18:06:14 ubuntu etcd[59050]: raft2025/07/15 18:06:14 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 15 18:06:14 ubuntu etcd[59050]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 15 18:06:14 ubuntu etcd[59050]: setting up the initial cluster version to 3.4
Jul 15 18:06:14 ubuntu etcd[59050]: ready to serve client requests
Jul 15 18:06:14 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 15 18:06:14 ubuntu etcd[59050]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 15 18:06:14 ubuntu etcd[59050]: set the initial cluster version to 3.4
Jul 15 18:06:14 ubuntu etcd[59050]: enabled capabilities for version 3.4
Jul 15 18:10:23 ubuntu etcd[59050]: start time = 2025-07-15 18:10:23.555451188 +0000 UTC m=+249.108840860, time spent = 1.220264ms, remote = 10.201.9.223:53812, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 15 18:10:23 ubuntu etcd[59050]: start time = 2025-07-15 18:10:23.585695681 +0000 UTC m=+249.139085367, time spent = 190.784µs, remote = 10.201.9.223:53812, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 15 18:10:30 ubuntu etcd[59050]: start time = 2025-07-15 18:10:30.012031667 +0000 UTC m=+255.565421351, time spent = 159.894µs, remote = 10.201.9.223:53812, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 15 18:10:32 ubuntu etcd[59050]: start time = 2025-07-15 18:10:32.326559138 +0000 UTC m=+257.879948825, time spent = 163.937µs, remote = 10.201.9.223:53812, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
