Jan 08 16:20:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 08 16:20:29 ubuntu etcd[59430]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 08 16:20:29 ubuntu etcd[59430]:         A future release of golang/protobuf will delete this package,
Jan 08 16:20:29 ubuntu etcd[59430]:         which has long been excluded from the compatibility promise.
Jan 08 16:20:29 ubuntu etcd[59430]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 08 16:20:29 ubuntu etcd[59430]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 08 16:20:29 ubuntu etcd[59430]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 08 16:20:29 ubuntu etcd[59430]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 08 16:20:29 ubuntu etcd[59430]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 08 16:20:29 ubuntu etcd[59430]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 08 16:20:29 ubuntu etcd[59430]: Running http and grpc server on single port. This is not recommended for production.
Jan 08 16:20:29 ubuntu etcd[59430]: etcd Version: 3.4.27
Jan 08 16:20:29 ubuntu etcd[59430]: Git SHA: c92fb80f3
Jan 08 16:20:29 ubuntu etcd[59430]: Go Version: go1.19.10
Jan 08 16:20:29 ubuntu etcd[59430]: Go OS/Arch: linux/amd64
Jan 08 16:20:29 ubuntu etcd[59430]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 08 16:20:29 ubuntu etcd[59430]: Running http and grpc server on single port. This is not recommended for production.
Jan 08 16:20:29 ubuntu etcd[59430]: name = ubuntu
Jan 08 16:20:29 ubuntu etcd[59430]: data dir = /opt/stack/data/etcd
Jan 08 16:20:29 ubuntu etcd[59430]: member dir = /opt/stack/data/etcd/member
Jan 08 16:20:29 ubuntu etcd[59430]: heartbeat = 100ms
Jan 08 16:20:29 ubuntu etcd[59430]: election = 1000ms
Jan 08 16:20:29 ubuntu etcd[59430]: snapshot count = 100000
Jan 08 16:20:29 ubuntu etcd[59430]: advertise client URLs = http://10.201.4.32:2379
Jan 08 16:20:29 ubuntu etcd[59430]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 08 16:20:29 ubuntu etcd[59430]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 08 16:20:29 ubuntu etcd[59430]: raft2024/01/08 16:20:29 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 08 16:20:29 ubuntu etcd[59430]: raft2024/01/08 16:20:29 INFO: 33238c1cdfea94eb became follower at term 0
Jan 08 16:20:29 ubuntu etcd[59430]: raft2024/01/08 16:20:29 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 08 16:20:29 ubuntu etcd[59430]: raft2024/01/08 16:20:29 INFO: 33238c1cdfea94eb became follower at term 1
Jan 08 16:20:29 ubuntu etcd[59430]: raft2024/01/08 16:20:29 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 08 16:20:29 ubuntu etcd[59430]: simple token is not cryptographically signed
Jan 08 16:20:29 ubuntu etcd[59430]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 08 16:20:29 ubuntu etcd[59430]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 08 16:20:29 ubuntu etcd[59430]: raft2024/01/08 16:20:29 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 08 16:20:29 ubuntu etcd[59430]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 08 16:20:29 ubuntu etcd[59430]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 08 16:20:29 ubuntu etcd[59430]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 08 16:20:29 ubuntu etcd[59430]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 08 16:20:29 ubuntu etcd[59430]: listening for peers on [::]:2380
Jan 08 16:20:30 ubuntu etcd[59430]: raft2024/01/08 16:20:30 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 08 16:20:30 ubuntu etcd[59430]: raft2024/01/08 16:20:30 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 08 16:20:30 ubuntu etcd[59430]: raft2024/01/08 16:20:30 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 08 16:20:30 ubuntu etcd[59430]: raft2024/01/08 16:20:30 INFO: 33238c1cdfea94eb became leader at term 2
Jan 08 16:20:30 ubuntu etcd[59430]: raft2024/01/08 16:20:30 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 08 16:20:30 ubuntu etcd[59430]: INFO: 2024/01/08 16:20:30 parsed scheme: ""
Jan 08 16:20:30 ubuntu etcd[59430]: INFO: 2024/01/08 16:20:30 scheme "" not registered, fallback to default scheme
Jan 08 16:20:30 ubuntu etcd[59430]: INFO: 2024/01/08 16:20:30 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 08 16:20:30 ubuntu etcd[59430]: INFO: 2024/01/08 16:20:30 ClientConn switching balancer to "pick_first"
Jan 08 16:20:30 ubuntu etcd[59430]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 08 16:20:30 ubuntu etcd[59430]: setting up the initial cluster version to 3.4
Jan 08 16:20:30 ubuntu etcd[59430]: ready to serve client requests
Jan 08 16:20:30 ubuntu etcd[59430]: set the initial cluster version to 3.4
Jan 08 16:20:30 ubuntu etcd[59430]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 08 16:20:30 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 08 16:20:30 ubuntu etcd[59430]: enabled capabilities for version 3.4
Jan 08 16:24:56 ubuntu etcd[59430]: start time = 2024-01-08 16:24:56.154112954 +0000 UTC m=+267.088922976, time spent = 524.967µs, remote = 10.201.4.32:42616, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 08 16:24:56 ubuntu etcd[59430]: start time = 2024-01-08 16:24:56.256455437 +0000 UTC m=+267.191265468, time spent = 168.832µs, remote = 10.201.4.32:42616, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 08 16:25:02 ubuntu etcd[59430]: start time = 2024-01-08 16:25:02.570412633 +0000 UTC m=+273.505222653, time spent = 249.242µs, remote = 10.201.4.32:42616, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 08 16:25:04 ubuntu etcd[59430]: start time = 2024-01-08 16:25:04.749400545 +0000 UTC m=+275.684210565, time spent = 565.566µs, remote = 10.201.4.32:42616, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
