Jul 19 17:00:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 19 17:00:37 ubuntu etcd[58655]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 19 17:00:37 ubuntu etcd[58655]:         A future release of golang/protobuf will delete this package,
Jul 19 17:00:37 ubuntu etcd[58655]:         which has long been excluded from the compatibility promise.
Jul 19 17:00:37 ubuntu etcd[58655]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 19 17:00:37 ubuntu etcd[58655]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 19 17:00:37 ubuntu etcd[58655]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 19 17:00:37 ubuntu etcd[58655]: Running http and grpc server on single port. This is not recommended for production.
Jul 19 17:00:37 ubuntu etcd[58655]: etcd Version: 3.4.27
Jul 19 17:00:37 ubuntu etcd[58655]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 19 17:00:37 ubuntu etcd[58655]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 19 17:00:37 ubuntu etcd[58655]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 19 17:00:37 ubuntu etcd[58655]: Git SHA: c92fb80f3
Jul 19 17:00:37 ubuntu etcd[58655]: Go Version: go1.19.10
Jul 19 17:00:37 ubuntu etcd[58655]: Go OS/Arch: linux/amd64
Jul 19 17:00:37 ubuntu etcd[58655]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 19 17:00:37 ubuntu etcd[58655]: Running http and grpc server on single port. This is not recommended for production.
Jul 19 17:00:37 ubuntu etcd[58655]: name = ubuntu
Jul 19 17:00:37 ubuntu etcd[58655]: data dir = /opt/stack/data/etcd
Jul 19 17:00:37 ubuntu etcd[58655]: member dir = /opt/stack/data/etcd/member
Jul 19 17:00:37 ubuntu etcd[58655]: heartbeat = 100ms
Jul 19 17:00:37 ubuntu etcd[58655]: election = 1000ms
Jul 19 17:00:37 ubuntu etcd[58655]: snapshot count = 100000
Jul 19 17:00:37 ubuntu etcd[58655]: advertise client URLs = http://10.201.4.32:2379
Jul 19 17:00:37 ubuntu etcd[58655]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 19 17:00:37 ubuntu etcd[58655]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jul 19 17:00:37 ubuntu etcd[58655]: raft2024/07/19 17:00:37 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jul 19 17:00:37 ubuntu etcd[58655]: raft2024/07/19 17:00:37 INFO: 33238c1cdfea94eb became follower at term 0
Jul 19 17:00:37 ubuntu etcd[58655]: raft2024/07/19 17:00:37 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 19 17:00:37 ubuntu etcd[58655]: raft2024/07/19 17:00:37 INFO: 33238c1cdfea94eb became follower at term 1
Jul 19 17:00:37 ubuntu etcd[58655]: raft2024/07/19 17:00:37 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 19 17:00:37 ubuntu etcd[58655]: simple token is not cryptographically signed
Jul 19 17:00:37 ubuntu etcd[58655]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 19 17:00:37 ubuntu etcd[58655]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 19 17:00:37 ubuntu etcd[58655]: raft2024/07/19 17:00:37 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 19 17:00:37 ubuntu etcd[58655]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jul 19 17:00:37 ubuntu etcd[58655]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 19 17:00:37 ubuntu etcd[58655]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 19 17:00:37 ubuntu etcd[58655]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 19 17:00:37 ubuntu etcd[58655]: listening for peers on [::]:2380
Jul 19 17:00:38 ubuntu etcd[58655]: raft2024/07/19 17:00:38 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jul 19 17:00:38 ubuntu etcd[58655]: raft2024/07/19 17:00:38 INFO: 33238c1cdfea94eb became candidate at term 2
Jul 19 17:00:38 ubuntu etcd[58655]: raft2024/07/19 17:00:38 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jul 19 17:00:38 ubuntu etcd[58655]: raft2024/07/19 17:00:38 INFO: 33238c1cdfea94eb became leader at term 2
Jul 19 17:00:38 ubuntu etcd[58655]: raft2024/07/19 17:00:38 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jul 19 17:00:38 ubuntu etcd[58655]: INFO: 2024/07/19 17:00:38 parsed scheme: ""
Jul 19 17:00:38 ubuntu etcd[58655]: INFO: 2024/07/19 17:00:38 scheme "" not registered, fallback to default scheme
Jul 19 17:00:38 ubuntu etcd[58655]: setting up the initial cluster version to 3.4
Jul 19 17:00:38 ubuntu etcd[58655]: INFO: 2024/07/19 17:00:38 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 19 17:00:38 ubuntu etcd[58655]: INFO: 2024/07/19 17:00:38 ClientConn switching balancer to "pick_first"
Jul 19 17:00:38 ubuntu etcd[58655]: set the initial cluster version to 3.4
Jul 19 17:00:38 ubuntu etcd[58655]: enabled capabilities for version 3.4
Jul 19 17:00:38 ubuntu etcd[58655]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jul 19 17:00:38 ubuntu etcd[58655]: ready to serve client requests
Jul 19 17:00:38 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 19 17:00:38 ubuntu etcd[58655]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jul 19 17:05:01 ubuntu etcd[58655]: start time = 2024-07-19 17:05:01.863230932 +0000 UTC m=+263.967152518, time spent = 474.039µs, remote = 10.201.4.32:45836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 19 17:05:01 ubuntu etcd[58655]: start time = 2024-07-19 17:05:01.87288702 +0000 UTC m=+263.976808617, time spent = 213.664µs, remote = 10.201.4.32:45836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 19 17:05:08 ubuntu etcd[58655]: start time = 2024-07-19 17:05:08.391200978 +0000 UTC m=+270.495122577, time spent = 287.651µs, remote = 10.201.4.32:45836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 19 17:05:10 ubuntu etcd[58655]: start time = 2024-07-19 17:05:10.412863724 +0000 UTC m=+272.516785320, time spent = 376.887µs, remote = 10.201.4.32:45836, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 19 17:08:01 ubuntu etcd[58655]: INFO: 2024/07/19 17:08:01 Failed to decode request: http: invalid Read on closed Body
