Feb 20 04:09:36 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 20 04:09:36 ubuntu etcd[59922]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 20 04:09:36 ubuntu etcd[59922]:         A future release of golang/protobuf will delete this package,
Feb 20 04:09:36 ubuntu etcd[59922]:         which has long been excluded from the compatibility promise.
Feb 20 04:09:36 ubuntu etcd[59922]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 20 04:09:36 ubuntu etcd[59922]: Running http and grpc server on single port. This is not recommended for production.
Feb 20 04:09:36 ubuntu etcd[59922]: etcd Version: 3.4.27
Feb 20 04:09:36 ubuntu etcd[59922]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 20 04:09:36 ubuntu etcd[59922]: Git SHA: c92fb80f3
Feb 20 04:09:36 ubuntu etcd[59922]: Go Version: go1.19.10
Feb 20 04:09:36 ubuntu etcd[59922]: Go OS/Arch: linux/amd64
Feb 20 04:09:36 ubuntu etcd[59922]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 20 04:09:36 ubuntu etcd[59922]: Running http and grpc server on single port. This is not recommended for production.
Feb 20 04:09:36 ubuntu etcd[59922]: name = ubuntu
Feb 20 04:09:36 ubuntu etcd[59922]: data dir = /opt/stack/data/etcd
Feb 20 04:09:36 ubuntu etcd[59922]: member dir = /opt/stack/data/etcd/member
Feb 20 04:09:36 ubuntu etcd[59922]: heartbeat = 100ms
Feb 20 04:09:36 ubuntu etcd[59922]: election = 1000ms
Feb 20 04:09:36 ubuntu etcd[59922]: snapshot count = 100000
Feb 20 04:09:36 ubuntu etcd[59922]: advertise client URLs = http://10.201.9.223:2379
Feb 20 04:09:36 ubuntu etcd[59922]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 20 04:09:36 ubuntu etcd[59922]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Feb 20 04:09:36 ubuntu etcd[59922]: raft2025/02/20 04:09:36 INFO: c25b29daa831042c switched to configuration voters=()
Feb 20 04:09:36 ubuntu etcd[59922]: raft2025/02/20 04:09:36 INFO: c25b29daa831042c became follower at term 0
Feb 20 04:09:36 ubuntu etcd[59922]: raft2025/02/20 04:09:36 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 20 04:09:36 ubuntu etcd[59922]: raft2025/02/20 04:09:36 INFO: c25b29daa831042c became follower at term 1
Feb 20 04:09:36 ubuntu etcd[59922]: raft2025/02/20 04:09:36 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 20 04:09:36 ubuntu etcd[59922]: simple token is not cryptographically signed
Feb 20 04:09:36 ubuntu etcd[59922]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 20 04:09:36 ubuntu etcd[59922]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 20 04:09:36 ubuntu etcd[59922]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 20 04:09:36 ubuntu etcd[59922]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 20 04:09:36 ubuntu etcd[59922]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 20 04:09:36 ubuntu etcd[59922]: raft2025/02/20 04:09:36 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 20 04:09:36 ubuntu etcd[59922]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Feb 20 04:09:36 ubuntu etcd[59922]: listening for peers on [::]:2380
Feb 20 04:09:37 ubuntu etcd[59922]: raft2025/02/20 04:09:37 INFO: c25b29daa831042c is starting a new election at term 1
Feb 20 04:09:37 ubuntu etcd[59922]: raft2025/02/20 04:09:37 INFO: c25b29daa831042c became candidate at term 2
Feb 20 04:09:37 ubuntu etcd[59922]: raft2025/02/20 04:09:37 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Feb 20 04:09:37 ubuntu etcd[59922]: raft2025/02/20 04:09:37 INFO: c25b29daa831042c became leader at term 2
Feb 20 04:09:37 ubuntu etcd[59922]: raft2025/02/20 04:09:37 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Feb 20 04:09:37 ubuntu etcd[59922]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Feb 20 04:09:37 ubuntu etcd[59922]: setting up the initial cluster version to 3.4
Feb 20 04:09:37 ubuntu etcd[59922]: ready to serve client requests
Feb 20 04:09:37 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 20 04:09:37 ubuntu etcd[59922]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Feb 20 04:09:37 ubuntu etcd[59922]: set the initial cluster version to 3.4
Feb 20 04:09:37 ubuntu etcd[59922]: enabled capabilities for version 3.4
Feb 20 04:13:50 ubuntu etcd[59922]: start time = 2025-02-20 04:13:50.760131127 +0000 UTC m=+253.894480305, time spent = 449.11µs, remote = 10.201.9.223:37484, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 20 04:13:50 ubuntu etcd[59922]: start time = 2025-02-20 04:13:50.817120356 +0000 UTC m=+253.951469549, time spent = 283.125µs, remote = 10.201.9.223:37484, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 20 04:13:57 ubuntu etcd[59922]: start time = 2025-02-20 04:13:57.360516427 +0000 UTC m=+260.494865621, time spent = 158.453µs, remote = 10.201.9.223:37484, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 20 04:13:59 ubuntu etcd[59922]: start time = 2025-02-20 04:13:59.64243653 +0000 UTC m=+262.776785729, time spent = 316.428µs, remote = 10.201.9.223:37484, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
