Feb 24 10:24:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 24 10:24:55 ubuntu etcd[59742]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 24 10:24:55 ubuntu etcd[59742]:         A future release of golang/protobuf will delete this package,
Feb 24 10:24:55 ubuntu etcd[59742]:         which has long been excluded from the compatibility promise.
Feb 24 10:24:55 ubuntu etcd[59742]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 24 10:24:55 ubuntu etcd[59742]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 24 10:24:55 ubuntu etcd[59742]: Running http and grpc server on single port. This is not recommended for production.
Feb 24 10:24:55 ubuntu etcd[59742]: etcd Version: 3.4.27
Feb 24 10:24:55 ubuntu etcd[59742]: Git SHA: c92fb80f3
Feb 24 10:24:55 ubuntu etcd[59742]: Go Version: go1.19.10
Feb 24 10:24:55 ubuntu etcd[59742]: Go OS/Arch: linux/amd64
Feb 24 10:24:55 ubuntu etcd[59742]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 24 10:24:55 ubuntu etcd[59742]: Running http and grpc server on single port. This is not recommended for production.
Feb 24 10:24:55 ubuntu etcd[59742]: name = ubuntu
Feb 24 10:24:55 ubuntu etcd[59742]: data dir = /opt/stack/data/etcd
Feb 24 10:24:55 ubuntu etcd[59742]: member dir = /opt/stack/data/etcd/member
Feb 24 10:24:55 ubuntu etcd[59742]: heartbeat = 100ms
Feb 24 10:24:55 ubuntu etcd[59742]: election = 1000ms
Feb 24 10:24:55 ubuntu etcd[59742]: snapshot count = 100000
Feb 24 10:24:55 ubuntu etcd[59742]: advertise client URLs = http://10.201.9.223:2379
Feb 24 10:24:55 ubuntu etcd[59742]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 24 10:24:55 ubuntu etcd[59742]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Feb 24 10:24:55 ubuntu etcd[59742]: raft2025/02/24 10:24:55 INFO: c25b29daa831042c switched to configuration voters=()
Feb 24 10:24:55 ubuntu etcd[59742]: raft2025/02/24 10:24:55 INFO: c25b29daa831042c became follower at term 0
Feb 24 10:24:55 ubuntu etcd[59742]: raft2025/02/24 10:24:55 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 24 10:24:55 ubuntu etcd[59742]: raft2025/02/24 10:24:55 INFO: c25b29daa831042c became follower at term 1
Feb 24 10:24:55 ubuntu etcd[59742]: raft2025/02/24 10:24:55 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 24 10:24:55 ubuntu etcd[59742]: simple token is not cryptographically signed
Feb 24 10:24:55 ubuntu etcd[59742]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 24 10:24:55 ubuntu etcd[59742]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 24 10:24:55 ubuntu etcd[59742]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 24 10:24:55 ubuntu etcd[59742]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 24 10:24:55 ubuntu etcd[59742]: raft2025/02/24 10:24:55 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 24 10:24:55 ubuntu etcd[59742]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 24 10:24:55 ubuntu etcd[59742]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Feb 24 10:24:55 ubuntu etcd[59742]: listening for peers on [::]:2380
Feb 24 10:24:55 ubuntu etcd[59742]: raft2025/02/24 10:24:55 INFO: c25b29daa831042c is starting a new election at term 1
Feb 24 10:24:55 ubuntu etcd[59742]: raft2025/02/24 10:24:55 INFO: c25b29daa831042c became candidate at term 2
Feb 24 10:24:55 ubuntu etcd[59742]: raft2025/02/24 10:24:55 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Feb 24 10:24:55 ubuntu etcd[59742]: raft2025/02/24 10:24:55 INFO: c25b29daa831042c became leader at term 2
Feb 24 10:24:55 ubuntu etcd[59742]: raft2025/02/24 10:24:55 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Feb 24 10:24:55 ubuntu etcd[59742]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Feb 24 10:24:55 ubuntu etcd[59742]: ready to serve client requests
Feb 24 10:24:55 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 24 10:24:55 ubuntu etcd[59742]: setting up the initial cluster version to 3.4
Feb 24 10:24:55 ubuntu etcd[59742]: set the initial cluster version to 3.4
Feb 24 10:24:55 ubuntu etcd[59742]: enabled capabilities for version 3.4
Feb 24 10:24:55 ubuntu etcd[59742]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Feb 24 10:29:04 ubuntu etcd[59742]: start time = 2025-02-24 10:29:04.820100138 +0000 UTC m=+249.578643632, time spent = 452.3µs, remote = 10.201.9.223:57052, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 24 10:29:04 ubuntu etcd[59742]: start time = 2025-02-24 10:29:04.822338343 +0000 UTC m=+249.580881856, time spent = 243.914µs, remote = 10.201.9.223:57052, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 24 10:29:11 ubuntu etcd[59742]: start time = 2025-02-24 10:29:11.689063194 +0000 UTC m=+256.447606707, time spent = 187.115µs, remote = 10.201.9.223:57052, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 24 10:29:13 ubuntu etcd[59742]: start time = 2025-02-24 10:29:13.842593267 +0000 UTC m=+258.601136772, time spent = 311.259µs, remote = 10.201.9.223:57052, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
