Feb 17 14:26:57 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 17 14:26:57 ubuntu etcd[60093]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 17 14:26:57 ubuntu etcd[60093]:         A future release of golang/protobuf will delete this package,
Feb 17 14:26:57 ubuntu etcd[60093]:         which has long been excluded from the compatibility promise.
Feb 17 14:26:57 ubuntu etcd[60093]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 17 14:26:57 ubuntu etcd[60093]: Running http and grpc server on single port. This is not recommended for production.
Feb 17 14:26:57 ubuntu etcd[60093]: etcd Version: 3.4.27
Feb 17 14:26:57 ubuntu etcd[60093]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 17 14:26:57 ubuntu etcd[60093]: Git SHA: c92fb80f3
Feb 17 14:26:57 ubuntu etcd[60093]: Go Version: go1.19.10
Feb 17 14:26:57 ubuntu etcd[60093]: Go OS/Arch: linux/amd64
Feb 17 14:26:57 ubuntu etcd[60093]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 17 14:26:57 ubuntu etcd[60093]: Running http and grpc server on single port. This is not recommended for production.
Feb 17 14:26:57 ubuntu etcd[60093]: name = ubuntu
Feb 17 14:26:57 ubuntu etcd[60093]: data dir = /opt/stack/data/etcd
Feb 17 14:26:57 ubuntu etcd[60093]: member dir = /opt/stack/data/etcd/member
Feb 17 14:26:57 ubuntu etcd[60093]: heartbeat = 100ms
Feb 17 14:26:57 ubuntu etcd[60093]: election = 1000ms
Feb 17 14:26:57 ubuntu etcd[60093]: snapshot count = 100000
Feb 17 14:26:57 ubuntu etcd[60093]: advertise client URLs = http://10.201.9.223:2379
Feb 17 14:26:57 ubuntu etcd[60093]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 17 14:26:57 ubuntu etcd[60093]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Feb 17 14:26:57 ubuntu etcd[60093]: raft2025/02/17 14:26:57 INFO: c25b29daa831042c switched to configuration voters=()
Feb 17 14:26:57 ubuntu etcd[60093]: raft2025/02/17 14:26:57 INFO: c25b29daa831042c became follower at term 0
Feb 17 14:26:57 ubuntu etcd[60093]: raft2025/02/17 14:26:57 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 17 14:26:57 ubuntu etcd[60093]: raft2025/02/17 14:26:57 INFO: c25b29daa831042c became follower at term 1
Feb 17 14:26:57 ubuntu etcd[60093]: raft2025/02/17 14:26:57 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 17 14:26:57 ubuntu etcd[60093]: simple token is not cryptographically signed
Feb 17 14:26:57 ubuntu etcd[60093]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 17 14:26:57 ubuntu etcd[60093]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 17 14:26:57 ubuntu etcd[60093]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 17 14:26:57 ubuntu etcd[60093]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 17 14:26:57 ubuntu etcd[60093]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 17 14:26:57 ubuntu etcd[60093]: raft2025/02/17 14:26:57 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 17 14:26:57 ubuntu etcd[60093]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Feb 17 14:26:57 ubuntu etcd[60093]: listening for peers on [::]:2380
Feb 17 14:26:58 ubuntu etcd[60093]: raft2025/02/17 14:26:58 INFO: c25b29daa831042c is starting a new election at term 1
Feb 17 14:26:58 ubuntu etcd[60093]: raft2025/02/17 14:26:58 INFO: c25b29daa831042c became candidate at term 2
Feb 17 14:26:58 ubuntu etcd[60093]: raft2025/02/17 14:26:58 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Feb 17 14:26:58 ubuntu etcd[60093]: raft2025/02/17 14:26:58 INFO: c25b29daa831042c became leader at term 2
Feb 17 14:26:58 ubuntu etcd[60093]: raft2025/02/17 14:26:58 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Feb 17 14:26:58 ubuntu etcd[60093]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Feb 17 14:26:58 ubuntu etcd[60093]: setting up the initial cluster version to 3.4
Feb 17 14:26:58 ubuntu etcd[60093]: ready to serve client requests
Feb 17 14:26:58 ubuntu etcd[60093]: set the initial cluster version to 3.4
Feb 17 14:26:58 ubuntu etcd[60093]: enabled capabilities for version 3.4
Feb 17 14:26:58 ubuntu etcd[60093]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Feb 17 14:26:58 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 17 14:31:09 ubuntu etcd[60093]: start time = 2025-02-17 14:31:09.673654312 +0000 UTC m=+252.003859313, time spent = 417.17µs, remote = 10.201.9.223:50538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 14:31:09 ubuntu etcd[60093]: start time = 2025-02-17 14:31:09.679347069 +0000 UTC m=+252.009552075, time spent = 192.311µs, remote = 10.201.9.223:50538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 14:31:16 ubuntu etcd[60093]: start time = 2025-02-17 14:31:16.455454445 +0000 UTC m=+258.785659532, time spent = 366.284µs, remote = 10.201.9.223:50538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 14:31:18 ubuntu etcd[60093]: start time = 2025-02-17 14:31:18.589276623 +0000 UTC m=+260.919481630, time spent = 232.434µs, remote = 10.201.9.223:50538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
