Jan 13 08:27:10 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 13 08:27:10 ubuntu etcd[59141]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 13 08:27:10 ubuntu etcd[59141]:         A future release of golang/protobuf will delete this package,
Jan 13 08:27:10 ubuntu etcd[59141]:         which has long been excluded from the compatibility promise.
Jan 13 08:27:10 ubuntu etcd[59141]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 13 08:27:10 ubuntu etcd[59141]: Running http and grpc server on single port. This is not recommended for production.
Jan 13 08:27:10 ubuntu etcd[59141]: etcd Version: 3.4.27
Jan 13 08:27:10 ubuntu etcd[59141]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 13 08:27:10 ubuntu etcd[59141]: Git SHA: c92fb80f3
Jan 13 08:27:10 ubuntu etcd[59141]: Go Version: go1.19.10
Jan 13 08:27:10 ubuntu etcd[59141]: Go OS/Arch: linux/amd64
Jan 13 08:27:10 ubuntu etcd[59141]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 13 08:27:10 ubuntu etcd[59141]: Running http and grpc server on single port. This is not recommended for production.
Jan 13 08:27:10 ubuntu etcd[59141]: name = ubuntu
Jan 13 08:27:10 ubuntu etcd[59141]: data dir = /opt/stack/data/etcd
Jan 13 08:27:10 ubuntu etcd[59141]: member dir = /opt/stack/data/etcd/member
Jan 13 08:27:10 ubuntu etcd[59141]: heartbeat = 100ms
Jan 13 08:27:10 ubuntu etcd[59141]: election = 1000ms
Jan 13 08:27:10 ubuntu etcd[59141]: snapshot count = 100000
Jan 13 08:27:10 ubuntu etcd[59141]: advertise client URLs = http://10.201.9.223:2379
Jan 13 08:27:10 ubuntu etcd[59141]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 13 08:27:10 ubuntu etcd[59141]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 13 08:27:10 ubuntu etcd[59141]: raft2025/01/13 08:27:10 INFO: c25b29daa831042c switched to configuration voters=()
Jan 13 08:27:10 ubuntu etcd[59141]: raft2025/01/13 08:27:10 INFO: c25b29daa831042c became follower at term 0
Jan 13 08:27:10 ubuntu etcd[59141]: raft2025/01/13 08:27:10 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 13 08:27:10 ubuntu etcd[59141]: raft2025/01/13 08:27:10 INFO: c25b29daa831042c became follower at term 1
Jan 13 08:27:10 ubuntu etcd[59141]: raft2025/01/13 08:27:10 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 13 08:27:10 ubuntu etcd[59141]: simple token is not cryptographically signed
Jan 13 08:27:10 ubuntu etcd[59141]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 13 08:27:10 ubuntu etcd[59141]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 13 08:27:10 ubuntu etcd[59141]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 13 08:27:10 ubuntu etcd[59141]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 13 08:27:10 ubuntu etcd[59141]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 13 08:27:10 ubuntu etcd[59141]: raft2025/01/13 08:27:10 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 13 08:27:10 ubuntu etcd[59141]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 13 08:27:10 ubuntu etcd[59141]: listening for peers on [::]:2380
Jan 13 08:27:11 ubuntu etcd[59141]: raft2025/01/13 08:27:11 INFO: c25b29daa831042c is starting a new election at term 1
Jan 13 08:27:11 ubuntu etcd[59141]: raft2025/01/13 08:27:11 INFO: c25b29daa831042c became candidate at term 2
Jan 13 08:27:11 ubuntu etcd[59141]: raft2025/01/13 08:27:11 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 13 08:27:11 ubuntu etcd[59141]: raft2025/01/13 08:27:11 INFO: c25b29daa831042c became leader at term 2
Jan 13 08:27:11 ubuntu etcd[59141]: raft2025/01/13 08:27:11 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 13 08:27:11 ubuntu etcd[59141]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 13 08:27:11 ubuntu etcd[59141]: ready to serve client requests
Jan 13 08:27:11 ubuntu etcd[59141]: setting up the initial cluster version to 3.4
Jan 13 08:27:11 ubuntu etcd[59141]: set the initial cluster version to 3.4
Jan 13 08:27:11 ubuntu etcd[59141]: enabled capabilities for version 3.4
Jan 13 08:27:11 ubuntu etcd[59141]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 13 08:27:11 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 13 08:31:28 ubuntu etcd[59141]: start time = 2025-01-13 08:31:28.875653906 +0000 UTC m=+258.565872859, time spent = 1.813316ms, remote = 10.201.9.223:44686, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 13 08:31:28 ubuntu etcd[59141]: start time = 2025-01-13 08:31:28.90004729 +0000 UTC m=+258.590266251, time spent = 250.328µs, remote = 10.201.9.223:44686, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 13 08:31:35 ubuntu etcd[59141]: start time = 2025-01-13 08:31:35.795798302 +0000 UTC m=+265.486017262, time spent = 176.89µs, remote = 10.201.9.223:44686, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 13 08:31:37 ubuntu etcd[59141]: start time = 2025-01-13 08:31:37.565569426 +0000 UTC m=+267.255788385, time spent = 167.809µs, remote = 10.201.9.223:44686, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
