Mar 17 19:02:11 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 17 19:02:11 ubuntu etcd[71356]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 17 19:02:11 ubuntu etcd[71356]:         A future release of golang/protobuf will delete this package,
Mar 17 19:02:11 ubuntu etcd[71356]:         which has long been excluded from the compatibility promise.
Mar 17 19:02:11 ubuntu etcd[71356]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 17 19:02:11 ubuntu etcd[71356]: Running http and grpc server on single port. This is not recommended for production.
Mar 17 19:02:11 ubuntu etcd[71356]: etcd Version: 3.4.27
Mar 17 19:02:11 ubuntu etcd[71356]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 17 19:02:11 ubuntu etcd[71356]: Git SHA: c92fb80f3
Mar 17 19:02:11 ubuntu etcd[71356]: Go Version: go1.19.10
Mar 17 19:02:11 ubuntu etcd[71356]: Go OS/Arch: linux/amd64
Mar 17 19:02:11 ubuntu etcd[71356]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 17 19:02:11 ubuntu etcd[71356]: Running http and grpc server on single port. This is not recommended for production.
Mar 17 19:02:11 ubuntu etcd[71356]: name = ubuntu
Mar 17 19:02:11 ubuntu etcd[71356]: data dir = /opt/stack/data/etcd
Mar 17 19:02:11 ubuntu etcd[71356]: member dir = /opt/stack/data/etcd/member
Mar 17 19:02:11 ubuntu etcd[71356]: heartbeat = 100ms
Mar 17 19:02:11 ubuntu etcd[71356]: election = 1000ms
Mar 17 19:02:11 ubuntu etcd[71356]: snapshot count = 100000
Mar 17 19:02:11 ubuntu etcd[71356]: advertise client URLs = http://10.201.9.223:2379
Mar 17 19:02:11 ubuntu etcd[71356]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 17 19:02:11 ubuntu etcd[71356]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 17 19:02:11 ubuntu etcd[71356]: raft2025/03/17 19:02:11 INFO: c25b29daa831042c switched to configuration voters=()
Mar 17 19:02:11 ubuntu etcd[71356]: raft2025/03/17 19:02:11 INFO: c25b29daa831042c became follower at term 0
Mar 17 19:02:11 ubuntu etcd[71356]: raft2025/03/17 19:02:11 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 17 19:02:11 ubuntu etcd[71356]: raft2025/03/17 19:02:11 INFO: c25b29daa831042c became follower at term 1
Mar 17 19:02:11 ubuntu etcd[71356]: raft2025/03/17 19:02:11 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 17 19:02:11 ubuntu etcd[71356]: simple token is not cryptographically signed
Mar 17 19:02:11 ubuntu etcd[71356]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 17 19:02:11 ubuntu etcd[71356]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 17 19:02:11 ubuntu etcd[71356]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 17 19:02:11 ubuntu etcd[71356]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 17 19:02:11 ubuntu etcd[71356]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 17 19:02:11 ubuntu etcd[71356]: raft2025/03/17 19:02:11 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 17 19:02:11 ubuntu etcd[71356]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 17 19:02:11 ubuntu etcd[71356]: listening for peers on [::]:2380
Mar 17 19:02:11 ubuntu etcd[71356]: raft2025/03/17 19:02:11 INFO: c25b29daa831042c is starting a new election at term 1
Mar 17 19:02:11 ubuntu etcd[71356]: raft2025/03/17 19:02:11 INFO: c25b29daa831042c became candidate at term 2
Mar 17 19:02:11 ubuntu etcd[71356]: raft2025/03/17 19:02:11 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 17 19:02:11 ubuntu etcd[71356]: raft2025/03/17 19:02:11 INFO: c25b29daa831042c became leader at term 2
Mar 17 19:02:11 ubuntu etcd[71356]: raft2025/03/17 19:02:11 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 17 19:02:11 ubuntu etcd[71356]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 17 19:02:11 ubuntu etcd[71356]: setting up the initial cluster version to 3.4
Mar 17 19:02:11 ubuntu etcd[71356]: ready to serve client requests
Mar 17 19:02:11 ubuntu etcd[71356]: set the initial cluster version to 3.4
Mar 17 19:02:11 ubuntu etcd[71356]: enabled capabilities for version 3.4
Mar 17 19:02:11 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 17 19:02:11 ubuntu etcd[71356]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 17 19:06:21 ubuntu etcd[71356]: start time = 2025-03-17 19:06:21.734542724 +0000 UTC m=+250.461820380, time spent = 418.54µs, remote = 10.201.9.223:47936, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 17 19:06:21 ubuntu etcd[71356]: start time = 2025-03-17 19:06:21.74563901 +0000 UTC m=+250.472916683, time spent = 226.232µs, remote = 10.201.9.223:47936, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 17 19:06:28 ubuntu etcd[71356]: start time = 2025-03-17 19:06:28.3973724 +0000 UTC m=+257.124650071, time spent = 152.978µs, remote = 10.201.9.223:47936, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 17 19:06:30 ubuntu etcd[71356]: start time = 2025-03-17 19:06:30.46501232 +0000 UTC m=+259.192289988, time spent = 372.525µs, remote = 10.201.9.223:47936, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
