Aug 16 17:11:06 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 16 17:11:06 ubuntu etcd[58712]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 16 17:11:06 ubuntu etcd[58712]:         A future release of golang/protobuf will delete this package,
Aug 16 17:11:06 ubuntu etcd[58712]:         which has long been excluded from the compatibility promise.
Aug 16 17:11:06 ubuntu etcd[58712]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 16 17:11:06 ubuntu etcd[58712]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 16 17:11:06 ubuntu etcd[58712]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 16 17:11:06 ubuntu etcd[58712]: Running http and grpc server on single port. This is not recommended for production.
Aug 16 17:11:06 ubuntu etcd[58712]: etcd Version: 3.4.27
Aug 16 17:11:06 ubuntu etcd[58712]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 16 17:11:06 ubuntu etcd[58712]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 16 17:11:06 ubuntu etcd[58712]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 16 17:11:06 ubuntu etcd[58712]: Git SHA: c92fb80f3
Aug 16 17:11:06 ubuntu etcd[58712]: Go Version: go1.19.10
Aug 16 17:11:06 ubuntu etcd[58712]: Go OS/Arch: linux/amd64
Aug 16 17:11:06 ubuntu etcd[58712]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 16 17:11:06 ubuntu etcd[58712]: Running http and grpc server on single port. This is not recommended for production.
Aug 16 17:11:06 ubuntu etcd[58712]: name = ubuntu
Aug 16 17:11:06 ubuntu etcd[58712]: data dir = /opt/stack/data/etcd
Aug 16 17:11:06 ubuntu etcd[58712]: member dir = /opt/stack/data/etcd/member
Aug 16 17:11:06 ubuntu etcd[58712]: heartbeat = 100ms
Aug 16 17:11:06 ubuntu etcd[58712]: election = 1000ms
Aug 16 17:11:06 ubuntu etcd[58712]: snapshot count = 100000
Aug 16 17:11:06 ubuntu etcd[58712]: advertise client URLs = http://10.201.4.32:2379
Aug 16 17:11:06 ubuntu etcd[58712]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 16 17:11:06 ubuntu etcd[58712]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Aug 16 17:11:06 ubuntu etcd[58712]: raft2024/08/16 17:11:06 INFO: 33238c1cdfea94eb switched to configuration voters=()
Aug 16 17:11:06 ubuntu etcd[58712]: raft2024/08/16 17:11:06 INFO: 33238c1cdfea94eb became follower at term 0
Aug 16 17:11:06 ubuntu etcd[58712]: raft2024/08/16 17:11:06 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 16 17:11:06 ubuntu etcd[58712]: raft2024/08/16 17:11:06 INFO: 33238c1cdfea94eb became follower at term 1
Aug 16 17:11:06 ubuntu etcd[58712]: raft2024/08/16 17:11:06 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 16 17:11:06 ubuntu etcd[58712]: simple token is not cryptographically signed
Aug 16 17:11:06 ubuntu etcd[58712]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 16 17:11:06 ubuntu etcd[58712]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 16 17:11:06 ubuntu etcd[58712]: raft2024/08/16 17:11:06 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Aug 16 17:11:06 ubuntu etcd[58712]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Aug 16 17:11:06 ubuntu etcd[58712]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 16 17:11:06 ubuntu etcd[58712]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 16 17:11:06 ubuntu etcd[58712]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 16 17:11:06 ubuntu etcd[58712]: listening for peers on [::]:2380
Aug 16 17:11:07 ubuntu etcd[58712]: raft2024/08/16 17:11:07 INFO: 33238c1cdfea94eb is starting a new election at term 1
Aug 16 17:11:07 ubuntu etcd[58712]: raft2024/08/16 17:11:07 INFO: 33238c1cdfea94eb became candidate at term 2
Aug 16 17:11:07 ubuntu etcd[58712]: raft2024/08/16 17:11:07 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Aug 16 17:11:07 ubuntu etcd[58712]: raft2024/08/16 17:11:07 INFO: 33238c1cdfea94eb became leader at term 2
Aug 16 17:11:07 ubuntu etcd[58712]: raft2024/08/16 17:11:07 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Aug 16 17:11:07 ubuntu etcd[58712]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Aug 16 17:11:07 ubuntu etcd[58712]: setting up the initial cluster version to 3.4
Aug 16 17:11:07 ubuntu etcd[58712]: ready to serve client requests
Aug 16 17:11:07 ubuntu etcd[58712]: INFO: 2024/08/16 17:11:07 parsed scheme: ""
Aug 16 17:11:07 ubuntu etcd[58712]: INFO: 2024/08/16 17:11:07 scheme "" not registered, fallback to default scheme
Aug 16 17:11:07 ubuntu etcd[58712]: INFO: 2024/08/16 17:11:07 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 16 17:11:07 ubuntu etcd[58712]: INFO: 2024/08/16 17:11:07 ClientConn switching balancer to "pick_first"
Aug 16 17:11:07 ubuntu etcd[58712]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Aug 16 17:11:07 ubuntu etcd[58712]: set the initial cluster version to 3.4
Aug 16 17:11:07 ubuntu etcd[58712]: enabled capabilities for version 3.4
Aug 16 17:11:07 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 16 17:15:29 ubuntu etcd[58712]: start time = 2024-08-16 17:15:29.006315695 +0000 UTC m=+262.571603296, time spent = 404.608µs, remote = 10.201.4.32:53902, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 16 17:15:29 ubuntu etcd[58712]: start time = 2024-08-16 17:15:29.017316781 +0000 UTC m=+262.582610302, time spent = 198.009µs, remote = 10.201.4.32:53902, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 16 17:15:35 ubuntu etcd[58712]: start time = 2024-08-16 17:15:35.887845741 +0000 UTC m=+269.453133342, time spent = 175.551µs, remote = 10.201.4.32:53902, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 16 17:15:38 ubuntu etcd[58712]: start time = 2024-08-16 17:15:38.074664629 +0000 UTC m=+271.639952242, time spent = 252.052µs, remote = 10.201.4.32:53902, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
