Dec 08 12:30:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 08 12:30:32 ubuntu etcd[59476]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 08 12:30:32 ubuntu etcd[59476]:         A future release of golang/protobuf will delete this package,
Dec 08 12:30:32 ubuntu etcd[59476]:         which has long been excluded from the compatibility promise.
Dec 08 12:30:32 ubuntu etcd[59476]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 08 12:30:32 ubuntu etcd[59476]: Running http and grpc server on single port. This is not recommended for production.
Dec 08 12:30:32 ubuntu etcd[59476]: etcd Version: 3.4.27
Dec 08 12:30:32 ubuntu etcd[59476]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 08 12:30:32 ubuntu etcd[59476]: Git SHA: c92fb80f3
Dec 08 12:30:32 ubuntu etcd[59476]: Go Version: go1.19.10
Dec 08 12:30:32 ubuntu etcd[59476]: Go OS/Arch: linux/amd64
Dec 08 12:30:32 ubuntu etcd[59476]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 08 12:30:32 ubuntu etcd[59476]: Running http and grpc server on single port. This is not recommended for production.
Dec 08 12:30:32 ubuntu etcd[59476]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 08 12:30:32 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 08 12:30:32 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 08 12:30:32 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 08 12:30:32 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 08 12:30:32 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 08 12:30:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 08 12:30:32 ubuntu etcd[59591]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 08 12:30:32 ubuntu etcd[59591]:         A future release of golang/protobuf will delete this package,
Dec 08 12:30:32 ubuntu etcd[59591]:         which has long been excluded from the compatibility promise.
Dec 08 12:30:32 ubuntu etcd[59591]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 08 12:30:32 ubuntu etcd[59591]: Running http and grpc server on single port. This is not recommended for production.
Dec 08 12:30:32 ubuntu etcd[59591]: etcd Version: 3.4.27
Dec 08 12:30:32 ubuntu etcd[59591]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 08 12:30:32 ubuntu etcd[59591]: Git SHA: c92fb80f3
Dec 08 12:30:32 ubuntu etcd[59591]: Go Version: go1.19.10
Dec 08 12:30:32 ubuntu etcd[59591]: Go OS/Arch: linux/amd64
Dec 08 12:30:32 ubuntu etcd[59591]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 08 12:30:32 ubuntu etcd[59591]: Running http and grpc server on single port. This is not recommended for production.
Dec 08 12:30:32 ubuntu etcd[59591]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 08 12:30:32 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 08 12:30:32 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 08 12:30:32 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 08 12:30:32 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 08 12:30:32 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 08 12:30:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 08 12:30:32 ubuntu etcd[59648]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 08 12:30:32 ubuntu etcd[59648]:         A future release of golang/protobuf will delete this package,
Dec 08 12:30:32 ubuntu etcd[59648]:         which has long been excluded from the compatibility promise.
Dec 08 12:30:32 ubuntu etcd[59648]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 08 12:30:32 ubuntu etcd[59648]: Running http and grpc server on single port. This is not recommended for production.
Dec 08 12:30:32 ubuntu etcd[59648]: etcd Version: 3.4.27
Dec 08 12:30:32 ubuntu etcd[59648]: Git SHA: c92fb80f3
Dec 08 12:30:32 ubuntu etcd[59648]: Go Version: go1.19.10
Dec 08 12:30:32 ubuntu etcd[59648]: Go OS/Arch: linux/amd64
Dec 08 12:30:32 ubuntu etcd[59648]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 08 12:30:32 ubuntu etcd[59648]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 08 12:30:32 ubuntu etcd[59648]: Running http and grpc server on single port. This is not recommended for production.
Dec 08 12:30:32 ubuntu etcd[59648]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 08 12:30:32 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 08 12:30:32 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 08 12:30:32 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 08 12:30:32 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 08 12:30:32 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 08 12:30:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 08 12:30:32 ubuntu etcd[59676]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 08 12:30:32 ubuntu etcd[59676]:         A future release of golang/protobuf will delete this package,
Dec 08 12:30:32 ubuntu etcd[59676]:         which has long been excluded from the compatibility promise.
Dec 08 12:30:32 ubuntu etcd[59676]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 08 12:30:32 ubuntu etcd[59676]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 08 12:30:32 ubuntu etcd[59676]: Running http and grpc server on single port. This is not recommended for production.
Dec 08 12:30:32 ubuntu etcd[59676]: etcd Version: 3.4.27
Dec 08 12:30:32 ubuntu etcd[59676]: Git SHA: c92fb80f3
Dec 08 12:30:32 ubuntu etcd[59676]: Go Version: go1.19.10
Dec 08 12:30:32 ubuntu etcd[59676]: Go OS/Arch: linux/amd64
Dec 08 12:30:32 ubuntu etcd[59676]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 08 12:30:32 ubuntu etcd[59676]: Running http and grpc server on single port. This is not recommended for production.
Dec 08 12:30:32 ubuntu etcd[59676]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 08 12:30:32 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 08 12:30:32 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 08 12:30:32 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 08 12:30:33 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 08 12:30:33 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 08 12:30:33 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 08 12:30:33 ubuntu etcd[59697]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 08 12:30:33 ubuntu etcd[59697]:         A future release of golang/protobuf will delete this package,
Dec 08 12:30:33 ubuntu etcd[59697]:         which has long been excluded from the compatibility promise.
Dec 08 12:30:33 ubuntu etcd[59697]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 08 12:30:33 ubuntu etcd[59697]: Running http and grpc server on single port. This is not recommended for production.
Dec 08 12:30:33 ubuntu etcd[59697]: etcd Version: 3.4.27
Dec 08 12:30:33 ubuntu etcd[59697]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 08 12:30:33 ubuntu etcd[59697]: Git SHA: c92fb80f3
Dec 08 12:30:33 ubuntu etcd[59697]: Go Version: go1.19.10
Dec 08 12:30:33 ubuntu etcd[59697]: Go OS/Arch: linux/amd64
Dec 08 12:30:33 ubuntu etcd[59697]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 08 12:30:33 ubuntu etcd[59697]: Running http and grpc server on single port. This is not recommended for production.
Dec 08 12:30:33 ubuntu etcd[59697]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 08 12:30:33 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 08 12:30:33 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 08 12:30:33 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 08 12:30:33 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 08 12:30:33 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 08 12:30:33 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 08 12:30:33 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 08 12:30:33 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
