Dec 08 17:36:25 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 08 17:36:25 ubuntu etcd[59012]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 08 17:36:25 ubuntu etcd[59012]:         A future release of golang/protobuf will delete this package,
Dec 08 17:36:25 ubuntu etcd[59012]:         which has long been excluded from the compatibility promise.
Dec 08 17:36:25 ubuntu etcd[59012]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 08 17:36:25 ubuntu etcd[59012]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 08 17:36:25 ubuntu etcd[59012]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 08 17:36:25 ubuntu etcd[59012]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 08 17:36:25 ubuntu etcd[59012]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 08 17:36:25 ubuntu etcd[59012]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 08 17:36:25 ubuntu etcd[59012]: Running http and grpc server on single port. This is not recommended for production.
Dec 08 17:36:25 ubuntu etcd[59012]: etcd Version: 3.4.27
Dec 08 17:36:25 ubuntu etcd[59012]: Git SHA: c92fb80f3
Dec 08 17:36:25 ubuntu etcd[59012]: Go Version: go1.19.10
Dec 08 17:36:25 ubuntu etcd[59012]: Go OS/Arch: linux/amd64
Dec 08 17:36:25 ubuntu etcd[59012]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 08 17:36:25 ubuntu etcd[59012]: Running http and grpc server on single port. This is not recommended for production.
Dec 08 17:36:25 ubuntu etcd[59012]: name = ubuntu
Dec 08 17:36:25 ubuntu etcd[59012]: data dir = /opt/stack/data/etcd
Dec 08 17:36:25 ubuntu etcd[59012]: member dir = /opt/stack/data/etcd/member
Dec 08 17:36:25 ubuntu etcd[59012]: heartbeat = 100ms
Dec 08 17:36:25 ubuntu etcd[59012]: election = 1000ms
Dec 08 17:36:25 ubuntu etcd[59012]: snapshot count = 100000
Dec 08 17:36:25 ubuntu etcd[59012]: advertise client URLs = http://10.201.4.32:2379
Dec 08 17:36:25 ubuntu etcd[59012]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 08 17:36:25 ubuntu etcd[59012]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 08 17:36:25 ubuntu etcd[59012]: raft2023/12/08 17:36:25 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 08 17:36:25 ubuntu etcd[59012]: raft2023/12/08 17:36:25 INFO: 33238c1cdfea94eb became follower at term 0
Dec 08 17:36:25 ubuntu etcd[59012]: raft2023/12/08 17:36:25 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 08 17:36:25 ubuntu etcd[59012]: raft2023/12/08 17:36:25 INFO: 33238c1cdfea94eb became follower at term 1
Dec 08 17:36:25 ubuntu etcd[59012]: raft2023/12/08 17:36:25 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 08 17:36:25 ubuntu etcd[59012]: simple token is not cryptographically signed
Dec 08 17:36:25 ubuntu etcd[59012]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 08 17:36:25 ubuntu etcd[59012]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 08 17:36:25 ubuntu etcd[59012]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 08 17:36:25 ubuntu etcd[59012]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 08 17:36:25 ubuntu etcd[59012]: raft2023/12/08 17:36:25 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 08 17:36:25 ubuntu etcd[59012]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 08 17:36:25 ubuntu etcd[59012]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 08 17:36:25 ubuntu etcd[59012]: listening for peers on [::]:2380
Dec 08 17:36:25 ubuntu etcd[59012]: raft2023/12/08 17:36:25 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 08 17:36:25 ubuntu etcd[59012]: raft2023/12/08 17:36:25 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 08 17:36:25 ubuntu etcd[59012]: raft2023/12/08 17:36:25 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 08 17:36:25 ubuntu etcd[59012]: raft2023/12/08 17:36:25 INFO: 33238c1cdfea94eb became leader at term 2
Dec 08 17:36:25 ubuntu etcd[59012]: raft2023/12/08 17:36:25 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 08 17:36:25 ubuntu etcd[59012]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 08 17:36:25 ubuntu etcd[59012]: setting up the initial cluster version to 3.4
Dec 08 17:36:25 ubuntu etcd[59012]: ready to serve client requests
Dec 08 17:36:25 ubuntu etcd[59012]: set the initial cluster version to 3.4
Dec 08 17:36:25 ubuntu etcd[59012]: INFO: 2023/12/08 17:36:25 parsed scheme: ""
Dec 08 17:36:25 ubuntu etcd[59012]: INFO: 2023/12/08 17:36:25 scheme "" not registered, fallback to default scheme
Dec 08 17:36:25 ubuntu etcd[59012]: INFO: 2023/12/08 17:36:25 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Dec 08 17:36:25 ubuntu etcd[59012]: enabled capabilities for version 3.4
Dec 08 17:36:25 ubuntu etcd[59012]: INFO: 2023/12/08 17:36:25 ClientConn switching balancer to "pick_first"
Dec 08 17:36:25 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 08 17:36:25 ubuntu etcd[59012]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 08 17:40:56 ubuntu etcd[59012]: start time = 2023-12-08 17:40:56.851652917 +0000 UTC m=+271.512426366, time spent = 465.657µs, remote = 10.201.4.32:53738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 08 17:40:56 ubuntu etcd[59012]: start time = 2023-12-08 17:40:56.871286468 +0000 UTC m=+271.532059908, time spent = 200.728µs, remote = 10.201.4.32:53738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 08 17:41:03 ubuntu etcd[59012]: start time = 2023-12-08 17:41:03.316177257 +0000 UTC m=+277.976950712, time spent = 190.172µs, remote = 10.201.4.32:53738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 08 17:41:05 ubuntu etcd[59012]: start time = 2023-12-08 17:41:05.430404958 +0000 UTC m=+280.091178408, time spent = 183.208µs, remote = 10.201.4.32:53738, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
