Dec 07 23:41:33 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 23:41:33 ubuntu etcd[58921]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 23:41:33 ubuntu etcd[58921]:         A future release of golang/protobuf will delete this package,
Dec 07 23:41:33 ubuntu etcd[58921]:         which has long been excluded from the compatibility promise.
Dec 07 23:41:33 ubuntu etcd[58921]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:41:33 ubuntu etcd[58921]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:41:33 ubuntu etcd[58921]: etcd Version: 3.4.27
Dec 07 23:41:33 ubuntu etcd[58921]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:41:33 ubuntu etcd[58921]: Git SHA: c92fb80f3
Dec 07 23:41:33 ubuntu etcd[58921]: Go Version: go1.19.10
Dec 07 23:41:33 ubuntu etcd[58921]: Go OS/Arch: linux/amd64
Dec 07 23:41:33 ubuntu etcd[58921]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 23:41:33 ubuntu etcd[58921]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:41:33 ubuntu etcd[58921]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 07 23:41:33 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 07 23:41:33 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 23:41:33 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 07 23:41:33 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 1.
Dec 07 23:41:33 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 07 23:41:33 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 23:41:33 ubuntu etcd[59037]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 23:41:33 ubuntu etcd[59037]:         A future release of golang/protobuf will delete this package,
Dec 07 23:41:33 ubuntu etcd[59037]:         which has long been excluded from the compatibility promise.
Dec 07 23:41:33 ubuntu etcd[59037]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:41:33 ubuntu etcd[59037]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:41:33 ubuntu etcd[59037]: etcd Version: 3.4.27
Dec 07 23:41:33 ubuntu etcd[59037]: Git SHA: c92fb80f3
Dec 07 23:41:33 ubuntu etcd[59037]: Go Version: go1.19.10
Dec 07 23:41:33 ubuntu etcd[59037]: Go OS/Arch: linux/amd64
Dec 07 23:41:33 ubuntu etcd[59037]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 23:41:33 ubuntu etcd[59037]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:41:33 ubuntu etcd[59037]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:41:33 ubuntu etcd[59037]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 07 23:41:33 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 07 23:41:33 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 23:41:33 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 07 23:41:33 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 2.
Dec 07 23:41:33 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 07 23:41:33 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 23:41:33 ubuntu etcd[59110]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 23:41:33 ubuntu etcd[59110]:         A future release of golang/protobuf will delete this package,
Dec 07 23:41:33 ubuntu etcd[59110]:         which has long been excluded from the compatibility promise.
Dec 07 23:41:33 ubuntu etcd[59110]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:41:33 ubuntu etcd[59110]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:41:33 ubuntu etcd[59110]: etcd Version: 3.4.27
Dec 07 23:41:33 ubuntu etcd[59110]: Git SHA: c92fb80f3
Dec 07 23:41:33 ubuntu etcd[59110]: Go Version: go1.19.10
Dec 07 23:41:33 ubuntu etcd[59110]: Go OS/Arch: linux/amd64
Dec 07 23:41:33 ubuntu etcd[59110]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 23:41:33 ubuntu etcd[59110]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:41:33 ubuntu etcd[59110]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:41:33 ubuntu etcd[59110]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 07 23:41:33 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 07 23:41:33 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 23:41:33 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 07 23:41:34 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 3.
Dec 07 23:41:34 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 07 23:41:34 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 23:41:34 ubuntu etcd[59120]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 23:41:34 ubuntu etcd[59120]:         A future release of golang/protobuf will delete this package,
Dec 07 23:41:34 ubuntu etcd[59120]:         which has long been excluded from the compatibility promise.
Dec 07 23:41:34 ubuntu etcd[59120]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:41:34 ubuntu etcd[59120]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:41:34 ubuntu etcd[59120]: etcd Version: 3.4.27
Dec 07 23:41:34 ubuntu etcd[59120]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:41:34 ubuntu etcd[59120]: Git SHA: c92fb80f3
Dec 07 23:41:34 ubuntu etcd[59120]: Go Version: go1.19.10
Dec 07 23:41:34 ubuntu etcd[59120]: Go OS/Arch: linux/amd64
Dec 07 23:41:34 ubuntu etcd[59120]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 23:41:34 ubuntu etcd[59120]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:41:34 ubuntu etcd[59120]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 07 23:41:34 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 07 23:41:34 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 23:41:34 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 07 23:41:34 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 4.
Dec 07 23:41:34 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 07 23:41:34 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 23:41:34 ubuntu etcd[59142]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 23:41:34 ubuntu etcd[59142]:         A future release of golang/protobuf will delete this package,
Dec 07 23:41:34 ubuntu etcd[59142]:         which has long been excluded from the compatibility promise.
Dec 07 23:41:34 ubuntu etcd[59142]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:41:34 ubuntu etcd[59142]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:41:34 ubuntu etcd[59142]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 23:41:34 ubuntu etcd[59142]: etcd Version: 3.4.27
Dec 07 23:41:34 ubuntu etcd[59142]: Git SHA: c92fb80f3
Dec 07 23:41:34 ubuntu etcd[59142]: Go Version: go1.19.10
Dec 07 23:41:34 ubuntu etcd[59142]: Go OS/Arch: linux/amd64
Dec 07 23:41:34 ubuntu etcd[59142]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 23:41:34 ubuntu etcd[59142]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 23:41:34 ubuntu etcd[59142]: listen tcp 10.201.4.32:2379: bind: cannot assign requested address
Dec 07 23:41:34 ubuntu systemd[1]: devstack@etcd.service: Main process exited, code=exited, status=1/FAILURE
Dec 07 23:41:34 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 23:41:34 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
Dec 07 23:41:34 ubuntu systemd[1]: devstack@etcd.service: Scheduled restart job, restart counter is at 5.
Dec 07 23:41:34 ubuntu systemd[1]: Stopped Devstack devstack@etcd.service.
Dec 07 23:41:34 ubuntu systemd[1]: devstack@etcd.service: Start request repeated too quickly.
Dec 07 23:41:34 ubuntu systemd[1]: devstack@etcd.service: Failed with result 'exit-code'.
Dec 07 23:41:34 ubuntu systemd[1]: Failed to start Devstack devstack@etcd.service.
