Jul 08 18:06:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 08 18:06:37 ubuntu etcd[58949]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 08 18:06:37 ubuntu etcd[58949]:         A future release of golang/protobuf will delete this package,
Jul 08 18:06:37 ubuntu etcd[58949]:         which has long been excluded from the compatibility promise.
Jul 08 18:06:37 ubuntu etcd[58949]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 18:06:37 ubuntu etcd[58949]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 18:06:37 ubuntu etcd[58949]: etcd Version: 3.4.27
Jul 08 18:06:37 ubuntu etcd[58949]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 18:06:37 ubuntu etcd[58949]: Git SHA: c92fb80f3
Jul 08 18:06:37 ubuntu etcd[58949]: Go Version: go1.19.10
Jul 08 18:06:37 ubuntu etcd[58949]: Go OS/Arch: linux/amd64
Jul 08 18:06:37 ubuntu etcd[58949]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 08 18:06:37 ubuntu etcd[58949]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 18:06:37 ubuntu etcd[58949]: name = ubuntu
Jul 08 18:06:37 ubuntu etcd[58949]: data dir = /opt/stack/data/etcd
Jul 08 18:06:37 ubuntu etcd[58949]: member dir = /opt/stack/data/etcd/member
Jul 08 18:06:37 ubuntu etcd[58949]: heartbeat = 100ms
Jul 08 18:06:37 ubuntu etcd[58949]: election = 1000ms
Jul 08 18:06:37 ubuntu etcd[58949]: snapshot count = 100000
Jul 08 18:06:37 ubuntu etcd[58949]: advertise client URLs = http://10.201.9.223:2379
Jul 08 18:06:37 ubuntu etcd[58949]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 08 18:06:37 ubuntu etcd[58949]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 08 18:06:37 ubuntu etcd[58949]: raft2025/07/08 18:06:37 INFO: c25b29daa831042c switched to configuration voters=()
Jul 08 18:06:37 ubuntu etcd[58949]: raft2025/07/08 18:06:37 INFO: c25b29daa831042c became follower at term 0
Jul 08 18:06:37 ubuntu etcd[58949]: raft2025/07/08 18:06:37 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 08 18:06:37 ubuntu etcd[58949]: raft2025/07/08 18:06:37 INFO: c25b29daa831042c became follower at term 1
Jul 08 18:06:37 ubuntu etcd[58949]: raft2025/07/08 18:06:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 08 18:06:37 ubuntu etcd[58949]: simple token is not cryptographically signed
Jul 08 18:06:37 ubuntu etcd[58949]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 08 18:06:37 ubuntu etcd[58949]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 08 18:06:37 ubuntu etcd[58949]: raft2025/07/08 18:06:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 08 18:06:37 ubuntu etcd[58949]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 08 18:06:37 ubuntu etcd[58949]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 08 18:06:37 ubuntu etcd[58949]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 08 18:06:37 ubuntu etcd[58949]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 08 18:06:37 ubuntu etcd[58949]: listening for peers on [::]:2380
Jul 08 18:06:38 ubuntu etcd[58949]: raft2025/07/08 18:06:38 INFO: c25b29daa831042c is starting a new election at term 1
Jul 08 18:06:38 ubuntu etcd[58949]: raft2025/07/08 18:06:38 INFO: c25b29daa831042c became candidate at term 2
Jul 08 18:06:38 ubuntu etcd[58949]: raft2025/07/08 18:06:38 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 08 18:06:38 ubuntu etcd[58949]: raft2025/07/08 18:06:38 INFO: c25b29daa831042c became leader at term 2
Jul 08 18:06:38 ubuntu etcd[58949]: raft2025/07/08 18:06:38 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 08 18:06:38 ubuntu etcd[58949]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 08 18:06:38 ubuntu etcd[58949]: ready to serve client requests
Jul 08 18:06:38 ubuntu etcd[58949]: setting up the initial cluster version to 3.4
Jul 08 18:06:38 ubuntu etcd[58949]: set the initial cluster version to 3.4
Jul 08 18:06:38 ubuntu etcd[58949]: enabled capabilities for version 3.4
Jul 08 18:06:38 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 08 18:06:38 ubuntu etcd[58949]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 08 18:10:46 ubuntu etcd[58949]: start time = 2025-07-08 18:10:46.479362047 +0000 UTC m=+248.635442940, time spent = 461.661µs, remote = 10.201.9.223:43250, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 18:10:46 ubuntu etcd[58949]: start time = 2025-07-08 18:10:46.500562339 +0000 UTC m=+248.656643248, time spent = 192.7µs, remote = 10.201.9.223:43250, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 18:10:52 ubuntu etcd[58949]: start time = 2025-07-08 18:10:52.880215825 +0000 UTC m=+255.036296731, time spent = 149.601µs, remote = 10.201.9.223:43250, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 18:10:55 ubuntu etcd[58949]: start time = 2025-07-08 18:10:55.063042161 +0000 UTC m=+257.219123067, time spent = 821.726µs, remote = 10.201.9.223:43250, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
