Mar 13 09:14:03 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 13 09:14:03 ubuntu etcd[60398]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 13 09:14:03 ubuntu etcd[60398]:         A future release of golang/protobuf will delete this package,
Mar 13 09:14:03 ubuntu etcd[60398]:         which has long been excluded from the compatibility promise.
Mar 13 09:14:03 ubuntu etcd[60398]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 13 09:14:03 ubuntu etcd[60398]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 13 09:14:03 ubuntu etcd[60398]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 13 09:14:03 ubuntu etcd[60398]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 13 09:14:03 ubuntu etcd[60398]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 13 09:14:03 ubuntu etcd[60398]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 13 09:14:03 ubuntu etcd[60398]: Running http and grpc server on single port. This is not recommended for production.
Mar 13 09:14:03 ubuntu etcd[60398]: etcd Version: 3.4.27
Mar 13 09:14:03 ubuntu etcd[60398]: Git SHA: c92fb80f3
Mar 13 09:14:03 ubuntu etcd[60398]: Go Version: go1.19.10
Mar 13 09:14:03 ubuntu etcd[60398]: Go OS/Arch: linux/amd64
Mar 13 09:14:03 ubuntu etcd[60398]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 13 09:14:03 ubuntu etcd[60398]: Running http and grpc server on single port. This is not recommended for production.
Mar 13 09:14:03 ubuntu etcd[60398]: name = ubuntu
Mar 13 09:14:03 ubuntu etcd[60398]: data dir = /opt/stack/data/etcd
Mar 13 09:14:03 ubuntu etcd[60398]: member dir = /opt/stack/data/etcd/member
Mar 13 09:14:03 ubuntu etcd[60398]: heartbeat = 100ms
Mar 13 09:14:03 ubuntu etcd[60398]: election = 1000ms
Mar 13 09:14:03 ubuntu etcd[60398]: snapshot count = 100000
Mar 13 09:14:03 ubuntu etcd[60398]: advertise client URLs = http://10.201.4.32:2379
Mar 13 09:14:03 ubuntu etcd[60398]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 13 09:14:03 ubuntu etcd[60398]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 13 09:14:03 ubuntu etcd[60398]: raft2024/03/13 09:14:03 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 13 09:14:03 ubuntu etcd[60398]: raft2024/03/13 09:14:03 INFO: 33238c1cdfea94eb became follower at term 0
Mar 13 09:14:03 ubuntu etcd[60398]: raft2024/03/13 09:14:03 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 13 09:14:03 ubuntu etcd[60398]: raft2024/03/13 09:14:03 INFO: 33238c1cdfea94eb became follower at term 1
Mar 13 09:14:03 ubuntu etcd[60398]: raft2024/03/13 09:14:03 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 13 09:14:03 ubuntu etcd[60398]: simple token is not cryptographically signed
Mar 13 09:14:03 ubuntu etcd[60398]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 13 09:14:03 ubuntu etcd[60398]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 13 09:14:03 ubuntu etcd[60398]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 13 09:14:03 ubuntu etcd[60398]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 13 09:14:03 ubuntu etcd[60398]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 13 09:14:03 ubuntu etcd[60398]: raft2024/03/13 09:14:03 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 13 09:14:03 ubuntu etcd[60398]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 13 09:14:03 ubuntu etcd[60398]: listening for peers on [::]:2380
Mar 13 09:14:03 ubuntu etcd[60398]: raft2024/03/13 09:14:03 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 13 09:14:03 ubuntu etcd[60398]: raft2024/03/13 09:14:03 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 13 09:14:03 ubuntu etcd[60398]: raft2024/03/13 09:14:03 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 13 09:14:03 ubuntu etcd[60398]: raft2024/03/13 09:14:03 INFO: 33238c1cdfea94eb became leader at term 2
Mar 13 09:14:03 ubuntu etcd[60398]: raft2024/03/13 09:14:03 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 13 09:14:03 ubuntu etcd[60398]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 13 09:14:03 ubuntu etcd[60398]: ready to serve client requests
Mar 13 09:14:03 ubuntu etcd[60398]: INFO: 2024/03/13 09:14:03 parsed scheme: ""
Mar 13 09:14:03 ubuntu etcd[60398]: INFO: 2024/03/13 09:14:03 scheme "" not registered, fallback to default scheme
Mar 13 09:14:03 ubuntu etcd[60398]: INFO: 2024/03/13 09:14:03 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 13 09:14:03 ubuntu etcd[60398]: INFO: 2024/03/13 09:14:03 ClientConn switching balancer to "pick_first"
Mar 13 09:14:03 ubuntu etcd[60398]: setting up the initial cluster version to 3.4
Mar 13 09:14:03 ubuntu etcd[60398]: set the initial cluster version to 3.4
Mar 13 09:14:03 ubuntu etcd[60398]: enabled capabilities for version 3.4
Mar 13 09:14:03 ubuntu etcd[60398]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 13 09:14:03 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 13 09:18:21 ubuntu etcd[60398]: start time = 2024-03-13 09:18:21.452305743 +0000 UTC m=+258.129023359, time spent = 418.022µs, remote = 10.201.4.32:50968, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 13 09:18:21 ubuntu etcd[60398]: start time = 2024-03-13 09:18:21.584689941 +0000 UTC m=+258.261407569, time spent = 177.433µs, remote = 10.201.4.32:50968, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 13 09:18:28 ubuntu etcd[60398]: start time = 2024-03-13 09:18:28.212847497 +0000 UTC m=+264.889565114, time spent = 150.398µs, remote = 10.201.4.32:50968, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 13 09:18:30 ubuntu etcd[60398]: start time = 2024-03-13 09:18:30.484560671 +0000 UTC m=+267.161278298, time spent = 311.005µs, remote = 10.201.4.32:50968, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
