Jun 03 08:47:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 03 08:47:46 ubuntu etcd[58997]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 03 08:47:46 ubuntu etcd[58997]:         A future release of golang/protobuf will delete this package,
Jun 03 08:47:46 ubuntu etcd[58997]:         which has long been excluded from the compatibility promise.
Jun 03 08:47:46 ubuntu etcd[58997]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 03 08:47:46 ubuntu etcd[58997]: Running http and grpc server on single port. This is not recommended for production.
Jun 03 08:47:46 ubuntu etcd[58997]: etcd Version: 3.4.27
Jun 03 08:47:46 ubuntu etcd[58997]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 03 08:47:46 ubuntu etcd[58997]: Git SHA: c92fb80f3
Jun 03 08:47:46 ubuntu etcd[58997]: Go Version: go1.19.10
Jun 03 08:47:46 ubuntu etcd[58997]: Go OS/Arch: linux/amd64
Jun 03 08:47:46 ubuntu etcd[58997]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 03 08:47:46 ubuntu etcd[58997]: Running http and grpc server on single port. This is not recommended for production.
Jun 03 08:47:46 ubuntu etcd[58997]: name = ubuntu
Jun 03 08:47:46 ubuntu etcd[58997]: data dir = /opt/stack/data/etcd
Jun 03 08:47:46 ubuntu etcd[58997]: member dir = /opt/stack/data/etcd/member
Jun 03 08:47:46 ubuntu etcd[58997]: heartbeat = 100ms
Jun 03 08:47:46 ubuntu etcd[58997]: election = 1000ms
Jun 03 08:47:46 ubuntu etcd[58997]: snapshot count = 100000
Jun 03 08:47:46 ubuntu etcd[58997]: advertise client URLs = http://10.201.9.223:2379
Jun 03 08:47:46 ubuntu etcd[58997]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 03 08:47:46 ubuntu etcd[58997]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 03 08:47:46 ubuntu etcd[58997]: raft2025/06/03 08:47:46 INFO: c25b29daa831042c switched to configuration voters=()
Jun 03 08:47:46 ubuntu etcd[58997]: raft2025/06/03 08:47:46 INFO: c25b29daa831042c became follower at term 0
Jun 03 08:47:46 ubuntu etcd[58997]: raft2025/06/03 08:47:46 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 03 08:47:46 ubuntu etcd[58997]: raft2025/06/03 08:47:46 INFO: c25b29daa831042c became follower at term 1
Jun 03 08:47:46 ubuntu etcd[58997]: raft2025/06/03 08:47:46 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 03 08:47:46 ubuntu etcd[58997]: simple token is not cryptographically signed
Jun 03 08:47:46 ubuntu etcd[58997]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 03 08:47:46 ubuntu etcd[58997]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 03 08:47:46 ubuntu etcd[58997]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 03 08:47:46 ubuntu etcd[58997]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 03 08:47:46 ubuntu etcd[58997]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 03 08:47:46 ubuntu etcd[58997]: raft2025/06/03 08:47:46 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 03 08:47:46 ubuntu etcd[58997]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 03 08:47:46 ubuntu etcd[58997]: listening for peers on [::]:2380
Jun 03 08:47:47 ubuntu etcd[58997]: raft2025/06/03 08:47:47 INFO: c25b29daa831042c is starting a new election at term 1
Jun 03 08:47:47 ubuntu etcd[58997]: raft2025/06/03 08:47:47 INFO: c25b29daa831042c became candidate at term 2
Jun 03 08:47:47 ubuntu etcd[58997]: raft2025/06/03 08:47:47 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 03 08:47:47 ubuntu etcd[58997]: raft2025/06/03 08:47:47 INFO: c25b29daa831042c became leader at term 2
Jun 03 08:47:47 ubuntu etcd[58997]: raft2025/06/03 08:47:47 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 03 08:47:47 ubuntu etcd[58997]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 03 08:47:47 ubuntu etcd[58997]: setting up the initial cluster version to 3.4
Jun 03 08:47:47 ubuntu etcd[58997]: ready to serve client requests
Jun 03 08:47:47 ubuntu etcd[58997]: set the initial cluster version to 3.4
Jun 03 08:47:47 ubuntu etcd[58997]: enabled capabilities for version 3.4
Jun 03 08:47:47 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 03 08:47:47 ubuntu etcd[58997]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 03 08:51:53 ubuntu etcd[58997]: start time = 2025-06-03 08:51:53.754439234 +0000 UTC m=+247.164300640, time spent = 484.07µs, remote = 10.201.9.223:34786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 08:51:53 ubuntu etcd[58997]: start time = 2025-06-03 08:51:53.773047531 +0000 UTC m=+247.182908956, time spent = 195.427µs, remote = 10.201.9.223:34786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 08:52:00 ubuntu etcd[58997]: start time = 2025-06-03 08:52:00.715160309 +0000 UTC m=+254.125021730, time spent = 215.591µs, remote = 10.201.9.223:34786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 08:52:02 ubuntu etcd[58997]: start time = 2025-06-03 08:52:02.867599969 +0000 UTC m=+256.277461393, time spent = 320.036µs, remote = 10.201.9.223:34786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
