Jan 15 07:27:11 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 15 07:27:11 ubuntu etcd[59465]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 15 07:27:11 ubuntu etcd[59465]:         A future release of golang/protobuf will delete this package,
Jan 15 07:27:11 ubuntu etcd[59465]:         which has long been excluded from the compatibility promise.
Jan 15 07:27:11 ubuntu etcd[59465]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 15 07:27:11 ubuntu etcd[59465]: Running http and grpc server on single port. This is not recommended for production.
Jan 15 07:27:11 ubuntu etcd[59465]: etcd Version: 3.4.27
Jan 15 07:27:11 ubuntu etcd[59465]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 15 07:27:11 ubuntu etcd[59465]: Git SHA: c92fb80f3
Jan 15 07:27:11 ubuntu etcd[59465]: Go Version: go1.19.10
Jan 15 07:27:11 ubuntu etcd[59465]: Go OS/Arch: linux/amd64
Jan 15 07:27:11 ubuntu etcd[59465]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 15 07:27:11 ubuntu etcd[59465]: Running http and grpc server on single port. This is not recommended for production.
Jan 15 07:27:11 ubuntu etcd[59465]: name = ubuntu
Jan 15 07:27:11 ubuntu etcd[59465]: data dir = /opt/stack/data/etcd
Jan 15 07:27:11 ubuntu etcd[59465]: member dir = /opt/stack/data/etcd/member
Jan 15 07:27:11 ubuntu etcd[59465]: heartbeat = 100ms
Jan 15 07:27:11 ubuntu etcd[59465]: election = 1000ms
Jan 15 07:27:11 ubuntu etcd[59465]: snapshot count = 100000
Jan 15 07:27:11 ubuntu etcd[59465]: advertise client URLs = http://10.201.9.223:2379
Jan 15 07:27:11 ubuntu etcd[59465]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 15 07:27:12 ubuntu etcd[59465]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 15 07:27:12 ubuntu etcd[59465]: raft2025/01/15 07:27:12 INFO: c25b29daa831042c switched to configuration voters=()
Jan 15 07:27:12 ubuntu etcd[59465]: raft2025/01/15 07:27:12 INFO: c25b29daa831042c became follower at term 0
Jan 15 07:27:12 ubuntu etcd[59465]: raft2025/01/15 07:27:12 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 15 07:27:12 ubuntu etcd[59465]: raft2025/01/15 07:27:12 INFO: c25b29daa831042c became follower at term 1
Jan 15 07:27:12 ubuntu etcd[59465]: raft2025/01/15 07:27:12 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 15 07:27:12 ubuntu etcd[59465]: simple token is not cryptographically signed
Jan 15 07:27:12 ubuntu etcd[59465]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 15 07:27:12 ubuntu etcd[59465]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 15 07:27:12 ubuntu etcd[59465]: raft2025/01/15 07:27:12 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 15 07:27:12 ubuntu etcd[59465]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 15 07:27:12 ubuntu etcd[59465]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 15 07:27:12 ubuntu etcd[59465]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 15 07:27:12 ubuntu etcd[59465]: listening for peers on [::]:2380
Jan 15 07:27:12 ubuntu etcd[59465]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 15 07:27:12 ubuntu etcd[59465]: raft2025/01/15 07:27:12 INFO: c25b29daa831042c is starting a new election at term 1
Jan 15 07:27:12 ubuntu etcd[59465]: raft2025/01/15 07:27:12 INFO: c25b29daa831042c became candidate at term 2
Jan 15 07:27:12 ubuntu etcd[59465]: raft2025/01/15 07:27:12 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 15 07:27:12 ubuntu etcd[59465]: raft2025/01/15 07:27:12 INFO: c25b29daa831042c became leader at term 2
Jan 15 07:27:12 ubuntu etcd[59465]: raft2025/01/15 07:27:12 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 15 07:27:12 ubuntu etcd[59465]: ready to serve client requests
Jan 15 07:27:12 ubuntu etcd[59465]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 15 07:27:12 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 15 07:27:12 ubuntu etcd[59465]: setting up the initial cluster version to 3.4
Jan 15 07:27:12 ubuntu etcd[59465]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 15 07:27:12 ubuntu etcd[59465]: set the initial cluster version to 3.4
Jan 15 07:27:12 ubuntu etcd[59465]: enabled capabilities for version 3.4
Jan 15 07:31:29 ubuntu etcd[59465]: start time = 2025-01-15 07:31:29.090606522 +0000 UTC m=+257.117416260, time spent = 479.064µs, remote = 10.201.9.223:57042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 15 07:31:29 ubuntu etcd[59465]: start time = 2025-01-15 07:31:29.103627211 +0000 UTC m=+257.130436964, time spent = 185.269µs, remote = 10.201.9.223:57042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 15 07:31:35 ubuntu etcd[59465]: start time = 2025-01-15 07:31:35.898097652 +0000 UTC m=+263.924907397, time spent = 419.83µs, remote = 10.201.9.223:57042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 15 07:31:38 ubuntu etcd[59465]: start time = 2025-01-15 07:31:38.185065353 +0000 UTC m=+266.211875104, time spent = 188.809µs, remote = 10.201.9.223:57042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
