Jun 02 14:10:21 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 02 14:10:21 ubuntu etcd[58912]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 02 14:10:21 ubuntu etcd[58912]:         A future release of golang/protobuf will delete this package,
Jun 02 14:10:21 ubuntu etcd[58912]:         which has long been excluded from the compatibility promise.
Jun 02 14:10:21 ubuntu etcd[58912]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 02 14:10:21 ubuntu etcd[58912]: Running http and grpc server on single port. This is not recommended for production.
Jun 02 14:10:21 ubuntu etcd[58912]: etcd Version: 3.4.27
Jun 02 14:10:21 ubuntu etcd[58912]: Git SHA: c92fb80f3
Jun 02 14:10:21 ubuntu etcd[58912]: Go Version: go1.19.10
Jun 02 14:10:21 ubuntu etcd[58912]: Go OS/Arch: linux/amd64
Jun 02 14:10:21 ubuntu etcd[58912]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 02 14:10:21 ubuntu etcd[58912]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 02 14:10:21 ubuntu etcd[58912]: Running http and grpc server on single port. This is not recommended for production.
Jun 02 14:10:21 ubuntu etcd[58912]: name = ubuntu
Jun 02 14:10:21 ubuntu etcd[58912]: data dir = /opt/stack/data/etcd
Jun 02 14:10:21 ubuntu etcd[58912]: member dir = /opt/stack/data/etcd/member
Jun 02 14:10:21 ubuntu etcd[58912]: heartbeat = 100ms
Jun 02 14:10:21 ubuntu etcd[58912]: election = 1000ms
Jun 02 14:10:21 ubuntu etcd[58912]: snapshot count = 100000
Jun 02 14:10:21 ubuntu etcd[58912]: advertise client URLs = http://10.201.9.223:2379
Jun 02 14:10:21 ubuntu etcd[58912]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 02 14:10:21 ubuntu etcd[58912]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jun 02 14:10:21 ubuntu etcd[58912]: raft2025/06/02 14:10:21 INFO: c25b29daa831042c switched to configuration voters=()
Jun 02 14:10:21 ubuntu etcd[58912]: raft2025/06/02 14:10:21 INFO: c25b29daa831042c became follower at term 0
Jun 02 14:10:21 ubuntu etcd[58912]: raft2025/06/02 14:10:21 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 02 14:10:21 ubuntu etcd[58912]: raft2025/06/02 14:10:21 INFO: c25b29daa831042c became follower at term 1
Jun 02 14:10:21 ubuntu etcd[58912]: raft2025/06/02 14:10:21 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 02 14:10:21 ubuntu etcd[58912]: simple token is not cryptographically signed
Jun 02 14:10:21 ubuntu etcd[58912]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 02 14:10:21 ubuntu etcd[58912]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 02 14:10:21 ubuntu etcd[58912]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 02 14:10:21 ubuntu etcd[58912]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 02 14:10:21 ubuntu etcd[58912]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 02 14:10:21 ubuntu etcd[58912]: raft2025/06/02 14:10:21 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jun 02 14:10:21 ubuntu etcd[58912]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jun 02 14:10:21 ubuntu etcd[58912]: listening for peers on [::]:2380
Jun 02 14:10:22 ubuntu etcd[58912]: raft2025/06/02 14:10:22 INFO: c25b29daa831042c is starting a new election at term 1
Jun 02 14:10:22 ubuntu etcd[58912]: raft2025/06/02 14:10:22 INFO: c25b29daa831042c became candidate at term 2
Jun 02 14:10:22 ubuntu etcd[58912]: raft2025/06/02 14:10:22 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jun 02 14:10:22 ubuntu etcd[58912]: raft2025/06/02 14:10:22 INFO: c25b29daa831042c became leader at term 2
Jun 02 14:10:22 ubuntu etcd[58912]: raft2025/06/02 14:10:22 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jun 02 14:10:22 ubuntu etcd[58912]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jun 02 14:10:22 ubuntu etcd[58912]: setting up the initial cluster version to 3.4
Jun 02 14:10:22 ubuntu etcd[58912]: ready to serve client requests
Jun 02 14:10:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 02 14:10:22 ubuntu etcd[58912]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jun 02 14:10:22 ubuntu etcd[58912]: set the initial cluster version to 3.4
Jun 02 14:10:22 ubuntu etcd[58912]: enabled capabilities for version 3.4
Jun 02 14:14:35 ubuntu etcd[58912]: start time = 2025-06-02 14:14:35.547802852 +0000 UTC m=+253.625840874, time spent = 463.762µs, remote = 10.201.9.223:42036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 14:14:35 ubuntu etcd[58912]: start time = 2025-06-02 14:14:35.681818933 +0000 UTC m=+253.759856955, time spent = 230.341µs, remote = 10.201.9.223:42036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 14:14:42 ubuntu etcd[58912]: start time = 2025-06-02 14:14:42.131818882 +0000 UTC m=+260.209856918, time spent = 516.352µs, remote = 10.201.9.223:42036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 14:14:44 ubuntu etcd[58912]: start time = 2025-06-02 14:14:44.416821257 +0000 UTC m=+262.494859290, time spent = 359.217µs, remote = 10.201.9.223:42036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
