Apr 20 05:52:20 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 20 05:52:20 ubuntu etcd[60195]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 20 05:52:20 ubuntu etcd[60195]:         A future release of golang/protobuf will delete this package,
Apr 20 05:52:20 ubuntu etcd[60195]:         which has long been excluded from the compatibility promise.
Apr 20 05:52:20 ubuntu etcd[60195]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 20 05:52:20 ubuntu etcd[60195]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 20 05:52:20 ubuntu etcd[60195]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 20 05:52:20 ubuntu etcd[60195]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 20 05:52:20 ubuntu etcd[60195]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 20 05:52:20 ubuntu etcd[60195]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 20 05:52:20 ubuntu etcd[60195]: Running http and grpc server on single port. This is not recommended for production.
Apr 20 05:52:20 ubuntu etcd[60195]: etcd Version: 3.4.27
Apr 20 05:52:20 ubuntu etcd[60195]: Git SHA: c92fb80f3
Apr 20 05:52:20 ubuntu etcd[60195]: Go Version: go1.19.10
Apr 20 05:52:20 ubuntu etcd[60195]: Go OS/Arch: linux/amd64
Apr 20 05:52:20 ubuntu etcd[60195]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 20 05:52:20 ubuntu etcd[60195]: Running http and grpc server on single port. This is not recommended for production.
Apr 20 05:52:20 ubuntu etcd[60195]: name = ubuntu
Apr 20 05:52:20 ubuntu etcd[60195]: data dir = /opt/stack/data/etcd
Apr 20 05:52:20 ubuntu etcd[60195]: member dir = /opt/stack/data/etcd/member
Apr 20 05:52:20 ubuntu etcd[60195]: heartbeat = 100ms
Apr 20 05:52:20 ubuntu etcd[60195]: election = 1000ms
Apr 20 05:52:20 ubuntu etcd[60195]: snapshot count = 100000
Apr 20 05:52:20 ubuntu etcd[60195]: advertise client URLs = http://10.201.4.32:2379
Apr 20 05:52:20 ubuntu etcd[60195]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 20 05:52:20 ubuntu etcd[60195]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Apr 20 05:52:20 ubuntu etcd[60195]: raft2024/04/20 05:52:20 INFO: 33238c1cdfea94eb switched to configuration voters=()
Apr 20 05:52:20 ubuntu etcd[60195]: raft2024/04/20 05:52:20 INFO: 33238c1cdfea94eb became follower at term 0
Apr 20 05:52:20 ubuntu etcd[60195]: raft2024/04/20 05:52:20 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 20 05:52:20 ubuntu etcd[60195]: raft2024/04/20 05:52:20 INFO: 33238c1cdfea94eb became follower at term 1
Apr 20 05:52:20 ubuntu etcd[60195]: raft2024/04/20 05:52:20 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 20 05:52:20 ubuntu etcd[60195]: simple token is not cryptographically signed
Apr 20 05:52:20 ubuntu etcd[60195]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 20 05:52:20 ubuntu etcd[60195]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 20 05:52:20 ubuntu etcd[60195]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 20 05:52:20 ubuntu etcd[60195]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 20 05:52:20 ubuntu etcd[60195]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 20 05:52:20 ubuntu etcd[60195]: raft2024/04/20 05:52:20 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Apr 20 05:52:20 ubuntu etcd[60195]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Apr 20 05:52:20 ubuntu etcd[60195]: listening for peers on [::]:2380
Apr 20 05:52:20 ubuntu etcd[60195]: raft2024/04/20 05:52:20 INFO: 33238c1cdfea94eb is starting a new election at term 1
Apr 20 05:52:20 ubuntu etcd[60195]: raft2024/04/20 05:52:20 INFO: 33238c1cdfea94eb became candidate at term 2
Apr 20 05:52:20 ubuntu etcd[60195]: raft2024/04/20 05:52:20 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Apr 20 05:52:20 ubuntu etcd[60195]: raft2024/04/20 05:52:20 INFO: 33238c1cdfea94eb became leader at term 2
Apr 20 05:52:20 ubuntu etcd[60195]: raft2024/04/20 05:52:20 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Apr 20 05:52:20 ubuntu etcd[60195]: setting up the initial cluster version to 3.4
Apr 20 05:52:20 ubuntu etcd[60195]: set the initial cluster version to 3.4
Apr 20 05:52:20 ubuntu etcd[60195]: enabled capabilities for version 3.4
Apr 20 05:52:20 ubuntu etcd[60195]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Apr 20 05:52:20 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 20 05:52:20 ubuntu etcd[60195]: INFO: 2024/04/20 05:52:20 parsed scheme: ""
Apr 20 05:52:20 ubuntu etcd[60195]: INFO: 2024/04/20 05:52:20 scheme "" not registered, fallback to default scheme
Apr 20 05:52:20 ubuntu etcd[60195]: ready to serve client requests
Apr 20 05:52:20 ubuntu etcd[60195]: INFO: 2024/04/20 05:52:20 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 20 05:52:20 ubuntu etcd[60195]: INFO: 2024/04/20 05:52:20 ClientConn switching balancer to "pick_first"
Apr 20 05:52:20 ubuntu etcd[60195]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Apr 20 05:56:37 ubuntu etcd[60195]: start time = 2024-04-20 05:56:37.618173115 +0000 UTC m=+257.515465190, time spent = 528.274µs, remote = 10.201.4.32:60636, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 20 05:56:37 ubuntu etcd[60195]: start time = 2024-04-20 05:56:37.628087847 +0000 UTC m=+257.525379934, time spent = 199.281µs, remote = 10.201.4.32:60636, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 20 05:56:44 ubuntu etcd[60195]: start time = 2024-04-20 05:56:44.224617045 +0000 UTC m=+264.121909120, time spent = 448.442µs, remote = 10.201.4.32:60636, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 20 05:56:46 ubuntu etcd[60195]: start time = 2024-04-20 05:56:46.331321013 +0000 UTC m=+266.228613091, time spent = 385.006µs, remote = 10.201.4.32:60636, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
