Jan 22 06:23:35 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 22 06:23:35 ubuntu etcd[59407]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 22 06:23:35 ubuntu etcd[59407]:         A future release of golang/protobuf will delete this package,
Jan 22 06:23:35 ubuntu etcd[59407]:         which has long been excluded from the compatibility promise.
Jan 22 06:23:35 ubuntu etcd[59407]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 22 06:23:35 ubuntu etcd[59407]: Running http and grpc server on single port. This is not recommended for production.
Jan 22 06:23:35 ubuntu etcd[59407]: etcd Version: 3.4.27
Jan 22 06:23:35 ubuntu etcd[59407]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 22 06:23:35 ubuntu etcd[59407]: Git SHA: c92fb80f3
Jan 22 06:23:35 ubuntu etcd[59407]: Go Version: go1.19.10
Jan 22 06:23:35 ubuntu etcd[59407]: Go OS/Arch: linux/amd64
Jan 22 06:23:35 ubuntu etcd[59407]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 22 06:23:35 ubuntu etcd[59407]: Running http and grpc server on single port. This is not recommended for production.
Jan 22 06:23:35 ubuntu etcd[59407]: name = ubuntu
Jan 22 06:23:35 ubuntu etcd[59407]: data dir = /opt/stack/data/etcd
Jan 22 06:23:35 ubuntu etcd[59407]: member dir = /opt/stack/data/etcd/member
Jan 22 06:23:35 ubuntu etcd[59407]: heartbeat = 100ms
Jan 22 06:23:35 ubuntu etcd[59407]: election = 1000ms
Jan 22 06:23:35 ubuntu etcd[59407]: snapshot count = 100000
Jan 22 06:23:35 ubuntu etcd[59407]: advertise client URLs = http://10.201.9.223:2379
Jan 22 06:23:35 ubuntu etcd[59407]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 22 06:23:35 ubuntu etcd[59407]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 22 06:23:35 ubuntu etcd[59407]: raft2025/01/22 06:23:35 INFO: c25b29daa831042c switched to configuration voters=()
Jan 22 06:23:35 ubuntu etcd[59407]: raft2025/01/22 06:23:35 INFO: c25b29daa831042c became follower at term 0
Jan 22 06:23:35 ubuntu etcd[59407]: raft2025/01/22 06:23:35 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 22 06:23:35 ubuntu etcd[59407]: raft2025/01/22 06:23:35 INFO: c25b29daa831042c became follower at term 1
Jan 22 06:23:35 ubuntu etcd[59407]: raft2025/01/22 06:23:35 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 22 06:23:35 ubuntu etcd[59407]: simple token is not cryptographically signed
Jan 22 06:23:35 ubuntu etcd[59407]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 22 06:23:35 ubuntu etcd[59407]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 22 06:23:35 ubuntu etcd[59407]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 22 06:23:35 ubuntu etcd[59407]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 22 06:23:35 ubuntu etcd[59407]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 22 06:23:35 ubuntu etcd[59407]: raft2025/01/22 06:23:35 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 22 06:23:35 ubuntu etcd[59407]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 22 06:23:35 ubuntu etcd[59407]: listening for peers on [::]:2380
Jan 22 06:23:35 ubuntu etcd[59407]: raft2025/01/22 06:23:35 INFO: c25b29daa831042c is starting a new election at term 1
Jan 22 06:23:35 ubuntu etcd[59407]: raft2025/01/22 06:23:35 INFO: c25b29daa831042c became candidate at term 2
Jan 22 06:23:35 ubuntu etcd[59407]: raft2025/01/22 06:23:35 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 22 06:23:35 ubuntu etcd[59407]: raft2025/01/22 06:23:35 INFO: c25b29daa831042c became leader at term 2
Jan 22 06:23:35 ubuntu etcd[59407]: raft2025/01/22 06:23:35 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 22 06:23:35 ubuntu etcd[59407]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 22 06:23:35 ubuntu etcd[59407]: ready to serve client requests
Jan 22 06:23:35 ubuntu etcd[59407]: setting up the initial cluster version to 3.4
Jan 22 06:23:35 ubuntu etcd[59407]: set the initial cluster version to 3.4
Jan 22 06:23:35 ubuntu etcd[59407]: enabled capabilities for version 3.4
Jan 22 06:23:35 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 22 06:23:35 ubuntu etcd[59407]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 22 06:27:46 ubuntu etcd[59407]: start time = 2025-01-22 06:27:46.659690386 +0000 UTC m=+251.615877199, time spent = 565.861µs, remote = 10.201.9.223:57478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 22 06:27:46 ubuntu etcd[59407]: start time = 2025-01-22 06:27:46.750684177 +0000 UTC m=+251.706871006, time spent = 167.619µs, remote = 10.201.9.223:57478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 22 06:27:53 ubuntu etcd[59407]: start time = 2025-01-22 06:27:53.322520651 +0000 UTC m=+258.278707464, time spent = 216.072µs, remote = 10.201.9.223:57478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 22 06:27:55 ubuntu etcd[59407]: start time = 2025-01-22 06:27:55.189234579 +0000 UTC m=+260.145421403, time spent = 516.11µs, remote = 10.201.9.223:57478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
