Jul 25 06:22:42 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 25 06:22:42 ubuntu etcd[58356]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 25 06:22:42 ubuntu etcd[58356]:         A future release of golang/protobuf will delete this package,
Jul 25 06:22:42 ubuntu etcd[58356]:         which has long been excluded from the compatibility promise.
Jul 25 06:22:42 ubuntu etcd[58356]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 25 06:22:42 ubuntu etcd[58356]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 25 06:22:42 ubuntu etcd[58356]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 25 06:22:42 ubuntu etcd[58356]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 25 06:22:42 ubuntu etcd[58356]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 25 06:22:42 ubuntu etcd[58356]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 25 06:22:42 ubuntu etcd[58356]: Running http and grpc server on single port. This is not recommended for production.
Jul 25 06:22:42 ubuntu etcd[58356]: etcd Version: 3.4.27
Jul 25 06:22:42 ubuntu etcd[58356]: Git SHA: c92fb80f3
Jul 25 06:22:42 ubuntu etcd[58356]: Go Version: go1.19.10
Jul 25 06:22:42 ubuntu etcd[58356]: Go OS/Arch: linux/amd64
Jul 25 06:22:42 ubuntu etcd[58356]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 25 06:22:42 ubuntu etcd[58356]: Running http and grpc server on single port. This is not recommended for production.
Jul 25 06:22:42 ubuntu etcd[58356]: name = ubuntu
Jul 25 06:22:42 ubuntu etcd[58356]: data dir = /opt/stack/data/etcd
Jul 25 06:22:42 ubuntu etcd[58356]: member dir = /opt/stack/data/etcd/member
Jul 25 06:22:42 ubuntu etcd[58356]: heartbeat = 100ms
Jul 25 06:22:42 ubuntu etcd[58356]: election = 1000ms
Jul 25 06:22:42 ubuntu etcd[58356]: snapshot count = 100000
Jul 25 06:22:42 ubuntu etcd[58356]: advertise client URLs = http://10.201.4.32:2379
Jul 25 06:22:42 ubuntu etcd[58356]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 25 06:22:42 ubuntu etcd[58356]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jul 25 06:22:42 ubuntu etcd[58356]: raft2024/07/25 06:22:42 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jul 25 06:22:42 ubuntu etcd[58356]: raft2024/07/25 06:22:42 INFO: 33238c1cdfea94eb became follower at term 0
Jul 25 06:22:42 ubuntu etcd[58356]: raft2024/07/25 06:22:42 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 25 06:22:42 ubuntu etcd[58356]: raft2024/07/25 06:22:42 INFO: 33238c1cdfea94eb became follower at term 1
Jul 25 06:22:42 ubuntu etcd[58356]: raft2024/07/25 06:22:42 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 25 06:22:42 ubuntu etcd[58356]: simple token is not cryptographically signed
Jul 25 06:22:42 ubuntu etcd[58356]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 25 06:22:42 ubuntu etcd[58356]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 25 06:22:42 ubuntu etcd[58356]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 25 06:22:42 ubuntu etcd[58356]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 25 06:22:42 ubuntu etcd[58356]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 25 06:22:42 ubuntu etcd[58356]: raft2024/07/25 06:22:42 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jul 25 06:22:42 ubuntu etcd[58356]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jul 25 06:22:42 ubuntu etcd[58356]: listening for peers on [::]:2380
Jul 25 06:22:42 ubuntu etcd[58356]: raft2024/07/25 06:22:42 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jul 25 06:22:42 ubuntu etcd[58356]: raft2024/07/25 06:22:42 INFO: 33238c1cdfea94eb became candidate at term 2
Jul 25 06:22:42 ubuntu etcd[58356]: raft2024/07/25 06:22:42 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jul 25 06:22:42 ubuntu etcd[58356]: raft2024/07/25 06:22:42 INFO: 33238c1cdfea94eb became leader at term 2
Jul 25 06:22:42 ubuntu etcd[58356]: raft2024/07/25 06:22:42 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jul 25 06:22:42 ubuntu etcd[58356]: setting up the initial cluster version to 3.4
Jul 25 06:22:42 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 25 06:22:42 ubuntu etcd[58356]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jul 25 06:22:42 ubuntu etcd[58356]: ready to serve client requests
Jul 25 06:22:42 ubuntu etcd[58356]: INFO: 2024/07/25 06:22:42 parsed scheme: ""
Jul 25 06:22:42 ubuntu etcd[58356]: INFO: 2024/07/25 06:22:42 scheme "" not registered, fallback to default scheme
Jul 25 06:22:42 ubuntu etcd[58356]: INFO: 2024/07/25 06:22:42 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 25 06:22:42 ubuntu etcd[58356]: INFO: 2024/07/25 06:22:42 ClientConn switching balancer to "pick_first"
Jul 25 06:22:42 ubuntu etcd[58356]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jul 25 06:22:42 ubuntu etcd[58356]: set the initial cluster version to 3.4
Jul 25 06:22:42 ubuntu etcd[58356]: enabled capabilities for version 3.4
Jul 25 06:27:53 ubuntu etcd[58356]: start time = 2024-07-25 06:27:53.000431864 +0000 UTC m=+310.580302097, time spent = 584.588µs, remote = 10.201.4.32:51018, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 06:27:53 ubuntu etcd[58356]: start time = 2024-07-25 06:27:53.081705866 +0000 UTC m=+310.661576111, time spent = 288.284µs, remote = 10.201.4.32:51018, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 06:27:59 ubuntu etcd[58356]: start time = 2024-07-25 06:27:59.491510313 +0000 UTC m=+317.071380558, time spent = 197.806µs, remote = 10.201.4.32:51018, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 06:28:01 ubuntu etcd[58356]: start time = 2024-07-25 06:28:01.630282033 +0000 UTC m=+319.210152281, time spent = 251.05µs, remote = 10.201.4.32:51018, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
