Dec 04 09:16:22 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 04 09:16:22 ubuntu etcd[58797]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 04 09:16:22 ubuntu etcd[58797]:         A future release of golang/protobuf will delete this package,
Dec 04 09:16:22 ubuntu etcd[58797]:         which has long been excluded from the compatibility promise.
Dec 04 09:16:22 ubuntu etcd[58797]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 04 09:16:22 ubuntu etcd[58797]: Running http and grpc server on single port. This is not recommended for production.
Dec 04 09:16:22 ubuntu etcd[58797]: etcd Version: 3.4.27
Dec 04 09:16:22 ubuntu etcd[58797]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 04 09:16:22 ubuntu etcd[58797]: Git SHA: c92fb80f3
Dec 04 09:16:22 ubuntu etcd[58797]: Go Version: go1.19.10
Dec 04 09:16:22 ubuntu etcd[58797]: Go OS/Arch: linux/amd64
Dec 04 09:16:22 ubuntu etcd[58797]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 04 09:16:22 ubuntu etcd[58797]: Running http and grpc server on single port. This is not recommended for production.
Dec 04 09:16:22 ubuntu etcd[58797]: name = ubuntu
Dec 04 09:16:22 ubuntu etcd[58797]: data dir = /opt/stack/data/etcd
Dec 04 09:16:22 ubuntu etcd[58797]: member dir = /opt/stack/data/etcd/member
Dec 04 09:16:22 ubuntu etcd[58797]: heartbeat = 100ms
Dec 04 09:16:22 ubuntu etcd[58797]: election = 1000ms
Dec 04 09:16:22 ubuntu etcd[58797]: snapshot count = 100000
Dec 04 09:16:22 ubuntu etcd[58797]: advertise client URLs = http://10.201.4.32:2379
Dec 04 09:16:22 ubuntu etcd[58797]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 04 09:16:22 ubuntu etcd[58797]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 04 09:16:22 ubuntu etcd[58797]: raft2024/12/04 09:16:22 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 04 09:16:22 ubuntu etcd[58797]: raft2024/12/04 09:16:22 INFO: 33238c1cdfea94eb became follower at term 0
Dec 04 09:16:22 ubuntu etcd[58797]: raft2024/12/04 09:16:22 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 04 09:16:22 ubuntu etcd[58797]: raft2024/12/04 09:16:22 INFO: 33238c1cdfea94eb became follower at term 1
Dec 04 09:16:22 ubuntu etcd[58797]: raft2024/12/04 09:16:22 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 04 09:16:22 ubuntu etcd[58797]: simple token is not cryptographically signed
Dec 04 09:16:22 ubuntu etcd[58797]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 04 09:16:22 ubuntu etcd[58797]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 04 09:16:22 ubuntu etcd[58797]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 04 09:16:22 ubuntu etcd[58797]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 04 09:16:22 ubuntu etcd[58797]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 04 09:16:22 ubuntu etcd[58797]: raft2024/12/04 09:16:22 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 04 09:16:22 ubuntu etcd[58797]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 04 09:16:22 ubuntu etcd[58797]: listening for peers on [::]:2380
Dec 04 09:16:23 ubuntu etcd[58797]: raft2024/12/04 09:16:23 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 04 09:16:23 ubuntu etcd[58797]: raft2024/12/04 09:16:23 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 04 09:16:23 ubuntu etcd[58797]: raft2024/12/04 09:16:23 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 04 09:16:23 ubuntu etcd[58797]: raft2024/12/04 09:16:23 INFO: 33238c1cdfea94eb became leader at term 2
Dec 04 09:16:23 ubuntu etcd[58797]: raft2024/12/04 09:16:23 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 04 09:16:23 ubuntu etcd[58797]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 04 09:16:23 ubuntu etcd[58797]: ready to serve client requests
Dec 04 09:16:23 ubuntu etcd[58797]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 04 09:16:23 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 04 09:16:23 ubuntu etcd[58797]: setting up the initial cluster version to 3.4
Dec 04 09:16:23 ubuntu etcd[58797]: set the initial cluster version to 3.4
Dec 04 09:16:23 ubuntu etcd[58797]: enabled capabilities for version 3.4
Dec 04 09:20:39 ubuntu etcd[58797]: start time = 2024-12-04 09:20:39.941599984 +0000 UTC m=+257.220069064, time spent = 363.174µs, remote = 10.201.4.32:36478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 09:20:39 ubuntu etcd[58797]: start time = 2024-12-04 09:20:39.941422545 +0000 UTC m=+257.219891612, time spent = 1.211561ms, remote = 10.201.4.32:36478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 09:20:46 ubuntu etcd[58797]: start time = 2024-12-04 09:20:46.534061811 +0000 UTC m=+263.812530892, time spent = 175.577µs, remote = 10.201.4.32:36478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 09:20:48 ubuntu etcd[58797]: start time = 2024-12-04 09:20:48.448880085 +0000 UTC m=+265.727349165, time spent = 179.756µs, remote = 10.201.4.32:36478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
