Apr 01 18:39:15 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 01 18:39:15 ubuntu etcd[56853]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 01 18:39:15 ubuntu etcd[56853]:         A future release of golang/protobuf will delete this package,
Apr 01 18:39:15 ubuntu etcd[56853]:         which has long been excluded from the compatibility promise.
Apr 01 18:39:15 ubuntu etcd[56853]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 01 18:39:15 ubuntu etcd[56853]: Running http and grpc server on single port. This is not recommended for production.
Apr 01 18:39:15 ubuntu etcd[56853]: etcd Version: 3.4.27
Apr 01 18:39:15 ubuntu etcd[56853]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 01 18:39:15 ubuntu etcd[56853]: Git SHA: c92fb80f3
Apr 01 18:39:15 ubuntu etcd[56853]: Go Version: go1.19.10
Apr 01 18:39:15 ubuntu etcd[56853]: Go OS/Arch: linux/amd64
Apr 01 18:39:15 ubuntu etcd[56853]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 01 18:39:15 ubuntu etcd[56853]: Running http and grpc server on single port. This is not recommended for production.
Apr 01 18:39:15 ubuntu etcd[56853]: name = ubuntu
Apr 01 18:39:15 ubuntu etcd[56853]: data dir = /opt/stack/data/etcd
Apr 01 18:39:15 ubuntu etcd[56853]: member dir = /opt/stack/data/etcd/member
Apr 01 18:39:15 ubuntu etcd[56853]: heartbeat = 100ms
Apr 01 18:39:15 ubuntu etcd[56853]: election = 1000ms
Apr 01 18:39:15 ubuntu etcd[56853]: snapshot count = 100000
Apr 01 18:39:15 ubuntu etcd[56853]: advertise client URLs = http://10.201.9.223:2379
Apr 01 18:39:15 ubuntu etcd[56853]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 01 18:39:15 ubuntu etcd[56853]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Apr 01 18:39:15 ubuntu etcd[56853]: raft2025/04/01 18:39:15 INFO: c25b29daa831042c switched to configuration voters=()
Apr 01 18:39:15 ubuntu etcd[56853]: raft2025/04/01 18:39:15 INFO: c25b29daa831042c became follower at term 0
Apr 01 18:39:15 ubuntu etcd[56853]: raft2025/04/01 18:39:15 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 01 18:39:15 ubuntu etcd[56853]: raft2025/04/01 18:39:15 INFO: c25b29daa831042c became follower at term 1
Apr 01 18:39:15 ubuntu etcd[56853]: raft2025/04/01 18:39:15 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 01 18:39:15 ubuntu etcd[56853]: simple token is not cryptographically signed
Apr 01 18:39:15 ubuntu etcd[56853]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 01 18:39:15 ubuntu etcd[56853]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 01 18:39:15 ubuntu etcd[56853]: raft2025/04/01 18:39:15 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Apr 01 18:39:15 ubuntu etcd[56853]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Apr 01 18:39:15 ubuntu etcd[56853]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 01 18:39:15 ubuntu etcd[56853]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 01 18:39:15 ubuntu etcd[56853]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 01 18:39:15 ubuntu etcd[56853]: listening for peers on [::]:2380
Apr 01 18:39:16 ubuntu etcd[56853]: raft2025/04/01 18:39:16 INFO: c25b29daa831042c is starting a new election at term 1
Apr 01 18:39:16 ubuntu etcd[56853]: raft2025/04/01 18:39:16 INFO: c25b29daa831042c became candidate at term 2
Apr 01 18:39:16 ubuntu etcd[56853]: raft2025/04/01 18:39:16 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Apr 01 18:39:16 ubuntu etcd[56853]: raft2025/04/01 18:39:16 INFO: c25b29daa831042c became leader at term 2
Apr 01 18:39:16 ubuntu etcd[56853]: raft2025/04/01 18:39:16 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Apr 01 18:39:16 ubuntu etcd[56853]: setting up the initial cluster version to 3.4
Apr 01 18:39:16 ubuntu etcd[56853]: set the initial cluster version to 3.4
Apr 01 18:39:16 ubuntu etcd[56853]: enabled capabilities for version 3.4
Apr 01 18:39:16 ubuntu etcd[56853]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Apr 01 18:39:16 ubuntu etcd[56853]: ready to serve client requests
Apr 01 18:39:16 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 01 18:39:16 ubuntu etcd[56853]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Apr 01 18:43:24 ubuntu etcd[56853]: start time = 2025-04-01 18:43:24.261885994 +0000 UTC m=+248.397721810, time spent = 393.07µs, remote = 10.201.9.223:58104, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 01 18:43:24 ubuntu etcd[56853]: start time = 2025-04-01 18:43:24.311458615 +0000 UTC m=+248.447294439, time spent = 172.464µs, remote = 10.201.9.223:58104, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 01 18:43:30 ubuntu etcd[56853]: start time = 2025-04-01 18:43:30.857010642 +0000 UTC m=+254.992846467, time spent = 168.633µs, remote = 10.201.9.223:58104, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 01 18:43:33 ubuntu etcd[56853]: start time = 2025-04-01 18:43:33.001485977 +0000 UTC m=+257.137321803, time spent = 436.724µs, remote = 10.201.9.223:58104, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
