Aug 12 17:41:49 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 12 17:41:49 ubuntu etcd[59036]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 12 17:41:49 ubuntu etcd[59036]:         A future release of golang/protobuf will delete this package,
Aug 12 17:41:49 ubuntu etcd[59036]:         which has long been excluded from the compatibility promise.
Aug 12 17:41:49 ubuntu etcd[59036]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 17:41:49 ubuntu etcd[59036]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 17:41:49 ubuntu etcd[59036]: etcd Version: 3.4.27
Aug 12 17:41:49 ubuntu etcd[59036]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 17:41:49 ubuntu etcd[59036]: Git SHA: c92fb80f3
Aug 12 17:41:49 ubuntu etcd[59036]: Go Version: go1.19.10
Aug 12 17:41:49 ubuntu etcd[59036]: Go OS/Arch: linux/amd64
Aug 12 17:41:49 ubuntu etcd[59036]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 12 17:41:49 ubuntu etcd[59036]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 17:41:49 ubuntu etcd[59036]: name = ubuntu
Aug 12 17:41:49 ubuntu etcd[59036]: data dir = /opt/stack/data/etcd
Aug 12 17:41:49 ubuntu etcd[59036]: member dir = /opt/stack/data/etcd/member
Aug 12 17:41:49 ubuntu etcd[59036]: heartbeat = 100ms
Aug 12 17:41:49 ubuntu etcd[59036]: election = 1000ms
Aug 12 17:41:49 ubuntu etcd[59036]: snapshot count = 100000
Aug 12 17:41:49 ubuntu etcd[59036]: advertise client URLs = http://10.201.9.223:2379
Aug 12 17:41:49 ubuntu etcd[59036]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 12 17:41:49 ubuntu etcd[59036]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Aug 12 17:41:49 ubuntu etcd[59036]: raft2025/08/12 17:41:49 INFO: c25b29daa831042c switched to configuration voters=()
Aug 12 17:41:49 ubuntu etcd[59036]: raft2025/08/12 17:41:49 INFO: c25b29daa831042c became follower at term 0
Aug 12 17:41:49 ubuntu etcd[59036]: raft2025/08/12 17:41:49 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 12 17:41:49 ubuntu etcd[59036]: raft2025/08/12 17:41:49 INFO: c25b29daa831042c became follower at term 1
Aug 12 17:41:49 ubuntu etcd[59036]: raft2025/08/12 17:41:49 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 12 17:41:49 ubuntu etcd[59036]: simple token is not cryptographically signed
Aug 12 17:41:49 ubuntu etcd[59036]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 12 17:41:49 ubuntu etcd[59036]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 12 17:41:49 ubuntu etcd[59036]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 12 17:41:49 ubuntu etcd[59036]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 12 17:41:49 ubuntu etcd[59036]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 12 17:41:49 ubuntu etcd[59036]: raft2025/08/12 17:41:49 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Aug 12 17:41:49 ubuntu etcd[59036]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Aug 12 17:41:49 ubuntu etcd[59036]: listening for peers on [::]:2380
Aug 12 17:41:49 ubuntu etcd[59036]: raft2025/08/12 17:41:49 INFO: c25b29daa831042c is starting a new election at term 1
Aug 12 17:41:49 ubuntu etcd[59036]: raft2025/08/12 17:41:49 INFO: c25b29daa831042c became candidate at term 2
Aug 12 17:41:49 ubuntu etcd[59036]: raft2025/08/12 17:41:49 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Aug 12 17:41:49 ubuntu etcd[59036]: raft2025/08/12 17:41:49 INFO: c25b29daa831042c became leader at term 2
Aug 12 17:41:49 ubuntu etcd[59036]: raft2025/08/12 17:41:49 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Aug 12 17:41:49 ubuntu etcd[59036]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Aug 12 17:41:49 ubuntu etcd[59036]: setting up the initial cluster version to 3.4
Aug 12 17:41:49 ubuntu etcd[59036]: ready to serve client requests
Aug 12 17:41:49 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 12 17:41:49 ubuntu etcd[59036]: set the initial cluster version to 3.4
Aug 12 17:41:49 ubuntu etcd[59036]: enabled capabilities for version 3.4
Aug 12 17:41:49 ubuntu etcd[59036]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Aug 12 17:45:57 ubuntu etcd[59036]: start time = 2025-08-12 17:45:57.515072587 +0000 UTC m=+248.452426894, time spent = 1.244066ms, remote = 10.201.9.223:47988, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 17:45:57 ubuntu etcd[59036]: start time = 2025-08-12 17:45:57.627227294 +0000 UTC m=+248.564581611, time spent = 252.442µs, remote = 10.201.9.223:47988, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 17:46:03 ubuntu etcd[59036]: start time = 2025-08-12 17:46:03.844652572 +0000 UTC m=+254.782006872, time spent = 249.155µs, remote = 10.201.9.223:47988, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 17:46:06 ubuntu etcd[59036]: start time = 2025-08-12 17:46:06.082917268 +0000 UTC m=+257.020271580, time spent = 301.103µs, remote = 10.201.9.223:47988, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
