May 20 18:05:52 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 20 18:05:52 ubuntu etcd[58399]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 20 18:05:52 ubuntu etcd[58399]:         A future release of golang/protobuf will delete this package,
May 20 18:05:52 ubuntu etcd[58399]:         which has long been excluded from the compatibility promise.
May 20 18:05:52 ubuntu etcd[58399]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 20 18:05:52 ubuntu etcd[58399]: Running http and grpc server on single port. This is not recommended for production.
May 20 18:05:52 ubuntu etcd[58399]: etcd Version: 3.4.27
May 20 18:05:52 ubuntu etcd[58399]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 20 18:05:52 ubuntu etcd[58399]: Git SHA: c92fb80f3
May 20 18:05:52 ubuntu etcd[58399]: Go Version: go1.19.10
May 20 18:05:52 ubuntu etcd[58399]: Go OS/Arch: linux/amd64
May 20 18:05:52 ubuntu etcd[58399]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 20 18:05:52 ubuntu etcd[58399]: Running http and grpc server on single port. This is not recommended for production.
May 20 18:05:52 ubuntu etcd[58399]: name = ubuntu
May 20 18:05:52 ubuntu etcd[58399]: data dir = /opt/stack/data/etcd
May 20 18:05:52 ubuntu etcd[58399]: member dir = /opt/stack/data/etcd/member
May 20 18:05:52 ubuntu etcd[58399]: heartbeat = 100ms
May 20 18:05:52 ubuntu etcd[58399]: election = 1000ms
May 20 18:05:52 ubuntu etcd[58399]: snapshot count = 100000
May 20 18:05:52 ubuntu etcd[58399]: advertise client URLs = http://10.201.9.223:2379
May 20 18:05:52 ubuntu etcd[58399]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 20 18:05:52 ubuntu etcd[58399]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 20 18:05:52 ubuntu etcd[58399]: raft2025/05/20 18:05:52 INFO: c25b29daa831042c switched to configuration voters=()
May 20 18:05:52 ubuntu etcd[58399]: raft2025/05/20 18:05:52 INFO: c25b29daa831042c became follower at term 0
May 20 18:05:52 ubuntu etcd[58399]: raft2025/05/20 18:05:52 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 20 18:05:52 ubuntu etcd[58399]: raft2025/05/20 18:05:52 INFO: c25b29daa831042c became follower at term 1
May 20 18:05:52 ubuntu etcd[58399]: raft2025/05/20 18:05:52 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 20 18:05:52 ubuntu etcd[58399]: simple token is not cryptographically signed
May 20 18:05:52 ubuntu etcd[58399]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 20 18:05:52 ubuntu etcd[58399]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 20 18:05:52 ubuntu etcd[58399]: raft2025/05/20 18:05:52 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 20 18:05:52 ubuntu etcd[58399]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 20 18:05:52 ubuntu etcd[58399]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 20 18:05:52 ubuntu etcd[58399]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 20 18:05:52 ubuntu etcd[58399]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 20 18:05:52 ubuntu etcd[58399]: listening for peers on [::]:2380
May 20 18:05:53 ubuntu etcd[58399]: raft2025/05/20 18:05:53 INFO: c25b29daa831042c is starting a new election at term 1
May 20 18:05:53 ubuntu etcd[58399]: raft2025/05/20 18:05:53 INFO: c25b29daa831042c became candidate at term 2
May 20 18:05:53 ubuntu etcd[58399]: raft2025/05/20 18:05:53 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 20 18:05:53 ubuntu etcd[58399]: raft2025/05/20 18:05:53 INFO: c25b29daa831042c became leader at term 2
May 20 18:05:53 ubuntu etcd[58399]: raft2025/05/20 18:05:53 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 20 18:05:53 ubuntu etcd[58399]: setting up the initial cluster version to 3.4
May 20 18:05:53 ubuntu etcd[58399]: set the initial cluster version to 3.4
May 20 18:05:53 ubuntu etcd[58399]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 20 18:05:53 ubuntu etcd[58399]: ready to serve client requests
May 20 18:05:53 ubuntu etcd[58399]: enabled capabilities for version 3.4
May 20 18:05:53 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 20 18:05:53 ubuntu etcd[58399]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 20 18:09:59 ubuntu etcd[58399]: start time = 2025-05-20 18:09:59.994785416 +0000 UTC m=+247.269557525, time spent = 451.201µs, remote = 10.201.9.223:44176, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 18:10:00 ubuntu etcd[58399]: start time = 2025-05-20 18:10:00.014376652 +0000 UTC m=+247.289148760, time spent = 204.074µs, remote = 10.201.9.223:44176, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 18:10:06 ubuntu etcd[58399]: start time = 2025-05-20 18:10:06.396772452 +0000 UTC m=+253.671544580, time spent = 227.353µs, remote = 10.201.9.223:44176, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 18:10:08 ubuntu etcd[58399]: start time = 2025-05-20 18:10:08.421933389 +0000 UTC m=+255.696705515, time spent = 166.329µs, remote = 10.201.9.223:44176, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
