Sep 28 03:47:31 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 28 03:47:31 ubuntu etcd[59667]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 28 03:47:31 ubuntu etcd[59667]:         A future release of golang/protobuf will delete this package,
Sep 28 03:47:31 ubuntu etcd[59667]:         which has long been excluded from the compatibility promise.
Sep 28 03:47:31 ubuntu etcd[59667]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 28 03:47:31 ubuntu etcd[59667]: Running http and grpc server on single port. This is not recommended for production.
Sep 28 03:47:31 ubuntu etcd[59667]: etcd Version: 3.4.27
Sep 28 03:47:31 ubuntu etcd[59667]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 28 03:47:31 ubuntu etcd[59667]: Git SHA: c92fb80f3
Sep 28 03:47:31 ubuntu etcd[59667]: Go Version: go1.19.10
Sep 28 03:47:31 ubuntu etcd[59667]: Go OS/Arch: linux/amd64
Sep 28 03:47:31 ubuntu etcd[59667]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 28 03:47:31 ubuntu etcd[59667]: Running http and grpc server on single port. This is not recommended for production.
Sep 28 03:47:31 ubuntu etcd[59667]: name = ubuntu
Sep 28 03:47:31 ubuntu etcd[59667]: data dir = /opt/stack/data/etcd
Sep 28 03:47:31 ubuntu etcd[59667]: member dir = /opt/stack/data/etcd/member
Sep 28 03:47:31 ubuntu etcd[59667]: heartbeat = 100ms
Sep 28 03:47:31 ubuntu etcd[59667]: election = 1000ms
Sep 28 03:47:31 ubuntu etcd[59667]: snapshot count = 100000
Sep 28 03:47:31 ubuntu etcd[59667]: advertise client URLs = http://10.201.4.32:2379
Sep 28 03:47:31 ubuntu etcd[59667]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 28 03:47:31 ubuntu etcd[59667]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 28 03:47:31 ubuntu etcd[59667]: raft2024/09/28 03:47:31 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 28 03:47:31 ubuntu etcd[59667]: raft2024/09/28 03:47:31 INFO: 33238c1cdfea94eb became follower at term 0
Sep 28 03:47:31 ubuntu etcd[59667]: raft2024/09/28 03:47:31 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 28 03:47:31 ubuntu etcd[59667]: raft2024/09/28 03:47:31 INFO: 33238c1cdfea94eb became follower at term 1
Sep 28 03:47:31 ubuntu etcd[59667]: raft2024/09/28 03:47:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 28 03:47:31 ubuntu etcd[59667]: simple token is not cryptographically signed
Sep 28 03:47:31 ubuntu etcd[59667]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 28 03:47:31 ubuntu etcd[59667]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 28 03:47:31 ubuntu etcd[59667]: raft2024/09/28 03:47:31 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 28 03:47:31 ubuntu etcd[59667]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 28 03:47:31 ubuntu etcd[59667]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 28 03:47:31 ubuntu etcd[59667]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 28 03:47:31 ubuntu etcd[59667]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 28 03:47:31 ubuntu etcd[59667]: listening for peers on [::]:2380
Sep 28 03:47:31 ubuntu etcd[59667]: raft2024/09/28 03:47:31 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 28 03:47:31 ubuntu etcd[59667]: raft2024/09/28 03:47:31 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 28 03:47:31 ubuntu etcd[59667]: raft2024/09/28 03:47:31 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 28 03:47:31 ubuntu etcd[59667]: raft2024/09/28 03:47:31 INFO: 33238c1cdfea94eb became leader at term 2
Sep 28 03:47:31 ubuntu etcd[59667]: raft2024/09/28 03:47:31 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 28 03:47:31 ubuntu etcd[59667]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 28 03:47:31 ubuntu etcd[59667]: setting up the initial cluster version to 3.4
Sep 28 03:47:31 ubuntu etcd[59667]: ready to serve client requests
Sep 28 03:47:31 ubuntu etcd[59667]: set the initial cluster version to 3.4
Sep 28 03:47:31 ubuntu etcd[59667]: enabled capabilities for version 3.4
Sep 28 03:47:31 ubuntu etcd[59667]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 28 03:47:31 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 28 03:51:50 ubuntu etcd[59667]: start time = 2024-09-28 03:51:50.644271505 +0000 UTC m=+258.928363389, time spent = 462.729µs, remote = 10.201.4.32:50672, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 28 03:51:50 ubuntu etcd[59667]: start time = 2024-09-28 03:51:50.693547811 +0000 UTC m=+258.977639706, time spent = 230.742µs, remote = 10.201.4.32:50672, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 28 03:51:57 ubuntu etcd[59667]: start time = 2024-09-28 03:51:57.563558716 +0000 UTC m=+265.847650616, time spent = 183.524µs, remote = 10.201.4.32:50672, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 28 03:51:59 ubuntu etcd[59667]: start time = 2024-09-28 03:51:59.608737865 +0000 UTC m=+267.892829748, time spent = 161.55µs, remote = 10.201.4.32:50672, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
