Jun 11 17:26:33 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 11 17:26:33 ubuntu etcd[57920]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 11 17:26:33 ubuntu etcd[57920]:         A future release of golang/protobuf will delete this package,
Jun 11 17:26:33 ubuntu etcd[57920]:         which has long been excluded from the compatibility promise.
Jun 11 17:26:33 ubuntu etcd[57920]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 11 17:26:33 ubuntu etcd[57920]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 11 17:26:33 ubuntu etcd[57920]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 17:26:33 ubuntu etcd[57920]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 11 17:26:33 ubuntu etcd[57920]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 11 17:26:33 ubuntu etcd[57920]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 17:26:33 ubuntu etcd[57920]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 17:26:33 ubuntu etcd[57920]: etcd Version: 3.4.27
Jun 11 17:26:33 ubuntu etcd[57920]: Git SHA: c92fb80f3
Jun 11 17:26:33 ubuntu etcd[57920]: Go Version: go1.19.10
Jun 11 17:26:33 ubuntu etcd[57920]: Go OS/Arch: linux/amd64
Jun 11 17:26:33 ubuntu etcd[57920]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 11 17:26:33 ubuntu etcd[57920]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 17:26:33 ubuntu etcd[57920]: name = ubuntu
Jun 11 17:26:33 ubuntu etcd[57920]: data dir = /opt/stack/data/etcd
Jun 11 17:26:33 ubuntu etcd[57920]: member dir = /opt/stack/data/etcd/member
Jun 11 17:26:33 ubuntu etcd[57920]: heartbeat = 100ms
Jun 11 17:26:33 ubuntu etcd[57920]: election = 1000ms
Jun 11 17:26:33 ubuntu etcd[57920]: snapshot count = 100000
Jun 11 17:26:33 ubuntu etcd[57920]: advertise client URLs = http://10.201.4.32:2379
Jun 11 17:26:33 ubuntu etcd[57920]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 11 17:26:33 ubuntu etcd[57920]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb became follower at term 0
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb became follower at term 1
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 11 17:26:33 ubuntu etcd[57920]: simple token is not cryptographically signed
Jun 11 17:26:33 ubuntu etcd[57920]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 11 17:26:33 ubuntu etcd[57920]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 11 17:26:33 ubuntu etcd[57920]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jun 11 17:26:33 ubuntu etcd[57920]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 11 17:26:33 ubuntu etcd[57920]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 11 17:26:33 ubuntu etcd[57920]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 11 17:26:33 ubuntu etcd[57920]: listening for peers on [::]:2380
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb became candidate at term 2
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb became leader at term 2
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jun 11 17:26:33 ubuntu etcd[57920]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jun 11 17:26:33 ubuntu etcd[57920]: setting up the initial cluster version to 3.4
Jun 11 17:26:33 ubuntu etcd[57920]: ready to serve client requests
Jun 11 17:26:33 ubuntu etcd[57920]: INFO: 2024/06/11 17:26:33 parsed scheme: ""
Jun 11 17:26:33 ubuntu etcd[57920]: INFO: 2024/06/11 17:26:33 scheme "" not registered, fallback to default scheme
Jun 11 17:26:33 ubuntu etcd[57920]: INFO: 2024/06/11 17:26:33 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 11 17:26:33 ubuntu etcd[57920]: INFO: 2024/06/11 17:26:33 ClientConn switching balancer to "pick_first"
Jun 11 17:26:33 ubuntu etcd[57920]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jun 11 17:26:33 ubuntu etcd[57920]: set the initial cluster version to 3.4
Jun 11 17:26:33 ubuntu etcd[57920]: enabled capabilities for version 3.4
Jun 11 17:26:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 11 17:30:48 ubuntu etcd[57920]: start time = 2024-06-11 17:30:48.201008343 +0000 UTC m=+255.000705831, time spent = 466.094µs, remote = 10.201.4.32:44966, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 17:30:48 ubuntu etcd[57920]: start time = 2024-06-11 17:30:48.230544296 +0000 UTC m=+255.030241796, time spent = 238.868µs, remote = 10.201.4.32:44966, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 17:30:54 ubuntu etcd[57920]: start time = 2024-06-11 17:30:54.682774656 +0000 UTC m=+261.482472156, time spent = 392.333µs, remote = 10.201.4.32:44966, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 17:30:56 ubuntu etcd[57920]: start time = 2024-06-11 17:30:56.578443412 +0000 UTC m=+263.378140900, time spent = 161.21µs, remote = 10.201.4.32:44966, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 17:26:33 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 11 17:26:33 ubuntu etcd[57920]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 11 17:26:33 ubuntu etcd[57920]:         A future release of golang/protobuf will delete this package,
Jun 11 17:26:33 ubuntu etcd[57920]:         which has long been excluded from the compatibility promise.
Jun 11 17:26:33 ubuntu etcd[57920]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 11 17:26:33 ubuntu etcd[57920]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 11 17:26:33 ubuntu etcd[57920]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 17:26:33 ubuntu etcd[57920]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 11 17:26:33 ubuntu etcd[57920]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 11 17:26:33 ubuntu etcd[57920]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 17:26:33 ubuntu etcd[57920]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 17:26:33 ubuntu etcd[57920]: etcd Version: 3.4.27
Jun 11 17:26:33 ubuntu etcd[57920]: Git SHA: c92fb80f3
Jun 11 17:26:33 ubuntu etcd[57920]: Go Version: go1.19.10
Jun 11 17:26:33 ubuntu etcd[57920]: Go OS/Arch: linux/amd64
Jun 11 17:26:33 ubuntu etcd[57920]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 11 17:26:33 ubuntu etcd[57920]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 17:26:33 ubuntu etcd[57920]: name = ubuntu
Jun 11 17:26:33 ubuntu etcd[57920]: data dir = /opt/stack/data/etcd
Jun 11 17:26:33 ubuntu etcd[57920]: member dir = /opt/stack/data/etcd/member
Jun 11 17:26:33 ubuntu etcd[57920]: heartbeat = 100ms
Jun 11 17:26:33 ubuntu etcd[57920]: election = 1000ms
Jun 11 17:26:33 ubuntu etcd[57920]: snapshot count = 100000
Jun 11 17:26:33 ubuntu etcd[57920]: advertise client URLs = http://10.201.4.32:2379
Jun 11 17:26:33 ubuntu etcd[57920]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 11 17:26:33 ubuntu etcd[57920]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb became follower at term 0
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb became follower at term 1
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 11 17:26:33 ubuntu etcd[57920]: simple token is not cryptographically signed
Jun 11 17:26:33 ubuntu etcd[57920]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 11 17:26:33 ubuntu etcd[57920]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jun 11 17:26:33 ubuntu etcd[57920]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jun 11 17:26:33 ubuntu etcd[57920]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 11 17:26:33 ubuntu etcd[57920]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 11 17:26:33 ubuntu etcd[57920]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 11 17:26:33 ubuntu etcd[57920]: listening for peers on [::]:2380
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb became candidate at term 2
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: 33238c1cdfea94eb became leader at term 2
Jun 11 17:26:33 ubuntu etcd[57920]: raft2024/06/11 17:26:33 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jun 11 17:26:33 ubuntu etcd[57920]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jun 11 17:26:33 ubuntu etcd[57920]: setting up the initial cluster version to 3.4
Jun 11 17:26:33 ubuntu etcd[57920]: ready to serve client requests
Jun 11 17:26:33 ubuntu etcd[57920]: INFO: 2024/06/11 17:26:33 parsed scheme: ""
Jun 11 17:26:33 ubuntu etcd[57920]: INFO: 2024/06/11 17:26:33 scheme "" not registered, fallback to default scheme
Jun 11 17:26:33 ubuntu etcd[57920]: INFO: 2024/06/11 17:26:33 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 11 17:26:33 ubuntu etcd[57920]: INFO: 2024/06/11 17:26:33 ClientConn switching balancer to "pick_first"
Jun 11 17:26:33 ubuntu etcd[57920]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jun 11 17:26:33 ubuntu etcd[57920]: set the initial cluster version to 3.4
Jun 11 17:26:33 ubuntu etcd[57920]: enabled capabilities for version 3.4
Jun 11 17:26:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 11 17:30:48 ubuntu etcd[57920]: start time = 2024-06-11 17:30:48.201008343 +0000 UTC m=+255.000705831, time spent = 466.094µs, remote = 10.201.4.32:44966, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 17:30:48 ubuntu etcd[57920]: start time = 2024-06-11 17:30:48.230544296 +0000 UTC m=+255.030241796, time spent = 238.868µs, remote = 10.201.4.32:44966, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 17:30:54 ubuntu etcd[57920]: start time = 2024-06-11 17:30:54.682774656 +0000 UTC m=+261.482472156, time spent = 392.333µs, remote = 10.201.4.32:44966, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 17:30:56 ubuntu etcd[57920]: start time = 2024-06-11 17:30:56.578443412 +0000 UTC m=+263.378140900, time spent = 161.21µs, remote = 10.201.4.32:44966, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
