Oct 04 06:47:24 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 04 06:47:24 ubuntu etcd[60052]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 04 06:47:24 ubuntu etcd[60052]:         A future release of golang/protobuf will delete this package,
Oct 04 06:47:24 ubuntu etcd[60052]:         which has long been excluded from the compatibility promise.
Oct 04 06:47:24 ubuntu etcd[60052]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 04 06:47:24 ubuntu etcd[60052]: Running http and grpc server on single port. This is not recommended for production.
Oct 04 06:47:24 ubuntu etcd[60052]: etcd Version: 3.4.27
Oct 04 06:47:24 ubuntu etcd[60052]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 04 06:47:24 ubuntu etcd[60052]: Git SHA: c92fb80f3
Oct 04 06:47:24 ubuntu etcd[60052]: Go Version: go1.19.10
Oct 04 06:47:24 ubuntu etcd[60052]: Go OS/Arch: linux/amd64
Oct 04 06:47:24 ubuntu etcd[60052]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 04 06:47:24 ubuntu etcd[60052]: Running http and grpc server on single port. This is not recommended for production.
Oct 04 06:47:24 ubuntu etcd[60052]: name = ubuntu
Oct 04 06:47:24 ubuntu etcd[60052]: data dir = /opt/stack/data/etcd
Oct 04 06:47:24 ubuntu etcd[60052]: member dir = /opt/stack/data/etcd/member
Oct 04 06:47:24 ubuntu etcd[60052]: heartbeat = 100ms
Oct 04 06:47:24 ubuntu etcd[60052]: election = 1000ms
Oct 04 06:47:24 ubuntu etcd[60052]: snapshot count = 100000
Oct 04 06:47:24 ubuntu etcd[60052]: advertise client URLs = http://10.201.4.32:2379
Oct 04 06:47:24 ubuntu etcd[60052]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 04 06:47:24 ubuntu etcd[60052]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Oct 04 06:47:24 ubuntu etcd[60052]: raft2024/10/04 06:47:24 INFO: 33238c1cdfea94eb switched to configuration voters=()
Oct 04 06:47:24 ubuntu etcd[60052]: raft2024/10/04 06:47:24 INFO: 33238c1cdfea94eb became follower at term 0
Oct 04 06:47:24 ubuntu etcd[60052]: raft2024/10/04 06:47:24 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 04 06:47:24 ubuntu etcd[60052]: raft2024/10/04 06:47:24 INFO: 33238c1cdfea94eb became follower at term 1
Oct 04 06:47:24 ubuntu etcd[60052]: raft2024/10/04 06:47:24 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 04 06:47:24 ubuntu etcd[60052]: simple token is not cryptographically signed
Oct 04 06:47:24 ubuntu etcd[60052]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 04 06:47:24 ubuntu etcd[60052]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 04 06:47:24 ubuntu etcd[60052]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 04 06:47:24 ubuntu etcd[60052]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 04 06:47:24 ubuntu etcd[60052]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 04 06:47:24 ubuntu etcd[60052]: raft2024/10/04 06:47:24 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Oct 04 06:47:24 ubuntu etcd[60052]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Oct 04 06:47:24 ubuntu etcd[60052]: listening for peers on [::]:2380
Oct 04 06:47:24 ubuntu etcd[60052]: raft2024/10/04 06:47:24 INFO: 33238c1cdfea94eb is starting a new election at term 1
Oct 04 06:47:24 ubuntu etcd[60052]: raft2024/10/04 06:47:24 INFO: 33238c1cdfea94eb became candidate at term 2
Oct 04 06:47:24 ubuntu etcd[60052]: raft2024/10/04 06:47:24 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Oct 04 06:47:24 ubuntu etcd[60052]: raft2024/10/04 06:47:24 INFO: 33238c1cdfea94eb became leader at term 2
Oct 04 06:47:24 ubuntu etcd[60052]: raft2024/10/04 06:47:24 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Oct 04 06:47:24 ubuntu etcd[60052]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Oct 04 06:47:24 ubuntu etcd[60052]: ready to serve client requests
Oct 04 06:47:24 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 04 06:47:24 ubuntu etcd[60052]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Oct 04 06:47:24 ubuntu etcd[60052]: setting up the initial cluster version to 3.4
Oct 04 06:47:24 ubuntu etcd[60052]: set the initial cluster version to 3.4
Oct 04 06:47:24 ubuntu etcd[60052]: enabled capabilities for version 3.4
Oct 04 06:51:57 ubuntu etcd[60052]: start time = 2024-10-04 06:51:57.061885207 +0000 UTC m=+273.032442871, time spent = 541.688µs, remote = 10.201.4.32:50298, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 04 06:51:57 ubuntu etcd[60052]: start time = 2024-10-04 06:51:57.117570517 +0000 UTC m=+273.088128196, time spent = 282.04µs, remote = 10.201.4.32:50298, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 04 06:52:03 ubuntu etcd[60052]: start time = 2024-10-04 06:52:03.850487256 +0000 UTC m=+279.821044935, time spent = 183.229µs, remote = 10.201.4.32:50298, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 04 06:52:06 ubuntu etcd[60052]: start time = 2024-10-04 06:52:06.149485388 +0000 UTC m=+282.120043069, time spent = 195.11µs, remote = 10.201.4.32:50298, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
