Mar 15 11:57:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 15 11:57:55 ubuntu etcd[71238]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 15 11:57:55 ubuntu etcd[71238]:         A future release of golang/protobuf will delete this package,
Mar 15 11:57:55 ubuntu etcd[71238]:         which has long been excluded from the compatibility promise.
Mar 15 11:57:55 ubuntu etcd[71238]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 15 11:57:55 ubuntu etcd[71238]: Running http and grpc server on single port. This is not recommended for production.
Mar 15 11:57:55 ubuntu etcd[71238]: etcd Version: 3.4.27
Mar 15 11:57:55 ubuntu etcd[71238]: Git SHA: c92fb80f3
Mar 15 11:57:55 ubuntu etcd[71238]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 15 11:57:55 ubuntu etcd[71238]: Go Version: go1.19.10
Mar 15 11:57:55 ubuntu etcd[71238]: Go OS/Arch: linux/amd64
Mar 15 11:57:55 ubuntu etcd[71238]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 15 11:57:55 ubuntu etcd[71238]: Running http and grpc server on single port. This is not recommended for production.
Mar 15 11:57:55 ubuntu etcd[71238]: name = ubuntu
Mar 15 11:57:55 ubuntu etcd[71238]: data dir = /opt/stack/data/etcd
Mar 15 11:57:55 ubuntu etcd[71238]: member dir = /opt/stack/data/etcd/member
Mar 15 11:57:55 ubuntu etcd[71238]: heartbeat = 100ms
Mar 15 11:57:55 ubuntu etcd[71238]: election = 1000ms
Mar 15 11:57:55 ubuntu etcd[71238]: snapshot count = 100000
Mar 15 11:57:55 ubuntu etcd[71238]: advertise client URLs = http://10.201.9.223:2379
Mar 15 11:57:55 ubuntu etcd[71238]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 15 11:57:55 ubuntu etcd[71238]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 15 11:57:55 ubuntu etcd[71238]: raft2025/03/15 11:57:55 INFO: c25b29daa831042c switched to configuration voters=()
Mar 15 11:57:55 ubuntu etcd[71238]: raft2025/03/15 11:57:55 INFO: c25b29daa831042c became follower at term 0
Mar 15 11:57:55 ubuntu etcd[71238]: raft2025/03/15 11:57:55 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 15 11:57:55 ubuntu etcd[71238]: raft2025/03/15 11:57:55 INFO: c25b29daa831042c became follower at term 1
Mar 15 11:57:55 ubuntu etcd[71238]: raft2025/03/15 11:57:55 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 15 11:57:55 ubuntu etcd[71238]: simple token is not cryptographically signed
Mar 15 11:57:55 ubuntu etcd[71238]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 15 11:57:55 ubuntu etcd[71238]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 15 11:57:55 ubuntu etcd[71238]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 15 11:57:55 ubuntu etcd[71238]: raft2025/03/15 11:57:55 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 15 11:57:55 ubuntu etcd[71238]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 15 11:57:55 ubuntu etcd[71238]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 15 11:57:55 ubuntu etcd[71238]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 15 11:57:55 ubuntu etcd[71238]: listening for peers on [::]:2380
Mar 15 11:57:55 ubuntu etcd[71238]: raft2025/03/15 11:57:55 INFO: c25b29daa831042c is starting a new election at term 1
Mar 15 11:57:55 ubuntu etcd[71238]: raft2025/03/15 11:57:55 INFO: c25b29daa831042c became candidate at term 2
Mar 15 11:57:55 ubuntu etcd[71238]: raft2025/03/15 11:57:55 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 15 11:57:55 ubuntu etcd[71238]: raft2025/03/15 11:57:55 INFO: c25b29daa831042c became leader at term 2
Mar 15 11:57:55 ubuntu etcd[71238]: raft2025/03/15 11:57:55 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 15 11:57:55 ubuntu etcd[71238]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 15 11:57:55 ubuntu etcd[71238]: setting up the initial cluster version to 3.4
Mar 15 11:57:55 ubuntu etcd[71238]: ready to serve client requests
Mar 15 11:57:55 ubuntu etcd[71238]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 15 11:57:55 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 15 11:57:55 ubuntu etcd[71238]: set the initial cluster version to 3.4
Mar 15 11:57:55 ubuntu etcd[71238]: enabled capabilities for version 3.4
Mar 15 12:02:07 ubuntu etcd[71238]: start time = 2025-03-15 12:02:07.439757689 +0000 UTC m=+251.722818925, time spent = 412.456µs, remote = 10.201.9.223:39264, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 15 12:02:07 ubuntu etcd[71238]: start time = 2025-03-15 12:02:07.441228668 +0000 UTC m=+251.724289923, time spent = 297.631µs, remote = 10.201.9.223:39264, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 15 12:02:14 ubuntu etcd[71238]: start time = 2025-03-15 12:02:14.082016535 +0000 UTC m=+258.365077787, time spent = 240.593µs, remote = 10.201.9.223:39264, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 15 12:02:16 ubuntu etcd[71238]: start time = 2025-03-15 12:02:16.343199541 +0000 UTC m=+260.626260793, time spent = 944.906µs, remote = 10.201.9.223:39264, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
