Mar 13 16:08:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 13 16:08:55 ubuntu etcd[70988]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 13 16:08:55 ubuntu etcd[70988]:         A future release of golang/protobuf will delete this package,
Mar 13 16:08:55 ubuntu etcd[70988]:         which has long been excluded from the compatibility promise.
Mar 13 16:08:55 ubuntu etcd[70988]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 13 16:08:55 ubuntu etcd[70988]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 13 16:08:55 ubuntu etcd[70988]: Running http and grpc server on single port. This is not recommended for production.
Mar 13 16:08:55 ubuntu etcd[70988]: etcd Version: 3.4.27
Mar 13 16:08:55 ubuntu etcd[70988]: Git SHA: c92fb80f3
Mar 13 16:08:55 ubuntu etcd[70988]: Go Version: go1.19.10
Mar 13 16:08:55 ubuntu etcd[70988]: Go OS/Arch: linux/amd64
Mar 13 16:08:55 ubuntu etcd[70988]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 13 16:08:55 ubuntu etcd[70988]: Running http and grpc server on single port. This is not recommended for production.
Mar 13 16:08:55 ubuntu etcd[70988]: name = ubuntu
Mar 13 16:08:55 ubuntu etcd[70988]: data dir = /opt/stack/data/etcd
Mar 13 16:08:55 ubuntu etcd[70988]: member dir = /opt/stack/data/etcd/member
Mar 13 16:08:55 ubuntu etcd[70988]: heartbeat = 100ms
Mar 13 16:08:55 ubuntu etcd[70988]: election = 1000ms
Mar 13 16:08:55 ubuntu etcd[70988]: snapshot count = 100000
Mar 13 16:08:55 ubuntu etcd[70988]: advertise client URLs = http://10.201.9.223:2379
Mar 13 16:08:55 ubuntu etcd[70988]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 13 16:08:55 ubuntu etcd[70988]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 13 16:08:55 ubuntu etcd[70988]: raft2025/03/13 16:08:55 INFO: c25b29daa831042c switched to configuration voters=()
Mar 13 16:08:55 ubuntu etcd[70988]: raft2025/03/13 16:08:55 INFO: c25b29daa831042c became follower at term 0
Mar 13 16:08:55 ubuntu etcd[70988]: raft2025/03/13 16:08:55 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 13 16:08:55 ubuntu etcd[70988]: raft2025/03/13 16:08:55 INFO: c25b29daa831042c became follower at term 1
Mar 13 16:08:55 ubuntu etcd[70988]: raft2025/03/13 16:08:55 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 13 16:08:55 ubuntu etcd[70988]: simple token is not cryptographically signed
Mar 13 16:08:55 ubuntu etcd[70988]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 13 16:08:55 ubuntu etcd[70988]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 13 16:08:55 ubuntu etcd[70988]: raft2025/03/13 16:08:55 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 13 16:08:55 ubuntu etcd[70988]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 13 16:08:55 ubuntu etcd[70988]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 13 16:08:55 ubuntu etcd[70988]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 13 16:08:55 ubuntu etcd[70988]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 13 16:08:55 ubuntu etcd[70988]: listening for peers on [::]:2380
Mar 13 16:08:56 ubuntu etcd[70988]: raft2025/03/13 16:08:56 INFO: c25b29daa831042c is starting a new election at term 1
Mar 13 16:08:56 ubuntu etcd[70988]: raft2025/03/13 16:08:56 INFO: c25b29daa831042c became candidate at term 2
Mar 13 16:08:56 ubuntu etcd[70988]: raft2025/03/13 16:08:56 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 13 16:08:56 ubuntu etcd[70988]: raft2025/03/13 16:08:56 INFO: c25b29daa831042c became leader at term 2
Mar 13 16:08:56 ubuntu etcd[70988]: raft2025/03/13 16:08:56 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 13 16:08:56 ubuntu etcd[70988]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 13 16:08:56 ubuntu etcd[70988]: setting up the initial cluster version to 3.4
Mar 13 16:08:56 ubuntu etcd[70988]: set the initial cluster version to 3.4
Mar 13 16:08:56 ubuntu etcd[70988]: enabled capabilities for version 3.4
Mar 13 16:08:56 ubuntu etcd[70988]: ready to serve client requests
Mar 13 16:08:56 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 13 16:08:56 ubuntu etcd[70988]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 13 16:13:05 ubuntu etcd[70988]: start time = 2025-03-13 16:13:05.66718552 +0000 UTC m=+249.945790257, time spent = 536.376µs, remote = 10.201.9.223:60014, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 13 16:13:05 ubuntu etcd[70988]: start time = 2025-03-13 16:13:05.711828423 +0000 UTC m=+249.990433174, time spent = 235.708µs, remote = 10.201.9.223:60014, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 13 16:13:12 ubuntu etcd[70988]: start time = 2025-03-13 16:13:12.414077946 +0000 UTC m=+256.692682699, time spent = 184.429µs, remote = 10.201.9.223:60014, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 13 16:13:14 ubuntu etcd[70988]: start time = 2025-03-13 16:13:14.639236023 +0000 UTC m=+258.917840776, time spent = 279.865µs, remote = 10.201.9.223:60014, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
