Mar 18 15:21:38 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 18 15:21:38 ubuntu etcd[71376]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 18 15:21:38 ubuntu etcd[71376]:         A future release of golang/protobuf will delete this package,
Mar 18 15:21:38 ubuntu etcd[71376]:         which has long been excluded from the compatibility promise.
Mar 18 15:21:38 ubuntu etcd[71376]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 18 15:21:38 ubuntu etcd[71376]: Running http and grpc server on single port. This is not recommended for production.
Mar 18 15:21:38 ubuntu etcd[71376]: etcd Version: 3.4.27
Mar 18 15:21:38 ubuntu etcd[71376]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 18 15:21:38 ubuntu etcd[71376]: Git SHA: c92fb80f3
Mar 18 15:21:38 ubuntu etcd[71376]: Go Version: go1.19.10
Mar 18 15:21:38 ubuntu etcd[71376]: Go OS/Arch: linux/amd64
Mar 18 15:21:38 ubuntu etcd[71376]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 18 15:21:38 ubuntu etcd[71376]: Running http and grpc server on single port. This is not recommended for production.
Mar 18 15:21:38 ubuntu etcd[71376]: name = ubuntu
Mar 18 15:21:38 ubuntu etcd[71376]: data dir = /opt/stack/data/etcd
Mar 18 15:21:38 ubuntu etcd[71376]: member dir = /opt/stack/data/etcd/member
Mar 18 15:21:38 ubuntu etcd[71376]: heartbeat = 100ms
Mar 18 15:21:38 ubuntu etcd[71376]: election = 1000ms
Mar 18 15:21:38 ubuntu etcd[71376]: snapshot count = 100000
Mar 18 15:21:38 ubuntu etcd[71376]: advertise client URLs = http://10.201.9.223:2379
Mar 18 15:21:38 ubuntu etcd[71376]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 18 15:21:38 ubuntu etcd[71376]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Mar 18 15:21:38 ubuntu etcd[71376]: raft2025/03/18 15:21:38 INFO: c25b29daa831042c switched to configuration voters=()
Mar 18 15:21:38 ubuntu etcd[71376]: raft2025/03/18 15:21:38 INFO: c25b29daa831042c became follower at term 0
Mar 18 15:21:38 ubuntu etcd[71376]: raft2025/03/18 15:21:38 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 18 15:21:38 ubuntu etcd[71376]: raft2025/03/18 15:21:38 INFO: c25b29daa831042c became follower at term 1
Mar 18 15:21:38 ubuntu etcd[71376]: raft2025/03/18 15:21:38 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 18 15:21:38 ubuntu etcd[71376]: simple token is not cryptographically signed
Mar 18 15:21:38 ubuntu etcd[71376]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 18 15:21:38 ubuntu etcd[71376]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 18 15:21:38 ubuntu etcd[71376]: raft2025/03/18 15:21:38 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Mar 18 15:21:38 ubuntu etcd[71376]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Mar 18 15:21:38 ubuntu etcd[71376]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 18 15:21:38 ubuntu etcd[71376]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 18 15:21:38 ubuntu etcd[71376]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 18 15:21:38 ubuntu etcd[71376]: listening for peers on [::]:2380
Mar 18 15:21:39 ubuntu etcd[71376]: raft2025/03/18 15:21:39 INFO: c25b29daa831042c is starting a new election at term 1
Mar 18 15:21:39 ubuntu etcd[71376]: raft2025/03/18 15:21:39 INFO: c25b29daa831042c became candidate at term 2
Mar 18 15:21:39 ubuntu etcd[71376]: raft2025/03/18 15:21:39 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Mar 18 15:21:39 ubuntu etcd[71376]: raft2025/03/18 15:21:39 INFO: c25b29daa831042c became leader at term 2
Mar 18 15:21:39 ubuntu etcd[71376]: raft2025/03/18 15:21:39 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Mar 18 15:21:39 ubuntu etcd[71376]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Mar 18 15:21:39 ubuntu etcd[71376]: setting up the initial cluster version to 3.4
Mar 18 15:21:39 ubuntu etcd[71376]: ready to serve client requests
Mar 18 15:21:39 ubuntu etcd[71376]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Mar 18 15:21:39 ubuntu etcd[71376]: set the initial cluster version to 3.4
Mar 18 15:21:39 ubuntu etcd[71376]: enabled capabilities for version 3.4
Mar 18 15:21:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 18 15:25:48 ubuntu etcd[71376]: start time = 2025-03-18 15:25:48.436639673 +0000 UTC m=+250.084703112, time spent = 460.641µs, remote = 10.201.9.223:39138, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 18 15:25:48 ubuntu etcd[71376]: start time = 2025-03-18 15:25:48.507938483 +0000 UTC m=+250.156001928, time spent = 181.835µs, remote = 10.201.9.223:39138, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 18 15:25:55 ubuntu etcd[71376]: start time = 2025-03-18 15:25:55.137621143 +0000 UTC m=+256.785684583, time spent = 211.4µs, remote = 10.201.9.223:39138, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 18 15:25:57 ubuntu etcd[71376]: start time = 2025-03-18 15:25:57.46835554 +0000 UTC m=+259.116418978, time spent = 189.607µs, remote = 10.201.9.223:39138, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
