Jan 11 11:29:44 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 11 11:29:44 ubuntu etcd[59616]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 11 11:29:44 ubuntu etcd[59616]:         A future release of golang/protobuf will delete this package,
Jan 11 11:29:44 ubuntu etcd[59616]:         which has long been excluded from the compatibility promise.
Jan 11 11:29:44 ubuntu etcd[59616]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 11 11:29:44 ubuntu etcd[59616]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 11 11:29:44 ubuntu etcd[59616]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 11 11:29:44 ubuntu etcd[59616]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jan 11 11:29:44 ubuntu etcd[59616]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jan 11 11:29:44 ubuntu etcd[59616]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 11 11:29:44 ubuntu etcd[59616]: Running http and grpc server on single port. This is not recommended for production.
Jan 11 11:29:44 ubuntu etcd[59616]: etcd Version: 3.4.27
Jan 11 11:29:44 ubuntu etcd[59616]: Git SHA: c92fb80f3
Jan 11 11:29:44 ubuntu etcd[59616]: Go Version: go1.19.10
Jan 11 11:29:44 ubuntu etcd[59616]: Go OS/Arch: linux/amd64
Jan 11 11:29:44 ubuntu etcd[59616]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 11 11:29:44 ubuntu etcd[59616]: Running http and grpc server on single port. This is not recommended for production.
Jan 11 11:29:44 ubuntu etcd[59616]: name = ubuntu
Jan 11 11:29:44 ubuntu etcd[59616]: data dir = /opt/stack/data/etcd
Jan 11 11:29:44 ubuntu etcd[59616]: member dir = /opt/stack/data/etcd/member
Jan 11 11:29:44 ubuntu etcd[59616]: heartbeat = 100ms
Jan 11 11:29:44 ubuntu etcd[59616]: election = 1000ms
Jan 11 11:29:44 ubuntu etcd[59616]: snapshot count = 100000
Jan 11 11:29:44 ubuntu etcd[59616]: advertise client URLs = http://10.201.4.32:2379
Jan 11 11:29:44 ubuntu etcd[59616]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 11 11:29:44 ubuntu etcd[59616]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Jan 11 11:29:44 ubuntu etcd[59616]: raft2024/01/11 11:29:44 INFO: 33238c1cdfea94eb switched to configuration voters=()
Jan 11 11:29:44 ubuntu etcd[59616]: raft2024/01/11 11:29:44 INFO: 33238c1cdfea94eb became follower at term 0
Jan 11 11:29:44 ubuntu etcd[59616]: raft2024/01/11 11:29:44 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 11 11:29:44 ubuntu etcd[59616]: raft2024/01/11 11:29:44 INFO: 33238c1cdfea94eb became follower at term 1
Jan 11 11:29:44 ubuntu etcd[59616]: raft2024/01/11 11:29:44 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 11 11:29:44 ubuntu etcd[59616]: simple token is not cryptographically signed
Jan 11 11:29:44 ubuntu etcd[59616]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 11 11:29:44 ubuntu etcd[59616]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 11 11:29:44 ubuntu etcd[59616]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 11 11:29:44 ubuntu etcd[59616]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 11 11:29:44 ubuntu etcd[59616]: raft2024/01/11 11:29:44 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Jan 11 11:29:44 ubuntu etcd[59616]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 11 11:29:44 ubuntu etcd[59616]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Jan 11 11:29:44 ubuntu etcd[59616]: listening for peers on [::]:2380
Jan 11 11:29:44 ubuntu etcd[59616]: raft2024/01/11 11:29:44 INFO: 33238c1cdfea94eb is starting a new election at term 1
Jan 11 11:29:44 ubuntu etcd[59616]: raft2024/01/11 11:29:44 INFO: 33238c1cdfea94eb became candidate at term 2
Jan 11 11:29:44 ubuntu etcd[59616]: raft2024/01/11 11:29:44 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Jan 11 11:29:44 ubuntu etcd[59616]: raft2024/01/11 11:29:44 INFO: 33238c1cdfea94eb became leader at term 2
Jan 11 11:29:44 ubuntu etcd[59616]: raft2024/01/11 11:29:44 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Jan 11 11:29:44 ubuntu etcd[59616]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Jan 11 11:29:44 ubuntu etcd[59616]: ready to serve client requests
Jan 11 11:29:44 ubuntu etcd[59616]: INFO: 2024/01/11 11:29:44 parsed scheme: ""
Jan 11 11:29:44 ubuntu etcd[59616]: INFO: 2024/01/11 11:29:44 scheme "" not registered, fallback to default scheme
Jan 11 11:29:44 ubuntu etcd[59616]: setting up the initial cluster version to 3.4
Jan 11 11:29:44 ubuntu etcd[59616]: set the initial cluster version to 3.4
Jan 11 11:29:44 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 11 11:29:44 ubuntu etcd[59616]: enabled capabilities for version 3.4
Jan 11 11:29:44 ubuntu etcd[59616]: INFO: 2024/01/11 11:29:44 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Jan 11 11:29:44 ubuntu etcd[59616]: INFO: 2024/01/11 11:29:44 ClientConn switching balancer to "pick_first"
Jan 11 11:29:44 ubuntu etcd[59616]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Jan 11 11:34:09 ubuntu etcd[59616]: start time = 2024-01-11 11:34:09.576943271 +0000 UTC m=+265.027686319, time spent = 471.153µs, remote = 10.201.4.32:56430, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 11 11:34:09 ubuntu etcd[59616]: start time = 2024-01-11 11:34:09.623806721 +0000 UTC m=+265.074549779, time spent = 182.732µs, remote = 10.201.4.32:56430, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 11 11:34:15 ubuntu etcd[59616]: start time = 2024-01-11 11:34:15.797795513 +0000 UTC m=+271.248538570, time spent = 156.587µs, remote = 10.201.4.32:56430, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 11 11:34:18 ubuntu etcd[59616]: start time = 2024-01-11 11:34:18.273751841 +0000 UTC m=+273.724494896, time spent = 230.316µs, remote = 10.201.4.32:56430, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
