Dec 11 02:29:49 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 11 02:29:49 ubuntu etcd[59236]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 11 02:29:49 ubuntu etcd[59236]:         A future release of golang/protobuf will delete this package,
Dec 11 02:29:49 ubuntu etcd[59236]:         which has long been excluded from the compatibility promise.
Dec 11 02:29:49 ubuntu etcd[59236]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 02:29:49 ubuntu etcd[59236]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 02:29:49 ubuntu etcd[59236]: etcd Version: 3.4.27
Dec 11 02:29:49 ubuntu etcd[59236]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 02:29:49 ubuntu etcd[59236]: Git SHA: c92fb80f3
Dec 11 02:29:49 ubuntu etcd[59236]: Go Version: go1.19.10
Dec 11 02:29:49 ubuntu etcd[59236]: Go OS/Arch: linux/amd64
Dec 11 02:29:49 ubuntu etcd[59236]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 11 02:29:49 ubuntu etcd[59236]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 02:29:49 ubuntu etcd[59236]: name = ubuntu
Dec 11 02:29:49 ubuntu etcd[59236]: data dir = /opt/stack/data/etcd
Dec 11 02:29:49 ubuntu etcd[59236]: member dir = /opt/stack/data/etcd/member
Dec 11 02:29:49 ubuntu etcd[59236]: heartbeat = 100ms
Dec 11 02:29:49 ubuntu etcd[59236]: election = 1000ms
Dec 11 02:29:49 ubuntu etcd[59236]: snapshot count = 100000
Dec 11 02:29:49 ubuntu etcd[59236]: advertise client URLs = http://10.201.9.223:2379
Dec 11 02:29:49 ubuntu etcd[59236]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 11 02:29:49 ubuntu etcd[59236]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Dec 11 02:29:49 ubuntu etcd[59236]: raft2024/12/11 02:29:49 INFO: c25b29daa831042c switched to configuration voters=()
Dec 11 02:29:49 ubuntu etcd[59236]: raft2024/12/11 02:29:49 INFO: c25b29daa831042c became follower at term 0
Dec 11 02:29:49 ubuntu etcd[59236]: raft2024/12/11 02:29:49 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 11 02:29:49 ubuntu etcd[59236]: raft2024/12/11 02:29:49 INFO: c25b29daa831042c became follower at term 1
Dec 11 02:29:49 ubuntu etcd[59236]: raft2024/12/11 02:29:49 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 11 02:29:49 ubuntu etcd[59236]: simple token is not cryptographically signed
Dec 11 02:29:49 ubuntu etcd[59236]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 11 02:29:49 ubuntu etcd[59236]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 11 02:29:49 ubuntu etcd[59236]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 11 02:29:49 ubuntu etcd[59236]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 11 02:29:49 ubuntu etcd[59236]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 11 02:29:49 ubuntu etcd[59236]: raft2024/12/11 02:29:49 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Dec 11 02:29:49 ubuntu etcd[59236]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Dec 11 02:29:49 ubuntu etcd[59236]: listening for peers on [::]:2380
Dec 11 02:29:50 ubuntu etcd[59236]: raft2024/12/11 02:29:50 INFO: c25b29daa831042c is starting a new election at term 1
Dec 11 02:29:50 ubuntu etcd[59236]: raft2024/12/11 02:29:50 INFO: c25b29daa831042c became candidate at term 2
Dec 11 02:29:50 ubuntu etcd[59236]: raft2024/12/11 02:29:50 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Dec 11 02:29:50 ubuntu etcd[59236]: raft2024/12/11 02:29:50 INFO: c25b29daa831042c became leader at term 2
Dec 11 02:29:50 ubuntu etcd[59236]: raft2024/12/11 02:29:50 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Dec 11 02:29:50 ubuntu etcd[59236]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Dec 11 02:29:50 ubuntu etcd[59236]: setting up the initial cluster version to 3.4
Dec 11 02:29:50 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 11 02:29:50 ubuntu etcd[59236]: ready to serve client requests
Dec 11 02:29:50 ubuntu etcd[59236]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Dec 11 02:29:50 ubuntu etcd[59236]: set the initial cluster version to 3.4
Dec 11 02:29:50 ubuntu etcd[59236]: enabled capabilities for version 3.4
Dec 11 02:34:08 ubuntu etcd[59236]: start time = 2024-12-11 02:34:08.454086329 +0000 UTC m=+258.610755164, time spent = 361.81µs, remote = 10.201.9.223:41696, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 02:34:08 ubuntu etcd[59236]: start time = 2024-12-11 02:34:08.508922785 +0000 UTC m=+258.665591639, time spent = 174.423µs, remote = 10.201.9.223:41696, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 02:34:14 ubuntu etcd[59236]: start time = 2024-12-11 02:34:14.91419794 +0000 UTC m=+265.070866792, time spent = 159.008µs, remote = 10.201.9.223:41696, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 02:34:17 ubuntu etcd[59236]: start time = 2024-12-11 02:34:17.075321969 +0000 UTC m=+267.231990820, time spent = 168.32µs, remote = 10.201.9.223:41696, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
