May 23 17:26:06 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 23 17:26:06 ubuntu etcd[60078]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 23 17:26:06 ubuntu etcd[60078]:         A future release of golang/protobuf will delete this package,
May 23 17:26:06 ubuntu etcd[60078]:         which has long been excluded from the compatibility promise.
May 23 17:26:06 ubuntu etcd[60078]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 23 17:26:06 ubuntu etcd[60078]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 23 17:26:06 ubuntu etcd[60078]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 23 17:26:06 ubuntu etcd[60078]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 23 17:26:06 ubuntu etcd[60078]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 23 17:26:06 ubuntu etcd[60078]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 23 17:26:06 ubuntu etcd[60078]: Running http and grpc server on single port. This is not recommended for production.
May 23 17:26:06 ubuntu etcd[60078]: etcd Version: 3.4.27
May 23 17:26:06 ubuntu etcd[60078]: Git SHA: c92fb80f3
May 23 17:26:06 ubuntu etcd[60078]: Go Version: go1.19.10
May 23 17:26:06 ubuntu etcd[60078]: Go OS/Arch: linux/amd64
May 23 17:26:06 ubuntu etcd[60078]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 23 17:26:06 ubuntu etcd[60078]: Running http and grpc server on single port. This is not recommended for production.
May 23 17:26:06 ubuntu etcd[60078]: name = ubuntu
May 23 17:26:06 ubuntu etcd[60078]: data dir = /opt/stack/data/etcd
May 23 17:26:06 ubuntu etcd[60078]: member dir = /opt/stack/data/etcd/member
May 23 17:26:06 ubuntu etcd[60078]: heartbeat = 100ms
May 23 17:26:06 ubuntu etcd[60078]: election = 1000ms
May 23 17:26:06 ubuntu etcd[60078]: snapshot count = 100000
May 23 17:26:06 ubuntu etcd[60078]: advertise client URLs = http://10.201.4.32:2379
May 23 17:26:06 ubuntu etcd[60078]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 23 17:26:06 ubuntu etcd[60078]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb became follower at term 0
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb became follower at term 1
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 23 17:26:06 ubuntu etcd[60078]: simple token is not cryptographically signed
May 23 17:26:06 ubuntu etcd[60078]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 23 17:26:06 ubuntu etcd[60078]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 23 17:26:06 ubuntu etcd[60078]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 23 17:26:06 ubuntu etcd[60078]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 23 17:26:06 ubuntu etcd[60078]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 23 17:26:06 ubuntu etcd[60078]: listening for peers on [::]:2380
May 23 17:26:06 ubuntu etcd[60078]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb became candidate at term 2
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb became leader at term 2
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 23 17:26:06 ubuntu etcd[60078]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 23 17:26:06 ubuntu etcd[60078]: setting up the initial cluster version to 3.4
May 23 17:26:06 ubuntu etcd[60078]: INFO: 2024/05/23 17:26:06 parsed scheme: ""
May 23 17:26:06 ubuntu etcd[60078]: INFO: 2024/05/23 17:26:06 scheme "" not registered, fallback to default scheme
May 23 17:26:06 ubuntu etcd[60078]: ready to serve client requests
May 23 17:26:06 ubuntu etcd[60078]: INFO: 2024/05/23 17:26:06 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 23 17:26:06 ubuntu etcd[60078]: INFO: 2024/05/23 17:26:06 ClientConn switching balancer to "pick_first"
May 23 17:26:06 ubuntu etcd[60078]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 23 17:26:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 23 17:26:06 ubuntu etcd[60078]: set the initial cluster version to 3.4
May 23 17:26:06 ubuntu etcd[60078]: enabled capabilities for version 3.4
May 23 17:30:19 ubuntu etcd[60078]: start time = 2024-05-23 17:30:19.513158807 +0000 UTC m=+253.067105826, time spent = 505.429µs, remote = 10.201.4.32:41340, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 23 17:30:19 ubuntu etcd[60078]: start time = 2024-05-23 17:30:19.60082317 +0000 UTC m=+253.154770188, time spent = 200.595µs, remote = 10.201.4.32:41340, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 23 17:30:25 ubuntu etcd[60078]: start time = 2024-05-23 17:30:25.988061928 +0000 UTC m=+259.542008946, time spent = 143.145µs, remote = 10.201.4.32:41340, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 23 17:30:28 ubuntu etcd[60078]: start time = 2024-05-23 17:30:28.179707798 +0000 UTC m=+261.733654806, time spent = 231.323µs, remote = 10.201.4.32:41340, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 23 17:26:06 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 23 17:26:06 ubuntu etcd[60078]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 23 17:26:06 ubuntu etcd[60078]:         A future release of golang/protobuf will delete this package,
May 23 17:26:06 ubuntu etcd[60078]:         which has long been excluded from the compatibility promise.
May 23 17:26:06 ubuntu etcd[60078]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 23 17:26:06 ubuntu etcd[60078]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 23 17:26:06 ubuntu etcd[60078]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 23 17:26:06 ubuntu etcd[60078]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 23 17:26:06 ubuntu etcd[60078]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 23 17:26:06 ubuntu etcd[60078]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 23 17:26:06 ubuntu etcd[60078]: Running http and grpc server on single port. This is not recommended for production.
May 23 17:26:06 ubuntu etcd[60078]: etcd Version: 3.4.27
May 23 17:26:06 ubuntu etcd[60078]: Git SHA: c92fb80f3
May 23 17:26:06 ubuntu etcd[60078]: Go Version: go1.19.10
May 23 17:26:06 ubuntu etcd[60078]: Go OS/Arch: linux/amd64
May 23 17:26:06 ubuntu etcd[60078]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 23 17:26:06 ubuntu etcd[60078]: Running http and grpc server on single port. This is not recommended for production.
May 23 17:26:06 ubuntu etcd[60078]: name = ubuntu
May 23 17:26:06 ubuntu etcd[60078]: data dir = /opt/stack/data/etcd
May 23 17:26:06 ubuntu etcd[60078]: member dir = /opt/stack/data/etcd/member
May 23 17:26:06 ubuntu etcd[60078]: heartbeat = 100ms
May 23 17:26:06 ubuntu etcd[60078]: election = 1000ms
May 23 17:26:06 ubuntu etcd[60078]: snapshot count = 100000
May 23 17:26:06 ubuntu etcd[60078]: advertise client URLs = http://10.201.4.32:2379
May 23 17:26:06 ubuntu etcd[60078]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 23 17:26:06 ubuntu etcd[60078]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb became follower at term 0
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb became follower at term 1
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 23 17:26:06 ubuntu etcd[60078]: simple token is not cryptographically signed
May 23 17:26:06 ubuntu etcd[60078]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 23 17:26:06 ubuntu etcd[60078]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 23 17:26:06 ubuntu etcd[60078]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 23 17:26:06 ubuntu etcd[60078]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 23 17:26:06 ubuntu etcd[60078]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 23 17:26:06 ubuntu etcd[60078]: listening for peers on [::]:2380
May 23 17:26:06 ubuntu etcd[60078]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb became candidate at term 2
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: 33238c1cdfea94eb became leader at term 2
May 23 17:26:06 ubuntu etcd[60078]: raft2024/05/23 17:26:06 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 23 17:26:06 ubuntu etcd[60078]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 23 17:26:06 ubuntu etcd[60078]: setting up the initial cluster version to 3.4
May 23 17:26:06 ubuntu etcd[60078]: INFO: 2024/05/23 17:26:06 parsed scheme: ""
May 23 17:26:06 ubuntu etcd[60078]: INFO: 2024/05/23 17:26:06 scheme "" not registered, fallback to default scheme
May 23 17:26:06 ubuntu etcd[60078]: ready to serve client requests
May 23 17:26:06 ubuntu etcd[60078]: INFO: 2024/05/23 17:26:06 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 23 17:26:06 ubuntu etcd[60078]: INFO: 2024/05/23 17:26:06 ClientConn switching balancer to "pick_first"
May 23 17:26:06 ubuntu etcd[60078]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 23 17:26:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 23 17:26:06 ubuntu etcd[60078]: set the initial cluster version to 3.4
May 23 17:26:06 ubuntu etcd[60078]: enabled capabilities for version 3.4
May 23 17:30:19 ubuntu etcd[60078]: start time = 2024-05-23 17:30:19.513158807 +0000 UTC m=+253.067105826, time spent = 505.429µs, remote = 10.201.4.32:41340, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 23 17:30:19 ubuntu etcd[60078]: start time = 2024-05-23 17:30:19.60082317 +0000 UTC m=+253.154770188, time spent = 200.595µs, remote = 10.201.4.32:41340, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 23 17:30:25 ubuntu etcd[60078]: start time = 2024-05-23 17:30:25.988061928 +0000 UTC m=+259.542008946, time spent = 143.145µs, remote = 10.201.4.32:41340, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 23 17:30:28 ubuntu etcd[60078]: start time = 2024-05-23 17:30:28.179707798 +0000 UTC m=+261.733654806, time spent = 231.323µs, remote = 10.201.4.32:41340, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
