Feb 26 12:20:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 26 12:20:37 ubuntu etcd[60096]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 26 12:20:37 ubuntu etcd[60096]:         A future release of golang/protobuf will delete this package,
Feb 26 12:20:37 ubuntu etcd[60096]:         which has long been excluded from the compatibility promise.
Feb 26 12:20:37 ubuntu etcd[60096]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 26 12:20:37 ubuntu etcd[60096]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 26 12:20:37 ubuntu etcd[60096]: Running http and grpc server on single port. This is not recommended for production.
Feb 26 12:20:37 ubuntu etcd[60096]: etcd Version: 3.4.27
Feb 26 12:20:37 ubuntu etcd[60096]: Git SHA: c92fb80f3
Feb 26 12:20:37 ubuntu etcd[60096]: Go Version: go1.19.10
Feb 26 12:20:37 ubuntu etcd[60096]: Go OS/Arch: linux/amd64
Feb 26 12:20:37 ubuntu etcd[60096]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 26 12:20:37 ubuntu etcd[60096]: Running http and grpc server on single port. This is not recommended for production.
Feb 26 12:20:37 ubuntu etcd[60096]: name = ubuntu
Feb 26 12:20:37 ubuntu etcd[60096]: data dir = /opt/stack/data/etcd
Feb 26 12:20:37 ubuntu etcd[60096]: member dir = /opt/stack/data/etcd/member
Feb 26 12:20:37 ubuntu etcd[60096]: heartbeat = 100ms
Feb 26 12:20:37 ubuntu etcd[60096]: election = 1000ms
Feb 26 12:20:37 ubuntu etcd[60096]: snapshot count = 100000
Feb 26 12:20:37 ubuntu etcd[60096]: advertise client URLs = http://10.201.9.223:2379
Feb 26 12:20:37 ubuntu etcd[60096]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 26 12:20:37 ubuntu etcd[60096]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Feb 26 12:20:37 ubuntu etcd[60096]: raft2025/02/26 12:20:37 INFO: c25b29daa831042c switched to configuration voters=()
Feb 26 12:20:37 ubuntu etcd[60096]: raft2025/02/26 12:20:37 INFO: c25b29daa831042c became follower at term 0
Feb 26 12:20:37 ubuntu etcd[60096]: raft2025/02/26 12:20:37 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 26 12:20:37 ubuntu etcd[60096]: raft2025/02/26 12:20:37 INFO: c25b29daa831042c became follower at term 1
Feb 26 12:20:37 ubuntu etcd[60096]: raft2025/02/26 12:20:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 26 12:20:37 ubuntu etcd[60096]: simple token is not cryptographically signed
Feb 26 12:20:37 ubuntu etcd[60096]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 26 12:20:37 ubuntu etcd[60096]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 26 12:20:37 ubuntu etcd[60096]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 26 12:20:37 ubuntu etcd[60096]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 26 12:20:37 ubuntu etcd[60096]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 26 12:20:37 ubuntu etcd[60096]: listening for peers on [::]:2380
Feb 26 12:20:37 ubuntu etcd[60096]: raft2025/02/26 12:20:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Feb 26 12:20:37 ubuntu etcd[60096]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Feb 26 12:20:38 ubuntu etcd[60096]: raft2025/02/26 12:20:38 INFO: c25b29daa831042c is starting a new election at term 1
Feb 26 12:20:38 ubuntu etcd[60096]: raft2025/02/26 12:20:38 INFO: c25b29daa831042c became candidate at term 2
Feb 26 12:20:38 ubuntu etcd[60096]: raft2025/02/26 12:20:38 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Feb 26 12:20:38 ubuntu etcd[60096]: raft2025/02/26 12:20:38 INFO: c25b29daa831042c became leader at term 2
Feb 26 12:20:38 ubuntu etcd[60096]: raft2025/02/26 12:20:38 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Feb 26 12:20:38 ubuntu etcd[60096]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Feb 26 12:20:38 ubuntu etcd[60096]: setting up the initial cluster version to 3.4
Feb 26 12:20:38 ubuntu etcd[60096]: ready to serve client requests
Feb 26 12:20:38 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 26 12:20:38 ubuntu etcd[60096]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Feb 26 12:20:38 ubuntu etcd[60096]: set the initial cluster version to 3.4
Feb 26 12:20:38 ubuntu etcd[60096]: enabled capabilities for version 3.4
Feb 26 12:24:47 ubuntu etcd[60096]: start time = 2025-02-26 12:24:47.954661228 +0000 UTC m=+250.303157212, time spent = 463.389µs, remote = 10.201.9.223:49964, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 26 12:24:47 ubuntu etcd[60096]: start time = 2025-02-26 12:24:47.983926064 +0000 UTC m=+250.332422065, time spent = 299.589µs, remote = 10.201.9.223:49964, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 26 12:24:54 ubuntu etcd[60096]: start time = 2025-02-26 12:24:54.49991993 +0000 UTC m=+256.848415931, time spent = 204.165µs, remote = 10.201.9.223:49964, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 26 12:24:56 ubuntu etcd[60096]: start time = 2025-02-26 12:24:56.747500699 +0000 UTC m=+259.095996698, time spent = 328.007µs, remote = 10.201.9.223:49964, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
