May 20 18:37:54 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 20 18:37:54 ubuntu etcd[59856]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 20 18:37:54 ubuntu etcd[59856]:         A future release of golang/protobuf will delete this package,
May 20 18:37:54 ubuntu etcd[59856]:         which has long been excluded from the compatibility promise.
May 20 18:37:54 ubuntu etcd[59856]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 20 18:37:54 ubuntu etcd[59856]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 20 18:37:54 ubuntu etcd[59856]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 20 18:37:54 ubuntu etcd[59856]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 20 18:37:54 ubuntu etcd[59856]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 20 18:37:54 ubuntu etcd[59856]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 20 18:37:54 ubuntu etcd[59856]: Running http and grpc server on single port. This is not recommended for production.
May 20 18:37:54 ubuntu etcd[59856]: etcd Version: 3.4.27
May 20 18:37:54 ubuntu etcd[59856]: Git SHA: c92fb80f3
May 20 18:37:54 ubuntu etcd[59856]: Go Version: go1.19.10
May 20 18:37:54 ubuntu etcd[59856]: Go OS/Arch: linux/amd64
May 20 18:37:54 ubuntu etcd[59856]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 20 18:37:54 ubuntu etcd[59856]: Running http and grpc server on single port. This is not recommended for production.
May 20 18:37:54 ubuntu etcd[59856]: name = ubuntu
May 20 18:37:54 ubuntu etcd[59856]: data dir = /opt/stack/data/etcd
May 20 18:37:54 ubuntu etcd[59856]: member dir = /opt/stack/data/etcd/member
May 20 18:37:54 ubuntu etcd[59856]: heartbeat = 100ms
May 20 18:37:54 ubuntu etcd[59856]: election = 1000ms
May 20 18:37:54 ubuntu etcd[59856]: snapshot count = 100000
May 20 18:37:54 ubuntu etcd[59856]: advertise client URLs = http://10.201.4.32:2379
May 20 18:37:54 ubuntu etcd[59856]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 20 18:37:54 ubuntu etcd[59856]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb became follower at term 0
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb became follower at term 1
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 20 18:37:54 ubuntu etcd[59856]: simple token is not cryptographically signed
May 20 18:37:54 ubuntu etcd[59856]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 20 18:37:54 ubuntu etcd[59856]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 20 18:37:54 ubuntu etcd[59856]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 20 18:37:54 ubuntu etcd[59856]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 20 18:37:54 ubuntu etcd[59856]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 20 18:37:54 ubuntu etcd[59856]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 20 18:37:54 ubuntu etcd[59856]: listening for peers on [::]:2380
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb became candidate at term 2
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb became leader at term 2
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 20 18:37:54 ubuntu etcd[59856]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 20 18:37:54 ubuntu etcd[59856]: setting up the initial cluster version to 3.4
May 20 18:37:54 ubuntu etcd[59856]: set the initial cluster version to 3.4
May 20 18:37:54 ubuntu etcd[59856]: INFO: 2024/05/20 18:37:54 parsed scheme: ""
May 20 18:37:54 ubuntu etcd[59856]: INFO: 2024/05/20 18:37:54 scheme "" not registered, fallback to default scheme
May 20 18:37:54 ubuntu etcd[59856]: INFO: 2024/05/20 18:37:54 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 20 18:37:54 ubuntu etcd[59856]: INFO: 2024/05/20 18:37:54 ClientConn switching balancer to "pick_first"
May 20 18:37:54 ubuntu etcd[59856]: enabled capabilities for version 3.4
May 20 18:37:54 ubuntu etcd[59856]: ready to serve client requests
May 20 18:37:54 ubuntu etcd[59856]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 20 18:37:54 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 20 18:42:10 ubuntu etcd[59856]: start time = 2024-05-20 18:42:10.285391435 +0000 UTC m=+256.182216546, time spent = 440.786µs, remote = 10.201.4.32:39806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 18:42:10 ubuntu etcd[59856]: start time = 2024-05-20 18:42:10.289295693 +0000 UTC m=+256.186120814, time spent = 191.222µs, remote = 10.201.4.32:39806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 18:42:16 ubuntu etcd[59856]: start time = 2024-05-20 18:42:16.707533752 +0000 UTC m=+262.604358863, time spent = 168.016µs, remote = 10.201.4.32:39806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 18:42:18 ubuntu etcd[59856]: start time = 2024-05-20 18:42:18.954765254 +0000 UTC m=+264.851590376, time spent = 159.794µs, remote = 10.201.4.32:39806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 18:37:54 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 20 18:37:54 ubuntu etcd[59856]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 20 18:37:54 ubuntu etcd[59856]:         A future release of golang/protobuf will delete this package,
May 20 18:37:54 ubuntu etcd[59856]:         which has long been excluded from the compatibility promise.
May 20 18:37:54 ubuntu etcd[59856]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 20 18:37:54 ubuntu etcd[59856]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 20 18:37:54 ubuntu etcd[59856]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 20 18:37:54 ubuntu etcd[59856]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 20 18:37:54 ubuntu etcd[59856]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 20 18:37:54 ubuntu etcd[59856]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 20 18:37:54 ubuntu etcd[59856]: Running http and grpc server on single port. This is not recommended for production.
May 20 18:37:54 ubuntu etcd[59856]: etcd Version: 3.4.27
May 20 18:37:54 ubuntu etcd[59856]: Git SHA: c92fb80f3
May 20 18:37:54 ubuntu etcd[59856]: Go Version: go1.19.10
May 20 18:37:54 ubuntu etcd[59856]: Go OS/Arch: linux/amd64
May 20 18:37:54 ubuntu etcd[59856]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 20 18:37:54 ubuntu etcd[59856]: Running http and grpc server on single port. This is not recommended for production.
May 20 18:37:54 ubuntu etcd[59856]: name = ubuntu
May 20 18:37:54 ubuntu etcd[59856]: data dir = /opt/stack/data/etcd
May 20 18:37:54 ubuntu etcd[59856]: member dir = /opt/stack/data/etcd/member
May 20 18:37:54 ubuntu etcd[59856]: heartbeat = 100ms
May 20 18:37:54 ubuntu etcd[59856]: election = 1000ms
May 20 18:37:54 ubuntu etcd[59856]: snapshot count = 100000
May 20 18:37:54 ubuntu etcd[59856]: advertise client URLs = http://10.201.4.32:2379
May 20 18:37:54 ubuntu etcd[59856]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 20 18:37:54 ubuntu etcd[59856]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb became follower at term 0
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb became follower at term 1
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 20 18:37:54 ubuntu etcd[59856]: simple token is not cryptographically signed
May 20 18:37:54 ubuntu etcd[59856]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 20 18:37:54 ubuntu etcd[59856]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 20 18:37:54 ubuntu etcd[59856]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 20 18:37:54 ubuntu etcd[59856]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 20 18:37:54 ubuntu etcd[59856]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 20 18:37:54 ubuntu etcd[59856]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 20 18:37:54 ubuntu etcd[59856]: listening for peers on [::]:2380
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb became candidate at term 2
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: 33238c1cdfea94eb became leader at term 2
May 20 18:37:54 ubuntu etcd[59856]: raft2024/05/20 18:37:54 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 20 18:37:54 ubuntu etcd[59856]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 20 18:37:54 ubuntu etcd[59856]: setting up the initial cluster version to 3.4
May 20 18:37:54 ubuntu etcd[59856]: set the initial cluster version to 3.4
May 20 18:37:54 ubuntu etcd[59856]: INFO: 2024/05/20 18:37:54 parsed scheme: ""
May 20 18:37:54 ubuntu etcd[59856]: INFO: 2024/05/20 18:37:54 scheme "" not registered, fallback to default scheme
May 20 18:37:54 ubuntu etcd[59856]: INFO: 2024/05/20 18:37:54 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 20 18:37:54 ubuntu etcd[59856]: INFO: 2024/05/20 18:37:54 ClientConn switching balancer to "pick_first"
May 20 18:37:54 ubuntu etcd[59856]: enabled capabilities for version 3.4
May 20 18:37:54 ubuntu etcd[59856]: ready to serve client requests
May 20 18:37:54 ubuntu etcd[59856]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 20 18:37:54 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 20 18:42:10 ubuntu etcd[59856]: start time = 2024-05-20 18:42:10.285391435 +0000 UTC m=+256.182216546, time spent = 440.786µs, remote = 10.201.4.32:39806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 18:42:10 ubuntu etcd[59856]: start time = 2024-05-20 18:42:10.289295693 +0000 UTC m=+256.186120814, time spent = 191.222µs, remote = 10.201.4.32:39806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 18:42:16 ubuntu etcd[59856]: start time = 2024-05-20 18:42:16.707533752 +0000 UTC m=+262.604358863, time spent = 168.016µs, remote = 10.201.4.32:39806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 18:42:18 ubuntu etcd[59856]: start time = 2024-05-20 18:42:18.954765254 +0000 UTC m=+264.851590376, time spent = 159.794µs, remote = 10.201.4.32:39806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
