May 02 15:33:51 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 02 15:33:51 ubuntu etcd[58371]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 02 15:33:51 ubuntu etcd[58371]:         A future release of golang/protobuf will delete this package,
May 02 15:33:51 ubuntu etcd[58371]:         which has long been excluded from the compatibility promise.
May 02 15:33:51 ubuntu etcd[58371]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 02 15:33:51 ubuntu etcd[58371]: Running http and grpc server on single port. This is not recommended for production.
May 02 15:33:51 ubuntu etcd[58371]: etcd Version: 3.4.27
May 02 15:33:51 ubuntu etcd[58371]: Git SHA: c92fb80f3
May 02 15:33:51 ubuntu etcd[58371]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 02 15:33:51 ubuntu etcd[58371]: Go Version: go1.19.10
May 02 15:33:51 ubuntu etcd[58371]: Go OS/Arch: linux/amd64
May 02 15:33:51 ubuntu etcd[58371]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 02 15:33:51 ubuntu etcd[58371]: Running http and grpc server on single port. This is not recommended for production.
May 02 15:33:51 ubuntu etcd[58371]: name = ubuntu
May 02 15:33:51 ubuntu etcd[58371]: data dir = /opt/stack/data/etcd
May 02 15:33:51 ubuntu etcd[58371]: member dir = /opt/stack/data/etcd/member
May 02 15:33:51 ubuntu etcd[58371]: heartbeat = 100ms
May 02 15:33:51 ubuntu etcd[58371]: election = 1000ms
May 02 15:33:51 ubuntu etcd[58371]: snapshot count = 100000
May 02 15:33:51 ubuntu etcd[58371]: advertise client URLs = http://10.201.9.223:2379
May 02 15:33:51 ubuntu etcd[58371]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 02 15:33:51 ubuntu etcd[58371]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 02 15:33:51 ubuntu etcd[58371]: raft2025/05/02 15:33:51 INFO: c25b29daa831042c switched to configuration voters=()
May 02 15:33:51 ubuntu etcd[58371]: raft2025/05/02 15:33:51 INFO: c25b29daa831042c became follower at term 0
May 02 15:33:51 ubuntu etcd[58371]: raft2025/05/02 15:33:51 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 02 15:33:51 ubuntu etcd[58371]: raft2025/05/02 15:33:51 INFO: c25b29daa831042c became follower at term 1
May 02 15:33:51 ubuntu etcd[58371]: raft2025/05/02 15:33:51 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 02 15:33:51 ubuntu etcd[58371]: simple token is not cryptographically signed
May 02 15:33:51 ubuntu etcd[58371]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 02 15:33:51 ubuntu etcd[58371]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 02 15:33:51 ubuntu etcd[58371]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 02 15:33:51 ubuntu etcd[58371]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 02 15:33:51 ubuntu etcd[58371]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 02 15:33:51 ubuntu etcd[58371]: raft2025/05/02 15:33:51 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 02 15:33:51 ubuntu etcd[58371]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 02 15:33:51 ubuntu etcd[58371]: listening for peers on [::]:2380
May 02 15:33:52 ubuntu etcd[58371]: raft2025/05/02 15:33:52 INFO: c25b29daa831042c is starting a new election at term 1
May 02 15:33:52 ubuntu etcd[58371]: raft2025/05/02 15:33:52 INFO: c25b29daa831042c became candidate at term 2
May 02 15:33:52 ubuntu etcd[58371]: raft2025/05/02 15:33:52 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 02 15:33:52 ubuntu etcd[58371]: raft2025/05/02 15:33:52 INFO: c25b29daa831042c became leader at term 2
May 02 15:33:52 ubuntu etcd[58371]: raft2025/05/02 15:33:52 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 02 15:33:52 ubuntu etcd[58371]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 02 15:33:52 ubuntu etcd[58371]: setting up the initial cluster version to 3.4
May 02 15:33:52 ubuntu etcd[58371]: ready to serve client requests
May 02 15:33:52 ubuntu etcd[58371]: set the initial cluster version to 3.4
May 02 15:33:52 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 02 15:33:52 ubuntu etcd[58371]: enabled capabilities for version 3.4
May 02 15:33:52 ubuntu etcd[58371]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 02 15:38:01 ubuntu etcd[58371]: start time = 2025-05-02 15:38:01.123111093 +0000 UTC m=+249.707783355, time spent = 521.623µs, remote = 10.201.9.223:58610, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 02 15:38:01 ubuntu etcd[58371]: start time = 2025-05-02 15:38:01.143910196 +0000 UTC m=+249.728582476, time spent = 165.609µs, remote = 10.201.9.223:58610, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 02 15:38:07 ubuntu etcd[58371]: start time = 2025-05-02 15:38:07.624740414 +0000 UTC m=+256.209412686, time spent = 238.084µs, remote = 10.201.9.223:58610, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 02 15:38:09 ubuntu etcd[58371]: start time = 2025-05-02 15:38:09.685525285 +0000 UTC m=+258.270197561, time spent = 291.194µs, remote = 10.201.9.223:58610, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
