Jul 23 18:24:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 23 18:24:37 ubuntu etcd[59057]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 23 18:24:37 ubuntu etcd[59057]:         A future release of golang/protobuf will delete this package,
Jul 23 18:24:37 ubuntu etcd[59057]:         which has long been excluded from the compatibility promise.
Jul 23 18:24:37 ubuntu etcd[59057]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 18:24:37 ubuntu etcd[59057]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 18:24:37 ubuntu etcd[59057]: etcd Version: 3.4.27
Jul 23 18:24:37 ubuntu etcd[59057]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 18:24:37 ubuntu etcd[59057]: Git SHA: c92fb80f3
Jul 23 18:24:37 ubuntu etcd[59057]: Go Version: go1.19.10
Jul 23 18:24:37 ubuntu etcd[59057]: Go OS/Arch: linux/amd64
Jul 23 18:24:37 ubuntu etcd[59057]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 23 18:24:37 ubuntu etcd[59057]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 18:24:37 ubuntu etcd[59057]: name = ubuntu
Jul 23 18:24:37 ubuntu etcd[59057]: data dir = /opt/stack/data/etcd
Jul 23 18:24:37 ubuntu etcd[59057]: member dir = /opt/stack/data/etcd/member
Jul 23 18:24:37 ubuntu etcd[59057]: heartbeat = 100ms
Jul 23 18:24:37 ubuntu etcd[59057]: election = 1000ms
Jul 23 18:24:37 ubuntu etcd[59057]: snapshot count = 100000
Jul 23 18:24:37 ubuntu etcd[59057]: advertise client URLs = http://10.201.9.223:2379
Jul 23 18:24:37 ubuntu etcd[59057]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 23 18:24:37 ubuntu etcd[59057]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c switched to configuration voters=()
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c became follower at term 0
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c became follower at term 1
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 23 18:24:37 ubuntu etcd[59057]: simple token is not cryptographically signed
Jul 23 18:24:37 ubuntu etcd[59057]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 23 18:24:37 ubuntu etcd[59057]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 23 18:24:37 ubuntu etcd[59057]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 23 18:24:37 ubuntu etcd[59057]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 23 18:24:37 ubuntu etcd[59057]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 23 18:24:37 ubuntu etcd[59057]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 23 18:24:37 ubuntu etcd[59057]: listening for peers on [::]:2380
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c is starting a new election at term 1
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c became candidate at term 2
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c became leader at term 2
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 23 18:24:37 ubuntu etcd[59057]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 23 18:24:37 ubuntu etcd[59057]: setting up the initial cluster version to 3.4
Jul 23 18:24:37 ubuntu etcd[59057]: ready to serve client requests
Jul 23 18:24:37 ubuntu etcd[59057]: set the initial cluster version to 3.4
Jul 23 18:24:37 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 23 18:24:37 ubuntu etcd[59057]: enabled capabilities for version 3.4
Jul 23 18:24:37 ubuntu etcd[59057]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 23 18:28:44 ubuntu etcd[59057]: start time = 2025-07-23 18:28:44.68686125 +0000 UTC m=+247.564772136, time spent = 1.713992ms, remote = 10.201.9.223:36612, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:28:44 ubuntu etcd[59057]: start time = 2025-07-23 18:28:44.693349165 +0000 UTC m=+247.571260061, time spent = 165.809µs, remote = 10.201.9.223:36612, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:28:51 ubuntu etcd[59057]: start time = 2025-07-23 18:28:51.172114252 +0000 UTC m=+254.050025152, time spent = 188.035µs, remote = 10.201.9.223:36612, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:28:53 ubuntu etcd[59057]: start time = 2025-07-23 18:28:53.484067732 +0000 UTC m=+256.361978630, time spent = 218.345µs, remote = 10.201.9.223:36612, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:24:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 23 18:24:37 ubuntu etcd[59057]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 23 18:24:37 ubuntu etcd[59057]:         A future release of golang/protobuf will delete this package,
Jul 23 18:24:37 ubuntu etcd[59057]:         which has long been excluded from the compatibility promise.
Jul 23 18:24:37 ubuntu etcd[59057]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 18:24:37 ubuntu etcd[59057]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 18:24:37 ubuntu etcd[59057]: etcd Version: 3.4.27
Jul 23 18:24:37 ubuntu etcd[59057]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 18:24:37 ubuntu etcd[59057]: Git SHA: c92fb80f3
Jul 23 18:24:37 ubuntu etcd[59057]: Go Version: go1.19.10
Jul 23 18:24:37 ubuntu etcd[59057]: Go OS/Arch: linux/amd64
Jul 23 18:24:37 ubuntu etcd[59057]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 23 18:24:37 ubuntu etcd[59057]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 18:24:37 ubuntu etcd[59057]: name = ubuntu
Jul 23 18:24:37 ubuntu etcd[59057]: data dir = /opt/stack/data/etcd
Jul 23 18:24:37 ubuntu etcd[59057]: member dir = /opt/stack/data/etcd/member
Jul 23 18:24:37 ubuntu etcd[59057]: heartbeat = 100ms
Jul 23 18:24:37 ubuntu etcd[59057]: election = 1000ms
Jul 23 18:24:37 ubuntu etcd[59057]: snapshot count = 100000
Jul 23 18:24:37 ubuntu etcd[59057]: advertise client URLs = http://10.201.9.223:2379
Jul 23 18:24:37 ubuntu etcd[59057]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 23 18:24:37 ubuntu etcd[59057]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c switched to configuration voters=()
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c became follower at term 0
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c became follower at term 1
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 23 18:24:37 ubuntu etcd[59057]: simple token is not cryptographically signed
Jul 23 18:24:37 ubuntu etcd[59057]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 23 18:24:37 ubuntu etcd[59057]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 23 18:24:37 ubuntu etcd[59057]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 23 18:24:37 ubuntu etcd[59057]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 23 18:24:37 ubuntu etcd[59057]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 23 18:24:37 ubuntu etcd[59057]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 23 18:24:37 ubuntu etcd[59057]: listening for peers on [::]:2380
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c is starting a new election at term 1
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c became candidate at term 2
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: c25b29daa831042c became leader at term 2
Jul 23 18:24:37 ubuntu etcd[59057]: raft2025/07/23 18:24:37 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 23 18:24:37 ubuntu etcd[59057]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 23 18:24:37 ubuntu etcd[59057]: setting up the initial cluster version to 3.4
Jul 23 18:24:37 ubuntu etcd[59057]: ready to serve client requests
Jul 23 18:24:37 ubuntu etcd[59057]: set the initial cluster version to 3.4
Jul 23 18:24:37 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 23 18:24:37 ubuntu etcd[59057]: enabled capabilities for version 3.4
Jul 23 18:24:37 ubuntu etcd[59057]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 23 18:28:44 ubuntu etcd[59057]: start time = 2025-07-23 18:28:44.68686125 +0000 UTC m=+247.564772136, time spent = 1.713992ms, remote = 10.201.9.223:36612, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:28:44 ubuntu etcd[59057]: start time = 2025-07-23 18:28:44.693349165 +0000 UTC m=+247.571260061, time spent = 165.809µs, remote = 10.201.9.223:36612, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:28:51 ubuntu etcd[59057]: start time = 2025-07-23 18:28:51.172114252 +0000 UTC m=+254.050025152, time spent = 188.035µs, remote = 10.201.9.223:36612, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:28:53 ubuntu etcd[59057]: start time = 2025-07-23 18:28:53.484067732 +0000 UTC m=+256.361978630, time spent = 218.345µs, remote = 10.201.9.223:36612, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
