Jul 10 15:57:20 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 10 15:57:20 ubuntu etcd[59163]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 10 15:57:20 ubuntu etcd[59163]:         A future release of golang/protobuf will delete this package,
Jul 10 15:57:20 ubuntu etcd[59163]:         which has long been excluded from the compatibility promise.
Jul 10 15:57:20 ubuntu etcd[59163]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 10 15:57:20 ubuntu etcd[59163]: Running http and grpc server on single port. This is not recommended for production.
Jul 10 15:57:20 ubuntu etcd[59163]: etcd Version: 3.4.27
Jul 10 15:57:20 ubuntu etcd[59163]: Git SHA: c92fb80f3
Jul 10 15:57:20 ubuntu etcd[59163]: Go Version: go1.19.10
Jul 10 15:57:20 ubuntu etcd[59163]: Go OS/Arch: linux/amd64
Jul 10 15:57:20 ubuntu etcd[59163]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 10 15:57:20 ubuntu etcd[59163]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 10 15:57:20 ubuntu etcd[59163]: Running http and grpc server on single port. This is not recommended for production.
Jul 10 15:57:20 ubuntu etcd[59163]: name = ubuntu
Jul 10 15:57:20 ubuntu etcd[59163]: data dir = /opt/stack/data/etcd
Jul 10 15:57:20 ubuntu etcd[59163]: member dir = /opt/stack/data/etcd/member
Jul 10 15:57:20 ubuntu etcd[59163]: heartbeat = 100ms
Jul 10 15:57:20 ubuntu etcd[59163]: election = 1000ms
Jul 10 15:57:20 ubuntu etcd[59163]: snapshot count = 100000
Jul 10 15:57:20 ubuntu etcd[59163]: advertise client URLs = http://10.201.9.223:2379
Jul 10 15:57:20 ubuntu etcd[59163]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 10 15:57:20 ubuntu etcd[59163]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jul 10 15:57:20 ubuntu etcd[59163]: raft2025/07/10 15:57:20 INFO: c25b29daa831042c switched to configuration voters=()
Jul 10 15:57:20 ubuntu etcd[59163]: raft2025/07/10 15:57:20 INFO: c25b29daa831042c became follower at term 0
Jul 10 15:57:20 ubuntu etcd[59163]: raft2025/07/10 15:57:20 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 10 15:57:20 ubuntu etcd[59163]: raft2025/07/10 15:57:20 INFO: c25b29daa831042c became follower at term 1
Jul 10 15:57:20 ubuntu etcd[59163]: raft2025/07/10 15:57:20 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 10 15:57:20 ubuntu etcd[59163]: simple token is not cryptographically signed
Jul 10 15:57:20 ubuntu etcd[59163]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 10 15:57:20 ubuntu etcd[59163]: listening for peers on [::]:2380
Jul 10 15:57:20 ubuntu etcd[59163]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 10 15:57:20 ubuntu etcd[59163]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 10 15:57:20 ubuntu etcd[59163]: raft2025/07/10 15:57:20 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jul 10 15:57:20 ubuntu etcd[59163]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 10 15:57:20 ubuntu etcd[59163]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 10 15:57:20 ubuntu etcd[59163]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jul 10 15:57:21 ubuntu etcd[59163]: raft2025/07/10 15:57:21 INFO: c25b29daa831042c is starting a new election at term 1
Jul 10 15:57:21 ubuntu etcd[59163]: raft2025/07/10 15:57:21 INFO: c25b29daa831042c became candidate at term 2
Jul 10 15:57:21 ubuntu etcd[59163]: raft2025/07/10 15:57:21 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jul 10 15:57:21 ubuntu etcd[59163]: raft2025/07/10 15:57:21 INFO: c25b29daa831042c became leader at term 2
Jul 10 15:57:21 ubuntu etcd[59163]: raft2025/07/10 15:57:21 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jul 10 15:57:21 ubuntu etcd[59163]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jul 10 15:57:21 ubuntu etcd[59163]: setting up the initial cluster version to 3.4
Jul 10 15:57:21 ubuntu etcd[59163]: ready to serve client requests
Jul 10 15:57:21 ubuntu etcd[59163]: set the initial cluster version to 3.4
Jul 10 15:57:21 ubuntu etcd[59163]: enabled capabilities for version 3.4
Jul 10 15:57:21 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 10 15:57:21 ubuntu etcd[59163]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jul 10 16:01:33 ubuntu etcd[59163]: start time = 2025-07-10 16:01:33.08290562 +0000 UTC m=+252.944777525, time spent = 462.138µs, remote = 10.201.9.223:50806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 10 16:01:33 ubuntu etcd[59163]: start time = 2025-07-10 16:01:33.179130505 +0000 UTC m=+253.041002429, time spent = 178.661µs, remote = 10.201.9.223:50806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 10 16:01:39 ubuntu etcd[59163]: start time = 2025-07-10 16:01:39.775070274 +0000 UTC m=+259.636942197, time spent = 169.856µs, remote = 10.201.9.223:50806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 10 16:01:41 ubuntu etcd[59163]: start time = 2025-07-10 16:01:41.725231026 +0000 UTC m=+261.587102950, time spent = 216.163µs, remote = 10.201.9.223:50806, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
