May 27 05:49:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 27 05:49:58 ubuntu etcd[58132]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 27 05:49:58 ubuntu etcd[58132]:         A future release of golang/protobuf will delete this package,
May 27 05:49:58 ubuntu etcd[58132]:         which has long been excluded from the compatibility promise.
May 27 05:49:58 ubuntu etcd[58132]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 27 05:49:58 ubuntu etcd[58132]: Running http and grpc server on single port. This is not recommended for production.
May 27 05:49:58 ubuntu etcd[58132]: etcd Version: 3.4.27
May 27 05:49:58 ubuntu etcd[58132]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 27 05:49:58 ubuntu etcd[58132]: Git SHA: c92fb80f3
May 27 05:49:58 ubuntu etcd[58132]: Go Version: go1.19.10
May 27 05:49:58 ubuntu etcd[58132]: Go OS/Arch: linux/amd64
May 27 05:49:58 ubuntu etcd[58132]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 27 05:49:58 ubuntu etcd[58132]: Running http and grpc server on single port. This is not recommended for production.
May 27 05:49:58 ubuntu etcd[58132]: name = ubuntu
May 27 05:49:58 ubuntu etcd[58132]: data dir = /opt/stack/data/etcd
May 27 05:49:58 ubuntu etcd[58132]: member dir = /opt/stack/data/etcd/member
May 27 05:49:58 ubuntu etcd[58132]: heartbeat = 100ms
May 27 05:49:58 ubuntu etcd[58132]: election = 1000ms
May 27 05:49:58 ubuntu etcd[58132]: snapshot count = 100000
May 27 05:49:58 ubuntu etcd[58132]: advertise client URLs = http://10.201.9.223:2379
May 27 05:49:58 ubuntu etcd[58132]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 27 05:49:58 ubuntu etcd[58132]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
May 27 05:49:58 ubuntu etcd[58132]: raft2025/05/27 05:49:58 INFO: c25b29daa831042c switched to configuration voters=()
May 27 05:49:58 ubuntu etcd[58132]: raft2025/05/27 05:49:58 INFO: c25b29daa831042c became follower at term 0
May 27 05:49:58 ubuntu etcd[58132]: raft2025/05/27 05:49:58 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 27 05:49:58 ubuntu etcd[58132]: raft2025/05/27 05:49:58 INFO: c25b29daa831042c became follower at term 1
May 27 05:49:58 ubuntu etcd[58132]: raft2025/05/27 05:49:58 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 27 05:49:58 ubuntu etcd[58132]: simple token is not cryptographically signed
May 27 05:49:58 ubuntu etcd[58132]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 27 05:49:58 ubuntu etcd[58132]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 27 05:49:58 ubuntu etcd[58132]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 27 05:49:58 ubuntu etcd[58132]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 27 05:49:58 ubuntu etcd[58132]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
May 27 05:49:58 ubuntu etcd[58132]: raft2025/05/27 05:49:58 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
May 27 05:49:58 ubuntu etcd[58132]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
May 27 05:49:58 ubuntu etcd[58132]: listening for peers on [::]:2380
May 27 05:49:59 ubuntu etcd[58132]: raft2025/05/27 05:49:59 INFO: c25b29daa831042c is starting a new election at term 1
May 27 05:49:59 ubuntu etcd[58132]: raft2025/05/27 05:49:59 INFO: c25b29daa831042c became candidate at term 2
May 27 05:49:59 ubuntu etcd[58132]: raft2025/05/27 05:49:59 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
May 27 05:49:59 ubuntu etcd[58132]: raft2025/05/27 05:49:59 INFO: c25b29daa831042c became leader at term 2
May 27 05:49:59 ubuntu etcd[58132]: raft2025/05/27 05:49:59 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
May 27 05:49:59 ubuntu etcd[58132]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
May 27 05:49:59 ubuntu etcd[58132]: setting up the initial cluster version to 3.4
May 27 05:49:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 27 05:49:59 ubuntu etcd[58132]: ready to serve client requests
May 27 05:49:59 ubuntu etcd[58132]: set the initial cluster version to 3.4
May 27 05:49:59 ubuntu etcd[58132]: enabled capabilities for version 3.4
May 27 05:49:59 ubuntu etcd[58132]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
May 27 05:54:04 ubuntu etcd[58132]: start time = 2025-05-27 05:54:04.670629691 +0000 UTC m=+245.889946667, time spent = 564.739µs, remote = 10.201.9.223:33584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 05:54:04 ubuntu etcd[58132]: start time = 2025-05-27 05:54:04.712806824 +0000 UTC m=+245.932123819, time spent = 203.739µs, remote = 10.201.9.223:33584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 05:54:11 ubuntu etcd[58132]: start time = 2025-05-27 05:54:11.172114341 +0000 UTC m=+252.391431316, time spent = 382.667µs, remote = 10.201.9.223:33584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 05:54:13 ubuntu etcd[58132]: start time = 2025-05-27 05:54:13.430991539 +0000 UTC m=+254.650308535, time spent = 302.487µs, remote = 10.201.9.223:33584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
