Dec 05 04:45:25 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 05 04:45:25 ubuntu etcd[58926]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 05 04:45:25 ubuntu etcd[58926]:         A future release of golang/protobuf will delete this package,
Dec 05 04:45:25 ubuntu etcd[58926]:         which has long been excluded from the compatibility promise.
Dec 05 04:45:25 ubuntu etcd[58926]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 05 04:45:25 ubuntu etcd[58926]: Running http and grpc server on single port. This is not recommended for production.
Dec 05 04:45:25 ubuntu etcd[58926]: etcd Version: 3.4.27
Dec 05 04:45:25 ubuntu etcd[58926]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 05 04:45:25 ubuntu etcd[58926]: Git SHA: c92fb80f3
Dec 05 04:45:25 ubuntu etcd[58926]: Go Version: go1.19.10
Dec 05 04:45:25 ubuntu etcd[58926]: Go OS/Arch: linux/amd64
Dec 05 04:45:25 ubuntu etcd[58926]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 05 04:45:25 ubuntu etcd[58926]: Running http and grpc server on single port. This is not recommended for production.
Dec 05 04:45:25 ubuntu etcd[58926]: name = ubuntu
Dec 05 04:45:25 ubuntu etcd[58926]: data dir = /opt/stack/data/etcd
Dec 05 04:45:25 ubuntu etcd[58926]: member dir = /opt/stack/data/etcd/member
Dec 05 04:45:25 ubuntu etcd[58926]: heartbeat = 100ms
Dec 05 04:45:25 ubuntu etcd[58926]: election = 1000ms
Dec 05 04:45:25 ubuntu etcd[58926]: snapshot count = 100000
Dec 05 04:45:25 ubuntu etcd[58926]: advertise client URLs = http://10.201.4.32:2379
Dec 05 04:45:25 ubuntu etcd[58926]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 05 04:45:25 ubuntu etcd[58926]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 05 04:45:25 ubuntu etcd[58926]: simple token is not cryptographically signed
Dec 05 04:45:25 ubuntu etcd[58926]: raft2024/12/05 04:45:25 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 05 04:45:25 ubuntu etcd[58926]: raft2024/12/05 04:45:25 INFO: 33238c1cdfea94eb became follower at term 0
Dec 05 04:45:25 ubuntu etcd[58926]: raft2024/12/05 04:45:25 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 05 04:45:25 ubuntu etcd[58926]: raft2024/12/05 04:45:25 INFO: 33238c1cdfea94eb became follower at term 1
Dec 05 04:45:25 ubuntu etcd[58926]: raft2024/12/05 04:45:25 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 05 04:45:25 ubuntu etcd[58926]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 05 04:45:25 ubuntu etcd[58926]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 05 04:45:25 ubuntu etcd[58926]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 05 04:45:25 ubuntu etcd[58926]: raft2024/12/05 04:45:25 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 05 04:45:25 ubuntu etcd[58926]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 05 04:45:25 ubuntu etcd[58926]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 05 04:45:25 ubuntu etcd[58926]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 05 04:45:25 ubuntu etcd[58926]: listening for peers on [::]:2380
Dec 05 04:45:25 ubuntu etcd[58926]: raft2024/12/05 04:45:25 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 05 04:45:25 ubuntu etcd[58926]: raft2024/12/05 04:45:25 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 05 04:45:25 ubuntu etcd[58926]: raft2024/12/05 04:45:25 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 05 04:45:25 ubuntu etcd[58926]: raft2024/12/05 04:45:25 INFO: 33238c1cdfea94eb became leader at term 2
Dec 05 04:45:25 ubuntu etcd[58926]: raft2024/12/05 04:45:25 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 05 04:45:25 ubuntu etcd[58926]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 05 04:45:25 ubuntu etcd[58926]: ready to serve client requests
Dec 05 04:45:25 ubuntu etcd[58926]: setting up the initial cluster version to 3.4
Dec 05 04:45:25 ubuntu etcd[58926]: set the initial cluster version to 3.4
Dec 05 04:45:25 ubuntu etcd[58926]: enabled capabilities for version 3.4
Dec 05 04:45:25 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 05 04:45:25 ubuntu etcd[58926]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 05 04:49:39 ubuntu etcd[58926]: start time = 2024-12-05 04:49:39.377377334 +0000 UTC m=+254.276479376, time spent = 431.234µs, remote = 10.201.4.32:43294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 04:49:39 ubuntu etcd[58926]: start time = 2024-12-05 04:49:39.42193826 +0000 UTC m=+254.321040303, time spent = 180.881µs, remote = 10.201.4.32:43294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 04:49:45 ubuntu etcd[58926]: start time = 2024-12-05 04:49:45.974403434 +0000 UTC m=+260.873505479, time spent = 166.354µs, remote = 10.201.4.32:43294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 04:49:48 ubuntu etcd[58926]: start time = 2024-12-05 04:49:48.048177445 +0000 UTC m=+262.947279493, time spent = 364.064µs, remote = 10.201.4.32:43294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
