Nov 27 08:03:25 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Nov 27 08:03:25 ubuntu etcd[59129]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Nov 27 08:03:25 ubuntu etcd[59129]:         A future release of golang/protobuf will delete this package,
Nov 27 08:03:25 ubuntu etcd[59129]:         which has long been excluded from the compatibility promise.
Nov 27 08:03:25 ubuntu etcd[59129]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 27 08:03:25 ubuntu etcd[59129]: Running http and grpc server on single port. This is not recommended for production.
Nov 27 08:03:25 ubuntu etcd[59129]: etcd Version: 3.4.27
Nov 27 08:03:25 ubuntu etcd[59129]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 27 08:03:25 ubuntu etcd[59129]: Git SHA: c92fb80f3
Nov 27 08:03:25 ubuntu etcd[59129]: Go Version: go1.19.10
Nov 27 08:03:25 ubuntu etcd[59129]: Go OS/Arch: linux/amd64
Nov 27 08:03:25 ubuntu etcd[59129]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Nov 27 08:03:25 ubuntu etcd[59129]: Running http and grpc server on single port. This is not recommended for production.
Nov 27 08:03:25 ubuntu etcd[59129]: name = ubuntu
Nov 27 08:03:25 ubuntu etcd[59129]: data dir = /opt/stack/data/etcd
Nov 27 08:03:25 ubuntu etcd[59129]: member dir = /opt/stack/data/etcd/member
Nov 27 08:03:25 ubuntu etcd[59129]: heartbeat = 100ms
Nov 27 08:03:25 ubuntu etcd[59129]: election = 1000ms
Nov 27 08:03:25 ubuntu etcd[59129]: snapshot count = 100000
Nov 27 08:03:25 ubuntu etcd[59129]: advertise client URLs = http://10.201.4.32:2379
Nov 27 08:03:25 ubuntu etcd[59129]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Nov 27 08:03:25 ubuntu etcd[59129]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Nov 27 08:03:25 ubuntu etcd[59129]: raft2024/11/27 08:03:25 INFO: 33238c1cdfea94eb switched to configuration voters=()
Nov 27 08:03:25 ubuntu etcd[59129]: raft2024/11/27 08:03:25 INFO: 33238c1cdfea94eb became follower at term 0
Nov 27 08:03:25 ubuntu etcd[59129]: raft2024/11/27 08:03:25 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Nov 27 08:03:25 ubuntu etcd[59129]: raft2024/11/27 08:03:25 INFO: 33238c1cdfea94eb became follower at term 1
Nov 27 08:03:25 ubuntu etcd[59129]: raft2024/11/27 08:03:25 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Nov 27 08:03:25 ubuntu etcd[59129]: simple token is not cryptographically signed
Nov 27 08:03:25 ubuntu etcd[59129]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Nov 27 08:03:25 ubuntu etcd[59129]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Nov 27 08:03:25 ubuntu etcd[59129]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Nov 27 08:03:25 ubuntu etcd[59129]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Nov 27 08:03:25 ubuntu etcd[59129]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Nov 27 08:03:25 ubuntu etcd[59129]: raft2024/11/27 08:03:25 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Nov 27 08:03:25 ubuntu etcd[59129]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Nov 27 08:03:25 ubuntu etcd[59129]: listening for peers on [::]:2380
Nov 27 08:03:26 ubuntu etcd[59129]: raft2024/11/27 08:03:26 INFO: 33238c1cdfea94eb is starting a new election at term 1
Nov 27 08:03:26 ubuntu etcd[59129]: raft2024/11/27 08:03:26 INFO: 33238c1cdfea94eb became candidate at term 2
Nov 27 08:03:26 ubuntu etcd[59129]: raft2024/11/27 08:03:26 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Nov 27 08:03:26 ubuntu etcd[59129]: raft2024/11/27 08:03:26 INFO: 33238c1cdfea94eb became leader at term 2
Nov 27 08:03:26 ubuntu etcd[59129]: raft2024/11/27 08:03:26 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Nov 27 08:03:26 ubuntu etcd[59129]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Nov 27 08:03:26 ubuntu etcd[59129]: ready to serve client requests
Nov 27 08:03:26 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Nov 27 08:03:26 ubuntu etcd[59129]: setting up the initial cluster version to 3.4
Nov 27 08:03:26 ubuntu etcd[59129]: set the initial cluster version to 3.4
Nov 27 08:03:26 ubuntu etcd[59129]: enabled capabilities for version 3.4
Nov 27 08:03:26 ubuntu etcd[59129]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Nov 27 08:07:45 ubuntu etcd[59129]: start time = 2024-11-27 08:07:45.132962981 +0000 UTC m=+259.870468373, time spent = 705.007µs, remote = 10.201.4.32:45004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 27 08:07:45 ubuntu etcd[59129]: start time = 2024-11-27 08:07:45.147947099 +0000 UTC m=+259.885452506, time spent = 331.999µs, remote = 10.201.4.32:45004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 27 08:07:51 ubuntu etcd[59129]: start time = 2024-11-27 08:07:51.433479114 +0000 UTC m=+266.170984518, time spent = 687.853µs, remote = 10.201.4.32:45004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 27 08:07:53 ubuntu etcd[59129]: start time = 2024-11-27 08:07:53.600229526 +0000 UTC m=+268.337734916, time spent = 823.835µs, remote = 10.201.4.32:45004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
