Sep 26 11:27:20 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 26 11:27:20 ubuntu etcd[59789]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 26 11:27:20 ubuntu etcd[59789]:         A future release of golang/protobuf will delete this package,
Sep 26 11:27:20 ubuntu etcd[59789]:         which has long been excluded from the compatibility promise.
Sep 26 11:27:20 ubuntu etcd[59789]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 26 11:27:20 ubuntu etcd[59789]: Running http and grpc server on single port. This is not recommended for production.
Sep 26 11:27:20 ubuntu etcd[59789]: etcd Version: 3.4.27
Sep 26 11:27:20 ubuntu etcd[59789]: Git SHA: c92fb80f3
Sep 26 11:27:20 ubuntu etcd[59789]: Go Version: go1.19.10
Sep 26 11:27:20 ubuntu etcd[59789]: Go OS/Arch: linux/amd64
Sep 26 11:27:20 ubuntu etcd[59789]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 26 11:27:20 ubuntu etcd[59789]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 26 11:27:20 ubuntu etcd[59789]: Running http and grpc server on single port. This is not recommended for production.
Sep 26 11:27:20 ubuntu etcd[59789]: name = ubuntu
Sep 26 11:27:20 ubuntu etcd[59789]: data dir = /opt/stack/data/etcd
Sep 26 11:27:20 ubuntu etcd[59789]: member dir = /opt/stack/data/etcd/member
Sep 26 11:27:20 ubuntu etcd[59789]: heartbeat = 100ms
Sep 26 11:27:20 ubuntu etcd[59789]: election = 1000ms
Sep 26 11:27:20 ubuntu etcd[59789]: snapshot count = 100000
Sep 26 11:27:20 ubuntu etcd[59789]: advertise client URLs = http://10.201.4.32:2379
Sep 26 11:27:20 ubuntu etcd[59789]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 26 11:27:20 ubuntu etcd[59789]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Sep 26 11:27:20 ubuntu etcd[59789]: raft2024/09/26 11:27:20 INFO: 33238c1cdfea94eb switched to configuration voters=()
Sep 26 11:27:20 ubuntu etcd[59789]: raft2024/09/26 11:27:20 INFO: 33238c1cdfea94eb became follower at term 0
Sep 26 11:27:20 ubuntu etcd[59789]: raft2024/09/26 11:27:20 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 26 11:27:20 ubuntu etcd[59789]: raft2024/09/26 11:27:20 INFO: 33238c1cdfea94eb became follower at term 1
Sep 26 11:27:20 ubuntu etcd[59789]: raft2024/09/26 11:27:20 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 26 11:27:20 ubuntu etcd[59789]: simple token is not cryptographically signed
Sep 26 11:27:20 ubuntu etcd[59789]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 26 11:27:20 ubuntu etcd[59789]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 26 11:27:20 ubuntu etcd[59789]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 26 11:27:20 ubuntu etcd[59789]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 26 11:27:20 ubuntu etcd[59789]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 26 11:27:20 ubuntu etcd[59789]: raft2024/09/26 11:27:20 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Sep 26 11:27:20 ubuntu etcd[59789]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Sep 26 11:27:20 ubuntu etcd[59789]: listening for peers on [::]:2380
Sep 26 11:27:20 ubuntu etcd[59789]: raft2024/09/26 11:27:20 INFO: 33238c1cdfea94eb is starting a new election at term 1
Sep 26 11:27:20 ubuntu etcd[59789]: raft2024/09/26 11:27:20 INFO: 33238c1cdfea94eb became candidate at term 2
Sep 26 11:27:20 ubuntu etcd[59789]: raft2024/09/26 11:27:20 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Sep 26 11:27:20 ubuntu etcd[59789]: raft2024/09/26 11:27:20 INFO: 33238c1cdfea94eb became leader at term 2
Sep 26 11:27:20 ubuntu etcd[59789]: raft2024/09/26 11:27:20 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Sep 26 11:27:20 ubuntu etcd[59789]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Sep 26 11:27:20 ubuntu etcd[59789]: setting up the initial cluster version to 3.4
Sep 26 11:27:20 ubuntu etcd[59789]: ready to serve client requests
Sep 26 11:27:20 ubuntu etcd[59789]: set the initial cluster version to 3.4
Sep 26 11:27:20 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 26 11:27:20 ubuntu etcd[59789]: enabled capabilities for version 3.4
Sep 26 11:27:20 ubuntu etcd[59789]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Sep 26 11:31:42 ubuntu etcd[59789]: start time = 2024-09-26 11:31:42.03685896 +0000 UTC m=+262.019539843, time spent = 432.166µs, remote = 10.201.4.32:43618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 26 11:31:42 ubuntu etcd[59789]: start time = 2024-09-26 11:31:42.055584437 +0000 UTC m=+262.038265336, time spent = 210.788µs, remote = 10.201.4.32:43618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 26 11:31:49 ubuntu etcd[59789]: start time = 2024-09-26 11:31:49.009927749 +0000 UTC m=+268.992608643, time spent = 205.797µs, remote = 10.201.4.32:43618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 26 11:31:51 ubuntu etcd[59789]: start time = 2024-09-26 11:31:51.43223586 +0000 UTC m=+271.414916753, time spent = 183.053µs, remote = 10.201.4.32:43618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
