Feb 13 13:28:38 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 13 13:28:38 ubuntu etcd[60222]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 13 13:28:38 ubuntu etcd[60222]:         A future release of golang/protobuf will delete this package,
Feb 13 13:28:38 ubuntu etcd[60222]:         which has long been excluded from the compatibility promise.
Feb 13 13:28:38 ubuntu etcd[60222]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 13 13:28:38 ubuntu etcd[60222]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 13 13:28:38 ubuntu etcd[60222]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 13 13:28:38 ubuntu etcd[60222]: Running http and grpc server on single port. This is not recommended for production.
Feb 13 13:28:38 ubuntu etcd[60222]: etcd Version: 3.4.27
Feb 13 13:28:38 ubuntu etcd[60222]: Git SHA: c92fb80f3
Feb 13 13:28:38 ubuntu etcd[60222]: Go Version: go1.19.10
Feb 13 13:28:38 ubuntu etcd[60222]: Go OS/Arch: linux/amd64
Feb 13 13:28:38 ubuntu etcd[60222]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 13 13:28:38 ubuntu etcd[60222]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 13 13:28:38 ubuntu etcd[60222]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 13 13:28:38 ubuntu etcd[60222]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 13 13:28:38 ubuntu etcd[60222]: Running http and grpc server on single port. This is not recommended for production.
Feb 13 13:28:38 ubuntu etcd[60222]: name = ubuntu
Feb 13 13:28:38 ubuntu etcd[60222]: data dir = /opt/stack/data/etcd
Feb 13 13:28:38 ubuntu etcd[60222]: member dir = /opt/stack/data/etcd/member
Feb 13 13:28:38 ubuntu etcd[60222]: heartbeat = 100ms
Feb 13 13:28:38 ubuntu etcd[60222]: election = 1000ms
Feb 13 13:28:38 ubuntu etcd[60222]: snapshot count = 100000
Feb 13 13:28:38 ubuntu etcd[60222]: advertise client URLs = http://10.201.4.32:2379
Feb 13 13:28:38 ubuntu etcd[60222]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 13 13:28:38 ubuntu etcd[60222]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Feb 13 13:28:38 ubuntu etcd[60222]: raft2024/02/13 13:28:38 INFO: 33238c1cdfea94eb switched to configuration voters=()
Feb 13 13:28:38 ubuntu etcd[60222]: raft2024/02/13 13:28:38 INFO: 33238c1cdfea94eb became follower at term 0
Feb 13 13:28:38 ubuntu etcd[60222]: raft2024/02/13 13:28:38 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 13 13:28:38 ubuntu etcd[60222]: raft2024/02/13 13:28:38 INFO: 33238c1cdfea94eb became follower at term 1
Feb 13 13:28:38 ubuntu etcd[60222]: raft2024/02/13 13:28:38 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 13 13:28:38 ubuntu etcd[60222]: simple token is not cryptographically signed
Feb 13 13:28:38 ubuntu etcd[60222]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 13 13:28:38 ubuntu etcd[60222]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 13 13:28:38 ubuntu etcd[60222]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 13 13:28:38 ubuntu etcd[60222]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 13 13:28:38 ubuntu etcd[60222]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 13 13:28:38 ubuntu etcd[60222]: raft2024/02/13 13:28:38 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Feb 13 13:28:38 ubuntu etcd[60222]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Feb 13 13:28:38 ubuntu etcd[60222]: listening for peers on [::]:2380
Feb 13 13:28:38 ubuntu etcd[60222]: raft2024/02/13 13:28:38 INFO: 33238c1cdfea94eb is starting a new election at term 1
Feb 13 13:28:38 ubuntu etcd[60222]: raft2024/02/13 13:28:38 INFO: 33238c1cdfea94eb became candidate at term 2
Feb 13 13:28:38 ubuntu etcd[60222]: raft2024/02/13 13:28:38 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Feb 13 13:28:38 ubuntu etcd[60222]: raft2024/02/13 13:28:38 INFO: 33238c1cdfea94eb became leader at term 2
Feb 13 13:28:38 ubuntu etcd[60222]: raft2024/02/13 13:28:38 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Feb 13 13:28:38 ubuntu etcd[60222]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Feb 13 13:28:38 ubuntu etcd[60222]: ready to serve client requests
Feb 13 13:28:38 ubuntu etcd[60222]: INFO: 2024/02/13 13:28:38 parsed scheme: ""
Feb 13 13:28:38 ubuntu etcd[60222]: INFO: 2024/02/13 13:28:38 scheme "" not registered, fallback to default scheme
Feb 13 13:28:38 ubuntu etcd[60222]: setting up the initial cluster version to 3.4
Feb 13 13:28:38 ubuntu etcd[60222]: INFO: 2024/02/13 13:28:38 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 13 13:28:38 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 13 13:28:38 ubuntu etcd[60222]: INFO: 2024/02/13 13:28:38 ClientConn switching balancer to "pick_first"
Feb 13 13:28:38 ubuntu etcd[60222]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Feb 13 13:28:38 ubuntu etcd[60222]: set the initial cluster version to 3.4
Feb 13 13:28:38 ubuntu etcd[60222]: enabled capabilities for version 3.4
Feb 13 13:32:52 ubuntu etcd[60222]: start time = 2024-02-13 13:32:52.963389012 +0000 UTC m=+254.774740769, time spent = 462.181µs, remote = 10.201.4.32:49834, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 13:32:52 ubuntu etcd[60222]: start time = 2024-02-13 13:32:52.971908492 +0000 UTC m=+254.783260248, time spent = 240.24µs, remote = 10.201.4.32:49834, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 13:32:59 ubuntu etcd[60222]: start time = 2024-02-13 13:32:59.58470897 +0000 UTC m=+261.396060725, time spent = 272.762µs, remote = 10.201.4.32:49834, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 13:33:02 ubuntu etcd[60222]: start time = 2024-02-13 13:33:02.050060064 +0000 UTC m=+263.861411820, time spent = 216.978µs, remote = 10.201.4.32:49834, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
