Dec 07 14:54:40 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 14:54:40 ubuntu etcd[58617]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 14:54:40 ubuntu etcd[58617]:         A future release of golang/protobuf will delete this package,
Dec 07 14:54:40 ubuntu etcd[58617]:         which has long been excluded from the compatibility promise.
Dec 07 14:54:40 ubuntu etcd[58617]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 07 14:54:40 ubuntu etcd[58617]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 07 14:54:40 ubuntu etcd[58617]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 14:54:40 ubuntu etcd[58617]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 07 14:54:40 ubuntu etcd[58617]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 07 14:54:40 ubuntu etcd[58617]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 14:54:40 ubuntu etcd[58617]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 14:54:40 ubuntu etcd[58617]: etcd Version: 3.4.27
Dec 07 14:54:40 ubuntu etcd[58617]: Git SHA: c92fb80f3
Dec 07 14:54:40 ubuntu etcd[58617]: Go Version: go1.19.10
Dec 07 14:54:40 ubuntu etcd[58617]: Go OS/Arch: linux/amd64
Dec 07 14:54:40 ubuntu etcd[58617]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 14:54:40 ubuntu etcd[58617]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 14:54:40 ubuntu etcd[58617]: name = ubuntu
Dec 07 14:54:40 ubuntu etcd[58617]: data dir = /opt/stack/data/etcd
Dec 07 14:54:40 ubuntu etcd[58617]: member dir = /opt/stack/data/etcd/member
Dec 07 14:54:40 ubuntu etcd[58617]: heartbeat = 100ms
Dec 07 14:54:40 ubuntu etcd[58617]: election = 1000ms
Dec 07 14:54:40 ubuntu etcd[58617]: snapshot count = 100000
Dec 07 14:54:40 ubuntu etcd[58617]: advertise client URLs = http://10.201.4.32:2379
Dec 07 14:54:40 ubuntu etcd[58617]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 07 14:54:40 ubuntu etcd[58617]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 07 14:54:40 ubuntu etcd[58617]: raft2023/12/07 14:54:40 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 07 14:54:40 ubuntu etcd[58617]: raft2023/12/07 14:54:40 INFO: 33238c1cdfea94eb became follower at term 0
Dec 07 14:54:40 ubuntu etcd[58617]: raft2023/12/07 14:54:40 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 07 14:54:40 ubuntu etcd[58617]: raft2023/12/07 14:54:40 INFO: 33238c1cdfea94eb became follower at term 1
Dec 07 14:54:40 ubuntu etcd[58617]: raft2023/12/07 14:54:40 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 07 14:54:40 ubuntu etcd[58617]: simple token is not cryptographically signed
Dec 07 14:54:40 ubuntu etcd[58617]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 07 14:54:40 ubuntu etcd[58617]: raft2023/12/07 14:54:40 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 07 14:54:40 ubuntu etcd[58617]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 07 14:54:40 ubuntu etcd[58617]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 07 14:54:40 ubuntu etcd[58617]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 07 14:54:40 ubuntu etcd[58617]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 07 14:54:40 ubuntu etcd[58617]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 07 14:54:40 ubuntu etcd[58617]: listening for peers on [::]:2380
Dec 07 14:54:41 ubuntu etcd[58617]: raft2023/12/07 14:54:41 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 07 14:54:41 ubuntu etcd[58617]: raft2023/12/07 14:54:41 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 07 14:54:41 ubuntu etcd[58617]: raft2023/12/07 14:54:41 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 07 14:54:41 ubuntu etcd[58617]: raft2023/12/07 14:54:41 INFO: 33238c1cdfea94eb became leader at term 2
Dec 07 14:54:41 ubuntu etcd[58617]: raft2023/12/07 14:54:41 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 07 14:54:41 ubuntu etcd[58617]: setting up the initial cluster version to 3.4
Dec 07 14:54:41 ubuntu etcd[58617]: ready to serve client requests
Dec 07 14:54:41 ubuntu etcd[58617]: set the initial cluster version to 3.4
Dec 07 14:54:41 ubuntu etcd[58617]: INFO: 2023/12/07 14:54:41 parsed scheme: ""
Dec 07 14:54:41 ubuntu etcd[58617]: INFO: 2023/12/07 14:54:41 scheme "" not registered, fallback to default scheme
Dec 07 14:54:41 ubuntu etcd[58617]: enabled capabilities for version 3.4
Dec 07 14:54:41 ubuntu etcd[58617]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 07 14:54:41 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 07 14:54:41 ubuntu etcd[58617]: INFO: 2023/12/07 14:54:41 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Dec 07 14:54:41 ubuntu etcd[58617]: INFO: 2023/12/07 14:54:41 ClientConn switching balancer to "pick_first"
Dec 07 14:54:41 ubuntu etcd[58617]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 07 14:58:59 ubuntu etcd[58617]: start time = 2023-12-07 14:58:59.624884429 +0000 UTC m=+258.716906714, time spent = 424.066µs, remote = 10.201.4.32:33578, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 14:58:59 ubuntu etcd[58617]: start time = 2023-12-07 14:58:59.669254005 +0000 UTC m=+258.761276289, time spent = 216.152µs, remote = 10.201.4.32:33578, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 14:59:05 ubuntu etcd[58617]: start time = 2023-12-07 14:59:05.829592343 +0000 UTC m=+264.921614628, time spent = 174.41µs, remote = 10.201.4.32:33578, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 14:59:07 ubuntu etcd[58617]: start time = 2023-12-07 14:59:07.925712444 +0000 UTC m=+267.017734731, time spent = 230.848µs, remote = 10.201.4.32:33578, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 14:54:40 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 14:54:40 ubuntu etcd[58617]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 14:54:40 ubuntu etcd[58617]:         A future release of golang/protobuf will delete this package,
Dec 07 14:54:40 ubuntu etcd[58617]:         which has long been excluded from the compatibility promise.
Dec 07 14:54:40 ubuntu etcd[58617]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 07 14:54:40 ubuntu etcd[58617]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 07 14:54:40 ubuntu etcd[58617]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 14:54:40 ubuntu etcd[58617]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Dec 07 14:54:40 ubuntu etcd[58617]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Dec 07 14:54:40 ubuntu etcd[58617]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 14:54:40 ubuntu etcd[58617]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 14:54:40 ubuntu etcd[58617]: etcd Version: 3.4.27
Dec 07 14:54:40 ubuntu etcd[58617]: Git SHA: c92fb80f3
Dec 07 14:54:40 ubuntu etcd[58617]: Go Version: go1.19.10
Dec 07 14:54:40 ubuntu etcd[58617]: Go OS/Arch: linux/amd64
Dec 07 14:54:40 ubuntu etcd[58617]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 14:54:40 ubuntu etcd[58617]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 14:54:40 ubuntu etcd[58617]: name = ubuntu
Dec 07 14:54:40 ubuntu etcd[58617]: data dir = /opt/stack/data/etcd
Dec 07 14:54:40 ubuntu etcd[58617]: member dir = /opt/stack/data/etcd/member
Dec 07 14:54:40 ubuntu etcd[58617]: heartbeat = 100ms
Dec 07 14:54:40 ubuntu etcd[58617]: election = 1000ms
Dec 07 14:54:40 ubuntu etcd[58617]: snapshot count = 100000
Dec 07 14:54:40 ubuntu etcd[58617]: advertise client URLs = http://10.201.4.32:2379
Dec 07 14:54:40 ubuntu etcd[58617]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 07 14:54:40 ubuntu etcd[58617]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Dec 07 14:54:40 ubuntu etcd[58617]: raft2023/12/07 14:54:40 INFO: 33238c1cdfea94eb switched to configuration voters=()
Dec 07 14:54:40 ubuntu etcd[58617]: raft2023/12/07 14:54:40 INFO: 33238c1cdfea94eb became follower at term 0
Dec 07 14:54:40 ubuntu etcd[58617]: raft2023/12/07 14:54:40 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 07 14:54:40 ubuntu etcd[58617]: raft2023/12/07 14:54:40 INFO: 33238c1cdfea94eb became follower at term 1
Dec 07 14:54:40 ubuntu etcd[58617]: raft2023/12/07 14:54:40 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 07 14:54:40 ubuntu etcd[58617]: simple token is not cryptographically signed
Dec 07 14:54:40 ubuntu etcd[58617]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 07 14:54:40 ubuntu etcd[58617]: raft2023/12/07 14:54:40 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Dec 07 14:54:40 ubuntu etcd[58617]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Dec 07 14:54:40 ubuntu etcd[58617]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 07 14:54:40 ubuntu etcd[58617]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 07 14:54:40 ubuntu etcd[58617]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 07 14:54:40 ubuntu etcd[58617]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 07 14:54:40 ubuntu etcd[58617]: listening for peers on [::]:2380
Dec 07 14:54:41 ubuntu etcd[58617]: raft2023/12/07 14:54:41 INFO: 33238c1cdfea94eb is starting a new election at term 1
Dec 07 14:54:41 ubuntu etcd[58617]: raft2023/12/07 14:54:41 INFO: 33238c1cdfea94eb became candidate at term 2
Dec 07 14:54:41 ubuntu etcd[58617]: raft2023/12/07 14:54:41 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Dec 07 14:54:41 ubuntu etcd[58617]: raft2023/12/07 14:54:41 INFO: 33238c1cdfea94eb became leader at term 2
Dec 07 14:54:41 ubuntu etcd[58617]: raft2023/12/07 14:54:41 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Dec 07 14:54:41 ubuntu etcd[58617]: setting up the initial cluster version to 3.4
Dec 07 14:54:41 ubuntu etcd[58617]: ready to serve client requests
Dec 07 14:54:41 ubuntu etcd[58617]: set the initial cluster version to 3.4
Dec 07 14:54:41 ubuntu etcd[58617]: INFO: 2023/12/07 14:54:41 parsed scheme: ""
Dec 07 14:54:41 ubuntu etcd[58617]: INFO: 2023/12/07 14:54:41 scheme "" not registered, fallback to default scheme
Dec 07 14:54:41 ubuntu etcd[58617]: enabled capabilities for version 3.4
Dec 07 14:54:41 ubuntu etcd[58617]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Dec 07 14:54:41 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 07 14:54:41 ubuntu etcd[58617]: INFO: 2023/12/07 14:54:41 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Dec 07 14:54:41 ubuntu etcd[58617]: INFO: 2023/12/07 14:54:41 ClientConn switching balancer to "pick_first"
Dec 07 14:54:41 ubuntu etcd[58617]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Dec 07 14:58:59 ubuntu etcd[58617]: start time = 2023-12-07 14:58:59.624884429 +0000 UTC m=+258.716906714, time spent = 424.066µs, remote = 10.201.4.32:33578, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 14:58:59 ubuntu etcd[58617]: start time = 2023-12-07 14:58:59.669254005 +0000 UTC m=+258.761276289, time spent = 216.152µs, remote = 10.201.4.32:33578, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 14:59:05 ubuntu etcd[58617]: start time = 2023-12-07 14:59:05.829592343 +0000 UTC m=+264.921614628, time spent = 174.41µs, remote = 10.201.4.32:33578, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 14:59:07 ubuntu etcd[58617]: start time = 2023-12-07 14:59:07.925712444 +0000 UTC m=+267.017734731, time spent = 230.848µs, remote = 10.201.4.32:33578, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
