Jan 21 04:03:22 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 21 04:03:22 ubuntu etcd[59228]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 21 04:03:22 ubuntu etcd[59228]:         A future release of golang/protobuf will delete this package,
Jan 21 04:03:22 ubuntu etcd[59228]:         which has long been excluded from the compatibility promise.
Jan 21 04:03:22 ubuntu etcd[59228]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 21 04:03:22 ubuntu etcd[59228]: Running http and grpc server on single port. This is not recommended for production.
Jan 21 04:03:22 ubuntu etcd[59228]: etcd Version: 3.4.27
Jan 21 04:03:22 ubuntu etcd[59228]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 21 04:03:22 ubuntu etcd[59228]: Git SHA: c92fb80f3
Jan 21 04:03:22 ubuntu etcd[59228]: Go Version: go1.19.10
Jan 21 04:03:22 ubuntu etcd[59228]: Go OS/Arch: linux/amd64
Jan 21 04:03:22 ubuntu etcd[59228]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 21 04:03:22 ubuntu etcd[59228]: Running http and grpc server on single port. This is not recommended for production.
Jan 21 04:03:22 ubuntu etcd[59228]: name = ubuntu
Jan 21 04:03:22 ubuntu etcd[59228]: data dir = /opt/stack/data/etcd
Jan 21 04:03:22 ubuntu etcd[59228]: member dir = /opt/stack/data/etcd/member
Jan 21 04:03:22 ubuntu etcd[59228]: heartbeat = 100ms
Jan 21 04:03:22 ubuntu etcd[59228]: election = 1000ms
Jan 21 04:03:22 ubuntu etcd[59228]: snapshot count = 100000
Jan 21 04:03:22 ubuntu etcd[59228]: advertise client URLs = http://10.201.9.223:2379
Jan 21 04:03:22 ubuntu etcd[59228]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 21 04:03:22 ubuntu etcd[59228]: starting member c25b29daa831042c in cluster fee8506d9e9ce5fd
Jan 21 04:03:22 ubuntu etcd[59228]: raft2025/01/21 04:03:22 INFO: c25b29daa831042c switched to configuration voters=()
Jan 21 04:03:22 ubuntu etcd[59228]: raft2025/01/21 04:03:22 INFO: c25b29daa831042c became follower at term 0
Jan 21 04:03:22 ubuntu etcd[59228]: raft2025/01/21 04:03:22 INFO: newRaft c25b29daa831042c [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 21 04:03:22 ubuntu etcd[59228]: raft2025/01/21 04:03:22 INFO: c25b29daa831042c became follower at term 1
Jan 21 04:03:22 ubuntu etcd[59228]: raft2025/01/21 04:03:22 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 21 04:03:22 ubuntu etcd[59228]: simple token is not cryptographically signed
Jan 21 04:03:22 ubuntu etcd[59228]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 21 04:03:22 ubuntu etcd[59228]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 21 04:03:22 ubuntu etcd[59228]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 21 04:03:22 ubuntu etcd[59228]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 21 04:03:22 ubuntu etcd[59228]: c25b29daa831042c as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 21 04:03:22 ubuntu etcd[59228]: raft2025/01/21 04:03:22 INFO: c25b29daa831042c switched to configuration voters=(14004833485340083244)
Jan 21 04:03:22 ubuntu etcd[59228]: added member c25b29daa831042c [http://10.201.9.223:2380] to cluster fee8506d9e9ce5fd
Jan 21 04:03:22 ubuntu etcd[59228]: listening for peers on [::]:2380
Jan 21 04:03:23 ubuntu etcd[59228]: raft2025/01/21 04:03:23 INFO: c25b29daa831042c is starting a new election at term 1
Jan 21 04:03:23 ubuntu etcd[59228]: raft2025/01/21 04:03:23 INFO: c25b29daa831042c became candidate at term 2
Jan 21 04:03:23 ubuntu etcd[59228]: raft2025/01/21 04:03:23 INFO: c25b29daa831042c received MsgVoteResp from c25b29daa831042c at term 2
Jan 21 04:03:23 ubuntu etcd[59228]: raft2025/01/21 04:03:23 INFO: c25b29daa831042c became leader at term 2
Jan 21 04:03:23 ubuntu etcd[59228]: raft2025/01/21 04:03:23 INFO: raft.node: c25b29daa831042c elected leader c25b29daa831042c at term 2
Jan 21 04:03:23 ubuntu etcd[59228]: published {Name:ubuntu ClientURLs:[http://10.201.9.223:2379]} to cluster fee8506d9e9ce5fd
Jan 21 04:03:23 ubuntu etcd[59228]: setting up the initial cluster version to 3.4
Jan 21 04:03:23 ubuntu etcd[59228]: ready to serve client requests
Jan 21 04:03:23 ubuntu etcd[59228]: set the initial cluster version to 3.4
Jan 21 04:03:23 ubuntu etcd[59228]: enabled capabilities for version 3.4
Jan 21 04:03:23 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 21 04:03:23 ubuntu etcd[59228]: serving insecure client requests on 10.201.9.223:2379, this is strongly discouraged!
Jan 21 04:07:30 ubuntu etcd[59228]: start time = 2025-01-21 04:07:30.593571275 +0000 UTC m=+248.048035749, time spent = 493.233µs, remote = 10.201.9.223:56188, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 21 04:07:30 ubuntu etcd[59228]: start time = 2025-01-21 04:07:30.642738498 +0000 UTC m=+248.097202990, time spent = 196.062µs, remote = 10.201.9.223:56188, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 21 04:07:36 ubuntu etcd[59228]: start time = 2025-01-21 04:07:36.889338861 +0000 UTC m=+254.343803348, time spent = 409.312µs, remote = 10.201.9.223:56188, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 21 04:07:39 ubuntu etcd[59228]: start time = 2025-01-21 04:07:39.216355075 +0000 UTC m=+256.670819563, time spent = 313.296µs, remote = 10.201.9.223:56188, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
