May 16 20:52:21 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 16 20:52:21 ubuntu etcd[59819]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 16 20:52:21 ubuntu etcd[59819]:         A future release of golang/protobuf will delete this package,
May 16 20:52:21 ubuntu etcd[59819]:         which has long been excluded from the compatibility promise.
May 16 20:52:21 ubuntu etcd[59819]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 16 20:52:21 ubuntu etcd[59819]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 16 20:52:21 ubuntu etcd[59819]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 16 20:52:21 ubuntu etcd[59819]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 16 20:52:21 ubuntu etcd[59819]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 16 20:52:21 ubuntu etcd[59819]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 16 20:52:21 ubuntu etcd[59819]: Running http and grpc server on single port. This is not recommended for production.
May 16 20:52:21 ubuntu etcd[59819]: etcd Version: 3.4.27
May 16 20:52:21 ubuntu etcd[59819]: Git SHA: c92fb80f3
May 16 20:52:21 ubuntu etcd[59819]: Go Version: go1.19.10
May 16 20:52:21 ubuntu etcd[59819]: Go OS/Arch: linux/amd64
May 16 20:52:21 ubuntu etcd[59819]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 16 20:52:21 ubuntu etcd[59819]: Running http and grpc server on single port. This is not recommended for production.
May 16 20:52:21 ubuntu etcd[59819]: name = ubuntu
May 16 20:52:21 ubuntu etcd[59819]: data dir = /opt/stack/data/etcd
May 16 20:52:21 ubuntu etcd[59819]: member dir = /opt/stack/data/etcd/member
May 16 20:52:21 ubuntu etcd[59819]: heartbeat = 100ms
May 16 20:52:21 ubuntu etcd[59819]: election = 1000ms
May 16 20:52:21 ubuntu etcd[59819]: snapshot count = 100000
May 16 20:52:21 ubuntu etcd[59819]: advertise client URLs = http://10.201.4.32:2379
May 16 20:52:21 ubuntu etcd[59819]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 16 20:52:21 ubuntu etcd[59819]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 16 20:52:21 ubuntu etcd[59819]: raft2024/05/16 20:52:21 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 16 20:52:21 ubuntu etcd[59819]: raft2024/05/16 20:52:21 INFO: 33238c1cdfea94eb became follower at term 0
May 16 20:52:21 ubuntu etcd[59819]: raft2024/05/16 20:52:21 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 16 20:52:21 ubuntu etcd[59819]: raft2024/05/16 20:52:21 INFO: 33238c1cdfea94eb became follower at term 1
May 16 20:52:21 ubuntu etcd[59819]: raft2024/05/16 20:52:21 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 16 20:52:21 ubuntu etcd[59819]: simple token is not cryptographically signed
May 16 20:52:21 ubuntu etcd[59819]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 16 20:52:21 ubuntu etcd[59819]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 16 20:52:21 ubuntu etcd[59819]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 16 20:52:21 ubuntu etcd[59819]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 16 20:52:21 ubuntu etcd[59819]: raft2024/05/16 20:52:21 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 16 20:52:21 ubuntu etcd[59819]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 16 20:52:21 ubuntu etcd[59819]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 16 20:52:21 ubuntu etcd[59819]: listening for peers on [::]:2380
May 16 20:52:22 ubuntu etcd[59819]: raft2024/05/16 20:52:22 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 16 20:52:22 ubuntu etcd[59819]: raft2024/05/16 20:52:22 INFO: 33238c1cdfea94eb became candidate at term 2
May 16 20:52:22 ubuntu etcd[59819]: raft2024/05/16 20:52:22 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 16 20:52:22 ubuntu etcd[59819]: raft2024/05/16 20:52:22 INFO: 33238c1cdfea94eb became leader at term 2
May 16 20:52:22 ubuntu etcd[59819]: raft2024/05/16 20:52:22 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 16 20:52:22 ubuntu etcd[59819]: setting up the initial cluster version to 3.4
May 16 20:52:22 ubuntu etcd[59819]: set the initial cluster version to 3.4
May 16 20:52:22 ubuntu etcd[59819]: enabled capabilities for version 3.4
May 16 20:52:22 ubuntu etcd[59819]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 16 20:52:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 16 20:52:22 ubuntu etcd[59819]: ready to serve client requests
May 16 20:52:22 ubuntu etcd[59819]: INFO: 2024/05/16 20:52:22 parsed scheme: ""
May 16 20:52:22 ubuntu etcd[59819]: INFO: 2024/05/16 20:52:22 scheme "" not registered, fallback to default scheme
May 16 20:52:22 ubuntu etcd[59819]: INFO: 2024/05/16 20:52:22 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 16 20:52:22 ubuntu etcd[59819]: INFO: 2024/05/16 20:52:22 ClientConn switching balancer to "pick_first"
May 16 20:52:22 ubuntu etcd[59819]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 16 20:56:39 ubuntu etcd[59819]: start time = 2024-05-16 20:56:39.923493953 +0000 UTC m=+258.492910412, time spent = 420.393µs, remote = 10.201.4.32:58368, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 16 20:56:39 ubuntu etcd[59819]: start time = 2024-05-16 20:56:39.923300309 +0000 UTC m=+258.492716769, time spent = 773.529µs, remote = 10.201.4.32:58368, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 16 20:56:46 ubuntu etcd[59819]: start time = 2024-05-16 20:56:46.517961411 +0000 UTC m=+265.087377870, time spent = 195.236µs, remote = 10.201.4.32:58368, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 16 20:56:48 ubuntu etcd[59819]: start time = 2024-05-16 20:56:48.655747978 +0000 UTC m=+267.225164427, time spent = 480.136µs, remote = 10.201.4.32:58368, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 16 20:52:21 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 16 20:52:21 ubuntu etcd[59819]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 16 20:52:21 ubuntu etcd[59819]:         A future release of golang/protobuf will delete this package,
May 16 20:52:21 ubuntu etcd[59819]:         which has long been excluded from the compatibility promise.
May 16 20:52:21 ubuntu etcd[59819]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 16 20:52:21 ubuntu etcd[59819]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 16 20:52:21 ubuntu etcd[59819]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 16 20:52:21 ubuntu etcd[59819]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 16 20:52:21 ubuntu etcd[59819]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 16 20:52:21 ubuntu etcd[59819]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 16 20:52:21 ubuntu etcd[59819]: Running http and grpc server on single port. This is not recommended for production.
May 16 20:52:21 ubuntu etcd[59819]: etcd Version: 3.4.27
May 16 20:52:21 ubuntu etcd[59819]: Git SHA: c92fb80f3
May 16 20:52:21 ubuntu etcd[59819]: Go Version: go1.19.10
May 16 20:52:21 ubuntu etcd[59819]: Go OS/Arch: linux/amd64
May 16 20:52:21 ubuntu etcd[59819]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 16 20:52:21 ubuntu etcd[59819]: Running http and grpc server on single port. This is not recommended for production.
May 16 20:52:21 ubuntu etcd[59819]: name = ubuntu
May 16 20:52:21 ubuntu etcd[59819]: data dir = /opt/stack/data/etcd
May 16 20:52:21 ubuntu etcd[59819]: member dir = /opt/stack/data/etcd/member
May 16 20:52:21 ubuntu etcd[59819]: heartbeat = 100ms
May 16 20:52:21 ubuntu etcd[59819]: election = 1000ms
May 16 20:52:21 ubuntu etcd[59819]: snapshot count = 100000
May 16 20:52:21 ubuntu etcd[59819]: advertise client URLs = http://10.201.4.32:2379
May 16 20:52:21 ubuntu etcd[59819]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 16 20:52:21 ubuntu etcd[59819]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
May 16 20:52:21 ubuntu etcd[59819]: raft2024/05/16 20:52:21 INFO: 33238c1cdfea94eb switched to configuration voters=()
May 16 20:52:21 ubuntu etcd[59819]: raft2024/05/16 20:52:21 INFO: 33238c1cdfea94eb became follower at term 0
May 16 20:52:21 ubuntu etcd[59819]: raft2024/05/16 20:52:21 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 16 20:52:21 ubuntu etcd[59819]: raft2024/05/16 20:52:21 INFO: 33238c1cdfea94eb became follower at term 1
May 16 20:52:21 ubuntu etcd[59819]: raft2024/05/16 20:52:21 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 16 20:52:21 ubuntu etcd[59819]: simple token is not cryptographically signed
May 16 20:52:21 ubuntu etcd[59819]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 16 20:52:21 ubuntu etcd[59819]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 16 20:52:21 ubuntu etcd[59819]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 16 20:52:21 ubuntu etcd[59819]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 16 20:52:21 ubuntu etcd[59819]: raft2024/05/16 20:52:21 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
May 16 20:52:21 ubuntu etcd[59819]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
May 16 20:52:21 ubuntu etcd[59819]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
May 16 20:52:21 ubuntu etcd[59819]: listening for peers on [::]:2380
May 16 20:52:22 ubuntu etcd[59819]: raft2024/05/16 20:52:22 INFO: 33238c1cdfea94eb is starting a new election at term 1
May 16 20:52:22 ubuntu etcd[59819]: raft2024/05/16 20:52:22 INFO: 33238c1cdfea94eb became candidate at term 2
May 16 20:52:22 ubuntu etcd[59819]: raft2024/05/16 20:52:22 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
May 16 20:52:22 ubuntu etcd[59819]: raft2024/05/16 20:52:22 INFO: 33238c1cdfea94eb became leader at term 2
May 16 20:52:22 ubuntu etcd[59819]: raft2024/05/16 20:52:22 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
May 16 20:52:22 ubuntu etcd[59819]: setting up the initial cluster version to 3.4
May 16 20:52:22 ubuntu etcd[59819]: set the initial cluster version to 3.4
May 16 20:52:22 ubuntu etcd[59819]: enabled capabilities for version 3.4
May 16 20:52:22 ubuntu etcd[59819]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
May 16 20:52:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 16 20:52:22 ubuntu etcd[59819]: ready to serve client requests
May 16 20:52:22 ubuntu etcd[59819]: INFO: 2024/05/16 20:52:22 parsed scheme: ""
May 16 20:52:22 ubuntu etcd[59819]: INFO: 2024/05/16 20:52:22 scheme "" not registered, fallback to default scheme
May 16 20:52:22 ubuntu etcd[59819]: INFO: 2024/05/16 20:52:22 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
May 16 20:52:22 ubuntu etcd[59819]: INFO: 2024/05/16 20:52:22 ClientConn switching balancer to "pick_first"
May 16 20:52:22 ubuntu etcd[59819]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
May 16 20:56:39 ubuntu etcd[59819]: start time = 2024-05-16 20:56:39.923493953 +0000 UTC m=+258.492910412, time spent = 420.393µs, remote = 10.201.4.32:58368, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 16 20:56:39 ubuntu etcd[59819]: start time = 2024-05-16 20:56:39.923300309 +0000 UTC m=+258.492716769, time spent = 773.529µs, remote = 10.201.4.32:58368, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 16 20:56:46 ubuntu etcd[59819]: start time = 2024-05-16 20:56:46.517961411 +0000 UTC m=+265.087377870, time spent = 195.236µs, remote = 10.201.4.32:58368, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 16 20:56:48 ubuntu etcd[59819]: start time = 2024-05-16 20:56:48.655747978 +0000 UTC m=+267.225164427, time spent = 480.136µs, remote = 10.201.4.32:58368, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
