Mar 19 13:37:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 19 13:37:39 ubuntu etcd[60562]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 19 13:37:39 ubuntu etcd[60562]:         A future release of golang/protobuf will delete this package,
Mar 19 13:37:39 ubuntu etcd[60562]:         which has long been excluded from the compatibility promise.
Mar 19 13:37:39 ubuntu etcd[60562]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 19 13:37:39 ubuntu etcd[60562]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 19 13:37:39 ubuntu etcd[60562]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 19 13:37:39 ubuntu etcd[60562]: Running http and grpc server on single port. This is not recommended for production.
Mar 19 13:37:39 ubuntu etcd[60562]: etcd Version: 3.4.27
Mar 19 13:37:39 ubuntu etcd[60562]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 19 13:37:39 ubuntu etcd[60562]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 19 13:37:39 ubuntu etcd[60562]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 19 13:37:39 ubuntu etcd[60562]: Git SHA: c92fb80f3
Mar 19 13:37:39 ubuntu etcd[60562]: Go Version: go1.19.10
Mar 19 13:37:39 ubuntu etcd[60562]: Go OS/Arch: linux/amd64
Mar 19 13:37:39 ubuntu etcd[60562]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 19 13:37:39 ubuntu etcd[60562]: Running http and grpc server on single port. This is not recommended for production.
Mar 19 13:37:39 ubuntu etcd[60562]: name = ubuntu
Mar 19 13:37:39 ubuntu etcd[60562]: data dir = /opt/stack/data/etcd
Mar 19 13:37:39 ubuntu etcd[60562]: member dir = /opt/stack/data/etcd/member
Mar 19 13:37:39 ubuntu etcd[60562]: heartbeat = 100ms
Mar 19 13:37:39 ubuntu etcd[60562]: election = 1000ms
Mar 19 13:37:39 ubuntu etcd[60562]: snapshot count = 100000
Mar 19 13:37:39 ubuntu etcd[60562]: advertise client URLs = http://10.201.4.32:2379
Mar 19 13:37:39 ubuntu etcd[60562]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 19 13:37:39 ubuntu etcd[60562]: starting member 33238c1cdfea94eb in cluster 875f65a85a58763c
Mar 19 13:37:39 ubuntu etcd[60562]: raft2024/03/19 13:37:39 INFO: 33238c1cdfea94eb switched to configuration voters=()
Mar 19 13:37:39 ubuntu etcd[60562]: raft2024/03/19 13:37:39 INFO: 33238c1cdfea94eb became follower at term 0
Mar 19 13:37:39 ubuntu etcd[60562]: raft2024/03/19 13:37:39 INFO: newRaft 33238c1cdfea94eb [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 19 13:37:39 ubuntu etcd[60562]: raft2024/03/19 13:37:39 INFO: 33238c1cdfea94eb became follower at term 1
Mar 19 13:37:39 ubuntu etcd[60562]: raft2024/03/19 13:37:39 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 19 13:37:39 ubuntu etcd[60562]: simple token is not cryptographically signed
Mar 19 13:37:39 ubuntu etcd[60562]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 19 13:37:39 ubuntu etcd[60562]: 33238c1cdfea94eb as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 19 13:37:39 ubuntu etcd[60562]: raft2024/03/19 13:37:39 INFO: 33238c1cdfea94eb switched to configuration voters=(3684942975762863339)
Mar 19 13:37:39 ubuntu etcd[60562]: added member 33238c1cdfea94eb [http://10.201.4.32:2380] to cluster 875f65a85a58763c
Mar 19 13:37:39 ubuntu etcd[60562]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 19 13:37:39 ubuntu etcd[60562]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 19 13:37:39 ubuntu etcd[60562]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 19 13:37:39 ubuntu etcd[60562]: listening for peers on [::]:2380
Mar 19 13:37:40 ubuntu etcd[60562]: raft2024/03/19 13:37:40 INFO: 33238c1cdfea94eb is starting a new election at term 1
Mar 19 13:37:40 ubuntu etcd[60562]: raft2024/03/19 13:37:40 INFO: 33238c1cdfea94eb became candidate at term 2
Mar 19 13:37:40 ubuntu etcd[60562]: raft2024/03/19 13:37:40 INFO: 33238c1cdfea94eb received MsgVoteResp from 33238c1cdfea94eb at term 2
Mar 19 13:37:40 ubuntu etcd[60562]: raft2024/03/19 13:37:40 INFO: 33238c1cdfea94eb became leader at term 2
Mar 19 13:37:40 ubuntu etcd[60562]: raft2024/03/19 13:37:40 INFO: raft.node: 33238c1cdfea94eb elected leader 33238c1cdfea94eb at term 2
Mar 19 13:37:40 ubuntu etcd[60562]: setting up the initial cluster version to 3.4
Mar 19 13:37:40 ubuntu etcd[60562]: ready to serve client requests
Mar 19 13:37:40 ubuntu etcd[60562]: published {Name:ubuntu ClientURLs:[http://10.201.4.32:2379]} to cluster 875f65a85a58763c
Mar 19 13:37:40 ubuntu etcd[60562]: INFO: 2024/03/19 13:37:40 parsed scheme: ""
Mar 19 13:37:40 ubuntu etcd[60562]: INFO: 2024/03/19 13:37:40 scheme "" not registered, fallback to default scheme
Mar 19 13:37:40 ubuntu etcd[60562]: INFO: 2024/03/19 13:37:40 ccResolverWrapper: sending update to cc: {[{10.201.4.32:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 19 13:37:40 ubuntu etcd[60562]: INFO: 2024/03/19 13:37:40 ClientConn switching balancer to "pick_first"
Mar 19 13:37:40 ubuntu etcd[60562]: set the initial cluster version to 3.4
Mar 19 13:37:40 ubuntu etcd[60562]: enabled capabilities for version 3.4
Mar 19 13:37:40 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 19 13:37:40 ubuntu etcd[60562]: serving insecure client requests on 10.201.4.32:2379, this is strongly discouraged!
Mar 19 13:41:57 ubuntu etcd[60562]: start time = 2024-03-19 13:41:57.04432614 +0000 UTC m=+257.464744064, time spent = 588.581µs, remote = 10.201.4.32:60868, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 19 13:41:57 ubuntu etcd[60562]: start time = 2024-03-19 13:41:57.064650954 +0000 UTC m=+257.485068878, time spent = 220.541µs, remote = 10.201.4.32:60868, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 19 13:42:03 ubuntu etcd[60562]: start time = 2024-03-19 13:42:03.570949624 +0000 UTC m=+263.991367558, time spent = 436.064µs, remote = 10.201.4.32:60868, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 19 13:42:05 ubuntu etcd[60562]: start time = 2024-03-19 13:42:05.878059771 +0000 UTC m=+266.298477705, time spent = 225.248µs, remote = 10.201.4.32:60868, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
